<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_blackCircledComp</key>
    <string>_blackC_ircledC_omp.glif</string>
    <key>one_eight.blackCircled</key>
    <string>one_eight.blackC_ircled.glif</string>
    <key>one_five.blackCircled</key>
    <string>one_five.blackC_ircled.glif</string>
    <key>one_four.blackCircled</key>
    <string>one_four.blackC_ircled.glif</string>
    <key>one_nine.blackCircled</key>
    <string>one_nine.blackC_ircled.glif</string>
    <key>one_one.blackCircled</key>
    <string>one_one.blackC_ircled.glif</string>
    <key>one_seven.blackCircled</key>
    <string>one_seven.blackC_ircled.glif</string>
    <key>one_six.blackCircled</key>
    <string>one_six.blackC_ircled.glif</string>
    <key>one_three.blackCircled</key>
    <string>one_three.blackC_ircled.glif</string>
    <key>one_two.blackCircled</key>
    <string>one_two.blackC_ircled.glif</string>
    <key>two_zero.blackCircled</key>
    <string>two_zero.blackC_ircled.glif</string>
    <key>zero.blackCircled</key>
    <string>zero.blackC_ircled.glif</string>
  </dict>
</plist>
