<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Oct 4 19, 12:51</string>
      <string>glyphs.O_ct 4 19, 12_51</string>
    </array>
    <array>
      <string>Large counter</string>
      <string>glyphs.L_arge counter</string>
    </array>
    <array>
      <string>Version 2</string>
      <string>glyphs.V_ersion 2</string>
    </array>
    <array>
      <string>Smaller counter</string>
      <string>glyphs.S_maller counter</string>
    </array>
    <array>
      <string>Oct 4 19, 11:38</string>
      <string>glyphs.O_ct 4 19, 11_38</string>
    </array>
    <array>
      <string>Oct 4 19, 13:25</string>
      <string>glyphs.O_ct 4 19, 13_25</string>
    </array>
    <array>
      <string>Oct 5 19, 15:54</string>
      <string>glyphs.O_ct 5 19, 15_54</string>
    </array>
    <array>
      <string>Oct 3 19, 16:49</string>
      <string>glyphs.O_ct 3 19, 16_49</string>
    </array>
    <array>
      <string>Oct 3 19, 15:04</string>
      <string>glyphs.O_ct 3 19, 15_04</string>
    </array>
    <array>
      <string>Oct 4 19, 17:16</string>
      <string>glyphs.O_ct 4 19, 17_16</string>
    </array>
    <array>
      <string>Oct 4 19, 17:17</string>
      <string>glyphs.O_ct 4 19, 17_17</string>
    </array>
    <array>
      <string>Oct 5 19, 16:04</string>
      <string>glyphs.O_ct 5 19, 16_04</string>
    </array>
    <array>
      <string>Oct 5 19, 18:28</string>
      <string>glyphs.O_ct 5 19, 18_28</string>
    </array>
    <array>
      <string>Oct 3 19, 17:51</string>
      <string>glyphs.O_ct 3 19, 17_51</string>
    </array>
    <array>
      <string>Oct 3 19, 17:04</string>
      <string>glyphs.O_ct 3 19, 17_04</string>
    </array>
    <array>
      <string>Oct 3 19, 14:40</string>
      <string>glyphs.O_ct 3 19, 14_40</string>
    </array>
  </array>
</plist>
