<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aaknda</key>
    <string>aaknda.glif</string>
    <key>aavowelsignaltknda</key>
    <string>aavowelsignaltknda.glif</string>
    <key>aavowelsignknda</key>
    <string>aavowelsignknda.glif</string>
    <key>aiknda</key>
    <string>aiknda.glif</string>
    <key>ailengthmarkUIknda</key>
    <string>ailengthmarkU_I_knda.glif</string>
    <key>ailengthmarkaltUIknda</key>
    <string>ailengthmarkaltU_I_knda.glif</string>
    <key>ailengthmarkaltknda</key>
    <string>ailengthmarkaltknda.glif</string>
    <key>ailengthmarkknda</key>
    <string>ailengthmarkknda.glif</string>
    <key>aivowelsignUIknda</key>
    <string>aivowelsignU_I_knda.glif</string>
    <key>aivowelsignknda</key>
    <string>aivowelsignknda.glif</string>
    <key>aknda</key>
    <string>aknda.glif</string>
    <key>anusvaraknda</key>
    <string>anusvaraknda.glif</string>
    <key>asciicircum.knda</key>
    <string>asciicircum.knda.glif</string>
    <key>asciitilde.knda</key>
    <string>asciitilde.knda.glif</string>
    <key>asterisk.knda</key>
    <string>asterisk.knda.glif</string>
    <key>auknda</key>
    <string>auknda.glif</string>
    <key>auvowelsignknda</key>
    <string>auvowelsignknda.glif</string>
    <key>avagrahaknda</key>
    <string>avagrahaknda.glif</string>
    <key>backslash.UIknda</key>
    <string>backslash.U_I_knda.glif</string>
    <key>backslash.knda</key>
    <string>backslash.knda.glif</string>
    <key>baknda</key>
    <string>baknda.glif</string>
    <key>banocrestknda</key>
    <string>banocrestknda.glif</string>
    <key>bar.UIknda</key>
    <string>bar.U_I_knda.glif</string>
    <key>bar.knda</key>
    <string>bar.knda.glif</string>
    <key>basubscriptUIknda</key>
    <string>basubscriptU_I_knda.glif</string>
    <key>basubscriptaltUIknda</key>
    <string>basubscriptaltU_I_knda.glif</string>
    <key>basubscriptaltknda</key>
    <string>basubscriptaltknda.glif</string>
    <key>basubscriptknda</key>
    <string>basubscriptknda.glif</string>
    <key>basubscriptrightUIknda</key>
    <string>basubscriptrightU_I_knda.glif</string>
    <key>basubscriptrightknda</key>
    <string>basubscriptrightknda.glif</string>
    <key>baviramaknda</key>
    <string>baviramaknda.glif</string>
    <key>bevowelknda</key>
    <string>bevowelknda.glif</string>
    <key>bhaknda</key>
    <string>bhaknda.glif</string>
    <key>bhanocrestknda</key>
    <string>bhanocrestknda.glif</string>
    <key>bharasubscriptUIknda</key>
    <string>bharasubscriptU_I_knda.glif</string>
    <key>bharasubscriptaltUIknda</key>
    <string>bharasubscriptaltU_I_knda.glif</string>
    <key>bharasubscriptaltknda</key>
    <string>bharasubscriptaltknda.glif</string>
    <key>bharasubscriptknda</key>
    <string>bharasubscriptknda.glif</string>
    <key>bhasubscriptUIknda</key>
    <string>bhasubscriptU_I_knda.glif</string>
    <key>bhasubscriptaltUIknda</key>
    <string>bhasubscriptaltU_I_knda.glif</string>
    <key>bhasubscriptaltknda</key>
    <string>bhasubscriptaltknda.glif</string>
    <key>bhasubscriptknda</key>
    <string>bhasubscriptknda.glif</string>
    <key>bhasubscriptrightUIknda</key>
    <string>bhasubscriptrightU_I_knda.glif</string>
    <key>bhasubscriptrightknda</key>
    <string>bhasubscriptrightknda.glif</string>
    <key>bhaviramaknda</key>
    <string>bhaviramaknda.glif</string>
    <key>bhevowelknda</key>
    <string>bhevowelknda.glif</string>
    <key>bhivowelknda</key>
    <string>bhivowelknda.glif</string>
    <key>bivowelknda</key>
    <string>bivowelknda.glif</string>
    <key>braceleft.UIknda</key>
    <string>braceleft.U_I_knda.glif</string>
    <key>braceleft.knda</key>
    <string>braceleft.knda.glif</string>
    <key>braceright.UIknda</key>
    <string>braceright.U_I_knda.glif</string>
    <key>braceright.knda</key>
    <string>braceright.knda.glif</string>
    <key>bracketleft.UIknda</key>
    <string>bracketleft.U_I_knda.glif</string>
    <key>bracketleft.knda</key>
    <string>bracketleft.knda.glif</string>
    <key>bracketright.UIknda</key>
    <string>bracketright.U_I_knda.glif</string>
    <key>bracketright.knda</key>
    <string>bracketright.knda.glif</string>
    <key>caknda</key>
    <string>caknda.glif</string>
    <key>candrabindu_0951knda</key>
    <string>candrabindu_0951knda.glif</string>
    <key>candrabindu_0952knda</key>
    <string>candrabindu_0952knda.glif</string>
    <key>candrabindu_1CDAknda</key>
    <string>candrabindu_1C_D_A_knda.glif</string>
    <key>candrabinduknda</key>
    <string>candrabinduknda.glif</string>
    <key>canocrestknda</key>
    <string>canocrestknda.glif</string>
    <key>casubscriptUIknda</key>
    <string>casubscriptU_I_knda.glif</string>
    <key>casubscriptaltUIknda</key>
    <string>casubscriptaltU_I_knda.glif</string>
    <key>casubscriptaltknda</key>
    <string>casubscriptaltknda.glif</string>
    <key>casubscriptknda</key>
    <string>casubscriptknda.glif</string>
    <key>casubscriptrightUIknda</key>
    <string>casubscriptrightU_I_knda.glif</string>
    <key>casubscriptrightknda</key>
    <string>casubscriptrightknda.glif</string>
    <key>caviramaknda</key>
    <string>caviramaknda.glif</string>
    <key>cevowelknda</key>
    <string>cevowelknda.glif</string>
    <key>chaknda</key>
    <string>chaknda.glif</string>
    <key>chanocrestknda</key>
    <string>chanocrestknda.glif</string>
    <key>chasubscriptUIknda</key>
    <string>chasubscriptU_I_knda.glif</string>
    <key>chasubscriptaltUIknda</key>
    <string>chasubscriptaltU_I_knda.glif</string>
    <key>chasubscriptaltknda</key>
    <string>chasubscriptaltknda.glif</string>
    <key>chasubscriptknda</key>
    <string>chasubscriptknda.glif</string>
    <key>chasubscriptrightUIknda</key>
    <string>chasubscriptrightU_I_knda.glif</string>
    <key>chasubscriptrightknda</key>
    <string>chasubscriptrightknda.glif</string>
    <key>chaviramaknda</key>
    <string>chaviramaknda.glif</string>
    <key>chevowelknda</key>
    <string>chevowelknda.glif</string>
    <key>chivowelknda</key>
    <string>chivowelknda.glif</string>
    <key>civowelknda</key>
    <string>civowelknda.glif</string>
    <key>colon.knda</key>
    <string>colon.knda.glif</string>
    <key>comma.knda</key>
    <string>comma.knda.glif</string>
    <key>daknda</key>
    <string>daknda.glif</string>
    <key>dandaknda</key>
    <string>dandaknda.glif</string>
    <key>danocrestknda</key>
    <string>danocrestknda.glif</string>
    <key>darasubscriptUIknda</key>
    <string>darasubscriptU_I_knda.glif</string>
    <key>darasubscriptaltUIknda</key>
    <string>darasubscriptaltU_I_knda.glif</string>
    <key>darasubscriptaltknda</key>
    <string>darasubscriptaltknda.glif</string>
    <key>darasubscriptknda</key>
    <string>darasubscriptknda.glif</string>
    <key>dasubscriptUIknda</key>
    <string>dasubscriptU_I_knda.glif</string>
    <key>dasubscriptaltUIknda</key>
    <string>dasubscriptaltU_I_knda.glif</string>
    <key>dasubscriptaltknda</key>
    <string>dasubscriptaltknda.glif</string>
    <key>dasubscriptknda</key>
    <string>dasubscriptknda.glif</string>
    <key>dasubscriptrightUIknda</key>
    <string>dasubscriptrightU_I_knda.glif</string>
    <key>dasubscriptrightknda</key>
    <string>dasubscriptrightknda.glif</string>
    <key>daviramaknda</key>
    <string>daviramaknda.glif</string>
    <key>dbldandaknda</key>
    <string>dbldandaknda.glif</string>
    <key>ddaknda</key>
    <string>ddaknda.glif</string>
    <key>ddanocrestknda</key>
    <string>ddanocrestknda.glif</string>
    <key>ddarasubscriptUIknda</key>
    <string>ddarasubscriptU_I_knda.glif</string>
    <key>ddarasubscriptaltUIknda</key>
    <string>ddarasubscriptaltU_I_knda.glif</string>
    <key>ddarasubscriptaltknda</key>
    <string>ddarasubscriptaltknda.glif</string>
    <key>ddarasubscriptknda</key>
    <string>ddarasubscriptknda.glif</string>
    <key>ddasubscriptUIknda</key>
    <string>ddasubscriptU_I_knda.glif</string>
    <key>ddasubscriptaltUIknda</key>
    <string>ddasubscriptaltU_I_knda.glif</string>
    <key>ddasubscriptaltknda</key>
    <string>ddasubscriptaltknda.glif</string>
    <key>ddasubscriptknda</key>
    <string>ddasubscriptknda.glif</string>
    <key>ddasubscriptrightUIknda</key>
    <string>ddasubscriptrightU_I_knda.glif</string>
    <key>ddasubscriptrightknda</key>
    <string>ddasubscriptrightknda.glif</string>
    <key>ddaviramaknda</key>
    <string>ddaviramaknda.glif</string>
    <key>ddevowelknda</key>
    <string>ddevowelknda.glif</string>
    <key>ddhaknda</key>
    <string>ddhaknda.glif</string>
    <key>ddhanocrestknda</key>
    <string>ddhanocrestknda.glif</string>
    <key>ddhasubscriptUIknda</key>
    <string>ddhasubscriptU_I_knda.glif</string>
    <key>ddhasubscriptaltUIknda</key>
    <string>ddhasubscriptaltU_I_knda.glif</string>
    <key>ddhasubscriptaltknda</key>
    <string>ddhasubscriptaltknda.glif</string>
    <key>ddhasubscriptknda</key>
    <string>ddhasubscriptknda.glif</string>
    <key>ddhasubscriptrightUIknda</key>
    <string>ddhasubscriptrightU_I_knda.glif</string>
    <key>ddhasubscriptrightknda</key>
    <string>ddhasubscriptrightknda.glif</string>
    <key>ddhaviramaknda</key>
    <string>ddhaviramaknda.glif</string>
    <key>ddhevowelknda</key>
    <string>ddhevowelknda.glif</string>
    <key>ddhivowelknda</key>
    <string>ddhivowelknda.glif</string>
    <key>ddivowelknda</key>
    <string>ddivowelknda.glif</string>
    <key>devowelknda</key>
    <string>devowelknda.glif</string>
    <key>dhaknda</key>
    <string>dhaknda.glif</string>
    <key>dhanocrestknda</key>
    <string>dhanocrestknda.glif</string>
    <key>dhasubscriptUIknda</key>
    <string>dhasubscriptU_I_knda.glif</string>
    <key>dhasubscriptaltUIknda</key>
    <string>dhasubscriptaltU_I_knda.glif</string>
    <key>dhasubscriptaltknda</key>
    <string>dhasubscriptaltknda.glif</string>
    <key>dhasubscriptknda</key>
    <string>dhasubscriptknda.glif</string>
    <key>dhasubscriptrightUIknda</key>
    <string>dhasubscriptrightU_I_knda.glif</string>
    <key>dhasubscriptrightknda</key>
    <string>dhasubscriptrightknda.glif</string>
    <key>dhaviramaknda</key>
    <string>dhaviramaknda.glif</string>
    <key>dhevowelknda</key>
    <string>dhevowelknda.glif</string>
    <key>dhivowelknda</key>
    <string>dhivowelknda.glif</string>
    <key>divide.knda</key>
    <string>divide.knda.glif</string>
    <key>divowelknda</key>
    <string>divowelknda.glif</string>
    <key>eeknda</key>
    <string>eeknda.glif</string>
    <key>eevowelsignknda</key>
    <string>eevowelsignknda.glif</string>
    <key>eight.knda</key>
    <string>eight.knda.glif</string>
    <key>eightknda</key>
    <string>eightknda.glif</string>
    <key>eknda</key>
    <string>eknda.glif</string>
    <key>ellipsis.knda</key>
    <string>ellipsis.knda.glif</string>
    <key>emdash.knda</key>
    <string>emdash.knda.glif</string>
    <key>endash.knda</key>
    <string>endash.knda.glif</string>
    <key>equal.knda</key>
    <string>equal.knda.glif</string>
    <key>evowelsignaltknda</key>
    <string>evowelsignaltknda.glif</string>
    <key>evowelsignknda</key>
    <string>evowelsignknda.glif</string>
    <key>exclam.knda</key>
    <string>exclam.knda.glif</string>
    <key>faknda</key>
    <string>faknda.glif</string>
    <key>fasubscriptUIknda</key>
    <string>fasubscriptU_I_knda.glif</string>
    <key>fasubscriptaltUIknda</key>
    <string>fasubscriptaltU_I_knda.glif</string>
    <key>fasubscriptaltknda</key>
    <string>fasubscriptaltknda.glif</string>
    <key>fasubscriptknda</key>
    <string>fasubscriptknda.glif</string>
    <key>fasubscriptrightUIknda</key>
    <string>fasubscriptrightU_I_knda.glif</string>
    <key>fasubscriptrightknda</key>
    <string>fasubscriptrightknda.glif</string>
    <key>faviramaknda</key>
    <string>faviramaknda.glif</string>
    <key>five.knda</key>
    <string>five.knda.glif</string>
    <key>fiveknda</key>
    <string>fiveknda.glif</string>
    <key>four.knda</key>
    <string>four.knda.glif</string>
    <key>fourknda</key>
    <string>fourknda.glif</string>
    <key>gaknda</key>
    <string>gaknda.glif</string>
    <key>ganocrestknda</key>
    <string>ganocrestknda.glif</string>
    <key>garasubscriptUIknda</key>
    <string>garasubscriptU_I_knda.glif</string>
    <key>garasubscriptaltUIknda</key>
    <string>garasubscriptaltU_I_knda.glif</string>
    <key>garasubscriptaltknda</key>
    <string>garasubscriptaltknda.glif</string>
    <key>garasubscriptknda</key>
    <string>garasubscriptknda.glif</string>
    <key>gasubscriptUIknda</key>
    <string>gasubscriptU_I_knda.glif</string>
    <key>gasubscriptaltUIknda</key>
    <string>gasubscriptaltU_I_knda.glif</string>
    <key>gasubscriptaltknda</key>
    <string>gasubscriptaltknda.glif</string>
    <key>gasubscriptknda</key>
    <string>gasubscriptknda.glif</string>
    <key>gasubscriptrightUIknda</key>
    <string>gasubscriptrightU_I_knda.glif</string>
    <key>gasubscriptrightknda</key>
    <string>gasubscriptrightknda.glif</string>
    <key>gaviramaknda</key>
    <string>gaviramaknda.glif</string>
    <key>gevowelknda</key>
    <string>gevowelknda.glif</string>
    <key>ghaknda</key>
    <string>ghaknda.glif</string>
    <key>ghanocrestknda</key>
    <string>ghanocrestknda.glif</string>
    <key>ghasubscriptUIknda</key>
    <string>ghasubscriptU_I_knda.glif</string>
    <key>ghasubscriptaltUIknda</key>
    <string>ghasubscriptaltU_I_knda.glif</string>
    <key>ghasubscriptaltknda</key>
    <string>ghasubscriptaltknda.glif</string>
    <key>ghasubscriptknda</key>
    <string>ghasubscriptknda.glif</string>
    <key>ghasubscriptrightUIknda</key>
    <string>ghasubscriptrightU_I_knda.glif</string>
    <key>ghasubscriptrightknda</key>
    <string>ghasubscriptrightknda.glif</string>
    <key>ghaviramaknda</key>
    <string>ghaviramaknda.glif</string>
    <key>ghevowelknda</key>
    <string>ghevowelknda.glif</string>
    <key>ghivowelknda</key>
    <string>ghivowelknda.glif</string>
    <key>givowelknda</key>
    <string>givowelknda.glif</string>
    <key>greater.knda</key>
    <string>greater.knda.glif</string>
    <key>haknda</key>
    <string>haknda.glif</string>
    <key>hanocrestknda</key>
    <string>hanocrestknda.glif</string>
    <key>hasubscriptUIknda</key>
    <string>hasubscriptU_I_knda.glif</string>
    <key>hasubscriptaltUIknda</key>
    <string>hasubscriptaltU_I_knda.glif</string>
    <key>hasubscriptaltknda</key>
    <string>hasubscriptaltknda.glif</string>
    <key>hasubscriptknda</key>
    <string>hasubscriptknda.glif</string>
    <key>hasubscriptrightUIknda</key>
    <string>hasubscriptrightU_I_knda.glif</string>
    <key>hasubscriptrightknda</key>
    <string>hasubscriptrightknda.glif</string>
    <key>haviramaknda</key>
    <string>haviramaknda.glif</string>
    <key>hevowelknda</key>
    <string>hevowelknda.glif</string>
    <key>hivowelknda</key>
    <string>hivowelknda.glif</string>
    <key>hyphen.knda</key>
    <string>hyphen.knda.glif</string>
    <key>iiknda</key>
    <string>iiknda.glif</string>
    <key>iivowelsignknda</key>
    <string>iivowelsignknda.glif</string>
    <key>iknda</key>
    <string>iknda.glif</string>
    <key>ivowelsignknda</key>
    <string>ivowelsignknda.glif</string>
    <key>jaknda</key>
    <string>jaknda.glif</string>
    <key>janocrestknda</key>
    <string>janocrestknda.glif</string>
    <key>januktaknda</key>
    <string>januktaknda.glif</string>
    <key>januktanocrestknda</key>
    <string>januktanocrestknda.glif</string>
    <key>januktasubscriptUIknda</key>
    <string>januktasubscriptU_I_knda.glif</string>
    <key>januktasubscriptaltUIknda</key>
    <string>januktasubscriptaltU_I_knda.glif</string>
    <key>januktasubscriptaltknda</key>
    <string>januktasubscriptaltknda.glif</string>
    <key>januktasubscriptknda</key>
    <string>januktasubscriptknda.glif</string>
    <key>januktasubscriptrightUIknda</key>
    <string>januktasubscriptrightU_I_knda.glif</string>
    <key>januktasubscriptrightknda</key>
    <string>januktasubscriptrightknda.glif</string>
    <key>januktaviramaknda</key>
    <string>januktaviramaknda.glif</string>
    <key>janyaUIknda</key>
    <string>janyaU_I_knda.glif</string>
    <key>janyaknda</key>
    <string>janyaknda.glif</string>
    <key>janyanocrestUIknda</key>
    <string>janyanocrestU_I_knda.glif</string>
    <key>janyanocrestknda</key>
    <string>janyanocrestknda.glif</string>
    <key>janyaviramaUIknda</key>
    <string>janyaviramaU_I_knda.glif</string>
    <key>janyaviramaknda</key>
    <string>janyaviramaknda.glif</string>
    <key>janyevowelUIknda</key>
    <string>janyevowelU_I_knda.glif</string>
    <key>janyevowelknda</key>
    <string>janyevowelknda.glif</string>
    <key>janyivowelUIknda</key>
    <string>janyivowelU_I_knda.glif</string>
    <key>janyivowelknda</key>
    <string>janyivowelknda.glif</string>
    <key>jasubscriptUIknda</key>
    <string>jasubscriptU_I_knda.glif</string>
    <key>jasubscriptaltUIknda</key>
    <string>jasubscriptaltU_I_knda.glif</string>
    <key>jasubscriptaltknda</key>
    <string>jasubscriptaltknda.glif</string>
    <key>jasubscriptknda</key>
    <string>jasubscriptknda.glif</string>
    <key>jasubscriptrightUIknda</key>
    <string>jasubscriptrightU_I_knda.glif</string>
    <key>jasubscriptrightknda</key>
    <string>jasubscriptrightknda.glif</string>
    <key>javiramaknda</key>
    <string>javiramaknda.glif</string>
    <key>jevowelknda</key>
    <string>jevowelknda.glif</string>
    <key>jevowelnuktaknda</key>
    <string>jevowelnuktaknda.glif</string>
    <key>jhaknda</key>
    <string>jhaknda.glif</string>
    <key>jhanocrestknda</key>
    <string>jhanocrestknda.glif</string>
    <key>jhasubscriptUIknda</key>
    <string>jhasubscriptU_I_knda.glif</string>
    <key>jhasubscriptaltUIknda</key>
    <string>jhasubscriptaltU_I_knda.glif</string>
    <key>jhasubscriptaltknda</key>
    <string>jhasubscriptaltknda.glif</string>
    <key>jhasubscriptknda</key>
    <string>jhasubscriptknda.glif</string>
    <key>jhasubscriptrightUIknda</key>
    <string>jhasubscriptrightU_I_knda.glif</string>
    <key>jhasubscriptrightknda</key>
    <string>jhasubscriptrightknda.glif</string>
    <key>jhaviramaknda</key>
    <string>jhaviramaknda.glif</string>
    <key>jhevowelknda</key>
    <string>jhevowelknda.glif</string>
    <key>jhivowelknda</key>
    <string>jhivowelknda.glif</string>
    <key>jhovowelknda</key>
    <string>jhovowelknda.glif</string>
    <key>jivowelknda</key>
    <string>jivowelknda.glif</string>
    <key>jivowelnuktaknda</key>
    <string>jivowelnuktaknda.glif</string>
    <key>kaknda</key>
    <string>kaknda.glif</string>
    <key>kanocrestknda</key>
    <string>kanocrestknda.glif</string>
    <key>karasubscriptUIknda</key>
    <string>karasubscriptU_I_knda.glif</string>
    <key>karasubscriptaltUIknda</key>
    <string>karasubscriptaltU_I_knda.glif</string>
    <key>karasubscriptaltknda</key>
    <string>karasubscriptaltknda.glif</string>
    <key>karasubscriptknda</key>
    <string>karasubscriptknda.glif</string>
    <key>kassaUIknda</key>
    <string>kassaU_I_knda.glif</string>
    <key>kassaknda</key>
    <string>kassaknda.glif</string>
    <key>kassanocrestUIknda</key>
    <string>kassanocrestU_I_knda.glif</string>
    <key>kassanocrestknda</key>
    <string>kassanocrestknda.glif</string>
    <key>kassaviramaUIknda</key>
    <string>kassaviramaU_I_knda.glif</string>
    <key>kassaviramaknda</key>
    <string>kassaviramaknda.glif</string>
    <key>kassevowelUIknda</key>
    <string>kassevowelU_I_knda.glif</string>
    <key>kassevowelknda</key>
    <string>kassevowelknda.glif</string>
    <key>kassivowelUIknda</key>
    <string>kassivowelU_I_knda.glif</string>
    <key>kassivowelknda</key>
    <string>kassivowelknda.glif</string>
    <key>kasubscriptUIknda</key>
    <string>kasubscriptU_I_knda.glif</string>
    <key>kasubscriptaltUIknda</key>
    <string>kasubscriptaltU_I_knda.glif</string>
    <key>kasubscriptaltknda</key>
    <string>kasubscriptaltknda.glif</string>
    <key>kasubscriptknda</key>
    <string>kasubscriptknda.glif</string>
    <key>kasubscriptrightUIknda</key>
    <string>kasubscriptrightU_I_knda.glif</string>
    <key>kasubscriptrightknda</key>
    <string>kasubscriptrightknda.glif</string>
    <key>kaviramaknda</key>
    <string>kaviramaknda.glif</string>
    <key>kevowelknda</key>
    <string>kevowelknda.glif</string>
    <key>khaknda</key>
    <string>khaknda.glif</string>
    <key>khanocrestknda</key>
    <string>khanocrestknda.glif</string>
    <key>khasubscriptUIknda</key>
    <string>khasubscriptU_I_knda.glif</string>
    <key>khasubscriptaltUIknda</key>
    <string>khasubscriptaltU_I_knda.glif</string>
    <key>khasubscriptaltknda</key>
    <string>khasubscriptaltknda.glif</string>
    <key>khasubscriptknda</key>
    <string>khasubscriptknda.glif</string>
    <key>khasubscriptrightUIknda</key>
    <string>khasubscriptrightU_I_knda.glif</string>
    <key>khasubscriptrightknda</key>
    <string>khasubscriptrightknda.glif</string>
    <key>khaviramaknda</key>
    <string>khaviramaknda.glif</string>
    <key>khevowelknda</key>
    <string>khevowelknda.glif</string>
    <key>khivowelknda</key>
    <string>khivowelknda.glif</string>
    <key>kivowelknda</key>
    <string>kivowelknda.glif</string>
    <key>laknda</key>
    <string>laknda.glif</string>
    <key>lanocrestknda</key>
    <string>lanocrestknda.glif</string>
    <key>lasubscriptUIknda</key>
    <string>lasubscriptU_I_knda.glif</string>
    <key>lasubscriptaltUIknda</key>
    <string>lasubscriptaltU_I_knda.glif</string>
    <key>lasubscriptaltknda</key>
    <string>lasubscriptaltknda.glif</string>
    <key>lasubscriptknda</key>
    <string>lasubscriptknda.glif</string>
    <key>lasubscriptrightUIknda</key>
    <string>lasubscriptrightU_I_knda.glif</string>
    <key>lasubscriptrightknda</key>
    <string>lasubscriptrightknda.glif</string>
    <key>laviramaknda</key>
    <string>laviramaknda.glif</string>
    <key>lengthmarkknda</key>
    <string>lengthmarkknda.glif</string>
    <key>less.knda</key>
    <string>less.knda.glif</string>
    <key>levowelknda</key>
    <string>levowelknda.glif</string>
    <key>livowelknda</key>
    <string>livowelknda.glif</string>
    <key>llaknda</key>
    <string>llaknda.glif</string>
    <key>llanocrestknda</key>
    <string>llanocrestknda.glif</string>
    <key>llasubscriptUIknda</key>
    <string>llasubscriptU_I_knda.glif</string>
    <key>llasubscriptaltUIknda</key>
    <string>llasubscriptaltU_I_knda.glif</string>
    <key>llasubscriptaltknda</key>
    <string>llasubscriptaltknda.glif</string>
    <key>llasubscriptknda</key>
    <string>llasubscriptknda.glif</string>
    <key>llasubscriptrightUIknda</key>
    <string>llasubscriptrightU_I_knda.glif</string>
    <key>llasubscriptrightknda</key>
    <string>llasubscriptrightknda.glif</string>
    <key>llaviramaknda</key>
    <string>llaviramaknda.glif</string>
    <key>llevowelknda</key>
    <string>llevowelknda.glif</string>
    <key>llivowelknda</key>
    <string>llivowelknda.glif</string>
    <key>llvocalicknda</key>
    <string>llvocalicknda.glif</string>
    <key>llvocalicvowelsignUIknda</key>
    <string>llvocalicvowelsignU_I_knda.glif</string>
    <key>llvocalicvowelsignaltUIknda</key>
    <string>llvocalicvowelsignaltU_I_knda.glif</string>
    <key>llvocalicvowelsignaltknda</key>
    <string>llvocalicvowelsignaltknda.glif</string>
    <key>llvocalicvowelsignknda</key>
    <string>llvocalicvowelsignknda.glif</string>
    <key>lvocalicknda</key>
    <string>lvocalicknda.glif</string>
    <key>lvocalicvowelsignUIknda</key>
    <string>lvocalicvowelsignU_I_knda.glif</string>
    <key>lvocalicvowelsignaltUIknda</key>
    <string>lvocalicvowelsignaltU_I_knda.glif</string>
    <key>lvocalicvowelsignaltknda</key>
    <string>lvocalicvowelsignaltknda.glif</string>
    <key>lvocalicvowelsignknda</key>
    <string>lvocalicvowelsignknda.glif</string>
    <key>maknda</key>
    <string>maknda.glif</string>
    <key>manocrestknda</key>
    <string>manocrestknda.glif</string>
    <key>masubscriptUIknda</key>
    <string>masubscriptU_I_knda.glif</string>
    <key>masubscriptaltUIknda</key>
    <string>masubscriptaltU_I_knda.glif</string>
    <key>masubscriptaltknda</key>
    <string>masubscriptaltknda.glif</string>
    <key>masubscriptknda</key>
    <string>masubscriptknda.glif</string>
    <key>masubscriptlengthmarkUIknda</key>
    <string>masubscriptlengthmarkU_I_knda.glif</string>
    <key>masubscriptlengthmarkaltUIknda</key>
    <string>masubscriptlengthmarkaltU_I_knda.glif</string>
    <key>masubscriptlengthmarkaltknda</key>
    <string>masubscriptlengthmarkaltknda.glif</string>
    <key>masubscriptlengthmarkknda</key>
    <string>masubscriptlengthmarkknda.glif</string>
    <key>masubscriptrightUIknda</key>
    <string>masubscriptrightU_I_knda.glif</string>
    <key>masubscriptrightknda</key>
    <string>masubscriptrightknda.glif</string>
    <key>masubscriptrvocalicUIknda</key>
    <string>masubscriptrvocalicU_I_knda.glif</string>
    <key>masubscriptrvocalicaltUIknda</key>
    <string>masubscriptrvocalicaltU_I_knda.glif</string>
    <key>masubscriptrvocalicaltknda</key>
    <string>masubscriptrvocalicaltknda.glif</string>
    <key>masubscriptrvocalicknda</key>
    <string>masubscriptrvocalicknda.glif</string>
    <key>maviramaknda</key>
    <string>maviramaknda.glif</string>
    <key>mayasubscriptUIknda</key>
    <string>mayasubscriptU_I_knda.glif</string>
    <key>mayasubscriptaltUIknda</key>
    <string>mayasubscriptaltU_I_knda.glif</string>
    <key>mayasubscriptaltknda</key>
    <string>mayasubscriptaltknda.glif</string>
    <key>mayasubscriptknda</key>
    <string>mayasubscriptknda.glif</string>
    <key>mevowelknda</key>
    <string>mevowelknda.glif</string>
    <key>minus.knda</key>
    <string>minus.knda.glif</string>
    <key>mivowelknda</key>
    <string>mivowelknda.glif</string>
    <key>movowelknda</key>
    <string>movowelknda.glif</string>
    <key>multiply.knda</key>
    <string>multiply.knda.glif</string>
    <key>naknda</key>
    <string>naknda.glif</string>
    <key>nanocrestknda</key>
    <string>nanocrestknda.glif</string>
    <key>nasubscriptUIknda</key>
    <string>nasubscriptU_I_knda.glif</string>
    <key>nasubscriptaltUIknda</key>
    <string>nasubscriptaltU_I_knda.glif</string>
    <key>nasubscriptaltknda</key>
    <string>nasubscriptaltknda.glif</string>
    <key>nasubscriptknda</key>
    <string>nasubscriptknda.glif</string>
    <key>nasubscriptrightUIknda</key>
    <string>nasubscriptrightU_I_knda.glif</string>
    <key>nasubscriptrightknda</key>
    <string>nasubscriptrightknda.glif</string>
    <key>naviramaknda</key>
    <string>naviramaknda.glif</string>
    <key>nevowelknda</key>
    <string>nevowelknda.glif</string>
    <key>ngaknda</key>
    <string>ngaknda.glif</string>
    <key>ngasubscriptUIknda</key>
    <string>ngasubscriptU_I_knda.glif</string>
    <key>ngasubscriptaltUIknda</key>
    <string>ngasubscriptaltU_I_knda.glif</string>
    <key>ngasubscriptaltknda</key>
    <string>ngasubscriptaltknda.glif</string>
    <key>ngasubscriptknda</key>
    <string>ngasubscriptknda.glif</string>
    <key>ngasubscriptrightUIknda</key>
    <string>ngasubscriptrightU_I_knda.glif</string>
    <key>ngasubscriptrightknda</key>
    <string>ngasubscriptrightknda.glif</string>
    <key>ngaviramaknda</key>
    <string>ngaviramaknda.glif</string>
    <key>nine.knda</key>
    <string>nine.knda.glif</string>
    <key>nineknda</key>
    <string>nineknda.glif</string>
    <key>nivowelknda</key>
    <string>nivowelknda.glif</string>
    <key>nnaknda</key>
    <string>nnaknda.glif</string>
    <key>nnanocrestknda</key>
    <string>nnanocrestknda.glif</string>
    <key>nnasubscriptUIknda</key>
    <string>nnasubscriptU_I_knda.glif</string>
    <key>nnasubscriptaltUIknda</key>
    <string>nnasubscriptaltU_I_knda.glif</string>
    <key>nnasubscriptaltknda</key>
    <string>nnasubscriptaltknda.glif</string>
    <key>nnasubscriptknda</key>
    <string>nnasubscriptknda.glif</string>
    <key>nnasubscriptrightUIknda</key>
    <string>nnasubscriptrightU_I_knda.glif</string>
    <key>nnasubscriptrightknda</key>
    <string>nnasubscriptrightknda.glif</string>
    <key>nnaviramaknda</key>
    <string>nnaviramaknda.glif</string>
    <key>nnevowelknda</key>
    <string>nnevowelknda.glif</string>
    <key>nnivowelknda</key>
    <string>nnivowelknda.glif</string>
    <key>nuktaknda</key>
    <string>nuktaknda.glif</string>
    <key>numbersign.knda</key>
    <string>numbersign.knda.glif</string>
    <key>nyaknda</key>
    <string>nyaknda.glif</string>
    <key>nyasubscriptUIknda</key>
    <string>nyasubscriptU_I_knda.glif</string>
    <key>nyasubscriptaltUIknda</key>
    <string>nyasubscriptaltU_I_knda.glif</string>
    <key>nyasubscriptaltknda</key>
    <string>nyasubscriptaltknda.glif</string>
    <key>nyasubscriptknda</key>
    <string>nyasubscriptknda.glif</string>
    <key>nyasubscriptrightUIknda</key>
    <string>nyasubscriptrightU_I_knda.glif</string>
    <key>nyasubscriptrightknda</key>
    <string>nyasubscriptrightknda.glif</string>
    <key>nyaviramaknda</key>
    <string>nyaviramaknda.glif</string>
    <key>oknda</key>
    <string>oknda.glif</string>
    <key>one.knda</key>
    <string>one.knda.glif</string>
    <key>oneknda</key>
    <string>oneknda.glif</string>
    <key>ooknda</key>
    <string>ooknda.glif</string>
    <key>oovowelsignknda</key>
    <string>oovowelsignknda.glif</string>
    <key>ovowelsignknda</key>
    <string>ovowelsignknda.glif</string>
    <key>paknda</key>
    <string>paknda.glif</string>
    <key>panocrestknda</key>
    <string>panocrestknda.glif</string>
    <key>parasubscriptUIknda</key>
    <string>parasubscriptU_I_knda.glif</string>
    <key>parasubscriptaltUIknda</key>
    <string>parasubscriptaltU_I_knda.glif</string>
    <key>parasubscriptaltknda</key>
    <string>parasubscriptaltknda.glif</string>
    <key>parasubscriptknda</key>
    <string>parasubscriptknda.glif</string>
    <key>parenleft.UIknda</key>
    <string>parenleft.U_I_knda.glif</string>
    <key>parenleft.knda</key>
    <string>parenleft.knda.glif</string>
    <key>parenright.UIknda</key>
    <string>parenright.U_I_knda.glif</string>
    <key>parenright.knda</key>
    <string>parenright.knda.glif</string>
    <key>pasubscriptUIknda</key>
    <string>pasubscriptU_I_knda.glif</string>
    <key>pasubscriptaltUIknda</key>
    <string>pasubscriptaltU_I_knda.glif</string>
    <key>pasubscriptaltknda</key>
    <string>pasubscriptaltknda.glif</string>
    <key>pasubscriptknda</key>
    <string>pasubscriptknda.glif</string>
    <key>pasubscriptrightUIknda</key>
    <string>pasubscriptrightU_I_knda.glif</string>
    <key>pasubscriptrightknda</key>
    <string>pasubscriptrightknda.glif</string>
    <key>paviramaknda</key>
    <string>paviramaknda.glif</string>
    <key>percent.knda</key>
    <string>percent.knda.glif</string>
    <key>period.knda</key>
    <string>period.knda.glif</string>
    <key>pevowelknda</key>
    <string>pevowelknda.glif</string>
    <key>phaknda</key>
    <string>phaknda.glif</string>
    <key>phanocrestknda</key>
    <string>phanocrestknda.glif</string>
    <key>phanuktaknda</key>
    <string>phanuktaknda.glif</string>
    <key>phanuktanocrestknda</key>
    <string>phanuktanocrestknda.glif</string>
    <key>phanuktasubscriptUIknda</key>
    <string>phanuktasubscriptU_I_knda.glif</string>
    <key>phanuktasubscriptaltUIknda</key>
    <string>phanuktasubscriptaltU_I_knda.glif</string>
    <key>phanuktasubscriptaltknda</key>
    <string>phanuktasubscriptaltknda.glif</string>
    <key>phanuktasubscriptknda</key>
    <string>phanuktasubscriptknda.glif</string>
    <key>phanuktasubscriptrightUIknda</key>
    <string>phanuktasubscriptrightU_I_knda.glif</string>
    <key>phanuktasubscriptrightknda</key>
    <string>phanuktasubscriptrightknda.glif</string>
    <key>phanuktaviramaknda</key>
    <string>phanuktaviramaknda.glif</string>
    <key>phasubscriptUIknda</key>
    <string>phasubscriptU_I_knda.glif</string>
    <key>phasubscriptaltUIknda</key>
    <string>phasubscriptaltU_I_knda.glif</string>
    <key>phasubscriptaltknda</key>
    <string>phasubscriptaltknda.glif</string>
    <key>phasubscriptknda</key>
    <string>phasubscriptknda.glif</string>
    <key>phasubscriptrightUIknda</key>
    <string>phasubscriptrightU_I_knda.glif</string>
    <key>phasubscriptrightknda</key>
    <string>phasubscriptrightknda.glif</string>
    <key>phaviramaknda</key>
    <string>phaviramaknda.glif</string>
    <key>phevowelknda</key>
    <string>phevowelknda.glif</string>
    <key>phevowelnuktaknda</key>
    <string>phevowelnuktaknda.glif</string>
    <key>phivowelknda</key>
    <string>phivowelknda.glif</string>
    <key>phivowelnuktaknda</key>
    <string>phivowelnuktaknda.glif</string>
    <key>pivowelknda</key>
    <string>pivowelknda.glif</string>
    <key>plus.knda</key>
    <string>plus.knda.glif</string>
    <key>question.knda</key>
    <string>question.knda.glif</string>
    <key>quotedbl.knda</key>
    <string>quotedbl.knda.glif</string>
    <key>quotedblleft.knda</key>
    <string>quotedblleft.knda.glif</string>
    <key>quotedblright.knda</key>
    <string>quotedblright.knda.glif</string>
    <key>quoteleft.knda</key>
    <string>quoteleft.knda.glif</string>
    <key>quoteright.knda</key>
    <string>quoteright.knda.glif</string>
    <key>quotesingle.knda</key>
    <string>quotesingle.knda.glif</string>
    <key>raknda</key>
    <string>raknda.glif</string>
    <key>ranocrestknda</key>
    <string>ranocrestknda.glif</string>
    <key>rasubscriptUIknda</key>
    <string>rasubscriptU_I_knda.glif</string>
    <key>rasubscriptaltUIknda</key>
    <string>rasubscriptaltU_I_knda.glif</string>
    <key>rasubscriptaltknda</key>
    <string>rasubscriptaltknda.glif</string>
    <key>rasubscriptknda</key>
    <string>rasubscriptknda.glif</string>
    <key>rasubscriptlengthmarkUIknda</key>
    <string>rasubscriptlengthmarkU_I_knda.glif</string>
    <key>rasubscriptlengthmarkaltUIknda</key>
    <string>rasubscriptlengthmarkaltU_I_knda.glif</string>
    <key>rasubscriptlengthmarkaltknda</key>
    <string>rasubscriptlengthmarkaltknda.glif</string>
    <key>rasubscriptlengthmarkknda</key>
    <string>rasubscriptlengthmarkknda.glif</string>
    <key>rasubscriptrightUIknda</key>
    <string>rasubscriptrightU_I_knda.glif</string>
    <key>rasubscriptrightknda</key>
    <string>rasubscriptrightknda.glif</string>
    <key>raviramaknda</key>
    <string>raviramaknda.glif</string>
    <key>rephknda</key>
    <string>rephknda.glif</string>
    <key>revowelknda</key>
    <string>revowelknda.glif</string>
    <key>rivowelknda</key>
    <string>rivowelknda.glif</string>
    <key>rraknda</key>
    <string>rraknda.glif</string>
    <key>rrasubscriptUIknda</key>
    <string>rrasubscriptU_I_knda.glif</string>
    <key>rrasubscriptaltUIknda</key>
    <string>rrasubscriptaltU_I_knda.glif</string>
    <key>rrasubscriptaltknda</key>
    <string>rrasubscriptaltknda.glif</string>
    <key>rrasubscriptknda</key>
    <string>rrasubscriptknda.glif</string>
    <key>rrasubscriptrightUIknda</key>
    <string>rrasubscriptrightU_I_knda.glif</string>
    <key>rrasubscriptrightknda</key>
    <string>rrasubscriptrightknda.glif</string>
    <key>rraviramaknda</key>
    <string>rraviramaknda.glif</string>
    <key>rrvocalicknda</key>
    <string>rrvocalicknda.glif</string>
    <key>rrvocalicvowelsignUIknda</key>
    <string>rrvocalicvowelsignU_I_knda.glif</string>
    <key>rrvocalicvowelsignaltUIknda</key>
    <string>rrvocalicvowelsignaltU_I_knda.glif</string>
    <key>rrvocalicvowelsignaltknda</key>
    <string>rrvocalicvowelsignaltknda.glif</string>
    <key>rrvocalicvowelsignknda</key>
    <string>rrvocalicvowelsignknda.glif</string>
    <key>rvocalicknda</key>
    <string>rvocalicknda.glif</string>
    <key>rvocalicvowelsignUIknda</key>
    <string>rvocalicvowelsignU_I_knda.glif</string>
    <key>rvocalicvowelsignaltUIknda</key>
    <string>rvocalicvowelsignaltU_I_knda.glif</string>
    <key>rvocalicvowelsignaltknda</key>
    <string>rvocalicvowelsignaltknda.glif</string>
    <key>rvocalicvowelsignknda</key>
    <string>rvocalicvowelsignknda.glif</string>
    <key>saknda</key>
    <string>saknda.glif</string>
    <key>sanocrestknda</key>
    <string>sanocrestknda.glif</string>
    <key>sasubscriptUIknda</key>
    <string>sasubscriptU_I_knda.glif</string>
    <key>sasubscriptaltUIknda</key>
    <string>sasubscriptaltU_I_knda.glif</string>
    <key>sasubscriptaltknda</key>
    <string>sasubscriptaltknda.glif</string>
    <key>sasubscriptknda</key>
    <string>sasubscriptknda.glif</string>
    <key>sasubscriptrightUIknda</key>
    <string>sasubscriptrightU_I_knda.glif</string>
    <key>sasubscriptrightknda</key>
    <string>sasubscriptrightknda.glif</string>
    <key>saviramaknda</key>
    <string>saviramaknda.glif</string>
    <key>semicolon.knda</key>
    <string>semicolon.knda.glif</string>
    <key>seven.knda</key>
    <string>seven.knda.glif</string>
    <key>sevenknda</key>
    <string>sevenknda.glif</string>
    <key>sevowelknda</key>
    <string>sevowelknda.glif</string>
    <key>sfthyphen.knda</key>
    <string>sfthyphen.knda.glif</string>
    <key>shaknda</key>
    <string>shaknda.glif</string>
    <key>shanocrestknda</key>
    <string>shanocrestknda.glif</string>
    <key>shasubscriptUIknda</key>
    <string>shasubscriptU_I_knda.glif</string>
    <key>shasubscriptaltUIknda</key>
    <string>shasubscriptaltU_I_knda.glif</string>
    <key>shasubscriptaltknda</key>
    <string>shasubscriptaltknda.glif</string>
    <key>shasubscriptknda</key>
    <string>shasubscriptknda.glif</string>
    <key>shasubscriptrightUIknda</key>
    <string>shasubscriptrightU_I_knda.glif</string>
    <key>shasubscriptrightknda</key>
    <string>shasubscriptrightknda.glif</string>
    <key>shaviramaknda</key>
    <string>shaviramaknda.glif</string>
    <key>shevowelknda</key>
    <string>shevowelknda.glif</string>
    <key>shivowelknda</key>
    <string>shivowelknda.glif</string>
    <key>sivowelknda</key>
    <string>sivowelknda.glif</string>
    <key>six.knda</key>
    <string>six.knda.glif</string>
    <key>sixknda</key>
    <string>sixknda.glif</string>
    <key>slash.UIknda</key>
    <string>slash.U_I_knda.glif</string>
    <key>slash.knda</key>
    <string>slash.knda.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssaknda</key>
    <string>ssaknda.glif</string>
    <key>ssanocrestknda</key>
    <string>ssanocrestknda.glif</string>
    <key>ssasubscriptUIknda</key>
    <string>ssasubscriptU_I_knda.glif</string>
    <key>ssasubscriptaltUIknda</key>
    <string>ssasubscriptaltU_I_knda.glif</string>
    <key>ssasubscriptaltknda</key>
    <string>ssasubscriptaltknda.glif</string>
    <key>ssasubscriptknda</key>
    <string>ssasubscriptknda.glif</string>
    <key>ssasubscriptrightUIknda</key>
    <string>ssasubscriptrightU_I_knda.glif</string>
    <key>ssasubscriptrightknda</key>
    <string>ssasubscriptrightknda.glif</string>
    <key>ssaviramaknda</key>
    <string>ssaviramaknda.glif</string>
    <key>ssevowelknda</key>
    <string>ssevowelknda.glif</string>
    <key>ssivowelknda</key>
    <string>ssivowelknda.glif</string>
    <key>taknda</key>
    <string>taknda.glif</string>
    <key>tanocrestknda</key>
    <string>tanocrestknda.glif</string>
    <key>tarasubscriptUIknda</key>
    <string>tarasubscriptU_I_knda.glif</string>
    <key>tarasubscriptaltUIknda</key>
    <string>tarasubscriptaltU_I_knda.glif</string>
    <key>tarasubscriptaltknda</key>
    <string>tarasubscriptaltknda.glif</string>
    <key>tarasubscriptknda</key>
    <string>tarasubscriptknda.glif</string>
    <key>tasubscriptUIknda</key>
    <string>tasubscriptU_I_knda.glif</string>
    <key>tasubscriptaltUIknda</key>
    <string>tasubscriptaltU_I_knda.glif</string>
    <key>tasubscriptaltknda</key>
    <string>tasubscriptaltknda.glif</string>
    <key>tasubscriptknda</key>
    <string>tasubscriptknda.glif</string>
    <key>tasubscriptlengthmarkUIknda</key>
    <string>tasubscriptlengthmarkU_I_knda.glif</string>
    <key>tasubscriptlengthmarkaltUIknda</key>
    <string>tasubscriptlengthmarkaltU_I_knda.glif</string>
    <key>tasubscriptlengthmarkaltknda</key>
    <string>tasubscriptlengthmarkaltknda.glif</string>
    <key>tasubscriptlengthmarkknda</key>
    <string>tasubscriptlengthmarkknda.glif</string>
    <key>tasubscriptrightUIknda</key>
    <string>tasubscriptrightU_I_knda.glif</string>
    <key>tasubscriptrightknda</key>
    <string>tasubscriptrightknda.glif</string>
    <key>tasubscriptrvocalicUIknda</key>
    <string>tasubscriptrvocalicU_I_knda.glif</string>
    <key>tasubscriptrvocalicaltUIknda</key>
    <string>tasubscriptrvocalicaltU_I_knda.glif</string>
    <key>tasubscriptrvocalicaltknda</key>
    <string>tasubscriptrvocalicaltknda.glif</string>
    <key>tasubscriptrvocalicknda</key>
    <string>tasubscriptrvocalicknda.glif</string>
    <key>taviramaknda</key>
    <string>taviramaknda.glif</string>
    <key>tayasubscriptUIknda</key>
    <string>tayasubscriptU_I_knda.glif</string>
    <key>tayasubscriptaltUIknda</key>
    <string>tayasubscriptaltU_I_knda.glif</string>
    <key>tayasubscriptaltknda</key>
    <string>tayasubscriptaltknda.glif</string>
    <key>tayasubscriptknda</key>
    <string>tayasubscriptknda.glif</string>
    <key>tevowelknda</key>
    <string>tevowelknda.glif</string>
    <key>thaknda</key>
    <string>thaknda.glif</string>
    <key>thanocrestknda</key>
    <string>thanocrestknda.glif</string>
    <key>thasubscriptUIknda</key>
    <string>thasubscriptU_I_knda.glif</string>
    <key>thasubscriptaltUIknda</key>
    <string>thasubscriptaltU_I_knda.glif</string>
    <key>thasubscriptaltknda</key>
    <string>thasubscriptaltknda.glif</string>
    <key>thasubscriptknda</key>
    <string>thasubscriptknda.glif</string>
    <key>thasubscriptrightUIknda</key>
    <string>thasubscriptrightU_I_knda.glif</string>
    <key>thasubscriptrightknda</key>
    <string>thasubscriptrightknda.glif</string>
    <key>thaviramaknda</key>
    <string>thaviramaknda.glif</string>
    <key>thevowelknda</key>
    <string>thevowelknda.glif</string>
    <key>thivowelknda</key>
    <string>thivowelknda.glif</string>
    <key>three.knda</key>
    <string>three.knda.glif</string>
    <key>threeknda</key>
    <string>threeknda.glif</string>
    <key>tivowelknda</key>
    <string>tivowelknda.glif</string>
    <key>ttaknda</key>
    <string>ttaknda.glif</string>
    <key>ttanocrestknda</key>
    <string>ttanocrestknda.glif</string>
    <key>ttarasubscriptUIknda</key>
    <string>ttarasubscriptU_I_knda.glif</string>
    <key>ttarasubscriptaltUIknda</key>
    <string>ttarasubscriptaltU_I_knda.glif</string>
    <key>ttarasubscriptaltknda</key>
    <string>ttarasubscriptaltknda.glif</string>
    <key>ttarasubscriptknda</key>
    <string>ttarasubscriptknda.glif</string>
    <key>ttasubscriptUIknda</key>
    <string>ttasubscriptU_I_knda.glif</string>
    <key>ttasubscriptaltUIknda</key>
    <string>ttasubscriptaltU_I_knda.glif</string>
    <key>ttasubscriptaltknda</key>
    <string>ttasubscriptaltknda.glif</string>
    <key>ttasubscriptknda</key>
    <string>ttasubscriptknda.glif</string>
    <key>ttasubscriptrightUIknda</key>
    <string>ttasubscriptrightU_I_knda.glif</string>
    <key>ttasubscriptrightknda</key>
    <string>ttasubscriptrightknda.glif</string>
    <key>ttaviramaknda</key>
    <string>ttaviramaknda.glif</string>
    <key>ttevowelknda</key>
    <string>ttevowelknda.glif</string>
    <key>tthaknda</key>
    <string>tthaknda.glif</string>
    <key>tthanocrestknda</key>
    <string>tthanocrestknda.glif</string>
    <key>tthasubscriptUIknda</key>
    <string>tthasubscriptU_I_knda.glif</string>
    <key>tthasubscriptaltUIknda</key>
    <string>tthasubscriptaltU_I_knda.glif</string>
    <key>tthasubscriptaltknda</key>
    <string>tthasubscriptaltknda.glif</string>
    <key>tthasubscriptknda</key>
    <string>tthasubscriptknda.glif</string>
    <key>tthasubscriptrightUIknda</key>
    <string>tthasubscriptrightU_I_knda.glif</string>
    <key>tthasubscriptrightknda</key>
    <string>tthasubscriptrightknda.glif</string>
    <key>tthaviramaknda</key>
    <string>tthaviramaknda.glif</string>
    <key>tthevowelknda</key>
    <string>tthevowelknda.glif</string>
    <key>tthivowelknda</key>
    <string>tthivowelknda.glif</string>
    <key>ttivowelknda</key>
    <string>ttivowelknda.glif</string>
    <key>two.knda</key>
    <string>two.knda.glif</string>
    <key>twoknda</key>
    <string>twoknda.glif</string>
    <key>uknda</key>
    <string>uknda.glif</string>
    <key>underscore.knda</key>
    <string>underscore.knda.glif</string>
    <key>uni00A0.knda</key>
    <string>uni00A_0.knda.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni0C80</key>
    <string>uni0C_80.glif</string>
    <key>uni0C84</key>
    <string>uni0C_84.glif</string>
    <key>uni0CF1</key>
    <string>uni0C_F_1.glif</string>
    <key>uni0CF2</key>
    <string>uni0C_F_2.glif</string>
    <key>uni1CD0</key>
    <string>uni1C_D_0.glif</string>
    <key>uni1CD2</key>
    <string>uni1C_D_2.glif</string>
    <key>uni1CDA</key>
    <string>uni1C_D_A_.glif</string>
    <key>uni1CF2</key>
    <string>uni1C_F_2.glif</string>
    <key>uni1CF4</key>
    <string>uni1C_F_4.glif</string>
    <key>uni1CF5</key>
    <string>uni1C_F_5.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni20B9.knda</key>
    <string>uni20B_9.knda.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uuknda</key>
    <string>uuknda.glif</string>
    <key>uuvowelsignalt2knda</key>
    <string>uuvowelsignalt2knda.glif</string>
    <key>uuvowelsignaltknda</key>
    <string>uuvowelsignaltknda.glif</string>
    <key>uuvowelsignknda</key>
    <string>uuvowelsignknda.glif</string>
    <key>uuvowelsignlaknda</key>
    <string>uuvowelsignlaknda.glif</string>
    <key>uvowelsignalt2knda</key>
    <string>uvowelsignalt2knda.glif</string>
    <key>uvowelsignaltknda</key>
    <string>uvowelsignaltknda.glif</string>
    <key>uvowelsignknda</key>
    <string>uvowelsignknda.glif</string>
    <key>uvowelsignlaknda</key>
    <string>uvowelsignlaknda.glif</string>
    <key>vaknda</key>
    <string>vaknda.glif</string>
    <key>vanocrestknda</key>
    <string>vanocrestknda.glif</string>
    <key>vasubscriptUIknda</key>
    <string>vasubscriptU_I_knda.glif</string>
    <key>vasubscriptaltUIknda</key>
    <string>vasubscriptaltU_I_knda.glif</string>
    <key>vasubscriptaltknda</key>
    <string>vasubscriptaltknda.glif</string>
    <key>vasubscriptknda</key>
    <string>vasubscriptknda.glif</string>
    <key>vasubscriptrightUIknda</key>
    <string>vasubscriptrightU_I_knda.glif</string>
    <key>vasubscriptrightknda</key>
    <string>vasubscriptrightknda.glif</string>
    <key>vaviramaknda</key>
    <string>vaviramaknda.glif</string>
    <key>vevowelknda</key>
    <string>vevowelknda.glif</string>
    <key>viramaknda</key>
    <string>viramaknda.glif</string>
    <key>visargaknda</key>
    <string>visargaknda.glif</string>
    <key>vivowelknda</key>
    <string>vivowelknda.glif</string>
    <key>yaknda</key>
    <string>yaknda.glif</string>
    <key>yanocrestknda</key>
    <string>yanocrestknda.glif</string>
    <key>yasubscriptUIknda</key>
    <string>yasubscriptU_I_knda.glif</string>
    <key>yasubscriptaltUIknda</key>
    <string>yasubscriptaltU_I_knda.glif</string>
    <key>yasubscriptaltknda</key>
    <string>yasubscriptaltknda.glif</string>
    <key>yasubscriptknda</key>
    <string>yasubscriptknda.glif</string>
    <key>yasubscriptrightUIknda</key>
    <string>yasubscriptrightU_I_knda.glif</string>
    <key>yasubscriptrightknda</key>
    <string>yasubscriptrightknda.glif</string>
    <key>yaviramaknda</key>
    <string>yaviramaknda.glif</string>
    <key>yevowelknda</key>
    <string>yevowelknda.glif</string>
    <key>yivowelknda</key>
    <string>yivowelknda.glif</string>
    <key>yovowelknda</key>
    <string>yovowelknda.glif</string>
    <key>zero.knda</key>
    <string>zero.knda.glif</string>
    <key>zeroknda</key>
    <string>zeroknda.glif</string>
  </dict>
</plist>
