<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>dot1</string>
      <string>horiz.1</string>
      <string>space</string>
      <string>u1BC00</string>
      <string>u1BC01</string>
      <string>u1BC02</string>
      <string>u1BC03</string>
      <string>u1BC04</string>
      <string>u1BC05</string>
      <string>u1BC06</string>
      <string>u1BC07</string>
      <string>u1BC08</string>
      <string>u1BC09</string>
      <string>u1BC0A</string>
      <string>u1BC0B</string>
      <string>u1BC0C</string>
      <string>u1BC0D</string>
      <string>u1BC0E</string>
      <string>u1BC0F</string>
      <string>u1BC10</string>
      <string>u1BC11</string>
      <string>u1BC12</string>
      <string>u1BC13</string>
      <string>u1BC14</string>
      <string>u1BC15</string>
      <string>u1BC16</string>
      <string>u1BC17</string>
      <string>u1BC18</string>
      <string>u1BC19</string>
      <string>u1BC1A</string>
      <string>u1BC1B</string>
      <string>u1BC1C</string>
      <string>u1BC1D</string>
      <string>u1BC1E</string>
      <string>u1BC1F</string>
      <string>u1BC20</string>
      <string>u1BC21</string>
      <string>u1BC22</string>
      <string>u1BC23</string>
      <string>u1BC24</string>
      <string>u1BC25</string>
      <string>u1BC26</string>
      <string>u1BC27</string>
      <string>u1BC28</string>
      <string>u1BC29</string>
      <string>u1BC2A</string>
      <string>u1BC2B</string>
      <string>u1BC2C</string>
      <string>u1BC2D</string>
      <string>u1BC2E</string>
      <string>u1BC2F</string>
      <string>u1BC30</string>
      <string>u1BC31</string>
      <string>u1BC32</string>
      <string>u1BC33</string>
      <string>u1BC34</string>
      <string>u1BC35</string>
      <string>u1BC36</string>
      <string>u1BC37</string>
      <string>u1BC38</string>
      <string>u1BC39</string>
      <string>u1BC3A</string>
      <string>u1BC3B</string>
      <string>u1BC3C</string>
      <string>u1BC3D</string>
      <string>u1BC3E</string>
      <string>u1BC3F</string>
      <string>u1BC40</string>
      <string>u1BC41</string>
      <string>u1BC42</string>
      <string>u1BC43</string>
      <string>u1BC44</string>
      <string>u1BC45</string>
      <string>u1BC46</string>
      <string>u1BC47</string>
      <string>u1BC48</string>
      <string>u1BC49</string>
      <string>u1BC4A</string>
      <string>u1BC4B</string>
      <string>u1BC4C</string>
      <string>u1BC4D</string>
      <string>u1BC4E</string>
      <string>u1BC4F</string>
      <string>u1BC50</string>
      <string>u1BC51</string>
      <string>u1BC52</string>
      <string>u1BC53</string>
      <string>u1BC54</string>
      <string>u1BC55</string>
      <string>u1BC56</string>
      <string>u1BC57</string>
      <string>u1BC58</string>
      <string>u1BC59</string>
      <string>u1BC5A</string>
      <string>u1BC5B</string>
      <string>u1BC5C</string>
      <string>u1BC5D</string>
      <string>u1BC5E</string>
      <string>u1BC5F</string>
      <string>u1BC60</string>
      <string>u1BC61</string>
      <string>u1BC62</string>
      <string>u1BC63</string>
      <string>u1BC64</string>
      <string>u1BC65</string>
      <string>u1BC66</string>
      <string>u1BC67</string>
      <string>u1BC68</string>
      <string>u1BC69</string>
      <string>u1BC6A</string>
      <string>u1BC70</string>
      <string>u1BC71</string>
      <string>u1BC72</string>
      <string>u1BC73</string>
      <string>u1BC74</string>
      <string>u1BC75</string>
      <string>u1BC76</string>
      <string>u1BC77</string>
      <string>u1BC78</string>
      <string>u1BC79</string>
      <string>u1BC7A</string>
      <string>u1BC7B</string>
      <string>u1BC7C</string>
      <string>u1BC80</string>
      <string>u1BC81</string>
      <string>u1BC82</string>
      <string>u1BC83</string>
      <string>u1BC84</string>
      <string>u1BC85</string>
      <string>u1BC86</string>
      <string>u1BC87</string>
      <string>u1BC88</string>
      <string>u1BC90</string>
      <string>u1BC91</string>
      <string>u1BC92</string>
      <string>u1BC93</string>
      <string>u1BC94</string>
      <string>u1BC95</string>
      <string>u1BC96</string>
      <string>u1BC97</string>
      <string>u1BC98</string>
      <string>u1BC99</string>
      <string>u1BC9C</string>
      <string>u1BC9D</string>
      <string>u1BC9E</string>
      <string>u1BC9F</string>
      <string>u1BCA0</string>
      <string>u1BCA1</string>
      <string>u1BCA2</string>
      <string>u1BCA3</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>vertical</string>
    </array>
  </dict>
</plist>
