<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11150</key>
    <string>u11150.glif</string>
    <key>u11151</key>
    <string>u11151.glif</string>
    <key>u11152</key>
    <string>u11152.glif</string>
    <key>u11153</key>
    <string>u11153.glif</string>
    <key>u11154</key>
    <string>u11154.glif</string>
    <key>u11155</key>
    <string>u11155.glif</string>
    <key>u11156</key>
    <string>u11156.glif</string>
    <key>u11157</key>
    <string>u11157.glif</string>
    <key>u11158</key>
    <string>u11158.glif</string>
    <key>u11159</key>
    <string>u11159.glif</string>
    <key>u1115A</key>
    <string>u1115A_.glif</string>
    <key>u1115B</key>
    <string>u1115B_.glif</string>
    <key>u1115C</key>
    <string>u1115C_.glif</string>
    <key>u1115D</key>
    <string>u1115D_.glif</string>
    <key>u1115E</key>
    <string>u1115E_.glif</string>
    <key>u1115F</key>
    <string>u1115F_.glif</string>
    <key>u11160</key>
    <string>u11160.glif</string>
    <key>u11161</key>
    <string>u11161.glif</string>
    <key>u11162</key>
    <string>u11162.glif</string>
    <key>u11163</key>
    <string>u11163.glif</string>
    <key>u11164</key>
    <string>u11164.glif</string>
    <key>u11165</key>
    <string>u11165.glif</string>
    <key>u11166</key>
    <string>u11166.glif</string>
    <key>u11167</key>
    <string>u11167.glif</string>
    <key>u11168</key>
    <string>u11168.glif</string>
    <key>u11169</key>
    <string>u11169.glif</string>
    <key>u1116A</key>
    <string>u1116A_.glif</string>
    <key>u1116B</key>
    <string>u1116B_.glif</string>
    <key>u1116C</key>
    <string>u1116C_.glif</string>
    <key>u1116D</key>
    <string>u1116D_.glif</string>
    <key>u1116E</key>
    <string>u1116E_.glif</string>
    <key>u1116F</key>
    <string>u1116F_.glif</string>
    <key>u11170</key>
    <string>u11170.glif</string>
    <key>u11171</key>
    <string>u11171.glif</string>
    <key>u11172</key>
    <string>u11172.glif</string>
    <key>u11173</key>
    <string>u11173.glif</string>
    <key>u11174</key>
    <string>u11174.glif</string>
    <key>u11175</key>
    <string>u11175.glif</string>
    <key>u11176</key>
    <string>u11176.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni0966</key>
    <string>uni0966.glif</string>
    <key>uni0967</key>
    <string>uni0967.glif</string>
    <key>uni0968</key>
    <string>uni0968.glif</string>
    <key>uni0969</key>
    <string>uni0969.glif</string>
    <key>uni096A</key>
    <string>uni096A_.glif</string>
    <key>uni096B</key>
    <string>uni096B_.glif</string>
    <key>uni096C</key>
    <string>uni096C_.glif</string>
    <key>uni096D</key>
    <string>uni096D_.glif</string>
    <key>uni096E</key>
    <string>uni096E_.glif</string>
    <key>uni096F</key>
    <string>uni096F_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
  </dict>
</plist>
