<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.aaOe</key>
    <array>
      <string>aaSign_oeSign_cham</string>
    </array>
    <key>public.kern1.aaSign</key>
    <array>
      <string>aaSign_cham</string>
    </array>
    <key>public.kern1.auSign</key>
    <array>
      <string>auSign_cham</string>
      <string>oeSign_auSign_cham</string>
      <string>auSign_mSignFinal_cham</string>
    </array>
    <key>public.kern1.dha</key>
    <array>
      <string>one_cham</string>
      <string>six_cham</string>
      <string>ka_cham</string>
      <string>kha_cham</string>
      <string>ga_cham</string>
      <string>gha_cham</string>
      <string>ngue_cham</string>
      <string>nga_cham</string>
      <string>cha_cham</string>
      <string>chha_cham</string>
      <string>ja_cham</string>
      <string>jha_cham</string>
      <string>nhue_cham</string>
      <string>nha_cham</string>
      <string>nhja_cham</string>
      <string>ta_cham</string>
      <string>tha_cham</string>
      <string>da_cham</string>
      <string>dha_cham</string>
      <string>nue_cham</string>
      <string>na_cham</string>
      <string>dda_cham</string>
      <string>pa_cham</string>
      <string>ppa_cham</string>
      <string>pha_cham</string>
      <string>ba_cham</string>
      <string>bha_cham</string>
      <string>mue_cham</string>
      <string>ma_cham</string>
      <string>bba_cham</string>
      <string>ya_cham</string>
      <string>ra_cham</string>
      <string>la_cham</string>
      <string>va_cham</string>
      <string>ssa_cham</string>
      <string>sa_cham</string>
      <string>ha_cham</string>
      <string>ngFinal_cham</string>
      <string>hSignFinal_cham</string>
      <string>a_cham</string>
      <string>yaMedial_cham</string>
      <string>dha_withcrossstroke</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e_cham</string>
    </array>
    <key>public.kern1.eiSign</key>
    <array>
      <string>eiSign_cham</string>
    </array>
    <key>public.kern1.gFinal</key>
    <array>
      <string>three_cham</string>
      <string>kFinal_cham</string>
      <string>gFinal_cham</string>
      <string>chFinal_cham</string>
      <string>tFinal_cham</string>
      <string>nFinal_cham</string>
      <string>pFinal_cham</string>
      <string>yFinal_cham</string>
      <string>rFinal_cham</string>
      <string>lFinal_cham</string>
      <string>ssFinal_cham</string>
      <string>i_cham</string>
      <string>ai_cham</string>
    </array>
    <key>public.kern1.hyphen.left</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.hyphen.left.cham</key>
    <array>
      <string>hyphen.cham</string>
    </array>
    <key>public.kern1.iM</key>
    <array>
      <string>iSign_mSignFinal_cham</string>
    </array>
    <key>public.kern1.iSign</key>
    <array>
      <string>iSign_cham</string>
      <string>iiSign_cham</string>
    </array>
    <key>public.kern1.ma.calt</key>
    <array>
      <string>ma_cham.calt</string>
    </array>
    <key>public.kern1.ngSign</key>
    <array>
      <string>ngSignFinal_cham</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>five_cham</string>
      <string>o_cham</string>
    </array>
    <key>public.kern1.oSign</key>
    <array>
      <string>oSign_cham</string>
      <string>aiSign_cham</string>
    </array>
    <key>public.kern1.oeSign</key>
    <array>
      <string>oeSign_cham</string>
      <string>oeSign_ngSignFinal_cham</string>
      <string>oeSign_mSignFinal_cham</string>
    </array>
    <key>public.kern1.paren.left</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.period.left.cham</key>
    <array>
      <string>comma.cham</string>
      <string>period.cham</string>
    </array>
    <key>public.kern1.quote.left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.va.calt</key>
    <array>
      <string>na_cham.calt</string>
      <string>bba_cham.calt</string>
      <string>va_cham.calt</string>
    </array>
    <key>public.kern2.Paren.right</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.cha</key>
    <array>
      <string>eight_cham</string>
      <string>cha_cham</string>
      <string>chha_cham</string>
      <string>nue_cham</string>
      <string>na_cham</string>
      <string>dda_cham</string>
      <string>chFinal_cham</string>
      <string>nFinal_cham</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.danda</key>
    <array>
      <string>danda_cham</string>
      <string>doubleDanda_cham</string>
      <string>tripleDanda_cham</string>
    </array>
    <key>public.kern2.dha</key>
    <array>
      <string>one_cham</string>
      <string>nine_cham</string>
      <string>gha_cham</string>
      <string>ngue_cham</string>
      <string>nga_cham</string>
      <string>ja_cham</string>
      <string>tha_cham</string>
      <string>da_cham</string>
      <string>dha_cham</string>
      <string>ppa_cham</string>
      <string>ba_cham</string>
      <string>bha_cham</string>
      <string>mue_cham</string>
      <string>ma_cham</string>
      <string>bba_cham</string>
      <string>ya_cham</string>
      <string>ssa_cham</string>
      <string>ngFinal_cham</string>
      <string>yFinal_cham</string>
      <string>ssFinal_cham</string>
      <string>hSignFinal_cham</string>
      <string>e_cham</string>
      <string>dha_withcrossstroke</string>
    </array>
    <key>public.kern2.gFinal</key>
    <array>
      <string>three_cham</string>
      <string>four_cham</string>
      <string>ga_cham</string>
      <string>nhue_cham</string>
      <string>nha_cham</string>
      <string>nhja_cham</string>
      <string>ta_cham</string>
      <string>la_cham</string>
      <string>gFinal_cham</string>
      <string>tFinal_cham</string>
      <string>lFinal_cham</string>
      <string>i_cham</string>
      <string>ai_cham</string>
    </array>
    <key>public.kern2.ha</key>
    <array>
      <string>six_cham</string>
      <string>seven_cham</string>
      <string>jha_cham</string>
      <string>pa_cham</string>
      <string>pha_cham</string>
      <string>ra_cham</string>
      <string>sa_cham</string>
      <string>ha_cham</string>
      <string>pFinal_cham</string>
      <string>rFinal_cham</string>
    </array>
    <key>public.kern2.hyphen.right</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.hyphen.right.cham</key>
    <array>
      <string>hyphen.cham</string>
    </array>
    <key>public.kern2.ka</key>
    <array>
      <string>ka_cham</string>
      <string>kha_cham</string>
      <string>kFinal_cham</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>five_cham</string>
      <string>a_cham</string>
      <string>o_cham</string>
    </array>
    <key>public.kern2.oSign</key>
    <array>
      <string>oSign_cham</string>
      <string>aiSign_cham</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.period.right.cham</key>
    <array>
      <string>comma.cham</string>
      <string>period.cham</string>
    </array>
    <key>public.kern2.quote.right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.raMedial</key>
    <array>
      <string>raMedial_cham</string>
      <string>raMedial_cham_pre</string>
      <string>raMedial_cham_pre.low</string>
      <string>raMedial_cham_pre.low.alt</string>
    </array>
  </dict>
</plist>
