<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ba_ra-oriya</key>
    <string>ba_ra-oriya.glif</string>
    <key>bha_ra-oriya</key>
    <string>bha_ra-oriya.glif</string>
    <key>bha_ra-oriya.REV_BRACKET.141</key>
    <string>bha_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ca_ra-oriya</key>
    <string>ca_ra-oriya.glif</string>
    <key>cha_ra-oriya</key>
    <string>cha_ra-oriya.glif</string>
    <key>cha_ra-oriya.REV_BRACKET.141</key>
    <string>cha_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>da_dha_va-oriya</key>
    <string>da_dha_va-oriya.glif</string>
    <key>da_ra-oriya</key>
    <string>da_ra-oriya.glif</string>
    <key>da_va-oriya</key>
    <string>da_va-oriya.glif</string>
    <key>dbldanda</key>
    <string>dbldanda.glif</string>
    <key>dda_ra-oriya</key>
    <string>dda_ra-oriya.glif</string>
    <key>dda_ra-oriya.REV_BRACKET.141</key>
    <string>dda_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>dha_ra-oriya</key>
    <string>dha_ra-oriya.glif</string>
    <key>dha_va-oriya</key>
    <string>dha_va-oriya.glif</string>
    <key>ga_ra-oriya</key>
    <string>ga_ra-oriya.glif</string>
    <key>gha_ra-oriya</key>
    <string>gha_ra-oriya.glif</string>
    <key>ha_ra-oriya</key>
    <string>ha_ra-oriya.glif</string>
    <key>ja_ra-oriya</key>
    <string>ja_ra-oriya.glif</string>
    <key>ja_ra-oriya.REV_BRACKET.141</key>
    <string>ja_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ja_va-oriya</key>
    <string>ja_va-oriya.glif</string>
    <key>jha_ra-oriya</key>
    <string>jha_ra-oriya.glif</string>
    <key>ka_ra-oriya</key>
    <string>ka_ra-oriya.glif</string>
    <key>ka_ra-oriya.REV_BRACKET.141</key>
    <string>ka_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ka_ssa_ra-oriya</key>
    <string>ka_ssa_ra-oriya.glif</string>
    <key>ka_va-oriya</key>
    <string>ka_va-oriya.glif</string>
    <key>kha_ra-oriya</key>
    <string>kha_ra-oriya.glif</string>
    <key>la_ra-oriya</key>
    <string>la_ra-oriya.glif</string>
    <key>lla_ra-oriya</key>
    <string>lla_ra-oriya.glif</string>
    <key>ma_ba-oriya</key>
    <string>ma_ba-oriya.glif</string>
    <key>ma_pa_ra-oriya</key>
    <string>ma_pa_ra-oriya.glif</string>
    <key>ma_ra-oriya</key>
    <string>ma_ra-oriya.glif</string>
    <key>na_da_ra-oriya</key>
    <string>na_da_ra-oriya.glif</string>
    <key>na_da_va-oriya</key>
    <string>na_da_va-oriya.glif</string>
    <key>na_dha_ra-oriya</key>
    <string>na_dha_ra-oriya.glif</string>
    <key>na_dha_va-oriya</key>
    <string>na_dha_va-oriya.glif</string>
    <key>na_ra-oriya</key>
    <string>na_ra-oriya.glif</string>
    <key>nga_ra-oriya</key>
    <string>nga_ra-oriya.glif</string>
    <key>nga_ra-oriya.REV_BRACKET.141</key>
    <string>nga_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>nna_ra-oriya</key>
    <string>nna_ra-oriya.glif</string>
    <key>nya_ra-oriya</key>
    <string>nya_ra-oriya.glif</string>
    <key>pa_ra-oriya</key>
    <string>pa_ra-oriya.glif</string>
    <key>pha_ra-oriya</key>
    <string>pha_ra-oriya.glif</string>
    <key>rha_ra-oriya</key>
    <string>rha_ra-oriya.glif</string>
    <key>rra_ra-oriya</key>
    <string>rra_ra-oriya.glif</string>
    <key>sa_ra-oriya</key>
    <string>sa_ra-oriya.glif</string>
    <key>sa_va-oriya</key>
    <string>sa_va-oriya.glif</string>
    <key>sha_ra-oriya</key>
    <string>sha_ra-oriya.glif</string>
    <key>sha_va-oriya</key>
    <string>sha_va-oriya.glif</string>
    <key>ssa_ra-oriya</key>
    <string>ssa_ra-oriya.glif</string>
    <key>ta_ka_ra-oriya</key>
    <string>ta_ka_ra-oriya.glif</string>
    <key>ta_pa_ra-oriya</key>
    <string>ta_pa_ra-oriya.glif</string>
    <key>ta_ra-oriya</key>
    <string>ta_ra-oriya.glif</string>
    <key>ta_ta_ra-oriya</key>
    <string>ta_ta_ra-oriya.glif</string>
    <key>ta_ta_va-oriya</key>
    <string>ta_ta_va-oriya.glif</string>
    <key>ta_va-oriya</key>
    <string>ta_va-oriya.glif</string>
    <key>tha_ra-oriya</key>
    <string>tha_ra-oriya.glif</string>
    <key>tta_ra-oriya</key>
    <string>tta_ra-oriya.glif</string>
    <key>ttha_ra-oriya</key>
    <string>ttha_ra-oriya.glif</string>
    <key>va_ra-oriya</key>
    <string>va_ra-oriya.glif</string>
    <key>va_ra-oriya.REV_BRACKET.141</key>
    <string>va_ra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>wa_ra-oriya</key>
    <string>wa_ra-oriya.glif</string>
    <key>ya_ra-oriya</key>
    <string>ya_ra-oriya.glif</string>
    <key>yya_ra-oriya</key>
    <string>yya_ra-oriya.glif</string>
  </dict>
</plist>
