<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1130</integer>
    <key>capHeight</key>
    <integer>625</integer>
    <key>copyright</key>
    <string>Copyright 2019 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-364</integer>
    <key>familyName</key>
    <string>Noto Serif Dogra</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/11/22 12:14:44</string>
    <key>openTypeNameDescription</key>
    <string>Designed by Ek Type</string>
    <key>openTypeNameDesigner</key>
    <string>Ek Type</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.ektype.in</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Ek Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.002</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>554</integer>
      <integer>569</integer>
      <integer>625</integer>
      <integer>640</integer>
      <integer>1130</integer>
      <integer>1145</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-379</integer>
      <integer>-364</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>67</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>78</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Noto Serif Dogra</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google LLC</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>554</integer>
  </dict>
</plist>
