<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Nga.dogra</key>
    <dict>
      <key>matraAa.alt.dogra</key>
      <integer>0</integer>
    </dict>
    <key>Nga.old1.dogra</key>
    <dict>
      <key>matraAa.dogra</key>
      <integer>30</integer>
    </dict>
    <key>Nine.dogra</key>
    <dict>
      <key>Zero.dogra</key>
      <integer>-40</integer>
    </dict>
    <key>One.dogra</key>
    <dict>
      <key>Five.dogra</key>
      <integer>-30</integer>
      <key>Seven.dogra</key>
      <integer>-20</integer>
      <key>Zero.dogra</key>
      <integer>-20</integer>
    </dict>
    <key>Seven.dogra</key>
    <dict>
      <key>Six.dogra</key>
      <integer>20</integer>
    </dict>
    <key>Six.dogra</key>
    <dict>
      <key>Seven.dogra</key>
      <integer>-20</integer>
      <key>Three.dogra</key>
      <integer>40</integer>
      <key>Zero.dogra</key>
      <integer>-20</integer>
    </dict>
    <key>Two.dogra</key>
    <dict>
      <key>Zero.dogra</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
