<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.Eight.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>95</integer>
        </dict>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>493</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.Seven.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>95</integer>
        </dict>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>493</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.Tha.old2.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>105</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.Ya.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>105</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.Zero.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>95</integer>
        </dict>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>493</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.matraAi.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>1079</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.matraAiAnusvara.dogra</key>
    <dict>
      <key>com.typemytype.robofont.guides</key>
      <array>
        <dict>
          <key>isGlobal</key>
          <integer>0</integer>
          <key>magnetic</key>
          <integer>5</integer>
          <key>x</key>
          <integer>0</integer>
          <key>y</key>
          <integer>1079</integer>
        </dict>
      </array>
    </dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/uni25CC</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AbbreviationSign.dogra</string>
      <string>Anusvara.alt.dogra</string>
      <string>Anusvara.dogra</string>
      <string>Avagraha.dogra</string>
      <string>Ba.dogra</string>
      <string>Ba.old.dogra</string>
      <string>Bha.dogra</string>
      <string>CR</string>
      <string>Ca.dogra</string>
      <string>Cha.dogra</string>
      <string>Da.dogra</string>
      <string>Danda.dv</string>
      <string>Dda.dogra</string>
      <string>Ddha.dogra</string>
      <string>Dha.alt.dogra</string>
      <string>Dha.dogra</string>
      <string>Dha.old.dogra</string>
      <string>Doubledanda.dv</string>
      <string>Eight.dogra</string>
      <string>Five.dogra</string>
      <string>Four.dogra</string>
      <string>Ga.dogra</string>
      <string>Ga.old.dogra</string>
      <string>Gha.dogra</string>
      <string>Gha.old.dogra</string>
      <string>Ha.dogra</string>
      <string>Ja.dogra</string>
      <string>JaNya.dogra</string>
      <string>Jha.dogra</string>
      <string>Jha.old.dogra</string>
      <string>Ka.dogra</string>
      <string>KaSsa.dogra</string>
      <string>Kha.dogra</string>
      <string>La.dogra</string>
      <string>Ma.dogra</string>
      <string>NULL</string>
      <string>Na.dogra</string>
      <string>Nga.dogra</string>
      <string>Nga.old1.dogra</string>
      <string>Nga.old2.dogra</string>
      <string>Nine.dogra</string>
      <string>Nna.dogra</string>
      <string>Nna.old.dogra</string>
      <string>NnaMatraAa.dogra</string>
      <string>Nukta.dogra</string>
      <string>NuktamatraU.dogra</string>
      <string>NuktamatraU.old.dogra</string>
      <string>NuktamatraUu.dogra</string>
      <string>NuktamatraUu.old.dogra</string>
      <string>Nya.dogra</string>
      <string>Nya.old.dogra</string>
      <string>One.dogra</string>
      <string>Pa.dogra</string>
      <string>Pha.dogra</string>
      <string>Ra.dogra</string>
      <string>Ra.old.dogra</string>
      <string>Rra.alt.dogra</string>
      <string>Rra.dogra</string>
      <string>Sa.dogra</string>
      <string>SaTta.dogra</string>
      <string>Seven.dogra</string>
      <string>Sha.dogra</string>
      <string>Sha.old.dogra</string>
      <string>ShaRa.dogra</string>
      <string>Six.dogra</string>
      <string>Ssa.dogra</string>
      <string>Ta.dogra</string>
      <string>TaRa.dogra</string>
      <string>Tha.dogra</string>
      <string>Tha.old1.dogra</string>
      <string>Tha.old2.dogra</string>
      <string>Three.dogra</string>
      <string>Tta.dogra</string>
      <string>Ttha.alt.dogra</string>
      <string>Ttha.dogra</string>
      <string>Two.dogra</string>
      <string>Va.dogra</string>
      <string>VaMatraR.dogra</string>
      <string>Virama.dogra</string>
      <string>Visarga.dogra</string>
      <string>Ya.dogra</string>
      <string>Zero.dogra</string>
      <string>matraAa.alt.dogra</string>
      <string>matraAa.dogra</string>
      <string>matraAi.dogra</string>
      <string>matraAiAnusvara.dogra</string>
      <string>matraAu.dogra</string>
      <string>matraAu.old.dogra</string>
      <string>matraAuAnusvara.dogra</string>
      <string>matraAuAnusvara.old.dogra</string>
      <string>matraE.dogra</string>
      <string>matraEAnusvara.dogra</string>
      <string>matraI.alt.dogra</string>
      <string>matraI.dogra</string>
      <string>matraI.old.dogra</string>
      <string>matraIi.alt.dogra</string>
      <string>matraIi.dogra</string>
      <string>matraIi.old.dogra</string>
      <string>matraIiAnusvara.alt.dogra</string>
      <string>matraIiAnusvara.dogra</string>
      <string>matraIiAnusvara.old.dogra</string>
      <string>matraO.dogra</string>
      <string>matraO.old.dogra</string>
      <string>matraOAnusvara.dogra</string>
      <string>matraOAnusvara.old.dogra</string>
      <string>matraR.alt.dogra</string>
      <string>matraR.dogra</string>
      <string>matraRr.alt.dogra</string>
      <string>matraRr.dogra</string>
      <string>matraU.dogra</string>
      <string>matraU.old.dogra</string>
      <string>matraUu.dogra</string>
      <string>matraUu.old.dogra</string>
      <string>space</string>
      <string>uni25CC</string>
      <string>vowelA.dogra</string>
      <string>vowelAa.dogra</string>
      <string>vowelAa.old.dogra</string>
      <string>vowelAi.dogra</string>
      <string>vowelAi.old1.dogra</string>
      <string>vowelAi.old2.dogra</string>
      <string>vowelAu.dogra</string>
      <string>vowelAuAnusvara.dogra</string>
      <string>vowelE.dogra</string>
      <string>vowelI.dogra</string>
      <string>vowelI.old1.dogra</string>
      <string>vowelI.old2.dogra</string>
      <string>vowelIi.dogra</string>
      <string>vowelL.dogra</string>
      <string>vowelLl.dogra</string>
      <string>vowelO.dogra</string>
      <string>vowelO.old.dogra</string>
      <string>vowelOAnusvara.dogra</string>
      <string>vowelR.dogra</string>
      <string>vowelRr.dogra</string>
      <string>vowelU.dogra</string>
      <string>vowelU.old.dogra</string>
      <string>vowelUu.alt.dogra</string>
      <string>vowelUu.dogra</string>
      <string>zerowidthjoiner</string>
      <string>zerowidthnonjoiner</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>zerowidthjoiner</key>
      <string>uni200D</string>
      <key>zerowidthnonjoiner</key>
      <string>uni200C</string>
    </dict>
  </dict>
</plist>
