<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bottomLeftCrop</key>
    <string>bottomL_eftC_rop.glif</string>
    <key>bottomRightCrop</key>
    <string>bottomR_ightC_rop.glif</string>
    <key>topLeftCrop</key>
    <string>topL_eftC_rop.glif</string>
    <key>topRightCrop</key>
    <string>topR_ightC_rop.glif</string>
  </dict>
</plist>
