<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.instroke</key>
    <string>_part.instroke.glif</string>
    <key>alefMaksura_noon-ar.fina</key>
    <string>alefM_aksura_noon-ar.fina.glif</string>
    <key>aleflow-ar</key>
    <string>aleflow-ar.glif</string>
    <key>beh_alefMaksura-ar</key>
    <string>beh_alefM_aksura-ar.glif</string>
    <key>beh_alefMaksura-ar.fina</key>
    <string>beh_alefM_aksura-ar.fina.glif</string>
    <key>beh_yehHamzaabove-ar.fina</key>
    <string>beh_yehH_amzaabove-ar.fina.glif</string>
    <key>dad_alefMaksura-ar</key>
    <string>dad_alefM_aksura-ar.glif</string>
    <key>dad_reh-ar</key>
    <string>dad_reh-ar.glif</string>
    <key>feh_alefMaksura-ar.liga</key>
    <string>feh_alefM_aksura-ar.liga.glif</string>
    <key>feh_yehHamzaabove-ar.liga</key>
    <string>feh_yehH_amzaabove-ar.liga.glif</string>
    <key>highwaw-ar</key>
    <string>highwaw-ar.glif</string>
    <key>kasratan-ar</key>
    <string>kasratan-ar.glif</string>
    <key>lamThreedotsabove_alef-ar</key>
    <string>lamT_hreedotsabove_alef-ar.glif</string>
    <key>lamVabove_alefHamzaabove-ar.fina</key>
    <string>lamV_above_alefH_amzaabove-ar.fina.glif</string>
    <key>lam_alefMadda-ar</key>
    <string>lam_alefM_adda-ar.glif</string>
    <key>meemStopabove-ar</key>
    <string>meemS_topabove-ar.glif</string>
    <key>noon_alefMaksura-ar</key>
    <string>noon_alefM_aksura-ar.glif</string>
    <key>noon_alefMaksura-ar.fina</key>
    <string>noon_alefM_aksura-ar.fina.glif</string>
    <key>noon_reh-ar.fina</key>
    <string>noon_reh-ar.fina.glif</string>
    <key>noon_yeh-ar</key>
    <string>noon_yeh-ar.glif</string>
    <key>noonabove-ar</key>
    <string>noonabove-ar.glif</string>
    <key>peh_alefMaksura-ar</key>
    <string>peh_alefM_aksura-ar.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>sheen_alefMaksura-ar</key>
    <string>sheen_alefM_aksura-ar.glif</string>
    <key>sheen_reh-ar</key>
    <string>sheen_reh-ar.glif</string>
    <key>teh_alefMaksura-ar</key>
    <string>teh_alefM_aksura-ar.glif</string>
    <key>teh_alefMaksura-ar.fina</key>
    <string>teh_alefM_aksura-ar.fina.glif</string>
    <key>teh_yeh-ar.fina</key>
    <string>teh_yeh-ar.fina.glif</string>
    <key>teh_zain-ar.fina</key>
    <string>teh_zain-ar.fina.glif</string>
    <key>theh_alefMaksura-ar</key>
    <string>theh_alefM_aksura-ar.glif</string>
    <key>theh_reh-ar.fina</key>
    <string>theh_reh-ar.fina.glif</string>
    <key>yehHamzaabove_alefMaksura-ar.fina</key>
    <string>yehH_amzaabove_alefM_aksura-ar.fina.glif</string>
    <key>yehTail-ar.fina</key>
    <string>yehT_ail-ar.fina.glif</string>
    <key>yehThreedotsabove-farsi</key>
    <string>yehT_hreedotsabove-farsi.glif</string>
    <key>yehThreedotsabove-farsi.fina</key>
    <string>yehT_hreedotsabove-farsi.fina.glif</string>
    <key>yehThreedotsabove-farsi.isol</key>
    <string>yehT_hreedotsabove-farsi.isol.glif</string>
    <key>yehTwodotsabove-farsi</key>
    <string>yehT_wodotsabove-farsi.glif</string>
    <key>yehTwodotsabove-farsi.fina</key>
    <string>yehT_wodotsabove-farsi.fina.glif</string>
    <key>yehTwodotsbelowNoonabove-ar</key>
    <string>yehT_wodotsbelowN_oonabove-ar.glif</string>
    <key>yeh_noon-ar.fina</key>
    <string>yeh_noon-ar.fina.glif</string>
    <key>yeh_reh-ar.fina</key>
    <string>yeh_reh-ar.fina.glif</string>
    <key>yeh_zain-ar.fina</key>
    <string>yeh_zain-ar.fina.glif</string>
  </dict>
</plist>
