<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Alef</key>
    <string>A_lef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>EightArabic</key>
    <string>E_ightA_rabic.glif</string>
    <key>EightUrdu</key>
    <string>E_ightU_rdu.glif</string>
    <key>FiveArabic</key>
    <string>F_iveA_rabic.glif</string>
    <key>FiveUrdu</key>
    <string>F_iveU_rdu.glif</string>
    <key>FourArabic</key>
    <string>F_ourA_rabic.glif</string>
    <key>FourUrdu</key>
    <string>F_ourU_rdu.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NineArabic</key>
    <string>N_ineA_rabic.glif</string>
    <key>NineUrdu</key>
    <string>N_ineU_rdu.glif</string>
    <key>OneArabic</key>
    <string>O_neA_rabic.glif</string>
    <key>OneUrdu</key>
    <string>O_neU_rdu.glif</string>
    <key>SevenArabic</key>
    <string>S_evenA_rabic.glif</string>
    <key>SevenUrdu</key>
    <string>S_evenU_rdu.glif</string>
    <key>SixArabic</key>
    <string>S_ixA_rabic.glif</string>
    <key>SixUrdu</key>
    <string>S_ixU_rdu.glif</string>
    <key>ThreeArabic</key>
    <string>T_hreeA_rabic.glif</string>
    <key>ThreeUrdu</key>
    <string>T_hreeU_rdu.glif</string>
    <key>TwoArabic</key>
    <string>T_woA_rabic.glif</string>
    <key>TwoUrdu</key>
    <string>T_woU_rdu.glif</string>
    <key>ZeroArabic</key>
    <string>Z_eroA_rabic.glif</string>
    <key>ZeroUrdu</key>
    <string>Z_eroU_rdu.glif</string>
    <key>eight_hundred_siyaq</key>
    <string>eight_hundred_siyaq.glif</string>
    <key>eight_siyaq</key>
    <string>eight_siyaq.glif</string>
    <key>eight_thousand_siyaq</key>
    <string>eight_thousand_siyaq.glif</string>
    <key>eighty_siyaq</key>
    <string>eighty_siyaq.glif</string>
    <key>eighty_thousand_siyaq</key>
    <string>eighty_thousand_siyaq.glif</string>
    <key>fifty_siyaq</key>
    <string>fifty_siyaq.glif</string>
    <key>fifty_thousand_siyaq</key>
    <string>fifty_thousand_siyaq.glif</string>
    <key>five_hundred_siyaq</key>
    <string>five_hundred_siyaq.glif</string>
    <key>five_siyaq</key>
    <string>five_siyaq.glif</string>
    <key>five_thousand_siyaq</key>
    <string>five_thousand_siyaq.glif</string>
    <key>forty_siyaq</key>
    <string>forty_siyaq.glif</string>
    <key>forty_thousand_siyaq</key>
    <string>forty_thousand_siyaq.glif</string>
    <key>four_hundred_siyaq</key>
    <string>four_hundred_siyaq.glif</string>
    <key>four_siyaq</key>
    <string>four_siyaq.glif</string>
    <key>four_thousand_siyaq</key>
    <string>four_thousand_siyaq.glif</string>
    <key>karor_siyaq</key>
    <string>karor_siyaq.glif</string>
    <key>karoran_siyaq</key>
    <string>karoran_siyaq.glif</string>
    <key>lakh_mark.alt_siyaq</key>
    <string>lakh_mark.alt_siyaq.glif</string>
    <key>lakh_mark_siyaq</key>
    <string>lakh_mark_siyaq.glif</string>
    <key>lakh_siyaq</key>
    <string>lakh_siyaq.glif</string>
    <key>lakhan_siyaq</key>
    <string>lakhan_siyaq.glif</string>
    <key>nine_hundred_siyaq</key>
    <string>nine_hundred_siyaq.glif</string>
    <key>nine_siyaq</key>
    <string>nine_siyaq.glif</string>
    <key>nine_thousand_siyaq</key>
    <string>nine_thousand_siyaq.glif</string>
    <key>ninety_siyaq</key>
    <string>ninety_siyaq.glif</string>
    <key>ninety_thousand_siyaq</key>
    <string>ninety_thousand_siyaq.glif</string>
    <key>one.alt_siyaq</key>
    <string>one.alt_siyaq.glif</string>
    <key>one_hundred_siyaq</key>
    <string>one_hundred_siyaq.glif</string>
    <key>one_siyaq</key>
    <string>one_siyaq.glif</string>
    <key>one_thousand_siyaq</key>
    <string>one_thousand_siyaq.glif</string>
    <key>onehalf_siyaq</key>
    <string>onehalf_siyaq.glif</string>
    <key>onequarter_siyaq</key>
    <string>onequarter_siyaq.glif</string>
    <key>placeholder_siyaq</key>
    <string>placeholder_siyaq.glif</string>
    <key>placeholder_siyaq.alt</key>
    <string>placeholder_siyaq.alt.glif</string>
    <key>prefixed_eight_siyaq</key>
    <string>prefixed_eight_siyaq.glif</string>
    <key>prefixed_five_siyaq</key>
    <string>prefixed_five_siyaq.glif</string>
    <key>prefixed_four_siyaq</key>
    <string>prefixed_four_siyaq.glif</string>
    <key>prefixed_nine_siyaq</key>
    <string>prefixed_nine_siyaq.glif</string>
    <key>prefixed_one_siyaq</key>
    <string>prefixed_one_siyaq.glif</string>
    <key>prefixed_seven_siyaq</key>
    <string>prefixed_seven_siyaq.glif</string>
    <key>prefixed_six_siyaq</key>
    <string>prefixed_six_siyaq.glif</string>
    <key>prefixed_three_siyaq</key>
    <string>prefixed_three_siyaq.glif</string>
    <key>prefixed_two_siyaq</key>
    <string>prefixed_two_siyaq.glif</string>
    <key>rupee_siyaq</key>
    <string>rupee_siyaq.glif</string>
    <key>seven_hundred_siyaq</key>
    <string>seven_hundred_siyaq.glif</string>
    <key>seven_siyaq</key>
    <string>seven_siyaq.glif</string>
    <key>seven_thousand_siyaq</key>
    <string>seven_thousand_siyaq.glif</string>
    <key>seventy_siyaq</key>
    <string>seventy_siyaq.glif</string>
    <key>seventy_thousand_siyaq</key>
    <string>seventy_thousand_siyaq.glif</string>
    <key>six_hundred_siyaq</key>
    <string>six_hundred_siyaq.glif</string>
    <key>six_siyaq</key>
    <string>six_siyaq.glif</string>
    <key>six_thousand_siyaq</key>
    <string>six_thousand_siyaq.glif</string>
    <key>sixty_siyaq</key>
    <string>sixty_siyaq.glif</string>
    <key>sixty_thousand_siyaq</key>
    <string>sixty_thousand_siyaq.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ten.alt_siyaq</key>
    <string>ten.alt_siyaq.glif</string>
    <key>ten_siyaq</key>
    <string>ten_siyaq.glif</string>
    <key>ten_thousand_siyaq</key>
    <string>ten_thousand_siyaq.glif</string>
    <key>thirty_siyaq</key>
    <string>thirty_siyaq.glif</string>
    <key>thirty_thousand_siyaq</key>
    <string>thirty_thousand_siyaq.glif</string>
    <key>three_hundred_siyaq</key>
    <string>three_hundred_siyaq.glif</string>
    <key>three_siyaq</key>
    <string>three_siyaq.glif</string>
    <key>three_thousand_siyaq</key>
    <string>three_thousand_siyaq.glif</string>
    <key>threequarters_siyaq</key>
    <string>threequarters_siyaq.glif</string>
    <key>twenty_siyaq</key>
    <string>twenty_siyaq.glif</string>
    <key>twenty_thousand_siyaq</key>
    <string>twenty_thousand_siyaq.glif</string>
    <key>two.alt_siyaq</key>
    <string>two.alt_siyaq.glif</string>
    <key>two_hundred_siyaq</key>
    <string>two_hundred_siyaq.glif</string>
    <key>two_siyaq</key>
    <string>two_siyaq.glif</string>
    <key>two_thousand_siyaq</key>
    <string>two_thousand_siyaq.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
