<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aamlym</key>
    <string>aamlym.glif</string>
    <key>aavowelsignmlym</key>
    <string>aavowelsignmlym.glif</string>
    <key>aimlym</key>
    <string>aimlym.glif</string>
    <key>aivowelsignmlym</key>
    <string>aivowelsignmlym.glif</string>
    <key>amlym</key>
    <string>amlym.glif</string>
    <key>anusvaramlym</key>
    <string>anusvaramlym.glif</string>
    <key>asciicircum.mlym</key>
    <string>asciicircum.mlym.glif</string>
    <key>asciitilde.mlym</key>
    <string>asciitilde.mlym.glif</string>
    <key>asterisk.mlym</key>
    <string>asterisk.mlym.glif</string>
    <key>aulengthmarkmlym</key>
    <string>aulengthmarkmlym.glif</string>
    <key>aumlym</key>
    <string>aumlym.glif</string>
    <key>auvowelsignmlym</key>
    <string>auvowelsignmlym.glif</string>
    <key>avagrahamlym</key>
    <string>avagrahamlym.glif</string>
    <key>babamlym</key>
    <string>babamlym.glif</string>
    <key>backslash.mlym</key>
    <string>backslash.mlym.glif</string>
    <key>badamlym</key>
    <string>badamlym.glif</string>
    <key>badhamlym</key>
    <string>badhamlym.glif</string>
    <key>balamlym</key>
    <string>balamlym.glif</string>
    <key>bamlym</key>
    <string>bamlym.glif</string>
    <key>baprehalfmlym</key>
    <string>baprehalfmlym.glif</string>
    <key>bar.mlym</key>
    <string>bar.mlym.glif</string>
    <key>bhallvocalicmlym</key>
    <string>bhallvocalicmlym.glif</string>
    <key>bhalvocalicmlym</key>
    <string>bhalvocalicmlym.glif</string>
    <key>bhamlym</key>
    <string>bhamlym.glif</string>
    <key>bhaprehalfmlym</key>
    <string>bhaprehalfmlym.glif</string>
    <key>braceleft.mlym</key>
    <string>braceleft.mlym.glif</string>
    <key>braceright.mlym</key>
    <string>braceright.mlym.glif</string>
    <key>bracketleft.mlym</key>
    <string>bracketleft.mlym.glif</string>
    <key>bracketright.mlym</key>
    <string>bracketright.mlym.glif</string>
    <key>cacamlym</key>
    <string>cacamlym.glif</string>
    <key>cachamlym</key>
    <string>cachamlym.glif</string>
    <key>camlym</key>
    <string>camlym.glif</string>
    <key>candrabindu_0951mlym</key>
    <string>candrabindu_0951mlym.glif</string>
    <key>candrabindu_0952mlym</key>
    <string>candrabindu_0952mlym.glif</string>
    <key>candrabindu_1CDAmlym</key>
    <string>candrabindu_1C_D_A_mlym.glif</string>
    <key>candrabindumlym</key>
    <string>candrabindumlym.glif</string>
    <key>caprehalfmlym</key>
    <string>caprehalfmlym.glif</string>
    <key>chamlym</key>
    <string>chamlym.glif</string>
    <key>chaprehalfmlym</key>
    <string>chaprehalfmlym.glif</string>
    <key>colon.mlym</key>
    <string>colon.mlym.glif</string>
    <key>comma.mlym</key>
    <string>comma.mlym.glif</string>
    <key>dadamlym</key>
    <string>dadamlym.glif</string>
    <key>dadhamlym</key>
    <string>dadhamlym.glif</string>
    <key>dallvocalicmlym</key>
    <string>dallvocalicmlym.glif</string>
    <key>dalvocalicmlym</key>
    <string>dalvocalicmlym.glif</string>
    <key>damlym</key>
    <string>damlym.glif</string>
    <key>danda.mlym</key>
    <string>danda.mlym.glif</string>
    <key>daprehalfmlym</key>
    <string>daprehalfmlym.glif</string>
    <key>datemarkmlym</key>
    <string>datemarkmlym.glif</string>
    <key>dbldanda.mlym</key>
    <string>dbldanda.mlym.glif</string>
    <key>ddaddamlym</key>
    <string>ddaddamlym.glif</string>
    <key>ddaddhamlym</key>
    <string>ddaddhamlym.glif</string>
    <key>ddamlym</key>
    <string>ddamlym.glif</string>
    <key>ddaprehalfmlym</key>
    <string>ddaprehalfmlym.glif</string>
    <key>ddhamlym</key>
    <string>ddhamlym.glif</string>
    <key>ddhaprehalfmlym</key>
    <string>ddhaprehalfmlym.glif</string>
    <key>dhadotabove</key>
    <string>dhadotabove.glif</string>
    <key>dhadotbelow</key>
    <string>dhadotbelow.glif</string>
    <key>dhamlym</key>
    <string>dhamlym.glif</string>
    <key>dhaprehalfmlym</key>
    <string>dhaprehalfmlym.glif</string>
    <key>divide.mlym</key>
    <string>divide.mlym.glif</string>
    <key>eemlym</key>
    <string>eemlym.glif</string>
    <key>eevowelsignmlym</key>
    <string>eevowelsignmlym.glif</string>
    <key>eight.mlym</key>
    <string>eight.mlym.glif</string>
    <key>eightmlym</key>
    <string>eightmlym.glif</string>
    <key>ellipsis.mlym</key>
    <string>ellipsis.mlym.glif</string>
    <key>emdash.mlym</key>
    <string>emdash.mlym.glif</string>
    <key>emlym</key>
    <string>emlym.glif</string>
    <key>endash.mlym</key>
    <string>endash.mlym.glif</string>
    <key>equal.mlym</key>
    <string>equal.mlym.glif</string>
    <key>evowelsignmlym</key>
    <string>evowelsignmlym.glif</string>
    <key>exclam.mlym</key>
    <string>exclam.mlym.glif</string>
    <key>five.mlym</key>
    <string>five.mlym.glif</string>
    <key>fivemlym</key>
    <string>fivemlym.glif</string>
    <key>four.mlym</key>
    <string>four.mlym.glif</string>
    <key>fourmlym</key>
    <string>fourmlym.glif</string>
    <key>gadamlym</key>
    <string>gadamlym.glif</string>
    <key>gadotabove</key>
    <string>gadotabove.glif</string>
    <key>gadotbelow</key>
    <string>gadotbelow.glif</string>
    <key>gagamlym</key>
    <string>gagamlym.glif</string>
    <key>galamlym</key>
    <string>galamlym.glif</string>
    <key>gamamlym</key>
    <string>gamamlym.glif</string>
    <key>gamlym</key>
    <string>gamlym.glif</string>
    <key>ganamlym</key>
    <string>ganamlym.glif</string>
    <key>gaprehalfmlym</key>
    <string>gaprehalfmlym.glif</string>
    <key>ghamlym</key>
    <string>ghamlym.glif</string>
    <key>ghaprehalfmlym</key>
    <string>ghaprehalfmlym.glif</string>
    <key>greater.mlym</key>
    <string>greater.mlym.glif</string>
    <key>halamlym</key>
    <string>halamlym.glif</string>
    <key>hamamlym</key>
    <string>hamamlym.glif</string>
    <key>hamlym</key>
    <string>hamlym.glif</string>
    <key>hanamlym</key>
    <string>hanamlym.glif</string>
    <key>haprehalfmlym</key>
    <string>haprehalfmlym.glif</string>
    <key>hundredmlym</key>
    <string>hundredmlym.glif</string>
    <key>hyphen.mlym</key>
    <string>hyphen.mlym.glif</string>
    <key>iimlym</key>
    <string>iimlym.glif</string>
    <key>iivowelsignalt2mlym</key>
    <string>iivowelsignalt2mlym.glif</string>
    <key>iivowelsignaltmlym</key>
    <string>iivowelsignaltmlym.glif</string>
    <key>iivowelsignmlym</key>
    <string>iivowelsignmlym.glif</string>
    <key>imlym</key>
    <string>imlym.glif</string>
    <key>ivowelsignalt2mlym</key>
    <string>ivowelsignalt2mlym.glif</string>
    <key>ivowelsignaltmlym</key>
    <string>ivowelsignaltmlym.glif</string>
    <key>ivowelsignmlym</key>
    <string>ivowelsignmlym.glif</string>
    <key>jajamlym</key>
    <string>jajamlym.glif</string>
    <key>jamlym</key>
    <string>jamlym.glif</string>
    <key>janyamlym</key>
    <string>janyamlym.glif</string>
    <key>japrehalfmlym</key>
    <string>japrehalfmlym.glif</string>
    <key>jhamlym</key>
    <string>jhamlym.glif</string>
    <key>jhaprehalfmlym</key>
    <string>jhaprehalfmlym.glif</string>
    <key>kachillumlym</key>
    <string>kachillumlym.glif</string>
    <key>kakamlym</key>
    <string>kakamlym.glif</string>
    <key>kalamlym</key>
    <string>kalamlym.glif</string>
    <key>kamlym</key>
    <string>kamlym.glif</string>
    <key>kaprehalfmlym</key>
    <string>kaprehalfmlym.glif</string>
    <key>kassamlym</key>
    <string>kassamlym.glif</string>
    <key>kassaprehalfmlym</key>
    <string>kassaprehalfmlym.glif</string>
    <key>katamlym</key>
    <string>katamlym.glif</string>
    <key>kattamlym</key>
    <string>kattamlym.glif</string>
    <key>khamlym</key>
    <string>khamlym.glif</string>
    <key>khaprehalfmlym</key>
    <string>khaprehalfmlym.glif</string>
    <key>lachillumlym</key>
    <string>lachillumlym.glif</string>
    <key>lalamlym</key>
    <string>lalamlym.glif</string>
    <key>lamlym</key>
    <string>lamlym.glif</string>
    <key>lapamlym</key>
    <string>lapamlym.glif</string>
    <key>laprehalfmlym</key>
    <string>laprehalfmlym.glif</string>
    <key>lasubscriptmlym</key>
    <string>lasubscriptmlym.glif</string>
    <key>less.mlym</key>
    <string>less.mlym.glif</string>
    <key>llachillumlym</key>
    <string>llachillumlym.glif</string>
    <key>llallamlym</key>
    <string>llallamlym.glif</string>
    <key>llamlym</key>
    <string>llamlym.glif</string>
    <key>llaprehalfmlym</key>
    <string>llaprehalfmlym.glif</string>
    <key>lllachillumlym</key>
    <string>lllachillumlym.glif</string>
    <key>lllallvocalicmlym</key>
    <string>lllallvocalicmlym.glif</string>
    <key>lllalvocalicmlym</key>
    <string>lllalvocalicmlym.glif</string>
    <key>lllamlym</key>
    <string>lllamlym.glif</string>
    <key>lllaprehalfmlym</key>
    <string>lllaprehalfmlym.glif</string>
    <key>llvocalicmlym</key>
    <string>llvocalicmlym.glif</string>
    <key>llvocalicvowelsignaltmlym</key>
    <string>llvocalicvowelsignaltmlym.glif</string>
    <key>llvocalicvowelsignmlym</key>
    <string>llvocalicvowelsignmlym.glif</string>
    <key>lvocalicmlym</key>
    <string>lvocalicmlym.glif</string>
    <key>lvocalicvowelsignaltmlym</key>
    <string>lvocalicvowelsignaltmlym.glif</string>
    <key>lvocalicvowelsignmlym</key>
    <string>lvocalicvowelsignmlym.glif</string>
    <key>machillumlym</key>
    <string>machillumlym.glif</string>
    <key>madotabove</key>
    <string>madotabove.glif</string>
    <key>madotbelow</key>
    <string>madotbelow.glif</string>
    <key>malamlym</key>
    <string>malamlym.glif</string>
    <key>mallvocalicmlym</key>
    <string>mallvocalicmlym.glif</string>
    <key>malvocalicmlym</key>
    <string>malvocalicmlym.glif</string>
    <key>mamamlym</key>
    <string>mamamlym.glif</string>
    <key>mamlym</key>
    <string>mamlym.glif</string>
    <key>mapalamlym</key>
    <string>mapalamlym.glif</string>
    <key>mapamlym</key>
    <string>mapamlym.glif</string>
    <key>maprehalfmlym</key>
    <string>maprehalfmlym.glif</string>
    <key>minus.mlym</key>
    <string>minus.mlym.glif</string>
    <key>multiply.mlym</key>
    <string>multiply.mlym.glif</string>
    <key>nachillumlym</key>
    <string>nachillumlym.glif</string>
    <key>nadamlym</key>
    <string>nadamlym.glif</string>
    <key>nadhamlym</key>
    <string>nadhamlym.glif</string>
    <key>namamlym</key>
    <string>namamlym.glif</string>
    <key>namlym</key>
    <string>namlym.glif</string>
    <key>nanamlym</key>
    <string>nanamlym.glif</string>
    <key>naprehalfmlym</key>
    <string>naprehalfmlym.glif</string>
    <key>narramlym</key>
    <string>narramlym.glif</string>
    <key>natamlym</key>
    <string>natamlym.glif</string>
    <key>nathamlym</key>
    <string>nathamlym.glif</string>
    <key>ngakalamlym</key>
    <string>ngakalamlym.glif</string>
    <key>ngakamlym</key>
    <string>ngakamlym.glif</string>
    <key>ngamlym</key>
    <string>ngamlym.glif</string>
    <key>ngangamlym</key>
    <string>ngangamlym.glif</string>
    <key>ngaprehalfmlym</key>
    <string>ngaprehalfmlym.glif</string>
    <key>nidotabove</key>
    <string>nidotabove.glif</string>
    <key>nidotbelow</key>
    <string>nidotbelow.glif</string>
    <key>nine.mlym</key>
    <string>nine.mlym.glif</string>
    <key>ninemlym</key>
    <string>ninemlym.glif</string>
    <key>nnachillumlym</key>
    <string>nnachillumlym.glif</string>
    <key>nnaddamlym</key>
    <string>nnaddamlym.glif</string>
    <key>nnaddhamlym</key>
    <string>nnaddhamlym.glif</string>
    <key>nnamamlym</key>
    <string>nnamamlym.glif</string>
    <key>nnamlym</key>
    <string>nnamlym.glif</string>
    <key>nnannamlym</key>
    <string>nnannamlym.glif</string>
    <key>nnaprehalfmlym</key>
    <string>nnaprehalfmlym.glif</string>
    <key>nnattamlym</key>
    <string>nnattamlym.glif</string>
    <key>nnnamlym</key>
    <string>nnnamlym.glif</string>
    <key>numbersign.mlym</key>
    <string>numbersign.mlym.glif</string>
    <key>nyacamlym</key>
    <string>nyacamlym.glif</string>
    <key>nyachamlym</key>
    <string>nyachamlym.glif</string>
    <key>nyajamlym</key>
    <string>nyajamlym.glif</string>
    <key>nyamlym</key>
    <string>nyamlym.glif</string>
    <key>nyanyamlym</key>
    <string>nyanyamlym.glif</string>
    <key>nyaprehalfmlym</key>
    <string>nyaprehalfmlym.glif</string>
    <key>omlym</key>
    <string>omlym.glif</string>
    <key>one.mlym</key>
    <string>one.mlym.glif</string>
    <key>onehalfmlym</key>
    <string>onehalfmlym.glif</string>
    <key>onemlym</key>
    <string>onemlym.glif</string>
    <key>onequartermlym</key>
    <string>onequartermlym.glif</string>
    <key>oomlym</key>
    <string>oomlym.glif</string>
    <key>oovowelsignmlym</key>
    <string>oovowelsignmlym.glif</string>
    <key>ovowelsignmlym</key>
    <string>ovowelsignmlym.glif</string>
    <key>padotabove</key>
    <string>padotabove.glif</string>
    <key>padotbelow</key>
    <string>padotbelow.glif</string>
    <key>palamlym</key>
    <string>palamlym.glif</string>
    <key>pamlym</key>
    <string>pamlym.glif</string>
    <key>papamlym</key>
    <string>papamlym.glif</string>
    <key>paprehalfmlym</key>
    <string>paprehalfmlym.glif</string>
    <key>parenleft.mlym</key>
    <string>parenleft.mlym.glif</string>
    <key>parenright.mlym</key>
    <string>parenright.mlym.glif</string>
    <key>patamlym</key>
    <string>patamlym.glif</string>
    <key>percent.mlym</key>
    <string>percent.mlym.glif</string>
    <key>period.mlym</key>
    <string>period.mlym.glif</string>
    <key>phalamlym</key>
    <string>phalamlym.glif</string>
    <key>phamlym</key>
    <string>phamlym.glif</string>
    <key>phaprehalfmlym</key>
    <string>phaprehalfmlym.glif</string>
    <key>plus.mlym</key>
    <string>plus.mlym.glif</string>
    <key>question.mlym</key>
    <string>question.mlym.glif</string>
    <key>quotedbl.mlym</key>
    <string>quotedbl.mlym.glif</string>
    <key>quotedblleft.mlym</key>
    <string>quotedblleft.mlym.glif</string>
    <key>quotedblright.mlym</key>
    <string>quotedblright.mlym.glif</string>
    <key>quoteleft.mlym</key>
    <string>quoteleft.mlym.glif</string>
    <key>quoteright.mlym</key>
    <string>quoteright.mlym.glif</string>
    <key>quotesingle.mlym</key>
    <string>quotesingle.mlym.glif</string>
    <key>rallvocalicmlym</key>
    <string>rallvocalicmlym.glif</string>
    <key>ralvocalicmlym</key>
    <string>ralvocalicmlym.glif</string>
    <key>ramlym</key>
    <string>ramlym.glif</string>
    <key>rapostaltmlym</key>
    <string>rapostaltmlym.glif</string>
    <key>rapostmlym</key>
    <string>rapostmlym.glif</string>
    <key>raprehalfmlym</key>
    <string>raprehalfmlym.glif</string>
    <key>rephiivowelmlym</key>
    <string>rephiivowelmlym.glif</string>
    <key>rephivowelmlym</key>
    <string>rephivowelmlym.glif</string>
    <key>rephmlym</key>
    <string>rephmlym.glif</string>
    <key>rephviramamlym</key>
    <string>rephviramamlym.glif</string>
    <key>ridotabove</key>
    <string>ridotabove.glif</string>
    <key>ridotbelow</key>
    <string>ridotbelow.glif</string>
    <key>rrachillumlym</key>
    <string>rrachillumlym.glif</string>
    <key>rrallvocalicmlym</key>
    <string>rrallvocalicmlym.glif</string>
    <key>rralvocalicmlym</key>
    <string>rralvocalicmlym.glif</string>
    <key>rramlym</key>
    <string>rramlym.glif</string>
    <key>rraprehalfmlym</key>
    <string>rraprehalfmlym.glif</string>
    <key>rrarramlym</key>
    <string>rrarramlym.glif</string>
    <key>rrvocalicmlym</key>
    <string>rrvocalicmlym.glif</string>
    <key>rrvocalicvowelsignaltmlym</key>
    <string>rrvocalicvowelsignaltmlym.glif</string>
    <key>rrvocalicvowelsignmlym</key>
    <string>rrvocalicvowelsignmlym.glif</string>
    <key>rvocalicmlym</key>
    <string>rvocalicmlym.glif</string>
    <key>rvocalicvowelsignaltmlym</key>
    <string>rvocalicvowelsignaltmlym.glif</string>
    <key>rvocalicvowelsignmlym</key>
    <string>rvocalicvowelsignmlym.glif</string>
    <key>sadotabove</key>
    <string>sadotabove.glif</string>
    <key>sadotbelow</key>
    <string>sadotbelow.glif</string>
    <key>salamlym</key>
    <string>salamlym.glif</string>
    <key>samlym</key>
    <string>samlym.glif</string>
    <key>saprehalfmlym</key>
    <string>saprehalfmlym.glif</string>
    <key>sarrarramlym</key>
    <string>sarrarramlym.glif</string>
    <key>sasamlym</key>
    <string>sasamlym.glif</string>
    <key>sathamlym</key>
    <string>sathamlym.glif</string>
    <key>semicolon.mlym</key>
    <string>semicolon.mlym.glif</string>
    <key>seven.mlym</key>
    <string>seven.mlym.glif</string>
    <key>sevenmlym</key>
    <string>sevenmlym.glif</string>
    <key>sfthyphen.mlym</key>
    <string>sfthyphen.mlym.glif</string>
    <key>shacamlym</key>
    <string>shacamlym.glif</string>
    <key>shachamlym</key>
    <string>shachamlym.glif</string>
    <key>shalamlym</key>
    <string>shalamlym.glif</string>
    <key>shamlym</key>
    <string>shamlym.glif</string>
    <key>shaprehalfmlym</key>
    <string>shaprehalfmlym.glif</string>
    <key>shashamlym</key>
    <string>shashamlym.glif</string>
    <key>six.mlym</key>
    <string>six.mlym.glif</string>
    <key>sixmlym</key>
    <string>sixmlym.glif</string>
    <key>slash.mlym</key>
    <string>slash.mlym.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssamlym</key>
    <string>ssamlym.glif</string>
    <key>ssaprehalfmlym</key>
    <string>ssaprehalfmlym.glif</string>
    <key>ssattamlym</key>
    <string>ssattamlym.glif</string>
    <key>tabhamlym</key>
    <string>tabhamlym.glif</string>
    <key>talamlym</key>
    <string>talamlym.glif</string>
    <key>tamamlym</key>
    <string>tamamlym.glif</string>
    <key>tamlym</key>
    <string>tamlym.glif</string>
    <key>tanamlym</key>
    <string>tanamlym.glif</string>
    <key>taprehalfmlym</key>
    <string>taprehalfmlym.glif</string>
    <key>tasamlym</key>
    <string>tasamlym.glif</string>
    <key>tatamlym</key>
    <string>tatamlym.glif</string>
    <key>tathamlym</key>
    <string>tathamlym.glif</string>
    <key>tenmlym</key>
    <string>tenmlym.glif</string>
    <key>thamlym</key>
    <string>thamlym.glif</string>
    <key>thaprehalfmlym</key>
    <string>thaprehalfmlym.glif</string>
    <key>thousandmlym</key>
    <string>thousandmlym.glif</string>
    <key>three.mlym</key>
    <string>three.mlym.glif</string>
    <key>threemlym</key>
    <string>threemlym.glif</string>
    <key>threequartermlym</key>
    <string>threequartermlym.glif</string>
    <key>ttallvocalicmlym</key>
    <string>ttallvocalicmlym.glif</string>
    <key>ttalvocalicmlym</key>
    <string>ttalvocalicmlym.glif</string>
    <key>ttamlym</key>
    <string>ttamlym.glif</string>
    <key>ttaprehalfmlym</key>
    <string>ttaprehalfmlym.glif</string>
    <key>ttattamlym</key>
    <string>ttattamlym.glif</string>
    <key>tthallvocalicmlym</key>
    <string>tthallvocalicmlym.glif</string>
    <key>tthalvocalicmlym</key>
    <string>tthalvocalicmlym.glif</string>
    <key>tthamlym</key>
    <string>tthamlym.glif</string>
    <key>tthaprehalfmlym</key>
    <string>tthaprehalfmlym.glif</string>
    <key>tttamlym</key>
    <string>tttamlym.glif</string>
    <key>two.mlym</key>
    <string>two.mlym.glif</string>
    <key>twomlym</key>
    <string>twomlym.glif</string>
    <key>umlym</key>
    <string>umlym.glif</string>
    <key>underscore.mlym</key>
    <string>underscore.mlym.glif</string>
    <key>uni00A0.mlym</key>
    <string>uni00A_0.mlym.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0323</key>
    <string>uni0323.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni0D4F</key>
    <string>uni0D_4F_.glif</string>
    <key>uni0D58</key>
    <string>uni0D_58.glif</string>
    <key>uni0D59</key>
    <string>uni0D_59.glif</string>
    <key>uni0D5A</key>
    <string>uni0D_5A_.glif</string>
    <key>uni0D5B</key>
    <string>uni0D_5B_.glif</string>
    <key>uni0D5C</key>
    <string>uni0D_5C_.glif</string>
    <key>uni0D5D</key>
    <string>uni0D_5D_.glif</string>
    <key>uni0D5E</key>
    <string>uni0D_5E_.glif</string>
    <key>uni0D5F</key>
    <string>uni0D_5F_.glif</string>
    <key>uni0D76</key>
    <string>uni0D_76.glif</string>
    <key>uni0D77</key>
    <string>uni0D_77.glif</string>
    <key>uni0D78</key>
    <string>uni0D_78.glif</string>
    <key>uni1CDA</key>
    <string>uni1C_D_A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni20B9.mlym</key>
    <string>uni20B_9.mlym.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uumlym</key>
    <string>uumlym.glif</string>
    <key>uuvowelsignaltmlym</key>
    <string>uuvowelsignaltmlym.glif</string>
    <key>uuvowelsignmlym</key>
    <string>uuvowelsignmlym.glif</string>
    <key>uvowelsignaltmlym</key>
    <string>uvowelsignaltmlym.glif</string>
    <key>uvowelsignmlym</key>
    <string>uvowelsignmlym.glif</string>
    <key>valamlym</key>
    <string>valamlym.glif</string>
    <key>vamlym</key>
    <string>vamlym.glif</string>
    <key>vapostaltmlym</key>
    <string>vapostaltmlym.glif</string>
    <key>vapostmlym</key>
    <string>vapostmlym.glif</string>
    <key>vaprehalfmlym</key>
    <string>vaprehalfmlym.glif</string>
    <key>vavamlym</key>
    <string>vavamlym.glif</string>
    <key>viramamlym</key>
    <string>viramamlym.glif</string>
    <key>visargamlym</key>
    <string>visargamlym.glif</string>
    <key>yachillumlym</key>
    <string>yachillumlym.glif</string>
    <key>yamlym</key>
    <string>yamlym.glif</string>
    <key>yapostaltmlym</key>
    <string>yapostaltmlym.glif</string>
    <key>yapostmlym</key>
    <string>yapostmlym.glif</string>
    <key>yaprehalfmlym</key>
    <string>yaprehalfmlym.glif</string>
    <key>yayamlym</key>
    <string>yayamlym.glif</string>
    <key>zero.mlym</key>
    <string>zero.mlym.glif</string>
    <key>zeromlym</key>
    <string>zeromlym.glif</string>
  </dict>
</plist>
