<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.paren</key>
    <string>eight.paren.glif</string>
    <key>five.paren</key>
    <string>five.paren.glif</string>
    <key>four.paren</key>
    <string>four.paren.glif</string>
    <key>nine.paren</key>
    <string>nine.paren.glif</string>
    <key>one.paren</key>
    <string>one.paren.glif</string>
    <key>one_eight.paren</key>
    <string>one_eight.paren.glif</string>
    <key>one_five.paren</key>
    <string>one_five.paren.glif</string>
    <key>one_four.paren</key>
    <string>one_four.paren.glif</string>
    <key>one_nine.paren</key>
    <string>one_nine.paren.glif</string>
    <key>one_one.paren</key>
    <string>one_one.paren.glif</string>
    <key>one_seven.paren</key>
    <string>one_seven.paren.glif</string>
    <key>one_six.paren</key>
    <string>one_six.paren.glif</string>
    <key>one_three.paren</key>
    <string>one_three.paren.glif</string>
    <key>one_two.paren</key>
    <string>one_two.paren.glif</string>
    <key>one_zero.paren</key>
    <string>one_zero.paren.glif</string>
    <key>seven.paren</key>
    <string>seven.paren.glif</string>
    <key>six.paren</key>
    <string>six.paren.glif</string>
    <key>three.paren</key>
    <string>three.paren.glif</string>
    <key>two.paren</key>
    <string>two.paren.glif</string>
    <key>two_zero.paren</key>
    <string>two_zero.paren.glif</string>
  </dict>
</plist>
