<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>g.001_encupwardpointingtricomb</key>
    <string>g.001_encupwardpointingtricomb.glif</string>
    <key>p.001_encupwardpointingtricomb</key>
    <string>p.001_encupwardpointingtricomb.glif</string>
    <key>q.001_encupwardpointingtricomb</key>
    <string>q.001_encupwardpointingtricomb.glif</string>
    <key>y.001_encupwardpointingtricomb</key>
    <string>y.001_encupwardpointingtricomb.glif</string>
  </dict>
</plist>
