<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni10C99</key>
    <array>
      <string>uni10C8C</string>
      <string>uni10C97</string>
      <string>uni10C99</string>
      <string>uni10C9A</string>
      <string>uni10C9B</string>
      <string>uni10C9C</string>
      <string>uni10CB2</string>
      <string>uni10C8C.ltr</string>
      <string>uni10C97.ltr</string>
      <string>uni10C99.ltr</string>
      <string>uni10C9A.ltr</string>
      <string>uni10C9B.ltr</string>
      <string>uni10C9C.ltr</string>
      <string>uni10CB2.ltr</string>
    </array>
    <key>public.kern1.uni10CC2</key>
    <array>
      <string>uni10CC2</string>
      <string>uni10CDE</string>
      <string>uni10CE8</string>
      <string>uni10CE9</string>
      <string>uni10CC2_10CC0</string>
      <string>uni10CC2_10CC9</string>
      <string>uni10CC2_10CD0</string>
      <string>uni10CC2_10CDB</string>
      <string>uni10CC2_10CE6</string>
      <string>uni10CC2.ltr</string>
      <string>uni10CDE.ltr</string>
      <string>uni10CE8.ltr</string>
      <string>uni10CE9.ltr</string>
      <string>uni10CC2_10CC0.ltr</string>
      <string>uni10CC2_10CC9.ltr</string>
      <string>uni10CC2_10CD0.ltr</string>
      <string>uni10CC2_10CDB.ltr</string>
      <string>uni10CC2_10CE6.ltr</string>
    </array>
    <key>public.kern1.uni10CC4</key>
    <array>
      <string>uni10CC4</string>
      <string>uni10CC4_10CD4</string>
      <string>uni10CC4.ltr</string>
      <string>uni10CC4_10CD4.ltr</string>
    </array>
    <key>public.kern1.uni10CD9</key>
    <array>
      <string>uni10CD7</string>
      <string>uni10CD9</string>
      <string>uni10CDA</string>
      <string>uni10CDB</string>
      <string>uni10CDC</string>
      <string>uni10CF2</string>
      <string>uni10CD9_10CC0</string>
      <string>uni10CD9_10CE6</string>
      <string>uni10CD7.ltr</string>
      <string>uni10CD9.ltr</string>
      <string>uni10CDA.ltr</string>
      <string>uni10CDB.ltr</string>
      <string>uni10CDC.ltr</string>
      <string>uni10CF2.ltr</string>
      <string>uni10CD9_10CC0.ltr</string>
      <string>uni10CD9_10CE6.ltr</string>
    </array>
    <key>public.kern1.uni10CE4</key>
    <array>
      <string>uni10CCD</string>
      <string>uni10CD6</string>
      <string>uni10CE4</string>
      <string>uni10CCD_10CC0</string>
      <string>uni10CCD_10CC9</string>
      <string>uni10CCD_10CD0</string>
      <string>uni10CCD_10CDB</string>
      <string>uni10CD6_10CC0</string>
      <string>uni10CD6_10CC1</string>
      <string>uni10CD6_10CC9</string>
      <string>uni10CD6_10CDB</string>
      <string>uni10CD6_10CE6</string>
      <string>uni10CE4_10CC0</string>
      <string>uni10CE4_10CC9</string>
      <string>uni10CE4_10CD0</string>
      <string>uni10CE4_10CD3</string>
      <string>uni10CE4_10CD8</string>
      <string>uni10CE4_10CDB</string>
      <string>uni10CE4_10CE0</string>
      <string>uni10CE4_10CE6</string>
      <string>uni10CCD.ltr</string>
      <string>uni10CD6.ltr</string>
      <string>uni10CE4.ltr</string>
      <string>uni10CCD_10CC0.ltr</string>
      <string>uni10CCD_10CC9.ltr</string>
      <string>uni10CCD_10CD0.ltr</string>
      <string>uni10CCD_10CDB.ltr</string>
      <string>uni10CD6_10CC0.ltr</string>
      <string>uni10CD6_10CC1.ltr</string>
      <string>uni10CD6_10CC9.ltr</string>
      <string>uni10CD6_10CDB.ltr</string>
      <string>uni10CD6_10CE6.ltr</string>
      <string>uni10CE4_10CC0.ltr</string>
      <string>uni10CE4_10CC9.ltr</string>
      <string>uni10CE4_10CD0.ltr</string>
      <string>uni10CE4_10CD3.ltr</string>
      <string>uni10CE4_10CD8.ltr</string>
      <string>uni10CE4_10CDB.ltr</string>
      <string>uni10CE4_10CE0.ltr</string>
      <string>uni10CE4_10CE6.ltr</string>
    </array>
    <key>public.kern2.ge</key>
    <array>
      <string>uni10CCD_10CC9</string>
      <string>uni10CD6_10CC9</string>
      <string>uni10CCD_10CC9.ltr</string>
      <string>uni10CD6_10CC9.ltr</string>
    </array>
    <key>public.kern2.uni10CC0</key>
    <array>
      <string>uni10CC0</string>
      <string>uni10CC6_10CC0</string>
      <string>uni10CE2_10CC0</string>
      <string>uni10CEE_10CC0</string>
      <string>uni10CEF_10CC0</string>
      <string>uni10CC0.ltr</string>
      <string>uni10CC6_10CC0.ltr</string>
      <string>uni10CE2_10CC0.ltr</string>
      <string>uni10CEE_10CC0.ltr</string>
      <string>uni10CEF_10CC0.ltr</string>
    </array>
    <key>public.kern2.uni10CC2</key>
    <array>
      <string>uni10CC2</string>
      <string>uni10CE8</string>
      <string>uni10CE9</string>
      <string>uni10CC0_10CC2</string>
      <string>uni10CC2.ltr</string>
      <string>uni10CE8.ltr</string>
      <string>uni10CE9.ltr</string>
      <string>uni10CC0_10CC2.ltr</string>
    </array>
    <key>public.kern2.uni10CD7</key>
    <array>
      <string>uni10CCC</string>
      <string>uni10CD7</string>
      <string>uni10CF2</string>
      <string>uni10CCC.ltr</string>
      <string>uni10CD7.ltr</string>
      <string>uni10CF2.ltr</string>
    </array>
    <key>public.kern2.uni10CE4</key>
    <array>
      <string>uni10CCD</string>
      <string>uni10CD6</string>
      <string>uni10CE4</string>
      <string>uni10CC0_10CD6</string>
      <string>uni10CCD_10CD0</string>
      <string>uni10CCD.ltr</string>
      <string>uni10CD6.ltr</string>
      <string>uni10CE4.ltr</string>
      <string>uni10CC0_10CD6.ltr</string>
      <string>uni10CCD_10CD0.ltr</string>
    </array>
    <key>public.kern2.uni10CE6</key>
    <array>
      <string>uni10CE6</string>
      <string>uni10CF0</string>
      <string>uni10CD1_10CE2_10CE6</string>
      <string>uni10CD1_10CE6</string>
      <string>uni10CE2_10CE6</string>
      <string>uni10CEF_10CE6</string>
      <string>uni10CE6.ltr</string>
      <string>uni10CF0.ltr</string>
      <string>uni10CD1_10CE2_10CE6.ltr</string>
      <string>uni10CD1_10CE6.ltr</string>
      <string>uni10CE2_10CE6.ltr</string>
      <string>uni10CEF_10CE6.ltr</string>
    </array>
  </dict>
</plist>
