<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.uni10CC2</key>
    <dict>
      <key>public.kern2.uni10CC0</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>0</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>0</integer>
      <key>uni10CC0_10CE6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CC1</key>
      <integer>-30</integer>
      <key>uni10CC3</key>
      <integer>10</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-20</integer>
      <key>uni10CCD_10CC0</key>
      <integer>20</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-40</integer>
      <key>uni10CD2</key>
      <integer>-10</integer>
      <key>uni10CD6_10CDB</key>
      <integer>10</integer>
      <key>uni10CD6_10CE6</key>
      <integer>40</integer>
      <key>uni10CD9</key>
      <integer>20</integer>
      <key>uni10CD9_10CC4</key>
      <integer>20</integer>
      <key>uni10CD9_10CC7</key>
      <integer>20</integer>
      <key>uni10CD9_10CCE</key>
      <integer>20</integer>
      <key>uni10CD9_10CD0</key>
      <integer>20</integer>
      <key>uni10CD9_10CD3</key>
      <integer>10</integer>
      <key>uni10CE3</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-20</integer>
      <key>uni10CEC</key>
      <integer>20</integer>
      <key>uni10CED</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.uni10CC4</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE6</key>
      <integer>20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.uni10CD9</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-40</integer>
      <key>uni10CC2_10CC9</key>
      <integer>-40</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-40</integer>
      <key>uni10CC2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CC4</key>
      <integer>-10</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-40</integer>
      <key>uni10CC9</key>
      <integer>-30</integer>
      <key>uni10CCD_10CDB</key>
      <integer>-10</integer>
      <key>uni10CCF</key>
      <integer>-20</integer>
      <key>uni10CD0</key>
      <integer>-30</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD1</key>
      <integer>-20</integer>
      <key>uni10CD5</key>
      <integer>-30</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-40</integer>
      <key>uni10CD9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-30</integer>
      <key>uni10CE6_10CD0</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.uni10CE4</key>
    <dict>
      <key>public.kern2.uni10CC0</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>40</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-60</integer>
      <key>uni10CC0_10CC7</key>
      <integer>-10</integer>
      <key>uni10CC0_10CE6_10CE6</key>
      <integer>-60</integer>
      <key>uni10CC1</key>
      <integer>-30</integer>
      <key>uni10CC2_10CC9</key>
      <integer>-10</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-40</integer>
      <key>uni10CC2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CC4</key>
      <integer>-30</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-20</integer>
      <key>uni10CC7</key>
      <integer>-10</integer>
      <key>uni10CC9</key>
      <integer>-20</integer>
      <key>uni10CCB</key>
      <integer>10</integer>
      <key>uni10CCE</key>
      <integer>20</integer>
      <key>uni10CCF_10CC0</key>
      <integer>-50</integer>
      <key>uni10CCF_10CD0</key>
      <integer>-10</integer>
      <key>uni10CD0</key>
      <integer>-30</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-60</integer>
      <key>uni10CD1</key>
      <integer>-50</integer>
      <key>uni10CD2</key>
      <integer>-30</integer>
      <key>uni10CD4</key>
      <integer>-40</integer>
      <key>uni10CD9</key>
      <integer>20</integer>
      <key>uni10CD9_10CC0</key>
      <integer>-30</integer>
      <key>uni10CE3</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD0</key>
      <integer>20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-100</integer>
      <key>uni10CE6_10CD0</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-80</integer>
      <key>uni10CEC</key>
      <integer>10</integer>
      <key>uni10CED</key>
      <integer>-40</integer>
    </dict>
    <key>uni10CC0_10CC7</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-40</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-30</integer>
      <key>uni10CCD_10CDB</key>
      <integer>-20</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD1</key>
      <integer>-20</integer>
      <key>uni10CD4</key>
      <integer>-10</integer>
      <key>uni10CD9</key>
      <integer>-20</integer>
      <key>uni10CE2_10CD0</key>
      <integer>-10</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-50</integer>
    </dict>
    <key>uni10CC0_10CD6</key>
    <dict>
      <key>uni10CC4</key>
      <integer>20</integer>
      <key>uni10CD8</key>
      <integer>20</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CC0_10CE2</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-20</integer>
      <key>uni10CD9</key>
      <integer>-20</integer>
      <key>uni10CDF</key>
      <integer>-30</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-10</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>uni10CC0_10CE6_10CE6</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-50</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>0</integer>
      <key>uni10CD6_10CC1</key>
      <integer>20</integer>
      <key>uni10CDC</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-10</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-50</integer>
    </dict>
    <key>uni10CC1_10CE2</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-50</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC2_10CC9</key>
      <integer>-10</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-20</integer>
      <key>uni10CDC</key>
      <integer>-10</integer>
      <key>uni10CDF</key>
      <integer>-20</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>uni10CC3</key>
    <dict>
      <key>uni10CDC</key>
      <integer>-10</integer>
    </dict>
    <key>uni10CC4</key>
    <dict>
      <key>public.kern2.uni10CD7</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>uni10CCD_10CC9</key>
      <integer>-50</integer>
      <key>uni10CD6_10CC0</key>
      <integer>20</integer>
      <key>uni10CD6_10CC1</key>
      <integer>20</integer>
      <key>uni10CE2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-60</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-40</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-40</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-70</integer>
    </dict>
    <key>uni10CC4_10CD3</key>
    <dict>
      <key>public.kern2.uni10CE4</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CC4_10CD4</key>
    <dict>
      <key>public.kern2.uni10CE4</key>
      <integer>-50</integer>
    </dict>
    <key>uni10CC5</key>
    <dict>
      <key>uni10CE4_10CE6</key>
      <integer>20</integer>
      <key>uni10CEC</key>
      <integer>10</integer>
    </dict>
    <key>uni10CC6_10CD0_10CD9</key>
    <dict>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CC7</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-60</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-30</integer>
      <key>uni10CD1_10CE2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD1_10CE6</key>
      <integer>-40</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-30</integer>
      <key>uni10CE6</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CC7_10CEA</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-40</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-30</integer>
      <key>uni10CC7</key>
      <integer>-30</integer>
      <key>uni10CC9</key>
      <integer>-30</integer>
      <key>uni10CD5</key>
      <integer>-30</integer>
      <key>uni10CD6_10CC0</key>
      <integer>-10</integer>
      <key>uni10CD9</key>
      <integer>-20</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-50</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-40</integer>
    </dict>
    <key>uni10CC8</key>
    <dict>
      <key>uni10CCF_10CD0</key>
      <integer>20</integer>
      <key>uni10CD9</key>
      <integer>30</integer>
      <key>uni10CD9_10CD3</key>
      <integer>20</integer>
    </dict>
    <key>uni10CC9</key>
    <dict>
      <key>uni10CCD_10CC0</key>
      <integer>20</integer>
      <key>uni10CCF_10CC0</key>
      <integer>20</integer>
      <key>uni10CCF_10CD0</key>
      <integer>20</integer>
      <key>uni10CCF_10CDB</key>
      <integer>10</integer>
      <key>uni10CD9_10CC4</key>
      <integer>20</integer>
      <key>uni10CD9_10CC7</key>
      <integer>20</integer>
      <key>uni10CD9_10CCE</key>
      <integer>20</integer>
      <key>uni10CE2_10CEA</key>
      <integer>20</integer>
    </dict>
    <key>uni10CCA</key>
    <dict>
      <key>uni10CCF_10CC0</key>
      <integer>20</integer>
      <key>uni10CD0</key>
      <integer>-20</integer>
      <key>uni10CD1_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-30</integer>
      <key>uni10CEC</key>
      <integer>20</integer>
    </dict>
    <key>uni10CCB</key>
    <dict>
      <key>uni10CCA</key>
      <integer>-20</integer>
      <key>uni10CD1_10CE6</key>
      <integer>-30</integer>
      <key>uni10CE2_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CCC</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-30</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-30</integer>
      <key>uni10CD1</key>
      <integer>-10</integer>
      <key>uni10CD9_10CC7</key>
      <integer>-20</integer>
      <key>uni10CD9_10CD0</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-30</integer>
      <key>uni10CEF_10CE6</key>
      <integer>-30</integer>
      <key>uni10CF0</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CCE</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-70</integer>
    </dict>
    <key>uni10CCF</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CCF_10CC0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>uni10CD9</key>
      <integer>10</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-10</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CCF_10CD0</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC8</key>
      <integer>20</integer>
      <key>uni10CD6_10CC0</key>
      <integer>-10</integer>
      <key>uni10CD9</key>
      <integer>20</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE6_10CD0</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CCF_10CDB</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-20</integer>
      <key>uni10CD9</key>
      <integer>20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-10</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-10</integer>
    </dict>
    <key>uni10CD0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-90</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-40</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-60</integer>
      <key>uni10CCA</key>
      <integer>-20</integer>
      <key>uni10CCD_10CC9</key>
      <integer>-60</integer>
      <key>uni10CD3</key>
      <integer>-30</integer>
      <key>uni10CD6_10CDB</key>
      <integer>-10</integer>
      <key>uni10CDC</key>
      <integer>-50</integer>
      <key>uni10CE3</key>
      <integer>-90</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-40</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-30</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>uni10CD0_10CE6</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-30</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-10</integer>
      <key>uni10CDC</key>
      <integer>-30</integer>
      <key>uni10CDF</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-30</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-50</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CD1</key>
    <dict>
      <key>public.kern2.uni10CC0</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-40</integer>
      <key>uni10CC1</key>
      <integer>-20</integer>
      <key>uni10CC2_10CC9</key>
      <integer>-10</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-30</integer>
      <key>uni10CC2_10CE6</key>
      <integer>-20</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-50</integer>
      <key>uni10CC8</key>
      <integer>20</integer>
      <key>uni10CCA</key>
      <integer>-20</integer>
      <key>uni10CCB</key>
      <integer>-20</integer>
      <key>uni10CCD_10CC0</key>
      <integer>-10</integer>
      <key>uni10CCD_10CC9</key>
      <integer>-60</integer>
      <key>uni10CCD_10CDB</key>
      <integer>-20</integer>
      <key>uni10CCE</key>
      <integer>-30</integer>
      <key>uni10CD0</key>
      <integer>-20</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD2</key>
      <integer>-20</integer>
      <key>uni10CD3</key>
      <integer>-30</integer>
      <key>uni10CD3_10CE5</key>
      <integer>-40</integer>
      <key>uni10CD3_10CEE</key>
      <integer>-30</integer>
      <key>uni10CD6_10CC0</key>
      <integer>-20</integer>
      <key>uni10CD6_10CC1</key>
      <integer>-20</integer>
      <key>uni10CD6_10CC9</key>
      <integer>-60</integer>
      <key>uni10CD9</key>
      <integer>10</integer>
      <key>uni10CE1</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-70</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-60</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-60</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-60</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-40</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-80</integer>
    </dict>
    <key>uni10CD1_10CE2_10CE6</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-50</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CD1_10CE6</key>
    <dict>
      <key>uni10CC4_10CD4</key>
      <integer>-20</integer>
      <key>uni10CDC</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-10</integer>
      <key>uni10CE4_10CE6</key>
      <integer>10</integer>
    </dict>
    <key>uni10CD2</key>
    <dict>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CD3</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-40</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-30</integer>
      <key>uni10CC2_10CDB</key>
      <integer>-10</integer>
      <key>uni10CC2_10CE6</key>
      <integer>-10</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-20</integer>
      <key>uni10CCD_10CC9</key>
      <integer>-10</integer>
      <key>uni10CD1</key>
      <integer>-20</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-10</integer>
      <key>uni10CD9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD0</key>
      <integer>20</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CD3_10CE5</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-10</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CD3_10CEE</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC0_10CE6_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CD4</key>
    <dict>
      <key>public.kern2.uni10CC0</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-70</integer>
      <key>uni10CC0_10CE6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CC2_10CE6</key>
      <integer>-30</integer>
      <key>uni10CCF_10CC0</key>
      <integer>-30</integer>
      <key>uni10CD0</key>
      <integer>-10</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD1</key>
      <integer>-20</integer>
      <key>uni10CD2</key>
      <integer>-30</integer>
      <key>uni10CD4</key>
      <integer>-10</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CD9_10CC4</key>
      <integer>-20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-40</integer>
      <key>uni10CE7</key>
      <integer>-40</integer>
    </dict>
    <key>uni10CD5</key>
    <dict>
      <key>public.kern2.uni10CD7</key>
      <integer>-30</integer>
      <key>uni10CC1</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>20</integer>
      <key>uni10CDC</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-40</integer>
    </dict>
    <key>uni10CD9_10CC4</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-60</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-40</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-10</integer>
      <key>uni10CE7</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>uni10CD9_10CC7</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-90</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-70</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-50</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-50</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-50</integer>
      <key>uni10CC9</key>
      <integer>-30</integer>
      <key>uni10CCA</key>
      <integer>-30</integer>
      <key>uni10CCB</key>
      <integer>-40</integer>
      <key>uni10CCF_10CDB</key>
      <integer>-20</integer>
      <key>uni10CD5</key>
      <integer>-20</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-40</integer>
      <key>uni10CD9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-50</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-10</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-30</integer>
      <key>uni10CE7</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CD9_10CCE</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE2_10CDB</key>
      <integer>-10</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-30</integer>
    </dict>
    <key>uni10CD9_10CD0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-50</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CCA</key>
      <integer>-20</integer>
      <key>uni10CCB</key>
      <integer>-20</integer>
      <key>uni10CD5</key>
      <integer>-30</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-10</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-40</integer>
    </dict>
    <key>uni10CD9_10CD3</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-70</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-60</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-70</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-40</integer>
      <key>uni10CC2_10CDB</key>
      <integer>-20</integer>
      <key>uni10CC3</key>
      <integer>-30</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-70</integer>
      <key>uni10CC9</key>
      <integer>-20</integer>
      <key>uni10CCB</key>
      <integer>-30</integer>
      <key>uni10CCD_10CC0</key>
      <integer>-10</integer>
      <key>uni10CCD_10CDB</key>
      <integer>-10</integer>
      <key>uni10CCF_10CDB</key>
      <integer>-30</integer>
      <key>uni10CD0_10CE6</key>
      <integer>-20</integer>
      <key>uni10CD1</key>
      <integer>-30</integer>
      <key>uni10CD4</key>
      <integer>-20</integer>
      <key>uni10CD5</key>
      <integer>-70</integer>
      <key>uni10CD6_10CDB</key>
      <integer>-20</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD9</key>
      <integer>-50</integer>
      <key>uni10CDB</key>
      <integer>-30</integer>
      <key>uni10CDC</key>
      <integer>-20</integer>
      <key>uni10CDF</key>
      <integer>-10</integer>
      <key>uni10CE2_10CDB</key>
      <integer>-20</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-30</integer>
      <key>uni10CE4_10CDB</key>
      <integer>-20</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-30</integer>
      <key>uni10CE6_10CD0</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-40</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-60</integer>
    </dict>
    <key>uni10CD9_10CE0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-30</integer>
      <key>uni10CC2_10CC9</key>
      <integer>-10</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-60</integer>
      <key>uni10CCB</key>
      <integer>-20</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CD9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-10</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-10</integer>
    </dict>
    <key>uni10CDB_10CE2</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CC0</key>
      <integer>-10</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC6_10CD0_10CD9</key>
      <integer>-20</integer>
      <key>uni10CCF_10CC0</key>
      <integer>-10</integer>
      <key>uni10CE2_10CC9</key>
      <integer>-10</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-20</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CDD</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CE3</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CE1</key>
    <dict>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CE3</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-90</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>-40</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-50</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-20</integer>
      <key>uni10CC7</key>
      <integer>-2</integer>
      <key>uni10CC9</key>
      <integer>-20</integer>
      <key>uni10CCA</key>
      <integer>-30</integer>
      <key>uni10CD5</key>
      <integer>-40</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-30</integer>
      <key>uni10CD9</key>
      <integer>-30</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-50</integer>
      <key>uni10CE4_10CE6</key>
      <integer>-20</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-70</integer>
    </dict>
    <key>uni10CE6_10CD0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-80</integer>
      <key>public.kern2.uni10CC0</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-80</integer>
      <key>uni10CC4</key>
      <integer>-20</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-50</integer>
      <key>uni10CC7</key>
      <integer>-30</integer>
      <key>uni10CCD_10CDB</key>
      <integer>-20</integer>
      <key>uni10CCE</key>
      <integer>-40</integer>
      <key>uni10CD0</key>
      <integer>-30</integer>
      <key>uni10CD2</key>
      <integer>-30</integer>
      <key>uni10CD3</key>
      <integer>-30</integer>
      <key>uni10CD6_10CC0</key>
      <integer>-20</integer>
      <key>uni10CD6_10CC1</key>
      <integer>-20</integer>
      <key>uni10CD6_10CDB</key>
      <integer>-20</integer>
      <key>uni10CD9</key>
      <integer>20</integer>
      <key>uni10CDC</key>
      <integer>-70</integer>
      <key>uni10CDF</key>
      <integer>-40</integer>
      <key>uni10CE2_10CDB</key>
      <integer>-20</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-100</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-50</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-50</integer>
    </dict>
    <key>uni10CE7</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-80</integer>
      <key>public.kern2.uni10CC0</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-70</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-50</integer>
      <key>uni10CC7</key>
      <integer>-60</integer>
      <key>uni10CC9</key>
      <integer>-20</integer>
      <key>uni10CCE</key>
      <integer>-40</integer>
      <key>uni10CD0</key>
      <integer>-40</integer>
      <key>uni10CD2</key>
      <integer>-20</integer>
      <key>uni10CD3</key>
      <integer>-30</integer>
      <key>uni10CD3_10CE5</key>
      <integer>-30</integer>
      <key>uni10CD3_10CEE</key>
      <integer>-20</integer>
      <key>uni10CDC</key>
      <integer>-60</integer>
      <key>uni10CDF</key>
      <integer>-40</integer>
      <key>uni10CE3</key>
      <integer>-70</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-40</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-80</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-60</integer>
      <key>uni10CE4_10CE0</key>
      <integer>-90</integer>
      <key>uni10CE5_10CE6</key>
      <integer>-10</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-100</integer>
    </dict>
    <key>uni10CE8_10CC0</key>
    <dict>
      <key>uni10CD9</key>
      <integer>30</integer>
      <key>uni10CD9_10CC4</key>
      <integer>20</integer>
    </dict>
    <key>uni10CEC</key>
    <dict>
      <key>public.kern2.uni10CC2</key>
      <integer>20</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>10</integer>
      <key>uni10CC5</key>
      <integer>10</integer>
      <key>uni10CCA</key>
      <integer>10</integer>
    </dict>
    <key>uni10CED</key>
    <dict>
      <key>public.kern2.uni10CC2</key>
      <integer>-20</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>-50</integer>
      <key>uni10CC2_10CD0</key>
      <integer>-10</integer>
      <key>uni10CD6_10CE6</key>
      <integer>-20</integer>
      <key>uni10CE7</key>
      <integer>-20</integer>
    </dict>
    <key>uni10CF0</key>
    <dict>
      <key>public.kern2.ge</key>
      <integer>-90</integer>
      <key>public.kern2.uni10CC2</key>
      <integer>20</integer>
      <key>public.kern2.uni10CD7</key>
      <integer>-30</integer>
      <key>public.kern2.uni10CE4</key>
      <integer>-80</integer>
      <key>public.kern2.uni10CE6</key>
      <integer>20</integer>
      <key>uni10CC4_10CD4</key>
      <integer>-80</integer>
      <key>uni10CC7</key>
      <integer>-30</integer>
      <key>uni10CCE</key>
      <integer>-50</integer>
      <key>uni10CD3</key>
      <integer>-20</integer>
      <key>uni10CD3_10CE5</key>
      <integer>-10</integer>
      <key>uni10CD3_10CEE</key>
      <integer>-20</integer>
      <key>uni10CD9_10CD3</key>
      <integer>-20</integer>
      <key>uni10CDC</key>
      <integer>-80</integer>
      <key>uni10CDF</key>
      <integer>-30</integer>
      <key>uni10CE3</key>
      <integer>-60</integer>
      <key>uni10CE4_10CC9</key>
      <integer>-60</integer>
      <key>uni10CE4_10CD3</key>
      <integer>-80</integer>
      <key>uni10CE4_10CD8</key>
      <integer>-40</integer>
      <key>uni10CEA_10CD6</key>
      <integer>-100</integer>
    </dict>
  </dict>
</plist>
