<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0621</key>
    <dict>
      <key>uni0713</key>
      <integer>351</integer>
      <key>uni071B</key>
      <integer>176</integer>
      <key>uni0722</key>
      <integer>351</integer>
      <key>uni0725</key>
      <integer>210</integer>
      <key>uni072B</key>
      <integer>141</integer>
      <key>uni072C</key>
      <integer>107</integer>
    </dict>
    <key>uni0710</key>
    <dict>
      <key>uni0710</key>
      <integer>-14</integer>
      <key>uni0713.Init</key>
      <integer>-43</integer>
      <key>uni0717</key>
      <integer>-50</integer>
      <key>uni0718.Fina</key>
      <integer>-80</integer>
      <key>uni0722</key>
      <integer>80</integer>
      <key>uni0728</key>
      <integer>-28</integer>
      <key>uni072C.Fina</key>
      <integer>-30</integer>
    </dict>
    <key>uni0712.Init</key>
    <dict>
      <key>uni071B.Fina</key>
      <integer>-113</integer>
    </dict>
    <key>uni0715</key>
    <dict>
      <key>uni0709</key>
      <integer>-113</integer>
      <key>uni0713</key>
      <integer>-55</integer>
      <key>uni0713.Init</key>
      <integer>-120</integer>
      <key>uni071C.Init</key>
      <integer>-40</integer>
      <key>uni071D.Init</key>
      <integer>28</integer>
    </dict>
    <key>uni0716</key>
    <dict>
      <key>uni0713</key>
      <integer>-98</integer>
      <key>uni071B</key>
      <integer>-113</integer>
    </dict>
    <key>uni0716.Fina</key>
    <dict>
      <key>uni0709</key>
      <integer>-70</integer>
      <key>uni0713.Init</key>
      <integer>194</integer>
      <key>uni071B.Init</key>
      <integer>-98</integer>
      <key>uni0722</key>
      <integer>134</integer>
    </dict>
    <key>uni0717</key>
    <dict>
      <key>uni0710</key>
      <integer>-245</integer>
    </dict>
    <key>uni0718</key>
    <dict>
      <key>uni0709</key>
      <integer>-70</integer>
      <key>uni0710</key>
      <integer>-98</integer>
    </dict>
    <key>uni0718.Fina</key>
    <dict>
      <key>uni0710</key>
      <integer>-98</integer>
    </dict>
    <key>uni0719.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>127</integer>
      <key>uni0722</key>
      <integer>200</integer>
    </dict>
    <key>uni0721.Fina</key>
    <dict>
      <key>uni0702</key>
      <integer>-125</integer>
    </dict>
    <key>uni0721.Init</key>
    <dict>
      <key>uni0713.Fina</key>
      <integer>-196</integer>
      <key>uni071B.Fina</key>
      <integer>-386</integer>
      <key>uni071B.Medi</key>
      <integer>-351</integer>
      <key>uni071F.Fina</key>
      <integer>-225</integer>
    </dict>
    <key>uni0721.Medi</key>
    <dict>
      <key>uni0721.Init</key>
      <integer>-69</integer>
    </dict>
    <key>uni0722</key>
    <dict>
      <key>uni0702</key>
      <integer>43</integer>
      <key>uni0728</key>
      <integer>-230</integer>
    </dict>
    <key>uni0722.Fina</key>
    <dict>
      <key>uni0702</key>
      <integer>43</integer>
    </dict>
    <key>uni0722.Init</key>
    <dict>
      <key>uni0725.Medi</key>
      <integer>-33</integer>
    </dict>
    <key>uni0726.Init</key>
    <dict>
      <key>uni0713.Fina</key>
      <integer>-55</integer>
      <key>uni0728.Fina</key>
      <integer>-82</integer>
    </dict>
    <key>uni0728</key>
    <dict>
      <key>uni0710</key>
      <integer>-70</integer>
      <key>uni0722</key>
      <integer>-55</integer>
    </dict>
    <key>uni0728.Fina</key>
    <dict>
      <key>uni0710</key>
      <integer>-43</integer>
      <key>uni0713</key>
      <integer>120</integer>
      <key>uni0715</key>
      <integer>15</integer>
      <key>uni0716</key>
      <integer>62</integer>
      <key>uni0718</key>
      <integer>47</integer>
      <key>uni0719</key>
      <integer>47</integer>
      <key>uni071A.Init</key>
      <integer>28</integer>
      <key>uni071B</key>
      <integer>158</integer>
      <key>uni071D</key>
      <integer>45</integer>
      <key>uni071F</key>
      <integer>33</integer>
      <key>uni071F.Init</key>
      <integer>43</integer>
      <key>uni0720</key>
      <integer>28</integer>
      <key>uni0722</key>
      <integer>492</integer>
      <key>uni0725</key>
      <integer>87</integer>
      <key>uni0726</key>
      <integer>45</integer>
      <key>uni0727</key>
      <integer>92</integer>
      <key>uni0728</key>
      <integer>139</integer>
      <key>uni072C</key>
      <integer>28</integer>
      <key>uni074D</key>
      <integer>115</integer>
    </dict>
    <key>uni072A</key>
    <dict>
      <key>uni0718</key>
      <integer>-28</integer>
      <key>uni0720.Init</key>
      <integer>-28</integer>
      <key>uni0722</key>
      <integer>120</integer>
      <key>uni0722.Init</key>
      <integer>28</integer>
      <key>uni0725.Init</key>
      <integer>-125</integer>
      <key>uni0728</key>
      <integer>-98</integer>
      <key>uni072B.Init</key>
      <integer>-98</integer>
    </dict>
    <key>uni072B.Init</key>
    <dict>
      <key>uni071F.Fina</key>
      <integer>-113</integer>
    </dict>
    <key>uni072B.Medi</key>
    <dict>
      <key>uni0725.Medi</key>
      <integer>-82</integer>
    </dict>
    <key>uni072C.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>40</integer>
      <key>uni071B</key>
      <integer>43</integer>
      <key>uni0722</key>
      <integer>55</integer>
      <key>uni0725</key>
      <integer>43</integer>
    </dict>
    <key>uni072F</key>
    <dict>
      <key>uni0725.Init</key>
      <integer>28</integer>
      <key>uni0727.Init</key>
      <integer>70</integer>
      <key>uni074F</key>
      <integer>82</integer>
    </dict>
    <key>uni072F.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>43</integer>
      <key>uni0722</key>
      <integer>455</integer>
    </dict>
    <key>uni074D.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>177</integer>
      <key>uni0722</key>
      <integer>415</integer>
    </dict>
  </dict>
</plist>
