<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>northEastAndSouthWestArrow</key>
    <string>northE_astA_ndS_outhW_estA_rrow.glif</string>
    <key>northWestAndSouthEastArrow</key>
    <string>northW_estA_ndS_outhE_astA_rrow.glif</string>
  </dict>
</plist>
