<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1181</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>151</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.xHeight</key>
    <string>536</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>151</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ae.ns</string>
      <string>ae.ns_cecak.ns</string>
      <string>ae.ns_cecak.ns_layar.ns</string>
      <string>ae.ns_layar.ns</string>
      <string>ae.ns_panyangga.ns</string>
      <string>ae.ns_panyangga.ns_layar.ns</string>
      <string>aikara</string>
      <string>aikara.pas</string>
      <string>akara</string>
      <string>akara.pas</string>
      <string>ba</string>
      <string>ba.pas</string>
      <string>ba_cakra</string>
      <string>ba_cakra_u.ns</string>
      <string>bha</string>
      <string>bha.pas</string>
      <string>bha.pas.alt</string>
      <string>bha.pas_keret.ns</string>
      <string>bha.pas_pengkal</string>
      <string>bha.pas_pengkal_u.ns</string>
      <string>bha.pas_pengkal_uu.ns</string>
      <string>bha.pas_wa.pas</string>
      <string>bha_cakra</string>
      <string>bha_cakra_u.ns</string>
      <string>bha_keret</string>
      <string>bha_pengkal</string>
      <string>bha_pengkal_u.ns</string>
      <string>bha_pengkal_uu.ns</string>
      <string>bha_wa.pas</string>
      <string>ca</string>
      <string>ca.pas</string>
      <string>ca.pas.alt</string>
      <string>ca.pas_keret.ns</string>
      <string>ca.pas_pengkal</string>
      <string>ca.pas_pengkal_u.ns</string>
      <string>ca.pas_pengkal_uu.ns</string>
      <string>ca.pas_wa.pas</string>
      <string>ca_cakra</string>
      <string>ca_cakra_u.ns</string>
      <string>cakra</string>
      <string>cakra.ns</string>
      <string>cakra.pas</string>
      <string>cakra.pas.alt</string>
      <string>cecak.ns</string>
      <string>cecak.ns_layar.ns</string>
      <string>cecaktelu.ns</string>
      <string>cecaktelu.ns_ae.ns</string>
      <string>cecaktelu.ns_ae.ns_cecak.ns</string>
      <string>cecaktelu.ns_ae.ns_layar.ns</string>
      <string>cecaktelu.ns_ae.ns_panyangga.ns</string>
      <string>cecaktelu.ns_cecak.ns</string>
      <string>cecaktelu.ns_i.ns</string>
      <string>cecaktelu.ns_i.ns_cecak.ns</string>
      <string>cecaktelu.ns_i.ns_layar.ns</string>
      <string>cecaktelu.ns_i.ns_panyangga.ns</string>
      <string>cecaktelu.ns_ii.ns</string>
      <string>cecaktelu.ns_ii.ns_cecak.ns</string>
      <string>cecaktelu.ns_ii.ns_layar.ns</string>
      <string>cecaktelu.ns_ii.ns_panyangga.ns</string>
      <string>cecaktelu.ns_layar.ns</string>
      <string>cecaktelu.ns_panyangga.ns</string>
      <string>cha</string>
      <string>cha.pas</string>
      <string>cha.pas_keret.ns</string>
      <string>cha.pas_pengkal</string>
      <string>cha.pas_pengkal_u.ns</string>
      <string>cha.pas_pengkal_uu.ns</string>
      <string>cha.pas_u.ns</string>
      <string>cha.pas_uu.ns</string>
      <string>cha.pas_wa.pas</string>
      <string>da</string>
      <string>da.pas</string>
      <string>da.pas_cakra</string>
      <string>da.pas_cakra.ns</string>
      <string>da.pas_keret.ns</string>
      <string>da.pas_pengkal</string>
      <string>da.pas_pengkal_u.ns</string>
      <string>da.pas_pengkal_uu.ns</string>
      <string>da.pas_u.ns</string>
      <string>da.pas_uu.ns</string>
      <string>da.pas_wa.pas</string>
      <string>da_cakra</string>
      <string>da_cakra_u.ns</string>
      <string>dda</string>
      <string>dda.pas</string>
      <string>dda.pas.alt</string>
      <string>dda.pas_keret.ns</string>
      <string>dda.pas_pengkal</string>
      <string>dda.pas_pengkal_u.ns</string>
      <string>dda.pas_pengkal_uu.ns</string>
      <string>dda.pas_wa.pas</string>
      <string>dda_cakra</string>
      <string>dda_cakra_u.ns</string>
      <string>ddha</string>
      <string>ddha.pas</string>
      <string>dha</string>
      <string>dha.pas</string>
      <string>dha_cakra</string>
      <string>dha_cakra_u.ns</string>
      <string>dirgam</string>
      <string>eightJV</string>
      <string>ekara</string>
      <string>ekara.pas</string>
      <string>fiveJV</string>
      <string>fourJV</string>
      <string>ga</string>
      <string>ga.pas</string>
      <string>ga_cakra</string>
      <string>ga_cakra_u.ns</string>
      <string>gha</string>
      <string>gha.pas</string>
      <string>gha_cakra</string>
      <string>gha_cakra_u.ns</string>
      <string>ha</string>
      <string>ha.pas</string>
      <string>ha.pas_cakra</string>
      <string>ha.pas_cakra_u.ns</string>
      <string>ha_cakra</string>
      <string>ha_cakra_u.ns</string>
      <string>i.ns</string>
      <string>i.ns_cecak.ns</string>
      <string>i.ns_cecak.ns_layar.ns</string>
      <string>i.ns_layar.ns</string>
      <string>i.ns_panyangga.ns</string>
      <string>i.ns_panyangga.ns_layar.ns</string>
      <string>ii.ns</string>
      <string>ii.ns_cecak.ns</string>
      <string>ii.ns_cecak.ns_layar.ns</string>
      <string>ii.ns_layar.ns</string>
      <string>ii.ns_panyangga.ns</string>
      <string>ii.ns_panyangga.ns_layar.ns</string>
      <string>iikara</string>
      <string>iikara.pas</string>
      <string>ikara</string>
      <string>ikara.pas</string>
      <string>ikawi</string>
      <string>ikawi.pas</string>
      <string>ja</string>
      <string>ja.pas</string>
      <string>ja.pas.alt</string>
      <string>ja.pas_keret.ns</string>
      <string>ja.pas_pengkal</string>
      <string>ja.pas_pengkal_u.ns</string>
      <string>ja.pas_pengkal_uu.ns</string>
      <string>ja.pas_wa.pas</string>
      <string>ja_cakra</string>
      <string>ja_cakra_u.ns</string>
      <string>ja_keret</string>
      <string>ja_pengkal</string>
      <string>ja_pengkal_u.ns</string>
      <string>ja_pengkal_uu.ns</string>
      <string>ja_wa.pas</string>
      <string>jha</string>
      <string>jha.alt</string>
      <string>jha.alt1</string>
      <string>jha.pas</string>
      <string>jha.pas.alt</string>
      <string>jha.pas.alt1</string>
      <string>jha.pas_pengkal</string>
      <string>jha.pas_wa.pas</string>
      <string>jha_keret</string>
      <string>jha_pengkal</string>
      <string>jha_pengkal_u.ns</string>
      <string>jha_pengkal_uu.ns</string>
      <string>jha_wa.pas</string>
      <string>jnya</string>
      <string>jnya.pas</string>
      <string>jnya.pas.alt</string>
      <string>jnya.pas_keret.ns</string>
      <string>jnya.pas_pengkal</string>
      <string>jnya.pas_pengkal_u.ns</string>
      <string>jnya.pas_pengkal_uu.ns</string>
      <string>jnya.pas_wa.pas</string>
      <string>jnya_cakra</string>
      <string>jnya_cakra_u.ns</string>
      <string>jnya_keret</string>
      <string>jnya_pengkal</string>
      <string>jnya_pengkal_u.ns</string>
      <string>jnya_pengkal_uu.ns</string>
      <string>jnya_wa.pas</string>
      <string>ka</string>
      <string>ka.pas</string>
      <string>ka.pas.alt</string>
      <string>ka.pas_cakra</string>
      <string>ka.pas_cakra.ns</string>
      <string>ka_cakra</string>
      <string>ka_cakra_u.ns</string>
      <string>keret.ns</string>
      <string>keret.ns.alt</string>
      <string>kha</string>
      <string>kha.pas</string>
      <string>kha_pengkal</string>
      <string>kha_pengkal_u.ns</string>
      <string>kha_pengkal_uu.ns</string>
      <string>la</string>
      <string>la.pas</string>
      <string>la.pas.alt</string>
      <string>la.pas1</string>
      <string>la.pas_cakra</string>
      <string>la.pas_cakra.ns</string>
      <string>la_cakra</string>
      <string>la_cakra_u.ns</string>
      <string>layar.ns</string>
      <string>ma</string>
      <string>ma.pas</string>
      <string>ma.pas.alt</string>
      <string>ma.pas_keret.ns</string>
      <string>ma.pas_pengkal</string>
      <string>ma.pas_pengkal_u.ns</string>
      <string>ma.pas_pengkal_uu.ns</string>
      <string>ma.pas_wa.pas</string>
      <string>ma_cakra</string>
      <string>ma_cakra_u.ns</string>
      <string>na</string>
      <string>na.pas</string>
      <string>na.pas.alt</string>
      <string>na.pas_keret.ns</string>
      <string>na.pas_pengkal</string>
      <string>na.pas_pengkal_u.ns</string>
      <string>na.pas_pengkal_uu.ns</string>
      <string>na.pas_wa.pas</string>
      <string>na_cakra</string>
      <string>na_cakra_u.ns</string>
      <string>nbspace</string>
      <string>nga</string>
      <string>nga.pas</string>
      <string>nga_cakra</string>
      <string>nga_cakra_u.ns</string>
      <string>ngalelet</string>
      <string>ngalelet.pas</string>
      <string>ngaleletras</string>
      <string>ngaleletras.pas</string>
      <string>nineJV</string>
      <string>nna</string>
      <string>nna.pas</string>
      <string>nna_cakra</string>
      <string>nna_cakra_u.ns</string>
      <string>nya</string>
      <string>nya.pas</string>
      <string>nya.pas.alt</string>
      <string>nya.pas.alt1</string>
      <string>nya.pas.var</string>
      <string>nya.pas_pengkal</string>
      <string>nya.pas_wa.pas</string>
      <string>okara</string>
      <string>okara.pas</string>
      <string>om_javanese</string>
      <string>oneJV</string>
      <string>pa</string>
      <string>pa.pas</string>
      <string>pa.pas_cakra</string>
      <string>pa.pas_cakra_u.ns</string>
      <string>pa_cakra</string>
      <string>pa_cakra_u.ns</string>
      <string>pacerek</string>
      <string>pacerek.pas</string>
      <string>pangkon</string>
      <string>panyangga.ns</string>
      <string>panyangga.ns_layar.ns</string>
      <string>pengkal</string>
      <string>pengkal.alt1</string>
      <string>pengkal.alt1_u.ns</string>
      <string>pengkal.alt1_uu.ns</string>
      <string>pengkal.alt_u.ns</string>
      <string>pengkal.alt_uu.ns</string>
      <string>pengkal.pas</string>
      <string>pengkal.pas.alt1</string>
      <string>pengkal.pas.alt1_u.ns</string>
      <string>pengkal.pas.alt1_uu.ns</string>
      <string>pengkal.pas.alt_u.ns</string>
      <string>pengkal.pas.alt_uu.ns</string>
      <string>pha</string>
      <string>pha.pas</string>
      <string>pha.pas.alt</string>
      <string>pha.pas_cakra</string>
      <string>pha.pas_cakra_u.ns</string>
      <string>pha.pas_keret.ns</string>
      <string>pha.pas_pengkal</string>
      <string>pha.pas_pengkal_u.ns</string>
      <string>pha.pas_pengkal_uu.ns</string>
      <string>pha.pas_wa.pas</string>
      <string>pha_cakra</string>
      <string>pha_cakra_u.ns</string>
      <string>pha_keret</string>
      <string>pha_pengkal</string>
      <string>pha_pengkal_u.ns</string>
      <string>pha_pengkal_uu.ns</string>
      <string>pha_wa.pas</string>
      <string>qa</string>
      <string>qa.pas</string>
      <string>qa.pas.alt</string>
      <string>qa.pas_cakra</string>
      <string>qa.pas_cakra.ns</string>
      <string>qa_cakra</string>
      <string>qa_cakra_u.ns</string>
      <string>ra</string>
      <string>ra.pas</string>
      <string>ra_cakra</string>
      <string>ra_cakra_u.ns</string>
      <string>raagung</string>
      <string>raagung.pas</string>
      <string>sa</string>
      <string>sa.pas</string>
      <string>sa.pas_cakra</string>
      <string>sa.pas_cakra_u.ns</string>
      <string>sa_cakra</string>
      <string>sa_cakra_u.ns</string>
      <string>sevenJV</string>
      <string>sha</string>
      <string>sha.pas</string>
      <string>sha_cakra</string>
      <string>sha_cakra_u.ns</string>
      <string>sixJV</string>
      <string>space</string>
      <string>ssa</string>
      <string>ssa.pas</string>
      <string>ssa.pas.var</string>
      <string>ssa_cakra</string>
      <string>ssa_cakra_u.ns</string>
      <string>ta</string>
      <string>ta.pas</string>
      <string>ta.pas.alt</string>
      <string>ta.pas_cakra</string>
      <string>ta.pas_cakra.ns</string>
      <string>ta_cakra</string>
      <string>ta_cakra_u.ns</string>
      <string>taling</string>
      <string>tarung</string>
      <string>tha</string>
      <string>tha.pas</string>
      <string>tha.pas.alt</string>
      <string>tha.pas_keret.ns</string>
      <string>tha.pas_pengkal</string>
      <string>tha.pas_pengkal_u.ns</string>
      <string>tha.pas_pengkal_uu.ns</string>
      <string>tha.pas_wa.pas</string>
      <string>tha_cakra</string>
      <string>tha_cakra_u.ns</string>
      <string>threeJV</string>
      <string>tolong</string>
      <string>tta</string>
      <string>tta.pas</string>
      <string>tta.pas.alt</string>
      <string>tta.pas_keret.ns</string>
      <string>tta.pas_pengkal</string>
      <string>tta.pas_pengkal_u.ns</string>
      <string>tta.pas_pengkal_uu.ns</string>
      <string>tta.pas_wa.pas</string>
      <string>tta_cakra</string>
      <string>tta_cakra_u.ns</string>
      <string>ttha</string>
      <string>ttha.pas</string>
      <string>ttha.pas.alt</string>
      <string>ttha.pas_keret.ns</string>
      <string>ttha.pas_pengkal</string>
      <string>ttha.pas_pengkal_u.ns</string>
      <string>ttha.pas_pengkal_uu.ns</string>
      <string>ttha.pas_wa.pas</string>
      <string>ttha_cakra</string>
      <string>ttha_cakra_u.ns</string>
      <string>twoJV</string>
      <string>u.ns</string>
      <string>u.ns.pas</string>
      <string>ukara</string>
      <string>ukara.pas</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA9C1</string>
      <string>uniA9C2</string>
      <string>uniA9C3</string>
      <string>uniA9C4</string>
      <string>uniA9C5</string>
      <string>uniA9C6</string>
      <string>uniA9C7</string>
      <string>uniA9C8</string>
      <string>uniA9C9</string>
      <string>uniA9CA</string>
      <string>uniA9CB</string>
      <string>uniA9CC</string>
      <string>uniA9CD</string>
      <string>uniA9CF</string>
      <string>uniA9DE</string>
      <string>uniA9DF</string>
      <string>uu.ns</string>
      <string>uu.ns.pas</string>
      <string>wa</string>
      <string>wa.pas</string>
      <string>wa.pas.alt</string>
      <string>wa.pas1</string>
      <string>wa.pas_keret.ns</string>
      <string>wa.pas_pengkal</string>
      <string>wa.pas_pengkal_u.ns</string>
      <string>wa.pas_pengkal_uu.ns</string>
      <string>wa.pas_wa.pas</string>
      <string>wa_cakra</string>
      <string>wa_cakra_u.ns</string>
      <string>wignyan</string>
      <string>ya</string>
      <string>ya.pas</string>
      <string>zeroJV</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ae.ns</string>
      <string>ae.ns_cecak.ns</string>
      <string>ae.ns_cecak.ns_layar.ns</string>
      <string>ae.ns_layar.ns</string>
      <string>ae.ns_panyangga.ns</string>
      <string>ae.ns_panyangga.ns_layar.ns</string>
      <string>aikara</string>
      <string>aikara.pas</string>
      <string>akara</string>
      <string>akara.pas</string>
      <string>ba</string>
      <string>ba.pas</string>
      <string>ba_cakra</string>
      <string>ba_cakra_u.ns</string>
      <string>bha</string>
      <string>bha.pas</string>
      <string>bha.pas.alt</string>
      <string>bha.pas_keret.ns</string>
      <string>bha.pas_pengkal</string>
      <string>bha.pas_pengkal_u.ns</string>
      <string>bha.pas_pengkal_uu.ns</string>
      <string>bha.pas_wa.pas</string>
      <string>bha_cakra</string>
      <string>bha_cakra_u.ns</string>
      <string>bha_keret</string>
      <string>bha_pengkal</string>
      <string>bha_pengkal_u.ns</string>
      <string>bha_pengkal_uu.ns</string>
      <string>bha_wa.pas</string>
      <string>ca</string>
      <string>ca.pas</string>
      <string>ca.pas.alt</string>
      <string>ca.pas_keret.ns</string>
      <string>ca.pas_pengkal</string>
      <string>ca.pas_pengkal_u.ns</string>
      <string>ca.pas_pengkal_uu.ns</string>
      <string>ca.pas_wa.pas</string>
      <string>ca_cakra</string>
      <string>ca_cakra_u.ns</string>
      <string>cakra</string>
      <string>cakra.ns</string>
      <string>cakra.pas</string>
      <string>cakra.pas.alt</string>
      <string>cecak.ns</string>
      <string>cecak.ns_layar.ns</string>
      <string>cecaktelu.ns</string>
      <string>cecaktelu.ns_ae.ns</string>
      <string>cecaktelu.ns_ae.ns_cecak.ns</string>
      <string>cecaktelu.ns_ae.ns_layar.ns</string>
      <string>cecaktelu.ns_ae.ns_panyangga.ns</string>
      <string>cecaktelu.ns_cecak.ns</string>
      <string>cecaktelu.ns_i.ns</string>
      <string>cecaktelu.ns_i.ns_cecak.ns</string>
      <string>cecaktelu.ns_i.ns_layar.ns</string>
      <string>cecaktelu.ns_i.ns_panyangga.ns</string>
      <string>cecaktelu.ns_ii.ns</string>
      <string>cecaktelu.ns_ii.ns_cecak.ns</string>
      <string>cecaktelu.ns_ii.ns_layar.ns</string>
      <string>cecaktelu.ns_ii.ns_panyangga.ns</string>
      <string>cecaktelu.ns_layar.ns</string>
      <string>cecaktelu.ns_panyangga.ns</string>
      <string>cha</string>
      <string>cha.pas</string>
      <string>cha.pas_keret.ns</string>
      <string>cha.pas_pengkal</string>
      <string>cha.pas_pengkal_u.ns</string>
      <string>cha.pas_pengkal_uu.ns</string>
      <string>cha.pas_u.ns</string>
      <string>cha.pas_uu.ns</string>
      <string>cha.pas_wa.pas</string>
      <string>da</string>
      <string>da.pas</string>
      <string>da.pas_cakra</string>
      <string>da.pas_cakra.ns</string>
      <string>da.pas_keret.ns</string>
      <string>da.pas_pengkal</string>
      <string>da.pas_pengkal_u.ns</string>
      <string>da.pas_pengkal_uu.ns</string>
      <string>da.pas_u.ns</string>
      <string>da.pas_uu.ns</string>
      <string>da.pas_wa.pas</string>
      <string>da_cakra</string>
      <string>da_cakra_u.ns</string>
      <string>dda</string>
      <string>dda.pas</string>
      <string>dda.pas.alt</string>
      <string>dda.pas_keret.ns</string>
      <string>dda.pas_pengkal</string>
      <string>dda.pas_pengkal_u.ns</string>
      <string>dda.pas_pengkal_uu.ns</string>
      <string>dda.pas_wa.pas</string>
      <string>dda_cakra</string>
      <string>dda_cakra_u.ns</string>
      <string>ddha</string>
      <string>ddha.pas</string>
      <string>dha</string>
      <string>dha.pas</string>
      <string>dha_cakra</string>
      <string>dha_cakra_u.ns</string>
      <string>dirgam</string>
      <string>eightJV</string>
      <string>ekara</string>
      <string>ekara.pas</string>
      <string>fiveJV</string>
      <string>fourJV</string>
      <string>ga</string>
      <string>ga.pas</string>
      <string>ga_cakra</string>
      <string>ga_cakra_u.ns</string>
      <string>gha</string>
      <string>gha.pas</string>
      <string>gha_cakra</string>
      <string>gha_cakra_u.ns</string>
      <string>ha</string>
      <string>ha.pas</string>
      <string>ha.pas_cakra</string>
      <string>ha.pas_cakra_u.ns</string>
      <string>ha_cakra</string>
      <string>ha_cakra_u.ns</string>
      <string>i.ns</string>
      <string>i.ns_cecak.ns</string>
      <string>i.ns_cecak.ns_layar.ns</string>
      <string>i.ns_layar.ns</string>
      <string>i.ns_panyangga.ns</string>
      <string>i.ns_panyangga.ns_layar.ns</string>
      <string>ii.ns</string>
      <string>ii.ns_cecak.ns</string>
      <string>ii.ns_cecak.ns_layar.ns</string>
      <string>ii.ns_layar.ns</string>
      <string>ii.ns_panyangga.ns</string>
      <string>ii.ns_panyangga.ns_layar.ns</string>
      <string>iikara</string>
      <string>iikara.pas</string>
      <string>ikara</string>
      <string>ikara.pas</string>
      <string>ikawi</string>
      <string>ikawi.pas</string>
      <string>ja</string>
      <string>ja.pas</string>
      <string>ja.pas.alt</string>
      <string>ja.pas_keret.ns</string>
      <string>ja.pas_pengkal</string>
      <string>ja.pas_pengkal_u.ns</string>
      <string>ja.pas_pengkal_uu.ns</string>
      <string>ja.pas_wa.pas</string>
      <string>ja_cakra</string>
      <string>ja_cakra_u.ns</string>
      <string>ja_keret</string>
      <string>ja_pengkal</string>
      <string>ja_pengkal_u.ns</string>
      <string>ja_pengkal_uu.ns</string>
      <string>ja_wa.pas</string>
      <string>jha</string>
      <string>jha.alt</string>
      <string>jha.alt1</string>
      <string>jha.pas</string>
      <string>jha.pas.alt</string>
      <string>jha.pas.alt1</string>
      <string>jha.pas_pengkal</string>
      <string>jha.pas_wa.pas</string>
      <string>jha_keret</string>
      <string>jha_pengkal</string>
      <string>jha_pengkal_u.ns</string>
      <string>jha_pengkal_uu.ns</string>
      <string>jha_wa.pas</string>
      <string>jnya</string>
      <string>jnya.pas</string>
      <string>jnya.pas.alt</string>
      <string>jnya.pas_keret.ns</string>
      <string>jnya.pas_pengkal</string>
      <string>jnya.pas_pengkal_u.ns</string>
      <string>jnya.pas_pengkal_uu.ns</string>
      <string>jnya.pas_wa.pas</string>
      <string>jnya_cakra</string>
      <string>jnya_cakra_u.ns</string>
      <string>jnya_keret</string>
      <string>jnya_pengkal</string>
      <string>jnya_pengkal_u.ns</string>
      <string>jnya_pengkal_uu.ns</string>
      <string>jnya_wa.pas</string>
      <string>ka</string>
      <string>ka.pas</string>
      <string>ka.pas.alt</string>
      <string>ka.pas_cakra</string>
      <string>ka.pas_cakra.ns</string>
      <string>ka_cakra</string>
      <string>ka_cakra_u.ns</string>
      <string>keret.ns</string>
      <string>keret.ns.alt</string>
      <string>kha</string>
      <string>kha.pas</string>
      <string>kha_pengkal</string>
      <string>kha_pengkal_u.ns</string>
      <string>kha_pengkal_uu.ns</string>
      <string>la</string>
      <string>la.pas</string>
      <string>la.pas.alt</string>
      <string>la.pas1</string>
      <string>la.pas_cakra</string>
      <string>la.pas_cakra.ns</string>
      <string>la_cakra</string>
      <string>la_cakra_u.ns</string>
      <string>layar.ns</string>
      <string>ma</string>
      <string>ma.pas</string>
      <string>ma.pas.alt</string>
      <string>ma.pas_keret.ns</string>
      <string>ma.pas_pengkal</string>
      <string>ma.pas_pengkal_u.ns</string>
      <string>ma.pas_pengkal_uu.ns</string>
      <string>ma.pas_wa.pas</string>
      <string>ma_cakra</string>
      <string>ma_cakra_u.ns</string>
      <string>na</string>
      <string>na.pas</string>
      <string>na.pas.alt</string>
      <string>na.pas_keret.ns</string>
      <string>na.pas_pengkal</string>
      <string>na.pas_pengkal_u.ns</string>
      <string>na.pas_pengkal_uu.ns</string>
      <string>na.pas_wa.pas</string>
      <string>na_cakra</string>
      <string>na_cakra_u.ns</string>
      <string>nbspace</string>
      <string>nga</string>
      <string>nga.pas</string>
      <string>nga_cakra</string>
      <string>nga_cakra_u.ns</string>
      <string>ngalelet</string>
      <string>ngalelet.pas</string>
      <string>ngaleletras</string>
      <string>ngaleletras.pas</string>
      <string>nineJV</string>
      <string>nna</string>
      <string>nna.pas</string>
      <string>nna_cakra</string>
      <string>nna_cakra_u.ns</string>
      <string>nya</string>
      <string>nya.pas</string>
      <string>nya.pas.alt</string>
      <string>nya.pas.alt1</string>
      <string>nya.pas.var</string>
      <string>nya.pas_pengkal</string>
      <string>nya.pas_wa.pas</string>
      <string>okara</string>
      <string>okara.pas</string>
      <string>om_javanese</string>
      <string>oneJV</string>
      <string>pa</string>
      <string>pa.pas</string>
      <string>pa.pas_cakra</string>
      <string>pa.pas_cakra_u.ns</string>
      <string>pa_cakra</string>
      <string>pa_cakra_u.ns</string>
      <string>pacerek</string>
      <string>pacerek.pas</string>
      <string>pangkon</string>
      <string>panyangga.ns</string>
      <string>panyangga.ns_layar.ns</string>
      <string>pengkal</string>
      <string>pengkal.alt1</string>
      <string>pengkal.alt1_u.ns</string>
      <string>pengkal.alt1_uu.ns</string>
      <string>pengkal.alt_u.ns</string>
      <string>pengkal.alt_uu.ns</string>
      <string>pengkal.pas</string>
      <string>pengkal.pas.alt1</string>
      <string>pengkal.pas.alt1_u.ns</string>
      <string>pengkal.pas.alt1_uu.ns</string>
      <string>pengkal.pas.alt_u.ns</string>
      <string>pengkal.pas.alt_uu.ns</string>
      <string>pha</string>
      <string>pha.pas</string>
      <string>pha.pas.alt</string>
      <string>pha.pas_cakra</string>
      <string>pha.pas_cakra_u.ns</string>
      <string>pha.pas_keret.ns</string>
      <string>pha.pas_pengkal</string>
      <string>pha.pas_pengkal_u.ns</string>
      <string>pha.pas_pengkal_uu.ns</string>
      <string>pha.pas_wa.pas</string>
      <string>pha_cakra</string>
      <string>pha_cakra_u.ns</string>
      <string>pha_keret</string>
      <string>pha_pengkal</string>
      <string>pha_pengkal_u.ns</string>
      <string>pha_pengkal_uu.ns</string>
      <string>pha_wa.pas</string>
      <string>qa</string>
      <string>qa.pas</string>
      <string>qa.pas.alt</string>
      <string>qa.pas_cakra</string>
      <string>qa.pas_cakra.ns</string>
      <string>qa_cakra</string>
      <string>qa_cakra_u.ns</string>
      <string>ra</string>
      <string>ra.pas</string>
      <string>ra_cakra</string>
      <string>ra_cakra_u.ns</string>
      <string>raagung</string>
      <string>raagung.pas</string>
      <string>sa</string>
      <string>sa.pas</string>
      <string>sa.pas_cakra</string>
      <string>sa.pas_cakra_u.ns</string>
      <string>sa_cakra</string>
      <string>sa_cakra_u.ns</string>
      <string>sevenJV</string>
      <string>sha</string>
      <string>sha.pas</string>
      <string>sha_cakra</string>
      <string>sha_cakra_u.ns</string>
      <string>sixJV</string>
      <string>space</string>
      <string>ssa</string>
      <string>ssa.pas</string>
      <string>ssa.pas.var</string>
      <string>ssa_cakra</string>
      <string>ssa_cakra_u.ns</string>
      <string>ta</string>
      <string>ta.pas</string>
      <string>ta.pas.alt</string>
      <string>ta.pas_cakra</string>
      <string>ta.pas_cakra.ns</string>
      <string>ta_cakra</string>
      <string>ta_cakra_u.ns</string>
      <string>taling</string>
      <string>tarung</string>
      <string>tha</string>
      <string>tha.pas</string>
      <string>tha.pas.alt</string>
      <string>tha.pas_keret.ns</string>
      <string>tha.pas_pengkal</string>
      <string>tha.pas_pengkal_u.ns</string>
      <string>tha.pas_pengkal_uu.ns</string>
      <string>tha.pas_wa.pas</string>
      <string>tha_cakra</string>
      <string>tha_cakra_u.ns</string>
      <string>threeJV</string>
      <string>tolong</string>
      <string>tta</string>
      <string>tta.pas</string>
      <string>tta.pas.alt</string>
      <string>tta.pas_keret.ns</string>
      <string>tta.pas_pengkal</string>
      <string>tta.pas_pengkal_u.ns</string>
      <string>tta.pas_pengkal_uu.ns</string>
      <string>tta.pas_wa.pas</string>
      <string>tta_cakra</string>
      <string>tta_cakra_u.ns</string>
      <string>ttha</string>
      <string>ttha.pas</string>
      <string>ttha.pas.alt</string>
      <string>ttha.pas_keret.ns</string>
      <string>ttha.pas_pengkal</string>
      <string>ttha.pas_pengkal_u.ns</string>
      <string>ttha.pas_pengkal_uu.ns</string>
      <string>ttha.pas_wa.pas</string>
      <string>ttha_cakra</string>
      <string>ttha_cakra_u.ns</string>
      <string>twoJV</string>
      <string>u.ns</string>
      <string>u.ns.pas</string>
      <string>ukara</string>
      <string>ukara.pas</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA9C1</string>
      <string>uniA9C2</string>
      <string>uniA9C3</string>
      <string>uniA9C4</string>
      <string>uniA9C5</string>
      <string>uniA9C6</string>
      <string>uniA9C7</string>
      <string>uniA9C8</string>
      <string>uniA9C9</string>
      <string>uniA9CA</string>
      <string>uniA9CB</string>
      <string>uniA9CC</string>
      <string>uniA9CD</string>
      <string>uniA9CF</string>
      <string>uniA9DE</string>
      <string>uniA9DF</string>
      <string>uu.ns</string>
      <string>uu.ns.pas</string>
      <string>wa</string>
      <string>wa.pas</string>
      <string>wa.pas.alt</string>
      <string>wa.pas1</string>
      <string>wa.pas_keret.ns</string>
      <string>wa.pas_pengkal</string>
      <string>wa.pas_pengkal_u.ns</string>
      <string>wa.pas_pengkal_uu.ns</string>
      <string>wa.pas_wa.pas</string>
      <string>wa_cakra</string>
      <string>wa_cakra_u.ns</string>
      <string>wignyan</string>
      <string>ya</string>
      <string>ya.pas</string>
      <string>zeroJV</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
