<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.paren</key>
    <string>A_.paren.glif</string>
    <key>B.paren</key>
    <string>B_.paren.glif</string>
    <key>C.paren</key>
    <string>C_.paren.glif</string>
    <key>D.paren</key>
    <string>D_.paren.glif</string>
    <key>E.paren</key>
    <string>E_.paren.glif</string>
    <key>F.paren</key>
    <string>F_.paren.glif</string>
    <key>G.paren</key>
    <string>G_.paren.glif</string>
    <key>H.paren</key>
    <string>H_.paren.glif</string>
    <key>I.paren</key>
    <string>I_.paren.glif</string>
    <key>J.paren</key>
    <string>J_.paren.glif</string>
    <key>K.paren</key>
    <string>K_.paren.glif</string>
    <key>L.paren</key>
    <string>L_.paren.glif</string>
    <key>M.paren</key>
    <string>M_.paren.glif</string>
    <key>N.paren</key>
    <string>N_.paren.glif</string>
    <key>O.paren</key>
    <string>O_.paren.glif</string>
    <key>P.paren</key>
    <string>P_.paren.glif</string>
    <key>Q.paren</key>
    <string>Q_.paren.glif</string>
    <key>R.paren</key>
    <string>R_.paren.glif</string>
    <key>S.paren</key>
    <string>S_.paren.glif</string>
    <key>T.paren</key>
    <string>T_.paren.glif</string>
    <key>U.paren</key>
    <string>U_.paren.glif</string>
    <key>V.paren</key>
    <string>V_.paren.glif</string>
    <key>W.paren</key>
    <string>W_.paren.glif</string>
    <key>X.paren</key>
    <string>X_.paren.glif</string>
    <key>Y.paren</key>
    <string>Y_.paren.glif</string>
    <key>Z.paren</key>
    <string>Z_.paren.glif</string>
    <key>u1f12a</key>
    <string>u1f12a.glif</string>
  </dict>
</plist>
