<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
    </array>
    <key>public.kern1.Epsilon</key>
    <array>
      <string>Epsilon</string>
    </array>
    <key>public.kern1.Eta</key>
    <array>
      <string>Eta</string>
    </array>
    <key>public.kern1.Gamma</key>
    <array>
      <string>Gamma</string>
      <string>Tau</string>
    </array>
    <key>public.kern1.Iota</key>
    <array>
      <string>Iota</string>
    </array>
    <key>public.kern1.Kappa</key>
    <array>
      <string>Kappa</string>
      <string>Chi</string>
    </array>
    <key>public.kern1.Rho</key>
    <array>
      <string>Rho</string>
    </array>
    <key>public.kern1.Theta</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Upsilon</string>
    </array>
    <key>public.kern1.uni03A9</key>
    <array>
      <string>Omega</string>
    </array>
    <key>public.kern2.Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
    </array>
    <key>public.kern2.Iota</key>
    <array>
      <string>Iota</string>
    </array>
    <key>public.kern2.Theta</key>
    <array>
      <string>Theta</string>
      <string>Omicron</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Upsilon</string>
    </array>
  </dict>
</plist>
