<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.FontWorker_GPOS</key>
    <string>NotoElbasan-Regular_GPOS.txt</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Alpha</string>
      <string>Beta</string>
      <string>CR</string>
      <string>Chi</string>
      <string>Delta</string>
      <string>Epsilon</string>
      <string>Eta</string>
      <string>Gamma</string>
      <string>Iota</string>
      <string>Kappa</string>
      <string>Lambda</string>
      <string>Mu</string>
      <string>NULL</string>
      <string>Nu</string>
      <string>Omega</string>
      <string>Omicron</string>
      <string>Phi</string>
      <string>Pi</string>
      <string>Psi</string>
      <string>Rho</string>
      <string>Sigma</string>
      <string>Tau</string>
      <string>Theta</string>
      <string>Upsilon</string>
      <string>Xi</string>
      <string>Zeta</string>
      <string>overlinecmb</string>
      <string>overlinecmb.w1</string>
      <string>overlinecmb.w2</string>
      <string>overlinecmb.w3</string>
      <string>overlinecmb.w4</string>
      <string>periodcentered</string>
      <string>space</string>
      <string>u10500</string>
      <string>u10501</string>
      <string>u10502</string>
      <string>u10503</string>
      <string>u10504</string>
      <string>u10505</string>
      <string>u10506</string>
      <string>u10507</string>
      <string>u10508</string>
      <string>u10509</string>
      <string>u1050A</string>
      <string>u1050B</string>
      <string>u1050C</string>
      <string>u1050D</string>
      <string>u1050E</string>
      <string>u1050F</string>
      <string>u10510</string>
      <string>u10511</string>
      <string>u10512</string>
      <string>u10513</string>
      <string>u10514</string>
      <string>u10515</string>
      <string>u10516</string>
      <string>u10517</string>
      <string>u10518</string>
      <string>u10519</string>
      <string>u1051A</string>
      <string>u1051B</string>
      <string>u1051C</string>
      <string>u1051D</string>
      <string>u1051E</string>
      <string>u1051F</string>
      <string>u10520</string>
      <string>u10521</string>
      <string>u10522</string>
      <string>u10523</string>
      <string>u10524</string>
      <string>u10525</string>
      <string>u10526</string>
      <string>u10527</string>
      <string>uni00A0</string>
      <string>uni03DA</string>
      <string>uni03DC</string>
      <string>uni03DE</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
