<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1B00</key>
    <string>uni1B_00.glif</string>
    <key>uni1B01</key>
    <string>uni1B_01.glif</string>
    <key>uni1B02</key>
    <string>uni1B_02.glif</string>
    <key>uni1B03</key>
    <string>uni1B_03.glif</string>
    <key>uni1B04</key>
    <string>uni1B_04.glif</string>
    <key>uni1B05</key>
    <string>uni1B_05.glif</string>
    <key>uni1B06</key>
    <string>uni1B_06.glif</string>
    <key>uni1B07</key>
    <string>uni1B_07.glif</string>
    <key>uni1B08</key>
    <string>uni1B_08.glif</string>
    <key>uni1B09</key>
    <string>uni1B_09.glif</string>
    <key>uni1B0A</key>
    <string>uni1B_0A_.glif</string>
    <key>uni1B0B</key>
    <string>uni1B_0B_.glif</string>
    <key>uni1B0B.sub</key>
    <string>uni1B_0B_.sub.glif</string>
    <key>uni1B0C</key>
    <string>uni1B_0C_.glif</string>
    <key>uni1B0D</key>
    <string>uni1B_0D_.glif</string>
    <key>uni1B0E</key>
    <string>uni1B_0E_.glif</string>
    <key>uni1B0F</key>
    <string>uni1B_0F_.glif</string>
    <key>uni1B10</key>
    <string>uni1B_10.glif</string>
    <key>uni1B11</key>
    <string>uni1B_11.glif</string>
    <key>uni1B12</key>
    <string>uni1B_12.glif</string>
    <key>uni1B13</key>
    <string>uni1B_13.glif</string>
    <key>uni1B13.sub</key>
    <string>uni1B_13.sub.glif</string>
    <key>uni1B131B35</key>
    <string>uni1B_131B_35.glif</string>
    <key>uni1B14</key>
    <string>uni1B_14.glif</string>
    <key>uni1B14.sub</key>
    <string>uni1B_14.sub.glif</string>
    <key>uni1B15</key>
    <string>uni1B_15.glif</string>
    <key>uni1B15.sub</key>
    <string>uni1B_15.sub.glif</string>
    <key>uni1B16</key>
    <string>uni1B_16.glif</string>
    <key>uni1B16.sub</key>
    <string>uni1B_16.sub.glif</string>
    <key>uni1B16.sub.u</key>
    <string>uni1B_16.sub.u.glif</string>
    <key>uni1B16.sub.uu</key>
    <string>uni1B_16.sub.uu.glif</string>
    <key>uni1B161B35</key>
    <string>uni1B_161B_35.glif</string>
    <key>uni1B17</key>
    <string>uni1B_17.glif</string>
    <key>uni1B17.sub</key>
    <string>uni1B_17.sub.glif</string>
    <key>uni1B18</key>
    <string>uni1B_18.glif</string>
    <key>uni1B18.sub</key>
    <string>uni1B_18.sub.glif</string>
    <key>uni1B181B35</key>
    <string>uni1B_181B_35.glif</string>
    <key>uni1B19</key>
    <string>uni1B_19.glif</string>
    <key>uni1B19.sub</key>
    <string>uni1B_19.sub.glif</string>
    <key>uni1B1A</key>
    <string>uni1B_1A_.glif</string>
    <key>uni1B1A.sub</key>
    <string>uni1B_1A_.sub.glif</string>
    <key>uni1B1B</key>
    <string>uni1B_1B_.glif</string>
    <key>uni1B1B.alt</key>
    <string>uni1B_1B_.alt.glif</string>
    <key>uni1B1B.sub</key>
    <string>uni1B_1B_.sub.glif</string>
    <key>uni1B1B.sub.alt</key>
    <string>uni1B_1B_.sub.alt.glif</string>
    <key>uni1B1C</key>
    <string>uni1B_1C_.glif</string>
    <key>uni1B1C.sub</key>
    <string>uni1B_1C_.sub.glif</string>
    <key>uni1B1D</key>
    <string>uni1B_1D_.glif</string>
    <key>uni1B1D.sub</key>
    <string>uni1B_1D_.sub.glif</string>
    <key>uni1B1E</key>
    <string>uni1B_1E_.glif</string>
    <key>uni1B1E.sub</key>
    <string>uni1B_1E_.sub.glif</string>
    <key>uni1B1F</key>
    <string>uni1B_1F_.glif</string>
    <key>uni1B1F.sub</key>
    <string>uni1B_1F_.sub.glif</string>
    <key>uni1B20</key>
    <string>uni1B_20.glif</string>
    <key>uni1B20.sub</key>
    <string>uni1B_20.sub.glif</string>
    <key>uni1B21</key>
    <string>uni1B_21.glif</string>
    <key>uni1B21.sub</key>
    <string>uni1B_21.sub.glif</string>
    <key>uni1B21.sub.u</key>
    <string>uni1B_21.sub.u.glif</string>
    <key>uni1B21.sub.uu</key>
    <string>uni1B_21.sub.uu.glif</string>
    <key>uni1B22</key>
    <string>uni1B_22.glif</string>
    <key>uni1B22.sub</key>
    <string>uni1B_22.sub.glif</string>
    <key>uni1B221B35</key>
    <string>uni1B_221B_35.glif</string>
    <key>uni1B23</key>
    <string>uni1B_23.glif</string>
    <key>uni1B23.sub</key>
    <string>uni1B_23.sub.glif</string>
    <key>uni1B24</key>
    <string>uni1B_24.glif</string>
    <key>uni1B24.sub</key>
    <string>uni1B_24.sub.glif</string>
    <key>uni1B241B35</key>
    <string>uni1B_241B_35.glif</string>
    <key>uni1B25</key>
    <string>uni1B_25.glif</string>
    <key>uni1B25.sub</key>
    <string>uni1B_25.sub.glif</string>
    <key>uni1B26</key>
    <string>uni1B_26.glif</string>
    <key>uni1B26.sub</key>
    <string>uni1B_26.sub.glif</string>
    <key>uni1B26.sub.u</key>
    <string>uni1B_26.sub.u.glif</string>
    <key>uni1B26.sub.uu</key>
    <string>uni1B_26.sub.uu.glif</string>
    <key>uni1B261B35</key>
    <string>uni1B_261B_35.glif</string>
    <key>uni1B27</key>
    <string>uni1B_27.glif</string>
    <key>uni1B27.sub</key>
    <string>uni1B_27.sub.glif</string>
    <key>uni1B271B35</key>
    <string>uni1B_271B_35.glif</string>
    <key>uni1B28</key>
    <string>uni1B_28.glif</string>
    <key>uni1B28.sub</key>
    <string>uni1B_28.sub.glif</string>
    <key>uni1B29</key>
    <string>uni1B_29.glif</string>
    <key>uni1B29.sub</key>
    <string>uni1B_29.sub.glif</string>
    <key>uni1B29.sub.u</key>
    <string>uni1B_29.sub.u.glif</string>
    <key>uni1B29.sub.uu</key>
    <string>uni1B_29.sub.uu.glif</string>
    <key>uni1B2A</key>
    <string>uni1B_2A_.glif</string>
    <key>uni1B2A.sub</key>
    <string>uni1B_2A_.sub.glif</string>
    <key>uni1B2B</key>
    <string>uni1B_2B_.glif</string>
    <key>uni1B2B.sub</key>
    <string>uni1B_2B_.sub.glif</string>
    <key>uni1B2B1B35</key>
    <string>uni1B_2B_1B_35.glif</string>
    <key>uni1B2C</key>
    <string>uni1B_2C_.glif</string>
    <key>uni1B2C.sub</key>
    <string>uni1B_2C_.sub.glif</string>
    <key>uni1B2C.sub.alt</key>
    <string>uni1B_2C_.sub.alt.glif</string>
    <key>uni1B2C.sub.u</key>
    <string>uni1B_2C_.sub.u.glif</string>
    <key>uni1B2C.sub.u.alt</key>
    <string>uni1B_2C_.sub.u.alt.glif</string>
    <key>uni1B2C.sub.uu</key>
    <string>uni1B_2C_.sub.uu.glif</string>
    <key>uni1B2C.sub.uu.alt</key>
    <string>uni1B_2C_.sub.uu.alt.glif</string>
    <key>uni1B2C1B35</key>
    <string>uni1B_2C_1B_35.glif</string>
    <key>uni1B2D</key>
    <string>uni1B_2D_.glif</string>
    <key>uni1B2D.sub</key>
    <string>uni1B_2D_.sub.glif</string>
    <key>uni1B2D.sub.alt</key>
    <string>uni1B_2D_.sub.alt.glif</string>
    <key>uni1B2D1B35</key>
    <string>uni1B_2D_1B_35.glif</string>
    <key>uni1B2E</key>
    <string>uni1B_2E_.glif</string>
    <key>uni1B2E.sub</key>
    <string>uni1B_2E_.sub.glif</string>
    <key>uni1B2E.sub.u</key>
    <string>uni1B_2E_.sub.u.glif</string>
    <key>uni1B2E.sub.uu</key>
    <string>uni1B_2E_.sub.uu.glif</string>
    <key>uni1B2E1B35</key>
    <string>uni1B_2E_1B_35.glif</string>
    <key>uni1B2F</key>
    <string>uni1B_2F_.glif</string>
    <key>uni1B2F.sub</key>
    <string>uni1B_2F_.sub.glif</string>
    <key>uni1B2F.sub.alt</key>
    <string>uni1B_2F_.sub.alt.glif</string>
    <key>uni1B2F1B35</key>
    <string>uni1B_2F_1B_35.glif</string>
    <key>uni1B30</key>
    <string>uni1B_30.glif</string>
    <key>uni1B30.sub</key>
    <string>uni1B_30.sub.glif</string>
    <key>uni1B31</key>
    <string>uni1B_31.glif</string>
    <key>uni1B31.sub</key>
    <string>uni1B_31.sub.glif</string>
    <key>uni1B32</key>
    <string>uni1B_32.glif</string>
    <key>uni1B32.sub</key>
    <string>uni1B_32.sub.glif</string>
    <key>uni1B321B35</key>
    <string>uni1B_321B_35.glif</string>
    <key>uni1B33</key>
    <string>uni1B_33.glif</string>
    <key>uni1B33.sub</key>
    <string>uni1B_33.sub.glif</string>
    <key>uni1B331B35</key>
    <string>uni1B_331B_35.glif</string>
    <key>uni1B34</key>
    <string>uni1B_34.glif</string>
    <key>uni1B341B03</key>
    <string>uni1B_341B_03.glif</string>
    <key>uni1B341B42</key>
    <string>uni1B_341B_42.glif</string>
    <key>uni1B35</key>
    <string>uni1B_35.glif</string>
    <key>uni1B36</key>
    <string>uni1B_36.glif</string>
    <key>uni1B361B02</key>
    <string>uni1B_361B_02.glif</string>
    <key>uni1B361B021B42</key>
    <string>uni1B_361B_021B_42.glif</string>
    <key>uni1B361B03</key>
    <string>uni1B_361B_03.glif</string>
    <key>uni1B361B42</key>
    <string>uni1B_361B_42.glif</string>
    <key>uni1B37</key>
    <string>uni1B_37.glif</string>
    <key>uni1B371B02</key>
    <string>uni1B_371B_02.glif</string>
    <key>uni1B371B03</key>
    <string>uni1B_371B_03.glif</string>
    <key>uni1B38</key>
    <string>uni1B_38.glif</string>
    <key>uni1B38.alt</key>
    <string>uni1B_38.alt.glif</string>
    <key>uni1B39</key>
    <string>uni1B_39.glif</string>
    <key>uni1B39.alt</key>
    <string>uni1B_39.alt.glif</string>
    <key>uni1B3A</key>
    <string>uni1B_3A_.glif</string>
    <key>uni1B3B</key>
    <string>uni1B_3B_.glif</string>
    <key>uni1B3C</key>
    <string>uni1B_3C_.glif</string>
    <key>uni1B3C.blw</key>
    <string>uni1B_3C_.blw.glif</string>
    <key>uni1B3D</key>
    <string>uni1B_3D_.glif</string>
    <key>uni1B3E</key>
    <string>uni1B_3E_.glif</string>
    <key>uni1B3F</key>
    <string>uni1B_3F_.glif</string>
    <key>uni1B40</key>
    <string>uni1B_40.glif</string>
    <key>uni1B41</key>
    <string>uni1B_41.glif</string>
    <key>uni1B42</key>
    <string>uni1B_42.glif</string>
    <key>uni1B421B02</key>
    <string>uni1B_421B_02.glif</string>
    <key>uni1B421B03</key>
    <string>uni1B_421B_03.glif</string>
    <key>uni1B43</key>
    <string>uni1B_43.glif</string>
    <key>uni1B44</key>
    <string>uni1B_44.glif</string>
    <key>uni1B45</key>
    <string>uni1B_45.glif</string>
    <key>uni1B45.sub</key>
    <string>uni1B_45.sub.glif</string>
    <key>uni1B46</key>
    <string>uni1B_46.glif</string>
    <key>uni1B46.sub</key>
    <string>uni1B_46.sub.glif</string>
    <key>uni1B47</key>
    <string>uni1B_47.glif</string>
    <key>uni1B47.sub</key>
    <string>uni1B_47.sub.glif</string>
    <key>uni1B48</key>
    <string>uni1B_48.glif</string>
    <key>uni1B48.sub</key>
    <string>uni1B_48.sub.glif</string>
    <key>uni1B49</key>
    <string>uni1B_49.glif</string>
    <key>uni1B49.sub</key>
    <string>uni1B_49.sub.glif</string>
    <key>uni1B4A</key>
    <string>uni1B_4A_.glif</string>
    <key>uni1B4A.sub</key>
    <string>uni1B_4A_.sub.glif</string>
    <key>uni1B4B</key>
    <string>uni1B_4B_.glif</string>
    <key>uni1B4B.sub</key>
    <string>uni1B_4B_.sub.glif</string>
    <key>uni1B50</key>
    <string>uni1B_50.glif</string>
    <key>uni1B51</key>
    <string>uni1B_51.glif</string>
    <key>uni1B52</key>
    <string>uni1B_52.glif</string>
    <key>uni1B53</key>
    <string>uni1B_53.glif</string>
    <key>uni1B54</key>
    <string>uni1B_54.glif</string>
    <key>uni1B55</key>
    <string>uni1B_55.glif</string>
    <key>uni1B56</key>
    <string>uni1B_56.glif</string>
    <key>uni1B57</key>
    <string>uni1B_57.glif</string>
    <key>uni1B58</key>
    <string>uni1B_58.glif</string>
    <key>uni1B59</key>
    <string>uni1B_59.glif</string>
    <key>uni1B5A</key>
    <string>uni1B_5A_.glif</string>
    <key>uni1B5B</key>
    <string>uni1B_5B_.glif</string>
    <key>uni1B5C</key>
    <string>uni1B_5C_.glif</string>
    <key>uni1B5D</key>
    <string>uni1B_5D_.glif</string>
    <key>uni1B5E</key>
    <string>uni1B_5E_.glif</string>
    <key>uni1B5F</key>
    <string>uni1B_5F_.glif</string>
    <key>uni1B60</key>
    <string>uni1B_60.glif</string>
    <key>uni1B61</key>
    <string>uni1B_61.glif</string>
    <key>uni1B62</key>
    <string>uni1B_62.glif</string>
    <key>uni1B63</key>
    <string>uni1B_63.glif</string>
    <key>uni1B64</key>
    <string>uni1B_64.glif</string>
    <key>uni1B65</key>
    <string>uni1B_65.glif</string>
    <key>uni1B66</key>
    <string>uni1B_66.glif</string>
    <key>uni1B67</key>
    <string>uni1B_67.glif</string>
    <key>uni1B68</key>
    <string>uni1B_68.glif</string>
    <key>uni1B69</key>
    <string>uni1B_69.glif</string>
    <key>uni1B6A</key>
    <string>uni1B_6A_.glif</string>
    <key>uni1B6B</key>
    <string>uni1B_6B_.glif</string>
    <key>uni1B6C</key>
    <string>uni1B_6C_.glif</string>
    <key>uni1B6D</key>
    <string>uni1B_6D_.glif</string>
    <key>uni1B6E</key>
    <string>uni1B_6E_.glif</string>
    <key>uni1B6F</key>
    <string>uni1B_6F_.glif</string>
    <key>uni1B70</key>
    <string>uni1B_70.glif</string>
    <key>uni1B71</key>
    <string>uni1B_71.glif</string>
    <key>uni1B72</key>
    <string>uni1B_72.glif</string>
    <key>uni1B73</key>
    <string>uni1B_73.glif</string>
    <key>uni1B74</key>
    <string>uni1B_74.glif</string>
    <key>uni1B75</key>
    <string>uni1B_75.glif</string>
    <key>uni1B76</key>
    <string>uni1B_76.glif</string>
    <key>uni1B77</key>
    <string>uni1B_77.glif</string>
    <key>uni1B78</key>
    <string>uni1B_78.glif</string>
    <key>uni1B79</key>
    <string>uni1B_79.glif</string>
    <key>uni1B7A</key>
    <string>uni1B_7A_.glif</string>
    <key>uni1B7B</key>
    <string>uni1B_7B_.glif</string>
    <key>uni1B7C</key>
    <string>uni1B_7C_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
