<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni060C</string>
      <string>uni061B</string>
      <string>uni061F</string>
      <string>uni066A</string>
      <string>uni07C0</string>
      <string>uni07C1</string>
      <string>uni07C2</string>
      <string>uni07C3</string>
      <string>uni07C4</string>
      <string>uni07C5</string>
      <string>uni07C6</string>
      <string>uni07C7</string>
      <string>uni07C8</string>
      <string>uni07C9</string>
      <string>uni07CA</string>
      <string>uni07CA.fina</string>
      <string>uni07CA.init</string>
      <string>uni07CA.medi</string>
      <string>uni07CB</string>
      <string>uni07CB.fina</string>
      <string>uni07CB.init</string>
      <string>uni07CB.medi</string>
      <string>uni07CC</string>
      <string>uni07CC.fina</string>
      <string>uni07CC.init</string>
      <string>uni07CC.medi</string>
      <string>uni07CD</string>
      <string>uni07CD.fina</string>
      <string>uni07CD.init</string>
      <string>uni07CD.medi</string>
      <string>uni07CE</string>
      <string>uni07CE.fina</string>
      <string>uni07CE.init</string>
      <string>uni07CE.medi</string>
      <string>uni07CF</string>
      <string>uni07CF.fina</string>
      <string>uni07CF.init</string>
      <string>uni07CF.medi</string>
      <string>uni07D0</string>
      <string>uni07D0.fina</string>
      <string>uni07D0.init</string>
      <string>uni07D0.medi</string>
      <string>uni07D1</string>
      <string>uni07D1.fina</string>
      <string>uni07D1.init</string>
      <string>uni07D1.medi</string>
      <string>uni07D2</string>
      <string>uni07D2.fina</string>
      <string>uni07D2.init</string>
      <string>uni07D2.medi</string>
      <string>uni07D3</string>
      <string>uni07D3.fina</string>
      <string>uni07D3.init</string>
      <string>uni07D3.medi</string>
      <string>uni07D4</string>
      <string>uni07D4.fina</string>
      <string>uni07D4.init</string>
      <string>uni07D4.medi</string>
      <string>uni07D5</string>
      <string>uni07D5.fina</string>
      <string>uni07D5.init</string>
      <string>uni07D5.medi</string>
      <string>uni07D6</string>
      <string>uni07D6.fina</string>
      <string>uni07D6.init</string>
      <string>uni07D6.medi</string>
      <string>uni07D7</string>
      <string>uni07D7.fina</string>
      <string>uni07D7.init</string>
      <string>uni07D7.medi</string>
      <string>uni07D8</string>
      <string>uni07D8.fina</string>
      <string>uni07D8.init</string>
      <string>uni07D8.medi</string>
      <string>uni07D9</string>
      <string>uni07D9.fina</string>
      <string>uni07D9.init</string>
      <string>uni07D9.medi</string>
      <string>uni07DA</string>
      <string>uni07DA.fina</string>
      <string>uni07DA.init</string>
      <string>uni07DA.medi</string>
      <string>uni07DB</string>
      <string>uni07DB.fina</string>
      <string>uni07DB.init</string>
      <string>uni07DB.medi</string>
      <string>uni07DC</string>
      <string>uni07DC.fina</string>
      <string>uni07DC.init</string>
      <string>uni07DC.medi</string>
      <string>uni07DD</string>
      <string>uni07DD.fina</string>
      <string>uni07DD.init</string>
      <string>uni07DD.medi</string>
      <string>uni07DE</string>
      <string>uni07DE.fina</string>
      <string>uni07DE.init</string>
      <string>uni07DE.medi</string>
      <string>uni07DF</string>
      <string>uni07DF.fina</string>
      <string>uni07DF.init</string>
      <string>uni07DF.medi</string>
      <string>uni07E0</string>
      <string>uni07E0.fina</string>
      <string>uni07E0.init</string>
      <string>uni07E0.medi</string>
      <string>uni07E1</string>
      <string>uni07E1.fina</string>
      <string>uni07E1.init</string>
      <string>uni07E1.medi</string>
      <string>uni07E2</string>
      <string>uni07E2.fina</string>
      <string>uni07E2.init</string>
      <string>uni07E2.medi</string>
      <string>uni07E3</string>
      <string>uni07E3.fina</string>
      <string>uni07E3.init</string>
      <string>uni07E3.medi</string>
      <string>uni07E4</string>
      <string>uni07E4.fina</string>
      <string>uni07E4.init</string>
      <string>uni07E4.medi</string>
      <string>uni07E5</string>
      <string>uni07E5.fina</string>
      <string>uni07E5.init</string>
      <string>uni07E5.medi</string>
      <string>uni07E6</string>
      <string>uni07E6.fina</string>
      <string>uni07E6.init</string>
      <string>uni07E6.medi</string>
      <string>uni07E7</string>
      <string>uni07E7.fina</string>
      <string>uni07E7.init</string>
      <string>uni07E7.medi</string>
      <string>uni07E8</string>
      <string>uni07E8.fina</string>
      <string>uni07E8.init</string>
      <string>uni07E8.medi</string>
      <string>uni07E9</string>
      <string>uni07E9.fina</string>
      <string>uni07E9.init</string>
      <string>uni07E9.medi</string>
      <string>uni07EA</string>
      <string>uni07EA.fina</string>
      <string>uni07EA.init</string>
      <string>uni07EA.medi</string>
      <string>uni07EB</string>
      <string>uni07EC</string>
      <string>uni07ED</string>
      <string>uni07EE</string>
      <string>uni07EF</string>
      <string>uni07F0</string>
      <string>uni07F1</string>
      <string>uni07F2</string>
      <string>uni07F3</string>
      <string>uni07F4</string>
      <string>uni07F5</string>
      <string>uni07F6</string>
      <string>uni07F7</string>
      <string>uni07F8</string>
      <string>uni07F9</string>
      <string>uni07FA</string>
      <string>uni07FD</string>
      <string>uni07FD.narrow</string>
      <string>uni07FD.wide</string>
      <string>uni07FD.wideopen</string>
      <string>uni07FD.wider</string>
      <string>uni07FD.widest</string>
      <string>uni07FE</string>
      <string>uni07FF</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni200E</string>
      <string>uni200F</string>
      <string>uni25CC</string>
      <string>uni2E1C</string>
      <string>uni2E1D</string>
      <string>uniFD3E</string>
      <string>uniFD3F</string>
    </array>
  </dict>
</plist>
