<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aVowel-lao</key>
    <string>aV_owel-lao.glif</string>
    <key>aaVowel-lao</key>
    <string>aaV_owel-lao.glif</string>
    <key>aeVowel-lao</key>
    <string>aeV_owel-lao.glif</string>
    <key>aiMaiMayVowel-lao</key>
    <string>aiM_aiM_ayV_owel-lao.glif</string>
    <key>amVowel-lao</key>
    <string>amV_owel-lao.glif</string>
    <key>amVowel-lao.narrow</key>
    <string>amV_owel-lao.narrow.glif</string>
    <key>ayMaiMuanVowel-lao</key>
    <string>ayM_aiM_uanV_owel-lao.glif</string>
    <key>boBae-lao</key>
    <string>boB_ae-lao.glif</string>
    <key>coCok-lao</key>
    <string>coC_ok-lao.glif</string>
    <key>doDek-lao</key>
    <string>doD_ek-lao.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>eVowel-lao</key>
    <string>eV_owel-lao.glif</string>
    <key>eight-lao</key>
    <string>eight-lao.glif</string>
    <key>ellipsis-lao</key>
    <string>ellipsis-lao.glif</string>
    <key>euVowel-lao</key>
    <string>euV_owel-lao.glif</string>
    <key>euVowel-lao.narrow</key>
    <string>euV_owel-lao.narrow.glif</string>
    <key>euuVowel-lao</key>
    <string>euuV_owel-lao.glif</string>
    <key>euuVowel-lao.narrow</key>
    <string>euuV_owel-lao.narrow.glif</string>
    <key>five-lao</key>
    <string>five-lao.glif</string>
    <key>foFai-lao</key>
    <string>foF_ai-lao.glif</string>
    <key>foFon-lao</key>
    <string>foF_on-lao.glif</string>
    <key>four-lao</key>
    <string>four-lao.glif</string>
    <key>hoHaan-lao</key>
    <string>hoH_aan-lao.glif</string>
    <key>hoHeuan-lao</key>
    <string>hoH_euan-lao.glif</string>
    <key>hoMo-lao</key>
    <string>hoM_o-lao.glif</string>
    <key>hoNo-lao</key>
    <string>hoN_o-lao.glif</string>
    <key>iVowel-lao</key>
    <string>iV_owel-lao.glif</string>
    <key>iVowel-lao.narrow</key>
    <string>iV_owel-lao.narrow.glif</string>
    <key>iiVowel-lao</key>
    <string>iiV_owel-lao.glif</string>
    <key>iiVowel-lao.narrow</key>
    <string>iiV_owel-lao.narrow.glif</string>
    <key>karan-lao</key>
    <string>karan-lao.glif</string>
    <key>karan-lao.narrow</key>
    <string>karan-lao.narrow.glif</string>
    <key>karan-lao.small</key>
    <string>karan-lao.small.glif</string>
    <key>karan-lao.smallright</key>
    <string>karan-lao.smallright.glif</string>
    <key>khmuGo-lao</key>
    <string>khmuG_o-lao.glif</string>
    <key>khmuNyo-lao</key>
    <string>khmuN_yo-lao.glif</string>
    <key>khoKhai-lao</key>
    <string>khoK_hai-lao.glif</string>
    <key>khoKhuay-lao</key>
    <string>khoK_huay-lao.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>koKai-lao</key>
    <string>koK_ai-lao.glif</string>
    <key>koLa-lao</key>
    <string>koL_a-lao.glif</string>
    <key>loLing-lao</key>
    <string>loL_ing-lao.glif</string>
    <key>loVowel-lao</key>
    <string>loV_owel-lao.glif</string>
    <key>loVowel-lao.narrow</key>
    <string>loV_owel-lao.narrow.glif</string>
    <key>loVowel-lao.small</key>
    <string>loV_owel-lao.small.glif</string>
    <key>maiCatawa-lao</key>
    <string>maiC_atawa-lao.glif</string>
    <key>maiCatawa-lao.narrow</key>
    <string>maiC_atawa-lao.narrow.glif</string>
    <key>maiCatawa-lao.small</key>
    <string>maiC_atawa-lao.small.glif</string>
    <key>maiCatawa-lao.smallright</key>
    <string>maiC_atawa-lao.smallright.glif</string>
    <key>maiEk-lao</key>
    <string>maiE_k-lao.glif</string>
    <key>maiEk-lao.narrow</key>
    <string>maiE_k-lao.narrow.glif</string>
    <key>maiEk-lao.small</key>
    <string>maiE_k-lao.small.glif</string>
    <key>maiEk-lao.smallright</key>
    <string>maiE_k-lao.smallright.glif</string>
    <key>maiKanVowel-lao</key>
    <string>maiK_anV_owel-lao.glif</string>
    <key>maiKanVowel-lao.center</key>
    <string>maiK_anV_owel-lao.center.glif</string>
    <key>maiKanVowel-lao.narrow</key>
    <string>maiK_anV_owel-lao.narrow.glif</string>
    <key>maiKonVowel-lao</key>
    <string>maiK_onV_owel-lao.glif</string>
    <key>maiKonVowel-lao.center</key>
    <string>maiK_onV_owel-lao.center.glif</string>
    <key>maiKonVowel-lao.narrow</key>
    <string>maiK_onV_owel-lao.narrow.glif</string>
    <key>maiTho-lao</key>
    <string>maiT_ho-lao.glif</string>
    <key>maiTho-lao.narrow</key>
    <string>maiT_ho-lao.narrow.glif</string>
    <key>maiTho-lao.small</key>
    <string>maiT_ho-lao.small.glif</string>
    <key>maiTho-lao.smallright</key>
    <string>maiT_ho-lao.smallright.glif</string>
    <key>maiTi-lao</key>
    <string>maiT_i-lao.glif</string>
    <key>maiTi-lao.narrow</key>
    <string>maiT_i-lao.narrow.glif</string>
    <key>maiTi-lao.small</key>
    <string>maiT_i-lao.small.glif</string>
    <key>maiTi-lao.smallright</key>
    <string>maiT_i-lao.smallright.glif</string>
    <key>moMa-lao</key>
    <string>moM_a-lao.glif</string>
    <key>ngoNgu-lao</key>
    <string>ngoN_gu-lao.glif</string>
    <key>niggahita-lao</key>
    <string>niggahita-lao.glif</string>
    <key>niggahita-lao.narrow</key>
    <string>niggahita-lao.narrow.glif</string>
    <key>niggahita-lao.right</key>
    <string>niggahita-lao.right.glif</string>
    <key>niggahita_maiCatawa-lao</key>
    <string>niggahita_maiC_atawa-lao.glif</string>
    <key>niggahita_maiCatawa-lao.right</key>
    <string>niggahita_maiC_atawa-lao.right.glif</string>
    <key>niggahita_maiEk-lao</key>
    <string>niggahita_maiE_k-lao.glif</string>
    <key>niggahita_maiEk-lao.right</key>
    <string>niggahita_maiE_k-lao.right.glif</string>
    <key>niggahita_maiTho-lao</key>
    <string>niggahita_maiT_ho-lao.glif</string>
    <key>niggahita_maiTho-lao.right</key>
    <string>niggahita_maiT_ho-lao.right.glif</string>
    <key>niggahita_maiTi-lao</key>
    <string>niggahita_maiT_i-lao.glif</string>
    <key>niggahita_maiTi-lao.right</key>
    <string>niggahita_maiT_i-lao.right.glif</string>
    <key>nine-lao</key>
    <string>nine-lao.glif</string>
    <key>noNok-lao</key>
    <string>noN_ok-lao.glif</string>
    <key>nyoNyung-lao</key>
    <string>nyoN_yung-lao.glif</string>
    <key>nyoVowel-lao</key>
    <string>nyoV_owel-lao.glif</string>
    <key>oO-lao</key>
    <string>oO_-lao.glif</string>
    <key>oVowel-lao</key>
    <string>oV_owel-lao.glif</string>
    <key>one-lao</key>
    <string>one-lao.glif</string>
    <key>phoPhu-lao</key>
    <string>phoP_hu-lao.glif</string>
    <key>phoPhueng-lao</key>
    <string>phoP_hueng-lao.glif</string>
    <key>poPa-lao</key>
    <string>poP_a-lao.glif</string>
    <key>roRot-lao</key>
    <string>roR_ot-lao.glif</string>
    <key>seven-lao</key>
    <string>seven-lao.glif</string>
    <key>six-lao</key>
    <string>six-lao.glif</string>
    <key>soSang-lao</key>
    <string>soS_ang-lao.glif</string>
    <key>soSeua-lao</key>
    <string>soS_eua-lao.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>thoThong-lao</key>
    <string>thoT_hong-lao.glif</string>
    <key>thoThung-lao</key>
    <string>thoT_hung-lao.glif</string>
    <key>three-lao</key>
    <string>three-lao.glif</string>
    <key>toTa-lao</key>
    <string>toT_a-lao.glif</string>
    <key>two-lao</key>
    <string>two-lao.glif</string>
    <key>uVowel-lao</key>
    <string>uV_owel-lao.glif</string>
    <key>uVowel-lao.narrow</key>
    <string>uV_owel-lao.narrow.glif</string>
    <key>uVowel-lao.small</key>
    <string>uV_owel-lao.small.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uuVowel-lao</key>
    <string>uuV_owel-lao.glif</string>
    <key>uuVowel-lao.narrow</key>
    <string>uuV_owel-lao.narrow.glif</string>
    <key>uuVowel-lao.small</key>
    <string>uuV_owel-lao.small.glif</string>
    <key>woWi-lao</key>
    <string>woW_i-lao.glif</string>
    <key>yoYa-lao</key>
    <string>yoY_a-lao.glif</string>
    <key>zero-lao</key>
    <string>zero-lao.glif</string>
  </dict>
</plist>
