<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1230</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>comma.ar</string>
      <string>fullstop.ar</string>
      <string>kashida.ar</string>
      <string>nbspace</string>
      <string>question.ar</string>
      <string>semicolon.ar</string>
      <string>space</string>
      <string>uni0660</string>
      <string>uni10D00</string>
      <string>uni10D00.init</string>
      <string>uni10D01</string>
      <string>uni10D01.fina</string>
      <string>uni10D01.init</string>
      <string>uni10D01.medi</string>
      <string>uni10D02</string>
      <string>uni10D02.fina</string>
      <string>uni10D02.init</string>
      <string>uni10D02.medi</string>
      <string>uni10D03</string>
      <string>uni10D03.fina</string>
      <string>uni10D03.init</string>
      <string>uni10D03.medi</string>
      <string>uni10D04</string>
      <string>uni10D04.fina</string>
      <string>uni10D04.init</string>
      <string>uni10D04.medi</string>
      <string>uni10D05</string>
      <string>uni10D05.fina</string>
      <string>uni10D05.init</string>
      <string>uni10D05.medi</string>
      <string>uni10D06</string>
      <string>uni10D06.fina</string>
      <string>uni10D06.init</string>
      <string>uni10D06.medi</string>
      <string>uni10D07</string>
      <string>uni10D07.fina</string>
      <string>uni10D07.init</string>
      <string>uni10D07.medi</string>
      <string>uni10D08</string>
      <string>uni10D08.fina</string>
      <string>uni10D08.init</string>
      <string>uni10D08.medi</string>
      <string>uni10D09</string>
      <string>uni10D09.fina</string>
      <string>uni10D09.init</string>
      <string>uni10D09.medi</string>
      <string>uni10D0A</string>
      <string>uni10D0A.fina</string>
      <string>uni10D0A.init</string>
      <string>uni10D0A.medi</string>
      <string>uni10D0B</string>
      <string>uni10D0B.fina</string>
      <string>uni10D0B.init</string>
      <string>uni10D0B.medi</string>
      <string>uni10D0C</string>
      <string>uni10D0C.fina</string>
      <string>uni10D0C.init</string>
      <string>uni10D0C.medi</string>
      <string>uni10D0D</string>
      <string>uni10D0D.fina</string>
      <string>uni10D0D.init</string>
      <string>uni10D0D.medi</string>
      <string>uni10D0E</string>
      <string>uni10D0E.fina</string>
      <string>uni10D0E.init</string>
      <string>uni10D0E.medi</string>
      <string>uni10D0F</string>
      <string>uni10D0F.fina</string>
      <string>uni10D0F.init</string>
      <string>uni10D0F.medi</string>
      <string>uni10D10</string>
      <string>uni10D10.fina</string>
      <string>uni10D10.init</string>
      <string>uni10D10.medi</string>
      <string>uni10D11</string>
      <string>uni10D11.fina</string>
      <string>uni10D11.init</string>
      <string>uni10D11.medi</string>
      <string>uni10D12</string>
      <string>uni10D12.fina</string>
      <string>uni10D12.init</string>
      <string>uni10D12.medi</string>
      <string>uni10D13</string>
      <string>uni10D13.fina</string>
      <string>uni10D13.init</string>
      <string>uni10D13.medi</string>
      <string>uni10D14</string>
      <string>uni10D14.fina</string>
      <string>uni10D14.init</string>
      <string>uni10D14.medi</string>
      <string>uni10D15</string>
      <string>uni10D15.fina</string>
      <string>uni10D15.init</string>
      <string>uni10D15.medi</string>
      <string>uni10D16</string>
      <string>uni10D16.fina</string>
      <string>uni10D16.init</string>
      <string>uni10D16.medi</string>
      <string>uni10D17</string>
      <string>uni10D17.fina</string>
      <string>uni10D17.init</string>
      <string>uni10D17.medi</string>
      <string>uni10D18</string>
      <string>uni10D18.fina</string>
      <string>uni10D18.init</string>
      <string>uni10D18.medi</string>
      <string>uni10D19</string>
      <string>uni10D19.fina</string>
      <string>uni10D19.init</string>
      <string>uni10D19.medi</string>
      <string>uni10D1A</string>
      <string>uni10D1A.fina</string>
      <string>uni10D1A.init</string>
      <string>uni10D1A.medi</string>
      <string>uni10D1B</string>
      <string>uni10D1B.fina</string>
      <string>uni10D1B.init</string>
      <string>uni10D1B.medi</string>
      <string>uni10D1C</string>
      <string>uni10D1C.fina</string>
      <string>uni10D1C.init</string>
      <string>uni10D1C.medi</string>
      <string>uni10D1D</string>
      <string>uni10D1D.fina</string>
      <string>uni10D1D.init</string>
      <string>uni10D1D.medi</string>
      <string>uni10D1E</string>
      <string>uni10D1E.fina</string>
      <string>uni10D1E.init</string>
      <string>uni10D1E.medi</string>
      <string>uni10D1F</string>
      <string>uni10D1F.fina</string>
      <string>uni10D1F.init</string>
      <string>uni10D1F.medi</string>
      <string>uni10D20</string>
      <string>uni10D20.fina</string>
      <string>uni10D20.init</string>
      <string>uni10D20.medi</string>
      <string>uni10D21</string>
      <string>uni10D21.fina</string>
      <string>uni10D21.init</string>
      <string>uni10D21.medi</string>
      <string>uni10D22</string>
      <string>uni10D22.fina</string>
      <string>uni10D23</string>
      <string>uni10D23.fina</string>
      <string>uni10D23.init</string>
      <string>uni10D23.medi</string>
      <string>uni10D24</string>
      <string>uni10D25</string>
      <string>uni10D26</string>
      <string>uni10D26.ss01</string>
      <string>uni10D27</string>
      <string>uni10D30</string>
      <string>uni10D31</string>
      <string>uni10D32</string>
      <string>uni10D33</string>
      <string>uni10D34</string>
      <string>uni10D35</string>
      <string>uni10D36</string>
      <string>uni10D37</string>
      <string>uni10D38</string>
      <string>uni10D39</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
