<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1208</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AA</string>
      <string>AI</string>
      <string>AU</string>
      <string>Abbreviation</string>
      <string>Anusvara</string>
      <string>Avagraha</string>
      <string>Ba</string>
      <string>BhRa</string>
      <string>BhRu</string>
      <string>BhRuu</string>
      <string>Bha</string>
      <string>Bhu</string>
      <string>Bhuu</string>
      <string>CR</string>
      <string>Ca</string>
      <string>Candrabindu</string>
      <string>Cha</string>
      <string>ContinuationSign</string>
      <string>DDha</string>
      <string>DRu</string>
      <string>DRuu</string>
      <string>DYa</string>
      <string>Da</string>
      <string>Danda</string>
      <string>Dda</string>
      <string>Ddha</string>
      <string>Ddu</string>
      <string>Dduu</string>
      <string>Dha</string>
      <string>DoubleDanda</string>
      <string>E</string>
      <string>Ekam</string>
      <string>GRa</string>
      <string>Ga</string>
      <string>Gha</string>
      <string>Gu</string>
      <string>Guu</string>
      <string>HYa</string>
      <string>Ha</string>
      <string>Headstroke</string>
      <string>I</string>
      <string>II</string>
      <string>JJVa</string>
      <string>JJa</string>
      <string>JJaa</string>
      <string>JNna</string>
      <string>JNnaa</string>
      <string>JNya</string>
      <string>JYa</string>
      <string>JYaa</string>
      <string>Ja</string>
      <string>Jaa</string>
      <string>Jha</string>
      <string>Jhu</string>
      <string>Jhuu</string>
      <string>Jihvamuliya</string>
      <string>Jihvamuliya.ns</string>
      <string>KKa</string>
      <string>KPRa</string>
      <string>KRu</string>
      <string>KRuu</string>
      <string>KSsa</string>
      <string>KTVa</string>
      <string>KTa</string>
      <string>Ka</string>
      <string>Kha</string>
      <string>Kl</string>
      <string>Kll</string>
      <string>Kr</string>
      <string>Krr</string>
      <string>Ku</string>
      <string>Kuu</string>
      <string>La</string>
      <string>Lla</string>
      <string>Ma</string>
      <string>NDha</string>
      <string>NTa</string>
      <string>NTha</string>
      <string>NTu</string>
      <string>NULL</string>
      <string>Na</string>
      <string>NgKa</string>
      <string>NgKaa</string>
      <string>NgNga</string>
      <string>NgNgaa</string>
      <string>Nga</string>
      <string>Ngaa</string>
      <string>NnDda</string>
      <string>NnDdu</string>
      <string>NnSha</string>
      <string>NnShaa</string>
      <string>Nna</string>
      <string>Nnaa</string>
      <string>Nukta</string>
      <string>NullMark</string>
      <string>Nya</string>
      <string>Nyu</string>
      <string>Nyuu</string>
      <string>O</string>
      <string>Om</string>
      <string>Pa</string>
      <string>Pha</string>
      <string>RGa</string>
      <string>RHa</string>
      <string>RJa</string>
      <string>RKSsa</string>
      <string>RKa</string>
      <string>RNna</string>
      <string>RSsa</string>
      <string>RTRa</string>
      <string>RTRaa</string>
      <string>RTa</string>
      <string>RTha</string>
      <string>RTr</string>
      <string>RVYa</string>
      <string>RVa</string>
      <string>RYa</string>
      <string>RYuu</string>
      <string>Ra</string>
      <string>Ru</string>
      <string>Ruu</string>
      <string>SMa</string>
      <string>SMr</string>
      <string>STa</string>
      <string>STha</string>
      <string>STu</string>
      <string>Sa</string>
      <string>SandhiMark</string>
      <string>SandhiMarkLig</string>
      <string>SandhiMarkWide</string>
      <string>SandhiSp</string>
      <string>SectionMark1</string>
      <string>SectionMark2</string>
      <string>Separator</string>
      <string>ShRu</string>
      <string>ShRuu</string>
      <string>Sh_Eight</string>
      <string>Sh_Five</string>
      <string>Sh_Four</string>
      <string>Sh_Nine</string>
      <string>Sh_One</string>
      <string>Sh_Seven</string>
      <string>Sh_Six</string>
      <string>Sh_Three</string>
      <string>Sh_Two</string>
      <string>Sh_Zero</string>
      <string>Sha</string>
      <string>ShortVowelMark</string>
      <string>Shu</string>
      <string>Shuu</string>
      <string>SiddhamSign</string>
      <string>SsNna</string>
      <string>SsTta</string>
      <string>SsTtha</string>
      <string>Ssa</string>
      <string>SutraMark</string>
      <string>TRa</string>
      <string>TSa</string>
      <string>TSu</string>
      <string>TTha</string>
      <string>TYa</string>
      <string>Ta</string>
      <string>Tha</string>
      <string>Tl</string>
      <string>Tll</string>
      <string>TtKa</string>
      <string>TtKaa</string>
      <string>Tta</string>
      <string>Ttaa</string>
      <string>Ttha</string>
      <string>Tu</string>
      <string>Tuu</string>
      <string>U</string>
      <string>U.alt</string>
      <string>U.alt2</string>
      <string>UU</string>
      <string>UU.alt</string>
      <string>UU.alt2</string>
      <string>Upadhmaniya</string>
      <string>Upadhmaniya.ns</string>
      <string>Va</string>
      <string>Visarga</string>
      <string>VowelModifier</string>
      <string>Ya</string>
      <string>letterA</string>
      <string>letterAA</string>
      <string>letterAI</string>
      <string>letterAU</string>
      <string>letterE</string>
      <string>letterI</string>
      <string>letterII</string>
      <string>letterO</string>
      <string>letterU</string>
      <string>letterUU</string>
      <string>letterVocL</string>
      <string>letterVocLL</string>
      <string>letterVocR</string>
      <string>letterVocRR</string>
      <string>nbspace</string>
      <string>space</string>
      <string>uni0951</string>
      <string>uni1CD7</string>
      <string>uni1CD9</string>
      <string>uni1CDC</string>
      <string>uni1CDD</string>
      <string>uni1CE0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>virama</string>
      <string>vocL</string>
      <string>vocLL</string>
      <string>vocR</string>
      <string>vocRR</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
