<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>horizbar1</key>
    <string>horizbar1.glif</string>
    <key>horizbar2</key>
    <string>horizbar2.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u104B0</key>
    <string>u104B_0.glif</string>
    <key>u104B1</key>
    <string>u104B_1.glif</string>
    <key>u104B2</key>
    <string>u104B_2.glif</string>
    <key>u104B3</key>
    <string>u104B_3.glif</string>
    <key>u104B4</key>
    <string>u104B_4.glif</string>
    <key>u104B5</key>
    <string>u104B_5.glif</string>
    <key>u104B6</key>
    <string>u104B_6.glif</string>
    <key>u104B7</key>
    <string>u104B_7.glif</string>
    <key>u104B8</key>
    <string>u104B_8.glif</string>
    <key>u104B9</key>
    <string>u104B_9.glif</string>
    <key>u104BA</key>
    <string>u104B_A_.glif</string>
    <key>u104BB</key>
    <string>u104B_B_.glif</string>
    <key>u104BC</key>
    <string>u104B_C_.glif</string>
    <key>u104BD</key>
    <string>u104B_D_.glif</string>
    <key>u104BE</key>
    <string>u104B_E_.glif</string>
    <key>u104BF</key>
    <string>u104B_F_.glif</string>
    <key>u104C0</key>
    <string>u104C_0.glif</string>
    <key>u104C1</key>
    <string>u104C_1.glif</string>
    <key>u104C2</key>
    <string>u104C_2.glif</string>
    <key>u104C3</key>
    <string>u104C_3.glif</string>
    <key>u104C4</key>
    <string>u104C_4.glif</string>
    <key>u104C5</key>
    <string>u104C_5.glif</string>
    <key>u104C6</key>
    <string>u104C_6.glif</string>
    <key>u104C7</key>
    <string>u104C_7.glif</string>
    <key>u104C8</key>
    <string>u104C_8.glif</string>
    <key>u104C9</key>
    <string>u104C_9.glif</string>
    <key>u104CA</key>
    <string>u104C_A_.glif</string>
    <key>u104CB</key>
    <string>u104C_B_.glif</string>
    <key>u104CC</key>
    <string>u104C_C_.glif</string>
    <key>u104CD</key>
    <string>u104C_D_.glif</string>
    <key>u104CE</key>
    <string>u104C_E_.glif</string>
    <key>u104CF</key>
    <string>u104C_F_.glif</string>
    <key>u104D0</key>
    <string>u104D_0.glif</string>
    <key>u104D1</key>
    <string>u104D_1.glif</string>
    <key>u104D2</key>
    <string>u104D_2.glif</string>
    <key>u104D3</key>
    <string>u104D_3.glif</string>
    <key>u104D8</key>
    <string>u104D_8.glif</string>
    <key>u104D9</key>
    <string>u104D_9.glif</string>
    <key>u104DA</key>
    <string>u104D_A_.glif</string>
    <key>u104DB</key>
    <string>u104D_B_.glif</string>
    <key>u104DC</key>
    <string>u104D_C_.glif</string>
    <key>u104DD</key>
    <string>u104D_D_.glif</string>
    <key>u104DE</key>
    <string>u104D_E_.glif</string>
    <key>u104DF</key>
    <string>u104D_F_.glif</string>
    <key>u104E0</key>
    <string>u104E_0.glif</string>
    <key>u104E1</key>
    <string>u104E_1.glif</string>
    <key>u104E2</key>
    <string>u104E_2.glif</string>
    <key>u104E3</key>
    <string>u104E_3.glif</string>
    <key>u104E4</key>
    <string>u104E_4.glif</string>
    <key>u104E5</key>
    <string>u104E_5.glif</string>
    <key>u104E6</key>
    <string>u104E_6.glif</string>
    <key>u104E7</key>
    <string>u104E_7.glif</string>
    <key>u104E8</key>
    <string>u104E_8.glif</string>
    <key>u104E9</key>
    <string>u104E_9.glif</string>
    <key>u104EA</key>
    <string>u104E_A_.glif</string>
    <key>u104EB</key>
    <string>u104E_B_.glif</string>
    <key>u104EC</key>
    <string>u104E_C_.glif</string>
    <key>u104ED</key>
    <string>u104E_D_.glif</string>
    <key>u104EE</key>
    <string>u104E_E_.glif</string>
    <key>u104EF</key>
    <string>u104E_F_.glif</string>
    <key>u104F0</key>
    <string>u104F_0.glif</string>
    <key>u104F1</key>
    <string>u104F_1.glif</string>
    <key>u104F2</key>
    <string>u104F_2.glif</string>
    <key>u104F3</key>
    <string>u104F_3.glif</string>
    <key>u104F4</key>
    <string>u104F_4.glif</string>
    <key>u104F5</key>
    <string>u104F_5.glif</string>
    <key>u104F6</key>
    <string>u104F_6.glif</string>
    <key>u104F7</key>
    <string>u104F_7.glif</string>
    <key>u104F8</key>
    <string>u104F_8.glif</string>
    <key>u104F9</key>
    <string>u104F_9.glif</string>
    <key>u104FA</key>
    <string>u104F_A_.glif</string>
    <key>u104FB</key>
    <string>u104F_B_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni0358</key>
    <string>uni0358.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vertbar</key>
    <string>vertbar.glif</string>
  </dict>
</plist>
