<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>1</integer>
    <key>GSOffsetProportional</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>10</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>28</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>28</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aVowel-lao</string>
      <string>aaVowel-lao</string>
      <string>aeVowel-lao</string>
      <string>aiMaiMayVowel-lao</string>
      <string>amVowel-lao</string>
      <string>amVowel-lao.narrow</string>
      <string>ayMaiMuanVowel-lao</string>
      <string>boBae-lao</string>
      <string>coCok-lao</string>
      <string>doDek-lao</string>
      <string>dottedCircle</string>
      <string>eVowel-lao</string>
      <string>eight-lao</string>
      <string>ellipsis-lao</string>
      <string>euVowel-lao</string>
      <string>euVowel-lao.narrow</string>
      <string>euuVowel-lao</string>
      <string>euuVowel-lao.narrow</string>
      <string>five-lao</string>
      <string>foFai-lao</string>
      <string>foFon-lao</string>
      <string>four-lao</string>
      <string>hoHaan-lao</string>
      <string>hoHeuan-lao</string>
      <string>hoMo-lao</string>
      <string>hoNo-lao</string>
      <string>iVowel-lao</string>
      <string>iVowel-lao.narrow</string>
      <string>iiVowel-lao</string>
      <string>iiVowel-lao.narrow</string>
      <string>karan-lao</string>
      <string>karan-lao.narrow</string>
      <string>karan-lao.small</string>
      <string>karan-lao.smallright</string>
      <string>khmuGo-lao</string>
      <string>khmuNyo-lao</string>
      <string>khoKhai-lao</string>
      <string>khoKhuay-lao</string>
      <string>kip</string>
      <string>koKai-lao</string>
      <string>koLa-lao</string>
      <string>loLing-lao</string>
      <string>loVowel-lao</string>
      <string>loVowel-lao.narrow</string>
      <string>loVowel-lao.small</string>
      <string>maiCatawa-lao</string>
      <string>maiCatawa-lao.narrow</string>
      <string>maiCatawa-lao.small</string>
      <string>maiCatawa-lao.smallright</string>
      <string>maiEk-lao</string>
      <string>maiEk-lao.narrow</string>
      <string>maiEk-lao.small</string>
      <string>maiEk-lao.smallright</string>
      <string>maiKanVowel-lao</string>
      <string>maiKanVowel-lao.center</string>
      <string>maiKanVowel-lao.narrow</string>
      <string>maiKonVowel-lao</string>
      <string>maiKonVowel-lao.center</string>
      <string>maiKonVowel-lao.narrow</string>
      <string>maiTho-lao</string>
      <string>maiTho-lao.narrow</string>
      <string>maiTho-lao.small</string>
      <string>maiTho-lao.smallright</string>
      <string>maiTi-lao</string>
      <string>maiTi-lao.narrow</string>
      <string>maiTi-lao.small</string>
      <string>maiTi-lao.smallright</string>
      <string>moMa-lao</string>
      <string>ngoNgu-lao</string>
      <string>niggahita-lao</string>
      <string>niggahita-lao.narrow</string>
      <string>niggahita-lao.right</string>
      <string>niggahita_maiCatawa-lao</string>
      <string>niggahita_maiCatawa-lao.right</string>
      <string>niggahita_maiEk-lao</string>
      <string>niggahita_maiEk-lao.right</string>
      <string>niggahita_maiTho-lao</string>
      <string>niggahita_maiTho-lao.right</string>
      <string>niggahita_maiTi-lao</string>
      <string>niggahita_maiTi-lao.right</string>
      <string>nine-lao</string>
      <string>noNok-lao</string>
      <string>nyoNyung-lao</string>
      <string>nyoVowel-lao</string>
      <string>oO-lao</string>
      <string>oVowel-lao</string>
      <string>one-lao</string>
      <string>phoPhu-lao</string>
      <string>phoPhueng-lao</string>
      <string>poPa-lao</string>
      <string>roRot-lao</string>
      <string>seven-lao</string>
      <string>six-lao</string>
      <string>soSang-lao</string>
      <string>soSeua-lao</string>
      <string>space</string>
      <string>thoThong-lao</string>
      <string>thoThung-lao</string>
      <string>three-lao</string>
      <string>toTa-lao</string>
      <string>two-lao</string>
      <string>uVowel-lao</string>
      <string>uVowel-lao.narrow</string>
      <string>uVowel-lao.small</string>
      <string>uni00A0</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uuVowel-lao</string>
      <string>uuVowel-lao.narrow</string>
      <string>uuVowel-lao.small</string>
      <string>woWi-lao</string>
      <string>yoYa-lao</string>
      <string>zero-lao</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>aVowel-lao</key>
      <string>uni0EB0</string>
      <key>aaVowel-lao</key>
      <string>uni0EB2</string>
      <key>aeVowel-lao</key>
      <string>uni0EC1</string>
      <key>aiMaiMayVowel-lao</key>
      <string>uni0EC4</string>
      <key>amVowel-lao</key>
      <string>uni0EB3</string>
      <key>amVowel-lao.narrow</key>
      <string>uni0EB3.narrow</string>
      <key>ayMaiMuanVowel-lao</key>
      <string>uni0EC3</string>
      <key>boBae-lao</key>
      <string>uni0E9A</string>
      <key>coCok-lao</key>
      <string>uni0E88</string>
      <key>doDek-lao</key>
      <string>uni0E94</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>eVowel-lao</key>
      <string>uni0EC0</string>
      <key>eight-lao</key>
      <string>uni0ED8</string>
      <key>ellipsis-lao</key>
      <string>uni0EAF</string>
      <key>euVowel-lao</key>
      <string>uni0EB6</string>
      <key>euVowel-lao.narrow</key>
      <string>uni0EB6.narrow</string>
      <key>euuVowel-lao</key>
      <string>uni0EB7</string>
      <key>euuVowel-lao.narrow</key>
      <string>uni0EB7.narrow</string>
      <key>five-lao</key>
      <string>uni0ED5</string>
      <key>foFai-lao</key>
      <string>uni0E9F</string>
      <key>foFon-lao</key>
      <string>uni0E9D</string>
      <key>four-lao</key>
      <string>uni0ED4</string>
      <key>hoHaan-lao</key>
      <string>uni0EAB</string>
      <key>hoHeuan-lao</key>
      <string>uni0EAE</string>
      <key>hoMo-lao</key>
      <string>uni0EDD</string>
      <key>hoNo-lao</key>
      <string>uni0EDC</string>
      <key>iVowel-lao</key>
      <string>uni0EB4</string>
      <key>iVowel-lao.narrow</key>
      <string>uni0EB4.narrow</string>
      <key>iiVowel-lao</key>
      <string>uni0EB5</string>
      <key>iiVowel-lao.narrow</key>
      <string>uni0EB5.narrow</string>
      <key>karan-lao</key>
      <string>uni0ECC</string>
      <key>karan-lao.narrow</key>
      <string>uni0ECC.narrow</string>
      <key>karan-lao.small</key>
      <string>uni0ECC.small</string>
      <key>karan-lao.smallright</key>
      <string>uni0ECC.smallright</string>
      <key>khmuGo-lao</key>
      <string>uni0EDE</string>
      <key>khmuNyo-lao</key>
      <string>uni0EDF</string>
      <key>khoKhai-lao</key>
      <string>uni0E82</string>
      <key>khoKhuay-lao</key>
      <string>uni0E84</string>
      <key>kip</key>
      <string>uni20AD</string>
      <key>koKai-lao</key>
      <string>uni0E81</string>
      <key>koLa-lao</key>
      <string>uni0EC6</string>
      <key>loLing-lao</key>
      <string>uni0EA5</string>
      <key>loVowel-lao</key>
      <string>uni0EBC</string>
      <key>loVowel-lao.narrow</key>
      <string>uni0EBC.narrow</string>
      <key>loVowel-lao.small</key>
      <string>uni0EBC.small</string>
      <key>maiCatawa-lao</key>
      <string>uni0ECB</string>
      <key>maiCatawa-lao.narrow</key>
      <string>uni0ECB.narrow</string>
      <key>maiCatawa-lao.small</key>
      <string>uni0ECB.small</string>
      <key>maiCatawa-lao.smallright</key>
      <string>uni0ECB.smallright</string>
      <key>maiEk-lao</key>
      <string>uni0EC8</string>
      <key>maiEk-lao.narrow</key>
      <string>uni0EC8.narrow</string>
      <key>maiEk-lao.small</key>
      <string>uni0EC8.small</string>
      <key>maiEk-lao.smallright</key>
      <string>uni0EC8.smallright</string>
      <key>maiKanVowel-lao</key>
      <string>uni0EB1</string>
      <key>maiKanVowel-lao.center</key>
      <string>uni0EB1.center</string>
      <key>maiKanVowel-lao.narrow</key>
      <string>uni0EB1.narrow</string>
      <key>maiKonVowel-lao</key>
      <string>uni0EBB</string>
      <key>maiKonVowel-lao.center</key>
      <string>uni0EBB.center</string>
      <key>maiKonVowel-lao.narrow</key>
      <string>uni0EBB.narrow</string>
      <key>maiTho-lao</key>
      <string>uni0EC9</string>
      <key>maiTho-lao.narrow</key>
      <string>uni0EC9.narrow</string>
      <key>maiTho-lao.small</key>
      <string>uni0EC9.small</string>
      <key>maiTho-lao.smallright</key>
      <string>uni0EC9.smallright</string>
      <key>maiTi-lao</key>
      <string>uni0ECA</string>
      <key>maiTi-lao.narrow</key>
      <string>uni0ECA.narrow</string>
      <key>maiTi-lao.small</key>
      <string>uni0ECA.small</string>
      <key>maiTi-lao.smallright</key>
      <string>uni0ECA.smallright</string>
      <key>moMa-lao</key>
      <string>uni0EA1</string>
      <key>ngoNgu-lao</key>
      <string>uni0E87</string>
      <key>niggahita-lao</key>
      <string>uni0ECD</string>
      <key>niggahita-lao.narrow</key>
      <string>uni0ECD.narrow</string>
      <key>niggahita-lao.right</key>
      <string>uni0ECD.right</string>
      <key>niggahita_maiCatawa-lao</key>
      <string>niggahita_maiCatawalao</string>
      <key>niggahita_maiCatawa-lao.right</key>
      <string>niggahita_maiCatawalao.right</string>
      <key>niggahita_maiEk-lao</key>
      <string>niggahita_maiEklao</string>
      <key>niggahita_maiEk-lao.right</key>
      <string>niggahita_maiEklao.right</string>
      <key>niggahita_maiTho-lao</key>
      <string>niggahita_maiTholao</string>
      <key>niggahita_maiTho-lao.right</key>
      <string>niggahita_maiTholao.right</string>
      <key>niggahita_maiTi-lao</key>
      <string>niggahita_maiTilao</string>
      <key>niggahita_maiTi-lao.right</key>
      <string>niggahita_maiTilao.right</string>
      <key>nine-lao</key>
      <string>uni0ED9</string>
      <key>noNok-lao</key>
      <string>uni0E99</string>
      <key>nyoNyung-lao</key>
      <string>uni0E8D</string>
      <key>nyoVowel-lao</key>
      <string>uni0EBD</string>
      <key>oO-lao</key>
      <string>uni0EAD</string>
      <key>oVowel-lao</key>
      <string>uni0EC2</string>
      <key>one-lao</key>
      <string>uni0ED1</string>
      <key>phoPhu-lao</key>
      <string>uni0E9E</string>
      <key>phoPhueng-lao</key>
      <string>uni0E9C</string>
      <key>poPa-lao</key>
      <string>uni0E9B</string>
      <key>roRot-lao</key>
      <string>uni0EA3</string>
      <key>seven-lao</key>
      <string>uni0ED7</string>
      <key>six-lao</key>
      <string>uni0ED6</string>
      <key>soSang-lao</key>
      <string>uni0E8A</string>
      <key>soSeua-lao</key>
      <string>uni0EAA</string>
      <key>thoThong-lao</key>
      <string>uni0E96</string>
      <key>thoThung-lao</key>
      <string>uni0E97</string>
      <key>three-lao</key>
      <string>uni0ED3</string>
      <key>toTa-lao</key>
      <string>uni0E95</string>
      <key>two-lao</key>
      <string>uni0ED2</string>
      <key>uVowel-lao</key>
      <string>uni0EB8</string>
      <key>uVowel-lao.narrow</key>
      <string>uni0EB8.narrow</string>
      <key>uVowel-lao.small</key>
      <string>uni0EB8.small</string>
      <key>uuVowel-lao</key>
      <string>uni0EB9</string>
      <key>uuVowel-lao.narrow</key>
      <string>uni0EB9.narrow</string>
      <key>uuVowel-lao.small</key>
      <string>uni0EB9.small</string>
      <key>woWi-lao</key>
      <string>uni0EA7</string>
      <key>yoYa-lao</key>
      <string>uni0EA2</string>
      <key>zero-lao</key>
      <string>uni0ED0</string>
    </dict>
  </dict>
</plist>
