<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>uni0020</key>
    <string>uni0020.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni118A0</key>
    <string>uni118A_0.glif</string>
    <key>uni118A1</key>
    <string>uni118A_1.glif</string>
    <key>uni118A1.sm</key>
    <string>uni118A_1.sm.glif</string>
    <key>uni118A2</key>
    <string>uni118A_2.glif</string>
    <key>uni118A2.sm</key>
    <string>uni118A_2.sm.glif</string>
    <key>uni118A3</key>
    <string>uni118A_3.glif</string>
    <key>uni118A3.sm</key>
    <string>uni118A_3.sm.glif</string>
    <key>uni118A4</key>
    <string>uni118A_4.glif</string>
    <key>uni118A4.sm</key>
    <string>uni118A_4.sm.glif</string>
    <key>uni118A5</key>
    <string>uni118A_5.glif</string>
    <key>uni118A5.sm</key>
    <string>uni118A_5.sm.glif</string>
    <key>uni118A6</key>
    <string>uni118A_6.glif</string>
    <key>uni118A6.sm</key>
    <string>uni118A_6.sm.glif</string>
    <key>uni118A7</key>
    <string>uni118A_7.glif</string>
    <key>uni118A7.sm</key>
    <string>uni118A_7.sm.glif</string>
    <key>uni118A8</key>
    <string>uni118A_8.glif</string>
    <key>uni118A8.sm</key>
    <string>uni118A_8.sm.glif</string>
    <key>uni118A9</key>
    <string>uni118A_9.glif</string>
    <key>uni118A9.sm</key>
    <string>uni118A_9.sm.glif</string>
    <key>uni118AA</key>
    <string>uni118A_A_.glif</string>
    <key>uni118AA.sm</key>
    <string>uni118A_A_.sm.glif</string>
    <key>uni118AB</key>
    <string>uni118A_B_.glif</string>
    <key>uni118AB.sm</key>
    <string>uni118A_B_.sm.glif</string>
    <key>uni118AC</key>
    <string>uni118A_C_.glif</string>
    <key>uni118AC.sm</key>
    <string>uni118A_C_.sm.glif</string>
    <key>uni118AD</key>
    <string>uni118A_D_.glif</string>
    <key>uni118AD.sm</key>
    <string>uni118A_D_.sm.glif</string>
    <key>uni118AE</key>
    <string>uni118A_E_.glif</string>
    <key>uni118AE.sm</key>
    <string>uni118A_E_.sm.glif</string>
    <key>uni118AF</key>
    <string>uni118A_F_.glif</string>
    <key>uni118AF.sm</key>
    <string>uni118A_F_.sm.glif</string>
    <key>uni118B0</key>
    <string>uni118B_0.glif</string>
    <key>uni118B0.sm</key>
    <string>uni118B_0.sm.glif</string>
    <key>uni118B1</key>
    <string>uni118B_1.glif</string>
    <key>uni118B1.sm</key>
    <string>uni118B_1.sm.glif</string>
    <key>uni118B2</key>
    <string>uni118B_2.glif</string>
    <key>uni118B2.sm</key>
    <string>uni118B_2.sm.glif</string>
    <key>uni118B3</key>
    <string>uni118B_3.glif</string>
    <key>uni118B3.sm</key>
    <string>uni118B_3.sm.glif</string>
    <key>uni118B4</key>
    <string>uni118B_4.glif</string>
    <key>uni118B4.sm</key>
    <string>uni118B_4.sm.glif</string>
    <key>uni118B5</key>
    <string>uni118B_5.glif</string>
    <key>uni118B5.sm</key>
    <string>uni118B_5.sm.glif</string>
    <key>uni118B6</key>
    <string>uni118B_6.glif</string>
    <key>uni118B6.sm</key>
    <string>uni118B_6.sm.glif</string>
    <key>uni118B7</key>
    <string>uni118B_7.glif</string>
    <key>uni118B7.sm</key>
    <string>uni118B_7.sm.glif</string>
    <key>uni118B8</key>
    <string>uni118B_8.glif</string>
    <key>uni118B8.sm</key>
    <string>uni118B_8.sm.glif</string>
    <key>uni118B9</key>
    <string>uni118B_9.glif</string>
    <key>uni118B9.sm</key>
    <string>uni118B_9.sm.glif</string>
    <key>uni118BA</key>
    <string>uni118B_A_.glif</string>
    <key>uni118BA.sm</key>
    <string>uni118B_A_.sm.glif</string>
    <key>uni118BB</key>
    <string>uni118B_B_.glif</string>
    <key>uni118BB.sm</key>
    <string>uni118B_B_.sm.glif</string>
    <key>uni118BC</key>
    <string>uni118B_C_.glif</string>
    <key>uni118BC.sm</key>
    <string>uni118B_C_.sm.glif</string>
    <key>uni118BD</key>
    <string>uni118B_D_.glif</string>
    <key>uni118BD.sm</key>
    <string>uni118B_D_.sm.glif</string>
    <key>uni118BE</key>
    <string>uni118B_E_.glif</string>
    <key>uni118BE.sm</key>
    <string>uni118B_E_.sm.glif</string>
    <key>uni118BF</key>
    <string>uni118B_F_.glif</string>
    <key>uni118BF.sm</key>
    <string>uni118B_F_.sm.glif</string>
    <key>uni118C0</key>
    <string>uni118C_0.glif</string>
    <key>uni118C0.abv</key>
    <string>uni118C_0.abv.glif</string>
    <key>uni118C1</key>
    <string>uni118C_1.glif</string>
    <key>uni118C1.sm</key>
    <string>uni118C_1.sm.glif</string>
    <key>uni118C2</key>
    <string>uni118C_2.glif</string>
    <key>uni118C2.sm</key>
    <string>uni118C_2.sm.glif</string>
    <key>uni118C3</key>
    <string>uni118C_3.glif</string>
    <key>uni118C3.sm</key>
    <string>uni118C_3.sm.glif</string>
    <key>uni118C4</key>
    <string>uni118C_4.glif</string>
    <key>uni118C4.sm</key>
    <string>uni118C_4.sm.glif</string>
    <key>uni118C5</key>
    <string>uni118C_5.glif</string>
    <key>uni118C5.sm</key>
    <string>uni118C_5.sm.glif</string>
    <key>uni118C6</key>
    <string>uni118C_6.glif</string>
    <key>uni118C6.sm</key>
    <string>uni118C_6.sm.glif</string>
    <key>uni118C7</key>
    <string>uni118C_7.glif</string>
    <key>uni118C7.sm</key>
    <string>uni118C_7.sm.glif</string>
    <key>uni118C8</key>
    <string>uni118C_8.glif</string>
    <key>uni118C8.sm</key>
    <string>uni118C_8.sm.glif</string>
    <key>uni118C9</key>
    <string>uni118C_9.glif</string>
    <key>uni118C9.sm</key>
    <string>uni118C_9.sm.glif</string>
    <key>uni118CA</key>
    <string>uni118C_A_.glif</string>
    <key>uni118CA.abv</key>
    <string>uni118C_A_.abv.glif</string>
    <key>uni118CA.sm</key>
    <string>uni118C_A_.sm.glif</string>
    <key>uni118CB</key>
    <string>uni118C_B_.glif</string>
    <key>uni118CB.abv</key>
    <string>uni118C_B_.abv.glif</string>
    <key>uni118CB.sm</key>
    <string>uni118C_B_.sm.glif</string>
    <key>uni118CC</key>
    <string>uni118C_C_.glif</string>
    <key>uni118CC.abv</key>
    <string>uni118C_C_.abv.glif</string>
    <key>uni118CC.sm</key>
    <string>uni118C_C_.sm.glif</string>
    <key>uni118CD</key>
    <string>uni118C_D_.glif</string>
    <key>uni118CD.abv</key>
    <string>uni118C_D_.abv.glif</string>
    <key>uni118CD.sm</key>
    <string>uni118C_D_.sm.glif</string>
    <key>uni118CE</key>
    <string>uni118C_E_.glif</string>
    <key>uni118CE.abv</key>
    <string>uni118C_E_.abv.glif</string>
    <key>uni118CE.sm</key>
    <string>uni118C_E_.sm.glif</string>
    <key>uni118CF</key>
    <string>uni118C_F_.glif</string>
    <key>uni118CF.abv</key>
    <string>uni118C_F_.abv.glif</string>
    <key>uni118CF.sm</key>
    <string>uni118C_F_.sm.glif</string>
    <key>uni118D0</key>
    <string>uni118D_0.glif</string>
    <key>uni118D0.abv</key>
    <string>uni118D_0.abv.glif</string>
    <key>uni118D0.sm</key>
    <string>uni118D_0.sm.glif</string>
    <key>uni118D1</key>
    <string>uni118D_1.glif</string>
    <key>uni118D1.abv</key>
    <string>uni118D_1.abv.glif</string>
    <key>uni118D1.sm</key>
    <string>uni118D_1.sm.glif</string>
    <key>uni118D2</key>
    <string>uni118D_2.glif</string>
    <key>uni118D2.abv</key>
    <string>uni118D_2.abv.glif</string>
    <key>uni118D2.abv.flip</key>
    <string>uni118D_2.abv.flip.glif</string>
    <key>uni118D2.sm</key>
    <string>uni118D_2.sm.glif</string>
    <key>uni118D3</key>
    <string>uni118D_3.glif</string>
    <key>uni118D3.abv</key>
    <string>uni118D_3.abv.glif</string>
    <key>uni118D3.sm</key>
    <string>uni118D_3.sm.glif</string>
    <key>uni118D4</key>
    <string>uni118D_4.glif</string>
    <key>uni118D4.abv</key>
    <string>uni118D_4.abv.glif</string>
    <key>uni118D4.sm</key>
    <string>uni118D_4.sm.glif</string>
    <key>uni118D5</key>
    <string>uni118D_5.glif</string>
    <key>uni118D5.abv</key>
    <string>uni118D_5.abv.glif</string>
    <key>uni118D5.sm</key>
    <string>uni118D_5.sm.glif</string>
    <key>uni118D6</key>
    <string>uni118D_6.glif</string>
    <key>uni118D6.abv</key>
    <string>uni118D_6.abv.glif</string>
    <key>uni118D6.sm</key>
    <string>uni118D_6.sm.glif</string>
    <key>uni118D7</key>
    <string>uni118D_7.glif</string>
    <key>uni118D7.abv</key>
    <string>uni118D_7.abv.glif</string>
    <key>uni118D7.sm</key>
    <string>uni118D_7.sm.glif</string>
    <key>uni118D8</key>
    <string>uni118D_8.glif</string>
    <key>uni118D8.abv</key>
    <string>uni118D_8.abv.glif</string>
    <key>uni118D8.abv.flip</key>
    <string>uni118D_8.abv.flip.glif</string>
    <key>uni118D8.sm</key>
    <string>uni118D_8.sm.glif</string>
    <key>uni118D9</key>
    <string>uni118D_9.glif</string>
    <key>uni118D9.abv</key>
    <string>uni118D_9.abv.glif</string>
    <key>uni118D9.sm</key>
    <string>uni118D_9.sm.glif</string>
    <key>uni118DA</key>
    <string>uni118D_A_.glif</string>
    <key>uni118DA.abv</key>
    <string>uni118D_A_.abv.glif</string>
    <key>uni118DA.abv.flip</key>
    <string>uni118D_A_.abv.flip.glif</string>
    <key>uni118DA.sm</key>
    <string>uni118D_A_.sm.glif</string>
    <key>uni118DB</key>
    <string>uni118D_B_.glif</string>
    <key>uni118DB.abv</key>
    <string>uni118D_B_.abv.glif</string>
    <key>uni118DB.sm</key>
    <string>uni118D_B_.sm.glif</string>
    <key>uni118DC</key>
    <string>uni118D_C_.glif</string>
    <key>uni118DC.abv</key>
    <string>uni118D_C_.abv.glif</string>
    <key>uni118DC.abv.flip</key>
    <string>uni118D_C_.abv.flip.glif</string>
    <key>uni118DC.sm</key>
    <string>uni118D_C_.sm.glif</string>
    <key>uni118DD</key>
    <string>uni118D_D_.glif</string>
    <key>uni118DD.abv</key>
    <string>uni118D_D_.abv.glif</string>
    <key>uni118DD.sm</key>
    <string>uni118D_D_.sm.glif</string>
    <key>uni118DE</key>
    <string>uni118D_E_.glif</string>
    <key>uni118DE.abv</key>
    <string>uni118D_E_.abv.glif</string>
    <key>uni118DE.sm</key>
    <string>uni118D_E_.sm.glif</string>
    <key>uni118DF</key>
    <string>uni118D_F_.glif</string>
    <key>uni118DF.abv</key>
    <string>uni118D_F_.abv.glif</string>
    <key>uni118DF.sm</key>
    <string>uni118D_F_.sm.glif</string>
    <key>uni118E0</key>
    <string>uni118E_0.glif</string>
    <key>uni118E1</key>
    <string>uni118E_1.glif</string>
    <key>uni118E2</key>
    <string>uni118E_2.glif</string>
    <key>uni118E3</key>
    <string>uni118E_3.glif</string>
    <key>uni118E4</key>
    <string>uni118E_4.glif</string>
    <key>uni118E5</key>
    <string>uni118E_5.glif</string>
    <key>uni118E6</key>
    <string>uni118E_6.glif</string>
    <key>uni118E7</key>
    <string>uni118E_7.glif</string>
    <key>uni118E8</key>
    <string>uni118E_8.glif</string>
    <key>uni118E9</key>
    <string>uni118E_9.glif</string>
    <key>uni118EA</key>
    <string>uni118E_A_.glif</string>
    <key>uni118EB</key>
    <string>uni118E_B_.glif</string>
    <key>uni118EC</key>
    <string>uni118E_C_.glif</string>
    <key>uni118ED</key>
    <string>uni118E_D_.glif</string>
    <key>uni118EE</key>
    <string>uni118E_E_.glif</string>
    <key>uni118EF</key>
    <string>uni118E_F_.glif</string>
    <key>uni118F0</key>
    <string>uni118F_0.glif</string>
    <key>uni118F1</key>
    <string>uni118F_1.glif</string>
    <key>uni118F2</key>
    <string>uni118F_2.glif</string>
    <key>uni118FF</key>
    <string>uni118F_F_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
  </dict>
</plist>
