<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dd_ddha-gujarati</key>
    <dict>
      <key>public.kern2.LTN_comma_L</key>
      <integer>34</integer>
    </dict>
    <key>public.kern1.GUJ_b-R</key>
    <dict>
      <key>public.kern2.GUJ_da-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.GUJ_c-R</key>
    <dict>
      <key>public.kern2.GUJ_ca-L</key>
      <integer>-10</integer>
      <key>public.kern2.GUJ_cha-L</key>
      <integer>-36</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_tta-L</key>
      <integer>-46</integer>
      <key>public.kern2.GUJ_ttha-L</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.GUJ_ch_va-R</key>
    <dict>
      <key>public.kern2.LTN_comma_L</key>
      <integer>34</integer>
    </dict>
    <key>public.kern1.GUJ_cha-R</key>
    <dict>
      <key>public.kern2.LTN_comma_L</key>
      <integer>-108</integer>
    </dict>
    <key>public.kern1.GUJ_d_ga-R</key>
    <dict>
      <key>public.kern2.LTN_braceleft_L</key>
      <integer>48</integer>
      <key>public.kern2.LTN_comma_L</key>
      <integer>102</integer>
      <key>public.kern2.LTN_parenright_L</key>
      <integer>64</integer>
    </dict>
    <key>public.kern1.GUJ_d_gha-R</key>
    <dict>
      <key>public.kern2.LTN_braceleft_L</key>
      <integer>44</integer>
      <key>public.kern2.LTN_comma_L</key>
      <integer>102</integer>
      <key>public.kern2.LTN_parenright_L</key>
      <integer>54</integer>
    </dict>
    <key>public.kern1.GUJ_da-R</key>
    <dict>
      <key>public.kern2.GUJ_dd_dda-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_t_ta-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.GUJ_eight-R</key>
    <dict>
      <key>public.kern2.GUJ_one-L</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.GUJ_five-R</key>
    <dict>
      <key>public.kern2.GUJ_four-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_seven-L</key>
      <integer>14</integer>
      <key>public.kern2.GUJ_two-L</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.GUJ_four-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_one-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_seven-L</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.GUJ_gh-R</key>
    <dict>
      <key>public.kern2.GUJ_cha-L</key>
      <integer>-10</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.GUJ_h_nna-R</key>
    <dict>
      <key>d_ba-gujarati</key>
      <integer>20</integer>
      <key>d_bha-gujarati</key>
      <integer>20</integer>
      <key>d_va-gujarati</key>
      <integer>50</integer>
      <key>dd_ddha-gujarati</key>
      <integer>50</integer>
      <key>dh_na-gujarati</key>
      <integer>-10</integer>
      <key>dh_ra-gujarati</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_ca-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ch_va-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_d_ma-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_da_ru-L</key>
      <integer>60</integer>
      <key>public.kern2.GUJ_dd_dda-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_ddh_ddha-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_dha-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_gha-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ha-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ha_ru-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_j_ra-L</key>
      <integer>-50</integer>
      <key>public.kern2.GUJ_ja-L</key>
      <integer>-50</integer>
      <key>public.kern2.GUJ_jnya-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_ka-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_kh_ra-L</key>
      <integer>-60</integer>
      <key>public.kern2.GUJ_kha-L</key>
      <integer>-50</integer>
      <key>public.kern2.GUJ_kssa-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_lla-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_m_ra-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ma-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ng_ma-L</key>
      <integer>50</integer>
      <key>public.kern2.GUJ_nga-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_nna-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-70</integer>
      <key>public.kern2.GUJ_pa_tta-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_sh_ra-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ssa-L</key>
      <integer>-50</integer>
      <key>public.kern2.GUJ_t_ta-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_tha-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_tta-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_tth_ttha-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_ttha-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>-50</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>60</integer>
      <key>ss_ra-gujarati</key>
      <integer>20</integer>
      <key>th_ra-gujarati</key>
      <integer>-10</integer>
      <key>tt_ttha-gujarati</key>
      <integer>20</integer>
      <key>tt_va-gujarati</key>
      <integer>30</integer>
      <key>v_ra-gujarati</key>
      <integer>0</integer>
      <key>y_ra-gujarati</key>
      <integer>10</integer>
      <key>zh_ra-gujarati</key>
      <integer>-10</integer>
      <key>zh_ra_aaMatra-gujarati</key>
      <integer>-10</integer>
      <key>zh_ra_iiMatra-gujarati</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra-R</key>
    <dict>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>48</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_1-R</key>
    <dict>
      <key>dd_ddha-gujarati</key>
      <integer>44</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_2-R</key>
    <dict>
      <key>public.kern2.GUJ_da_ru-L</key>
      <integer>78</integer>
      <key>public.kern2.GUJ_dd_dda-L</key>
      <integer>58</integer>
      <key>public.kern2.GUJ_ng_gha-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_ng_ma-L</key>
      <integer>58</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_5-R</key>
    <dict>
      <key>public.kern2.GUJ_jnya-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_sa-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_sh_ra-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_anusvara-R</key>
    <dict>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>48</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_anusvara_1-R</key>
    <dict>
      <key>dd_ddha-gujarati</key>
      <integer>44</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_anusvara_5-R</key>
    <dict>
      <key>public.kern2.GUJ_jnya-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_sa-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_sh_ra-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph-R</key>
    <dict>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>48</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph_1-R</key>
    <dict>
      <key>dd_ddha-gujarati</key>
      <integer>44</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph_5-R</key>
    <dict>
      <key>public.kern2.GUJ_jnya-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_sa-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_sh_ra-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph_anusvara-R</key>
    <dict>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>48</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_1-R</key>
    <dict>
      <key>dd_ddha-gujarati</key>
      <integer>44</integer>
    </dict>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_5-R</key>
    <dict>
      <key>public.kern2.GUJ_jnya-L</key>
      <integer>30</integer>
      <key>public.kern2.GUJ_sa-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_sh_ra-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.GUJ_j-R</key>
    <dict>
      <key>public.kern2.GUJ_da-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ja-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_ka-L</key>
      <integer>-64</integer>
      <key>public.kern2.GUJ_m_ra-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_ma-L</key>
      <integer>-44</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_pa_tta-L</key>
      <integer>-44</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>2</integer>
    </dict>
    <key>public.kern1.GUJ_ja-R</key>
    <dict>
      <key>public.kern2.GUJ_kha-L</key>
      <integer>64</integer>
      <key>public.kern2.GUJ_ma-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>64</integer>
      <key>public.kern2.GUJ_ssa-L</key>
      <integer>64</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>4</integer>
      <key>public.kern2.LTN_comma_L</key>
      <integer>-118</integer>
    </dict>
    <key>public.kern1.GUJ_k-R</key>
    <dict>
      <key>public.kern2.GUJ_ba-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_kh_ra-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>24</integer>
      <key>public.kern2.GUJ_ma-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.GUJ_ka-R</key>
    <dict>
      <key>public.kern2.LTN_comma_L</key>
      <integer>-84</integer>
    </dict>
    <key>public.kern1.GUJ_kana-R</key>
    <dict>
      <key>public.kern2.GUJ_d_bha-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_da_ru-L</key>
      <integer>50</integer>
      <key>public.kern2.GUJ_dd_dda-L</key>
      <integer>50</integer>
      <key>public.kern2.GUJ_ddh_ddha-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_ha_ru-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_ng_ga-L</key>
      <integer>50</integer>
      <key>public.kern2.GUJ_t_ta-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_tth_ttha-L</key>
      <integer>40</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.GUJ_kh-R</key>
    <dict>
      <key>public.kern2.GUJ_da-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_kha-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-48</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.GUJ_l-L</key>
    <dict>
      <key>public.kern2.GUJ_ha_ru-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_ta-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_tha-L</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.GUJ_m-R</key>
    <dict>
      <key>public.kern2.GUJ_la-L</key>
      <integer>8</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.GUJ_n-R</key>
    <dict>
      <key>public.kern2.GUJ_da-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_ha_ru-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_pa_tta-L</key>
      <integer>-48</integer>
    </dict>
    <key>public.kern1.GUJ_nine-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_one-L</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.GUJ_one-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>-74</integer>
      <key>public.kern2.GUJ_four-L</key>
      <integer>-44</integer>
      <key>public.kern2.GUJ_seven-L</key>
      <integer>44</integer>
      <key>public.kern2.GUJ_three-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_two-L</key>
      <integer>-44</integer>
    </dict>
    <key>public.kern1.GUJ_p-R</key>
    <dict>
      <key>public.kern2.GUJ_cha-L</key>
      <integer>-62</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>-36</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.GUJ_s-R</key>
    <dict>
      <key>public.kern2.GUJ_cha-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_da-L</key>
      <integer>-14</integer>
      <key>public.kern2.GUJ_ddha-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_dha-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_gha-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_kha-L</key>
      <integer>-26</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>4</integer>
      <key>public.kern2.GUJ_p_ra-L</key>
      <integer>-36</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_ta-L</key>
      <integer>-10</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.GUJ_seven-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_four-L</key>
      <integer>-30</integer>
      <key>six-gujarati</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.GUJ_sh-R</key>
    <dict>
      <key>public.kern2.GUJ_ja-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_ka-L</key>
      <integer>-40</integer>
      <key>public.kern2.GUJ_tta-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_ttha-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>-10</integer>
      <key>public.kern2.GUJ_zha-L</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.GUJ_t-R</key>
    <dict>
      <key>nga-gujarati</key>
      <integer>-84</integer>
      <key>public.kern2.GUJ_ba-L</key>
      <integer>10</integer>
      <key>public.kern2.GUJ_gha-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_kha-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>20</integer>
      <key>public.kern2.GUJ_m_ra-L</key>
      <integer>-20</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.GUJ_t_ra-R</key>
    <dict>
      <key>public.kern2.GUJ_bha-L</key>
      <integer>44</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>44</integer>
      <key>public.kern2.GUJ_ssa-L</key>
      <integer>-30</integer>
      <key>public.kern2.GUJ_ta-L</key>
      <integer>34</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.GUJ_th-R</key>
    <dict>
      <key>public.kern2.GUJ_dha-L</key>
      <integer>-10</integer>
      <key>public.kern2.GUJ_pa-L</key>
      <integer>-4</integer>
      <key>public.kern2.GUJ_va-L</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.GUJ_three-R</key>
    <dict>
      <key>public.kern2.GUJ_seven-L</key>
      <integer>34</integer>
    </dict>
    <key>public.kern1.GUJ_two-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.GUJ_v-L</key>
    <dict>
      <key>public.kern2.GUJ_gha-L</key>
      <integer>-24</integer>
      <key>public.kern2.GUJ_ha_ru-L</key>
      <integer>-54</integer>
      <key>public.kern2.GUJ_la-L</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.GUJ_y-R</key>
    <dict>
      <key>public.kern2.GUJ_la-L</key>
      <integer>26</integer>
      <key>public.kern2.GUJ_ya-L</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.GUJ_zero-R</key>
    <dict>
      <key>public.kern2.GUJ_five-L</key>
      <integer>-34</integer>
      <key>public.kern2.GUJ_three-L</key>
      <integer>-20</integer>
    </dict>
    <key>six-gujarati</key>
    <dict>
      <key>public.kern2.GUJ_seven-L</key>
      <integer>24</integer>
    </dict>
    <key>tt_va-gujarati</key>
    <dict>
      <key>public.kern2.LTN_comma_L</key>
      <integer>68</integer>
    </dict>
  </dict>
</plist>
