<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>32</integer>
    <key>GSOffsetMakeStroke</key>
    <integer>1</integer>
    <key>GSOffsetVertical</key>
    <integer>30</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>NullMk</string>
      <string>ring.23</string>
      <string>ring.full</string>
      <string>ring.half</string>
      <string>ring.l34</string>
      <string>ring.r34</string>
      <string>space</string>
      <string>u16F00</string>
      <string>u16F01</string>
      <string>u16F02</string>
      <string>u16F03</string>
      <string>u16F04</string>
      <string>u16F05</string>
      <string>u16F06</string>
      <string>u16F07</string>
      <string>u16F08</string>
      <string>u16F09</string>
      <string>u16F0A</string>
      <string>u16F0B</string>
      <string>u16F0C</string>
      <string>u16F0D</string>
      <string>u16F0E</string>
      <string>u16F0F</string>
      <string>u16F10</string>
      <string>u16F11</string>
      <string>u16F12</string>
      <string>u16F13</string>
      <string>u16F14</string>
      <string>u16F15</string>
      <string>u16F16</string>
      <string>u16F17</string>
      <string>u16F18</string>
      <string>u16F19</string>
      <string>u16F1A</string>
      <string>u16F1B</string>
      <string>u16F1C</string>
      <string>u16F1D</string>
      <string>u16F1E</string>
      <string>u16F1F</string>
      <string>u16F20</string>
      <string>u16F21</string>
      <string>u16F22</string>
      <string>u16F23</string>
      <string>u16F24</string>
      <string>u16F25</string>
      <string>u16F26</string>
      <string>u16F27</string>
      <string>u16F28</string>
      <string>u16F29</string>
      <string>u16F2A</string>
      <string>u16F2B</string>
      <string>u16F2C</string>
      <string>u16F2D</string>
      <string>u16F2E</string>
      <string>u16F2F</string>
      <string>u16F30</string>
      <string>u16F31</string>
      <string>u16F32</string>
      <string>u16F33</string>
      <string>u16F34</string>
      <string>u16F35</string>
      <string>u16F36</string>
      <string>u16F37</string>
      <string>u16F38</string>
      <string>u16F39</string>
      <string>u16F3A</string>
      <string>u16F3B</string>
      <string>u16F3C</string>
      <string>u16F3D</string>
      <string>u16F3E</string>
      <string>u16F3F</string>
      <string>u16F40</string>
      <string>u16F41</string>
      <string>u16F42</string>
      <string>u16F43</string>
      <string>u16F44</string>
      <string>u16F45</string>
      <string>u16F46</string>
      <string>u16F47</string>
      <string>u16F48</string>
      <string>u16F49</string>
      <string>u16F4A</string>
      <string>u16F4F</string>
      <string>u16F4F.sp</string>
      <string>u16F50</string>
      <string>u16F51</string>
      <string>u16F52</string>
      <string>u16F53</string>
      <string>u16F54</string>
      <string>u16F54.abv</string>
      <string>u16F54.blw</string>
      <string>u16F54.cnt</string>
      <string>u16F54.rht</string>
      <string>u16F55</string>
      <string>u16F55.abv</string>
      <string>u16F55.blw</string>
      <string>u16F55.cnt</string>
      <string>u16F55.rht</string>
      <string>u16F56</string>
      <string>u16F56.abv</string>
      <string>u16F56.blw</string>
      <string>u16F56.cnt</string>
      <string>u16F56.rht</string>
      <string>u16F57</string>
      <string>u16F57.abv</string>
      <string>u16F57.blw</string>
      <string>u16F57.cnt</string>
      <string>u16F57.rht</string>
      <string>u16F58</string>
      <string>u16F58.abv</string>
      <string>u16F58.blw</string>
      <string>u16F58.cnt</string>
      <string>u16F58.rht</string>
      <string>u16F59</string>
      <string>u16F59.abv</string>
      <string>u16F59.blw</string>
      <string>u16F59.cnt</string>
      <string>u16F59.rht</string>
      <string>u16F5A</string>
      <string>u16F5A.abv</string>
      <string>u16F5A.blw</string>
      <string>u16F5A.cnt</string>
      <string>u16F5A.rht</string>
      <string>u16F5B</string>
      <string>u16F5B.abv</string>
      <string>u16F5B.blw</string>
      <string>u16F5B.cnt</string>
      <string>u16F5B.rht</string>
      <string>u16F5C</string>
      <string>u16F5C.abv</string>
      <string>u16F5C.blw</string>
      <string>u16F5C.cnt</string>
      <string>u16F5C.rht</string>
      <string>u16F5D</string>
      <string>u16F5D.abv</string>
      <string>u16F5D.blw</string>
      <string>u16F5D.cnt</string>
      <string>u16F5D.rht</string>
      <string>u16F5E</string>
      <string>u16F5E.abv</string>
      <string>u16F5E.blw</string>
      <string>u16F5E.cnt</string>
      <string>u16F5E.rht</string>
      <string>u16F5F</string>
      <string>u16F5F.abv</string>
      <string>u16F5F.blw</string>
      <string>u16F5F.cnt</string>
      <string>u16F5F.rht</string>
      <string>u16F60</string>
      <string>u16F60.abv</string>
      <string>u16F60.blw</string>
      <string>u16F60.cnt</string>
      <string>u16F60.rht</string>
      <string>u16F61</string>
      <string>u16F61.abv</string>
      <string>u16F61.blw</string>
      <string>u16F61.cnt</string>
      <string>u16F61.rht</string>
      <string>u16F62</string>
      <string>u16F62.abv</string>
      <string>u16F62.blw</string>
      <string>u16F62.cnt</string>
      <string>u16F62.rht</string>
      <string>u16F63</string>
      <string>u16F63.abv</string>
      <string>u16F63.blw</string>
      <string>u16F63.cnt</string>
      <string>u16F63.rht</string>
      <string>u16F64</string>
      <string>u16F64.abv</string>
      <string>u16F64.blw</string>
      <string>u16F64.cnt</string>
      <string>u16F64.rht</string>
      <string>u16F65</string>
      <string>u16F65.abv</string>
      <string>u16F65.blw</string>
      <string>u16F65.cnt</string>
      <string>u16F65.rht</string>
      <string>u16F66</string>
      <string>u16F66.abv</string>
      <string>u16F66.blw</string>
      <string>u16F66.cnt</string>
      <string>u16F66.rht</string>
      <string>u16F67</string>
      <string>u16F67.abv</string>
      <string>u16F67.blw</string>
      <string>u16F67.cnt</string>
      <string>u16F67.rht</string>
      <string>u16F68</string>
      <string>u16F68.abv</string>
      <string>u16F68.blw</string>
      <string>u16F68.cnt</string>
      <string>u16F68.rht</string>
      <string>u16F69</string>
      <string>u16F69.abv</string>
      <string>u16F69.blw</string>
      <string>u16F69.cnt</string>
      <string>u16F69.rht</string>
      <string>u16F6A</string>
      <string>u16F6A.abv</string>
      <string>u16F6A.blw</string>
      <string>u16F6A.cnt</string>
      <string>u16F6A.rht</string>
      <string>u16F6B</string>
      <string>u16F6B.abv</string>
      <string>u16F6B.blw</string>
      <string>u16F6B.cnt</string>
      <string>u16F6B.rht</string>
      <string>u16F6C</string>
      <string>u16F6C.abv</string>
      <string>u16F6C.blw</string>
      <string>u16F6C.cnt</string>
      <string>u16F6C.rht</string>
      <string>u16F6D</string>
      <string>u16F6D.abv</string>
      <string>u16F6D.blw</string>
      <string>u16F6D.cnt</string>
      <string>u16F6D.rht</string>
      <string>u16F6E</string>
      <string>u16F6E.abv</string>
      <string>u16F6E.blw</string>
      <string>u16F6E.cnt</string>
      <string>u16F6E.rht</string>
      <string>u16F6F</string>
      <string>u16F6F.abv</string>
      <string>u16F6F.blw</string>
      <string>u16F6F.cnt</string>
      <string>u16F6F.rht</string>
      <string>u16F70</string>
      <string>u16F70.abv</string>
      <string>u16F70.blw</string>
      <string>u16F70.cnt</string>
      <string>u16F70.rht</string>
      <string>u16F71</string>
      <string>u16F71.abv</string>
      <string>u16F71.blw</string>
      <string>u16F71.cnt</string>
      <string>u16F71.rht</string>
      <string>u16F72</string>
      <string>u16F72.abv</string>
      <string>u16F72.blw</string>
      <string>u16F72.cnt</string>
      <string>u16F72.rht</string>
      <string>u16F73</string>
      <string>u16F73.abv</string>
      <string>u16F73.blw</string>
      <string>u16F73.cnt</string>
      <string>u16F73.rht</string>
      <string>u16F74</string>
      <string>u16F74.abv</string>
      <string>u16F74.blw</string>
      <string>u16F74.cnt</string>
      <string>u16F74.rht</string>
      <string>u16F75</string>
      <string>u16F75.abv</string>
      <string>u16F75.blw</string>
      <string>u16F75.cnt</string>
      <string>u16F75.rht</string>
      <string>u16F76</string>
      <string>u16F76.abv</string>
      <string>u16F76.blw</string>
      <string>u16F76.cnt</string>
      <string>u16F76.rht</string>
      <string>u16F77</string>
      <string>u16F77.abv</string>
      <string>u16F77.blw</string>
      <string>u16F77.cnt</string>
      <string>u16F77.rht</string>
      <string>u16F78</string>
      <string>u16F78.abv</string>
      <string>u16F78.blw</string>
      <string>u16F78.cnt</string>
      <string>u16F78.rht</string>
      <string>u16F79</string>
      <string>u16F79.abv</string>
      <string>u16F79.blw</string>
      <string>u16F79.cnt</string>
      <string>u16F79.rht</string>
      <string>u16F7A</string>
      <string>u16F7A.abv</string>
      <string>u16F7A.blw</string>
      <string>u16F7A.cnt</string>
      <string>u16F7A.rht</string>
      <string>u16F7B</string>
      <string>u16F7B.abv</string>
      <string>u16F7B.blw</string>
      <string>u16F7B.cnt</string>
      <string>u16F7B.rht</string>
      <string>u16F7C</string>
      <string>u16F7C.abv</string>
      <string>u16F7C.blw</string>
      <string>u16F7C.cnt</string>
      <string>u16F7C.rht</string>
      <string>u16F7D</string>
      <string>u16F7D.abv</string>
      <string>u16F7D.blw</string>
      <string>u16F7D.cnt</string>
      <string>u16F7D.rht</string>
      <string>u16F7E</string>
      <string>u16F7E.abv</string>
      <string>u16F7E.blw</string>
      <string>u16F7E.cnt</string>
      <string>u16F7E.rht</string>
      <string>u16F7F</string>
      <string>u16F7F.abv</string>
      <string>u16F7F.blw</string>
      <string>u16F7F.cnt</string>
      <string>u16F7F.rht</string>
      <string>u16F80</string>
      <string>u16F80.abv</string>
      <string>u16F80.blw</string>
      <string>u16F80.cnt</string>
      <string>u16F80.rht</string>
      <string>u16F81</string>
      <string>u16F81.abv</string>
      <string>u16F81.blw</string>
      <string>u16F81.cnt</string>
      <string>u16F81.rht</string>
      <string>u16F82</string>
      <string>u16F82.abv</string>
      <string>u16F82.blw</string>
      <string>u16F82.cnt</string>
      <string>u16F82.rht</string>
      <string>u16F83</string>
      <string>u16F83.abv</string>
      <string>u16F83.blw</string>
      <string>u16F83.cnt</string>
      <string>u16F83.rht</string>
      <string>u16F84</string>
      <string>u16F84.abv</string>
      <string>u16F84.blw</string>
      <string>u16F84.cnt</string>
      <string>u16F84.rht</string>
      <string>u16F85</string>
      <string>u16F85.abv</string>
      <string>u16F85.blw</string>
      <string>u16F85.cnt</string>
      <string>u16F85.rht</string>
      <string>u16F86</string>
      <string>u16F86.abv</string>
      <string>u16F86.blw</string>
      <string>u16F86.cnt</string>
      <string>u16F86.rht</string>
      <string>u16F87</string>
      <string>u16F87.abv</string>
      <string>u16F87.blw</string>
      <string>u16F87.cnt</string>
      <string>u16F87.rht</string>
      <string>u16F8F</string>
      <string>u16F90</string>
      <string>u16F91</string>
      <string>u16F92</string>
      <string>u16F93</string>
      <string>u16F94</string>
      <string>u16F95</string>
      <string>u16F96</string>
      <string>u16F97</string>
      <string>u16F98</string>
      <string>u16F99</string>
      <string>u16F9A</string>
      <string>u16F9B</string>
      <string>u16F9C</string>
      <string>u16F9D</string>
      <string>u16F9E</string>
      <string>u16F9F</string>
      <string>uni00A0</string>
      <string>uni25CC</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>ring.full</string>
      <string>ring.half</string>
      <string>ring.23</string>
      <string>ring.l34</string>
      <string>ring.r34</string>
    </array>
  </dict>
</plist>
