<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1._e</key>
    <array>
      <string>nna_shn</string>
      <string>na_shn</string>
      <string>pha_shn</string>
      <string>fa_shn</string>
      <string>bha_shn</string>
      <string>fa_tlg</string>
      <string>_e</string>
      <string>_e_dot</string>
    </array>
    <key>public.kern1.aa_shn</key>
    <array>
      <string>aa_shn</string>
    </array>
    <key>public.kern1.dotbelow</key>
    <array>
      <string>dot_below_spacing</string>
      <string>dot_below_pr</string>
    </array>
    <key>public.kern1.jha</key>
    <array>
      <string>jha</string>
      <string>jha_mon</string>
      <string>cha_shw</string>
      <string>sha_shw</string>
    </array>
    <key>public.kern1.ka.sub</key>
    <array>
      <string>ka.sub</string>
      <string>gha.sub</string>
      <string>cha.sub</string>
      <string>nya.sub</string>
      <string>nnya.sub</string>
      <string>tta.sub</string>
      <string>ttha.sub</string>
      <string>dda.sub</string>
      <string>ta.sub</string>
      <string>ta_wa.sub</string>
      <string>ta_wa_ovl.sub</string>
      <string>tha.sub</string>
      <string>bha.sub</string>
      <string>ya.sub</string>
      <string>la.sub</string>
      <string>sa.sub</string>
      <string>ha.sub</string>
      <string>lla.sub</string>
      <string>a_shn.sub</string>
      <string>ca_shn.sub</string>
      <string>cha_shn.sub</string>
      <string>za_shn.sub</string>
      <string>jha_shn.sub</string>
      <string>nya_shn.sub</string>
      <string>nna_shn.sub</string>
      <string>da_shn.sub</string>
      <string>na_shn.sub</string>
      <string>pha_shn.sub</string>
      <string>fa_shn.sub</string>
      <string>bha_shn.sub</string>
      <string>tha_shn.sub</string>
      <string>tha_phk.sub</string>
      <string>ka_khm.sub</string>
      <string>ta_khm.sub</string>
      <string>ya_khm.sub</string>
      <string>la_khm.sub</string>
      <string>aa_khm.sub</string>
      <string>ka_shn_dot.sub</string>
      <string>nya_shn_dot.sub</string>
      <string>tha_khm.sub</string>
    </array>
    <key>public.kern1.ka.sub2</key>
    <array>
      <string>ka.sub2</string>
      <string>gha.sub2</string>
      <string>cha.sub2</string>
      <string>nya.sub2</string>
      <string>nnya.sub2</string>
      <string>ttha.sub2</string>
      <string>ta.sub2</string>
      <string>ta_wa.sub2</string>
      <string>ta_wa_ovl.sub2</string>
      <string>tha.sub2</string>
      <string>bha.sub2</string>
      <string>ya.sub2</string>
      <string>la.sub2</string>
      <string>sa.sub2</string>
      <string>ha.sub2</string>
      <string>lla.sub2</string>
      <string>a_m.sub2</string>
      <string>a_shn.sub2</string>
      <string>ca_shn.sub2</string>
      <string>cha_shn.sub2</string>
      <string>za_shn.sub2</string>
      <string>jha_shn.sub2</string>
      <string>nya_shn.sub2</string>
      <string>nna_shn.sub2</string>
      <string>da_shn.sub2</string>
      <string>na_shn.sub2</string>
      <string>pha_shn.sub2</string>
      <string>fa_shn.sub2</string>
      <string>bha_shn.sub2</string>
      <string>tha_shn.sub2</string>
      <string>ka_khm.sub2</string>
      <string>ta_khm.sub2</string>
      <string>tha_phk.sub2</string>
      <string>ya_khm.sub2</string>
      <string>la_khm.sub2</string>
      <string>aa_khm.sub2</string>
      <string>ka_shn_dot.sub2</string>
      <string>nya_shn_dot.sub2</string>
      <string>tha_khm.sub2</string>
    </array>
    <key>public.kern1.medial_ya.alt2</key>
    <array>
      <string>medial_ya.alt3</string>
    </array>
    <key>public.kern1.na</key>
    <array>
      <string>na</string>
      <string>na.alt</string>
    </array>
    <key>public.kern1.na.for_aa</key>
    <array>
      <string>na.for_aa</string>
    </array>
    <key>public.kern1.nga</key>
    <array>
      <string>nga</string>
    </array>
    <key>public.kern1.nga_khm</key>
    <array>
      <string>nga_khm</string>
    </array>
    <key>public.kern1.one_atn</key>
    <array>
      <string>one_atn</string>
    </array>
    <key>public.kern1.one_shn</key>
    <array>
      <string>one_shn</string>
      <string>four_shn</string>
    </array>
    <key>public.kern1.period.mymr</key>
    <array>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.quoteleft.mymr</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright.mymr</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.ra</key>
    <array>
      <string>ra</string>
      <string>ra.alt</string>
      <string>ra.alt2</string>
    </array>
    <key>public.kern1.vocR_skt</key>
    <array>
      <string>vocR_skt</string>
      <string>vocRR_skt</string>
    </array>
    <key>public.kern1.wa</key>
    <array>
      <string>zero_m</string>
      <string>one_m</string>
      <string>eight_m</string>
      <string>nine_tlg</string>
      <string>ka</string>
      <string>kha</string>
      <string>ga</string>
      <string>gha</string>
      <string>ca</string>
      <string>cha</string>
      <string>great_nnya</string>
      <string>ddha</string>
      <string>nna</string>
      <string>ta</string>
      <string>tha</string>
      <string>dha</string>
      <string>pa</string>
      <string>pha</string>
      <string>ba</string>
      <string>bha</string>
      <string>ma</string>
      <string>ya</string>
      <string>la</string>
      <string>wa</string>
      <string>sa</string>
      <string>great_sa</string>
      <string>ha</string>
      <string>a_m</string>
      <string>sha_skt</string>
      <string>ssa_skt</string>
      <string>bba_mon</string>
      <string>nna_epk</string>
      <string>tha_wpk</string>
      <string>ka_shn</string>
      <string>kha_shn</string>
      <string>ga_shn</string>
      <string>gha_shn</string>
      <string>ca_shn</string>
      <string>cha_shn</string>
      <string>jha_shn</string>
      <string>nya_shn</string>
      <string>da_shn</string>
      <string>ba_shn</string>
      <string>tha_shn</string>
      <string>ha_shn</string>
      <string>a_shn</string>
      <string>za_shn</string>
      <string>ka_khm</string>
      <string>kha_khm</string>
      <string>ga_khm</string>
      <string>gha_khm</string>
      <string>ca_khm</string>
      <string>cha_khm</string>
      <string>ja_khm</string>
      <string>jha_khm</string>
      <string>nya_khm_dot</string>
      <string>tta_khm</string>
      <string>ttha_khm</string>
      <string>dda_khm</string>
      <string>ddha_khm</string>
      <string>ta_khm</string>
      <string>dha_khm</string>
      <string>na_khm</string>
      <string>pa_khm</string>
      <string>ma_khm</string>
      <string>ya_khm</string>
      <string>la_khm</string>
      <string>sa_khm</string>
      <string>tha_khm</string>
      <string>ha_khm</string>
      <string>hha_khm</string>
      <string>aa_khm</string>
      <string>fa_khm</string>
      <string>xa_khm</string>
      <string>za_khm</string>
      <string>ra_khm</string>
      <string>ga_tlg</string>
      <string>gha_tlg</string>
      <string>cha_tlg</string>
      <string>ja_tlg</string>
      <string>nya_tlg</string>
      <string>tta_tlg</string>
      <string>dda_tlg</string>
      <string>ddha_tlg</string>
      <string>nna_tlg</string>
      <string>da_tlg</string>
      <string>dha_tlg</string>
      <string>na_tlg</string>
      <string>ba_tlg</string>
      <string>bha_tlg</string>
      <string>sa_tlg</string>
      <string>ha_tlg</string>
      <string>lla_tlg</string>
      <string>tha_phk</string>
      <string>ra_atn</string>
      <string>wa_phk</string>
      <string>_aa</string>
      <string>_aa_phk</string>
      <string>fa_rpg</string>
      <string>ka_ssa</string>
      <string>dda_ddha</string>
      <string>ba_dha</string>
      <string>uni25CC</string>
      <string>ca_shn_dot</string>
      <string>nya_shn_dot</string>
      <string>ga_khm_dot</string>
      <string>ca_khm_dot</string>
      <string>cha_khm_dot</string>
      <string>ja_khm_dot</string>
      <string>jha_khm_dot</string>
      <string>fa_khm_dot</string>
      <string>ra_atn_dot</string>
      <string>_aa.alt</string>
      <string>great_nnya.clipped</string>
    </array>
    <key>public.kern2._aa.alt</key>
    <array>
      <string>_aa.alt</string>
    </array>
    <key>public.kern2.aa_shn</key>
    <array>
      <string>aa_shn</string>
    </array>
    <key>public.kern2.da</key>
    <array>
      <string>da</string>
      <string>a_m</string>
    </array>
    <key>public.kern2.ddha</key>
    <array>
      <string>gha</string>
      <string>ddha</string>
      <string>vocRR_skt</string>
      <string>pha_shn</string>
      <string>fa_shn</string>
      <string>ghwa_epk</string>
      <string>dda_ddha</string>
    </array>
    <key>public.kern2.fa_khm</key>
    <array>
      <string>cha_khm</string>
      <string>fa_khm</string>
      <string>ra_khm</string>
      <string>cha_khm_dot</string>
      <string>fa_khm_dot</string>
    </array>
    <key>public.kern2.ka_shn</key>
    <array>
      <string>ka_shn</string>
      <string>ga_shn</string>
      <string>a_shn</string>
      <string>ca_khm</string>
      <string>ja_khm</string>
      <string>aa_khm</string>
      <string>za_khm</string>
      <string>qn_khm</string>
      <string>two_atn</string>
      <string>ca_khm_dot</string>
      <string>ja_khm_dot</string>
    </array>
    <key>public.kern2.kha</key>
    <array>
      <string>kha</string>
      <string>cha</string>
      <string>gha_shn</string>
      <string>cha_shn</string>
      <string>na_shn</string>
      <string>tha_shn</string>
      <string>tha_khm</string>
    </array>
    <key>public.kern2.kha_khm</key>
    <array>
      <string>kha_khm</string>
    </array>
    <key>public.kern2.kha_shn</key>
    <array>
      <string>kha_shn</string>
    </array>
    <key>public.kern2.medial_ya.alt1</key>
    <array>
      <string>medial_ya.alt1</string>
    </array>
    <key>public.kern2.medial_ya.alt2</key>
    <array>
      <string>medial_ya.alt3</string>
    </array>
    <key>public.kern2.medial_ya.ttha</key>
    <array>
      <string>medial_ya.ttha</string>
    </array>
    <key>public.kern2.na</key>
    <array>
      <string>na</string>
      <string>na.alt</string>
      <string>na_dot_below</string>
      <string>na_short.for_aa</string>
      <string>na.for_aa</string>
    </array>
    <key>public.kern2.na_khm</key>
    <array>
      <string>na_khm</string>
      <string>nna_tlg</string>
      <string>na_tlg</string>
    </array>
    <key>public.kern2.nya</key>
    <array>
      <string>nya</string>
      <string>nya.narrow</string>
      <string>nya.notail</string>
      <string>nya.deep</string>
      <string>nnya</string>
      <string>nnya.notail</string>
      <string>great_nnya</string>
      <string>nya_ca</string>
      <string>nya_ca_ya</string>
      <string>nya_cha</string>
      <string>nya_cha_ya</string>
      <string>nya_ja</string>
      <string>nya_jha</string>
      <string>nnya_medial_ha_u</string>
      <string>nnya_medial_ha_uu</string>
      <string>great_nnya.clipped</string>
    </array>
    <key>public.kern2.one_m</key>
    <array>
      <string>one_m</string>
      <string>bha</string>
      <string>sa</string>
      <string>great_sa</string>
      <string>tha_wpk</string>
      <string>jha_shn</string>
    </array>
    <key>public.kern2.period.mymr</key>
    <array>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.quoteleft.mymr</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright.mymr</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.ra</key>
    <array>
      <string>ra_u</string>
      <string>ra_uu</string>
      <string>ra_medial_ha</string>
      <string>ra_medial_ha_u</string>
      <string>ra_medial_ha_uu</string>
      <string>ra_medial_wa</string>
      <string>ra_medial_wa_ha</string>
      <string>ra_medial_ha_obl</string>
      <string>ra_medial_ha_obl_u</string>
      <string>ra_medial_ha_obl_uu</string>
      <string>ra_medial_wa_ovl</string>
      <string>ra_medial_wa_ovl_ha</string>
    </array>
    <key>public.kern2.wa</key>
    <array>
      <string>zero_m</string>
      <string>eight_m</string>
      <string>ka</string>
      <string>ga</string>
      <string>nga</string>
      <string>ca</string>
      <string>ja</string>
      <string>jha</string>
      <string>nna</string>
      <string>ta</string>
      <string>tha</string>
      <string>dha</string>
      <string>pa</string>
      <string>pha</string>
      <string>ba</string>
      <string>ma</string>
      <string>ya</string>
      <string>ra</string>
      <string>ra.alt</string>
      <string>ra.alt2</string>
      <string>la</string>
      <string>wa</string>
      <string>ha</string>
      <string>sha_skt</string>
      <string>ssa_skt</string>
      <string>vocR_skt</string>
      <string>vocL_skt</string>
      <string>vocLL_skt</string>
      <string>bba_mon</string>
      <string>nna_epk</string>
      <string>ca_shn</string>
      <string>nya_shn</string>
      <string>da_shn</string>
      <string>ba_shn</string>
      <string>bha_shn</string>
      <string>za_shn</string>
      <string>ka_khm</string>
      <string>ga_khm</string>
      <string>gha_khm</string>
      <string>nga_khm</string>
      <string>jha_khm</string>
      <string>tta_khm</string>
      <string>ttha_khm</string>
      <string>dda_khm</string>
      <string>ddha_khm</string>
      <string>ta_khm</string>
      <string>dha_khm</string>
      <string>pa_khm</string>
      <string>ma_khm</string>
      <string>ya_khm</string>
      <string>la_khm</string>
      <string>sa_khm</string>
      <string>hha_khm</string>
      <string>xa_khm</string>
      <string>ga_tlg</string>
      <string>gha_tlg</string>
      <string>cha_tlg</string>
      <string>ja_tlg</string>
      <string>nya_tlg</string>
      <string>tta_tlg</string>
      <string>dda_tlg</string>
      <string>ddha_tlg</string>
      <string>da_tlg</string>
      <string>dha_tlg</string>
      <string>ba_tlg</string>
      <string>bha_tlg</string>
      <string>sa_tlg</string>
      <string>ha_tlg</string>
      <string>lla_tlg</string>
      <string>fa_tlg</string>
      <string>tha_phk</string>
      <string>wa_phk</string>
      <string>e_m</string>
      <string>au</string>
      <string>_e</string>
      <string>aforementioned</string>
      <string>genitive</string>
      <string>exclam_shn</string>
      <string>ywa_epk</string>
      <string>fa_rpg</string>
      <string>ka_ssa</string>
      <string>nna_tta</string>
      <string>nna_ttha</string>
      <string>nna_dda</string>
      <string>ba_dha</string>
      <string>uni25CC</string>
      <string>_e_dot</string>
      <string>ca_shn_dot</string>
      <string>nya_shn_dot</string>
      <string>ga_khm_dot</string>
      <string>jha_khm_dot</string>
    </array>
  </dict>
</plist>
