<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
  </dict>
</plist>
