<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Alef</string>
      <string>CR</string>
      <string>EightArabic</string>
      <string>EightUrdu</string>
      <string>FiveArabic</string>
      <string>FiveUrdu</string>
      <string>FourArabic</string>
      <string>FourUrdu</string>
      <string>NULL</string>
      <string>NineArabic</string>
      <string>NineUrdu</string>
      <string>OneArabic</string>
      <string>OneUrdu</string>
      <string>SevenArabic</string>
      <string>SevenUrdu</string>
      <string>SixArabic</string>
      <string>SixUrdu</string>
      <string>ThreeArabic</string>
      <string>ThreeUrdu</string>
      <string>TwoArabic</string>
      <string>TwoUrdu</string>
      <string>ZeroArabic</string>
      <string>ZeroUrdu</string>
      <string>eight_hundred_siyaq</string>
      <string>eight_siyaq</string>
      <string>eight_thousand_siyaq</string>
      <string>eighty_siyaq</string>
      <string>eighty_thousand_siyaq</string>
      <string>fifty_siyaq</string>
      <string>fifty_thousand_siyaq</string>
      <string>five_hundred_siyaq</string>
      <string>five_siyaq</string>
      <string>five_thousand_siyaq</string>
      <string>forty_siyaq</string>
      <string>forty_thousand_siyaq</string>
      <string>four_hundred_siyaq</string>
      <string>four_siyaq</string>
      <string>four_thousand_siyaq</string>
      <string>karor_siyaq</string>
      <string>karoran_siyaq</string>
      <string>lakh_mark.alt_siyaq</string>
      <string>lakh_mark_siyaq</string>
      <string>lakh_siyaq</string>
      <string>lakhan_siyaq</string>
      <string>nine_hundred_siyaq</string>
      <string>nine_siyaq</string>
      <string>nine_thousand_siyaq</string>
      <string>ninety_siyaq</string>
      <string>ninety_thousand_siyaq</string>
      <string>one.alt_siyaq</string>
      <string>one_hundred_siyaq</string>
      <string>one_siyaq</string>
      <string>one_thousand_siyaq</string>
      <string>onehalf_siyaq</string>
      <string>onequarter_siyaq</string>
      <string>placeholder_siyaq</string>
      <string>placeholder_siyaq.alt</string>
      <string>prefixed_eight_siyaq</string>
      <string>prefixed_five_siyaq</string>
      <string>prefixed_four_siyaq</string>
      <string>prefixed_nine_siyaq</string>
      <string>prefixed_one_siyaq</string>
      <string>prefixed_seven_siyaq</string>
      <string>prefixed_six_siyaq</string>
      <string>prefixed_three_siyaq</string>
      <string>prefixed_two_siyaq</string>
      <string>rupee_siyaq</string>
      <string>seven_hundred_siyaq</string>
      <string>seven_siyaq</string>
      <string>seven_thousand_siyaq</string>
      <string>seventy_siyaq</string>
      <string>seventy_thousand_siyaq</string>
      <string>six_hundred_siyaq</string>
      <string>six_siyaq</string>
      <string>six_thousand_siyaq</string>
      <string>sixty_siyaq</string>
      <string>sixty_thousand_siyaq</string>
      <string>space</string>
      <string>ten.alt_siyaq</string>
      <string>ten_siyaq</string>
      <string>ten_thousand_siyaq</string>
      <string>thirty_siyaq</string>
      <string>thirty_thousand_siyaq</string>
      <string>three_hundred_siyaq</string>
      <string>three_siyaq</string>
      <string>three_thousand_siyaq</string>
      <string>threequarters_siyaq</string>
      <string>twenty_siyaq</string>
      <string>twenty_thousand_siyaq</string>
      <string>two.alt_siyaq</string>
      <string>two_hundred_siyaq</string>
      <string>two_siyaq</string>
      <string>two_thousand_siyaq</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
