<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aabeng</key>
    <string>aabeng.glif</string>
    <key>aavowelsignbeng</key>
    <string>aavowelsignbeng.glif</string>
    <key>abeng</key>
    <string>abeng.glif</string>
    <key>aibeng</key>
    <string>aibeng.glif</string>
    <key>aivowelsignbeng</key>
    <string>aivowelsignbeng.glif</string>
    <key>aivowelsigninibeng</key>
    <string>aivowelsigninibeng.glif</string>
    <key>anusvarabeng</key>
    <string>anusvarabeng.glif</string>
    <key>asciicircum.beng</key>
    <string>asciicircum.beng.glif</string>
    <key>asciitilde.beng</key>
    <string>asciitilde.beng.glif</string>
    <key>asterisk.beng</key>
    <string>asterisk.beng.glif</string>
    <key>aubeng</key>
    <string>aubeng.glif</string>
    <key>aulengthmarkbeng</key>
    <string>aulengthmarkbeng.glif</string>
    <key>auvowelsignbeng</key>
    <string>auvowelsignbeng.glif</string>
    <key>avagrahabeng</key>
    <string>avagrahabeng.glif</string>
    <key>bababeng</key>
    <string>bababeng.glif</string>
    <key>babeng</key>
    <string>babeng.glif</string>
    <key>babhabeng</key>
    <string>babhabeng.glif</string>
    <key>backslash.beng</key>
    <string>backslash.beng.glif</string>
    <key>badabeng</key>
    <string>badabeng.glif</string>
    <key>badarabeng</key>
    <string>badarabeng.glif</string>
    <key>badhabeng</key>
    <string>badhabeng.glif</string>
    <key>bahalfbeng</key>
    <string>bahalfbeng.glif</string>
    <key>bajabeng</key>
    <string>bajabeng.glif</string>
    <key>balabeng</key>
    <string>balabeng.glif</string>
    <key>banuktahalfbeng</key>
    <string>banuktahalfbeng.glif</string>
    <key>bar.beng</key>
    <string>bar.beng.glif</string>
    <key>barabeng</key>
    <string>barabeng.glif</string>
    <key>barasquishbeng</key>
    <string>barasquishbeng.glif</string>
    <key>barubeng</key>
    <string>barubeng.glif</string>
    <key>basubscriptbeng</key>
    <string>basubscriptbeng.glif</string>
    <key>bhababeng</key>
    <string>bhababeng.glif</string>
    <key>bhabeng</key>
    <string>bhabeng.glif</string>
    <key>bhahalfbeng</key>
    <string>bhahalfbeng.glif</string>
    <key>bhalabeng</key>
    <string>bhalabeng.glif</string>
    <key>bhalasquishbeng</key>
    <string>bhalasquishbeng.glif</string>
    <key>bhanuktabeng</key>
    <string>bhanuktabeng.glif</string>
    <key>bhanuktahalfbeng</key>
    <string>bhanuktahalfbeng.glif</string>
    <key>bharabeng</key>
    <string>bharabeng.glif</string>
    <key>bharubeng</key>
    <string>bharubeng.glif</string>
    <key>bharuubeng</key>
    <string>bharuubeng.glif</string>
    <key>braceleft.beng</key>
    <string>braceleft.beng.glif</string>
    <key>braceright.beng</key>
    <string>braceright.beng.glif</string>
    <key>bracketleft.beng</key>
    <string>bracketleft.beng.glif</string>
    <key>bracketright.beng</key>
    <string>bracketright.beng.glif</string>
    <key>cababeng</key>
    <string>cababeng.glif</string>
    <key>cabeng</key>
    <string>cabeng.glif</string>
    <key>cacabeng</key>
    <string>cacabeng.glif</string>
    <key>cachababeng</key>
    <string>cachababeng.glif</string>
    <key>cachabeng</key>
    <string>cachabeng.glif</string>
    <key>cacharabeng</key>
    <string>cacharabeng.glif</string>
    <key>cahalfbeng</key>
    <string>cahalfbeng.glif</string>
    <key>canabeng</key>
    <string>canabeng.glif</string>
    <key>candrabindualtbeng</key>
    <string>candrabindualtbeng.glif</string>
    <key>candrabinduaumarkbeng</key>
    <string>candrabinduaumarkbeng.glif</string>
    <key>candrabindubeng</key>
    <string>candrabindubeng.glif</string>
    <key>canuktabeng</key>
    <string>canuktabeng.glif</string>
    <key>canuktahalfbeng</key>
    <string>canuktahalfbeng.glif</string>
    <key>canyabeng</key>
    <string>canyabeng.glif</string>
    <key>carabeng</key>
    <string>carabeng.glif</string>
    <key>carasquishbeng</key>
    <string>carasquishbeng.glif</string>
    <key>chababeng</key>
    <string>chababeng.glif</string>
    <key>chabeng</key>
    <string>chabeng.glif</string>
    <key>chahalfbeng</key>
    <string>chahalfbeng.glif</string>
    <key>chanuktabeng</key>
    <string>chanuktabeng.glif</string>
    <key>chanuktahalfbeng</key>
    <string>chanuktahalfbeng.glif</string>
    <key>charabeng</key>
    <string>charabeng.glif</string>
    <key>charasquishbeng</key>
    <string>charasquishbeng.glif</string>
    <key>colon.beng</key>
    <string>colon.beng.glif</string>
    <key>comma.beng</key>
    <string>comma.beng.glif</string>
    <key>dababeng</key>
    <string>dababeng.glif</string>
    <key>dabasquishbeng</key>
    <string>dabasquishbeng.glif</string>
    <key>dabeng</key>
    <string>dabeng.glif</string>
    <key>dabhabeng</key>
    <string>dabhabeng.glif</string>
    <key>dabharabeng</key>
    <string>dabharabeng.glif</string>
    <key>dabhasquishbeng</key>
    <string>dabhasquishbeng.glif</string>
    <key>dadababeng</key>
    <string>dadababeng.glif</string>
    <key>dadabeng</key>
    <string>dadabeng.glif</string>
    <key>dadhababeng</key>
    <string>dadhababeng.glif</string>
    <key>dadhabeng</key>
    <string>dadhabeng.glif</string>
    <key>dadhasquishbeng</key>
    <string>dadhasquishbeng.glif</string>
    <key>dagabeng</key>
    <string>dagabeng.glif</string>
    <key>daghabeng</key>
    <string>daghabeng.glif</string>
    <key>dahalfbeng</key>
    <string>dahalfbeng.glif</string>
    <key>damabeng</key>
    <string>damabeng.glif</string>
    <key>danabeng</key>
    <string>danabeng.glif</string>
    <key>dandadeva</key>
    <string>dandadeva.glif</string>
    <key>danuktabeng</key>
    <string>danuktabeng.glif</string>
    <key>danuktahalfbeng</key>
    <string>danuktahalfbeng.glif</string>
    <key>darabeng</key>
    <string>darabeng.glif</string>
    <key>darubeng</key>
    <string>darubeng.glif</string>
    <key>daruubeng</key>
    <string>daruubeng.glif</string>
    <key>dbldandadeva</key>
    <string>dbldandadeva.glif</string>
    <key>ddababeng</key>
    <string>ddababeng.glif</string>
    <key>ddabeng</key>
    <string>ddabeng.glif</string>
    <key>ddaddabeng</key>
    <string>ddaddabeng.glif</string>
    <key>ddagabeng</key>
    <string>ddagabeng.glif</string>
    <key>ddahalfbeng</key>
    <string>ddahalfbeng.glif</string>
    <key>ddamabeng</key>
    <string>ddamabeng.glif</string>
    <key>ddanuktahalfbeng</key>
    <string>ddanuktahalfbeng.glif</string>
    <key>ddarabeng</key>
    <string>ddarabeng.glif</string>
    <key>ddarasquishbeng</key>
    <string>ddarasquishbeng.glif</string>
    <key>ddhababeng</key>
    <string>ddhababeng.glif</string>
    <key>ddhabeng</key>
    <string>ddhabeng.glif</string>
    <key>ddhahalfbeng</key>
    <string>ddhahalfbeng.glif</string>
    <key>ddhanuktahalfbeng</key>
    <string>ddhanuktahalfbeng.glif</string>
    <key>ddharabeng</key>
    <string>ddharabeng.glif</string>
    <key>ddharasquishbeng</key>
    <string>ddharasquishbeng.glif</string>
    <key>dhababeng</key>
    <string>dhababeng.glif</string>
    <key>dhabeng</key>
    <string>dhabeng.glif</string>
    <key>dhahalfbeng</key>
    <string>dhahalfbeng.glif</string>
    <key>dhamabeng</key>
    <string>dhamabeng.glif</string>
    <key>dhanabeng</key>
    <string>dhanabeng.glif</string>
    <key>dhanuktabeng</key>
    <string>dhanuktabeng.glif</string>
    <key>dhanuktahalfbeng</key>
    <string>dhanuktahalfbeng.glif</string>
    <key>dharabeng</key>
    <string>dharabeng.glif</string>
    <key>dharasquishbeng</key>
    <string>dharasquishbeng.glif</string>
    <key>dharubeng</key>
    <string>dharubeng.glif</string>
    <key>dharuubeng</key>
    <string>dharuubeng.glif</string>
    <key>divide.beng</key>
    <string>divide.beng.glif</string>
    <key>dummymarkbeng</key>
    <string>dummymarkbeng.glif</string>
    <key>ebeng</key>
    <string>ebeng.glif</string>
    <key>eight.beng</key>
    <string>eight.beng.glif</string>
    <key>eightbeng</key>
    <string>eightbeng.glif</string>
    <key>ellipsis.beng</key>
    <string>ellipsis.beng.glif</string>
    <key>emdash.beng</key>
    <string>emdash.beng.glif</string>
    <key>endash.beng</key>
    <string>endash.beng.glif</string>
    <key>equal.beng</key>
    <string>equal.beng.glif</string>
    <key>evowelsignbeng</key>
    <string>evowelsignbeng.glif</string>
    <key>evowelsigninibeng</key>
    <string>evowelsigninibeng.glif</string>
    <key>exclam.beng</key>
    <string>exclam.beng.glif</string>
    <key>five.beng</key>
    <string>five.beng.glif</string>
    <key>fivebeng</key>
    <string>fivebeng.glif</string>
    <key>four.beng</key>
    <string>four.beng.glif</string>
    <key>fourbeng</key>
    <string>fourbeng.glif</string>
    <key>gababeng</key>
    <string>gababeng.glif</string>
    <key>gabeng</key>
    <string>gabeng.glif</string>
    <key>gadabeng</key>
    <string>gadabeng.glif</string>
    <key>gadhabeng</key>
    <string>gadhabeng.glif</string>
    <key>gagabeng</key>
    <string>gagabeng.glif</string>
    <key>gahalfbeng</key>
    <string>gahalfbeng.glif</string>
    <key>galabeng</key>
    <string>galabeng.glif</string>
    <key>gamabeng</key>
    <string>gamabeng.glif</string>
    <key>ganabeng</key>
    <string>ganabeng.glif</string>
    <key>ganuktabeng</key>
    <string>ganuktabeng.glif</string>
    <key>ganuktahalfbeng</key>
    <string>ganuktahalfbeng.glif</string>
    <key>garabeng</key>
    <string>garabeng.glif</string>
    <key>garubeng</key>
    <string>garubeng.glif</string>
    <key>garuubeng</key>
    <string>garuubeng.glif</string>
    <key>ghababeng</key>
    <string>ghababeng.glif</string>
    <key>ghabeng</key>
    <string>ghabeng.glif</string>
    <key>ghahalfbeng</key>
    <string>ghahalfbeng.glif</string>
    <key>ghalabeng</key>
    <string>ghalabeng.glif</string>
    <key>ghanabeng</key>
    <string>ghanabeng.glif</string>
    <key>ghanuktabeng</key>
    <string>ghanuktabeng.glif</string>
    <key>ghanuktahalfbeng</key>
    <string>ghanuktahalfbeng.glif</string>
    <key>gharabeng</key>
    <string>gharabeng.glif</string>
    <key>gharasquishbeng</key>
    <string>gharasquishbeng.glif</string>
    <key>greater.beng</key>
    <string>greater.beng.glif</string>
    <key>gubeng</key>
    <string>gubeng.glif</string>
    <key>hababeng</key>
    <string>hababeng.glif</string>
    <key>habeng</key>
    <string>habeng.glif</string>
    <key>hahalfbeng</key>
    <string>hahalfbeng.glif</string>
    <key>halabeng</key>
    <string>halabeng.glif</string>
    <key>hamabeng</key>
    <string>hamabeng.glif</string>
    <key>hanabeng</key>
    <string>hanabeng.glif</string>
    <key>hannabeng</key>
    <string>hannabeng.glif</string>
    <key>hanuktabeng</key>
    <string>hanuktabeng.glif</string>
    <key>hanuktahalfbeng</key>
    <string>hanuktahalfbeng.glif</string>
    <key>harabeng</key>
    <string>harabeng.glif</string>
    <key>harasquishbeng</key>
    <string>harasquishbeng.glif</string>
    <key>hrvocalicbeng</key>
    <string>hrvocalicbeng.glif</string>
    <key>hubeng</key>
    <string>hubeng.glif</string>
    <key>hyphen.beng</key>
    <string>hyphen.beng.glif</string>
    <key>ibeng</key>
    <string>ibeng.glif</string>
    <key>iibeng</key>
    <string>iibeng.glif</string>
    <key>iivowelcandrabindurephaltbeng</key>
    <string>iivowelcandrabindurephaltbeng.glif</string>
    <key>iivowelcandrabindurephshortbeng</key>
    <string>iivowelcandrabindurephshortbeng.glif</string>
    <key>iivowelsignaltbeng</key>
    <string>iivowelsignaltbeng.glif</string>
    <key>iivowelsignbeng</key>
    <string>iivowelsignbeng.glif</string>
    <key>iivowelsigncandrabindbeng</key>
    <string>iivowelsigncandrabindbeng.glif</string>
    <key>iivowelsigncandrabindualtbeng</key>
    <string>iivowelsigncandrabindualtbeng.glif</string>
    <key>iivowelsigncandrabindurephbeng</key>
    <string>iivowelsigncandrabindurephbeng.glif</string>
    <key>iivowelsigncandrabindushortbeng</key>
    <string>iivowelsigncandrabindushortbeng.glif</string>
    <key>iivowelsignshortbeng</key>
    <string>iivowelsignshortbeng.glif</string>
    <key>issharbeng</key>
    <string>issharbeng.glif</string>
    <key>ivowelsignbeng</key>
    <string>ivowelsignbeng.glif</string>
    <key>jababeng</key>
    <string>jababeng.glif</string>
    <key>jabeng</key>
    <string>jabeng.glif</string>
    <key>jahalfbeng</key>
    <string>jahalfbeng.glif</string>
    <key>jajababeng</key>
    <string>jajababeng.glif</string>
    <key>jajabeng</key>
    <string>jajabeng.glif</string>
    <key>jajhabeng</key>
    <string>jajhabeng.glif</string>
    <key>januktabeng</key>
    <string>januktabeng.glif</string>
    <key>januktahalfbeng</key>
    <string>januktahalfbeng.glif</string>
    <key>janyababeng</key>
    <string>janyababeng.glif</string>
    <key>janyabeng</key>
    <string>janyabeng.glif</string>
    <key>janyahalfbeng</key>
    <string>janyahalfbeng.glif</string>
    <key>janyarabeng</key>
    <string>janyarabeng.glif</string>
    <key>jarabeng</key>
    <string>jarabeng.glif</string>
    <key>jarasquishbeng</key>
    <string>jarasquishbeng.glif</string>
    <key>jhababeng</key>
    <string>jhababeng.glif</string>
    <key>jhabeng</key>
    <string>jhabeng.glif</string>
    <key>jhahalfbeng</key>
    <string>jhahalfbeng.glif</string>
    <key>jhanuktabeng</key>
    <string>jhanuktabeng.glif</string>
    <key>jhanuktahalfbeng</key>
    <string>jhanuktahalfbeng.glif</string>
    <key>jharabeng</key>
    <string>jharabeng.glif</string>
    <key>jharasquishbeng</key>
    <string>jharasquishbeng.glif</string>
    <key>kababeng</key>
    <string>kababeng.glif</string>
    <key>kabeng</key>
    <string>kabeng.glif</string>
    <key>kahalfbeng</key>
    <string>kahalfbeng.glif</string>
    <key>kakabeng</key>
    <string>kakabeng.glif</string>
    <key>kalabeng</key>
    <string>kalabeng.glif</string>
    <key>kamabeng</key>
    <string>kamabeng.glif</string>
    <key>kanabeng</key>
    <string>kanabeng.glif</string>
    <key>kanuktabeng</key>
    <string>kanuktabeng.glif</string>
    <key>kanuktahalfbeng</key>
    <string>kanuktahalfbeng.glif</string>
    <key>karabeng</key>
    <string>karabeng.glif</string>
    <key>kasabeng</key>
    <string>kasabeng.glif</string>
    <key>kassababeng</key>
    <string>kassababeng.glif</string>
    <key>kassabeng</key>
    <string>kassabeng.glif</string>
    <key>kassahalfbeng</key>
    <string>kassahalfbeng.glif</string>
    <key>kassamabeng</key>
    <string>kassamabeng.glif</string>
    <key>kassannabeng</key>
    <string>kassannabeng.glif</string>
    <key>kassarabeng</key>
    <string>kassarabeng.glif</string>
    <key>katababeng</key>
    <string>katababeng.glif</string>
    <key>katabeng</key>
    <string>katabeng.glif</string>
    <key>katarabeng</key>
    <string>katarabeng.glif</string>
    <key>kattabeng</key>
    <string>kattabeng.glif</string>
    <key>kattarabeng</key>
    <string>kattarabeng.glif</string>
    <key>khababeng</key>
    <string>khababeng.glif</string>
    <key>khabeng</key>
    <string>khabeng.glif</string>
    <key>khahalfbeng</key>
    <string>khahalfbeng.glif</string>
    <key>khandatabeng</key>
    <string>khandatabeng.glif</string>
    <key>khanuktabeng</key>
    <string>khanuktabeng.glif</string>
    <key>khanuktahalfbeng</key>
    <string>khanuktahalfbeng.glif</string>
    <key>kharabeng</key>
    <string>kharabeng.glif</string>
    <key>kharasquishbeng</key>
    <string>kharasquishbeng.glif</string>
    <key>lababeng</key>
    <string>lababeng.glif</string>
    <key>labeng</key>
    <string>labeng.glif</string>
    <key>ladabeng</key>
    <string>ladabeng.glif</string>
    <key>laddabeng</key>
    <string>laddabeng.glif</string>
    <key>laddarabeng</key>
    <string>laddarabeng.glif</string>
    <key>ladhabeng</key>
    <string>ladhabeng.glif</string>
    <key>lagabeng</key>
    <string>lagabeng.glif</string>
    <key>lagubeng</key>
    <string>lagubeng.glif</string>
    <key>lahalfbeng</key>
    <string>lahalfbeng.glif</string>
    <key>lakabeng</key>
    <string>lakabeng.glif</string>
    <key>lalabeng</key>
    <string>lalabeng.glif</string>
    <key>lamabeng</key>
    <string>lamabeng.glif</string>
    <key>lanuktabeng</key>
    <string>lanuktabeng.glif</string>
    <key>lanuktahalfbeng</key>
    <string>lanuktahalfbeng.glif</string>
    <key>lapabeng</key>
    <string>lapabeng.glif</string>
    <key>laphabeng</key>
    <string>laphabeng.glif</string>
    <key>larabeng</key>
    <string>larabeng.glif</string>
    <key>larasquishbeng</key>
    <string>larasquishbeng.glif</string>
    <key>latabeng</key>
    <string>latabeng.glif</string>
    <key>latasquishbeng</key>
    <string>latasquishbeng.glif</string>
    <key>lattabeng</key>
    <string>lattabeng.glif</string>
    <key>lattarabeng</key>
    <string>lattarabeng.glif</string>
    <key>less.beng</key>
    <string>less.beng.glif</string>
    <key>llvocalicUIbeng</key>
    <string>llvocalicU_I_beng.glif</string>
    <key>llvocalicbeng</key>
    <string>llvocalicbeng.glif</string>
    <key>llvocalicvowelsignUIbeng</key>
    <string>llvocalicvowelsignU_I_beng.glif</string>
    <key>llvocalicvowelsignbeng</key>
    <string>llvocalicvowelsignbeng.glif</string>
    <key>lvocalicbeng</key>
    <string>lvocalicbeng.glif</string>
    <key>lvocalicvowelsignUIbeng</key>
    <string>lvocalicvowelsignU_I_beng.glif</string>
    <key>lvocalicvowelsignbeng</key>
    <string>lvocalicvowelsignbeng.glif</string>
    <key>mababeng</key>
    <string>mababeng.glif</string>
    <key>mabarabeng</key>
    <string>mabarabeng.glif</string>
    <key>mabeng</key>
    <string>mabeng.glif</string>
    <key>mabhabeng</key>
    <string>mabhabeng.glif</string>
    <key>mabharabeng</key>
    <string>mabharabeng.glif</string>
    <key>mabhasquishbeng</key>
    <string>mabhasquishbeng.glif</string>
    <key>madabeng</key>
    <string>madabeng.glif</string>
    <key>mahalfbeng</key>
    <string>mahalfbeng.glif</string>
    <key>malabeng</key>
    <string>malabeng.glif</string>
    <key>mamabeng</key>
    <string>mamabeng.glif</string>
    <key>manabeng</key>
    <string>manabeng.glif</string>
    <key>manuktabeng</key>
    <string>manuktabeng.glif</string>
    <key>manuktahalfbeng</key>
    <string>manuktahalfbeng.glif</string>
    <key>mapabeng</key>
    <string>mapabeng.glif</string>
    <key>maparabeng</key>
    <string>maparabeng.glif</string>
    <key>maphabeng</key>
    <string>maphabeng.glif</string>
    <key>marabeng</key>
    <string>marabeng.glif</string>
    <key>marasquishbeng</key>
    <string>marasquishbeng.glif</string>
    <key>masabeng</key>
    <string>masabeng.glif</string>
    <key>matabeng</key>
    <string>matabeng.glif</string>
    <key>matasquishbeng</key>
    <string>matasquishbeng.glif</string>
    <key>minus.beng</key>
    <string>minus.beng.glif</string>
    <key>multiply.beng</key>
    <string>multiply.beng.glif</string>
    <key>nababeng</key>
    <string>nababeng.glif</string>
    <key>nabeng</key>
    <string>nabeng.glif</string>
    <key>nadababeng</key>
    <string>nadababeng.glif</string>
    <key>nadabeng</key>
    <string>nadabeng.glif</string>
    <key>nadarabeng</key>
    <string>nadarabeng.glif</string>
    <key>naddabeng</key>
    <string>naddabeng.glif</string>
    <key>naddarabeng</key>
    <string>naddarabeng.glif</string>
    <key>nadhabeng</key>
    <string>nadhabeng.glif</string>
    <key>nadharabeng</key>
    <string>nadharabeng.glif</string>
    <key>nahalfbeng</key>
    <string>nahalfbeng.glif</string>
    <key>namabeng</key>
    <string>namabeng.glif</string>
    <key>nanabeng</key>
    <string>nanabeng.glif</string>
    <key>nanuktabeng</key>
    <string>nanuktabeng.glif</string>
    <key>nanuktahalfbeng</key>
    <string>nanuktahalfbeng.glif</string>
    <key>narabeng</key>
    <string>narabeng.glif</string>
    <key>nasabeng</key>
    <string>nasabeng.glif</string>
    <key>natababeng</key>
    <string>natababeng.glif</string>
    <key>natabeng</key>
    <string>natabeng.glif</string>
    <key>natarabeng</key>
    <string>natarabeng.glif</string>
    <key>natasquishbeng</key>
    <string>natasquishbeng.glif</string>
    <key>nathabeng</key>
    <string>nathabeng.glif</string>
    <key>natharabeng</key>
    <string>natharabeng.glif</string>
    <key>nattabeng</key>
    <string>nattabeng.glif</string>
    <key>nattarabeng</key>
    <string>nattarabeng.glif</string>
    <key>natthabeng</key>
    <string>natthabeng.glif</string>
    <key>natubeng</key>
    <string>natubeng.glif</string>
    <key>ngababeng</key>
    <string>ngababeng.glif</string>
    <key>ngabeng</key>
    <string>ngabeng.glif</string>
    <key>ngagabeng</key>
    <string>ngagabeng.glif</string>
    <key>ngaghabeng</key>
    <string>ngaghabeng.glif</string>
    <key>ngahalfbeng</key>
    <string>ngahalfbeng.glif</string>
    <key>ngakabeng</key>
    <string>ngakabeng.glif</string>
    <key>ngakarabeng</key>
    <string>ngakarabeng.glif</string>
    <key>ngakassabeng</key>
    <string>ngakassabeng.glif</string>
    <key>ngakhabeng</key>
    <string>ngakhabeng.glif</string>
    <key>ngamabeng</key>
    <string>ngamabeng.glif</string>
    <key>nganuktabeng</key>
    <string>nganuktabeng.glif</string>
    <key>nganuktahalfbeng</key>
    <string>nganuktahalfbeng.glif</string>
    <key>ngarabeng</key>
    <string>ngarabeng.glif</string>
    <key>ngarasquishbeng</key>
    <string>ngarasquishbeng.glif</string>
    <key>nine.beng</key>
    <string>nine.beng.glif</string>
    <key>ninebeng</key>
    <string>ninebeng.glif</string>
    <key>nnababeng</key>
    <string>nnababeng.glif</string>
    <key>nnabeng</key>
    <string>nnabeng.glif</string>
    <key>nnaddabeng</key>
    <string>nnaddabeng.glif</string>
    <key>nnaddarabeng</key>
    <string>nnaddarabeng.glif</string>
    <key>nnaddarubeng</key>
    <string>nnaddarubeng.glif</string>
    <key>nnaddhabeng</key>
    <string>nnaddhabeng.glif</string>
    <key>nnahalfbeng</key>
    <string>nnahalfbeng.glif</string>
    <key>nnamabeng</key>
    <string>nnamabeng.glif</string>
    <key>nnanabeng</key>
    <string>nnanabeng.glif</string>
    <key>nnannabeng</key>
    <string>nnannabeng.glif</string>
    <key>nnanuktabeng</key>
    <string>nnanuktabeng.glif</string>
    <key>nnanuktahalfbeng</key>
    <string>nnanuktahalfbeng.glif</string>
    <key>nnarabeng</key>
    <string>nnarabeng.glif</string>
    <key>nnattabeng</key>
    <string>nnattabeng.glif</string>
    <key>nnattarabeng</key>
    <string>nnattarabeng.glif</string>
    <key>nnatthabeng</key>
    <string>nnatthabeng.glif</string>
    <key>nuktabeng</key>
    <string>nuktabeng.glif</string>
    <key>numbersign.beng</key>
    <string>numbersign.beng.glif</string>
    <key>nyababeng</key>
    <string>nyababeng.glif</string>
    <key>nyabeng</key>
    <string>nyabeng.glif</string>
    <key>nyacabeng</key>
    <string>nyacabeng.glif</string>
    <key>nyachabeng</key>
    <string>nyachabeng.glif</string>
    <key>nyahalfbeng</key>
    <string>nyahalfbeng.glif</string>
    <key>nyajabeng</key>
    <string>nyajabeng.glif</string>
    <key>nyajhabeng</key>
    <string>nyajhabeng.glif</string>
    <key>nyanuktabeng</key>
    <string>nyanuktabeng.glif</string>
    <key>nyanuktahalfbeng</key>
    <string>nyanuktahalfbeng.glif</string>
    <key>nyarabeng</key>
    <string>nyarabeng.glif</string>
    <key>obeng</key>
    <string>obeng.glif</string>
    <key>one.beng</key>
    <string>one.beng.glif</string>
    <key>onebeng</key>
    <string>onebeng.glif</string>
    <key>ovowelsignbeng</key>
    <string>ovowelsignbeng.glif</string>
    <key>pababeng</key>
    <string>pababeng.glif</string>
    <key>pabeng</key>
    <string>pabeng.glif</string>
    <key>pahalfbeng</key>
    <string>pahalfbeng.glif</string>
    <key>palabeng</key>
    <string>palabeng.glif</string>
    <key>pamabeng</key>
    <string>pamabeng.glif</string>
    <key>panabeng</key>
    <string>panabeng.glif</string>
    <key>panuktabeng</key>
    <string>panuktabeng.glif</string>
    <key>panuktahalfbeng</key>
    <string>panuktahalfbeng.glif</string>
    <key>papabeng</key>
    <string>papabeng.glif</string>
    <key>parabeng</key>
    <string>parabeng.glif</string>
    <key>parenleft.beng</key>
    <string>parenleft.beng.glif</string>
    <key>parenright.beng</key>
    <string>parenright.beng.glif</string>
    <key>pasabeng</key>
    <string>pasabeng.glif</string>
    <key>patabeng</key>
    <string>patabeng.glif</string>
    <key>patasquishbeng</key>
    <string>patasquishbeng.glif</string>
    <key>pattabeng</key>
    <string>pattabeng.glif</string>
    <key>percent.beng</key>
    <string>percent.beng.glif</string>
    <key>period.beng</key>
    <string>period.beng.glif</string>
    <key>phababeng</key>
    <string>phababeng.glif</string>
    <key>phabeng</key>
    <string>phabeng.glif</string>
    <key>phahalfbeng</key>
    <string>phahalfbeng.glif</string>
    <key>phalabeng</key>
    <string>phalabeng.glif</string>
    <key>phanuktabeng</key>
    <string>phanuktabeng.glif</string>
    <key>phanuktahalfbeng</key>
    <string>phanuktahalfbeng.glif</string>
    <key>pharabeng</key>
    <string>pharabeng.glif</string>
    <key>pharasquishbeng</key>
    <string>pharasquishbeng.glif</string>
    <key>phattabeng</key>
    <string>phattabeng.glif</string>
    <key>plus.beng</key>
    <string>plus.beng.glif</string>
    <key>question.beng</key>
    <string>question.beng.glif</string>
    <key>quotedbl.beng</key>
    <string>quotedbl.beng.glif</string>
    <key>quotedblleft.beng</key>
    <string>quotedblleft.beng.glif</string>
    <key>quotedblright.beng</key>
    <string>quotedblright.beng.glif</string>
    <key>quoteleft.beng</key>
    <string>quoteleft.beng.glif</string>
    <key>quoteright.beng</key>
    <string>quoteright.beng.glif</string>
    <key>quotesingle.beng</key>
    <string>quotesingle.beng.glif</string>
    <key>ra1babeng</key>
    <string>ra1babeng.glif</string>
    <key>ra1beng</key>
    <string>ra1beng.glif</string>
    <key>ra1halfbeng</key>
    <string>ra1halfbeng.glif</string>
    <key>ra1nuktabeng</key>
    <string>ra1nuktabeng.glif</string>
    <key>ra1nuktahalfbeng</key>
    <string>ra1nuktahalfbeng.glif</string>
    <key>ra1rabeng</key>
    <string>ra1rabeng.glif</string>
    <key>ra1rasquishbeng</key>
    <string>ra1rasquishbeng.glif</string>
    <key>rababeng</key>
    <string>rababeng.glif</string>
    <key>rabeng</key>
    <string>rabeng.glif</string>
    <key>rarabeng</key>
    <string>rarabeng.glif</string>
    <key>rarasquishbeng</key>
    <string>rarasquishbeng.glif</string>
    <key>rephbeng</key>
    <string>rephbeng.glif</string>
    <key>rephcandrabinduaumarkbeng</key>
    <string>rephcandrabinduaumarkbeng.glif</string>
    <key>rephcandrabindubeng</key>
    <string>rephcandrabindubeng.glif</string>
    <key>rephiivowelsignaltbeng</key>
    <string>rephiivowelsignaltbeng.glif</string>
    <key>rephiivowelsignbeng</key>
    <string>rephiivowelsignbeng.glif</string>
    <key>rephiivowelsignshortbeng</key>
    <string>rephiivowelsignshortbeng.glif</string>
    <key>rhababeng</key>
    <string>rhababeng.glif</string>
    <key>rhabeng</key>
    <string>rhabeng.glif</string>
    <key>rharabeng</key>
    <string>rharabeng.glif</string>
    <key>rharasquishbeng</key>
    <string>rharasquishbeng.glif</string>
    <key>rhaviramabeng</key>
    <string>rhaviramabeng.glif</string>
    <key>rhrvocalicbeng</key>
    <string>rhrvocalicbeng.glif</string>
    <key>rhubeng</key>
    <string>rhubeng.glif</string>
    <key>rhuubeng</key>
    <string>rhuubeng.glif</string>
    <key>rrababeng</key>
    <string>rrababeng.glif</string>
    <key>rrabeng</key>
    <string>rrabeng.glif</string>
    <key>rragabeng</key>
    <string>rragabeng.glif</string>
    <key>rrarabeng</key>
    <string>rrarabeng.glif</string>
    <key>rrarasquishbeng</key>
    <string>rrarasquishbeng.glif</string>
    <key>rraviramabeng</key>
    <string>rraviramabeng.glif</string>
    <key>rrrvocalicbeng</key>
    <string>rrrvocalicbeng.glif</string>
    <key>rrubeng</key>
    <string>rrubeng.glif</string>
    <key>rruubeng</key>
    <string>rruubeng.glif</string>
    <key>rrvocalicbeng</key>
    <string>rrvocalicbeng.glif</string>
    <key>rrvocalicvowelsignUIbeng</key>
    <string>rrvocalicvowelsignU_I_beng.glif</string>
    <key>rrvocalicvowelsignbeng</key>
    <string>rrvocalicvowelsignbeng.glif</string>
    <key>ru1beng</key>
    <string>ru1beng.glif</string>
    <key>rubeng</key>
    <string>rubeng.glif</string>
    <key>rupeemarkbeng</key>
    <string>rupeemarkbeng.glif</string>
    <key>rupeesignbeng</key>
    <string>rupeesignbeng.glif</string>
    <key>ruu1beng</key>
    <string>ruu1beng.glif</string>
    <key>ruubeng</key>
    <string>ruubeng.glif</string>
    <key>rvocalicbeng</key>
    <string>rvocalicbeng.glif</string>
    <key>rvocalicinterpolateUIbeng</key>
    <string>rvocalicinterpolateU_I_beng.glif</string>
    <key>rvocalicinterpolatelowerbeng</key>
    <string>rvocalicinterpolatelowerbeng.glif</string>
    <key>rvocalicinterpolatevattubeng</key>
    <string>rvocalicinterpolatevattubeng.glif</string>
    <key>rvocalicvowelsignbeng</key>
    <string>rvocalicvowelsignbeng.glif</string>
    <key>rvocalicvowelsignlowbeng</key>
    <string>rvocalicvowelsignlowbeng.glif</string>
    <key>rvocalicvowelsignlowerbeng</key>
    <string>rvocalicvowelsignlowerbeng.glif</string>
    <key>rvocalicvowelsignvattuUIbeng</key>
    <string>rvocalicvowelsignvattuU_I_beng.glif</string>
    <key>rvocalicvowelsignvattubeng</key>
    <string>rvocalicvowelsignvattubeng.glif</string>
    <key>sababeng</key>
    <string>sababeng.glif</string>
    <key>sabeng</key>
    <string>sabeng.glif</string>
    <key>sahalfbeng</key>
    <string>sahalfbeng.glif</string>
    <key>sakabeng</key>
    <string>sakabeng.glif</string>
    <key>sakarabeng</key>
    <string>sakarabeng.glif</string>
    <key>sakarubeng</key>
    <string>sakarubeng.glif</string>
    <key>sakhabeng</key>
    <string>sakhabeng.glif</string>
    <key>salabeng</key>
    <string>salabeng.glif</string>
    <key>salubeng</key>
    <string>salubeng.glif</string>
    <key>samabeng</key>
    <string>samabeng.glif</string>
    <key>sanabeng</key>
    <string>sanabeng.glif</string>
    <key>sanuktabeng</key>
    <string>sanuktabeng.glif</string>
    <key>sanuktahalfbeng</key>
    <string>sanuktahalfbeng.glif</string>
    <key>sapabeng</key>
    <string>sapabeng.glif</string>
    <key>saparabeng</key>
    <string>saparabeng.glif</string>
    <key>saphabeng</key>
    <string>saphabeng.glif</string>
    <key>sarabeng</key>
    <string>sarabeng.glif</string>
    <key>sarubeng</key>
    <string>sarubeng.glif</string>
    <key>saruubeng</key>
    <string>saruubeng.glif</string>
    <key>satababeng</key>
    <string>satababeng.glif</string>
    <key>satabeng</key>
    <string>satabeng.glif</string>
    <key>satarabeng</key>
    <string>satarabeng.glif</string>
    <key>satasquishbeng</key>
    <string>satasquishbeng.glif</string>
    <key>sathabeng</key>
    <string>sathabeng.glif</string>
    <key>sattabeng</key>
    <string>sattabeng.glif</string>
    <key>sattarabeng</key>
    <string>sattarabeng.glif</string>
    <key>sattarasquishbeng</key>
    <string>sattarasquishbeng.glif</string>
    <key>sattariibeng</key>
    <string>sattariibeng.glif</string>
    <key>sattiibeng</key>
    <string>sattiibeng.glif</string>
    <key>satubeng</key>
    <string>satubeng.glif</string>
    <key>semicolon.beng</key>
    <string>semicolon.beng.glif</string>
    <key>seven.beng</key>
    <string>seven.beng.glif</string>
    <key>sevenbeng</key>
    <string>sevenbeng.glif</string>
    <key>sfthyphen.beng</key>
    <string>sfthyphen.beng.glif</string>
    <key>shababeng</key>
    <string>shababeng.glif</string>
    <key>shabeng</key>
    <string>shabeng.glif</string>
    <key>shacabeng</key>
    <string>shacabeng.glif</string>
    <key>shachabeng</key>
    <string>shachabeng.glif</string>
    <key>shahalfbeng</key>
    <string>shahalfbeng.glif</string>
    <key>shalabeng</key>
    <string>shalabeng.glif</string>
    <key>shamabeng</key>
    <string>shamabeng.glif</string>
    <key>shanabeng</key>
    <string>shanabeng.glif</string>
    <key>shanuktabeng</key>
    <string>shanuktabeng.glif</string>
    <key>shanuktahalfbeng</key>
    <string>shanuktahalfbeng.glif</string>
    <key>sharabeng</key>
    <string>sharabeng.glif</string>
    <key>sharubeng</key>
    <string>sharubeng.glif</string>
    <key>sharuubeng</key>
    <string>sharuubeng.glif</string>
    <key>shatabeng</key>
    <string>shatabeng.glif</string>
    <key>shatasquishbeng</key>
    <string>shatasquishbeng.glif</string>
    <key>shubeng</key>
    <string>shubeng.glif</string>
    <key>six.beng</key>
    <string>six.beng.glif</string>
    <key>sixbeng</key>
    <string>sixbeng.glif</string>
    <key>slash.beng</key>
    <string>slash.beng.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssababeng</key>
    <string>ssababeng.glif</string>
    <key>ssabeng</key>
    <string>ssabeng.glif</string>
    <key>ssahalfbeng</key>
    <string>ssahalfbeng.glif</string>
    <key>ssakabeng</key>
    <string>ssakabeng.glif</string>
    <key>ssakarabeng</key>
    <string>ssakarabeng.glif</string>
    <key>ssamabeng</key>
    <string>ssamabeng.glif</string>
    <key>ssannabeng</key>
    <string>ssannabeng.glif</string>
    <key>ssanuktabeng</key>
    <string>ssanuktabeng.glif</string>
    <key>ssanuktahalfbeng</key>
    <string>ssanuktahalfbeng.glif</string>
    <key>ssapabeng</key>
    <string>ssapabeng.glif</string>
    <key>ssaphabeng</key>
    <string>ssaphabeng.glif</string>
    <key>ssarabeng</key>
    <string>ssarabeng.glif</string>
    <key>ssarasquishbeng</key>
    <string>ssarasquishbeng.glif</string>
    <key>ssattabeng</key>
    <string>ssattabeng.glif</string>
    <key>ssattarabeng</key>
    <string>ssattarabeng.glif</string>
    <key>ssatthabeng</key>
    <string>ssatthabeng.glif</string>
    <key>ssattibeng</key>
    <string>ssattibeng.glif</string>
    <key>ssattiibeng</key>
    <string>ssattiibeng.glif</string>
    <key>tababeng</key>
    <string>tababeng.glif</string>
    <key>tabasquishbeng</key>
    <string>tabasquishbeng.glif</string>
    <key>tabeng</key>
    <string>tabeng.glif</string>
    <key>tahalfbeng</key>
    <string>tahalfbeng.glif</string>
    <key>talabeng</key>
    <string>talabeng.glif</string>
    <key>talasquishbeng</key>
    <string>talasquishbeng.glif</string>
    <key>tamabeng</key>
    <string>tamabeng.glif</string>
    <key>tamasquishbeng</key>
    <string>tamasquishbeng.glif</string>
    <key>tanabeng</key>
    <string>tanabeng.glif</string>
    <key>tanasquishbeng</key>
    <string>tanasquishbeng.glif</string>
    <key>tanuktabeng</key>
    <string>tanuktabeng.glif</string>
    <key>tanuktahalfbeng</key>
    <string>tanuktahalfbeng.glif</string>
    <key>tarabeng</key>
    <string>tarabeng.glif</string>
    <key>tarubeng</key>
    <string>tarubeng.glif</string>
    <key>tatababeng</key>
    <string>tatababeng.glif</string>
    <key>tatabeng</key>
    <string>tatabeng.glif</string>
    <key>tathabeng</key>
    <string>tathabeng.glif</string>
    <key>thababeng</key>
    <string>thababeng.glif</string>
    <key>thabeng</key>
    <string>thabeng.glif</string>
    <key>thahalfbeng</key>
    <string>thahalfbeng.glif</string>
    <key>thanuktabeng</key>
    <string>thanuktabeng.glif</string>
    <key>thanuktahalfbeng</key>
    <string>thanuktahalfbeng.glif</string>
    <key>tharabeng</key>
    <string>tharabeng.glif</string>
    <key>tharasquishbeng</key>
    <string>tharasquishbeng.glif</string>
    <key>tharubeng</key>
    <string>tharubeng.glif</string>
    <key>tharuubeng</key>
    <string>tharuubeng.glif</string>
    <key>three.beng</key>
    <string>three.beng.glif</string>
    <key>threebeng</key>
    <string>threebeng.glif</string>
    <key>ttababeng</key>
    <string>ttababeng.glif</string>
    <key>ttabeng</key>
    <string>ttabeng.glif</string>
    <key>ttahalfbeng</key>
    <string>ttahalfbeng.glif</string>
    <key>ttamabeng</key>
    <string>ttamabeng.glif</string>
    <key>ttanuktabeng</key>
    <string>ttanuktabeng.glif</string>
    <key>ttanuktahalfbeng</key>
    <string>ttanuktahalfbeng.glif</string>
    <key>ttarabeng</key>
    <string>ttarabeng.glif</string>
    <key>ttarasquishbeng</key>
    <string>ttarasquishbeng.glif</string>
    <key>ttaribeng</key>
    <string>ttaribeng.glif</string>
    <key>ttattabeng</key>
    <string>ttattabeng.glif</string>
    <key>ttattasquishbeng</key>
    <string>ttattasquishbeng.glif</string>
    <key>tthababeng</key>
    <string>tthababeng.glif</string>
    <key>tthabeng</key>
    <string>tthabeng.glif</string>
    <key>tthahalfbeng</key>
    <string>tthahalfbeng.glif</string>
    <key>tthanuktabeng</key>
    <string>tthanuktabeng.glif</string>
    <key>tthanuktahalfbeng</key>
    <string>tthanuktahalfbeng.glif</string>
    <key>ttharabeng</key>
    <string>ttharabeng.glif</string>
    <key>ttharasquishbeng</key>
    <string>ttharasquishbeng.glif</string>
    <key>tthibeng</key>
    <string>tthibeng.glif</string>
    <key>ttibeng</key>
    <string>ttibeng.glif</string>
    <key>ttiibeng</key>
    <string>ttiibeng.glif</string>
    <key>two.beng</key>
    <string>two.beng.glif</string>
    <key>twobeng</key>
    <string>twobeng.glif</string>
    <key>ubeng</key>
    <string>ubeng.glif</string>
    <key>uinterpolatelowerbeng</key>
    <string>uinterpolatelowerbeng.glif</string>
    <key>uinterpolatevattubeng</key>
    <string>uinterpolatevattubeng.glif</string>
    <key>underscore.beng</key>
    <string>underscore.beng.glif</string>
    <key>uni00A0.beng</key>
    <string>uni00A_0.beng.glif</string>
    <key>uni02BC</key>
    <string>uni02B_C_.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni0980</key>
    <string>uni0980.glif</string>
    <key>uni09F4</key>
    <string>uni09F_4.glif</string>
    <key>uni09F5</key>
    <string>uni09F_5.glif</string>
    <key>uni09F6</key>
    <string>uni09F_6.glif</string>
    <key>uni09F7</key>
    <string>uni09F_7.glif</string>
    <key>uni09F8</key>
    <string>uni09F_8.glif</string>
    <key>uni09F9</key>
    <string>uni09F_9.glif</string>
    <key>uni09FB</key>
    <string>uni09F_B_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni20B9.beng</key>
    <string>uni20B_9.beng.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA8F1</key>
    <string>uniA_8F_1.glif</string>
    <key>uubeng</key>
    <string>uubeng.glif</string>
    <key>uuinterpolatebeng</key>
    <string>uuinterpolatebeng.glif</string>
    <key>uuinterpolatevattubeng</key>
    <string>uuinterpolatevattubeng.glif</string>
    <key>uuvowelsignbeng</key>
    <string>uuvowelsignbeng.glif</string>
    <key>uuvowelsigninterpolateUIbeng</key>
    <string>uuvowelsigninterpolateU_I_beng.glif</string>
    <key>uuvowelsignlongbeng</key>
    <string>uuvowelsignlongbeng.glif</string>
    <key>uuvowelsignlowbeng</key>
    <string>uuvowelsignlowbeng.glif</string>
    <key>uuvowelsignlowerbeng</key>
    <string>uuvowelsignlowerbeng.glif</string>
    <key>uuvowelsigntallbeng</key>
    <string>uuvowelsigntallbeng.glif</string>
    <key>uuvowelsignvattuUIbeng</key>
    <string>uuvowelsignvattuU_I_beng.glif</string>
    <key>uuvowelsignvattubeng</key>
    <string>uuvowelsignvattubeng.glif</string>
    <key>uvowelsignbeng</key>
    <string>uvowelsignbeng.glif</string>
    <key>uvowelsigninterpolateUIbeng</key>
    <string>uvowelsigninterpolateU_I_beng.glif</string>
    <key>uvowelsignlongbeng</key>
    <string>uvowelsignlongbeng.glif</string>
    <key>uvowelsignlowbeng</key>
    <string>uvowelsignlowbeng.glif</string>
    <key>uvowelsignlowerbeng</key>
    <string>uvowelsignlowerbeng.glif</string>
    <key>uvowelsigntallbeng</key>
    <string>uvowelsigntallbeng.glif</string>
    <key>uvowelsignvattuUIbeng</key>
    <string>uvowelsignvattuU_I_beng.glif</string>
    <key>uvowelsignvattubeng</key>
    <string>uvowelsignvattubeng.glif</string>
    <key>vattubeng</key>
    <string>vattubeng.glif</string>
    <key>viramabeng</key>
    <string>viramabeng.glif</string>
    <key>viramainterpolateUIbeng</key>
    <string>viramainterpolateU_I_beng.glif</string>
    <key>viramainterpolatelowerbeng</key>
    <string>viramainterpolatelowerbeng.glif</string>
    <key>viramainterpolatevattubeng</key>
    <string>viramainterpolatevattubeng.glif</string>
    <key>viramalowbeng</key>
    <string>viramalowbeng.glif</string>
    <key>viramalowerbeng</key>
    <string>viramalowerbeng.glif</string>
    <key>viramavattuUIbeng</key>
    <string>viramavattuU_I_beng.glif</string>
    <key>viramavattubeng</key>
    <string>viramavattubeng.glif</string>
    <key>visargabeng</key>
    <string>visargabeng.glif</string>
    <key>wababeng</key>
    <string>wababeng.glif</string>
    <key>wabeng</key>
    <string>wabeng.glif</string>
    <key>wahalfbeng</key>
    <string>wahalfbeng.glif</string>
    <key>wanuktabeng</key>
    <string>wanuktabeng.glif</string>
    <key>wanuktahalfbeng</key>
    <string>wanuktahalfbeng.glif</string>
    <key>warabeng</key>
    <string>warabeng.glif</string>
    <key>warasquishbeng</key>
    <string>warasquishbeng.glif</string>
    <key>yababeng</key>
    <string>yababeng.glif</string>
    <key>yabeng</key>
    <string>yabeng.glif</string>
    <key>yahalfbeng</key>
    <string>yahalfbeng.glif</string>
    <key>yaiivowelcandrabindurephbeng</key>
    <string>yaiivowelcandrabindurephbeng.glif</string>
    <key>yanuktahalfbeng</key>
    <string>yanuktahalfbeng.glif</string>
    <key>yapostformbeng</key>
    <string>yapostformbeng.glif</string>
    <key>yarabeng</key>
    <string>yarabeng.glif</string>
    <key>yarasquishbeng</key>
    <string>yarasquishbeng.glif</string>
    <key>yarephiivowelsignbeng</key>
    <string>yarephiivowelsignbeng.glif</string>
    <key>yyababeng</key>
    <string>yyababeng.glif</string>
    <key>yyabeng</key>
    <string>yyabeng.glif</string>
    <key>yyarabeng</key>
    <string>yyarabeng.glif</string>
    <key>yyarasquishbeng</key>
    <string>yyarasquishbeng.glif</string>
    <key>zero.beng</key>
    <string>zero.beng.glif</string>
    <key>zerobeng</key>
    <string>zerobeng.glif</string>
  </dict>
</plist>
