<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aaMatra_gran</key>
    <dict>
      <key>ta_gran</key>
      <integer>-40</integer>
    </dict>
    <key>j_j_nya_gran</key>
    <dict>
      <key>eeMatra_gran</key>
      <integer>-80</integer>
      <key>m_ma_gran</key>
      <integer>-120</integer>
    </dict>
    <key>j_ja_gran</key>
    <dict>
      <key>eeMatra_gran</key>
      <integer>-80</integer>
      <key>m_ma_gran</key>
      <integer>-120</integer>
    </dict>
    <key>ka_gran</key>
    <dict>
      <key>m_ma_gran</key>
      <integer>-50</integer>
    </dict>
    <key>ra_gran</key>
    <dict>
      <key>ja_gran</key>
      <integer>-30</integer>
    </dict>
  </dict>
</plist>
