<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Wide</string>
      <string>glyphs.W_ide</string>
    </array>
    <array>
      <string>Dip</string>
      <string>glyphs.D_ip</string>
    </array>
    <array>
      <string>Height</string>
      <string>glyphs.H_eight</string>
    </array>
    <array>
      <string>Curl</string>
      <string>glyphs.C_url</string>
    </array>
    <array>
      <string>FootLength</string>
      <string>glyphs.F_ootL_ength</string>
    </array>
    <array>
      <string>HeadlineWidth</string>
      <string>glyphs.H_eadlineW_idth</string>
    </array>
    <array>
      <string>FootWidth</string>
      <string>glyphs.F_ootW_idth</string>
    </array>
  </array>
</plist>
