<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1300</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>height</key>
    <integer>0</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>NullMark</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>_part.ca-cha</string>
      <string>_part.iMatra</string>
      <string>_part.ii_straight</string>
      <string>_part.ravattu</string>
      <string>_part.viramalig_loop</string>
      <string>a_gran</string>
      <string>aaMatra_gran</string>
      <string>aa_gran</string>
      <string>acomb_gran</string>
      <string>aiMatra_gran</string>
      <string>ai_gran</string>
      <string>anudatta_deva</string>
      <string>anudatta_deva.alt</string>
      <string>anusvaraAbove_gran</string>
      <string>anusvaraVedic_gran</string>
      <string>anusvara_gran</string>
      <string>ardhavisarga_vedic</string>
      <string>asteriskabovecomb</string>
      <string>auLengthMark_gran</string>
      <string>auMatra_gran</string>
      <string>au_gran</string>
      <string>avagraha_gran</string>
      <string>avagraha_gran.alt</string>
      <string>ba.base</string>
      <string>ba_gran</string>
      <string>ba_gran.below</string>
      <string>ba_virama_gran</string>
      <string>ba_virama_gran.liga</string>
      <string>bha_gran</string>
      <string>bha_gran.below</string>
      <string>bha_gran.flat</string>
      <string>bha_gran.flat.below</string>
      <string>bha_virama_gran</string>
      <string>bha_virama_gran.flat</string>
      <string>bhi_gran</string>
      <string>bhi_gran.flat</string>
      <string>bi_gran</string>
      <string>bii_gran</string>
      <string>binducomb_gran</string>
      <string>ca.base</string>
      <string>ca_gran</string>
      <string>ca_gran.below</string>
      <string>ca_virama_gran</string>
      <string>ca_virama_gran.liga</string>
      <string>candrabindu_gran</string>
      <string>cha_gran</string>
      <string>cha_gran.below</string>
      <string>cha_virama_gran</string>
      <string>chi_gran</string>
      <string>ci_gran</string>
      <string>cii_gran</string>
      <string>d_dha_gran</string>
      <string>d_dha_gran.below</string>
      <string>d_dha_virama_gran</string>
      <string>d_dhi_gran</string>
      <string>d_dhii_gran</string>
      <string>d_va_gran</string>
      <string>d_va_gran.below</string>
      <string>d_vi_gran</string>
      <string>d_vii_gran</string>
      <string>da_gran</string>
      <string>da_gran.below</string>
      <string>da_virama_gran</string>
      <string>da_virama_gran.liga</string>
      <string>danda_deva</string>
      <string>dbldanda_deva</string>
      <string>dda_gran</string>
      <string>dda_gran.below</string>
      <string>dda_virama_gran</string>
      <string>dda_virama_gran.liga</string>
      <string>ddha_gran</string>
      <string>ddha_gran.below</string>
      <string>ddha_virama_gran</string>
      <string>ddhi_gran</string>
      <string>ddi_gran</string>
      <string>ddii_gran</string>
      <string>dha_gran</string>
      <string>dha_gran.below</string>
      <string>dha_virama_gran</string>
      <string>dhi_gran</string>
      <string>dhii_gran</string>
      <string>di_gran</string>
      <string>dottedCircle</string>
      <string>doubleAnusvaraVedic_gran</string>
      <string>doublevocalic.right</string>
      <string>eeMatra_gran</string>
      <string>ee_gran</string>
      <string>eight_tamil</string>
      <string>five_tamil</string>
      <string>fivecomb_gran</string>
      <string>four_tamil</string>
      <string>fourcomb_gran</string>
      <string>ga_gran</string>
      <string>ga_gran.below</string>
      <string>ga_gran.flat</string>
      <string>ga_gran.flat.below</string>
      <string>ga_virama_gran</string>
      <string>ga_virama_gran.flat</string>
      <string>ga_virama_gran.liga</string>
      <string>gha.base</string>
      <string>gha_gran</string>
      <string>gha_gran.below</string>
      <string>gha_virama_gran</string>
      <string>ghi_gran</string>
      <string>ghii_gran</string>
      <string>gi_gran</string>
      <string>gi_gran.flat</string>
      <string>h_ma_gran</string>
      <string>h_ma_gran.below</string>
      <string>h_mi_gran</string>
      <string>ha_gran</string>
      <string>ha_gran.below</string>
      <string>ha_gran.flat</string>
      <string>ha_gran.flat.below</string>
      <string>ha_virama_gran</string>
      <string>ha_virama_gran.flat</string>
      <string>ha_virama_gran.liga</string>
      <string>hi_gran</string>
      <string>hi_gran.flat</string>
      <string>iMatra_gran</string>
      <string>i_gran</string>
      <string>iiMatra_gran</string>
      <string>ii_gran</string>
      <string>j_j_nya_gran</string>
      <string>j_ja_gran</string>
      <string>j_ja_gran.below</string>
      <string>j_ji_gran</string>
      <string>j_nya_gran</string>
      <string>j_nya_gran.below</string>
      <string>j_nyi_gran</string>
      <string>ja_gran</string>
      <string>ja_gran.below</string>
      <string>ja_virama_gran</string>
      <string>ja_virama_gran.liga</string>
      <string>jha_gran</string>
      <string>jha_gran.below</string>
      <string>jha_virama_gran</string>
      <string>jhi_gran</string>
      <string>jhii_gran</string>
      <string>ji_gran</string>
      <string>k_ssa_gran</string>
      <string>k_ssa_gran.below</string>
      <string>k_ssa_gran.flat</string>
      <string>k_ssa_gran.flat.below</string>
      <string>k_ssi_gran</string>
      <string>k_ssi_gran.flat</string>
      <string>k_t_va_gran</string>
      <string>k_t_va_gran.below</string>
      <string>k_t_vi_gran</string>
      <string>k_t_vii_gran</string>
      <string>k_ta_gran</string>
      <string>k_ta_gran.below</string>
      <string>k_ta_gran.flat</string>
      <string>k_ta_gran.flat.below</string>
      <string>k_ti_gran</string>
      <string>k_ti_gran.flat</string>
      <string>ka_gran</string>
      <string>ka_gran.below</string>
      <string>ka_virama_gran</string>
      <string>ka_virama_gran.liga</string>
      <string>kacomb_gran</string>
      <string>karshana_vedic</string>
      <string>kha.base</string>
      <string>kha_gran</string>
      <string>kha_gran.alt</string>
      <string>kha_gran.below</string>
      <string>kha_virama_gran</string>
      <string>kha_virama_gran.alt</string>
      <string>khi_gran</string>
      <string>khi_gran.alt</string>
      <string>khii_gran</string>
      <string>khii_gran.alt</string>
      <string>ki_gran</string>
      <string>lVocalicMatra_gran</string>
      <string>lVocalic_gran</string>
      <string>la_gran</string>
      <string>la_gran.below</string>
      <string>la_virama_gran</string>
      <string>li_gran</string>
      <string>lii_gran</string>
      <string>llVocalicMatra_gran</string>
      <string>llVocalic_gran</string>
      <string>lla_gran</string>
      <string>lla_gran.below</string>
      <string>lla_virama_gran</string>
      <string>lli_gran</string>
      <string>llii_gran</string>
      <string>m_ma_gran</string>
      <string>m_ma_gran.below</string>
      <string>m_mi_gran</string>
      <string>ma_gran</string>
      <string>ma_gran.below</string>
      <string>ma_virama_gran</string>
      <string>ma_virama_gran.liga</string>
      <string>ma_virama_gran.liga.alt</string>
      <string>mi_gran</string>
      <string>n_da_gran</string>
      <string>n_da_gran.below</string>
      <string>n_dha_gran</string>
      <string>n_dha_gran.below</string>
      <string>n_dha_virama_gran</string>
      <string>n_dhi_gran</string>
      <string>n_dhii_gran</string>
      <string>n_di_gran</string>
      <string>n_ma_gran</string>
      <string>n_ma_gran.below</string>
      <string>n_mi_gran</string>
      <string>n_na_gran</string>
      <string>n_na_gran.below</string>
      <string>n_na_gran.flat</string>
      <string>n_na_gran.flat.below</string>
      <string>n_na_virama_gran.liga</string>
      <string>n_ni_gran</string>
      <string>n_ni_gran.flat</string>
      <string>n_t_va_gran</string>
      <string>n_t_va_gran.below</string>
      <string>n_t_vi_gran</string>
      <string>n_t_vii_gran</string>
      <string>n_ta_gran</string>
      <string>n_ta_gran.below</string>
      <string>n_ta_gran.flat</string>
      <string>n_ta_gran.flat.below</string>
      <string>n_tha_gran</string>
      <string>n_tha_gran.below</string>
      <string>n_thi_gran</string>
      <string>n_thii_gran</string>
      <string>n_ti_gran</string>
      <string>n_ti_gran.flat</string>
      <string>n_va_gran</string>
      <string>n_va_gran.below</string>
      <string>n_vi_gran</string>
      <string>n_vii_gran</string>
      <string>na_gran</string>
      <string>na_gran.below</string>
      <string>na_gran.flat</string>
      <string>na_gran.flat.below</string>
      <string>na_virama_gran</string>
      <string>na_virama_gran.flat</string>
      <string>na_virama_gran.liga</string>
      <string>nacomb_gran</string>
      <string>nbspace</string>
      <string>nga_gran</string>
      <string>nga_gran.below</string>
      <string>nga_virama_gran</string>
      <string>nga_virama_gran.liga</string>
      <string>ngi_gran</string>
      <string>ni_gran</string>
      <string>ni_gran.flat</string>
      <string>nihshvasa_vedic</string>
      <string>nine_tamil</string>
      <string>nna_gran</string>
      <string>nna_gran.below</string>
      <string>nna_virama_gran</string>
      <string>nna_virama_gran.liga</string>
      <string>nni_gran</string>
      <string>nukta_gran</string>
      <string>ny_ca_gran</string>
      <string>ny_ca_gran.below</string>
      <string>ny_cha_gran</string>
      <string>ny_cha_gran.below</string>
      <string>ny_chi_gran</string>
      <string>ny_ci_gran</string>
      <string>ny_cii_gran</string>
      <string>ny_ja_gran</string>
      <string>ny_ja_gran.below</string>
      <string>ny_ji_gran</string>
      <string>nya_gran</string>
      <string>nya_gran.below</string>
      <string>nya_virama_gran</string>
      <string>nya_virama_gran.liga</string>
      <string>nyi_gran</string>
      <string>om_gran</string>
      <string>one_tamil</string>
      <string>onecomb_gran</string>
      <string>onehundred_tamil</string>
      <string>onethousand_tamil</string>
      <string>ooMatra_gran</string>
      <string>oo_gran</string>
      <string>p100</string>
      <string>p100neg</string>
      <string>p150</string>
      <string>p150neg</string>
      <string>p200</string>
      <string>p200neg</string>
      <string>p250</string>
      <string>p250neg</string>
      <string>p300</string>
      <string>p300neg</string>
      <string>p350</string>
      <string>p350neg</string>
      <string>p400</string>
      <string>p400neg</string>
      <string>p450</string>
      <string>p450neg</string>
      <string>p50</string>
      <string>p500</string>
      <string>p500neg</string>
      <string>p50neg</string>
      <string>p550</string>
      <string>p550neg</string>
      <string>p600</string>
      <string>p600neg</string>
      <string>p650neg</string>
      <string>p700neg</string>
      <string>p750neg</string>
      <string>p800neg</string>
      <string>pa.base</string>
      <string>pa_gran</string>
      <string>pa_gran.below</string>
      <string>pa_tamil</string>
      <string>pa_virama_gran</string>
      <string>pa_virama_gran.liga</string>
      <string>pacomb_gran</string>
      <string>pha_gran</string>
      <string>pha_gran.below</string>
      <string>pha_virama_gran</string>
      <string>phi_gran</string>
      <string>pi_gran</string>
      <string>pii_gran</string>
      <string>pluta_gran</string>
      <string>prenkha_vedic</string>
      <string>rVocalicMatra_gran</string>
      <string>rVocalicMatra_gran.d1</string>
      <string>rVocalicMatra_gran.d1b</string>
      <string>rVocalicMatra_gran.d1h3</string>
      <string>rVocalicMatra_gran.d2</string>
      <string>rVocalicMatra_gran.d2b</string>
      <string>rVocalicMatra_gran.d2bh3</string>
      <string>rVocalicMatra_gran.d2h3</string>
      <string>rVocalicMatra_gran.d3</string>
      <string>rVocalicMatra_gran.d3h2</string>
      <string>rVocalicMatra_gran.d3h3</string>
      <string>rVocalicMatra_gran.d4</string>
      <string>rVocalicMatra_gran.d4h3</string>
      <string>rVocalicMatra_gran.d5h3</string>
      <string>rVocalic_gran</string>
      <string>ra_gran</string>
      <string>ra_gran.below</string>
      <string>ra_vattu_gran</string>
      <string>ra_vattu_gran.below</string>
      <string>ra_vattu_gran.below.tall</string>
      <string>ra_vattu_gran.below.wide</string>
      <string>ra_vattu_gran.d1</string>
      <string>ra_vattu_gran.d1b</string>
      <string>ra_vattu_gran.d1w1</string>
      <string>ra_vattu_gran.d1w3</string>
      <string>ra_vattu_gran.d2</string>
      <string>ra_vattu_gran.d2h2</string>
      <string>ra_vattu_gran.d2h3</string>
      <string>ra_vattu_gran.d2w2</string>
      <string>ra_vattu_gran.d3</string>
      <string>ra_vattu_gran.d3b</string>
      <string>ra_vattu_gran.d3h1</string>
      <string>ra_vattu_gran.d3h1w1</string>
      <string>ra_vattu_gran.d3h2</string>
      <string>ra_vattu_gran.d4</string>
      <string>ra_vattu_gran.d4bh2</string>
      <string>ra_vattu_gran.d4h2</string>
      <string>ra_vattu_gran.w1b</string>
      <string>ra_virama_gran</string>
      <string>ra_virama_gran.liga</string>
      <string>repha_gran</string>
      <string>repha_yaPhalaa</string>
      <string>repha_yaPhalaa.alt</string>
      <string>repha_yaPhalaa.short</string>
      <string>ri_gran</string>
      <string>rotatedArdhavisarga_vedic</string>
      <string>rrVocalicMatra_gran</string>
      <string>rrVocalicMatra_gran.d1</string>
      <string>rrVocalicMatra_gran.d1b</string>
      <string>rrVocalicMatra_gran.d2</string>
      <string>rrVocalicMatra_gran.d3</string>
      <string>rrVocalicMatra_gran.d4</string>
      <string>rrVocalic_gran</string>
      <string>sa_gran</string>
      <string>sa_gran.below</string>
      <string>sa_virama_gran</string>
      <string>sa_virama_gran.liga</string>
      <string>seven_tamil</string>
      <string>sh_ca_gran</string>
      <string>sh_ca_gran.below</string>
      <string>sh_ci_gran</string>
      <string>sh_cii_gran</string>
      <string>sh_ra_gran</string>
      <string>sh_ra_gran.alt1</string>
      <string>sh_ra_gran.alt2</string>
      <string>sh_ra_gran.below</string>
      <string>sh_ri_gran</string>
      <string>sh_ri_gran.alt1</string>
      <string>sh_ri_gran.alt2</string>
      <string>sh_va_gran</string>
      <string>sh_vi_gran</string>
      <string>sha_gran</string>
      <string>sha_gran.below</string>
      <string>sha_virama_gran</string>
      <string>sha_virama_gran.liga</string>
      <string>shi_gran</string>
      <string>si_gran</string>
      <string>sii_gran</string>
      <string>six_tamil</string>
      <string>sixcomb_gran</string>
      <string>space</string>
      <string>ss_tta_gran</string>
      <string>ss_tta_gran.below</string>
      <string>ss_tti_gran</string>
      <string>ssa_gran</string>
      <string>ssa_gran.below</string>
      <string>ssa_gran.flat</string>
      <string>ssa_gran.flat.below</string>
      <string>ssa_virama_gran</string>
      <string>ssa_virama_gran.flat</string>
      <string>ssa_virama_gran.liga</string>
      <string>ssi_gran</string>
      <string>ssi_gran.flat</string>
      <string>t_ra_gran</string>
      <string>t_ra_gran.below</string>
      <string>t_ri_gran</string>
      <string>t_tha_gran</string>
      <string>t_tha_gran.below</string>
      <string>t_thi_gran</string>
      <string>t_va_gran</string>
      <string>t_va_gran.below</string>
      <string>t_vi_gran</string>
      <string>t_vii_gran</string>
      <string>ta_gran</string>
      <string>ta_gran.below</string>
      <string>ta_gran.flat</string>
      <string>ta_gran.flat.below</string>
      <string>ta_virama_gran</string>
      <string>ta_virama_gran.flat</string>
      <string>ta_virama_gran.liga</string>
      <string>ten_tamil</string>
      <string>tha_gran</string>
      <string>tha_gran.below</string>
      <string>tha_virama_gran</string>
      <string>thi_gran</string>
      <string>three_tamil</string>
      <string>threecomb_gran</string>
      <string>ti_gran</string>
      <string>ti_gran.flat</string>
      <string>tonecandraabove_vedic</string>
      <string>tonedoubleringabove_vedic</string>
      <string>toneringabove_vedic</string>
      <string>tta_gran</string>
      <string>tta_gran.below</string>
      <string>tta_virama_gran</string>
      <string>tta_virama_gran.liga</string>
      <string>ttha_gran</string>
      <string>ttha_gran.alt</string>
      <string>ttha_gran.below</string>
      <string>ttha_gran.below.alt</string>
      <string>ttha_virama_gran</string>
      <string>ttha_virama_gran.alt</string>
      <string>tthi_gran</string>
      <string>tthi_gran.alt</string>
      <string>tti_gran</string>
      <string>ttii_gran</string>
      <string>two_tamil</string>
      <string>twocomb_gran</string>
      <string>uMatra_gran</string>
      <string>u_gran</string>
      <string>udatta_deva</string>
      <string>uuMatra_gran</string>
      <string>uu_gran</string>
      <string>va_gran</string>
      <string>va_gran.below</string>
      <string>va_tamil</string>
      <string>va_virama_gran</string>
      <string>va_virama_gran.liga</string>
      <string>vi_gran</string>
      <string>vicomb_gran</string>
      <string>vii_gran</string>
      <string>virama_gran</string>
      <string>virama_gran.alt</string>
      <string>virama_gran.s1</string>
      <string>visarga_gran</string>
      <string>ya.base</string>
      <string>yaPhalaa_gran</string>
      <string>yaPhalaa_gran.short</string>
      <string>ya_gran</string>
      <string>ya_gran.below</string>
      <string>ya_virama_gran</string>
      <string>ya_virama_gran.liga</string>
      <string>yi_gran</string>
      <string>yii_gran</string>
      <string>zero_tamil</string>
      <string>zerocomb_gran</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>_part.ca-cha</key>
      <string>_part.cacha</string>
      <key>anudatta_deva.alt</key>
      <string>uni0952.alt</string>
      <key>asteriskabovecomb</key>
      <string>uni20F0</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>ra_vattu_gran.below</string>
      <string>ra_vattu_gran.below.tall</string>
      <string>ra_vattu_gran.below.wide</string>
      <string>_part.viramalig_loop</string>
      <string>_part.iMatra</string>
      <string>_part.ii_straight</string>
      <string>_part.ravattu</string>
      <string>_part.ca-cha</string>
      <string>doublevocalic.right</string>
      <string>ba.base</string>
      <string>ca.base</string>
      <string>kha.base</string>
      <string>ya.base</string>
      <string>gha.base</string>
      <string>pa.base</string>
    </array>
    <key>width</key>
    <integer>72</integer>
  </dict>
</plist>
