<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>earth</key>
    <string>earth.glif</string>
    <key>mercury</key>
    <string>mercury.glif</string>
    <key>venus</key>
    <string>venus.glif</string>
  </dict>
</plist>
