<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1720</key>
    <string>uni1720.glif</string>
    <key>uni1721</key>
    <string>uni1721.glif</string>
    <key>uni1722</key>
    <string>uni1722.glif</string>
    <key>uni1723</key>
    <string>uni1723.glif</string>
    <key>uni1724</key>
    <string>uni1724.glif</string>
    <key>uni1725</key>
    <string>uni1725.glif</string>
    <key>uni1725uni1732</key>
    <string>uni1725uni1732.glif</string>
    <key>uni1725uni1733</key>
    <string>uni1725uni1733.glif</string>
    <key>uni1726</key>
    <string>uni1726.glif</string>
    <key>uni1726uni1733</key>
    <string>uni1726uni1733.glif</string>
    <key>uni1727</key>
    <string>uni1727.glif</string>
    <key>uni1727uni1732</key>
    <string>uni1727uni1732.glif</string>
    <key>uni1727uni1733</key>
    <string>uni1727uni1733.glif</string>
    <key>uni1728</key>
    <string>uni1728.glif</string>
    <key>uni1729</key>
    <string>uni1729.glif</string>
    <key>uni1729uni1732</key>
    <string>uni1729uni1732.glif</string>
    <key>uni1729uni1733</key>
    <string>uni1729uni1733.glif</string>
    <key>uni172A</key>
    <string>uni172A_.glif</string>
    <key>uni172B</key>
    <string>uni172B_.glif</string>
    <key>uni172Buni1733</key>
    <string>uni172B_uni1733.glif</string>
    <key>uni172C</key>
    <string>uni172C_.glif</string>
    <key>uni172D</key>
    <string>uni172D_.glif</string>
    <key>uni172Duni1732</key>
    <string>uni172D_uni1732.glif</string>
    <key>uni172Duni1733</key>
    <string>uni172D_uni1733.glif</string>
    <key>uni172E</key>
    <string>uni172E_.glif</string>
    <key>uni172Euni1733</key>
    <string>uni172E_uni1733.glif</string>
    <key>uni172F</key>
    <string>uni172F_.glif</string>
    <key>uni1730</key>
    <string>uni1730.glif</string>
    <key>uni1730uni1733</key>
    <string>uni1730uni1733.glif</string>
    <key>uni1731</key>
    <string>uni1731.glif</string>
    <key>uni1731uni1732</key>
    <string>uni1731uni1732.glif</string>
    <key>uni1731uni1733</key>
    <string>uni1731uni1733.glif</string>
    <key>uni1732</key>
    <string>uni1732.glif</string>
    <key>uni1733</key>
    <string>uni1733.glif</string>
    <key>uni1734</key>
    <string>uni1734.glif</string>
    <key>uni1735</key>
    <string>uni1735.glif</string>
    <key>uni1735.alt</key>
    <string>uni1735.alt.glif</string>
    <key>uni1736</key>
    <string>uni1736.glif</string>
    <key>uni1736.alt</key>
    <string>uni1736.alt.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
