<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>ktA</key>
    <string>ktA_.glif</string>
    <key>ktA.var</key>
    <string>ktA_.var.glif</string>
    <key>ktAA</key>
    <string>ktA_A_.glif</string>
    <key>ktAA.var</key>
    <string>ktA_A_.var.glif</string>
    <key>ktABB</key>
    <string>ktA_B_B_.glif</string>
    <key>ktAI</key>
    <string>ktA_I_.glif</string>
    <key>ktAU</key>
    <string>ktA_U_.glif</string>
    <key>ktBHRU.alt1</key>
    <string>ktB_H_R_U_.alt1.glif</string>
    <key>ktBHRa</key>
    <string>ktB_H_R_a.glif</string>
    <key>ktBHU.alt1</key>
    <string>ktB_H_U_.alt1.glif</string>
    <key>ktBHYU.alt1</key>
    <string>ktB_H_Y_U_.alt1.glif</string>
    <key>ktBHYU.var.alt1</key>
    <string>ktB_H_Y_U_.var.alt1.glif</string>
    <key>ktBHYa</key>
    <string>ktB_H_Y_a.glif</string>
    <key>ktBHYa.var</key>
    <string>ktB_H_Y_a.var.glif</string>
    <key>ktBHa</key>
    <string>ktB_H_a.glif</string>
    <key>ktBHa.half</key>
    <string>ktB_H_a.half.glif</string>
    <key>ktBRU.alt1</key>
    <string>ktB_R_U_.alt1.glif</string>
    <key>ktBRa</key>
    <string>ktB_R_a.glif</string>
    <key>ktBU.alt1</key>
    <string>ktB_U_.alt1.glif</string>
    <key>ktBa</key>
    <string>ktB_a.glif</string>
    <key>ktBa.half</key>
    <string>ktB_a.half.glif</string>
    <key>ktCHII</key>
    <string>ktC_H_I_I_.glif</string>
    <key>ktCHa</key>
    <string>ktC_H_a.glif</string>
    <key>ktCHa.half</key>
    <string>ktC_H_a.half.glif</string>
    <key>ktCRU.alt1</key>
    <string>ktC_R_U_.alt1.glif</string>
    <key>ktCRa</key>
    <string>ktC_R_a.glif</string>
    <key>ktCU.alt1</key>
    <string>ktC_U_.alt1.glif</string>
    <key>ktCa</key>
    <string>ktC_a.glif</string>
    <key>ktCa.half</key>
    <string>ktC_a.half.glif</string>
    <key>ktDDDHII</key>
    <string>ktD_D_D_H_I_I_.glif</string>
    <key>ktDDDHU</key>
    <string>ktD_D_D_H_U_.glif</string>
    <key>ktDDDHa</key>
    <string>ktD_D_D_H_a.glif</string>
    <key>ktDDDHa.half</key>
    <string>ktD_D_D_H_a.half.glif</string>
    <key>ktDDHII</key>
    <string>ktD_D_H_I_I_.glif</string>
    <key>ktDDHa</key>
    <string>ktD_D_H_a.glif</string>
    <key>ktDDHa.half</key>
    <string>ktD_D_H_a.half.glif</string>
    <key>ktDDII</key>
    <string>ktD_D_I_I_.glif</string>
    <key>ktDDa</key>
    <string>ktD_D_a.glif</string>
    <key>ktDDa.half</key>
    <string>ktD_D_a.half.glif</string>
    <key>ktDDanda</key>
    <string>ktD_D_anda.glif</string>
    <key>ktDHRU.alt1</key>
    <string>ktD_H_R_U_.alt1.glif</string>
    <key>ktDHRa</key>
    <string>ktD_H_R_a.glif</string>
    <key>ktDHU.alt1</key>
    <string>ktD_H_U_.alt1.glif</string>
    <key>ktDHa</key>
    <string>ktD_H_a.glif</string>
    <key>ktDHa.half</key>
    <string>ktD_H_a.half.glif</string>
    <key>ktDII</key>
    <string>ktD_I_I_.glif</string>
    <key>ktDa</key>
    <string>ktD_a.glif</string>
    <key>ktDa.half</key>
    <string>ktD_a.half.glif</string>
    <key>ktDanda</key>
    <string>ktD_anda.glif</string>
    <key>ktDblSEC</key>
    <string>ktD_blS_E_C_.glif</string>
    <key>ktE</key>
    <string>ktE_.glif</string>
    <key>ktENU</key>
    <string>ktE_N_U_.glif</string>
    <key>ktEight</key>
    <string>ktE_ight.glif</string>
    <key>ktEight.smallabv</key>
    <string>ktE_ight.smallabv.glif</string>
    <key>ktEight.smallblw</key>
    <string>ktE_ight.smallblw.glif</string>
    <key>ktFive</key>
    <string>ktF_ive.glif</string>
    <key>ktFive.smallabv</key>
    <string>ktF_ive.smallabv.glif</string>
    <key>ktFive.smallblw</key>
    <string>ktF_ive.smallblw.glif</string>
    <key>ktFour</key>
    <string>ktF_our.glif</string>
    <key>ktFour.smallabv</key>
    <string>ktF_our.smallabv.glif</string>
    <key>ktFour.smallblw</key>
    <string>ktF_our.smallblw.glif</string>
    <key>ktGHRU.alt1</key>
    <string>ktG_H_R_U_.alt1.glif</string>
    <key>ktGHRa</key>
    <string>ktG_H_R_a.glif</string>
    <key>ktGHU.alt1</key>
    <string>ktG_H_U_.alt1.glif</string>
    <key>ktGHa</key>
    <string>ktG_H_a.glif</string>
    <key>ktGHa.half</key>
    <string>ktG_H_a.half.glif</string>
    <key>ktGRU.alt1</key>
    <string>ktG_R_U_.alt1.glif</string>
    <key>ktGRa</key>
    <string>ktG_R_a.glif</string>
    <key>ktGU.alt1</key>
    <string>ktG_U_.alt1.glif</string>
    <key>ktGa</key>
    <string>ktG_a.glif</string>
    <key>ktGa.half</key>
    <string>ktG_a.half.glif</string>
    <key>ktHII</key>
    <string>ktH_I_I_.glif</string>
    <key>ktHU</key>
    <string>ktH_U_.glif</string>
    <key>ktHUU</key>
    <string>ktH_U_U_.glif</string>
    <key>ktHa</key>
    <string>ktH_a.glif</string>
    <key>ktHa.half</key>
    <string>ktH_a.half.glif</string>
    <key>ktI</key>
    <string>ktI_.glif</string>
    <key>ktI.var</key>
    <string>ktI_.var.glif</string>
    <key>ktII</key>
    <string>ktI_I_.glif</string>
    <key>ktII.var</key>
    <string>ktI_I_.var.glif</string>
    <key>ktJHII</key>
    <string>ktJ_H_I_I_.glif</string>
    <key>ktJHU</key>
    <string>ktJ_H_U_.glif</string>
    <key>ktJHUU</key>
    <string>ktJ_H_U_U_.glif</string>
    <key>ktJHa</key>
    <string>ktJ_H_a.glif</string>
    <key>ktJHa.half</key>
    <string>ktJ_H_a.half.glif</string>
    <key>ktJII</key>
    <string>ktJ_I_I_.glif</string>
    <key>ktJRII</key>
    <string>ktJ_R_I_I_.glif</string>
    <key>ktJRU.alt1</key>
    <string>ktJ_R_U_.alt1.glif</string>
    <key>ktJRa</key>
    <string>ktJ_R_a.glif</string>
    <key>ktJU.alt1</key>
    <string>ktJ_U_.alt1.glif</string>
    <key>ktJa</key>
    <string>ktJ_a.glif</string>
    <key>ktJa.half</key>
    <string>ktJ_a.half.glif</string>
    <key>ktKHRU.alt1</key>
    <string>ktK_H_R_U_.alt1.glif</string>
    <key>ktKHRa</key>
    <string>ktK_H_R_a.glif</string>
    <key>ktKHU.alt1</key>
    <string>ktK_H_U_.alt1.glif</string>
    <key>ktKHa</key>
    <string>ktK_H_a.glif</string>
    <key>ktKHa.half</key>
    <string>ktK_H_a.half.glif</string>
    <key>ktKII</key>
    <string>ktK_I_I_.glif</string>
    <key>ktKII.var</key>
    <string>ktK_I_I_.var.glif</string>
    <key>ktKKII</key>
    <string>ktK_K_I_I_.glif</string>
    <key>ktKKII.var</key>
    <string>ktK_K_I_I_.var.glif</string>
    <key>ktKKU.alt1</key>
    <string>ktK_K_U_.alt1.glif</string>
    <key>ktKKa</key>
    <string>ktK_K_a.glif</string>
    <key>ktKKa.var</key>
    <string>ktK_K_a.var.glif</string>
    <key>ktKMRU.alt1</key>
    <string>ktK_M_R_U_.alt1.glif</string>
    <key>ktKMRU.var.alt1</key>
    <string>ktK_M_R_U_.var.alt1.glif</string>
    <key>ktKMRa</key>
    <string>ktK_M_R_a.glif</string>
    <key>ktKMRa.var</key>
    <string>ktK_M_R_a.var.glif</string>
    <key>ktKMU.alt1</key>
    <string>ktK_M_U_.alt1.glif</string>
    <key>ktKMU.var.alt1</key>
    <string>ktK_M_U_.var.alt1.glif</string>
    <key>ktKMa</key>
    <string>ktK_M_a.glif</string>
    <key>ktKMa.var</key>
    <string>ktK_M_a.var.glif</string>
    <key>ktKRII</key>
    <string>ktK_R_I_I_.glif</string>
    <key>ktKRII.var</key>
    <string>ktK_R_I_I_.var.glif</string>
    <key>ktKRU.alt1</key>
    <string>ktK_R_U_.alt1.glif</string>
    <key>ktKRa</key>
    <string>ktK_R_a.glif</string>
    <key>ktKRa.var</key>
    <string>ktK_R_a.var.glif</string>
    <key>ktKSU.alt1</key>
    <string>ktK_S_U_.alt1.glif</string>
    <key>ktKSU.var.alt1</key>
    <string>ktK_S_U_.var.alt1.glif</string>
    <key>ktKSa</key>
    <string>ktK_S_a.glif</string>
    <key>ktKSa.var</key>
    <string>ktK_S_a.var.glif</string>
    <key>ktKTHRU.alt1</key>
    <string>ktK_T_H_R_U_.alt1.glif</string>
    <key>ktKTHRU.var.alt1</key>
    <string>ktK_T_H_R_U_.var.alt1.glif</string>
    <key>ktKTHRa</key>
    <string>ktK_T_H_R_a.glif</string>
    <key>ktKTHRa.var</key>
    <string>ktK_T_H_R_a.var.glif</string>
    <key>ktKTHU.alt1</key>
    <string>ktK_T_H_U_.alt1.glif</string>
    <key>ktKTHU.var.alt1</key>
    <string>ktK_T_H_U_.var.alt1.glif</string>
    <key>ktKTHa</key>
    <string>ktK_T_H_a.glif</string>
    <key>ktKTHa.var</key>
    <string>ktK_T_H_a.var.glif</string>
    <key>ktKU.alt1</key>
    <string>ktK_U_.alt1.glif</string>
    <key>ktKYU.alt1</key>
    <string>ktK_Y_U_.alt1.glif</string>
    <key>ktKYU.var.alt1</key>
    <string>ktK_Y_U_.var.alt1.glif</string>
    <key>ktKYU.varKYa.alt1</key>
    <string>ktK_Y_U_.varK_Y_a.alt1.glif</string>
    <key>ktKYU.varKa.alt1</key>
    <string>ktK_Y_U_.varK_a.alt1.glif</string>
    <key>ktKYa</key>
    <string>ktK_Y_a.glif</string>
    <key>ktKYa.var</key>
    <string>ktK_Y_a.var.glif</string>
    <key>ktKYa.varKYa</key>
    <string>ktK_Y_a.varK_Y_a.glif</string>
    <key>ktKYa.varKa</key>
    <string>ktK_Y_a.varK_a.glif</string>
    <key>ktKa</key>
    <string>ktK_a.glif</string>
    <key>ktKa.alt1.left</key>
    <string>ktK_a.alt1.left.glif</string>
    <key>ktKa.half</key>
    <string>ktK_a.half.glif</string>
    <key>ktKa.half.var</key>
    <string>ktK_a.half.var.glif</string>
    <key>ktKa.var</key>
    <string>ktK_a.var.glif</string>
    <key>ktLII</key>
    <string>ktL_I_I_.glif</string>
    <key>ktLII.var</key>
    <string>ktL_I_I_.var.glif</string>
    <key>ktLa</key>
    <string>ktL_a.glif</string>
    <key>ktLa.half</key>
    <string>ktL_a.half.glif</string>
    <key>ktLa.half.var</key>
    <string>ktL_a.half.var.glif</string>
    <key>ktLa.var</key>
    <string>ktL_a.var.glif</string>
    <key>ktMRU.alt1</key>
    <string>ktM_R_U_.alt1.glif</string>
    <key>ktMRa</key>
    <string>ktM_R_a.glif</string>
    <key>ktMU.alt1</key>
    <string>ktM_U_.alt1.glif</string>
    <key>ktMa</key>
    <string>ktM_a.glif</string>
    <key>ktMa.half</key>
    <string>ktM_a.half.glif</string>
    <key>ktNGa</key>
    <string>ktN_G_a.glif</string>
    <key>ktNGa.half</key>
    <string>ktN_G_a.half.glif</string>
    <key>ktNNU.alt1</key>
    <string>ktN_N_U_.alt1.glif</string>
    <key>ktNNU.var.alt1</key>
    <string>ktN_N_U_.var.alt1.glif</string>
    <key>ktNNa</key>
    <string>ktN_N_a.glif</string>
    <key>ktNNa.half</key>
    <string>ktN_N_a.half.glif</string>
    <key>ktNNa.half.var</key>
    <string>ktN_N_a.half.var.glif</string>
    <key>ktNNa.var</key>
    <string>ktN_N_a.var.glif</string>
    <key>ktNU.alt1</key>
    <string>ktN_U_.alt1.glif</string>
    <key>ktNUM</key>
    <string>ktN_U_M_.glif</string>
    <key>ktNUM.above</key>
    <string>ktN_U_M_.above.glif</string>
    <key>ktNYII.var</key>
    <string>ktN_Y_I_I_.var.glif</string>
    <key>ktNYa</key>
    <string>ktN_Y_a.glif</string>
    <key>ktNYa.half</key>
    <string>ktN_Y_a.half.glif</string>
    <key>ktNYa.half.var</key>
    <string>ktN_Y_a.half.var.glif</string>
    <key>ktNYa.var</key>
    <string>ktN_Y_a.var.glif</string>
    <key>ktNa</key>
    <string>ktN_a.glif</string>
    <key>ktNa.half</key>
    <string>ktN_a.half.glif</string>
    <key>ktNine</key>
    <string>ktN_ine.glif</string>
    <key>ktNine.smallabv</key>
    <string>ktN_ine.smallabv.glif</string>
    <key>ktNine.smallblw</key>
    <string>ktN_ine.smallblw.glif</string>
    <key>ktNukta</key>
    <string>ktN_ukta.glif</string>
    <key>ktO</key>
    <string>ktO_.glif</string>
    <key>ktOne</key>
    <string>ktO_ne.glif</string>
    <key>ktOne.smallabv</key>
    <string>ktO_ne.smallabv.glif</string>
    <key>ktOne.smallblw</key>
    <string>ktO_ne.smallblw.glif</string>
    <key>ktPHII</key>
    <string>ktP_H_I_I_.glif</string>
    <key>ktPHII.var</key>
    <string>ktP_H_I_I_.var.glif</string>
    <key>ktPHRa.var</key>
    <string>ktP_H_R_a.var.glif</string>
    <key>ktPHa</key>
    <string>ktP_H_a.glif</string>
    <key>ktPHa.half</key>
    <string>ktP_H_a.half.glif</string>
    <key>ktPHa.half.var</key>
    <string>ktP_H_a.half.var.glif</string>
    <key>ktPHa.var</key>
    <string>ktP_H_a.var.glif</string>
    <key>ktPRU.alt1</key>
    <string>ktP_R_U_.alt1.glif</string>
    <key>ktPRa</key>
    <string>ktP_R_a.glif</string>
    <key>ktPTU.alt1</key>
    <string>ktP_T_U_.alt1.glif</string>
    <key>ktPTa</key>
    <string>ktP_T_a.glif</string>
    <key>ktPU.alt1</key>
    <string>ktP_U_.alt1.glif</string>
    <key>ktPa</key>
    <string>ktP_a.glif</string>
    <key>ktPa.half</key>
    <string>ktP_a.half.glif</string>
    <key>ktRHII</key>
    <string>ktR_H_I_I_.glif</string>
    <key>ktRHU</key>
    <string>ktR_H_U_.glif</string>
    <key>ktRHa</key>
    <string>ktR_H_a.glif</string>
    <key>ktRHa.half</key>
    <string>ktR_H_a.half.glif</string>
    <key>ktRU.alt1</key>
    <string>ktR_U_.alt1.glif</string>
    <key>ktRa</key>
    <string>ktR_a.glif</string>
    <key>ktRa.half</key>
    <string>ktR_a.half.glif</string>
    <key>ktRaAnusvara</key>
    <string>ktR_aA_nusvara.glif</string>
    <key>ktRaCandrabindu</key>
    <string>ktR_aC_andrabindu.glif</string>
    <key>ktRaHook</key>
    <string>ktR_aH_ook.glif</string>
    <key>ktSEC</key>
    <string>ktS_E_C_.glif</string>
    <key>ktSHU.alt1</key>
    <string>ktS_H_U_.alt1.glif</string>
    <key>ktSHa</key>
    <string>ktS_H_a.glif</string>
    <key>ktSHa.half</key>
    <string>ktS_H_a.half.glif</string>
    <key>ktSRU.alt1</key>
    <string>ktS_R_U_.alt1.glif</string>
    <key>ktSRa</key>
    <string>ktS_R_a.glif</string>
    <key>ktSSRU.alt1</key>
    <string>ktS_S_R_U_.alt1.glif</string>
    <key>ktSSRa</key>
    <string>ktS_S_R_a.glif</string>
    <key>ktSSU.alt1</key>
    <string>ktS_S_U_.alt1.glif</string>
    <key>ktSSa</key>
    <string>ktS_S_a.glif</string>
    <key>ktSSa.half</key>
    <string>ktS_S_a.half.glif</string>
    <key>ktSU</key>
    <string>ktS_U_.glif</string>
    <key>ktSU.alt1</key>
    <string>ktS_U_.alt1.glif</string>
    <key>ktSUU</key>
    <string>ktS_U_U_.glif</string>
    <key>ktSa</key>
    <string>ktS_a.glif</string>
    <key>ktSa.half</key>
    <string>ktS_a.half.glif</string>
    <key>ktSeven</key>
    <string>ktS_even.glif</string>
    <key>ktSeven.smallabv</key>
    <string>ktS_even.smallabv.glif</string>
    <key>ktSeven.smallblw</key>
    <string>ktS_even.smallblw.glif</string>
    <key>ktSix</key>
    <string>ktS_ix.glif</string>
    <key>ktSix.smallabv</key>
    <string>ktS_ix.smallabv.glif</string>
    <key>ktSix.smallblw</key>
    <string>ktS_ix.smallblw.glif</string>
    <key>ktTHRU.alt1</key>
    <string>ktT_H_R_U_.alt1.glif</string>
    <key>ktTHRa</key>
    <string>ktT_H_R_a.glif</string>
    <key>ktTHU.alt1</key>
    <string>ktT_H_U_.alt1.glif</string>
    <key>ktTHa</key>
    <string>ktT_H_a.glif</string>
    <key>ktTHa.half</key>
    <string>ktT_H_a.half.glif</string>
    <key>ktTRU.alt1</key>
    <string>ktT_R_U_.alt1.glif</string>
    <key>ktTRa</key>
    <string>ktT_R_a.glif</string>
    <key>ktTTHII</key>
    <string>ktT_T_H_I_I_.glif</string>
    <key>ktTTHa</key>
    <string>ktT_T_H_a.glif</string>
    <key>ktTTHa.half</key>
    <string>ktT_T_H_a.half.glif</string>
    <key>ktTTII</key>
    <string>ktT_T_I_I_.glif</string>
    <key>ktTTRII</key>
    <string>ktT_T_R_I_I_.glif</string>
    <key>ktTTRa</key>
    <string>ktT_T_R_a.glif</string>
    <key>ktTTa</key>
    <string>ktT_T_a.glif</string>
    <key>ktTTa.half</key>
    <string>ktT_T_a.half.glif</string>
    <key>ktTU.alt1</key>
    <string>ktT_U_.alt1.glif</string>
    <key>ktTa</key>
    <string>ktT_a.glif</string>
    <key>ktTa.half</key>
    <string>ktT_a.half.glif</string>
    <key>ktThree</key>
    <string>ktT_hree.glif</string>
    <key>ktThree.smallabv</key>
    <string>ktT_hree.smallabv.glif</string>
    <key>ktThree.smallblw</key>
    <string>ktT_hree.smallblw.glif</string>
    <key>ktTwo</key>
    <string>ktT_wo.glif</string>
    <key>ktTwo.smallabv</key>
    <string>ktT_wo.smallabv.glif</string>
    <key>ktTwo.smallblw</key>
    <string>ktT_wo.smallblw.glif</string>
    <key>ktU</key>
    <string>ktU_.glif</string>
    <key>ktUU</key>
    <string>ktU_U_.glif</string>
    <key>ktVRU.alt1</key>
    <string>ktV_R_U_.alt1.glif</string>
    <key>ktVRa</key>
    <string>ktV_R_a.glif</string>
    <key>ktVSAA</key>
    <string>ktV_S_A_A_.glif</string>
    <key>ktVSAI</key>
    <string>ktV_S_A_I_.glif</string>
    <key>ktVSAIm</key>
    <string>ktV_S_A_I_m.glif</string>
    <key>ktVSAU</key>
    <string>ktV_S_A_U_.glif</string>
    <key>ktVSAUm</key>
    <string>ktV_S_A_U_m.glif</string>
    <key>ktVSAnusvara</key>
    <string>ktV_S_A_nusvara.glif</string>
    <key>ktVSCBindu</key>
    <string>ktV_S_C_B_indu.glif</string>
    <key>ktVSE</key>
    <string>ktV_S_E_.glif</string>
    <key>ktVSEm</key>
    <string>ktV_S_E_m.glif</string>
    <key>ktVSI</key>
    <string>ktV_S_I_.glif</string>
    <key>ktVSI.alt10</key>
    <string>ktV_S_I_.alt10.glif</string>
    <key>ktVSI.alt11</key>
    <string>ktV_S_I_.alt11.glif</string>
    <key>ktVSI.alt12</key>
    <string>ktV_S_I_.alt12.glif</string>
    <key>ktVSI.alt13</key>
    <string>ktV_S_I_.alt13.glif</string>
    <key>ktVSI.alt14</key>
    <string>ktV_S_I_.alt14.glif</string>
    <key>ktVSI.alt2</key>
    <string>ktV_S_I_.alt2.glif</string>
    <key>ktVSI.alt3</key>
    <string>ktV_S_I_.alt3.glif</string>
    <key>ktVSI.alt4</key>
    <string>ktV_S_I_.alt4.glif</string>
    <key>ktVSI.alt5</key>
    <string>ktV_S_I_.alt5.glif</string>
    <key>ktVSI.alt6</key>
    <string>ktV_S_I_.alt6.glif</string>
    <key>ktVSI.alt7</key>
    <string>ktV_S_I_.alt7.glif</string>
    <key>ktVSI.alt8</key>
    <string>ktV_S_I_.alt8.glif</string>
    <key>ktVSI.alt9</key>
    <string>ktV_S_I_.alt9.glif</string>
    <key>ktVSII</key>
    <string>ktV_S_I_I_.glif</string>
    <key>ktVSII.alt</key>
    <string>ktV_S_I_I_.alt.glif</string>
    <key>ktVSO</key>
    <string>ktV_S_O_.glif</string>
    <key>ktVSOm</key>
    <string>ktV_S_O_m.glif</string>
    <key>ktVSU</key>
    <string>ktV_S_U_.glif</string>
    <key>ktVSU.alt</key>
    <string>ktV_S_U_.alt.glif</string>
    <key>ktVSUU</key>
    <string>ktV_S_U_U_.glif</string>
    <key>ktVSVisarga</key>
    <string>ktV_S_V_isarga.glif</string>
    <key>ktVU.alt1</key>
    <string>ktV_U_.alt1.glif</string>
    <key>ktVUU</key>
    <string>ktV_U_U_.glif</string>
    <key>ktVa</key>
    <string>ktV_a.glif</string>
    <key>ktVa.half</key>
    <string>ktV_a.half.glif</string>
    <key>ktVirama</key>
    <string>ktV_irama.glif</string>
    <key>ktYU.alt1</key>
    <string>ktY_U_.alt1.glif</string>
    <key>ktYU.var.alt1</key>
    <string>ktY_U_.var.alt1.glif</string>
    <key>ktYUU</key>
    <string>ktY_U_U_.glif</string>
    <key>ktYUU.var</key>
    <string>ktY_U_U_.var.glif</string>
    <key>ktYa</key>
    <string>ktY_a.glif</string>
    <key>ktYa.half</key>
    <string>ktY_a.half.glif</string>
    <key>ktYa.half.var</key>
    <string>ktY_a.half.var.glif</string>
    <key>ktYa.var</key>
    <string>ktY_a.var.glif</string>
    <key>ktZero</key>
    <string>ktZ_ero.glif</string>
    <key>ktZero.smallabv</key>
    <string>ktZ_ero.smallabv.glif</string>
    <key>ktZero.smallblw</key>
    <string>ktZ_ero.smallblw.glif</string>
    <key>nullR</key>
    <string>nullR_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
  </dict>
</plist>
