<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>_a_atn</key>
    <string>_a_atn.glif</string>
    <key>_aa</key>
    <string>_aa.glif</string>
    <key>_aa.alt</key>
    <string>_aa.alt.glif</string>
    <key>_aa_ai</key>
    <string>_aa_ai.glif</string>
    <key>_aa_anusvara</key>
    <string>_aa_anusvara.glif</string>
    <key>_aa_phk</key>
    <string>_aa_phk.glif</string>
    <key>_ai</key>
    <string>_ai.glif</string>
    <key>_ai.alt</key>
    <string>_ai.alt.glif</string>
    <key>_ai_khm</key>
    <string>_ai_khm.glif</string>
    <key>_ai_phk</key>
    <string>_ai_phk.glif</string>
    <key>_centredot</key>
    <string>_centredot.glif</string>
    <key>_centrering</key>
    <string>_centrering.glif</string>
    <key>_e</key>
    <string>_e.glif</string>
    <key>_e_above</key>
    <string>_e_above.glif</string>
    <key>_e_above_shn</key>
    <string>_e_above_shn.glif</string>
    <key>_e_dot</key>
    <string>_e_dot.glif</string>
    <key>_final_y_shn</key>
    <string>_final_y_shn.glif</string>
    <key>_i</key>
    <string>_i.glif</string>
    <key>_i.alt</key>
    <string>_i.alt.glif</string>
    <key>_i_ai</key>
    <string>_i_ai.glif</string>
    <key>_i_anusvara</key>
    <string>_i_anusvara.glif</string>
    <key>_ii</key>
    <string>_ii.glif</string>
    <key>_ii.alt</key>
    <string>_ii.alt.glif</string>
    <key>_ii_anusvara</key>
    <string>_ii_anusvara.glif</string>
    <key>_ii_mon</key>
    <string>_ii_mon.glif</string>
    <key>_ii_mon.alt</key>
    <string>_ii_mon.alt.glif</string>
    <key>_medialLa_mon</key>
    <string>_medialL_a_mon.glif</string>
    <key>_medialLa_mon.sub2</key>
    <string>_medialL_a_mon.sub2.glif</string>
    <key>_medialMa_mon</key>
    <string>_medialM_a_mon.glif</string>
    <key>_medialMa_mon.sub2</key>
    <string>_medialM_a_mon.sub2.glif</string>
    <key>_medialNa_mon</key>
    <string>_medialN_a_mon.glif</string>
    <key>_medialNa_mon.sub2</key>
    <string>_medialN_a_mon.sub2.glif</string>
    <key>_o_mon</key>
    <string>_o_mon.glif</string>
    <key>_tall_aa</key>
    <string>_tall_aa.glif</string>
    <key>_tall_aa_asat</key>
    <string>_tall_aa_asat.glif</string>
    <key>_tall_aa_asat.spaced</key>
    <string>_tall_aa_asat.spaced.glif</string>
    <key>_tall_aa_cond</key>
    <string>_tall_aa_cond.glif</string>
    <key>_u</key>
    <string>_u.glif</string>
    <key>_u_dot</key>
    <string>_u_dot.glif</string>
    <key>_u_dot.alt</key>
    <string>_u_dot.alt.glif</string>
    <key>_u_dot_spacing</key>
    <string>_u_dot_spacing.glif</string>
    <key>_u_dot_spacing.alt</key>
    <string>_u_dot_spacing.alt.glif</string>
    <key>_u_spacing</key>
    <string>_u_spacing.glif</string>
    <key>_uu</key>
    <string>_uu.glif</string>
    <key>_uu_dot</key>
    <string>_uu_dot.glif</string>
    <key>_uu_dot.alt</key>
    <string>_uu_dot.alt.glif</string>
    <key>_uu_dot_spacing</key>
    <string>_uu_dot_spacing.glif</string>
    <key>_uu_dot_spacing.alt</key>
    <string>_uu_dot_spacing.alt.glif</string>
    <key>_uu_spacing</key>
    <string>_uu_spacing.glif</string>
    <key>_vocLL_skt</key>
    <string>_vocL_L__skt.glif</string>
    <key>_vocL_skt</key>
    <string>_vocL__skt.glif</string>
    <key>_vocRR_skt</key>
    <string>_vocR_R__skt.glif</string>
    <key>_vocR_skt</key>
    <string>_vocR__skt.glif</string>
    <key>a_m</key>
    <string>a_m.glif</string>
    <key>a_m.sub</key>
    <string>a_m.sub.glif</string>
    <key>a_m.sub2</key>
    <string>a_m.sub2.glif</string>
    <key>a_shn</key>
    <string>a_shn.glif</string>
    <key>a_shn.sub</key>
    <string>a_shn.sub.glif</string>
    <key>a_shn.sub2</key>
    <string>a_shn.sub2.glif</string>
    <key>aa_khm</key>
    <string>aa_khm.glif</string>
    <key>aa_khm.sub</key>
    <string>aa_khm.sub.glif</string>
    <key>aa_khm.sub2</key>
    <string>aa_khm.sub2.glif</string>
    <key>aa_shn</key>
    <string>aa_shn.glif</string>
    <key>aforementioned</key>
    <string>aforementioned.glif</string>
    <key>ai_khm_dup</key>
    <string>ai_khm_dup.glif</string>
    <key>anusvara</key>
    <string>anusvara.glif</string>
    <key>asat</key>
    <string>asat.glif</string>
    <key>asat_anusvara</key>
    <string>asat_anusvara.glif</string>
    <key>asat_dup</key>
    <string>asat_dup.glif</string>
    <key>asatstem</key>
    <string>asatstem.glif</string>
    <key>au</key>
    <string>au.glif</string>
    <key>ba</key>
    <string>ba.glif</string>
    <key>ba.sub</key>
    <string>ba.sub.glif</string>
    <key>ba.sub2</key>
    <string>ba.sub2.glif</string>
    <key>ba_dha</key>
    <string>ba_dha.glif</string>
    <key>ba_shn</key>
    <string>ba_shn.glif</string>
    <key>ba_shn.sub</key>
    <string>ba_shn.sub.glif</string>
    <key>ba_shn.sub2</key>
    <string>ba_shn.sub2.glif</string>
    <key>ba_tlg</key>
    <string>ba_tlg.glif</string>
    <key>bba_mon</key>
    <string>bba_mon.glif</string>
    <key>bba_mon.sub</key>
    <string>bba_mon.sub.glif</string>
    <key>bba_mon.sub2</key>
    <string>bba_mon.sub2.glif</string>
    <key>bbe_mon</key>
    <string>bbe_mon.glif</string>
    <key>bbe_mon.sub</key>
    <string>bbe_mon.sub.glif</string>
    <key>bbe_mon.sub2</key>
    <string>bbe_mon.sub2.glif</string>
    <key>bha</key>
    <string>bha.glif</string>
    <key>bha.sub</key>
    <string>bha.sub.glif</string>
    <key>bha.sub2</key>
    <string>bha.sub2.glif</string>
    <key>bha_shn</key>
    <string>bha_shn.glif</string>
    <key>bha_shn.sub</key>
    <string>bha_shn.sub.glif</string>
    <key>bha_shn.sub2</key>
    <string>bha_shn.sub2.glif</string>
    <key>bha_tlg</key>
    <string>bha_tlg.glif</string>
    <key>big_section</key>
    <string>big_section.glif</string>
    <key>ca</key>
    <string>ca.glif</string>
    <key>ca.sub</key>
    <string>ca.sub.glif</string>
    <key>ca.sub2</key>
    <string>ca.sub2.glif</string>
    <key>ca_khm</key>
    <string>ca_khm.glif</string>
    <key>ca_khm_dot</key>
    <string>ca_khm_dot.glif</string>
    <key>ca_nya</key>
    <string>ca_nya.glif</string>
    <key>ca_shn</key>
    <string>ca_shn.glif</string>
    <key>ca_shn.sub</key>
    <string>ca_shn.sub.glif</string>
    <key>ca_shn.sub2</key>
    <string>ca_shn.sub2.glif</string>
    <key>ca_shn_dot</key>
    <string>ca_shn_dot.glif</string>
    <key>cha</key>
    <string>cha.glif</string>
    <key>cha.sub</key>
    <string>cha.sub.glif</string>
    <key>cha.sub2</key>
    <string>cha.sub2.glif</string>
    <key>cha_khm</key>
    <string>cha_khm.glif</string>
    <key>cha_khm_dot</key>
    <string>cha_khm_dot.glif</string>
    <key>cha_shn</key>
    <string>cha_shn.glif</string>
    <key>cha_shn.sub</key>
    <string>cha_shn.sub.glif</string>
    <key>cha_shn.sub2</key>
    <string>cha_shn.sub2.glif</string>
    <key>cha_shw</key>
    <string>cha_shw.glif</string>
    <key>cha_shw_medial_wa</key>
    <string>cha_shw_medial_wa.glif</string>
    <key>cha_tlg</key>
    <string>cha_tlg.glif</string>
    <key>completed</key>
    <string>completed.glif</string>
    <key>ctone2_shn</key>
    <string>ctone2_shn.glif</string>
    <key>ctone3_shn</key>
    <string>ctone3_shn.glif</string>
    <key>da</key>
    <string>da.glif</string>
    <key>da.sub</key>
    <string>da.sub.glif</string>
    <key>da.sub2</key>
    <string>da.sub2.glif</string>
    <key>da_dha_na</key>
    <string>da_dha_na.glif</string>
    <key>da_shn</key>
    <string>da_shn.glif</string>
    <key>da_shn.sub</key>
    <string>da_shn.sub.glif</string>
    <key>da_shn.sub2</key>
    <string>da_shn.sub2.glif</string>
    <key>da_tlg</key>
    <string>da_tlg.glif</string>
    <key>dda</key>
    <string>dda.glif</string>
    <key>dda.littletail</key>
    <string>dda.littletail.glif</string>
    <key>dda.sub</key>
    <string>dda.sub.glif</string>
    <key>dda.sub2</key>
    <string>dda.sub2.glif</string>
    <key>dda.sub_mon</key>
    <string>dda.sub_mon.glif</string>
    <key>dda_dda</key>
    <string>dda_dda.glif</string>
    <key>dda_ddha</key>
    <string>dda_ddha.glif</string>
    <key>dda_ga</key>
    <string>dda_ga.glif</string>
    <key>dda_khm</key>
    <string>dda_khm.glif</string>
    <key>dda_ma</key>
    <string>dda_ma.glif</string>
    <key>dda_medial_ha</key>
    <string>dda_medial_ha.glif</string>
    <key>dda_tlg</key>
    <string>dda_tlg.glif</string>
    <key>dda_wa</key>
    <string>dda_wa.glif</string>
    <key>ddha</key>
    <string>ddha.glif</string>
    <key>ddha.sub</key>
    <string>ddha.sub.glif</string>
    <key>ddha.sub2</key>
    <string>ddha.sub2.glif</string>
    <key>ddha_khm</key>
    <string>ddha_khm.glif</string>
    <key>ddha_tlg</key>
    <string>ddha_tlg.glif</string>
    <key>dha</key>
    <string>dha.glif</string>
    <key>dha.sub</key>
    <string>dha.sub.glif</string>
    <key>dha.sub2</key>
    <string>dha.sub2.glif</string>
    <key>dha_khm</key>
    <string>dha_khm.glif</string>
    <key>dha_tlg</key>
    <string>dha_tlg.glif</string>
    <key>dot_below</key>
    <string>dot_below.glif</string>
    <key>dot_below.k</key>
    <string>dot_below.k.glif</string>
    <key>dot_below_pr</key>
    <string>dot_below_pr.glif</string>
    <key>dot_below_spacing</key>
    <string>dot_below_spacing.glif</string>
    <key>doubledotbelow</key>
    <string>doubledotbelow.glif</string>
    <key>e_m</key>
    <string>e_m.glif</string>
    <key>e_m.sub</key>
    <string>e_m.sub.glif</string>
    <key>e_m.sub2</key>
    <string>e_m.sub2.glif</string>
    <key>e_mon</key>
    <string>e_mon.glif</string>
    <key>e_shn</key>
    <string>e_shn.glif</string>
    <key>ee_kyh</key>
    <string>ee_kyh.glif</string>
    <key>eight_m</key>
    <string>eight_m.glif</string>
    <key>eight_shn</key>
    <string>eight_shn.glif</string>
    <key>eight_tlg</key>
    <string>eight_tlg.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>etone_shn</key>
    <string>etone_shn.glif</string>
    <key>eu_skn</key>
    <string>eu_skn.glif</string>
    <key>eu_skn_asat</key>
    <string>eu_skn_asat.glif</string>
    <key>eu_wpk</key>
    <string>eu_wpk.glif</string>
    <key>exclam_atn</key>
    <string>exclam_atn.glif</string>
    <key>exclam_shn</key>
    <string>exclam_shn.glif</string>
    <key>fa_khm</key>
    <string>fa_khm.glif</string>
    <key>fa_khm_dot</key>
    <string>fa_khm_dot.glif</string>
    <key>fa_rpg</key>
    <string>fa_rpg.glif</string>
    <key>fa_rpg.sub</key>
    <string>fa_rpg.sub.glif</string>
    <key>fa_rpg.sub2</key>
    <string>fa_rpg.sub2.glif</string>
    <key>fa_shn</key>
    <string>fa_shn.glif</string>
    <key>fa_shn.sub</key>
    <string>fa_shn.sub.glif</string>
    <key>fa_shn.sub2</key>
    <string>fa_shn.sub2.glif</string>
    <key>fa_tlg</key>
    <string>fa_tlg.glif</string>
    <key>five_m</key>
    <string>five_m.glif</string>
    <key>five_shn</key>
    <string>five_shn.glif</string>
    <key>five_tlg</key>
    <string>five_tlg.glif</string>
    <key>four_m</key>
    <string>four_m.glif</string>
    <key>four_shn</key>
    <string>four_shn.glif</string>
    <key>four_tlg</key>
    <string>four_tlg.glif</string>
    <key>ga</key>
    <string>ga.glif</string>
    <key>ga.sub</key>
    <string>ga.sub.glif</string>
    <key>ga.sub2</key>
    <string>ga.sub2.glif</string>
    <key>ga_khm</key>
    <string>ga_khm.glif</string>
    <key>ga_khm.sub</key>
    <string>ga_khm.sub.glif</string>
    <key>ga_khm.sub2</key>
    <string>ga_khm.sub2.glif</string>
    <key>ga_khm_dot</key>
    <string>ga_khm_dot.glif</string>
    <key>ga_shn</key>
    <string>ga_shn.glif</string>
    <key>ga_shn.sub</key>
    <string>ga_shn.sub.glif</string>
    <key>ga_shn.sub2</key>
    <string>ga_shn.sub2.glif</string>
    <key>ga_tlg</key>
    <string>ga_tlg.glif</string>
    <key>genitive</key>
    <string>genitive.glif</string>
    <key>gha</key>
    <string>gha.glif</string>
    <key>gha.sub</key>
    <string>gha.sub.glif</string>
    <key>gha.sub2</key>
    <string>gha.sub2.glif</string>
    <key>gha_khm</key>
    <string>gha_khm.glif</string>
    <key>gha_khm.sub</key>
    <string>gha_khm.sub.glif</string>
    <key>gha_khm.sub2</key>
    <string>gha_khm.sub2.glif</string>
    <key>gha_khm_dot.sub</key>
    <string>gha_khm_dot.sub.glif</string>
    <key>gha_khm_dot.sub2</key>
    <string>gha_khm_dot.sub2.glif</string>
    <key>gha_shn</key>
    <string>gha_shn.glif</string>
    <key>gha_shn.sub</key>
    <string>gha_shn.sub.glif</string>
    <key>gha_shn.sub2</key>
    <string>gha_shn.sub2.glif</string>
    <key>gha_tlg</key>
    <string>gha_tlg.glif</string>
    <key>ghwa_epk</key>
    <string>ghwa_epk.glif</string>
    <key>great_nnya</key>
    <string>great_nnya.glif</string>
    <key>great_nnya.clipped</key>
    <string>great_nnya.clipped.glif</string>
    <key>great_sa</key>
    <string>great_sa.glif</string>
    <key>great_sa.sub</key>
    <string>great_sa.sub.glif</string>
    <key>great_sa.sub2</key>
    <string>great_sa.sub2.glif</string>
    <key>ha</key>
    <string>ha.glif</string>
    <key>ha.sub</key>
    <string>ha.sub.glif</string>
    <key>ha.sub2</key>
    <string>ha.sub2.glif</string>
    <key>ha_khm</key>
    <string>ha_khm.glif</string>
    <key>ha_khm_medial_wa</key>
    <string>ha_khm_medial_wa.glif</string>
    <key>ha_khm_uu</key>
    <string>ha_khm_uu.glif</string>
    <key>ha_shn</key>
    <string>ha_shn.glif</string>
    <key>ha_shn.sub</key>
    <string>ha_shn.sub.glif</string>
    <key>ha_shn.sub2</key>
    <string>ha_shn.sub2.glif</string>
    <key>ha_shn_medial_ha</key>
    <string>ha_shn_medial_ha.glif</string>
    <key>ha_shn_medial_wa</key>
    <string>ha_shn_medial_wa.glif</string>
    <key>ha_shn_u</key>
    <string>ha_shn_u.glif</string>
    <key>ha_shn_uu</key>
    <string>ha_shn_uu.glif</string>
    <key>ha_tlg</key>
    <string>ha_tlg.glif</string>
    <key>hathi_skn</key>
    <string>hathi_skn.glif</string>
    <key>hha_khm</key>
    <string>hha_khm.glif</string>
    <key>hm_khm</key>
    <string>hm_khm.glif</string>
    <key>i_gkn</key>
    <string>i_gkn.glif</string>
    <key>i_m</key>
    <string>i_m.glif</string>
    <key>ii</key>
    <string>ii.glif</string>
    <key>ja</key>
    <string>ja.glif</string>
    <key>ja.sub</key>
    <string>ja.sub.glif</string>
    <key>ja.sub2</key>
    <string>ja.sub2.glif</string>
    <key>ja_khm</key>
    <string>ja_khm.glif</string>
    <key>ja_khm_dot</key>
    <string>ja_khm_dot.glif</string>
    <key>ja_nya</key>
    <string>ja_nya.glif</string>
    <key>ja_tlg</key>
    <string>ja_tlg.glif</string>
    <key>jha</key>
    <string>jha.glif</string>
    <key>jha.sub</key>
    <string>jha.sub.glif</string>
    <key>jha.sub2</key>
    <string>jha.sub2.glif</string>
    <key>jha_khm</key>
    <string>jha_khm.glif</string>
    <key>jha_khm_dot</key>
    <string>jha_khm_dot.glif</string>
    <key>jha_mon</key>
    <string>jha_mon.glif</string>
    <key>jha_mon.sub</key>
    <string>jha_mon.sub.glif</string>
    <key>jha_mon.sub2</key>
    <string>jha_mon.sub2.glif</string>
    <key>jha_shn</key>
    <string>jha_shn.glif</string>
    <key>jha_shn.sub</key>
    <string>jha_shn.sub.glif</string>
    <key>jha_shn.sub2</key>
    <string>jha_shn.sub2.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>ka.sub</key>
    <string>ka.sub.glif</string>
    <key>ka.sub2</key>
    <string>ka.sub2.glif</string>
    <key>ka_khm</key>
    <string>ka_khm.glif</string>
    <key>ka_khm.sub</key>
    <string>ka_khm.sub.glif</string>
    <key>ka_khm.sub2</key>
    <string>ka_khm.sub2.glif</string>
    <key>ka_shn</key>
    <string>ka_shn.glif</string>
    <key>ka_shn.sub</key>
    <string>ka_shn.sub.glif</string>
    <key>ka_shn.sub2</key>
    <string>ka_shn.sub2.glif</string>
    <key>ka_shn_dot.sub</key>
    <string>ka_shn_dot.sub.glif</string>
    <key>ka_shn_dot.sub2</key>
    <string>ka_shn_dot.sub2.glif</string>
    <key>ka_ssa</key>
    <string>ka_ssa.glif</string>
    <key>kepho_skn</key>
    <string>kepho_skn.glif</string>
    <key>kha</key>
    <string>kha.glif</string>
    <key>kha.sub</key>
    <string>kha.sub.glif</string>
    <key>kha.sub2</key>
    <string>kha.sub2.glif</string>
    <key>kha_khm</key>
    <string>kha_khm.glif</string>
    <key>kha_khm.sub</key>
    <string>kha_khm.sub.glif</string>
    <key>kha_khm.sub2</key>
    <string>kha_khm.sub2.glif</string>
    <key>kha_shn</key>
    <string>kha_shn.glif</string>
    <key>kha_shn.sub</key>
    <string>kha_shn.sub.glif</string>
    <key>kha_shn.sub2</key>
    <string>kha_shn.sub2.glif</string>
    <key>kinzi</key>
    <string>kinzi.glif</string>
    <key>kinzi.cond</key>
    <string>kinzi.cond.glif</string>
    <key>kinzi_ai</key>
    <string>kinzi_ai.glif</string>
    <key>kinzi_anusvara</key>
    <string>kinzi_anusvara.glif</string>
    <key>kinzi_asat</key>
    <string>kinzi_asat.glif</string>
    <key>kinzi_i</key>
    <string>kinzi_i.glif</string>
    <key>kinzi_i_anusvara</key>
    <string>kinzi_i_anusvara.glif</string>
    <key>kinzi_ii</key>
    <string>kinzi_ii.glif</string>
    <key>kinzi_ii_anusvara</key>
    <string>kinzi_ii_anusvara.glif</string>
    <key>kinzi_ii_mon</key>
    <string>kinzi_ii_mon.glif</string>
    <key>kinzi_tall_aa</key>
    <string>kinzi_tall_aa.glif</string>
    <key>la</key>
    <string>la.glif</string>
    <key>la.sub</key>
    <string>la.sub.glif</string>
    <key>la.sub2</key>
    <string>la.sub2.glif</string>
    <key>la_khm</key>
    <string>la_khm.glif</string>
    <key>la_khm.sub</key>
    <string>la_khm.sub.glif</string>
    <key>la_khm.sub2</key>
    <string>la_khm.sub2.glif</string>
    <key>little_section</key>
    <string>little_section.glif</string>
    <key>lla</key>
    <string>lla.glif</string>
    <key>lla.littletail</key>
    <string>lla.littletail.glif</string>
    <key>lla.notail</key>
    <string>lla.notail.glif</string>
    <key>lla.sub</key>
    <string>lla.sub.glif</string>
    <key>lla.sub2</key>
    <string>lla.sub2.glif</string>
    <key>lla_lla</key>
    <string>lla_lla.glif</string>
    <key>lla_medial_ha</key>
    <string>lla_medial_ha.glif</string>
    <key>lla_tlg</key>
    <string>lla_tlg.glif</string>
    <key>locative</key>
    <string>locative.glif</string>
    <key>loopasatstem</key>
    <string>loopasatstem.glif</string>
    <key>loopedbowl</key>
    <string>loopedbowl.glif</string>
    <key>ma</key>
    <string>ma.glif</string>
    <key>ma.sub</key>
    <string>ma.sub.glif</string>
    <key>ma.sub2</key>
    <string>ma.sub2.glif</string>
    <key>ma_khm</key>
    <string>ma_khm.glif</string>
    <key>ma_phk.sub</key>
    <string>ma_phk.sub.glif</string>
    <key>ma_phk.sub2</key>
    <string>ma_phk.sub2.glif</string>
    <key>medial_ha</key>
    <string>medial_ha.glif</string>
    <key>medial_ha.sub2</key>
    <string>medial_ha.sub2.glif</string>
    <key>medial_ha_dot</key>
    <string>medial_ha_dot.glif</string>
    <key>medial_ha_dot_obl</key>
    <string>medial_ha_dot_obl.glif</string>
    <key>medial_ha_obl</key>
    <string>medial_ha_obl.glif</string>
    <key>medial_ha_obl.sub2</key>
    <string>medial_ha_obl.sub2.glif</string>
    <key>medial_ha_obl_u</key>
    <string>medial_ha_obl_u.glif</string>
    <key>medial_ha_obl_u_dot</key>
    <string>medial_ha_obl_u_dot.glif</string>
    <key>medial_ha_obl_uu</key>
    <string>medial_ha_obl_uu.glif</string>
    <key>medial_ha_obl_uu_dot</key>
    <string>medial_ha_obl_uu_dot.glif</string>
    <key>medial_ha_u</key>
    <string>medial_ha_u.glif</string>
    <key>medial_ha_u_dot</key>
    <string>medial_ha_u_dot.glif</string>
    <key>medial_ha_uu</key>
    <string>medial_ha_uu.glif</string>
    <key>medial_ha_uu_dot</key>
    <string>medial_ha_uu_dot.glif</string>
    <key>medial_ra</key>
    <string>medial_ra.glif</string>
    <key>medial_ra.w2</key>
    <string>medial_ra.w2.glif</string>
    <key>medial_ra.w2_2</key>
    <string>medial_ra.w2_2.glif</string>
    <key>medial_ra.w2_5</key>
    <string>medial_ra.w2_5.glif</string>
    <key>medial_ra.w3</key>
    <string>medial_ra.w3.glif</string>
    <key>medial_ra_bt</key>
    <string>medial_ra_bt.glif</string>
    <key>medial_ra_bt.w2</key>
    <string>medial_ra_bt.w2.glif</string>
    <key>medial_ra_bt.w2_2</key>
    <string>medial_ra_bt.w2_2.glif</string>
    <key>medial_ra_bt.w2_5</key>
    <string>medial_ra_bt.w2_5.glif</string>
    <key>medial_ra_bt.w3</key>
    <string>medial_ra_bt.w3.glif</string>
    <key>medial_ra_bt2.w2</key>
    <string>medial_ra_bt2.w2.glif</string>
    <key>medial_ra_bt2.w2_2</key>
    <string>medial_ra_bt2.w2_2.glif</string>
    <key>medial_ra_bt2.w2_5</key>
    <string>medial_ra_bt2.w2_5.glif</string>
    <key>medial_ra_bt2.w3</key>
    <string>medial_ra_bt2.w3.glif</string>
    <key>medial_ra_ha</key>
    <string>medial_ra_ha.glif</string>
    <key>medial_ra_ha.w2</key>
    <string>medial_ra_ha.w2.glif</string>
    <key>medial_ra_ha.w2_2</key>
    <string>medial_ra_ha.w2_2.glif</string>
    <key>medial_ra_ha.w2_5</key>
    <string>medial_ra_ha.w2_5.glif</string>
    <key>medial_ra_ha.w3</key>
    <string>medial_ra_ha.w3.glif</string>
    <key>medial_ra_ha_tt</key>
    <string>medial_ra_ha_tt.glif</string>
    <key>medial_ra_ha_tt.w2</key>
    <string>medial_ra_ha_tt.w2.glif</string>
    <key>medial_ra_ha_tt.w2_2</key>
    <string>medial_ra_ha_tt.w2_2.glif</string>
    <key>medial_ra_ha_tt.w2_5</key>
    <string>medial_ra_ha_tt.w2_5.glif</string>
    <key>medial_ra_ha_tt.w3</key>
    <string>medial_ra_ha_tt.w3.glif</string>
    <key>medial_ra_ha_tt2</key>
    <string>medial_ra_ha_tt2.glif</string>
    <key>medial_ra_tt</key>
    <string>medial_ra_tt.glif</string>
    <key>medial_ra_tt.w2</key>
    <string>medial_ra_tt.w2.glif</string>
    <key>medial_ra_tt.w2_2</key>
    <string>medial_ra_tt.w2_2.glif</string>
    <key>medial_ra_tt.w2_5</key>
    <string>medial_ra_tt.w2_5.glif</string>
    <key>medial_ra_tt.w3</key>
    <string>medial_ra_tt.w3.glif</string>
    <key>medial_ra_tt2</key>
    <string>medial_ra_tt2.glif</string>
    <key>medial_ra_tt2_bt</key>
    <string>medial_ra_tt2_bt.glif</string>
    <key>medial_ra_tt_bt</key>
    <string>medial_ra_tt_bt.glif</string>
    <key>medial_ra_tt_bt.w2</key>
    <string>medial_ra_tt_bt.w2.glif</string>
    <key>medial_ra_tt_bt.w2_2</key>
    <string>medial_ra_tt_bt.w2_2.glif</string>
    <key>medial_ra_tt_bt.w2_5</key>
    <string>medial_ra_tt_bt.w2_5.glif</string>
    <key>medial_ra_tt_bt.w3</key>
    <string>medial_ra_tt_bt.w3.glif</string>
    <key>medial_ra_tt_bt2.w2</key>
    <string>medial_ra_tt_bt2.w2.glif</string>
    <key>medial_ra_tt_bt2.w2_2</key>
    <string>medial_ra_tt_bt2.w2_2.glif</string>
    <key>medial_ra_tt_bt2.w2_5</key>
    <string>medial_ra_tt_bt2.w2_5.glif</string>
    <key>medial_ra_tt_bt2.w3</key>
    <string>medial_ra_tt_bt2.w3.glif</string>
    <key>medial_ra_u</key>
    <string>medial_ra_u.glif</string>
    <key>medial_ra_u.w2</key>
    <string>medial_ra_u.w2.glif</string>
    <key>medial_ra_u.w2_2</key>
    <string>medial_ra_u.w2_2.glif</string>
    <key>medial_ra_u.w2_5</key>
    <string>medial_ra_u.w2_5.glif</string>
    <key>medial_ra_u.w3</key>
    <string>medial_ra_u.w3.glif</string>
    <key>medial_ra_u_dot</key>
    <string>medial_ra_u_dot.glif</string>
    <key>medial_ra_u_dot.alt</key>
    <string>medial_ra_u_dot.alt.glif</string>
    <key>medial_ra_u_dot.alt.w2</key>
    <string>medial_ra_u_dot.alt.w2.glif</string>
    <key>medial_ra_u_dot.alt.w2_2</key>
    <string>medial_ra_u_dot.alt.w2_2.glif</string>
    <key>medial_ra_u_dot.alt.w2_5</key>
    <string>medial_ra_u_dot.alt.w2_5.glif</string>
    <key>medial_ra_u_dot.alt.w3</key>
    <string>medial_ra_u_dot.alt.w3.glif</string>
    <key>medial_ra_u_dot.w2</key>
    <string>medial_ra_u_dot.w2.glif</string>
    <key>medial_ra_u_dot.w2_2</key>
    <string>medial_ra_u_dot.w2_2.glif</string>
    <key>medial_ra_u_dot.w2_5</key>
    <string>medial_ra_u_dot.w2_5.glif</string>
    <key>medial_ra_u_dot.w3</key>
    <string>medial_ra_u_dot.w3.glif</string>
    <key>medial_ra_u_dot_tt</key>
    <string>medial_ra_u_dot_tt.glif</string>
    <key>medial_ra_u_dot_tt.alt</key>
    <string>medial_ra_u_dot_tt.alt.glif</string>
    <key>medial_ra_u_dot_tt.alt.w2</key>
    <string>medial_ra_u_dot_tt.alt.w2.glif</string>
    <key>medial_ra_u_dot_tt.alt.w2_2</key>
    <string>medial_ra_u_dot_tt.alt.w2_2.glif</string>
    <key>medial_ra_u_dot_tt.alt.w2_5</key>
    <string>medial_ra_u_dot_tt.alt.w2_5.glif</string>
    <key>medial_ra_u_dot_tt.alt.w3</key>
    <string>medial_ra_u_dot_tt.alt.w3.glif</string>
    <key>medial_ra_u_dot_tt.w2</key>
    <string>medial_ra_u_dot_tt.w2.glif</string>
    <key>medial_ra_u_dot_tt.w2_2</key>
    <string>medial_ra_u_dot_tt.w2_2.glif</string>
    <key>medial_ra_u_dot_tt.w2_5</key>
    <string>medial_ra_u_dot_tt.w2_5.glif</string>
    <key>medial_ra_u_dot_tt.w3</key>
    <string>medial_ra_u_dot_tt.w3.glif</string>
    <key>medial_ra_u_dot_tt2</key>
    <string>medial_ra_u_dot_tt2.glif</string>
    <key>medial_ra_u_dot_tt2.alt</key>
    <string>medial_ra_u_dot_tt2.alt.glif</string>
    <key>medial_ra_u_tt</key>
    <string>medial_ra_u_tt.glif</string>
    <key>medial_ra_u_tt.w2</key>
    <string>medial_ra_u_tt.w2.glif</string>
    <key>medial_ra_u_tt.w2_2</key>
    <string>medial_ra_u_tt.w2_2.glif</string>
    <key>medial_ra_u_tt.w2_5</key>
    <string>medial_ra_u_tt.w2_5.glif</string>
    <key>medial_ra_u_tt.w3</key>
    <string>medial_ra_u_tt.w3.glif</string>
    <key>medial_ra_u_tt2</key>
    <string>medial_ra_u_tt2.glif</string>
    <key>medial_ra_wa</key>
    <string>medial_ra_wa.glif</string>
    <key>medial_ra_wa.w2</key>
    <string>medial_ra_wa.w2.glif</string>
    <key>medial_ra_wa.w2_2</key>
    <string>medial_ra_wa.w2_2.glif</string>
    <key>medial_ra_wa.w2_5</key>
    <string>medial_ra_wa.w2_5.glif</string>
    <key>medial_ra_wa.w3</key>
    <string>medial_ra_wa.w3.glif</string>
    <key>medial_ra_wa_ha</key>
    <string>medial_ra_wa_ha.glif</string>
    <key>medial_ra_wa_ha.w2</key>
    <string>medial_ra_wa_ha.w2.glif</string>
    <key>medial_ra_wa_ha.w2_2</key>
    <string>medial_ra_wa_ha.w2_2.glif</string>
    <key>medial_ra_wa_ha.w2_5</key>
    <string>medial_ra_wa_ha.w2_5.glif</string>
    <key>medial_ra_wa_ha.w3</key>
    <string>medial_ra_wa_ha.w3.glif</string>
    <key>medial_ra_wa_ha_ovl</key>
    <string>medial_ra_wa_ha_ovl.glif</string>
    <key>medial_ra_wa_ha_ovl.w2</key>
    <string>medial_ra_wa_ha_ovl.w2.glif</string>
    <key>medial_ra_wa_ha_ovl.w2_2</key>
    <string>medial_ra_wa_ha_ovl.w2_2.glif</string>
    <key>medial_ra_wa_ha_ovl.w2_5</key>
    <string>medial_ra_wa_ha_ovl.w2_5.glif</string>
    <key>medial_ra_wa_ha_ovl.w3</key>
    <string>medial_ra_wa_ha_ovl.w3.glif</string>
    <key>medial_ra_wa_ha_ovl_tt</key>
    <string>medial_ra_wa_ha_ovl_tt.glif</string>
    <key>medial_ra_wa_ha_ovl_tt.w2</key>
    <string>medial_ra_wa_ha_ovl_tt.w2.glif</string>
    <key>medial_ra_wa_ha_ovl_tt.w2_2</key>
    <string>medial_ra_wa_ha_ovl_tt.w2_2.glif</string>
    <key>medial_ra_wa_ha_ovl_tt.w2_5</key>
    <string>medial_ra_wa_ha_ovl_tt.w2_5.glif</string>
    <key>medial_ra_wa_ha_ovl_tt.w3</key>
    <string>medial_ra_wa_ha_ovl_tt.w3.glif</string>
    <key>medial_ra_wa_ha_ovl_tt2</key>
    <string>medial_ra_wa_ha_ovl_tt2.glif</string>
    <key>medial_ra_wa_ha_tt</key>
    <string>medial_ra_wa_ha_tt.glif</string>
    <key>medial_ra_wa_ha_tt.w2</key>
    <string>medial_ra_wa_ha_tt.w2.glif</string>
    <key>medial_ra_wa_ha_tt.w2_2</key>
    <string>medial_ra_wa_ha_tt.w2_2.glif</string>
    <key>medial_ra_wa_ha_tt.w2_5</key>
    <string>medial_ra_wa_ha_tt.w2_5.glif</string>
    <key>medial_ra_wa_ha_tt.w3</key>
    <string>medial_ra_wa_ha_tt.w3.glif</string>
    <key>medial_ra_wa_ha_tt2</key>
    <string>medial_ra_wa_ha_tt2.glif</string>
    <key>medial_ra_wa_ovl</key>
    <string>medial_ra_wa_ovl.glif</string>
    <key>medial_ra_wa_ovl.w2</key>
    <string>medial_ra_wa_ovl.w2.glif</string>
    <key>medial_ra_wa_ovl.w2_2</key>
    <string>medial_ra_wa_ovl.w2_2.glif</string>
    <key>medial_ra_wa_ovl.w2_5</key>
    <string>medial_ra_wa_ovl.w2_5.glif</string>
    <key>medial_ra_wa_ovl.w3</key>
    <string>medial_ra_wa_ovl.w3.glif</string>
    <key>medial_ra_wa_ovl_tt</key>
    <string>medial_ra_wa_ovl_tt.glif</string>
    <key>medial_ra_wa_ovl_tt.w2</key>
    <string>medial_ra_wa_ovl_tt.w2.glif</string>
    <key>medial_ra_wa_ovl_tt.w2_2</key>
    <string>medial_ra_wa_ovl_tt.w2_2.glif</string>
    <key>medial_ra_wa_ovl_tt.w2_5</key>
    <string>medial_ra_wa_ovl_tt.w2_5.glif</string>
    <key>medial_ra_wa_ovl_tt.w3</key>
    <string>medial_ra_wa_ovl_tt.w3.glif</string>
    <key>medial_ra_wa_ovl_tt2</key>
    <string>medial_ra_wa_ovl_tt2.glif</string>
    <key>medial_ra_wa_tt</key>
    <string>medial_ra_wa_tt.glif</string>
    <key>medial_ra_wa_tt.w2</key>
    <string>medial_ra_wa_tt.w2.glif</string>
    <key>medial_ra_wa_tt.w2_2</key>
    <string>medial_ra_wa_tt.w2_2.glif</string>
    <key>medial_ra_wa_tt.w2_5</key>
    <string>medial_ra_wa_tt.w2_5.glif</string>
    <key>medial_ra_wa_tt.w3</key>
    <string>medial_ra_wa_tt.w3.glif</string>
    <key>medial_ra_wa_tt2</key>
    <string>medial_ra_wa_tt2.glif</string>
    <key>medial_wa</key>
    <string>medial_wa.glif</string>
    <key>medial_wa_dot</key>
    <string>medial_wa_dot.glif</string>
    <key>medial_wa_dot_ovl</key>
    <string>medial_wa_dot_ovl.glif</string>
    <key>medial_wa_dotbelow_shn</key>
    <string>medial_wa_dotbelow_shn.glif</string>
    <key>medial_wa_ha</key>
    <string>medial_wa_ha.glif</string>
    <key>medial_wa_ha_dot</key>
    <string>medial_wa_ha_dot.glif</string>
    <key>medial_wa_ha_dot_ovl</key>
    <string>medial_wa_ha_dot_ovl.glif</string>
    <key>medial_wa_ha_ovl</key>
    <string>medial_wa_ha_ovl.glif</string>
    <key>medial_wa_ha_ovl_short</key>
    <string>medial_wa_ha_ovl_short.glif</string>
    <key>medial_wa_ha_short</key>
    <string>medial_wa_ha_short.glif</string>
    <key>medial_wa_ovl</key>
    <string>medial_wa_ovl.glif</string>
    <key>medial_wa_shn</key>
    <string>medial_wa_shn.glif</string>
    <key>medial_ya</key>
    <string>medial_ya.glif</string>
    <key>medial_ya.alt1</key>
    <string>medial_ya.alt1.glif</string>
    <key>medial_ya.alt2</key>
    <string>medial_ya.alt2.glif</string>
    <key>medial_ya.alt3</key>
    <string>medial_ya.alt3.glif</string>
    <key>medial_ya.littletail</key>
    <string>medial_ya.littletail.glif</string>
    <key>medial_ya.ttha</key>
    <string>medial_ya.ttha.glif</string>
    <key>medial_ya_aa</key>
    <string>medial_ya_aa.glif</string>
    <key>medial_ya_eu_skn</key>
    <string>medial_ya_eu_skn.glif</string>
    <key>medial_ya_ha</key>
    <string>medial_ya_ha.glif</string>
    <key>medial_ya_ha.alt</key>
    <string>medial_ya_ha.alt.glif</string>
    <key>medial_ya_i_u</key>
    <string>medial_ya_i_u.glif</string>
    <key>medial_ya_i_u.alt1</key>
    <string>medial_ya_i_u.alt1.glif</string>
    <key>medial_ya_i_u.alt2</key>
    <string>medial_ya_i_u.alt2.glif</string>
    <key>medial_ya_wa</key>
    <string>medial_ya_wa.glif</string>
    <key>medial_ya_wa_ha</key>
    <string>medial_ya_wa_ha.glif</string>
    <key>medial_ya_wa_ha_ovl</key>
    <string>medial_ya_wa_ha_ovl.glif</string>
    <key>medial_ya_wa_ovl</key>
    <string>medial_ya_wa_ovl.glif</string>
    <key>medial_ya_wa_shn</key>
    <string>medial_ya_wa_shn.glif</string>
    <key>na</key>
    <string>na.glif</string>
    <key>na.alt</key>
    <string>na.alt.glif</string>
    <key>na.for_aa</key>
    <string>na.for_aa.glif</string>
    <key>na.sub</key>
    <string>na.sub.glif</string>
    <key>na.sub2</key>
    <string>na.sub2.glif</string>
    <key>na_dot_below</key>
    <string>na_dot_below.glif</string>
    <key>na_khm</key>
    <string>na_khm.glif</string>
    <key>na_shn</key>
    <string>na_shn.glif</string>
    <key>na_shn.sub</key>
    <string>na_shn.sub.glif</string>
    <key>na_shn.sub2</key>
    <string>na_shn.sub2.glif</string>
    <key>na_short.for_aa</key>
    <string>na_short.for_aa.glif</string>
    <key>na_tlg</key>
    <string>na_tlg.glif</string>
    <key>nga</key>
    <string>nga.glif</string>
    <key>nga.sub</key>
    <string>nga.sub.glif</string>
    <key>nga.sub2</key>
    <string>nga.sub2.glif</string>
    <key>nga_khm</key>
    <string>nga_khm.glif</string>
    <key>nga_khm.sub</key>
    <string>nga_khm.sub.glif</string>
    <key>nga_khm.sub2</key>
    <string>nga_khm.sub2.glif</string>
    <key>nga_mon</key>
    <string>nga_mon.glif</string>
    <key>nga_mon.sub</key>
    <string>nga_mon.sub.glif</string>
    <key>nga_mon.sub2</key>
    <string>nga_mon.sub2.glif</string>
    <key>nine_m</key>
    <string>nine_m.glif</string>
    <key>nine_shn</key>
    <string>nine_shn.glif</string>
    <key>nine_tlg</key>
    <string>nine_tlg.glif</string>
    <key>nna</key>
    <string>nna.glif</string>
    <key>nna.sub</key>
    <string>nna.sub.glif</string>
    <key>nna.sub2</key>
    <string>nna.sub2.glif</string>
    <key>nna_dda</key>
    <string>nna_dda.glif</string>
    <key>nna_epk</key>
    <string>nna_epk.glif</string>
    <key>nna_shn</key>
    <string>nna_shn.glif</string>
    <key>nna_shn.sub</key>
    <string>nna_shn.sub.glif</string>
    <key>nna_shn.sub2</key>
    <string>nna_shn.sub2.glif</string>
    <key>nna_tlg</key>
    <string>nna_tlg.glif</string>
    <key>nna_tta</key>
    <string>nna_tta.glif</string>
    <key>nna_ttha</key>
    <string>nna_ttha.glif</string>
    <key>nnya</key>
    <string>nnya.glif</string>
    <key>nnya.halftail</key>
    <string>nnya.halftail.glif</string>
    <key>nnya.notail</key>
    <string>nnya.notail.glif</string>
    <key>nnya.sub</key>
    <string>nnya.sub.glif</string>
    <key>nnya.sub2</key>
    <string>nnya.sub2.glif</string>
    <key>nnya.thirdtail</key>
    <string>nnya.thirdtail.glif</string>
    <key>nnya_medial_ha_u</key>
    <string>nnya_medial_ha_u.glif</string>
    <key>nnya_medial_ha_uu</key>
    <string>nnya_medial_ha_uu.glif</string>
    <key>null</key>
    <string>null.glif</string>
    <key>nya</key>
    <string>nya.glif</string>
    <key>nya.deep</key>
    <string>nya.deep.glif</string>
    <key>nya.narrow</key>
    <string>nya.narrow.glif</string>
    <key>nya.notail</key>
    <string>nya.notail.glif</string>
    <key>nya.sub</key>
    <string>nya.sub.glif</string>
    <key>nya.sub2</key>
    <string>nya.sub2.glif</string>
    <key>nya_ca</key>
    <string>nya_ca.glif</string>
    <key>nya_ca_ya</key>
    <string>nya_ca_ya.glif</string>
    <key>nya_cha</key>
    <string>nya_cha.glif</string>
    <key>nya_cha_ya</key>
    <string>nya_cha_ya.glif</string>
    <key>nya_ja</key>
    <string>nya_ja.glif</string>
    <key>nya_jha</key>
    <string>nya_jha.glif</string>
    <key>nya_khm</key>
    <string>nya_khm.glif</string>
    <key>nya_khm_dot</key>
    <string>nya_khm_dot.glif</string>
    <key>nya_shn</key>
    <string>nya_shn.glif</string>
    <key>nya_shn.sub</key>
    <string>nya_shn.sub.glif</string>
    <key>nya_shn.sub2</key>
    <string>nya_shn.sub2.glif</string>
    <key>nya_shn_dot</key>
    <string>nya_shn_dot.glif</string>
    <key>nya_shn_dot.sub</key>
    <string>nya_shn_dot.sub.glif</string>
    <key>nya_shn_dot.sub2</key>
    <string>nya_shn_dot.sub2.glif</string>
    <key>nya_tlg</key>
    <string>nya_tlg.glif</string>
    <key>o_m</key>
    <string>o_m.glif</string>
    <key>oe_kyh</key>
    <string>oe_kyh.glif</string>
    <key>one_atn</key>
    <string>one_atn.glif</string>
    <key>one_m</key>
    <string>one_m.glif</string>
    <key>one_shn</key>
    <string>one_shn.glif</string>
    <key>one_tlg</key>
    <string>one_tlg.glif</string>
    <key>pa</key>
    <string>pa.glif</string>
    <key>pa.sub</key>
    <string>pa.sub.glif</string>
    <key>pa.sub2</key>
    <string>pa.sub2.glif</string>
    <key>pa_khm</key>
    <string>pa_khm.glif</string>
    <key>pa_phk.sub</key>
    <string>pa_phk.sub.glif</string>
    <key>pa_phk.sub2</key>
    <string>pa_phk.sub2.glif</string>
    <key>pha</key>
    <string>pha.glif</string>
    <key>pha.sub</key>
    <string>pha.sub.glif</string>
    <key>pha.sub2</key>
    <string>pha.sub2.glif</string>
    <key>pha_shn</key>
    <string>pha_shn.glif</string>
    <key>pha_shn.sub</key>
    <string>pha_shn.sub.glif</string>
    <key>pha_shn.sub2</key>
    <string>pha_shn.sub2.glif</string>
    <key>pwa_wpk</key>
    <string>pwa_wpk.glif</string>
    <key>qay_khm</key>
    <string>qay_khm.glif</string>
    <key>qn_khm</key>
    <string>qn_khm.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>ra</key>
    <string>ra.glif</string>
    <key>ra.alt</key>
    <string>ra.alt.glif</string>
    <key>ra.alt2</key>
    <string>ra.alt2.glif</string>
    <key>ra.sub</key>
    <string>ra.sub.glif</string>
    <key>ra.sub2</key>
    <string>ra.sub2.glif</string>
    <key>ra_asat</key>
    <string>ra_asat.glif</string>
    <key>ra_atn</key>
    <string>ra_atn.glif</string>
    <key>ra_atn_dot</key>
    <string>ra_atn_dot.glif</string>
    <key>ra_i</key>
    <string>ra_i.glif</string>
    <key>ra_ii</key>
    <string>ra_ii.glif</string>
    <key>ra_khm</key>
    <string>ra_khm.glif</string>
    <key>ra_mark</key>
    <string>ra_mark.glif</string>
    <key>ra_mark.cond</key>
    <string>ra_mark.cond.glif</string>
    <key>ra_mark_ai_skt</key>
    <string>ra_mark_ai_skt.glif</string>
    <key>ra_mark_anusvara_skt</key>
    <string>ra_mark_anusvara_skt.glif</string>
    <key>ra_mark_i_anusvara_skt</key>
    <string>ra_mark_i_anusvara_skt.glif</string>
    <key>ra_mark_ii_anusvara_skt</key>
    <string>ra_mark_ii_anusvara_skt.glif</string>
    <key>ra_mark_tall_aa_skt</key>
    <string>ra_mark_tall_aa_skt.glif</string>
    <key>ra_medial_ha</key>
    <string>ra_medial_ha.glif</string>
    <key>ra_medial_ha_obl</key>
    <string>ra_medial_ha_obl.glif</string>
    <key>ra_medial_ha_obl_u</key>
    <string>ra_medial_ha_obl_u.glif</string>
    <key>ra_medial_ha_obl_uu</key>
    <string>ra_medial_ha_obl_uu.glif</string>
    <key>ra_medial_ha_u</key>
    <string>ra_medial_ha_u.glif</string>
    <key>ra_medial_ha_uu</key>
    <string>ra_medial_ha_uu.glif</string>
    <key>ra_medial_wa</key>
    <string>ra_medial_wa.glif</string>
    <key>ra_medial_wa_ha</key>
    <string>ra_medial_wa_ha.glif</string>
    <key>ra_medial_wa_ovl</key>
    <string>ra_medial_wa_ovl.glif</string>
    <key>ra_medial_wa_ovl_ha</key>
    <string>ra_medial_wa_ovl_ha.glif</string>
    <key>ra_u</key>
    <string>ra_u.glif</string>
    <key>ra_uu</key>
    <string>ra_uu.glif</string>
    <key>redup_khm</key>
    <string>redup_khm.glif</string>
    <key>redup_tlg</key>
    <string>redup_tlg.glif</string>
    <key>sa</key>
    <string>sa.glif</string>
    <key>sa.sub</key>
    <string>sa.sub.glif</string>
    <key>sa.sub2</key>
    <string>sa.sub2.glif</string>
    <key>sa_khm</key>
    <string>sa_khm.glif</string>
    <key>sa_tlg</key>
    <string>sa_tlg.glif</string>
    <key>saw_shn</key>
    <string>saw_shn.glif</string>
    <key>seven_m</key>
    <string>seven_m.glif</string>
    <key>seven_shn</key>
    <string>seven_shn.glif</string>
    <key>seven_tlg</key>
    <string>seven_tlg.glif</string>
    <key>sha_shw</key>
    <string>sha_shw.glif</string>
    <key>sha_shw_medial_wa</key>
    <string>sha_shw_medial_wa.glif</string>
    <key>sha_skn</key>
    <string>sha_skn.glif</string>
    <key>sha_skt</key>
    <string>sha_skt.glif</string>
    <key>sha_skt.sub</key>
    <string>sha_skt.sub.glif</string>
    <key>sha_skt.sub2</key>
    <string>sha_skt.sub2.glif</string>
    <key>six_ai</key>
    <string>six_ai.glif</string>
    <key>six_asat</key>
    <string>six_asat.glif</string>
    <key>six_kinzi</key>
    <string>six_kinzi.glif</string>
    <key>six_m</key>
    <string>six_m.glif</string>
    <key>six_shn</key>
    <string>six_shn.glif</string>
    <key>six_tlg</key>
    <string>six_tlg.glif</string>
    <key>sone_shn</key>
    <string>sone_shn.glif</string>
    <key>sp1</key>
    <string>sp1.glif</string>
    <key>sp10</key>
    <string>sp10.glif</string>
    <key>sp11</key>
    <string>sp11.glif</string>
    <key>sp12</key>
    <string>sp12.glif</string>
    <key>sp13</key>
    <string>sp13.glif</string>
    <key>sp2</key>
    <string>sp2.glif</string>
    <key>sp3</key>
    <string>sp3.glif</string>
    <key>sp4</key>
    <string>sp4.glif</string>
    <key>sp5</key>
    <string>sp5.glif</string>
    <key>sp6</key>
    <string>sp6.glif</string>
    <key>sp7</key>
    <string>sp7.glif</string>
    <key>sp8</key>
    <string>sp8.glif</string>
    <key>sp9</key>
    <string>sp9.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa_skt</key>
    <string>ssa_skt.glif</string>
    <key>ssa_skt.sub</key>
    <string>ssa_skt.sub.glif</string>
    <key>ssa_skt.sub2</key>
    <string>ssa_skt.sub2.glif</string>
    <key>ssa_tta</key>
    <string>ssa_tta.glif</string>
    <key>ssa_tta.littletail</key>
    <string>ssa_tta.littletail.glif</string>
    <key>ssa_tta_medial_ra</key>
    <string>ssa_tta_medial_ra.glif</string>
    <key>ssa_ttha</key>
    <string>ssa_ttha.glif</string>
    <key>ta</key>
    <string>ta.glif</string>
    <key>ta.sub</key>
    <string>ta.sub.glif</string>
    <key>ta.sub2</key>
    <string>ta.sub2.glif</string>
    <key>ta_khm</key>
    <string>ta_khm.glif</string>
    <key>ta_khm.sub</key>
    <string>ta_khm.sub.glif</string>
    <key>ta_khm.sub2</key>
    <string>ta_khm.sub2.glif</string>
    <key>ta_wa.sub</key>
    <string>ta_wa.sub.glif</string>
    <key>ta_wa.sub2</key>
    <string>ta_wa.sub2.glif</string>
    <key>ta_wa_ovl.sub</key>
    <string>ta_wa_ovl.sub.glif</string>
    <key>ta_wa_ovl.sub2</key>
    <string>ta_wa_ovl.sub2.glif</string>
    <key>tall_aa_ai</key>
    <string>tall_aa_ai.glif</string>
    <key>tall_aa_anusvara</key>
    <string>tall_aa_anusvara.glif</string>
    <key>tha</key>
    <string>tha.glif</string>
    <key>tha.sub</key>
    <string>tha.sub.glif</string>
    <key>tha.sub2</key>
    <string>tha.sub2.glif</string>
    <key>tha_khm</key>
    <string>tha_khm.glif</string>
    <key>tha_khm.sub</key>
    <string>tha_khm.sub.glif</string>
    <key>tha_khm.sub2</key>
    <string>tha_khm.sub2.glif</string>
    <key>tha_phk</key>
    <string>tha_phk.glif</string>
    <key>tha_phk.sub</key>
    <string>tha_phk.sub.glif</string>
    <key>tha_phk.sub2</key>
    <string>tha_phk.sub2.glif</string>
    <key>tha_shn</key>
    <string>tha_shn.glif</string>
    <key>tha_shn.sub</key>
    <string>tha_shn.sub.glif</string>
    <key>tha_shn.sub2</key>
    <string>tha_shn.sub2.glif</string>
    <key>tha_wpk</key>
    <string>tha_wpk.glif</string>
    <key>three_m</key>
    <string>three_m.glif</string>
    <key>three_shn</key>
    <string>three_shn.glif</string>
    <key>three_tlg</key>
    <string>three_tlg.glif</string>
    <key>tone1_khm</key>
    <string>tone1_khm.glif</string>
    <key>tone1_wpk</key>
    <string>tone1_wpk.glif</string>
    <key>tone2_shn</key>
    <string>tone2_shn.glif</string>
    <key>tone2_tlg</key>
    <string>tone2_tlg.glif</string>
    <key>tone2_wpk</key>
    <string>tone2_wpk.glif</string>
    <key>tone3_khm</key>
    <string>tone3_khm.glif</string>
    <key>tone3_shn</key>
    <string>tone3_shn.glif</string>
    <key>tone3_wpk</key>
    <string>tone3_wpk.glif</string>
    <key>tone4_khm</key>
    <string>tone4_khm.glif</string>
    <key>tone4_wpk</key>
    <string>tone4_wpk.glif</string>
    <key>tone5_rpg</key>
    <string>tone5_rpg.glif</string>
    <key>tone5_shn</key>
    <string>tone5_shn.glif</string>
    <key>tone5_tlg</key>
    <string>tone5_tlg.glif</string>
    <key>tone5_wpk</key>
    <string>tone5_wpk.glif</string>
    <key>tone6_shn</key>
    <string>tone6_shn.glif</string>
    <key>tone_pak</key>
    <string>tone_pak.glif</string>
    <key>tta</key>
    <string>tta.glif</string>
    <key>tta.alt</key>
    <string>tta.alt.glif</string>
    <key>tta.alt.littletail</key>
    <string>tta.alt.littletail.glif</string>
    <key>tta.littletail</key>
    <string>tta.littletail.glif</string>
    <key>tta.sub</key>
    <string>tta.sub.glif</string>
    <key>tta.sub.alt</key>
    <string>tta.sub.alt.glif</string>
    <key>tta.sub2</key>
    <string>tta.sub2.glif</string>
    <key>tta_khm</key>
    <string>tta_khm.glif</string>
    <key>tta_medial_ha</key>
    <string>tta_medial_ha.glif</string>
    <key>tta_tlg</key>
    <string>tta_tlg.glif</string>
    <key>tta_tta</key>
    <string>tta_tta.glif</string>
    <key>tta_ttha</key>
    <string>tta_ttha.glif</string>
    <key>ttha</key>
    <string>ttha.glif</string>
    <key>ttha.clipped</key>
    <string>ttha.clipped.glif</string>
    <key>ttha.sub</key>
    <string>ttha.sub.glif</string>
    <key>ttha.sub.alt</key>
    <string>ttha.sub.alt.glif</string>
    <key>ttha.sub2</key>
    <string>ttha.sub2.glif</string>
    <key>ttha_khm</key>
    <string>ttha_khm.glif</string>
    <key>ttha_medial_ha</key>
    <string>ttha_medial_ha.glif</string>
    <key>two_atn</key>
    <string>two_atn.glif</string>
    <key>two_m</key>
    <string>two_m.glif</string>
    <key>two_shn</key>
    <string>two_shn.glif</string>
    <key>two_tlg</key>
    <string>two_tlg.glif</string>
    <key>u_kyh</key>
    <string>u_kyh.glif</string>
    <key>u_m</key>
    <string>u_m.glif</string>
    <key>ue_wpk</key>
    <string>ue_wpk.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA92E</key>
    <string>uniA_92E_.glif</string>
    <key>uniFE00</key>
    <string>uniF_E_00.glif</string>
    <key>uu</key>
    <string>uu.glif</string>
    <key>virama</key>
    <string>virama.glif</string>
    <key>visarga</key>
    <string>visarga.glif</string>
    <key>vocLL_skt</key>
    <string>vocL_L__skt.glif</string>
    <key>vocL_skt</key>
    <string>vocL__skt.glif</string>
    <key>vocRR_skt</key>
    <string>vocR_R__skt.glif</string>
    <key>vocRR_skt.sub</key>
    <string>vocR_R__skt.sub.glif</string>
    <key>vocRR_skt.sub2</key>
    <string>vocR_R__skt.sub2.glif</string>
    <key>vocR_skt</key>
    <string>vocR__skt.glif</string>
    <key>vocR_skt.sub</key>
    <string>vocR__skt.sub.glif</string>
    <key>vocR_skt.sub2</key>
    <string>vocR__skt.sub2.glif</string>
    <key>wa</key>
    <string>wa.glif</string>
    <key>wa.sub</key>
    <string>wa.sub.glif</string>
    <key>wa.sub2</key>
    <string>wa.sub2.glif</string>
    <key>wa_phk</key>
    <string>wa_phk.glif</string>
    <key>xa_khm</key>
    <string>xa_khm.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>ya.sub</key>
    <string>ya.sub.glif</string>
    <key>ya.sub2</key>
    <string>ya.sub2.glif</string>
    <key>ya_khm</key>
    <string>ya_khm.glif</string>
    <key>ya_khm.sub</key>
    <string>ya_khm.sub.glif</string>
    <key>ya_khm.sub2</key>
    <string>ya_khm.sub2.glif</string>
    <key>ywa_epk</key>
    <string>ywa_epk.glif</string>
    <key>za_khm</key>
    <string>za_khm.glif</string>
    <key>za_shn</key>
    <string>za_shn.glif</string>
    <key>za_shn.sub</key>
    <string>za_shn.sub.glif</string>
    <key>za_shn.sub2</key>
    <string>za_shn.sub2.glif</string>
    <key>zero_m</key>
    <string>zero_m.glif</string>
    <key>zero_shn</key>
    <string>zero_shn.glif</string>
    <key>zero_tlg</key>
    <string>zero_tlg.glif</string>
  </dict>
</plist>
