<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-sidd</key>
    <string>a-sidd.glif</string>
    <key>a-sidd.ini</key>
    <string>a-sidd.ini.glif</string>
    <key>a-sidd.iniThird</key>
    <string>a-sidd.iniT_hird.glif</string>
    <key>aa-sidd</key>
    <string>aa-sidd.glif</string>
    <key>aa-sidd.ini</key>
    <string>aa-sidd.ini.glif</string>
    <key>aa-sidd.iniThird</key>
    <string>aa-sidd.iniT_hird.glif</string>
    <key>aaMatra-sidd</key>
    <string>aaM_atra-sidd.glif</string>
    <key>aaMatra-sidd.ini.jha</key>
    <string>aaM_atra-sidd.ini.jha.glif</string>
    <key>aaMatra-sidd.iniThird.jha</key>
    <string>aaM_atra-sidd.iniT_hird.jha.glif</string>
    <key>aaMatra-sidd.jha</key>
    <string>aaM_atra-sidd.jha.glif</string>
    <key>aaMatra-sidd.jha.ra</key>
    <string>aaM_atra-sidd.jha.ra.glif</string>
    <key>aaMatra-sidd.jha.ra.third</key>
    <string>aaM_atra-sidd.jha.ra.third.glif</string>
    <key>aaMatra-sidd.nga</key>
    <string>aaM_atra-sidd.nga.glif</string>
    <key>aaMatra-sidd.nga.ra</key>
    <string>aaM_atra-sidd.nga.ra.glif</string>
    <key>aaMatra-sidd.ra</key>
    <string>aaM_atra-sidd.ra.glif</string>
    <key>aaMatra-sidd.short</key>
    <string>aaM_atra-sidd.short.glif</string>
    <key>aaMatra-sidd.short.ra</key>
    <string>aaM_atra-sidd.short.ra.glif</string>
    <key>ai-sidd</key>
    <string>ai-sidd.glif</string>
    <key>ai-sidd.ss02</key>
    <string>ai-sidd.ss02.glif</string>
    <key>aiMatra-sidd</key>
    <string>aiM_atra-sidd.glif</string>
    <key>aiMatra-sidd.la.ra</key>
    <string>aiM_atra-sidd.la.ra.glif</string>
    <key>aiMatra-sidd.la.ra.ss02</key>
    <string>aiM_atra-sidd.la.ra.ss02.glif</string>
    <key>aiMatra-sidd.ra</key>
    <string>aiM_atra-sidd.ra.glif</string>
    <key>aiMatra-sidd.ra.ss02</key>
    <string>aiM_atra-sidd.ra.ss02.glif</string>
    <key>aiMatra-sidd.tha.ra</key>
    <string>aiM_atra-sidd.tha.ra.glif</string>
    <key>aiMatra-sidd.tha.ra.ss02</key>
    <string>aiM_atra-sidd.tha.ra.ss02.glif</string>
    <key>aiMatraAfter-sidd</key>
    <string>aiM_atraA_fter-sidd.glif</string>
    <key>aiMatraAfter-sidd.ss02</key>
    <string>aiM_atraA_fter-sidd.ss02.glif</string>
    <key>anusvara-sidd</key>
    <string>anusvara-sidd.glif</string>
    <key>au-sidd</key>
    <string>au-sidd.glif</string>
    <key>auMatra-sidd</key>
    <string>auM_atra-sidd.glif</string>
    <key>b-sidd</key>
    <string>b-sidd.glif</string>
    <key>b-sidd.med</key>
    <string>b-sidd.med.glif</string>
    <key>b-sidd.med.ra</key>
    <string>b-sidd.med.ra.glif</string>
    <key>b-sidd.ra</key>
    <string>b-sidd.ra.glif</string>
    <key>b-sidd.third</key>
    <string>b-sidd.third.glif</string>
    <key>ba-sidd</key>
    <string>ba-sidd.glif</string>
    <key>ba-sidd.ini</key>
    <string>ba-sidd.ini.glif</string>
    <key>ba-sidd.iniThird</key>
    <string>ba-sidd.iniT_hird.glif</string>
    <key>bar-sidd</key>
    <string>bar-sidd.glif</string>
    <key>bh-sidd</key>
    <string>bh-sidd.glif</string>
    <key>bh-sidd.diaT</key>
    <string>bh-sidd.diaT_.glif</string>
    <key>bh-sidd.med</key>
    <string>bh-sidd.med.glif</string>
    <key>bh-sidd.med.diaT</key>
    <string>bh-sidd.med.diaT_.glif</string>
    <key>bh-sidd.med.ra</key>
    <string>bh-sidd.med.ra.glif</string>
    <key>bh-sidd.ra</key>
    <string>bh-sidd.ra.glif</string>
    <key>bh-sidd.third</key>
    <string>bh-sidd.third.glif</string>
    <key>bh-sidd.third.diaT</key>
    <string>bh-sidd.third.diaT_.glif</string>
    <key>bha-sidd</key>
    <string>bha-sidd.glif</string>
    <key>bha-sidd.ini</key>
    <string>bha-sidd.ini.glif</string>
    <key>bha-sidd.iniThird</key>
    <string>bha-sidd.iniT_hird.glif</string>
    <key>c-sidd</key>
    <string>c-sidd.glif</string>
    <key>c-sidd.diaT</key>
    <string>c-sidd.diaT_.glif</string>
    <key>c-sidd.med</key>
    <string>c-sidd.med.glif</string>
    <key>c-sidd.med.diaT</key>
    <string>c-sidd.med.diaT_.glif</string>
    <key>c-sidd.med.ra</key>
    <string>c-sidd.med.ra.glif</string>
    <key>c-sidd.ra</key>
    <string>c-sidd.ra.glif</string>
    <key>c-sidd.third</key>
    <string>c-sidd.third.glif</string>
    <key>c-sidd.third.diaT</key>
    <string>c-sidd.third.diaT_.glif</string>
    <key>ca-sidd</key>
    <string>ca-sidd.glif</string>
    <key>ca-sidd.ini</key>
    <string>ca-sidd.ini.glif</string>
    <key>ca-sidd.iniThird</key>
    <string>ca-sidd.iniT_hird.glif</string>
    <key>candrabindu-sidd</key>
    <string>candrabindu-sidd.glif</string>
    <key>ch-sidd</key>
    <string>ch-sidd.glif</string>
    <key>ch-sidd.med</key>
    <string>ch-sidd.med.glif</string>
    <key>ch-sidd.med.ra</key>
    <string>ch-sidd.med.ra.glif</string>
    <key>ch-sidd.ra</key>
    <string>ch-sidd.ra.glif</string>
    <key>ch-sidd.third</key>
    <string>ch-sidd.third.glif</string>
    <key>cha-sidd</key>
    <string>cha-sidd.glif</string>
    <key>cha-sidd.ini</key>
    <string>cha-sidd.ini.glif</string>
    <key>cha-sidd.iniThird</key>
    <string>cha-sidd.iniT_hird.glif</string>
    <key>d-sidd</key>
    <string>d-sidd.glif</string>
    <key>d-sidd.diaT</key>
    <string>d-sidd.diaT_.glif</string>
    <key>d-sidd.med</key>
    <string>d-sidd.med.glif</string>
    <key>d-sidd.med.diaB</key>
    <string>d-sidd.med.diaB_.glif</string>
    <key>d-sidd.med.diaT</key>
    <string>d-sidd.med.diaT_.glif</string>
    <key>d-sidd.med.diaT.diaB</key>
    <string>d-sidd.med.diaT_.diaB_.glif</string>
    <key>d-sidd.med.ra</key>
    <string>d-sidd.med.ra.glif</string>
    <key>d-sidd.ra</key>
    <string>d-sidd.ra.glif</string>
    <key>d-sidd.third</key>
    <string>d-sidd.third.glif</string>
    <key>d-sidd.third.diaT</key>
    <string>d-sidd.third.diaT_.glif</string>
    <key>da-sidd</key>
    <string>da-sidd.glif</string>
    <key>da-sidd.ini</key>
    <string>da-sidd.ini.glif</string>
    <key>da-sidd.ini.diaB</key>
    <string>da-sidd.ini.diaB_.glif</string>
    <key>da-sidd.iniThird</key>
    <string>da-sidd.iniT_hird.glif</string>
    <key>da-sidd.iniThird.diaB</key>
    <string>da-sidd.iniT_hird.diaB_.glif</string>
    <key>danda-sidd</key>
    <string>danda-sidd.glif</string>
    <key>dd-sidd</key>
    <string>dd-sidd.glif</string>
    <key>dd-sidd.diaT</key>
    <string>dd-sidd.diaT_.glif</string>
    <key>dd-sidd.med</key>
    <string>dd-sidd.med.glif</string>
    <key>dd-sidd.med.diaT</key>
    <string>dd-sidd.med.diaT_.glif</string>
    <key>dd-sidd.med.ra</key>
    <string>dd-sidd.med.ra.glif</string>
    <key>dd-sidd.ra</key>
    <string>dd-sidd.ra.glif</string>
    <key>dd-sidd.third</key>
    <string>dd-sidd.third.glif</string>
    <key>dd-sidd.third.diaT</key>
    <string>dd-sidd.third.diaT_.glif</string>
    <key>dda-sidd</key>
    <string>dda-sidd.glif</string>
    <key>dda-sidd.ini</key>
    <string>dda-sidd.ini.glif</string>
    <key>dda-sidd.iniThird</key>
    <string>dda-sidd.iniT_hird.glif</string>
    <key>ddh-sidd</key>
    <string>ddh-sidd.glif</string>
    <key>ddh-sidd.diaT</key>
    <string>ddh-sidd.diaT_.glif</string>
    <key>ddh-sidd.med</key>
    <string>ddh-sidd.med.glif</string>
    <key>ddh-sidd.med.diaT</key>
    <string>ddh-sidd.med.diaT_.glif</string>
    <key>ddh-sidd.med.ra</key>
    <string>ddh-sidd.med.ra.glif</string>
    <key>ddh-sidd.ra</key>
    <string>ddh-sidd.ra.glif</string>
    <key>ddh-sidd.third</key>
    <string>ddh-sidd.third.glif</string>
    <key>ddh-sidd.third.diaT</key>
    <string>ddh-sidd.third.diaT_.glif</string>
    <key>ddha-sidd</key>
    <string>ddha-sidd.glif</string>
    <key>ddha-sidd.ini</key>
    <string>ddha-sidd.ini.glif</string>
    <key>ddha-sidd.iniThird</key>
    <string>ddha-sidd.iniT_hird.glif</string>
    <key>dh-sidd</key>
    <string>dh-sidd.glif</string>
    <key>dh-sidd.med</key>
    <string>dh-sidd.med.glif</string>
    <key>dh-sidd.med.ra</key>
    <string>dh-sidd.med.ra.glif</string>
    <key>dh-sidd.ra</key>
    <string>dh-sidd.ra.glif</string>
    <key>dh-sidd.third</key>
    <string>dh-sidd.third.glif</string>
    <key>dha-sidd</key>
    <string>dha-sidd.glif</string>
    <key>dha-sidd.ini</key>
    <string>dha-sidd.ini.glif</string>
    <key>dha-sidd.iniThird</key>
    <string>dha-sidd.iniT_hird.glif</string>
    <key>dot-sidd</key>
    <string>dot-sidd.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubledanda-sidd</key>
    <string>doubledanda-sidd.glif</string>
    <key>e-sidd</key>
    <string>e-sidd.glif</string>
    <key>eMatra-sidd</key>
    <string>eM_atra-sidd.glif</string>
    <key>eMatra-sidd.la1</key>
    <string>eM_atra-sidd.la1.glif</string>
    <key>eMatra-sidd.la2</key>
    <string>eM_atra-sidd.la2.glif</string>
    <key>eMatra-sidd.la2.ra</key>
    <string>eM_atra-sidd.la2.ra.glif</string>
    <key>eMatra-sidd.long</key>
    <string>eM_atra-sidd.long.glif</string>
    <key>eMatra-sidd.long.ra</key>
    <string>eM_atra-sidd.long.ra.glif</string>
    <key>eMatra-sidd.ra</key>
    <string>eM_atra-sidd.ra.glif</string>
    <key>endtext-sidd</key>
    <string>endtext-sidd.glif</string>
    <key>g-sidd</key>
    <string>g-sidd.glif</string>
    <key>g-sidd.med</key>
    <string>g-sidd.med.glif</string>
    <key>g-sidd.med.ra</key>
    <string>g-sidd.med.ra.glif</string>
    <key>g-sidd.med.right</key>
    <string>g-sidd.med.right.glif</string>
    <key>g-sidd.ra</key>
    <string>g-sidd.ra.glif</string>
    <key>g-sidd.right</key>
    <string>g-sidd.right.glif</string>
    <key>g-sidd.third</key>
    <string>g-sidd.third.glif</string>
    <key>ga-sidd</key>
    <string>ga-sidd.glif</string>
    <key>ga-sidd.ini</key>
    <string>ga-sidd.ini.glif</string>
    <key>ga-sidd.iniThird</key>
    <string>ga-sidd.iniT_hird.glif</string>
    <key>gh-sidd</key>
    <string>gh-sidd.glif</string>
    <key>gh-sidd.med</key>
    <string>gh-sidd.med.glif</string>
    <key>gh-sidd.med.ra</key>
    <string>gh-sidd.med.ra.glif</string>
    <key>gh-sidd.ra</key>
    <string>gh-sidd.ra.glif</string>
    <key>gh-sidd.third</key>
    <string>gh-sidd.third.glif</string>
    <key>gha-sidd</key>
    <string>gha-sidd.glif</string>
    <key>gha-sidd.ini</key>
    <string>gha-sidd.ini.glif</string>
    <key>gha-sidd.iniThird</key>
    <string>gha-sidd.iniT_hird.glif</string>
    <key>h-sidd</key>
    <string>h-sidd.glif</string>
    <key>h-sidd.diaT</key>
    <string>h-sidd.diaT_.glif</string>
    <key>h-sidd.med</key>
    <string>h-sidd.med.glif</string>
    <key>h-sidd.med.diaT</key>
    <string>h-sidd.med.diaT_.glif</string>
    <key>h-sidd.med.ra</key>
    <string>h-sidd.med.ra.glif</string>
    <key>h-sidd.ra</key>
    <string>h-sidd.ra.glif</string>
    <key>h-sidd.third</key>
    <string>h-sidd.third.glif</string>
    <key>h-sidd.third.diaT</key>
    <string>h-sidd.third.diaT_.glif</string>
    <key>ha-sidd</key>
    <string>ha-sidd.glif</string>
    <key>ha-sidd.ini</key>
    <string>ha-sidd.ini.glif</string>
    <key>ha-sidd.iniThird</key>
    <string>ha-sidd.iniT_hird.glif</string>
    <key>head-sidd</key>
    <string>head-sidd.glif</string>
    <key>i-sidd</key>
    <string>i-sidd.glif</string>
    <key>iAlt-sidd</key>
    <string>iA_lt-sidd.glif</string>
    <key>iAlt2-sidd</key>
    <string>iA_lt2-sidd.glif</string>
    <key>iMatra-sidd</key>
    <string>iM_atra-sidd.glif</string>
    <key>iMatra-sidd.la</key>
    <string>iM_atra-sidd.la.glif</string>
    <key>iMatra-sidd.la.open</key>
    <string>iM_atra-sidd.la.open.glif</string>
    <key>iMatra-sidd.la.open.ra</key>
    <string>iM_atra-sidd.la.open.ra.glif</string>
    <key>iMatra-sidd.la.ra</key>
    <string>iM_atra-sidd.la.ra.glif</string>
    <key>iMatra-sidd.narrow</key>
    <string>iM_atra-sidd.narrow.glif</string>
    <key>iMatra-sidd.narrow.open</key>
    <string>iM_atra-sidd.narrow.open.glif</string>
    <key>iMatra-sidd.narrow.open.ra</key>
    <string>iM_atra-sidd.narrow.open.ra.glif</string>
    <key>iMatra-sidd.narrow.ra</key>
    <string>iM_atra-sidd.narrow.ra.glif</string>
    <key>iMatra-sidd.open</key>
    <string>iM_atra-sidd.open.glif</string>
    <key>iMatra-sidd.open.ra</key>
    <string>iM_atra-sidd.open.ra.glif</string>
    <key>iMatra-sidd.ra</key>
    <string>iM_atra-sidd.ra.glif</string>
    <key>iMatra-sidd.wide</key>
    <string>iM_atra-sidd.wide.glif</string>
    <key>iMatra-sidd.wide.open</key>
    <string>iM_atra-sidd.wide.open.glif</string>
    <key>iMatra-sidd.wide.open.ra</key>
    <string>iM_atra-sidd.wide.open.ra.glif</string>
    <key>iMatra-sidd.wide.ra</key>
    <string>iM_atra-sidd.wide.ra.glif</string>
    <key>ii-sidd</key>
    <string>ii-sidd.glif</string>
    <key>iiAlt-sidd</key>
    <string>iiA_lt-sidd.glif</string>
    <key>iiMatra-sidd</key>
    <string>iiM_atra-sidd.glif</string>
    <key>iiMatra-sidd.narrow</key>
    <string>iiM_atra-sidd.narrow.glif</string>
    <key>iiMatra-sidd.narrow.ra</key>
    <string>iiM_atra-sidd.narrow.ra.glif</string>
    <key>iiMatra-sidd.ra</key>
    <string>iiM_atra-sidd.ra.glif</string>
    <key>iiMatra-sidd.wide</key>
    <string>iiM_atra-sidd.wide.glif</string>
    <key>iiMatra-sidd.wide.ra</key>
    <string>iiM_atra-sidd.wide.ra.glif</string>
    <key>iiMatra-sidd.wide2</key>
    <string>iiM_atra-sidd.wide2.glif</string>
    <key>iiMatra-sidd.wide2.ra</key>
    <string>iiM_atra-sidd.wide2.ra.glif</string>
    <key>j-sidd</key>
    <string>j-sidd.glif</string>
    <key>j-sidd.diaT</key>
    <string>j-sidd.diaT_.glif</string>
    <key>j-sidd.med</key>
    <string>j-sidd.med.glif</string>
    <key>j-sidd.med.diaT</key>
    <string>j-sidd.med.diaT_.glif</string>
    <key>j-sidd.med.ra</key>
    <string>j-sidd.med.ra.glif</string>
    <key>j-sidd.ra</key>
    <string>j-sidd.ra.glif</string>
    <key>j-sidd.third</key>
    <string>j-sidd.third.glif</string>
    <key>j-sidd.third.diaT</key>
    <string>j-sidd.third.diaT_.glif</string>
    <key>ja-sidd</key>
    <string>ja-sidd.glif</string>
    <key>ja-sidd.ini</key>
    <string>ja-sidd.ini.glif</string>
    <key>ja-sidd.iniThird</key>
    <string>ja-sidd.iniT_hird.glif</string>
    <key>jh-sidd</key>
    <string>jh-sidd.glif</string>
    <key>jh-sidd.med</key>
    <string>jh-sidd.med.glif</string>
    <key>jh-sidd.med.ra</key>
    <string>jh-sidd.med.ra.glif</string>
    <key>jh-sidd.med.ra.aaMatra</key>
    <string>jh-sidd.med.ra.aaM_atra.glif</string>
    <key>jh-sidd.ra</key>
    <string>jh-sidd.ra.glif</string>
    <key>jh-sidd.ra.aaMatra</key>
    <string>jh-sidd.ra.aaM_atra.glif</string>
    <key>jh-sidd.third</key>
    <string>jh-sidd.third.glif</string>
    <key>jha-sidd</key>
    <string>jha-sidd.glif</string>
    <key>jha-sidd.aaMatra</key>
    <string>jha-sidd.aaM_atra.glif</string>
    <key>jha-sidd.ini</key>
    <string>jha-sidd.ini.glif</string>
    <key>jha-sidd.ini.aaMatra</key>
    <string>jha-sidd.ini.aaM_atra.glif</string>
    <key>jha-sidd.iniThird</key>
    <string>jha-sidd.iniT_hird.glif</string>
    <key>jha-sidd.iniThird.aaMatra</key>
    <string>jha-sidd.iniT_hird.aaM_atra.glif</string>
    <key>k-sidd</key>
    <string>k-sidd.glif</string>
    <key>k-sidd.med</key>
    <string>k-sidd.med.glif</string>
    <key>k-sidd.med.centre</key>
    <string>k-sidd.med.centre.glif</string>
    <key>k-sidd.med.ra</key>
    <string>k-sidd.med.ra.glif</string>
    <key>k-sidd.med.ra.centre</key>
    <string>k-sidd.med.ra.centre.glif</string>
    <key>k-sidd.ra</key>
    <string>k-sidd.ra.glif</string>
    <key>k-sidd.third</key>
    <string>k-sidd.third.glif</string>
    <key>ka-sidd</key>
    <string>ka-sidd.glif</string>
    <key>ka-sidd.ini</key>
    <string>ka-sidd.ini.glif</string>
    <key>ka-sidd.ini.centre</key>
    <string>ka-sidd.ini.centre.glif</string>
    <key>ka-sidd.iniThird</key>
    <string>ka-sidd.iniT_hird.glif</string>
    <key>ka-sidd.iniThird.centre</key>
    <string>ka-sidd.iniT_hird.centre.glif</string>
    <key>kh-sidd</key>
    <string>kh-sidd.glif</string>
    <key>kh-sidd.med</key>
    <string>kh-sidd.med.glif</string>
    <key>kh-sidd.med.ra</key>
    <string>kh-sidd.med.ra.glif</string>
    <key>kh-sidd.med.right</key>
    <string>kh-sidd.med.right.glif</string>
    <key>kh-sidd.ra</key>
    <string>kh-sidd.ra.glif</string>
    <key>kh-sidd.right</key>
    <string>kh-sidd.right.glif</string>
    <key>kh-sidd.third</key>
    <string>kh-sidd.third.glif</string>
    <key>kha-sidd</key>
    <string>kha-sidd.glif</string>
    <key>kha-sidd.ini</key>
    <string>kha-sidd.ini.glif</string>
    <key>kha-sidd.iniThird</key>
    <string>kha-sidd.iniT_hird.glif</string>
    <key>l-sidd</key>
    <string>l-sidd.glif</string>
    <key>l-sidd.med</key>
    <string>l-sidd.med.glif</string>
    <key>l-sidd.med.ra</key>
    <string>l-sidd.med.ra.glif</string>
    <key>l-sidd.ra</key>
    <string>l-sidd.ra.glif</string>
    <key>l-sidd.third</key>
    <string>l-sidd.third.glif</string>
    <key>lVocalic-sidd</key>
    <string>lV_ocalic-sidd.glif</string>
    <key>la-sidd</key>
    <string>la-sidd.glif</string>
    <key>la-sidd.ini</key>
    <string>la-sidd.ini.glif</string>
    <key>la-sidd.iniThird</key>
    <string>la-sidd.iniT_hird.glif</string>
    <key>llVocalic-sidd</key>
    <string>llV_ocalic-sidd.glif</string>
    <key>m-sidd</key>
    <string>m-sidd.glif</string>
    <key>m-sidd.med</key>
    <string>m-sidd.med.glif</string>
    <key>m-sidd.med.ra</key>
    <string>m-sidd.med.ra.glif</string>
    <key>m-sidd.ra</key>
    <string>m-sidd.ra.glif</string>
    <key>m-sidd.third</key>
    <string>m-sidd.third.glif</string>
    <key>ma-sidd</key>
    <string>ma-sidd.glif</string>
    <key>ma-sidd.ini</key>
    <string>ma-sidd.ini.glif</string>
    <key>ma-sidd.iniThird</key>
    <string>ma-sidd.iniT_hird.glif</string>
    <key>n-sidd</key>
    <string>n-sidd.glif</string>
    <key>n-sidd.med</key>
    <string>n-sidd.med.glif</string>
    <key>n-sidd.med.ra</key>
    <string>n-sidd.med.ra.glif</string>
    <key>n-sidd.ra</key>
    <string>n-sidd.ra.glif</string>
    <key>n-sidd.third</key>
    <string>n-sidd.third.glif</string>
    <key>na-sidd</key>
    <string>na-sidd.glif</string>
    <key>na-sidd.ini</key>
    <string>na-sidd.ini.glif</string>
    <key>na-sidd.iniThird</key>
    <string>na-sidd.iniT_hird.glif</string>
    <key>ng-sidd</key>
    <string>ng-sidd.glif</string>
    <key>ng-sidd.diaT</key>
    <string>ng-sidd.diaT_.glif</string>
    <key>ng-sidd.med</key>
    <string>ng-sidd.med.glif</string>
    <key>ng-sidd.med.diaT</key>
    <string>ng-sidd.med.diaT_.glif</string>
    <key>ng-sidd.med.ra</key>
    <string>ng-sidd.med.ra.glif</string>
    <key>ng-sidd.ra</key>
    <string>ng-sidd.ra.glif</string>
    <key>ng-sidd.third</key>
    <string>ng-sidd.third.glif</string>
    <key>ng-sidd.third.diaT</key>
    <string>ng-sidd.third.diaT_.glif</string>
    <key>nga-sidd</key>
    <string>nga-sidd.glif</string>
    <key>nga-sidd.ini</key>
    <string>nga-sidd.ini.glif</string>
    <key>nga-sidd.iniThird</key>
    <string>nga-sidd.iniT_hird.glif</string>
    <key>nn-sidd</key>
    <string>nn-sidd.glif</string>
    <key>nn-sidd.med</key>
    <string>nn-sidd.med.glif</string>
    <key>nn-sidd.med.ra</key>
    <string>nn-sidd.med.ra.glif</string>
    <key>nn-sidd.ra</key>
    <string>nn-sidd.ra.glif</string>
    <key>nn-sidd.third</key>
    <string>nn-sidd.third.glif</string>
    <key>nna-sidd</key>
    <string>nna-sidd.glif</string>
    <key>nna-sidd.ini</key>
    <string>nna-sidd.ini.glif</string>
    <key>nna-sidd.iniThird</key>
    <string>nna-sidd.iniT_hird.glif</string>
    <key>nukta-sidd</key>
    <string>nukta-sidd.glif</string>
    <key>ny-sidd</key>
    <string>ny-sidd.glif</string>
    <key>ny-sidd.med</key>
    <string>ny-sidd.med.glif</string>
    <key>ny-sidd.med.ra</key>
    <string>ny-sidd.med.ra.glif</string>
    <key>ny-sidd.med.ra.aaMatra</key>
    <string>ny-sidd.med.ra.aaM_atra.glif</string>
    <key>ny-sidd.ra</key>
    <string>ny-sidd.ra.glif</string>
    <key>ny-sidd.ra.aaMatra</key>
    <string>ny-sidd.ra.aaM_atra.glif</string>
    <key>ny-sidd.third</key>
    <string>ny-sidd.third.glif</string>
    <key>nya-sidd</key>
    <string>nya-sidd.glif</string>
    <key>nya-sidd.aaMatra</key>
    <string>nya-sidd.aaM_atra.glif</string>
    <key>nya-sidd.ini</key>
    <string>nya-sidd.ini.glif</string>
    <key>nya-sidd.ini.aaMatra</key>
    <string>nya-sidd.ini.aaM_atra.glif</string>
    <key>nya-sidd.iniThird</key>
    <string>nya-sidd.iniT_hird.glif</string>
    <key>nya-sidd.iniThird.aaMatra</key>
    <string>nya-sidd.iniT_hird.aaM_atra.glif</string>
    <key>o-sidd</key>
    <string>o-sidd.glif</string>
    <key>oMatra-sidd</key>
    <string>oM_atra-sidd.glif</string>
    <key>p-sidd</key>
    <string>p-sidd.glif</string>
    <key>p-sidd.centre</key>
    <string>p-sidd.centre.glif</string>
    <key>p-sidd.med</key>
    <string>p-sidd.med.glif</string>
    <key>p-sidd.med.centre</key>
    <string>p-sidd.med.centre.glif</string>
    <key>p-sidd.med.ra</key>
    <string>p-sidd.med.ra.glif</string>
    <key>p-sidd.ra</key>
    <string>p-sidd.ra.glif</string>
    <key>p-sidd.third</key>
    <string>p-sidd.third.glif</string>
    <key>p-sidd.third.centre</key>
    <string>p-sidd.third.centre.glif</string>
    <key>pa-sidd</key>
    <string>pa-sidd.glif</string>
    <key>pa-sidd.ini</key>
    <string>pa-sidd.ini.glif</string>
    <key>pa-sidd.iniThird</key>
    <string>pa-sidd.iniT_hird.glif</string>
    <key>ph-sidd</key>
    <string>ph-sidd.glif</string>
    <key>ph-sidd.diaT</key>
    <string>ph-sidd.diaT_.glif</string>
    <key>ph-sidd.med</key>
    <string>ph-sidd.med.glif</string>
    <key>ph-sidd.med.diaT</key>
    <string>ph-sidd.med.diaT_.glif</string>
    <key>ph-sidd.med.ra</key>
    <string>ph-sidd.med.ra.glif</string>
    <key>ph-sidd.ra</key>
    <string>ph-sidd.ra.glif</string>
    <key>ph-sidd.third</key>
    <string>ph-sidd.third.glif</string>
    <key>ph-sidd.third.diaT</key>
    <string>ph-sidd.third.diaT_.glif</string>
    <key>pha-sidd</key>
    <string>pha-sidd.glif</string>
    <key>pha-sidd.ini</key>
    <string>pha-sidd.ini.glif</string>
    <key>pha-sidd.iniThird</key>
    <string>pha-sidd.iniT_hird.glif</string>
    <key>r-sidd</key>
    <string>r-sidd.glif</string>
    <key>r-sidd.med</key>
    <string>r-sidd.med.glif</string>
    <key>r-sidd.med.ra</key>
    <string>r-sidd.med.ra.glif</string>
    <key>r-sidd.ra</key>
    <string>r-sidd.ra.glif</string>
    <key>r-sidd.third</key>
    <string>r-sidd.third.glif</string>
    <key>rMatra-sidd</key>
    <string>rM_atra-sidd.glif</string>
    <key>rVocalic-sidd</key>
    <string>rV_ocalic-sidd.glif</string>
    <key>r_uMatra-sidd</key>
    <string>r_uM_atra-sidd.glif</string>
    <key>r_uMatra-sidd.third</key>
    <string>r_uM_atra-sidd.third.glif</string>
    <key>r_uuMatra-sidd</key>
    <string>r_uuM_atra-sidd.glif</string>
    <key>r_uuMatra-sidd.third</key>
    <string>r_uuM_atra-sidd.third.glif</string>
    <key>ra-sidd</key>
    <string>ra-sidd.glif</string>
    <key>ra-sidd.ini</key>
    <string>ra-sidd.ini.glif</string>
    <key>ra-sidd.ini.long</key>
    <string>ra-sidd.ini.long.glif</string>
    <key>ra-sidd.iniThird</key>
    <string>ra-sidd.iniT_hird.glif</string>
    <key>repetition1-sidd</key>
    <string>repetition1-sidd.glif</string>
    <key>repetition2-sidd</key>
    <string>repetition2-sidd.glif</string>
    <key>repetition3-sidd</key>
    <string>repetition3-sidd.glif</string>
    <key>rrMatra-sidd</key>
    <string>rrM_atra-sidd.glif</string>
    <key>rrVocalic-sidd</key>
    <string>rrV_ocalic-sidd.glif</string>
    <key>s-sidd</key>
    <string>s-sidd.glif</string>
    <key>s-sidd.med</key>
    <string>s-sidd.med.glif</string>
    <key>s-sidd.med.ra</key>
    <string>s-sidd.med.ra.glif</string>
    <key>s-sidd.ra</key>
    <string>s-sidd.ra.glif</string>
    <key>s-sidd.third</key>
    <string>s-sidd.third.glif</string>
    <key>sa-sidd</key>
    <string>sa-sidd.glif</string>
    <key>sa-sidd.ini</key>
    <string>sa-sidd.ini.glif</string>
    <key>sa-sidd.iniThird</key>
    <string>sa-sidd.iniT_hird.glif</string>
    <key>sectionCierclesFourEnclosures-sidd</key>
    <string>sectionC_ierclesF_ourE_nclosures-sidd.glif</string>
    <key>sectionCierclesRays-sidd</key>
    <string>sectionC_ierclesR_ays-sidd.glif</string>
    <key>sectionCierclesTwoEnclosures-sidd</key>
    <string>sectionC_ierclesT_woE_nclosures-sidd.glif</string>
    <key>sectionDoubleCrescents-sidd</key>
    <string>sectionD_oubleC_rescents-sidd.glif</string>
    <key>sectionDoubleRing-sidd</key>
    <string>sectionD_oubleR_ing-sidd.glif</string>
    <key>sectionDoubleRingRay-sidd</key>
    <string>sectionD_oubleR_ingR_ay-sidd.glif</string>
    <key>sectionQuadCrescents-sidd</key>
    <string>sectionQ_uadC_rescents-sidd.glif</string>
    <key>sectionRaysDottedCrescents-sidd</key>
    <string>sectionR_aysD_ottedC_rescents-sidd.glif</string>
    <key>sectionRaysDottedDoubleCrescents-sidd</key>
    <string>sectionR_aysD_ottedD_oubleC_rescents-sidd.glif</string>
    <key>sectionRaysDottedTripleCrescents-sidd</key>
    <string>sectionR_aysD_ottedT_ripleC_rescents-sidd.glif</string>
    <key>sectionSeptCrescents-sidd</key>
    <string>sectionS_eptC_rescents-sidd.glif</string>
    <key>sectionTridentDottedCrescents-sidd</key>
    <string>sectionT_ridentD_ottedC_rescents-sidd.glif</string>
    <key>sectionTridentUOrnaments-sidd</key>
    <string>sectionT_ridentU_O_rnaments-sidd.glif</string>
    <key>sectionTripleCrescents-sidd</key>
    <string>sectionT_ripleC_rescents-sidd.glif</string>
    <key>seed_aaMatra_visarga-sidd</key>
    <string>seed_aaM_atra_visarga-sidd.glif</string>
    <key>seed_ca_ch_rMatra_ha_y_candrabindu-sidd</key>
    <string>seed_ca_ch_rM_atra_ha_y_candrabindu-sidd.glif</string>
    <key>seed_ca_ch_r_k_y_candrabindu-sidd</key>
    <string>seed_ca_ch_r_k_y_candrabindu-sidd.glif</string>
    <key>seed_ca_ch_r_k_y_iiMatra_candrabindu-sidd</key>
    <string>seed_ca_ch_r_k_y_iiM_atra_candrabindu-sidd.glif</string>
    <key>seed_ca_l_h_y_iMatra_candrabindu-sidd</key>
    <string>seed_ca_l_h_y_iM_atra_candrabindu-sidd.glif</string>
    <key>seed_da_dh-sidd</key>
    <string>seed_da_dh-sidd.glif</string>
    <key>seed_da_dh_aaMatra_visarga-sidd</key>
    <string>seed_da_dh_aaM_atra_visarga-sidd.glif</string>
    <key>seed_da_v_aaMatra-sidd</key>
    <string>seed_da_v_aaM_atra-sidd.glif</string>
    <key>seed_dha_iMatra_visarga_ma-sidd</key>
    <string>seed_dha_iM_atra_visarga_ma-sidd.glif</string>
    <key>seed_dha_iMatra_visarga_ma_m-sidd</key>
    <string>seed_dha_iM_atra_visarga_ma_m-sidd.glif</string>
    <key>seed_dha_iMatra_visarga_ma_m_danda-sidd</key>
    <string>seed_dha_iM_atra_visarga_ma_m_danda-sidd.glif</string>
    <key>seed_ha_h_uMatra-sidd</key>
    <string>seed_ha_h_uM_atra-sidd.glif</string>
    <key>seed_ha_h_uuMatra-sidd</key>
    <string>seed_ha_h_uuM_atra-sidd.glif</string>
    <key>seed_ha_h_uuMatraAlt-sidd</key>
    <string>seed_ha_h_uuM_atraA_lt-sidd.glif</string>
    <key>seed_ha_iiMatra_ha_uMatra_visarga-sidd</key>
    <string>seed_ha_iiM_atra_ha_uM_atra_visarga-sidd.glif</string>
    <key>seed_ha_k_l_oMatra_anusvara-sidd</key>
    <string>seed_ha_k_l_oM_atra_anusvara-sidd.glif</string>
    <key>seed_ha_l-sidd</key>
    <string>seed_ha_l-sidd.glif</string>
    <key>seed_ha_r-sidd</key>
    <string>seed_ha_r-sidd.glif</string>
    <key>seed_ha_r_iiMatra-sidd</key>
    <string>seed_ha_r_iiM_atra-sidd.glif</string>
    <key>seed_ha_r_iiMatra_ha_visarga-sidd</key>
    <string>seed_ha_r_iiM_atra_ha_visarga-sidd.glif</string>
    <key>seed_ha_sidd</key>
    <string>seed_ha_sidd.glif</string>
    <key>seed_hammaan-sidd</key>
    <string>seed_hammaan-sidd.glif</string>
    <key>seed_hammaan_danda-sidd</key>
    <string>seed_hammaan_danda-sidd.glif</string>
    <key>seed_ja_nn-sidd</key>
    <string>seed_ja_nn-sidd.glif</string>
    <key>seed_ja_visarga-sidd</key>
    <string>seed_ja_visarga-sidd.glif</string>
    <key>seed_ka_rMatra_tt_virama-sidd</key>
    <string>seed_ka_rM_atra_tt_virama-sidd.glif</string>
    <key>seed_ma_ha_k_l_y-sidd</key>
    <string>seed_ma_ha_k_l_y-sidd.glif</string>
    <key>seed_ma_ha_k_l_y_aaMatra-sidd</key>
    <string>seed_ma_ha_k_l_y_aaM_atra-sidd.glif</string>
    <key>seed_ma_l_c_y_aaMatra-sidd</key>
    <string>seed_ma_l_c_y_aaM_atra-sidd.glif</string>
    <key>seed_ma_nn-sidd</key>
    <string>seed_ma_nn-sidd.glif</string>
    <key>seed_ra_rMatra_iMatra_aaMatra-sidd</key>
    <string>seed_ra_rM_atra_iM_atra_aaM_atra-sidd.glif</string>
    <key>seed_sa_l_h_y_iiMatra_anusvara-sidd</key>
    <string>seed_sa_l_h_y_iiM_atra_anusvara-sidd.glif</string>
    <key>seed_sa_t_r_y_iMatra_anusvara-sidd</key>
    <string>seed_sa_t_r_y_iM_atra_anusvara-sidd.glif</string>
    <key>seed_sh_r_h_y_iMatra_m.sidd</key>
    <string>seed_sh_r_h_y_iM_atra_m.sidd.glif</string>
    <key>seed_sha_rMatra_aiMatra_ka_virama-sidd</key>
    <string>seed_sha_rM_atra_aiM_atra_ka_virama-sidd.glif</string>
    <key>seed_sha_rMatra_rMatra_aiMatra_ka_k-sidd</key>
    <string>seed_sha_rM_atra_rM_atra_aiM_atra_ka_k-sidd.glif</string>
    <key>seed_ta_h_iiMatra_ma_m-sidd</key>
    <string>seed_ta_h_iiM_atra_ma_m-sidd.glif</string>
    <key>seed_ta_r-sidd</key>
    <string>seed_ta_r-sidd.glif</string>
    <key>seed_ta_r_aaMatra_visagra_ha_uMatra-sidd</key>
    <string>seed_ta_r_aaM_atra_visagra_ha_uM_atra-sidd.glif</string>
    <key>seed_ta_r_h_y_iMatra_anusvara-sidd</key>
    <string>seed_ta_r_h_y_iM_atra_anusvara-sidd.glif</string>
    <key>seed_ta_r_k_y_iMatra_anusvara-sidd</key>
    <string>seed_ta_r_k_y_iM_atra_anusvara-sidd.glif</string>
    <key>seed_ta_r_tt_virama-sidd</key>
    <string>seed_ta_r_tt_virama-sidd.glif</string>
    <key>seed_ta_r_uuMatra-sidd</key>
    <string>seed_ta_r_uuM_atra-sidd.glif</string>
    <key>seed_va_c_l_m_d_y_aiMatra-sidd</key>
    <string>seed_va_c_l_m_d_y_aiM_atra-sidd.glif</string>
    <key>seed_va_r_h_m_m-sidd</key>
    <string>seed_va_r_h_m_m-sidd.glif</string>
    <key>seed_va_sh_r_m_nn_y_auMatra_sidd</key>
    <string>seed_va_sh_r_m_nn_y_auM_atra_sidd.glif</string>
    <key>sh-sidd</key>
    <string>sh-sidd.glif</string>
    <key>sh-sidd.med</key>
    <string>sh-sidd.med.glif</string>
    <key>sh-sidd.med.ra</key>
    <string>sh-sidd.med.ra.glif</string>
    <key>sh-sidd.med.right</key>
    <string>sh-sidd.med.right.glif</string>
    <key>sh-sidd.ra</key>
    <string>sh-sidd.ra.glif</string>
    <key>sh-sidd.right</key>
    <string>sh-sidd.right.glif</string>
    <key>sh-sidd.third</key>
    <string>sh-sidd.third.glif</string>
    <key>sha-sidd</key>
    <string>sha-sidd.glif</string>
    <key>sha-sidd.ini</key>
    <string>sha-sidd.ini.glif</string>
    <key>sha-sidd.iniThird</key>
    <string>sha-sidd.iniT_hird.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ss-sidd</key>
    <string>ss-sidd.glif</string>
    <key>ss-sidd.centre</key>
    <string>ss-sidd.centre.glif</string>
    <key>ss-sidd.med</key>
    <string>ss-sidd.med.glif</string>
    <key>ss-sidd.med.centre</key>
    <string>ss-sidd.med.centre.glif</string>
    <key>ss-sidd.med.ra</key>
    <string>ss-sidd.med.ra.glif</string>
    <key>ss-sidd.ra</key>
    <string>ss-sidd.ra.glif</string>
    <key>ss-sidd.third</key>
    <string>ss-sidd.third.glif</string>
    <key>ss-sidd.third.centre</key>
    <string>ss-sidd.third.centre.glif</string>
    <key>ssa-sidd</key>
    <string>ssa-sidd.glif</string>
    <key>ssa-sidd.ini</key>
    <string>ssa-sidd.ini.glif</string>
    <key>ssa-sidd.iniThird</key>
    <string>ssa-sidd.iniT_hird.glif</string>
    <key>t-sidd</key>
    <string>t-sidd.glif</string>
    <key>t-sidd.diaT</key>
    <string>t-sidd.diaT_.glif</string>
    <key>t-sidd.med</key>
    <string>t-sidd.med.glif</string>
    <key>t-sidd.med.diaT</key>
    <string>t-sidd.med.diaT_.glif</string>
    <key>t-sidd.med.ra</key>
    <string>t-sidd.med.ra.glif</string>
    <key>t-sidd.ra</key>
    <string>t-sidd.ra.glif</string>
    <key>t-sidd.third</key>
    <string>t-sidd.third.glif</string>
    <key>t-sidd.third.diaT</key>
    <string>t-sidd.third.diaT_.glif</string>
    <key>ta-sidd</key>
    <string>ta-sidd.glif</string>
    <key>ta-sidd.ini</key>
    <string>ta-sidd.ini.glif</string>
    <key>ta-sidd.iniThird</key>
    <string>ta-sidd.iniT_hird.glif</string>
    <key>th-sidd</key>
    <string>th-sidd.glif</string>
    <key>th-sidd.med</key>
    <string>th-sidd.med.glif</string>
    <key>th-sidd.med.ra</key>
    <string>th-sidd.med.ra.glif</string>
    <key>th-sidd.ra</key>
    <string>th-sidd.ra.glif</string>
    <key>th-sidd.third</key>
    <string>th-sidd.third.glif</string>
    <key>tha-sidd</key>
    <string>tha-sidd.glif</string>
    <key>tha-sidd.ini</key>
    <string>tha-sidd.ini.glif</string>
    <key>tha-sidd.iniThird</key>
    <string>tha-sidd.iniT_hird.glif</string>
    <key>tt-sidd</key>
    <string>tt-sidd.glif</string>
    <key>tt-sidd.med</key>
    <string>tt-sidd.med.glif</string>
    <key>tt-sidd.med.centre</key>
    <string>tt-sidd.med.centre.glif</string>
    <key>tt-sidd.med.ra</key>
    <string>tt-sidd.med.ra.glif</string>
    <key>tt-sidd.ra</key>
    <string>tt-sidd.ra.glif</string>
    <key>tt-sidd.third</key>
    <string>tt-sidd.third.glif</string>
    <key>tta-sidd</key>
    <string>tta-sidd.glif</string>
    <key>tta-sidd.ini</key>
    <string>tta-sidd.ini.glif</string>
    <key>tta-sidd.ini.centre</key>
    <string>tta-sidd.ini.centre.glif</string>
    <key>tta-sidd.iniThird</key>
    <string>tta-sidd.iniT_hird.glif</string>
    <key>tta-sidd.iniThird.centre</key>
    <string>tta-sidd.iniT_hird.centre.glif</string>
    <key>tth-sidd</key>
    <string>tth-sidd.glif</string>
    <key>tth-sidd.med</key>
    <string>tth-sidd.med.glif</string>
    <key>tth-sidd.med.centre</key>
    <string>tth-sidd.med.centre.glif</string>
    <key>tth-sidd.med.ra</key>
    <string>tth-sidd.med.ra.glif</string>
    <key>tth-sidd.ra</key>
    <string>tth-sidd.ra.glif</string>
    <key>tth-sidd.third</key>
    <string>tth-sidd.third.glif</string>
    <key>ttha-sidd</key>
    <string>ttha-sidd.glif</string>
    <key>ttha-sidd.ini</key>
    <string>ttha-sidd.ini.glif</string>
    <key>ttha-sidd.ini.centre</key>
    <string>ttha-sidd.ini.centre.glif</string>
    <key>ttha-sidd.iniThird</key>
    <string>ttha-sidd.iniT_hird.glif</string>
    <key>ttha-sidd.iniThird.centre</key>
    <string>ttha-sidd.iniT_hird.centre.glif</string>
    <key>u-sidd</key>
    <string>u-sidd.glif</string>
    <key>uAlt-sidd</key>
    <string>uA_lt-sidd.glif</string>
    <key>uMatra-sidd</key>
    <string>uM_atra-sidd.glif</string>
    <key>uMatra-sidd.ra</key>
    <string>uM_atra-sidd.ra.glif</string>
    <key>uMatra-sidd.seedHa</key>
    <string>uM_atra-sidd.seedH_a.glif</string>
    <key>uMatra-sidd.stem</key>
    <string>uM_atra-sidd.stem.glif</string>
    <key>uMatraAlt-sidd</key>
    <string>uM_atraA_lt-sidd.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uu-sidd</key>
    <string>uu-sidd.glif</string>
    <key>uuMatra-sidd</key>
    <string>uuM_atra-sidd.glif</string>
    <key>uuMatra-sidd.ra</key>
    <string>uuM_atra-sidd.ra.glif</string>
    <key>uuMatra-sidd.seedHa</key>
    <string>uuM_atra-sidd.seedH_a.glif</string>
    <key>uuMatra-sidd.stem</key>
    <string>uuM_atra-sidd.stem.glif</string>
    <key>uuMatraAlt-sidd</key>
    <string>uuM_atraA_lt-sidd.glif</string>
    <key>v-sidd</key>
    <string>v-sidd.glif</string>
    <key>v-sidd.med</key>
    <string>v-sidd.med.glif</string>
    <key>v-sidd.med.ra</key>
    <string>v-sidd.med.ra.glif</string>
    <key>v-sidd.ra</key>
    <string>v-sidd.ra.glif</string>
    <key>v-sidd.third</key>
    <string>v-sidd.third.glif</string>
    <key>va-sidd</key>
    <string>va-sidd.glif</string>
    <key>va-sidd.ini</key>
    <string>va-sidd.ini.glif</string>
    <key>va-sidd.iniThird</key>
    <string>va-sidd.iniT_hird.glif</string>
    <key>virama-sidd</key>
    <string>virama-sidd.glif</string>
    <key>visarga-sidd</key>
    <string>visarga-sidd.glif</string>
    <key>y-sidd</key>
    <string>y-sidd.glif</string>
    <key>y-sidd.med</key>
    <string>y-sidd.med.glif</string>
    <key>y-sidd.med.ra</key>
    <string>y-sidd.med.ra.glif</string>
    <key>y-sidd.ra</key>
    <string>y-sidd.ra.glif</string>
    <key>y-sidd.third</key>
    <string>y-sidd.third.glif</string>
    <key>ya-sidd</key>
    <string>ya-sidd.glif</string>
    <key>ya-sidd.ini</key>
    <string>ya-sidd.ini.glif</string>
    <key>ya-sidd.iniThird</key>
    <string>ya-sidd.iniT_hird.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
  </dict>
</plist>
