<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Alpha</key>
    <string>A_lpha.glif</string>
    <key>Beta</key>
    <string>B_eta.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Chi</key>
    <string>C_hi.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Epsilon</key>
    <string>E_psilon.glif</string>
    <key>Eta</key>
    <string>E_ta.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Iota</key>
    <string>I_ota.glif</string>
    <key>Kappa</key>
    <string>K_appa.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Mu</key>
    <string>M_u.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Nu</key>
    <string>N_u.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Rho</key>
    <string>R_ho.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Tau</key>
    <string>T_au.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Zeta</key>
    <string>Z_eta.glif</string>
    <key>overlinecmb</key>
    <string>overlinecmb.glif</string>
    <key>overlinecmb.w1</key>
    <string>overlinecmb.w1.glif</string>
    <key>overlinecmb.w2</key>
    <string>overlinecmb.w2.glif</string>
    <key>overlinecmb.w3</key>
    <string>overlinecmb.w3.glif</string>
    <key>overlinecmb.w4</key>
    <string>overlinecmb.w4.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10500</key>
    <string>u10500.glif</string>
    <key>u10501</key>
    <string>u10501.glif</string>
    <key>u10502</key>
    <string>u10502.glif</string>
    <key>u10503</key>
    <string>u10503.glif</string>
    <key>u10504</key>
    <string>u10504.glif</string>
    <key>u10505</key>
    <string>u10505.glif</string>
    <key>u10506</key>
    <string>u10506.glif</string>
    <key>u10507</key>
    <string>u10507.glif</string>
    <key>u10508</key>
    <string>u10508.glif</string>
    <key>u10509</key>
    <string>u10509.glif</string>
    <key>u1050A</key>
    <string>u1050A_.glif</string>
    <key>u1050B</key>
    <string>u1050B_.glif</string>
    <key>u1050C</key>
    <string>u1050C_.glif</string>
    <key>u1050D</key>
    <string>u1050D_.glif</string>
    <key>u1050E</key>
    <string>u1050E_.glif</string>
    <key>u1050F</key>
    <string>u1050F_.glif</string>
    <key>u10510</key>
    <string>u10510.glif</string>
    <key>u10511</key>
    <string>u10511.glif</string>
    <key>u10512</key>
    <string>u10512.glif</string>
    <key>u10513</key>
    <string>u10513.glif</string>
    <key>u10514</key>
    <string>u10514.glif</string>
    <key>u10515</key>
    <string>u10515.glif</string>
    <key>u10516</key>
    <string>u10516.glif</string>
    <key>u10517</key>
    <string>u10517.glif</string>
    <key>u10518</key>
    <string>u10518.glif</string>
    <key>u10519</key>
    <string>u10519.glif</string>
    <key>u1051A</key>
    <string>u1051A_.glif</string>
    <key>u1051B</key>
    <string>u1051B_.glif</string>
    <key>u1051C</key>
    <string>u1051C_.glif</string>
    <key>u1051D</key>
    <string>u1051D_.glif</string>
    <key>u1051E</key>
    <string>u1051E_.glif</string>
    <key>u1051F</key>
    <string>u1051F_.glif</string>
    <key>u10520</key>
    <string>u10520.glif</string>
    <key>u10521</key>
    <string>u10521.glif</string>
    <key>u10522</key>
    <string>u10522.glif</string>
    <key>u10523</key>
    <string>u10523.glif</string>
    <key>u10524</key>
    <string>u10524.glif</string>
    <key>u10525</key>
    <string>u10525.glif</string>
    <key>u10526</key>
    <string>u10526.glif</string>
    <key>u10527</key>
    <string>u10527.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni03DA</key>
    <string>uni03D_A_.glif</string>
    <key>uni03DC</key>
    <string>uni03D_C_.glif</string>
    <key>uni03DE</key>
    <string>uni03D_E_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
