<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>separator-tifi</key>
    <string>separator-tifi.glif</string>
    <key>separator-tifi.RTL</key>
    <string>separator-tifi.R_T_L_.glif</string>
    <key>yaHawad-tifi</key>
    <string>yaH_awad-tifi.glif</string>
    <key>yabh-tifi</key>
    <string>yabh-tifi.glif</string>
    <key>yach-tifi</key>
    <string>yach-tifi.glif</string>
    <key>yach-tifi.RTL</key>
    <string>yach-tifi.R_T_L_.glif</string>
    <key>yachBerber-tifi</key>
    <string>yachB_erber-tifi.glif</string>
    <key>yachBerber-tifi.RTL</key>
    <string>yachB_erber-tifi.R_T_L_.glif</string>
    <key>yad-tifi</key>
    <string>yad-tifi.glif</string>
    <key>yag-tifi</key>
    <string>yag-tifi.glif</string>
    <key>yag_yat-tifi</key>
    <string>yag_yat-tifi.glif</string>
    <key>yag_yat-tifi.RTL</key>
    <string>yag_yat-tifi.R_T_L_.glif</string>
    <key>yaghh-tifi</key>
    <string>yaghh-tifi.glif</string>
    <key>yaghhBerber-tifi</key>
    <string>yaghhB_erber-tifi.glif</string>
    <key>yaghhBerber-tifi.RTL</key>
    <string>yaghhB_erber-tifi.R_T_L_.glif</string>
    <key>yahh-tifi</key>
    <string>yahh-tifi.glif</string>
    <key>yahh-tifi.RTL</key>
    <string>yahh-tifi.R_T_L_.glif</string>
    <key>yak-tifi</key>
    <string>yak-tifi.glif</string>
    <key>yak-tifi.RTL</key>
    <string>yak-tifi.R_T_L_.glif</string>
    <key>yakh-tifi</key>
    <string>yakh-tifi.glif</string>
    <key>yakhTawellemmet-tifi</key>
    <string>yakhT_awellemmet-tifi.glif</string>
    <key>yakhh-tifi</key>
    <string>yakhh-tifi.glif</string>
    <key>yakhh-tifi.RTL</key>
    <string>yakhh-tifi.R_T_L_.glif</string>
    <key>yal-tifi</key>
    <string>yal-tifi.glif</string>
    <key>yal-tifi.RTL</key>
    <string>yal-tifi.R_T_L_.glif</string>
    <key>yalBerber-tifi</key>
    <string>yalB_erber-tifi.glif</string>
    <key>yal_yatTawellemmet-tifi</key>
    <string>yal_yatT_awellemmet-tifi.glif</string>
    <key>yam_yas-tifi</key>
    <string>yam_yas-tifi.glif</string>
    <key>yam_yas-tifi.RTL</key>
    <string>yam_yas-tifi.R_T_L_.glif</string>
    <key>yam_yatSIL-tifi</key>
    <string>yam_yatS_I_L_-tifi.glif</string>
    <key>yam_yatSIL-tifi.RTL</key>
    <string>yam_yatS_I_L_-tifi.R_T_L_.glif</string>
    <key>yan_yab-tifi</key>
    <string>yan_yab-tifi.glif</string>
    <key>yan_yab-tifi.RTL</key>
    <string>yan_yab-tifi.R_T_L_.glif</string>
    <key>yan_yadAdrar-tifi</key>
    <string>yan_yadA_drar-tifi.glif</string>
    <key>yan_yah-tifi</key>
    <string>yan_yah-tifi.glif</string>
    <key>yan_yah-tifi.RTL</key>
    <string>yan_yah-tifi.R_T_L_.glif</string>
    <key>yan_yaz-tifi</key>
    <string>yan_yaz-tifi.glif</string>
    <key>yan_yazTawellemmet-tifi</key>
    <string>yan_yazT_awellemmet-tifi.glif</string>
    <key>yan_yazTawellemmet-tifi.RTL</key>
    <string>yan_yazT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yap-tifi</key>
    <string>yap-tifi.glif</string>
    <key>yap-tifi.RTL</key>
    <string>yap-tifi.R_T_L_.glif</string>
    <key>yaq-tifi</key>
    <string>yaq-tifi.glif</string>
    <key>yaq-tifi.RTL</key>
    <string>yaq-tifi.R_T_L_.glif</string>
    <key>yar_yan-tifi</key>
    <string>yar_yan-tifi.glif</string>
    <key>yar_yan-tifi.RTL</key>
    <string>yar_yan-tifi.R_T_L_.glif</string>
    <key>yar_yatTawellemmet-tifi</key>
    <string>yar_yatT_awellemmet-tifi.glif</string>
    <key>yasBerber-tifi</key>
    <string>yasB_erber-tifi.glif</string>
    <key>yas_yatAdrar-tifi</key>
    <string>yas_yatA_drar-tifi.glif</string>
    <key>yas_yatAdrar-tifi.RTL</key>
    <string>yas_yatA_drar-tifi.R_T_L_.glif</string>
    <key>yas_yatTawellemmet-tifi</key>
    <string>yas_yatT_awellemmet-tifi.glif</string>
    <key>yas_yatTawellemmet-tifi.RTL</key>
    <string>yas_yatT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yash-tifi</key>
    <string>yash-tifi.glif</string>
    <key>yash-tifi.RTL</key>
    <string>yash-tifi.R_T_L_.glif</string>
    <key>yashAdrar-tifi</key>
    <string>yashA_drar-tifi.glif</string>
    <key>yashTawellemmet-tifi</key>
    <string>yashT_awellemmet-tifi.glif</string>
    <key>yashTawellemmet-tifi.RTL</key>
    <string>yashT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yash_yat-tifi</key>
    <string>yash_yat-tifi.glif</string>
    <key>yath-tifi</key>
    <string>yath-tifi.glif</string>
    <key>yatt-tifi</key>
    <string>yatt-tifi.glif</string>
    <key>yatt-tifi.RTL</key>
    <string>yatt-tifi.R_T_L_.glif</string>
    <key>yattBerber-tifi</key>
    <string>yattB_erber-tifi.glif</string>
    <key>yattBerber-tifi.RTL</key>
    <string>yattB_erber-tifi.R_T_L_.glif</string>
    <key>yav-tifi</key>
    <string>yav-tifi.glif</string>
    <key>yavAPT-tifi</key>
    <string>yavA_P_T_-tifi.glif</string>
    <key>yay-tifi</key>
    <string>yay-tifi.glif</string>
    <key>yay-tifi.RTL</key>
    <string>yay-tifi.R_T_L_.glif</string>
    <key>yayHawad-tifi</key>
    <string>yayH_awad-tifi.glif</string>
    <key>yayHawad-tifi.RTL</key>
    <string>yayH_awad-tifi.R_T_L_.glif</string>
    <key>yayRhissaIxa-tifi</key>
    <string>yayR_hissaI_xa-tifi.glif</string>
    <key>yayRhissaIxa-tifi.RTL</key>
    <string>yayR_hissaI_xa-tifi.R_T_L_.glif</string>
    <key>yay_yat-tifi</key>
    <string>yay_yat-tifi.glif</string>
    <key>yay_yat-tifi.RTL</key>
    <string>yay_yat-tifi.R_T_L_.glif</string>
    <key>yaz-tifi</key>
    <string>yaz-tifi.glif</string>
    <key>yazBerber-tifi</key>
    <string>yazB_erber-tifi.glif</string>
    <key>yazTawellemmet-tifi</key>
    <string>yazT_awellemmet-tifi.glif</string>
    <key>yazTawellemmet-tifi.RTL</key>
    <string>yazT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yazhAhaggar-tifi</key>
    <string>yazhA_haggar-tifi.glif</string>
    <key>yazz-tifi</key>
    <string>yazz-tifi.glif</string>
    <key>yazzAPT-tifi</key>
    <string>yazzA_P_T_-tifi.glif</string>
    <key>yazzBerber-tifi</key>
    <string>yazzB_erber-tifi.glif</string>
    <key>yazzHawad-tifi</key>
    <string>yazzH_awad-tifi.glif</string>
    <key>yazzSIL-tifi</key>
    <string>yazzS_I_L_-tifi.glif</string>
    <key>yazzSIL-tifi.RTL</key>
    <string>yazzS_I_L_-tifi.R_T_L_.glif</string>
    <key>ye-tifi</key>
    <string>ye-tifi.glif</string>
    <key>ye-tifi.RTL</key>
    <string>ye-tifi.R_T_L_.glif</string>
    <key>yeHawad-tifi</key>
    <string>yeH_awad-tifi.glif</string>
    <key>yeHawad-tifi.RTL</key>
    <string>yeH_awad-tifi.R_T_L_.glif</string>
    <key>yeRhissaIxa-tifi</key>
    <string>yeR_hissaI_xa-tifi.glif</string>
    <key>yeRhissaIxa-tifi.RTL</key>
    <string>yeR_hissaI_xa-tifi.R_T_L_.glif</string>
    <key>yeTawellemmet-tifi</key>
    <string>yeT_awellemmet-tifi.glif</string>
    <key>yeTawellemmet-tifi.RTL</key>
    <string>yeT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yey-tifi</key>
    <string>yey-tifi.glif</string>
    <key>yeyAPT-tifi</key>
    <string>yeyA_P_T_-tifi.glif</string>
    <key>yeyAPT-tifi.RTL</key>
    <string>yeyA_P_T_-tifi.R_T_L_.glif</string>
    <key>yeyBerber-tifi</key>
    <string>yeyB_erber-tifi.glif</string>
    <key>yeyHawad-tifi</key>
    <string>yeyH_awad-tifi.glif</string>
    <key>yi-tifi</key>
    <string>yi-tifi.glif</string>
    <key>yi-tifi.RTL</key>
    <string>yi-tifi.R_T_L_.glif</string>
    <key>yiBerber-tifi</key>
    <string>yiB_erber-tifi.glif</string>
    <key>yiBerber-tifi.RTL</key>
    <string>yiB_erber-tifi.R_T_L_.glif</string>
    <key>yiHawad-tifi</key>
    <string>yiH_awad-tifi.glif</string>
    <key>yiHawad-tifi.RTL</key>
    <string>yiH_awad-tifi.R_T_L_.glif</string>
    <key>yiRhissaIxa-tifi</key>
    <string>yiR_hissaI_xa-tifi.glif</string>
    <key>yiRhissaIxa-tifi.RTL</key>
    <string>yiR_hissaI_xa-tifi.R_T_L_.glif</string>
    <key>yiTawellemmet-tifi</key>
    <string>yiT_awellemmet-tifi.glif</string>
    <key>yiTawellemmet-tifi.RTL</key>
    <string>yiT_awellemmet-tifi.R_T_L_.glif</string>
    <key>yoTawellemmet-tifi</key>
    <string>yoT_awellemmet-tifi.glif</string>
    <key>yuAPT-tifi</key>
    <string>yuA_P_T_-tifi.glif</string>
    <key>yuHawad-tifi</key>
    <string>yuH_awad-tifi.glif</string>
  </dict>
</plist>
