<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>beamedsixteenthnotes-musical</key>
    <string>beamedsixteenthnotes-musical.glif</string>
    <key>flat-musical</key>
    <string>flat-musical.glif</string>
    <key>natural-musical</key>
    <string>natural-musical.glif</string>
    <key>note-musical</key>
    <string>note-musical.glif</string>
    <key>notedbl-musical</key>
    <string>notedbl-musical.glif</string>
    <key>quarternote-musical</key>
    <string>quarternote-musical.glif</string>
    <key>sharp-musical</key>
    <string>sharp-musical.glif</string>
  </dict>
</plist>
