<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>ain-ar.medi</key>
    <string>ain-ar.medi.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>beh_yeh-ar</key>
    <string>beh_yeh-ar.glif</string>
    <key>fathaRing-ar</key>
    <string>fathaR_ing-ar.glif</string>
    <key>footnotemarker-ar</key>
    <string>footnotemarker-ar.glif</string>
    <key>lamDotabove_highhamzaAlef-ar.fina</key>
    <string>lamD_otabove_highhamzaA_lef-ar.fina.glif</string>
    <key>lam_alefMadda-ar.fina</key>
    <string>lam_alefM_adda-ar.fina.glif</string>
    <key>lam_lam_heh-ar</key>
    <string>lam_lam_heh-ar.glif</string>
    <key>openfathatan-ar</key>
    <string>openfathatan-ar.glif</string>
    <key>rightarrowheadabove-ar</key>
    <string>rightarrowheadabove-ar.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>tah-ar</key>
    <string>tah-ar.glif</string>
    <key>tah-ar.medi</key>
    <string>tah-ar.medi.glif</string>
    <key>teh_noon-ar.fina</key>
    <string>teh_noon-ar.fina.glif</string>
    <key>teh_yeh-ar.fina</key>
    <string>teh_yeh-ar.fina.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>twodotstahcenter-ar</key>
    <string>twodotstahcenter-ar.glif</string>
  </dict>
</plist>
