<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Anusvara.GGondi</key>
    <string>A_nusvara.G_G_ondi.glif</string>
    <key>Anusvara_alt.GGondi</key>
    <string>A_nusvara_alt.G_G_ondi.glif</string>
    <key>Ba.GGondi</key>
    <string>B_a.G_G_ondi.glif</string>
    <key>BaHalant.GGondi</key>
    <string>B_aH_alant.G_G_ondi.glif</string>
    <key>BaHalf.GGondi</key>
    <string>B_aH_alf.G_G_ondi.glif</string>
    <key>BaMatraAa.GGondi</key>
    <string>B_aM_atraA_a.G_G_ondi.glif</string>
    <key>BaMatraU.GGondi</key>
    <string>B_aM_atraU_.G_G_ondi.glif</string>
    <key>BaMatraUu.GGondi</key>
    <string>B_aM_atraU_u.G_G_ondi.glif</string>
    <key>Bha.GGondi</key>
    <string>B_ha.G_G_ondi.glif</string>
    <key>BhaHalant.GGondi</key>
    <string>B_haH_alant.G_G_ondi.glif</string>
    <key>BhaHalf.GGondi</key>
    <string>B_haH_alf.G_G_ondi.glif</string>
    <key>BhaMatraAa.GGondi</key>
    <string>B_haM_atraA_a.G_G_ondi.glif</string>
    <key>BhaMatraU.GGondi</key>
    <string>B_haM_atraU_.G_G_ondi.glif</string>
    <key>BhaMatraUu.GGondi</key>
    <string>B_haM_atraU_u.G_G_ondi.glif</string>
    <key>Ca.GGondi</key>
    <string>C_a.G_G_ondi.glif</string>
    <key>CaHalant.GGondi</key>
    <string>C_aH_alant.G_G_ondi.glif</string>
    <key>CaHalf.GGondi</key>
    <string>C_aH_alf.G_G_ondi.glif</string>
    <key>CaMatraAa.GGondi</key>
    <string>C_aM_atraA_a.G_G_ondi.glif</string>
    <key>CaMatraU.GGondi</key>
    <string>C_aM_atraU_.G_G_ondi.glif</string>
    <key>CaMatraUu.GGondi</key>
    <string>C_aM_atraU_u.G_G_ondi.glif</string>
    <key>Cha.GGondi</key>
    <string>C_ha.G_G_ondi.glif</string>
    <key>ChaHalant.GGondi</key>
    <string>C_haH_alant.G_G_ondi.glif</string>
    <key>ChaHalf.GGondi</key>
    <string>C_haH_alf.G_G_ondi.glif</string>
    <key>ChaMatraAa.GGondi</key>
    <string>C_haM_atraA_a.G_G_ondi.glif</string>
    <key>ChaMatraU.GGondi</key>
    <string>C_haM_atraU_.G_G_ondi.glif</string>
    <key>ChaMatraUu.GGondi</key>
    <string>C_haM_atraU_u.G_G_ondi.glif</string>
    <key>Da.GGondi</key>
    <string>D_a.G_G_ondi.glif</string>
    <key>DaHalant.GGondi</key>
    <string>D_aH_alant.G_G_ondi.glif</string>
    <key>DaHalf.GGondi</key>
    <string>D_aH_alf.G_G_ondi.glif</string>
    <key>DaMatraAa.GGondi</key>
    <string>D_aM_atraA_a.G_G_ondi.glif</string>
    <key>DaMatraU.GGondi</key>
    <string>D_aM_atraU_.G_G_ondi.glif</string>
    <key>DaMatraUu.GGondi</key>
    <string>D_aM_atraU_u.G_G_ondi.glif</string>
    <key>Dda.GGondi</key>
    <string>D_da.G_G_ondi.glif</string>
    <key>DdaHalant.GGondi</key>
    <string>D_daH_alant.G_G_ondi.glif</string>
    <key>DdaHalf.GGondi</key>
    <string>D_daH_alf.G_G_ondi.glif</string>
    <key>DdaMatraAa.GGondi</key>
    <string>D_daM_atraA_a.G_G_ondi.glif</string>
    <key>DdaMatraU.GGondi</key>
    <string>D_daM_atraU_.G_G_ondi.glif</string>
    <key>DdaMatraUu.GGondi</key>
    <string>D_daM_atraU_u.G_G_ondi.glif</string>
    <key>Ddha.GGondi</key>
    <string>D_dha.G_G_ondi.glif</string>
    <key>DdhaHalant.GGondi</key>
    <string>D_dhaH_alant.G_G_ondi.glif</string>
    <key>DdhaHalf.GGondi</key>
    <string>D_dhaH_alf.G_G_ondi.glif</string>
    <key>DdhaMatraAa.GGondi</key>
    <string>D_dhaM_atraA_a.G_G_ondi.glif</string>
    <key>DdhaMatraU.GGondi</key>
    <string>D_dhaM_atraU_.G_G_ondi.glif</string>
    <key>DdhaMatraUu.GGondi</key>
    <string>D_dhaM_atraU_u.G_G_ondi.glif</string>
    <key>Dha.GGondi</key>
    <string>D_ha.G_G_ondi.glif</string>
    <key>DhaHalant.GGondi</key>
    <string>D_haH_alant.G_G_ondi.glif</string>
    <key>DhaHalf.GGondi</key>
    <string>D_haH_alf.G_G_ondi.glif</string>
    <key>DhaMatraAa.GGondi</key>
    <string>D_haM_atraA_a.G_G_ondi.glif</string>
    <key>DhaMatraU.GGondi</key>
    <string>D_haM_atraU_.G_G_ondi.glif</string>
    <key>DhaMatraUu.GGondi</key>
    <string>D_haM_atraU_u.G_G_ondi.glif</string>
    <key>Eight.GGondi</key>
    <string>E_ight.G_G_ondi.glif</string>
    <key>Five.GGondi</key>
    <string>F_ive.G_G_ondi.glif</string>
    <key>Four.GGondi</key>
    <string>F_our.G_G_ondi.glif</string>
    <key>Ga.GGondi</key>
    <string>G_a.G_G_ondi.glif</string>
    <key>GaHalant.GGondi</key>
    <string>G_aH_alant.G_G_ondi.glif</string>
    <key>GaHalf.GGondi</key>
    <string>G_aH_alf.G_G_ondi.glif</string>
    <key>GaMatraAa.GGondi</key>
    <string>G_aM_atraA_a.G_G_ondi.glif</string>
    <key>GaMatraU.GGondi</key>
    <string>G_aM_atraU_.G_G_ondi.glif</string>
    <key>GaMatraUu.GGondi</key>
    <string>G_aM_atraU_u.G_G_ondi.glif</string>
    <key>Gha.GGondi</key>
    <string>G_ha.G_G_ondi.glif</string>
    <key>GhaHalant.GGondi</key>
    <string>G_haH_alant.G_G_ondi.glif</string>
    <key>GhaHalf.GGondi</key>
    <string>G_haH_alf.G_G_ondi.glif</string>
    <key>GhaMatraAa.GGondi</key>
    <string>G_haM_atraA_a.G_G_ondi.glif</string>
    <key>GhaMatraU.GGondi</key>
    <string>G_haM_atraU_.G_G_ondi.glif</string>
    <key>GhaMatraUu.GGondi</key>
    <string>G_haM_atraU_u.G_G_ondi.glif</string>
    <key>Ha.GGondi</key>
    <string>H_a.G_G_ondi.glif</string>
    <key>HaHalant.GGondi</key>
    <string>H_aH_alant.G_G_ondi.glif</string>
    <key>HaHalf.GGondi</key>
    <string>H_aH_alf.G_G_ondi.glif</string>
    <key>HaMatraAa.GGondi</key>
    <string>H_aM_atraA_a.G_G_ondi.glif</string>
    <key>HaMatraU.GGondi</key>
    <string>H_aM_atraU_.G_G_ondi.glif</string>
    <key>HaMatraUu.GGondi</key>
    <string>H_aM_atraU_u.G_G_ondi.glif</string>
    <key>Ja.GGondi</key>
    <string>J_a.G_G_ondi.glif</string>
    <key>JaHalant.GGondi</key>
    <string>J_aH_alant.G_G_ondi.glif</string>
    <key>JaHalf.GGondi</key>
    <string>J_aH_alf.G_G_ondi.glif</string>
    <key>JaMatraAa.GGondi</key>
    <string>J_aM_atraA_a.G_G_ondi.glif</string>
    <key>JaMatraU.GGondi</key>
    <string>J_aM_atraU_.G_G_ondi.glif</string>
    <key>JaMatraUu.GGondi</key>
    <string>J_aM_atraU_u.G_G_ondi.glif</string>
    <key>Jha.GGondi</key>
    <string>J_ha.G_G_ondi.glif</string>
    <key>JhaHalant.GGondi</key>
    <string>J_haH_alant.G_G_ondi.glif</string>
    <key>JhaHalf.GGondi</key>
    <string>J_haH_alf.G_G_ondi.glif</string>
    <key>JhaMatraAa.GGondi</key>
    <string>J_haM_atraA_a.G_G_ondi.glif</string>
    <key>JhaMatraU.GGondi</key>
    <string>J_haM_atraU_.G_G_ondi.glif</string>
    <key>JhaMatraUu.GGondi</key>
    <string>J_haM_atraU_u.G_G_ondi.glif</string>
    <key>Ka.GGondi</key>
    <string>K_a.G_G_ondi.glif</string>
    <key>KaHalant.GGondi</key>
    <string>K_aH_alant.G_G_ondi.glif</string>
    <key>KaHalf.GGondi</key>
    <string>K_aH_alf.G_G_ondi.glif</string>
    <key>KaMatraAa.GGondi</key>
    <string>K_aM_atraA_a.G_G_ondi.glif</string>
    <key>KaMatraU.GGondi</key>
    <string>K_aM_atraU_.G_G_ondi.glif</string>
    <key>KaMatraUu.GGondi</key>
    <string>K_aM_atraU_u.G_G_ondi.glif</string>
    <key>Kha.GGondi</key>
    <string>K_ha.G_G_ondi.glif</string>
    <key>KhaHalant.GGondi</key>
    <string>K_haH_alant.G_G_ondi.glif</string>
    <key>KhaHalf.GGondi</key>
    <string>K_haH_alf.G_G_ondi.glif</string>
    <key>KhaMatraAa.GGondi</key>
    <string>K_haM_atraA_a.G_G_ondi.glif</string>
    <key>KhaMatraU.GGondi</key>
    <string>K_haM_atraU_.G_G_ondi.glif</string>
    <key>KhaMatraUu.GGondi</key>
    <string>K_haM_atraU_u.G_G_ondi.glif</string>
    <key>La.GGondi</key>
    <string>L_a.G_G_ondi.glif</string>
    <key>LaHalant.GGondi</key>
    <string>L_aH_alant.G_G_ondi.glif</string>
    <key>LaHalf.GGondi</key>
    <string>L_aH_alf.G_G_ondi.glif</string>
    <key>LaMatraAa.GGondi</key>
    <string>L_aM_atraA_a.G_G_ondi.glif</string>
    <key>LaMatraU.GGondi</key>
    <string>L_aM_atraU_.G_G_ondi.glif</string>
    <key>LaMatraUu.GGondi</key>
    <string>L_aM_atraU_u.G_G_ondi.glif</string>
    <key>Lla.GGondi</key>
    <string>L_la.G_G_ondi.glif</string>
    <key>LlaHalant.GGondi</key>
    <string>L_laH_alant.G_G_ondi.glif</string>
    <key>LlaHalf.GGondi</key>
    <string>L_laH_alf.G_G_ondi.glif</string>
    <key>LlaMatraAa.GGondi</key>
    <string>L_laM_atraA_a.G_G_ondi.glif</string>
    <key>LlaMatraU.GGondi</key>
    <string>L_laM_atraU_.G_G_ondi.glif</string>
    <key>LlaMatraUu.GGondi</key>
    <string>L_laM_atraU_u.G_G_ondi.glif</string>
    <key>Ma.GGondi</key>
    <string>M_a.G_G_ondi.glif</string>
    <key>MaHalant.GGondi</key>
    <string>M_aH_alant.G_G_ondi.glif</string>
    <key>MaHalf.GGondi</key>
    <string>M_aH_alf.G_G_ondi.glif</string>
    <key>MaMatraAa.GGondi</key>
    <string>M_aM_atraA_a.G_G_ondi.glif</string>
    <key>MaMatraU.GGondi</key>
    <string>M_aM_atraU_.G_G_ondi.glif</string>
    <key>MaMatraUu.GGondi</key>
    <string>M_aM_atraU_u.G_G_ondi.glif</string>
    <key>MatraAa.GGondi</key>
    <string>M_atraA_a.G_G_ondi.glif</string>
    <key>MatraAi.GGondi</key>
    <string>M_atraA_i.G_G_ondi.glif</string>
    <key>MatraAu.GGondi</key>
    <string>M_atraA_u.G_G_ondi.glif</string>
    <key>MatraEe.GGondi</key>
    <string>M_atraE_e.G_G_ondi.glif</string>
    <key>MatraI.GGondi</key>
    <string>M_atraI_.G_G_ondi.glif</string>
    <key>MatraI_alt1.GGondi</key>
    <string>M_atraI__alt1.G_G_ondi.glif</string>
    <key>MatraI_alt2.GGondi</key>
    <string>M_atraI__alt2.G_G_ondi.glif</string>
    <key>MatraIi.GGondi</key>
    <string>M_atraI_i.G_G_ondi.glif</string>
    <key>MatraIi_alt1.GGondi</key>
    <string>M_atraI_i_alt1.G_G_ondi.glif</string>
    <key>MatraIi_alt2.GGondi</key>
    <string>M_atraI_i_alt2.G_G_ondi.glif</string>
    <key>MatraOo.GGondi</key>
    <string>M_atraO_o.G_G_ondi.glif</string>
    <key>MatraU.GGondi</key>
    <string>M_atraU_.G_G_ondi.glif</string>
    <key>MatraUu.GGondi</key>
    <string>M_atraU_u.G_G_ondi.glif</string>
    <key>Na.GGondi</key>
    <string>N_a.G_G_ondi.glif</string>
    <key>NaHalant.GGondi</key>
    <string>N_aH_alant.G_G_ondi.glif</string>
    <key>NaHalf.GGondi</key>
    <string>N_aH_alf.G_G_ondi.glif</string>
    <key>NaMatraAa.GGondi</key>
    <string>N_aM_atraA_a.G_G_ondi.glif</string>
    <key>NaMatraU.GGondi</key>
    <string>N_aM_atraU_.G_G_ondi.glif</string>
    <key>NaMatraUu.GGondi</key>
    <string>N_aM_atraU_u.G_G_ondi.glif</string>
    <key>Nga.GGondi</key>
    <string>N_ga.G_G_ondi.glif</string>
    <key>NgaHalant.GGondi</key>
    <string>N_gaH_alant.G_G_ondi.glif</string>
    <key>NgaHalf.GGondi</key>
    <string>N_gaH_alf.G_G_ondi.glif</string>
    <key>NgaMatraAa.GGondi</key>
    <string>N_gaM_atraA_a.G_G_ondi.glif</string>
    <key>NgaMatraU.GGondi</key>
    <string>N_gaM_atraU_.G_G_ondi.glif</string>
    <key>NgaMatraUu.GGondi</key>
    <string>N_gaM_atraU_u.G_G_ondi.glif</string>
    <key>Nine.GGondi</key>
    <string>N_ine.G_G_ondi.glif</string>
    <key>Om.GGondi</key>
    <string>O_m.G_G_ondi.glif</string>
    <key>Om_alt.GGondi</key>
    <string>O_m_alt.G_G_ondi.glif</string>
    <key>One.GGondi</key>
    <string>O_ne.G_G_ondi.glif</string>
    <key>Pa.GGondi</key>
    <string>P_a.G_G_ondi.glif</string>
    <key>PaHalant.GGondi</key>
    <string>P_aH_alant.G_G_ondi.glif</string>
    <key>PaHalf.GGondi</key>
    <string>P_aH_alf.G_G_ondi.glif</string>
    <key>PaMatraAa.GGondi</key>
    <string>P_aM_atraA_a.G_G_ondi.glif</string>
    <key>PaMatraU.GGondi</key>
    <string>P_aM_atraU_.G_G_ondi.glif</string>
    <key>PaMatraUu.GGondi</key>
    <string>P_aM_atraU_u.G_G_ondi.glif</string>
    <key>Pha.GGondi</key>
    <string>P_ha.G_G_ondi.glif</string>
    <key>PhaHalant.GGondi</key>
    <string>P_haH_alant.G_G_ondi.glif</string>
    <key>PhaHalf.GGondi</key>
    <string>P_haH_alf.G_G_ondi.glif</string>
    <key>PhaMatraAa.GGondi</key>
    <string>P_haM_atraA_a.G_G_ondi.glif</string>
    <key>PhaMatraU.GGondi</key>
    <string>P_haM_atraU_.G_G_ondi.glif</string>
    <key>PhaMatraUu.GGondi</key>
    <string>P_haM_atraU_u.G_G_ondi.glif</string>
    <key>Ra.GGondi</key>
    <string>R_a.G_G_ondi.glif</string>
    <key>RaHalant.GGondi</key>
    <string>R_aH_alant.G_G_ondi.glif</string>
    <key>RaHalf.GGondi</key>
    <string>R_aH_alf.G_G_ondi.glif</string>
    <key>RaMatraAa.GGondi</key>
    <string>R_aM_atraA_a.G_G_ondi.glif</string>
    <key>RaMatraU.GGondi</key>
    <string>R_aM_atraU_.G_G_ondi.glif</string>
    <key>RaMatraUu.GGondi</key>
    <string>R_aM_atraU_u.G_G_ondi.glif</string>
    <key>Sa.GGondi</key>
    <string>S_a.G_G_ondi.glif</string>
    <key>SaHalant.GGondi</key>
    <string>S_aH_alant.G_G_ondi.glif</string>
    <key>SaHalf.GGondi</key>
    <string>S_aH_alf.G_G_ondi.glif</string>
    <key>SaMatraAa.GGondi</key>
    <string>S_aM_atraA_a.G_G_ondi.glif</string>
    <key>SaMatraU.GGondi</key>
    <string>S_aM_atraU_.G_G_ondi.glif</string>
    <key>SaMatraUu.GGondi</key>
    <string>S_aM_atraU_u.G_G_ondi.glif</string>
    <key>Seven.GGondi</key>
    <string>S_even.G_G_ondi.glif</string>
    <key>Six.GGondi</key>
    <string>S_ix.G_G_ondi.glif</string>
    <key>Ta.GGondi</key>
    <string>T_a.G_G_ondi.glif</string>
    <key>TaHalant.GGondi</key>
    <string>T_aH_alant.G_G_ondi.glif</string>
    <key>TaHalf.GGondi</key>
    <string>T_aH_alf.G_G_ondi.glif</string>
    <key>TaMatraAa.GGondi</key>
    <string>T_aM_atraA_a.G_G_ondi.glif</string>
    <key>TaMatraU.GGondi</key>
    <string>T_aM_atraU_.G_G_ondi.glif</string>
    <key>TaMatraUu.GGondi</key>
    <string>T_aM_atraU_u.G_G_ondi.glif</string>
    <key>Tha.GGondi</key>
    <string>T_ha.G_G_ondi.glif</string>
    <key>ThaHalant.GGondi</key>
    <string>T_haH_alant.G_G_ondi.glif</string>
    <key>ThaHalf.GGondi</key>
    <string>T_haH_alf.G_G_ondi.glif</string>
    <key>ThaMatraAa.GGondi</key>
    <string>T_haM_atraA_a.G_G_ondi.glif</string>
    <key>ThaMatraU.GGondi</key>
    <string>T_haM_atraU_.G_G_ondi.glif</string>
    <key>ThaMatraUu.GGondi</key>
    <string>T_haM_atraU_u.G_G_ondi.glif</string>
    <key>Three.GGondi</key>
    <string>T_hree.G_G_ondi.glif</string>
    <key>Tta.GGondi</key>
    <string>T_ta.G_G_ondi.glif</string>
    <key>TtaHalant.GGondi</key>
    <string>T_taH_alant.G_G_ondi.glif</string>
    <key>TtaHalf.GGondi</key>
    <string>T_taH_alf.G_G_ondi.glif</string>
    <key>TtaMatraAa.GGondi</key>
    <string>T_taM_atraA_a.G_G_ondi.glif</string>
    <key>TtaMatraU.GGondi</key>
    <string>T_taM_atraU_.G_G_ondi.glif</string>
    <key>TtaMatraUu.GGondi</key>
    <string>T_taM_atraU_u.G_G_ondi.glif</string>
    <key>Ttha.GGondi</key>
    <string>T_tha.G_G_ondi.glif</string>
    <key>TthaHalant.GGondi</key>
    <string>T_thaH_alant.G_G_ondi.glif</string>
    <key>TthaHalf.GGondi</key>
    <string>T_thaH_alf.G_G_ondi.glif</string>
    <key>TthaMatraAa.GGondi</key>
    <string>T_thaM_atraA_a.G_G_ondi.glif</string>
    <key>TthaMatraU.GGondi</key>
    <string>T_thaM_atraU_.G_G_ondi.glif</string>
    <key>TthaMatraUu.GGondi</key>
    <string>T_thaM_atraU_u.G_G_ondi.glif</string>
    <key>Two.GGondi</key>
    <string>T_wo.G_G_ondi.glif</string>
    <key>Va.GGondi</key>
    <string>V_a.G_G_ondi.glif</string>
    <key>VaHalant.GGondi</key>
    <string>V_aH_alant.G_G_ondi.glif</string>
    <key>VaHalf.GGondi</key>
    <string>V_aH_alf.G_G_ondi.glif</string>
    <key>VaMatraAa.GGondi</key>
    <string>V_aM_atraA_a.G_G_ondi.glif</string>
    <key>VaMatraU.GGondi</key>
    <string>V_aM_atraU_.G_G_ondi.glif</string>
    <key>VaMatraUu.GGondi</key>
    <string>V_aM_atraU_u.G_G_ondi.glif</string>
    <key>Visarg.GGondi</key>
    <string>V_isarg.G_G_ondi.glif</string>
    <key>VowelA.GGondi</key>
    <string>V_owelA_.G_G_ondi.glif</string>
    <key>VowelAa.GGondi</key>
    <string>V_owelA_a.G_G_ondi.glif</string>
    <key>VowelAi.GGondi</key>
    <string>V_owelA_i.G_G_ondi.glif</string>
    <key>VowelAu.GGondi</key>
    <string>V_owelA_u.G_G_ondi.glif</string>
    <key>VowelEe.GGondi</key>
    <string>V_owelE_e.G_G_ondi.glif</string>
    <key>VowelI.GGondi</key>
    <string>V_owelI_.G_G_ondi.glif</string>
    <key>VowelIi.GGondi</key>
    <string>V_owelI_i.G_G_ondi.glif</string>
    <key>VowelOo.GGondi</key>
    <string>V_owelO_o.G_G_ondi.glif</string>
    <key>VowelU.GGondi</key>
    <string>V_owelU_.G_G_ondi.glif</string>
    <key>VowelUu.GGondi</key>
    <string>V_owelU_u.G_G_ondi.glif</string>
    <key>Ya.GGondi</key>
    <string>Y_a.G_G_ondi.glif</string>
    <key>YaHalant.GGondi</key>
    <string>Y_aH_alant.G_G_ondi.glif</string>
    <key>YaHalf.GGondi</key>
    <string>Y_aH_alf.G_G_ondi.glif</string>
    <key>YaMatraAa.GGondi</key>
    <string>Y_aM_atraA_a.G_G_ondi.glif</string>
    <key>YaMatraU.GGondi</key>
    <string>Y_aM_atraU_.G_G_ondi.glif</string>
    <key>YaMatraUu.GGondi</key>
    <string>Y_aM_atraU_u.G_G_ondi.glif</string>
    <key>Zero.GGondi</key>
    <string>Z_ero.G_G_ondi.glif</string>
    <key>_Halant.GGondi</key>
    <string>_H_alant.G_G_ondi.glif</string>
    <key>asterisk.GGondi</key>
    <string>asterisk.G_G_ondi.glif</string>
    <key>colon.GGondi</key>
    <string>colon.G_G_ondi.glif</string>
    <key>comma.GGondi</key>
    <string>comma.G_G_ondi.glif</string>
    <key>divide.GGondi</key>
    <string>divide.G_G_ondi.glif</string>
    <key>ellipsis.GGondi</key>
    <string>ellipsis.G_G_ondi.glif</string>
    <key>equal.GGondi</key>
    <string>equal.G_G_ondi.glif</string>
    <key>exclam.GGondi</key>
    <string>exclam.G_G_ondi.glif</string>
    <key>greater.GGondi</key>
    <string>greater.G_G_ondi.glif</string>
    <key>hyphen.GGondi</key>
    <string>hyphen.G_G_ondi.glif</string>
    <key>less.GGondi</key>
    <string>less.G_G_ondi.glif</string>
    <key>minus.GGondi</key>
    <string>minus.G_G_ondi.glif</string>
    <key>multiply.GGondi</key>
    <string>multiply.G_G_ondi.glif</string>
    <key>parenleft.GGondi</key>
    <string>parenleft.G_G_ondi.glif</string>
    <key>parenright.GGondi</key>
    <string>parenright.G_G_ondi.glif</string>
    <key>percent.GGondi</key>
    <string>percent.G_G_ondi.glif</string>
    <key>period.GGondi</key>
    <string>period.G_G_ondi.glif</string>
    <key>plus.GGondi</key>
    <string>plus.G_G_ondi.glif</string>
    <key>question.GGondi</key>
    <string>question.G_G_ondi.glif</string>
    <key>quotedbl.GGondi</key>
    <string>quotedbl.G_G_ondi.glif</string>
    <key>quotedblleft.GGondi</key>
    <string>quotedblleft.G_G_ondi.glif</string>
    <key>quotedblright.GGondi</key>
    <string>quotedblright.G_G_ondi.glif</string>
    <key>quoteleft.GGondi</key>
    <string>quoteleft.G_G_ondi.glif</string>
    <key>quoteright.GGondi</key>
    <string>quoteright.G_G_ondi.glif</string>
    <key>quotesingle.GGondi</key>
    <string>quotesingle.G_G_ondi.glif</string>
    <key>semicolon.GGondi</key>
    <string>semicolon.G_G_ondi.glif</string>
    <key>slash.GGondi</key>
    <string>slash.G_G_ondi.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
