<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>SA</key>
    <string>S_A_.glif</string>
    <key>anusvara</key>
    <string>anusvara.glif</string>
    <key>brm_A</key>
    <string>brm_A_.glif</string>
    <key>brm_AA</key>
    <string>brm_A_A_.glif</string>
    <key>brm_AI</key>
    <string>brm_A_I_.glif</string>
    <key>brm_AU</key>
    <string>brm_A_U_.glif</string>
    <key>brm_BA</key>
    <string>brm_B_A_.glif</string>
    <key>brm_BAU</key>
    <string>brm_B_A_U_.glif</string>
    <key>brm_BHA</key>
    <string>brm_B_H_A_.glif</string>
    <key>brm_BHAU</key>
    <string>brm_B_H_A_U_.glif</string>
    <key>brm_BO</key>
    <string>brm_B_O_.glif</string>
    <key>brm_BU</key>
    <string>brm_B_U_.glif</string>
    <key>brm_BUU</key>
    <string>brm_B_U_U_.glif</string>
    <key>brm_CA</key>
    <string>brm_C_A_.glif</string>
    <key>brm_CHA</key>
    <string>brm_C_H_A_.glif</string>
    <key>brm_CHU</key>
    <string>brm_C_H_U_.glif</string>
    <key>brm_CHUU</key>
    <string>brm_C_H_U_U_.glif</string>
    <key>brm_CU</key>
    <string>brm_C_U_.glif</string>
    <key>brm_CUU</key>
    <string>brm_C_U_U_.glif</string>
    <key>brm_DA</key>
    <string>brm_D_A_.glif</string>
    <key>brm_DAU</key>
    <string>brm_D_A_U_.glif</string>
    <key>brm_DDA</key>
    <string>brm_D_D_A_.glif</string>
    <key>brm_DDHA</key>
    <string>brm_D_D_H_A_.glif</string>
    <key>brm_DDHU</key>
    <string>brm_D_D_H_U_.glif</string>
    <key>brm_DDHUU</key>
    <string>brm_D_D_H_U_U_.glif</string>
    <key>brm_DHA</key>
    <string>brm_D_H_A_.glif</string>
    <key>brm_DHAU</key>
    <string>brm_D_H_A_U_.glif</string>
    <key>brm_DHO</key>
    <string>brm_D_H_O_.glif</string>
    <key>brm_DHU</key>
    <string>brm_D_H_U_.glif</string>
    <key>brm_DHUU</key>
    <string>brm_D_H_U_U_.glif</string>
    <key>brm_E</key>
    <string>brm_E_.glif</string>
    <key>brm_GA</key>
    <string>brm_G_A_.glif</string>
    <key>brm_GHA</key>
    <string>brm_G_H_A_.glif</string>
    <key>brm_GHU</key>
    <string>brm_G_H_U_.glif</string>
    <key>brm_GHUU</key>
    <string>brm_G_H_U_U_.glif</string>
    <key>brm_HA</key>
    <string>brm_H_A_.glif</string>
    <key>brm_HU</key>
    <string>brm_H_U_.glif</string>
    <key>brm_HUU</key>
    <string>brm_H_U_U_.glif</string>
    <key>brm_I</key>
    <string>brm_I_.glif</string>
    <key>brm_II</key>
    <string>brm_I_I_.glif</string>
    <key>brm_JA</key>
    <string>brm_J_A_.glif</string>
    <key>brm_JAA</key>
    <string>brm_J_A_A_.glif</string>
    <key>brm_JAU</key>
    <string>brm_J_A_U_.glif</string>
    <key>brm_JHA</key>
    <string>brm_J_H_A_.glif</string>
    <key>brm_JHAU</key>
    <string>brm_J_H_A_U_.glif</string>
    <key>brm_JHO</key>
    <string>brm_J_H_O_.glif</string>
    <key>brm_JNYA</key>
    <string>brm_J_N_Y_A_.glif</string>
    <key>brm_JO</key>
    <string>brm_J_O_.glif</string>
    <key>brm_JU</key>
    <string>brm_J_U_.glif</string>
    <key>brm_JUU</key>
    <string>brm_J_U_U_.glif</string>
    <key>brm_KA</key>
    <string>brm_K_A_.glif</string>
    <key>brm_KHA</key>
    <string>brm_K_H_A_.glif</string>
    <key>brm_KSSA</key>
    <string>brm_K_S_S_A_.glif</string>
    <key>brm_L</key>
    <string>brm_L_.glif</string>
    <key>brm_LA</key>
    <string>brm_L_A_.glif</string>
    <key>brm_LL</key>
    <string>brm_L_L_.glif</string>
    <key>brm_LLA</key>
    <string>brm_L_L_A_.glif</string>
    <key>brm_LLLA</key>
    <string>brm_L_L_L_A_.glif</string>
    <key>brm_LLLAU</key>
    <string>brm_L_L_L_A_U_.glif</string>
    <key>brm_LLLO</key>
    <string>brm_L_L_L_O_.glif</string>
    <key>brm_LLU</key>
    <string>brm_L_L_U_.glif</string>
    <key>brm_LLUU</key>
    <string>brm_L_L_U_U_.glif</string>
    <key>brm_LU</key>
    <string>brm_L_U_.glif</string>
    <key>brm_LUU</key>
    <string>brm_L_U_U_.glif</string>
    <key>brm_Lotus</key>
    <string>brm_L_otus.glif</string>
    <key>brm_MA</key>
    <string>brm_M_A_.glif</string>
    <key>brm_MAU</key>
    <string>brm_M_A_U_.glif</string>
    <key>brm_MO</key>
    <string>brm_M_O_.glif</string>
    <key>brm_MU</key>
    <string>brm_M_U_.glif</string>
    <key>brm_MUU</key>
    <string>brm_M_U_U_.glif</string>
    <key>brm_NA</key>
    <string>brm_N_A_.glif</string>
    <key>brm_NGA</key>
    <string>brm_N_G_A_.glif</string>
    <key>brm_NGU</key>
    <string>brm_N_G_U_.glif</string>
    <key>brm_NGUU</key>
    <string>brm_N_G_U_U_.glif</string>
    <key>brm_NNA</key>
    <string>brm_N_N_A_.glif</string>
    <key>brm_NNNA</key>
    <string>brm_N_N_N_A_.glif</string>
    <key>brm_NNNAU</key>
    <string>brm_N_N_N_A_U_.glif</string>
    <key>brm_NNNO</key>
    <string>brm_N_N_N_O_.glif</string>
    <key>brm_NNNU</key>
    <string>brm_N_N_N_U_.glif</string>
    <key>brm_NNNUU</key>
    <string>brm_N_N_N_U_U_.glif</string>
    <key>brm_NNU</key>
    <string>brm_N_N_U_.glif</string>
    <key>brm_NNUU</key>
    <string>brm_N_N_U_U_.glif</string>
    <key>brm_NU</key>
    <string>brm_N_U_.glif</string>
    <key>brm_NUU</key>
    <string>brm_N_U_U_.glif</string>
    <key>brm_NYA</key>
    <string>brm_N_Y_A_.glif</string>
    <key>brm_NYAU</key>
    <string>brm_N_Y_A_U_.glif</string>
    <key>brm_NYO</key>
    <string>brm_N_Y_O_.glif</string>
    <key>brm_O</key>
    <string>brm_O_.glif</string>
    <key>brm_PA</key>
    <string>brm_P_A_.glif</string>
    <key>brm_PHA</key>
    <string>brm_P_H_A_.glif</string>
    <key>brm_PHU</key>
    <string>brm_P_H_U_.glif</string>
    <key>brm_PHUU</key>
    <string>brm_P_H_U_U_.glif</string>
    <key>brm_PU</key>
    <string>brm_P_U_.glif</string>
    <key>brm_PUU</key>
    <string>brm_P_U_U_.glif</string>
    <key>brm_R</key>
    <string>brm_R_.glif</string>
    <key>brm_RA</key>
    <string>brm_R_A_.glif</string>
    <key>brm_RR</key>
    <string>brm_R_R_.glif</string>
    <key>brm_RRA</key>
    <string>brm_R_R_A_.glif</string>
    <key>brm_RRAU</key>
    <string>brm_R_R_A_U_.glif</string>
    <key>brm_RRO</key>
    <string>brm_R_R_O_.glif</string>
    <key>brm_SHA</key>
    <string>brm_S_H_A_.glif</string>
    <key>brm_SSA</key>
    <string>brm_S_S_A_.glif</string>
    <key>brm_SSU</key>
    <string>brm_S_S_U_.glif</string>
    <key>brm_SSUU</key>
    <string>brm_S_S_U_U_.glif</string>
    <key>brm_SU</key>
    <string>brm_S_U_.glif</string>
    <key>brm_SUU</key>
    <string>brm_S_U_U_.glif</string>
    <key>brm_SVA</key>
    <string>brm_S_V_A_.glif</string>
    <key>brm_TA</key>
    <string>brm_T_A_.glif</string>
    <key>brm_THA</key>
    <string>brm_T_H_A_.glif</string>
    <key>brm_THAI</key>
    <string>brm_T_H_A_I_.glif</string>
    <key>brm_THAU</key>
    <string>brm_T_H_A_U_.glif</string>
    <key>brm_THEE</key>
    <string>brm_T_H_E_E_.glif</string>
    <key>brm_THO</key>
    <string>brm_T_H_O_.glif</string>
    <key>brm_THR</key>
    <string>brm_T_H_R_.glif</string>
    <key>brm_THRR</key>
    <string>brm_T_H_R_R_.glif</string>
    <key>brm_THU</key>
    <string>brm_T_H_U_.glif</string>
    <key>brm_THUU</key>
    <string>brm_T_H_U_U_.glif</string>
    <key>brm_TRR</key>
    <string>brm_T_R_R_.glif</string>
    <key>brm_TTA</key>
    <string>brm_T_T_A_.glif</string>
    <key>brm_TTHA</key>
    <string>brm_T_T_H_A_.glif</string>
    <key>brm_TTHAI</key>
    <string>brm_T_T_H_A_I_.glif</string>
    <key>brm_TTHAU</key>
    <string>brm_T_T_H_A_U_.glif</string>
    <key>brm_TTHEE</key>
    <string>brm_T_T_H_E_E_.glif</string>
    <key>brm_TTHO</key>
    <string>brm_T_T_H_O_.glif</string>
    <key>brm_TTHR</key>
    <string>brm_T_T_H_R_.glif</string>
    <key>brm_TTHRR</key>
    <string>brm_T_T_H_R_R_.glif</string>
    <key>brm_TTHU</key>
    <string>brm_T_T_H_U_.glif</string>
    <key>brm_TTHUU</key>
    <string>brm_T_T_H_U_U_.glif</string>
    <key>brm_TTU</key>
    <string>brm_T_T_U_.glif</string>
    <key>brm_TTUU</key>
    <string>brm_T_T_U_U_.glif</string>
    <key>brm_TUU</key>
    <string>brm_T_U_U_.glif</string>
    <key>brm_U</key>
    <string>brm_U_.glif</string>
    <key>brm_UU</key>
    <string>brm_U_U_.glif</string>
    <key>brm_VA</key>
    <string>brm_V_A_.glif</string>
    <key>brm_VOCALIC_L</key>
    <string>brm_V_O_C_A_L_I_C__L_.glif</string>
    <key>brm_VOCALIC_LL</key>
    <string>brm_V_O_C_A_L_I_C__L_L_.glif</string>
    <key>brm_VOCALIC_R</key>
    <string>brm_V_O_C_A_L_I_C__R_.glif</string>
    <key>brm_VOCALIC_R.alt</key>
    <string>brm_V_O_C_A_L_I_C__R_.alt.glif</string>
    <key>brm_VOCALIC_R.alt2</key>
    <string>brm_V_O_C_A_L_I_C__R_.alt2.glif</string>
    <key>brm_VOCALIC_RR</key>
    <string>brm_V_O_C_A_L_I_C__R_R_.glif</string>
    <key>brm_VOCALIC_RR.alt</key>
    <string>brm_V_O_C_A_L_I_C__R_R_.alt.glif</string>
    <key>brm_VOCALIC_RR.alt2</key>
    <string>brm_V_O_C_A_L_I_C__R_R_.alt2.glif</string>
    <key>brm_VOCALIC_RR.alt3</key>
    <string>brm_V_O_C_A_L_I_C__R_R_.alt3.glif</string>
    <key>brm_VU</key>
    <string>brm_V_U_.glif</string>
    <key>brm_VUU</key>
    <string>brm_V_U_U_.glif</string>
    <key>brm_YA</key>
    <string>brm_Y_A_.glif</string>
    <key>brm_YU</key>
    <string>brm_Y_U_.glif</string>
    <key>brm_YUU</key>
    <string>brm_Y_U_U_.glif</string>
    <key>brm_danda</key>
    <string>brm_danda.glif</string>
    <key>brm_digit0</key>
    <string>brm_digit0.glif</string>
    <key>brm_digit1</key>
    <string>brm_digit1.glif</string>
    <key>brm_digit2</key>
    <string>brm_digit2.glif</string>
    <key>brm_digit3</key>
    <string>brm_digit3.glif</string>
    <key>brm_digit4</key>
    <string>brm_digit4.glif</string>
    <key>brm_digit5</key>
    <string>brm_digit5.glif</string>
    <key>brm_digit6</key>
    <string>brm_digit6.glif</string>
    <key>brm_digit7</key>
    <string>brm_digit7.glif</string>
    <key>brm_digit8</key>
    <string>brm_digit8.glif</string>
    <key>brm_digit9</key>
    <string>brm_digit9.glif</string>
    <key>brm_doubledanda</key>
    <string>brm_doubledanda.glif</string>
    <key>brm_num1</key>
    <string>brm_num1.glif</string>
    <key>brm_num10</key>
    <string>brm_num10.glif</string>
    <key>brm_num100</key>
    <string>brm_num100.glif</string>
    <key>brm_num100.10</key>
    <string>brm_num100.10.glif</string>
    <key>brm_num100.100</key>
    <string>brm_num100.100.glif</string>
    <key>brm_num100.1000</key>
    <string>brm_num100.1000.glif</string>
    <key>brm_num100.2</key>
    <string>brm_num100.2.glif</string>
    <key>brm_num100.20</key>
    <string>brm_num100.20.glif</string>
    <key>brm_num100.3</key>
    <string>brm_num100.3.glif</string>
    <key>brm_num100.30</key>
    <string>brm_num100.30.glif</string>
    <key>brm_num100.4</key>
    <string>brm_num100.4.glif</string>
    <key>brm_num100.40</key>
    <string>brm_num100.40.glif</string>
    <key>brm_num100.5</key>
    <string>brm_num100.5.glif</string>
    <key>brm_num100.50</key>
    <string>brm_num100.50.glif</string>
    <key>brm_num100.6</key>
    <string>brm_num100.6.glif</string>
    <key>brm_num100.60</key>
    <string>brm_num100.60.glif</string>
    <key>brm_num100.7</key>
    <string>brm_num100.7.glif</string>
    <key>brm_num100.70</key>
    <string>brm_num100.70.glif</string>
    <key>brm_num100.8</key>
    <string>brm_num100.8.glif</string>
    <key>brm_num100.80</key>
    <string>brm_num100.80.glif</string>
    <key>brm_num100.9</key>
    <string>brm_num100.9.glif</string>
    <key>brm_num100.90</key>
    <string>brm_num100.90.glif</string>
    <key>brm_num1000</key>
    <string>brm_num1000.glif</string>
    <key>brm_num1000.10</key>
    <string>brm_num1000.10.glif</string>
    <key>brm_num1000.100</key>
    <string>brm_num1000.100.glif</string>
    <key>brm_num1000.1000</key>
    <string>brm_num1000.1000.glif</string>
    <key>brm_num1000.2</key>
    <string>brm_num1000.2.glif</string>
    <key>brm_num1000.20</key>
    <string>brm_num1000.20.glif</string>
    <key>brm_num1000.3</key>
    <string>brm_num1000.3.glif</string>
    <key>brm_num1000.30</key>
    <string>brm_num1000.30.glif</string>
    <key>brm_num1000.4</key>
    <string>brm_num1000.4.glif</string>
    <key>brm_num1000.40</key>
    <string>brm_num1000.40.glif</string>
    <key>brm_num1000.5</key>
    <string>brm_num1000.5.glif</string>
    <key>brm_num1000.50</key>
    <string>brm_num1000.50.glif</string>
    <key>brm_num1000.6</key>
    <string>brm_num1000.6.glif</string>
    <key>brm_num1000.60</key>
    <string>brm_num1000.60.glif</string>
    <key>brm_num1000.7</key>
    <string>brm_num1000.7.glif</string>
    <key>brm_num1000.70</key>
    <string>brm_num1000.70.glif</string>
    <key>brm_num1000.8</key>
    <string>brm_num1000.8.glif</string>
    <key>brm_num1000.80</key>
    <string>brm_num1000.80.glif</string>
    <key>brm_num1000.9</key>
    <string>brm_num1000.9.glif</string>
    <key>brm_num1000.90</key>
    <string>brm_num1000.90.glif</string>
    <key>brm_num2</key>
    <string>brm_num2.glif</string>
    <key>brm_num20</key>
    <string>brm_num20.glif</string>
    <key>brm_num3</key>
    <string>brm_num3.glif</string>
    <key>brm_num30</key>
    <string>brm_num30.glif</string>
    <key>brm_num4</key>
    <string>brm_num4.glif</string>
    <key>brm_num40</key>
    <string>brm_num40.glif</string>
    <key>brm_num5</key>
    <string>brm_num5.glif</string>
    <key>brm_num50</key>
    <string>brm_num50.glif</string>
    <key>brm_num6</key>
    <string>brm_num6.glif</string>
    <key>brm_num60</key>
    <string>brm_num60.glif</string>
    <key>brm_num7</key>
    <string>brm_num7.glif</string>
    <key>brm_num70</key>
    <string>brm_num70.glif</string>
    <key>brm_num8</key>
    <string>brm_num8.glif</string>
    <key>brm_num80</key>
    <string>brm_num80.glif</string>
    <key>brm_num9</key>
    <string>brm_num9.glif</string>
    <key>brm_num90</key>
    <string>brm_num90.glif</string>
    <key>brm_punctBAR</key>
    <string>brm_punctB_A_R_.glif</string>
    <key>brm_punctDBLDOT</key>
    <string>brm_punctD_B_L_D_O_T_.glif</string>
    <key>brm_punctDOT</key>
    <string>brm_punctD_O_T_.glif</string>
    <key>brm_punctLINE</key>
    <string>brm_punctL_I_N_E_.glif</string>
    <key>brm_virama</key>
    <string>brm_virama.glif</string>
    <key>brm_vowelAA</key>
    <string>brm_vowelA_A_.glif</string>
    <key>brm_vowelAI</key>
    <string>brm_vowelA_I_.glif</string>
    <key>brm_vowelAU</key>
    <string>brm_vowelA_U_.glif</string>
    <key>brm_vowelBHATTIPROLUAA</key>
    <string>brm_vowelB_H_A_T_T_I_P_R_O_L_U_A_A_.glif</string>
    <key>brm_vowelEE</key>
    <string>brm_vowelE_E_.glif</string>
    <key>brm_vowelI</key>
    <string>brm_vowelI_.glif</string>
    <key>brm_vowelII</key>
    <string>brm_vowelI_I_.glif</string>
    <key>brm_vowelOO</key>
    <string>brm_vowelO_O_.glif</string>
    <key>brm_vowelU</key>
    <string>brm_vowelU_.glif</string>
    <key>brm_vowelU.alt</key>
    <string>brm_vowelU_.alt.glif</string>
    <key>brm_vowelUU</key>
    <string>brm_vowelU_U_.glif</string>
    <key>brm_vowelUU.alt</key>
    <string>brm_vowelU_U_.alt.glif</string>
    <key>brm_vowelUU.alt2</key>
    <string>brm_vowelU_U_.alt2.glif</string>
    <key>candrabindu</key>
    <string>candrabindu.glif</string>
    <key>candrabindu.alt</key>
    <string>candrabindu.alt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11003</key>
    <string>u11003.glif</string>
    <key>u11003_11013</key>
    <string>u11003_11013.glif</string>
    <key>u11003_11014</key>
    <string>u11003_11014.glif</string>
    <key>u11004</key>
    <string>u11004.glif</string>
    <key>u11004_11027</key>
    <string>u11004_11027.glif</string>
    <key>u11004_11028</key>
    <string>u11004_11028.glif</string>
    <key>u1107F</key>
    <string>u1107F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>visarga</key>
    <string>visarga.glif</string>
    <key>vowelUU_vert</key>
    <string>vowelU_U__vert.glif</string>
    <key>vowelU_vert</key>
    <string>vowelU__vert.glif</string>
  </dict>
</plist>
