<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1C00</key>
    <string>uni1C_00.glif</string>
    <key>uni1C00_1C24</key>
    <string>uni1C_00_1C_24.glif</string>
    <key>uni1C00_1C25</key>
    <string>uni1C_00_1C_25.glif</string>
    <key>uni1C00_1C25_1C24</key>
    <string>uni1C_00_1C_25_1C_24.glif</string>
    <key>uni1C01</key>
    <string>uni1C_01.glif</string>
    <key>uni1C01_1C24</key>
    <string>uni1C_01_1C_24.glif</string>
    <key>uni1C02</key>
    <string>uni1C_02.glif</string>
    <key>uni1C02_1C24</key>
    <string>uni1C_02_1C_24.glif</string>
    <key>uni1C02_1C25</key>
    <string>uni1C_02_1C_25.glif</string>
    <key>uni1C03</key>
    <string>uni1C_03.glif</string>
    <key>uni1C03_1C24</key>
    <string>uni1C_03_1C_24.glif</string>
    <key>uni1C03_1C25</key>
    <string>uni1C_03_1C_25.glif</string>
    <key>uni1C03_1C25_1C24</key>
    <string>uni1C_03_1C_25_1C_24.glif</string>
    <key>uni1C04</key>
    <string>uni1C_04.glif</string>
    <key>uni1C04_1C24</key>
    <string>uni1C_04_1C_24.glif</string>
    <key>uni1C05</key>
    <string>uni1C_05.glif</string>
    <key>uni1C05_1C24</key>
    <string>uni1C_05_1C_24.glif</string>
    <key>uni1C05_1C25</key>
    <string>uni1C_05_1C_25.glif</string>
    <key>uni1C05_1C25_1C24</key>
    <string>uni1C_05_1C_25_1C_24.glif</string>
    <key>uni1C06</key>
    <string>uni1C_06.glif</string>
    <key>uni1C07</key>
    <string>uni1C_07.glif</string>
    <key>uni1C08</key>
    <string>uni1C_08.glif</string>
    <key>uni1C08_1C24</key>
    <string>uni1C_08_1C_24.glif</string>
    <key>uni1C09</key>
    <string>uni1C_09.glif</string>
    <key>uni1C0A</key>
    <string>uni1C_0A_.glif</string>
    <key>uni1C0A_1C24</key>
    <string>uni1C_0A__1C_24.glif</string>
    <key>uni1C0B</key>
    <string>uni1C_0B_.glif</string>
    <key>uni1C0B_1C24</key>
    <string>uni1C_0B__1C_24.glif</string>
    <key>uni1C0C</key>
    <string>uni1C_0C_.glif</string>
    <key>uni1C0C_1C24</key>
    <string>uni1C_0C__1C_24.glif</string>
    <key>uni1C0D</key>
    <string>uni1C_0D_.glif</string>
    <key>uni1C0E</key>
    <string>uni1C_0E_.glif</string>
    <key>uni1C0E_1C24</key>
    <string>uni1C_0E__1C_24.glif</string>
    <key>uni1C0E_1C25</key>
    <string>uni1C_0E__1C_25.glif</string>
    <key>uni1C0E_1C25_1C24</key>
    <string>uni1C_0E__1C_25_1C_24.glif</string>
    <key>uni1C0F</key>
    <string>uni1C_0F_.glif</string>
    <key>uni1C0F_1C24</key>
    <string>uni1C_0F__1C_24.glif</string>
    <key>uni1C10</key>
    <string>uni1C_10.glif</string>
    <key>uni1C10_1C24</key>
    <string>uni1C_10_1C_24.glif</string>
    <key>uni1C11</key>
    <string>uni1C_11.glif</string>
    <key>uni1C11_1C24</key>
    <string>uni1C_11_1C_24.glif</string>
    <key>uni1C11_1C25</key>
    <string>uni1C_11_1C_25.glif</string>
    <key>uni1C11_1C25_1C24</key>
    <string>uni1C_11_1C_25_1C_24.glif</string>
    <key>uni1C12</key>
    <string>uni1C_12.glif</string>
    <key>uni1C12_1C24</key>
    <string>uni1C_12_1C_24.glif</string>
    <key>uni1C13</key>
    <string>uni1C_13.glif</string>
    <key>uni1C13_1C24</key>
    <string>uni1C_13_1C_24.glif</string>
    <key>uni1C13_1C25</key>
    <string>uni1C_13_1C_25.glif</string>
    <key>uni1C13_1C25_1C24</key>
    <string>uni1C_13_1C_25_1C_24.glif</string>
    <key>uni1C14</key>
    <string>uni1C_14.glif</string>
    <key>uni1C14_1C24</key>
    <string>uni1C_14_1C_24.glif</string>
    <key>uni1C15</key>
    <string>uni1C_15.glif</string>
    <key>uni1C15_1C24</key>
    <string>uni1C_15_1C_24.glif</string>
    <key>uni1C15_1C25</key>
    <string>uni1C_15_1C_25.glif</string>
    <key>uni1C15_1C25_1C24</key>
    <string>uni1C_15_1C_25_1C_24.glif</string>
    <key>uni1C16</key>
    <string>uni1C_16.glif</string>
    <key>uni1C16_1C24</key>
    <string>uni1C_16_1C_24.glif</string>
    <key>uni1C17</key>
    <string>uni1C_17.glif</string>
    <key>uni1C18</key>
    <string>uni1C_18.glif</string>
    <key>uni1C19</key>
    <string>uni1C_19.glif</string>
    <key>uni1C1A</key>
    <string>uni1C_1A_.glif</string>
    <key>uni1C1B</key>
    <string>uni1C_1B_.glif</string>
    <key>uni1C1B_1C24</key>
    <string>uni1C_1B__1C_24.glif</string>
    <key>uni1C1C</key>
    <string>uni1C_1C_.glif</string>
    <key>uni1C1C_1C24</key>
    <string>uni1C_1C__1C_24.glif</string>
    <key>uni1C1D</key>
    <string>uni1C_1D_.glif</string>
    <key>uni1C1D_1C24</key>
    <string>uni1C_1D__1C_24.glif</string>
    <key>uni1C1D_1C25</key>
    <string>uni1C_1D__1C_25.glif</string>
    <key>uni1C1D_1C25_1C24</key>
    <string>uni1C_1D__1C_25_1C_24.glif</string>
    <key>uni1C1E</key>
    <string>uni1C_1E_.glif</string>
    <key>uni1C1E_1C24</key>
    <string>uni1C_1E__1C_24.glif</string>
    <key>uni1C1F</key>
    <string>uni1C_1F_.glif</string>
    <key>uni1C1F_1C24</key>
    <string>uni1C_1F__1C_24.glif</string>
    <key>uni1C20</key>
    <string>uni1C_20.glif</string>
    <key>uni1C21</key>
    <string>uni1C_21.glif</string>
    <key>uni1C21_1C24</key>
    <string>uni1C_21_1C_24.glif</string>
    <key>uni1C22</key>
    <string>uni1C_22.glif</string>
    <key>uni1C23</key>
    <string>uni1C_23.glif</string>
    <key>uni1C23_1C24</key>
    <string>uni1C_23_1C_24.glif</string>
    <key>uni1C24</key>
    <string>uni1C_24.glif</string>
    <key>uni1C24.alt</key>
    <string>uni1C_24.alt.glif</string>
    <key>uni1C25</key>
    <string>uni1C_25.glif</string>
    <key>uni1C25.alt</key>
    <string>uni1C_25.alt.glif</string>
    <key>uni1C25_1C24</key>
    <string>uni1C_25_1C_24.glif</string>
    <key>uni1C26</key>
    <string>uni1C_26.glif</string>
    <key>uni1C26.alt</key>
    <string>uni1C_26.alt.glif</string>
    <key>uni1C27</key>
    <string>uni1C_27.glif</string>
    <key>uni1C28</key>
    <string>uni1C_28.glif</string>
    <key>uni1C29</key>
    <string>uni1C_29.glif</string>
    <key>uni1C29.short</key>
    <string>uni1C_29.short.glif</string>
    <key>uni1C29.wide</key>
    <string>uni1C_29.wide.glif</string>
    <key>uni1C2A</key>
    <string>uni1C_2A_.glif</string>
    <key>uni1C2A.alt</key>
    <string>uni1C_2A_.alt.glif</string>
    <key>uni1C2B</key>
    <string>uni1C_2B_.glif</string>
    <key>uni1C2B.alt</key>
    <string>uni1C_2B_.alt.glif</string>
    <key>uni1C2C</key>
    <string>uni1C_2C_.glif</string>
    <key>uni1C2D</key>
    <string>uni1C_2D_.glif</string>
    <key>uni1C2D_1C36</key>
    <string>uni1C_2D__1C_36.glif</string>
    <key>uni1C2E</key>
    <string>uni1C_2E_.glif</string>
    <key>uni1C2E_1C36</key>
    <string>uni1C_2E__1C_36.glif</string>
    <key>uni1C2F</key>
    <string>uni1C_2F_.glif</string>
    <key>uni1C2F_1C36</key>
    <string>uni1C_2F__1C_36.glif</string>
    <key>uni1C30</key>
    <string>uni1C_30.glif</string>
    <key>uni1C30_1C36</key>
    <string>uni1C_30_1C_36.glif</string>
    <key>uni1C31</key>
    <string>uni1C_31.glif</string>
    <key>uni1C31_1C36</key>
    <string>uni1C_31_1C_36.glif</string>
    <key>uni1C32</key>
    <string>uni1C_32.glif</string>
    <key>uni1C32_1C36</key>
    <string>uni1C_32_1C_36.glif</string>
    <key>uni1C33</key>
    <string>uni1C_33.glif</string>
    <key>uni1C33_1C36</key>
    <string>uni1C_33_1C_36.glif</string>
    <key>uni1C34</key>
    <string>uni1C_34.glif</string>
    <key>uni1C35</key>
    <string>uni1C_35.glif</string>
    <key>uni1C36</key>
    <string>uni1C_36.glif</string>
    <key>uni1C37</key>
    <string>uni1C_37.glif</string>
    <key>uni1C3B</key>
    <string>uni1C_3B_.glif</string>
    <key>uni1C3C</key>
    <string>uni1C_3C_.glif</string>
    <key>uni1C3D</key>
    <string>uni1C_3D_.glif</string>
    <key>uni1C3E</key>
    <string>uni1C_3E_.glif</string>
    <key>uni1C3F</key>
    <string>uni1C_3F_.glif</string>
    <key>uni1C40</key>
    <string>uni1C_40.glif</string>
    <key>uni1C41</key>
    <string>uni1C_41.glif</string>
    <key>uni1C42</key>
    <string>uni1C_42.glif</string>
    <key>uni1C43</key>
    <string>uni1C_43.glif</string>
    <key>uni1C44</key>
    <string>uni1C_44.glif</string>
    <key>uni1C45</key>
    <string>uni1C_45.glif</string>
    <key>uni1C46</key>
    <string>uni1C_46.glif</string>
    <key>uni1C47</key>
    <string>uni1C_47.glif</string>
    <key>uni1C48</key>
    <string>uni1C_48.glif</string>
    <key>uni1C49</key>
    <string>uni1C_49.glif</string>
    <key>uni1C4D</key>
    <string>uni1C_4D_.glif</string>
    <key>uni1C4E</key>
    <string>uni1C_4E_.glif</string>
    <key>uni1C4F</key>
    <string>uni1C_4F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
