<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aaguru</key>
    <string>aaguru.glif</string>
    <key>aamatraguru</key>
    <string>aamatraguru.glif</string>
    <key>adakbindiguru</key>
    <string>adakbindiguru.glif</string>
    <key>addakbaraltguru</key>
    <string>addakbaraltguru.glif</string>
    <key>addakguru</key>
    <string>addakguru.glif</string>
    <key>aguru</key>
    <string>aguru.glif</string>
    <key>aiaddakguru</key>
    <string>aiaddakguru.glif</string>
    <key>aibindiguru</key>
    <string>aibindiguru.glif</string>
    <key>aiguru</key>
    <string>aiguru.glif</string>
    <key>aimatraaddakguru</key>
    <string>aimatraaddakguru.glif</string>
    <key>aimatrabindiguru</key>
    <string>aimatrabindiguru.glif</string>
    <key>aimatraguru</key>
    <string>aimatraguru.glif</string>
    <key>asciicircum.guru</key>
    <string>asciicircum.guru.glif</string>
    <key>asciitilde.guru</key>
    <string>asciitilde.guru.glif</string>
    <key>asterisk.guru</key>
    <string>asterisk.guru.glif</string>
    <key>auaddakguru</key>
    <string>auaddakguru.glif</string>
    <key>aubindiguru</key>
    <string>aubindiguru.glif</string>
    <key>auguru</key>
    <string>auguru.glif</string>
    <key>aumatraaddakguru</key>
    <string>aumatraaddakguru.glif</string>
    <key>aumatrabindiguru</key>
    <string>aumatrabindiguru.glif</string>
    <key>aumatraguru</key>
    <string>aumatraguru.glif</string>
    <key>baUIguru</key>
    <string>baU_I_guru.glif</string>
    <key>backslash.guru</key>
    <string>backslash.guru.glif</string>
    <key>baguru</key>
    <string>baguru.glif</string>
    <key>banuktaguru</key>
    <string>banuktaguru.glif</string>
    <key>banuktaprehalfguru</key>
    <string>banuktaprehalfguru.glif</string>
    <key>baprehalfguru</key>
    <string>baprehalfguru.glif</string>
    <key>bar.guru</key>
    <string>bar.guru.glif</string>
    <key>bhaguru</key>
    <string>bhaguru.glif</string>
    <key>bhanuktaguru</key>
    <string>bhanuktaguru.glif</string>
    <key>bhanuktaprehalfguru</key>
    <string>bhanuktaprehalfguru.glif</string>
    <key>bhaprehalfguru</key>
    <string>bhaprehalfguru.glif</string>
    <key>bindiguru</key>
    <string>bindiguru.glif</string>
    <key>braceleft.guru</key>
    <string>braceleft.guru.glif</string>
    <key>braceright.guru</key>
    <string>braceright.guru.glif</string>
    <key>bracketleft.guru</key>
    <string>bracketleft.guru.glif</string>
    <key>bracketright.guru</key>
    <string>bracketright.guru.glif</string>
    <key>caguru</key>
    <string>caguru.glif</string>
    <key>canuktaguru</key>
    <string>canuktaguru.glif</string>
    <key>canuktaprehalfguru</key>
    <string>canuktaprehalfguru.glif</string>
    <key>caprehalfguru</key>
    <string>caprehalfguru.glif</string>
    <key>chaguru</key>
    <string>chaguru.glif</string>
    <key>chanuktaguru</key>
    <string>chanuktaguru.glif</string>
    <key>chanuktaprehalfguru</key>
    <string>chanuktaprehalfguru.glif</string>
    <key>chaprehalfguru</key>
    <string>chaprehalfguru.glif</string>
    <key>colon.guru</key>
    <string>colon.guru.glif</string>
    <key>comma.guru</key>
    <string>comma.guru.glif</string>
    <key>daguru</key>
    <string>daguru.glif</string>
    <key>danda.guru</key>
    <string>danda.guru.glif</string>
    <key>danuktaguru</key>
    <string>danuktaguru.glif</string>
    <key>danuktaprehalfguru</key>
    <string>danuktaprehalfguru.glif</string>
    <key>daprehalfguru</key>
    <string>daprehalfguru.glif</string>
    <key>dbldanda.guru</key>
    <string>dbldanda.guru.glif</string>
    <key>ddaguru</key>
    <string>ddaguru.glif</string>
    <key>ddanuktaprehalfguru</key>
    <string>ddanuktaprehalfguru.glif</string>
    <key>ddaprehalfguru</key>
    <string>ddaprehalfguru.glif</string>
    <key>ddhaguru</key>
    <string>ddhaguru.glif</string>
    <key>ddhanuktaguru</key>
    <string>ddhanuktaguru.glif</string>
    <key>ddhanuktaprehalfguru</key>
    <string>ddhanuktaprehalfguru.glif</string>
    <key>ddhaprehalfguru</key>
    <string>ddhaprehalfguru.glif</string>
    <key>dhaguru</key>
    <string>dhaguru.glif</string>
    <key>dhanuktaguru</key>
    <string>dhanuktaguru.glif</string>
    <key>dhanuktaprehalfguru</key>
    <string>dhanuktaprehalfguru.glif</string>
    <key>dhaprehalfguru</key>
    <string>dhaprehalfguru.glif</string>
    <key>divide.guru</key>
    <string>divide.guru.glif</string>
    <key>eeaddakguru</key>
    <string>eeaddakguru.glif</string>
    <key>eebindiguru</key>
    <string>eebindiguru.glif</string>
    <key>eeguru</key>
    <string>eeguru.glif</string>
    <key>eematraaddakaltguru</key>
    <string>eematraaddakaltguru.glif</string>
    <key>eematraaddakguru</key>
    <string>eematraaddakguru.glif</string>
    <key>eematrabindiguru</key>
    <string>eematrabindiguru.glif</string>
    <key>eematraguru</key>
    <string>eematraguru.glif</string>
    <key>eight.guru</key>
    <string>eight.guru.glif</string>
    <key>eightguru</key>
    <string>eightguru.glif</string>
    <key>ekonkarguru</key>
    <string>ekonkarguru.glif</string>
    <key>ellipsis.guru</key>
    <string>ellipsis.guru.glif</string>
    <key>emdash.guru</key>
    <string>emdash.guru.glif</string>
    <key>endash.guru</key>
    <string>endash.guru.glif</string>
    <key>equal.guru</key>
    <string>equal.guru.glif</string>
    <key>exclam.guru</key>
    <string>exclam.guru.glif</string>
    <key>five.guru</key>
    <string>five.guru.glif</string>
    <key>fiveguru</key>
    <string>fiveguru.glif</string>
    <key>four.guru</key>
    <string>four.guru.glif</string>
    <key>fourguru</key>
    <string>fourguru.glif</string>
    <key>gaUIguru</key>
    <string>gaU_I_guru.glif</string>
    <key>gaguru</key>
    <string>gaguru.glif</string>
    <key>ganuktaguru</key>
    <string>ganuktaguru.glif</string>
    <key>ganuktaprehalfguru</key>
    <string>ganuktaprehalfguru.glif</string>
    <key>gaprehalfguru</key>
    <string>gaprehalfguru.glif</string>
    <key>ghaguru</key>
    <string>ghaguru.glif</string>
    <key>ghanuktaguru</key>
    <string>ghanuktaguru.glif</string>
    <key>ghanuktaprehalfguru</key>
    <string>ghanuktaprehalfguru.glif</string>
    <key>ghaprehalfguru</key>
    <string>ghaprehalfguru.glif</string>
    <key>greater.guru</key>
    <string>greater.guru.glif</string>
    <key>haguru</key>
    <string>haguru.glif</string>
    <key>halantguru</key>
    <string>halantguru.glif</string>
    <key>hanuktaguru</key>
    <string>hanuktaguru.glif</string>
    <key>hanuktaprehalfguru</key>
    <string>hanuktaprehalfguru.glif</string>
    <key>haprehalfguru</key>
    <string>haprehalfguru.glif</string>
    <key>hasubscript1UIguru</key>
    <string>hasubscript1U_I_guru.glif</string>
    <key>hasubscript1guru</key>
    <string>hasubscript1guru.glif</string>
    <key>hasubscriptUIguru</key>
    <string>hasubscriptU_I_guru.glif</string>
    <key>hasubscriptguru</key>
    <string>hasubscriptguru.glif</string>
    <key>hasubscripthalantUIguru</key>
    <string>hasubscripthalantU_I_guru.glif</string>
    <key>hasubscripthalantguru</key>
    <string>hasubscripthalantguru.glif</string>
    <key>hasubscriptuUIguru</key>
    <string>hasubscriptuU_I_guru.glif</string>
    <key>hasubscriptuguru</key>
    <string>hasubscriptuguru.glif</string>
    <key>hasubscriptuuUIguru</key>
    <string>hasubscriptuuU_I_guru.glif</string>
    <key>hasubscriptuuguru</key>
    <string>hasubscriptuuguru.glif</string>
    <key>hyphen.guru</key>
    <string>hyphen.guru.glif</string>
    <key>iguru</key>
    <string>iguru.glif</string>
    <key>iiaddakguru</key>
    <string>iiaddakguru.glif</string>
    <key>iibindiguru</key>
    <string>iibindiguru.glif</string>
    <key>iiguru</key>
    <string>iiguru.glif</string>
    <key>iimatraaddakguru</key>
    <string>iimatraaddakguru.glif</string>
    <key>iimatrabindiguru</key>
    <string>iimatrabindiguru.glif</string>
    <key>iimatraguru</key>
    <string>iimatraguru.glif</string>
    <key>imatraguru</key>
    <string>imatraguru.glif</string>
    <key>iriguru</key>
    <string>iriguru.glif</string>
    <key>jaguru</key>
    <string>jaguru.glif</string>
    <key>januktaguru</key>
    <string>januktaguru.glif</string>
    <key>januktaprehalfguru</key>
    <string>januktaprehalfguru.glif</string>
    <key>japrehalfguru</key>
    <string>japrehalfguru.glif</string>
    <key>jhaguru</key>
    <string>jhaguru.glif</string>
    <key>jhanuktaguru</key>
    <string>jhanuktaguru.glif</string>
    <key>jhanuktaprehalfguru</key>
    <string>jhanuktaprehalfguru.glif</string>
    <key>jhaprehalfguru</key>
    <string>jhaprehalfguru.glif</string>
    <key>kaUIguru</key>
    <string>kaU_I_guru.glif</string>
    <key>kaguru</key>
    <string>kaguru.glif</string>
    <key>kanuktaguru</key>
    <string>kanuktaguru.glif</string>
    <key>kanuktaprehalfguru</key>
    <string>kanuktaprehalfguru.glif</string>
    <key>kaprehalfguru</key>
    <string>kaprehalfguru.glif</string>
    <key>karaguru</key>
    <string>karaguru.glif</string>
    <key>khaguru</key>
    <string>khaguru.glif</string>
    <key>khanuktaguru</key>
    <string>khanuktaguru.glif</string>
    <key>khanuktaprehalfguru</key>
    <string>khanuktaprehalfguru.glif</string>
    <key>khaprehalfguru</key>
    <string>khaprehalfguru.glif</string>
    <key>laUIguru</key>
    <string>laU_I_guru.glif</string>
    <key>laguru</key>
    <string>laguru.glif</string>
    <key>lanuktaguru</key>
    <string>lanuktaguru.glif</string>
    <key>lanuktaprehalfguru</key>
    <string>lanuktaprehalfguru.glif</string>
    <key>laprehalfguru</key>
    <string>laprehalfguru.glif</string>
    <key>less.guru</key>
    <string>less.guru.glif</string>
    <key>maguru</key>
    <string>maguru.glif</string>
    <key>manuktaguru</key>
    <string>manuktaguru.glif</string>
    <key>manuktaprehalfguru</key>
    <string>manuktaprehalfguru.glif</string>
    <key>maprehalfguru</key>
    <string>maprehalfguru.glif</string>
    <key>minus.guru</key>
    <string>minus.guru.glif</string>
    <key>multiply.guru</key>
    <string>multiply.guru.glif</string>
    <key>naguru</key>
    <string>naguru.glif</string>
    <key>nanuktaguru</key>
    <string>nanuktaguru.glif</string>
    <key>nanuktaprehalfguru</key>
    <string>nanuktaprehalfguru.glif</string>
    <key>naprehalfguru</key>
    <string>naprehalfguru.glif</string>
    <key>ngaguru</key>
    <string>ngaguru.glif</string>
    <key>nganuktaguru</key>
    <string>nganuktaguru.glif</string>
    <key>nganuktaprehalfguru</key>
    <string>nganuktaprehalfguru.glif</string>
    <key>ngaprehalfguru</key>
    <string>ngaprehalfguru.glif</string>
    <key>nine.guru</key>
    <string>nine.guru.glif</string>
    <key>nineguru</key>
    <string>nineguru.glif</string>
    <key>nnaguru</key>
    <string>nnaguru.glif</string>
    <key>nnanuktaguru</key>
    <string>nnanuktaguru.glif</string>
    <key>nnanuktaprehalfguru</key>
    <string>nnanuktaprehalfguru.glif</string>
    <key>nnaprehalfguru</key>
    <string>nnaprehalfguru.glif</string>
    <key>nuktaguru</key>
    <string>nuktaguru.glif</string>
    <key>numbersign.guru</key>
    <string>numbersign.guru.glif</string>
    <key>nyaguru</key>
    <string>nyaguru.glif</string>
    <key>nyanuktaguru</key>
    <string>nyanuktaguru.glif</string>
    <key>nyanuktaprehalfguru</key>
    <string>nyanuktaprehalfguru.glif</string>
    <key>nyaprehalfguru</key>
    <string>nyaprehalfguru.glif</string>
    <key>one.guru</key>
    <string>one.guru.glif</string>
    <key>oneguru</key>
    <string>oneguru.glif</string>
    <key>ooaddakguru</key>
    <string>ooaddakguru.glif</string>
    <key>oobindiguru</key>
    <string>oobindiguru.glif</string>
    <key>ooguru</key>
    <string>ooguru.glif</string>
    <key>oomatra1guru</key>
    <string>oomatra1guru.glif</string>
    <key>oomatraaddakaltguru</key>
    <string>oomatraaddakaltguru.glif</string>
    <key>oomatraaddakguru</key>
    <string>oomatraaddakguru.glif</string>
    <key>oomatrabindi1guru</key>
    <string>oomatrabindi1guru.glif</string>
    <key>oomatrabindiguru</key>
    <string>oomatrabindiguru.glif</string>
    <key>oomatraguru</key>
    <string>oomatraguru.glif</string>
    <key>paguru</key>
    <string>paguru.glif</string>
    <key>panuktaguru</key>
    <string>panuktaguru.glif</string>
    <key>panuktaprehalfguru</key>
    <string>panuktaprehalfguru.glif</string>
    <key>paprehalfguru</key>
    <string>paprehalfguru.glif</string>
    <key>parenleft.guru</key>
    <string>parenleft.guru.glif</string>
    <key>parenright.guru</key>
    <string>parenright.guru.glif</string>
    <key>percent.guru</key>
    <string>percent.guru.glif</string>
    <key>period.guru</key>
    <string>period.guru.glif</string>
    <key>phaguru</key>
    <string>phaguru.glif</string>
    <key>phanuktaguru</key>
    <string>phanuktaguru.glif</string>
    <key>phanuktaprehalfguru</key>
    <string>phanuktaprehalfguru.glif</string>
    <key>phaprehalfguru</key>
    <string>phaprehalfguru.glif</string>
    <key>phunuktaguru</key>
    <string>phunuktaguru.glif</string>
    <key>phuunuktaUIguru</key>
    <string>phuunuktaU_I_guru.glif</string>
    <key>phuunuktaguru</key>
    <string>phuunuktaguru.glif</string>
    <key>plus.guru</key>
    <string>plus.guru.glif</string>
    <key>question.guru</key>
    <string>question.guru.glif</string>
    <key>quotedbl.guru</key>
    <string>quotedbl.guru.glif</string>
    <key>quotedblleft.guru</key>
    <string>quotedblleft.guru.glif</string>
    <key>quotedblright.guru</key>
    <string>quotedblright.guru.glif</string>
    <key>quoteleft.guru</key>
    <string>quoteleft.guru.glif</string>
    <key>quoteright.guru</key>
    <string>quoteright.guru.glif</string>
    <key>quotesingle.guru</key>
    <string>quotesingle.guru.glif</string>
    <key>raUIguru</key>
    <string>raU_I_guru.glif</string>
    <key>raguru</key>
    <string>raguru.glif</string>
    <key>ranuktaguru</key>
    <string>ranuktaguru.glif</string>
    <key>ranuktaprehalfguru</key>
    <string>ranuktaprehalfguru.glif</string>
    <key>raprehalfguru</key>
    <string>raprehalfguru.glif</string>
    <key>rasubscript1guru</key>
    <string>rasubscript1guru.glif</string>
    <key>rasubscriptguru</key>
    <string>rasubscriptguru.glif</string>
    <key>rasubscripthalantUIguru</key>
    <string>rasubscripthalantU_I_guru.glif</string>
    <key>rasubscripthalantguru</key>
    <string>rasubscripthalantguru.glif</string>
    <key>rasubscriptuUIguru</key>
    <string>rasubscriptuU_I_guru.glif</string>
    <key>rasubscriptuguru</key>
    <string>rasubscriptuguru.glif</string>
    <key>rasubscriptuuUIguru</key>
    <string>rasubscriptuuU_I_guru.glif</string>
    <key>rasubscriptuuguru</key>
    <string>rasubscriptuuguru.glif</string>
    <key>rraguru</key>
    <string>rraguru.glif</string>
    <key>saguru</key>
    <string>saguru.glif</string>
    <key>sanuktaUIguru</key>
    <string>sanuktaU_I_guru.glif</string>
    <key>sanuktaguru</key>
    <string>sanuktaguru.glif</string>
    <key>sanuktaprehalfguru</key>
    <string>sanuktaprehalfguru.glif</string>
    <key>saprehalfguru</key>
    <string>saprehalfguru.glif</string>
    <key>semicolon.guru</key>
    <string>semicolon.guru.glif</string>
    <key>seven.guru</key>
    <string>seven.guru.glif</string>
    <key>sevenguru</key>
    <string>sevenguru.glif</string>
    <key>sfthyphen.guru</key>
    <string>sfthyphen.guru.glif</string>
    <key>six.guru</key>
    <string>six.guru.glif</string>
    <key>sixguru</key>
    <string>sixguru.glif</string>
    <key>slash.guru</key>
    <string>slash.guru.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>taUIguru</key>
    <string>taU_I_guru.glif</string>
    <key>taguru</key>
    <string>taguru.glif</string>
    <key>tanuktaguru</key>
    <string>tanuktaguru.glif</string>
    <key>tanuktaprehalfguru</key>
    <string>tanuktaprehalfguru.glif</string>
    <key>taprehalfguru</key>
    <string>taprehalfguru.glif</string>
    <key>thaguru</key>
    <string>thaguru.glif</string>
    <key>thanuktaguru</key>
    <string>thanuktaguru.glif</string>
    <key>thanuktaprehalfguru</key>
    <string>thanuktaprehalfguru.glif</string>
    <key>thaprehalfguru</key>
    <string>thaprehalfguru.glif</string>
    <key>three.guru</key>
    <string>three.guru.glif</string>
    <key>threeguru</key>
    <string>threeguru.glif</string>
    <key>tippiguru</key>
    <string>tippiguru.glif</string>
    <key>ttaguru</key>
    <string>ttaguru.glif</string>
    <key>ttanuktaguru</key>
    <string>ttanuktaguru.glif</string>
    <key>ttanuktaprehalfguru</key>
    <string>ttanuktaprehalfguru.glif</string>
    <key>ttaprehalfguru</key>
    <string>ttaprehalfguru.glif</string>
    <key>tthaguru</key>
    <string>tthaguru.glif</string>
    <key>tthanuktaguru</key>
    <string>tthanuktaguru.glif</string>
    <key>tthanuktaprehalfguru</key>
    <string>tthanuktaprehalfguru.glif</string>
    <key>tthaprehalfguru</key>
    <string>tthaprehalfguru.glif</string>
    <key>two.guru</key>
    <string>two.guru.glif</string>
    <key>twoguru</key>
    <string>twoguru.glif</string>
    <key>uaddakaltguru</key>
    <string>uaddakaltguru.glif</string>
    <key>uaddakguru</key>
    <string>uaddakguru.glif</string>
    <key>ubindiguru</key>
    <string>ubindiguru.glif</string>
    <key>ubindinuktaguru</key>
    <string>ubindinuktaguru.glif</string>
    <key>udaatUIguru</key>
    <string>udaatU_I_guru.glif</string>
    <key>udaatguru</key>
    <string>udaatguru.glif</string>
    <key>udaathalantUIguru</key>
    <string>udaathalantU_I_guru.glif</string>
    <key>udaathalantguru</key>
    <string>udaathalantguru.glif</string>
    <key>udaatuUIguru</key>
    <string>udaatuU_I_guru.glif</string>
    <key>udaatuguru</key>
    <string>udaatuguru.glif</string>
    <key>udaatuuUIguru</key>
    <string>udaatuuU_I_guru.glif</string>
    <key>udaatuuguru</key>
    <string>udaatuuguru.glif</string>
    <key>uguru</key>
    <string>uguru.glif</string>
    <key>umatraguru</key>
    <string>umatraguru.glif</string>
    <key>umatralow1guru</key>
    <string>umatralow1guru.glif</string>
    <key>umatralowUIguru</key>
    <string>umatralowU_I_guru.glif</string>
    <key>umatralowguru</key>
    <string>umatralowguru.glif</string>
    <key>underscore.guru</key>
    <string>underscore.guru.glif</string>
    <key>uni00A0.guru</key>
    <string>uni00A_0.guru.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni0A76</key>
    <string>uni0A_76.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni20B9.guru</key>
    <string>uni20B_9.guru.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni262C</key>
    <string>uni262C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
    <key>unuktaaddakguru</key>
    <string>unuktaaddakguru.glif</string>
    <key>unuktaguru</key>
    <string>unuktaguru.glif</string>
    <key>uraaddakguru</key>
    <string>uraaddakguru.glif</string>
    <key>uraguru</key>
    <string>uraguru.glif</string>
    <key>uuUIaddakguru</key>
    <string>uuU_I_addakguru.glif</string>
    <key>uuUIguru</key>
    <string>uuU_I_guru.glif</string>
    <key>uuaddakguru</key>
    <string>uuaddakguru.glif</string>
    <key>uubindiUIguru</key>
    <string>uubindiU_I_guru.glif</string>
    <key>uubindiguru</key>
    <string>uubindiguru.glif</string>
    <key>uubindinuktaUIguru</key>
    <string>uubindinuktaU_I_guru.glif</string>
    <key>uubindinuktaguru</key>
    <string>uubindinuktaguru.glif</string>
    <key>uuguru</key>
    <string>uuguru.glif</string>
    <key>uumatraUIguru</key>
    <string>uumatraU_I_guru.glif</string>
    <key>uumatraguru</key>
    <string>uumatraguru.glif</string>
    <key>uumatralowUIguru</key>
    <string>uumatralowU_I_guru.glif</string>
    <key>uumatralowguru</key>
    <string>uumatralowguru.glif</string>
    <key>uunuktaUIaddakguru</key>
    <string>uunuktaU_I_addakguru.glif</string>
    <key>uunuktaUIguru</key>
    <string>uunuktaU_I_guru.glif</string>
    <key>uunuktaaddakguru</key>
    <string>uunuktaaddakguru.glif</string>
    <key>uunuktaguru</key>
    <string>uunuktaguru.glif</string>
    <key>vaguru</key>
    <string>vaguru.glif</string>
    <key>vanuktaguru</key>
    <string>vanuktaguru.glif</string>
    <key>vanuktaprehalfguru</key>
    <string>vanuktaprehalfguru.glif</string>
    <key>vaprehalfguru</key>
    <string>vaprehalfguru.glif</string>
    <key>vasubscript1UIguru</key>
    <string>vasubscript1U_I_guru.glif</string>
    <key>vasubscript1guru</key>
    <string>vasubscript1guru.glif</string>
    <key>vasubscriptUIguru</key>
    <string>vasubscriptU_I_guru.glif</string>
    <key>vasubscriptguru</key>
    <string>vasubscriptguru.glif</string>
    <key>vasubscripthalantUIguru</key>
    <string>vasubscripthalantU_I_guru.glif</string>
    <key>vasubscripthalantguru</key>
    <string>vasubscripthalantguru.glif</string>
    <key>vasubscriptuUIguru</key>
    <string>vasubscriptuU_I_guru.glif</string>
    <key>vasubscriptuguru</key>
    <string>vasubscriptuguru.glif</string>
    <key>vasubscriptuuUIguru</key>
    <string>vasubscriptuuU_I_guru.glif</string>
    <key>vasubscriptuuguru</key>
    <string>vasubscriptuuguru.glif</string>
    <key>visargaguru</key>
    <string>visargaguru.glif</string>
    <key>yaguru</key>
    <string>yaguru.glif</string>
    <key>yakashUIguru</key>
    <string>yakashU_I_guru.glif</string>
    <key>yakashguru</key>
    <string>yakashguru.glif</string>
    <key>yakashhalantUIguru</key>
    <string>yakashhalantU_I_guru.glif</string>
    <key>yakashhalantguru</key>
    <string>yakashhalantguru.glif</string>
    <key>yakashuUIguru</key>
    <string>yakashuU_I_guru.glif</string>
    <key>yakashuguru</key>
    <string>yakashuguru.glif</string>
    <key>yakashuuUIguru</key>
    <string>yakashuuU_I_guru.glif</string>
    <key>yakashuuguru</key>
    <string>yakashuuguru.glif</string>
    <key>yanuktaguru</key>
    <string>yanuktaguru.glif</string>
    <key>yanuktaprehalfguru</key>
    <string>yanuktaprehalfguru.glif</string>
    <key>yapostformguru</key>
    <string>yapostformguru.glif</string>
    <key>yaprehalfguru</key>
    <string>yaprehalfguru.glif</string>
    <key>zero.guru</key>
    <string>zero.guru.glif</string>
    <key>zeroguru</key>
    <string>zeroguru.glif</string>
  </dict>
</plist>
