<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a_kannada</key>
    <string>a_kannada.glif</string>
    <key>aaMatra_kannada</key>
    <string>aaM_atra_kannada.glif</string>
    <key>aa_kannada</key>
    <string>aa_kannada.glif</string>
    <key>aiMatra_kannada</key>
    <string>aiM_atra_kannada.glif</string>
    <key>ai_kannada</key>
    <string>ai_kannada.glif</string>
    <key>ailength_kannada</key>
    <string>ailength_kannada.glif</string>
    <key>anudatta_deva</key>
    <string>anudatta_deva.glif</string>
    <key>anudatta_deva.low</key>
    <string>anudatta_deva.low.glif</string>
    <key>anudatta_deva.lower</key>
    <string>anudatta_deva.lower.glif</string>
    <key>anusvara_kannada</key>
    <string>anusvara_kannada.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>auMatra_kannada</key>
    <string>auM_atra_kannada.glif</string>
    <key>au_kannada</key>
    <string>au_kannada.glif</string>
    <key>avagraha_kannada</key>
    <string>avagraha_kannada.glif</string>
    <key>b_kannada</key>
    <string>b_kannada.glif</string>
    <key>ba_kannada</key>
    <string>ba_kannada.glif</string>
    <key>ba_kannada.base</key>
    <string>ba_kannada.base.glif</string>
    <key>ba_kannada.below</key>
    <string>ba_kannada.below.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>be_kannada</key>
    <string>be_kannada.glif</string>
    <key>bh_kannada</key>
    <string>bh_kannada.glif</string>
    <key>bha_kannada</key>
    <string>bha_kannada.glif</string>
    <key>bha_kannada.base</key>
    <string>bha_kannada.base.glif</string>
    <key>bha_kannada.below</key>
    <string>bha_kannada.below.glif</string>
    <key>bhe_kannada</key>
    <string>bhe_kannada.glif</string>
    <key>bhi_kannada</key>
    <string>bhi_kannada.glif</string>
    <key>bi_kannada</key>
    <string>bi_kannada.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c_kannada</key>
    <string>c_kannada.glif</string>
    <key>ca_kannada</key>
    <string>ca_kannada.glif</string>
    <key>ca_kannada.base</key>
    <string>ca_kannada.base.glif</string>
    <key>ca_kannada.below</key>
    <string>ca_kannada.below.glif</string>
    <key>caa_kannada</key>
    <string>caa_kannada.glif</string>
    <key>candrabindu_1CDA_knda</key>
    <string>candrabindu_1C_D_A__knda.glif</string>
    <key>candrabindu_anudatta_knda</key>
    <string>candrabindu_anudatta_knda.glif</string>
    <key>candrabindu_kannada</key>
    <string>candrabindu_kannada.glif</string>
    <key>candrabindu_udatta_knda</key>
    <string>candrabindu_udatta_knda.glif</string>
    <key>cau_kannada</key>
    <string>cau_kannada.glif</string>
    <key>ce_kannada</key>
    <string>ce_kannada.glif</string>
    <key>ch_kannada</key>
    <string>ch_kannada.glif</string>
    <key>cha_kannada</key>
    <string>cha_kannada.glif</string>
    <key>cha_kannada.base</key>
    <string>cha_kannada.base.glif</string>
    <key>cha_kannada.below</key>
    <string>cha_kannada.below.glif</string>
    <key>che_kannada</key>
    <string>che_kannada.glif</string>
    <key>chi_kannada</key>
    <string>chi_kannada.glif</string>
    <key>ci_kannada</key>
    <string>ci_kannada.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d_kannada</key>
    <string>d_kannada.glif</string>
    <key>da_kannada</key>
    <string>da_kannada.glif</string>
    <key>da_kannada.base</key>
    <string>da_kannada.base.glif</string>
    <key>da_kannada.below</key>
    <string>da_kannada.below.glif</string>
    <key>danda_deva</key>
    <string>danda_deva.glif</string>
    <key>dbldanda_deva</key>
    <string>dbldanda_deva.glif</string>
    <key>dd_kannada</key>
    <string>dd_kannada.glif</string>
    <key>dda_kannada</key>
    <string>dda_kannada.glif</string>
    <key>dda_kannada.base</key>
    <string>dda_kannada.base.glif</string>
    <key>dda_kannada.below</key>
    <string>dda_kannada.below.glif</string>
    <key>dde_kannada</key>
    <string>dde_kannada.glif</string>
    <key>ddh_kannada</key>
    <string>ddh_kannada.glif</string>
    <key>ddha_kannada</key>
    <string>ddha_kannada.glif</string>
    <key>ddha_kannada.base</key>
    <string>ddha_kannada.base.glif</string>
    <key>ddha_kannada.below</key>
    <string>ddha_kannada.below.glif</string>
    <key>ddhe_kannada</key>
    <string>ddhe_kannada.glif</string>
    <key>ddhi_kannada</key>
    <string>ddhi_kannada.glif</string>
    <key>ddi_kannada</key>
    <string>ddi_kannada.glif</string>
    <key>de_kannada</key>
    <string>de_kannada.glif</string>
    <key>dh_kannada</key>
    <string>dh_kannada.glif</string>
    <key>dha_kannada</key>
    <string>dha_kannada.glif</string>
    <key>dha_kannada.base</key>
    <string>dha_kannada.base.glif</string>
    <key>dha_kannada.below</key>
    <string>dha_kannada.below.glif</string>
    <key>dhe_kannada</key>
    <string>dhe_kannada.glif</string>
    <key>dhi_kannada</key>
    <string>dhi_kannada.glif</string>
    <key>di_kannada</key>
    <string>di_kannada.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubleSvarita_vedic</key>
    <string>doubleS_varita_vedic.glif</string>
    <key>eMatra_kannada</key>
    <string>eM_atra_kannada.glif</string>
    <key>e_kannada</key>
    <string>e_kannada.glif</string>
    <key>eeMatra_kannada</key>
    <string>eeM_atra_kannada.glif</string>
    <key>ee_kannada</key>
    <string>ee_kannada.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight_kannada</key>
    <string>eight_kannada.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five_kannada</key>
    <string>five_kannada.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four_kannada</key>
    <string>four_kannada.glif</string>
    <key>fractionOneEighth_cinf</key>
    <string>fractionO_neE_ighth_cinf.glif</string>
    <key>fractionOneHalf_cinf</key>
    <string>fractionO_neH_alf_cinf.glif</string>
    <key>fractionOneQuarter_cinf</key>
    <string>fractionO_neQ_uarter_cinf.glif</string>
    <key>fractionOneSixteenth_cinf</key>
    <string>fractionO_neS_ixteenth_cinf.glif</string>
    <key>fractionThreeQuarters_cinf</key>
    <string>fractionT_hreeQ_uarters_cinf.glif</string>
    <key>fractionThreeSixteenths_cinf</key>
    <string>fractionT_hreeS_ixteenths_cinf.glif</string>
    <key>g_kannada</key>
    <string>g_kannada.glif</string>
    <key>ga_kannada</key>
    <string>ga_kannada.glif</string>
    <key>ga_kannada.base</key>
    <string>ga_kannada.base.glif</string>
    <key>ga_kannada.below</key>
    <string>ga_kannada.below.glif</string>
    <key>ge_kannada</key>
    <string>ge_kannada.glif</string>
    <key>gh_kannada</key>
    <string>gh_kannada.glif</string>
    <key>gha_kannada</key>
    <string>gha_kannada.glif</string>
    <key>gha_kannada.base</key>
    <string>gha_kannada.base.glif</string>
    <key>gha_kannada.below</key>
    <string>gha_kannada.below.glif</string>
    <key>ghaa_kannada</key>
    <string>ghaa_kannada.glif</string>
    <key>ghau_kannada</key>
    <string>ghau_kannada.glif</string>
    <key>ghe_kannada</key>
    <string>ghe_kannada.glif</string>
    <key>ghi_kannada</key>
    <string>ghi_kannada.glif</string>
    <key>gho_kannada</key>
    <string>gho_kannada.glif</string>
    <key>ghu_kannada</key>
    <string>ghu_kannada.glif</string>
    <key>ghuu_kannada</key>
    <string>ghuu_kannada.glif</string>
    <key>gi_kannada</key>
    <string>gi_kannada.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h_kannada</key>
    <string>h_kannada.glif</string>
    <key>ha_kannada</key>
    <string>ha_kannada.glif</string>
    <key>ha_kannada.base</key>
    <string>ha_kannada.base.glif</string>
    <key>ha_kannada.below</key>
    <string>ha_kannada.below.glif</string>
    <key>halant_kannada</key>
    <string>halant_kannada.glif</string>
    <key>halant_kannada.calt</key>
    <string>halant_kannada.calt.glif</string>
    <key>he_kannada</key>
    <string>he_kannada.glif</string>
    <key>hi_kannada</key>
    <string>hi_kannada.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>iMatra_kannada</key>
    <string>iM_atra_kannada.glif</string>
    <key>i_kannada</key>
    <string>i_kannada.glif</string>
    <key>iiMatra_kannada</key>
    <string>iiM_atra_kannada.glif</string>
    <key>ii_kannada</key>
    <string>ii_kannada.glif</string>
    <key>j_kannada</key>
    <string>j_kannada.glif</string>
    <key>j_ny_kannada</key>
    <string>j_ny_kannada.glif</string>
    <key>j_nya_kannada</key>
    <string>j_nya_kannada.glif</string>
    <key>j_nya_kannada.base</key>
    <string>j_nya_kannada.base.glif</string>
    <key>j_nya_kannada.below</key>
    <string>j_nya_kannada.below.glif</string>
    <key>j_nye_kannada</key>
    <string>j_nye_kannada.glif</string>
    <key>j_nyi_kannada</key>
    <string>j_nyi_kannada.glif</string>
    <key>ja_kannada</key>
    <string>ja_kannada.glif</string>
    <key>ja_kannada.base</key>
    <string>ja_kannada.base.glif</string>
    <key>ja_kannada.below</key>
    <string>ja_kannada.below.glif</string>
    <key>ja_nukta_kannada.below</key>
    <string>ja_nukta_kannada.below.glif</string>
    <key>jaa_kannada</key>
    <string>jaa_kannada.glif</string>
    <key>jau_kannada</key>
    <string>jau_kannada.glif</string>
    <key>je_kannada</key>
    <string>je_kannada.glif</string>
    <key>jh_kannada</key>
    <string>jh_kannada.glif</string>
    <key>jha_kannada</key>
    <string>jha_kannada.glif</string>
    <key>jha_kannada.base</key>
    <string>jha_kannada.base.glif</string>
    <key>jha_kannada.below</key>
    <string>jha_kannada.below.glif</string>
    <key>jhe_kannada</key>
    <string>jhe_kannada.glif</string>
    <key>jhi_kannada</key>
    <string>jhi_kannada.glif</string>
    <key>jho_kannada</key>
    <string>jho_kannada.glif</string>
    <key>ji_kannada</key>
    <string>ji_kannada.glif</string>
    <key>jihvamuliyaSign_vedic</key>
    <string>jihvamuliyaS_ign_vedic.glif</string>
    <key>jihvamuliya_kannada</key>
    <string>jihvamuliya_kannada.glif</string>
    <key>jo_kannada</key>
    <string>jo_kannada.glif</string>
    <key>ju_kannada</key>
    <string>ju_kannada.glif</string>
    <key>juu_kannada</key>
    <string>juu_kannada.glif</string>
    <key>k_kannada</key>
    <string>k_kannada.glif</string>
    <key>k_ss_kannada</key>
    <string>k_ss_kannada.glif</string>
    <key>k_ssa_kannada</key>
    <string>k_ssa_kannada.glif</string>
    <key>k_ssa_kannada.base</key>
    <string>k_ssa_kannada.base.glif</string>
    <key>k_ssa_kannada.below</key>
    <string>k_ssa_kannada.below.glif</string>
    <key>k_sse_kannada</key>
    <string>k_sse_kannada.glif</string>
    <key>k_ssi_kannada</key>
    <string>k_ssi_kannada.glif</string>
    <key>ka_kannada</key>
    <string>ka_kannada.glif</string>
    <key>ka_kannada.base</key>
    <string>ka_kannada.base.glif</string>
    <key>ka_kannada.below</key>
    <string>ka_kannada.below.glif</string>
    <key>ke_kannada</key>
    <string>ke_kannada.glif</string>
    <key>kh_kannada</key>
    <string>kh_kannada.glif</string>
    <key>kha_kannada</key>
    <string>kha_kannada.glif</string>
    <key>kha_kannada.base</key>
    <string>kha_kannada.base.glif</string>
    <key>kha_kannada.below</key>
    <string>kha_kannada.below.glif</string>
    <key>khe_kannada</key>
    <string>khe_kannada.glif</string>
    <key>khi_kannada</key>
    <string>khi_kannada.glif</string>
    <key>ki_kannada</key>
    <string>ki_kannada.glif</string>
    <key>lVocalicMatra_kannada</key>
    <string>lV_ocalicM_atra_kannada.glif</string>
    <key>lVocalic_kannada</key>
    <string>lV_ocalic_kannada.glif</string>
    <key>l_kannada</key>
    <string>l_kannada.glif</string>
    <key>la_kannada</key>
    <string>la_kannada.glif</string>
    <key>la_kannada.base</key>
    <string>la_kannada.base.glif</string>
    <key>la_kannada.below</key>
    <string>la_kannada.below.glif</string>
    <key>le_kannada</key>
    <string>le_kannada.glif</string>
    <key>length_kannada</key>
    <string>length_kannada.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>li_kannada</key>
    <string>li_kannada.glif</string>
    <key>llVocalicMatra_kannada</key>
    <string>llV_ocalicM_atra_kannada.glif</string>
    <key>llVocalic_kannada</key>
    <string>llV_ocalic_kannada.glif</string>
    <key>ll_kannada</key>
    <string>ll_kannada.glif</string>
    <key>lla_kannada</key>
    <string>lla_kannada.glif</string>
    <key>lla_kannada.base</key>
    <string>lla_kannada.base.glif</string>
    <key>lla_kannada.below</key>
    <string>lla_kannada.below.glif</string>
    <key>lle_kannada</key>
    <string>lle_kannada.glif</string>
    <key>lli_kannada</key>
    <string>lli_kannada.glif</string>
    <key>lll_kannada</key>
    <string>lll_kannada.glif</string>
    <key>llla_kannada</key>
    <string>llla_kannada.glif</string>
    <key>llla_kannada.base</key>
    <string>llla_kannada.base.glif</string>
    <key>llla_kannada.below</key>
    <string>llla_kannada.below.glif</string>
    <key>lllaa_kannada</key>
    <string>lllaa_kannada.glif</string>
    <key>lllau_kannada</key>
    <string>lllau_kannada.glif</string>
    <key>llle_kannada</key>
    <string>llle_kannada.glif</string>
    <key>llli_kannada</key>
    <string>llli_kannada.glif</string>
    <key>lllo_kannada</key>
    <string>lllo_kannada.glif</string>
    <key>llo_kannada</key>
    <string>llo_kannada.glif</string>
    <key>llu_kannada</key>
    <string>llu_kannada.glif</string>
    <key>lluu_kannada</key>
    <string>lluu_kannada.glif</string>
    <key>m_kannada</key>
    <string>m_kannada.glif</string>
    <key>ma_kannada</key>
    <string>ma_kannada.glif</string>
    <key>ma_kannada.base</key>
    <string>ma_kannada.base.glif</string>
    <key>ma_kannada.below</key>
    <string>ma_kannada.below.glif</string>
    <key>me_kannada</key>
    <string>me_kannada.glif</string>
    <key>mi_kannada</key>
    <string>mi_kannada.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mo_kannada</key>
    <string>mo_kannada.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n_kannada</key>
    <string>n_kannada.glif</string>
    <key>na_kannada</key>
    <string>na_kannada.glif</string>
    <key>na_kannada.base</key>
    <string>na_kannada.base.glif</string>
    <key>na_kannada.below</key>
    <string>na_kannada.below.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ne_kannada</key>
    <string>ne_kannada.glif</string>
    <key>ng_kannada</key>
    <string>ng_kannada.glif</string>
    <key>nga_kannada</key>
    <string>nga_kannada.glif</string>
    <key>nga_kannada.base</key>
    <string>nga_kannada.base.glif</string>
    <key>nga_kannada.below</key>
    <string>nga_kannada.below.glif</string>
    <key>ngaa_kannada</key>
    <string>ngaa_kannada.glif</string>
    <key>ngau_kannada</key>
    <string>ngau_kannada.glif</string>
    <key>nge_kannada</key>
    <string>nge_kannada.glif</string>
    <key>ngi_kannada</key>
    <string>ngi_kannada.glif</string>
    <key>ngo_kannada</key>
    <string>ngo_kannada.glif</string>
    <key>ni_kannada</key>
    <string>ni_kannada.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine_kannada</key>
    <string>nine_kannada.glif</string>
    <key>nn_kannada</key>
    <string>nn_kannada.glif</string>
    <key>nna_kannada</key>
    <string>nna_kannada.glif</string>
    <key>nna_kannada.base</key>
    <string>nna_kannada.base.glif</string>
    <key>nna_kannada.below</key>
    <string>nna_kannada.below.glif</string>
    <key>nnaa_kannada</key>
    <string>nnaa_kannada.glif</string>
    <key>nnau_kannada</key>
    <string>nnau_kannada.glif</string>
    <key>nne_kannada</key>
    <string>nne_kannada.glif</string>
    <key>nni_kannada</key>
    <string>nni_kannada.glif</string>
    <key>nukta_kannada</key>
    <string>nukta_kannada.glif</string>
    <key>nukta_kannada.calt</key>
    <string>nukta_kannada.calt.glif</string>
    <key>nukta_kannada.calt.01</key>
    <string>nukta_kannada.calt.01.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ny_kannada</key>
    <string>ny_kannada.glif</string>
    <key>nya_kannada</key>
    <string>nya_kannada.glif</string>
    <key>nya_kannada.base</key>
    <string>nya_kannada.base.glif</string>
    <key>nya_kannada.below</key>
    <string>nya_kannada.below.glif</string>
    <key>nyaa_kannada</key>
    <string>nyaa_kannada.glif</string>
    <key>nyau_kannada</key>
    <string>nyau_kannada.glif</string>
    <key>nye_kannada</key>
    <string>nye_kannada.glif</string>
    <key>nyi_kannada</key>
    <string>nyi_kannada.glif</string>
    <key>nyo_kannada</key>
    <string>nyo_kannada.glif</string>
    <key>oMatra_kannada</key>
    <string>oM_atra_kannada.glif</string>
    <key>o_kannada</key>
    <string>o_kannada.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one_kannada</key>
    <string>one_kannada.glif</string>
    <key>ooMatra_kannada</key>
    <string>ooM_atra_kannada.glif</string>
    <key>oo_kannada</key>
    <string>oo_kannada.glif</string>
    <key>p_kannada</key>
    <string>p_kannada.glif</string>
    <key>pa_kannada</key>
    <string>pa_kannada.glif</string>
    <key>pa_kannada.base</key>
    <string>pa_kannada.base.glif</string>
    <key>pa_kannada.below</key>
    <string>pa_kannada.below.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pe_kannada</key>
    <string>pe_kannada.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>ph_kannada</key>
    <string>ph_kannada.glif</string>
    <key>pha_kannada</key>
    <string>pha_kannada.glif</string>
    <key>pha_kannada.base</key>
    <string>pha_kannada.base.glif</string>
    <key>pha_kannada.below</key>
    <string>pha_kannada.below.glif</string>
    <key>pha_nukta_kannada.below</key>
    <string>pha_nukta_kannada.below.glif</string>
    <key>phaa_kannada</key>
    <string>phaa_kannada.glif</string>
    <key>phau_kannada</key>
    <string>phau_kannada.glif</string>
    <key>phe_kannada</key>
    <string>phe_kannada.glif</string>
    <key>phi_kannada</key>
    <string>phi_kannada.glif</string>
    <key>pho_kannada</key>
    <string>pho_kannada.glif</string>
    <key>phu_kannada</key>
    <string>phu_kannada.glif</string>
    <key>phuu_kannada</key>
    <string>phuu_kannada.glif</string>
    <key>pi_kannada</key>
    <string>pi_kannada.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>po_kannada</key>
    <string>po_kannada.glif</string>
    <key>pu_kannada</key>
    <string>pu_kannada.glif</string>
    <key>puu_kannada</key>
    <string>puu_kannada.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>rVocalicMatra_kannada</key>
    <string>rV_ocalicM_atra_kannada.glif</string>
    <key>rVocalic_kannada</key>
    <string>rV_ocalic_kannada.glif</string>
    <key>r_kannada</key>
    <string>r_kannada.glif</string>
    <key>ra_kannada</key>
    <string>ra_kannada.glif</string>
    <key>ra_kannada.base</key>
    <string>ra_kannada.base.glif</string>
    <key>ra_kannada.below</key>
    <string>ra_kannada.below.glif</string>
    <key>re_kannada</key>
    <string>re_kannada.glif</string>
    <key>reph_kannada</key>
    <string>reph_kannada.glif</string>
    <key>ri_kannada</key>
    <string>ri_kannada.glif</string>
    <key>rrVocalicMatra_kannada</key>
    <string>rrV_ocalicM_atra_kannada.glif</string>
    <key>rrVocalic_kannada</key>
    <string>rrV_ocalic_kannada.glif</string>
    <key>rr_kannada</key>
    <string>rr_kannada.glif</string>
    <key>rra_kannada</key>
    <string>rra_kannada.glif</string>
    <key>rra_kannada.base</key>
    <string>rra_kannada.base.glif</string>
    <key>rra_kannada.below</key>
    <string>rra_kannada.below.glif</string>
    <key>rraa_kannada</key>
    <string>rraa_kannada.glif</string>
    <key>rrau_kannada</key>
    <string>rrau_kannada.glif</string>
    <key>rre_kannada</key>
    <string>rre_kannada.glif</string>
    <key>rri_kannada</key>
    <string>rri_kannada.glif</string>
    <key>rro_kannada</key>
    <string>rro_kannada.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s_kannada</key>
    <string>s_kannada.glif</string>
    <key>sa_kannada</key>
    <string>sa_kannada.glif</string>
    <key>sa_kannada.base</key>
    <string>sa_kannada.base.glif</string>
    <key>sa_kannada.below</key>
    <string>sa_kannada.below.glif</string>
    <key>se_kannada</key>
    <string>se_kannada.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven_kannada</key>
    <string>seven_kannada.glif</string>
    <key>sh_kannada</key>
    <string>sh_kannada.glif</string>
    <key>sh_ri_kannada</key>
    <string>sh_ri_kannada.glif</string>
    <key>sha_kannada</key>
    <string>sha_kannada.glif</string>
    <key>sha_kannada.base</key>
    <string>sha_kannada.base.glif</string>
    <key>sha_kannada.below</key>
    <string>sha_kannada.below.glif</string>
    <key>she_kannada</key>
    <string>she_kannada.glif</string>
    <key>shi_kannada</key>
    <string>shi_kannada.glif</string>
    <key>si_kannada</key>
    <string>si_kannada.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six_kannada</key>
    <string>six_kannada.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>spacingCandrabindu_kannada</key>
    <string>spacingC_andrabindu_kannada.glif</string>
    <key>ss_kannada</key>
    <string>ss_kannada.glif</string>
    <key>ssa_kannada</key>
    <string>ssa_kannada.glif</string>
    <key>ssa_kannada.base</key>
    <string>ssa_kannada.base.glif</string>
    <key>ssa_kannada.below</key>
    <string>ssa_kannada.below.glif</string>
    <key>sse_kannada</key>
    <string>sse_kannada.glif</string>
    <key>ssi_kannada</key>
    <string>ssi_kannada.glif</string>
    <key>t_ailength_kannada.below</key>
    <string>t_ailength_kannada.below.glif</string>
    <key>t_kannada</key>
    <string>t_kannada.glif</string>
    <key>t_rVocalicMatra_kannada.below</key>
    <string>t_rV_ocalicM_atra_kannada.below.glif</string>
    <key>t_ya_kannada.below</key>
    <string>t_ya_kannada.below.glif</string>
    <key>ta_kannada</key>
    <string>ta_kannada.glif</string>
    <key>ta_kannada.base</key>
    <string>ta_kannada.base.glif</string>
    <key>ta_kannada.below</key>
    <string>ta_kannada.below.glif</string>
    <key>te_kannada</key>
    <string>te_kannada.glif</string>
    <key>th_kannada</key>
    <string>th_kannada.glif</string>
    <key>tha_kannada</key>
    <string>tha_kannada.glif</string>
    <key>tha_kannada.base</key>
    <string>tha_kannada.base.glif</string>
    <key>tha_kannada.below</key>
    <string>tha_kannada.below.glif</string>
    <key>the_kannada</key>
    <string>the_kannada.glif</string>
    <key>thi_kannada</key>
    <string>thi_kannada.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three_kannada</key>
    <string>three_kannada.glif</string>
    <key>ti_kannada</key>
    <string>ti_kannada.glif</string>
    <key>tt_kannada</key>
    <string>tt_kannada.glif</string>
    <key>tta_kannada</key>
    <string>tta_kannada.glif</string>
    <key>tta_kannada.base</key>
    <string>tta_kannada.base.glif</string>
    <key>tta_kannada.below</key>
    <string>tta_kannada.below.glif</string>
    <key>ttaa_kannada</key>
    <string>ttaa_kannada.glif</string>
    <key>ttau_kannada</key>
    <string>ttau_kannada.glif</string>
    <key>tte_kannada</key>
    <string>tte_kannada.glif</string>
    <key>tth_kannada</key>
    <string>tth_kannada.glif</string>
    <key>ttha_kannada</key>
    <string>ttha_kannada.glif</string>
    <key>ttha_kannada.base</key>
    <string>ttha_kannada.base.glif</string>
    <key>ttha_kannada.below</key>
    <string>ttha_kannada.below.glif</string>
    <key>tthe_kannada</key>
    <string>tthe_kannada.glif</string>
    <key>tthi_kannada</key>
    <string>tthi_kannada.glif</string>
    <key>tti_kannada</key>
    <string>tti_kannada.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two_kannada</key>
    <string>two_kannada.glif</string>
    <key>uMatra_kannada</key>
    <string>uM_atra_kannada.glif</string>
    <key>u_kannada</key>
    <string>u_kannada.glif</string>
    <key>udatta_deva</key>
    <string>udatta_deva.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni0C84</key>
    <string>uni0C_84.glif</string>
    <key>uni1CD0</key>
    <string>uni1C_D_0.glif</string>
    <key>uni1CD2</key>
    <string>uni1C_D_2.glif</string>
    <key>uni1CF2</key>
    <string>uni1C_F_2.glif</string>
    <key>uni1CF4</key>
    <string>uni1C_F_4.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>upadhmaniya_kannada</key>
    <string>upadhmaniya_kannada.glif</string>
    <key>uuMatra_kannada</key>
    <string>uuM_atra_kannada.glif</string>
    <key>uu_kannada</key>
    <string>uu_kannada.glif</string>
    <key>v_kannada</key>
    <string>v_kannada.glif</string>
    <key>va_kannada</key>
    <string>va_kannada.glif</string>
    <key>va_kannada.base</key>
    <string>va_kannada.base.glif</string>
    <key>va_kannada.below</key>
    <string>va_kannada.below.glif</string>
    <key>ve_kannada</key>
    <string>ve_kannada.glif</string>
    <key>vi_kannada</key>
    <string>vi_kannada.glif</string>
    <key>visarga_kannada</key>
    <string>visarga_kannada.glif</string>
    <key>vo_kannada</key>
    <string>vo_kannada.glif</string>
    <key>vu_kannada</key>
    <string>vu_kannada.glif</string>
    <key>vuu_kannada</key>
    <string>vuu_kannada.glif</string>
    <key>y_kannada</key>
    <string>y_kannada.glif</string>
    <key>ya_kannada</key>
    <string>ya_kannada.glif</string>
    <key>ya_kannada.base</key>
    <string>ya_kannada.base.glif</string>
    <key>ya_kannada.below</key>
    <string>ya_kannada.below.glif</string>
    <key>ye_kannada</key>
    <string>ye_kannada.glif</string>
    <key>yi_kannada</key>
    <string>yi_kannada.glif</string>
    <key>yo_kannada</key>
    <string>yo_kannada.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero_kannada</key>
    <string>zero_kannada.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
  </dict>
</plist>
