<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>blackSulfur-alchemical</key>
    <string>blackS_ulfur-alchemical.glif</string>
    <key>mercurySublimate-alchemical</key>
    <string>mercuryS_ublimate-alchemical.glif</string>
  </dict>
</plist>
