<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a_cham</key>
    <string>a_cham.glif</string>
    <key>aaSign_cham</key>
    <string>aaS_ign_cham.glif</string>
    <key>aaSign_oeSign_cham</key>
    <string>aaS_ign_oeS_ign_cham.glif</string>
    <key>aiSign_cham</key>
    <string>aiS_ign_cham.glif</string>
    <key>ai_cham</key>
    <string>ai_cham.glif</string>
    <key>auSign_cham</key>
    <string>auS_ign_cham.glif</string>
    <key>auSign_mSignFinal_cham</key>
    <string>auS_ign_mS_ignF_inal_cham.glif</string>
    <key>ba_cham</key>
    <string>ba_cham.glif</string>
    <key>bba_cham</key>
    <string>bba_cham.glif</string>
    <key>bba_cham.calt</key>
    <string>bba_cham.calt.glif</string>
    <key>bha_cham</key>
    <string>bha_cham.glif</string>
    <key>chFinal_cham</key>
    <string>chF_inal_cham.glif</string>
    <key>cha_cham</key>
    <string>cha_cham.glif</string>
    <key>chha_cham</key>
    <string>chha_cham.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.cham</key>
    <string>comma.cham.glif</string>
    <key>da_cham</key>
    <string>da_cham.glif</string>
    <key>danda_cham</key>
    <string>danda_cham.glif</string>
    <key>dda_cham</key>
    <string>dda_cham.glif</string>
    <key>dha_cham</key>
    <string>dha_cham.glif</string>
    <key>dha_withcrossstroke</key>
    <string>dha_withcrossstroke.glif</string>
    <key>doubleDanda_cham</key>
    <string>doubleD_anda_cham.glif</string>
    <key>e_cham</key>
    <string>e_cham.glif</string>
    <key>eiSign_cham</key>
    <string>eiS_ign_cham.glif</string>
    <key>eight_cham</key>
    <string>eight_cham.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five_cham</key>
    <string>five_cham.glif</string>
    <key>four_cham</key>
    <string>four_cham.glif</string>
    <key>gFinal_cham</key>
    <string>gF_inal_cham.glif</string>
    <key>ga_cham</key>
    <string>ga_cham.glif</string>
    <key>gha_cham</key>
    <string>gha_cham.glif</string>
    <key>hSignFinal_cham</key>
    <string>hS_ignF_inal_cham.glif</string>
    <key>ha_cham</key>
    <string>ha_cham.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.cham</key>
    <string>hyphen.cham.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>iSign_cham</key>
    <string>iS_ign_cham.glif</string>
    <key>iSign_mSignFinal_cham</key>
    <string>iS_ign_mS_ignF_inal_cham.glif</string>
    <key>i_cham</key>
    <string>i_cham.glif</string>
    <key>iiSign_cham</key>
    <string>iiS_ign_cham.glif</string>
    <key>ja_cham</key>
    <string>ja_cham.glif</string>
    <key>jha_cham</key>
    <string>jha_cham.glif</string>
    <key>kFinal_cham</key>
    <string>kF_inal_cham.glif</string>
    <key>ka_cham</key>
    <string>ka_cham.glif</string>
    <key>kha_cham</key>
    <string>kha_cham.glif</string>
    <key>lFinal_cham</key>
    <string>lF_inal_cham.glif</string>
    <key>laMed_waMed_uSign_cham</key>
    <string>laM_ed_waM_ed_uS_ign_cham.glif</string>
    <key>laMed_waMed_ueSign_cham</key>
    <string>laM_ed_waM_ed_ueS_ign_cham.glif</string>
    <key>laMedial_cham</key>
    <string>laM_edial_cham.glif</string>
    <key>laMedial_cham.narrow</key>
    <string>laM_edial_cham.narrow.glif</string>
    <key>laMedial_uSign_cham</key>
    <string>laM_edial_uS_ign_cham.glif</string>
    <key>laMedial_ueSign_cham</key>
    <string>laM_edial_ueS_ign_cham.glif</string>
    <key>laMedial_waMedial_cham</key>
    <string>laM_edial_waM_edial_cham.glif</string>
    <key>la_cham</key>
    <string>la_cham.glif</string>
    <key>mSignFinal_cham</key>
    <string>mS_ignF_inal_cham.glif</string>
    <key>ma_cham</key>
    <string>ma_cham.glif</string>
    <key>ma_cham.calt</key>
    <string>ma_cham.calt.glif</string>
    <key>mue_cham</key>
    <string>mue_cham.glif</string>
    <key>nFinal_cham</key>
    <string>nF_inal_cham.glif</string>
    <key>na_cham</key>
    <string>na_cham.glif</string>
    <key>na_cham.calt</key>
    <string>na_cham.calt.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ngFinal_cham</key>
    <string>ngF_inal_cham.glif</string>
    <key>ngSignFinal_cham</key>
    <string>ngS_ignF_inal_cham.glif</string>
    <key>nga_cham</key>
    <string>nga_cham.glif</string>
    <key>ngue_cham</key>
    <string>ngue_cham.glif</string>
    <key>nha_cham</key>
    <string>nha_cham.glif</string>
    <key>nhja_cham</key>
    <string>nhja_cham.glif</string>
    <key>nhue_cham</key>
    <string>nhue_cham.glif</string>
    <key>nine_cham</key>
    <string>nine_cham.glif</string>
    <key>nue_cham</key>
    <string>nue_cham.glif</string>
    <key>oSign_cham</key>
    <string>oS_ign_cham.glif</string>
    <key>o_cham</key>
    <string>o_cham.glif</string>
    <key>oeSign_auSign_cham</key>
    <string>oeS_ign_auS_ign_cham.glif</string>
    <key>oeSign_cham</key>
    <string>oeS_ign_cham.glif</string>
    <key>oeSign_mSignFinal_cham</key>
    <string>oeS_ign_mS_ignF_inal_cham.glif</string>
    <key>oeSign_ngSignFinal_cham</key>
    <string>oeS_ign_ngS_ignF_inal_cham.glif</string>
    <key>one_cham</key>
    <string>one_cham.glif</string>
    <key>pFinal_cham</key>
    <string>pF_inal_cham.glif</string>
    <key>pa_cham</key>
    <string>pa_cham.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.cham</key>
    <string>period.cham.glif</string>
    <key>pha_cham</key>
    <string>pha_cham.glif</string>
    <key>ppa_cham</key>
    <string>ppa_cham.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>rFinal_cham</key>
    <string>rF_inal_cham.glif</string>
    <key>raMedial_cham</key>
    <string>raM_edial_cham.glif</string>
    <key>raMedial_cham_pre</key>
    <string>raM_edial_cham_pre.glif</string>
    <key>raMedial_cham_pre.low</key>
    <string>raM_edial_cham_pre.low.glif</string>
    <key>raMedial_cham_pre.low.alt</key>
    <string>raM_edial_cham_pre.low.alt.glif</string>
    <key>ra_cham</key>
    <string>ra_cham.glif</string>
    <key>sa_cham</key>
    <string>sa_cham.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven_cham</key>
    <string>seven_cham.glif</string>
    <key>six_cham</key>
    <string>six_cham.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>softhyphen</key>
    <string>softhyphen.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>spiral_cham</key>
    <string>spiral_cham.glif</string>
    <key>ssFinal_cham</key>
    <string>ssF_inal_cham.glif</string>
    <key>ssa_cham</key>
    <string>ssa_cham.glif</string>
    <key>tFinal_cham</key>
    <string>tF_inal_cham.glif</string>
    <key>ta_cham</key>
    <string>ta_cham.glif</string>
    <key>tha_cham</key>
    <string>tha_cham.glif</string>
    <key>three_cham</key>
    <string>three_cham.glif</string>
    <key>tripleDanda_cham</key>
    <string>tripleD_anda_cham.glif</string>
    <key>two_cham</key>
    <string>two_cham.glif</string>
    <key>uSign_cham</key>
    <string>uS_ign_cham.glif</string>
    <key>uSign_cham.narrow</key>
    <string>uS_ign_cham.narrow.glif</string>
    <key>uSign_cham.narrow_alt</key>
    <string>uS_ign_cham.narrow_alt.glif</string>
    <key>u_cham</key>
    <string>u_cham.glif</string>
    <key>ueSign_cham</key>
    <string>ueS_ign_cham.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>va_cham</key>
    <string>va_cham.glif</string>
    <key>va_cham.calt</key>
    <string>va_cham.calt.glif</string>
    <key>waMedial_cham</key>
    <string>waM_edial_cham.glif</string>
    <key>waMedial_cham.narrow</key>
    <string>waM_edial_cham.narrow.glif</string>
    <key>waMedial_uSign_cham</key>
    <string>waM_edial_uS_ign_cham.glif</string>
    <key>waMedial_ueSign_cham</key>
    <string>waM_edial_ueS_ign_cham.glif</string>
    <key>yFinal_cham</key>
    <string>yF_inal_cham.glif</string>
    <key>yaMedial_cham</key>
    <string>yaM_edial_cham.glif</string>
    <key>ya_cham</key>
    <string>ya_cham.glif</string>
    <key>zero_cham</key>
    <string>zero_cham.glif</string>
  </dict>
</plist>
