<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.doubleCircled</key>
    <string>eight.doubleC_ircled.glif</string>
    <key>five.doubleCircled</key>
    <string>five.doubleC_ircled.glif</string>
    <key>four.doubleCircled</key>
    <string>four.doubleC_ircled.glif</string>
    <key>nine.doubleCircled</key>
    <string>nine.doubleC_ircled.glif</string>
    <key>one.doubleCircled</key>
    <string>one.doubleC_ircled.glif</string>
    <key>seven.doubleCircled</key>
    <string>seven.doubleC_ircled.glif</string>
    <key>six.doubleCircled</key>
    <string>six.doubleC_ircled.glif</string>
    <key>three.doubleCircled</key>
    <string>three.doubleC_ircled.glif</string>
    <key>two.doubleCircled</key>
    <string>two.doubleC_ircled.glif</string>
  </dict>
</plist>
