<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>u11AD5</string>
    </array>
    <key>public.kern1.Ba</key>
    <array>
      <string>u11ACC</string>
    </array>
    <key>public.kern1.Ca</key>
    <array>
      <string>u11ACD</string>
    </array>
    <key>public.kern1.Cha</key>
    <array>
      <string>u11AD4</string>
      <string>u11ADE</string>
    </array>
    <key>public.kern1.Da</key>
    <array>
      <string>u11AC4</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>u11AD6</string>
    </array>
    <key>public.kern1.Fa</key>
    <array>
      <string>u11AD3</string>
    </array>
    <key>public.kern1.Falling</key>
    <array>
      <string>u11AF4</string>
      <string>u11AF7</string>
    </array>
    <key>public.kern1.Falling_long</key>
    <array>
      <string>u11AF3</string>
      <string>u11AF6</string>
    </array>
    <key>public.kern1.Ga</key>
    <array>
      <string>u11AC9</string>
    </array>
    <key>public.kern1.Glottal_Stop</key>
    <array>
      <string>u11AF5</string>
      <string>u11AF8</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>u11AD7</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>u11ADD</string>
    </array>
    <key>public.kern1.Ka</key>
    <array>
      <string>u11AC1</string>
      <string>u11AC3</string>
      <string>u11AC8</string>
      <string>u11AE4</string>
    </array>
    <key>public.kern1.Kha</key>
    <array>
      <string>u11ACA</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>u11AE1</string>
    </array>
    <key>public.kern1.La</key>
    <array>
      <string>u11AC2</string>
      <string>u11AD0</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>u11ADF</string>
    </array>
    <key>public.kern1.Mid_Level</key>
    <array>
      <string>u11AF1</string>
      <string>u11AF2</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>u11AE0</string>
    </array>
    <key>public.kern1.Ng</key>
    <array>
      <string>u11AE3</string>
    </array>
    <key>public.kern1.Nga</key>
    <array>
      <string>u11AC7</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>u11AD8</string>
      <string>u11ADB</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>u11ADC</string>
    </array>
    <key>public.kern1.Pa</key>
    <array>
      <string>u11AC0</string>
    </array>
    <key>public.kern1.Pha</key>
    <array>
      <string>u11AD1</string>
    </array>
    <key>public.kern1.Ra</key>
    <array>
      <string>u11AD2</string>
      <string>u11AE2</string>
    </array>
    <key>public.kern1.Rising</key>
    <array>
      <string>u11AE6</string>
      <string>u11AE9</string>
      <string>u11AEF</string>
    </array>
    <key>public.kern1.Rising_Long</key>
    <array>
      <string>u11AE5</string>
      <string>u11AE8</string>
    </array>
    <key>public.kern1.Sa</key>
    <array>
      <string>u11ACB</string>
    </array>
    <key>public.kern1.Sandhi</key>
    <array>
      <string>u11AE7</string>
      <string>u11AEA</string>
      <string>u11AF0</string>
    </array>
    <key>public.kern1.Sandhi_Long</key>
    <array>
      <string>u11AEB</string>
      <string>u11AED</string>
    </array>
    <key>public.kern1.Sandhi_Tone</key>
    <array>
      <string>u11AEC</string>
      <string>u11AEE</string>
    </array>
    <key>public.kern1.Ta</key>
    <array>
      <string>u11ACE</string>
    </array>
    <key>public.kern1.Tha</key>
    <array>
      <string>u11ACF</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>u11AD9</string>
    </array>
    <key>public.kern1.Ua</key>
    <array>
      <string>u11ADA</string>
    </array>
    <key>public.kern1.Va</key>
    <array>
      <string>u11AC6</string>
    </array>
    <key>public.kern1.Za</key>
    <array>
      <string>u11AC5</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>u11AD5</string>
    </array>
    <key>public.kern2.Ba</key>
    <array>
      <string>u11ACC</string>
    </array>
    <key>public.kern2.Ca</key>
    <array>
      <string>u11AC4</string>
      <string>u11AC9</string>
      <string>u11ACD</string>
      <string>u11ACE</string>
      <string>u11AD3</string>
      <string>u11ADE</string>
      <string>u11AE2</string>
      <string>u11AE5</string>
      <string>u11AE6</string>
      <string>u11AE7</string>
      <string>u11AE8</string>
      <string>u11AE9</string>
      <string>u11AEA</string>
      <string>u11AEB</string>
      <string>u11AEC</string>
      <string>u11AED</string>
      <string>u11AEE</string>
      <string>u11AF3</string>
      <string>u11AF4</string>
      <string>u11AF5</string>
      <string>u11AF6</string>
      <string>u11AF7</string>
      <string>u11AF8</string>
    </array>
    <key>public.kern2.Cha</key>
    <array>
      <string>u11AD4</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>u11AD6</string>
    </array>
    <key>public.kern2.Ha</key>
    <array>
      <string>u11AC8</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>u11AD7</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>u11ADD</string>
    </array>
    <key>public.kern2.Ka</key>
    <array>
      <string>u11AC0</string>
      <string>u11AC1</string>
      <string>u11AC2</string>
      <string>u11AC3</string>
      <string>u11ACB</string>
      <string>u11ACF</string>
      <string>u11AD0</string>
      <string>u11AE4</string>
    </array>
    <key>public.kern2.Kha</key>
    <array>
      <string>u11ACA</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>u11ADF</string>
    </array>
    <key>public.kern2.Mid_Level</key>
    <array>
      <string>u11AF1</string>
      <string>u11AF2</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>u11AE0</string>
    </array>
    <key>public.kern2.Ng</key>
    <array>
      <string>u11AE3</string>
    </array>
    <key>public.kern2.Nga</key>
    <array>
      <string>u11AC7</string>
      <string>u11AD2</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>u11AD8</string>
      <string>u11ADB</string>
    </array>
    <key>public.kern2.P</key>
    <array>
      <string>u11ADC</string>
    </array>
    <key>public.kern2.Pha</key>
    <array>
      <string>u11AD1</string>
    </array>
    <key>public.kern2.Rising</key>
    <array>
      <string>u11AEF</string>
    </array>
    <key>public.kern2.Sandhi</key>
    <array>
      <string>u11AF0</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>u11AD9</string>
    </array>
    <key>public.kern2.Ua</key>
    <array>
      <string>u11ADA</string>
    </array>
    <key>public.kern2.Va</key>
    <array>
      <string>u11AC6</string>
      <string>u11AE1</string>
    </array>
    <key>public.kern2.Za</key>
    <array>
      <string>u11AC5</string>
    </array>
  </dict>
</plist>
