<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u11AC0</string>
      <string>u11AC1</string>
      <string>u11AC2</string>
      <string>u11AC3</string>
      <string>u11AC4</string>
      <string>u11AC5</string>
      <string>u11AC6</string>
      <string>u11AC7</string>
      <string>u11AC8</string>
      <string>u11AC9</string>
      <string>u11ACA</string>
      <string>u11ACB</string>
      <string>u11ACC</string>
      <string>u11ACD</string>
      <string>u11ACE</string>
      <string>u11ACF</string>
      <string>u11AD0</string>
      <string>u11AD1</string>
      <string>u11AD2</string>
      <string>u11AD3</string>
      <string>u11AD4</string>
      <string>u11AD5</string>
      <string>u11AD6</string>
      <string>u11AD7</string>
      <string>u11AD8</string>
      <string>u11AD9</string>
      <string>u11ADA</string>
      <string>u11ADB</string>
      <string>u11ADC</string>
      <string>u11ADD</string>
      <string>u11ADE</string>
      <string>u11ADF</string>
      <string>u11AE0</string>
      <string>u11AE1</string>
      <string>u11AE2</string>
      <string>u11AE3</string>
      <string>u11AE4</string>
      <string>u11AE5</string>
      <string>u11AE6</string>
      <string>u11AE7</string>
      <string>u11AE8</string>
      <string>u11AE9</string>
      <string>u11AEA</string>
      <string>u11AEB</string>
      <string>u11AEC</string>
      <string>u11AED</string>
      <string>u11AEE</string>
      <string>u11AEF</string>
      <string>u11AF0</string>
      <string>u11AF1</string>
      <string>u11AF2</string>
      <string>u11AF3</string>
      <string>u11AF4</string>
      <string>u11AF5</string>
      <string>u11AF6</string>
      <string>u11AF7</string>
      <string>u11AF8</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
