<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.u10534</key>
    <array>
      <string>u10534</string>
      <string>u10549</string>
      <string>u1054F</string>
      <string>u10550</string>
      <string>u1055E</string>
      <string>u10561</string>
    </array>
    <key>public.kern1.u10536</key>
    <array>
      <string>u10536</string>
      <string>u10544</string>
    </array>
    <key>public.kern1.u1053A</key>
    <array>
      <string>u1053A</string>
      <string>u10540</string>
      <string>u10547</string>
      <string>u1054E</string>
    </array>
    <key>public.kern1.u1053D</key>
    <array>
      <string>u1053D</string>
      <string>u1055C</string>
    </array>
    <key>public.kern1.u1053F</key>
    <array>
      <string>u1053F</string>
      <string>u10563</string>
    </array>
    <key>public.kern1.u10545</key>
    <array>
      <string>u10545</string>
      <string>u10554</string>
    </array>
    <key>public.kern1.u10548</key>
    <array>
      <string>u10538</string>
      <string>u10548</string>
    </array>
    <key>public.kern1.u1054C</key>
    <array>
      <string>u1054C</string>
      <string>u10551</string>
    </array>
    <key>public.kern1.u10559</key>
    <array>
      <string>u10559</string>
    </array>
    <key>public.kern1.u1055F</key>
    <array>
      <string>u1055F</string>
      <string>u10560</string>
    </array>
    <key>public.kern2.u10530</key>
    <array>
      <string>u10530</string>
      <string>u10542</string>
      <string>u1054D</string>
    </array>
    <key>public.kern2.u10533</key>
    <array>
      <string>u10533</string>
    </array>
    <key>public.kern2.u10536</key>
    <array>
      <string>u10536</string>
      <string>u10537</string>
      <string>u10539</string>
      <string>u10541</string>
      <string>u10543</string>
      <string>u1055B</string>
    </array>
    <key>public.kern2.u1053F</key>
    <array>
      <string>u1053F</string>
      <string>u10563</string>
    </array>
    <key>public.kern2.u10548</key>
    <array>
      <string>u10548</string>
      <string>u1055E</string>
    </array>
    <key>public.kern2.u10549</key>
    <array>
      <string>u10531</string>
      <string>u1053D</string>
      <string>u10549</string>
    </array>
    <key>public.kern2.u10550</key>
    <array>
      <string>u10550</string>
      <string>u10558</string>
    </array>
    <key>public.kern2.u10551</key>
    <array>
      <string>u10551</string>
      <string>u10557</string>
    </array>
    <key>public.kern2.u10552</key>
    <array>
      <string>u10532</string>
      <string>u10552</string>
    </array>
    <key>public.kern2.u10559</key>
    <array>
      <string>u10534</string>
      <string>u10559</string>
    </array>
    <key>public.kern2.u10560</key>
    <array>
      <string>u10545</string>
      <string>u10560</string>
    </array>
    <key>public.kern2.u10561</key>
    <array>
      <string>u1055A</string>
      <string>u10561</string>
    </array>
  </dict>
</plist>
