<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1208</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>nbspace</string>
      <string>space</string>
      <string>u10530</string>
      <string>u10530_fe26</string>
      <string>u10530_fe2d</string>
      <string>u10531</string>
      <string>u10531_fe26</string>
      <string>u10531_fe2d</string>
      <string>u10532</string>
      <string>u10532_fe26</string>
      <string>u10532_fe2d</string>
      <string>u10533</string>
      <string>u10533_fe26</string>
      <string>u10533_fe2d</string>
      <string>u10534</string>
      <string>u10534_fe26</string>
      <string>u10534_fe2d</string>
      <string>u10535</string>
      <string>u10535_fe26</string>
      <string>u10535_fe2d</string>
      <string>u10536</string>
      <string>u10536_fe26</string>
      <string>u10536_fe2d</string>
      <string>u10537</string>
      <string>u10537_fe26</string>
      <string>u10537_fe2d</string>
      <string>u10538</string>
      <string>u10538_fe26</string>
      <string>u10538_fe2d</string>
      <string>u10539</string>
      <string>u10539_fe26</string>
      <string>u10539_fe2d</string>
      <string>u1053A</string>
      <string>u1053A_fe26</string>
      <string>u1053A_fe2d</string>
      <string>u1053B</string>
      <string>u1053B_fe26</string>
      <string>u1053B_fe2d</string>
      <string>u1053C</string>
      <string>u1053C_fe26</string>
      <string>u1053C_fe2d</string>
      <string>u1053D</string>
      <string>u1053D_fe26</string>
      <string>u1053D_fe2d</string>
      <string>u1053E</string>
      <string>u1053E_fe26</string>
      <string>u1053E_fe2d</string>
      <string>u1053F</string>
      <string>u1053F_fe26</string>
      <string>u1053F_fe2d</string>
      <string>u10540</string>
      <string>u10540_fe26</string>
      <string>u10540_fe2d</string>
      <string>u10541</string>
      <string>u10541_fe26</string>
      <string>u10541_fe2d</string>
      <string>u10542</string>
      <string>u10542_fe26</string>
      <string>u10542_fe2d</string>
      <string>u10543</string>
      <string>u10543_fe26</string>
      <string>u10543_fe2d</string>
      <string>u10544</string>
      <string>u10544_fe26</string>
      <string>u10544_fe2d</string>
      <string>u10545</string>
      <string>u10545_fe26</string>
      <string>u10545_fe2d</string>
      <string>u10546</string>
      <string>u10546_fe26</string>
      <string>u10546_fe2d</string>
      <string>u10547</string>
      <string>u10547_fe26</string>
      <string>u10547_fe2d</string>
      <string>u10548</string>
      <string>u10548_fe26</string>
      <string>u10548_fe2d</string>
      <string>u10549</string>
      <string>u10549_fe26</string>
      <string>u10549_fe2d</string>
      <string>u1054A</string>
      <string>u1054A_fe26</string>
      <string>u1054A_fe2d</string>
      <string>u1054B</string>
      <string>u1054B_fe26</string>
      <string>u1054B_fe2d</string>
      <string>u1054C</string>
      <string>u1054C_fe26</string>
      <string>u1054C_fe2d</string>
      <string>u1054D</string>
      <string>u1054D_fe26</string>
      <string>u1054D_fe2d</string>
      <string>u1054E</string>
      <string>u1054E_fe26</string>
      <string>u1054E_fe2d</string>
      <string>u1054F</string>
      <string>u1054F_fe26</string>
      <string>u1054F_fe2d</string>
      <string>u10550</string>
      <string>u10550_fe26</string>
      <string>u10550_fe2d</string>
      <string>u10551</string>
      <string>u10551_fe26</string>
      <string>u10551_fe2d</string>
      <string>u10552</string>
      <string>u10552_fe26</string>
      <string>u10552_fe2d</string>
      <string>u10553</string>
      <string>u10553_fe26</string>
      <string>u10553_fe2d</string>
      <string>u10554</string>
      <string>u10554_fe26</string>
      <string>u10554_fe2d</string>
      <string>u10555</string>
      <string>u10555_fe26</string>
      <string>u10555_fe2d</string>
      <string>u10556</string>
      <string>u10556_fe26</string>
      <string>u10556_fe2d</string>
      <string>u10557</string>
      <string>u10557_fe26</string>
      <string>u10557_fe2d</string>
      <string>u10558</string>
      <string>u10558_fe26</string>
      <string>u10558_fe2d</string>
      <string>u10559</string>
      <string>u10559_fe26</string>
      <string>u10559_fe2d</string>
      <string>u1055A</string>
      <string>u1055A_fe26</string>
      <string>u1055A_fe2d</string>
      <string>u1055B</string>
      <string>u1055B_fe26</string>
      <string>u1055B_fe2d</string>
      <string>u1055C</string>
      <string>u1055C_fe26</string>
      <string>u1055C_fe2d</string>
      <string>u1055D</string>
      <string>u1055D_fe26</string>
      <string>u1055D_fe2d</string>
      <string>u1055E</string>
      <string>u1055E_fe26</string>
      <string>u1055E_fe2d</string>
      <string>u1055F</string>
      <string>u1055F_fe26</string>
      <string>u1055F_fe2d</string>
      <string>u10560</string>
      <string>u10560_fe26</string>
      <string>u10560_fe2d</string>
      <string>u10561</string>
      <string>u10561_fe26</string>
      <string>u10561_fe2d</string>
      <string>u10562</string>
      <string>u10562_fe26</string>
      <string>u10562_fe2d</string>
      <string>u10563</string>
      <string>u10563_fe26</string>
      <string>u10563_fe2d</string>
      <string>u1056F</string>
      <string>uni0304</string>
      <string>uni0331</string>
      <string>uni25CC</string>
      <string>uniFE20</string>
      <string>uniFE21</string>
      <string>uniFE22</string>
      <string>uniFE23</string>
      <string>uniFE24</string>
      <string>uniFE25</string>
      <string>uniFE26</string>
      <string>uniFE27</string>
      <string>uniFE28</string>
      <string>uniFE29</string>
      <string>uniFE2A</string>
      <string>uniFE2B</string>
      <string>uniFE2C</string>
      <string>uniFE2D</string>
      <string>uniFE2E</string>
      <string>uniFE2F</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
