<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AA</key>
    <string>A_A_.glif</string>
    <key>AI</key>
    <string>A_I_.glif</string>
    <key>AU</key>
    <string>A_U_.glif</string>
    <key>Abbreviation</key>
    <string>A_bbreviation.glif</string>
    <key>Anusvara</key>
    <string>A_nusvara.glif</string>
    <key>Avagraha</key>
    <string>A_vagraha.glif</string>
    <key>Ba</key>
    <string>B_a.glif</string>
    <key>BhRa</key>
    <string>B_hR_a.glif</string>
    <key>BhRu</key>
    <string>B_hR_u.glif</string>
    <key>BhRuu</key>
    <string>B_hR_uu.glif</string>
    <key>Bha</key>
    <string>B_ha.glif</string>
    <key>Bhu</key>
    <string>B_hu.glif</string>
    <key>Bhuu</key>
    <string>B_huu.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca</key>
    <string>C_a.glif</string>
    <key>Candrabindu</key>
    <string>C_andrabindu.glif</string>
    <key>Cha</key>
    <string>C_ha.glif</string>
    <key>ContinuationSign</key>
    <string>C_ontinuationS_ign.glif</string>
    <key>DDha</key>
    <string>D_D_ha.glif</string>
    <key>DRu</key>
    <string>D_R_u.glif</string>
    <key>DRuu</key>
    <string>D_R_uu.glif</string>
    <key>DYa</key>
    <string>D_Y_a.glif</string>
    <key>Da</key>
    <string>D_a.glif</string>
    <key>Danda</key>
    <string>D_anda.glif</string>
    <key>Dda</key>
    <string>D_da.glif</string>
    <key>Ddha</key>
    <string>D_dha.glif</string>
    <key>Ddu</key>
    <string>D_du.glif</string>
    <key>Dduu</key>
    <string>D_duu.glif</string>
    <key>Dha</key>
    <string>D_ha.glif</string>
    <key>DoubleDanda</key>
    <string>D_oubleD_anda.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ekam</key>
    <string>E_kam.glif</string>
    <key>GRa</key>
    <string>G_R_a.glif</string>
    <key>Ga</key>
    <string>G_a.glif</string>
    <key>Gha</key>
    <string>G_ha.glif</string>
    <key>Gu</key>
    <string>G_u.glif</string>
    <key>Guu</key>
    <string>G_uu.glif</string>
    <key>HYa</key>
    <string>H_Y_a.glif</string>
    <key>Ha</key>
    <string>H_a.glif</string>
    <key>Headstroke</key>
    <string>H_eadstroke.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>II</key>
    <string>I_I_.glif</string>
    <key>JJVa</key>
    <string>J_J_V_a.glif</string>
    <key>JJa</key>
    <string>J_J_a.glif</string>
    <key>JJaa</key>
    <string>J_J_aa.glif</string>
    <key>JNna</key>
    <string>J_N_na.glif</string>
    <key>JNnaa</key>
    <string>J_N_naa.glif</string>
    <key>JNya</key>
    <string>J_N_ya.glif</string>
    <key>JYa</key>
    <string>J_Y_a.glif</string>
    <key>JYaa</key>
    <string>J_Y_aa.glif</string>
    <key>Ja</key>
    <string>J_a.glif</string>
    <key>Jaa</key>
    <string>J_aa.glif</string>
    <key>Jha</key>
    <string>J_ha.glif</string>
    <key>Jhu</key>
    <string>J_hu.glif</string>
    <key>Jhuu</key>
    <string>J_huu.glif</string>
    <key>Jihvamuliya</key>
    <string>J_ihvamuliya.glif</string>
    <key>Jihvamuliya.ns</key>
    <string>J_ihvamuliya.ns.glif</string>
    <key>KKa</key>
    <string>K_K_a.glif</string>
    <key>KPRa</key>
    <string>K_P_R_a.glif</string>
    <key>KRu</key>
    <string>K_R_u.glif</string>
    <key>KRuu</key>
    <string>K_R_uu.glif</string>
    <key>KSsa</key>
    <string>K_S_sa.glif</string>
    <key>KTVa</key>
    <string>K_T_V_a.glif</string>
    <key>KTa</key>
    <string>K_T_a.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kha</key>
    <string>K_ha.glif</string>
    <key>Kl</key>
    <string>K_l.glif</string>
    <key>Kll</key>
    <string>K_ll.glif</string>
    <key>Kr</key>
    <string>K_r.glif</string>
    <key>Krr</key>
    <string>K_rr.glif</string>
    <key>Ku</key>
    <string>K_u.glif</string>
    <key>Kuu</key>
    <string>K_uu.glif</string>
    <key>La</key>
    <string>L_a.glif</string>
    <key>Lla</key>
    <string>L_la.glif</string>
    <key>Ma</key>
    <string>M_a.glif</string>
    <key>NDha</key>
    <string>N_D_ha.glif</string>
    <key>NTa</key>
    <string>N_T_a.glif</string>
    <key>NTha</key>
    <string>N_T_ha.glif</string>
    <key>NTu</key>
    <string>N_T_u.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na</key>
    <string>N_a.glif</string>
    <key>NgKa</key>
    <string>N_gK_a.glif</string>
    <key>NgKaa</key>
    <string>N_gK_aa.glif</string>
    <key>NgNga</key>
    <string>N_gN_ga.glif</string>
    <key>NgNgaa</key>
    <string>N_gN_gaa.glif</string>
    <key>Nga</key>
    <string>N_ga.glif</string>
    <key>Ngaa</key>
    <string>N_gaa.glif</string>
    <key>NnDda</key>
    <string>N_nD_da.glif</string>
    <key>NnDdu</key>
    <string>N_nD_du.glif</string>
    <key>NnSha</key>
    <string>N_nS_ha.glif</string>
    <key>NnShaa</key>
    <string>N_nS_haa.glif</string>
    <key>Nna</key>
    <string>N_na.glif</string>
    <key>Nnaa</key>
    <string>N_naa.glif</string>
    <key>Nukta</key>
    <string>N_ukta.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>Nya</key>
    <string>N_ya.glif</string>
    <key>Nyu</key>
    <string>N_yu.glif</string>
    <key>Nyuu</key>
    <string>N_yuu.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Om</key>
    <string>O_m.glif</string>
    <key>Pa</key>
    <string>P_a.glif</string>
    <key>Pha</key>
    <string>P_ha.glif</string>
    <key>RGa</key>
    <string>R_G_a.glif</string>
    <key>RHa</key>
    <string>R_H_a.glif</string>
    <key>RJa</key>
    <string>R_J_a.glif</string>
    <key>RKSsa</key>
    <string>R_K_S_sa.glif</string>
    <key>RKa</key>
    <string>R_K_a.glif</string>
    <key>RNna</key>
    <string>R_N_na.glif</string>
    <key>RSsa</key>
    <string>R_S_sa.glif</string>
    <key>RTRa</key>
    <string>R_T_R_a.glif</string>
    <key>RTRaa</key>
    <string>R_T_R_aa.glif</string>
    <key>RTa</key>
    <string>R_T_a.glif</string>
    <key>RTha</key>
    <string>R_T_ha.glif</string>
    <key>RTr</key>
    <string>R_T_r.glif</string>
    <key>RVYa</key>
    <string>R_V_Y_a.glif</string>
    <key>RVa</key>
    <string>R_V_a.glif</string>
    <key>RYa</key>
    <string>R_Y_a.glif</string>
    <key>RYuu</key>
    <string>R_Y_uu.glif</string>
    <key>Ra</key>
    <string>R_a.glif</string>
    <key>Ru</key>
    <string>R_u.glif</string>
    <key>Ruu</key>
    <string>R_uu.glif</string>
    <key>SMa</key>
    <string>S_M_a.glif</string>
    <key>SMr</key>
    <string>S_M_r.glif</string>
    <key>STa</key>
    <string>S_T_a.glif</string>
    <key>STha</key>
    <string>S_T_ha.glif</string>
    <key>STu</key>
    <string>S_T_u.glif</string>
    <key>Sa</key>
    <string>S_a.glif</string>
    <key>SandhiMark</key>
    <string>S_andhiM_ark.glif</string>
    <key>SandhiMarkLig</key>
    <string>S_andhiM_arkL_ig.glif</string>
    <key>SandhiMarkWide</key>
    <string>S_andhiM_arkW_ide.glif</string>
    <key>SandhiSp</key>
    <string>S_andhiS_p.glif</string>
    <key>SectionMark1</key>
    <string>S_ectionM_ark1.glif</string>
    <key>SectionMark2</key>
    <string>S_ectionM_ark2.glif</string>
    <key>Separator</key>
    <string>S_eparator.glif</string>
    <key>ShRu</key>
    <string>S_hR_u.glif</string>
    <key>ShRuu</key>
    <string>S_hR_uu.glif</string>
    <key>Sh_Eight</key>
    <string>S_h_E_ight.glif</string>
    <key>Sh_Five</key>
    <string>S_h_F_ive.glif</string>
    <key>Sh_Four</key>
    <string>S_h_F_our.glif</string>
    <key>Sh_Nine</key>
    <string>S_h_N_ine.glif</string>
    <key>Sh_One</key>
    <string>S_h_O_ne.glif</string>
    <key>Sh_Seven</key>
    <string>S_h_S_even.glif</string>
    <key>Sh_Six</key>
    <string>S_h_S_ix.glif</string>
    <key>Sh_Three</key>
    <string>S_h_T_hree.glif</string>
    <key>Sh_Two</key>
    <string>S_h_T_wo.glif</string>
    <key>Sh_Zero</key>
    <string>S_h_Z_ero.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>ShortVowelMark</key>
    <string>S_hortV_owelM_ark.glif</string>
    <key>Shu</key>
    <string>S_hu.glif</string>
    <key>Shuu</key>
    <string>S_huu.glif</string>
    <key>SiddhamSign</key>
    <string>S_iddhamS_ign.glif</string>
    <key>SsNna</key>
    <string>S_sN_na.glif</string>
    <key>SsTta</key>
    <string>S_sT_ta.glif</string>
    <key>SsTtha</key>
    <string>S_sT_tha.glif</string>
    <key>Ssa</key>
    <string>S_sa.glif</string>
    <key>SutraMark</key>
    <string>S_utraM_ark.glif</string>
    <key>TRa</key>
    <string>T_R_a.glif</string>
    <key>TSa</key>
    <string>T_S_a.glif</string>
    <key>TSu</key>
    <string>T_S_u.glif</string>
    <key>TTha</key>
    <string>T_T_ha.glif</string>
    <key>TYa</key>
    <string>T_Y_a.glif</string>
    <key>Ta</key>
    <string>T_a.glif</string>
    <key>Tha</key>
    <string>T_ha.glif</string>
    <key>Tl</key>
    <string>T_l.glif</string>
    <key>Tll</key>
    <string>T_ll.glif</string>
    <key>TtKa</key>
    <string>T_tK_a.glif</string>
    <key>TtKaa</key>
    <string>T_tK_aa.glif</string>
    <key>Tta</key>
    <string>T_ta.glif</string>
    <key>Ttaa</key>
    <string>T_taa.glif</string>
    <key>Ttha</key>
    <string>T_tha.glif</string>
    <key>Tu</key>
    <string>T_u.glif</string>
    <key>Tuu</key>
    <string>T_uu.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.alt</key>
    <string>U_.alt.glif</string>
    <key>U.alt2</key>
    <string>U_.alt2.glif</string>
    <key>UU</key>
    <string>U_U_.glif</string>
    <key>UU.alt</key>
    <string>U_U_.alt.glif</string>
    <key>UU.alt2</key>
    <string>U_U_.alt2.glif</string>
    <key>Upadhmaniya</key>
    <string>U_padhmaniya.glif</string>
    <key>Upadhmaniya.ns</key>
    <string>U_padhmaniya.ns.glif</string>
    <key>Va</key>
    <string>V_a.glif</string>
    <key>Visarga</key>
    <string>V_isarga.glif</string>
    <key>VowelModifier</key>
    <string>V_owelM_odifier.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>letterA</key>
    <string>letterA_.glif</string>
    <key>letterAA</key>
    <string>letterA_A_.glif</string>
    <key>letterAI</key>
    <string>letterA_I_.glif</string>
    <key>letterAU</key>
    <string>letterA_U_.glif</string>
    <key>letterE</key>
    <string>letterE_.glif</string>
    <key>letterI</key>
    <string>letterI_.glif</string>
    <key>letterII</key>
    <string>letterI_I_.glif</string>
    <key>letterO</key>
    <string>letterO_.glif</string>
    <key>letterU</key>
    <string>letterU_.glif</string>
    <key>letterUU</key>
    <string>letterU_U_.glif</string>
    <key>letterVocL</key>
    <string>letterV_ocL_.glif</string>
    <key>letterVocLL</key>
    <string>letterV_ocL_L_.glif</string>
    <key>letterVocR</key>
    <string>letterV_ocR_.glif</string>
    <key>letterVocRR</key>
    <string>letterV_ocR_R_.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni1CD7</key>
    <string>uni1C_D_7.glif</string>
    <key>uni1CD9</key>
    <string>uni1C_D_9.glif</string>
    <key>uni1CDC</key>
    <string>uni1C_D_C_.glif</string>
    <key>uni1CDD</key>
    <string>uni1C_D_D_.glif</string>
    <key>uni1CE0</key>
    <string>uni1C_E_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>virama</key>
    <string>virama.glif</string>
    <key>vocL</key>
    <string>vocL_.glif</string>
    <key>vocLL</key>
    <string>vocL_L_.glif</string>
    <key>vocR</key>
    <string>vocR_.glif</string>
    <key>vocRR</key>
    <string>vocR_R_.glif</string>
  </dict>
</plist>
