<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>uni0020</string>
      <string>uni00A0</string>
      <string>uni118A0</string>
      <string>uni118A1</string>
      <string>uni118A1.sm</string>
      <string>uni118A2</string>
      <string>uni118A2.sm</string>
      <string>uni118A3</string>
      <string>uni118A3.sm</string>
      <string>uni118A4</string>
      <string>uni118A4.sm</string>
      <string>uni118A5</string>
      <string>uni118A5.sm</string>
      <string>uni118A6</string>
      <string>uni118A6.sm</string>
      <string>uni118A7</string>
      <string>uni118A7.sm</string>
      <string>uni118A8</string>
      <string>uni118A8.sm</string>
      <string>uni118A9</string>
      <string>uni118A9.sm</string>
      <string>uni118AA</string>
      <string>uni118AA.sm</string>
      <string>uni118AB</string>
      <string>uni118AB.sm</string>
      <string>uni118AC</string>
      <string>uni118AC.sm</string>
      <string>uni118AD</string>
      <string>uni118AD.sm</string>
      <string>uni118AE</string>
      <string>uni118AE.sm</string>
      <string>uni118AF</string>
      <string>uni118AF.sm</string>
      <string>uni118B0</string>
      <string>uni118B0.sm</string>
      <string>uni118B1</string>
      <string>uni118B1.sm</string>
      <string>uni118B2</string>
      <string>uni118B2.sm</string>
      <string>uni118B3</string>
      <string>uni118B3.sm</string>
      <string>uni118B4</string>
      <string>uni118B4.sm</string>
      <string>uni118B5</string>
      <string>uni118B5.sm</string>
      <string>uni118B6</string>
      <string>uni118B6.sm</string>
      <string>uni118B7</string>
      <string>uni118B7.sm</string>
      <string>uni118B8</string>
      <string>uni118B8.sm</string>
      <string>uni118B9</string>
      <string>uni118B9.sm</string>
      <string>uni118BA</string>
      <string>uni118BA.sm</string>
      <string>uni118BB</string>
      <string>uni118BB.sm</string>
      <string>uni118BC</string>
      <string>uni118BC.sm</string>
      <string>uni118BD</string>
      <string>uni118BD.sm</string>
      <string>uni118BE</string>
      <string>uni118BE.sm</string>
      <string>uni118BF</string>
      <string>uni118BF.sm</string>
      <string>uni118C0</string>
      <string>uni118C0.abv</string>
      <string>uni118C1</string>
      <string>uni118C1.sm</string>
      <string>uni118C2</string>
      <string>uni118C2.sm</string>
      <string>uni118C3</string>
      <string>uni118C3.sm</string>
      <string>uni118C4</string>
      <string>uni118C4.sm</string>
      <string>uni118C5</string>
      <string>uni118C5.sm</string>
      <string>uni118C6</string>
      <string>uni118C6.sm</string>
      <string>uni118C7</string>
      <string>uni118C7.sm</string>
      <string>uni118C8</string>
      <string>uni118C8.sm</string>
      <string>uni118C9</string>
      <string>uni118C9.sm</string>
      <string>uni118CA</string>
      <string>uni118CA.abv</string>
      <string>uni118CA.sm</string>
      <string>uni118CB</string>
      <string>uni118CB.abv</string>
      <string>uni118CB.sm</string>
      <string>uni118CC</string>
      <string>uni118CC.abv</string>
      <string>uni118CC.sm</string>
      <string>uni118CD</string>
      <string>uni118CD.abv</string>
      <string>uni118CD.sm</string>
      <string>uni118CE</string>
      <string>uni118CE.abv</string>
      <string>uni118CE.sm</string>
      <string>uni118CF</string>
      <string>uni118CF.abv</string>
      <string>uni118CF.sm</string>
      <string>uni118D0</string>
      <string>uni118D0.abv</string>
      <string>uni118D0.sm</string>
      <string>uni118D1</string>
      <string>uni118D1.abv</string>
      <string>uni118D1.sm</string>
      <string>uni118D2</string>
      <string>uni118D2.abv</string>
      <string>uni118D2.abv.flip</string>
      <string>uni118D2.sm</string>
      <string>uni118D3</string>
      <string>uni118D3.abv</string>
      <string>uni118D3.sm</string>
      <string>uni118D4</string>
      <string>uni118D4.abv</string>
      <string>uni118D4.sm</string>
      <string>uni118D5</string>
      <string>uni118D5.abv</string>
      <string>uni118D5.sm</string>
      <string>uni118D6</string>
      <string>uni118D6.abv</string>
      <string>uni118D6.sm</string>
      <string>uni118D7</string>
      <string>uni118D7.abv</string>
      <string>uni118D7.sm</string>
      <string>uni118D8</string>
      <string>uni118D8.abv</string>
      <string>uni118D8.abv.flip</string>
      <string>uni118D8.sm</string>
      <string>uni118D9</string>
      <string>uni118D9.abv</string>
      <string>uni118D9.sm</string>
      <string>uni118DA</string>
      <string>uni118DA.abv</string>
      <string>uni118DA.abv.flip</string>
      <string>uni118DA.sm</string>
      <string>uni118DB</string>
      <string>uni118DB.abv</string>
      <string>uni118DB.sm</string>
      <string>uni118DC</string>
      <string>uni118DC.abv</string>
      <string>uni118DC.abv.flip</string>
      <string>uni118DC.sm</string>
      <string>uni118DD</string>
      <string>uni118DD.abv</string>
      <string>uni118DD.sm</string>
      <string>uni118DE</string>
      <string>uni118DE.abv</string>
      <string>uni118DE.sm</string>
      <string>uni118DF</string>
      <string>uni118DF.abv</string>
      <string>uni118DF.sm</string>
      <string>uni118E0</string>
      <string>uni118E1</string>
      <string>uni118E2</string>
      <string>uni118E3</string>
      <string>uni118E4</string>
      <string>uni118E5</string>
      <string>uni118E6</string>
      <string>uni118E7</string>
      <string>uni118E8</string>
      <string>uni118E9</string>
      <string>uni118EA</string>
      <string>uni118EB</string>
      <string>uni118EC</string>
      <string>uni118ED</string>
      <string>uni118EE</string>
      <string>uni118EF</string>
      <string>uni118F0</string>
      <string>uni118F1</string>
      <string>uni118F2</string>
      <string>uni118FF</string>
      <string>uni200C</string>
      <string>uni200D</string>
    </array>
  </dict>
</plist>
