<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Medium</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/uni1C6F</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>108</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>108</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni1C50</string>
      <string>uni1C51</string>
      <string>uni1C52</string>
      <string>uni1C53</string>
      <string>uni1C54</string>
      <string>uni1C55</string>
      <string>uni1C56</string>
      <string>uni1C57</string>
      <string>uni1C58</string>
      <string>uni1C59</string>
      <string>uni1C5A</string>
      <string>uni1C5B</string>
      <string>uni1C5C</string>
      <string>uni1C5D</string>
      <string>uni1C5E</string>
      <string>uni1C5F</string>
      <string>uni1C60</string>
      <string>uni1C61</string>
      <string>uni1C62</string>
      <string>uni1C63</string>
      <string>uni1C64</string>
      <string>uni1C65</string>
      <string>uni1C66</string>
      <string>uni1C67</string>
      <string>uni1C68</string>
      <string>uni1C69</string>
      <string>uni1C6A</string>
      <string>uni1C6B</string>
      <string>uni1C6C</string>
      <string>uni1C6D</string>
      <string>uni1C6E</string>
      <string>uni1C6F</string>
      <string>uni1C70</string>
      <string>uni1C71</string>
      <string>uni1C72</string>
      <string>uni1C73</string>
      <string>uni1C74</string>
      <string>uni1C75</string>
      <string>uni1C76</string>
      <string>uni1C77</string>
      <string>uni1C78</string>
      <string>uni1C79</string>
      <string>uni1C7A</string>
      <string>uni1C7B</string>
      <string>uni1C7C</string>
      <string>uni1C7D</string>
      <string>uni1C7E</string>
      <string>uni1C7F</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni1C50</string>
      <string>uni1C51</string>
      <string>uni1C52</string>
      <string>uni1C53</string>
      <string>uni1C54</string>
      <string>uni1C55</string>
      <string>uni1C56</string>
      <string>uni1C57</string>
      <string>uni1C58</string>
      <string>uni1C59</string>
      <string>uni1C5A</string>
      <string>uni1C5B</string>
      <string>uni1C5C</string>
      <string>uni1C5D</string>
      <string>uni1C5E</string>
      <string>uni1C5F</string>
      <string>uni1C60</string>
      <string>uni1C61</string>
      <string>uni1C62</string>
      <string>uni1C63</string>
      <string>uni1C64</string>
      <string>uni1C65</string>
      <string>uni1C66</string>
      <string>uni1C67</string>
      <string>uni1C68</string>
      <string>uni1C69</string>
      <string>uni1C6A</string>
      <string>uni1C6B</string>
      <string>uni1C6C</string>
      <string>uni1C6D</string>
      <string>uni1C6E</string>
      <string>uni1C6F</string>
      <string>uni1C70</string>
      <string>uni1C71</string>
      <string>uni1C72</string>
      <string>uni1C73</string>
      <string>uni1C74</string>
      <string>uni1C75</string>
      <string>uni1C76</string>
      <string>uni1C77</string>
      <string>uni1C78</string>
      <string>uni1C79</string>
      <string>uni1C7A</string>
      <string>uni1C7B</string>
      <string>uni1C7C</string>
      <string>uni1C7D</string>
      <string>uni1C7E</string>
      <string>uni1C7F</string>
    </array>
  </dict>
</plist>
