<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1B197</key>
    <string>u1B_197.glif</string>
    <key>u1B1B6</key>
    <string>u1B_1B_6.glif</string>
    <key>u1B1CE</key>
    <string>u1B_1C_E_.glif</string>
  </dict>
</plist>
