<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.blackCircled</key>
    <string>A_.blackC_ircled.glif</string>
    <key>B.blackCircled</key>
    <string>B_.blackC_ircled.glif</string>
    <key>C.blackCircled</key>
    <string>C_.blackC_ircled.glif</string>
    <key>D.blackCircled</key>
    <string>D_.blackC_ircled.glif</string>
    <key>E.blackCircled</key>
    <string>E_.blackC_ircled.glif</string>
    <key>F.blackCircled</key>
    <string>F_.blackC_ircled.glif</string>
    <key>G.blackCircled</key>
    <string>G_.blackC_ircled.glif</string>
    <key>H.blackCircled</key>
    <string>H_.blackC_ircled.glif</string>
    <key>I.blackCircled</key>
    <string>I_.blackC_ircled.glif</string>
    <key>J.blackCircled</key>
    <string>J_.blackC_ircled.glif</string>
    <key>K.blackCircled</key>
    <string>K_.blackC_ircled.glif</string>
    <key>L.blackCircled</key>
    <string>L_.blackC_ircled.glif</string>
    <key>M.blackCircled</key>
    <string>M_.blackC_ircled.glif</string>
    <key>N.blackCircled</key>
    <string>N_.blackC_ircled.glif</string>
    <key>O.blackCircled</key>
    <string>O_.blackC_ircled.glif</string>
    <key>P.blackCircled</key>
    <string>P_.blackC_ircled.glif</string>
    <key>Q.blackCircled</key>
    <string>Q_.blackC_ircled.glif</string>
    <key>R.blackCircled</key>
    <string>R_.blackC_ircled.glif</string>
    <key>S.blackCircled</key>
    <string>S_.blackC_ircled.glif</string>
    <key>T.blackCircled</key>
    <string>T_.blackC_ircled.glif</string>
    <key>U.blackCircled</key>
    <string>U_.blackC_ircled.glif</string>
    <key>V.blackCircled</key>
    <string>V_.blackC_ircled.glif</string>
    <key>W.blackCircled</key>
    <string>W_.blackC_ircled.glif</string>
    <key>X.blackCircled</key>
    <string>X_.blackC_ircled.glif</string>
    <key>Y.blackCircled</key>
    <string>Y_.blackC_ircled.glif</string>
    <key>Z.blackCircled</key>
    <string>Z_.blackC_ircled.glif</string>
  </dict>
</plist>
