<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>rockSalt-alchemical</key>
    <string>rockS_alt-alchemical.glif</string>
    <key>rockSalt2-alchemical</key>
    <string>rockS_alt2-alchemical.glif</string>
  </dict>
</plist>
