<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1252</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>Ha.pst</string>
      <string>I_anusvara</string>
      <string>I_anusvara.alt</string>
      <string>NULL</string>
      <string>NullMark</string>
      <string>Ra.blw</string>
      <string>Tra</string>
      <string>Ya.blw</string>
      <string>nbspace</string>
      <string>space</string>
      <string>u11680</string>
      <string>u11681</string>
      <string>u11682</string>
      <string>u11683</string>
      <string>u11684</string>
      <string>u11685</string>
      <string>u11686</string>
      <string>u11687</string>
      <string>u11688</string>
      <string>u11689</string>
      <string>u1168A</string>
      <string>u1168B</string>
      <string>u1168C</string>
      <string>u1168D</string>
      <string>u1168E</string>
      <string>u1168F</string>
      <string>u11690</string>
      <string>u11691</string>
      <string>u11692</string>
      <string>u11693</string>
      <string>u11694</string>
      <string>u11695</string>
      <string>u11696</string>
      <string>u11697</string>
      <string>u11698</string>
      <string>u11699</string>
      <string>u1169A</string>
      <string>u1169B</string>
      <string>u1169C</string>
      <string>u1169D</string>
      <string>u1169E</string>
      <string>u1169F</string>
      <string>u116A0</string>
      <string>u116A1</string>
      <string>u116A2</string>
      <string>u116A3</string>
      <string>u116A4</string>
      <string>u116A5</string>
      <string>u116A6</string>
      <string>u116A7</string>
      <string>u116A8</string>
      <string>u116A9</string>
      <string>u116AA</string>
      <string>u116AB</string>
      <string>u116AC</string>
      <string>u116AD</string>
      <string>u116AE</string>
      <string>u116AE.alt</string>
      <string>u116AF</string>
      <string>u116B0</string>
      <string>u116B1</string>
      <string>u116B2</string>
      <string>u116B3</string>
      <string>u116B4</string>
      <string>u116B5</string>
      <string>u116B6</string>
      <string>u116B6.ns</string>
      <string>u116B7</string>
      <string>u116B8</string>
      <string>u116C0</string>
      <string>u116C1</string>
      <string>u116C2</string>
      <string>u116C3</string>
      <string>u116C4</string>
      <string>u116C5</string>
      <string>u116C6</string>
      <string>u116C7</string>
      <string>u116C8</string>
      <string>u116C9</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
      <string>zerowidthjoiner</string>
      <string>zerowidthnonjoiner</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>zerowidthjoiner</key>
      <string>uni200D</string>
      <key>zerowidthnonjoiner</key>
      <string>uni200C</string>
    </dict>
  </dict>
</plist>
