<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10B80</key>
    <string>u10B_80.glif</string>
    <key>u10B80.fina</key>
    <string>u10B_80.fina.glif</string>
    <key>u10B80.init</key>
    <string>u10B_80.init.glif</string>
    <key>u10B80.medi</key>
    <string>u10B_80.medi.glif</string>
    <key>u10B81</key>
    <string>u10B_81.glif</string>
    <key>u10B81.fina</key>
    <string>u10B_81.fina.glif</string>
    <key>u10B82</key>
    <string>u10B_82.glif</string>
    <key>u10B82.fina</key>
    <string>u10B_82.fina.glif</string>
    <key>u10B82.init</key>
    <string>u10B_82.init.glif</string>
    <key>u10B82.medi</key>
    <string>u10B_82.medi.glif</string>
    <key>u10B83</key>
    <string>u10B_83.glif</string>
    <key>u10B83.fina</key>
    <string>u10B_83.fina.glif</string>
    <key>u10B84</key>
    <string>u10B_84.glif</string>
    <key>u10B84.fina</key>
    <string>u10B_84.fina.glif</string>
    <key>u10B85</key>
    <string>u10B_85.glif</string>
    <key>u10B85.fina</key>
    <string>u10B_85.fina.glif</string>
    <key>u10B86</key>
    <string>u10B_86.glif</string>
    <key>u10B86.fina</key>
    <string>u10B_86.fina.glif</string>
    <key>u10B86.init</key>
    <string>u10B_86.init.glif</string>
    <key>u10B86.medi</key>
    <string>u10B_86.medi.glif</string>
    <key>u10B87</key>
    <string>u10B_87.glif</string>
    <key>u10B87.fina</key>
    <string>u10B_87.fina.glif</string>
    <key>u10B87.init</key>
    <string>u10B_87.init.glif</string>
    <key>u10B87.medi</key>
    <string>u10B_87.medi.glif</string>
    <key>u10B88</key>
    <string>u10B_88.glif</string>
    <key>u10B88.fina</key>
    <string>u10B_88.fina.glif</string>
    <key>u10B88.init</key>
    <string>u10B_88.init.glif</string>
    <key>u10B88.medi</key>
    <string>u10B_88.medi.glif</string>
    <key>u10B89</key>
    <string>u10B_89.glif</string>
    <key>u10B89.fina</key>
    <string>u10B_89.fina.glif</string>
    <key>u10B89_alt2</key>
    <string>u10B_89_alt2.glif</string>
    <key>u10B89_alt2.fina</key>
    <string>u10B_89_alt2.fina.glif</string>
    <key>u10B8A</key>
    <string>u10B_8A_.glif</string>
    <key>u10B8A.fina</key>
    <string>u10B_8A_.fina.glif</string>
    <key>u10B8A.init</key>
    <string>u10B_8A_.init.glif</string>
    <key>u10B8A.medi</key>
    <string>u10B_8A_.medi.glif</string>
    <key>u10B8B</key>
    <string>u10B_8B_.glif</string>
    <key>u10B8B.fina</key>
    <string>u10B_8B_.fina.glif</string>
    <key>u10B8B.init</key>
    <string>u10B_8B_.init.glif</string>
    <key>u10B8B.medi</key>
    <string>u10B_8B_.medi.glif</string>
    <key>u10B8C</key>
    <string>u10B_8C_.glif</string>
    <key>u10B8C.fina</key>
    <string>u10B_8C_.fina.glif</string>
    <key>u10B8C_alt2</key>
    <string>u10B_8C__alt2.glif</string>
    <key>u10B8C_alt2.fina</key>
    <string>u10B_8C__alt2.fina.glif</string>
    <key>u10B8D</key>
    <string>u10B_8D_.glif</string>
    <key>u10B8D.fina</key>
    <string>u10B_8D_.fina.glif</string>
    <key>u10B8D.init</key>
    <string>u10B_8D_.init.glif</string>
    <key>u10B8D.medi</key>
    <string>u10B_8D_.medi.glif</string>
    <key>u10B8E</key>
    <string>u10B_8E_.glif</string>
    <key>u10B8E.fina</key>
    <string>u10B_8E_.fina.glif</string>
    <key>u10B8F</key>
    <string>u10B_8F_.glif</string>
    <key>u10B8F.fina</key>
    <string>u10B_8F_.fina.glif</string>
    <key>u10B8F_alt2</key>
    <string>u10B_8F__alt2.glif</string>
    <key>u10B8F_alt2.fina</key>
    <string>u10B_8F__alt2.fina.glif</string>
    <key>u10B90</key>
    <string>u10B_90.glif</string>
    <key>u10B90.fina</key>
    <string>u10B_90.fina.glif</string>
    <key>u10B90.init</key>
    <string>u10B_90.init.glif</string>
    <key>u10B90.medi</key>
    <string>u10B_90.medi.glif</string>
    <key>u10B91</key>
    <string>u10B_91.glif</string>
    <key>u10B91.fina</key>
    <string>u10B_91.fina.glif</string>
    <key>u10B99</key>
    <string>u10B_99.glif</string>
    <key>u10B9A</key>
    <string>u10B_9A_.glif</string>
    <key>u10B9B</key>
    <string>u10B_9B_.glif</string>
    <key>u10B9C</key>
    <string>u10B_9C_.glif</string>
    <key>u10BA9</key>
    <string>u10B_A_9.glif</string>
    <key>u10BA9.alt</key>
    <string>u10B_A_9.alt.glif</string>
    <key>u10BA9.alt.fina</key>
    <string>u10B_A_9.alt.fina.glif</string>
    <key>u10BA9.fina</key>
    <string>u10B_A_9.fina.glif</string>
    <key>u10BAA</key>
    <string>u10B_A_A_.glif</string>
    <key>u10BAA.alt</key>
    <string>u10B_A_A_.alt.glif</string>
    <key>u10BAA.alt.fina</key>
    <string>u10B_A_A_.alt.fina.glif</string>
    <key>u10BAA.fina</key>
    <string>u10B_A_A_.fina.glif</string>
    <key>u10BAB</key>
    <string>u10B_A_B_.glif</string>
    <key>u10BAB.alt</key>
    <string>u10B_A_B_.alt.glif</string>
    <key>u10BAB.alt.fina</key>
    <string>u10B_A_B_.alt.fina.glif</string>
    <key>u10BAB.fina</key>
    <string>u10B_A_B_.fina.glif</string>
    <key>u10BAC</key>
    <string>u10B_A_C_.glif</string>
    <key>u10BAC.alt</key>
    <string>u10B_A_C_.alt.glif</string>
    <key>u10BAC.alt.fina</key>
    <string>u10B_A_C_.alt.fina.glif</string>
    <key>u10BAC.fina</key>
    <string>u10B_A_C_.fina.glif</string>
    <key>u10BAD</key>
    <string>u10B_A_D_.glif</string>
    <key>u10BAD.fina</key>
    <string>u10B_A_D_.fina.glif</string>
    <key>u10BAD.init</key>
    <string>u10B_A_D_.init.glif</string>
    <key>u10BAD.medi</key>
    <string>u10B_A_D_.medi.glif</string>
    <key>u10BAE</key>
    <string>u10B_A_E_.glif</string>
    <key>u10BAE.fina</key>
    <string>u10B_A_E_.fina.glif</string>
    <key>u10BAE.init</key>
    <string>u10B_A_E_.init.glif</string>
    <key>u10BAE.medi</key>
    <string>u10B_A_E_.medi.glif</string>
    <key>u10BAF</key>
    <string>u10B_A_F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0640</key>
    <string>uni0640.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
  </dict>
</plist>
