<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>beh_yeh-ar</key>
    <string>beh_yeh-ar.glif</string>
    <key>dotlessbeh-ar.fina</key>
    <string>dotlessbeh-ar.fina.glif</string>
    <key>dotlessbeh-ar.medi.tall</key>
    <string>dotlessbeh-ar.medi.tall.glif</string>
    <key>dotlessqaf-ar</key>
    <string>dotlessqaf-ar.glif</string>
    <key>dotlessqaf-ar.fina</key>
    <string>dotlessqaf-ar.fina.glif</string>
    <key>fathaRing-ar</key>
    <string>fathaR_ing-ar.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>five-persian</key>
    <string>five-persian.glif</string>
    <key>footnotemarker-ar</key>
    <string>footnotemarker-ar.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>four-persian</key>
    <string>four-persian.glif</string>
    <key>hah-ar.medi</key>
    <string>hah-ar.medi.glif</string>
    <key>lam_alefMadda-ar.fina</key>
    <string>lam_alefM_adda-ar.fina.glif</string>
    <key>lam_lam_heh-ar</key>
    <string>lam_lam_heh-ar.glif</string>
    <key>meem-ar.init</key>
    <string>meem-ar.init.glif</string>
    <key>misraComma-ar</key>
    <string>misraC_omma-ar.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>number-ar</key>
    <string>number-ar.glif</string>
    <key>openfathatan-ar</key>
    <string>openfathatan-ar.glif</string>
    <key>ray-ar</key>
    <string>ray-ar.glif</string>
    <key>rightarrowheadabove-ar</key>
    <string>rightarrowheadabove-ar.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>sad_alefMaksura-ar</key>
    <string>sad_alefM_aksura-ar.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>tah-ar.init</key>
    <string>tah-ar.init.glif</string>
    <key>tah-ar.medi</key>
    <string>tah-ar.medi.glif</string>
    <key>teh_noon-ar.fina</key>
    <string>teh_noon-ar.fina.glif</string>
    <key>teh_yeh-ar.fina</key>
    <string>teh_yeh-ar.fina.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>twodotstahcenter-ar</key>
    <string>twodotstahcenter-ar.glif</string>
    <key>verseComma-ar</key>
    <string>verseC_omma-ar.glif</string>
  </dict>
</plist>
