<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>four-ar</key>
    <dict>
      <key>public.kern2.zero-ar</key>
      <integer>-30</integer>
      <key>six-ar</key>
      <integer>-45</integer>
    </dict>
    <key>four-persian.urdu</key>
    <dict>
      <key>seven-persian.urdu</key>
      <integer>-50</integer>
    </dict>
    <key>one-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.eight-ar</key>
    <dict>
      <key>public.kern2.nine-ar</key>
      <integer>-20</integer>
      <key>public.kern2.seven-ar</key>
      <integer>-40</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-20</integer>
      <key>six-ar</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.five-ar</key>
    <dict>
      <key>public.kern2.seven-ar</key>
      <integer>-30</integer>
      <key>six-ar</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.seven-ar</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-30</integer>
      <key>public.kern2.five-ar</key>
      <integer>-30</integer>
      <key>public.kern2.nine-ar</key>
      <integer>20</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-20</integer>
      <key>six-ar</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.two-ar</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-50</integer>
      <key>public.kern2.five-ar</key>
      <integer>-60</integer>
      <key>public.kern2.nine-ar</key>
      <integer>20</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.zero-ar</key>
    <dict>
      <key>public.kern2.seven-ar</key>
      <integer>-20</integer>
      <key>six-ar</key>
      <integer>-30</integer>
    </dict>
    <key>six-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
