<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.aaMatra</key>
    <array>
      <string>aaMatra-sidd</string>
      <string>aaMatra-sidd.short.ra</string>
      <string>aaMatra-sidd.short</string>
      <string>seed_aaMatra_visarga-sidd</string>
    </array>
    <key>public.kern1.ca</key>
    <array>
      <string>ca-sidd</string>
      <string>dda-sidd</string>
      <string>ta-sidd</string>
      <string>na-sidd</string>
      <string>ba-sidd</string>
      <string>bha-sidd</string>
      <string>ra-sidd</string>
      <string>va-sidd</string>
      <string>ca-sidd.ini</string>
      <string>dda-sidd.ini</string>
      <string>ta-sidd.ini</string>
      <string>na-sidd.ini</string>
      <string>ba-sidd.ini</string>
      <string>bha-sidd.ini</string>
      <string>la-sidd.ini</string>
      <string>va-sidd.ini</string>
      <string>ca-sidd.iniThird</string>
      <string>dda-sidd.iniThird</string>
      <string>ta-sidd.iniThird</string>
      <string>na-sidd.iniThird</string>
      <string>ba-sidd.iniThird</string>
      <string>bha-sidd.iniThird</string>
      <string>la-sidd.iniThird</string>
      <string>va-sidd.iniThird</string>
      <string>c-sidd.med.ra</string>
      <string>dd-sidd.med.ra</string>
      <string>t-sidd.med.ra</string>
      <string>n-sidd.med.ra</string>
      <string>b-sidd.med.ra</string>
      <string>bh-sidd.med.ra</string>
      <string>l-sidd.med.ra</string>
      <string>v-sidd.med.ra</string>
      <string>c-sidd.ra</string>
      <string>dd-sidd.ra</string>
      <string>t-sidd.ra</string>
      <string>n-sidd.ra</string>
      <string>b-sidd.ra</string>
      <string>bh-sidd.ra</string>
      <string>v-sidd.ra</string>
      <string>seed_ta_r-sidd</string>
    </array>
    <key>public.kern1.cha</key>
    <array>
      <string>cha-sidd</string>
      <string>cha-sidd.ini</string>
      <string>cha-sidd.iniThird</string>
      <string>ch-sidd.med.ra</string>
      <string>ch-sidd.ra</string>
    </array>
    <key>public.kern1.da</key>
    <array>
      <string>da-sidd</string>
      <string>da-sidd.ini.diaB</string>
      <string>da-sidd.ini</string>
      <string>d-sidd.med.ra</string>
      <string>d-sidd.ra</string>
    </array>
    <key>public.kern1.da_Third</key>
    <array>
      <string>da-sidd.iniThird.diaB</string>
      <string>da-sidd.iniThird</string>
    </array>
    <key>public.kern1.ddha</key>
    <array>
      <string>ddha-sidd</string>
      <string>ddha-sidd.ini</string>
      <string>ddha-sidd.iniThird</string>
      <string>ddh-sidd.med.ra</string>
      <string>ddh-sidd.ra</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e-sidd</string>
      <string>ai-sidd</string>
      <string>o-sidd</string>
    </array>
    <key>public.kern1.eMatra</key>
    <array>
      <string>eMatra-sidd</string>
      <string>aiMatra-sidd</string>
      <string>eMatra-sidd.long</string>
    </array>
    <key>public.kern1.eMatraRa</key>
    <array>
      <string>eMatra-sidd.long.ra</string>
      <string>eMatra-sidd.ra</string>
      <string>aiMatra-sidd.ra</string>
      <string>aiMatra-sidd.tha.ra</string>
      <string>aiMatra-sidd.ra.ss02</string>
      <string>aiMatra-sidd.tha.ra.ss02</string>
    </array>
    <key>public.kern1.gha</key>
    <array>
      <string>a-sidd</string>
      <string>gha-sidd</string>
      <string>tha-sidd</string>
      <string>dha-sidd</string>
      <string>pa-sidd</string>
      <string>ma-sidd</string>
      <string>ya-sidd</string>
      <string>ssa-sidd</string>
      <string>sa-sidd</string>
      <string>a-sidd.ini</string>
      <string>gha-sidd.ini</string>
      <string>tha-sidd.ini</string>
      <string>dha-sidd.ini</string>
      <string>pa-sidd.ini</string>
      <string>ma-sidd.ini</string>
      <string>ya-sidd.ini</string>
      <string>ssa-sidd.ini</string>
      <string>sa-sidd.ini</string>
      <string>a-sidd.iniThird</string>
      <string>gha-sidd.iniThird</string>
      <string>tha-sidd.iniThird</string>
      <string>dha-sidd.iniThird</string>
      <string>pa-sidd.iniThird</string>
      <string>ma-sidd.iniThird</string>
      <string>ya-sidd.iniThird</string>
      <string>ssa-sidd.iniThird</string>
      <string>sa-sidd.iniThird</string>
      <string>gh-sidd.med.ra</string>
      <string>th-sidd.med.ra</string>
      <string>dh-sidd.med.ra</string>
      <string>p-sidd.med.ra</string>
      <string>m-sidd.med.ra</string>
      <string>y-sidd.med.ra</string>
      <string>ss-sidd.med.ra</string>
      <string>s-sidd.med.ra</string>
      <string>gh-sidd.ra</string>
      <string>th-sidd.ra</string>
      <string>dh-sidd.ra</string>
      <string>p-sidd.ra</string>
      <string>m-sidd.ra</string>
      <string>ss-sidd.ra</string>
      <string>s-sidd.ra</string>
    </array>
    <key>public.kern1.ha</key>
    <array>
      <string>ha-sidd</string>
      <string>ha-sidd.ini</string>
      <string>ha-sidd.iniThird</string>
      <string>h-sidd.med.ra</string>
      <string>h-sidd.ra</string>
      <string>seed_ha_r-sidd</string>
    </array>
    <key>public.kern1.iMatra</key>
    <array>
      <string>iMatra-sidd</string>
      <string>iMatra-sidd.la</string>
      <string>iMatra-sidd.narrow</string>
      <string>iMatra-sidd.la.open</string>
      <string>iMatra-sidd.narrow.open</string>
      <string>iMatra-sidd.open</string>
      <string>iMatra-sidd.wide</string>
    </array>
    <key>public.kern1.iMatraRa</key>
    <array>
      <string>iMatra-sidd.la.ra</string>
      <string>iMatra-sidd.narrow.ra</string>
      <string>iMatra-sidd.la.open.ra</string>
      <string>iMatra-sidd.narrow.open.ra</string>
      <string>iMatra-sidd.open.ra</string>
      <string>iMatra-sidd.wide.open.ra</string>
      <string>iMatra-sidd.ra</string>
      <string>iMatra-sidd.wide.ra</string>
    </array>
    <key>public.kern1.iiMatra</key>
    <array>
      <string>iiMatra-sidd</string>
      <string>iiMatra-sidd.narrow</string>
      <string>iiMatra-sidd.narrow.ra</string>
      <string>iiMatra-sidd.ra</string>
      <string>iiMatra-sidd.wide.ra</string>
      <string>iiMatra-sidd.wide2.ra</string>
      <string>iiMatra-sidd.wide</string>
      <string>iiMatra-sidd.wide2</string>
    </array>
    <key>public.kern1.jh</key>
    <array>
      <string>jh-sidd</string>
      <string>ny-sidd</string>
      <string>jh-sidd.med</string>
      <string>ny-sidd.med</string>
    </array>
    <key>public.kern1.jha</key>
    <array>
      <string>rVocalic-sidd</string>
      <string>rrVocalic-sidd</string>
      <string>jha-sidd</string>
      <string>nya-sidd</string>
      <string>jha-sidd.ini.aaMatra</string>
      <string>nya-sidd.ini.aaMatra</string>
      <string>jha-sidd.iniThird.aaMatra</string>
      <string>nya-sidd.iniThird.aaMatra</string>
      <string>jha-sidd.aaMatra</string>
      <string>nya-sidd.aaMatra</string>
      <string>jha-sidd.ini</string>
      <string>nya-sidd.ini</string>
      <string>jha-sidd.iniThird</string>
      <string>nya-sidd.iniThird</string>
      <string>jh-sidd.med.ra</string>
      <string>ny-sidd.med.ra</string>
      <string>jh-sidd.ra</string>
      <string>ny-sidd.ra</string>
      <string>jh-sidd.med.ra.aaMatra</string>
      <string>ny-sidd.med.ra.aaMatra</string>
      <string>jh-sidd.ra.aaMatra</string>
      <string>ny-sidd.ra.aaMatra</string>
    </array>
    <key>public.kern1.ka</key>
    <array>
      <string>ka-sidd</string>
      <string>ka-sidd.ini.centre</string>
      <string>ka-sidd.iniThird.centre</string>
      <string>ka-sidd.ini</string>
      <string>ka-sidd.iniThird</string>
      <string>k-sidd.med.ra.centre</string>
      <string>k-sidd.med.ra</string>
      <string>k-sidd.ra</string>
    </array>
    <key>public.kern1.kha</key>
    <array>
      <string>kha-sidd</string>
      <string>ga-sidd</string>
      <string>sha-sidd</string>
      <string>kha-sidd.ini</string>
      <string>ga-sidd.ini</string>
      <string>sha-sidd.ini</string>
      <string>kha-sidd.iniThird</string>
      <string>ga-sidd.iniThird</string>
      <string>sha-sidd.iniThird</string>
      <string>kh-sidd.med.ra</string>
      <string>g-sidd.med.ra</string>
      <string>sh-sidd.med.ra</string>
      <string>kh-sidd.ra</string>
      <string>g-sidd.ra</string>
      <string>sh-sidd.ra</string>
    </array>
    <key>public.kern1.nga</key>
    <array>
      <string>aa-sidd</string>
      <string>nga-sidd</string>
      <string>ja-sidd</string>
      <string>tta-sidd</string>
      <string>tta-sidd.ini.centre</string>
      <string>tta-sidd.iniThird.centre</string>
      <string>aa-sidd.ini</string>
      <string>nga-sidd.ini</string>
      <string>ja-sidd.ini</string>
      <string>tta-sidd.ini</string>
      <string>aa-sidd.iniThird</string>
      <string>nga-sidd.iniThird</string>
      <string>ja-sidd.iniThird</string>
      <string>tta-sidd.iniThird</string>
      <string>ng-sidd.med.ra</string>
      <string>j-sidd.med.ra</string>
      <string>tt-sidd.med.ra</string>
      <string>ng-sidd.ra</string>
      <string>j-sidd.ra</string>
      <string>tt-sidd.ra</string>
    </array>
    <key>public.kern1.nna</key>
    <array>
      <string>nna-sidd</string>
      <string>nna-sidd.ini</string>
      <string>nna-sidd.iniThird</string>
      <string>nn-sidd.med.ra</string>
      <string>nn-sidd.ra</string>
    </array>
    <key>public.kern1.pha</key>
    <array>
      <string>pha-sidd</string>
      <string>pha-sidd.ini</string>
      <string>pha-sidd.iniThird</string>
      <string>ph-sidd.med.ra</string>
      <string>ph-sidd.ra</string>
    </array>
    <key>public.kern1.ra</key>
    <array>
      <string>ra-sidd.ini</string>
      <string>ra-sidd.iniThird</string>
      <string>ra-sidd.ini.long</string>
      <string>r-sidd.med.ra</string>
      <string>r-sidd.ra</string>
    </array>
    <key>public.kern1.ttha</key>
    <array>
      <string>ttha-sidd</string>
      <string>ttha-sidd.ini.centre</string>
      <string>ttha-sidd.iniThird.centre</string>
      <string>ttha-sidd.ini</string>
      <string>ttha-sidd.iniThird</string>
      <string>tth-sidd.med.ra</string>
      <string>tth-sidd.ra</string>
    </array>
    <key>public.kern2.aaMatra</key>
    <array>
      <string>aaMatra-sidd</string>
      <string>aaMatra-sidd.ini.jha</string>
      <string>aaMatra-sidd.iniThird.jha</string>
      <string>aaMatra-sidd.jha</string>
      <string>aaMatra-sidd.nga</string>
      <string>aaMatra-sidd.short.ra</string>
      <string>aaMatra-sidd.short</string>
      <string>seed_aaMatra_visarga-sidd</string>
    </array>
    <key>public.kern2.ba</key>
    <array>
      <string>ba-sidd</string>
      <string>ba-sidd.ini</string>
      <string>ba-sidd.iniThird</string>
      <string>b-sidd.med.ra</string>
      <string>b-sidd.ra</string>
    </array>
    <key>public.kern2.bha</key>
    <array>
      <string>bha-sidd</string>
      <string>bha-sidd.ini</string>
      <string>bha-sidd.iniThird</string>
      <string>bh-sidd.med.ra</string>
      <string>bh-sidd.ra</string>
    </array>
    <key>public.kern2.ca</key>
    <array>
      <string>ca-sidd</string>
      <string>ca-sidd.ini</string>
      <string>ca-sidd.iniThird</string>
      <string>c-sidd.med.ra</string>
      <string>c-sidd.ra</string>
    </array>
    <key>public.kern2.cha</key>
    <array>
      <string>cha-sidd</string>
      <string>cha-sidd.ini</string>
      <string>cha-sidd.iniThird</string>
      <string>ch-sidd.med.ra</string>
      <string>ch-sidd.ra</string>
    </array>
    <key>public.kern2.da</key>
    <array>
      <string>ddha-sidd</string>
      <string>da-sidd</string>
      <string>ha-sidd</string>
      <string>da-sidd.ini.diaB</string>
      <string>da-sidd.iniThird.diaB</string>
      <string>ddha-sidd.ini</string>
      <string>da-sidd.ini</string>
      <string>ha-sidd.ini</string>
      <string>ddha-sidd.iniThird</string>
      <string>da-sidd.iniThird</string>
      <string>ha-sidd.iniThird</string>
      <string>ddh-sidd.med.ra</string>
      <string>d-sidd.med.ra</string>
      <string>h-sidd.med.ra</string>
      <string>ddh-sidd.ra</string>
      <string>d-sidd.ra</string>
      <string>h-sidd.ra</string>
      <string>seed_ha_r_iiMatra-sidd</string>
      <string>seed_ha_r-sidd</string>
    </array>
    <key>public.kern2.dda</key>
    <array>
      <string>dda-sidd</string>
      <string>ta-sidd</string>
      <string>dda-sidd.ini</string>
      <string>ta-sidd.ini</string>
      <string>dda-sidd.iniThird</string>
      <string>ta-sidd.iniThird</string>
      <string>dd-sidd.med.ra</string>
      <string>t-sidd.med.ra</string>
      <string>dd-sidd.ra</string>
      <string>t-sidd.ra</string>
    </array>
    <key>public.kern2.dha</key>
    <array>
      <string>dh-sidd.med.ra</string>
      <string>dh-sidd.ra</string>
    </array>
    <key>public.kern2.eMatra</key>
    <array>
      <string>eMatra-sidd</string>
      <string>eMatra-sidd.long</string>
    </array>
    <key>public.kern2.gha</key>
    <array>
      <string>gha-sidd</string>
      <string>gha-sidd.ini</string>
      <string>gha-sidd.iniThird</string>
      <string>gh-sidd.med.ra</string>
      <string>gh-sidd.ra</string>
    </array>
    <key>public.kern2.iiMatra</key>
    <array>
      <string>iiMatra-sidd</string>
      <string>iiMatra-sidd.narrow</string>
      <string>iiMatra-sidd.narrow.ra</string>
      <string>iiMatra-sidd.ra</string>
      <string>iiMatra-sidd.wide.ra</string>
      <string>iiMatra-sidd.wide2.ra</string>
      <string>iiMatra-sidd.wide</string>
      <string>iiMatra-sidd.wide2</string>
    </array>
    <key>public.kern2.jha</key>
    <array>
      <string>jha-sidd</string>
      <string>jha-sidd.ini.aaMatra</string>
      <string>jha-sidd.iniThird.aaMatra</string>
      <string>jha-sidd.aaMatra</string>
      <string>jha-sidd.ini</string>
      <string>jha-sidd.iniThird</string>
      <string>jh-sidd.med.ra</string>
      <string>jh-sidd.ra</string>
      <string>jh-sidd.med.ra.aaMatra</string>
      <string>jh-sidd.ra.aaMatra</string>
    </array>
    <key>public.kern2.ka</key>
    <array>
      <string>ka-sidd</string>
      <string>ka-sidd.ini.centre</string>
      <string>ka-sidd.iniThird.centre</string>
      <string>ka-sidd.ini</string>
      <string>ka-sidd.iniThird</string>
      <string>k-sidd.med.ra</string>
      <string>k-sidd.ra</string>
    </array>
    <key>public.kern2.kha</key>
    <array>
      <string>kha-sidd</string>
      <string>ga-sidd</string>
      <string>kha-sidd.ini</string>
      <string>ga-sidd.ini</string>
      <string>kha-sidd.iniThird</string>
      <string>ga-sidd.iniThird</string>
      <string>kh-sidd.med.ra</string>
      <string>g-sidd.med.ra</string>
      <string>kh-sidd.ra</string>
      <string>g-sidd.ra</string>
    </array>
    <key>public.kern2.la</key>
    <array>
      <string>la-sidd</string>
      <string>la-sidd.ini</string>
      <string>la-sidd.iniThird</string>
      <string>l-sidd.med.ra</string>
      <string>l-sidd.ra</string>
    </array>
    <key>public.kern2.ma</key>
    <array>
      <string>ma-sidd</string>
      <string>ma-sidd.ini</string>
      <string>ma-sidd.iniThird</string>
      <string>m-sidd.med.ra</string>
      <string>m-sidd.ra</string>
    </array>
    <key>public.kern2.na</key>
    <array>
      <string>na-sidd</string>
      <string>na-sidd.ini</string>
      <string>na-sidd.iniThird</string>
      <string>n-sidd.med.ra</string>
      <string>n-sidd.ra</string>
    </array>
    <key>public.kern2.nga</key>
    <array>
      <string>nga-sidd</string>
      <string>ja-sidd</string>
      <string>nga-sidd.ini</string>
      <string>ja-sidd.ini</string>
      <string>nga-sidd.iniThird</string>
      <string>ja-sidd.iniThird</string>
      <string>ng-sidd.med.ra</string>
      <string>j-sidd.med.ra</string>
      <string>ng-sidd.ra</string>
      <string>j-sidd.ra</string>
    </array>
    <key>public.kern2.nna</key>
    <array>
      <string>nna-sidd</string>
      <string>nna-sidd.ini</string>
      <string>nna-sidd.iniThird</string>
      <string>nn-sidd.med.ra</string>
      <string>nn-sidd.ra</string>
    </array>
    <key>public.kern2.nya</key>
    <array>
      <string>nya-sidd</string>
      <string>nya-sidd.ini.aaMatra</string>
      <string>nya-sidd.iniThird.aaMatra</string>
      <string>nya-sidd.aaMatra</string>
      <string>nya-sidd.ini</string>
      <string>nya-sidd.iniThird</string>
      <string>ny-sidd.med.ra</string>
      <string>ny-sidd.ra</string>
      <string>ny-sidd.med.ra.aaMatra</string>
      <string>ny-sidd.ra.aaMatra</string>
    </array>
    <key>public.kern2.pa</key>
    <array>
      <string>pa-sidd</string>
      <string>ssa-sidd</string>
      <string>pa-sidd.ini</string>
      <string>ssa-sidd.ini</string>
      <string>pa-sidd.iniThird</string>
      <string>ssa-sidd.iniThird</string>
      <string>p-sidd.med.ra</string>
      <string>ss-sidd.med.ra</string>
      <string>p-sidd.ra</string>
      <string>ss-sidd.ra</string>
    </array>
    <key>public.kern2.pha</key>
    <array>
      <string>pha-sidd</string>
      <string>pha-sidd.ini</string>
      <string>pha-sidd.iniThird</string>
      <string>ph-sidd.med.ra</string>
      <string>ph-sidd.ra</string>
    </array>
    <key>public.kern2.ra</key>
    <array>
      <string>ra-sidd</string>
      <string>ra-sidd.ini</string>
      <string>ra-sidd.iniThird</string>
      <string>ra-sidd.ini.long</string>
      <string>r-sidd.med.ra</string>
      <string>r-sidd.ra</string>
    </array>
    <key>public.kern2.sa</key>
    <array>
      <string>sa-sidd</string>
      <string>sa-sidd.ini</string>
      <string>sa-sidd.iniThird</string>
      <string>s-sidd.med.ra</string>
      <string>s-sidd.ra</string>
    </array>
    <key>public.kern2.sha</key>
    <array>
      <string>sha-sidd</string>
      <string>sha-sidd.ini</string>
      <string>sha-sidd.iniThird</string>
      <string>sh-sidd.med.ra</string>
      <string>sh-sidd.ra</string>
    </array>
    <key>public.kern2.tha</key>
    <array>
      <string>th-sidd.med.ra</string>
      <string>th-sidd.ra</string>
    </array>
    <key>public.kern2.tta</key>
    <array>
      <string>tta-sidd</string>
      <string>tta-sidd.ini.centre</string>
      <string>tta-sidd.iniThird.centre</string>
      <string>tta-sidd.ini</string>
      <string>tta-sidd.iniThird</string>
      <string>tt-sidd.med.ra</string>
      <string>tt-sidd.ra</string>
    </array>
    <key>public.kern2.ttha</key>
    <array>
      <string>ttha-sidd</string>
      <string>ttha-sidd.ini.centre</string>
      <string>ttha-sidd.iniThird.centre</string>
      <string>ttha-sidd.ini</string>
      <string>ttha-sidd.iniThird</string>
      <string>tth-sidd.med.ra</string>
      <string>tth-sidd.ra</string>
    </array>
    <key>public.kern2.va</key>
    <array>
      <string>va-sidd</string>
      <string>va-sidd.ini</string>
      <string>va-sidd.iniThird</string>
      <string>v-sidd.med.ra</string>
      <string>v-sidd.ra</string>
    </array>
    <key>public.kern2.ya</key>
    <array>
      <string>ya-sidd</string>
      <string>ya-sidd.ini</string>
      <string>ya-sidd.iniThird</string>
      <string>y-sidd.med.ra</string>
    </array>
  </dict>
</plist>
