<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>la-sidd</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-50</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-10</integer>
      <key>visarga-sidd</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.aaMatra</key>
    <dict>
      <key>public.kern2.eMatra</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.ca</key>
    <dict>
      <key>aaMatra-sidd.ra</key>
      <integer>40</integer>
      <key>public.kern2.aaMatra</key>
      <integer>40</integer>
      <key>public.kern2.iiMatra</key>
      <integer>90</integer>
      <key>visarga-sidd</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.cha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-60</integer>
      <key>public.kern2.eMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.da</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>20</integer>
      <key>public.kern2.iiMatra</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.da_Third</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>45</integer>
      <key>public.kern2.iiMatra</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.ddha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-60</integer>
      <key>public.kern2.eMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>50</integer>
      <key>public.kern2.iiMatra</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.eMatra</key>
    <dict>
      <key>dha-sidd</key>
      <integer>-70</integer>
      <key>dha-sidd.ini</key>
      <integer>-40</integer>
      <key>dha-sidd.iniThird</key>
      <integer>-10</integer>
      <key>public.kern2.bha</key>
      <integer>30</integer>
      <key>public.kern2.ca</key>
      <integer>-30</integer>
      <key>public.kern2.cha</key>
      <integer>-40</integer>
      <key>public.kern2.da</key>
      <integer>30</integer>
      <key>public.kern2.dda</key>
      <integer>30</integer>
      <key>public.kern2.gha</key>
      <integer>130</integer>
      <key>public.kern2.jha</key>
      <integer>90</integer>
      <key>public.kern2.kha</key>
      <integer>40</integer>
      <key>public.kern2.ma</key>
      <integer>50</integer>
      <key>public.kern2.na</key>
      <integer>-40</integer>
      <key>public.kern2.nga</key>
      <integer>50</integer>
      <key>public.kern2.nya</key>
      <integer>90</integer>
      <key>public.kern2.pa</key>
      <integer>130</integer>
      <key>public.kern2.pha</key>
      <integer>70</integer>
      <key>public.kern2.ra</key>
      <integer>100</integer>
      <key>public.kern2.sa</key>
      <integer>20</integer>
      <key>public.kern2.sha</key>
      <integer>60</integer>
      <key>public.kern2.tta</key>
      <integer>-20</integer>
      <key>public.kern2.va</key>
      <integer>10</integer>
      <key>public.kern2.ya</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.eMatraRa</key>
    <dict>
      <key>iMatra-sidd.ra</key>
      <integer>0</integer>
      <key>public.kern2.ma</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.gha</key>
    <dict>
      <key>aaMatra-sidd.ra</key>
      <integer>30</integer>
      <key>public.kern2.aaMatra</key>
      <integer>0</integer>
      <key>public.kern2.iiMatra</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.ha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.iMatra</key>
    <dict>
      <key>public.kern2.bha</key>
      <integer>30</integer>
      <key>public.kern2.ca</key>
      <integer>-30</integer>
      <key>public.kern2.cha</key>
      <integer>-40</integer>
      <key>public.kern2.da</key>
      <integer>30</integer>
      <key>public.kern2.dda</key>
      <integer>30</integer>
      <key>public.kern2.gha</key>
      <integer>130</integer>
      <key>public.kern2.jha</key>
      <integer>100</integer>
      <key>public.kern2.ma</key>
      <integer>20</integer>
      <key>public.kern2.na</key>
      <integer>-30</integer>
      <key>public.kern2.nga</key>
      <integer>50</integer>
      <key>public.kern2.nya</key>
      <integer>80</integer>
      <key>public.kern2.pa</key>
      <integer>130</integer>
      <key>public.kern2.pha</key>
      <integer>60</integer>
      <key>public.kern2.ra</key>
      <integer>100</integer>
      <key>public.kern2.sa</key>
      <integer>30</integer>
      <key>public.kern2.tta</key>
      <integer>-20</integer>
      <key>public.kern2.ya</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.iMatraRa</key>
    <dict>
      <key>eMatra-sidd.ra</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.iiMatra</key>
    <dict>
      <key>public.kern2.eMatra</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.jha</key>
    <dict>
      <key>aaMatra-sidd.jha.ra</key>
      <integer>-10</integer>
      <key>public.kern2.aaMatra</key>
      <integer>0</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-164</integer>
    </dict>
    <key>public.kern1.ka</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-40</integer>
      <key>public.kern2.eMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.kha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>40</integer>
      <key>public.kern2.iiMatra</key>
      <integer>89</integer>
      <key>visarga-sidd</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.nga</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>0</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.nna</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-40</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-96</integer>
    </dict>
    <key>public.kern1.pha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-70</integer>
      <key>public.kern2.eMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.ttha</key>
    <dict>
      <key>public.kern2.aaMatra</key>
      <integer>-40</integer>
      <key>public.kern2.eMatra</key>
      <integer>-60</integer>
      <key>public.kern2.iiMatra</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
