<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Apr 27 20, 09:40</string>
      <string>glyphs.A_pr 27 20, 09_40</string>
    </array>
    <array>
      <string>Apr 27 20, 09:40.background</string>
      <string>glyphs.A_pr 27 20, 09_40.background</string>
    </array>
    <array>
      <string>Apr 27 20, 10:58</string>
      <string>glyphs.A_pr 27 20, 10_58</string>
    </array>
    <array>
      <string>Apr 27 20, 10:58.background</string>
      <string>glyphs.A_pr 27 20, 10_58.background</string>
    </array>
    <array>
      <string>Apr 27 20, 11:13</string>
      <string>glyphs.A_pr 27 20, 11_13</string>
    </array>
    <array>
      <string>Apr 27 20, 11:13.background</string>
      <string>glyphs.A_pr 27 20, 11_13.background</string>
    </array>
    <array>
      <string>Apr 27 20, 11:32</string>
      <string>glyphs.A_pr 27 20, 11_32</string>
    </array>
    <array>
      <string>Apr 27 20, 11:32.background</string>
      <string>glyphs.A_pr 27 20, 11_32.background</string>
    </array>
  </array>
</plist>
