<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maiTho-thai.small</key>
    <dict>
      <key>maiTho-thai.small</key>
      <integer>0</integer>
    </dict>
    <key>maiTri-thai.small</key>
    <dict>
      <key>maiTri-thai.small</key>
      <integer>0</integer>
    </dict>
    <key>nikhahit_maiTho-thai</key>
    <dict>
      <key>public.kern2.saraAa-thai</key>
      <integer>-40</integer>
    </dict>
    <key>nine-thai</key>
    <dict>
      <key>eight-thai</key>
      <integer>-40</integer>
      <key>public.kern2.four-thai</key>
      <integer>-30</integer>
      <key>public.kern2.three-thai</key>
      <integer>-30</integer>
      <key>public.kern2.zero-thai</key>
      <integer>-30</integer>
    </dict>
    <key>noNu-thai</key>
    <dict>
      <key>public.kern2.saraAa-thai</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.four-thai</key>
    <dict>
      <key>eight-thai</key>
      <integer>-10</integer>
      <key>public.kern2.three-thai</key>
      <integer>-10</integer>
      <key>public.kern2.zero-thai</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
