<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>afii08941</key>
    <string>afii08941.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>livreTournois</key>
    <string>livreT_ournois.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>spesmilo</key>
    <string>spesmilo.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>uni20A0</key>
    <string>uni20A_0.glif</string>
    <key>uni20A1</key>
    <string>uni20A_1.glif</string>
    <key>uni20A2</key>
    <string>uni20A_2.glif</string>
    <key>uni20A5</key>
    <string>uni20A_5.glif</string>
    <key>uni20A6</key>
    <string>uni20A_6.glif</string>
    <key>uni20A8</key>
    <string>uni20A_8.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>uni20AB</key>
    <string>uni20A_B_.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>uni20AE</key>
    <string>uni20A_E_.glif</string>
    <key>uni20AF</key>
    <string>uni20A_F_.glif</string>
    <key>uni20B0</key>
    <string>uni20B_0.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif</string>
    <key>uni20B3</key>
    <string>uni20B_3.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B5</key>
    <string>uni20B_5.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BB</key>
    <string>uni20B_B_.glif</string>
    <key>uni20BE</key>
    <string>uni20B_E_.glif</string>
    <key>uni20BF</key>
    <string>uni20B_F_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
  </dict>
</plist>
