<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>2</integer>
    <key>GSOffsetVertical</key>
    <integer>2</integer>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.a_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>a-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.aaSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>aaSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.aaSign_oeSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>aaSign_oeSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.aiSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>aiSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ai_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ai-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.auSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>auSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.auSign_mSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>auSign_mSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ba_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ba-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.bba_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>bba-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.bba_cham.calt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>va-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.bha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>bha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.chFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>chFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.cha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>cha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.chha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>chha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.comma.cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>comma</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.da_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>da-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.danda_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>danda-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.dda_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>dda-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.dha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>dha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.dha_withcrossstroke</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>dha-withcrossstroke</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.doubleDanda_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>doubleDanda-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.e_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>e-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.eiSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>eiSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.eight_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>eight-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.five_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>five-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.four_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>four-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.gFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>gFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.gha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>gha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.hSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>hSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.hyphen.cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>hyphen</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.hyphentwo</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>hyphentwo</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.iSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>iSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.iSign_mSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>iSign_mSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.i_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>i-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.iiSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>iiSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ja_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ja-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.jha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>jha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.kFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>kFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.lFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>lFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.laMed_waMed_uSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>laMedial_waMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.laMed_waMed_ueSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>laMedial_waMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.laMedial_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>laMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.laMedial_waMedial_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>laMedial_waMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.la_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>la-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.mSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>mSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ma_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ma-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ma_cham.calt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>va-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.mue_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>mue-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.na_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>na-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.na_cham.calt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>va-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ngFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ngFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ngSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ngSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nga_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nga-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ngue_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ngue-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nhja_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nhja-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nhue_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nhue-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nine_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nine-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nue_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>nue-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.oSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>oSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.o_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>o-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.oeSign_auSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>oeSign_auSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.oeSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>oeSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.oeSign_mSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>oeSign_mSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.oeSign_ngSignFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>oeSign_ngSignFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.one_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>one-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.pFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>pFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.pa_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>pa-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.period.cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>period</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.pha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>pha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ppa_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ppa-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.rFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>rFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.raMedial_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>raMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.raMedial_cham_pre</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>raMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.raMedial_cham_pre.low</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>raMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.raMedial_cham_pre.low.alt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>raMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ra_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ra-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.sa_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>sa-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.seven_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>seven-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.six_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>six-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.softhyphen</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>softhyphen</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.spiral_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>spiral-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ssFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ssFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ssa_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ssa-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.tFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>tFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ta_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ta-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.tha_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>tha-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.three_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>three-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.tripleDanda_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>tripleDanda-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.two_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>two-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.uSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>uSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.u_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>u-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ueSign_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ueSign-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.va_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>va-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.va_cham.calt</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>va-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.waMedial_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>waMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.yFinal_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>yFinal-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.yaMedial_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>yaMedial-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.ya_cham</key>
    <dict>
      <key>RMXScaler</key>
      <dict>
        <key>source</key>
        <string>ya-cham</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>151</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>SemiBold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>151</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>a_cham</string>
      <string>aaSign_cham</string>
      <string>aaSign_oeSign_cham</string>
      <string>aiSign_cham</string>
      <string>ai_cham</string>
      <string>auSign_cham</string>
      <string>auSign_mSignFinal_cham</string>
      <string>ba_cham</string>
      <string>bba_cham</string>
      <string>bba_cham.calt</string>
      <string>bha_cham</string>
      <string>chFinal_cham</string>
      <string>cha_cham</string>
      <string>chha_cham</string>
      <string>colon</string>
      <string>comma</string>
      <string>comma.cham</string>
      <string>da_cham</string>
      <string>danda_cham</string>
      <string>dda_cham</string>
      <string>dha_cham</string>
      <string>dha_withcrossstroke</string>
      <string>doubleDanda_cham</string>
      <string>e_cham</string>
      <string>eiSign_cham</string>
      <string>eight_cham</string>
      <string>exclam</string>
      <string>five_cham</string>
      <string>four_cham</string>
      <string>gFinal_cham</string>
      <string>ga_cham</string>
      <string>gha_cham</string>
      <string>hSignFinal_cham</string>
      <string>ha_cham</string>
      <string>hyphen</string>
      <string>hyphen.cham</string>
      <string>hyphentwo</string>
      <string>iSign_cham</string>
      <string>iSign_mSignFinal_cham</string>
      <string>i_cham</string>
      <string>iiSign_cham</string>
      <string>ja_cham</string>
      <string>jha_cham</string>
      <string>kFinal_cham</string>
      <string>ka_cham</string>
      <string>kha_cham</string>
      <string>lFinal_cham</string>
      <string>laMed_waMed_uSign_cham</string>
      <string>laMed_waMed_ueSign_cham</string>
      <string>laMedial_cham</string>
      <string>laMedial_cham.narrow</string>
      <string>laMedial_uSign_cham</string>
      <string>laMedial_ueSign_cham</string>
      <string>laMedial_waMedial_cham</string>
      <string>la_cham</string>
      <string>mSignFinal_cham</string>
      <string>ma_cham</string>
      <string>ma_cham.calt</string>
      <string>mue_cham</string>
      <string>nFinal_cham</string>
      <string>na_cham</string>
      <string>na_cham.calt</string>
      <string>nbspace</string>
      <string>ngFinal_cham</string>
      <string>ngSignFinal_cham</string>
      <string>nga_cham</string>
      <string>ngue_cham</string>
      <string>nha_cham</string>
      <string>nhja_cham</string>
      <string>nhue_cham</string>
      <string>nine_cham</string>
      <string>nue_cham</string>
      <string>oSign_cham</string>
      <string>o_cham</string>
      <string>oeSign_auSign_cham</string>
      <string>oeSign_cham</string>
      <string>oeSign_mSignFinal_cham</string>
      <string>oeSign_ngSignFinal_cham</string>
      <string>one_cham</string>
      <string>pFinal_cham</string>
      <string>pa_cham</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>period.cham</string>
      <string>pha_cham</string>
      <string>ppa_cham</string>
      <string>question</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>rFinal_cham</string>
      <string>raMedial_cham</string>
      <string>raMedial_cham_pre</string>
      <string>raMedial_cham_pre.low</string>
      <string>raMedial_cham_pre.low.alt</string>
      <string>ra_cham</string>
      <string>sa_cham</string>
      <string>semicolon</string>
      <string>seven_cham</string>
      <string>six_cham</string>
      <string>slash</string>
      <string>softhyphen</string>
      <string>space</string>
      <string>spiral_cham</string>
      <string>ssFinal_cham</string>
      <string>ssa_cham</string>
      <string>tFinal_cham</string>
      <string>ta_cham</string>
      <string>tha_cham</string>
      <string>three_cham</string>
      <string>tripleDanda_cham</string>
      <string>two_cham</string>
      <string>uSign_cham</string>
      <string>uSign_cham.narrow</string>
      <string>uSign_cham.narrow_alt</string>
      <string>u_cham</string>
      <string>ueSign_cham</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>va_cham</string>
      <string>va_cham.calt</string>
      <string>waMedial_cham</string>
      <string>waMedial_cham.narrow</string>
      <string>waMedial_uSign_cham</string>
      <string>waMedial_ueSign_cham</string>
      <string>yFinal_cham</string>
      <string>yaMedial_cham</string>
      <string>ya_cham</string>
      <string>zero_cham</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>a_cham</string>
      <string>aaSign_cham</string>
      <string>aaSign_oeSign_cham</string>
      <string>aiSign_cham</string>
      <string>ai_cham</string>
      <string>auSign_cham</string>
      <string>auSign_mSignFinal_cham</string>
      <string>ba_cham</string>
      <string>bba_cham</string>
      <string>bba_cham.calt</string>
      <string>bha_cham</string>
      <string>chFinal_cham</string>
      <string>cha_cham</string>
      <string>chha_cham</string>
      <string>colon</string>
      <string>comma</string>
      <string>comma.cham</string>
      <string>da_cham</string>
      <string>danda_cham</string>
      <string>dda_cham</string>
      <string>dha_cham</string>
      <string>dha_withcrossstroke</string>
      <string>doubleDanda_cham</string>
      <string>e_cham</string>
      <string>eiSign_cham</string>
      <string>eight_cham</string>
      <string>exclam</string>
      <string>five_cham</string>
      <string>four_cham</string>
      <string>gFinal_cham</string>
      <string>ga_cham</string>
      <string>gha_cham</string>
      <string>hSignFinal_cham</string>
      <string>ha_cham</string>
      <string>hyphen</string>
      <string>hyphen.cham</string>
      <string>hyphentwo</string>
      <string>iSign_cham</string>
      <string>iSign_mSignFinal_cham</string>
      <string>i_cham</string>
      <string>iiSign_cham</string>
      <string>ja_cham</string>
      <string>jha_cham</string>
      <string>kFinal_cham</string>
      <string>ka_cham</string>
      <string>kha_cham</string>
      <string>lFinal_cham</string>
      <string>laMed_waMed_uSign_cham</string>
      <string>laMed_waMed_ueSign_cham</string>
      <string>laMedial_cham</string>
      <string>laMedial_cham.narrow</string>
      <string>laMedial_uSign_cham</string>
      <string>laMedial_ueSign_cham</string>
      <string>laMedial_waMedial_cham</string>
      <string>la_cham</string>
      <string>mSignFinal_cham</string>
      <string>ma_cham</string>
      <string>ma_cham.calt</string>
      <string>mue_cham</string>
      <string>nFinal_cham</string>
      <string>na_cham</string>
      <string>na_cham.calt</string>
      <string>nbspace</string>
      <string>ngFinal_cham</string>
      <string>ngSignFinal_cham</string>
      <string>nga_cham</string>
      <string>ngue_cham</string>
      <string>nha_cham</string>
      <string>nhja_cham</string>
      <string>nhue_cham</string>
      <string>nine_cham</string>
      <string>nue_cham</string>
      <string>oSign_cham</string>
      <string>o_cham</string>
      <string>oeSign_auSign_cham</string>
      <string>oeSign_cham</string>
      <string>oeSign_mSignFinal_cham</string>
      <string>oeSign_ngSignFinal_cham</string>
      <string>one_cham</string>
      <string>pFinal_cham</string>
      <string>pa_cham</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>period.cham</string>
      <string>pha_cham</string>
      <string>ppa_cham</string>
      <string>question</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>rFinal_cham</string>
      <string>raMedial_cham</string>
      <string>raMedial_cham_pre</string>
      <string>raMedial_cham_pre.low</string>
      <string>raMedial_cham_pre.low.alt</string>
      <string>ra_cham</string>
      <string>sa_cham</string>
      <string>semicolon</string>
      <string>seven_cham</string>
      <string>six_cham</string>
      <string>slash</string>
      <string>softhyphen</string>
      <string>space</string>
      <string>spiral_cham</string>
      <string>ssFinal_cham</string>
      <string>ssa_cham</string>
      <string>tFinal_cham</string>
      <string>ta_cham</string>
      <string>tha_cham</string>
      <string>three_cham</string>
      <string>tripleDanda_cham</string>
      <string>two_cham</string>
      <string>uSign_cham</string>
      <string>uSign_cham.narrow</string>
      <string>uSign_cham.narrow_alt</string>
      <string>u_cham</string>
      <string>ueSign_cham</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>va_cham</string>
      <string>va_cham.calt</string>
      <string>waMedial_cham</string>
      <string>waMedial_cham.narrow</string>
      <string>waMedial_uSign_cham</string>
      <string>waMedial_ueSign_cham</string>
      <string>yFinal_cham</string>
      <string>yaMedial_cham</string>
      <string>ya_cham</string>
      <string>zero_cham</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>a_cham</string>
      <string>aaSign_cham</string>
      <string>aaSign_oeSign_cham</string>
      <string>aiSign_cham</string>
      <string>ai_cham</string>
      <string>auSign_cham</string>
      <string>auSign_mSignFinal_cham</string>
      <string>ba_cham</string>
      <string>bba_cham</string>
      <string>bba_cham.calt</string>
      <string>bha_cham</string>
      <string>chFinal_cham</string>
      <string>cha_cham</string>
      <string>chha_cham</string>
      <string>colon</string>
      <string>comma</string>
      <string>comma.cham</string>
      <string>da_cham</string>
      <string>danda_cham</string>
      <string>dda_cham</string>
      <string>dha_cham</string>
      <string>dha_withcrossstroke</string>
      <string>doubleDanda_cham</string>
      <string>e_cham</string>
      <string>eiSign_cham</string>
      <string>eight_cham</string>
      <string>exclam</string>
      <string>five_cham</string>
      <string>four_cham</string>
      <string>gFinal_cham</string>
      <string>ga_cham</string>
      <string>gha_cham</string>
      <string>hSignFinal_cham</string>
      <string>ha_cham</string>
      <string>hyphen</string>
      <string>hyphen.cham</string>
      <string>hyphentwo</string>
      <string>iSign_cham</string>
      <string>iSign_mSignFinal_cham</string>
      <string>i_cham</string>
      <string>iiSign_cham</string>
      <string>ja_cham</string>
      <string>jha_cham</string>
      <string>kFinal_cham</string>
      <string>ka_cham</string>
      <string>kha_cham</string>
      <string>lFinal_cham</string>
      <string>laMed_waMed_uSign_cham</string>
      <string>laMed_waMed_ueSign_cham</string>
      <string>laMedial_cham</string>
      <string>laMedial_cham.narrow</string>
      <string>laMedial_uSign_cham</string>
      <string>laMedial_ueSign_cham</string>
      <string>laMedial_waMedial_cham</string>
      <string>la_cham</string>
      <string>mSignFinal_cham</string>
      <string>ma_cham</string>
      <string>ma_cham.calt</string>
      <string>mue_cham</string>
      <string>nFinal_cham</string>
      <string>na_cham</string>
      <string>na_cham.calt</string>
      <string>nbspace</string>
      <string>ngFinal_cham</string>
      <string>ngSignFinal_cham</string>
      <string>nga_cham</string>
      <string>ngue_cham</string>
      <string>nha_cham</string>
      <string>nhja_cham</string>
      <string>nhue_cham</string>
      <string>nine_cham</string>
      <string>nue_cham</string>
      <string>oSign_cham</string>
      <string>o_cham</string>
      <string>oeSign_auSign_cham</string>
      <string>oeSign_cham</string>
      <string>oeSign_mSignFinal_cham</string>
      <string>oeSign_ngSignFinal_cham</string>
      <string>one_cham</string>
      <string>pFinal_cham</string>
      <string>pa_cham</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>period.cham</string>
      <string>pha_cham</string>
      <string>ppa_cham</string>
      <string>question</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>rFinal_cham</string>
      <string>raMedial_cham</string>
      <string>raMedial_cham_pre</string>
      <string>raMedial_cham_pre.low</string>
      <string>raMedial_cham_pre.low.alt</string>
      <string>ra_cham</string>
      <string>sa_cham</string>
      <string>semicolon</string>
      <string>seven_cham</string>
      <string>six_cham</string>
      <string>slash</string>
      <string>softhyphen</string>
      <string>space</string>
      <string>spiral_cham</string>
      <string>ssFinal_cham</string>
      <string>ssa_cham</string>
      <string>tFinal_cham</string>
      <string>ta_cham</string>
      <string>tha_cham</string>
      <string>three_cham</string>
      <string>tripleDanda_cham</string>
      <string>two_cham</string>
      <string>uSign_cham</string>
      <string>uSign_cham.narrow</string>
      <string>uSign_cham.narrow_alt</string>
      <string>u_cham</string>
      <string>ueSign_cham</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>va_cham</string>
      <string>va_cham.calt</string>
      <string>waMedial_cham</string>
      <string>waMedial_cham.narrow</string>
      <string>waMedial_uSign_cham</string>
      <string>waMedial_ueSign_cham</string>
      <string>yFinal_cham</string>
      <string>yaMedial_cham</string>
      <string>ya_cham</string>
      <string>zero_cham</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>a_cham</key>
      <string>uniAA00</string>
      <key>aaSign_cham</key>
      <string>uniAA29</string>
      <key>aiSign_cham</key>
      <string>uniAA30</string>
      <key>ai_cham</key>
      <string>uniAA04</string>
      <key>auSign_cham</key>
      <string>uniAA31</string>
      <key>auSign_mSignFinal_cham</key>
      <string>uniAA31AA4C</string>
      <key>ba_cham</key>
      <string>uniAA1D</string>
      <key>bba_cham</key>
      <string>uniAA21</string>
      <key>bba_cham.calt</key>
      <string>uniAA21.calt</string>
      <key>bha_cham</key>
      <string>uniAA1E</string>
      <key>chFinal_cham</key>
      <string>uniAA44</string>
      <key>cha_cham</key>
      <string>uniAA0C</string>
      <key>chha_cham</key>
      <string>uniAA0D</string>
      <key>da_cham</key>
      <string>uniAA15</string>
      <key>danda_cham</key>
      <string>uniAA5D</string>
      <key>dda_cham</key>
      <string>uniAA19</string>
      <key>dha_cham</key>
      <string>uniAA16</string>
      <key>doubleDanda_cham</key>
      <string>uniAA5E</string>
      <key>e_cham</key>
      <string>uniAA03</string>
      <key>eiSign_cham</key>
      <string>uniAA2C</string>
      <key>eight_cham</key>
      <string>uniAA58</string>
      <key>five_cham</key>
      <string>uniAA55</string>
      <key>four_cham</key>
      <string>uniAA54</string>
      <key>gFinal_cham</key>
      <string>uniAA41</string>
      <key>ga_cham</key>
      <string>uniAA08</string>
      <key>gha_cham</key>
      <string>uniAA09</string>
      <key>hSignFinal_cham</key>
      <string>uniAA4D</string>
      <key>ha_cham</key>
      <string>uniAA28</string>
      <key>hyphentwo</key>
      <string>uni2010</string>
      <key>iSign_cham</key>
      <string>uniAA2A</string>
      <key>iSign_mSignFinal_cham</key>
      <string>uniAA2AAA4C</string>
      <key>i_cham</key>
      <string>uniAA01</string>
      <key>iiSign_cham</key>
      <string>uniAA2B</string>
      <key>ja_cham</key>
      <string>uniAA0E</string>
      <key>jha_cham</key>
      <string>uniAA0F</string>
      <key>kFinal_cham</key>
      <string>uniAA40</string>
      <key>ka_cham</key>
      <string>uniAA06</string>
      <key>kha_cham</key>
      <string>uniAA07</string>
      <key>lFinal_cham</key>
      <string>uniAA4A</string>
      <key>laMedial_cham</key>
      <string>uniAA35</string>
      <key>laMedial_cham.narrow</key>
      <string>uniAA35.narrow</string>
      <key>la_cham</key>
      <string>uniAA24</string>
      <key>mSignFinal_cham</key>
      <string>uniAA4C</string>
      <key>ma_cham</key>
      <string>uniAA20</string>
      <key>ma_cham.calt</key>
      <string>uniAA20.calt</string>
      <key>mue_cham</key>
      <string>uniAA1F</string>
      <key>nFinal_cham</key>
      <string>uniAA46</string>
      <key>na_cham</key>
      <string>uniAA18</string>
      <key>na_cham.calt</key>
      <string>uniAA18.calt</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ngFinal_cham</key>
      <string>uniAA42</string>
      <key>ngSignFinal_cham</key>
      <string>uniAA43</string>
      <key>nga_cham</key>
      <string>uniAA0B</string>
      <key>ngue_cham</key>
      <string>uniAA0A</string>
      <key>nha_cham</key>
      <string>uniAA11</string>
      <key>nhja_cham</key>
      <string>uniAA12</string>
      <key>nhue_cham</key>
      <string>uniAA10</string>
      <key>nine_cham</key>
      <string>uniAA59</string>
      <key>nue_cham</key>
      <string>uniAA17</string>
      <key>oSign_cham</key>
      <string>uniAA2F</string>
      <key>o_cham</key>
      <string>uniAA05</string>
      <key>oeSign_auSign_cham</key>
      <string>uniAA2EAA31</string>
      <key>oeSign_cham</key>
      <string>uniAA2E</string>
      <key>oeSign_mSignFinal_cham</key>
      <string>uniAA2EAA4C</string>
      <key>oeSign_ngSignFinal_cham</key>
      <string>uniAA2EAA43</string>
      <key>one_cham</key>
      <string>uniAA51</string>
      <key>pFinal_cham</key>
      <string>uniAA47</string>
      <key>pa_cham</key>
      <string>uniAA1A</string>
      <key>pha_cham</key>
      <string>uniAA1C</string>
      <key>ppa_cham</key>
      <string>uniAA1B</string>
      <key>rFinal_cham</key>
      <string>uniAA49</string>
      <key>raMedial_cham</key>
      <string>uniAA34</string>
      <key>raMedial_cham_pre</key>
      <string>uniAA34</string>
      <key>raMedial_cham_pre.low</key>
      <string>uniAA34</string>
      <key>raMedial_cham_pre.low.alt</key>
      <string>uniAA34</string>
      <key>ra_cham</key>
      <string>uniAA23</string>
      <key>sa_cham</key>
      <string>uniAA27</string>
      <key>seven_cham</key>
      <string>uniAA57</string>
      <key>six_cham</key>
      <string>uniAA56</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>spiral_cham</key>
      <string>uniAA5C</string>
      <key>ssFinal_cham</key>
      <string>uniAA4B</string>
      <key>ssa_cham</key>
      <string>uniAA26</string>
      <key>tFinal_cham</key>
      <string>uniAA45</string>
      <key>ta_cham</key>
      <string>uniAA13</string>
      <key>tha_cham</key>
      <string>uniAA14</string>
      <key>three_cham</key>
      <string>uniAA53</string>
      <key>tripleDanda_cham</key>
      <string>uniAA5F</string>
      <key>two_cham</key>
      <string>uniAA52</string>
      <key>uSign_cham</key>
      <string>uniAA2D</string>
      <key>uSign_cham.narrow</key>
      <string>uniAA2D.narrow</string>
      <key>uSign_cham.narrow_alt</key>
      <string>uniAA2D.narrow_alt</string>
      <key>u_cham</key>
      <string>uniAA02</string>
      <key>ueSign_cham</key>
      <string>uniAA32</string>
      <key>va_cham</key>
      <string>uniAA25</string>
      <key>va_cham.calt</key>
      <string>uniAA25.calt</string>
      <key>waMedial_cham</key>
      <string>uniAA36</string>
      <key>waMedial_cham.narrow</key>
      <string>uniAA36.narrow</string>
      <key>yFinal_cham</key>
      <string>uniAA48</string>
      <key>yaMedial_cham</key>
      <string>uniAA33</string>
      <key>ya_cham</key>
      <string>uniAA22</string>
      <key>zero_cham</key>
      <string>uniAA50</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>uSign_cham.narrow_alt</string>
      <string>dha_withcrossstroke</string>
    </array>
  </dict>
</plist>
