<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.u1C00_1C37_1C25</key>
    <array>
      <string>uni1C00_1C25</string>
    </array>
    <key>public.kern1.u1C13</key>
    <array>
      <string>uni1C13</string>
      <string>uni1C14</string>
      <string>uni1C06</string>
      <string>uni1C12</string>
      <string>uni1C03</string>
      <string>uni1C1C</string>
      <string>uni1C1F</string>
    </array>
    <key>public.kern1.u1C13_1C25_1C24</key>
    <array>
      <string>uni1C13_1C25_1C24</string>
      <string>uni1C13_1C24</string>
      <string>uni1C14_1C24</string>
      <string>uni1C11_1C25_1C24</string>
      <string>uni1C11_1C24</string>
      <string>uni1C12_1C24</string>
      <string>uni1C03_1C25_1C24</string>
      <string>uni1C03_1C24</string>
      <string>uni1C04_1C24</string>
      <string>uni1C1D_1C25_1C24</string>
      <string>uni1C1D_1C24</string>
      <string>uni1C00_1C24</string>
      <string>uni1C02_1C24</string>
      <string>uni1C1C_1C24</string>
      <string>uni1C0E_1C25_1C24</string>
      <string>uni1C0E_1C24</string>
      <string>uni1C10_1C24</string>
      <string>uni1C21_1C24</string>
      <string>uni1C0A_1C24</string>
      <string>uni1C1F_1C24</string>
      <string>uni1C2A</string>
    </array>
    <key>public.kern1.u1C15_1C25</key>
    <array>
      <string>uni1C15_1C25</string>
      <string>uni1C05_1C25</string>
    </array>
    <key>public.kern1.u1C1D_1C37_1C25</key>
    <array>
      <string>uni1C1D_1C25</string>
    </array>
    <key>public.kern1.u1C23_1C24</key>
    <array>
      <string>uni1C23_1C24</string>
      <string>uni1C0C_1C24</string>
      <string>uni1C08_1C24</string>
      <string>uni1C01_1C24</string>
      <string>uni1C15_1C25_1C24</string>
      <string>uni1C15_1C24</string>
      <string>uni1C16_1C24</string>
      <string>uni1C05_1C24</string>
      <string>uni1C0F_1C24</string>
      <string>uni1C1B_1C24</string>
      <string>uni1C0B_1C24</string>
    </array>
    <key>public.kern1.u1C27</key>
    <array>
      <string>uni1C27</string>
    </array>
    <key>public.kern1.u1C28</key>
    <array>
      <string>uni1C28</string>
    </array>
    <key>public.kern1.u1C29</key>
    <array>
      <string>uni1C29</string>
    </array>
    <key>public.kern1.u1C34</key>
    <array>
      <string>uni1C34</string>
    </array>
    <key>public.kern2.u1C00</key>
    <array>
      <string>uni1C00</string>
      <string>uni1C00_1C25</string>
      <string>uni1C00_1C25_1C24</string>
      <string>uni1C00_1C24</string>
    </array>
    <key>public.kern2.u1C01</key>
    <array>
      <string>uni1C01</string>
      <string>uni1C01_1C24</string>
    </array>
    <key>public.kern2.u1C02</key>
    <array>
      <string>uni1C02</string>
      <string>uni1C02_1C25</string>
      <string>uni1C02_1C24</string>
    </array>
    <key>public.kern2.u1C05</key>
    <array>
      <string>uni1C05</string>
      <string>uni1C05_1C25</string>
    </array>
    <key>public.kern2.u1C08</key>
    <array>
      <string>uni1C08</string>
      <string>uni1C08_1C24</string>
    </array>
    <key>public.kern2.u1C0A</key>
    <array>
      <string>uni1C0A</string>
      <string>uni1C0A_1C24</string>
    </array>
    <key>public.kern2.u1C0C</key>
    <array>
      <string>uni1C0C</string>
      <string>uni1C0C_1C24</string>
    </array>
    <key>public.kern2.u1C0E</key>
    <array>
      <string>uni1C0E</string>
      <string>uni1C0E_1C25</string>
      <string>uni1C0E_1C25_1C24</string>
      <string>uni1C0E_1C24</string>
      <string>uni1C10</string>
    </array>
    <key>public.kern2.u1C0F</key>
    <array>
      <string>uni1C0F</string>
      <string>uni1C0F_1C24</string>
    </array>
    <key>public.kern2.u1C13</key>
    <array>
      <string>uni1C13</string>
      <string>uni1C13_1C25</string>
      <string>uni1C13_1C25_1C24</string>
      <string>uni1C13_1C24</string>
      <string>uni1C14</string>
      <string>uni1C14_1C24</string>
      <string>uni1C12</string>
      <string>uni1C12_1C24</string>
      <string>uni1C03</string>
      <string>uni1C03_1C25</string>
      <string>uni1C03_1C25_1C24</string>
      <string>uni1C03_1C24</string>
      <string>uni1C1C</string>
      <string>uni1C1C_1C24</string>
      <string>uni1C20</string>
      <string>uni1C21</string>
      <string>uni1C21_1C24</string>
      <string>uni1C18</string>
      <string>uni1C1F</string>
      <string>uni1C1F_1C24</string>
    </array>
    <key>public.kern2.u1C15_1C25</key>
    <array>
      <string>uni1C15_1C25</string>
      <string>uni1C15_1C25_1C24</string>
      <string>uni1C15_1C24</string>
    </array>
    <key>public.kern2.u1C16</key>
    <array>
      <string>uni1C16</string>
      <string>uni1C16_1C24</string>
    </array>
    <key>public.kern2.u1C1B</key>
    <array>
      <string>uni1C1B</string>
      <string>uni1C1B_1C24</string>
    </array>
    <key>public.kern2.u1C1E</key>
    <array>
      <string>uni1C1E</string>
      <string>uni1C1E_1C24</string>
    </array>
    <key>public.kern2.u1C2A</key>
    <array>
      <string>uni1C2A</string>
    </array>
    <key>public.kern2.u1C2B</key>
    <array>
      <string>uni1C2B</string>
    </array>
  </dict>
</plist>
