<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a.circled</key>
    <string>a.circled.glif</string>
    <key>b.circled</key>
    <string>b.circled.glif</string>
    <key>c.circled</key>
    <string>c.circled.glif</string>
    <key>d.circled</key>
    <string>d.circled.glif</string>
    <key>e.circled</key>
    <string>e.circled.glif</string>
    <key>f.circled</key>
    <string>f.circled.glif</string>
    <key>g.circled</key>
    <string>g.circled.glif</string>
    <key>h.circled</key>
    <string>h.circled.glif</string>
    <key>i.circled</key>
    <string>i.circled.glif</string>
    <key>j.circled</key>
    <string>j.circled.glif</string>
    <key>k.circled</key>
    <string>k.circled.glif</string>
    <key>l.circled</key>
    <string>l.circled.glif</string>
    <key>m.circled</key>
    <string>m.circled.glif</string>
    <key>n.circled</key>
    <string>n.circled.glif</string>
    <key>o.circled</key>
    <string>o.circled.glif</string>
    <key>p.circled</key>
    <string>p.circled.glif</string>
    <key>q.circled</key>
    <string>q.circled.glif</string>
    <key>r.circled</key>
    <string>r.circled.glif</string>
    <key>s.circled</key>
    <string>s.circled.glif</string>
    <key>t.circled</key>
    <string>t.circled.glif</string>
    <key>u.circled</key>
    <string>u.circled.glif</string>
    <key>v.circled</key>
    <string>v.circled.glif</string>
    <key>w.circled</key>
    <string>w.circled.glif</string>
    <key>x.circled</key>
    <string>x.circled.glif</string>
    <key>y.circled</key>
    <string>y.circled.glif</string>
    <key>z.circled</key>
    <string>z.circled.glif</string>
  </dict>
</plist>
