<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asciicircum.guru</key>
    <string>asciicircum.guru.glif</string>
    <key>asciitilde.guru</key>
    <string>asciitilde.guru.glif</string>
    <key>asterisk.guru</key>
    <string>asterisk.guru.glif</string>
    <key>backslash.guru</key>
    <string>backslash.guru.glif</string>
    <key>bar.guru</key>
    <string>bar.guru.glif</string>
    <key>braceleft.guru</key>
    <string>braceleft.guru.glif</string>
    <key>braceright.guru</key>
    <string>braceright.guru.glif</string>
    <key>bracketleft.guru</key>
    <string>bracketleft.guru.glif</string>
    <key>bracketright.guru</key>
    <string>bracketright.guru.glif</string>
    <key>colon.guru</key>
    <string>colon.guru.glif</string>
    <key>comma.guru</key>
    <string>comma.guru.glif</string>
    <key>danda.guru</key>
    <string>danda.guru.glif</string>
    <key>dbldanda.guru</key>
    <string>dbldanda.guru.glif</string>
    <key>divide.guru</key>
    <string>divide.guru.glif</string>
    <key>eight.guru</key>
    <string>eight.guru.glif</string>
    <key>ellipsis.guru</key>
    <string>ellipsis.guru.glif</string>
    <key>emdash.guru</key>
    <string>emdash.guru.glif</string>
    <key>endash.guru</key>
    <string>endash.guru.glif</string>
    <key>equal.guru</key>
    <string>equal.guru.glif</string>
    <key>exclam.guru</key>
    <string>exclam.guru.glif</string>
    <key>five.guru</key>
    <string>five.guru.glif</string>
    <key>four.guru</key>
    <string>four.guru.glif</string>
    <key>greater.guru</key>
    <string>greater.guru.glif</string>
    <key>hyphen.guru</key>
    <string>hyphen.guru.glif</string>
    <key>less.guru</key>
    <string>less.guru.glif</string>
    <key>minus.guru</key>
    <string>minus.guru.glif</string>
    <key>multiply.guru</key>
    <string>multiply.guru.glif</string>
    <key>nine.guru</key>
    <string>nine.guru.glif</string>
    <key>numbersign.guru</key>
    <string>numbersign.guru.glif</string>
    <key>one.guru</key>
    <string>one.guru.glif</string>
    <key>parenleft.guru</key>
    <string>parenleft.guru.glif</string>
    <key>parenright.guru</key>
    <string>parenright.guru.glif</string>
    <key>percent.guru</key>
    <string>percent.guru.glif</string>
    <key>period.guru</key>
    <string>period.guru.glif</string>
    <key>plus.guru</key>
    <string>plus.guru.glif</string>
    <key>question.guru</key>
    <string>question.guru.glif</string>
    <key>quotedbl.guru</key>
    <string>quotedbl.guru.glif</string>
    <key>quotedblleft.guru</key>
    <string>quotedblleft.guru.glif</string>
    <key>quotedblright.guru</key>
    <string>quotedblright.guru.glif</string>
    <key>quoteleft.guru</key>
    <string>quoteleft.guru.glif</string>
    <key>quoteright.guru</key>
    <string>quoteright.guru.glif</string>
    <key>quotesingle.guru</key>
    <string>quotesingle.guru.glif</string>
    <key>semicolon.guru</key>
    <string>semicolon.guru.glif</string>
    <key>seven.guru</key>
    <string>seven.guru.glif</string>
    <key>sfthyphen.guru</key>
    <string>sfthyphen.guru.glif</string>
    <key>six.guru</key>
    <string>six.guru.glif</string>
    <key>slash.guru</key>
    <string>slash.guru.glif</string>
    <key>three.guru</key>
    <string>three.guru.glif</string>
    <key>two.guru</key>
    <string>two.guru.glif</string>
    <key>underscore.guru</key>
    <string>underscore.guru.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni20B9.guru</key>
    <string>uni20B_9.guru.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
    <key>zero.guru</key>
    <string>zero.guru.glif</string>
  </dict>
</plist>
