<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>bar.left</string>
      <string>bar.right</string>
      <string>barlong.right</string>
      <string>dot1</string>
      <string>dots</string>
      <string>space</string>
      <string>u10AC0</string>
      <string>u10AC0.fina</string>
      <string>u10AC0.init</string>
      <string>u10AC0.medi</string>
      <string>u10AC1</string>
      <string>u10AC1.fina</string>
      <string>u10AC1.init</string>
      <string>u10AC1.medi</string>
      <string>u10AC2</string>
      <string>u10AC2.fina</string>
      <string>u10AC2.init</string>
      <string>u10AC2.medi</string>
      <string>u10AC3</string>
      <string>u10AC3.fina</string>
      <string>u10AC3.init</string>
      <string>u10AC3.medi</string>
      <string>u10AC4</string>
      <string>u10AC4.fina</string>
      <string>u10AC4.init</string>
      <string>u10AC4.medi</string>
      <string>u10AC5</string>
      <string>u10AC5.alt</string>
      <string>u10AC5.fina</string>
      <string>u10AC6</string>
      <string>u10AC6.alt</string>
      <string>u10AC7</string>
      <string>u10AC7.fina</string>
      <string>u10AC8</string>
      <string>u10AC9</string>
      <string>u10AC9.fina</string>
      <string>u10ACA</string>
      <string>u10ACA.fina</string>
      <string>u10ACB</string>
      <string>u10ACC</string>
      <string>u10ACD</string>
      <string>u10ACD.init</string>
      <string>u10ACE</string>
      <string>u10ACE.fina</string>
      <string>u10ACF</string>
      <string>u10ACF.fina</string>
      <string>u10AD0</string>
      <string>u10AD0.fina</string>
      <string>u10AD1</string>
      <string>u10AD1.fina</string>
      <string>u10AD2</string>
      <string>u10AD2.fina</string>
      <string>u10AD3</string>
      <string>u10AD3.fina</string>
      <string>u10AD3.init</string>
      <string>u10AD3.medi</string>
      <string>u10AD4</string>
      <string>u10AD4.fina</string>
      <string>u10AD4.init</string>
      <string>u10AD4.medi</string>
      <string>u10AD5</string>
      <string>u10AD5.fina</string>
      <string>u10AD5.init</string>
      <string>u10AD5.medi</string>
      <string>u10AD6</string>
      <string>u10AD6.alt</string>
      <string>u10AD6.alt.fina</string>
      <string>u10AD6.fina</string>
      <string>u10AD6.init</string>
      <string>u10AD6.medi</string>
      <string>u10AD7</string>
      <string>u10AD7.alt</string>
      <string>u10AD7.init</string>
      <string>u10AD8</string>
      <string>u10AD8.fina</string>
      <string>u10AD8.init</string>
      <string>u10AD8.medi</string>
      <string>u10AD9</string>
      <string>u10AD9.fina</string>
      <string>u10AD9.init</string>
      <string>u10AD9.medi</string>
      <string>u10ADA</string>
      <string>u10ADA.fina</string>
      <string>u10ADA.init</string>
      <string>u10ADA.medi</string>
      <string>u10ADB</string>
      <string>u10ADB.fina</string>
      <string>u10ADB.init</string>
      <string>u10ADB.medi</string>
      <string>u10ADC</string>
      <string>u10ADC.fina</string>
      <string>u10ADC.init</string>
      <string>u10ADC.medi</string>
      <string>u10ADD</string>
      <string>u10ADD.fina</string>
      <string>u10ADD10ACF</string>
      <string>u10ADD10ACF.fina</string>
      <string>u10ADD10AD7</string>
      <string>u10ADD10AD7.fina</string>
      <string>u10ADE</string>
      <string>u10ADE.fina</string>
      <string>u10ADE.init</string>
      <string>u10ADE.medi</string>
      <string>u10ADF</string>
      <string>u10ADF.fina</string>
      <string>u10ADF.init</string>
      <string>u10ADF.medi</string>
      <string>u10AE0</string>
      <string>u10AE0.fina</string>
      <string>u10AE0.init</string>
      <string>u10AE0.medi</string>
      <string>u10AE1</string>
      <string>u10AE1.alt</string>
      <string>u10AE1.fina</string>
      <string>u10AE2</string>
      <string>u10AE3</string>
      <string>u10AE4</string>
      <string>u10AE4.fina</string>
      <string>u10AE5</string>
      <string>u10AE6</string>
      <string>u10AEB</string>
      <string>u10AEB.fina</string>
      <string>u10AEB.fina.high</string>
      <string>u10AEB.init</string>
      <string>u10AEB.medi</string>
      <string>u10AEB.medi.high</string>
      <string>u10AEC</string>
      <string>u10AEC.fina</string>
      <string>u10AEC.fina.high</string>
      <string>u10AEC.init</string>
      <string>u10AEC.medi</string>
      <string>u10AEC.medi.high</string>
      <string>u10AED</string>
      <string>u10AED.fina</string>
      <string>u10AED.init</string>
      <string>u10AED.medi</string>
      <string>u10AEE</string>
      <string>u10AEE.fina</string>
      <string>u10AEE.init</string>
      <string>u10AEE.medi</string>
      <string>u10AEF</string>
      <string>u10AEF.fina</string>
      <string>u10AF0</string>
      <string>u10AF1</string>
      <string>u10AF2</string>
      <string>u10AF3</string>
      <string>u10AF4</string>
      <string>u10AF5</string>
      <string>u10AF6</string>
      <string>uni00A0</string>
      <string>uni0640</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniFE00</string>
    </array>
  </dict>
</plist>
