<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>open-circuit-outputh-typesymbol</key>
    <string>open-circuit-outputh-typesymbol.glif</string>
    <key>open-circuit-outputl-typesymbol</key>
    <string>open-circuit-outputl-typesymbol.glif</string>
    <key>passive-pull-down-outputsymbol</key>
    <string>passive-pull-down-outputsymbol.glif</string>
  </dict>
</plist>
