<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a.paren</key>
    <string>a.paren.glif</string>
    <key>b.paren</key>
    <string>b.paren.glif</string>
    <key>c.paren</key>
    <string>c.paren.glif</string>
    <key>d.paren</key>
    <string>d.paren.glif</string>
    <key>e.paren</key>
    <string>e.paren.glif</string>
    <key>f.paren</key>
    <string>f.paren.glif</string>
    <key>g.paren</key>
    <string>g.paren.glif</string>
    <key>h.paren</key>
    <string>h.paren.glif</string>
    <key>i.paren</key>
    <string>i.paren.glif</string>
    <key>j.paren</key>
    <string>j.paren.glif</string>
    <key>k.paren</key>
    <string>k.paren.glif</string>
    <key>l.paren</key>
    <string>l.paren.glif</string>
    <key>m.paren</key>
    <string>m.paren.glif</string>
    <key>n.paren</key>
    <string>n.paren.glif</string>
    <key>o.paren</key>
    <string>o.paren.glif</string>
    <key>p.paren</key>
    <string>p.paren.glif</string>
    <key>q.paren</key>
    <string>q.paren.glif</string>
    <key>r.paren</key>
    <string>r.paren.glif</string>
    <key>s.paren</key>
    <string>s.paren.glif</string>
    <key>t.paren</key>
    <string>t.paren.glif</string>
    <key>u.paren</key>
    <string>u.paren.glif</string>
    <key>v.paren</key>
    <string>v.paren.glif</string>
    <key>w.paren</key>
    <string>w.paren.glif</string>
    <key>x.paren</key>
    <string>x.paren.glif</string>
    <key>y.paren</key>
    <string>y.paren.glif</string>
    <key>z.paren</key>
    <string>z.paren.glif</string>
  </dict>
</plist>
