<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Aug 18 19, 05:17</string>
      <string>glyphs.A_ug 18 19, 05_17</string>
    </array>
    <array>
      <string>Aug 18 19, 05:26</string>
      <string>glyphs.A_ug 18 19, 05_26</string>
    </array>
    <array>
      <string>Aug 18 19, 05:53</string>
      <string>glyphs.A_ug 18 19, 05_53</string>
    </array>
  </array>
</plist>
