<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>anapMatra-mtei</key>
    <string>anapM_atra-mtei.glif</string>
    <key>apunIyek.right2</key>
    <string>apunI_yek.right2.glif</string>
    <key>atiya-mtei</key>
    <string>atiya-mtei.glif</string>
    <key>auMatra-mtei</key>
    <string>auM_atra-mtei.glif</string>
    <key>ba-mtei</key>
    <string>ba-mtei.glif</string>
    <key>cha-mtei</key>
    <string>cha-mtei.glif</string>
    <key>cheinapMatra-mtei</key>
    <string>cheinapM_atra-mtei.glif</string>
    <key>digitEight-mtei</key>
    <string>digitE_ight-mtei.glif</string>
    <key>digitFive-mtei</key>
    <string>digitF_ive-mtei.glif</string>
    <key>digitFour-mtei</key>
    <string>digitF_our-mtei.glif</string>
    <key>digitNine-mtei</key>
    <string>digitN_ine-mtei.glif</string>
    <key>digitOne-mtei</key>
    <string>digitO_ne-mtei.glif</string>
    <key>digitSeven-mtei</key>
    <string>digitS_even-mtei.glif</string>
    <key>digitSix-mtei</key>
    <string>digitS_ix-mtei.glif</string>
    <key>digitThree-mtei</key>
    <string>digitT_hree-mtei.glif</string>
    <key>digitTwo-mtei</key>
    <string>digitT_wo-mtei.glif</string>
    <key>dil-mtei</key>
    <string>dil-mtei.glif</string>
    <key>gok-mtei</key>
    <string>gok-mtei.glif</string>
    <key>huk-mtei</key>
    <string>huk-mtei.glif</string>
    <key>inapMatra-mtei</key>
    <string>inapM_atra-mtei.glif</string>
    <key>jham-mtei</key>
    <string>jham-mtei.glif</string>
    <key>khou-mtei</key>
    <string>khou-mtei.glif</string>
    <key>kokLonsum-mtei</key>
    <string>kokL_onsum-mtei.glif</string>
    <key>na-mtei</key>
    <string>na-mtei.glif</string>
    <key>naLonsum-mtei</key>
    <string>naL_onsum-mtei.glif</string>
    <key>ngou-mtei</key>
    <string>ngou-mtei.glif</string>
    <key>nungMatra-mtei</key>
    <string>nungM_atra-mtei.glif</string>
    <key>onapMatra-mtei</key>
    <string>onapM_atra-mtei.glif</string>
    <key>pham-mtei</key>
    <string>pham-mtei.glif</string>
    <key>rai-mtei</key>
    <string>rai-mtei.glif</string>
    <key>sounapMatra-mtei</key>
    <string>sounapM_atra-mtei.glif</string>
    <key>syllableRepetitionMark-mtei</key>
    <string>syllableR_epetitionM_ark-mtei.glif</string>
    <key>thou-mtei</key>
    <string>thou-mtei.glif</string>
    <key>un-mtei</key>
    <string>un-mtei.glif</string>
    <key>uuMatra-mtei</key>
    <string>uuM_atra-mtei.glif</string>
    <key>yang-mtei</key>
    <string>yang-mtei.glif</string>
  </dict>
</plist>
