<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aaiMatra-mtei</key>
    <string>aaiM_atra-mtei.glif</string>
    <key>ahangKhudam-mtei</key>
    <string>ahangK_hudam-mtei.glif</string>
    <key>apunIyek-mtei</key>
    <string>apunI_yek-mtei.glif</string>
    <key>apunIyek.right2</key>
    <string>apunI_yek.right2.glif</string>
    <key>ba-mtei</key>
    <string>ba-mtei.glif</string>
    <key>bham-mtei</key>
    <string>bham-mtei.glif</string>
    <key>cheikhan-mtei</key>
    <string>cheikhan-mtei.glif</string>
    <key>cheikhei-mtei</key>
    <string>cheikhei-mtei.glif</string>
    <key>cheinapMatra-mtei</key>
    <string>cheinapM_atra-mtei.glif</string>
    <key>chil-mtei</key>
    <string>chil-mtei.glif</string>
    <key>dda-mtei</key>
    <string>dda-mtei.glif</string>
    <key>digitEight-mtei</key>
    <string>digitE_ight-mtei.glif</string>
    <key>digitFive-mtei</key>
    <string>digitF_ive-mtei.glif</string>
    <key>digitOne-mtei</key>
    <string>digitO_ne-mtei.glif</string>
    <key>digitSeven-mtei</key>
    <string>digitS_even-mtei.glif</string>
    <key>digitSix-mtei</key>
    <string>digitS_ix-mtei.glif</string>
    <key>dil-mtei</key>
    <string>dil-mtei.glif</string>
    <key>huk-mtei</key>
    <string>huk-mtei.glif</string>
    <key>i-mtei</key>
    <string>i-mtei.glif</string>
    <key>iiMatra-mtei</key>
    <string>iiM_atra-mtei.glif</string>
    <key>jham-mtei</key>
    <string>jham-mtei.glif</string>
    <key>jil-mtei</key>
    <string>jil-mtei.glif</string>
    <key>laiLonsum-mtei</key>
    <string>laiL_onsum-mtei.glif</string>
    <key>mitLonsum-mtei</key>
    <string>mitL_onsum-mtei.glif</string>
    <key>naLonsum-mtei</key>
    <string>naL_onsum-mtei.glif</string>
    <key>ngou-mtei</key>
    <string>ngou-mtei.glif</string>
    <key>nungMatra-mtei</key>
    <string>nungM_atra-mtei.glif</string>
    <key>nya-mtei</key>
    <string>nya-mtei.glif</string>
    <key>o-mtei</key>
    <string>o-mtei.glif</string>
    <key>onapMatra-mtei</key>
    <string>onapM_atra-mtei.glif</string>
    <key>sam-mtei</key>
    <string>sam-mtei.glif</string>
    <key>sha-mtei</key>
    <string>sha-mtei.glif</string>
    <key>syllableRepetitionMark-mtei</key>
    <string>syllableR_epetitionM_ark-mtei.glif</string>
    <key>tilLonsum-mtei</key>
    <string>tilL_onsum-mtei.glif</string>
    <key>tta-mtei</key>
    <string>tta-mtei.glif</string>
    <key>ttha-mtei</key>
    <string>ttha-mtei.glif</string>
    <key>un-mtei</key>
    <string>un-mtei.glif</string>
    <key>uuMatra-mtei</key>
    <string>uuM_atra-mtei.glif</string>
    <key>yang-mtei</key>
    <string>yang-mtei.glif</string>
    <key>yenapMatra-mtei</key>
    <string>yenapM_atra-mtei.glif</string>
  </dict>
</plist>
