<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.iMatra</key>
    <string>_part.iM_atra.glif</string>
    <key>_part.rVocalicMatra</key>
    <string>_part.rV_ocalicM_atra.glif</string>
    <key>_part.ravattu</key>
    <string>_part.ravattu.glif</string>
  </dict>
</plist>
