<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u1BCA0</key>
    <string>u1B_C_A_0.glif</string>
    <key>u1BCA1</key>
    <string>u1B_C_A_1.glif</string>
    <key>u1BCA2</key>
    <string>u1B_C_A_2.glif</string>
    <key>u1BCA3</key>
    <string>u1B_C_A_3.glif</string>
  </dict>
</plist>
