<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1218</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Ba.part</string>
      <string>Ba.part.alt</string>
      <string>BaDa</string>
      <string>BaDa.part</string>
      <string>BaDha</string>
      <string>BaDha.part</string>
      <string>BhaYa</string>
      <string>Bhr</string>
      <string>Bhra</string>
      <string>Bhu</string>
      <string>Bhuu</string>
      <string>Br</string>
      <string>Br.part</string>
      <string>CR</string>
      <string>CaCa</string>
      <string>CaCha</string>
      <string>DaDha</string>
      <string>DaYa</string>
      <string>Dbhu</string>
      <string>Dhru</string>
      <string>Dhu</string>
      <string>Dhuu</string>
      <string>Dra</string>
      <string>Du</string>
      <string>GaDha</string>
      <string>GaGa</string>
      <string>Gna</string>
      <string>Gra</string>
      <string>Gu</string>
      <string>HaLa</string>
      <string>HaMa</string>
      <string>HaNa</string>
      <string>HaNna</string>
      <string>HaRa</string>
      <string>HaVa</string>
      <string>HaYa</string>
      <string>Hr</string>
      <string>Hu</string>
      <string>Huu</string>
      <string>JaNya</string>
      <string>Ju</string>
      <string>KaLa</string>
      <string>KaRa</string>
      <string>KaSsa</string>
      <string>KaTa</string>
      <string>KhaNa</string>
      <string>Kr</string>
      <string>Ku</string>
      <string>Kuu</string>
      <string>Lu</string>
      <string>Ma.fina</string>
      <string>MaBa</string>
      <string>MaBa.part</string>
      <string>Mu.tirh</string>
      <string>NULL</string>
      <string>NaDha</string>
      <string>NaHa</string>
      <string>NaNa</string>
      <string>NaYa</string>
      <string>Nda</string>
      <string>NgaGa</string>
      <string>NgaGha</string>
      <string>NgaKa</string>
      <string>NgaKha</string>
      <string>NnaDda</string>
      <string>NnaDdha</string>
      <string>NnaNna</string>
      <string>NnaTta</string>
      <string>NnaTtha</string>
      <string>Nnu</string>
      <string>Nta</string>
      <string>Ntra</string>
      <string>Ntu</string>
      <string>Nu.tirh</string>
      <string>NullMark</string>
      <string>NyaCa</string>
      <string>NyaCha</string>
      <string>PhaLa</string>
      <string>PhaNa</string>
      <string>Pra</string>
      <string>Pu</string>
      <string>Ra.alt1</string>
      <string>Ra.alt2</string>
      <string>RaGa</string>
      <string>Repha</string>
      <string>Repha_Ba.part</string>
      <string>Repha_I</string>
      <string>Repha_II</string>
      <string>Repha_Tta</string>
      <string>Repha_uni114BA</string>
      <string>Repha_uni114BA.alt</string>
      <string>Ru</string>
      <string>Ru.alt1</string>
      <string>Ru.alt2</string>
      <string>Ruu</string>
      <string>Ruu.alt1</string>
      <string>Ruu.alt2</string>
      <string>SaNa</string>
      <string>SaYa</string>
      <string>ShaCa</string>
      <string>ShaCha</string>
      <string>ShaLa</string>
      <string>ShaYa</string>
      <string>Shra</string>
      <string>Shu</string>
      <string>Sra</string>
      <string>SsaKa</string>
      <string>SsaKr</string>
      <string>SsaNna</string>
      <string>SsaTta</string>
      <string>SsaTtha</string>
      <string>Ssu</string>
      <string>Sta</string>
      <string>Stra</string>
      <string>Stu</string>
      <string>Su</string>
      <string>Ta.fina</string>
      <string>Ta.init</string>
      <string>TaRa</string>
      <string>TaTa</string>
      <string>TaVa</string>
      <string>TaVirama.alt</string>
      <string>TaYa</string>
      <string>Tr</string>
      <string>Tru</string>
      <string>TtaTta</string>
      <string>TtaTtha</string>
      <string>Tu</string>
      <string>Tuu</string>
      <string>Va.sub</string>
      <string>Ya.post</string>
      <string>Yu</string>
      <string>a_tirh</string>
      <string>aaMatra_tirh</string>
      <string>aa_tirh</string>
      <string>abbreviationSign_tirh</string>
      <string>aiMatra_tirh</string>
      <string>ai_tirh</string>
      <string>anji_tirh</string>
      <string>anudatta_deva</string>
      <string>anusvara.alt</string>
      <string>anusvara.alt2</string>
      <string>anusvara_tirh</string>
      <string>auMatra_tirh</string>
      <string>au_tirh</string>
      <string>avagraha_tirh</string>
      <string>ba_tirh</string>
      <string>bha_tirh</string>
      <string>ca_tirh</string>
      <string>candrabindu.alt</string>
      <string>candrabindu.alt2</string>
      <string>candrabindu_tirh</string>
      <string>cha_tirh</string>
      <string>da_tirh</string>
      <string>dda_tirh</string>
      <string>ddha_tirh</string>
      <string>dha_tirh</string>
      <string>eMatra_tirh</string>
      <string>e_tirh</string>
      <string>eight_tirh</string>
      <string>five_tirh</string>
      <string>four_tirh</string>
      <string>ga_tirh</string>
      <string>gha_tirh</string>
      <string>gvang_tirh</string>
      <string>ha_tirh</string>
      <string>iMatra_tirh</string>
      <string>i_tirh</string>
      <string>iiMatra_tirh</string>
      <string>ii_tirh</string>
      <string>ja_tirh</string>
      <string>jha_tirh</string>
      <string>ka_tirh</string>
      <string>kha_tirh</string>
      <string>lVocalicMatra_tirh</string>
      <string>lVocalic_tirh</string>
      <string>la_tirh</string>
      <string>letterVocR.alt</string>
      <string>letterVocRR.alt</string>
      <string>llVocalicMatra_tirh</string>
      <string>llVocalic_tirh</string>
      <string>ma_tirh</string>
      <string>na_tirh</string>
      <string>nga_tirh</string>
      <string>nine_tirh</string>
      <string>nna_tirh</string>
      <string>nukta.alt</string>
      <string>nukta_tirh</string>
      <string>nya_tirh</string>
      <string>oMatra_tirh</string>
      <string>o_tirh</string>
      <string>om_tirh</string>
      <string>one_tirh</string>
      <string>pa_tirh</string>
      <string>pha_tirh</string>
      <string>rVocalicMatra_tirh</string>
      <string>rVocalic_tirh</string>
      <string>ra.sub</string>
      <string>ra.sub.wide</string>
      <string>ra_tirh</string>
      <string>rrVocalicMatra_tirh</string>
      <string>rrVocalic_tirh</string>
      <string>sa_tirh</string>
      <string>seven_tirh</string>
      <string>sha_tirh</string>
      <string>shortEMatra_tirh</string>
      <string>shortOMatra_tirh</string>
      <string>six_tirh</string>
      <string>space</string>
      <string>ssa_tirh</string>
      <string>ta_tirh</string>
      <string>tha_tirh</string>
      <string>three_tirh</string>
      <string>tta_tirh</string>
      <string>ttha_tirh</string>
      <string>two_tirh</string>
      <string>uMatra_tirh</string>
      <string>u_tirh</string>
      <string>udatta_deva</string>
      <string>uni00A0</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni09F4</string>
      <string>uni09F5</string>
      <string>uni09F6</string>
      <string>uni09F7</string>
      <string>uni114B1.alt</string>
      <string>uni114B1.alt2</string>
      <string>uni114B1_Repha</string>
      <string>uni114B1_tall</string>
      <string>uni114B1_tall.alt</string>
      <string>uni114B2.alt</string>
      <string>uni114B2.alt2</string>
      <string>uni114B2_tall.alt</string>
      <string>uni114B2_tall.alt3</string>
      <string>uni114BA.alt</string>
      <string>uni114BA.alt2</string>
      <string>uni114BD.alt</string>
      <string>uni114BD.alt2</string>
      <string>uni114BD_Ba</string>
      <string>uni1CF2</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
      <string>uuMatra_tirh</string>
      <string>uu_tirh</string>
      <string>va_tirh</string>
      <string>virama_tirh</string>
      <string>visarga_tirh</string>
      <string>ya_tirh</string>
      <string>zero_tirh</string>
    </array>
  </dict>
</plist>
