<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.GUJ_baprehalfgujr_R</key>
    <array>
      <string>baprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_bhaprehalfgujr_R</key>
    <array>
      <string>bhaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_caprehalfgujr_R</key>
    <array>
      <string>caprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_dagujr_R</key>
    <array>
      <string>dagujr</string>
      <string>daprehalfgujr</string>
      <string>badagujr</string>
    </array>
    <key>public.kern1.GUJ_dhaprehalfgujr_R</key>
    <array>
      <string>dhaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_gaprehalfgujr_R</key>
    <array>
      <string>gaprehalfgujr</string>
      <string>nnaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_ghaprehalfgujr_R</key>
    <array>
      <string>ghaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_haprehalfgujr_R</key>
    <array>
      <string>haprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_jagujr_R</key>
    <array>
      <string>jagujr</string>
      <string>zhagujr</string>
      <string>januktagujr</string>
      <string>jaragujr</string>
      <string>zharagujr</string>
      <string>jaranuktagujr</string>
    </array>
    <key>public.kern1.GUJ_japrehalfgujr_R</key>
    <array>
      <string>japrehalfgujr</string>
      <string>zhaprehalfgujr</string>
      <string>januktaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_jhaprehalfgujr_R</key>
    <array>
      <string>jhaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_kaprehalfgujr_R</key>
    <array>
      <string>kaprehalfgujr</string>
      <string>phaprehalfgujr</string>
      <string>karaprehalfgujr</string>
      <string>pharaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_kassaprehalfgujr_R</key>
    <array>
      <string>kassaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_khaprehalfgujr_R</key>
    <array>
      <string>khaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_laprehalfgujr_R</key>
    <array>
      <string>laprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_llaprehalfgujr_R</key>
    <array>
      <string>llaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_maprehalfgujr_R</key>
    <array>
      <string>maprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_naprehalfgujr_R</key>
    <array>
      <string>naprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_paprehalfgujr_R</key>
    <array>
      <string>paprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_saprehalfgujr_R</key>
    <array>
      <string>saprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_shapreformaltgujr_R</key>
    <array>
      <string>shapreformaltgujr</string>
    </array>
    <key>public.kern1.GUJ_shaprehalfgujr_R</key>
    <array>
      <string>shaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_ssaprehalfgujr_R</key>
    <array>
      <string>ssaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_taprehalfgujr_R</key>
    <array>
      <string>taprehalfgujr</string>
      <string>tatapreformgujr</string>
    </array>
    <key>public.kern1.GUJ_thaprehalfgujr_R</key>
    <array>
      <string>thaprehalfgujr</string>
      <string>sathapreformgujr</string>
    </array>
    <key>public.kern1.GUJ_ttagujr_R</key>
    <array>
      <string>ttagujr</string>
      <string>ttanuktagujr</string>
      <string>ttaprehalfgujr</string>
      <string>ttaragujr</string>
      <string>ssattagujr</string>
      <string>ssattaragujr</string>
    </array>
    <key>public.kern1.GUJ_vaprehalfgujr_R</key>
    <array>
      <string>vaprehalfgujr</string>
    </array>
    <key>public.kern1.GUJ_yaprehalfgujr_R</key>
    <array>
      <string>yaprehalfgujr</string>
    </array>
    <key>public.kern2.GUJ_bagujr_L</key>
    <array>
      <string>bagujr</string>
      <string>banuktagujr</string>
      <string>banuktaprehalfgujr</string>
      <string>baragujr</string>
      <string>baranuktagujr</string>
      <string>baraprehalfgujr</string>
      <string>baranuktaprehalfgujr</string>
      <string>bastemgujr</string>
      <string>banuktastemgujr</string>
      <string>barastemgujr</string>
      <string>baranuktastemgujr</string>
      <string>badagujr</string>
    </array>
    <key>public.kern2.GUJ_bhagujr_L</key>
    <array>
      <string>bhagujr</string>
      <string>bhanuktagujr</string>
      <string>bhaprehalfgujr</string>
      <string>bhanuktaprehalfgujr</string>
      <string>bharagujr</string>
      <string>bharanuktagujr</string>
      <string>bharaprehalfgujr</string>
      <string>bharanuktaprehalfgujr</string>
      <string>bhastemgujr</string>
      <string>bhanuktastemgujr</string>
      <string>bharastemgujr</string>
      <string>bharanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_cagujr_L</key>
    <array>
      <string>cagujr</string>
      <string>canuktagujr</string>
      <string>caprehalfgujr</string>
      <string>canuktaprehalfgujr</string>
      <string>caragujr</string>
      <string>caranuktagujr</string>
      <string>caraprehalfgujr</string>
      <string>caranuktaprehalfgujr</string>
      <string>castemgujr</string>
      <string>canuktastemgujr</string>
      <string>carastemgujr</string>
      <string>caranuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_chagujr_L</key>
    <array>
      <string>chagujr</string>
      <string>chanuktagujr</string>
      <string>chaprehalfgujr</string>
      <string>chanuktaprehalfgujr</string>
      <string>charagujr</string>
      <string>charanuktagujr</string>
      <string>charaprehalfgujr</string>
      <string>charanuktaprehalfgujr</string>
      <string>chayagujr</string>
      <string>chavagujr</string>
      <string>chayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_daghagujr_L</key>
    <array>
      <string>dabagujr</string>
      <string>davagujr</string>
      <string>daghasquishgujr</string>
      <string>dadhasquishgujr</string>
    </array>
    <key>public.kern2.GUJ_dagujr_L</key>
    <array>
      <string>dagujr</string>
      <string>danuktagujr</string>
      <string>daprehalfgujr</string>
      <string>danuktaprehalfgujr</string>
      <string>dadagujr</string>
      <string>darvocalicvowelgujr</string>
      <string>darvocalicvowelnuktagujr</string>
      <string>dadasquishgujr</string>
    </array>
    <key>public.kern2.GUJ_daragujr_L</key>
    <array>
      <string>daragujr</string>
      <string>daranuktagujr</string>
      <string>daraprehalfgujr</string>
      <string>daraprehalfUIgujr</string>
      <string>daranuktaprehalfgujr</string>
      <string>dagagujr</string>
      <string>danagujr</string>
      <string>dagasquishgujr</string>
      <string>danasquishgujr</string>
      <string>darasquishgujr</string>
      <string>daranuktasquishgujr</string>
    </array>
    <key>public.kern2.GUJ_ddagujr_L</key>
    <array>
      <string>ngagujr</string>
      <string>ddagujr</string>
      <string>nganuktagujr</string>
      <string>ddanuktagujr</string>
      <string>ngaprehalfgujr</string>
      <string>ddaprehalfgujr</string>
      <string>nganuktaprehalfgujr</string>
      <string>ddanuktaprehalfgujr</string>
      <string>ngaragujr</string>
      <string>ddaragujr</string>
      <string>ngaranuktagujr</string>
      <string>ddaranuktagujr</string>
      <string>ngaraprehalfgujr</string>
      <string>ddaraprehalfgujr</string>
      <string>ngaranuktaprehalfgujr</string>
      <string>ddaranuktaprehalfgujr</string>
      <string>ngayagujr</string>
      <string>ddayagujr</string>
      <string>ngayastemgujr</string>
      <string>ddayastemgujr</string>
      <string>ddanuktauvowelgujr</string>
      <string>ddanuktauuvowelgujr</string>
    </array>
    <key>public.kern2.GUJ_dhagujr_L</key>
    <array>
      <string>dhagujr</string>
      <string>dhanuktagujr</string>
      <string>dhaprehalfgujr</string>
      <string>dhanuktaprehalfgujr</string>
      <string>dharagujr</string>
      <string>dharanuktagujr</string>
      <string>dharaprehalfgujr</string>
      <string>dharanuktaprehalfgujr</string>
      <string>dhastemgujr</string>
      <string>dhanuktastemgujr</string>
      <string>dharastemgujr</string>
      <string>dharanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_gagujr_L</key>
    <array>
      <string>gagujr</string>
      <string>ganuktagujr</string>
      <string>gaprehalfgujr</string>
      <string>ganuktaprehalfgujr</string>
      <string>garagujr</string>
      <string>garanuktagujr</string>
      <string>garaprehalfgujr</string>
      <string>garanuktaprehalfgujr</string>
      <string>ganagujr</string>
      <string>gastemgujr</string>
      <string>ganuktastemgujr</string>
      <string>garastemgujr</string>
      <string>garanuktastemgujr</string>
      <string>ganastemgujr</string>
    </array>
    <key>public.kern2.GUJ_ghagujr_L</key>
    <array>
      <string>ghagujr</string>
      <string>ghanuktagujr</string>
      <string>ghaprehalfgujr</string>
      <string>ghanuktaprehalfgujr</string>
      <string>gharagujr</string>
      <string>gharanuktagujr</string>
      <string>gharaprehalfgujr</string>
      <string>gharanuktaprehalfgujr</string>
      <string>ghastemgujr</string>
      <string>ghanuktastemgujr</string>
      <string>gharastemgujr</string>
      <string>gharanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_hagujr_L</key>
    <array>
      <string>hagujr</string>
      <string>hanuktagujr</string>
    </array>
    <key>public.kern2.GUJ_jagujr_L</key>
    <array>
      <string>jagujr</string>
      <string>zhagujr</string>
      <string>januktagujr</string>
      <string>japrehalfgujr</string>
      <string>zhaprehalfgujr</string>
      <string>januktaprehalfgujr</string>
      <string>jaragujr</string>
      <string>zharagujr</string>
      <string>jaranuktagujr</string>
      <string>jaraprehalfgujr</string>
      <string>zharaprehalfgujr</string>
      <string>jaranuktaprehalfgujr</string>
      <string>jayagujr</string>
      <string>jaaavowelgujr</string>
      <string>jaiivowelgujr</string>
      <string>jaaavowelnuktagujr</string>
      <string>jaiivowelnuktagujr</string>
      <string>jayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_janyagujr_L</key>
    <array>
      <string>janyagujr</string>
      <string>janyaprehalfgujr</string>
      <string>janyaragujr</string>
      <string>janyaraprehalfgujr</string>
      <string>janyastemgujr</string>
      <string>janyarastemgujr</string>
    </array>
    <key>public.kern2.GUJ_jhagujr_L</key>
    <array>
      <string>jhagujr</string>
      <string>jhanuktagujr</string>
      <string>jhaprehalfgujr</string>
      <string>jhanuktaprehalfgujr</string>
      <string>jharagujr</string>
      <string>jharanuktagujr</string>
      <string>jharaprehalfgujr</string>
      <string>jharanuktaprehalfgujr</string>
    </array>
    <key>public.kern2.GUJ_kagujr_L</key>
    <array>
      <string>kagujr</string>
      <string>kanuktagujr</string>
      <string>kaprehalfgujr</string>
      <string>kanuktaprehalfgujr</string>
      <string>karagujr</string>
      <string>karanuktagujr</string>
      <string>karaprehalfgujr</string>
      <string>karanuktaprehalfgujr</string>
      <string>kakagujr</string>
      <string>kayagujr</string>
      <string>kayastemgujr</string>
      <string>kanuktauvowelgujr</string>
      <string>karanuktauvowelgujr</string>
      <string>kanuktauuvowelgujr</string>
      <string>karanuktauuvowelgujr</string>
    </array>
    <key>public.kern2.GUJ_kassagujr_L</key>
    <array>
      <string>kassagujr</string>
      <string>kassaprehalfgujr</string>
      <string>kassaragujr</string>
      <string>kassaraprehalfgujr</string>
      <string>kassastemgujr</string>
      <string>kassarastemgujr</string>
    </array>
    <key>public.kern2.GUJ_khagujr_L</key>
    <array>
      <string>khagujr</string>
      <string>khanuktagujr</string>
      <string>khaprehalfgujr</string>
      <string>khanuktaprehalfgujr</string>
      <string>kharagujr</string>
      <string>kharanuktagujr</string>
      <string>kharaprehalfgujr</string>
      <string>kharanuktaprehalfgujr</string>
      <string>khastemgujr</string>
      <string>khanuktastemgujr</string>
      <string>kharastemgujr</string>
      <string>kharanuktastemgujr</string>
      <string>khayagujr</string>
      <string>khayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_lagujr_L</key>
    <array>
      <string>lagujr</string>
      <string>lanuktagujr</string>
      <string>laprehalfgujr</string>
      <string>lanuktaprehalfgujr</string>
      <string>laragujr</string>
      <string>laranuktagujr</string>
      <string>laraprehalfgujr</string>
      <string>laranuktaprehalfgujr</string>
      <string>lastemgujr</string>
      <string>lanuktastemgujr</string>
      <string>larastemgujr</string>
      <string>laranuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_llagujr_L</key>
    <array>
      <string>llagujr</string>
      <string>llanuktagujr</string>
      <string>llaprehalfgujr</string>
      <string>llanuktaprehalfgujr</string>
      <string>llaragujr</string>
      <string>llaranuktagujr</string>
      <string>llaraprehalfgujr</string>
      <string>llaranuktaprehalfgujr</string>
      <string>llayagujr</string>
      <string>llastemgujr</string>
      <string>llanuktastemgujr</string>
      <string>llarastemgujr</string>
      <string>llaranuktastemgujr</string>
      <string>llayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_magujr_L</key>
    <array>
      <string>magujr</string>
      <string>manuktagujr</string>
      <string>maprehalfgujr</string>
      <string>manuktaprehalfgujr</string>
      <string>maragujr</string>
      <string>maranuktagujr</string>
      <string>maraprehalfgujr</string>
      <string>maranuktaprehalfgujr</string>
      <string>mastemgujr</string>
      <string>manuktastemgujr</string>
      <string>marastemgujr</string>
      <string>maranuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_nagujr_L</key>
    <array>
      <string>nagujr</string>
      <string>nanuktagujr</string>
      <string>naprehalfgujr</string>
      <string>nanuktaprehalfgujr</string>
      <string>naragujr</string>
      <string>naranuktagujr</string>
      <string>naraprehalfgujr</string>
      <string>naranuktaprehalfgujr</string>
      <string>nanagujr</string>
      <string>nastemgujr</string>
      <string>nanuktastemgujr</string>
      <string>narastemgujr</string>
      <string>naranuktastemgujr</string>
      <string>nanastemgujr</string>
      <string>napreformaltgujr</string>
    </array>
    <key>public.kern2.GUJ_nnagujr_L</key>
    <array>
      <string>nnagujr</string>
      <string>nnanuktagujr</string>
      <string>nnaprehalfgujr</string>
      <string>nnanuktaprehalfgujr</string>
      <string>nnaragujr</string>
      <string>nnaranuktagujr</string>
      <string>nnaraprehalfgujr</string>
      <string>nnaranuktaprehalfgujr</string>
      <string>nnauvowelgujr</string>
      <string>nnarauvowelgujr</string>
      <string>nnauvowelnuktagujr</string>
      <string>nnarauvowelnuktagujr</string>
      <string>nnastemgujr</string>
      <string>nnanuktastemgujr</string>
      <string>nnarastemgujr</string>
      <string>nnaranuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_nyagujr_L</key>
    <array>
      <string>nyagujr</string>
      <string>nyanuktagujr</string>
      <string>nyaprehalfgujr</string>
      <string>nyanuktaprehalfgujr</string>
      <string>nyaragujr</string>
      <string>nyaranuktagujr</string>
      <string>nyaraprehalfgujr</string>
      <string>nyaranuktaprehalfgujr</string>
      <string>nyastemgujr</string>
      <string>nyanuktastemgujr</string>
      <string>nyarastemgujr</string>
    </array>
    <key>public.kern2.GUJ_pagujr_L</key>
    <array>
      <string>pagujr</string>
      <string>ssagujr</string>
      <string>panuktagujr</string>
      <string>ssanuktagujr</string>
      <string>paprehalfgujr</string>
      <string>ssaprehalfgujr</string>
      <string>panuktaprehalfgujr</string>
      <string>ssanuktaprehalfgujr</string>
      <string>paragujr</string>
      <string>ssaragujr</string>
      <string>paranuktagujr</string>
      <string>ssaranuktagujr</string>
      <string>paraprehalfgujr</string>
      <string>ssaraprehalfgujr</string>
      <string>paranuktaprehalfgujr</string>
      <string>ssaranuktaprehalfgujr</string>
      <string>ssattagujr</string>
      <string>ssattaragujr</string>
      <string>ssatthagujr</string>
      <string>ssattharagujr</string>
      <string>pastemgujr</string>
      <string>ssastemgujr</string>
      <string>panuktastemgujr</string>
      <string>ssanuktastemgujr</string>
      <string>parastemgujr</string>
      <string>ssarastemgujr</string>
      <string>paranuktastemgujr</string>
      <string>ssaranuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_phagujr_L</key>
    <array>
      <string>phagujr</string>
      <string>phanuktagujr</string>
      <string>phaprehalfgujr</string>
      <string>phanuktaprehalfgujr</string>
      <string>pharagujr</string>
      <string>pharanuktagujr</string>
      <string>pharaprehalfgujr</string>
      <string>pharanuktaprehalfgujr</string>
      <string>phayagujr</string>
      <string>phaaltgujr</string>
      <string>pharaaltgujr</string>
      <string>phanuktaaltgujr</string>
      <string>pharanuktaaltgujr</string>
      <string>phayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_ragujr_L</key>
    <array>
      <string>ragujr</string>
      <string>sagujr</string>
      <string>ranuktagujr</string>
      <string>sanuktagujr</string>
      <string>raprehalfgujr</string>
      <string>saprehalfgujr</string>
      <string>ranuktaprehalfgujr</string>
      <string>sanuktaprehalfgujr</string>
      <string>raragujr</string>
      <string>saragujr</string>
      <string>raranuktagujr</string>
      <string>saranuktagujr</string>
      <string>raraprehalfgujr</string>
      <string>saraprehalfgujr</string>
      <string>raranuktaprehalfgujr</string>
      <string>saranuktaprehalfgujr</string>
      <string>sataragujr</string>
      <string>rauvowelgujr</string>
      <string>rauvowelnuktagujr</string>
      <string>sastemgujr</string>
      <string>sanuktastemgujr</string>
      <string>sarastemgujr</string>
      <string>saranuktastemgujr</string>
      <string>satarastemgujr</string>
      <string>sathagujr</string>
      <string>sathapreformgujr</string>
      <string>sathastemgujr</string>
      <string>sapreformaltgujr</string>
    </array>
    <key>public.kern2.GUJ_shagujr_L</key>
    <array>
      <string>shagujr</string>
      <string>shanuktagujr</string>
      <string>shaprehalfgujr</string>
      <string>shanuktaprehalfgujr</string>
      <string>shastemgujr</string>
      <string>shanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_tagujr_L</key>
    <array>
      <string>tagujr</string>
      <string>tanuktagujr</string>
      <string>taprehalfgujr</string>
      <string>tanuktaprehalfgujr</string>
      <string>tastemgujr</string>
      <string>tanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_thagujr_L</key>
    <array>
      <string>thagujr</string>
      <string>thanuktagujr</string>
      <string>thaprehalfgujr</string>
      <string>thanuktaprehalfgujr</string>
      <string>tharagujr</string>
      <string>tharanuktagujr</string>
      <string>tharaprehalfgujr</string>
      <string>tharanuktaprehalfgujr</string>
      <string>thastemgujr</string>
      <string>thanuktastemgujr</string>
      <string>tharastemgujr</string>
      <string>tharanuktastemgujr</string>
    </array>
    <key>public.kern2.GUJ_ttagujr_L</key>
    <array>
      <string>ttagujr</string>
      <string>ttanuktagujr</string>
      <string>ttaprehalfgujr</string>
      <string>ttanuktaprehalfgujr</string>
      <string>ttaragujr</string>
      <string>ttaranuktagujr</string>
      <string>ttaraprehalfgujr</string>
      <string>ttaranuktaprehalfgujr</string>
      <string>ttayagujr</string>
      <string>ttavagujr</string>
      <string>ttayastemgujr</string>
      <string>ttavastemgujr</string>
    </array>
    <key>public.kern2.GUJ_ttaquishgujr_L</key>
    <array>
      <string>ttaraprehalfUIgujr</string>
      <string>ttaranuktaprehalfUIgujr</string>
      <string>ttattagujr</string>
      <string>ttattaugujr</string>
      <string>ttattauugujr</string>
      <string>ttatthagujr</string>
      <string>ttatthauugujr</string>
      <string>ttasquishgujr</string>
      <string>ttanuktasquishgujr</string>
    </array>
    <key>public.kern2.GUJ_tthagujr_L</key>
    <array>
      <string>tthagujr</string>
      <string>tthanuktagujr</string>
      <string>tthaprehalfgujr</string>
      <string>tthanuktaprehalfgujr</string>
      <string>ttharagujr</string>
      <string>ttharanuktagujr</string>
      <string>ttharaprehalfgujr</string>
      <string>ttharanuktaprehalfgujr</string>
      <string>tthayagujr</string>
      <string>tthayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_tthasquish_L</key>
    <array>
      <string>ttharaprehalfUIgujr</string>
      <string>ttharanuktaprehalfUIgujr</string>
      <string>tthatthagujr</string>
      <string>tthatthaugujr</string>
      <string>tthasquishgujr</string>
      <string>tthanuktasquishgujr</string>
    </array>
    <key>public.kern2.GUJ_vagujr_L</key>
    <array>
      <string>vagujr</string>
      <string>vanuktagujr</string>
      <string>vaprehalfgujr</string>
      <string>vanuktaprehalfgujr</string>
      <string>varagujr</string>
      <string>varanuktagujr</string>
      <string>varaprehalfgujr</string>
      <string>varanuktaprehalfgujr</string>
      <string>vastemgujr</string>
      <string>vanuktastemgujr</string>
      <string>varastemgujr</string>
      <string>varanuktastemgujr</string>
      <string>vayagujr</string>
      <string>vayastemgujr</string>
    </array>
    <key>public.kern2.GUJ_yagujr_L</key>
    <array>
      <string>yagujr</string>
      <string>yanuktagujr</string>
      <string>yaprehalfgujr</string>
      <string>yanuktaprehalfgujr</string>
      <string>yaragujr</string>
      <string>yaranuktagujr</string>
      <string>yaraprehalfgujr</string>
      <string>yaranuktaprehalfgujr</string>
      <string>yastemgujr</string>
      <string>yanuktastemgujr</string>
      <string>yarastemgujr</string>
      <string>yaranuktastemgujr</string>
    </array>
  </dict>
</plist>
