<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.eVowel</key>
    <array>
      <string>eVowel-lao</string>
      <string>aeVowel-lao</string>
      <string>oVowel-lao</string>
      <string>ayMaiMuanVowel-lao</string>
      <string>aiMaiMayVowel-lao</string>
    </array>
    <key>public.kern2.boBae</key>
    <array>
      <string>thoThung-lao</string>
      <string>boBae-lao</string>
      <string>poPa-lao</string>
      <string>phoPhu-lao</string>
      <string>foFai-lao</string>
      <string>hoHaan-lao</string>
      <string>hoNo-lao</string>
      <string>hoMo-lao</string>
    </array>
  </dict>
</plist>
