<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.blackCircled</key>
    <string>A_.blackC_ircled.glif</string>
    <key>A.circled</key>
    <string>A_.circled.glif</string>
    <key>B.blackCircled</key>
    <string>B_.blackC_ircled.glif</string>
    <key>B.circled</key>
    <string>B_.circled.glif</string>
    <key>C.blackCircled</key>
    <string>C_.blackC_ircled.glif</string>
    <key>C.circled</key>
    <string>C_.circled.glif</string>
    <key>D.blackCircled</key>
    <string>D_.blackC_ircled.glif</string>
    <key>D.circled</key>
    <string>D_.circled.glif</string>
    <key>E.blackCircled</key>
    <string>E_.blackC_ircled.glif</string>
    <key>E.circled</key>
    <string>E_.circled.glif</string>
    <key>F.blackCircled</key>
    <string>F_.blackC_ircled.glif</string>
    <key>F.circled</key>
    <string>F_.circled.glif</string>
    <key>G.blackCircled</key>
    <string>G_.blackC_ircled.glif</string>
    <key>G.circled</key>
    <string>G_.circled.glif</string>
    <key>H.blackCircled</key>
    <string>H_.blackC_ircled.glif</string>
    <key>H.circled</key>
    <string>H_.circled.glif</string>
    <key>I.blackCircled</key>
    <string>I_.blackC_ircled.glif</string>
    <key>I.circled</key>
    <string>I_.circled.glif</string>
    <key>J.blackCircled</key>
    <string>J_.blackC_ircled.glif</string>
    <key>J.circled</key>
    <string>J_.circled.glif</string>
    <key>K.blackCircled</key>
    <string>K_.blackC_ircled.glif</string>
    <key>K.circled</key>
    <string>K_.circled.glif</string>
    <key>L.blackCircled</key>
    <string>L_.blackC_ircled.glif</string>
    <key>L.circled</key>
    <string>L_.circled.glif</string>
    <key>M.blackCircled</key>
    <string>M_.blackC_ircled.glif</string>
    <key>M.circled</key>
    <string>M_.circled.glif</string>
    <key>N.blackCircled</key>
    <string>N_.blackC_ircled.glif</string>
    <key>N.circled</key>
    <string>N_.circled.glif</string>
    <key>O.blackCircled</key>
    <string>O_.blackC_ircled.glif</string>
    <key>O.circled</key>
    <string>O_.circled.glif</string>
    <key>P.blackCircled</key>
    <string>P_.blackC_ircled.glif</string>
    <key>P.circled</key>
    <string>P_.circled.glif</string>
    <key>Q.blackCircled</key>
    <string>Q_.blackC_ircled.glif</string>
    <key>Q.circled</key>
    <string>Q_.circled.glif</string>
    <key>R.blackCircled</key>
    <string>R_.blackC_ircled.glif</string>
    <key>R.circled</key>
    <string>R_.circled.glif</string>
    <key>S.blackCircled</key>
    <string>S_.blackC_ircled.glif</string>
    <key>S.circled</key>
    <string>S_.circled.glif</string>
    <key>T.blackCircled</key>
    <string>T_.blackC_ircled.glif</string>
    <key>T.circled</key>
    <string>T_.circled.glif</string>
    <key>U.blackCircled</key>
    <string>U_.blackC_ircled.glif</string>
    <key>U.circled</key>
    <string>U_.circled.glif</string>
    <key>V.blackCircled</key>
    <string>V_.blackC_ircled.glif</string>
    <key>V.circled</key>
    <string>V_.circled.glif</string>
    <key>W.blackCircled</key>
    <string>W_.blackC_ircled.glif</string>
    <key>W.circled</key>
    <string>W_.circled.glif</string>
    <key>X.blackCircled</key>
    <string>X_.blackC_ircled.glif</string>
    <key>X.circled</key>
    <string>X_.circled.glif</string>
    <key>Y.blackCircled</key>
    <string>Y_.blackC_ircled.glif</string>
    <key>Y.circled</key>
    <string>Y_.circled.glif</string>
    <key>Z.blackCircled</key>
    <string>Z_.blackC_ircled.glif</string>
    <key>Z.circled</key>
    <string>Z_.circled.glif</string>
    <key>a.circled</key>
    <string>a.circled.glif</string>
    <key>b.circled</key>
    <string>b.circled.glif</string>
    <key>c.circled</key>
    <string>c.circled.glif</string>
    <key>d.circled</key>
    <string>d.circled.glif</string>
    <key>e.circled</key>
    <string>e.circled.glif</string>
    <key>f.circled</key>
    <string>f.circled.glif</string>
    <key>g.circled</key>
    <string>g.circled.glif</string>
    <key>h.circled</key>
    <string>h.circled.glif</string>
    <key>i.circled</key>
    <string>i.circled.glif</string>
    <key>j.circled</key>
    <string>j.circled.glif</string>
    <key>k.circled</key>
    <string>k.circled.glif</string>
    <key>l.circled</key>
    <string>l.circled.glif</string>
    <key>m.circled</key>
    <string>m.circled.glif</string>
    <key>n.circled</key>
    <string>n.circled.glif</string>
    <key>o.circled</key>
    <string>o.circled.glif</string>
    <key>p.circled</key>
    <string>p.circled.glif</string>
    <key>q.circled</key>
    <string>q.circled.glif</string>
    <key>r.circled</key>
    <string>r.circled.glif</string>
    <key>s.circled</key>
    <string>s.circled.glif</string>
    <key>t.circled</key>
    <string>t.circled.glif</string>
    <key>u.circled</key>
    <string>u.circled.glif</string>
    <key>u1f12b</key>
    <string>u1f12b.glif</string>
    <key>u1f12c</key>
    <string>u1f12c.glif</string>
    <key>v.circled</key>
    <string>v.circled.glif</string>
    <key>w.circled</key>
    <string>w.circled.glif</string>
    <key>x.circled</key>
    <string>x.circled.glif</string>
    <key>y.circled</key>
    <string>y.circled.glif</string>
    <key>z.circled</key>
    <string>z.circled.glif</string>
  </dict>
</plist>
