<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aSign_ahom</key>
    <string>aS_ign_ahom.glif</string>
    <key>a_ahom</key>
    <string>a_ahom.glif</string>
    <key>aaSign_ahom</key>
    <string>aaS_ign_ahom.glif</string>
    <key>aiSign_ahom</key>
    <string>aiS_ign_ahom.glif</string>
    <key>alt_ba_ahom</key>
    <string>alt_ba_ahom.glif</string>
    <key>alt_ga_ahom</key>
    <string>alt_ga_ahom.glif</string>
    <key>alt_ta_ahom</key>
    <string>alt_ta_ahom.glif</string>
    <key>amSign_ahom</key>
    <string>amS_ign_ahom.glif</string>
    <key>awSign_ahom</key>
    <string>awS_ign_ahom.glif</string>
    <key>ba_ahom</key>
    <string>ba_ahom.glif</string>
    <key>bha_ahom</key>
    <string>bha_ahom.glif</string>
    <key>cha_ahom</key>
    <string>cha_ahom.glif</string>
    <key>da_ahom</key>
    <string>da_ahom.glif</string>
    <key>dha_ahom</key>
    <string>dha_ahom.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>eSign_ahom</key>
    <string>eS_ign_ahom.glif</string>
    <key>eight_ahom</key>
    <string>eight_ahom.glif</string>
    <key>five_ahom</key>
    <string>five_ahom.glif</string>
    <key>four_ahom</key>
    <string>four_ahom.glif</string>
    <key>four_ahom.alt</key>
    <string>four_ahom.alt.glif</string>
    <key>ga_ahom</key>
    <string>ga_ahom.glif</string>
    <key>ga_ahom.alt</key>
    <string>ga_ahom.alt.glif</string>
    <key>gha_ahom</key>
    <string>gha_ahom.glif</string>
    <key>ha_ahom</key>
    <string>ha_ahom.glif</string>
    <key>iSign_ahom</key>
    <string>iS_ign_ahom.glif</string>
    <key>i_u_ahom</key>
    <string>i_u_ahom.glif</string>
    <key>iiSign_ahom</key>
    <string>iiS_ign_ahom.glif</string>
    <key>ja_ahom</key>
    <string>ja_ahom.glif</string>
    <key>jha_ahom</key>
    <string>jha_ahom.glif</string>
    <key>jha_ahom.alt</key>
    <string>jha_ahom.alt.glif</string>
    <key>ka_ahom</key>
    <string>ka_ahom.glif</string>
    <key>kha_ahom</key>
    <string>kha_ahom.glif</string>
    <key>khra_ahom</key>
    <string>khra_ahom.glif</string>
    <key>la_ahom</key>
    <string>la_ahom.glif</string>
    <key>ma_ahom</key>
    <string>ma_ahom.glif</string>
    <key>medialLa_ahom</key>
    <string>medialL_a_ahom.glif</string>
    <key>medialLa_ahom.sm</key>
    <string>medialL_a_ahom.sm.glif</string>
    <key>medialLigaRa_ahom</key>
    <string>medialL_igaR_a_ahom.glif</string>
    <key>medialRa_ahom</key>
    <string>medialR_a_ahom.glif</string>
    <key>medialRa_ahom.desc</key>
    <string>medialR_a_ahom.desc.glif</string>
    <key>medialRa_ahom.sm</key>
    <string>medialR_a_ahom.sm.glif</string>
    <key>na_ahom</key>
    <string>na_ahom.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga_ahom</key>
    <string>nga_ahom.glif</string>
    <key>nine_ahom</key>
    <string>nine_ahom.glif</string>
    <key>nya_ahom</key>
    <string>nya_ahom.glif</string>
    <key>oSign_ahom</key>
    <string>oS_ign_ahom.glif</string>
    <key>o_u_ahom</key>
    <string>o_u_ahom.glif</string>
    <key>one_ahom</key>
    <string>one_ahom.glif</string>
    <key>pa_ahom</key>
    <string>pa_ahom.glif</string>
    <key>pha_ahom</key>
    <string>pha_ahom.glif</string>
    <key>phra_ahom</key>
    <string>phra_ahom.glif</string>
    <key>ra_ahom</key>
    <string>ra_ahom.glif</string>
    <key>rulaiSign_ahom</key>
    <string>rulaiS_ign_ahom.glif</string>
    <key>sa_ahom</key>
    <string>sa_ahom.glif</string>
    <key>sectionSign_ahom</key>
    <string>sectionS_ign_ahom.glif</string>
    <key>seven_ahom</key>
    <string>seven_ahom.glif</string>
    <key>six_ahom</key>
    <string>six_ahom.glif</string>
    <key>smallSectionSign_ahom</key>
    <string>smallS_ectionS_ign_ahom.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t_ja_ahom</key>
    <string>t_ja_ahom.glif</string>
    <key>ta_ahom</key>
    <string>ta_ahom.glif</string>
    <key>ten_ahom</key>
    <string>ten_ahom.glif</string>
    <key>tha_ahom</key>
    <string>tha_ahom.glif</string>
    <key>three_ahom</key>
    <string>three_ahom.glif</string>
    <key>three_ahom.alt</key>
    <string>three_ahom.alt.glif</string>
    <key>twenty_ahom</key>
    <string>twenty_ahom.glif</string>
    <key>two_ahom</key>
    <string>two_ahom.glif</string>
    <key>uSign_ahom</key>
    <string>uS_ign_ahom.glif</string>
    <key>uuSign_ahom</key>
    <string>uuS_ign_ahom.glif</string>
    <key>viSymbol_ahom</key>
    <string>viS_ymbol_ahom.glif</string>
    <key>virama_ahom</key>
    <string>virama_ahom.glif</string>
    <key>zero_ahom</key>
    <string>zero_ahom.glif</string>
  </dict>
</plist>
