<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_part.IImatra</key>
    <string>_part.I_I_matra.glif</string>
    <key>_part.iiMatra_reph</key>
    <string>_part.iiM_atra_reph.glif</string>
  </dict>
</plist>
