<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11AC0</key>
    <string>u11A_C_0.glif</string>
    <key>u11AC1</key>
    <string>u11A_C_1.glif</string>
    <key>u11AC2</key>
    <string>u11A_C_2.glif</string>
    <key>u11AC3</key>
    <string>u11A_C_3.glif</string>
    <key>u11AC4</key>
    <string>u11A_C_4.glif</string>
    <key>u11AC5</key>
    <string>u11A_C_5.glif</string>
    <key>u11AC6</key>
    <string>u11A_C_6.glif</string>
    <key>u11AC7</key>
    <string>u11A_C_7.glif</string>
    <key>u11AC8</key>
    <string>u11A_C_8.glif</string>
    <key>u11AC9</key>
    <string>u11A_C_9.glif</string>
    <key>u11ACA</key>
    <string>u11A_C_A_.glif</string>
    <key>u11ACB</key>
    <string>u11A_C_B_.glif</string>
    <key>u11ACC</key>
    <string>u11A_C_C_.glif</string>
    <key>u11ACD</key>
    <string>u11A_C_D_.glif</string>
    <key>u11ACE</key>
    <string>u11A_C_E_.glif</string>
    <key>u11ACF</key>
    <string>u11A_C_F_.glif</string>
    <key>u11AD0</key>
    <string>u11A_D_0.glif</string>
    <key>u11AD1</key>
    <string>u11A_D_1.glif</string>
    <key>u11AD2</key>
    <string>u11A_D_2.glif</string>
    <key>u11AD3</key>
    <string>u11A_D_3.glif</string>
    <key>u11AD4</key>
    <string>u11A_D_4.glif</string>
    <key>u11AD5</key>
    <string>u11A_D_5.glif</string>
    <key>u11AD6</key>
    <string>u11A_D_6.glif</string>
    <key>u11AD7</key>
    <string>u11A_D_7.glif</string>
    <key>u11AD8</key>
    <string>u11A_D_8.glif</string>
    <key>u11AD9</key>
    <string>u11A_D_9.glif</string>
    <key>u11ADA</key>
    <string>u11A_D_A_.glif</string>
    <key>u11ADB</key>
    <string>u11A_D_B_.glif</string>
    <key>u11ADC</key>
    <string>u11A_D_C_.glif</string>
    <key>u11ADD</key>
    <string>u11A_D_D_.glif</string>
    <key>u11ADE</key>
    <string>u11A_D_E_.glif</string>
    <key>u11ADF</key>
    <string>u11A_D_F_.glif</string>
    <key>u11AE0</key>
    <string>u11A_E_0.glif</string>
    <key>u11AE1</key>
    <string>u11A_E_1.glif</string>
    <key>u11AE2</key>
    <string>u11A_E_2.glif</string>
    <key>u11AE3</key>
    <string>u11A_E_3.glif</string>
    <key>u11AE4</key>
    <string>u11A_E_4.glif</string>
    <key>u11AE5</key>
    <string>u11A_E_5.glif</string>
    <key>u11AE6</key>
    <string>u11A_E_6.glif</string>
    <key>u11AE7</key>
    <string>u11A_E_7.glif</string>
    <key>u11AE8</key>
    <string>u11A_E_8.glif</string>
    <key>u11AE9</key>
    <string>u11A_E_9.glif</string>
    <key>u11AEA</key>
    <string>u11A_E_A_.glif</string>
    <key>u11AEB</key>
    <string>u11A_E_B_.glif</string>
    <key>u11AEC</key>
    <string>u11A_E_C_.glif</string>
    <key>u11AED</key>
    <string>u11A_E_D_.glif</string>
    <key>u11AEE</key>
    <string>u11A_E_E_.glif</string>
    <key>u11AEF</key>
    <string>u11A_E_F_.glif</string>
    <key>u11AF0</key>
    <string>u11A_F_0.glif</string>
    <key>u11AF1</key>
    <string>u11A_F_1.glif</string>
    <key>u11AF2</key>
    <string>u11A_F_2.glif</string>
    <key>u11AF3</key>
    <string>u11A_F_3.glif</string>
    <key>u11AF4</key>
    <string>u11A_F_4.glif</string>
    <key>u11AF5</key>
    <string>u11A_F_5.glif</string>
    <key>u11AF6</key>
    <string>u11A_F_6.glif</string>
    <key>u11AF7</key>
    <string>u11A_F_7.glif</string>
    <key>u11AF8</key>
    <string>u11A_F_8.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
