<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1230</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisableAllAutomaticBehaviour</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Master Icon Glyph Name</key>
    <string>kabeng</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aabeng</string>
      <string>aavowelsignbeng</string>
      <string>abeng</string>
      <string>aibeng</string>
      <string>aivowelsignbeng</string>
      <string>aivowelsigninibeng</string>
      <string>anusvarabeng</string>
      <string>asciicircum.beng</string>
      <string>asciitilde.beng</string>
      <string>asterisk.beng</string>
      <string>aubeng</string>
      <string>aulengthmarkbeng</string>
      <string>aulengthmarkshortbeng</string>
      <string>auvowelcrossbeng</string>
      <string>auvowelsignbeng</string>
      <string>auvowelwavebeng</string>
      <string>avagrahabeng</string>
      <string>bababeng</string>
      <string>babeng</string>
      <string>babhabeng</string>
      <string>backslash.beng</string>
      <string>badabeng</string>
      <string>badarabeng</string>
      <string>badhabeng</string>
      <string>bahalfbeng</string>
      <string>bajabeng</string>
      <string>balabeng</string>
      <string>banuktahalfbeng</string>
      <string>bar.beng</string>
      <string>barabeng</string>
      <string>barasquishbeng</string>
      <string>barubeng</string>
      <string>basubscriptbeng</string>
      <string>bhababeng</string>
      <string>bhabeng</string>
      <string>bhahalfbeng</string>
      <string>bhalabeng</string>
      <string>bhalasquishbeng</string>
      <string>bhanuktabeng</string>
      <string>bhanuktahalfbeng</string>
      <string>bharabeng</string>
      <string>bharubeng</string>
      <string>bharuubeng</string>
      <string>braceleft.beng</string>
      <string>braceright.beng</string>
      <string>bracketleft.beng</string>
      <string>bracketright.beng</string>
      <string>cababeng</string>
      <string>cabeng</string>
      <string>cacabeng</string>
      <string>cachababeng</string>
      <string>cachabeng</string>
      <string>cacharabeng</string>
      <string>cahalfbeng</string>
      <string>canabeng</string>
      <string>candrabindualtbeng</string>
      <string>candrabinduaumarkbeng</string>
      <string>candrabindubeng</string>
      <string>canuktabeng</string>
      <string>canuktahalfbeng</string>
      <string>canyabeng</string>
      <string>carabeng</string>
      <string>carasquishbeng</string>
      <string>chababeng</string>
      <string>chabeng</string>
      <string>chahalfbeng</string>
      <string>chanuktabeng</string>
      <string>chanuktahalfbeng</string>
      <string>charabeng</string>
      <string>charasquishbeng</string>
      <string>colon.beng</string>
      <string>comma.beng</string>
      <string>crossbeng</string>
      <string>dababeng</string>
      <string>dabasquishbeng</string>
      <string>dabeng</string>
      <string>dabhabeng</string>
      <string>dabharabeng</string>
      <string>dabhasquishbeng</string>
      <string>dadababeng</string>
      <string>dadabeng</string>
      <string>dadhababeng</string>
      <string>dadhabeng</string>
      <string>dadhasquishbeng</string>
      <string>dagabeng</string>
      <string>daghabeng</string>
      <string>dahalfbeng</string>
      <string>damabeng</string>
      <string>danabeng</string>
      <string>dandadeva</string>
      <string>danuktabeng</string>
      <string>danuktahalfbeng</string>
      <string>darabeng</string>
      <string>darubeng</string>
      <string>daruubeng</string>
      <string>dawabeng</string>
      <string>dbldandadeva</string>
      <string>ddababeng</string>
      <string>ddabeng</string>
      <string>ddaddabeng</string>
      <string>ddagabeng</string>
      <string>ddahalfbeng</string>
      <string>ddamabeng</string>
      <string>ddanuktahalfbeng</string>
      <string>ddarabeng</string>
      <string>ddarasquishbeng</string>
      <string>ddhababeng</string>
      <string>ddhabeng</string>
      <string>ddhahalfbeng</string>
      <string>ddhanuktahalfbeng</string>
      <string>ddharabeng</string>
      <string>ddharasquishbeng</string>
      <string>dhababeng</string>
      <string>dhabeng</string>
      <string>dhahalfbeng</string>
      <string>dhamabeng</string>
      <string>dhanabeng</string>
      <string>dhanuktabeng</string>
      <string>dhanuktahalfbeng</string>
      <string>dharabeng</string>
      <string>dharasquishbeng</string>
      <string>dharubeng</string>
      <string>dharuubeng</string>
      <string>divide.beng</string>
      <string>dummymarkbeng</string>
      <string>ebeng</string>
      <string>eight.beng</string>
      <string>eightbeng</string>
      <string>ellipsis.beng</string>
      <string>emdash.beng</string>
      <string>endash.beng</string>
      <string>equal.beng</string>
      <string>evowelsignbeng</string>
      <string>evowelsigninibeng</string>
      <string>exclam.beng</string>
      <string>five.beng</string>
      <string>fivebeng</string>
      <string>four.beng</string>
      <string>fourbeng</string>
      <string>gababeng</string>
      <string>gabeng</string>
      <string>gadabeng</string>
      <string>gadhabeng</string>
      <string>gagabeng</string>
      <string>gahalfbeng</string>
      <string>galabeng</string>
      <string>gamabeng</string>
      <string>ganabeng</string>
      <string>ganuktabeng</string>
      <string>ganuktahalfbeng</string>
      <string>garabeng</string>
      <string>garubeng</string>
      <string>garuubeng</string>
      <string>gawabeng</string>
      <string>ghababeng</string>
      <string>ghabeng</string>
      <string>ghahalfbeng</string>
      <string>ghalabeng</string>
      <string>ghanabeng</string>
      <string>ghanuktabeng</string>
      <string>ghanuktahalfbeng</string>
      <string>gharabeng</string>
      <string>gharasquishbeng</string>
      <string>greater.beng</string>
      <string>gubeng</string>
      <string>hababeng</string>
      <string>habeng</string>
      <string>hahalfbeng</string>
      <string>halabeng</string>
      <string>hamabeng</string>
      <string>hanabeng</string>
      <string>hannabeng</string>
      <string>hanuktabeng</string>
      <string>hanuktahalfbeng</string>
      <string>harabeng</string>
      <string>harasquishbeng</string>
      <string>hrvocalicbeng</string>
      <string>hubeng</string>
      <string>hyphen.beng</string>
      <string>ibeng</string>
      <string>iibeng</string>
      <string>iivowelcandrabindurephaltbeng</string>
      <string>iivowelcandrabindurephshortbeng</string>
      <string>iivowelcrossbeng</string>
      <string>iivowelsignaltbeng</string>
      <string>iivowelsignbeng</string>
      <string>iivowelsigncandrabindbeng</string>
      <string>iivowelsigncandrabindualtbeng</string>
      <string>iivowelsigncandrabindurephbeng</string>
      <string>iivowelsigncandrabindushortbeng</string>
      <string>iivowelsignshortbeng</string>
      <string>iivowelwavebeng</string>
      <string>issharbeng</string>
      <string>ivowelcrossbeng</string>
      <string>ivowelsign1beng</string>
      <string>ivowelsign2beng</string>
      <string>ivowelsign3beng</string>
      <string>ivowelsign4beng</string>
      <string>ivowelsignbeng</string>
      <string>ivowelsigncandrabind1beng</string>
      <string>ivowelsigncandrabind2beng</string>
      <string>ivowelsigncandrabind3beng</string>
      <string>ivowelsigncandrabind4beng</string>
      <string>ivowelsigncandrabindbeng</string>
      <string>ivowelsignshortbeng</string>
      <string>ivowelwavebeng</string>
      <string>jababeng</string>
      <string>jabeng</string>
      <string>jahalfbeng</string>
      <string>jajababeng</string>
      <string>jajabeng</string>
      <string>jajhabeng</string>
      <string>januktabeng</string>
      <string>januktahalfbeng</string>
      <string>janyababeng</string>
      <string>janyabeng</string>
      <string>janyahalfbeng</string>
      <string>janyarabeng</string>
      <string>jarabeng</string>
      <string>jarasquishbeng</string>
      <string>jhababeng</string>
      <string>jhabeng</string>
      <string>jhahalfbeng</string>
      <string>jhanuktabeng</string>
      <string>jhanuktahalfbeng</string>
      <string>jharabeng</string>
      <string>jharasquishbeng</string>
      <string>kababeng</string>
      <string>kabeng</string>
      <string>kahalfbeng</string>
      <string>kakabeng</string>
      <string>kalabeng</string>
      <string>kamabeng</string>
      <string>kanabeng</string>
      <string>kanuktabeng</string>
      <string>kanuktahalfbeng</string>
      <string>karabeng</string>
      <string>kasabeng</string>
      <string>kassababeng</string>
      <string>kassabeng</string>
      <string>kassahalfbeng</string>
      <string>kassamabeng</string>
      <string>kassannabeng</string>
      <string>kassarabeng</string>
      <string>katababeng</string>
      <string>katabeng</string>
      <string>katarabeng</string>
      <string>kattabeng</string>
      <string>kattarabeng</string>
      <string>kawabeng</string>
      <string>khababeng</string>
      <string>khabeng</string>
      <string>khahalfbeng</string>
      <string>khandatabeng</string>
      <string>khanuktabeng</string>
      <string>khanuktahalfbeng</string>
      <string>kharabeng</string>
      <string>kharasquishbeng</string>
      <string>lababeng</string>
      <string>labeng</string>
      <string>ladabeng</string>
      <string>laddabeng</string>
      <string>laddarabeng</string>
      <string>ladhabeng</string>
      <string>lagabeng</string>
      <string>lagubeng</string>
      <string>lahalfbeng</string>
      <string>lakabeng</string>
      <string>lalabeng</string>
      <string>lamabeng</string>
      <string>lanuktabeng</string>
      <string>lanuktahalfbeng</string>
      <string>lapabeng</string>
      <string>laphabeng</string>
      <string>larabeng</string>
      <string>larasquishbeng</string>
      <string>latabeng</string>
      <string>latasquishbeng</string>
      <string>lattabeng</string>
      <string>lattarabeng</string>
      <string>less.beng</string>
      <string>llvocalicUIbeng</string>
      <string>llvocalicbeng</string>
      <string>llvocalicvowelsignUIbeng</string>
      <string>llvocalicvowelsignbeng</string>
      <string>lvocalicbeng</string>
      <string>lvocalicvowelsignUIbeng</string>
      <string>lvocalicvowelsignbeng</string>
      <string>mababeng</string>
      <string>mabarabeng</string>
      <string>mabeng</string>
      <string>mabhabeng</string>
      <string>mabharabeng</string>
      <string>mabhasquishbeng</string>
      <string>madabeng</string>
      <string>mahalfbeng</string>
      <string>malabeng</string>
      <string>mamabeng</string>
      <string>manabeng</string>
      <string>manuktabeng</string>
      <string>manuktahalfbeng</string>
      <string>mapabeng</string>
      <string>maparabeng</string>
      <string>maphabeng</string>
      <string>marabeng</string>
      <string>marasquishbeng</string>
      <string>masabeng</string>
      <string>matabeng</string>
      <string>matasquishbeng</string>
      <string>mawabeng</string>
      <string>minus.beng</string>
      <string>multiply.beng</string>
      <string>nababeng</string>
      <string>nabeng</string>
      <string>nadababeng</string>
      <string>nadabeng</string>
      <string>nadarabeng</string>
      <string>naddabeng</string>
      <string>naddarabeng</string>
      <string>nadhabeng</string>
      <string>nadharabeng</string>
      <string>nahalfbeng</string>
      <string>namabeng</string>
      <string>nanabeng</string>
      <string>nanuktabeng</string>
      <string>nanuktahalfbeng</string>
      <string>narabeng</string>
      <string>nasabeng</string>
      <string>natababeng</string>
      <string>natabeng</string>
      <string>natarabeng</string>
      <string>natasquishbeng</string>
      <string>nathabeng</string>
      <string>natharabeng</string>
      <string>nattabeng</string>
      <string>nattarabeng</string>
      <string>natthabeng</string>
      <string>natubeng</string>
      <string>ngababeng</string>
      <string>ngabeng</string>
      <string>ngagabeng</string>
      <string>ngaghabeng</string>
      <string>ngahalfbeng</string>
      <string>ngakabeng</string>
      <string>ngakarabeng</string>
      <string>ngakassabeng</string>
      <string>ngakhabeng</string>
      <string>ngamabeng</string>
      <string>nganuktabeng</string>
      <string>nganuktahalfbeng</string>
      <string>ngarabeng</string>
      <string>ngarasquishbeng</string>
      <string>nine.beng</string>
      <string>ninebeng</string>
      <string>nnababeng</string>
      <string>nnabeng</string>
      <string>nnaddabeng</string>
      <string>nnaddarabeng</string>
      <string>nnaddarubeng</string>
      <string>nnaddhabeng</string>
      <string>nnahalfbeng</string>
      <string>nnamabeng</string>
      <string>nnanabeng</string>
      <string>nnannabeng</string>
      <string>nnanuktabeng</string>
      <string>nnanuktahalfbeng</string>
      <string>nnarabeng</string>
      <string>nnattabeng</string>
      <string>nnattarabeng</string>
      <string>nnatthabeng</string>
      <string>nuktabeng</string>
      <string>numbersign.beng</string>
      <string>nyababeng</string>
      <string>nyabeng</string>
      <string>nyacabeng</string>
      <string>nyachabeng</string>
      <string>nyahalfbeng</string>
      <string>nyajabeng</string>
      <string>nyajhabeng</string>
      <string>nyanuktabeng</string>
      <string>nyanuktahalfbeng</string>
      <string>nyarabeng</string>
      <string>obeng</string>
      <string>one.beng</string>
      <string>onebeng</string>
      <string>ovowelsignbeng</string>
      <string>pababeng</string>
      <string>pabeng</string>
      <string>pahalfbeng</string>
      <string>palabeng</string>
      <string>pamabeng</string>
      <string>panabeng</string>
      <string>panuktabeng</string>
      <string>panuktahalfbeng</string>
      <string>papabeng</string>
      <string>parabeng</string>
      <string>parenleft.beng</string>
      <string>parenright.beng</string>
      <string>pasabeng</string>
      <string>patabeng</string>
      <string>patasquishbeng</string>
      <string>pattabeng</string>
      <string>percent.beng</string>
      <string>period.beng</string>
      <string>phababeng</string>
      <string>phabeng</string>
      <string>phahalfbeng</string>
      <string>phalabeng</string>
      <string>phanuktabeng</string>
      <string>phanuktahalfbeng</string>
      <string>pharabeng</string>
      <string>pharasquishbeng</string>
      <string>phattabeng</string>
      <string>plus.beng</string>
      <string>question.beng</string>
      <string>quotedbl.beng</string>
      <string>quotedblleft.beng</string>
      <string>quotedblright.beng</string>
      <string>quoteleft.beng</string>
      <string>quoteright.beng</string>
      <string>quotesingle.beng</string>
      <string>ra1babeng</string>
      <string>ra1beng</string>
      <string>ra1halfbeng</string>
      <string>ra1nuktabeng</string>
      <string>ra1nuktahalfbeng</string>
      <string>ra1rabeng</string>
      <string>ra1rasquishbeng</string>
      <string>rababeng</string>
      <string>rabeng</string>
      <string>rarabeng</string>
      <string>rarasquishbeng</string>
      <string>rephbeng</string>
      <string>rephcandrabindualtbeng</string>
      <string>rephcandrabinduaumarkbeng</string>
      <string>rephcandrabindubeng</string>
      <string>rephiivowelsignaltbeng</string>
      <string>rephiivowelsignbeng</string>
      <string>rephiivowelsignshortbeng</string>
      <string>rhababeng</string>
      <string>rhabeng</string>
      <string>rharabeng</string>
      <string>rharasquishbeng</string>
      <string>rhaviramabeng</string>
      <string>rhrvocalicbeng</string>
      <string>rhubeng</string>
      <string>rhuubeng</string>
      <string>rrababeng</string>
      <string>rrabeng</string>
      <string>rragabeng</string>
      <string>rrarabeng</string>
      <string>rrarasquishbeng</string>
      <string>rraviramabeng</string>
      <string>rrrvocalicbeng</string>
      <string>rrubeng</string>
      <string>rruubeng</string>
      <string>rrvocalicbeng</string>
      <string>rrvocalicvowelsignUIbeng</string>
      <string>rrvocalicvowelsignbeng</string>
      <string>ru1beng</string>
      <string>rubeng</string>
      <string>rupeemarkbeng</string>
      <string>rupeesignbeng</string>
      <string>ruu1beng</string>
      <string>ruubeng</string>
      <string>rvocalicbeng</string>
      <string>rvocalicinterpolateUIbeng</string>
      <string>rvocalicinterpolatelowerbeng</string>
      <string>rvocalicinterpolatevattubeng</string>
      <string>rvocalicvowelsignbeng</string>
      <string>rvocalicvowelsignlowbeng</string>
      <string>rvocalicvowelsignlowerbeng</string>
      <string>rvocalicvowelsignvattuUIbeng</string>
      <string>rvocalicvowelsignvattubeng</string>
      <string>sababeng</string>
      <string>sabeng</string>
      <string>sahalfbeng</string>
      <string>sakabeng</string>
      <string>sakarabeng</string>
      <string>sakarubeng</string>
      <string>sakhabeng</string>
      <string>salabeng</string>
      <string>salubeng</string>
      <string>samabeng</string>
      <string>sanabeng</string>
      <string>sanuktabeng</string>
      <string>sanuktahalfbeng</string>
      <string>sapabeng</string>
      <string>saparabeng</string>
      <string>saphabeng</string>
      <string>sarabeng</string>
      <string>sarubeng</string>
      <string>saruubeng</string>
      <string>satababeng</string>
      <string>satabeng</string>
      <string>satarabeng</string>
      <string>satasquishbeng</string>
      <string>satawabeng</string>
      <string>sathabeng</string>
      <string>sattabeng</string>
      <string>sattarabeng</string>
      <string>sattarasquishbeng</string>
      <string>sattariibeng</string>
      <string>sattiibeng</string>
      <string>satubeng</string>
      <string>sawabeng</string>
      <string>semicolon.beng</string>
      <string>seven.beng</string>
      <string>sevenbeng</string>
      <string>sfthyphen.beng</string>
      <string>shababeng</string>
      <string>shabeng</string>
      <string>shacabeng</string>
      <string>shachabeng</string>
      <string>shahalfbeng</string>
      <string>shalabeng</string>
      <string>shamabeng</string>
      <string>shanabeng</string>
      <string>shanuktabeng</string>
      <string>shanuktahalfbeng</string>
      <string>sharabeng</string>
      <string>sharubeng</string>
      <string>sharuubeng</string>
      <string>shatabeng</string>
      <string>shatasquishbeng</string>
      <string>shubeng</string>
      <string>six.beng</string>
      <string>sixbeng</string>
      <string>slash.beng</string>
      <string>space</string>
      <string>ssababeng</string>
      <string>ssabeng</string>
      <string>ssahalfbeng</string>
      <string>ssakabeng</string>
      <string>ssakarabeng</string>
      <string>ssamabeng</string>
      <string>ssannabeng</string>
      <string>ssanuktabeng</string>
      <string>ssanuktahalfbeng</string>
      <string>ssapabeng</string>
      <string>ssaphabeng</string>
      <string>ssarabeng</string>
      <string>ssarasquishbeng</string>
      <string>ssattabeng</string>
      <string>ssattarabeng</string>
      <string>ssatthabeng</string>
      <string>ssattibeng</string>
      <string>ssattiibeng</string>
      <string>tababeng</string>
      <string>tabasquishbeng</string>
      <string>tabeng</string>
      <string>tahalfbeng</string>
      <string>talabeng</string>
      <string>talasquishbeng</string>
      <string>tamabeng</string>
      <string>tamasquishbeng</string>
      <string>tanabeng</string>
      <string>tanasquishbeng</string>
      <string>tanuktabeng</string>
      <string>tanuktahalfbeng</string>
      <string>tarabeng</string>
      <string>tarubeng</string>
      <string>tatababeng</string>
      <string>tatabeng</string>
      <string>tatawabeng</string>
      <string>tathabeng</string>
      <string>tawabeng</string>
      <string>thababeng</string>
      <string>thabeng</string>
      <string>thahalfbeng</string>
      <string>thanuktabeng</string>
      <string>thanuktahalfbeng</string>
      <string>tharabeng</string>
      <string>tharasquishbeng</string>
      <string>tharubeng</string>
      <string>tharuubeng</string>
      <string>three.beng</string>
      <string>threebeng</string>
      <string>ttababeng</string>
      <string>ttabeng</string>
      <string>ttahalfbeng</string>
      <string>ttamabeng</string>
      <string>ttanuktabeng</string>
      <string>ttanuktahalfbeng</string>
      <string>ttarabeng</string>
      <string>ttarasquishbeng</string>
      <string>ttaribeng</string>
      <string>ttattabeng</string>
      <string>ttattasquishbeng</string>
      <string>tthababeng</string>
      <string>tthabeng</string>
      <string>tthahalfbeng</string>
      <string>tthanuktabeng</string>
      <string>tthanuktahalfbeng</string>
      <string>ttharabeng</string>
      <string>ttharasquishbeng</string>
      <string>tthibeng</string>
      <string>ttibeng</string>
      <string>ttiibeng</string>
      <string>two.beng</string>
      <string>twobeng</string>
      <string>ubeng</string>
      <string>uinterpolatelowerbeng</string>
      <string>uinterpolatevattubeng</string>
      <string>underscore.beng</string>
      <string>uni00A0.beng</string>
      <string>uni02BC</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni0980</string>
      <string>uni09F4</string>
      <string>uni09F5</string>
      <string>uni09F6</string>
      <string>uni09F7</string>
      <string>uni09F8</string>
      <string>uni09F9</string>
      <string>uni09FB</string>
      <string>uni09FC</string>
      <string>uni09FD</string>
      <string>uni09FE</string>
      <string>uni1CD0</string>
      <string>uni1CD2</string>
      <string>uni1CD5</string>
      <string>uni1CD6</string>
      <string>uni1CD8</string>
      <string>uni1CE1</string>
      <string>uni1CE1.UI</string>
      <string>uni1CEA</string>
      <string>uni1CED</string>
      <string>uni1CF2</string>
      <string>uni1CF5</string>
      <string>uni1CF6</string>
      <string>uni1CF7</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni20B9.beng</string>
      <string>uni25CC</string>
      <string>uniA8F1</string>
      <string>uubeng</string>
      <string>uuinterpolatebeng</string>
      <string>uuinterpolatevattubeng</string>
      <string>uuvowelsignbeng</string>
      <string>uuvowelsigninterpolateUIbeng</string>
      <string>uuvowelsignlongbeng</string>
      <string>uuvowelsignlowbeng</string>
      <string>uuvowelsignlowerbeng</string>
      <string>uuvowelsigntallbeng</string>
      <string>uuvowelsignvattuUIbeng</string>
      <string>uuvowelsignvattubeng</string>
      <string>uvowelsignbeng</string>
      <string>uvowelsigninterpolateUIbeng</string>
      <string>uvowelsignlongbeng</string>
      <string>uvowelsignlowbeng</string>
      <string>uvowelsignlowerbeng</string>
      <string>uvowelsigntallbeng</string>
      <string>uvowelsignvattuUIbeng</string>
      <string>uvowelsignvattubeng</string>
      <string>vattubeng</string>
      <string>viramabeng</string>
      <string>viramainterpolateUIbeng</string>
      <string>viramainterpolatelowerbeng</string>
      <string>viramainterpolatevattubeng</string>
      <string>viramalowbeng</string>
      <string>viramalowerbeng</string>
      <string>viramavattuUIbeng</string>
      <string>viramavattubeng</string>
      <string>visargabeng</string>
      <string>wababeng</string>
      <string>wabeng</string>
      <string>wahalfbeng</string>
      <string>wanuktabeng</string>
      <string>wanuktahalfbeng</string>
      <string>warabeng</string>
      <string>warasquishbeng</string>
      <string>wavebeng</string>
      <string>yababeng</string>
      <string>yabeng</string>
      <string>yahalfbeng</string>
      <string>yaiivowelcandrabindurephbeng</string>
      <string>yanuktahalfbeng</string>
      <string>yapostformbeng</string>
      <string>yarabeng</string>
      <string>yarasquishbeng</string>
      <string>yarephiivowelsignbeng</string>
      <string>yyababeng</string>
      <string>yyabeng</string>
      <string>yyarabeng</string>
      <string>yyarasquishbeng</string>
      <string>zero.beng</string>
      <string>zerobeng</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>sfthyphen.beng</key>
      <string>uni00AD.beng</string>
    </dict>
  </dict>
</plist>
