<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSOffsetHorizontal</key>
    <integer>-26</integer>
    <key>GSOffsetVertical</key>
    <integer>-22</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisableAllAutomaticBehaviour</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aatelu</string>
      <string>aavowelsign1telu</string>
      <string>aavowelsign2telu</string>
      <string>aavowelsigntelu</string>
      <string>ailengthmarkUItelu</string>
      <string>ailengthmarknarrowUItelu</string>
      <string>ailengthmarknarrowtelu</string>
      <string>ailengthmarktelu</string>
      <string>ailengthmarkwideUItelu</string>
      <string>ailengthmarkwiderUItelu</string>
      <string>ailengthmarkwidertelu</string>
      <string>ailengthmarkwidetelu</string>
      <string>aitelu</string>
      <string>aivowelsignUItelu</string>
      <string>aivowelsigntelu</string>
      <string>anusvaratelu</string>
      <string>asciicircum.telu</string>
      <string>asciitilde.telu</string>
      <string>asterisk.telu</string>
      <string>atelu</string>
      <string>autelu</string>
      <string>auvowelsign1telu</string>
      <string>auvowelsign2telu</string>
      <string>auvowelsign3telu</string>
      <string>auvowelsign6telu</string>
      <string>auvowelsigntelu</string>
      <string>avagrahatelu</string>
      <string>baalt1telu</string>
      <string>baavoweltelu</string>
      <string>backslash.telu</string>
      <string>bahalanttelu</string>
      <string>baivowelUItelu</string>
      <string>baivoweltelu</string>
      <string>bar.telu</string>
      <string>barasubscripttelu</string>
      <string>basubscript1UItelu</string>
      <string>basubscript1telu</string>
      <string>basubscriptUItelu</string>
      <string>basubscripttelu</string>
      <string>batelu</string>
      <string>bauvoweltelu</string>
      <string>beevoweltelu</string>
      <string>bevoweltelu</string>
      <string>bhaalt1telu</string>
      <string>bhaavoweltelu</string>
      <string>bhahalanttelu</string>
      <string>bhaivowelUItelu</string>
      <string>bhaivoweltelu</string>
      <string>bharasubscripttelu</string>
      <string>bhasubscript1UItelu</string>
      <string>bhasubscript1telu</string>
      <string>bhasubscriptUItelu</string>
      <string>bhasubscripttelu</string>
      <string>bhatelu</string>
      <string>bhauvoweltelu</string>
      <string>bheevoweltelu</string>
      <string>bhevoweltelu</string>
      <string>bhiivoweltelu</string>
      <string>bhivoweltelu</string>
      <string>bhoovoweltelu</string>
      <string>bhovoweltelu</string>
      <string>biivoweltelu</string>
      <string>bivoweltelu</string>
      <string>boovoweltelu</string>
      <string>bovoweltelu</string>
      <string>braceleft.telu</string>
      <string>braceright.telu</string>
      <string>bracketleft.telu</string>
      <string>bracketright.telu</string>
      <string>caalt1telu</string>
      <string>caavoweltelu</string>
      <string>cahalanttelu</string>
      <string>caivowelUItelu</string>
      <string>caivoweltelu</string>
      <string>candrabindu_0951telu</string>
      <string>candrabindu_0952telu</string>
      <string>candrabindu_1CDAtelu</string>
      <string>candrabindutelu</string>
      <string>carasubscripttelu</string>
      <string>casubscript1UItelu</string>
      <string>casubscript1telu</string>
      <string>casubscripttelu</string>
      <string>catelu</string>
      <string>cauvoweltelu</string>
      <string>ceevoweltelu</string>
      <string>cevoweltelu</string>
      <string>chaalt1telu</string>
      <string>chaavoweltelu</string>
      <string>chahalanttelu</string>
      <string>chaivowelUItelu</string>
      <string>chaivoweltelu</string>
      <string>charasubscripttelu</string>
      <string>chasubscript1UItelu</string>
      <string>chasubscript1telu</string>
      <string>chasubscriptUItelu</string>
      <string>chasubscripttelu</string>
      <string>chatelu</string>
      <string>chauvoweltelu</string>
      <string>cheevoweltelu</string>
      <string>chevoweltelu</string>
      <string>chiivoweltelu</string>
      <string>chivoweltelu</string>
      <string>choovoweltelu</string>
      <string>chovoweltelu</string>
      <string>ciivoweltelu</string>
      <string>civoweltelu</string>
      <string>colon.telu</string>
      <string>comma.telu</string>
      <string>coovoweltelu</string>
      <string>covoweltelu</string>
      <string>daalttelu</string>
      <string>daavoweltelu</string>
      <string>dahalanttelu</string>
      <string>dailengthmark1UItelu</string>
      <string>dailengthmarkUItelu</string>
      <string>dailengthmarktelu</string>
      <string>daivowelUItelu</string>
      <string>daivoweltelu</string>
      <string>dandatelu</string>
      <string>darasubscripttelu</string>
      <string>dasubscript1UItelu</string>
      <string>dasubscript1telu</string>
      <string>dasubscriptUItelu</string>
      <string>dasubscriptlowUItelu</string>
      <string>dasubscriptlowtelu</string>
      <string>dasubscripttelu</string>
      <string>datelu</string>
      <string>dauvoweltelu</string>
      <string>dbldandatelu</string>
      <string>ddaalttelu</string>
      <string>ddaavoweltelu</string>
      <string>ddahalanttelu</string>
      <string>ddailengthmark1UItelu</string>
      <string>ddailengthmarkUItelu</string>
      <string>ddailengthmarktelu</string>
      <string>ddaivowelUItelu</string>
      <string>ddaivoweltelu</string>
      <string>ddarasubscripttelu</string>
      <string>ddasubscript1UItelu</string>
      <string>ddasubscript1telu</string>
      <string>ddasubscriptUItelu</string>
      <string>ddasubscriptlowUItelu</string>
      <string>ddasubscriptlowtelu</string>
      <string>ddasubscripttelu</string>
      <string>ddatelu</string>
      <string>ddauvoweltelu</string>
      <string>ddeevoweltelu</string>
      <string>ddevoweltelu</string>
      <string>ddhaalttelu</string>
      <string>ddhaavoweltelu</string>
      <string>ddhahalanttelu</string>
      <string>ddhaivowelUItelu</string>
      <string>ddhaivoweltelu</string>
      <string>ddharasubscripttelu</string>
      <string>ddhasubscript1UItelu</string>
      <string>ddhasubscript1telu</string>
      <string>ddhasubscriptUItelu</string>
      <string>ddhasubscripttelu</string>
      <string>ddhatelu</string>
      <string>ddhauvoweltelu</string>
      <string>ddheevoweltelu</string>
      <string>ddhevoweltelu</string>
      <string>ddhiivoweltelu</string>
      <string>ddhivoweltelu</string>
      <string>ddhoovoweltelu</string>
      <string>ddhovoweltelu</string>
      <string>ddiivoweltelu</string>
      <string>ddivoweltelu</string>
      <string>ddoovoweltelu</string>
      <string>ddovoweltelu</string>
      <string>deevoweltelu</string>
      <string>devoweltelu</string>
      <string>dhaalttelu</string>
      <string>dhaavoweltelu</string>
      <string>dhahalanttelu</string>
      <string>dhailengthmark1UItelu</string>
      <string>dhailengthmarkUItelu</string>
      <string>dhailengthmarktelu</string>
      <string>dhaivowelUItelu</string>
      <string>dhaivoweltelu</string>
      <string>dharasubscripttelu</string>
      <string>dhasubscript1UItelu</string>
      <string>dhasubscript1telu</string>
      <string>dhasubscriptUItelu</string>
      <string>dhasubscriptlowUItelu</string>
      <string>dhasubscripttelu</string>
      <string>dhatelu</string>
      <string>dhauvoweltelu</string>
      <string>dheevoweltelu</string>
      <string>dhevoweltelu</string>
      <string>dhiivoweltelu</string>
      <string>dhivoweltelu</string>
      <string>dhoovoweltelu</string>
      <string>dhovoweltelu</string>
      <string>diivoweltelu</string>
      <string>divide.telu</string>
      <string>divoweltelu</string>
      <string>doovoweltelu</string>
      <string>dovoweltelu</string>
      <string>dzaavoweltelu</string>
      <string>dzahalanttelu</string>
      <string>dzaivowelUItelu</string>
      <string>dzaivoweltelu</string>
      <string>dzatelu</string>
      <string>dzauvoweltelu</string>
      <string>dzeevoweltelu</string>
      <string>dzevoweltelu</string>
      <string>dziivoweltelu</string>
      <string>dzivoweltelu</string>
      <string>dzoovoweltelu</string>
      <string>dzovoweltelu</string>
      <string>dzuuvoweltelu</string>
      <string>dzuvoweltelu</string>
      <string>eetelu</string>
      <string>eevowelsignfronttelu</string>
      <string>eevowelsignnarrowtelu</string>
      <string>eevowelsigntelu</string>
      <string>eevowelsignwidertelu</string>
      <string>eevowelsignwidetelu</string>
      <string>eight.telu</string>
      <string>eighttelu</string>
      <string>ellipsis.telu</string>
      <string>emdash.telu</string>
      <string>endash.telu</string>
      <string>equal.telu</string>
      <string>etelu</string>
      <string>evowelsignfronttelu</string>
      <string>evowelsignmediumtelu</string>
      <string>evowelsignnarrowtelu</string>
      <string>evowelsigntelu</string>
      <string>evowelsignttatelu</string>
      <string>evowelsignwidertelu</string>
      <string>evowelsignwidetelu</string>
      <string>exclam.telu</string>
      <string>five.telu</string>
      <string>fivetelu</string>
      <string>four.telu</string>
      <string>fourtelu</string>
      <string>gaalttelu</string>
      <string>gaavoweltelu</string>
      <string>gahalanttelu</string>
      <string>gailengthmark1UItelu</string>
      <string>gailengthmarkUItelu</string>
      <string>gailengthmarktelu</string>
      <string>gaivowelUItelu</string>
      <string>gaivoweltelu</string>
      <string>garasubscripttelu</string>
      <string>gasubscript1UItelu</string>
      <string>gasubscript1telu</string>
      <string>gasubscriptUItelu</string>
      <string>gasubscripttelu</string>
      <string>gatelu</string>
      <string>gauvoweltelu</string>
      <string>geevoweltelu</string>
      <string>gevoweltelu</string>
      <string>ghaalt2telu</string>
      <string>ghaalttelu</string>
      <string>ghaavoweltelu</string>
      <string>ghahalanttelu</string>
      <string>ghailengthmark1UItelu</string>
      <string>ghailengthmarkUItelu</string>
      <string>ghailengthmarktelu</string>
      <string>ghaivowelUItelu</string>
      <string>ghaivoweltelu</string>
      <string>gharasubscripttelu</string>
      <string>ghasubscript1UItelu</string>
      <string>ghasubscript1telu</string>
      <string>ghasubscriptUItelu</string>
      <string>ghasubscripttelu</string>
      <string>ghatelu</string>
      <string>ghauvoweltelu</string>
      <string>gheevoweltelu</string>
      <string>ghevoweltelu</string>
      <string>ghiivoweltelu</string>
      <string>ghivoweltelu</string>
      <string>ghoovoweltelu</string>
      <string>ghovoweltelu</string>
      <string>giivoweltelu</string>
      <string>givoweltelu</string>
      <string>goovoweltelu</string>
      <string>govoweltelu</string>
      <string>greater.telu</string>
      <string>haalttelu</string>
      <string>haavoweltelu</string>
      <string>hahalanttelu</string>
      <string>hailengthmark1UItelu</string>
      <string>hailengthmarkUItelu</string>
      <string>hailengthmarktelu</string>
      <string>haivowelUItelu</string>
      <string>haivoweltelu</string>
      <string>harasubscripttelu</string>
      <string>hasubscript1UItelu</string>
      <string>hasubscript1telu</string>
      <string>hasubscriptUItelu</string>
      <string>hasubscripttelu</string>
      <string>hatelu</string>
      <string>hattelu</string>
      <string>hauvoweltelu</string>
      <string>heevoweltelu</string>
      <string>hevoweltelu</string>
      <string>hiivoweltelu</string>
      <string>hivoweltelu</string>
      <string>hoovoweltelu</string>
      <string>hovoweltelu</string>
      <string>hyphen.telu</string>
      <string>iitelu</string>
      <string>iivowelsigntelu</string>
      <string>itelu</string>
      <string>ivowelsigntelu</string>
      <string>jaalttelu</string>
      <string>jaavoweltelu</string>
      <string>jahalanttelu</string>
      <string>jailengthmark1UItelu</string>
      <string>jailengthmarkUItelu</string>
      <string>jailengthmarktelu</string>
      <string>jaivowelUItelu</string>
      <string>jaivoweltelu</string>
      <string>jarasubscripttelu</string>
      <string>jasubscript1UItelu</string>
      <string>jasubscript1telu</string>
      <string>jasubscriptUItelu</string>
      <string>jasubscriptlowUItelu</string>
      <string>jasubscriptlowtelu</string>
      <string>jasubscripttelu</string>
      <string>jatelu</string>
      <string>jauvoweltelu</string>
      <string>jeevoweltelu</string>
      <string>jevoweltelu</string>
      <string>jhaalt2telu</string>
      <string>jhaalttelu</string>
      <string>jhaavoweltelu</string>
      <string>jhahalanttelu</string>
      <string>jhaivowelUItelu</string>
      <string>jhaivoweltelu</string>
      <string>jharasubscripttelu</string>
      <string>jhasubscript1UItelu</string>
      <string>jhasubscript1telu</string>
      <string>jhasubscriptUItelu</string>
      <string>jhasubscripttelu</string>
      <string>jhatelu</string>
      <string>jhauvoweltelu</string>
      <string>jheevoweltelu</string>
      <string>jhevoweltelu</string>
      <string>jhiivoweltelu</string>
      <string>jhivoweltelu</string>
      <string>jhoovoweltelu</string>
      <string>jhovoweltelu</string>
      <string>jiivoweltelu</string>
      <string>jivoweltelu</string>
      <string>joovoweltelu</string>
      <string>jovoweltelu</string>
      <string>juuvoweltelu</string>
      <string>juvoweltelu</string>
      <string>kaalttelu</string>
      <string>kaavoweltelu</string>
      <string>kahalanttelu</string>
      <string>kaivowelUItelu</string>
      <string>kaivoweltelu</string>
      <string>karasubscripttelu</string>
      <string>kassaavoweltelu</string>
      <string>kassahalanttelu</string>
      <string>kassaivowelUItelu</string>
      <string>kassaivoweltelu</string>
      <string>kassasubscript1UItelu</string>
      <string>kassasubscript1telu</string>
      <string>kassasubscriptUItelu</string>
      <string>kassasubscripttelu</string>
      <string>kassatelu</string>
      <string>kassauvoweltelu</string>
      <string>kasseevoweltelu</string>
      <string>kassevoweltelu</string>
      <string>kassiivoweltelu</string>
      <string>kassivoweltelu</string>
      <string>kassoovoweltelu</string>
      <string>kassovoweltelu</string>
      <string>kasubscript1UItelu</string>
      <string>kasubscript1telu</string>
      <string>kasubscripttelu</string>
      <string>katelu</string>
      <string>kauvoweltelu</string>
      <string>keevoweltelu</string>
      <string>kevoweltelu</string>
      <string>khaalttelu</string>
      <string>khaavoweltelu</string>
      <string>khahalanttelu</string>
      <string>khailengthmark1UItelu</string>
      <string>khailengthmarkUItelu</string>
      <string>khailengthmarktelu</string>
      <string>khaivowelUItelu</string>
      <string>khaivoweltelu</string>
      <string>kharasubscripttelu</string>
      <string>khasubscript1UItelu</string>
      <string>khasubscript1telu</string>
      <string>khasubscriptUItelu</string>
      <string>khasubscripttelu</string>
      <string>khatelu</string>
      <string>khauvoweltelu</string>
      <string>kheevoweltelu</string>
      <string>khevoweltelu</string>
      <string>khiivoweltelu</string>
      <string>khivoweltelu</string>
      <string>khoovoweltelu</string>
      <string>khovoweltelu</string>
      <string>kiivoweltelu</string>
      <string>kivoweltelu</string>
      <string>koovoweltelu</string>
      <string>kovoweltelu</string>
      <string>laalttelu</string>
      <string>laavoweltelu</string>
      <string>lahalanttelu</string>
      <string>lailengthmark1UItelu</string>
      <string>lailengthmarkUItelu</string>
      <string>lailengthmarktelu</string>
      <string>laivowelUItelu</string>
      <string>laivoweltelu</string>
      <string>larasubscripttelu</string>
      <string>lasubscript1UItelu</string>
      <string>lasubscript1telu</string>
      <string>lasubscriptUItelu</string>
      <string>lasubscriptlowUItelu</string>
      <string>lasubscriptlowtelu</string>
      <string>lasubscripttelu</string>
      <string>latelu</string>
      <string>lauvoweltelu</string>
      <string>leevoweltelu</string>
      <string>lengthmarktelu</string>
      <string>less.telu</string>
      <string>levoweltelu</string>
      <string>liivoweltelu</string>
      <string>livoweltelu</string>
      <string>llaalttelu</string>
      <string>llaavoweltelu</string>
      <string>llahalanttelu</string>
      <string>llaivowelUItelu</string>
      <string>llaivoweltelu</string>
      <string>llarasubscripttelu</string>
      <string>llasubscript1UItelu</string>
      <string>llasubscript1telu</string>
      <string>llasubscriptUItelu</string>
      <string>llasubscripttelu</string>
      <string>llatelu</string>
      <string>llauvoweltelu</string>
      <string>lleevoweltelu</string>
      <string>llevoweltelu</string>
      <string>lliivoweltelu</string>
      <string>llivoweltelu</string>
      <string>lllaavoweltelu</string>
      <string>lllahalanttelu</string>
      <string>lllaivowelUItelu</string>
      <string>lllaivoweltelu</string>
      <string>lllarasubscripttelu</string>
      <string>lllasubscript1UItelu</string>
      <string>lllasubscript1telu</string>
      <string>lllasubscriptUItelu</string>
      <string>lllasubscripttelu</string>
      <string>lllatelu</string>
      <string>lllauvoweltelu</string>
      <string>llleevoweltelu</string>
      <string>lllevoweltelu</string>
      <string>llliivoweltelu</string>
      <string>lllivoweltelu</string>
      <string>llloovoweltelu</string>
      <string>lllovoweltelu</string>
      <string>lloovoweltelu</string>
      <string>llovoweltelu</string>
      <string>llvocalictelu</string>
      <string>llvocalicvowelsign1UItelu</string>
      <string>llvocalicvowelsign1telu</string>
      <string>llvocalicvowelsignUItelu</string>
      <string>llvocalicvowelsigntelu</string>
      <string>loovoweltelu</string>
      <string>lovoweltelu</string>
      <string>lvocalictelu</string>
      <string>lvocalicvowelsign1UItelu</string>
      <string>lvocalicvowelsign1telu</string>
      <string>lvocalicvowelsignUItelu</string>
      <string>lvocalicvowelsigntelu</string>
      <string>maalt1telu</string>
      <string>maavoweltelu</string>
      <string>mahalanttelu</string>
      <string>maivowelUItelu</string>
      <string>maivoweltelu</string>
      <string>marasubscripttelu</string>
      <string>masubscript1UItelu</string>
      <string>masubscript1telu</string>
      <string>masubscriptUItelu</string>
      <string>masubscripttelu</string>
      <string>matelu</string>
      <string>mauvoweltelu</string>
      <string>meevoweltelu</string>
      <string>mevoweltelu</string>
      <string>miivoweltelu</string>
      <string>minus.telu</string>
      <string>mivoweltelu</string>
      <string>moovoweltelu</string>
      <string>movoweltelu</string>
      <string>multiply.telu</string>
      <string>naalt1telu</string>
      <string>naavoweltelu</string>
      <string>nahalanttelu</string>
      <string>naivowelUItelu</string>
      <string>naivoweltelu</string>
      <string>narasubscripttelu</string>
      <string>nasubscript1UItelu</string>
      <string>nasubscript1telu</string>
      <string>nasubscripttelu</string>
      <string>natelu</string>
      <string>nauvoweltelu</string>
      <string>neevoweltelu</string>
      <string>nevoweltelu</string>
      <string>ngaavoweltelu</string>
      <string>ngahalanttelu</string>
      <string>ngaivowelUItelu</string>
      <string>ngaivoweltelu</string>
      <string>ngarasubscripttelu</string>
      <string>ngasubscript1UItelu</string>
      <string>ngasubscript1telu</string>
      <string>ngasubscriptUItelu</string>
      <string>ngasubscripttelu</string>
      <string>ngatelu</string>
      <string>ngauvoweltelu</string>
      <string>ngeevoweltelu</string>
      <string>ngevoweltelu</string>
      <string>ngiivoweltelu</string>
      <string>ngivoweltelu</string>
      <string>ngoovoweltelu</string>
      <string>ngovoweltelu</string>
      <string>niivoweltelu</string>
      <string>nine.telu</string>
      <string>ninetelu</string>
      <string>nivoweltelu</string>
      <string>nnaavoweltelu</string>
      <string>nnahalanttelu</string>
      <string>nnailengthmark1UItelu</string>
      <string>nnailengthmarkUItelu</string>
      <string>nnailengthmarktelu</string>
      <string>nnaivowelUItelu</string>
      <string>nnaivoweltelu</string>
      <string>nnarasubscripttelu</string>
      <string>nnasubscript1UItelu</string>
      <string>nnasubscript1telu</string>
      <string>nnasubscriptUItelu</string>
      <string>nnasubscripttelu</string>
      <string>nnatelu</string>
      <string>nnauvoweltelu</string>
      <string>nneevoweltelu</string>
      <string>nnevoweltelu</string>
      <string>nniivoweltelu</string>
      <string>nnivoweltelu</string>
      <string>nnoovoweltelu</string>
      <string>nnovoweltelu</string>
      <string>noovoweltelu</string>
      <string>novoweltelu</string>
      <string>numbersign.telu</string>
      <string>nyaavoweltelu</string>
      <string>nyahalanttelu</string>
      <string>nyaivowelUItelu</string>
      <string>nyaivoweltelu</string>
      <string>nyarasubscripttelu</string>
      <string>nyasubscript1UItelu</string>
      <string>nyasubscript1telu</string>
      <string>nyasubscriptUItelu</string>
      <string>nyasubscripttelu</string>
      <string>nyatelu</string>
      <string>nyauvoweltelu</string>
      <string>nyeevoweltelu</string>
      <string>nyevoweltelu</string>
      <string>nyiivoweltelu</string>
      <string>nyivoweltelu</string>
      <string>nyoovoweltelu</string>
      <string>nyovoweltelu</string>
      <string>one.telu</string>
      <string>onetelu</string>
      <string>ootelu</string>
      <string>oovowelsign1telu</string>
      <string>oovowelsign2telu</string>
      <string>oovowelsign3telu</string>
      <string>oovowelsigntelu</string>
      <string>otelu</string>
      <string>ovowelsign1telu</string>
      <string>ovowelsign2telu</string>
      <string>ovowelsign3telu</string>
      <string>ovowelsigntelu</string>
      <string>paalt2telu</string>
      <string>paalttelu</string>
      <string>paavoweltelu</string>
      <string>pahalanttelu</string>
      <string>paivowelUItelu</string>
      <string>paivoweltelu</string>
      <string>parasubscripttelu</string>
      <string>parenleft.telu</string>
      <string>parenright.telu</string>
      <string>pasubscript1UItelu</string>
      <string>pasubscript1telu</string>
      <string>pasubscripttelu</string>
      <string>patelu</string>
      <string>pauvoweltelu</string>
      <string>peevoweltelu</string>
      <string>percent.telu</string>
      <string>period.telu</string>
      <string>pevoweltelu</string>
      <string>phaalt2telu</string>
      <string>phaalttelu</string>
      <string>phaavoweltelu</string>
      <string>phahalanttelu</string>
      <string>phaivowelUItelu</string>
      <string>phaivoweltelu</string>
      <string>pharasubscripttelu</string>
      <string>phasubscript1UItelu</string>
      <string>phasubscript1telu</string>
      <string>phasubscriptUItelu</string>
      <string>phasubscripttelu</string>
      <string>phatelu</string>
      <string>phauvoweltelu</string>
      <string>pheevoweltelu</string>
      <string>phevoweltelu</string>
      <string>phiivoweltelu</string>
      <string>phivoweltelu</string>
      <string>phoovoweltelu</string>
      <string>phovoweltelu</string>
      <string>phuuvoweltelu</string>
      <string>phuvoweltelu</string>
      <string>piivoweltelu</string>
      <string>pivoweltelu</string>
      <string>plus.telu</string>
      <string>poovoweltelu</string>
      <string>povoweltelu</string>
      <string>puuvoweltelu</string>
      <string>puvoweltelu</string>
      <string>question.telu</string>
      <string>quotedbl.telu</string>
      <string>quotedblleft.telu</string>
      <string>quotedblright.telu</string>
      <string>quoteleft.telu</string>
      <string>quoteright.telu</string>
      <string>quotesingle.telu</string>
      <string>raalttelu</string>
      <string>raavoweltelu</string>
      <string>rahalanttelu</string>
      <string>raivowelUItelu</string>
      <string>raivoweltelu</string>
      <string>rarasubscripttelu</string>
      <string>rasubscriptUItelu</string>
      <string>rasubscriptlowUItelu</string>
      <string>rasubscriptlowtelu</string>
      <string>rasubscripttelu</string>
      <string>ratelu</string>
      <string>rauvoweltelu</string>
      <string>reevoweltelu</string>
      <string>rephtelu</string>
      <string>revoweltelu</string>
      <string>riivoweltelu</string>
      <string>rivoweltelu</string>
      <string>roovoweltelu</string>
      <string>rovoweltelu</string>
      <string>rraavoweltelu</string>
      <string>rrahalanttelu</string>
      <string>rraivowelUItelu</string>
      <string>rraivoweltelu</string>
      <string>rrarasubscripttelu</string>
      <string>rrasubscript1UItelu</string>
      <string>rrasubscript1telu</string>
      <string>rrasubscriptUItelu</string>
      <string>rrasubscripttelu</string>
      <string>rratelu</string>
      <string>rrauvoweltelu</string>
      <string>rreevoweltelu</string>
      <string>rrevoweltelu</string>
      <string>rriivoweltelu</string>
      <string>rrivoweltelu</string>
      <string>rroovoweltelu</string>
      <string>rrovoweltelu</string>
      <string>rrraavoweltelu</string>
      <string>rrrahalanttelu</string>
      <string>rrraivowelUItelu</string>
      <string>rrraivoweltelu</string>
      <string>rrrarasubscripttelu</string>
      <string>rrrasubscript1UItelu</string>
      <string>rrrasubscript1telu</string>
      <string>rrrasubscriptUItelu</string>
      <string>rrrasubscripttelu</string>
      <string>rrratelu</string>
      <string>rrrauvoweltelu</string>
      <string>rrreevoweltelu</string>
      <string>rrrevoweltelu</string>
      <string>rrriivoweltelu</string>
      <string>rrrivoweltelu</string>
      <string>rrroovoweltelu</string>
      <string>rrrovoweltelu</string>
      <string>rrvocalictelu</string>
      <string>rrvocalicvowelsign1UItelu</string>
      <string>rrvocalicvowelsign1telu</string>
      <string>rrvocalicvowelsignUItelu</string>
      <string>rrvocalicvowelsigntelu</string>
      <string>rvocalictelu</string>
      <string>rvocalicvowelsign1UItelu</string>
      <string>rvocalicvowelsign1telu</string>
      <string>rvocalicvowelsignUItelu</string>
      <string>rvocalicvowelsigntelu</string>
      <string>saalt2telu</string>
      <string>saalttelu</string>
      <string>saavoweltelu</string>
      <string>sahalanttelu</string>
      <string>saivowelUItelu</string>
      <string>saivoweltelu</string>
      <string>sarasubscripttelu</string>
      <string>sasubscript1UItelu</string>
      <string>sasubscript1telu</string>
      <string>sasubscripttelu</string>
      <string>satelu</string>
      <string>sauvoweltelu</string>
      <string>seevoweltelu</string>
      <string>semicolon.telu</string>
      <string>seven.telu</string>
      <string>seventelu</string>
      <string>sevoweltelu</string>
      <string>sfthyphen.telu</string>
      <string>shaalttelu</string>
      <string>shaavoweltelu</string>
      <string>shahalanttelu</string>
      <string>shaivowelUItelu</string>
      <string>shaivoweltelu</string>
      <string>sharasubscripttelu</string>
      <string>shasubscript1UItelu</string>
      <string>shasubscript1telu</string>
      <string>shasubscriptUItelu</string>
      <string>shasubscripttelu</string>
      <string>shatelu</string>
      <string>shauvoweltelu</string>
      <string>sheevoweltelu</string>
      <string>shevoweltelu</string>
      <string>shiivoweltelu</string>
      <string>shivoweltelu</string>
      <string>shoovoweltelu</string>
      <string>shovoweltelu</string>
      <string>siivoweltelu</string>
      <string>sivoweltelu</string>
      <string>six.telu</string>
      <string>sixtelu</string>
      <string>slash.telu</string>
      <string>soovoweltelu</string>
      <string>sovoweltelu</string>
      <string>space</string>
      <string>ssaalt2telu</string>
      <string>ssaalttelu</string>
      <string>ssaavoweltelu</string>
      <string>ssahalanttelu</string>
      <string>ssailengthmark1UItelu</string>
      <string>ssailengthmarkUItelu</string>
      <string>ssailengthmarktelu</string>
      <string>ssaivowelUItelu</string>
      <string>ssaivoweltelu</string>
      <string>ssannasubscriptUItelu</string>
      <string>ssannasubscripttelu</string>
      <string>ssarasubscriptUItelu</string>
      <string>ssarasubscripttelu</string>
      <string>ssasubscript1UItelu</string>
      <string>ssasubscript1telu</string>
      <string>ssasubscriptUItelu</string>
      <string>ssasubscriptforkssatelu</string>
      <string>ssasubscripttelu</string>
      <string>ssatelu</string>
      <string>ssauvoweltelu</string>
      <string>sseevoweltelu</string>
      <string>ssevoweltelu</string>
      <string>ssiivoweltelu</string>
      <string>ssivoweltelu</string>
      <string>ssoovoweltelu</string>
      <string>ssovoweltelu</string>
      <string>taalttelu</string>
      <string>taavoweltelu</string>
      <string>tahalanttelu</string>
      <string>tailengthmarkUItelu</string>
      <string>tailengthmarknarrowUItelu</string>
      <string>tailengthmarknarrowtelu</string>
      <string>tailengthmarktelu</string>
      <string>tailengthmarkwideUItelu</string>
      <string>tailengthmarkwidetelu</string>
      <string>taivowelUItelu</string>
      <string>taivoweltelu</string>
      <string>tarasubscriptligtelu</string>
      <string>tarasubscripttelu</string>
      <string>tasubscript1UItelu</string>
      <string>tasubscript1telu</string>
      <string>tasubscriptUItelu</string>
      <string>tasubscriptlowUItelu</string>
      <string>tasubscriptlowtelu</string>
      <string>tasubscriptnarrowUItelu</string>
      <string>tasubscriptnarrowtelu</string>
      <string>tasubscripttelu</string>
      <string>tasubscriptwideUItelu</string>
      <string>tasubscriptwidetelu</string>
      <string>tatelu</string>
      <string>tauvoweltelu</string>
      <string>teevoweltelu</string>
      <string>tevoweltelu</string>
      <string>thaalttelu</string>
      <string>thaavoweltelu</string>
      <string>thahalanttelu</string>
      <string>thailengthmark1UItelu</string>
      <string>thailengthmarkUItelu</string>
      <string>thailengthmarktelu</string>
      <string>thaivowelUItelu</string>
      <string>thaivoweltelu</string>
      <string>tharasubscripttelu</string>
      <string>thasubscript1UItelu</string>
      <string>thasubscript1telu</string>
      <string>thasubscriptUItelu</string>
      <string>thasubscripttelu</string>
      <string>thatelu</string>
      <string>thauvoweltelu</string>
      <string>theevoweltelu</string>
      <string>thevoweltelu</string>
      <string>thiivoweltelu</string>
      <string>thivoweltelu</string>
      <string>thoovoweltelu</string>
      <string>thovoweltelu</string>
      <string>three.telu</string>
      <string>threetelu</string>
      <string>tiivoweltelu</string>
      <string>tivoweltelu</string>
      <string>toovoweltelu</string>
      <string>tovoweltelu</string>
      <string>tsaavoweltelu</string>
      <string>tsahalanttelu</string>
      <string>tsaivowelUItelu</string>
      <string>tsaivoweltelu</string>
      <string>tsatelu</string>
      <string>tsauvoweltelu</string>
      <string>tseevoweltelu</string>
      <string>tsevoweltelu</string>
      <string>tsiivoweltelu</string>
      <string>tsivoweltelu</string>
      <string>tsoovoweltelu</string>
      <string>tsovoweltelu</string>
      <string>ttaalt2telu</string>
      <string>ttaalttelu</string>
      <string>ttaavoweltelu</string>
      <string>ttahalanttelu</string>
      <string>ttailengthmark1UItelu</string>
      <string>ttailengthmarkUItelu</string>
      <string>ttailengthmarktelu</string>
      <string>ttaivowelUItelu</string>
      <string>ttaivoweltelu</string>
      <string>ttarasubscripttelu</string>
      <string>ttasubscript1UItelu</string>
      <string>ttasubscript1telu</string>
      <string>ttasubscriptUItelu</string>
      <string>ttasubscriptlowUItelu</string>
      <string>ttasubscriptlowtelu</string>
      <string>ttasubscripttelu</string>
      <string>ttatelu</string>
      <string>ttauvoweltelu</string>
      <string>tteevoweltelu</string>
      <string>ttevoweltelu</string>
      <string>tthaalttelu</string>
      <string>tthaavoweltelu</string>
      <string>tthahalanttelu</string>
      <string>tthaivowelUItelu</string>
      <string>tthaivoweltelu</string>
      <string>ttharasubscripttelu</string>
      <string>tthasubscript1UItelu</string>
      <string>tthasubscript1telu</string>
      <string>tthasubscriptUItelu</string>
      <string>tthasubscripttelu</string>
      <string>tthatelu</string>
      <string>tthauvoweltelu</string>
      <string>ttheevoweltelu</string>
      <string>tthevoweltelu</string>
      <string>tthiivoweltelu</string>
      <string>tthivoweltelu</string>
      <string>tthoovoweltelu</string>
      <string>tthovoweltelu</string>
      <string>ttiivoweltelu</string>
      <string>ttivoweltelu</string>
      <string>ttoovoweltelu</string>
      <string>ttovoweltelu</string>
      <string>two.telu</string>
      <string>twotelu</string>
      <string>underscore.telu</string>
      <string>uni00A0.telu</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni0C00</string>
      <string>uni0C04</string>
      <string>uni0C77</string>
      <string>uni0C78</string>
      <string>uni0C79</string>
      <string>uni0C7A</string>
      <string>uni0C7B</string>
      <string>uni0C7C</string>
      <string>uni0C7D</string>
      <string>uni0C7E</string>
      <string>uni0C7F</string>
      <string>uni1CDA</string>
      <string>uni1CF2</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010.telu</string>
      <string>uni20B9.telu</string>
      <string>uni25CC</string>
      <string>utelu</string>
      <string>uutelu</string>
      <string>uuvowelsign1telu</string>
      <string>uuvowelsign2telu</string>
      <string>uuvowelsign3telu</string>
      <string>uuvowelsigntelu</string>
      <string>uvowelsign1telu</string>
      <string>uvowelsign2telu</string>
      <string>uvowelsign3telu</string>
      <string>uvowelsigntelu</string>
      <string>vaalt1telu</string>
      <string>vaalttelu</string>
      <string>vaavoweltelu</string>
      <string>vahalanttelu</string>
      <string>vaivowelUItelu</string>
      <string>vaivoweltelu</string>
      <string>varasubscripttelu</string>
      <string>vasubscript1UItelu</string>
      <string>vasubscript1telu</string>
      <string>vasubscripttelu</string>
      <string>vatelu</string>
      <string>vauvoweltelu</string>
      <string>veevoweltelu</string>
      <string>vevoweltelu</string>
      <string>viivoweltelu</string>
      <string>viramatelu</string>
      <string>visargatelu</string>
      <string>vivoweltelu</string>
      <string>voovoweltelu</string>
      <string>vovoweltelu</string>
      <string>vuuvoweltelu</string>
      <string>vuvoweltelu</string>
      <string>yaalt2telu</string>
      <string>yaalttelu</string>
      <string>yaavoweltelu</string>
      <string>yahalanttelu</string>
      <string>yaivowelUItelu</string>
      <string>yaivoweltelu</string>
      <string>yarasubscripttelu</string>
      <string>yasubscript1UItelu</string>
      <string>yasubscript1telu</string>
      <string>yasubscriptUItelu</string>
      <string>yasubscripttelu</string>
      <string>yatelu</string>
      <string>yauvoweltelu</string>
      <string>yeevoweltelu</string>
      <string>yevoweltelu</string>
      <string>yiivoweltelu</string>
      <string>yivoweltelu</string>
      <string>yoovoweltelu</string>
      <string>yovoweltelu</string>
      <string>zero.telu</string>
      <string>zerotelu</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>sfthyphen.telu</key>
      <string>uni00AD.telu</string>
    </dict>
  </dict>
</plist>
