<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1038</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>acutecomb</string>
      <string>horizbar1</string>
      <string>horizbar2</string>
      <string>space</string>
      <string>u104B0</string>
      <string>u104B1</string>
      <string>u104B2</string>
      <string>u104B3</string>
      <string>u104B4</string>
      <string>u104B5</string>
      <string>u104B6</string>
      <string>u104B7</string>
      <string>u104B8</string>
      <string>u104B9</string>
      <string>u104BA</string>
      <string>u104BB</string>
      <string>u104BC</string>
      <string>u104BD</string>
      <string>u104BE</string>
      <string>u104BF</string>
      <string>u104C0</string>
      <string>u104C1</string>
      <string>u104C2</string>
      <string>u104C3</string>
      <string>u104C4</string>
      <string>u104C5</string>
      <string>u104C6</string>
      <string>u104C7</string>
      <string>u104C8</string>
      <string>u104C9</string>
      <string>u104CA</string>
      <string>u104CB</string>
      <string>u104CC</string>
      <string>u104CD</string>
      <string>u104CE</string>
      <string>u104CF</string>
      <string>u104D0</string>
      <string>u104D1</string>
      <string>u104D2</string>
      <string>u104D3</string>
      <string>u104D8</string>
      <string>u104D9</string>
      <string>u104DA</string>
      <string>u104DB</string>
      <string>u104DC</string>
      <string>u104DD</string>
      <string>u104DE</string>
      <string>u104DF</string>
      <string>u104E0</string>
      <string>u104E1</string>
      <string>u104E2</string>
      <string>u104E3</string>
      <string>u104E4</string>
      <string>u104E5</string>
      <string>u104E6</string>
      <string>u104E7</string>
      <string>u104E8</string>
      <string>u104E9</string>
      <string>u104EA</string>
      <string>u104EB</string>
      <string>u104EC</string>
      <string>u104ED</string>
      <string>u104EE</string>
      <string>u104EF</string>
      <string>u104F0</string>
      <string>u104F1</string>
      <string>u104F2</string>
      <string>u104F3</string>
      <string>u104F4</string>
      <string>u104F5</string>
      <string>u104F6</string>
      <string>u104F7</string>
      <string>u104F8</string>
      <string>u104F9</string>
      <string>u104FA</string>
      <string>u104FB</string>
      <string>uni00A0</string>
      <string>uni0304</string>
      <string>uni030B</string>
      <string>uni0358</string>
      <string>uni25CC</string>
      <string>vertbar</string>
    </array>
  </dict>
</plist>
