<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AE_khar</key>
    <string>A_E__khar.glif</string>
    <key>AI_khar</key>
    <string>A_I__khar.glif</string>
    <key>A_khar</key>
    <string>A__khar.glif</string>
    <key>Anusvara_khar</key>
    <string>A_nusvara_khar.glif</string>
    <key>Ba_khar</key>
    <string>B_a_khar.glif</string>
    <key>BarAbove_khar</key>
    <string>B_arA_bove_khar.glif</string>
    <key>Bha_khar</key>
    <string>B_ha_khar.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca_khar</key>
    <string>C_a_khar.glif</string>
    <key>Cauda_khar</key>
    <string>C_auda_khar.glif</string>
    <key>Cauda_khar.short</key>
    <string>C_auda_khar.short.glif</string>
    <key>Cauda_khar.short2</key>
    <string>C_auda_khar.short2.glif</string>
    <key>Cha_khar</key>
    <string>C_ha_khar.glif</string>
    <key>Circle_khar</key>
    <string>C_ircle_khar.glif</string>
    <key>CrescentBar_khar</key>
    <string>C_rescentB_ar_khar.glif</string>
    <key>Da_khar</key>
    <string>D_a_khar.glif</string>
    <key>Danda_khar</key>
    <string>D_anda_khar.glif</string>
    <key>Dda_khar</key>
    <string>D_da_khar.glif</string>
    <key>Ddha_khar</key>
    <string>D_dha_khar.glif</string>
    <key>De_khar</key>
    <string>D_e_khar.glif</string>
    <key>Dha_khar</key>
    <string>D_ha_khar.glif</string>
    <key>Dhik_khar</key>
    <string>D_hik_khar.glif</string>
    <key>DotBelow_khar</key>
    <string>D_otB_elow_khar.glif</string>
    <key>Dot_khar</key>
    <string>D_ot_khar.glif</string>
    <key>DoubleDanda_khar</key>
    <string>D_oubleD_anda_khar.glif</string>
    <key>Doublering_khar</key>
    <string>D_oublering_khar.glif</string>
    <key>E_khar</key>
    <string>E__khar.glif</string>
    <key>E_vertical</key>
    <string>E__vertical.glif</string>
    <key>Four_khar</key>
    <string>F_our_khar.glif</string>
    <key>Ga_khar</key>
    <string>G_a_khar.glif</string>
    <key>Gha_khar</key>
    <string>G_ha_khar.glif</string>
    <key>Ha_khar</key>
    <string>H_a_khar.glif</string>
    <key>He_khar</key>
    <string>H_e_khar.glif</string>
    <key>Hi_khar</key>
    <string>H_i_khar.glif</string>
    <key>I_diagonal</key>
    <string>I__diagonal.glif</string>
    <key>I_diagonal_short</key>
    <string>I__diagonal_short.glif</string>
    <key>I_horizontal</key>
    <string>I__horizontal.glif</string>
    <key>I_khar</key>
    <string>I__khar.glif</string>
    <key>I_vertical</key>
    <string>I__vertical.glif</string>
    <key>JNya_khar</key>
    <string>J_N_ya_khar.glif</string>
    <key>Ja_khar</key>
    <string>J_a_khar.glif</string>
    <key>KSsa_khar</key>
    <string>K_S_sa_khar.glif</string>
    <key>KTa_khar</key>
    <string>K_T_a_khar.glif</string>
    <key>Ka_khar</key>
    <string>K_a_khar.glif</string>
    <key>KhKSsa_khar</key>
    <string>K_hK_S_sa_khar.glif</string>
    <key>Kha_khar</key>
    <string>K_ha_khar.glif</string>
    <key>Kka_khar</key>
    <string>K_ka_khar.glif</string>
    <key>LPa_khar</key>
    <string>L_P_a_khar.glif</string>
    <key>LYa_khar</key>
    <string>L_Y_a_khar.glif</string>
    <key>La_ZWJ_Ya_khar</key>
    <string>L_a_Z_W_J__Y_a_khar.glif</string>
    <key>La_khar</key>
    <string>L_a_khar.glif</string>
    <key>Lengthmark_khar</key>
    <string>L_engthmark_khar.glif</string>
    <key>Lines_khar</key>
    <string>L_ines_khar.glif</string>
    <key>Lotus_khar</key>
    <string>L_otus_khar.glif</string>
    <key>MMa_khar</key>
    <string>M_M_a_khar.glif</string>
    <key>MMe_khar</key>
    <string>M_M_e_khar.glif</string>
    <key>MRa_khar</key>
    <string>M_R_a_khar.glif</string>
    <key>Ma_khar</key>
    <string>M_a_khar.glif</string>
    <key>Mangalam_khar</key>
    <string>M_angalam_khar.glif</string>
    <key>Me_khar</key>
    <string>M_e_khar.glif</string>
    <key>Mo_khar</key>
    <string>M_o_khar.glif</string>
    <key>Mu_khar</key>
    <string>M_u_khar.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na_khar</key>
    <string>N_a_khar.glif</string>
    <key>Ne_khar</key>
    <string>N_e_khar.glif</string>
    <key>Ni_khar</key>
    <string>N_i_khar.glif</string>
    <key>Nna_khar</key>
    <string>N_na_khar.glif</string>
    <key>Nni_khar</key>
    <string>N_ni_khar.glif</string>
    <key>Nno_khar</key>
    <string>N_no_khar.glif</string>
    <key>Nnu_khar</key>
    <string>N_nu_khar.glif</string>
    <key>Nya_khar</key>
    <string>N_ya_khar.glif</string>
    <key>O_diag.short</key>
    <string>O__diag.short.glif</string>
    <key>O_khar</key>
    <string>O__khar.glif</string>
    <key>O_vertical</key>
    <string>O__vertical.glif</string>
    <key>O_vertical_short</key>
    <string>O__vertical_short.glif</string>
    <key>OneHalf_khar</key>
    <string>O_neH_alf_khar.glif</string>
    <key>OneHundred_khar</key>
    <string>O_neH_undred_khar.glif</string>
    <key>OneThousand_khar</key>
    <string>O_neT_housand_khar.glif</string>
    <key>One_khar</key>
    <string>O_ne_khar.glif</string>
    <key>PGa_khar</key>
    <string>P_G_a_khar.glif</string>
    <key>PTa_khar</key>
    <string>P_T_a_khar.glif</string>
    <key>Pa_khar</key>
    <string>P_a_khar.glif</string>
    <key>Pha_khar</key>
    <string>P_ha_khar.glif</string>
    <key>RMa_khar</key>
    <string>R_M_a_khar.glif</string>
    <key>RTa_khar</key>
    <string>R_T_a_khar.glif</string>
    <key>Ra_khar</key>
    <string>R_a_khar.glif</string>
    <key>SPa_khar</key>
    <string>S_P_a_khar.glif</string>
    <key>STa_khar</key>
    <string>S_T_a_khar.glif</string>
    <key>STha_khar</key>
    <string>S_T_ha_khar.glif</string>
    <key>SYa_khar</key>
    <string>S_Y_a_khar.glif</string>
    <key>Sa_khar</key>
    <string>S_a_khar.glif</string>
    <key>ShPa_khar</key>
    <string>S_hP_a_khar.glif</string>
    <key>Sha_khar</key>
    <string>S_ha_khar.glif</string>
    <key>SmallCircle_khar</key>
    <string>S_mallC_ircle_khar.glif</string>
    <key>Ssa_khar</key>
    <string>S_sa_khar.glif</string>
    <key>SubLa.alt</key>
    <string>S_ubL_a.alt.glif</string>
    <key>SubLa_khar</key>
    <string>S_ubL_a_khar.glif</string>
    <key>SubMa.alt</key>
    <string>S_ubM_a.alt.glif</string>
    <key>SubMa.alt1</key>
    <string>S_ubM_a.alt1.glif</string>
    <key>SubMa.alt2</key>
    <string>S_ubM_a.alt2.glif</string>
    <key>SubMa.alt3</key>
    <string>S_ubM_a.alt3.glif</string>
    <key>SubMa_khar</key>
    <string>S_ubM_a_khar.glif</string>
    <key>SubRa.alt</key>
    <string>S_ubR_a.alt.glif</string>
    <key>SubRa.alt1</key>
    <string>S_ubR_a.alt1.glif</string>
    <key>SubRa.alt3</key>
    <string>S_ubR_a.alt3.glif</string>
    <key>SubRa.alt4</key>
    <string>S_ubR_a.alt4.glif</string>
    <key>SubRa_khar</key>
    <string>S_ubR_a_khar.glif</string>
    <key>SubVa.alt</key>
    <string>S_ubV_a.alt.glif</string>
    <key>SubVa.alt1</key>
    <string>S_ubV_a.alt1.glif</string>
    <key>SubVa.alt2</key>
    <string>S_ubV_a.alt2.glif</string>
    <key>SubVa.alt3</key>
    <string>S_ubV_a.alt3.glif</string>
    <key>SubVa.alt4</key>
    <string>S_ubV_a.alt4.glif</string>
    <key>SubVa_khar</key>
    <string>S_ubV_a_khar.glif</string>
    <key>SubYa.alt</key>
    <string>S_ubY_a.alt.glif</string>
    <key>SubYa.alt1</key>
    <string>S_ubY_a.alt1.glif</string>
    <key>SubYa.alt3</key>
    <string>S_ubY_a.alt3.glif</string>
    <key>SubYa.alt4</key>
    <string>S_ubY_a.alt4.glif</string>
    <key>SubYa_khar</key>
    <string>S_ubY_a_khar.glif</string>
    <key>TRa_khar</key>
    <string>T_R_a_khar.glif</string>
    <key>TSa_khar</key>
    <string>T_S_a_khar.glif</string>
    <key>TTta_khar</key>
    <string>T_T_ta_khar.glif</string>
    <key>TVa_khar</key>
    <string>T_V_a_khar.glif</string>
    <key>Ta_khar</key>
    <string>T_a_khar.glif</string>
    <key>Ten_khar</key>
    <string>T_en_khar.glif</string>
    <key>Tha_khar</key>
    <string>T_ha_khar.glif</string>
    <key>Three_khar</key>
    <string>T_hree_khar.glif</string>
    <key>Tta_khar</key>
    <string>T_ta_khar.glif</string>
    <key>Ttha_khar</key>
    <string>T_tha_khar.glif</string>
    <key>Tttha_khar</key>
    <string>T_ttha_khar.glif</string>
    <key>Twenty_khar</key>
    <string>T_wenty_khar.glif</string>
    <key>Two_khar</key>
    <string>T_wo_khar.glif</string>
    <key>U.alt</key>
    <string>U_.alt.glif</string>
    <key>U.alt2</key>
    <string>U_.alt2.glif</string>
    <key>U.alt3</key>
    <string>U_.alt3.glif</string>
    <key>U_khar</key>
    <string>U__khar.glif</string>
    <key>U_spacing</key>
    <string>U__spacing.glif</string>
    <key>VHa_khar</key>
    <string>V_H_a_khar.glif</string>
    <key>Va_khar</key>
    <string>V_a_khar.glif</string>
    <key>Virama_khar</key>
    <string>V_irama_khar.glif</string>
    <key>Visarga_khar</key>
    <string>V_isarga_khar.glif</string>
    <key>Ya_khar</key>
    <string>Y_a_khar.glif</string>
    <key>Za_khar</key>
    <string>Z_a_khar.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vocR.short</key>
    <string>vocR_.short.glif</string>
    <key>vocR.shorter</key>
    <string>vocR_.shorter.glif</string>
    <key>vocR.wide</key>
    <string>vocR_.wide.glif</string>
    <key>vocR_khar</key>
    <string>vocR__khar.glif</string>
  </dict>
</plist>
