<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni060C</key>
    <string>uni060C_.glif</string>
    <key>uni061B</key>
    <string>uni061B_.glif</string>
    <key>uni061F</key>
    <string>uni061F_.glif</string>
    <key>uni066A</key>
    <string>uni066A_.glif</string>
    <key>uni07C0</key>
    <string>uni07C_0.glif</string>
    <key>uni07C1</key>
    <string>uni07C_1.glif</string>
    <key>uni07C2</key>
    <string>uni07C_2.glif</string>
    <key>uni07C3</key>
    <string>uni07C_3.glif</string>
    <key>uni07C4</key>
    <string>uni07C_4.glif</string>
    <key>uni07C5</key>
    <string>uni07C_5.glif</string>
    <key>uni07C6</key>
    <string>uni07C_6.glif</string>
    <key>uni07C7</key>
    <string>uni07C_7.glif</string>
    <key>uni07C8</key>
    <string>uni07C_8.glif</string>
    <key>uni07C9</key>
    <string>uni07C_9.glif</string>
    <key>uni07CA</key>
    <string>uni07C_A_.glif</string>
    <key>uni07CA.fina</key>
    <string>uni07C_A_.fina.glif</string>
    <key>uni07CA.init</key>
    <string>uni07C_A_.init.glif</string>
    <key>uni07CA.medi</key>
    <string>uni07C_A_.medi.glif</string>
    <key>uni07CB</key>
    <string>uni07C_B_.glif</string>
    <key>uni07CB.fina</key>
    <string>uni07C_B_.fina.glif</string>
    <key>uni07CB.init</key>
    <string>uni07C_B_.init.glif</string>
    <key>uni07CB.medi</key>
    <string>uni07C_B_.medi.glif</string>
    <key>uni07CC</key>
    <string>uni07C_C_.glif</string>
    <key>uni07CC.fina</key>
    <string>uni07C_C_.fina.glif</string>
    <key>uni07CC.init</key>
    <string>uni07C_C_.init.glif</string>
    <key>uni07CC.medi</key>
    <string>uni07C_C_.medi.glif</string>
    <key>uni07CD</key>
    <string>uni07C_D_.glif</string>
    <key>uni07CD.fina</key>
    <string>uni07C_D_.fina.glif</string>
    <key>uni07CD.init</key>
    <string>uni07C_D_.init.glif</string>
    <key>uni07CD.medi</key>
    <string>uni07C_D_.medi.glif</string>
    <key>uni07CE</key>
    <string>uni07C_E_.glif</string>
    <key>uni07CE.fina</key>
    <string>uni07C_E_.fina.glif</string>
    <key>uni07CE.init</key>
    <string>uni07C_E_.init.glif</string>
    <key>uni07CE.medi</key>
    <string>uni07C_E_.medi.glif</string>
    <key>uni07CF</key>
    <string>uni07C_F_.glif</string>
    <key>uni07CF.fina</key>
    <string>uni07C_F_.fina.glif</string>
    <key>uni07CF.init</key>
    <string>uni07C_F_.init.glif</string>
    <key>uni07CF.medi</key>
    <string>uni07C_F_.medi.glif</string>
    <key>uni07D0</key>
    <string>uni07D_0.glif</string>
    <key>uni07D0.fina</key>
    <string>uni07D_0.fina.glif</string>
    <key>uni07D0.init</key>
    <string>uni07D_0.init.glif</string>
    <key>uni07D0.medi</key>
    <string>uni07D_0.medi.glif</string>
    <key>uni07D1</key>
    <string>uni07D_1.glif</string>
    <key>uni07D1.fina</key>
    <string>uni07D_1.fina.glif</string>
    <key>uni07D1.init</key>
    <string>uni07D_1.init.glif</string>
    <key>uni07D1.medi</key>
    <string>uni07D_1.medi.glif</string>
    <key>uni07D2</key>
    <string>uni07D_2.glif</string>
    <key>uni07D2.fina</key>
    <string>uni07D_2.fina.glif</string>
    <key>uni07D2.init</key>
    <string>uni07D_2.init.glif</string>
    <key>uni07D2.medi</key>
    <string>uni07D_2.medi.glif</string>
    <key>uni07D3</key>
    <string>uni07D_3.glif</string>
    <key>uni07D3.fina</key>
    <string>uni07D_3.fina.glif</string>
    <key>uni07D3.init</key>
    <string>uni07D_3.init.glif</string>
    <key>uni07D3.medi</key>
    <string>uni07D_3.medi.glif</string>
    <key>uni07D4</key>
    <string>uni07D_4.glif</string>
    <key>uni07D4.fina</key>
    <string>uni07D_4.fina.glif</string>
    <key>uni07D4.init</key>
    <string>uni07D_4.init.glif</string>
    <key>uni07D4.medi</key>
    <string>uni07D_4.medi.glif</string>
    <key>uni07D5</key>
    <string>uni07D_5.glif</string>
    <key>uni07D5.fina</key>
    <string>uni07D_5.fina.glif</string>
    <key>uni07D5.init</key>
    <string>uni07D_5.init.glif</string>
    <key>uni07D5.medi</key>
    <string>uni07D_5.medi.glif</string>
    <key>uni07D6</key>
    <string>uni07D_6.glif</string>
    <key>uni07D6.fina</key>
    <string>uni07D_6.fina.glif</string>
    <key>uni07D6.init</key>
    <string>uni07D_6.init.glif</string>
    <key>uni07D6.medi</key>
    <string>uni07D_6.medi.glif</string>
    <key>uni07D7</key>
    <string>uni07D_7.glif</string>
    <key>uni07D7.fina</key>
    <string>uni07D_7.fina.glif</string>
    <key>uni07D7.init</key>
    <string>uni07D_7.init.glif</string>
    <key>uni07D7.medi</key>
    <string>uni07D_7.medi.glif</string>
    <key>uni07D8</key>
    <string>uni07D_8.glif</string>
    <key>uni07D8.fina</key>
    <string>uni07D_8.fina.glif</string>
    <key>uni07D8.init</key>
    <string>uni07D_8.init.glif</string>
    <key>uni07D8.medi</key>
    <string>uni07D_8.medi.glif</string>
    <key>uni07D9</key>
    <string>uni07D_9.glif</string>
    <key>uni07D9.fina</key>
    <string>uni07D_9.fina.glif</string>
    <key>uni07D9.init</key>
    <string>uni07D_9.init.glif</string>
    <key>uni07D9.medi</key>
    <string>uni07D_9.medi.glif</string>
    <key>uni07DA</key>
    <string>uni07D_A_.glif</string>
    <key>uni07DA.fina</key>
    <string>uni07D_A_.fina.glif</string>
    <key>uni07DA.init</key>
    <string>uni07D_A_.init.glif</string>
    <key>uni07DA.medi</key>
    <string>uni07D_A_.medi.glif</string>
    <key>uni07DB</key>
    <string>uni07D_B_.glif</string>
    <key>uni07DB.fina</key>
    <string>uni07D_B_.fina.glif</string>
    <key>uni07DB.init</key>
    <string>uni07D_B_.init.glif</string>
    <key>uni07DB.medi</key>
    <string>uni07D_B_.medi.glif</string>
    <key>uni07DC</key>
    <string>uni07D_C_.glif</string>
    <key>uni07DC.fina</key>
    <string>uni07D_C_.fina.glif</string>
    <key>uni07DC.init</key>
    <string>uni07D_C_.init.glif</string>
    <key>uni07DC.medi</key>
    <string>uni07D_C_.medi.glif</string>
    <key>uni07DD</key>
    <string>uni07D_D_.glif</string>
    <key>uni07DD.fina</key>
    <string>uni07D_D_.fina.glif</string>
    <key>uni07DD.init</key>
    <string>uni07D_D_.init.glif</string>
    <key>uni07DD.medi</key>
    <string>uni07D_D_.medi.glif</string>
    <key>uni07DE</key>
    <string>uni07D_E_.glif</string>
    <key>uni07DE.fina</key>
    <string>uni07D_E_.fina.glif</string>
    <key>uni07DE.init</key>
    <string>uni07D_E_.init.glif</string>
    <key>uni07DE.medi</key>
    <string>uni07D_E_.medi.glif</string>
    <key>uni07DF</key>
    <string>uni07D_F_.glif</string>
    <key>uni07DF.fina</key>
    <string>uni07D_F_.fina.glif</string>
    <key>uni07DF.init</key>
    <string>uni07D_F_.init.glif</string>
    <key>uni07DF.medi</key>
    <string>uni07D_F_.medi.glif</string>
    <key>uni07E0</key>
    <string>uni07E_0.glif</string>
    <key>uni07E0.fina</key>
    <string>uni07E_0.fina.glif</string>
    <key>uni07E0.init</key>
    <string>uni07E_0.init.glif</string>
    <key>uni07E0.medi</key>
    <string>uni07E_0.medi.glif</string>
    <key>uni07E1</key>
    <string>uni07E_1.glif</string>
    <key>uni07E1.fina</key>
    <string>uni07E_1.fina.glif</string>
    <key>uni07E1.init</key>
    <string>uni07E_1.init.glif</string>
    <key>uni07E1.medi</key>
    <string>uni07E_1.medi.glif</string>
    <key>uni07E2</key>
    <string>uni07E_2.glif</string>
    <key>uni07E2.fina</key>
    <string>uni07E_2.fina.glif</string>
    <key>uni07E2.init</key>
    <string>uni07E_2.init.glif</string>
    <key>uni07E2.medi</key>
    <string>uni07E_2.medi.glif</string>
    <key>uni07E3</key>
    <string>uni07E_3.glif</string>
    <key>uni07E3.fina</key>
    <string>uni07E_3.fina.glif</string>
    <key>uni07E3.init</key>
    <string>uni07E_3.init.glif</string>
    <key>uni07E3.medi</key>
    <string>uni07E_3.medi.glif</string>
    <key>uni07E4</key>
    <string>uni07E_4.glif</string>
    <key>uni07E4.fina</key>
    <string>uni07E_4.fina.glif</string>
    <key>uni07E4.init</key>
    <string>uni07E_4.init.glif</string>
    <key>uni07E4.medi</key>
    <string>uni07E_4.medi.glif</string>
    <key>uni07E5</key>
    <string>uni07E_5.glif</string>
    <key>uni07E5.fina</key>
    <string>uni07E_5.fina.glif</string>
    <key>uni07E5.init</key>
    <string>uni07E_5.init.glif</string>
    <key>uni07E5.medi</key>
    <string>uni07E_5.medi.glif</string>
    <key>uni07E6</key>
    <string>uni07E_6.glif</string>
    <key>uni07E6.fina</key>
    <string>uni07E_6.fina.glif</string>
    <key>uni07E6.init</key>
    <string>uni07E_6.init.glif</string>
    <key>uni07E6.medi</key>
    <string>uni07E_6.medi.glif</string>
    <key>uni07E7</key>
    <string>uni07E_7.glif</string>
    <key>uni07E7.fina</key>
    <string>uni07E_7.fina.glif</string>
    <key>uni07E7.init</key>
    <string>uni07E_7.init.glif</string>
    <key>uni07E7.medi</key>
    <string>uni07E_7.medi.glif</string>
    <key>uni07E8</key>
    <string>uni07E_8.glif</string>
    <key>uni07E8.fina</key>
    <string>uni07E_8.fina.glif</string>
    <key>uni07E8.init</key>
    <string>uni07E_8.init.glif</string>
    <key>uni07E8.medi</key>
    <string>uni07E_8.medi.glif</string>
    <key>uni07E9</key>
    <string>uni07E_9.glif</string>
    <key>uni07E9.fina</key>
    <string>uni07E_9.fina.glif</string>
    <key>uni07E9.init</key>
    <string>uni07E_9.init.glif</string>
    <key>uni07E9.medi</key>
    <string>uni07E_9.medi.glif</string>
    <key>uni07EA</key>
    <string>uni07E_A_.glif</string>
    <key>uni07EA.fina</key>
    <string>uni07E_A_.fina.glif</string>
    <key>uni07EA.init</key>
    <string>uni07E_A_.init.glif</string>
    <key>uni07EA.medi</key>
    <string>uni07E_A_.medi.glif</string>
    <key>uni07EB</key>
    <string>uni07E_B_.glif</string>
    <key>uni07EC</key>
    <string>uni07E_C_.glif</string>
    <key>uni07ED</key>
    <string>uni07E_D_.glif</string>
    <key>uni07EE</key>
    <string>uni07E_E_.glif</string>
    <key>uni07EF</key>
    <string>uni07E_F_.glif</string>
    <key>uni07F0</key>
    <string>uni07F_0.glif</string>
    <key>uni07F1</key>
    <string>uni07F_1.glif</string>
    <key>uni07F2</key>
    <string>uni07F_2.glif</string>
    <key>uni07F3</key>
    <string>uni07F_3.glif</string>
    <key>uni07F4</key>
    <string>uni07F_4.glif</string>
    <key>uni07F5</key>
    <string>uni07F_5.glif</string>
    <key>uni07F6</key>
    <string>uni07F_6.glif</string>
    <key>uni07F7</key>
    <string>uni07F_7.glif</string>
    <key>uni07F8</key>
    <string>uni07F_8.glif</string>
    <key>uni07F9</key>
    <string>uni07F_9.glif</string>
    <key>uni07FA</key>
    <string>uni07F_A_.glif</string>
    <key>uni07FD</key>
    <string>uni07F_D_.glif</string>
    <key>uni07FD.narrow</key>
    <string>uni07F_D_.narrow.glif</string>
    <key>uni07FD.wide</key>
    <string>uni07F_D_.wide.glif</string>
    <key>uni07FD.wideopen</key>
    <string>uni07F_D_.wideopen.glif</string>
    <key>uni07FD.wider</key>
    <string>uni07F_D_.wider.glif</string>
    <key>uni07FD.widest</key>
    <string>uni07F_D_.widest.glif</string>
    <key>uni07FE</key>
    <string>uni07F_E_.glif</string>
    <key>uni07FF</key>
    <string>uni07F_F_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200E</key>
    <string>uni200E_.glif</string>
    <key>uni200F</key>
    <string>uni200F_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni2E1C</key>
    <string>uni2E_1C_.glif</string>
    <key>uni2E1D</key>
    <string>uni2E_1D_.glif</string>
    <key>uniFD3E</key>
    <string>uniF_D_3E_.glif</string>
    <key>uniFD3F</key>
    <string>uniF_D_3F_.glif</string>
  </dict>
</plist>
