<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a-oriya.REV_BRACKET.141</key>
    <string>a-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>bha-oriya.REV_BRACKET.141</key>
    <string>bha-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>bhara-oriya.REV_BRACKET.141</key>
    <string>bhara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>candraBindu-oriya.REV_BRACKET.141</key>
    <string>candraB_indu-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>cha-oriya.REV_BRACKET.141</key>
    <string>cha-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>chara-oriya.REV_BRACKET.141</key>
    <string>chara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>dda-oriya.REV_BRACKET.141</key>
    <string>dda-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ddara-oriya.REV_BRACKET.141</key>
    <string>ddara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ddha-oriya.REV_BRACKET.141</key>
    <string>ddha-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>e-oriya.REV_BRACKET.141</key>
    <string>e-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>five-oriya.REV_BRACKET.141</key>
    <string>five-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ha-oriya.REV_BRACKET.141</key>
    <string>ha-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>i-oriya.REV_BRACKET.141</key>
    <string>i-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ii-oriya.REV_BRACKET.141</key>
    <string>ii-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ja-oriya.REV_BRACKET.141</key>
    <string>ja-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ja-oriya.base.REV_BRACKET.141</key>
    <string>ja-oriya.base.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>jara-oriya.REV_BRACKET.141</key>
    <string>jara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ka-oriya.REV_BRACKET.141</key>
    <string>ka-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>kara-oriya.REV_BRACKET.141</key>
    <string>kara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>lVocalicMatra-oriya.REV_BRACKET.141</key>
    <string>lV_ocalicM_atra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>llVocalicMatra-oriya.REV_BRACKET.141</key>
    <string>llV_ocalicM_atra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>nga-oriya.REV_BRACKET.141</key>
    <string>nga-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ngara-oriya.REV_BRACKET.141</key>
    <string>ngara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>nine-oriya.REV_BRACKET.141</key>
    <string>nine-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>one-oriya.REV_BRACKET.141</key>
    <string>one-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>rrVocalicMatra-oriya.REV_BRACKET.141</key>
    <string>rrV_ocalicM_atra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>seven-oriya.REV_BRACKET.141</key>
    <string>seven-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>six-oriya.REV_BRACKET.141</key>
    <string>six-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ssa-oriya.REV_BRACKET.141</key>
    <string>ssa-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>ta-oriya.REV_BRACKET.141</key>
    <string>ta-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>three-oriya.REV_BRACKET.141</key>
    <string>three-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>two-oriya.REV_BRACKET.141</key>
    <string>two-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>u-oriya.REV_BRACKET.141</key>
    <string>u-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>uu-oriya.REV_BRACKET.141</key>
    <string>uu-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>uuMatra-oriya.REV_BRACKET.141</key>
    <string>uuM_atra-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>va-oriya.REV_BRACKET.141</key>
    <string>va-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>va-oriya.base.REV_BRACKET.141</key>
    <string>va-oriya.base.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
    <key>vara-oriya.REV_BRACKET.141</key>
    <string>vara-oriya.R_E_V__B_R_A_C_K_E_T_.141.glif</string>
  </dict>
</plist>
