<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10530</key>
    <string>u10530.glif</string>
    <key>u10530_fe26</key>
    <string>u10530_fe26.glif</string>
    <key>u10530_fe2d</key>
    <string>u10530_fe2d.glif</string>
    <key>u10531</key>
    <string>u10531.glif</string>
    <key>u10531_fe26</key>
    <string>u10531_fe26.glif</string>
    <key>u10531_fe2d</key>
    <string>u10531_fe2d.glif</string>
    <key>u10532</key>
    <string>u10532.glif</string>
    <key>u10532_fe26</key>
    <string>u10532_fe26.glif</string>
    <key>u10532_fe2d</key>
    <string>u10532_fe2d.glif</string>
    <key>u10533</key>
    <string>u10533.glif</string>
    <key>u10533_fe26</key>
    <string>u10533_fe26.glif</string>
    <key>u10533_fe2d</key>
    <string>u10533_fe2d.glif</string>
    <key>u10534</key>
    <string>u10534.glif</string>
    <key>u10534_fe26</key>
    <string>u10534_fe26.glif</string>
    <key>u10534_fe2d</key>
    <string>u10534_fe2d.glif</string>
    <key>u10535</key>
    <string>u10535.glif</string>
    <key>u10535_fe26</key>
    <string>u10535_fe26.glif</string>
    <key>u10535_fe2d</key>
    <string>u10535_fe2d.glif</string>
    <key>u10536</key>
    <string>u10536.glif</string>
    <key>u10536_fe26</key>
    <string>u10536_fe26.glif</string>
    <key>u10536_fe2d</key>
    <string>u10536_fe2d.glif</string>
    <key>u10537</key>
    <string>u10537.glif</string>
    <key>u10537_fe26</key>
    <string>u10537_fe26.glif</string>
    <key>u10537_fe2d</key>
    <string>u10537_fe2d.glif</string>
    <key>u10538</key>
    <string>u10538.glif</string>
    <key>u10538_fe26</key>
    <string>u10538_fe26.glif</string>
    <key>u10538_fe2d</key>
    <string>u10538_fe2d.glif</string>
    <key>u10539</key>
    <string>u10539.glif</string>
    <key>u10539_fe26</key>
    <string>u10539_fe26.glif</string>
    <key>u10539_fe2d</key>
    <string>u10539_fe2d.glif</string>
    <key>u1053A</key>
    <string>u1053A_.glif</string>
    <key>u1053A_fe26</key>
    <string>u1053A__fe26.glif</string>
    <key>u1053A_fe2d</key>
    <string>u1053A__fe2d.glif</string>
    <key>u1053B</key>
    <string>u1053B_.glif</string>
    <key>u1053B_fe26</key>
    <string>u1053B__fe26.glif</string>
    <key>u1053B_fe2d</key>
    <string>u1053B__fe2d.glif</string>
    <key>u1053C</key>
    <string>u1053C_.glif</string>
    <key>u1053C_fe26</key>
    <string>u1053C__fe26.glif</string>
    <key>u1053C_fe2d</key>
    <string>u1053C__fe2d.glif</string>
    <key>u1053D</key>
    <string>u1053D_.glif</string>
    <key>u1053D_fe26</key>
    <string>u1053D__fe26.glif</string>
    <key>u1053D_fe2d</key>
    <string>u1053D__fe2d.glif</string>
    <key>u1053E</key>
    <string>u1053E_.glif</string>
    <key>u1053E_fe26</key>
    <string>u1053E__fe26.glif</string>
    <key>u1053E_fe2d</key>
    <string>u1053E__fe2d.glif</string>
    <key>u1053F</key>
    <string>u1053F_.glif</string>
    <key>u1053F_fe26</key>
    <string>u1053F__fe26.glif</string>
    <key>u1053F_fe2d</key>
    <string>u1053F__fe2d.glif</string>
    <key>u10540</key>
    <string>u10540.glif</string>
    <key>u10540_fe26</key>
    <string>u10540_fe26.glif</string>
    <key>u10540_fe2d</key>
    <string>u10540_fe2d.glif</string>
    <key>u10541</key>
    <string>u10541.glif</string>
    <key>u10541_fe26</key>
    <string>u10541_fe26.glif</string>
    <key>u10541_fe2d</key>
    <string>u10541_fe2d.glif</string>
    <key>u10542</key>
    <string>u10542.glif</string>
    <key>u10542_fe26</key>
    <string>u10542_fe26.glif</string>
    <key>u10542_fe2d</key>
    <string>u10542_fe2d.glif</string>
    <key>u10543</key>
    <string>u10543.glif</string>
    <key>u10543_fe26</key>
    <string>u10543_fe26.glif</string>
    <key>u10543_fe2d</key>
    <string>u10543_fe2d.glif</string>
    <key>u10544</key>
    <string>u10544.glif</string>
    <key>u10544_fe26</key>
    <string>u10544_fe26.glif</string>
    <key>u10544_fe2d</key>
    <string>u10544_fe2d.glif</string>
    <key>u10545</key>
    <string>u10545.glif</string>
    <key>u10545_fe26</key>
    <string>u10545_fe26.glif</string>
    <key>u10545_fe2d</key>
    <string>u10545_fe2d.glif</string>
    <key>u10546</key>
    <string>u10546.glif</string>
    <key>u10546_fe26</key>
    <string>u10546_fe26.glif</string>
    <key>u10546_fe2d</key>
    <string>u10546_fe2d.glif</string>
    <key>u10547</key>
    <string>u10547.glif</string>
    <key>u10547_fe26</key>
    <string>u10547_fe26.glif</string>
    <key>u10547_fe2d</key>
    <string>u10547_fe2d.glif</string>
    <key>u10548</key>
    <string>u10548.glif</string>
    <key>u10548_fe26</key>
    <string>u10548_fe26.glif</string>
    <key>u10548_fe2d</key>
    <string>u10548_fe2d.glif</string>
    <key>u10549</key>
    <string>u10549.glif</string>
    <key>u10549_fe26</key>
    <string>u10549_fe26.glif</string>
    <key>u10549_fe2d</key>
    <string>u10549_fe2d.glif</string>
    <key>u1054A</key>
    <string>u1054A_.glif</string>
    <key>u1054A_fe26</key>
    <string>u1054A__fe26.glif</string>
    <key>u1054A_fe2d</key>
    <string>u1054A__fe2d.glif</string>
    <key>u1054B</key>
    <string>u1054B_.glif</string>
    <key>u1054B_fe26</key>
    <string>u1054B__fe26.glif</string>
    <key>u1054B_fe2d</key>
    <string>u1054B__fe2d.glif</string>
    <key>u1054C</key>
    <string>u1054C_.glif</string>
    <key>u1054C_fe26</key>
    <string>u1054C__fe26.glif</string>
    <key>u1054C_fe2d</key>
    <string>u1054C__fe2d.glif</string>
    <key>u1054D</key>
    <string>u1054D_.glif</string>
    <key>u1054D_fe26</key>
    <string>u1054D__fe26.glif</string>
    <key>u1054D_fe2d</key>
    <string>u1054D__fe2d.glif</string>
    <key>u1054E</key>
    <string>u1054E_.glif</string>
    <key>u1054E_fe26</key>
    <string>u1054E__fe26.glif</string>
    <key>u1054E_fe2d</key>
    <string>u1054E__fe2d.glif</string>
    <key>u1054F</key>
    <string>u1054F_.glif</string>
    <key>u1054F_fe26</key>
    <string>u1054F__fe26.glif</string>
    <key>u1054F_fe2d</key>
    <string>u1054F__fe2d.glif</string>
    <key>u10550</key>
    <string>u10550.glif</string>
    <key>u10550_fe26</key>
    <string>u10550_fe26.glif</string>
    <key>u10550_fe2d</key>
    <string>u10550_fe2d.glif</string>
    <key>u10551</key>
    <string>u10551.glif</string>
    <key>u10551_fe26</key>
    <string>u10551_fe26.glif</string>
    <key>u10551_fe2d</key>
    <string>u10551_fe2d.glif</string>
    <key>u10552</key>
    <string>u10552.glif</string>
    <key>u10552_fe26</key>
    <string>u10552_fe26.glif</string>
    <key>u10552_fe2d</key>
    <string>u10552_fe2d.glif</string>
    <key>u10553</key>
    <string>u10553.glif</string>
    <key>u10553_fe26</key>
    <string>u10553_fe26.glif</string>
    <key>u10553_fe2d</key>
    <string>u10553_fe2d.glif</string>
    <key>u10554</key>
    <string>u10554.glif</string>
    <key>u10554_fe26</key>
    <string>u10554_fe26.glif</string>
    <key>u10554_fe2d</key>
    <string>u10554_fe2d.glif</string>
    <key>u10555</key>
    <string>u10555.glif</string>
    <key>u10555_fe26</key>
    <string>u10555_fe26.glif</string>
    <key>u10555_fe2d</key>
    <string>u10555_fe2d.glif</string>
    <key>u10556</key>
    <string>u10556.glif</string>
    <key>u10556_fe26</key>
    <string>u10556_fe26.glif</string>
    <key>u10556_fe2d</key>
    <string>u10556_fe2d.glif</string>
    <key>u10557</key>
    <string>u10557.glif</string>
    <key>u10557_fe26</key>
    <string>u10557_fe26.glif</string>
    <key>u10557_fe2d</key>
    <string>u10557_fe2d.glif</string>
    <key>u10558</key>
    <string>u10558.glif</string>
    <key>u10558_fe26</key>
    <string>u10558_fe26.glif</string>
    <key>u10558_fe2d</key>
    <string>u10558_fe2d.glif</string>
    <key>u10559</key>
    <string>u10559.glif</string>
    <key>u10559_fe26</key>
    <string>u10559_fe26.glif</string>
    <key>u10559_fe2d</key>
    <string>u10559_fe2d.glif</string>
    <key>u1055A</key>
    <string>u1055A_.glif</string>
    <key>u1055A_fe26</key>
    <string>u1055A__fe26.glif</string>
    <key>u1055A_fe2d</key>
    <string>u1055A__fe2d.glif</string>
    <key>u1055B</key>
    <string>u1055B_.glif</string>
    <key>u1055B_fe26</key>
    <string>u1055B__fe26.glif</string>
    <key>u1055B_fe2d</key>
    <string>u1055B__fe2d.glif</string>
    <key>u1055C</key>
    <string>u1055C_.glif</string>
    <key>u1055C_fe26</key>
    <string>u1055C__fe26.glif</string>
    <key>u1055C_fe2d</key>
    <string>u1055C__fe2d.glif</string>
    <key>u1055D</key>
    <string>u1055D_.glif</string>
    <key>u1055D_fe26</key>
    <string>u1055D__fe26.glif</string>
    <key>u1055D_fe2d</key>
    <string>u1055D__fe2d.glif</string>
    <key>u1055E</key>
    <string>u1055E_.glif</string>
    <key>u1055E_fe26</key>
    <string>u1055E__fe26.glif</string>
    <key>u1055E_fe2d</key>
    <string>u1055E__fe2d.glif</string>
    <key>u1055F</key>
    <string>u1055F_.glif</string>
    <key>u1055F_fe26</key>
    <string>u1055F__fe26.glif</string>
    <key>u1055F_fe2d</key>
    <string>u1055F__fe2d.glif</string>
    <key>u10560</key>
    <string>u10560.glif</string>
    <key>u10560_fe26</key>
    <string>u10560_fe26.glif</string>
    <key>u10560_fe2d</key>
    <string>u10560_fe2d.glif</string>
    <key>u10561</key>
    <string>u10561.glif</string>
    <key>u10561_fe26</key>
    <string>u10561_fe26.glif</string>
    <key>u10561_fe2d</key>
    <string>u10561_fe2d.glif</string>
    <key>u10562</key>
    <string>u10562.glif</string>
    <key>u10562_fe26</key>
    <string>u10562_fe26.glif</string>
    <key>u10562_fe2d</key>
    <string>u10562_fe2d.glif</string>
    <key>u10563</key>
    <string>u10563.glif</string>
    <key>u10563_fe26</key>
    <string>u10563_fe26.glif</string>
    <key>u10563_fe2d</key>
    <string>u10563_fe2d.glif</string>
    <key>u1056F</key>
    <string>u1056F_.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0331</key>
    <string>uni0331.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniFE20</key>
    <string>uniF_E_20.glif</string>
    <key>uniFE21</key>
    <string>uniF_E_21.glif</string>
    <key>uniFE22</key>
    <string>uniF_E_22.glif</string>
    <key>uniFE23</key>
    <string>uniF_E_23.glif</string>
    <key>uniFE24</key>
    <string>uniF_E_24.glif</string>
    <key>uniFE25</key>
    <string>uniF_E_25.glif</string>
    <key>uniFE26</key>
    <string>uniF_E_26.glif</string>
    <key>uniFE27</key>
    <string>uniF_E_27.glif</string>
    <key>uniFE28</key>
    <string>uniF_E_28.glif</string>
    <key>uniFE29</key>
    <string>uniF_E_29.glif</string>
    <key>uniFE2A</key>
    <string>uniF_E_2A_.glif</string>
    <key>uniFE2B</key>
    <string>uniF_E_2B_.glif</string>
    <key>uniFE2C</key>
    <string>uniF_E_2C_.glif</string>
    <key>uniFE2D</key>
    <string>uniF_E_2D_.glif</string>
    <key>uniFE2E</key>
    <string>uniF_E_2E_.glif</string>
    <key>uniFE2F</key>
    <string>uniF_E_2F_.glif</string>
  </dict>
</plist>
