<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aauMatra-mtei</key>
    <string>aauM_atra-mtei.glif</string>
    <key>ahangKhudam-mtei</key>
    <string>ahangK_hudam-mtei.glif</string>
    <key>anapMatra-mtei</key>
    <string>anapM_atra-mtei.glif</string>
    <key>apunIyek.right2</key>
    <string>apunI_yek.right2.glif</string>
    <key>atiya-mtei</key>
    <string>atiya-mtei.glif</string>
    <key>auMatra-mtei</key>
    <string>auM_atra-mtei.glif</string>
    <key>ba-mtei</key>
    <string>ba-mtei.glif</string>
    <key>bham-mtei</key>
    <string>bham-mtei.glif</string>
    <key>cheikhan-mtei</key>
    <string>cheikhan-mtei.glif</string>
    <key>cheikhei-mtei</key>
    <string>cheikhei-mtei.glif</string>
    <key>dda-mtei</key>
    <string>dda-mtei.glif</string>
    <key>digitEight-mtei</key>
    <string>digitE_ight-mtei.glif</string>
    <key>digitFive-mtei</key>
    <string>digitF_ive-mtei.glif</string>
    <key>digitFour-mtei</key>
    <string>digitF_our-mtei.glif</string>
    <key>digitSix-mtei</key>
    <string>digitS_ix-mtei.glif</string>
    <key>digitThree-mtei</key>
    <string>digitT_hree-mtei.glif</string>
    <key>e-mtei</key>
    <string>e-mtei.glif</string>
    <key>ghou-mtei</key>
    <string>ghou-mtei.glif</string>
    <key>huk-mtei</key>
    <string>huk-mtei.glif</string>
    <key>i-mtei</key>
    <string>i-mtei.glif</string>
    <key>inapMatra-mtei</key>
    <string>inapM_atra-mtei.glif</string>
    <key>jham-mtei</key>
    <string>jham-mtei.glif</string>
    <key>kok-mtei</key>
    <string>kok-mtei.glif</string>
    <key>mitLonsum-mtei</key>
    <string>mitL_onsum-mtei.glif</string>
    <key>naLonsum-mtei</key>
    <string>naL_onsum-mtei.glif</string>
    <key>ngouLonsum-mtei</key>
    <string>ngouL_onsum-mtei.glif</string>
    <key>nna-mtei</key>
    <string>nna-mtei.glif</string>
    <key>nungMatra-mtei</key>
    <string>nungM_atra-mtei.glif</string>
    <key>o-mtei</key>
    <string>o-mtei.glif</string>
    <key>onapMatra-mtei</key>
    <string>onapM_atra-mtei.glif</string>
    <key>pa-mtei</key>
    <string>pa-mtei.glif</string>
    <key>sha-mtei</key>
    <string>sha-mtei.glif</string>
    <key>sounapMatra-mtei</key>
    <string>sounapM_atra-mtei.glif</string>
    <key>syllableRepetitionMark-mtei</key>
    <string>syllableR_epetitionM_ark-mtei.glif</string>
    <key>til-mtei</key>
    <string>til-mtei.glif</string>
    <key>tilLonsum-mtei</key>
    <string>tilL_onsum-mtei.glif</string>
    <key>uuMatra-mtei</key>
    <string>uuM_atra-mtei.glif</string>
    <key>virama-mtei</key>
    <string>virama-mtei.glif</string>
    <key>visargaMatra-mtei</key>
    <string>visargaM_atra-mtei.glif</string>
  </dict>
</plist>
