<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>recyclingGenericMaterials</key>
    <string>recyclingG_enericM_aterials.glif</string>
    <key>recyclingType1Plastics</key>
    <string>recyclingT_ype1P_lastics.glif</string>
    <key>recyclingType2Plastics</key>
    <string>recyclingT_ype2P_lastics.glif</string>
    <key>recyclingType3Plastics</key>
    <string>recyclingT_ype3P_lastics.glif</string>
    <key>recyclingType4Plastics</key>
    <string>recyclingT_ype4P_lastics.glif</string>
    <key>recyclingType5Plastics</key>
    <string>recyclingT_ype5P_lastics.glif</string>
    <key>recyclingType6Plastics</key>
    <string>recyclingT_ype6P_lastics.glif</string>
    <key>recyclingType7Plastics</key>
    <string>recyclingT_ype7P_lastics.glif</string>
  </dict>
</plist>
