<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>doubledanda</key>
    <string>doubledanda.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1900</key>
    <string>uni1900.glif</string>
    <key>uni1901</key>
    <string>uni1901.glif</string>
    <key>uni1902</key>
    <string>uni1902.glif</string>
    <key>uni1903</key>
    <string>uni1903.glif</string>
    <key>uni1904</key>
    <string>uni1904.glif</string>
    <key>uni1905</key>
    <string>uni1905.glif</string>
    <key>uni1906</key>
    <string>uni1906.glif</string>
    <key>uni1907</key>
    <string>uni1907.glif</string>
    <key>uni1908</key>
    <string>uni1908.glif</string>
    <key>uni1909</key>
    <string>uni1909.glif</string>
    <key>uni190A</key>
    <string>uni190A_.glif</string>
    <key>uni190B</key>
    <string>uni190B_.glif</string>
    <key>uni190C</key>
    <string>uni190C_.glif</string>
    <key>uni190D</key>
    <string>uni190D_.glif</string>
    <key>uni190E</key>
    <string>uni190E_.glif</string>
    <key>uni190F</key>
    <string>uni190F_.glif</string>
    <key>uni1910</key>
    <string>uni1910.glif</string>
    <key>uni1911</key>
    <string>uni1911.glif</string>
    <key>uni1912</key>
    <string>uni1912.glif</string>
    <key>uni1913</key>
    <string>uni1913.glif</string>
    <key>uni1914</key>
    <string>uni1914.glif</string>
    <key>uni1915</key>
    <string>uni1915.glif</string>
    <key>uni1916</key>
    <string>uni1916.glif</string>
    <key>uni1917</key>
    <string>uni1917.glif</string>
    <key>uni1918</key>
    <string>uni1918.glif</string>
    <key>uni1919</key>
    <string>uni1919.glif</string>
    <key>uni191A</key>
    <string>uni191A_.glif</string>
    <key>uni191B</key>
    <string>uni191B_.glif</string>
    <key>uni191C</key>
    <string>uni191C_.glif</string>
    <key>uni191D</key>
    <string>uni191D_.glif</string>
    <key>uni191E</key>
    <string>uni191E_.glif</string>
    <key>uni1920</key>
    <string>uni1920.glif</string>
    <key>uni1921</key>
    <string>uni1921.glif</string>
    <key>uni1922</key>
    <string>uni1922.glif</string>
    <key>uni1923</key>
    <string>uni1923.glif</string>
    <key>uni1924</key>
    <string>uni1924.glif</string>
    <key>uni1925</key>
    <string>uni1925.glif</string>
    <key>uni1926</key>
    <string>uni1926.glif</string>
    <key>uni1927</key>
    <string>uni1927.glif</string>
    <key>uni1928</key>
    <string>uni1928.glif</string>
    <key>uni1929</key>
    <string>uni1929.glif</string>
    <key>uni192A</key>
    <string>uni192A_.glif</string>
    <key>uni192A1922</key>
    <string>uni192A_1922.glif</string>
    <key>uni192B</key>
    <string>uni192B_.glif</string>
    <key>uni1930</key>
    <string>uni1930.glif</string>
    <key>uni1931</key>
    <string>uni1931.glif</string>
    <key>uni1932</key>
    <string>uni1932.glif</string>
    <key>uni1933</key>
    <string>uni1933.glif</string>
    <key>uni1934</key>
    <string>uni1934.glif</string>
    <key>uni1935</key>
    <string>uni1935.glif</string>
    <key>uni1936</key>
    <string>uni1936.glif</string>
    <key>uni1937</key>
    <string>uni1937.glif</string>
    <key>uni1938</key>
    <string>uni1938.glif</string>
    <key>uni1939</key>
    <string>uni1939.glif</string>
    <key>uni193A</key>
    <string>uni193A_.glif</string>
    <key>uni193B</key>
    <string>uni193B_.glif</string>
    <key>uni1940</key>
    <string>uni1940.glif</string>
    <key>uni1944</key>
    <string>uni1944.glif</string>
    <key>uni1945</key>
    <string>uni1945.glif</string>
    <key>uni1946</key>
    <string>uni1946.glif</string>
    <key>uni1947</key>
    <string>uni1947.glif</string>
    <key>uni1948</key>
    <string>uni1948.glif</string>
    <key>uni1949</key>
    <string>uni1949.glif</string>
    <key>uni194A</key>
    <string>uni194A_.glif</string>
    <key>uni194B</key>
    <string>uni194B_.glif</string>
    <key>uni194C</key>
    <string>uni194C_.glif</string>
    <key>uni194D</key>
    <string>uni194D_.glif</string>
    <key>uni194E</key>
    <string>uni194E_.glif</string>
    <key>uni194F</key>
    <string>uni194F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
