<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>983</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisableAllAutomaticBehaviour</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>190</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>190</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aatamil</string>
      <string>aavowelsigntamil</string>
      <string>aitamil</string>
      <string>aivowelsigntamil</string>
      <string>anusvaratamil</string>
      <string>asabovesigntamil</string>
      <string>asciicircum.tamil</string>
      <string>asciitilde.tamil</string>
      <string>asterisk.tamil</string>
      <string>atamil</string>
      <string>aulengthmarktamil</string>
      <string>autamil</string>
      <string>auvowelsigntamil</string>
      <string>backslash.tamil</string>
      <string>bar.tamil</string>
      <string>braceleft.tamil</string>
      <string>braceright.tamil</string>
      <string>bracketleft.tamil</string>
      <string>bracketright.tamil</string>
      <string>caiivowelsigntamil</string>
      <string>caprehalftamil</string>
      <string>catamil</string>
      <string>cauuvowelsigntamil</string>
      <string>cauvowelsigntamil</string>
      <string>colon.tamil</string>
      <string>comma.tamil</string>
      <string>creditsigntamil</string>
      <string>danda.tamil</string>
      <string>daysigntamil</string>
      <string>dbldanda.tamil</string>
      <string>debitsigntamil</string>
      <string>divide.tamil</string>
      <string>eetamil</string>
      <string>eevowelsigntamil</string>
      <string>eight.tamil</string>
      <string>eighttamil</string>
      <string>ellipsis.tamil</string>
      <string>emdash.tamil</string>
      <string>endash.tamil</string>
      <string>equal.tamil</string>
      <string>etamil</string>
      <string>evowelsigntamil</string>
      <string>exclam.tamil</string>
      <string>five.tamil</string>
      <string>fivetamil</string>
      <string>four.tamil</string>
      <string>fourtamil</string>
      <string>greater.tamil</string>
      <string>haiivowelsigntamil</string>
      <string>haprehalftamil</string>
      <string>hatamil</string>
      <string>hundredtamil</string>
      <string>hyphen.tamil</string>
      <string>iitamil</string>
      <string>iivowelsigntamil</string>
      <string>itamil</string>
      <string>ivowelsign1tamil</string>
      <string>ivowelsign2tamil</string>
      <string>ivowelsign3tamil</string>
      <string>ivowelsign4tamil</string>
      <string>ivowelsigntamil</string>
      <string>jaiivowelsigntamil</string>
      <string>japrehalftamil</string>
      <string>jatamil</string>
      <string>kaiivowelsigntamil</string>
      <string>kaprehalftamil</string>
      <string>katamil</string>
      <string>kauuvowelsigntamil</string>
      <string>kauvowelsigntamil</string>
      <string>laiivowelsigntamil</string>
      <string>laivowelsigntamil</string>
      <string>laprehalftamil</string>
      <string>latamil</string>
      <string>lauuvowelsigntamil</string>
      <string>lauvowelsigntamil</string>
      <string>less.tamil</string>
      <string>llaiivowelsigntamil</string>
      <string>llaprehalftamil</string>
      <string>llatamil</string>
      <string>llauuvowelsigntamil</string>
      <string>llauvowelsigntamil</string>
      <string>lllaiivowelsigntamil</string>
      <string>lllaprehalftamil</string>
      <string>lllatamil</string>
      <string>lllauuvowelsigntamil</string>
      <string>lllauvowelsigntamil</string>
      <string>maiivowelsigntamil</string>
      <string>maprehalftamil</string>
      <string>matamil</string>
      <string>mauuvowelsigntamil</string>
      <string>mauvowelsigntamil</string>
      <string>minus.tamil</string>
      <string>monthsigntamil</string>
      <string>multiply.tamil</string>
      <string>naiivowelsigntamil</string>
      <string>naprehalftamil</string>
      <string>natamil</string>
      <string>nauuvowelsigntamil</string>
      <string>nauvowelsigntamil</string>
      <string>ngaiivowelsigntamil</string>
      <string>ngaprehalftamil</string>
      <string>ngatamil</string>
      <string>ngauuvowelsigntamil</string>
      <string>ngauvowelsigntamil</string>
      <string>nine.tamil</string>
      <string>ninetamil</string>
      <string>nnaiivowelsigntamil</string>
      <string>nnaprehalftamil</string>
      <string>nnatamil</string>
      <string>nnauuvowelsigntamil</string>
      <string>nnauvowelsigntamil</string>
      <string>nnnaiivowelsigntamil</string>
      <string>nnnaprehalftamil</string>
      <string>nnnatamil</string>
      <string>nnnauuvowelsigntamil</string>
      <string>nnnauvowelsigntamil</string>
      <string>numbersign.tamil</string>
      <string>numsigntamil</string>
      <string>nyaiivowelsigntamil</string>
      <string>nyaprehalftamil</string>
      <string>nyatamil</string>
      <string>nyauuvowelsigntamil</string>
      <string>nyauvowelsigntamil</string>
      <string>ohmsigntamil</string>
      <string>one.tamil</string>
      <string>onetamil</string>
      <string>ootamil</string>
      <string>oovowelsigntamil</string>
      <string>otamil</string>
      <string>ovowelsigntamil</string>
      <string>paiivowelsigntamil</string>
      <string>paprehalftamil</string>
      <string>parenleft.tamil</string>
      <string>parenright.tamil</string>
      <string>patamil</string>
      <string>pauuvowelsigntamil</string>
      <string>pauvowelsigntamil</string>
      <string>percent.tamil</string>
      <string>period.tamil</string>
      <string>plus.tamil</string>
      <string>question.tamil</string>
      <string>quotedbl.tamil</string>
      <string>quotedblleft.tamil</string>
      <string>quotedblright.tamil</string>
      <string>quoteleft.tamil</string>
      <string>quoteright.tamil</string>
      <string>quotesingle.tamil</string>
      <string>raiivowelsigntamil</string>
      <string>raprehalftamil</string>
      <string>ratamil</string>
      <string>rauuvowelsigntamil</string>
      <string>rauvowelsigntamil</string>
      <string>rraiivowelsigntamil</string>
      <string>rraprehalftamil</string>
      <string>rratamil</string>
      <string>rrauuvowelsigntamil</string>
      <string>rrauvowelsigntamil</string>
      <string>rupeesigntamil</string>
      <string>saiivowelsigntamil</string>
      <string>saivowelsigntamil</string>
      <string>saprehalftamil</string>
      <string>satamil</string>
      <string>semicolon.tamil</string>
      <string>seven.tamil</string>
      <string>seventamil</string>
      <string>sfthyphen.tamil</string>
      <string>shaprehalftamil</string>
      <string>shatamil</string>
      <string>shritamil</string>
      <string>six.tamil</string>
      <string>sixtamil</string>
      <string>slash.tamil</string>
      <string>space</string>
      <string>ssaiivowelsigntamil</string>
      <string>ssaprehalftamil</string>
      <string>ssatamil</string>
      <string>taiivowelsigntamil</string>
      <string>taprehalftamil</string>
      <string>tatamil</string>
      <string>tauuvowelsigntamil</string>
      <string>tauvowelsigntamil</string>
      <string>tchaiivowelsigntamil</string>
      <string>tchaprehalftamil</string>
      <string>tchatamil</string>
      <string>tentamil</string>
      <string>thousandtamil</string>
      <string>three.tamil</string>
      <string>threetamil</string>
      <string>ttaiivowelsigntamil</string>
      <string>ttaivowelsigntamil</string>
      <string>ttaprehalftamil</string>
      <string>ttatamil</string>
      <string>ttauuvowelsigntamil</string>
      <string>ttauvowelsigntamil</string>
      <string>two.tamil</string>
      <string>twotamil</string>
      <string>u11303</string>
      <string>u1133C</string>
      <string>underscore.tamil</string>
      <string>uni00A0.tamil</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni2074</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni20B9.tamil</string>
      <string>uni25CC</string>
      <string>uniA8F3</string>
      <string>utamil</string>
      <string>uutamil</string>
      <string>uuvowelsignalttamil</string>
      <string>uuvowelsigntamil</string>
      <string>uvowelsignalttamil</string>
      <string>uvowelsigntamil</string>
      <string>vaiivowelsigntamil</string>
      <string>vaprehalftamil</string>
      <string>vatamil</string>
      <string>vauuvowelsigntamil</string>
      <string>vauvowelsigntamil</string>
      <string>viramatamil</string>
      <string>visargatamil</string>
      <string>yaiivowelsigntamil</string>
      <string>yaprehalftamil</string>
      <string>yatamil</string>
      <string>yauuvowelsigntamil</string>
      <string>yauvowelsigntamil</string>
      <string>yearsigntamil</string>
      <string>zero.tamil</string>
      <string>zerotamil</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aatamil</string>
      <string>aavowelsigntamil</string>
      <string>aitamil</string>
      <string>aivowelsigntamil</string>
      <string>anusvaratamil</string>
      <string>asabovesigntamil</string>
      <string>asciicircum.tamil</string>
      <string>asciitilde.tamil</string>
      <string>asterisk.tamil</string>
      <string>atamil</string>
      <string>aulengthmarktamil</string>
      <string>autamil</string>
      <string>auvowelsigntamil</string>
      <string>backslash.tamil</string>
      <string>bar.tamil</string>
      <string>braceleft.tamil</string>
      <string>braceright.tamil</string>
      <string>bracketleft.tamil</string>
      <string>bracketright.tamil</string>
      <string>caiivowelsigntamil</string>
      <string>caprehalftamil</string>
      <string>catamil</string>
      <string>cauuvowelsigntamil</string>
      <string>cauvowelsigntamil</string>
      <string>colon.tamil</string>
      <string>comma.tamil</string>
      <string>creditsigntamil</string>
      <string>danda.tamil</string>
      <string>daysigntamil</string>
      <string>dbldanda.tamil</string>
      <string>debitsigntamil</string>
      <string>divide.tamil</string>
      <string>eetamil</string>
      <string>eevowelsigntamil</string>
      <string>eight.tamil</string>
      <string>eighttamil</string>
      <string>ellipsis.tamil</string>
      <string>emdash.tamil</string>
      <string>endash.tamil</string>
      <string>equal.tamil</string>
      <string>etamil</string>
      <string>evowelsigntamil</string>
      <string>exclam.tamil</string>
      <string>five.tamil</string>
      <string>fivetamil</string>
      <string>four.tamil</string>
      <string>fourtamil</string>
      <string>greater.tamil</string>
      <string>haiivowelsigntamil</string>
      <string>haprehalftamil</string>
      <string>hatamil</string>
      <string>hundredtamil</string>
      <string>hyphen.tamil</string>
      <string>iitamil</string>
      <string>iivowelsigntamil</string>
      <string>itamil</string>
      <string>ivowelsign1tamil</string>
      <string>ivowelsign2tamil</string>
      <string>ivowelsign3tamil</string>
      <string>ivowelsign4tamil</string>
      <string>ivowelsigntamil</string>
      <string>jaiivowelsigntamil</string>
      <string>japrehalftamil</string>
      <string>jatamil</string>
      <string>kaiivowelsigntamil</string>
      <string>kaprehalftamil</string>
      <string>katamil</string>
      <string>kauuvowelsigntamil</string>
      <string>kauvowelsigntamil</string>
      <string>laiivowelsigntamil</string>
      <string>laivowelsigntamil</string>
      <string>laprehalftamil</string>
      <string>latamil</string>
      <string>lauuvowelsigntamil</string>
      <string>lauvowelsigntamil</string>
      <string>less.tamil</string>
      <string>llaiivowelsigntamil</string>
      <string>llaprehalftamil</string>
      <string>llatamil</string>
      <string>llauuvowelsigntamil</string>
      <string>llauvowelsigntamil</string>
      <string>lllaiivowelsigntamil</string>
      <string>lllaprehalftamil</string>
      <string>lllatamil</string>
      <string>lllauuvowelsigntamil</string>
      <string>lllauvowelsigntamil</string>
      <string>maiivowelsigntamil</string>
      <string>maprehalftamil</string>
      <string>matamil</string>
      <string>mauuvowelsigntamil</string>
      <string>mauvowelsigntamil</string>
      <string>minus.tamil</string>
      <string>monthsigntamil</string>
      <string>multiply.tamil</string>
      <string>naiivowelsigntamil</string>
      <string>naprehalftamil</string>
      <string>natamil</string>
      <string>nauuvowelsigntamil</string>
      <string>nauvowelsigntamil</string>
      <string>ngaiivowelsigntamil</string>
      <string>ngaprehalftamil</string>
      <string>ngatamil</string>
      <string>ngauuvowelsigntamil</string>
      <string>ngauvowelsigntamil</string>
      <string>nine.tamil</string>
      <string>ninetamil</string>
      <string>nnaiivowelsigntamil</string>
      <string>nnaprehalftamil</string>
      <string>nnatamil</string>
      <string>nnauuvowelsigntamil</string>
      <string>nnauvowelsigntamil</string>
      <string>nnnaiivowelsigntamil</string>
      <string>nnnaprehalftamil</string>
      <string>nnnatamil</string>
      <string>nnnauuvowelsigntamil</string>
      <string>nnnauvowelsigntamil</string>
      <string>numbersign.tamil</string>
      <string>numsigntamil</string>
      <string>nyaiivowelsigntamil</string>
      <string>nyaprehalftamil</string>
      <string>nyatamil</string>
      <string>nyauuvowelsigntamil</string>
      <string>nyauvowelsigntamil</string>
      <string>ohmsigntamil</string>
      <string>one.tamil</string>
      <string>onetamil</string>
      <string>ootamil</string>
      <string>oovowelsigntamil</string>
      <string>otamil</string>
      <string>ovowelsigntamil</string>
      <string>paiivowelsigntamil</string>
      <string>paprehalftamil</string>
      <string>parenleft.tamil</string>
      <string>parenright.tamil</string>
      <string>patamil</string>
      <string>pauuvowelsigntamil</string>
      <string>pauvowelsigntamil</string>
      <string>percent.tamil</string>
      <string>period.tamil</string>
      <string>plus.tamil</string>
      <string>question.tamil</string>
      <string>quotedbl.tamil</string>
      <string>quotedblleft.tamil</string>
      <string>quotedblright.tamil</string>
      <string>quoteleft.tamil</string>
      <string>quoteright.tamil</string>
      <string>quotesingle.tamil</string>
      <string>raiivowelsigntamil</string>
      <string>raprehalftamil</string>
      <string>ratamil</string>
      <string>rauuvowelsigntamil</string>
      <string>rauvowelsigntamil</string>
      <string>rraiivowelsigntamil</string>
      <string>rraprehalftamil</string>
      <string>rratamil</string>
      <string>rrauuvowelsigntamil</string>
      <string>rrauvowelsigntamil</string>
      <string>rupeesigntamil</string>
      <string>saiivowelsigntamil</string>
      <string>saivowelsigntamil</string>
      <string>saprehalftamil</string>
      <string>satamil</string>
      <string>semicolon.tamil</string>
      <string>seven.tamil</string>
      <string>seventamil</string>
      <string>sfthyphen.tamil</string>
      <string>shaprehalftamil</string>
      <string>shatamil</string>
      <string>shritamil</string>
      <string>six.tamil</string>
      <string>sixtamil</string>
      <string>slash.tamil</string>
      <string>space</string>
      <string>ssaiivowelsigntamil</string>
      <string>ssaprehalftamil</string>
      <string>ssatamil</string>
      <string>taiivowelsigntamil</string>
      <string>taprehalftamil</string>
      <string>tatamil</string>
      <string>tauuvowelsigntamil</string>
      <string>tauvowelsigntamil</string>
      <string>tchaiivowelsigntamil</string>
      <string>tchaprehalftamil</string>
      <string>tchatamil</string>
      <string>tentamil</string>
      <string>thousandtamil</string>
      <string>three.tamil</string>
      <string>threetamil</string>
      <string>ttaiivowelsigntamil</string>
      <string>ttaivowelsigntamil</string>
      <string>ttaprehalftamil</string>
      <string>ttatamil</string>
      <string>ttauuvowelsigntamil</string>
      <string>ttauvowelsigntamil</string>
      <string>two.tamil</string>
      <string>twotamil</string>
      <string>u11303</string>
      <string>u1133C</string>
      <string>underscore.tamil</string>
      <string>uni00A0.tamil</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni2074</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni20B9.tamil</string>
      <string>uni25CC</string>
      <string>uniA8F3</string>
      <string>utamil</string>
      <string>uutamil</string>
      <string>uuvowelsignalttamil</string>
      <string>uuvowelsigntamil</string>
      <string>uvowelsignalttamil</string>
      <string>uvowelsigntamil</string>
      <string>vaiivowelsigntamil</string>
      <string>vaprehalftamil</string>
      <string>vatamil</string>
      <string>vauuvowelsigntamil</string>
      <string>vauvowelsigntamil</string>
      <string>viramatamil</string>
      <string>visargatamil</string>
      <string>yaiivowelsigntamil</string>
      <string>yaprehalftamil</string>
      <string>yatamil</string>
      <string>yauuvowelsigntamil</string>
      <string>yauvowelsigntamil</string>
      <string>yearsigntamil</string>
      <string>zero.tamil</string>
      <string>zerotamil</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aatamil</string>
      <string>aavowelsigntamil</string>
      <string>aitamil</string>
      <string>aivowelsigntamil</string>
      <string>anusvaratamil</string>
      <string>asabovesigntamil</string>
      <string>asciicircum.tamil</string>
      <string>asciitilde.tamil</string>
      <string>asterisk.tamil</string>
      <string>atamil</string>
      <string>aulengthmarktamil</string>
      <string>autamil</string>
      <string>auvowelsigntamil</string>
      <string>backslash.tamil</string>
      <string>bar.tamil</string>
      <string>braceleft.tamil</string>
      <string>braceright.tamil</string>
      <string>bracketleft.tamil</string>
      <string>bracketright.tamil</string>
      <string>caiivowelsigntamil</string>
      <string>caprehalftamil</string>
      <string>catamil</string>
      <string>cauuvowelsigntamil</string>
      <string>cauvowelsigntamil</string>
      <string>colon.tamil</string>
      <string>comma.tamil</string>
      <string>creditsigntamil</string>
      <string>danda.tamil</string>
      <string>daysigntamil</string>
      <string>dbldanda.tamil</string>
      <string>debitsigntamil</string>
      <string>divide.tamil</string>
      <string>eetamil</string>
      <string>eevowelsigntamil</string>
      <string>eight.tamil</string>
      <string>eighttamil</string>
      <string>ellipsis.tamil</string>
      <string>emdash.tamil</string>
      <string>endash.tamil</string>
      <string>equal.tamil</string>
      <string>etamil</string>
      <string>evowelsigntamil</string>
      <string>exclam.tamil</string>
      <string>five.tamil</string>
      <string>fivetamil</string>
      <string>four.tamil</string>
      <string>fourtamil</string>
      <string>greater.tamil</string>
      <string>haiivowelsigntamil</string>
      <string>haprehalftamil</string>
      <string>hatamil</string>
      <string>hundredtamil</string>
      <string>hyphen.tamil</string>
      <string>iitamil</string>
      <string>iivowelsigntamil</string>
      <string>itamil</string>
      <string>ivowelsign1tamil</string>
      <string>ivowelsign2tamil</string>
      <string>ivowelsign3tamil</string>
      <string>ivowelsign4tamil</string>
      <string>ivowelsigntamil</string>
      <string>jaiivowelsigntamil</string>
      <string>japrehalftamil</string>
      <string>jatamil</string>
      <string>kaiivowelsigntamil</string>
      <string>kaprehalftamil</string>
      <string>katamil</string>
      <string>kauuvowelsigntamil</string>
      <string>kauvowelsigntamil</string>
      <string>laiivowelsigntamil</string>
      <string>laivowelsigntamil</string>
      <string>laprehalftamil</string>
      <string>latamil</string>
      <string>lauuvowelsigntamil</string>
      <string>lauvowelsigntamil</string>
      <string>less.tamil</string>
      <string>llaiivowelsigntamil</string>
      <string>llaprehalftamil</string>
      <string>llatamil</string>
      <string>llauuvowelsigntamil</string>
      <string>llauvowelsigntamil</string>
      <string>lllaiivowelsigntamil</string>
      <string>lllaprehalftamil</string>
      <string>lllatamil</string>
      <string>lllauuvowelsigntamil</string>
      <string>lllauvowelsigntamil</string>
      <string>maiivowelsigntamil</string>
      <string>maprehalftamil</string>
      <string>matamil</string>
      <string>mauuvowelsigntamil</string>
      <string>mauvowelsigntamil</string>
      <string>minus.tamil</string>
      <string>monthsigntamil</string>
      <string>multiply.tamil</string>
      <string>naiivowelsigntamil</string>
      <string>naprehalftamil</string>
      <string>natamil</string>
      <string>nauuvowelsigntamil</string>
      <string>nauvowelsigntamil</string>
      <string>ngaiivowelsigntamil</string>
      <string>ngaprehalftamil</string>
      <string>ngatamil</string>
      <string>ngauuvowelsigntamil</string>
      <string>ngauvowelsigntamil</string>
      <string>nine.tamil</string>
      <string>ninetamil</string>
      <string>nnaiivowelsigntamil</string>
      <string>nnaprehalftamil</string>
      <string>nnatamil</string>
      <string>nnauuvowelsigntamil</string>
      <string>nnauvowelsigntamil</string>
      <string>nnnaiivowelsigntamil</string>
      <string>nnnaprehalftamil</string>
      <string>nnnatamil</string>
      <string>nnnauuvowelsigntamil</string>
      <string>nnnauvowelsigntamil</string>
      <string>numbersign.tamil</string>
      <string>numsigntamil</string>
      <string>nyaiivowelsigntamil</string>
      <string>nyaprehalftamil</string>
      <string>nyatamil</string>
      <string>nyauuvowelsigntamil</string>
      <string>nyauvowelsigntamil</string>
      <string>ohmsigntamil</string>
      <string>one.tamil</string>
      <string>onetamil</string>
      <string>ootamil</string>
      <string>oovowelsigntamil</string>
      <string>otamil</string>
      <string>ovowelsigntamil</string>
      <string>paiivowelsigntamil</string>
      <string>paprehalftamil</string>
      <string>parenleft.tamil</string>
      <string>parenright.tamil</string>
      <string>patamil</string>
      <string>pauuvowelsigntamil</string>
      <string>pauvowelsigntamil</string>
      <string>percent.tamil</string>
      <string>period.tamil</string>
      <string>plus.tamil</string>
      <string>question.tamil</string>
      <string>quotedbl.tamil</string>
      <string>quotedblleft.tamil</string>
      <string>quotedblright.tamil</string>
      <string>quoteleft.tamil</string>
      <string>quoteright.tamil</string>
      <string>quotesingle.tamil</string>
      <string>raiivowelsigntamil</string>
      <string>raprehalftamil</string>
      <string>ratamil</string>
      <string>rauuvowelsigntamil</string>
      <string>rauvowelsigntamil</string>
      <string>rraiivowelsigntamil</string>
      <string>rraprehalftamil</string>
      <string>rratamil</string>
      <string>rrauuvowelsigntamil</string>
      <string>rrauvowelsigntamil</string>
      <string>rupeesigntamil</string>
      <string>saiivowelsigntamil</string>
      <string>saivowelsigntamil</string>
      <string>saprehalftamil</string>
      <string>satamil</string>
      <string>semicolon.tamil</string>
      <string>seven.tamil</string>
      <string>seventamil</string>
      <string>sfthyphen.tamil</string>
      <string>shaprehalftamil</string>
      <string>shatamil</string>
      <string>shritamil</string>
      <string>six.tamil</string>
      <string>sixtamil</string>
      <string>slash.tamil</string>
      <string>space</string>
      <string>ssaiivowelsigntamil</string>
      <string>ssaprehalftamil</string>
      <string>ssatamil</string>
      <string>taiivowelsigntamil</string>
      <string>taprehalftamil</string>
      <string>tatamil</string>
      <string>tauuvowelsigntamil</string>
      <string>tauvowelsigntamil</string>
      <string>tchaiivowelsigntamil</string>
      <string>tchaprehalftamil</string>
      <string>tchatamil</string>
      <string>tentamil</string>
      <string>thousandtamil</string>
      <string>three.tamil</string>
      <string>threetamil</string>
      <string>ttaiivowelsigntamil</string>
      <string>ttaivowelsigntamil</string>
      <string>ttaprehalftamil</string>
      <string>ttatamil</string>
      <string>ttauuvowelsigntamil</string>
      <string>ttauvowelsigntamil</string>
      <string>two.tamil</string>
      <string>twotamil</string>
      <string>u11303</string>
      <string>u1133C</string>
      <string>underscore.tamil</string>
      <string>uni00A0.tamil</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni2074</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni20B9.tamil</string>
      <string>uni25CC</string>
      <string>uniA8F3</string>
      <string>utamil</string>
      <string>uutamil</string>
      <string>uuvowelsignalttamil</string>
      <string>uuvowelsigntamil</string>
      <string>uvowelsignalttamil</string>
      <string>uvowelsigntamil</string>
      <string>vaiivowelsigntamil</string>
      <string>vaprehalftamil</string>
      <string>vatamil</string>
      <string>vauuvowelsigntamil</string>
      <string>vauvowelsigntamil</string>
      <string>viramatamil</string>
      <string>visargatamil</string>
      <string>yaiivowelsigntamil</string>
      <string>yaprehalftamil</string>
      <string>yatamil</string>
      <string>yauuvowelsigntamil</string>
      <string>yauvowelsigntamil</string>
      <string>yearsigntamil</string>
      <string>zero.tamil</string>
      <string>zerotamil</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aatamil</string>
      <string>aavowelsigntamil</string>
      <string>aitamil</string>
      <string>aivowelsigntamil</string>
      <string>anusvaratamil</string>
      <string>asabovesigntamil</string>
      <string>asciicircum.tamil</string>
      <string>asciitilde.tamil</string>
      <string>asterisk.tamil</string>
      <string>atamil</string>
      <string>aulengthmarktamil</string>
      <string>autamil</string>
      <string>auvowelsigntamil</string>
      <string>backslash.tamil</string>
      <string>bar.tamil</string>
      <string>braceleft.tamil</string>
      <string>braceright.tamil</string>
      <string>bracketleft.tamil</string>
      <string>bracketright.tamil</string>
      <string>caiivowelsigntamil</string>
      <string>caprehalftamil</string>
      <string>catamil</string>
      <string>cauuvowelsigntamil</string>
      <string>cauvowelsigntamil</string>
      <string>colon.tamil</string>
      <string>comma.tamil</string>
      <string>creditsigntamil</string>
      <string>danda.tamil</string>
      <string>daysigntamil</string>
      <string>dbldanda.tamil</string>
      <string>debitsigntamil</string>
      <string>divide.tamil</string>
      <string>eetamil</string>
      <string>eevowelsigntamil</string>
      <string>eight.tamil</string>
      <string>eighttamil</string>
      <string>ellipsis.tamil</string>
      <string>emdash.tamil</string>
      <string>endash.tamil</string>
      <string>equal.tamil</string>
      <string>etamil</string>
      <string>evowelsigntamil</string>
      <string>exclam.tamil</string>
      <string>five.tamil</string>
      <string>fivetamil</string>
      <string>four.tamil</string>
      <string>fourtamil</string>
      <string>greater.tamil</string>
      <string>haiivowelsigntamil</string>
      <string>haprehalftamil</string>
      <string>hatamil</string>
      <string>hundredtamil</string>
      <string>hyphen.tamil</string>
      <string>iitamil</string>
      <string>iivowelsigntamil</string>
      <string>itamil</string>
      <string>ivowelsign1tamil</string>
      <string>ivowelsign2tamil</string>
      <string>ivowelsign3tamil</string>
      <string>ivowelsign4tamil</string>
      <string>ivowelsigntamil</string>
      <string>jaiivowelsigntamil</string>
      <string>japrehalftamil</string>
      <string>jatamil</string>
      <string>kaiivowelsigntamil</string>
      <string>kaprehalftamil</string>
      <string>katamil</string>
      <string>kauuvowelsigntamil</string>
      <string>kauvowelsigntamil</string>
      <string>laiivowelsigntamil</string>
      <string>laivowelsigntamil</string>
      <string>laprehalftamil</string>
      <string>latamil</string>
      <string>lauuvowelsigntamil</string>
      <string>lauvowelsigntamil</string>
      <string>less.tamil</string>
      <string>llaiivowelsigntamil</string>
      <string>llaprehalftamil</string>
      <string>llatamil</string>
      <string>llauuvowelsigntamil</string>
      <string>llauvowelsigntamil</string>
      <string>lllaiivowelsigntamil</string>
      <string>lllaprehalftamil</string>
      <string>lllatamil</string>
      <string>lllauuvowelsigntamil</string>
      <string>lllauvowelsigntamil</string>
      <string>maiivowelsigntamil</string>
      <string>maprehalftamil</string>
      <string>matamil</string>
      <string>mauuvowelsigntamil</string>
      <string>mauvowelsigntamil</string>
      <string>minus.tamil</string>
      <string>monthsigntamil</string>
      <string>multiply.tamil</string>
      <string>naiivowelsigntamil</string>
      <string>naprehalftamil</string>
      <string>natamil</string>
      <string>nauuvowelsigntamil</string>
      <string>nauvowelsigntamil</string>
      <string>ngaiivowelsigntamil</string>
      <string>ngaprehalftamil</string>
      <string>ngatamil</string>
      <string>ngauuvowelsigntamil</string>
      <string>ngauvowelsigntamil</string>
      <string>nine.tamil</string>
      <string>ninetamil</string>
      <string>nnaiivowelsigntamil</string>
      <string>nnaprehalftamil</string>
      <string>nnatamil</string>
      <string>nnauuvowelsigntamil</string>
      <string>nnauvowelsigntamil</string>
      <string>nnnaiivowelsigntamil</string>
      <string>nnnaprehalftamil</string>
      <string>nnnatamil</string>
      <string>nnnauuvowelsigntamil</string>
      <string>nnnauvowelsigntamil</string>
      <string>numbersign.tamil</string>
      <string>numsigntamil</string>
      <string>nyaiivowelsigntamil</string>
      <string>nyaprehalftamil</string>
      <string>nyatamil</string>
      <string>nyauuvowelsigntamil</string>
      <string>nyauvowelsigntamil</string>
      <string>ohmsigntamil</string>
      <string>one.tamil</string>
      <string>onetamil</string>
      <string>ootamil</string>
      <string>oovowelsigntamil</string>
      <string>otamil</string>
      <string>ovowelsigntamil</string>
      <string>paiivowelsigntamil</string>
      <string>paprehalftamil</string>
      <string>parenleft.tamil</string>
      <string>parenright.tamil</string>
      <string>patamil</string>
      <string>pauuvowelsigntamil</string>
      <string>pauvowelsigntamil</string>
      <string>percent.tamil</string>
      <string>period.tamil</string>
      <string>plus.tamil</string>
      <string>question.tamil</string>
      <string>quotedbl.tamil</string>
      <string>quotedblleft.tamil</string>
      <string>quotedblright.tamil</string>
      <string>quoteleft.tamil</string>
      <string>quoteright.tamil</string>
      <string>quotesingle.tamil</string>
      <string>raiivowelsigntamil</string>
      <string>raprehalftamil</string>
      <string>ratamil</string>
      <string>rauuvowelsigntamil</string>
      <string>rauvowelsigntamil</string>
      <string>rraiivowelsigntamil</string>
      <string>rraprehalftamil</string>
      <string>rratamil</string>
      <string>rrauuvowelsigntamil</string>
      <string>rrauvowelsigntamil</string>
      <string>rupeesigntamil</string>
      <string>saiivowelsigntamil</string>
      <string>saivowelsigntamil</string>
      <string>saprehalftamil</string>
      <string>satamil</string>
      <string>semicolon.tamil</string>
      <string>seven.tamil</string>
      <string>seventamil</string>
      <string>sfthyphen.tamil</string>
      <string>shaprehalftamil</string>
      <string>shatamil</string>
      <string>shritamil</string>
      <string>six.tamil</string>
      <string>sixtamil</string>
      <string>slash.tamil</string>
      <string>space</string>
      <string>ssaiivowelsigntamil</string>
      <string>ssaprehalftamil</string>
      <string>ssatamil</string>
      <string>taiivowelsigntamil</string>
      <string>taprehalftamil</string>
      <string>tatamil</string>
      <string>tauuvowelsigntamil</string>
      <string>tauvowelsigntamil</string>
      <string>tchaiivowelsigntamil</string>
      <string>tchaprehalftamil</string>
      <string>tchatamil</string>
      <string>tentamil</string>
      <string>thousandtamil</string>
      <string>three.tamil</string>
      <string>threetamil</string>
      <string>ttaiivowelsigntamil</string>
      <string>ttaivowelsigntamil</string>
      <string>ttaprehalftamil</string>
      <string>ttatamil</string>
      <string>ttauuvowelsigntamil</string>
      <string>ttauvowelsigntamil</string>
      <string>two.tamil</string>
      <string>twotamil</string>
      <string>u11303</string>
      <string>u1133C</string>
      <string>underscore.tamil</string>
      <string>uni00A0.tamil</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni2074</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni20B9.tamil</string>
      <string>uni25CC</string>
      <string>uniA8F3</string>
      <string>utamil</string>
      <string>uutamil</string>
      <string>uuvowelsignalttamil</string>
      <string>uuvowelsigntamil</string>
      <string>uvowelsignalttamil</string>
      <string>uvowelsigntamil</string>
      <string>vaiivowelsigntamil</string>
      <string>vaprehalftamil</string>
      <string>vatamil</string>
      <string>vauuvowelsigntamil</string>
      <string>vauvowelsigntamil</string>
      <string>viramatamil</string>
      <string>visargatamil</string>
      <string>yaiivowelsigntamil</string>
      <string>yaprehalftamil</string>
      <string>yatamil</string>
      <string>yauuvowelsigntamil</string>
      <string>yauvowelsigntamil</string>
      <string>yearsigntamil</string>
      <string>zero.tamil</string>
      <string>zerotamil</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>danda.tamil</key>
      <string>uni0964.tamil</string>
      <key>dbldanda.tamil</key>
      <string>uni0965.tamil</string>
      <key>sfthyphen.tamil</key>
      <string>uni00AD.tamil</string>
    </dict>
  </dict>
</plist>
