<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Dec 22 19, 17:34</string>
      <string>glyphs.D_ec 22 19, 17_34</string>
    </array>
    <array>
      <string>Dec 22 19, 17:34.background</string>
      <string>glyphs.D_ec 22 19, 17_34.background</string>
    </array>
    <array>
      <string>Dec 22 19, 17:45</string>
      <string>glyphs.D_ec 22 19, 17_45</string>
    </array>
    <array>
      <string>Dec 22 19, 17:52</string>
      <string>glyphs.D_ec 22 19, 17_52</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold Condensed</string>
      <string>glyphs.B_old C_ondensed</string>
    </array>
    <array>
      <string>Regular</string>
      <string>glyphs.R_egular</string>
    </array>
    <array>
      <string>SemiBold</string>
      <string>glyphs.S_emiB_old</string>
    </array>
    <array>
      <string>Condensed</string>
      <string>glyphs.C_ondensed</string>
    </array>
    <array>
      <string>SemiBold Condensed</string>
      <string>glyphs.S_emiB_old C_ondensed</string>
    </array>
    <array>
      <string>Light Condensed</string>
      <string>glyphs.L_ight C_ondensed</string>
    </array>
    <array>
      <string>Bold #1</string>
      <string>glyphs.B_old #1</string>
    </array>
    <array>
      <string>Bold Condensed #1</string>
      <string>glyphs.B_old C_ondensed #1</string>
    </array>
    <array>
      <string>Regular #1</string>
      <string>glyphs.R_egular #1</string>
    </array>
    <array>
      <string>SemiBold #1</string>
      <string>glyphs.S_emiB_old #1</string>
    </array>
    <array>
      <string>Condensed #1</string>
      <string>glyphs.C_ondensed #1</string>
    </array>
    <array>
      <string>SemiBold Condensed #1</string>
      <string>glyphs.S_emiB_old C_ondensed #1</string>
    </array>
    <array>
      <string>Light Condensed #1</string>
      <string>glyphs.L_ight C_ondensed #1</string>
    </array>
    <array>
      <string>Bold #2</string>
      <string>glyphs.B_old #2</string>
    </array>
    <array>
      <string>Bold Condensed #2</string>
      <string>glyphs.B_old C_ondensed #2</string>
    </array>
    <array>
      <string>Regular #2</string>
      <string>glyphs.R_egular #2</string>
    </array>
    <array>
      <string>SemiBold #2</string>
      <string>glyphs.S_emiB_old #2</string>
    </array>
    <array>
      <string>Condensed #2</string>
      <string>glyphs.C_ondensed #2</string>
    </array>
    <array>
      <string>SemiBold Condensed #2</string>
      <string>glyphs.S_emiB_old C_ondensed #2</string>
    </array>
    <array>
      <string>Light Condensed #2</string>
      <string>glyphs.L_ight C_ondensed #2</string>
    </array>
    <array>
      <string>Bold #3</string>
      <string>glyphs.B_old #3</string>
    </array>
    <array>
      <string>Bold Condensed #3</string>
      <string>glyphs.B_old C_ondensed #3</string>
    </array>
    <array>
      <string>Regular #3</string>
      <string>glyphs.R_egular #3</string>
    </array>
    <array>
      <string>SemiBold #3</string>
      <string>glyphs.S_emiB_old #3</string>
    </array>
    <array>
      <string>Condensed #3</string>
      <string>glyphs.C_ondensed #3</string>
    </array>
    <array>
      <string>SemiBold Condensed #3</string>
      <string>glyphs.S_emiB_old C_ondensed #3</string>
    </array>
    <array>
      <string>Light Condensed #3</string>
      <string>glyphs.L_ight C_ondensed #3</string>
    </array>
    <array>
      <string>Bold #4</string>
      <string>glyphs.B_old #4</string>
    </array>
    <array>
      <string>Bold Condensed #4</string>
      <string>glyphs.B_old C_ondensed #4</string>
    </array>
    <array>
      <string>Regular #4</string>
      <string>glyphs.R_egular #4</string>
    </array>
    <array>
      <string>SemiBold #4</string>
      <string>glyphs.S_emiB_old #4</string>
    </array>
    <array>
      <string>Condensed #4</string>
      <string>glyphs.C_ondensed #4</string>
    </array>
    <array>
      <string>SemiBold Condensed #4</string>
      <string>glyphs.S_emiB_old C_ondensed #4</string>
    </array>
    <array>
      <string>Light Condensed #4</string>
      <string>glyphs.L_ight C_ondensed #4</string>
    </array>
    <array>
      <string>Bold #5</string>
      <string>glyphs.B_old #5</string>
    </array>
    <array>
      <string>Bold Condensed #5</string>
      <string>glyphs.B_old C_ondensed #5</string>
    </array>
    <array>
      <string>Regular #5</string>
      <string>glyphs.R_egular #5</string>
    </array>
    <array>
      <string>SemiBold #5</string>
      <string>glyphs.S_emiB_old #5</string>
    </array>
    <array>
      <string>Condensed #5</string>
      <string>glyphs.C_ondensed #5</string>
    </array>
    <array>
      <string>SemiBold Condensed #5</string>
      <string>glyphs.S_emiB_old C_ondensed #5</string>
    </array>
    <array>
      <string>Light Condensed #5</string>
      <string>glyphs.L_ight C_ondensed #5</string>
    </array>
    <array>
      <string>Bold #6</string>
      <string>glyphs.B_old #6</string>
    </array>
    <array>
      <string>Bold Condensed #6</string>
      <string>glyphs.B_old C_ondensed #6</string>
    </array>
    <array>
      <string>Regular #6</string>
      <string>glyphs.R_egular #6</string>
    </array>
    <array>
      <string>SemiBold #6</string>
      <string>glyphs.S_emiB_old #6</string>
    </array>
    <array>
      <string>Condensed #6</string>
      <string>glyphs.C_ondensed #6</string>
    </array>
    <array>
      <string>SemiBold Condensed #6</string>
      <string>glyphs.S_emiB_old C_ondensed #6</string>
    </array>
    <array>
      <string>Light Condensed #6</string>
      <string>glyphs.L_ight C_ondensed #6</string>
    </array>
    <array>
      <string>Bold #7</string>
      <string>glyphs.B_old #7</string>
    </array>
    <array>
      <string>Bold Condensed #7</string>
      <string>glyphs.B_old C_ondensed #7</string>
    </array>
    <array>
      <string>Regular #7</string>
      <string>glyphs.R_egular #7</string>
    </array>
    <array>
      <string>SemiBold #7</string>
      <string>glyphs.S_emiB_old #7</string>
    </array>
    <array>
      <string>Condensed #7</string>
      <string>glyphs.C_ondensed #7</string>
    </array>
    <array>
      <string>SemiBold Condensed #7</string>
      <string>glyphs.S_emiB_old C_ondensed #7</string>
    </array>
    <array>
      <string>Light Condensed #7</string>
      <string>glyphs.L_ight C_ondensed #7</string>
    </array>
    <array>
      <string>Bold #8</string>
      <string>glyphs.B_old #8</string>
    </array>
    <array>
      <string>Bold Condensed #8</string>
      <string>glyphs.B_old C_ondensed #8</string>
    </array>
    <array>
      <string>Regular #8</string>
      <string>glyphs.R_egular #8</string>
    </array>
    <array>
      <string>SemiBold #8</string>
      <string>glyphs.S_emiB_old #8</string>
    </array>
    <array>
      <string>Condensed #8</string>
      <string>glyphs.C_ondensed #8</string>
    </array>
    <array>
      <string>SemiBold Condensed #8</string>
      <string>glyphs.S_emiB_old C_ondensed #8</string>
    </array>
    <array>
      <string>Light Condensed #8</string>
      <string>glyphs.L_ight C_ondensed #8</string>
    </array>
  </array>
</plist>
