<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Dec 22 19, 17:34</string>
      <string>glyphs.D_ec 22 19, 17_34</string>
    </array>
    <array>
      <string>Dec 22 19, 17:34.background</string>
      <string>glyphs.D_ec 22 19, 17_34.background</string>
    </array>
    <array>
      <string>Dec 22 19, 17:45</string>
      <string>glyphs.D_ec 22 19, 17_45</string>
    </array>
    <array>
      <string>Dec 22 19, 17:52</string>
      <string>glyphs.D_ec 22 19, 17_52</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Bold Condensed</string>
      <string>glyphs.B_old C_ondensed</string>
    </array>
    <array>
      <string>Regular</string>
      <string>glyphs.R_egular</string>
    </array>
    <array>
      <string>SemiBold</string>
      <string>glyphs.S_emiB_old</string>
    </array>
    <array>
      <string>Condensed</string>
      <string>glyphs.C_ondensed</string>
    </array>
    <array>
      <string>SemiBold Condensed</string>
      <string>glyphs.S_emiB_old C_ondensed</string>
    </array>
    <array>
      <string>Light Condensed</string>
      <string>glyphs.L_ight C_ondensed</string>
    </array>
  </array>
</plist>
