<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>batak_null</key>
    <string>batak_null.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni1BC0</key>
    <string>uni1B_C_0.glif</string>
    <key>uni1BC1</key>
    <string>uni1B_C_1.glif</string>
    <key>uni1BC2</key>
    <string>uni1B_C_2.glif</string>
    <key>uni1BC3</key>
    <string>uni1B_C_3.glif</string>
    <key>uni1BC4</key>
    <string>uni1B_C_4.glif</string>
    <key>uni1BC5</key>
    <string>uni1B_C_5.glif</string>
    <key>uni1BC6</key>
    <string>uni1B_C_6.glif</string>
    <key>uni1BC7</key>
    <string>uni1B_C_7.glif</string>
    <key>uni1BC8</key>
    <string>uni1B_C_8.glif</string>
    <key>uni1BC9</key>
    <string>uni1B_C_9.glif</string>
    <key>uni1BCA</key>
    <string>uni1B_C_A_.glif</string>
    <key>uni1BCB</key>
    <string>uni1B_C_B_.glif</string>
    <key>uni1BCC</key>
    <string>uni1B_C_C_.glif</string>
    <key>uni1BCD</key>
    <string>uni1B_C_D_.glif</string>
    <key>uni1BCE</key>
    <string>uni1B_C_E_.glif</string>
    <key>uni1BCF</key>
    <string>uni1B_C_F_.glif</string>
    <key>uni1BD0</key>
    <string>uni1B_D_0.glif</string>
    <key>uni1BD1</key>
    <string>uni1B_D_1.glif</string>
    <key>uni1BD2</key>
    <string>uni1B_D_2.glif</string>
    <key>uni1BD3</key>
    <string>uni1B_D_3.glif</string>
    <key>uni1BD4</key>
    <string>uni1B_D_4.glif</string>
    <key>uni1BD5</key>
    <string>uni1B_D_5.glif</string>
    <key>uni1BD6</key>
    <string>uni1B_D_6.glif</string>
    <key>uni1BD7</key>
    <string>uni1B_D_7.glif</string>
    <key>uni1BD8</key>
    <string>uni1B_D_8.glif</string>
    <key>uni1BD9</key>
    <string>uni1B_D_9.glif</string>
    <key>uni1BDA</key>
    <string>uni1B_D_A_.glif</string>
    <key>uni1BDB</key>
    <string>uni1B_D_B_.glif</string>
    <key>uni1BDC</key>
    <string>uni1B_D_C_.glif</string>
    <key>uni1BDD</key>
    <string>uni1B_D_D_.glif</string>
    <key>uni1BDE</key>
    <string>uni1B_D_E_.glif</string>
    <key>uni1BDF</key>
    <string>uni1B_D_F_.glif</string>
    <key>uni1BE0</key>
    <string>uni1B_E_0.glif</string>
    <key>uni1BE1</key>
    <string>uni1B_E_1.glif</string>
    <key>uni1BE2</key>
    <string>uni1B_E_2.glif</string>
    <key>uni1BE3</key>
    <string>uni1B_E_3.glif</string>
    <key>uni1BE4</key>
    <string>uni1B_E_4.glif</string>
    <key>uni1BE5</key>
    <string>uni1B_E_5.glif</string>
    <key>uni1BE6</key>
    <string>uni1B_E_6.glif</string>
    <key>uni1BE7</key>
    <string>uni1B_E_7.glif</string>
    <key>uni1BE8</key>
    <string>uni1B_E_8.glif</string>
    <key>uni1BE9</key>
    <string>uni1B_E_9.glif</string>
    <key>uni1BEA</key>
    <string>uni1B_E_A_.glif</string>
    <key>uni1BEB</key>
    <string>uni1B_E_B_.glif</string>
    <key>uni1BEC</key>
    <string>uni1B_E_C_.glif</string>
    <key>uni1BED</key>
    <string>uni1B_E_D_.glif</string>
    <key>uni1BEE</key>
    <string>uni1B_E_E_.glif</string>
    <key>uni1BEF</key>
    <string>uni1B_E_F_.glif</string>
    <key>uni1BF0</key>
    <string>uni1B_F_0.glif</string>
    <key>uni1BF1</key>
    <string>uni1B_F_1.glif</string>
    <key>uni1BF2</key>
    <string>uni1B_F_2.glif</string>
    <key>uni1BF3</key>
    <string>uni1B_F_3.glif</string>
    <key>uni1BFC</key>
    <string>uni1B_F_C_.glif</string>
    <key>uni1BFD</key>
    <string>uni1B_F_D_.glif</string>
    <key>uni1BFE</key>
    <string>uni1B_F_E_.glif</string>
    <key>uni1BFF</key>
    <string>uni1B_F_F_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
