<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>downandhorizontal-dentistry</key>
    <string>downandhorizontal-dentistry.glif</string>
    <key>downandhorizontalwave-dentistry</key>
    <string>downandhorizontalwave-dentistry.glif</string>
    <key>fuse</key>
    <string>fuse.glif</string>
    <key>upandhorizontalwave-dentistry</key>
    <string>upandhorizontalwave-dentistry.glif</string>
  </dict>
</plist>
