<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aibindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>19.8795</real>
    </dict>
    <key>aubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>eightguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>-20</integer>
      <key>nineguru</key>
      <real>-3.9759</real>
      <key>oneguru</key>
      <real>-13.9759</real>
      <key>sevenguru</key>
      <real>-8.07229</real>
      <key>threeguru</key>
      <real>-9.03615</real>
      <key>twoguru</key>
      <integer>-20</integer>
      <key>zeroguru</key>
      <real>-18.0723</real>
    </dict>
    <key>fiveguru</key>
    <dict>
      <key>eightguru</key>
      <real>3.9759</real>
      <key>fiveguru</key>
      <real>2.04819</real>
      <key>nineguru</key>
      <real>3.9759</real>
      <key>sevenguru</key>
      <real>-2.04819</real>
      <key>zeroguru</key>
      <real>-16.0241</real>
    </dict>
    <key>fourguru</key>
    <dict>
      <key>fiveguru</key>
      <real>-3.9759</real>
      <key>nineguru</key>
      <real>3.9759</real>
      <key>sevenguru</key>
      <real>-2.04819</real>
      <key>twoguru</key>
      <real>-3.9759</real>
      <key>zeroguru</key>
      <real>-16.0241</real>
    </dict>
    <key>iibindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>iimatrabindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>19.8795</real>
    </dict>
    <key>lanuktaguru</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-60</integer>
      <key>public.kern2.aamatraL</key>
      <real>-66.0241</real>
      <key>public.kern2.iimatraL</key>
      <real>-52.0482</real>
      <key>public.kern2.nyaL</key>
      <real>-43.9759</real>
    </dict>
    <key>nineguru</key>
    <dict>
      <key>fiveguru</key>
      <real>2.04819</real>
      <key>nineguru</key>
      <real>-3.9759</real>
      <key>oneguru</key>
      <real>-11.988</real>
      <key>sevenguru</key>
      <real>-8.07229</real>
      <key>sixguru</key>
      <real>-3.9759</real>
      <key>threeguru</key>
      <real>-3.9759</real>
      <key>twoguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <real>-28.0121</real>
    </dict>
    <key>oneguru</key>
    <dict>
      <key>fiveguru</key>
      <real>2.04819</real>
      <key>oneguru</key>
      <real>-7.95181</real>
    </dict>
    <key>oobindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>19.8795</real>
    </dict>
    <key>public.kern1.aamatraR</key>
    <dict>
      <key>ganuktaguru</key>
      <real>-27.9518</real>
      <key>phanuktaguru</key>
      <real>-23.9759</real>
      <key>public.kern2.bhaL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.chaL</key>
      <integer>-24</integer>
      <key>public.kern2.ddaL</key>
      <integer>-8</integer>
      <key>public.kern2.jhaL</key>
      <integer>-20</integer>
      <key>public.kern2.laL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>-20</integer>
      <key>public.kern2.ngaL</key>
      <integer>-20</integer>
      <key>public.kern2.nyaL</key>
      <integer>-12</integer>
      <key>public.kern2.phaL</key>
      <integer>-20</integer>
      <key>public.kern2.rraL</key>
      <integer>-18</integer>
      <key>public.kern2.taL</key>
      <integer>-26</integer>
      <key>public.kern2.tthaL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.caR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-14</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-10</integer>
      <key>public.kern2.caL</key>
      <integer>-17</integer>
      <key>public.kern2.chaL</key>
      <integer>-12</integer>
      <key>public.kern2.gaL</key>
      <integer>-6</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-14</integer>
      <key>public.kern2.jaL</key>
      <integer>-4</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>-14</integer>
      <key>public.kern2.ngaL</key>
      <integer>-8</integer>
      <key>public.kern2.nyaL</key>
      <integer>-6</integer>
      <key>public.kern2.phaL</key>
      <integer>-4</integer>
      <key>public.kern2.tthaL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.chaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-12</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-8</integer>
      <key>public.kern2.gaL</key>
      <integer>-9</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-24</integer>
      <key>public.kern2.kaL</key>
      <integer>-4</integer>
      <key>public.kern2.khaL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.daR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-6</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-6</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-10</integer>
      <key>public.kern2.khaL</key>
      <integer>-4</integer>
      <key>public.kern2.ngaL</key>
      <integer>-6</integer>
      <key>public.kern2.nyaL</key>
      <integer>-6</integer>
      <key>public.kern2.rraL</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.ddaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-26</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-22</integer>
      <key>public.kern2.bhaL</key>
      <integer>-6</integer>
      <key>public.kern2.caL</key>
      <integer>-18</integer>
      <key>public.kern2.chaL</key>
      <integer>-8</integer>
      <key>public.kern2.ddaL</key>
      <integer>-10</integer>
      <key>public.kern2.gaL</key>
      <integer>-4</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.jaL</key>
      <integer>-4</integer>
      <key>public.kern2.jhaL</key>
      <integer>-2</integer>
      <key>public.kern2.kaL</key>
      <integer>0</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>0</integer>
      <key>public.kern2.ngaL</key>
      <integer>-9</integer>
      <key>public.kern2.nyaL</key>
      <integer>-6</integer>
      <key>public.kern2.phaL</key>
      <integer>-4</integer>
      <key>public.kern2.taL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.ddhaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-16</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.chaL</key>
      <integer>-6</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.iriL</key>
      <integer>-6</integer>
      <key>public.kern2.kaL</key>
      <integer>-4</integer>
      <key>public.kern2.khaL</key>
      <integer>-20</integer>
      <key>public.kern2.naL</key>
      <integer>6</integer>
      <key>public.kern2.ngaL</key>
      <integer>-12</integer>
      <key>public.kern2.nyaL</key>
      <integer>-6</integer>
      <key>public.kern2.phaL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.imatraR</key>
    <dict>
      <key>ganuktaguru</key>
      <real>-36.0241</real>
      <key>phanuktaguru</key>
      <real>-36.0241</real>
      <key>public.kern2.baL</key>
      <integer>-8</integer>
      <key>public.kern2.caL</key>
      <integer>-20</integer>
      <key>public.kern2.chaL</key>
      <integer>-24</integer>
      <key>public.kern2.ddaL</key>
      <integer>-8</integer>
      <key>public.kern2.jhaL</key>
      <integer>-24</integer>
      <key>public.kern2.khaL</key>
      <integer>-20</integer>
      <key>public.kern2.laL</key>
      <integer>-4</integer>
      <key>public.kern2.maL</key>
      <integer>-4</integer>
      <key>public.kern2.naL</key>
      <integer>-8</integer>
      <key>public.kern2.nyaL</key>
      <integer>-26</integer>
      <key>public.kern2.phaL</key>
      <integer>-8</integer>
      <key>public.kern2.rraL</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.iriR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-16</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-6</integer>
      <key>public.kern2.caL</key>
      <integer>-17</integer>
      <key>public.kern2.chaL</key>
      <integer>-4</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-16</integer>
      <key>public.kern2.kaL</key>
      <integer>-8</integer>
      <key>public.kern2.khaL</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.jhaR</key>
    <dict>
      <key>public.kern2.caL</key>
      <integer>-8</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-24</integer>
      <key>public.kern2.iriL</key>
      <integer>9</integer>
      <key>public.kern2.jaL</key>
      <integer>6</integer>
      <key>public.kern2.kaL</key>
      <integer>8</integer>
      <key>public.kern2.khaL</key>
      <integer>2</integer>
      <key>public.kern2.laL</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.kaR</key>
    <dict>
      <key>public.kern2.caL</key>
      <integer>-8</integer>
      <key>public.kern2.ddaL</key>
      <integer>9</integer>
      <key>public.kern2.jhaL</key>
      <integer>4</integer>
      <key>public.kern2.kaL</key>
      <integer>-4</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.ngaL</key>
      <integer>4</integer>
      <key>public.kern2.tthaL</key>
      <integer>9</integer>
    </dict>
    <key>public.kern1.laR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-32</integer>
      <key>public.kern2.caL</key>
      <integer>-14</integer>
      <key>public.kern2.ddaL</key>
      <integer>6</integer>
      <key>public.kern2.gaL</key>
      <integer>6</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-36</integer>
      <key>public.kern2.iriL</key>
      <integer>6</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.nyaL</key>
      <integer>-6</integer>
      <key>public.kern2.tthaL</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.naR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-16</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-32</integer>
      <key>public.kern2.bhaL</key>
      <integer>9</integer>
      <key>public.kern2.caL</key>
      <integer>-20</integer>
      <key>public.kern2.gaL</key>
      <integer>13</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-32</integer>
      <key>public.kern2.kaL</key>
      <integer>6</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-12</integer>
      <key>public.kern2.nyaL</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.ngaR</key>
    <dict>
      <key>public.kern2.aamatraL</key>
      <integer>-26</integer>
      <key>public.kern2.bhaL</key>
      <integer>13</integer>
      <key>public.kern2.caL</key>
      <integer>2</integer>
      <key>public.kern2.chaL</key>
      <integer>12</integer>
      <key>public.kern2.ddaL</key>
      <integer>12</integer>
      <key>public.kern2.gaL</key>
      <integer>12</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-26</integer>
      <key>public.kern2.iriL</key>
      <integer>16</integer>
      <key>public.kern2.jaL</key>
      <integer>12</integer>
      <key>public.kern2.jhaL</key>
      <integer>4</integer>
      <key>public.kern2.kaL</key>
      <integer>18</integer>
      <key>public.kern2.khaL</key>
      <integer>2</integer>
      <key>public.kern2.laL</key>
      <integer>10</integer>
      <key>public.kern2.maL</key>
      <integer>6</integer>
      <key>public.kern2.naL</key>
      <integer>10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-6</integer>
      <key>public.kern2.phaL</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.nnaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-24</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-16</integer>
      <key>public.kern2.baL</key>
      <integer>-8</integer>
      <key>public.kern2.bhaL</key>
      <integer>-4</integer>
      <key>public.kern2.caL</key>
      <integer>-8</integer>
      <key>public.kern2.chaL</key>
      <integer>-8</integer>
      <key>public.kern2.ddaL</key>
      <integer>-12</integer>
      <key>public.kern2.gaL</key>
      <integer>-4</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-40</integer>
      <key>public.kern2.jaL</key>
      <integer>-8</integer>
      <key>public.kern2.kaL</key>
      <integer>-8</integer>
      <key>public.kern2.khaL</key>
      <integer>-8</integer>
      <key>public.kern2.maL</key>
      <integer>-12</integer>
      <key>public.kern2.ngaL</key>
      <integer>-12</integer>
      <key>public.kern2.phaL</key>
      <integer>-8</integer>
      <key>public.kern2.rraL</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.nyaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-16</integer>
      <key>public.kern2.caL</key>
      <integer>-17</integer>
      <key>public.kern2.chaL</key>
      <integer>-8</integer>
      <key>public.kern2.gaL</key>
      <integer>-4</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.kaL</key>
      <integer>-8</integer>
      <key>public.kern2.maL</key>
      <integer>-8</integer>
      <key>public.kern2.naL</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.rraR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-8</integer>
      <key>public.kern2.caL</key>
      <integer>-6</integer>
      <key>public.kern2.gaL</key>
      <integer>-6</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-30</integer>
      <key>public.kern2.kaL</key>
      <integer>-4</integer>
      <key>public.kern2.ngaL</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.tthaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-8</integer>
      <key>public.kern2.gaL</key>
      <integer>12</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-30</integer>
      <key>public.kern2.kaL</key>
      <integer>9</integer>
      <key>public.kern2.khaL</key>
      <integer>-8</integer>
      <key>public.kern2.laL</key>
      <integer>6</integer>
      <key>public.kern2.nyaL</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.uR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.vert</key>
    <dict>
      <key>public.kern2.caL</key>
      <integer>-14</integer>
      <key>public.kern2.chaL</key>
      <integer>-4</integer>
      <key>public.kern2.ddaL</key>
      <integer>-4</integer>
      <key>public.kern2.khaL</key>
      <integer>-4</integer>
      <key>public.kern2.ngaL</key>
      <integer>-10</integer>
    </dict>
    <key>sevenguru</key>
    <dict>
      <key>fiveguru</key>
      <real>2.04819</real>
      <key>fourguru</key>
      <real>-7.95181</real>
      <key>oneguru</key>
      <real>6.0241</real>
      <key>sevenguru</key>
      <real>-28.0723</real>
      <key>sixguru</key>
      <integer>-20</integer>
      <key>threeguru</key>
      <real>-17.9518</real>
      <key>twoguru</key>
      <real>-7.95181</real>
    </dict>
    <key>sixguru</key>
    <dict>
      <key>fiveguru</key>
      <real>-3.9759</real>
      <key>twoguru</key>
      <real>-3.9759</real>
      <key>zeroguru</key>
      <real>-16.0241</real>
    </dict>
    <key>threeguru</key>
    <dict>
      <key>fiveguru</key>
      <real>-7.95181</real>
      <key>oneguru</key>
      <real>-3.9759</real>
      <key>sevenguru</key>
      <real>-6.0241</real>
      <key>twoguru</key>
      <real>-7.95181</real>
      <key>zeroguru</key>
      <integer>-10</integer>
    </dict>
    <key>twoguru</key>
    <dict>
      <key>fiveguru</key>
      <real>-7.95181</real>
      <key>twoguru</key>
      <real>-11.988</real>
      <key>zeroguru</key>
      <integer>-10</integer>
    </dict>
    <key>ubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>ubindinuktaguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>uubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>uubindinuktaguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <real>25.9036</real>
    </dict>
    <key>zeroguru</key>
    <dict>
      <key>eightguru</key>
      <real>-6.0241</real>
      <key>fiveguru</key>
      <real>6.0241</real>
      <key>fourguru</key>
      <real>-6.0241</real>
      <key>nineguru</key>
      <real>-6.0241</real>
      <key>oneguru</key>
      <real>-3.9759</real>
      <key>sevenguru</key>
      <real>-21.0843</real>
      <key>threeguru</key>
      <real>-6.0241</real>
      <key>twoguru</key>
      <real>-6.0241</real>
    </dict>
  </dict>
</plist>
