<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Ba.part</key>
    <string>B_a.part.glif</string>
    <key>Ba.part.alt</key>
    <string>B_a.part.alt.glif</string>
    <key>BaDa</key>
    <string>B_aD_a.glif</string>
    <key>BaDa.part</key>
    <string>B_aD_a.part.glif</string>
    <key>BaDha</key>
    <string>B_aD_ha.glif</string>
    <key>BaDha.part</key>
    <string>B_aD_ha.part.glif</string>
    <key>BhaYa</key>
    <string>B_haY_a.glif</string>
    <key>Bhr</key>
    <string>B_hr.glif</string>
    <key>Bhra</key>
    <string>B_hra.glif</string>
    <key>Bhu</key>
    <string>B_hu.glif</string>
    <key>Bhuu</key>
    <string>B_huu.glif</string>
    <key>Br</key>
    <string>B_r.glif</string>
    <key>Br.part</key>
    <string>B_r.part.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>CaCa</key>
    <string>C_aC_a.glif</string>
    <key>CaCha</key>
    <string>C_aC_ha.glif</string>
    <key>DaDha</key>
    <string>D_aD_ha.glif</string>
    <key>DaYa</key>
    <string>D_aY_a.glif</string>
    <key>Dbhu</key>
    <string>D_bhu.glif</string>
    <key>Dhru</key>
    <string>D_hru.glif</string>
    <key>Dhu</key>
    <string>D_hu.glif</string>
    <key>Dhuu</key>
    <string>D_huu.glif</string>
    <key>Dra</key>
    <string>D_ra.glif</string>
    <key>Du</key>
    <string>D_u.glif</string>
    <key>GaDha</key>
    <string>G_aD_ha.glif</string>
    <key>GaGa</key>
    <string>G_aG_a.glif</string>
    <key>Gna</key>
    <string>G_na.glif</string>
    <key>Gra</key>
    <string>G_ra.glif</string>
    <key>Gu</key>
    <string>G_u.glif</string>
    <key>HaLa</key>
    <string>H_aL_a.glif</string>
    <key>HaMa</key>
    <string>H_aM_a.glif</string>
    <key>HaNa</key>
    <string>H_aN_a.glif</string>
    <key>HaNna</key>
    <string>H_aN_na.glif</string>
    <key>HaRa</key>
    <string>H_aR_a.glif</string>
    <key>HaVa</key>
    <string>H_aV_a.glif</string>
    <key>HaYa</key>
    <string>H_aY_a.glif</string>
    <key>Hr</key>
    <string>H_r.glif</string>
    <key>Hu</key>
    <string>H_u.glif</string>
    <key>Huu</key>
    <string>H_uu.glif</string>
    <key>JaNya</key>
    <string>J_aN_ya.glif</string>
    <key>Ju</key>
    <string>J_u.glif</string>
    <key>KaLa</key>
    <string>K_aL_a.glif</string>
    <key>KaRa</key>
    <string>K_aR_a.glif</string>
    <key>KaSsa</key>
    <string>K_aS_sa.glif</string>
    <key>KaTa</key>
    <string>K_aT_a.glif</string>
    <key>KhaNa</key>
    <string>K_haN_a.glif</string>
    <key>Kr</key>
    <string>K_r.glif</string>
    <key>Ku</key>
    <string>K_u.glif</string>
    <key>Kuu</key>
    <string>K_uu.glif</string>
    <key>Lu</key>
    <string>L_u.glif</string>
    <key>Ma.fina</key>
    <string>M_a.fina.glif</string>
    <key>MaBa</key>
    <string>M_aB_a.glif</string>
    <key>MaBa.part</key>
    <string>M_aB_a.part.glif</string>
    <key>Mu.tirh</key>
    <string>M_u.tirh.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NaDha</key>
    <string>N_aD_ha.glif</string>
    <key>NaHa</key>
    <string>N_aH_a.glif</string>
    <key>NaNa</key>
    <string>N_aN_a.glif</string>
    <key>NaYa</key>
    <string>N_aY_a.glif</string>
    <key>Nda</key>
    <string>N_da.glif</string>
    <key>NgaGa</key>
    <string>N_gaG_a.glif</string>
    <key>NgaGha</key>
    <string>N_gaG_ha.glif</string>
    <key>NgaKa</key>
    <string>N_gaK_a.glif</string>
    <key>NgaKha</key>
    <string>N_gaK_ha.glif</string>
    <key>NnaDda</key>
    <string>N_naD_da.glif</string>
    <key>NnaDdha</key>
    <string>N_naD_dha.glif</string>
    <key>NnaNna</key>
    <string>N_naN_na.glif</string>
    <key>NnaTta</key>
    <string>N_naT_ta.glif</string>
    <key>NnaTtha</key>
    <string>N_naT_tha.glif</string>
    <key>Nnu</key>
    <string>N_nu.glif</string>
    <key>Nta</key>
    <string>N_ta.glif</string>
    <key>Ntra</key>
    <string>N_tra.glif</string>
    <key>Ntu</key>
    <string>N_tu.glif</string>
    <key>Nu.tirh</key>
    <string>N_u.tirh.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>NyaCa</key>
    <string>N_yaC_a.glif</string>
    <key>NyaCha</key>
    <string>N_yaC_ha.glif</string>
    <key>PhaLa</key>
    <string>P_haL_a.glif</string>
    <key>PhaNa</key>
    <string>P_haN_a.glif</string>
    <key>Pra</key>
    <string>P_ra.glif</string>
    <key>Pu</key>
    <string>P_u.glif</string>
    <key>Ra.alt1</key>
    <string>R_a.alt1.glif</string>
    <key>Ra.alt2</key>
    <string>R_a.alt2.glif</string>
    <key>RaGa</key>
    <string>R_aG_a.glif</string>
    <key>Repha</key>
    <string>R_epha.glif</string>
    <key>Repha_Ba.part</key>
    <string>R_epha_B_a.part.glif</string>
    <key>Repha_I</key>
    <string>R_epha_I_.glif</string>
    <key>Repha_II</key>
    <string>R_epha_I_I_.glif</string>
    <key>Repha_Tta</key>
    <string>R_epha_T_ta.glif</string>
    <key>Repha_uni114BA</key>
    <string>R_epha_uni114B_A_.glif</string>
    <key>Repha_uni114BA.alt</key>
    <string>R_epha_uni114B_A_.alt.glif</string>
    <key>Ru</key>
    <string>R_u.glif</string>
    <key>Ru.alt1</key>
    <string>R_u.alt1.glif</string>
    <key>Ru.alt2</key>
    <string>R_u.alt2.glif</string>
    <key>Ruu</key>
    <string>R_uu.glif</string>
    <key>Ruu.alt1</key>
    <string>R_uu.alt1.glif</string>
    <key>Ruu.alt2</key>
    <string>R_uu.alt2.glif</string>
    <key>SaNa</key>
    <string>S_aN_a.glif</string>
    <key>SaYa</key>
    <string>S_aY_a.glif</string>
    <key>ShaCa</key>
    <string>S_haC_a.glif</string>
    <key>ShaCha</key>
    <string>S_haC_ha.glif</string>
    <key>ShaLa</key>
    <string>S_haL_a.glif</string>
    <key>ShaYa</key>
    <string>S_haY_a.glif</string>
    <key>Shra</key>
    <string>S_hra.glif</string>
    <key>Shu</key>
    <string>S_hu.glif</string>
    <key>Sra</key>
    <string>S_ra.glif</string>
    <key>SsaKa</key>
    <string>S_saK_a.glif</string>
    <key>SsaKr</key>
    <string>S_saK_r.glif</string>
    <key>SsaNna</key>
    <string>S_saN_na.glif</string>
    <key>SsaTta</key>
    <string>S_saT_ta.glif</string>
    <key>SsaTtha</key>
    <string>S_saT_tha.glif</string>
    <key>Ssu</key>
    <string>S_su.glif</string>
    <key>Sta</key>
    <string>S_ta.glif</string>
    <key>Stra</key>
    <string>S_tra.glif</string>
    <key>Stu</key>
    <string>S_tu.glif</string>
    <key>Su</key>
    <string>S_u.glif</string>
    <key>Ta.fina</key>
    <string>T_a.fina.glif</string>
    <key>Ta.init</key>
    <string>T_a.init.glif</string>
    <key>TaRa</key>
    <string>T_aR_a.glif</string>
    <key>TaTa</key>
    <string>T_aT_a.glif</string>
    <key>TaVa</key>
    <string>T_aV_a.glif</string>
    <key>TaVirama.alt</key>
    <string>T_aV_irama.alt.glif</string>
    <key>TaYa</key>
    <string>T_aY_a.glif</string>
    <key>Tr</key>
    <string>T_r.glif</string>
    <key>Tru</key>
    <string>T_ru.glif</string>
    <key>TtaTta</key>
    <string>T_taT_ta.glif</string>
    <key>TtaTtha</key>
    <string>T_taT_tha.glif</string>
    <key>Tu</key>
    <string>T_u.glif</string>
    <key>Tuu</key>
    <string>T_uu.glif</string>
    <key>Va.sub</key>
    <string>V_a.sub.glif</string>
    <key>Ya.post</key>
    <string>Y_a.post.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>a_tirh</key>
    <string>a_tirh.glif</string>
    <key>aaMatra_tirh</key>
    <string>aaM_atra_tirh.glif</string>
    <key>aa_tirh</key>
    <string>aa_tirh.glif</string>
    <key>abbreviationSign_tirh</key>
    <string>abbreviationS_ign_tirh.glif</string>
    <key>aiMatra_tirh</key>
    <string>aiM_atra_tirh.glif</string>
    <key>ai_tirh</key>
    <string>ai_tirh.glif</string>
    <key>anji_tirh</key>
    <string>anji_tirh.glif</string>
    <key>anudatta_deva</key>
    <string>anudatta_deva.glif</string>
    <key>anusvara.alt</key>
    <string>anusvara.alt.glif</string>
    <key>anusvara.alt2</key>
    <string>anusvara.alt2.glif</string>
    <key>anusvara_tirh</key>
    <string>anusvara_tirh.glif</string>
    <key>auMatra_tirh</key>
    <string>auM_atra_tirh.glif</string>
    <key>au_tirh</key>
    <string>au_tirh.glif</string>
    <key>avagraha_tirh</key>
    <string>avagraha_tirh.glif</string>
    <key>ba_tirh</key>
    <string>ba_tirh.glif</string>
    <key>bha_tirh</key>
    <string>bha_tirh.glif</string>
    <key>ca_tirh</key>
    <string>ca_tirh.glif</string>
    <key>candrabindu.alt</key>
    <string>candrabindu.alt.glif</string>
    <key>candrabindu.alt2</key>
    <string>candrabindu.alt2.glif</string>
    <key>candrabindu_tirh</key>
    <string>candrabindu_tirh.glif</string>
    <key>cha_tirh</key>
    <string>cha_tirh.glif</string>
    <key>da_tirh</key>
    <string>da_tirh.glif</string>
    <key>dda_tirh</key>
    <string>dda_tirh.glif</string>
    <key>ddha_tirh</key>
    <string>ddha_tirh.glif</string>
    <key>dha_tirh</key>
    <string>dha_tirh.glif</string>
    <key>eMatra_tirh</key>
    <string>eM_atra_tirh.glif</string>
    <key>e_tirh</key>
    <string>e_tirh.glif</string>
    <key>eight_tirh</key>
    <string>eight_tirh.glif</string>
    <key>five_tirh</key>
    <string>five_tirh.glif</string>
    <key>four_tirh</key>
    <string>four_tirh.glif</string>
    <key>ga_tirh</key>
    <string>ga_tirh.glif</string>
    <key>gha_tirh</key>
    <string>gha_tirh.glif</string>
    <key>gvang_tirh</key>
    <string>gvang_tirh.glif</string>
    <key>ha_tirh</key>
    <string>ha_tirh.glif</string>
    <key>iMatra_tirh</key>
    <string>iM_atra_tirh.glif</string>
    <key>i_tirh</key>
    <string>i_tirh.glif</string>
    <key>iiMatra_tirh</key>
    <string>iiM_atra_tirh.glif</string>
    <key>ii_tirh</key>
    <string>ii_tirh.glif</string>
    <key>ja_tirh</key>
    <string>ja_tirh.glif</string>
    <key>jha_tirh</key>
    <string>jha_tirh.glif</string>
    <key>ka_tirh</key>
    <string>ka_tirh.glif</string>
    <key>kha_tirh</key>
    <string>kha_tirh.glif</string>
    <key>lVocalicMatra_tirh</key>
    <string>lV_ocalicM_atra_tirh.glif</string>
    <key>lVocalic_tirh</key>
    <string>lV_ocalic_tirh.glif</string>
    <key>la_tirh</key>
    <string>la_tirh.glif</string>
    <key>letterVocR.alt</key>
    <string>letterV_ocR_.alt.glif</string>
    <key>letterVocRR.alt</key>
    <string>letterV_ocR_R_.alt.glif</string>
    <key>llVocalicMatra_tirh</key>
    <string>llV_ocalicM_atra_tirh.glif</string>
    <key>llVocalic_tirh</key>
    <string>llV_ocalic_tirh.glif</string>
    <key>ma_tirh</key>
    <string>ma_tirh.glif</string>
    <key>na_tirh</key>
    <string>na_tirh.glif</string>
    <key>nga_tirh</key>
    <string>nga_tirh.glif</string>
    <key>nine_tirh</key>
    <string>nine_tirh.glif</string>
    <key>nna_tirh</key>
    <string>nna_tirh.glif</string>
    <key>nukta.alt</key>
    <string>nukta.alt.glif</string>
    <key>nukta_tirh</key>
    <string>nukta_tirh.glif</string>
    <key>nya_tirh</key>
    <string>nya_tirh.glif</string>
    <key>oMatra_tirh</key>
    <string>oM_atra_tirh.glif</string>
    <key>o_tirh</key>
    <string>o_tirh.glif</string>
    <key>om_tirh</key>
    <string>om_tirh.glif</string>
    <key>one_tirh</key>
    <string>one_tirh.glif</string>
    <key>pa_tirh</key>
    <string>pa_tirh.glif</string>
    <key>pha_tirh</key>
    <string>pha_tirh.glif</string>
    <key>rVocalicMatra_tirh</key>
    <string>rV_ocalicM_atra_tirh.glif</string>
    <key>rVocalic_tirh</key>
    <string>rV_ocalic_tirh.glif</string>
    <key>ra.sub</key>
    <string>ra.sub.glif</string>
    <key>ra.sub.wide</key>
    <string>ra.sub.wide.glif</string>
    <key>ra_tirh</key>
    <string>ra_tirh.glif</string>
    <key>rrVocalicMatra_tirh</key>
    <string>rrV_ocalicM_atra_tirh.glif</string>
    <key>rrVocalic_tirh</key>
    <string>rrV_ocalic_tirh.glif</string>
    <key>sa_tirh</key>
    <string>sa_tirh.glif</string>
    <key>seven_tirh</key>
    <string>seven_tirh.glif</string>
    <key>sha_tirh</key>
    <string>sha_tirh.glif</string>
    <key>shortEMatra_tirh</key>
    <string>shortE_M_atra_tirh.glif</string>
    <key>shortOMatra_tirh</key>
    <string>shortO_M_atra_tirh.glif</string>
    <key>six_tirh</key>
    <string>six_tirh.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa_tirh</key>
    <string>ssa_tirh.glif</string>
    <key>ta_tirh</key>
    <string>ta_tirh.glif</string>
    <key>tha_tirh</key>
    <string>tha_tirh.glif</string>
    <key>three_tirh</key>
    <string>three_tirh.glif</string>
    <key>tta_tirh</key>
    <string>tta_tirh.glif</string>
    <key>ttha_tirh</key>
    <string>ttha_tirh.glif</string>
    <key>two_tirh</key>
    <string>two_tirh.glif</string>
    <key>uMatra_tirh</key>
    <string>uM_atra_tirh.glif</string>
    <key>u_tirh</key>
    <string>u_tirh.glif</string>
    <key>udatta_deva</key>
    <string>udatta_deva.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni09F4</key>
    <string>uni09F_4.glif</string>
    <key>uni09F5</key>
    <string>uni09F_5.glif</string>
    <key>uni09F6</key>
    <string>uni09F_6.glif</string>
    <key>uni09F7</key>
    <string>uni09F_7.glif</string>
    <key>uni114B1.alt</key>
    <string>uni114B_1.alt.glif</string>
    <key>uni114B1.alt2</key>
    <string>uni114B_1.alt2.glif</string>
    <key>uni114B1_Repha</key>
    <string>uni114B_1_R_epha.glif</string>
    <key>uni114B1_tall</key>
    <string>uni114B_1_tall.glif</string>
    <key>uni114B1_tall.alt</key>
    <string>uni114B_1_tall.alt.glif</string>
    <key>uni114B2.alt</key>
    <string>uni114B_2.alt.glif</string>
    <key>uni114B2.alt2</key>
    <string>uni114B_2.alt2.glif</string>
    <key>uni114B2_tall.alt</key>
    <string>uni114B_2_tall.alt.glif</string>
    <key>uni114B2_tall.alt3</key>
    <string>uni114B_2_tall.alt3.glif</string>
    <key>uni114BA.alt</key>
    <string>uni114B_A_.alt.glif</string>
    <key>uni114BA.alt2</key>
    <string>uni114B_A_.alt2.glif</string>
    <key>uni114BD.alt</key>
    <string>uni114B_D_.alt.glif</string>
    <key>uni114BD.alt2</key>
    <string>uni114B_D_.alt2.glif</string>
    <key>uni114BD_Ba</key>
    <string>uni114B_D__B_a.glif</string>
    <key>uni1CF2</key>
    <string>uni1C_F_2.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
    <key>uuMatra_tirh</key>
    <string>uuM_atra_tirh.glif</string>
    <key>uu_tirh</key>
    <string>uu_tirh.glif</string>
    <key>va_tirh</key>
    <string>va_tirh.glif</string>
    <key>virama_tirh</key>
    <string>virama_tirh.glif</string>
    <key>visarga_tirh</key>
    <string>visarga_tirh.glif</string>
    <key>ya_tirh</key>
    <string>ya_tirh.glif</string>
    <key>zero_tirh</key>
    <string>zero_tirh.glif</string>
  </dict>
</plist>
