<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.KND_a_R</key>
    <array>
      <string>a_kannada</string>
    </array>
    <key>public.kern1.KND_aaMatra_R</key>
    <array>
      <string>llVocalic_kannada</string>
      <string>aaMatra_kannada</string>
      <string>ghaa_kannada</string>
      <string>ngaa_kannada</string>
      <string>caa_kannada</string>
      <string>jaa_kannada</string>
      <string>nyaa_kannada</string>
      <string>ttaa_kannada</string>
      <string>nnaa_kannada</string>
      <string>rraa_kannada</string>
      <string>lllaa_kannada</string>
    </array>
    <key>public.kern1.KND_aa_R</key>
    <array>
      <string>aa_kannada</string>
    </array>
    <key>public.kern1.KND_ai_R</key>
    <array>
      <string>ai_kannada</string>
    </array>
    <key>public.kern1.KND_ailength_R</key>
    <array>
      <string>ailength_kannada</string>
    </array>
    <key>public.kern1.KND_auMatra_R</key>
    <array>
      <string>auMatra_kannada</string>
      <string>ghau_kannada</string>
      <string>ngau_kannada</string>
      <string>cau_kannada</string>
      <string>jau_kannada</string>
      <string>nyau_kannada</string>
      <string>ttau_kannada</string>
      <string>nnau_kannada</string>
      <string>rrau_kannada</string>
      <string>lllau_kannada</string>
    </array>
    <key>public.kern1.KND_au_R</key>
    <array>
      <string>au_kannada</string>
    </array>
    <key>public.kern1.KND_b_R</key>
    <array>
      <string>ba_kannada.base</string>
    </array>
    <key>public.kern1.KND_ba-below_R</key>
    <array>
      <string>ba_kannada.below</string>
      <string>bha_kannada.below</string>
    </array>
    <key>public.kern1.KND_ba_R</key>
    <array>
      <string>ba_kannada</string>
    </array>
    <key>public.kern1.KND_be_R</key>
    <array>
      <string>khe_kannada</string>
      <string>de_kannada</string>
      <string>be_kannada</string>
    </array>
    <key>public.kern1.KND_bh_R</key>
    <array>
      <string>bha_kannada.base</string>
    </array>
    <key>public.kern1.KND_bha_R</key>
    <array>
      <string>bha_kannada</string>
      <string>bhe_kannada</string>
    </array>
    <key>public.kern1.KND_bhi_R</key>
    <array>
      <string>bhi_kannada</string>
    </array>
    <key>public.kern1.KND_bi_R</key>
    <array>
      <string>bi_kannada</string>
    </array>
    <key>public.kern1.KND_c_R</key>
    <array>
      <string>ca_kannada.base</string>
    </array>
    <key>public.kern1.KND_ca-below_R</key>
    <array>
      <string>ca_kannada.below</string>
    </array>
    <key>public.kern1.KND_ca_R</key>
    <array>
      <string>ca_kannada</string>
      <string>ci_kannada</string>
      <string>ce_kannada</string>
    </array>
    <key>public.kern1.KND_ch_R</key>
    <array>
      <string>cha_kannada.base</string>
      <string>da_kannada.base</string>
    </array>
    <key>public.kern1.KND_cha-below_R</key>
    <array>
      <string>cha_kannada.below</string>
      <string>pa_kannada.below</string>
      <string>pha_kannada.below</string>
    </array>
    <key>public.kern1.KND_cha_R</key>
    <array>
      <string>cha_kannada</string>
      <string>che_kannada</string>
    </array>
    <key>public.kern1.KND_chi_R</key>
    <array>
      <string>chi_kannada</string>
    </array>
    <key>public.kern1.KND_dd_R</key>
    <array>
      <string>dda_kannada.base</string>
    </array>
    <key>public.kern1.KND_dda-below_R</key>
    <array>
      <string>dda_kannada.below</string>
      <string>ddha_kannada.below</string>
    </array>
    <key>public.kern1.KND_dda_R</key>
    <array>
      <string>dda_kannada</string>
      <string>da_kannada</string>
      <string>dde_kannada</string>
    </array>
    <key>public.kern1.KND_ddh_R</key>
    <array>
      <string>ddha_kannada.base</string>
    </array>
    <key>public.kern1.KND_ddha_R</key>
    <array>
      <string>ddha_kannada</string>
      <string>ddhe_kannada</string>
    </array>
    <key>public.kern1.KND_ddhi_R</key>
    <array>
      <string>ddhi_kannada</string>
      <string>thi_kannada</string>
      <string>dhi_kannada</string>
    </array>
    <key>public.kern1.KND_ddi_R</key>
    <array>
      <string>ddi_kannada</string>
      <string>di_kannada</string>
    </array>
    <key>public.kern1.KND_e_R</key>
    <array>
      <string>e_kannada</string>
    </array>
    <key>public.kern1.KND_ee_R</key>
    <array>
      <string>ee_kannada</string>
    </array>
    <key>public.kern1.KND_g_R</key>
    <array>
      <string>ga_kannada.base</string>
    </array>
    <key>public.kern1.KND_ga-below_R</key>
    <array>
      <string>ga_kannada.below</string>
    </array>
    <key>public.kern1.KND_ga_R</key>
    <array>
      <string>ga_kannada</string>
      <string>ge_kannada</string>
    </array>
    <key>public.kern1.KND_gh_R</key>
    <array>
      <string>gha_kannada.base</string>
    </array>
    <key>public.kern1.KND_gha-below_R</key>
    <array>
      <string>gha_kannada.below</string>
    </array>
    <key>public.kern1.KND_gha_R</key>
    <array>
      <string>gha_kannada</string>
      <string>ghi_kannada</string>
      <string>ghe_kannada</string>
    </array>
    <key>public.kern1.KND_gi_R</key>
    <array>
      <string>gi_kannada</string>
    </array>
    <key>public.kern1.KND_h_R</key>
    <array>
      <string>ha_kannada.base</string>
    </array>
    <key>public.kern1.KND_ha-below_R</key>
    <array>
      <string>ha_kannada.below</string>
    </array>
    <key>public.kern1.KND_ha_R</key>
    <array>
      <string>ha_kannada</string>
      <string>he_kannada</string>
    </array>
    <key>public.kern1.KND_hi_R</key>
    <array>
      <string>hi_kannada</string>
    </array>
    <key>public.kern1.KND_i_R</key>
    <array>
      <string>i_kannada</string>
    </array>
    <key>public.kern1.KND_ii_R</key>
    <array>
      <string>ii_kannada</string>
    </array>
    <key>public.kern1.KND_j-nya_R</key>
    <array>
      <string>j_nya_kannada.below</string>
    </array>
    <key>public.kern1.KND_ja-below_R</key>
    <array>
      <string>ja_kannada.below</string>
    </array>
    <key>public.kern1.KND_je_R</key>
    <array>
      <string>je_kannada</string>
    </array>
    <key>public.kern1.KND_jh_R</key>
    <array>
      <string>jha_kannada.base</string>
    </array>
    <key>public.kern1.KND_jha-below_R</key>
    <array>
      <string>jha_kannada.below</string>
    </array>
    <key>public.kern1.KND_jha_R</key>
    <array>
      <string>jha_kannada</string>
      <string>jhi_kannada</string>
      <string>jhe_kannada</string>
    </array>
    <key>public.kern1.KND_jnya_R</key>
    <array>
      <string>j_nya_kannada</string>
      <string>j_nye_kannada</string>
      <string>j_nyi_kannada</string>
      <string>j_nya_kannada.base</string>
    </array>
    <key>public.kern1.KND_k-ssa_R</key>
    <array>
      <string>k_ssa_kannada.below</string>
    </array>
    <key>public.kern1.KND_k_R</key>
    <array>
      <string>ka_kannada.base</string>
    </array>
    <key>public.kern1.KND_ka-below_R</key>
    <array>
      <string>ka_kannada.below</string>
    </array>
    <key>public.kern1.KND_ka_R</key>
    <array>
      <string>ka_kannada</string>
      <string>ke_kannada</string>
    </array>
    <key>public.kern1.KND_kh_R</key>
    <array>
      <string>kha_kannada.base</string>
    </array>
    <key>public.kern1.KND_kha-below_R</key>
    <array>
      <string>kha_kannada.below</string>
    </array>
    <key>public.kern1.KND_kha_R</key>
    <array>
      <string>kha_kannada</string>
      <string>khi_kannada</string>
    </array>
    <key>public.kern1.KND_ki_R</key>
    <array>
      <string>ki_kannada</string>
    </array>
    <key>public.kern1.KND_kssa_R</key>
    <array>
      <string>k_ssa_kannada</string>
      <string>k_sse_kannada</string>
      <string>k_ssi_kannada</string>
      <string>k_ssa_kannada.base</string>
    </array>
    <key>public.kern1.KND_lVocalicMatra_R</key>
    <array>
      <string>lVocalicMatra_kannada</string>
    </array>
    <key>public.kern1.KND_lVocalic_R</key>
    <array>
      <string>lVocalic_kannada</string>
    </array>
    <key>public.kern1.KND_l_R</key>
    <array>
      <string>la_kannada.base</string>
    </array>
    <key>public.kern1.KND_la-below_R</key>
    <array>
      <string>la_kannada.below</string>
    </array>
    <key>public.kern1.KND_la_R</key>
    <array>
      <string>la_kannada</string>
    </array>
    <key>public.kern1.KND_le_R</key>
    <array>
      <string>le_kannada</string>
    </array>
    <key>public.kern1.KND_length_R</key>
    <array>
      <string>iiMatra_kannada</string>
      <string>eeMatra_kannada</string>
      <string>ooMatra_kannada</string>
      <string>length_kannada</string>
    </array>
    <key>public.kern1.KND_li_R</key>
    <array>
      <string>li_kannada</string>
    </array>
    <key>public.kern1.KND_llVocalicMatra_R</key>
    <array>
      <string>llVocalicMatra_kannada</string>
    </array>
    <key>public.kern1.KND_ll_R</key>
    <array>
      <string>lla_kannada.base</string>
    </array>
    <key>public.kern1.KND_lla-below_R</key>
    <array>
      <string>lla_kannada.below</string>
    </array>
    <key>public.kern1.KND_lla_R</key>
    <array>
      <string>lla_kannada</string>
      <string>lle_kannada</string>
    </array>
    <key>public.kern1.KND_lli_R</key>
    <array>
      <string>lli_kannada</string>
    </array>
    <key>public.kern1.KND_m_R</key>
    <array>
      <string>ma_kannada.base</string>
      <string>ya_kannada.base</string>
    </array>
    <key>public.kern1.KND_ma-below_R</key>
    <array>
      <string>ma_kannada.below</string>
    </array>
    <key>public.kern1.KND_ma_R</key>
    <array>
      <string>rVocalic_kannada</string>
      <string>ma_kannada</string>
      <string>ya_kannada</string>
      <string>uMatra_kannada</string>
      <string>mi_kannada</string>
      <string>yi_kannada</string>
      <string>ghu_kannada</string>
      <string>llu_kannada</string>
      <string>me_kannada</string>
      <string>ye_kannada</string>
    </array>
    <key>public.kern1.KND_n_R</key>
    <array>
      <string>na_kannada.base</string>
    </array>
    <key>public.kern1.KND_na-below_R</key>
    <array>
      <string>na_kannada.below</string>
    </array>
    <key>public.kern1.KND_na_R</key>
    <array>
      <string>na_kannada</string>
      <string>ne_kannada</string>
    </array>
    <key>public.kern1.KND_ng_R</key>
    <array>
      <string>nga_kannada.base</string>
      <string>ja_kannada.base</string>
    </array>
    <key>public.kern1.KND_nga-below_R</key>
    <array>
      <string>nga_kannada.below</string>
    </array>
    <key>public.kern1.KND_nga_R</key>
    <array>
      <string>nga_kannada</string>
      <string>ja_kannada</string>
      <string>ji_kannada</string>
    </array>
    <key>public.kern1.KND_nge_R</key>
    <array>
      <string>nge_kannada</string>
    </array>
    <key>public.kern1.KND_ngi_R</key>
    <array>
      <string>ngi_kannada</string>
    </array>
    <key>public.kern1.KND_ni_R</key>
    <array>
      <string>ni_kannada</string>
    </array>
    <key>public.kern1.KND_nine_R</key>
    <array>
      <string>nine_kannada</string>
    </array>
    <key>public.kern1.KND_nn_R</key>
    <array>
      <string>nna_kannada.base</string>
    </array>
    <key>public.kern1.KND_nna-below_R</key>
    <array>
      <string>nna_kannada.below</string>
    </array>
    <key>public.kern1.KND_nna_R</key>
    <array>
      <string>nna_kannada</string>
      <string>nni_kannada</string>
    </array>
    <key>public.kern1.KND_nne_R</key>
    <array>
      <string>nne_kannada</string>
    </array>
    <key>public.kern1.KND_ny_R</key>
    <array>
      <string>nya_kannada.base</string>
    </array>
    <key>public.kern1.KND_nya-below_R</key>
    <array>
      <string>nya_kannada.below</string>
    </array>
    <key>public.kern1.KND_nya_R</key>
    <array>
      <string>nya_kannada</string>
    </array>
    <key>public.kern1.KND_nye_R</key>
    <array>
      <string>nye_kannada</string>
    </array>
    <key>public.kern1.KND_nyi_R</key>
    <array>
      <string>nyi_kannada</string>
    </array>
    <key>public.kern1.KND_o_R</key>
    <array>
      <string>o_kannada</string>
      <string>oo_kannada</string>
    </array>
    <key>public.kern1.KND_p_R</key>
    <array>
      <string>pa_kannada.base</string>
    </array>
    <key>public.kern1.KND_pa_R</key>
    <array>
      <string>pa_kannada</string>
      <string>pe_kannada</string>
    </array>
    <key>public.kern1.KND_ph_R</key>
    <array>
      <string>pha_kannada.base</string>
    </array>
    <key>public.kern1.KND_pha_R</key>
    <array>
      <string>pha_kannada</string>
      <string>phe_kannada</string>
    </array>
    <key>public.kern1.KND_phi_R</key>
    <array>
      <string>phi_kannada</string>
    </array>
    <key>public.kern1.KND_pi_R</key>
    <array>
      <string>pi_kannada</string>
    </array>
    <key>public.kern1.KND_pu_R</key>
    <array>
      <string>pu_kannada</string>
      <string>phu_kannada</string>
      <string>vu_kannada</string>
    </array>
    <key>public.kern1.KND_rVocalicMatra_R</key>
    <array>
      <string>rVocalicMatra_kannada</string>
    </array>
    <key>public.kern1.KND_ra-below_R</key>
    <array>
      <string>ra_kannada.below</string>
    </array>
    <key>public.kern1.KND_rrVocalicMatra_R</key>
    <array>
      <string>rrVocalicMatra_kannada</string>
    </array>
    <key>public.kern1.KND_rr_R</key>
    <array>
      <string>rra_kannada.base</string>
      <string>llla_kannada.base</string>
    </array>
    <key>public.kern1.KND_rra-below_R</key>
    <array>
      <string>rra_kannada.below</string>
      <string>llla_kannada.below</string>
    </array>
    <key>public.kern1.KND_rra_R</key>
    <array>
      <string>rra_kannada</string>
      <string>llla_kannada</string>
    </array>
    <key>public.kern1.KND_rre_R</key>
    <array>
      <string>rre_kannada</string>
      <string>llle_kannada</string>
    </array>
    <key>public.kern1.KND_rri_R</key>
    <array>
      <string>rri_kannada</string>
      <string>llli_kannada</string>
    </array>
    <key>public.kern1.KND_s_R</key>
    <array>
      <string>sa_kannada.base</string>
    </array>
    <key>public.kern1.KND_sa-below_R</key>
    <array>
      <string>sa_kannada.below</string>
    </array>
    <key>public.kern1.KND_sa_R</key>
    <array>
      <string>sa_kannada</string>
      <string>se_kannada</string>
    </array>
    <key>public.kern1.KND_seven_R</key>
    <array>
      <string>seven_kannada</string>
    </array>
    <key>public.kern1.KND_sh_R</key>
    <array>
      <string>sha_kannada.base</string>
    </array>
    <key>public.kern1.KND_sha-below_R</key>
    <array>
      <string>sha_kannada.below</string>
    </array>
    <key>public.kern1.KND_sha_R</key>
    <array>
      <string>sha_kannada</string>
      <string>she_kannada</string>
    </array>
    <key>public.kern1.KND_shi_R</key>
    <array>
      <string>shi_kannada</string>
    </array>
    <key>public.kern1.KND_si_R</key>
    <array>
      <string>si_kannada</string>
    </array>
    <key>public.kern1.KND_ss_R</key>
    <array>
      <string>ssa_kannada.base</string>
    </array>
    <key>public.kern1.KND_ssa-below_R</key>
    <array>
      <string>ssa_kannada.below</string>
    </array>
    <key>public.kern1.KND_ssa_R</key>
    <array>
      <string>ssa_kannada</string>
      <string>ssi_kannada</string>
      <string>sse_kannada</string>
    </array>
    <key>public.kern1.KND_t_R</key>
    <array>
      <string>ta_kannada.base</string>
    </array>
    <key>public.kern1.KND_t_ailength-below_R</key>
    <array>
      <string>t_ailength_kannada.below</string>
    </array>
    <key>public.kern1.KND_t_rVocalicMatra_R</key>
    <array>
      <string>t_rVocalicMatra_kannada.below</string>
    </array>
    <key>public.kern1.KND_t_ya_R</key>
    <array>
      <string>t_ya_kannada.below</string>
    </array>
    <key>public.kern1.KND_ta-below_R</key>
    <array>
      <string>ta_kannada.below</string>
    </array>
    <key>public.kern1.KND_ta_R</key>
    <array>
      <string>ta_kannada</string>
      <string>te_kannada</string>
    </array>
    <key>public.kern1.KND_th_R</key>
    <array>
      <string>tha_kannada.base</string>
      <string>dha_kannada.base</string>
    </array>
    <key>public.kern1.KND_tha-below_R</key>
    <array>
      <string>tha_kannada.below</string>
      <string>da_kannada.below</string>
      <string>dha_kannada.below</string>
    </array>
    <key>public.kern1.KND_tha_R</key>
    <array>
      <string>tha_kannada</string>
      <string>dha_kannada</string>
      <string>the_kannada</string>
      <string>dhe_kannada</string>
    </array>
    <key>public.kern1.KND_three_R</key>
    <array>
      <string>three_kannada</string>
    </array>
    <key>public.kern1.KND_ti_R</key>
    <array>
      <string>ti_kannada</string>
    </array>
    <key>public.kern1.KND_tt_R</key>
    <array>
      <string>tta_kannada.base</string>
    </array>
    <key>public.kern1.KND_tta-below_R</key>
    <array>
      <string>tta_kannada.below</string>
    </array>
    <key>public.kern1.KND_tta_R</key>
    <array>
      <string>tta_kannada</string>
      <string>tti_kannada</string>
      <string>tte_kannada</string>
    </array>
    <key>public.kern1.KND_tth_R</key>
    <array>
      <string>ttha_kannada.base</string>
      <string>ra_kannada.base</string>
    </array>
    <key>public.kern1.KND_ttha-below_R</key>
    <array>
      <string>ttha_kannada.below</string>
    </array>
    <key>public.kern1.KND_ttha_R</key>
    <array>
      <string>ttha_kannada</string>
      <string>ra_kannada</string>
      <string>tthe_kannada</string>
      <string>re_kannada</string>
    </array>
    <key>public.kern1.KND_tthi_R</key>
    <array>
      <string>tthi_kannada</string>
      <string>ri_kannada</string>
    </array>
    <key>public.kern1.KND_two_R</key>
    <array>
      <string>six_kannada</string>
    </array>
    <key>public.kern1.KND_u_R</key>
    <array>
      <string>u_kannada</string>
    </array>
    <key>public.kern1.KND_uuMatra_R</key>
    <array>
      <string>uu_kannada</string>
      <string>rrVocalic_kannada</string>
      <string>uuMatra_kannada</string>
      <string>oMatra_kannada</string>
      <string>ghuu_kannada</string>
      <string>phuu_kannada</string>
      <string>puu_kannada</string>
      <string>lluu_kannada</string>
      <string>vuu_kannada</string>
      <string>gho_kannada</string>
      <string>ngo_kannada</string>
      <string>nyo_kannada</string>
      <string>po_kannada</string>
      <string>pho_kannada</string>
      <string>mo_kannada</string>
      <string>yo_kannada</string>
      <string>rro_kannada</string>
      <string>llo_kannada</string>
      <string>vo_kannada</string>
      <string>lllo_kannada</string>
    </array>
    <key>public.kern1.KND_v_R</key>
    <array>
      <string>va_kannada.base</string>
    </array>
    <key>public.kern1.KND_va-below_R</key>
    <array>
      <string>va_kannada.below</string>
    </array>
    <key>public.kern1.KND_va_R</key>
    <array>
      <string>va_kannada</string>
      <string>ve_kannada</string>
    </array>
    <key>public.kern1.KND_vi_R</key>
    <array>
      <string>vi_kannada</string>
    </array>
    <key>public.kern1.KND_ya-below_R</key>
    <array>
      <string>ya_kannada.below</string>
    </array>
    <key>public.kern1.LTN_braceleft_R</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.LTN_bracketleft_R</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.LTN_colon_R</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.LTN_endash_R</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.LTN_exclam_R</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.LTN_hyphen_R</key>
    <array>
      <string>hyphen</string>
      <string>uni2010</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern1.LTN_parenleft_R</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.LTN_period_R</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.LTN_question_R</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.LTN_quoteleft_R</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.LTN_quoteright_R</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.LTN_quotesingle_R</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.LTN_slash_R</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.KND_a_L</key>
    <array>
      <string>a_kannada</string>
      <string>aa_kannada</string>
      <string>la_kannada</string>
      <string>li_kannada</string>
      <string>le_kannada</string>
      <string>la_kannada.base</string>
    </array>
    <key>public.kern2.KND_aaMatra_L</key>
    <array>
      <string>aaMatra_kannada</string>
    </array>
    <key>public.kern2.KND_ai_L</key>
    <array>
      <string>ai_kannada</string>
    </array>
    <key>public.kern2.KND_ailength_L</key>
    <array>
      <string>ailength_kannada</string>
    </array>
    <key>public.kern2.KND_au_L</key>
    <array>
      <string>au_kannada</string>
    </array>
    <key>public.kern2.KND_ba-below_L</key>
    <array>
      <string>ba_kannada.below</string>
      <string>bha_kannada.below</string>
    </array>
    <key>public.kern2.KND_ca-below_L</key>
    <array>
      <string>ca_kannada.below</string>
    </array>
    <key>public.kern2.KND_cha-below_L</key>
    <array>
      <string>cha_kannada.below</string>
    </array>
    <key>public.kern2.KND_cha_L</key>
    <array>
      <string>cha_kannada</string>
      <string>chi_kannada</string>
      <string>che_kannada</string>
      <string>cha_kannada.base</string>
    </array>
    <key>public.kern2.KND_dda-below_L</key>
    <array>
      <string>dda_kannada.below</string>
      <string>ddha_kannada.below</string>
    </array>
    <key>public.kern2.KND_dda_L</key>
    <array>
      <string>dda_kannada</string>
      <string>da_kannada</string>
      <string>dde_kannada</string>
      <string>de_kannada</string>
      <string>dda_kannada.base</string>
      <string>da_kannada.base</string>
    </array>
    <key>public.kern2.KND_ddha_L</key>
    <array>
      <string>ddha_kannada</string>
      <string>tha_kannada</string>
      <string>dha_kannada</string>
      <string>ddhe_kannada</string>
      <string>the_kannada</string>
      <string>dhe_kannada</string>
      <string>ddha_kannada.base</string>
      <string>tha_kannada.base</string>
      <string>dha_kannada.base</string>
    </array>
    <key>public.kern2.KND_ddi_L</key>
    <array>
      <string>ddi_kannada</string>
      <string>ddhi_kannada</string>
      <string>thi_kannada</string>
      <string>di_kannada</string>
      <string>dhi_kannada</string>
    </array>
    <key>public.kern2.KND_e_L</key>
    <array>
      <string>e_kannada</string>
      <string>ee_kannada</string>
    </array>
    <key>public.kern2.KND_ga-below_L</key>
    <array>
      <string>ga_kannada.below</string>
    </array>
    <key>public.kern2.KND_ga_L</key>
    <array>
      <string>ga_kannada</string>
      <string>ge_kannada</string>
      <string>ga_kannada.base</string>
    </array>
    <key>public.kern2.KND_gha-below_L</key>
    <array>
      <string>gha_kannada.below</string>
    </array>
    <key>public.kern2.KND_gha_L</key>
    <array>
      <string>gha_kannada</string>
      <string>pa_kannada</string>
      <string>pha_kannada</string>
      <string>ma_kannada</string>
      <string>va_kannada</string>
      <string>ssa_kannada</string>
      <string>ghaa_kannada</string>
      <string>ghu_kannada</string>
      <string>pu_kannada</string>
      <string>phu_kannada</string>
      <string>vu_kannada</string>
      <string>ghuu_kannada</string>
      <string>phuu_kannada</string>
      <string>puu_kannada</string>
      <string>vuu_kannada</string>
      <string>ghe_kannada</string>
      <string>pe_kannada</string>
      <string>phe_kannada</string>
      <string>me_kannada</string>
      <string>ve_kannada</string>
      <string>sse_kannada</string>
      <string>gho_kannada</string>
      <string>po_kannada</string>
      <string>pho_kannada</string>
      <string>mo_kannada</string>
      <string>vo_kannada</string>
      <string>ghau_kannada</string>
      <string>gha_kannada.base</string>
      <string>pa_kannada.base</string>
      <string>pha_kannada.base</string>
      <string>ma_kannada.base</string>
      <string>va_kannada.base</string>
      <string>ssa_kannada.base</string>
    </array>
    <key>public.kern2.KND_ghi_L</key>
    <array>
      <string>ghi_kannada</string>
      <string>pi_kannada</string>
      <string>phi_kannada</string>
      <string>ssi_kannada</string>
    </array>
    <key>public.kern2.KND_gi_L</key>
    <array>
      <string>gi_kannada</string>
    </array>
    <key>public.kern2.KND_ha-below_L</key>
    <array>
      <string>ha_kannada.below</string>
    </array>
    <key>public.kern2.KND_ha_L</key>
    <array>
      <string>ha_kannada</string>
      <string>he_kannada</string>
      <string>ha_kannada.base</string>
    </array>
    <key>public.kern2.KND_halant_L</key>
    <array>
      <string>halant_kannada</string>
    </array>
    <key>public.kern2.KND_hi_L</key>
    <array>
      <string>hi_kannada</string>
    </array>
    <key>public.kern2.KND_ii_L</key>
    <array>
      <string>ii_kannada</string>
    </array>
    <key>public.kern2.KND_j-nya_L</key>
    <array>
      <string>j_nya_kannada.below</string>
    </array>
    <key>public.kern2.KND_ja-below_L</key>
    <array>
      <string>ja_kannada.below</string>
    </array>
    <key>public.kern2.KND_jha-below_L</key>
    <array>
      <string>jha_kannada.below</string>
    </array>
    <key>public.kern2.KND_jha_L</key>
    <array>
      <string>jha_kannada</string>
      <string>ttha_kannada</string>
      <string>ra_kannada</string>
      <string>jhe_kannada</string>
      <string>tthe_kannada</string>
      <string>re_kannada</string>
      <string>jha_kannada.base</string>
      <string>ttha_kannada.base</string>
      <string>ra_kannada.base</string>
    </array>
    <key>public.kern2.KND_jhi_L</key>
    <array>
      <string>jhi_kannada</string>
      <string>tthi_kannada</string>
      <string>ri_kannada</string>
    </array>
    <key>public.kern2.KND_ka-below_L</key>
    <array>
      <string>ka_kannada.below</string>
      <string>k_ssa_kannada.below</string>
    </array>
    <key>public.kern2.KND_ka_L</key>
    <array>
      <string>ka_kannada</string>
      <string>ke_kannada</string>
      <string>ka_kannada.base</string>
      <string>k_ssa_kannada</string>
      <string>k_sse_kannada</string>
      <string>k_ssa_kannada.base</string>
    </array>
    <key>public.kern2.KND_kha-below_L</key>
    <array>
      <string>kha_kannada.below</string>
    </array>
    <key>public.kern2.KND_kha_L</key>
    <array>
      <string>kha_kannada</string>
      <string>khi_kannada</string>
      <string>khe_kannada</string>
      <string>kha_kannada.base</string>
    </array>
    <key>public.kern2.KND_ki_L</key>
    <array>
      <string>ki_kannada</string>
      <string>k_ssi_kannada</string>
    </array>
    <key>public.kern2.KND_lVocalicMatra_L</key>
    <array>
      <string>lVocalicMatra_kannada</string>
      <string>llVocalicMatra_kannada</string>
    </array>
    <key>public.kern2.KND_lVocalic_L</key>
    <array>
      <string>lVocalic_kannada</string>
      <string>llVocalic_kannada</string>
    </array>
    <key>public.kern2.KND_la-below_L</key>
    <array>
      <string>la_kannada.below</string>
    </array>
    <key>public.kern2.KND_length_L</key>
    <array>
      <string>length_kannada</string>
    </array>
    <key>public.kern2.KND_lla-below_L</key>
    <array>
      <string>lla_kannada.below</string>
    </array>
    <key>public.kern2.KND_lla_L</key>
    <array>
      <string>lla_kannada</string>
      <string>lli_kannada</string>
      <string>llu_kannada</string>
      <string>lluu_kannada</string>
      <string>lle_kannada</string>
      <string>llo_kannada</string>
      <string>lla_kannada.base</string>
    </array>
    <key>public.kern2.KND_ma-below_L</key>
    <array>
      <string>ma_kannada.below</string>
    </array>
    <key>public.kern2.KND_mi_L</key>
    <array>
      <string>mi_kannada</string>
      <string>vi_kannada</string>
    </array>
    <key>public.kern2.KND_na-below_L</key>
    <array>
      <string>na_kannada.below</string>
    </array>
    <key>public.kern2.KND_na_L</key>
    <array>
      <string>na_kannada</string>
      <string>ne_kannada</string>
      <string>na_kannada.base</string>
    </array>
    <key>public.kern2.KND_nga-below_L</key>
    <array>
      <string>nga_kannada.below</string>
    </array>
    <key>public.kern2.KND_ni_L</key>
    <array>
      <string>ni_kannada</string>
    </array>
    <key>public.kern2.KND_nna-below_L</key>
    <array>
      <string>nna_kannada.below</string>
    </array>
    <key>public.kern2.KND_nna_L</key>
    <array>
      <string>nna_kannada</string>
      <string>nni_kannada</string>
    </array>
    <key>public.kern2.KND_nnaa_L</key>
    <array>
      <string>nnaa_kannada</string>
      <string>nne_kannada</string>
      <string>nnau_kannada</string>
      <string>nna_kannada.base</string>
    </array>
    <key>public.kern2.KND_nya-below_L</key>
    <array>
      <string>nya_kannada.below</string>
    </array>
    <key>public.kern2.KND_nya_L</key>
    <array>
      <string>i_kannada</string>
      <string>nya_kannada</string>
      <string>nyaa_kannada</string>
      <string>nyi_kannada</string>
      <string>nye_kannada</string>
      <string>nyo_kannada</string>
      <string>nyau_kannada</string>
      <string>nya_kannada.base</string>
    </array>
    <key>public.kern2.KND_o_L</key>
    <array>
      <string>o_kannada</string>
      <string>oo_kannada</string>
      <string>nga_kannada</string>
      <string>ca_kannada</string>
      <string>ja_kannada</string>
      <string>ba_kannada</string>
      <string>bha_kannada</string>
      <string>ngaa_kannada</string>
      <string>caa_kannada</string>
      <string>jaa_kannada</string>
      <string>ngi_kannada</string>
      <string>ci_kannada</string>
      <string>ji_kannada</string>
      <string>bi_kannada</string>
      <string>bhi_kannada</string>
      <string>nge_kannada</string>
      <string>ce_kannada</string>
      <string>je_kannada</string>
      <string>be_kannada</string>
      <string>bhe_kannada</string>
      <string>ngo_kannada</string>
      <string>ngau_kannada</string>
      <string>cau_kannada</string>
      <string>jau_kannada</string>
      <string>nga_kannada.base</string>
      <string>ca_kannada.base</string>
      <string>ja_kannada.base</string>
      <string>ba_kannada.base</string>
      <string>bha_kannada.base</string>
    </array>
    <key>public.kern2.KND_pa-below_L</key>
    <array>
      <string>pa_kannada.below</string>
      <string>pha_kannada.below</string>
      <string>ssa_kannada.below</string>
    </array>
    <key>public.kern2.KND_rVocalicMatra_L</key>
    <array>
      <string>rVocalicMatra_kannada</string>
      <string>rrVocalicMatra_kannada</string>
    </array>
    <key>public.kern2.KND_rVocalic_L</key>
    <array>
      <string>rVocalic_kannada</string>
      <string>rrVocalic_kannada</string>
    </array>
    <key>public.kern2.KND_ra-below_L</key>
    <array>
      <string>ra_kannada.below</string>
    </array>
    <key>public.kern2.KND_reph_L</key>
    <array>
      <string>reph_kannada</string>
    </array>
    <key>public.kern2.KND_rra-below_L</key>
    <array>
      <string>rra_kannada.below</string>
      <string>llla_kannada.below</string>
    </array>
    <key>public.kern2.KND_rra_L</key>
    <array>
      <string>rra_kannada</string>
      <string>llla_kannada</string>
      <string>rraa_kannada</string>
      <string>lllaa_kannada</string>
      <string>rri_kannada</string>
      <string>llli_kannada</string>
      <string>rre_kannada</string>
      <string>llle_kannada</string>
      <string>rro_kannada</string>
      <string>lllo_kannada</string>
      <string>rrau_kannada</string>
      <string>lllau_kannada</string>
      <string>rra_kannada.base</string>
      <string>llla_kannada.base</string>
    </array>
    <key>public.kern2.KND_sa-below_L</key>
    <array>
      <string>sa_kannada.below</string>
    </array>
    <key>public.kern2.KND_sa_L</key>
    <array>
      <string>sa_kannada</string>
      <string>se_kannada</string>
      <string>sa_kannada.base</string>
    </array>
    <key>public.kern2.KND_sha-below_L</key>
    <array>
      <string>sha_kannada.below</string>
    </array>
    <key>public.kern2.KND_sha_L</key>
    <array>
      <string>sha_kannada</string>
      <string>she_kannada</string>
      <string>sha_kannada.base</string>
    </array>
    <key>public.kern2.KND_shi_L</key>
    <array>
      <string>shi_kannada</string>
    </array>
    <key>public.kern2.KND_si_L</key>
    <array>
      <string>si_kannada</string>
    </array>
    <key>public.kern2.KND_t_ailength-below_L</key>
    <array>
      <string>t_ailength_kannada.below</string>
    </array>
    <key>public.kern2.KND_t_rVocalicMatra_L</key>
    <array>
      <string>t_rVocalicMatra_kannada.below</string>
    </array>
    <key>public.kern2.KND_t_ya_L</key>
    <array>
      <string>t_ya_kannada.below</string>
    </array>
    <key>public.kern2.KND_ta-below_L</key>
    <array>
      <string>ta_kannada.below</string>
    </array>
    <key>public.kern2.KND_ta_L</key>
    <array>
      <string>ta_kannada</string>
      <string>ti_kannada</string>
      <string>te_kannada</string>
      <string>ta_kannada.base</string>
    </array>
    <key>public.kern2.KND_tha-below_L</key>
    <array>
      <string>tha_kannada.below</string>
      <string>da_kannada.below</string>
      <string>dha_kannada.below</string>
    </array>
    <key>public.kern2.KND_tta-below_L</key>
    <array>
      <string>tta_kannada.below</string>
    </array>
    <key>public.kern2.KND_tta_L</key>
    <array>
      <string>tta_kannada</string>
      <string>ttaa_kannada</string>
      <string>tti_kannada</string>
      <string>tte_kannada</string>
      <string>ttau_kannada</string>
      <string>tta_kannada.base</string>
    </array>
    <key>public.kern2.KND_ttha-below_L</key>
    <array>
      <string>ttha_kannada.below</string>
    </array>
    <key>public.kern2.KND_two_L</key>
    <array>
      <string>two_kannada</string>
    </array>
    <key>public.kern2.KND_uMatra_L</key>
    <array>
      <string>uMatra_kannada</string>
    </array>
    <key>public.kern2.KND_u_L</key>
    <array>
      <string>u_kannada</string>
      <string>uu_kannada</string>
    </array>
    <key>public.kern2.KND_uuMatra_L</key>
    <array>
      <string>uuMatra_kannada</string>
    </array>
    <key>public.kern2.KND_va-below_L</key>
    <array>
      <string>va_kannada.below</string>
    </array>
    <key>public.kern2.KND_ya-below_L</key>
    <array>
      <string>ya_kannada.below</string>
    </array>
    <key>public.kern2.KND_ya_L</key>
    <array>
      <string>ya_kannada</string>
      <string>yi_kannada</string>
      <string>ye_kannada</string>
      <string>yo_kannada</string>
      <string>ya_kannada.base</string>
    </array>
    <key>public.kern2.LTN_asterisk_L</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.LTN_braceleft_L</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.LTN_bracketleft_L</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.LTN_colon_L</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.LTN_comma_L</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern2.LTN_endash_L</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.LTN_exclam_L</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.LTN_hyphen_L</key>
    <array>
      <string>hyphen</string>
      <string>uni2010</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern2.LTN_parenleft_L</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.LTN_parenright_L</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.LTN_period_L</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.LTN_question_L</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.LTN_quoteleft_L</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.LTN_quoteright_L</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.LTN_quotesingle_L</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.LTN_semicolon_L</key>
    <array>
      <string>semicolon</string>
    </array>
    <key>public.kern2.LTN_slash_L</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.PCT_backslash_L</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.PCT_braceleft_L</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.PCT_bracketleft_L</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.PCT_underscore_L</key>
    <array>
      <string>underscore</string>
    </array>
  </dict>
</plist>
