<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.blackCircled</key>
    <string>eight.blackC_ircled.glif</string>
    <key>eight.sansSerifBlackCircled</key>
    <string>eight.sansS_erifB_lackC_ircled.glif</string>
    <key>eight.sansSerifCircled</key>
    <string>eight.sansS_erifC_ircled.glif</string>
    <key>five.blackCircled</key>
    <string>five.blackC_ircled.glif</string>
    <key>five.sansSerifBlackCircled</key>
    <string>five.sansS_erifB_lackC_ircled.glif</string>
    <key>five.sansSerifCircled</key>
    <string>five.sansS_erifC_ircled.glif</string>
    <key>four.blackCircled</key>
    <string>four.blackC_ircled.glif</string>
    <key>four.sansSerifBlackCircled</key>
    <string>four.sansS_erifB_lackC_ircled.glif</string>
    <key>four.sansSerifCircled</key>
    <string>four.sansS_erifC_ircled.glif</string>
    <key>nine.blackCircled</key>
    <string>nine.blackC_ircled.glif</string>
    <key>nine.sansSerifBlackCircled</key>
    <string>nine.sansS_erifB_lackC_ircled.glif</string>
    <key>nine.sansSerifCircled</key>
    <string>nine.sansS_erifC_ircled.glif</string>
    <key>one.blackCircled</key>
    <string>one.blackC_ircled.glif</string>
    <key>one.sansSerifBlackCircled</key>
    <string>one.sansS_erifB_lackC_ircled.glif</string>
    <key>one.sansSerifCircled</key>
    <string>one.sansS_erifC_ircled.glif</string>
    <key>one_zero.blackCircled</key>
    <string>one_zero.blackC_ircled.glif</string>
    <key>one_zero.sansSerifBlackCircled</key>
    <string>one_zero.sansS_erifB_lackC_ircled.glif</string>
    <key>one_zero.sansSerifCircled</key>
    <string>one_zero.sansS_erifC_ircled.glif</string>
    <key>seven.blackCircled</key>
    <string>seven.blackC_ircled.glif</string>
    <key>seven.sansSerifBlackCircled</key>
    <string>seven.sansS_erifB_lackC_ircled.glif</string>
    <key>seven.sansSerifCircled</key>
    <string>seven.sansS_erifC_ircled.glif</string>
    <key>six.blackCircled</key>
    <string>six.blackC_ircled.glif</string>
    <key>six.sansSerifBlackCircled</key>
    <string>six.sansS_erifB_lackC_ircled.glif</string>
    <key>six.sansSerifCircled</key>
    <string>six.sansS_erifC_ircled.glif</string>
    <key>three.blackCircled</key>
    <string>three.blackC_ircled.glif</string>
    <key>three.sansSerifBlackCircled</key>
    <string>three.sansS_erifB_lackC_ircled.glif</string>
    <key>three.sansSerifCircled</key>
    <string>three.sansS_erifC_ircled.glif</string>
    <key>two.blackCircled</key>
    <string>two.blackC_ircled.glif</string>
    <key>two.sansSerifBlackCircled</key>
    <string>two.sansS_erifB_lackC_ircled.glif</string>
    <key>two.sansSerifCircled</key>
    <string>two.sansS_erifC_ircled.glif</string>
  </dict>
</plist>
