<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>one_eight.circled</key>
    <string>one_eight.circled.glif</string>
    <key>one_five.circled</key>
    <string>one_five.circled.glif</string>
    <key>one_four.circled</key>
    <string>one_four.circled.glif</string>
    <key>one_nine.circled</key>
    <string>one_nine.circled.glif</string>
    <key>one_one.circled</key>
    <string>one_one.circled.glif</string>
    <key>one_seven.circled</key>
    <string>one_seven.circled.glif</string>
    <key>one_six.circled</key>
    <string>one_six.circled.glif</string>
    <key>one_three.circled</key>
    <string>one_three.circled.glif</string>
    <key>one_two.circled</key>
    <string>one_two.circled.glif</string>
    <key>two_zero.circled</key>
    <string>two_zero.circled.glif</string>
  </dict>
</plist>
