<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ironOre-alchemical</key>
    <string>ironO_re-alchemical.glif</string>
    <key>ironOre2-alchemical</key>
    <string>ironO_re2-alchemical.glif</string>
    <key>silver-alchemical</key>
    <string>silver-alchemical.glif</string>
  </dict>
</plist>
