<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10B60</key>
    <string>u10B_60.glif</string>
    <key>u10B61</key>
    <string>u10B_61.glif</string>
    <key>u10B61.alt01</key>
    <string>u10B_61.alt01.glif</string>
    <key>u10B61.alt02</key>
    <string>u10B_61.alt02.glif</string>
    <key>u10B62</key>
    <string>u10B_62.glif</string>
    <key>u10B63</key>
    <string>u10B_63.glif</string>
    <key>u10B64</key>
    <string>u10B_64.glif</string>
    <key>u10B65</key>
    <string>u10B_65.glif</string>
    <key>u10B66</key>
    <string>u10B_66.glif</string>
    <key>u10B67</key>
    <string>u10B_67.glif</string>
    <key>u10B68</key>
    <string>u10B_68.glif</string>
    <key>u10B69</key>
    <string>u10B_69.glif</string>
    <key>u10B6A</key>
    <string>u10B_6A_.glif</string>
    <key>u10B6B</key>
    <string>u10B_6B_.glif</string>
    <key>u10B6B.alt01</key>
    <string>u10B_6B_.alt01.glif</string>
    <key>u10B6C</key>
    <string>u10B_6C_.glif</string>
    <key>u10B6D</key>
    <string>u10B_6D_.glif</string>
    <key>u10B6E</key>
    <string>u10B_6E_.glif</string>
    <key>u10B6F</key>
    <string>u10B_6F_.glif</string>
    <key>u10B70</key>
    <string>u10B_70.glif</string>
    <key>u10B71</key>
    <string>u10B_71.glif</string>
    <key>u10B72</key>
    <string>u10B_72.glif</string>
    <key>u10B78</key>
    <string>u10B_78.glif</string>
    <key>u10B79</key>
    <string>u10B_79.glif</string>
    <key>u10B7A</key>
    <string>u10B_7A_.glif</string>
    <key>u10B7B</key>
    <string>u10B_7B_.glif</string>
    <key>u10B7C</key>
    <string>u10B_7C_.glif</string>
    <key>u10B7D</key>
    <string>u10B_7D_.glif</string>
    <key>u10B7E</key>
    <string>u10B_7E_.glif</string>
    <key>u10B7F</key>
    <string>u10B_7F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
