<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.P</key>
    <array>
      <string>asterisk.guru</string>
    </array>
    <key>public.kern1.aamatraR</key>
    <array>
      <string>aaguru</string>
      <string>aamatraguru</string>
    </array>
    <key>public.kern1.caR</key>
    <array>
      <string>caguru</string>
      <string>raguru</string>
      <string>haguru</string>
    </array>
    <key>public.kern1.chaR</key>
    <array>
      <string>chaguru</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon.guru</string>
      <string>semicolon.guru</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma.guru</string>
      <string>period.guru</string>
      <string>ellipsis.guru</string>
    </array>
    <key>public.kern1.daR</key>
    <array>
      <string>daguru</string>
    </array>
    <key>public.kern1.ddaR</key>
    <array>
      <string>ddaguru</string>
      <string>taguru</string>
      <string>bhaguru</string>
    </array>
    <key>public.kern1.ddhaR</key>
    <array>
      <string>ddhaguru</string>
      <string>phaguru</string>
      <string>phanuktaguru</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen.guru</string>
      <string>endash.guru</string>
      <string>emdash.guru</string>
    </array>
    <key>public.kern1.imatraR</key>
    <array>
      <string>imatraguru</string>
    </array>
    <key>public.kern1.iriR</key>
    <array>
      <string>iguru</string>
      <string>eeguru</string>
      <string>ttaguru</string>
      <string>iriguru</string>
    </array>
    <key>public.kern1.jhaR</key>
    <array>
      <string>jhaguru</string>
    </array>
    <key>public.kern1.kaR</key>
    <array>
      <string>kaguru</string>
      <string>kanuktaguru</string>
      <string>karaguru</string>
    </array>
    <key>public.kern1.laR</key>
    <array>
      <string>laguru</string>
    </array>
    <key>public.kern1.naR</key>
    <array>
      <string>naguru</string>
      <string>nanuktaguru</string>
      <string>nuutippiguru</string>
    </array>
    <key>public.kern1.ngaR</key>
    <array>
      <string>ngaguru</string>
    </array>
    <key>public.kern1.nnaR</key>
    <array>
      <string>nnaguru</string>
    </array>
    <key>public.kern1.nyaR</key>
    <array>
      <string>nyaguru</string>
      <string>vaguru</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft.guru</string>
      <string>bracketleft.guru</string>
      <string>braceleft.guru</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft.guru</string>
      <string>quotedblleft.guru</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright.guru</string>
      <string>quotedblright.guru</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl.guru</string>
      <string>quotesingle.guru</string>
    </array>
    <key>public.kern1.rraR</key>
    <array>
      <string>rraguru</string>
    </array>
    <key>public.kern1.tthaR</key>
    <array>
      <string>tthaguru</string>
    </array>
    <key>public.kern1.uR</key>
    <array>
      <string>uguru</string>
      <string>uuguru</string>
      <string>ooguru</string>
      <string>uraguru</string>
    </array>
    <key>public.kern1.vert</key>
    <array>
      <string>aguru</string>
      <string>iiguru</string>
      <string>aiguru</string>
      <string>auguru</string>
      <string>khaguru</string>
      <string>gaguru</string>
      <string>ghaguru</string>
      <string>jaguru</string>
      <string>thaguru</string>
      <string>dhaguru</string>
      <string>paguru</string>
      <string>baguru</string>
      <string>maguru</string>
      <string>yaguru</string>
      <string>sanuktaguru</string>
      <string>saguru</string>
      <string>iimatraguru</string>
      <string>khanuktaguru</string>
      <string>ganuktaguru</string>
      <string>januktaguru</string>
      <string>ghanuktaguru</string>
      <string>thanuktaguru</string>
      <string>dhanuktaguru</string>
      <string>panuktaguru</string>
      <string>banuktaguru</string>
      <string>manuktaguru</string>
      <string>yanuktaguru</string>
      <string>yapostformguru</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>question.guru</string>
    </array>
    <key>public.kern2.aL</key>
    <array>
      <string>aguru</string>
      <string>aaguru</string>
      <string>aiguru</string>
      <string>auguru</string>
    </array>
    <key>public.kern2.aamatraL</key>
    <array>
      <string>aamatraguru</string>
    </array>
    <key>public.kern2.baL</key>
    <array>
      <string>baguru</string>
    </array>
    <key>public.kern2.bhaL</key>
    <array>
      <string>bhaguru</string>
    </array>
    <key>public.kern2.caL</key>
    <array>
      <string>caguru</string>
      <string>ddhaguru</string>
      <string>daguru</string>
    </array>
    <key>public.kern2.chaL</key>
    <array>
      <string>chaguru</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon.guru</string>
      <string>semicolon.guru</string>
    </array>
    <key>public.kern2.ddaL</key>
    <array>
      <string>ddaguru</string>
    </array>
    <key>public.kern2.gaL</key>
    <array>
      <string>gaguru</string>
      <string>raguru</string>
      <string>haguru</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen.guru</string>
      <string>endash.guru</string>
      <string>emdash.guru</string>
    </array>
    <key>public.kern2.iimatraL</key>
    <array>
      <string>iimatraguru</string>
    </array>
    <key>public.kern2.imatraL</key>
    <array>
      <string>iguru</string>
      <string>imatraguru</string>
    </array>
    <key>public.kern2.iriL</key>
    <array>
      <string>iiguru</string>
      <string>eeguru</string>
      <string>ttaguru</string>
      <string>nnaguru</string>
      <string>iriguru</string>
      <string>iibindiguru</string>
      <string>eebindiguru</string>
      <string>iiaddakguru</string>
      <string>eeaddakguru</string>
    </array>
    <key>public.kern2.jaL</key>
    <array>
      <string>jaguru</string>
      <string>januktaguru</string>
    </array>
    <key>public.kern2.jhaL</key>
    <array>
      <string>jhaguru</string>
    </array>
    <key>public.kern2.kaL</key>
    <array>
      <string>kaguru</string>
      <string>kanuktaguru</string>
      <string>karaguru</string>
    </array>
    <key>public.kern2.khaL</key>
    <array>
      <string>khaguru</string>
      <string>ghaguru</string>
      <string>thaguru</string>
      <string>dhaguru</string>
      <string>paguru</string>
      <string>yaguru</string>
      <string>khanuktaguru</string>
    </array>
    <key>public.kern2.laL</key>
    <array>
      <string>laguru</string>
      <string>lanuktaguru</string>
    </array>
    <key>public.kern2.maL</key>
    <array>
      <string>maguru</string>
      <string>sanuktaguru</string>
      <string>saguru</string>
    </array>
    <key>public.kern2.naL</key>
    <array>
      <string>naguru</string>
      <string>nanuktaguru</string>
      <string>nuutippiguru</string>
    </array>
    <key>public.kern2.ngaL</key>
    <array>
      <string>ngaguru</string>
    </array>
    <key>public.kern2.nyaL</key>
    <array>
      <string>nyaguru</string>
      <string>vaguru</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright.guru</string>
      <string>bracketright.guru</string>
      <string>braceright.guru</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>comma.guru</string>
      <string>period.guru</string>
      <string>ellipsis.guru</string>
    </array>
    <key>public.kern2.phaL</key>
    <array>
      <string>phaguru</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft.guru</string>
      <string>quotedblleft.guru</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>asterisk.guru</string>
      <string>quoteright.guru</string>
      <string>quotedblright.guru</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl.guru</string>
      <string>quotesingle.guru</string>
    </array>
    <key>public.kern2.rraL</key>
    <array>
      <string>rraguru</string>
    </array>
    <key>public.kern2.taL</key>
    <array>
      <string>taguru</string>
    </array>
    <key>public.kern2.tthaL</key>
    <array>
      <string>tthaguru</string>
    </array>
    <key>public.kern2.uL</key>
    <array>
      <string>uguru</string>
      <string>uuguru</string>
      <string>ooguru</string>
      <string>uraguru</string>
      <string>ubindiguru</string>
      <string>uubindiguru</string>
      <string>oobindiguru</string>
      <string>uaddakguru</string>
      <string>uuaddakguru</string>
      <string>ooaddakguru</string>
      <string>uraaddakguru</string>
    </array>
  </dict>
</plist>
