<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>eightguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>-20</integer>
      <key>oneguru</key>
      <integer>-10</integer>
      <key>sevenguru</key>
      <integer>-20</integer>
      <key>threeguru</key>
      <integer>-15</integer>
      <key>twoguru</key>
      <integer>-20</integer>
      <key>zeroguru</key>
      <integer>-30</integer>
    </dict>
    <key>fiveguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>10</integer>
      <key>sevenguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <integer>-20</integer>
    </dict>
    <key>fourguru</key>
    <dict>
      <key>sevenguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <integer>-20</integer>
    </dict>
    <key>iibindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>lanuktaguru</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-60</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-70</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-60</integer>
      <key>public.kern2.nyaL</key>
      <integer>-40</integer>
    </dict>
    <key>nineguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>10</integer>
      <key>oneguru</key>
      <integer>-10</integer>
      <key>sevenguru</key>
      <integer>-20</integer>
      <key>twoguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <integer>-30</integer>
    </dict>
    <key>oneguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.aamatraR</key>
    <dict>
      <key>ganuktaguru</key>
      <integer>-20</integer>
      <key>phanuktaguru</key>
      <integer>-20</integer>
      <key>public.kern2.bhaL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.chaL</key>
      <integer>-20</integer>
      <key>public.kern2.jhaL</key>
      <integer>-20</integer>
      <key>public.kern2.laL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>-20</integer>
      <key>public.kern2.ngaL</key>
      <integer>-20</integer>
      <key>public.kern2.nyaL</key>
      <integer>-20</integer>
      <key>public.kern2.phaL</key>
      <integer>-20</integer>
      <key>public.kern2.rraL</key>
      <integer>-30</integer>
      <key>public.kern2.taL</key>
      <integer>-30</integer>
      <key>public.kern2.tthaL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.caR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-10</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-10</integer>
      <key>public.kern2.caL</key>
      <integer>-15</integer>
      <key>public.kern2.gaL</key>
      <integer>-10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-10</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>-10</integer>
      <key>public.kern2.nyaL</key>
      <integer>-10</integer>
      <key>public.kern2.tthaL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.chaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.gaL</key>
      <integer>-15</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.daR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-10</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-10</integer>
      <key>public.kern2.nyaL</key>
      <integer>-10</integer>
      <key>public.kern2.rraL</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.ddaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-30</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-30</integer>
      <key>public.kern2.bhaL</key>
      <integer>-10</integer>
      <key>public.kern2.caL</key>
      <integer>-15</integer>
      <key>public.kern2.ddaL</key>
      <integer>-10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.jhaL</key>
      <integer>-10</integer>
      <key>public.kern2.kaL</key>
      <integer>10</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.naL</key>
      <integer>0</integer>
      <key>public.kern2.ngaL</key>
      <integer>-15</integer>
      <key>public.kern2.nyaL</key>
      <integer>-10</integer>
      <key>public.kern2.taL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.ddhaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.chaL</key>
      <integer>-10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.iriL</key>
      <integer>-10</integer>
      <key>public.kern2.khaL</key>
      <integer>-20</integer>
      <key>public.kern2.naL</key>
      <integer>10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-20</integer>
      <key>public.kern2.nyaL</key>
      <integer>-10</integer>
      <key>public.kern2.phaL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.imatraR</key>
    <dict>
      <key>ganuktaguru</key>
      <integer>-40</integer>
      <key>phanuktaguru</key>
      <integer>-40</integer>
      <key>public.kern2.caL</key>
      <integer>-20</integer>
      <key>public.kern2.chaL</key>
      <integer>-20</integer>
      <key>public.kern2.jhaL</key>
      <integer>-20</integer>
      <key>public.kern2.khaL</key>
      <integer>-20</integer>
      <key>public.kern2.nyaL</key>
      <integer>-30</integer>
      <key>public.kern2.rraL</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.iriR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-10</integer>
      <key>public.kern2.caL</key>
      <integer>-15</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.jhaR</key>
    <dict>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
      <key>public.kern2.iriL</key>
      <integer>15</integer>
      <key>public.kern2.jaL</key>
      <integer>10</integer>
      <key>public.kern2.kaL</key>
      <integer>20</integer>
      <key>public.kern2.khaL</key>
      <integer>10</integer>
      <key>public.kern2.laL</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.kaR</key>
    <dict>
      <key>public.kern2.ddaL</key>
      <integer>15</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.tthaL</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.laR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-40</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.ddaL</key>
      <integer>10</integer>
      <key>public.kern2.gaL</key>
      <integer>10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-40</integer>
      <key>public.kern2.iriL</key>
      <integer>10</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.nyaL</key>
      <integer>-10</integer>
      <key>public.kern2.tthaL</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.naR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-40</integer>
      <key>public.kern2.bhaL</key>
      <integer>15</integer>
      <key>public.kern2.caL</key>
      <integer>-20</integer>
      <key>public.kern2.gaL</key>
      <integer>15</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-40</integer>
      <key>public.kern2.kaL</key>
      <integer>10</integer>
      <key>public.kern2.khaL</key>
      <integer>-10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-20</integer>
      <key>public.kern2.nyaL</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.ngaR</key>
    <dict>
      <key>public.kern2.aamatraL</key>
      <integer>-30</integer>
      <key>public.kern2.bhaL</key>
      <integer>15</integer>
      <key>public.kern2.caL</key>
      <integer>10</integer>
      <key>public.kern2.chaL</key>
      <integer>20</integer>
      <key>public.kern2.ddaL</key>
      <integer>20</integer>
      <key>public.kern2.gaL</key>
      <integer>20</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-30</integer>
      <key>public.kern2.iriL</key>
      <integer>20</integer>
      <key>public.kern2.jaL</key>
      <integer>20</integer>
      <key>public.kern2.kaL</key>
      <integer>20</integer>
      <key>public.kern2.khaL</key>
      <integer>10</integer>
      <key>public.kern2.laL</key>
      <integer>10</integer>
      <key>public.kern2.maL</key>
      <integer>10</integer>
      <key>public.kern2.naL</key>
      <integer>10</integer>
      <key>public.kern2.ngaL</key>
      <integer>-10</integer>
      <key>public.kern2.phaL</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.nnaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-40</integer>
      <key>public.kern2.rraL</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.nyaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-15</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.rraR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.gaL</key>
      <integer>-10</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-30</integer>
      <key>public.kern2.ngaL</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.tthaR</key>
    <dict>
      <key>public.kern2.aL</key>
      <integer>-20</integer>
      <key>public.kern2.aamatraL</key>
      <integer>-20</integer>
      <key>public.kern2.gaL</key>
      <integer>20</integer>
      <key>public.kern2.iimatraL</key>
      <integer>-30</integer>
      <key>public.kern2.kaL</key>
      <integer>15</integer>
      <key>public.kern2.laL</key>
      <integer>10</integer>
      <key>public.kern2.nyaL</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.vert</key>
    <dict>
      <key>public.kern2.caL</key>
      <integer>-10</integer>
      <key>public.kern2.khaL</key>
      <integer>0</integer>
      <key>public.kern2.ngaL</key>
      <integer>-10</integer>
    </dict>
    <key>sevenguru</key>
    <dict>
      <key>fiveguru</key>
      <integer>10</integer>
      <key>oneguru</key>
      <integer>10</integer>
      <key>sevenguru</key>
      <integer>-40</integer>
      <key>sixguru</key>
      <integer>-20</integer>
      <key>threeguru</key>
      <integer>-10</integer>
    </dict>
    <key>sixguru</key>
    <dict>
      <key>zeroguru</key>
      <integer>-20</integer>
    </dict>
    <key>threeguru</key>
    <dict>
      <key>sevenguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <integer>-10</integer>
    </dict>
    <key>twoguru</key>
    <dict>
      <key>twoguru</key>
      <integer>-10</integer>
      <key>zeroguru</key>
      <integer>-10</integer>
    </dict>
    <key>ubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>ubindinuktaguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>uubindiguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>uubindinuktaguru</key>
    <dict>
      <key>public.kern2.imatraL</key>
      <integer>10</integer>
    </dict>
    <key>zeroguru</key>
    <dict>
      <key>eightguru</key>
      <integer>-10</integer>
      <key>fiveguru</key>
      <integer>10</integer>
      <key>fourguru</key>
      <integer>-10</integer>
      <key>nineguru</key>
      <integer>-10</integer>
      <key>sevenguru</key>
      <integer>-35</integer>
      <key>threeguru</key>
      <integer>-10</integer>
      <key>twoguru</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
