<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1057</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni0300</string>
      <string>uni0300.space</string>
      <string>uni0301</string>
      <string>uni0301.space</string>
      <string>uni0307</string>
      <string>uni0307.space</string>
      <string>uni0308</string>
      <string>uni0308.space</string>
      <string>uni030C</string>
      <string>uni030C.space</string>
      <string>uni1040</string>
      <string>uni1041</string>
      <string>uni1042</string>
      <string>uni1043</string>
      <string>uni1044</string>
      <string>uni1045</string>
      <string>uni1046</string>
      <string>uni1047</string>
      <string>uni1048</string>
      <string>uni1049</string>
      <string>uni1950</string>
      <string>uni1951</string>
      <string>uni1952</string>
      <string>uni1953</string>
      <string>uni1954</string>
      <string>uni1955</string>
      <string>uni1956</string>
      <string>uni1957</string>
      <string>uni1958</string>
      <string>uni1959</string>
      <string>uni195A</string>
      <string>uni195B</string>
      <string>uni195C</string>
      <string>uni195D</string>
      <string>uni195E</string>
      <string>uni195F</string>
      <string>uni1960</string>
      <string>uni1961</string>
      <string>uni1962</string>
      <string>uni1963</string>
      <string>uni1964</string>
      <string>uni1965</string>
      <string>uni1966</string>
      <string>uni1967</string>
      <string>uni1968</string>
      <string>uni1969</string>
      <string>uni196A</string>
      <string>uni196B</string>
      <string>uni196C</string>
      <string>uni196C.wide</string>
      <string>uni196D</string>
      <string>uni1970</string>
      <string>uni1971</string>
      <string>uni1972</string>
      <string>uni1973</string>
      <string>uni1974</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uni3001</string>
      <string>uni3002</string>
      <string>uni3008</string>
      <string>uni3009</string>
      <string>uni300A</string>
      <string>uni300B</string>
    </array>
  </dict>
</plist>
