<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Aleph.alt</key>
    <string>A_leph.alt.glif</string>
    <key>AyinAlt.altA</key>
    <string>A_yinA_lt.altA_.glif</string>
    <key>AyinAlt.altB</key>
    <string>A_yinA_lt.altB_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>HeFin.alt</key>
    <string>H_eF_in.alt.glif</string>
    <key>Kaph.cut</key>
    <string>K_aph.cut.glif</string>
    <key>Lamedh.altA</key>
    <string>L_amedh.altA_.glif</string>
    <key>Lamedh.altB</key>
    <string>L_amedh.altB_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Pe.alt</key>
    <string>P_e.alt.glif</string>
    <key>Pe.altcut</key>
    <string>P_e.altcut.glif</string>
    <key>Pe.cut</key>
    <string>P_e.cut.glif</string>
    <key>SadheFin.alt</key>
    <string>S_adheF_in.alt.glif</string>
    <key>Samekh.alt</key>
    <string>S_amekh.alt.glif</string>
    <key>Taw.alt</key>
    <string>T_aw.alt.glif</string>
    <key>TawFin.alt</key>
    <string>T_awF_in.alt.glif</string>
    <key>TawFinV.alt</key>
    <string>T_awF_inV_.alt.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10F00</key>
    <string>u10F_00.glif</string>
    <key>u10F01</key>
    <string>u10F_01.glif</string>
    <key>u10F02</key>
    <string>u10F_02.glif</string>
    <key>u10F03</key>
    <string>u10F_03.glif</string>
    <key>u10F04</key>
    <string>u10F_04.glif</string>
    <key>u10F05</key>
    <string>u10F_05.glif</string>
    <key>u10F06</key>
    <string>u10F_06.glif</string>
    <key>u10F07</key>
    <string>u10F_07.glif</string>
    <key>u10F08</key>
    <string>u10F_08.glif</string>
    <key>u10F09</key>
    <string>u10F_09.glif</string>
    <key>u10F0A</key>
    <string>u10F_0A_.glif</string>
    <key>u10F0B</key>
    <string>u10F_0B_.glif</string>
    <key>u10F0C</key>
    <string>u10F_0C_.glif</string>
    <key>u10F0D</key>
    <string>u10F_0D_.glif</string>
    <key>u10F0E</key>
    <string>u10F_0E_.glif</string>
    <key>u10F0F</key>
    <string>u10F_0F_.glif</string>
    <key>u10F10</key>
    <string>u10F_10.glif</string>
    <key>u10F11</key>
    <string>u10F_11.glif</string>
    <key>u10F12</key>
    <string>u10F_12.glif</string>
    <key>u10F13</key>
    <string>u10F_13.glif</string>
    <key>u10F14</key>
    <string>u10F_14.glif</string>
    <key>u10F15</key>
    <string>u10F_15.glif</string>
    <key>u10F16</key>
    <string>u10F_16.glif</string>
    <key>u10F17</key>
    <string>u10F_17.glif</string>
    <key>u10F18</key>
    <string>u10F_18.glif</string>
    <key>u10F19</key>
    <string>u10F_19.glif</string>
    <key>u10F1A</key>
    <string>u10F_1A_.glif</string>
    <key>u10F1B</key>
    <string>u10F_1B_.glif</string>
    <key>u10F1C</key>
    <string>u10F_1C_.glif</string>
    <key>u10F1D</key>
    <string>u10F_1D_.glif</string>
    <key>u10F1E</key>
    <string>u10F_1E_.glif</string>
    <key>u10F1F</key>
    <string>u10F_1F_.glif</string>
    <key>u10F20</key>
    <string>u10F_20.glif</string>
    <key>u10F21</key>
    <string>u10F_21.glif</string>
    <key>u10F22</key>
    <string>u10F_22.glif</string>
    <key>u10F23</key>
    <string>u10F_23.glif</string>
    <key>u10F24</key>
    <string>u10F_24.glif</string>
    <key>u10F25</key>
    <string>u10F_25.glif</string>
    <key>u10F26</key>
    <string>u10F_26.glif</string>
    <key>u10F27</key>
    <string>u10F_27.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
