<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni10C80</key>
    <string>uni10C_80.glif</string>
    <key>uni10C80.ltr</key>
    <string>uni10C_80.ltr.glif</string>
    <key>uni10C81</key>
    <string>uni10C_81.glif</string>
    <key>uni10C81.ltr</key>
    <string>uni10C_81.ltr.glif</string>
    <key>uni10C82</key>
    <string>uni10C_82.glif</string>
    <key>uni10C82.ltr</key>
    <string>uni10C_82.ltr.glif</string>
    <key>uni10C83</key>
    <string>uni10C_83.glif</string>
    <key>uni10C83.ltr</key>
    <string>uni10C_83.ltr.glif</string>
    <key>uni10C84</key>
    <string>uni10C_84.glif</string>
    <key>uni10C84.ltr</key>
    <string>uni10C_84.ltr.glif</string>
    <key>uni10C85</key>
    <string>uni10C_85.glif</string>
    <key>uni10C85.ltr</key>
    <string>uni10C_85.ltr.glif</string>
    <key>uni10C86</key>
    <string>uni10C_86.glif</string>
    <key>uni10C86.ltr</key>
    <string>uni10C_86.ltr.glif</string>
    <key>uni10C87</key>
    <string>uni10C_87.glif</string>
    <key>uni10C87.ltr</key>
    <string>uni10C_87.ltr.glif</string>
    <key>uni10C88</key>
    <string>uni10C_88.glif</string>
    <key>uni10C88.ltr</key>
    <string>uni10C_88.ltr.glif</string>
    <key>uni10C89</key>
    <string>uni10C_89.glif</string>
    <key>uni10C89.ltr</key>
    <string>uni10C_89.ltr.glif</string>
    <key>uni10C8A</key>
    <string>uni10C_8A_.glif</string>
    <key>uni10C8A.ltr</key>
    <string>uni10C_8A_.ltr.glif</string>
    <key>uni10C8B</key>
    <string>uni10C_8B_.glif</string>
    <key>uni10C8B.ltr</key>
    <string>uni10C_8B_.ltr.glif</string>
    <key>uni10C8C</key>
    <string>uni10C_8C_.glif</string>
    <key>uni10C8C.ltr</key>
    <string>uni10C_8C_.ltr.glif</string>
    <key>uni10C8D</key>
    <string>uni10C_8D_.glif</string>
    <key>uni10C8D.ltr</key>
    <string>uni10C_8D_.ltr.glif</string>
    <key>uni10C8E</key>
    <string>uni10C_8E_.glif</string>
    <key>uni10C8E.ltr</key>
    <string>uni10C_8E_.ltr.glif</string>
    <key>uni10C8F</key>
    <string>uni10C_8F_.glif</string>
    <key>uni10C8F.ltr</key>
    <string>uni10C_8F_.ltr.glif</string>
    <key>uni10C90</key>
    <string>uni10C_90.glif</string>
    <key>uni10C90.ltr</key>
    <string>uni10C_90.ltr.glif</string>
    <key>uni10C91</key>
    <string>uni10C_91.glif</string>
    <key>uni10C91.ltr</key>
    <string>uni10C_91.ltr.glif</string>
    <key>uni10C92</key>
    <string>uni10C_92.glif</string>
    <key>uni10C92.ltr</key>
    <string>uni10C_92.ltr.glif</string>
    <key>uni10C93</key>
    <string>uni10C_93.glif</string>
    <key>uni10C93.ltr</key>
    <string>uni10C_93.ltr.glif</string>
    <key>uni10C94</key>
    <string>uni10C_94.glif</string>
    <key>uni10C94.ltr</key>
    <string>uni10C_94.ltr.glif</string>
    <key>uni10C95</key>
    <string>uni10C_95.glif</string>
    <key>uni10C95.ltr</key>
    <string>uni10C_95.ltr.glif</string>
    <key>uni10C96</key>
    <string>uni10C_96.glif</string>
    <key>uni10C96.ltr</key>
    <string>uni10C_96.ltr.glif</string>
    <key>uni10C97</key>
    <string>uni10C_97.glif</string>
    <key>uni10C97.ltr</key>
    <string>uni10C_97.ltr.glif</string>
    <key>uni10C98</key>
    <string>uni10C_98.glif</string>
    <key>uni10C98.ltr</key>
    <string>uni10C_98.ltr.glif</string>
    <key>uni10C99</key>
    <string>uni10C_99.glif</string>
    <key>uni10C99.ltr</key>
    <string>uni10C_99.ltr.glif</string>
    <key>uni10C9A</key>
    <string>uni10C_9A_.glif</string>
    <key>uni10C9A.ltr</key>
    <string>uni10C_9A_.ltr.glif</string>
    <key>uni10C9B</key>
    <string>uni10C_9B_.glif</string>
    <key>uni10C9B.ltr</key>
    <string>uni10C_9B_.ltr.glif</string>
    <key>uni10C9C</key>
    <string>uni10C_9C_.glif</string>
    <key>uni10C9C.ltr</key>
    <string>uni10C_9C_.ltr.glif</string>
    <key>uni10C9D</key>
    <string>uni10C_9D_.glif</string>
    <key>uni10C9D.ltr</key>
    <string>uni10C_9D_.ltr.glif</string>
    <key>uni10C9E</key>
    <string>uni10C_9E_.glif</string>
    <key>uni10C9E.ltr</key>
    <string>uni10C_9E_.ltr.glif</string>
    <key>uni10C9F</key>
    <string>uni10C_9F_.glif</string>
    <key>uni10C9F.ltr</key>
    <string>uni10C_9F_.ltr.glif</string>
    <key>uni10CA0</key>
    <string>uni10C_A_0.glif</string>
    <key>uni10CA0.ltr</key>
    <string>uni10C_A_0.ltr.glif</string>
    <key>uni10CA1</key>
    <string>uni10C_A_1.glif</string>
    <key>uni10CA1.ltr</key>
    <string>uni10C_A_1.ltr.glif</string>
    <key>uni10CA2</key>
    <string>uni10C_A_2.glif</string>
    <key>uni10CA2.ltr</key>
    <string>uni10C_A_2.ltr.glif</string>
    <key>uni10CA3</key>
    <string>uni10C_A_3.glif</string>
    <key>uni10CA3.ltr</key>
    <string>uni10C_A_3.ltr.glif</string>
    <key>uni10CA4</key>
    <string>uni10C_A_4.glif</string>
    <key>uni10CA4.ltr</key>
    <string>uni10C_A_4.ltr.glif</string>
    <key>uni10CA5</key>
    <string>uni10C_A_5.glif</string>
    <key>uni10CA5.ltr</key>
    <string>uni10C_A_5.ltr.glif</string>
    <key>uni10CA6</key>
    <string>uni10C_A_6.glif</string>
    <key>uni10CA6.ltr</key>
    <string>uni10C_A_6.ltr.glif</string>
    <key>uni10CA7</key>
    <string>uni10C_A_7.glif</string>
    <key>uni10CA7.ltr</key>
    <string>uni10C_A_7.ltr.glif</string>
    <key>uni10CA8</key>
    <string>uni10C_A_8.glif</string>
    <key>uni10CA8.ltr</key>
    <string>uni10C_A_8.ltr.glif</string>
    <key>uni10CA9</key>
    <string>uni10C_A_9.glif</string>
    <key>uni10CA9.ltr</key>
    <string>uni10C_A_9.ltr.glif</string>
    <key>uni10CAA</key>
    <string>uni10C_A_A_.glif</string>
    <key>uni10CAA.ltr</key>
    <string>uni10C_A_A_.ltr.glif</string>
    <key>uni10CAB</key>
    <string>uni10C_A_B_.glif</string>
    <key>uni10CAB.ltr</key>
    <string>uni10C_A_B_.ltr.glif</string>
    <key>uni10CAC</key>
    <string>uni10C_A_C_.glif</string>
    <key>uni10CAC.ltr</key>
    <string>uni10C_A_C_.ltr.glif</string>
    <key>uni10CAD</key>
    <string>uni10C_A_D_.glif</string>
    <key>uni10CAD.ltr</key>
    <string>uni10C_A_D_.ltr.glif</string>
    <key>uni10CAE</key>
    <string>uni10C_A_E_.glif</string>
    <key>uni10CAE.ltr</key>
    <string>uni10C_A_E_.ltr.glif</string>
    <key>uni10CAF</key>
    <string>uni10C_A_F_.glif</string>
    <key>uni10CAF.ltr</key>
    <string>uni10C_A_F_.ltr.glif</string>
    <key>uni10CB0</key>
    <string>uni10C_B_0.glif</string>
    <key>uni10CB0.ltr</key>
    <string>uni10C_B_0.ltr.glif</string>
    <key>uni10CB1</key>
    <string>uni10C_B_1.glif</string>
    <key>uni10CB1.ltr</key>
    <string>uni10C_B_1.ltr.glif</string>
    <key>uni10CB2</key>
    <string>uni10C_B_2.glif</string>
    <key>uni10CB2.ltr</key>
    <string>uni10C_B_2.ltr.glif</string>
    <key>uni10CC0</key>
    <string>uni10C_C_0.glif</string>
    <key>uni10CC0.ltr</key>
    <string>uni10C_C_0.ltr.glif</string>
    <key>uni10CC0_10CC2</key>
    <string>uni10C_C_0_10C_C_2.glif</string>
    <key>uni10CC0_10CC2.ltr</key>
    <string>uni10C_C_0_10C_C_2.ltr.glif</string>
    <key>uni10CC0_10CC7</key>
    <string>uni10C_C_0_10C_C_7.glif</string>
    <key>uni10CC0_10CC7.ltr</key>
    <string>uni10C_C_0_10C_C_7.ltr.glif</string>
    <key>uni10CC0_10CD6</key>
    <string>uni10C_C_0_10C_D_6.glif</string>
    <key>uni10CC0_10CD6.ltr</key>
    <string>uni10C_C_0_10C_D_6.ltr.glif</string>
    <key>uni10CC0_10CE2</key>
    <string>uni10C_C_0_10C_E_2.glif</string>
    <key>uni10CC0_10CE2.ltr</key>
    <string>uni10C_C_0_10C_E_2.ltr.glif</string>
    <key>uni10CC0_10CE6_10CE6</key>
    <string>uni10C_C_0_10C_E_6_10C_E_6.glif</string>
    <key>uni10CC0_10CE6_10CE6.ltr</key>
    <string>uni10C_C_0_10C_E_6_10C_E_6.ltr.glif</string>
    <key>uni10CC1</key>
    <string>uni10C_C_1.glif</string>
    <key>uni10CC1.ltr</key>
    <string>uni10C_C_1.ltr.glif</string>
    <key>uni10CC1_10CE2</key>
    <string>uni10C_C_1_10C_E_2.glif</string>
    <key>uni10CC1_10CE2.ltr</key>
    <string>uni10C_C_1_10C_E_2.ltr.glif</string>
    <key>uni10CC2</key>
    <string>uni10C_C_2.glif</string>
    <key>uni10CC2.ltr</key>
    <string>uni10C_C_2.ltr.glif</string>
    <key>uni10CC2_10CC0</key>
    <string>uni10C_C_2_10C_C_0.glif</string>
    <key>uni10CC2_10CC0.ltr</key>
    <string>uni10C_C_2_10C_C_0.ltr.glif</string>
    <key>uni10CC2_10CC9</key>
    <string>uni10C_C_2_10C_C_9.glif</string>
    <key>uni10CC2_10CC9.ltr</key>
    <string>uni10C_C_2_10C_C_9.ltr.glif</string>
    <key>uni10CC2_10CD0</key>
    <string>uni10C_C_2_10C_D_0.glif</string>
    <key>uni10CC2_10CD0.ltr</key>
    <string>uni10C_C_2_10C_D_0.ltr.glif</string>
    <key>uni10CC2_10CDB</key>
    <string>uni10C_C_2_10C_D_B_.glif</string>
    <key>uni10CC2_10CDB.ltr</key>
    <string>uni10C_C_2_10C_D_B_.ltr.glif</string>
    <key>uni10CC2_10CE6</key>
    <string>uni10C_C_2_10C_E_6.glif</string>
    <key>uni10CC2_10CE6.ltr</key>
    <string>uni10C_C_2_10C_E_6.ltr.glif</string>
    <key>uni10CC3</key>
    <string>uni10C_C_3.glif</string>
    <key>uni10CC3.ltr</key>
    <string>uni10C_C_3.ltr.glif</string>
    <key>uni10CC4</key>
    <string>uni10C_C_4.glif</string>
    <key>uni10CC4.ltr</key>
    <string>uni10C_C_4.ltr.glif</string>
    <key>uni10CC4_10CD3</key>
    <string>uni10C_C_4_10C_D_3.glif</string>
    <key>uni10CC4_10CD3.ltr</key>
    <string>uni10C_C_4_10C_D_3.ltr.glif</string>
    <key>uni10CC4_10CD4</key>
    <string>uni10C_C_4_10C_D_4.glif</string>
    <key>uni10CC4_10CD4.ltr</key>
    <string>uni10C_C_4_10C_D_4.ltr.glif</string>
    <key>uni10CC5</key>
    <string>uni10C_C_5.glif</string>
    <key>uni10CC5.ltr</key>
    <string>uni10C_C_5.ltr.glif</string>
    <key>uni10CC6</key>
    <string>uni10C_C_6.glif</string>
    <key>uni10CC6.ltr</key>
    <string>uni10C_C_6.ltr.glif</string>
    <key>uni10CC6_10CC0</key>
    <string>uni10C_C_6_10C_C_0.glif</string>
    <key>uni10CC6_10CC0.ltr</key>
    <string>uni10C_C_6_10C_C_0.ltr.glif</string>
    <key>uni10CC6_10CD0_10CD9</key>
    <string>uni10C_C_6_10C_D_0_10C_D_9.glif</string>
    <key>uni10CC6_10CD0_10CD9.ltr</key>
    <string>uni10C_C_6_10C_D_0_10C_D_9.ltr.glif</string>
    <key>uni10CC7</key>
    <string>uni10C_C_7.glif</string>
    <key>uni10CC7.ltr</key>
    <string>uni10C_C_7.ltr.glif</string>
    <key>uni10CC7_10CEA</key>
    <string>uni10C_C_7_10C_E_A_.glif</string>
    <key>uni10CC7_10CEA.ltr</key>
    <string>uni10C_C_7_10C_E_A_.ltr.glif</string>
    <key>uni10CC8</key>
    <string>uni10C_C_8.glif</string>
    <key>uni10CC8.ltr</key>
    <string>uni10C_C_8.ltr.glif</string>
    <key>uni10CC9</key>
    <string>uni10C_C_9.glif</string>
    <key>uni10CC9.ltr</key>
    <string>uni10C_C_9.ltr.glif</string>
    <key>uni10CCA</key>
    <string>uni10C_C_A_.glif</string>
    <key>uni10CCA.ltr</key>
    <string>uni10C_C_A_.ltr.glif</string>
    <key>uni10CCB</key>
    <string>uni10C_C_B_.glif</string>
    <key>uni10CCB.ltr</key>
    <string>uni10C_C_B_.ltr.glif</string>
    <key>uni10CCC</key>
    <string>uni10C_C_C_.glif</string>
    <key>uni10CCC.ltr</key>
    <string>uni10C_C_C_.ltr.glif</string>
    <key>uni10CCD</key>
    <string>uni10C_C_D_.glif</string>
    <key>uni10CCD.ltr</key>
    <string>uni10C_C_D_.ltr.glif</string>
    <key>uni10CCD_10CC0</key>
    <string>uni10C_C_D__10C_C_0.glif</string>
    <key>uni10CCD_10CC0.ltr</key>
    <string>uni10C_C_D__10C_C_0.ltr.glif</string>
    <key>uni10CCD_10CC9</key>
    <string>uni10C_C_D__10C_C_9.glif</string>
    <key>uni10CCD_10CC9.ltr</key>
    <string>uni10C_C_D__10C_C_9.ltr.glif</string>
    <key>uni10CCD_10CD0</key>
    <string>uni10C_C_D__10C_D_0.glif</string>
    <key>uni10CCD_10CD0.ltr</key>
    <string>uni10C_C_D__10C_D_0.ltr.glif</string>
    <key>uni10CCD_10CDB</key>
    <string>uni10C_C_D__10C_D_B_.glif</string>
    <key>uni10CCD_10CDB.ltr</key>
    <string>uni10C_C_D__10C_D_B_.ltr.glif</string>
    <key>uni10CCE</key>
    <string>uni10C_C_E_.glif</string>
    <key>uni10CCE.ltr</key>
    <string>uni10C_C_E_.ltr.glif</string>
    <key>uni10CCF</key>
    <string>uni10C_C_F_.glif</string>
    <key>uni10CCF.ltr</key>
    <string>uni10C_C_F_.ltr.glif</string>
    <key>uni10CCF_10CC0</key>
    <string>uni10C_C_F__10C_C_0.glif</string>
    <key>uni10CCF_10CC0.ltr</key>
    <string>uni10C_C_F__10C_C_0.ltr.glif</string>
    <key>uni10CCF_10CC9</key>
    <string>uni10C_C_F__10C_C_9.glif</string>
    <key>uni10CCF_10CC9.ltr</key>
    <string>uni10C_C_F__10C_C_9.ltr.glif</string>
    <key>uni10CCF_10CD0</key>
    <string>uni10C_C_F__10C_D_0.glif</string>
    <key>uni10CCF_10CD0.ltr</key>
    <string>uni10C_C_F__10C_D_0.ltr.glif</string>
    <key>uni10CCF_10CDB</key>
    <string>uni10C_C_F__10C_D_B_.glif</string>
    <key>uni10CCF_10CDB.ltr</key>
    <string>uni10C_C_F__10C_D_B_.ltr.glif</string>
    <key>uni10CD0</key>
    <string>uni10C_D_0.glif</string>
    <key>uni10CD0.ltr</key>
    <string>uni10C_D_0.ltr.glif</string>
    <key>uni10CD0_10CD2</key>
    <string>uni10C_D_0_10C_D_2.glif</string>
    <key>uni10CD0_10CD2.ltr</key>
    <string>uni10C_D_0_10C_D_2.ltr.glif</string>
    <key>uni10CD0_10CE6</key>
    <string>uni10C_D_0_10C_E_6.glif</string>
    <key>uni10CD0_10CE6.ltr</key>
    <string>uni10C_D_0_10C_E_6.ltr.glif</string>
    <key>uni10CD1</key>
    <string>uni10C_D_1.glif</string>
    <key>uni10CD1.ltr</key>
    <string>uni10C_D_1.ltr.glif</string>
    <key>uni10CD1_10CE2_10CE6</key>
    <string>uni10C_D_1_10C_E_2_10C_E_6.glif</string>
    <key>uni10CD1_10CE2_10CE6.ltr</key>
    <string>uni10C_D_1_10C_E_2_10C_E_6.ltr.glif</string>
    <key>uni10CD1_10CE6</key>
    <string>uni10C_D_1_10C_E_6.glif</string>
    <key>uni10CD1_10CE6.ltr</key>
    <string>uni10C_D_1_10C_E_6.ltr.glif</string>
    <key>uni10CD2</key>
    <string>uni10C_D_2.glif</string>
    <key>uni10CD2.ltr</key>
    <string>uni10C_D_2.ltr.glif</string>
    <key>uni10CD3</key>
    <string>uni10C_D_3.glif</string>
    <key>uni10CD3.ltr</key>
    <string>uni10C_D_3.ltr.glif</string>
    <key>uni10CD3_10CE5</key>
    <string>uni10C_D_3_10C_E_5.glif</string>
    <key>uni10CD3_10CE5.ltr</key>
    <string>uni10C_D_3_10C_E_5.ltr.glif</string>
    <key>uni10CD3_10CEE</key>
    <string>uni10C_D_3_10C_E_E_.glif</string>
    <key>uni10CD3_10CEE.ltr</key>
    <string>uni10C_D_3_10C_E_E_.ltr.glif</string>
    <key>uni10CD4</key>
    <string>uni10C_D_4.glif</string>
    <key>uni10CD4.ltr</key>
    <string>uni10C_D_4.ltr.glif</string>
    <key>uni10CD5</key>
    <string>uni10C_D_5.glif</string>
    <key>uni10CD5.ltr</key>
    <string>uni10C_D_5.ltr.glif</string>
    <key>uni10CD6</key>
    <string>uni10C_D_6.glif</string>
    <key>uni10CD6.ltr</key>
    <string>uni10C_D_6.ltr.glif</string>
    <key>uni10CD6_10CC0</key>
    <string>uni10C_D_6_10C_C_0.glif</string>
    <key>uni10CD6_10CC0.ltr</key>
    <string>uni10C_D_6_10C_C_0.ltr.glif</string>
    <key>uni10CD6_10CC1</key>
    <string>uni10C_D_6_10C_C_1.glif</string>
    <key>uni10CD6_10CC1.ltr</key>
    <string>uni10C_D_6_10C_C_1.ltr.glif</string>
    <key>uni10CD6_10CC9</key>
    <string>uni10C_D_6_10C_C_9.glif</string>
    <key>uni10CD6_10CC9.ltr</key>
    <string>uni10C_D_6_10C_C_9.ltr.glif</string>
    <key>uni10CD6_10CDB</key>
    <string>uni10C_D_6_10C_D_B_.glif</string>
    <key>uni10CD6_10CDB.ltr</key>
    <string>uni10C_D_6_10C_D_B_.ltr.glif</string>
    <key>uni10CD6_10CE6</key>
    <string>uni10C_D_6_10C_E_6.glif</string>
    <key>uni10CD6_10CE6.ltr</key>
    <string>uni10C_D_6_10C_E_6.ltr.glif</string>
    <key>uni10CD7</key>
    <string>uni10C_D_7.glif</string>
    <key>uni10CD7.ltr</key>
    <string>uni10C_D_7.ltr.glif</string>
    <key>uni10CD8</key>
    <string>uni10C_D_8.glif</string>
    <key>uni10CD8.ltr</key>
    <string>uni10C_D_8.ltr.glif</string>
    <key>uni10CD9</key>
    <string>uni10C_D_9.glif</string>
    <key>uni10CD9.ltr</key>
    <string>uni10C_D_9.ltr.glif</string>
    <key>uni10CD9_10CC0</key>
    <string>uni10C_D_9_10C_C_0.glif</string>
    <key>uni10CD9_10CC0.ltr</key>
    <string>uni10C_D_9_10C_C_0.ltr.glif</string>
    <key>uni10CD9_10CC4</key>
    <string>uni10C_D_9_10C_C_4.glif</string>
    <key>uni10CD9_10CC4.ltr</key>
    <string>uni10C_D_9_10C_C_4.ltr.glif</string>
    <key>uni10CD9_10CC7</key>
    <string>uni10C_D_9_10C_C_7.glif</string>
    <key>uni10CD9_10CC7.ltr</key>
    <string>uni10C_D_9_10C_C_7.ltr.glif</string>
    <key>uni10CD9_10CCE</key>
    <string>uni10C_D_9_10C_C_E_.glif</string>
    <key>uni10CD9_10CCE.ltr</key>
    <string>uni10C_D_9_10C_C_E_.ltr.glif</string>
    <key>uni10CD9_10CD0</key>
    <string>uni10C_D_9_10C_D_0.glif</string>
    <key>uni10CD9_10CD0.ltr</key>
    <string>uni10C_D_9_10C_D_0.ltr.glif</string>
    <key>uni10CD9_10CD3</key>
    <string>uni10C_D_9_10C_D_3.glif</string>
    <key>uni10CD9_10CD3.ltr</key>
    <string>uni10C_D_9_10C_D_3.ltr.glif</string>
    <key>uni10CD9_10CE0</key>
    <string>uni10C_D_9_10C_E_0.glif</string>
    <key>uni10CD9_10CE0.ltr</key>
    <string>uni10C_D_9_10C_E_0.ltr.glif</string>
    <key>uni10CD9_10CE6</key>
    <string>uni10C_D_9_10C_E_6.glif</string>
    <key>uni10CD9_10CE6.ltr</key>
    <string>uni10C_D_9_10C_E_6.ltr.glif</string>
    <key>uni10CDA</key>
    <string>uni10C_D_A_.glif</string>
    <key>uni10CDA.ltr</key>
    <string>uni10C_D_A_.ltr.glif</string>
    <key>uni10CDB</key>
    <string>uni10C_D_B_.glif</string>
    <key>uni10CDB.ltr</key>
    <string>uni10C_D_B_.ltr.glif</string>
    <key>uni10CDB_10CE2</key>
    <string>uni10C_D_B__10C_E_2.glif</string>
    <key>uni10CDB_10CE2.ltr</key>
    <string>uni10C_D_B__10C_E_2.ltr.glif</string>
    <key>uni10CDC</key>
    <string>uni10C_D_C_.glif</string>
    <key>uni10CDC.ltr</key>
    <string>uni10C_D_C_.ltr.glif</string>
    <key>uni10CDD</key>
    <string>uni10C_D_D_.glif</string>
    <key>uni10CDD.ltr</key>
    <string>uni10C_D_D_.ltr.glif</string>
    <key>uni10CDE</key>
    <string>uni10C_D_E_.glif</string>
    <key>uni10CDE.ltr</key>
    <string>uni10C_D_E_.ltr.glif</string>
    <key>uni10CDF</key>
    <string>uni10C_D_F_.glif</string>
    <key>uni10CDF.ltr</key>
    <string>uni10C_D_F_.ltr.glif</string>
    <key>uni10CE0</key>
    <string>uni10C_E_0.glif</string>
    <key>uni10CE0.ltr</key>
    <string>uni10C_E_0.ltr.glif</string>
    <key>uni10CE1</key>
    <string>uni10C_E_1.glif</string>
    <key>uni10CE1.ltr</key>
    <string>uni10C_E_1.ltr.glif</string>
    <key>uni10CE2</key>
    <string>uni10C_E_2.glif</string>
    <key>uni10CE2.ltr</key>
    <string>uni10C_E_2.ltr.glif</string>
    <key>uni10CE2_10CC0</key>
    <string>uni10C_E_2_10C_C_0.glif</string>
    <key>uni10CE2_10CC0.ltr</key>
    <string>uni10C_E_2_10C_C_0.ltr.glif</string>
    <key>uni10CE2_10CC9</key>
    <string>uni10C_E_2_10C_C_9.glif</string>
    <key>uni10CE2_10CC9.ltr</key>
    <string>uni10C_E_2_10C_C_9.ltr.glif</string>
    <key>uni10CE2_10CD0</key>
    <string>uni10C_E_2_10C_D_0.glif</string>
    <key>uni10CE2_10CD0.ltr</key>
    <string>uni10C_E_2_10C_D_0.ltr.glif</string>
    <key>uni10CE2_10CDB</key>
    <string>uni10C_E_2_10C_D_B_.glif</string>
    <key>uni10CE2_10CDB.ltr</key>
    <string>uni10C_E_2_10C_D_B_.ltr.glif</string>
    <key>uni10CE2_10CE6</key>
    <string>uni10C_E_2_10C_E_6.glif</string>
    <key>uni10CE2_10CE6.ltr</key>
    <string>uni10C_E_2_10C_E_6.ltr.glif</string>
    <key>uni10CE2_10CEA</key>
    <string>uni10C_E_2_10C_E_A_.glif</string>
    <key>uni10CE2_10CEA.ltr</key>
    <string>uni10C_E_2_10C_E_A_.ltr.glif</string>
    <key>uni10CE3</key>
    <string>uni10C_E_3.glif</string>
    <key>uni10CE3.ltr</key>
    <string>uni10C_E_3.ltr.glif</string>
    <key>uni10CE4</key>
    <string>uni10C_E_4.glif</string>
    <key>uni10CE4.ltr</key>
    <string>uni10C_E_4.ltr.glif</string>
    <key>uni10CE4_10CC0</key>
    <string>uni10C_E_4_10C_C_0.glif</string>
    <key>uni10CE4_10CC0.ltr</key>
    <string>uni10C_E_4_10C_C_0.ltr.glif</string>
    <key>uni10CE4_10CC9</key>
    <string>uni10C_E_4_10C_C_9.glif</string>
    <key>uni10CE4_10CC9.ltr</key>
    <string>uni10C_E_4_10C_C_9.ltr.glif</string>
    <key>uni10CE4_10CD0</key>
    <string>uni10C_E_4_10C_D_0.glif</string>
    <key>uni10CE4_10CD0.ltr</key>
    <string>uni10C_E_4_10C_D_0.ltr.glif</string>
    <key>uni10CE4_10CD3</key>
    <string>uni10C_E_4_10C_D_3.glif</string>
    <key>uni10CE4_10CD3.ltr</key>
    <string>uni10C_E_4_10C_D_3.ltr.glif</string>
    <key>uni10CE4_10CD8</key>
    <string>uni10C_E_4_10C_D_8.glif</string>
    <key>uni10CE4_10CD8.ltr</key>
    <string>uni10C_E_4_10C_D_8.ltr.glif</string>
    <key>uni10CE4_10CDB</key>
    <string>uni10C_E_4_10C_D_B_.glif</string>
    <key>uni10CE4_10CDB.ltr</key>
    <string>uni10C_E_4_10C_D_B_.ltr.glif</string>
    <key>uni10CE4_10CE0</key>
    <string>uni10C_E_4_10C_E_0.glif</string>
    <key>uni10CE4_10CE0.ltr</key>
    <string>uni10C_E_4_10C_E_0.ltr.glif</string>
    <key>uni10CE4_10CE6</key>
    <string>uni10C_E_4_10C_E_6.glif</string>
    <key>uni10CE4_10CE6.ltr</key>
    <string>uni10C_E_4_10C_E_6.ltr.glif</string>
    <key>uni10CE5</key>
    <string>uni10C_E_5.glif</string>
    <key>uni10CE5.ltr</key>
    <string>uni10C_E_5.ltr.glif</string>
    <key>uni10CE5_10CE6</key>
    <string>uni10C_E_5_10C_E_6.glif</string>
    <key>uni10CE5_10CE6.ltr</key>
    <string>uni10C_E_5_10C_E_6.ltr.glif</string>
    <key>uni10CE6</key>
    <string>uni10C_E_6.glif</string>
    <key>uni10CE6.ltr</key>
    <string>uni10C_E_6.ltr.glif</string>
    <key>uni10CE6_10CD0</key>
    <string>uni10C_E_6_10C_D_0.glif</string>
    <key>uni10CE6_10CD0.ltr</key>
    <string>uni10C_E_6_10C_D_0.ltr.glif</string>
    <key>uni10CE7</key>
    <string>uni10C_E_7.glif</string>
    <key>uni10CE7.ltr</key>
    <string>uni10C_E_7.ltr.glif</string>
    <key>uni10CE8</key>
    <string>uni10C_E_8.glif</string>
    <key>uni10CE8.ltr</key>
    <string>uni10C_E_8.ltr.glif</string>
    <key>uni10CE8_10CC0</key>
    <string>uni10C_E_8_10C_C_0.glif</string>
    <key>uni10CE8_10CC0.ltr</key>
    <string>uni10C_E_8_10C_C_0.ltr.glif</string>
    <key>uni10CE9</key>
    <string>uni10C_E_9.glif</string>
    <key>uni10CE9.ltr</key>
    <string>uni10C_E_9.ltr.glif</string>
    <key>uni10CEA</key>
    <string>uni10C_E_A_.glif</string>
    <key>uni10CEA.ltr</key>
    <string>uni10C_E_A_.ltr.glif</string>
    <key>uni10CEA_10CD6</key>
    <string>uni10C_E_A__10C_D_6.glif</string>
    <key>uni10CEA_10CD6.ltr</key>
    <string>uni10C_E_A__10C_D_6.ltr.glif</string>
    <key>uni10CEA_10CD8</key>
    <string>uni10C_E_A__10C_D_8.glif</string>
    <key>uni10CEA_10CD8.ltr</key>
    <string>uni10C_E_A__10C_D_8.ltr.glif</string>
    <key>uni10CEA_10CE2</key>
    <string>uni10C_E_A__10C_E_2.glif</string>
    <key>uni10CEA_10CE2.ltr</key>
    <string>uni10C_E_A__10C_E_2.ltr.glif</string>
    <key>uni10CEB</key>
    <string>uni10C_E_B_.glif</string>
    <key>uni10CEB.ltr</key>
    <string>uni10C_E_B_.ltr.glif</string>
    <key>uni10CEC</key>
    <string>uni10C_E_C_.glif</string>
    <key>uni10CEC.ltr</key>
    <string>uni10C_E_C_.ltr.glif</string>
    <key>uni10CED</key>
    <string>uni10C_E_D_.glif</string>
    <key>uni10CED.ltr</key>
    <string>uni10C_E_D_.ltr.glif</string>
    <key>uni10CEE</key>
    <string>uni10C_E_E_.glif</string>
    <key>uni10CEE.ltr</key>
    <string>uni10C_E_E_.ltr.glif</string>
    <key>uni10CEE_10CC0</key>
    <string>uni10C_E_E__10C_C_0.glif</string>
    <key>uni10CEE_10CC0.ltr</key>
    <string>uni10C_E_E__10C_C_0.ltr.glif</string>
    <key>uni10CEE_10CC0_10CE2</key>
    <string>uni10C_E_E__10C_C_0_10C_E_2.glif</string>
    <key>uni10CEE_10CC0_10CE2.ltr</key>
    <string>uni10C_E_E__10C_C_0_10C_E_2.ltr.glif</string>
    <key>uni10CEE_10CC1_10CE2</key>
    <string>uni10C_E_E__10C_C_1_10C_E_2.glif</string>
    <key>uni10CEE_10CC1_10CE2.ltr</key>
    <string>uni10C_E_E__10C_C_1_10C_E_2.ltr.glif</string>
    <key>uni10CEE_10CD8</key>
    <string>uni10C_E_E__10C_D_8.glif</string>
    <key>uni10CEE_10CD8.ltr</key>
    <string>uni10C_E_E__10C_D_8.ltr.glif</string>
    <key>uni10CEE_10CEE</key>
    <string>uni10C_E_E__10C_E_E_.glif</string>
    <key>uni10CEE_10CEE.ltr</key>
    <string>uni10C_E_E__10C_E_E_.ltr.glif</string>
    <key>uni10CEF</key>
    <string>uni10C_E_F_.glif</string>
    <key>uni10CEF.ltr</key>
    <string>uni10C_E_F_.ltr.glif</string>
    <key>uni10CEF_10CC0</key>
    <string>uni10C_E_F__10C_C_0.glif</string>
    <key>uni10CEF_10CC0.ltr</key>
    <string>uni10C_E_F__10C_C_0.ltr.glif</string>
    <key>uni10CEF_10CE2</key>
    <string>uni10C_E_F__10C_E_2.glif</string>
    <key>uni10CEF_10CE2.ltr</key>
    <string>uni10C_E_F__10C_E_2.ltr.glif</string>
    <key>uni10CEF_10CE6</key>
    <string>uni10C_E_F__10C_E_6.glif</string>
    <key>uni10CEF_10CE6.ltr</key>
    <string>uni10C_E_F__10C_E_6.ltr.glif</string>
    <key>uni10CF0</key>
    <string>uni10C_F_0.glif</string>
    <key>uni10CF0.ltr</key>
    <string>uni10C_F_0.ltr.glif</string>
    <key>uni10CF1</key>
    <string>uni10C_F_1.glif</string>
    <key>uni10CF1.ltr</key>
    <string>uni10C_F_1.ltr.glif</string>
    <key>uni10CF2</key>
    <string>uni10C_F_2.glif</string>
    <key>uni10CF2.ltr</key>
    <string>uni10C_F_2.ltr.glif</string>
    <key>uni10CFA</key>
    <string>uni10C_F_A_.glif</string>
    <key>uni10CFB</key>
    <string>uni10C_F_B_.glif</string>
    <key>uni10CFC</key>
    <string>uni10C_F_C_.glif</string>
    <key>uni10CFD</key>
    <string>uni10C_F_D_.glif</string>
    <key>uni10CFE</key>
    <string>uni10C_F_E_.glif</string>
    <key>uni10CFF</key>
    <string>uni10C_F_F_.glif</string>
  </dict>
</plist>
