<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1300</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Black</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>190</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>190</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>aaiMatra-mtei</string>
      <string>aauMatra-mtei</string>
      <string>ahangKhudam-mtei</string>
      <string>anapMatra-mtei</string>
      <string>anji-mtei</string>
      <string>apunIyek-mtei</string>
      <string>apunIyek-unap</string>
      <string>apunIyek.left1</string>
      <string>apunIyek.right1</string>
      <string>apunIyek.right2</string>
      <string>atiya-mtei</string>
      <string>auMatra-mtei</string>
      <string>ba-mtei</string>
      <string>bham-mtei</string>
      <string>cha-mtei</string>
      <string>cheikhan-mtei</string>
      <string>cheikhei-mtei</string>
      <string>cheinapMatra-mtei</string>
      <string>chil-mtei</string>
      <string>dda-mtei</string>
      <string>ddha-mtei</string>
      <string>dhou-mtei</string>
      <string>digitEight-mtei</string>
      <string>digitFive-mtei</string>
      <string>digitFour-mtei</string>
      <string>digitNine-mtei</string>
      <string>digitOne-mtei</string>
      <string>digitSeven-mtei</string>
      <string>digitSix-mtei</string>
      <string>digitThree-mtei</string>
      <string>digitTwo-mtei</string>
      <string>digitZero-mtei</string>
      <string>dil-mtei</string>
      <string>dottedCircle</string>
      <string>e-mtei</string>
      <string>ghou-mtei</string>
      <string>gok-mtei</string>
      <string>huk-mtei</string>
      <string>i-mtei</string>
      <string>iLonsum-mtei</string>
      <string>iiMatra-mtei</string>
      <string>inapMatra-mtei</string>
      <string>jham-mtei</string>
      <string>jil-mtei</string>
      <string>khou-mtei</string>
      <string>kok-mtei</string>
      <string>kokLonsum-mtei</string>
      <string>lai-mtei</string>
      <string>laiLonsum-mtei</string>
      <string>lumIyek-mtei</string>
      <string>mit-mtei</string>
      <string>mitLonsum-mtei</string>
      <string>na-mtei</string>
      <string>naLonsum-mtei</string>
      <string>nbspace</string>
      <string>ngou-mtei</string>
      <string>ngouLonsum-mtei</string>
      <string>nna-mtei</string>
      <string>nungMatra-mtei</string>
      <string>nya-mtei</string>
      <string>o-mtei</string>
      <string>onapMatra-mtei</string>
      <string>pa-mtei</string>
      <string>paLonsum-mtei</string>
      <string>pham-mtei</string>
      <string>rai-mtei</string>
      <string>sam-mtei</string>
      <string>sha-mtei</string>
      <string>sounapMatra-mtei</string>
      <string>space</string>
      <string>ssa-mtei</string>
      <string>syllableRepetitionMark-mtei</string>
      <string>thou-mtei</string>
      <string>til-mtei</string>
      <string>tilLonsum-mtei</string>
      <string>tta-mtei</string>
      <string>ttha-mtei</string>
      <string>un-mtei</string>
      <string>unapMatra-mtei</string>
      <string>uuMatra-mtei</string>
      <string>virama-mtei</string>
      <string>visargaMatra-mtei</string>
      <string>wai-mtei</string>
      <string>wordRepetitionMark-mtei</string>
      <string>yang-mtei</string>
      <string>yenapMatra-mtei</string>
      <string>zerowidthspace</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>aaiMatra-mtei</string>
      <string>aauMatra-mtei</string>
      <string>ahangKhudam-mtei</string>
      <string>anapMatra-mtei</string>
      <string>anji-mtei</string>
      <string>apunIyek-mtei</string>
      <string>apunIyek-unap</string>
      <string>apunIyek.left1</string>
      <string>apunIyek.right1</string>
      <string>apunIyek.right2</string>
      <string>atiya-mtei</string>
      <string>auMatra-mtei</string>
      <string>ba-mtei</string>
      <string>bham-mtei</string>
      <string>cha-mtei</string>
      <string>cheikhan-mtei</string>
      <string>cheikhei-mtei</string>
      <string>cheinapMatra-mtei</string>
      <string>chil-mtei</string>
      <string>dda-mtei</string>
      <string>ddha-mtei</string>
      <string>dhou-mtei</string>
      <string>digitEight-mtei</string>
      <string>digitFive-mtei</string>
      <string>digitFour-mtei</string>
      <string>digitNine-mtei</string>
      <string>digitOne-mtei</string>
      <string>digitSeven-mtei</string>
      <string>digitSix-mtei</string>
      <string>digitThree-mtei</string>
      <string>digitTwo-mtei</string>
      <string>digitZero-mtei</string>
      <string>dil-mtei</string>
      <string>dottedCircle</string>
      <string>e-mtei</string>
      <string>ghou-mtei</string>
      <string>gok-mtei</string>
      <string>huk-mtei</string>
      <string>i-mtei</string>
      <string>iLonsum-mtei</string>
      <string>iiMatra-mtei</string>
      <string>inapMatra-mtei</string>
      <string>jham-mtei</string>
      <string>jil-mtei</string>
      <string>khou-mtei</string>
      <string>kok-mtei</string>
      <string>kokLonsum-mtei</string>
      <string>lai-mtei</string>
      <string>laiLonsum-mtei</string>
      <string>lumIyek-mtei</string>
      <string>mit-mtei</string>
      <string>mitLonsum-mtei</string>
      <string>na-mtei</string>
      <string>naLonsum-mtei</string>
      <string>nbspace</string>
      <string>ngou-mtei</string>
      <string>ngouLonsum-mtei</string>
      <string>nna-mtei</string>
      <string>nungMatra-mtei</string>
      <string>nya-mtei</string>
      <string>o-mtei</string>
      <string>onapMatra-mtei</string>
      <string>pa-mtei</string>
      <string>paLonsum-mtei</string>
      <string>pham-mtei</string>
      <string>rai-mtei</string>
      <string>sam-mtei</string>
      <string>sha-mtei</string>
      <string>sounapMatra-mtei</string>
      <string>space</string>
      <string>ssa-mtei</string>
      <string>syllableRepetitionMark-mtei</string>
      <string>thou-mtei</string>
      <string>til-mtei</string>
      <string>tilLonsum-mtei</string>
      <string>tta-mtei</string>
      <string>ttha-mtei</string>
      <string>un-mtei</string>
      <string>unapMatra-mtei</string>
      <string>uuMatra-mtei</string>
      <string>virama-mtei</string>
      <string>visargaMatra-mtei</string>
      <string>wai-mtei</string>
      <string>wordRepetitionMark-mtei</string>
      <string>yang-mtei</string>
      <string>yenapMatra-mtei</string>
      <string>zerowidthspace</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>aaiMatra-mtei</string>
      <string>aauMatra-mtei</string>
      <string>ahangKhudam-mtei</string>
      <string>anapMatra-mtei</string>
      <string>anji-mtei</string>
      <string>apunIyek-mtei</string>
      <string>apunIyek-unap</string>
      <string>apunIyek.left1</string>
      <string>apunIyek.right1</string>
      <string>apunIyek.right2</string>
      <string>atiya-mtei</string>
      <string>auMatra-mtei</string>
      <string>ba-mtei</string>
      <string>bham-mtei</string>
      <string>cha-mtei</string>
      <string>cheikhan-mtei</string>
      <string>cheikhei-mtei</string>
      <string>cheinapMatra-mtei</string>
      <string>chil-mtei</string>
      <string>dda-mtei</string>
      <string>ddha-mtei</string>
      <string>dhou-mtei</string>
      <string>digitEight-mtei</string>
      <string>digitFive-mtei</string>
      <string>digitFour-mtei</string>
      <string>digitNine-mtei</string>
      <string>digitOne-mtei</string>
      <string>digitSeven-mtei</string>
      <string>digitSix-mtei</string>
      <string>digitThree-mtei</string>
      <string>digitTwo-mtei</string>
      <string>digitZero-mtei</string>
      <string>dil-mtei</string>
      <string>dottedCircle</string>
      <string>e-mtei</string>
      <string>ghou-mtei</string>
      <string>gok-mtei</string>
      <string>huk-mtei</string>
      <string>i-mtei</string>
      <string>iLonsum-mtei</string>
      <string>iiMatra-mtei</string>
      <string>inapMatra-mtei</string>
      <string>jham-mtei</string>
      <string>jil-mtei</string>
      <string>khou-mtei</string>
      <string>kok-mtei</string>
      <string>kokLonsum-mtei</string>
      <string>lai-mtei</string>
      <string>laiLonsum-mtei</string>
      <string>lumIyek-mtei</string>
      <string>mit-mtei</string>
      <string>mitLonsum-mtei</string>
      <string>na-mtei</string>
      <string>naLonsum-mtei</string>
      <string>nbspace</string>
      <string>ngou-mtei</string>
      <string>ngouLonsum-mtei</string>
      <string>nna-mtei</string>
      <string>nungMatra-mtei</string>
      <string>nya-mtei</string>
      <string>o-mtei</string>
      <string>onapMatra-mtei</string>
      <string>pa-mtei</string>
      <string>paLonsum-mtei</string>
      <string>pham-mtei</string>
      <string>rai-mtei</string>
      <string>sam-mtei</string>
      <string>sha-mtei</string>
      <string>sounapMatra-mtei</string>
      <string>space</string>
      <string>ssa-mtei</string>
      <string>syllableRepetitionMark-mtei</string>
      <string>thou-mtei</string>
      <string>til-mtei</string>
      <string>tilLonsum-mtei</string>
      <string>tta-mtei</string>
      <string>ttha-mtei</string>
      <string>un-mtei</string>
      <string>unapMatra-mtei</string>
      <string>uuMatra-mtei</string>
      <string>virama-mtei</string>
      <string>visargaMatra-mtei</string>
      <string>wai-mtei</string>
      <string>wordRepetitionMark-mtei</string>
      <string>yang-mtei</string>
      <string>yenapMatra-mtei</string>
      <string>zerowidthspace</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>aaiMatra-mtei</key>
      <string>uAAED</string>
      <key>aauMatra-mtei</key>
      <string>uAAEF</string>
      <key>ahangKhudam-mtei</key>
      <string>uAAF1</string>
      <key>anapMatra-mtei</key>
      <string>uABE5</string>
      <key>anji-mtei</key>
      <string>uAAF2</string>
      <key>apunIyek-mtei</key>
      <string>uABED</string>
      <key>apunIyek-unap</key>
      <string>apunIyekunap</string>
      <key>atiya-mtei</key>
      <string>uABD1</string>
      <key>auMatra-mtei</key>
      <string>uAAEE</string>
      <key>ba-mtei</key>
      <string>uABD5</string>
      <key>bham-mtei</key>
      <string>uABDA</string>
      <key>cha-mtei</key>
      <string>uAAE2</string>
      <key>cheikhan-mtei</key>
      <string>uAAF0</string>
      <key>cheikhei-mtei</key>
      <string>uABEB</string>
      <key>cheinapMatra-mtei</key>
      <string>uABE9</string>
      <key>chil-mtei</key>
      <string>uABC6</string>
      <key>dda-mtei</key>
      <string>uAAE6</string>
      <key>ddha-mtei</key>
      <string>uAAE7</string>
      <key>dhou-mtei</key>
      <string>uABD9</string>
      <key>digitEight-mtei</key>
      <string>uABF8</string>
      <key>digitFive-mtei</key>
      <string>uABF5</string>
      <key>digitFour-mtei</key>
      <string>uABF4</string>
      <key>digitNine-mtei</key>
      <string>uABF9</string>
      <key>digitOne-mtei</key>
      <string>uABF1</string>
      <key>digitSeven-mtei</key>
      <string>uABF7</string>
      <key>digitSix-mtei</key>
      <string>uABF6</string>
      <key>digitThree-mtei</key>
      <string>uABF3</string>
      <key>digitTwo-mtei</key>
      <string>uABF2</string>
      <key>digitZero-mtei</key>
      <string>uABF0</string>
      <key>dil-mtei</key>
      <string>uABD7</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>e-mtei</key>
      <string>uAAE0</string>
      <key>ghou-mtei</key>
      <string>uABD8</string>
      <key>gok-mtei</key>
      <string>uABD2</string>
      <key>huk-mtei</key>
      <string>uABCD</string>
      <key>i-mtei</key>
      <string>uABCF</string>
      <key>iLonsum-mtei</key>
      <string>uABE2</string>
      <key>iiMatra-mtei</key>
      <string>uAAEB</string>
      <key>inapMatra-mtei</key>
      <string>uABE4</string>
      <key>jham-mtei</key>
      <string>uABD3</string>
      <key>jil-mtei</key>
      <string>uABD6</string>
      <key>khou-mtei</key>
      <string>uABC8</string>
      <key>kok-mtei</key>
      <string>uABC0</string>
      <key>kokLonsum-mtei</key>
      <string>uABDB</string>
      <key>lai-mtei</key>
      <string>uABC2</string>
      <key>laiLonsum-mtei</key>
      <string>uABDC</string>
      <key>lumIyek-mtei</key>
      <string>uABEC</string>
      <key>mit-mtei</key>
      <string>uABC3</string>
      <key>mitLonsum-mtei</key>
      <string>uABDD</string>
      <key>na-mtei</key>
      <string>uABC5</string>
      <key>naLonsum-mtei</key>
      <string>uABDF</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ngou-mtei</key>
      <string>uABC9</string>
      <key>ngouLonsum-mtei</key>
      <string>uABE1</string>
      <key>nna-mtei</key>
      <string>uAAE8</string>
      <key>nungMatra-mtei</key>
      <string>uABEA</string>
      <key>nya-mtei</key>
      <string>uAAE3</string>
      <key>o-mtei</key>
      <string>uAAE1</string>
      <key>onapMatra-mtei</key>
      <string>uABE3</string>
      <key>pa-mtei</key>
      <string>uABC4</string>
      <key>paLonsum-mtei</key>
      <string>uABDE</string>
      <key>pham-mtei</key>
      <string>uABD0</string>
      <key>rai-mtei</key>
      <string>uABD4</string>
      <key>sam-mtei</key>
      <string>uABC1</string>
      <key>sha-mtei</key>
      <string>uAAE9</string>
      <key>sounapMatra-mtei</key>
      <string>uABE7</string>
      <key>ssa-mtei</key>
      <string>uAAEA</string>
      <key>syllableRepetitionMark-mtei</key>
      <string>uAAF3</string>
      <key>thou-mtei</key>
      <string>uABCA</string>
      <key>til-mtei</key>
      <string>uABC7</string>
      <key>tilLonsum-mtei</key>
      <string>uABE0</string>
      <key>tta-mtei</key>
      <string>uAAE4</string>
      <key>ttha-mtei</key>
      <string>uAAE5</string>
      <key>un-mtei</key>
      <string>uABCE</string>
      <key>unapMatra-mtei</key>
      <string>uABE8</string>
      <key>uuMatra-mtei</key>
      <string>uAAEC</string>
      <key>virama-mtei</key>
      <string>uAAF6</string>
      <key>visargaMatra-mtei</key>
      <string>uAAF5</string>
      <key>wai-mtei</key>
      <string>uABCB</string>
      <key>wordRepetitionMark-mtei</key>
      <string>uAAF4</string>
      <key>yang-mtei</key>
      <string>uABCC</string>
      <key>yenapMatra-mtei</key>
      <string>uABE6</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
  </dict>
</plist>
