<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>arrow</string>
      <string>dot1</string>
      <string>dot2</string>
      <string>dot3</string>
      <string>horiz.1</string>
      <string>horiz.2</string>
      <string>horizontal</string>
      <string>space</string>
      <string>u1E800</string>
      <string>u1E801</string>
      <string>u1E802</string>
      <string>u1E803</string>
      <string>u1E804</string>
      <string>u1E805</string>
      <string>u1E806</string>
      <string>u1E807</string>
      <string>u1E808</string>
      <string>u1E809</string>
      <string>u1E80A</string>
      <string>u1E80B</string>
      <string>u1E80C</string>
      <string>u1E80D</string>
      <string>u1E80E</string>
      <string>u1E80F</string>
      <string>u1E810</string>
      <string>u1E811</string>
      <string>u1E812</string>
      <string>u1E813</string>
      <string>u1E814</string>
      <string>u1E815</string>
      <string>u1E816</string>
      <string>u1E817</string>
      <string>u1E818</string>
      <string>u1E819</string>
      <string>u1E81A</string>
      <string>u1E81B</string>
      <string>u1E81C</string>
      <string>u1E81D</string>
      <string>u1E81E</string>
      <string>u1E81F</string>
      <string>u1E820</string>
      <string>u1E821</string>
      <string>u1E822</string>
      <string>u1E822.short</string>
      <string>u1E823</string>
      <string>u1E824</string>
      <string>u1E825</string>
      <string>u1E826</string>
      <string>u1E827</string>
      <string>u1E828</string>
      <string>u1E829</string>
      <string>u1E82A</string>
      <string>u1E82B</string>
      <string>u1E82C</string>
      <string>u1E82D</string>
      <string>u1E82E</string>
      <string>u1E82F</string>
      <string>u1E830</string>
      <string>u1E831</string>
      <string>u1E832</string>
      <string>u1E833</string>
      <string>u1E834</string>
      <string>u1E835</string>
      <string>u1E836</string>
      <string>u1E837</string>
      <string>u1E838</string>
      <string>u1E839</string>
      <string>u1E83A</string>
      <string>u1E83B</string>
      <string>u1E83C</string>
      <string>u1E83D</string>
      <string>u1E83E</string>
      <string>u1E83F</string>
      <string>u1E840</string>
      <string>u1E841</string>
      <string>u1E842</string>
      <string>u1E843</string>
      <string>u1E844</string>
      <string>u1E845</string>
      <string>u1E846</string>
      <string>u1E847</string>
      <string>u1E848</string>
      <string>u1E849</string>
      <string>u1E84A</string>
      <string>u1E84B</string>
      <string>u1E84C</string>
      <string>u1E84D</string>
      <string>u1E84E</string>
      <string>u1E84F</string>
      <string>u1E850</string>
      <string>u1E851</string>
      <string>u1E852</string>
      <string>u1E853</string>
      <string>u1E854</string>
      <string>u1E855</string>
      <string>u1E856</string>
      <string>u1E857</string>
      <string>u1E858</string>
      <string>u1E859</string>
      <string>u1E85A</string>
      <string>u1E85B</string>
      <string>u1E85C</string>
      <string>u1E85D</string>
      <string>u1E85E</string>
      <string>u1E85F</string>
      <string>u1E860</string>
      <string>u1E861</string>
      <string>u1E862</string>
      <string>u1E863</string>
      <string>u1E864</string>
      <string>u1E865</string>
      <string>u1E866</string>
      <string>u1E867</string>
      <string>u1E868</string>
      <string>u1E869</string>
      <string>u1E86A</string>
      <string>u1E86B</string>
      <string>u1E86C</string>
      <string>u1E86D</string>
      <string>u1E86E</string>
      <string>u1E86F</string>
      <string>u1E870</string>
      <string>u1E871</string>
      <string>u1E872</string>
      <string>u1E873</string>
      <string>u1E874</string>
      <string>u1E875</string>
      <string>u1E876</string>
      <string>u1E877</string>
      <string>u1E878</string>
      <string>u1E879</string>
      <string>u1E87A</string>
      <string>u1E87B</string>
      <string>u1E87C</string>
      <string>u1E87D</string>
      <string>u1E87E</string>
      <string>u1E87F</string>
      <string>u1E880</string>
      <string>u1E881</string>
      <string>u1E882</string>
      <string>u1E883</string>
      <string>u1E884</string>
      <string>u1E885</string>
      <string>u1E886</string>
      <string>u1E887</string>
      <string>u1E888</string>
      <string>u1E889</string>
      <string>u1E88A</string>
      <string>u1E88B</string>
      <string>u1E88C</string>
      <string>u1E88D</string>
      <string>u1E88E</string>
      <string>u1E88F</string>
      <string>u1E890</string>
      <string>u1E891</string>
      <string>u1E892</string>
      <string>u1E893</string>
      <string>u1E894</string>
      <string>u1E895</string>
      <string>u1E896</string>
      <string>u1E897</string>
      <string>u1E898</string>
      <string>u1E899</string>
      <string>u1E89A</string>
      <string>u1E89B</string>
      <string>u1E89C</string>
      <string>u1E89D</string>
      <string>u1E89E</string>
      <string>u1E89F</string>
      <string>u1E8A0</string>
      <string>u1E8A1</string>
      <string>u1E8A2</string>
      <string>u1E8A3</string>
      <string>u1E8A4</string>
      <string>u1E8A5</string>
      <string>u1E8A6</string>
      <string>u1E8A7</string>
      <string>u1E8A8</string>
      <string>u1E8A9</string>
      <string>u1E8AA</string>
      <string>u1E8AB</string>
      <string>u1E8AC</string>
      <string>u1E8AD</string>
      <string>u1E8AE</string>
      <string>u1E8AF</string>
      <string>u1E8B0</string>
      <string>u1E8B1</string>
      <string>u1E8B2</string>
      <string>u1E8B3</string>
      <string>u1E8B4</string>
      <string>u1E8B5</string>
      <string>u1E8B6</string>
      <string>u1E8B7</string>
      <string>u1E8B8</string>
      <string>u1E8B9</string>
      <string>u1E8BA</string>
      <string>u1E8BB</string>
      <string>u1E8BC</string>
      <string>u1E8BD</string>
      <string>u1E8BE</string>
      <string>u1E8BF</string>
      <string>u1E8C0</string>
      <string>u1E8C1</string>
      <string>u1E8C2</string>
      <string>u1E8C3</string>
      <string>u1E8C4</string>
      <string>u1E8C7</string>
      <string>u1E8C7.alt</string>
      <string>u1E8C8</string>
      <string>u1E8C8.alt</string>
      <string>u1E8C9</string>
      <string>u1E8C9.alt</string>
      <string>u1E8CA</string>
      <string>u1E8CA.alt</string>
      <string>u1E8CB</string>
      <string>u1E8CB.alt</string>
      <string>u1E8CC</string>
      <string>u1E8CC.alt</string>
      <string>u1E8CD</string>
      <string>u1E8CD.alt</string>
      <string>u1E8CE</string>
      <string>u1E8CE.alt</string>
      <string>u1E8CF</string>
      <string>u1E8CF.alt</string>
      <string>u1E8D0</string>
      <string>u1E8D1</string>
      <string>u1E8D2</string>
      <string>u1E8D3</string>
      <string>u1E8D4</string>
      <string>u1E8D5</string>
      <string>u1E8D6</string>
      <string>uni00A0</string>
      <string>uni25CC</string>
      <string>vert.2</string>
      <string>vertical</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>arrow</string>
      <string>horizontal</string>
      <string>u1E822.short</string>
      <string>horiz.2</string>
      <string>vert.2</string>
      <string>vertical</string>
      <string>horiz.1</string>
      <string>dot3</string>
      <string>dot2</string>
      <string>dot1</string>
    </array>
  </dict>
</plist>
