<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniAAE0</key>
    <string>uniA_A_E_0.glif</string>
    <key>uniAAE1</key>
    <string>uniA_A_E_1.glif</string>
    <key>uniAAE2</key>
    <string>uniA_A_E_2.glif</string>
    <key>uniAAE3</key>
    <string>uniA_A_E_3.glif</string>
    <key>uniAAE4</key>
    <string>uniA_A_E_4.glif</string>
    <key>uniAAE5</key>
    <string>uniA_A_E_5.glif</string>
    <key>uniAAE6</key>
    <string>uniA_A_E_6.glif</string>
    <key>uniAAE7</key>
    <string>uniA_A_E_7.glif</string>
    <key>uniAAE8</key>
    <string>uniA_A_E_8.glif</string>
    <key>uniAAE9</key>
    <string>uniA_A_E_9.glif</string>
    <key>uniAAEA</key>
    <string>uniA_A_E_A_.glif</string>
    <key>uniAAEB</key>
    <string>uniA_A_E_B_.glif</string>
    <key>uniAAEC</key>
    <string>uniA_A_E_C_.glif</string>
    <key>uniAAED</key>
    <string>uniA_A_E_D_.glif</string>
    <key>uniAAEE</key>
    <string>uniA_A_E_E_.glif</string>
    <key>uniAAEF</key>
    <string>uniA_A_E_F_.glif</string>
    <key>uniAAF0</key>
    <string>uniA_A_F_0.glif</string>
    <key>uniAAF1</key>
    <string>uniA_A_F_1.glif</string>
    <key>uniAAF2</key>
    <string>uniA_A_F_2.glif</string>
    <key>uniAAF3</key>
    <string>uniA_A_F_3.glif</string>
    <key>uniAAF4</key>
    <string>uniA_A_F_4.glif</string>
    <key>uniAAF5</key>
    <string>uniA_A_F_5.glif</string>
    <key>uniAAF6</key>
    <string>uniA_A_F_6.glif</string>
    <key>uniABC0</key>
    <string>uniA_B_C_0.glif</string>
    <key>uniABC1</key>
    <string>uniA_B_C_1.glif</string>
    <key>uniABC2</key>
    <string>uniA_B_C_2.glif</string>
    <key>uniABC3</key>
    <string>uniA_B_C_3.glif</string>
    <key>uniABC4</key>
    <string>uniA_B_C_4.glif</string>
    <key>uniABC5</key>
    <string>uniA_B_C_5.glif</string>
    <key>uniABC6</key>
    <string>uniA_B_C_6.glif</string>
    <key>uniABC7</key>
    <string>uniA_B_C_7.glif</string>
    <key>uniABC8</key>
    <string>uniA_B_C_8.glif</string>
    <key>uniABC9</key>
    <string>uniA_B_C_9.glif</string>
    <key>uniABCA</key>
    <string>uniA_B_C_A_.glif</string>
    <key>uniABCB</key>
    <string>uniA_B_C_B_.glif</string>
    <key>uniABCC</key>
    <string>uniA_B_C_C_.glif</string>
    <key>uniABCD</key>
    <string>uniA_B_C_D_.glif</string>
    <key>uniABCE</key>
    <string>uniA_B_C_E_.glif</string>
    <key>uniABCF</key>
    <string>uniA_B_C_F_.glif</string>
    <key>uniABD0</key>
    <string>uniA_B_D_0.glif</string>
    <key>uniABD1</key>
    <string>uniA_B_D_1.glif</string>
    <key>uniABD2</key>
    <string>uniA_B_D_2.glif</string>
    <key>uniABD3</key>
    <string>uniA_B_D_3.glif</string>
    <key>uniABD4</key>
    <string>uniA_B_D_4.glif</string>
    <key>uniABD5</key>
    <string>uniA_B_D_5.glif</string>
    <key>uniABD6</key>
    <string>uniA_B_D_6.glif</string>
    <key>uniABD7</key>
    <string>uniA_B_D_7.glif</string>
    <key>uniABD8</key>
    <string>uniA_B_D_8.glif</string>
    <key>uniABD9</key>
    <string>uniA_B_D_9.glif</string>
    <key>uniABDA</key>
    <string>uniA_B_D_A_.glif</string>
    <key>uniABDB</key>
    <string>uniA_B_D_B_.glif</string>
    <key>uniABDC</key>
    <string>uniA_B_D_C_.glif</string>
    <key>uniABDD</key>
    <string>uniA_B_D_D_.glif</string>
    <key>uniABDE</key>
    <string>uniA_B_D_E_.glif</string>
    <key>uniABDF</key>
    <string>uniA_B_D_F_.glif</string>
    <key>uniABE0</key>
    <string>uniA_B_E_0.glif</string>
    <key>uniABE1</key>
    <string>uniA_B_E_1.glif</string>
    <key>uniABE2</key>
    <string>uniA_B_E_2.glif</string>
    <key>uniABE3</key>
    <string>uniA_B_E_3.glif</string>
    <key>uniABE4</key>
    <string>uniA_B_E_4.glif</string>
    <key>uniABE5</key>
    <string>uniA_B_E_5.glif</string>
    <key>uniABE6</key>
    <string>uniA_B_E_6.glif</string>
    <key>uniABE7</key>
    <string>uniA_B_E_7.glif</string>
    <key>uniABE8</key>
    <string>uniA_B_E_8.glif</string>
    <key>uniABE9</key>
    <string>uniA_B_E_9.glif</string>
    <key>uniABEA</key>
    <string>uniA_B_E_A_.glif</string>
    <key>uniABEB</key>
    <string>uniA_B_E_B_.glif</string>
    <key>uniABEC</key>
    <string>uniA_B_E_C_.glif</string>
    <key>uniABED</key>
    <string>uniA_B_E_D_.glif</string>
    <key>uniABED.alt1</key>
    <string>uniA_B_E_D_.alt1.glif</string>
    <key>uniABED.alt2</key>
    <string>uniA_B_E_D_.alt2.glif</string>
    <key>uniABED.alt3</key>
    <string>uniA_B_E_D_.alt3.glif</string>
    <key>uniABED.alt4</key>
    <string>uniA_B_E_D_.alt4.glif</string>
    <key>uniABED.alt5</key>
    <string>uniA_B_E_D_.alt5.glif</string>
    <key>uniABED.alt6</key>
    <string>uniA_B_E_D_.alt6.glif</string>
    <key>uniABED.alt7</key>
    <string>uniA_B_E_D_.alt7.glif</string>
    <key>uniABED.alt8</key>
    <string>uniA_B_E_D_.alt8.glif</string>
    <key>uniABF0</key>
    <string>uniA_B_F_0.glif</string>
    <key>uniABF1</key>
    <string>uniA_B_F_1.glif</string>
    <key>uniABF2</key>
    <string>uniA_B_F_2.glif</string>
    <key>uniABF3</key>
    <string>uniA_B_F_3.glif</string>
    <key>uniABF4</key>
    <string>uniA_B_F_4.glif</string>
    <key>uniABF5</key>
    <string>uniA_B_F_5.glif</string>
    <key>uniABF6</key>
    <string>uniA_B_F_6.glif</string>
    <key>uniABF7</key>
    <string>uniA_B_F_7.glif</string>
    <key>uniABF8</key>
    <string>uniA_B_F_8.glif</string>
    <key>uniABF9</key>
    <string>uniA_B_F_9.glif</string>
  </dict>
</plist>
