<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1060</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>Name</key>
        <string>Width</string>
        <key>Tag</key>
        <string>wdth</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>26</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>colon</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>hyphen</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>period</string>
      <string>question</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>semicolon</string>
      <string>slash</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni00AD</string>
      <string>uni1780</string>
      <string>uni178017B6</string>
      <string>uni178017C5</string>
      <string>uni1781</string>
      <string>uni178117B6</string>
      <string>uni178117C5</string>
      <string>uni1782</string>
      <string>uni178217B6</string>
      <string>uni178217C5</string>
      <string>uni1783</string>
      <string>uni178317B6</string>
      <string>uni178317C5</string>
      <string>uni1784</string>
      <string>uni178417B6</string>
      <string>uni178417C5</string>
      <string>uni1785</string>
      <string>uni178517B6</string>
      <string>uni178517C5</string>
      <string>uni1786</string>
      <string>uni178617B6</string>
      <string>uni178617C5</string>
      <string>uni1787</string>
      <string>uni178717B6</string>
      <string>uni178717C5</string>
      <string>uni1788</string>
      <string>uni178817B6</string>
      <string>uni178817C5</string>
      <string>uni1789</string>
      <string>uni1789.a</string>
      <string>uni178917B6</string>
      <string>uni178917B6.a</string>
      <string>uni178917C5</string>
      <string>uni178917C5.a</string>
      <string>uni178A</string>
      <string>uni178A17B6</string>
      <string>uni178A17C5</string>
      <string>uni178B</string>
      <string>uni178B17B6</string>
      <string>uni178B17C5</string>
      <string>uni178C</string>
      <string>uni178C17B6</string>
      <string>uni178C17C5</string>
      <string>uni178D</string>
      <string>uni178D17B6</string>
      <string>uni178D17C5</string>
      <string>uni178E</string>
      <string>uni178E17B6</string>
      <string>uni178E17C5</string>
      <string>uni178F</string>
      <string>uni178F17B6</string>
      <string>uni178F17C5</string>
      <string>uni1790</string>
      <string>uni179017B6</string>
      <string>uni179017C5</string>
      <string>uni1791</string>
      <string>uni179117B6</string>
      <string>uni179117C5</string>
      <string>uni1792</string>
      <string>uni179217B6</string>
      <string>uni179217C5</string>
      <string>uni1793</string>
      <string>uni179317B6</string>
      <string>uni179317C5</string>
      <string>uni1794</string>
      <string>uni1794.a</string>
      <string>uni1794.a2</string>
      <string>uni179417B6</string>
      <string>uni179417B6.high</string>
      <string>uni179417C5</string>
      <string>uni179417C5.high</string>
      <string>uni1795</string>
      <string>uni179517B6</string>
      <string>uni179517C5</string>
      <string>uni1796</string>
      <string>uni179617B6</string>
      <string>uni179617C5</string>
      <string>uni1797</string>
      <string>uni179717B6</string>
      <string>uni179717C5</string>
      <string>uni1798</string>
      <string>uni179817B6</string>
      <string>uni179817C5</string>
      <string>uni1799</string>
      <string>uni179917B6</string>
      <string>uni179917C5</string>
      <string>uni179A</string>
      <string>uni179A17B6</string>
      <string>uni179A17C5</string>
      <string>uni179B</string>
      <string>uni179B17B6</string>
      <string>uni179B17C5</string>
      <string>uni179C</string>
      <string>uni179C17B6</string>
      <string>uni179C17C5</string>
      <string>uni179D</string>
      <string>uni179D17B6</string>
      <string>uni179D17C5</string>
      <string>uni179E</string>
      <string>uni179E17B6</string>
      <string>uni179E17C5</string>
      <string>uni179F</string>
      <string>uni179F17B6</string>
      <string>uni179F17C5</string>
      <string>uni17A0</string>
      <string>uni17A017B6</string>
      <string>uni17A017C5</string>
      <string>uni17A1</string>
      <string>uni17A117B6</string>
      <string>uni17A117C5</string>
      <string>uni17A2</string>
      <string>uni17A217B6</string>
      <string>uni17A217C5</string>
      <string>uni17A3</string>
      <string>uni17A4</string>
      <string>uni17A5</string>
      <string>uni17A6</string>
      <string>uni17A7</string>
      <string>uni17A8</string>
      <string>uni17A9</string>
      <string>uni17AA</string>
      <string>uni17AB</string>
      <string>uni17AC</string>
      <string>uni17AD</string>
      <string>uni17AE</string>
      <string>uni17AF</string>
      <string>uni17B0</string>
      <string>uni17B1</string>
      <string>uni17B2</string>
      <string>uni17B3</string>
      <string>uni17B4</string>
      <string>uni17B5</string>
      <string>uni17B6</string>
      <string>uni17B7</string>
      <string>uni17B7.r</string>
      <string>uni17B717CD</string>
      <string>uni17B717CD.r</string>
      <string>uni17B717CE</string>
      <string>uni17B8</string>
      <string>uni17B8.r</string>
      <string>uni17B9</string>
      <string>uni17B9.r</string>
      <string>uni17BA</string>
      <string>uni17BA.r</string>
      <string>uni17BA17CE</string>
      <string>uni17BA17CE.r</string>
      <string>uni17BB</string>
      <string>uni17BB.b</string>
      <string>uni17BC</string>
      <string>uni17BC.b</string>
      <string>uni17BD</string>
      <string>uni17BD.b</string>
      <string>uni17BE</string>
      <string>uni17BF</string>
      <string>uni17BF.right1</string>
      <string>uni17BF.right2</string>
      <string>uni17BF.right3</string>
      <string>uni17C0</string>
      <string>uni17C0.right1</string>
      <string>uni17C0.right2</string>
      <string>uni17C0.right3</string>
      <string>uni17C1</string>
      <string>uni17C2</string>
      <string>uni17C3</string>
      <string>uni17C4</string>
      <string>uni17C5</string>
      <string>uni17C5.right</string>
      <string>uni17C6</string>
      <string>uni17C6.r</string>
      <string>uni17C7</string>
      <string>uni17C8</string>
      <string>uni17C9</string>
      <string>uni17C9.a</string>
      <string>uni17C9.r</string>
      <string>uni17C917B8</string>
      <string>uni17C917BA</string>
      <string>uni17C917CE</string>
      <string>uni17CA</string>
      <string>uni17CA.r</string>
      <string>uni17CA.r.c0</string>
      <string>uni17CA17B7</string>
      <string>uni17CA17B8</string>
      <string>uni17CA17B8.r</string>
      <string>uni17CA17B9</string>
      <string>uni17CA17BA</string>
      <string>uni17CA17C6</string>
      <string>uni17CA17CE</string>
      <string>uni17CA17D0</string>
      <string>uni17CB</string>
      <string>uni17CB.r</string>
      <string>uni17CC</string>
      <string>uni17CC.r</string>
      <string>uni17CD</string>
      <string>uni17CD.r</string>
      <string>uni17CE</string>
      <string>uni17CE.r</string>
      <string>uni17CF</string>
      <string>uni17CF.r</string>
      <string>uni17D0</string>
      <string>uni17D017CE</string>
      <string>uni17D1</string>
      <string>uni17D1.r</string>
      <string>uni17D2</string>
      <string>uni17D21780</string>
      <string>uni17D21781</string>
      <string>uni17D21782</string>
      <string>uni17D21783</string>
      <string>uni17D21783.low</string>
      <string>uni17D2178317B6</string>
      <string>uni17D2178317B6.low</string>
      <string>uni17D2178317C5</string>
      <string>uni17D2178317C5.low</string>
      <string>uni17D21784</string>
      <string>uni17D21785</string>
      <string>uni17D21786</string>
      <string>uni17D21787</string>
      <string>uni17D21788</string>
      <string>uni17D21788.low</string>
      <string>uni17D2178817B6</string>
      <string>uni17D2178817B6.low</string>
      <string>uni17D2178817C5</string>
      <string>uni17D2178817C5.low</string>
      <string>uni17D21789</string>
      <string>uni17D21789.a</string>
      <string>uni17D2178A</string>
      <string>uni17D2178A.r</string>
      <string>uni17D2178B</string>
      <string>uni17D2178C</string>
      <string>uni17D2178D</string>
      <string>uni17D2178D.low</string>
      <string>uni17D2178D17B6</string>
      <string>uni17D2178D17B6.low</string>
      <string>uni17D2178D17C5</string>
      <string>uni17D2178D17C5.low</string>
      <string>uni17D2178E</string>
      <string>uni17D2178E.alt</string>
      <string>uni17D2178F</string>
      <string>uni17D2178F.r</string>
      <string>uni17D21790</string>
      <string>uni17D21791</string>
      <string>uni17D21792</string>
      <string>uni17D21793</string>
      <string>uni17D21794</string>
      <string>uni17D21794.low</string>
      <string>uni17D2179417B6</string>
      <string>uni17D2179417B6.low</string>
      <string>uni17D2179417C5</string>
      <string>uni17D2179417C5.low</string>
      <string>uni17D21795</string>
      <string>uni17D21796</string>
      <string>uni17D21797</string>
      <string>uni17D21797.r</string>
      <string>uni17D21798</string>
      <string>uni17D21798.r</string>
      <string>uni17D21799</string>
      <string>uni17D21799.low</string>
      <string>uni17D2179917B6</string>
      <string>uni17D2179917B6.low</string>
      <string>uni17D2179917C5</string>
      <string>uni17D2179917C5.low</string>
      <string>uni17D2179A</string>
      <string>uni17D2179A.low</string>
      <string>uni17D2179B</string>
      <string>uni17D2179C</string>
      <string>uni17D2179D</string>
      <string>uni17D2179E</string>
      <string>uni17D2179E.low</string>
      <string>uni17D2179E17B6</string>
      <string>uni17D2179E17B6.low</string>
      <string>uni17D2179E17C5</string>
      <string>uni17D2179E17C5.low</string>
      <string>uni17D2179F</string>
      <string>uni17D2179F.low</string>
      <string>uni17D2179F17B6</string>
      <string>uni17D2179F17B6.low</string>
      <string>uni17D2179F17C5</string>
      <string>uni17D2179F17C5.low</string>
      <string>uni17D217A0</string>
      <string>uni17D217A1</string>
      <string>uni17D217A2</string>
      <string>uni17D217A7</string>
      <string>uni17D217AB</string>
      <string>uni17D217AB.low</string>
      <string>uni17D217AC</string>
      <string>uni17D217AC.low</string>
      <string>uni17D217AF</string>
      <string>uni17D217AF.low</string>
      <string>uni17D3</string>
      <string>uni17D3.r</string>
      <string>uni17D4</string>
      <string>uni17D5</string>
      <string>uni17D6</string>
      <string>uni17D7</string>
      <string>uni17D8</string>
      <string>uni17D9</string>
      <string>uni17DA</string>
      <string>uni17DB</string>
      <string>uni17DC</string>
      <string>uni17DD</string>
      <string>uni17DD.r</string>
      <string>uni17E0</string>
      <string>uni17E1</string>
      <string>uni17E2</string>
      <string>uni17E3</string>
      <string>uni17E4</string>
      <string>uni17E5</string>
      <string>uni17E6</string>
      <string>uni17E7</string>
      <string>uni17E8</string>
      <string>uni17E9</string>
      <string>uni17F0</string>
      <string>uni17F1</string>
      <string>uni17F2</string>
      <string>uni17F3</string>
      <string>uni17F4</string>
      <string>uni17F5</string>
      <string>uni17F6</string>
      <string>uni17F7</string>
      <string>uni17F8</string>
      <string>uni17F9</string>
      <string>uni19E0</string>
      <string>uni19E1</string>
      <string>uni19E2</string>
      <string>uni19E3</string>
      <string>uni19E4</string>
      <string>uni19E5</string>
      <string>uni19E6</string>
      <string>uni19E7</string>
      <string>uni19E8</string>
      <string>uni19E9</string>
      <string>uni19EA</string>
      <string>uni19EB</string>
      <string>uni19EC</string>
      <string>uni19ED</string>
      <string>uni19EE</string>
      <string>uni19EF</string>
      <string>uni19F0</string>
      <string>uni19F1</string>
      <string>uni19F2</string>
      <string>uni19F3</string>
      <string>uni19F4</string>
      <string>uni19F5</string>
      <string>uni19F6</string>
      <string>uni19F7</string>
      <string>uni19F8</string>
      <string>uni19F9</string>
      <string>uni19FA</string>
      <string>uni19FB</string>
      <string>uni19FC</string>
      <string>uni19FD</string>
      <string>uni19FE</string>
      <string>uni19FF</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
