<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.Pe.cut</key>
    <array>
      <string>Pe.cut</string>
      <string>Pe.altcut</string>
    </array>
    <key>public.kern1.u10F0A</key>
    <array>
      <string>u10F0A</string>
      <string>u10F13</string>
    </array>
    <key>public.kern1.u10F0C</key>
    <array>
      <string>u10F0C</string>
      <string>Lamedh.altA</string>
      <string>Lamedh.altB</string>
    </array>
    <key>public.kern1.u10F14</key>
    <array>
      <string>u10F14</string>
      <string>Pe.alt</string>
    </array>
    <key>public.kern1.u10F1A</key>
    <array>
      <string>u10F09</string>
      <string>u10F1A</string>
      <string>Taw.alt</string>
    </array>
    <key>public.kern2.u10F00</key>
    <array>
      <string>u10F00</string>
      <string>u10F01</string>
    </array>
    <key>public.kern2.u10F02</key>
    <array>
      <string>u10F02</string>
      <string>u10F03</string>
      <string>u10F0F</string>
    </array>
    <key>public.kern2.u10F07</key>
    <array>
      <string>u10F07</string>
      <string>Samekh.alt</string>
      <string>Taw.alt</string>
      <string>TawFinV.alt</string>
    </array>
    <key>public.kern2.u10F0B</key>
    <array>
      <string>u10F0B</string>
      <string>u10F18</string>
      <string>Kaph.cut</string>
    </array>
    <key>public.kern2.u10F0C</key>
    <array>
      <string>u10F06</string>
      <string>u10F0C</string>
      <string>HeFin.alt</string>
      <string>Lamedh.altA</string>
      <string>Lamedh.altB</string>
    </array>
    <key>public.kern2.u10F13</key>
    <array>
      <string>u10F13</string>
      <string>u10F27</string>
      <string>AyinAlt.altA</string>
      <string>AyinAlt.altB</string>
    </array>
    <key>public.kern2.u10F14</key>
    <array>
      <string>u10F14</string>
      <string>Pe.alt</string>
      <string>Pe.cut</string>
      <string>Pe.altcut</string>
    </array>
    <key>public.kern2.u10F15</key>
    <array>
      <string>u10F12</string>
      <string>u10F15</string>
      <string>u10F16</string>
      <string>u10F17</string>
      <string>SadheFin.alt</string>
    </array>
    <key>public.kern2.u10F1A</key>
    <array>
      <string>u10F11</string>
      <string>u10F1A</string>
      <string>u10F1B</string>
      <string>u10F1C</string>
      <string>TawFin.alt</string>
    </array>
  </dict>
</plist>
