<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Aleph.alt</string>
      <string>AyinAlt.altA</string>
      <string>AyinAlt.altB</string>
      <string>CR</string>
      <string>HeFin.alt</string>
      <string>Kaph.cut</string>
      <string>Lamedh.altA</string>
      <string>Lamedh.altB</string>
      <string>NULL</string>
      <string>Pe.alt</string>
      <string>Pe.altcut</string>
      <string>Pe.cut</string>
      <string>SadheFin.alt</string>
      <string>Samekh.alt</string>
      <string>Taw.alt</string>
      <string>TawFin.alt</string>
      <string>TawFinV.alt</string>
      <string>space</string>
      <string>u10F00</string>
      <string>u10F01</string>
      <string>u10F02</string>
      <string>u10F03</string>
      <string>u10F04</string>
      <string>u10F05</string>
      <string>u10F06</string>
      <string>u10F07</string>
      <string>u10F08</string>
      <string>u10F09</string>
      <string>u10F0A</string>
      <string>u10F0B</string>
      <string>u10F0C</string>
      <string>u10F0D</string>
      <string>u10F0E</string>
      <string>u10F0F</string>
      <string>u10F10</string>
      <string>u10F11</string>
      <string>u10F12</string>
      <string>u10F13</string>
      <string>u10F14</string>
      <string>u10F15</string>
      <string>u10F16</string>
      <string>u10F17</string>
      <string>u10F18</string>
      <string>u10F19</string>
      <string>u10F1A</string>
      <string>u10F1B</string>
      <string>u10F1C</string>
      <string>u10F1D</string>
      <string>u10F1E</string>
      <string>u10F1F</string>
      <string>u10F20</string>
      <string>u10F21</string>
      <string>u10F22</string>
      <string>u10F23</string>
      <string>u10F24</string>
      <string>u10F25</string>
      <string>u10F26</string>
      <string>u10F27</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
