<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AbbreviationSign.dogra</key>
    <string>A_bbreviationS_ign.dogra.glif</string>
    <key>Anusvara.alt.dogra</key>
    <string>A_nusvara.alt.dogra.glif</string>
    <key>Anusvara.dogra</key>
    <string>A_nusvara.dogra.glif</string>
    <key>Avagraha.dogra</key>
    <string>A_vagraha.dogra.glif</string>
    <key>Ba.dogra</key>
    <string>B_a.dogra.glif</string>
    <key>Ba.old.dogra</key>
    <string>B_a.old.dogra.glif</string>
    <key>Bha.dogra</key>
    <string>B_ha.dogra.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca.dogra</key>
    <string>C_a.dogra.glif</string>
    <key>Cha.dogra</key>
    <string>C_ha.dogra.glif</string>
    <key>Da.dogra</key>
    <string>D_a.dogra.glif</string>
    <key>Danda.dv</key>
    <string>D_anda.dv.glif</string>
    <key>Dda.dogra</key>
    <string>D_da.dogra.glif</string>
    <key>Ddha.dogra</key>
    <string>D_dha.dogra.glif</string>
    <key>Dha.alt.dogra</key>
    <string>D_ha.alt.dogra.glif</string>
    <key>Dha.dogra</key>
    <string>D_ha.dogra.glif</string>
    <key>Dha.old.dogra</key>
    <string>D_ha.old.dogra.glif</string>
    <key>Doubledanda.dv</key>
    <string>D_oubledanda.dv.glif</string>
    <key>Eight.dogra</key>
    <string>E_ight.dogra.glif</string>
    <key>Five.dogra</key>
    <string>F_ive.dogra.glif</string>
    <key>Four.dogra</key>
    <string>F_our.dogra.glif</string>
    <key>Ga.dogra</key>
    <string>G_a.dogra.glif</string>
    <key>Ga.old.dogra</key>
    <string>G_a.old.dogra.glif</string>
    <key>Gha.dogra</key>
    <string>G_ha.dogra.glif</string>
    <key>Gha.old.dogra</key>
    <string>G_ha.old.dogra.glif</string>
    <key>Ha.dogra</key>
    <string>H_a.dogra.glif</string>
    <key>Ja.dogra</key>
    <string>J_a.dogra.glif</string>
    <key>JaNya.dogra</key>
    <string>J_aN_ya.dogra.glif</string>
    <key>Jha.dogra</key>
    <string>J_ha.dogra.glif</string>
    <key>Jha.old.dogra</key>
    <string>J_ha.old.dogra.glif</string>
    <key>Ka.dogra</key>
    <string>K_a.dogra.glif</string>
    <key>KaSsa.dogra</key>
    <string>K_aS_sa.dogra.glif</string>
    <key>Kha.dogra</key>
    <string>K_ha.dogra.glif</string>
    <key>La.dogra</key>
    <string>L_a.dogra.glif</string>
    <key>Ma.dogra</key>
    <string>M_a.dogra.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na.dogra</key>
    <string>N_a.dogra.glif</string>
    <key>Nga.dogra</key>
    <string>N_ga.dogra.glif</string>
    <key>Nga.old1.dogra</key>
    <string>N_ga.old1.dogra.glif</string>
    <key>Nga.old2.dogra</key>
    <string>N_ga.old2.dogra.glif</string>
    <key>Nine.dogra</key>
    <string>N_ine.dogra.glif</string>
    <key>Nna.dogra</key>
    <string>N_na.dogra.glif</string>
    <key>Nna.old.dogra</key>
    <string>N_na.old.dogra.glif</string>
    <key>NnaMatraAa.dogra</key>
    <string>N_naM_atraA_a.dogra.glif</string>
    <key>Nukta.dogra</key>
    <string>N_ukta.dogra.glif</string>
    <key>NuktamatraU.dogra</key>
    <string>N_uktamatraU_.dogra.glif</string>
    <key>NuktamatraU.old.dogra</key>
    <string>N_uktamatraU_.old.dogra.glif</string>
    <key>NuktamatraUu.dogra</key>
    <string>N_uktamatraU_u.dogra.glif</string>
    <key>NuktamatraUu.old.dogra</key>
    <string>N_uktamatraU_u.old.dogra.glif</string>
    <key>Nya.dogra</key>
    <string>N_ya.dogra.glif</string>
    <key>Nya.old.dogra</key>
    <string>N_ya.old.dogra.glif</string>
    <key>One.dogra</key>
    <string>O_ne.dogra.glif</string>
    <key>Pa.dogra</key>
    <string>P_a.dogra.glif</string>
    <key>Pha.dogra</key>
    <string>P_ha.dogra.glif</string>
    <key>Ra.dogra</key>
    <string>R_a.dogra.glif</string>
    <key>Ra.old.dogra</key>
    <string>R_a.old.dogra.glif</string>
    <key>Rra.alt.dogra</key>
    <string>R_ra.alt.dogra.glif</string>
    <key>Rra.dogra</key>
    <string>R_ra.dogra.glif</string>
    <key>Sa.dogra</key>
    <string>S_a.dogra.glif</string>
    <key>SaTta.dogra</key>
    <string>S_aT_ta.dogra.glif</string>
    <key>Seven.dogra</key>
    <string>S_even.dogra.glif</string>
    <key>Sha.dogra</key>
    <string>S_ha.dogra.glif</string>
    <key>Sha.old.dogra</key>
    <string>S_ha.old.dogra.glif</string>
    <key>ShaRa.dogra</key>
    <string>S_haR_a.dogra.glif</string>
    <key>Six.dogra</key>
    <string>S_ix.dogra.glif</string>
    <key>Ssa.dogra</key>
    <string>S_sa.dogra.glif</string>
    <key>Ta.dogra</key>
    <string>T_a.dogra.glif</string>
    <key>TaRa.dogra</key>
    <string>T_aR_a.dogra.glif</string>
    <key>Tha.dogra</key>
    <string>T_ha.dogra.glif</string>
    <key>Tha.old1.dogra</key>
    <string>T_ha.old1.dogra.glif</string>
    <key>Tha.old2.dogra</key>
    <string>T_ha.old2.dogra.glif</string>
    <key>Three.dogra</key>
    <string>T_hree.dogra.glif</string>
    <key>Tta.dogra</key>
    <string>T_ta.dogra.glif</string>
    <key>Ttha.alt.dogra</key>
    <string>T_tha.alt.dogra.glif</string>
    <key>Ttha.dogra</key>
    <string>T_tha.dogra.glif</string>
    <key>Two.dogra</key>
    <string>T_wo.dogra.glif</string>
    <key>Va.dogra</key>
    <string>V_a.dogra.glif</string>
    <key>VaMatraR.dogra</key>
    <string>V_aM_atraR_.dogra.glif</string>
    <key>Virama.dogra</key>
    <string>V_irama.dogra.glif</string>
    <key>Visarga.dogra</key>
    <string>V_isarga.dogra.glif</string>
    <key>Ya.dogra</key>
    <string>Y_a.dogra.glif</string>
    <key>Zero.dogra</key>
    <string>Z_ero.dogra.glif</string>
    <key>matraAa.alt.dogra</key>
    <string>matraA_a.alt.dogra.glif</string>
    <key>matraAa.dogra</key>
    <string>matraA_a.dogra.glif</string>
    <key>matraAi.dogra</key>
    <string>matraA_i.dogra.glif</string>
    <key>matraAiAnusvara.dogra</key>
    <string>matraA_iA_nusvara.dogra.glif</string>
    <key>matraAu.dogra</key>
    <string>matraA_u.dogra.glif</string>
    <key>matraAu.old.dogra</key>
    <string>matraA_u.old.dogra.glif</string>
    <key>matraAuAnusvara.dogra</key>
    <string>matraA_uA_nusvara.dogra.glif</string>
    <key>matraAuAnusvara.old.dogra</key>
    <string>matraA_uA_nusvara.old.dogra.glif</string>
    <key>matraE.dogra</key>
    <string>matraE_.dogra.glif</string>
    <key>matraEAnusvara.dogra</key>
    <string>matraE_A_nusvara.dogra.glif</string>
    <key>matraI.alt.dogra</key>
    <string>matraI_.alt.dogra.glif</string>
    <key>matraI.dogra</key>
    <string>matraI_.dogra.glif</string>
    <key>matraI.old.dogra</key>
    <string>matraI_.old.dogra.glif</string>
    <key>matraIi.alt.dogra</key>
    <string>matraI_i.alt.dogra.glif</string>
    <key>matraIi.dogra</key>
    <string>matraI_i.dogra.glif</string>
    <key>matraIi.old.dogra</key>
    <string>matraI_i.old.dogra.glif</string>
    <key>matraIiAnusvara.alt.dogra</key>
    <string>matraI_iA_nusvara.alt.dogra.glif</string>
    <key>matraIiAnusvara.dogra</key>
    <string>matraI_iA_nusvara.dogra.glif</string>
    <key>matraIiAnusvara.old.dogra</key>
    <string>matraI_iA_nusvara.old.dogra.glif</string>
    <key>matraO.dogra</key>
    <string>matraO_.dogra.glif</string>
    <key>matraO.old.dogra</key>
    <string>matraO_.old.dogra.glif</string>
    <key>matraOAnusvara.dogra</key>
    <string>matraO_A_nusvara.dogra.glif</string>
    <key>matraOAnusvara.old.dogra</key>
    <string>matraO_A_nusvara.old.dogra.glif</string>
    <key>matraR.alt.dogra</key>
    <string>matraR_.alt.dogra.glif</string>
    <key>matraR.dogra</key>
    <string>matraR_.dogra.glif</string>
    <key>matraRr.alt.dogra</key>
    <string>matraR_r.alt.dogra.glif</string>
    <key>matraRr.dogra</key>
    <string>matraR_r.dogra.glif</string>
    <key>matraU.dogra</key>
    <string>matraU_.dogra.glif</string>
    <key>matraU.old.dogra</key>
    <string>matraU_.old.dogra.glif</string>
    <key>matraUu.dogra</key>
    <string>matraU_u.dogra.glif</string>
    <key>matraUu.old.dogra</key>
    <string>matraU_u.old.dogra.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vowelA.dogra</key>
    <string>vowelA_.dogra.glif</string>
    <key>vowelAa.dogra</key>
    <string>vowelA_a.dogra.glif</string>
    <key>vowelAa.old.dogra</key>
    <string>vowelA_a.old.dogra.glif</string>
    <key>vowelAi.dogra</key>
    <string>vowelA_i.dogra.glif</string>
    <key>vowelAi.old1.dogra</key>
    <string>vowelA_i.old1.dogra.glif</string>
    <key>vowelAi.old2.dogra</key>
    <string>vowelA_i.old2.dogra.glif</string>
    <key>vowelAu.dogra</key>
    <string>vowelA_u.dogra.glif</string>
    <key>vowelAuAnusvara.dogra</key>
    <string>vowelA_uA_nusvara.dogra.glif</string>
    <key>vowelE.dogra</key>
    <string>vowelE_.dogra.glif</string>
    <key>vowelI.dogra</key>
    <string>vowelI_.dogra.glif</string>
    <key>vowelI.old1.dogra</key>
    <string>vowelI_.old1.dogra.glif</string>
    <key>vowelI.old2.dogra</key>
    <string>vowelI_.old2.dogra.glif</string>
    <key>vowelIi.dogra</key>
    <string>vowelI_i.dogra.glif</string>
    <key>vowelL.dogra</key>
    <string>vowelL_.dogra.glif</string>
    <key>vowelLl.dogra</key>
    <string>vowelL_l.dogra.glif</string>
    <key>vowelO.dogra</key>
    <string>vowelO_.dogra.glif</string>
    <key>vowelO.old.dogra</key>
    <string>vowelO_.old.dogra.glif</string>
    <key>vowelOAnusvara.dogra</key>
    <string>vowelO_A_nusvara.dogra.glif</string>
    <key>vowelR.dogra</key>
    <string>vowelR_.dogra.glif</string>
    <key>vowelRr.dogra</key>
    <string>vowelR_r.dogra.glif</string>
    <key>vowelU.dogra</key>
    <string>vowelU_.dogra.glif</string>
    <key>vowelU.old.dogra</key>
    <string>vowelU_.old.dogra.glif</string>
    <key>vowelUu.alt.dogra</key>
    <string>vowelU_u.alt.dogra.glif</string>
    <key>vowelUu.dogra</key>
    <string>vowelU_u.dogra.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
  </dict>
</plist>
