<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NullMk</key>
    <string>N_ullM_k.glif</string>
    <key>ring.23</key>
    <string>ring.23.glif</string>
    <key>ring.full</key>
    <string>ring.full.glif</string>
    <key>ring.half</key>
    <string>ring.half.glif</string>
    <key>ring.l34</key>
    <string>ring.l34.glif</string>
    <key>ring.r34</key>
    <string>ring.r34.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u16F00</key>
    <string>u16F_00.glif</string>
    <key>u16F01</key>
    <string>u16F_01.glif</string>
    <key>u16F02</key>
    <string>u16F_02.glif</string>
    <key>u16F03</key>
    <string>u16F_03.glif</string>
    <key>u16F04</key>
    <string>u16F_04.glif</string>
    <key>u16F05</key>
    <string>u16F_05.glif</string>
    <key>u16F06</key>
    <string>u16F_06.glif</string>
    <key>u16F07</key>
    <string>u16F_07.glif</string>
    <key>u16F08</key>
    <string>u16F_08.glif</string>
    <key>u16F09</key>
    <string>u16F_09.glif</string>
    <key>u16F0A</key>
    <string>u16F_0A_.glif</string>
    <key>u16F0B</key>
    <string>u16F_0B_.glif</string>
    <key>u16F0C</key>
    <string>u16F_0C_.glif</string>
    <key>u16F0D</key>
    <string>u16F_0D_.glif</string>
    <key>u16F0E</key>
    <string>u16F_0E_.glif</string>
    <key>u16F0F</key>
    <string>u16F_0F_.glif</string>
    <key>u16F10</key>
    <string>u16F_10.glif</string>
    <key>u16F11</key>
    <string>u16F_11.glif</string>
    <key>u16F12</key>
    <string>u16F_12.glif</string>
    <key>u16F13</key>
    <string>u16F_13.glif</string>
    <key>u16F14</key>
    <string>u16F_14.glif</string>
    <key>u16F15</key>
    <string>u16F_15.glif</string>
    <key>u16F16</key>
    <string>u16F_16.glif</string>
    <key>u16F17</key>
    <string>u16F_17.glif</string>
    <key>u16F18</key>
    <string>u16F_18.glif</string>
    <key>u16F19</key>
    <string>u16F_19.glif</string>
    <key>u16F1A</key>
    <string>u16F_1A_.glif</string>
    <key>u16F1B</key>
    <string>u16F_1B_.glif</string>
    <key>u16F1C</key>
    <string>u16F_1C_.glif</string>
    <key>u16F1D</key>
    <string>u16F_1D_.glif</string>
    <key>u16F1E</key>
    <string>u16F_1E_.glif</string>
    <key>u16F1F</key>
    <string>u16F_1F_.glif</string>
    <key>u16F20</key>
    <string>u16F_20.glif</string>
    <key>u16F21</key>
    <string>u16F_21.glif</string>
    <key>u16F22</key>
    <string>u16F_22.glif</string>
    <key>u16F23</key>
    <string>u16F_23.glif</string>
    <key>u16F24</key>
    <string>u16F_24.glif</string>
    <key>u16F25</key>
    <string>u16F_25.glif</string>
    <key>u16F26</key>
    <string>u16F_26.glif</string>
    <key>u16F27</key>
    <string>u16F_27.glif</string>
    <key>u16F28</key>
    <string>u16F_28.glif</string>
    <key>u16F29</key>
    <string>u16F_29.glif</string>
    <key>u16F2A</key>
    <string>u16F_2A_.glif</string>
    <key>u16F2B</key>
    <string>u16F_2B_.glif</string>
    <key>u16F2C</key>
    <string>u16F_2C_.glif</string>
    <key>u16F2D</key>
    <string>u16F_2D_.glif</string>
    <key>u16F2E</key>
    <string>u16F_2E_.glif</string>
    <key>u16F2F</key>
    <string>u16F_2F_.glif</string>
    <key>u16F30</key>
    <string>u16F_30.glif</string>
    <key>u16F31</key>
    <string>u16F_31.glif</string>
    <key>u16F32</key>
    <string>u16F_32.glif</string>
    <key>u16F33</key>
    <string>u16F_33.glif</string>
    <key>u16F34</key>
    <string>u16F_34.glif</string>
    <key>u16F35</key>
    <string>u16F_35.glif</string>
    <key>u16F36</key>
    <string>u16F_36.glif</string>
    <key>u16F37</key>
    <string>u16F_37.glif</string>
    <key>u16F38</key>
    <string>u16F_38.glif</string>
    <key>u16F39</key>
    <string>u16F_39.glif</string>
    <key>u16F3A</key>
    <string>u16F_3A_.glif</string>
    <key>u16F3B</key>
    <string>u16F_3B_.glif</string>
    <key>u16F3C</key>
    <string>u16F_3C_.glif</string>
    <key>u16F3D</key>
    <string>u16F_3D_.glif</string>
    <key>u16F3E</key>
    <string>u16F_3E_.glif</string>
    <key>u16F3F</key>
    <string>u16F_3F_.glif</string>
    <key>u16F40</key>
    <string>u16F_40.glif</string>
    <key>u16F41</key>
    <string>u16F_41.glif</string>
    <key>u16F42</key>
    <string>u16F_42.glif</string>
    <key>u16F43</key>
    <string>u16F_43.glif</string>
    <key>u16F44</key>
    <string>u16F_44.glif</string>
    <key>u16F45</key>
    <string>u16F_45.glif</string>
    <key>u16F46</key>
    <string>u16F_46.glif</string>
    <key>u16F47</key>
    <string>u16F_47.glif</string>
    <key>u16F48</key>
    <string>u16F_48.glif</string>
    <key>u16F49</key>
    <string>u16F_49.glif</string>
    <key>u16F4A</key>
    <string>u16F_4A_.glif</string>
    <key>u16F4F</key>
    <string>u16F_4F_.glif</string>
    <key>u16F4F.sp</key>
    <string>u16F_4F_.sp.glif</string>
    <key>u16F50</key>
    <string>u16F_50.glif</string>
    <key>u16F51</key>
    <string>u16F_51.glif</string>
    <key>u16F52</key>
    <string>u16F_52.glif</string>
    <key>u16F53</key>
    <string>u16F_53.glif</string>
    <key>u16F54</key>
    <string>u16F_54.glif</string>
    <key>u16F54.abv</key>
    <string>u16F_54.abv.glif</string>
    <key>u16F54.blw</key>
    <string>u16F_54.blw.glif</string>
    <key>u16F54.cnt</key>
    <string>u16F_54.cnt.glif</string>
    <key>u16F54.rht</key>
    <string>u16F_54.rht.glif</string>
    <key>u16F55</key>
    <string>u16F_55.glif</string>
    <key>u16F55.abv</key>
    <string>u16F_55.abv.glif</string>
    <key>u16F55.blw</key>
    <string>u16F_55.blw.glif</string>
    <key>u16F55.cnt</key>
    <string>u16F_55.cnt.glif</string>
    <key>u16F55.rht</key>
    <string>u16F_55.rht.glif</string>
    <key>u16F56</key>
    <string>u16F_56.glif</string>
    <key>u16F56.abv</key>
    <string>u16F_56.abv.glif</string>
    <key>u16F56.blw</key>
    <string>u16F_56.blw.glif</string>
    <key>u16F56.cnt</key>
    <string>u16F_56.cnt.glif</string>
    <key>u16F56.rht</key>
    <string>u16F_56.rht.glif</string>
    <key>u16F57</key>
    <string>u16F_57.glif</string>
    <key>u16F57.abv</key>
    <string>u16F_57.abv.glif</string>
    <key>u16F57.blw</key>
    <string>u16F_57.blw.glif</string>
    <key>u16F57.cnt</key>
    <string>u16F_57.cnt.glif</string>
    <key>u16F57.rht</key>
    <string>u16F_57.rht.glif</string>
    <key>u16F58</key>
    <string>u16F_58.glif</string>
    <key>u16F58.abv</key>
    <string>u16F_58.abv.glif</string>
    <key>u16F58.blw</key>
    <string>u16F_58.blw.glif</string>
    <key>u16F58.cnt</key>
    <string>u16F_58.cnt.glif</string>
    <key>u16F58.rht</key>
    <string>u16F_58.rht.glif</string>
    <key>u16F59</key>
    <string>u16F_59.glif</string>
    <key>u16F59.abv</key>
    <string>u16F_59.abv.glif</string>
    <key>u16F59.blw</key>
    <string>u16F_59.blw.glif</string>
    <key>u16F59.cnt</key>
    <string>u16F_59.cnt.glif</string>
    <key>u16F59.rht</key>
    <string>u16F_59.rht.glif</string>
    <key>u16F5A</key>
    <string>u16F_5A_.glif</string>
    <key>u16F5A.abv</key>
    <string>u16F_5A_.abv.glif</string>
    <key>u16F5A.blw</key>
    <string>u16F_5A_.blw.glif</string>
    <key>u16F5A.cnt</key>
    <string>u16F_5A_.cnt.glif</string>
    <key>u16F5A.rht</key>
    <string>u16F_5A_.rht.glif</string>
    <key>u16F5B</key>
    <string>u16F_5B_.glif</string>
    <key>u16F5B.abv</key>
    <string>u16F_5B_.abv.glif</string>
    <key>u16F5B.blw</key>
    <string>u16F_5B_.blw.glif</string>
    <key>u16F5B.cnt</key>
    <string>u16F_5B_.cnt.glif</string>
    <key>u16F5B.rht</key>
    <string>u16F_5B_.rht.glif</string>
    <key>u16F5C</key>
    <string>u16F_5C_.glif</string>
    <key>u16F5C.abv</key>
    <string>u16F_5C_.abv.glif</string>
    <key>u16F5C.blw</key>
    <string>u16F_5C_.blw.glif</string>
    <key>u16F5C.cnt</key>
    <string>u16F_5C_.cnt.glif</string>
    <key>u16F5C.rht</key>
    <string>u16F_5C_.rht.glif</string>
    <key>u16F5D</key>
    <string>u16F_5D_.glif</string>
    <key>u16F5D.abv</key>
    <string>u16F_5D_.abv.glif</string>
    <key>u16F5D.blw</key>
    <string>u16F_5D_.blw.glif</string>
    <key>u16F5D.cnt</key>
    <string>u16F_5D_.cnt.glif</string>
    <key>u16F5D.rht</key>
    <string>u16F_5D_.rht.glif</string>
    <key>u16F5E</key>
    <string>u16F_5E_.glif</string>
    <key>u16F5E.abv</key>
    <string>u16F_5E_.abv.glif</string>
    <key>u16F5E.blw</key>
    <string>u16F_5E_.blw.glif</string>
    <key>u16F5E.cnt</key>
    <string>u16F_5E_.cnt.glif</string>
    <key>u16F5E.rht</key>
    <string>u16F_5E_.rht.glif</string>
    <key>u16F5F</key>
    <string>u16F_5F_.glif</string>
    <key>u16F5F.abv</key>
    <string>u16F_5F_.abv.glif</string>
    <key>u16F5F.blw</key>
    <string>u16F_5F_.blw.glif</string>
    <key>u16F5F.cnt</key>
    <string>u16F_5F_.cnt.glif</string>
    <key>u16F5F.rht</key>
    <string>u16F_5F_.rht.glif</string>
    <key>u16F60</key>
    <string>u16F_60.glif</string>
    <key>u16F60.abv</key>
    <string>u16F_60.abv.glif</string>
    <key>u16F60.blw</key>
    <string>u16F_60.blw.glif</string>
    <key>u16F60.cnt</key>
    <string>u16F_60.cnt.glif</string>
    <key>u16F60.rht</key>
    <string>u16F_60.rht.glif</string>
    <key>u16F61</key>
    <string>u16F_61.glif</string>
    <key>u16F61.abv</key>
    <string>u16F_61.abv.glif</string>
    <key>u16F61.blw</key>
    <string>u16F_61.blw.glif</string>
    <key>u16F61.cnt</key>
    <string>u16F_61.cnt.glif</string>
    <key>u16F61.rht</key>
    <string>u16F_61.rht.glif</string>
    <key>u16F62</key>
    <string>u16F_62.glif</string>
    <key>u16F62.abv</key>
    <string>u16F_62.abv.glif</string>
    <key>u16F62.blw</key>
    <string>u16F_62.blw.glif</string>
    <key>u16F62.cnt</key>
    <string>u16F_62.cnt.glif</string>
    <key>u16F62.rht</key>
    <string>u16F_62.rht.glif</string>
    <key>u16F63</key>
    <string>u16F_63.glif</string>
    <key>u16F63.abv</key>
    <string>u16F_63.abv.glif</string>
    <key>u16F63.blw</key>
    <string>u16F_63.blw.glif</string>
    <key>u16F63.cnt</key>
    <string>u16F_63.cnt.glif</string>
    <key>u16F63.rht</key>
    <string>u16F_63.rht.glif</string>
    <key>u16F64</key>
    <string>u16F_64.glif</string>
    <key>u16F64.abv</key>
    <string>u16F_64.abv.glif</string>
    <key>u16F64.blw</key>
    <string>u16F_64.blw.glif</string>
    <key>u16F64.cnt</key>
    <string>u16F_64.cnt.glif</string>
    <key>u16F64.rht</key>
    <string>u16F_64.rht.glif</string>
    <key>u16F65</key>
    <string>u16F_65.glif</string>
    <key>u16F65.abv</key>
    <string>u16F_65.abv.glif</string>
    <key>u16F65.blw</key>
    <string>u16F_65.blw.glif</string>
    <key>u16F65.cnt</key>
    <string>u16F_65.cnt.glif</string>
    <key>u16F65.rht</key>
    <string>u16F_65.rht.glif</string>
    <key>u16F66</key>
    <string>u16F_66.glif</string>
    <key>u16F66.abv</key>
    <string>u16F_66.abv.glif</string>
    <key>u16F66.blw</key>
    <string>u16F_66.blw.glif</string>
    <key>u16F66.cnt</key>
    <string>u16F_66.cnt.glif</string>
    <key>u16F66.rht</key>
    <string>u16F_66.rht.glif</string>
    <key>u16F67</key>
    <string>u16F_67.glif</string>
    <key>u16F67.abv</key>
    <string>u16F_67.abv.glif</string>
    <key>u16F67.blw</key>
    <string>u16F_67.blw.glif</string>
    <key>u16F67.cnt</key>
    <string>u16F_67.cnt.glif</string>
    <key>u16F67.rht</key>
    <string>u16F_67.rht.glif</string>
    <key>u16F68</key>
    <string>u16F_68.glif</string>
    <key>u16F68.abv</key>
    <string>u16F_68.abv.glif</string>
    <key>u16F68.blw</key>
    <string>u16F_68.blw.glif</string>
    <key>u16F68.cnt</key>
    <string>u16F_68.cnt.glif</string>
    <key>u16F68.rht</key>
    <string>u16F_68.rht.glif</string>
    <key>u16F69</key>
    <string>u16F_69.glif</string>
    <key>u16F69.abv</key>
    <string>u16F_69.abv.glif</string>
    <key>u16F69.blw</key>
    <string>u16F_69.blw.glif</string>
    <key>u16F69.cnt</key>
    <string>u16F_69.cnt.glif</string>
    <key>u16F69.rht</key>
    <string>u16F_69.rht.glif</string>
    <key>u16F6A</key>
    <string>u16F_6A_.glif</string>
    <key>u16F6A.abv</key>
    <string>u16F_6A_.abv.glif</string>
    <key>u16F6A.blw</key>
    <string>u16F_6A_.blw.glif</string>
    <key>u16F6A.cnt</key>
    <string>u16F_6A_.cnt.glif</string>
    <key>u16F6A.rht</key>
    <string>u16F_6A_.rht.glif</string>
    <key>u16F6B</key>
    <string>u16F_6B_.glif</string>
    <key>u16F6B.abv</key>
    <string>u16F_6B_.abv.glif</string>
    <key>u16F6B.blw</key>
    <string>u16F_6B_.blw.glif</string>
    <key>u16F6B.cnt</key>
    <string>u16F_6B_.cnt.glif</string>
    <key>u16F6B.rht</key>
    <string>u16F_6B_.rht.glif</string>
    <key>u16F6C</key>
    <string>u16F_6C_.glif</string>
    <key>u16F6C.abv</key>
    <string>u16F_6C_.abv.glif</string>
    <key>u16F6C.blw</key>
    <string>u16F_6C_.blw.glif</string>
    <key>u16F6C.cnt</key>
    <string>u16F_6C_.cnt.glif</string>
    <key>u16F6C.rht</key>
    <string>u16F_6C_.rht.glif</string>
    <key>u16F6D</key>
    <string>u16F_6D_.glif</string>
    <key>u16F6D.abv</key>
    <string>u16F_6D_.abv.glif</string>
    <key>u16F6D.blw</key>
    <string>u16F_6D_.blw.glif</string>
    <key>u16F6D.cnt</key>
    <string>u16F_6D_.cnt.glif</string>
    <key>u16F6D.rht</key>
    <string>u16F_6D_.rht.glif</string>
    <key>u16F6E</key>
    <string>u16F_6E_.glif</string>
    <key>u16F6E.abv</key>
    <string>u16F_6E_.abv.glif</string>
    <key>u16F6E.blw</key>
    <string>u16F_6E_.blw.glif</string>
    <key>u16F6E.cnt</key>
    <string>u16F_6E_.cnt.glif</string>
    <key>u16F6E.rht</key>
    <string>u16F_6E_.rht.glif</string>
    <key>u16F6F</key>
    <string>u16F_6F_.glif</string>
    <key>u16F6F.abv</key>
    <string>u16F_6F_.abv.glif</string>
    <key>u16F6F.blw</key>
    <string>u16F_6F_.blw.glif</string>
    <key>u16F6F.cnt</key>
    <string>u16F_6F_.cnt.glif</string>
    <key>u16F6F.rht</key>
    <string>u16F_6F_.rht.glif</string>
    <key>u16F70</key>
    <string>u16F_70.glif</string>
    <key>u16F70.abv</key>
    <string>u16F_70.abv.glif</string>
    <key>u16F70.blw</key>
    <string>u16F_70.blw.glif</string>
    <key>u16F70.cnt</key>
    <string>u16F_70.cnt.glif</string>
    <key>u16F70.rht</key>
    <string>u16F_70.rht.glif</string>
    <key>u16F71</key>
    <string>u16F_71.glif</string>
    <key>u16F71.abv</key>
    <string>u16F_71.abv.glif</string>
    <key>u16F71.blw</key>
    <string>u16F_71.blw.glif</string>
    <key>u16F71.cnt</key>
    <string>u16F_71.cnt.glif</string>
    <key>u16F71.rht</key>
    <string>u16F_71.rht.glif</string>
    <key>u16F72</key>
    <string>u16F_72.glif</string>
    <key>u16F72.abv</key>
    <string>u16F_72.abv.glif</string>
    <key>u16F72.blw</key>
    <string>u16F_72.blw.glif</string>
    <key>u16F72.cnt</key>
    <string>u16F_72.cnt.glif</string>
    <key>u16F72.rht</key>
    <string>u16F_72.rht.glif</string>
    <key>u16F73</key>
    <string>u16F_73.glif</string>
    <key>u16F73.abv</key>
    <string>u16F_73.abv.glif</string>
    <key>u16F73.blw</key>
    <string>u16F_73.blw.glif</string>
    <key>u16F73.cnt</key>
    <string>u16F_73.cnt.glif</string>
    <key>u16F73.rht</key>
    <string>u16F_73.rht.glif</string>
    <key>u16F74</key>
    <string>u16F_74.glif</string>
    <key>u16F74.abv</key>
    <string>u16F_74.abv.glif</string>
    <key>u16F74.blw</key>
    <string>u16F_74.blw.glif</string>
    <key>u16F74.cnt</key>
    <string>u16F_74.cnt.glif</string>
    <key>u16F74.rht</key>
    <string>u16F_74.rht.glif</string>
    <key>u16F75</key>
    <string>u16F_75.glif</string>
    <key>u16F75.abv</key>
    <string>u16F_75.abv.glif</string>
    <key>u16F75.blw</key>
    <string>u16F_75.blw.glif</string>
    <key>u16F75.cnt</key>
    <string>u16F_75.cnt.glif</string>
    <key>u16F75.rht</key>
    <string>u16F_75.rht.glif</string>
    <key>u16F76</key>
    <string>u16F_76.glif</string>
    <key>u16F76.abv</key>
    <string>u16F_76.abv.glif</string>
    <key>u16F76.blw</key>
    <string>u16F_76.blw.glif</string>
    <key>u16F76.cnt</key>
    <string>u16F_76.cnt.glif</string>
    <key>u16F76.rht</key>
    <string>u16F_76.rht.glif</string>
    <key>u16F77</key>
    <string>u16F_77.glif</string>
    <key>u16F77.abv</key>
    <string>u16F_77.abv.glif</string>
    <key>u16F77.blw</key>
    <string>u16F_77.blw.glif</string>
    <key>u16F77.cnt</key>
    <string>u16F_77.cnt.glif</string>
    <key>u16F77.rht</key>
    <string>u16F_77.rht.glif</string>
    <key>u16F78</key>
    <string>u16F_78.glif</string>
    <key>u16F78.abv</key>
    <string>u16F_78.abv.glif</string>
    <key>u16F78.blw</key>
    <string>u16F_78.blw.glif</string>
    <key>u16F78.cnt</key>
    <string>u16F_78.cnt.glif</string>
    <key>u16F78.rht</key>
    <string>u16F_78.rht.glif</string>
    <key>u16F79</key>
    <string>u16F_79.glif</string>
    <key>u16F79.abv</key>
    <string>u16F_79.abv.glif</string>
    <key>u16F79.blw</key>
    <string>u16F_79.blw.glif</string>
    <key>u16F79.cnt</key>
    <string>u16F_79.cnt.glif</string>
    <key>u16F79.rht</key>
    <string>u16F_79.rht.glif</string>
    <key>u16F7A</key>
    <string>u16F_7A_.glif</string>
    <key>u16F7A.abv</key>
    <string>u16F_7A_.abv.glif</string>
    <key>u16F7A.blw</key>
    <string>u16F_7A_.blw.glif</string>
    <key>u16F7A.cnt</key>
    <string>u16F_7A_.cnt.glif</string>
    <key>u16F7A.rht</key>
    <string>u16F_7A_.rht.glif</string>
    <key>u16F7B</key>
    <string>u16F_7B_.glif</string>
    <key>u16F7B.abv</key>
    <string>u16F_7B_.abv.glif</string>
    <key>u16F7B.blw</key>
    <string>u16F_7B_.blw.glif</string>
    <key>u16F7B.cnt</key>
    <string>u16F_7B_.cnt.glif</string>
    <key>u16F7B.rht</key>
    <string>u16F_7B_.rht.glif</string>
    <key>u16F7C</key>
    <string>u16F_7C_.glif</string>
    <key>u16F7C.abv</key>
    <string>u16F_7C_.abv.glif</string>
    <key>u16F7C.blw</key>
    <string>u16F_7C_.blw.glif</string>
    <key>u16F7C.cnt</key>
    <string>u16F_7C_.cnt.glif</string>
    <key>u16F7C.rht</key>
    <string>u16F_7C_.rht.glif</string>
    <key>u16F7D</key>
    <string>u16F_7D_.glif</string>
    <key>u16F7D.abv</key>
    <string>u16F_7D_.abv.glif</string>
    <key>u16F7D.blw</key>
    <string>u16F_7D_.blw.glif</string>
    <key>u16F7D.cnt</key>
    <string>u16F_7D_.cnt.glif</string>
    <key>u16F7D.rht</key>
    <string>u16F_7D_.rht.glif</string>
    <key>u16F7E</key>
    <string>u16F_7E_.glif</string>
    <key>u16F7E.abv</key>
    <string>u16F_7E_.abv.glif</string>
    <key>u16F7E.blw</key>
    <string>u16F_7E_.blw.glif</string>
    <key>u16F7E.cnt</key>
    <string>u16F_7E_.cnt.glif</string>
    <key>u16F7E.rht</key>
    <string>u16F_7E_.rht.glif</string>
    <key>u16F7F</key>
    <string>u16F_7F_.glif</string>
    <key>u16F7F.abv</key>
    <string>u16F_7F_.abv.glif</string>
    <key>u16F7F.blw</key>
    <string>u16F_7F_.blw.glif</string>
    <key>u16F7F.cnt</key>
    <string>u16F_7F_.cnt.glif</string>
    <key>u16F7F.rht</key>
    <string>u16F_7F_.rht.glif</string>
    <key>u16F80</key>
    <string>u16F_80.glif</string>
    <key>u16F80.abv</key>
    <string>u16F_80.abv.glif</string>
    <key>u16F80.blw</key>
    <string>u16F_80.blw.glif</string>
    <key>u16F80.cnt</key>
    <string>u16F_80.cnt.glif</string>
    <key>u16F80.rht</key>
    <string>u16F_80.rht.glif</string>
    <key>u16F81</key>
    <string>u16F_81.glif</string>
    <key>u16F81.abv</key>
    <string>u16F_81.abv.glif</string>
    <key>u16F81.blw</key>
    <string>u16F_81.blw.glif</string>
    <key>u16F81.cnt</key>
    <string>u16F_81.cnt.glif</string>
    <key>u16F81.rht</key>
    <string>u16F_81.rht.glif</string>
    <key>u16F82</key>
    <string>u16F_82.glif</string>
    <key>u16F82.abv</key>
    <string>u16F_82.abv.glif</string>
    <key>u16F82.blw</key>
    <string>u16F_82.blw.glif</string>
    <key>u16F82.cnt</key>
    <string>u16F_82.cnt.glif</string>
    <key>u16F82.rht</key>
    <string>u16F_82.rht.glif</string>
    <key>u16F83</key>
    <string>u16F_83.glif</string>
    <key>u16F83.abv</key>
    <string>u16F_83.abv.glif</string>
    <key>u16F83.blw</key>
    <string>u16F_83.blw.glif</string>
    <key>u16F83.cnt</key>
    <string>u16F_83.cnt.glif</string>
    <key>u16F83.rht</key>
    <string>u16F_83.rht.glif</string>
    <key>u16F84</key>
    <string>u16F_84.glif</string>
    <key>u16F84.abv</key>
    <string>u16F_84.abv.glif</string>
    <key>u16F84.blw</key>
    <string>u16F_84.blw.glif</string>
    <key>u16F84.cnt</key>
    <string>u16F_84.cnt.glif</string>
    <key>u16F84.rht</key>
    <string>u16F_84.rht.glif</string>
    <key>u16F85</key>
    <string>u16F_85.glif</string>
    <key>u16F85.abv</key>
    <string>u16F_85.abv.glif</string>
    <key>u16F85.blw</key>
    <string>u16F_85.blw.glif</string>
    <key>u16F85.cnt</key>
    <string>u16F_85.cnt.glif</string>
    <key>u16F85.rht</key>
    <string>u16F_85.rht.glif</string>
    <key>u16F86</key>
    <string>u16F_86.glif</string>
    <key>u16F86.abv</key>
    <string>u16F_86.abv.glif</string>
    <key>u16F86.blw</key>
    <string>u16F_86.blw.glif</string>
    <key>u16F86.cnt</key>
    <string>u16F_86.cnt.glif</string>
    <key>u16F86.rht</key>
    <string>u16F_86.rht.glif</string>
    <key>u16F87</key>
    <string>u16F_87.glif</string>
    <key>u16F87.abv</key>
    <string>u16F_87.abv.glif</string>
    <key>u16F87.blw</key>
    <string>u16F_87.blw.glif</string>
    <key>u16F87.cnt</key>
    <string>u16F_87.cnt.glif</string>
    <key>u16F87.rht</key>
    <string>u16F_87.rht.glif</string>
    <key>u16F8F</key>
    <string>u16F_8F_.glif</string>
    <key>u16F90</key>
    <string>u16F_90.glif</string>
    <key>u16F91</key>
    <string>u16F_91.glif</string>
    <key>u16F92</key>
    <string>u16F_92.glif</string>
    <key>u16F93</key>
    <string>u16F_93.glif</string>
    <key>u16F94</key>
    <string>u16F_94.glif</string>
    <key>u16F95</key>
    <string>u16F_95.glif</string>
    <key>u16F96</key>
    <string>u16F_96.glif</string>
    <key>u16F97</key>
    <string>u16F_97.glif</string>
    <key>u16F98</key>
    <string>u16F_98.glif</string>
    <key>u16F99</key>
    <string>u16F_99.glif</string>
    <key>u16F9A</key>
    <string>u16F_9A_.glif</string>
    <key>u16F9B</key>
    <string>u16F_9B_.glif</string>
    <key>u16F9C</key>
    <string>u16F_9C_.glif</string>
    <key>u16F9D</key>
    <string>u16F_9D_.glif</string>
    <key>u16F9E</key>
    <string>u16F_9E_.glif</string>
    <key>u16F9F</key>
    <string>u16F_9F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
