<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>arrow</key>
    <string>arrow.glif</string>
    <key>dot1</key>
    <string>dot1.glif</string>
    <key>dot2</key>
    <string>dot2.glif</string>
    <key>dot3</key>
    <string>dot3.glif</string>
    <key>horiz.1</key>
    <string>horiz.1.glif</string>
    <key>horiz.2</key>
    <string>horiz.2.glif</string>
    <key>horizontal</key>
    <string>horizontal.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u1E800</key>
    <string>u1E_800.glif</string>
    <key>u1E801</key>
    <string>u1E_801.glif</string>
    <key>u1E802</key>
    <string>u1E_802.glif</string>
    <key>u1E803</key>
    <string>u1E_803.glif</string>
    <key>u1E804</key>
    <string>u1E_804.glif</string>
    <key>u1E805</key>
    <string>u1E_805.glif</string>
    <key>u1E806</key>
    <string>u1E_806.glif</string>
    <key>u1E807</key>
    <string>u1E_807.glif</string>
    <key>u1E808</key>
    <string>u1E_808.glif</string>
    <key>u1E809</key>
    <string>u1E_809.glif</string>
    <key>u1E80A</key>
    <string>u1E_80A_.glif</string>
    <key>u1E80B</key>
    <string>u1E_80B_.glif</string>
    <key>u1E80C</key>
    <string>u1E_80C_.glif</string>
    <key>u1E80D</key>
    <string>u1E_80D_.glif</string>
    <key>u1E80E</key>
    <string>u1E_80E_.glif</string>
    <key>u1E80F</key>
    <string>u1E_80F_.glif</string>
    <key>u1E810</key>
    <string>u1E_810.glif</string>
    <key>u1E811</key>
    <string>u1E_811.glif</string>
    <key>u1E812</key>
    <string>u1E_812.glif</string>
    <key>u1E813</key>
    <string>u1E_813.glif</string>
    <key>u1E814</key>
    <string>u1E_814.glif</string>
    <key>u1E815</key>
    <string>u1E_815.glif</string>
    <key>u1E816</key>
    <string>u1E_816.glif</string>
    <key>u1E817</key>
    <string>u1E_817.glif</string>
    <key>u1E818</key>
    <string>u1E_818.glif</string>
    <key>u1E819</key>
    <string>u1E_819.glif</string>
    <key>u1E81A</key>
    <string>u1E_81A_.glif</string>
    <key>u1E81B</key>
    <string>u1E_81B_.glif</string>
    <key>u1E81C</key>
    <string>u1E_81C_.glif</string>
    <key>u1E81D</key>
    <string>u1E_81D_.glif</string>
    <key>u1E81E</key>
    <string>u1E_81E_.glif</string>
    <key>u1E81F</key>
    <string>u1E_81F_.glif</string>
    <key>u1E820</key>
    <string>u1E_820.glif</string>
    <key>u1E821</key>
    <string>u1E_821.glif</string>
    <key>u1E822</key>
    <string>u1E_822.glif</string>
    <key>u1E822.short</key>
    <string>u1E_822.short.glif</string>
    <key>u1E823</key>
    <string>u1E_823.glif</string>
    <key>u1E824</key>
    <string>u1E_824.glif</string>
    <key>u1E825</key>
    <string>u1E_825.glif</string>
    <key>u1E826</key>
    <string>u1E_826.glif</string>
    <key>u1E827</key>
    <string>u1E_827.glif</string>
    <key>u1E828</key>
    <string>u1E_828.glif</string>
    <key>u1E829</key>
    <string>u1E_829.glif</string>
    <key>u1E82A</key>
    <string>u1E_82A_.glif</string>
    <key>u1E82B</key>
    <string>u1E_82B_.glif</string>
    <key>u1E82C</key>
    <string>u1E_82C_.glif</string>
    <key>u1E82D</key>
    <string>u1E_82D_.glif</string>
    <key>u1E82E</key>
    <string>u1E_82E_.glif</string>
    <key>u1E82F</key>
    <string>u1E_82F_.glif</string>
    <key>u1E830</key>
    <string>u1E_830.glif</string>
    <key>u1E831</key>
    <string>u1E_831.glif</string>
    <key>u1E832</key>
    <string>u1E_832.glif</string>
    <key>u1E833</key>
    <string>u1E_833.glif</string>
    <key>u1E834</key>
    <string>u1E_834.glif</string>
    <key>u1E835</key>
    <string>u1E_835.glif</string>
    <key>u1E836</key>
    <string>u1E_836.glif</string>
    <key>u1E837</key>
    <string>u1E_837.glif</string>
    <key>u1E838</key>
    <string>u1E_838.glif</string>
    <key>u1E839</key>
    <string>u1E_839.glif</string>
    <key>u1E83A</key>
    <string>u1E_83A_.glif</string>
    <key>u1E83B</key>
    <string>u1E_83B_.glif</string>
    <key>u1E83C</key>
    <string>u1E_83C_.glif</string>
    <key>u1E83D</key>
    <string>u1E_83D_.glif</string>
    <key>u1E83E</key>
    <string>u1E_83E_.glif</string>
    <key>u1E83F</key>
    <string>u1E_83F_.glif</string>
    <key>u1E840</key>
    <string>u1E_840.glif</string>
    <key>u1E841</key>
    <string>u1E_841.glif</string>
    <key>u1E842</key>
    <string>u1E_842.glif</string>
    <key>u1E843</key>
    <string>u1E_843.glif</string>
    <key>u1E844</key>
    <string>u1E_844.glif</string>
    <key>u1E845</key>
    <string>u1E_845.glif</string>
    <key>u1E846</key>
    <string>u1E_846.glif</string>
    <key>u1E847</key>
    <string>u1E_847.glif</string>
    <key>u1E848</key>
    <string>u1E_848.glif</string>
    <key>u1E849</key>
    <string>u1E_849.glif</string>
    <key>u1E84A</key>
    <string>u1E_84A_.glif</string>
    <key>u1E84B</key>
    <string>u1E_84B_.glif</string>
    <key>u1E84C</key>
    <string>u1E_84C_.glif</string>
    <key>u1E84D</key>
    <string>u1E_84D_.glif</string>
    <key>u1E84E</key>
    <string>u1E_84E_.glif</string>
    <key>u1E84F</key>
    <string>u1E_84F_.glif</string>
    <key>u1E850</key>
    <string>u1E_850.glif</string>
    <key>u1E851</key>
    <string>u1E_851.glif</string>
    <key>u1E852</key>
    <string>u1E_852.glif</string>
    <key>u1E853</key>
    <string>u1E_853.glif</string>
    <key>u1E854</key>
    <string>u1E_854.glif</string>
    <key>u1E855</key>
    <string>u1E_855.glif</string>
    <key>u1E856</key>
    <string>u1E_856.glif</string>
    <key>u1E857</key>
    <string>u1E_857.glif</string>
    <key>u1E858</key>
    <string>u1E_858.glif</string>
    <key>u1E859</key>
    <string>u1E_859.glif</string>
    <key>u1E85A</key>
    <string>u1E_85A_.glif</string>
    <key>u1E85B</key>
    <string>u1E_85B_.glif</string>
    <key>u1E85C</key>
    <string>u1E_85C_.glif</string>
    <key>u1E85D</key>
    <string>u1E_85D_.glif</string>
    <key>u1E85E</key>
    <string>u1E_85E_.glif</string>
    <key>u1E85F</key>
    <string>u1E_85F_.glif</string>
    <key>u1E860</key>
    <string>u1E_860.glif</string>
    <key>u1E861</key>
    <string>u1E_861.glif</string>
    <key>u1E862</key>
    <string>u1E_862.glif</string>
    <key>u1E863</key>
    <string>u1E_863.glif</string>
    <key>u1E864</key>
    <string>u1E_864.glif</string>
    <key>u1E865</key>
    <string>u1E_865.glif</string>
    <key>u1E866</key>
    <string>u1E_866.glif</string>
    <key>u1E867</key>
    <string>u1E_867.glif</string>
    <key>u1E868</key>
    <string>u1E_868.glif</string>
    <key>u1E869</key>
    <string>u1E_869.glif</string>
    <key>u1E86A</key>
    <string>u1E_86A_.glif</string>
    <key>u1E86B</key>
    <string>u1E_86B_.glif</string>
    <key>u1E86C</key>
    <string>u1E_86C_.glif</string>
    <key>u1E86D</key>
    <string>u1E_86D_.glif</string>
    <key>u1E86E</key>
    <string>u1E_86E_.glif</string>
    <key>u1E86F</key>
    <string>u1E_86F_.glif</string>
    <key>u1E870</key>
    <string>u1E_870.glif</string>
    <key>u1E871</key>
    <string>u1E_871.glif</string>
    <key>u1E872</key>
    <string>u1E_872.glif</string>
    <key>u1E873</key>
    <string>u1E_873.glif</string>
    <key>u1E874</key>
    <string>u1E_874.glif</string>
    <key>u1E875</key>
    <string>u1E_875.glif</string>
    <key>u1E876</key>
    <string>u1E_876.glif</string>
    <key>u1E877</key>
    <string>u1E_877.glif</string>
    <key>u1E878</key>
    <string>u1E_878.glif</string>
    <key>u1E879</key>
    <string>u1E_879.glif</string>
    <key>u1E87A</key>
    <string>u1E_87A_.glif</string>
    <key>u1E87B</key>
    <string>u1E_87B_.glif</string>
    <key>u1E87C</key>
    <string>u1E_87C_.glif</string>
    <key>u1E87D</key>
    <string>u1E_87D_.glif</string>
    <key>u1E87E</key>
    <string>u1E_87E_.glif</string>
    <key>u1E87F</key>
    <string>u1E_87F_.glif</string>
    <key>u1E880</key>
    <string>u1E_880.glif</string>
    <key>u1E881</key>
    <string>u1E_881.glif</string>
    <key>u1E882</key>
    <string>u1E_882.glif</string>
    <key>u1E883</key>
    <string>u1E_883.glif</string>
    <key>u1E884</key>
    <string>u1E_884.glif</string>
    <key>u1E885</key>
    <string>u1E_885.glif</string>
    <key>u1E886</key>
    <string>u1E_886.glif</string>
    <key>u1E887</key>
    <string>u1E_887.glif</string>
    <key>u1E888</key>
    <string>u1E_888.glif</string>
    <key>u1E889</key>
    <string>u1E_889.glif</string>
    <key>u1E88A</key>
    <string>u1E_88A_.glif</string>
    <key>u1E88B</key>
    <string>u1E_88B_.glif</string>
    <key>u1E88C</key>
    <string>u1E_88C_.glif</string>
    <key>u1E88D</key>
    <string>u1E_88D_.glif</string>
    <key>u1E88E</key>
    <string>u1E_88E_.glif</string>
    <key>u1E88F</key>
    <string>u1E_88F_.glif</string>
    <key>u1E890</key>
    <string>u1E_890.glif</string>
    <key>u1E891</key>
    <string>u1E_891.glif</string>
    <key>u1E892</key>
    <string>u1E_892.glif</string>
    <key>u1E893</key>
    <string>u1E_893.glif</string>
    <key>u1E894</key>
    <string>u1E_894.glif</string>
    <key>u1E895</key>
    <string>u1E_895.glif</string>
    <key>u1E896</key>
    <string>u1E_896.glif</string>
    <key>u1E897</key>
    <string>u1E_897.glif</string>
    <key>u1E898</key>
    <string>u1E_898.glif</string>
    <key>u1E899</key>
    <string>u1E_899.glif</string>
    <key>u1E89A</key>
    <string>u1E_89A_.glif</string>
    <key>u1E89B</key>
    <string>u1E_89B_.glif</string>
    <key>u1E89C</key>
    <string>u1E_89C_.glif</string>
    <key>u1E89D</key>
    <string>u1E_89D_.glif</string>
    <key>u1E89E</key>
    <string>u1E_89E_.glif</string>
    <key>u1E89F</key>
    <string>u1E_89F_.glif</string>
    <key>u1E8A0</key>
    <string>u1E_8A_0.glif</string>
    <key>u1E8A1</key>
    <string>u1E_8A_1.glif</string>
    <key>u1E8A2</key>
    <string>u1E_8A_2.glif</string>
    <key>u1E8A3</key>
    <string>u1E_8A_3.glif</string>
    <key>u1E8A4</key>
    <string>u1E_8A_4.glif</string>
    <key>u1E8A5</key>
    <string>u1E_8A_5.glif</string>
    <key>u1E8A6</key>
    <string>u1E_8A_6.glif</string>
    <key>u1E8A7</key>
    <string>u1E_8A_7.glif</string>
    <key>u1E8A8</key>
    <string>u1E_8A_8.glif</string>
    <key>u1E8A9</key>
    <string>u1E_8A_9.glif</string>
    <key>u1E8AA</key>
    <string>u1E_8A_A_.glif</string>
    <key>u1E8AB</key>
    <string>u1E_8A_B_.glif</string>
    <key>u1E8AC</key>
    <string>u1E_8A_C_.glif</string>
    <key>u1E8AD</key>
    <string>u1E_8A_D_.glif</string>
    <key>u1E8AE</key>
    <string>u1E_8A_E_.glif</string>
    <key>u1E8AF</key>
    <string>u1E_8A_F_.glif</string>
    <key>u1E8B0</key>
    <string>u1E_8B_0.glif</string>
    <key>u1E8B1</key>
    <string>u1E_8B_1.glif</string>
    <key>u1E8B2</key>
    <string>u1E_8B_2.glif</string>
    <key>u1E8B3</key>
    <string>u1E_8B_3.glif</string>
    <key>u1E8B4</key>
    <string>u1E_8B_4.glif</string>
    <key>u1E8B5</key>
    <string>u1E_8B_5.glif</string>
    <key>u1E8B6</key>
    <string>u1E_8B_6.glif</string>
    <key>u1E8B7</key>
    <string>u1E_8B_7.glif</string>
    <key>u1E8B8</key>
    <string>u1E_8B_8.glif</string>
    <key>u1E8B9</key>
    <string>u1E_8B_9.glif</string>
    <key>u1E8BA</key>
    <string>u1E_8B_A_.glif</string>
    <key>u1E8BB</key>
    <string>u1E_8B_B_.glif</string>
    <key>u1E8BC</key>
    <string>u1E_8B_C_.glif</string>
    <key>u1E8BD</key>
    <string>u1E_8B_D_.glif</string>
    <key>u1E8BE</key>
    <string>u1E_8B_E_.glif</string>
    <key>u1E8BF</key>
    <string>u1E_8B_F_.glif</string>
    <key>u1E8C0</key>
    <string>u1E_8C_0.glif</string>
    <key>u1E8C1</key>
    <string>u1E_8C_1.glif</string>
    <key>u1E8C2</key>
    <string>u1E_8C_2.glif</string>
    <key>u1E8C3</key>
    <string>u1E_8C_3.glif</string>
    <key>u1E8C4</key>
    <string>u1E_8C_4.glif</string>
    <key>u1E8C7</key>
    <string>u1E_8C_7.glif</string>
    <key>u1E8C7.alt</key>
    <string>u1E_8C_7.alt.glif</string>
    <key>u1E8C8</key>
    <string>u1E_8C_8.glif</string>
    <key>u1E8C8.alt</key>
    <string>u1E_8C_8.alt.glif</string>
    <key>u1E8C9</key>
    <string>u1E_8C_9.glif</string>
    <key>u1E8C9.alt</key>
    <string>u1E_8C_9.alt.glif</string>
    <key>u1E8CA</key>
    <string>u1E_8C_A_.glif</string>
    <key>u1E8CA.alt</key>
    <string>u1E_8C_A_.alt.glif</string>
    <key>u1E8CB</key>
    <string>u1E_8C_B_.glif</string>
    <key>u1E8CB.alt</key>
    <string>u1E_8C_B_.alt.glif</string>
    <key>u1E8CC</key>
    <string>u1E_8C_C_.glif</string>
    <key>u1E8CC.alt</key>
    <string>u1E_8C_C_.alt.glif</string>
    <key>u1E8CD</key>
    <string>u1E_8C_D_.glif</string>
    <key>u1E8CD.alt</key>
    <string>u1E_8C_D_.alt.glif</string>
    <key>u1E8CE</key>
    <string>u1E_8C_E_.glif</string>
    <key>u1E8CE.alt</key>
    <string>u1E_8C_E_.alt.glif</string>
    <key>u1E8CF</key>
    <string>u1E_8C_F_.glif</string>
    <key>u1E8CF.alt</key>
    <string>u1E_8C_F_.alt.glif</string>
    <key>u1E8D0</key>
    <string>u1E_8D_0.glif</string>
    <key>u1E8D1</key>
    <string>u1E_8D_1.glif</string>
    <key>u1E8D2</key>
    <string>u1E_8D_2.glif</string>
    <key>u1E8D3</key>
    <string>u1E_8D_3.glif</string>
    <key>u1E8D4</key>
    <string>u1E_8D_4.glif</string>
    <key>u1E8D5</key>
    <string>u1E_8D_5.glif</string>
    <key>u1E8D6</key>
    <string>u1E_8D_6.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vert.2</key>
    <string>vert.2.glif</string>
    <key>vertical</key>
    <string>vertical.glif</string>
  </dict>
</plist>
