<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Anusvara.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>200</integer>
    </dict>
    <key>Anusvara.alt.MGondi</key>
    <dict>
      <key>Repha.alt.MGondi</key>
      <integer>180</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>180</integer>
      <key>space</key>
      <integer>40</integer>
    </dict>
    <key>Ba.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>-30</integer>
      <key>Halanta.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>50</integer>
      <key>Rakara.MGondi</key>
      <integer>50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>-60</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-60</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>BaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-15</integer>
      <key>Da.MGondi</key>
      <integer>-12</integer>
      <key>Kha.MGondi</key>
      <integer>-20</integer>
      <key>Kssa.MGondi</key>
      <integer>-28</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>Nga.MGondi</key>
      <integer>-20</integer>
      <key>Sha.MGondi</key>
      <integer>-62</integer>
      <key>Tha.MGondi</key>
      <integer>-28</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-15</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>-12</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>Bha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>-30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>0</integer>
      <key>Rakara.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>CaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-20</integer>
      <key>Ga.MGondi</key>
      <integer>20</integer>
      <key>Kssa.MGondi</key>
      <integer>-32</integer>
      <key>Nga.MGondi</key>
      <integer>-26</integer>
      <key>Sha.MGondi</key>
      <integer>-32</integer>
      <key>Tha.MGondi</key>
      <integer>-20</integer>
      <key>Ttha.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-26</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>10</integer>
    </dict>
    <key>ChaHalf.MGondi</key>
    <dict>
      <key>Da.MGondi</key>
      <integer>15</integer>
      <key>Ga.MGondi</key>
      <integer>20</integer>
      <key>Kha.MGondi</key>
      <integer>15</integer>
      <key>Sa.MGondi</key>
      <integer>15</integer>
      <key>Tra.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>7</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>10</integer>
    </dict>
    <key>Chandra.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>40</integer>
      <key>Ma.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>DaHalf.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>20</integer>
      <key>Da.MGondi</key>
      <integer>15</integer>
      <key>Ga.MGondi</key>
      <integer>20</integer>
      <key>Kha.MGondi</key>
      <integer>10</integer>
      <key>Nga.MGondi</key>
      <integer>-12</integer>
      <key>Nna.MGondi</key>
      <integer>20</integer>
      <key>Sa.MGondi</key>
      <integer>20</integer>
      <key>Ttha.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-12</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>20</integer>
    </dict>
    <key>Dda.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
      <key>Halanta.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAa.MGondi</key>
      <integer>90</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>130</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>40</integer>
      <key>Rakara.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>90</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>70</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>0</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>70</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>DdhaHalf.MGondi</key>
    <dict>
      <key>Nga.MGondi</key>
      <integer>-10</integer>
      <key>Tha.MGondi</key>
      <integer>20</integer>
    </dict>
    <key>Ga.MGondi</key>
    <dict>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>Gha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Chandra.MGondi</key>
      <integer>60</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAa.MGondi</key>
      <integer>120</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>140</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>-30</integer>
      <key>Rakara.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>90</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>GhaHalf.MGondi</key>
    <dict>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>Ha.MGondi</key>
    <dict>
      <key>Chandra.MGondi</key>
      <integer>32</integer>
    </dict>
    <key>Jha.MGondi</key>
    <dict>
      <key>Rakara.MGondi</key>
      <integer>5</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>JhaHalf.MGondi</key>
    <dict>
      <key>Ba.MGondi</key>
      <integer>30</integer>
      <key>Da.MGondi</key>
      <integer>15</integer>
      <key>Ga.MGondi</key>
      <integer>30</integer>
      <key>Ha.MGondi</key>
      <integer>20</integer>
      <key>Jnya.MGondi</key>
      <integer>15</integer>
      <key>Kha.MGondi</key>
      <integer>20</integer>
      <key>Pa.MGondi</key>
      <integer>30</integer>
      <key>Pha.MGondi</key>
      <integer>30</integer>
      <key>Sa.MGondi</key>
      <integer>15</integer>
      <key>Tra.MGondi</key>
      <integer>15</integer>
      <key>Ttha.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Jha.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>Jnya.MGondi</key>
    <dict>
      <key>Chandra.MGondi</key>
      <integer>24</integer>
    </dict>
    <key>KaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-35</integer>
      <key>Nga.MGondi</key>
      <integer>-35</integer>
      <key>Sha.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-30</integer>
    </dict>
    <key>Kha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>-30</integer>
    </dict>
    <key>La.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-220</integer>
    </dict>
    <key>Ma.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Chandra.MGondi</key>
      <integer>40</integer>
      <key>Halanta.MGondi</key>
      <integer>-40</integer>
      <key>Ma.MGondi</key>
      <integer>-30</integer>
      <key>MatraAa.MGondi</key>
      <integer>150</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>150</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>-30</integer>
      <key>Visarga.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>100</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>130</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>150</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>MaHalf.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>40</integer>
      <key>Ma.MGondi</key>
      <integer>20</integer>
      <key>Nga.MGondi</key>
      <integer>-20</integer>
      <key>Tha.MGondi</key>
      <integer>-20</integer>
      <key>Tra.MGondi</key>
      <integer>-20</integer>
      <key>Ttha.MGondi</key>
      <integer>-40</integer>
      <key>Va.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>-10</integer>
    </dict>
    <key>MatraAa.MGondi</key>
    <dict>
      <key>Jnya.MGondi</key>
      <integer>0</integer>
      <key>Repha.MGondi</key>
      <integer>220</integer>
      <key>Repha.alt.MGondi</key>
      <integer>220</integer>
      <key>Sa.MGondi</key>
      <integer>-10</integer>
      <key>Visarga.alt.MGondi</key>
      <integer>0</integer>
    </dict>
    <key>MatraAaAnusvara.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>220</integer>
      <key>public.kern2.quoteright.MGondi</key>
      <integer>40</integer>
      <key>quoteleft.MGondi</key>
      <integer>50</integer>
    </dict>
    <key>MatraAaRepha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>40</integer>
      <key>Visarga.MGondi</key>
      <integer>250</integer>
    </dict>
    <key>MatraAaVisarga.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>200</integer>
    </dict>
    <key>MatraAi.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>180</integer>
      <key>Repha.MGondi</key>
      <integer>160</integer>
      <key>Repha.alt.MGondi</key>
      <integer>140</integer>
    </dict>
    <key>MatraAu.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>240</integer>
      <key>Repha.MGondi</key>
      <integer>220</integer>
      <key>Repha.alt.MGondi</key>
      <integer>200</integer>
    </dict>
    <key>MatraAuVisarga.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>250</integer>
    </dict>
    <key>MatraE.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>180</integer>
      <key>Repha.MGondi</key>
      <integer>170</integer>
      <key>Repha.alt.MGondi</key>
      <integer>160</integer>
    </dict>
    <key>MatraI.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>50</integer>
      <key>Repha.MGondi</key>
      <integer>220</integer>
      <key>Repha.alt.MGondi</key>
      <integer>200</integer>
    </dict>
    <key>MatraIi.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>180</integer>
      <key>Repha.MGondi</key>
      <integer>180</integer>
      <key>Repha.alt.MGondi</key>
      <integer>180</integer>
    </dict>
    <key>MatraO.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>240</integer>
      <key>Repha.MGondi</key>
      <integer>220</integer>
    </dict>
    <key>MatraOVisarga.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>250</integer>
    </dict>
    <key>MatraU.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>180</integer>
      <key>Repha.MGondi</key>
      <integer>180</integer>
      <key>Repha.alt.MGondi</key>
      <integer>170</integer>
    </dict>
    <key>MatraUu.MGondi</key>
    <dict>
      <key>Anusvara.alt.MGondi</key>
      <integer>220</integer>
      <key>Bha.MGondi</key>
      <integer>30</integer>
      <key>Repha.MGondi</key>
      <integer>200</integer>
      <key>Repha.alt.MGondi</key>
      <integer>190</integer>
    </dict>
    <key>MatraUuAnusvara.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>210</integer>
    </dict>
    <key>MatraVocalicR.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>120</integer>
      <key>Repha.alt.MGondi</key>
      <integer>130</integer>
    </dict>
    <key>Nga.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Chandra.MGondi</key>
      <integer>60</integer>
      <key>Halanta.MGondi</key>
      <integer>-40</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAa.MGondi</key>
      <integer>180</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>180</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>-30</integer>
      <key>Rakara.MGondi</key>
      <integer>-60</integer>
      <key>Visarga.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>160</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>160</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>170</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>160</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>160</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>NgaHalf.MGondi</key>
    <dict>
      <key>Da.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>10</integer>
    </dict>
    <key>Nna.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>40</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>Nya.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Chandra.MGondi</key>
      <integer>60</integer>
      <key>Halanta.MGondi</key>
      <integer>-30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAa.MGondi</key>
      <integer>130</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>140</integer>
      <key>MatraU.MGondi</key>
      <integer>40</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>-30</integer>
      <key>Visarga.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>100</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>100</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>NyaHalf.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>20</integer>
      <key>Cha.MGondi</key>
      <integer>-20</integer>
      <key>Da.MGondi</key>
      <integer>-12</integer>
      <key>Ha.MGondi</key>
      <integer>-20</integer>
      <key>Jha.MGondi</key>
      <integer>-32</integer>
      <key>Jnya.MGondi</key>
      <integer>-40</integer>
      <key>Kha.MGondi</key>
      <integer>-40</integer>
      <key>Kssa.MGondi</key>
      <integer>-15</integer>
      <key>Lla.MGondi</key>
      <integer>-32</integer>
      <key>Nga.MGondi</key>
      <integer>-32</integer>
      <key>Nna.MGondi</key>
      <integer>-34</integer>
      <key>Sa.MGondi</key>
      <integer>-20</integer>
      <key>Tra.MGondi</key>
      <integer>-30</integer>
      <key>Ttha.MGondi</key>
      <integer>-80</integer>
      <key>Va.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>-12</integer>
      <key>public.kern2.Jha.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-52</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>-34</integer>
    </dict>
    <key>Pa.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>20</integer>
    </dict>
    <key>Pha.MGondi</key>
    <dict>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>Rakara.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>180</integer>
      <key>Repha.alt.MGondi</key>
      <integer>180</integer>
    </dict>
    <key>Repha.MGondi</key>
    <dict>
      <key>Visarga.MGondi</key>
      <integer>180</integer>
    </dict>
    <key>Sa.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>SaHalf.MGondi</key>
    <dict>
      <key>Ga.MGondi</key>
      <integer>15</integer>
      <key>Tha.MGondi</key>
      <integer>-10</integer>
    </dict>
    <key>Sha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Chandra.MGondi</key>
      <integer>70</integer>
      <key>Halanta.MGondi</key>
      <integer>-60</integer>
      <key>Ma.MGondi</key>
      <integer>-20</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>100</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>-60</integer>
      <key>Rakara.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>70</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>50</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>ShaHalf.MGondi</key>
    <dict>
      <key>Tha.MGondi</key>
      <integer>10</integer>
    </dict>
    <key>Tha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-180</integer>
      <key>Anusvara.alt.MGondi</key>
      <integer>40</integer>
      <key>Chandra.MGondi</key>
      <integer>100</integer>
      <key>Halanta.MGondi</key>
      <integer>60</integer>
      <key>Ma.MGondi</key>
      <integer>-20</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>150</integer>
      <key>MatraAi.MGondi</key>
      <integer>60</integer>
      <key>MatraU.MGondi</key>
      <integer>100</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>50</integer>
      <key>Rakara.MGondi</key>
      <integer>80</integer>
      <key>Repha.MGondi</key>
      <integer>60</integer>
      <key>Repha.alt.MGondi</key>
      <integer>60</integer>
      <key>Visarga.MGondi</key>
      <integer>50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaAnusvara.MGondi</key>
      <integer>90</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>100</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>80</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>120</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>40</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>ThaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-20</integer>
      <key>Ha.MGondi</key>
      <integer>-30</integer>
      <key>Jha.MGondi</key>
      <integer>-20</integer>
      <key>Jnya.MGondi</key>
      <integer>-15</integer>
      <key>Kha.MGondi</key>
      <integer>-10</integer>
      <key>Lla.MGondi</key>
      <integer>-12</integer>
      <key>Nga.MGondi</key>
      <integer>-20</integer>
      <key>Sa.MGondi</key>
      <integer>-20</integer>
      <key>Tra.MGondi</key>
      <integer>-15</integer>
      <key>public.kern2.Jha.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>Tta.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Chandra.MGondi</key>
      <integer>-40</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>30</integer>
      <key>Rakara.MGondi</key>
      <integer>30</integer>
      <key>Visarga.MGondi</key>
      <integer>-70</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>TtaHalf.MGondi</key>
    <dict>
      <key>Da.MGondi</key>
      <integer>10</integer>
      <key>Kssa.MGondi</key>
      <integer>-32</integer>
      <key>Ma.MGondi</key>
      <integer>-30</integer>
      <key>Nga.MGondi</key>
      <integer>-20</integer>
      <key>Sa.MGondi</key>
      <integer>10</integer>
      <key>Sha.MGondi</key>
      <integer>-42</integer>
      <key>Tha.MGondi</key>
      <integer>-12</integer>
      <key>Tra.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>Ttha.MGondi</key>
    <dict>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>TthaHalf.MGondi</key>
    <dict>
      <key>Ma.MGondi</key>
      <integer>-15</integer>
    </dict>
    <key>Va.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-220</integer>
      <key>Chandra.MGondi</key>
      <integer>-40</integer>
      <key>Halanta.MGondi</key>
      <integer>-40</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraO.MGondi</key>
      <integer>60</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>VaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-32</integer>
      <key>Sha.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
    </dict>
    <key>Visarga.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>180</integer>
    </dict>
    <key>Visarga.alt.MGondi</key>
    <dict>
      <key>Repha.MGondi</key>
      <integer>200</integer>
      <key>Repha.alt.MGondi</key>
      <integer>190</integer>
    </dict>
    <key>VowelAa.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-220</integer>
      <key>Chandra.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>VowelAi.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-60</integer>
    </dict>
    <key>VowelAu.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>VowelI.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>VowelO.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-60</integer>
    </dict>
    <key>VowelUu.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.BaHalf.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>-32</integer>
      <key>Cha.MGondi</key>
      <integer>-30</integer>
      <key>Da.MGondi</key>
      <integer>-32</integer>
      <key>Kha.MGondi</key>
      <integer>-20</integer>
      <key>Kssa.MGondi</key>
      <integer>-20</integer>
      <key>Ma.MGondi</key>
      <integer>-82</integer>
      <key>Nga.MGondi</key>
      <integer>-40</integer>
      <key>Sha.MGondi</key>
      <integer>-52</integer>
      <key>Tha.MGondi</key>
      <integer>-32</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>-32</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Cha.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-190</integer>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>20</integer>
      <key>MatraVocalicR.MGondi</key>
      <integer>30</integer>
      <key>Rakara.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAi.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraE.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.DdaHalf.MGondi</key>
    <dict>
      <key>Cha.MGondi</key>
      <integer>-28</integer>
      <key>Ha.MGondi</key>
      <integer>-8</integer>
      <key>Jha.MGondi</key>
      <integer>-24</integer>
      <key>Kha.MGondi</key>
      <integer>-12</integer>
      <key>Kssa.MGondi</key>
      <integer>-38</integer>
      <key>Lla.MGondi</key>
      <integer>-12</integer>
      <key>Ma.MGondi</key>
      <integer>-12</integer>
      <key>Nga.MGondi</key>
      <integer>-24</integer>
      <key>Sa.MGondi</key>
      <integer>-20</integer>
      <key>Sha.MGondi</key>
      <integer>-42</integer>
      <key>Tha.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-28</integer>
      <key>public.kern2.Jha.MGondi</key>
      <integer>-8</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-18</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-24</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.DdhaHalf.MGondi</key>
    <dict>
      <key>Da.MGondi</key>
      <integer>15</integer>
      <key>Ga.MGondi</key>
      <integer>15</integer>
      <key>Kha.MGondi</key>
      <integer>15</integer>
      <key>Kssa.MGondi</key>
      <integer>-20</integer>
      <key>Nga.MGondi</key>
      <integer>-32</integer>
      <key>Sa.MGondi</key>
      <integer>20</integer>
      <key>Tha.MGondi</key>
      <integer>-12</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.Ka.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-210</integer>
      <key>Chandra.MGondi</key>
      <integer>20</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.KaHalf.MGondi</key>
    <dict>
      <key>Ca.MGondi</key>
      <integer>-15</integer>
      <key>Cha.MGondi</key>
      <integer>-24</integer>
      <key>Da.MGondi</key>
      <integer>-10</integer>
      <key>Jha.MGondi</key>
      <integer>-20</integer>
      <key>Kha.MGondi</key>
      <integer>-20</integer>
      <key>Kssa.MGondi</key>
      <integer>-20</integer>
      <key>Nga.MGondi</key>
      <integer>-28</integer>
      <key>Sha.MGondi</key>
      <integer>-12</integer>
      <key>Tha.MGondi</key>
      <integer>-20</integer>
      <key>Va.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-12</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>-10</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.KhaHalf.MGondi</key>
    <dict>
      <key>Da.MGondi</key>
      <integer>15</integer>
      <key>Ga.MGondi</key>
      <integer>20</integer>
      <key>Nya.MGondi</key>
      <integer>20</integer>
      <key>Sa.MGondi</key>
      <integer>10</integer>
      <key>Tha.MGondi</key>
      <integer>10</integer>
      <key>Ttha.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Da.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.La.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Ca.MGondi</key>
      <integer>-30</integer>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>Rakara.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAaRepha.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraAu.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>10</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.MatraIAnusvara.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>50</integer>
      <key>Ma.MGondi</key>
      <integer>30</integer>
      <key>Nga.MGondi</key>
      <integer>-30</integer>
      <key>Repha.MGondi</key>
      <integer>220</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>30</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.MatraOAnusvara.MGondi</key>
    <dict>
      <key>Bha.MGondi</key>
      <integer>50</integer>
      <key>Cha.MGondi</key>
      <integer>30</integer>
      <key>Kssa.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>50</integer>
      <key>Nga.MGondi</key>
      <integer>-30</integer>
      <key>Nna.MGondi</key>
      <integer>-30</integer>
      <key>Repha.MGondi</key>
      <integer>250</integer>
      <key>Sha.MGondi</key>
      <integer>40</integer>
      <key>Tha.MGondi</key>
      <integer>30</integer>
      <key>Ttha.MGondi</key>
      <integer>-30</integer>
      <key>Va.MGondi</key>
      <integer>-20</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.Nga.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.Nya.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.Tta.MGondi</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Pa.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Ca.MGondi</key>
      <integer>-30</integer>
      <key>Chandra.MGondi</key>
      <integer>40</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>70</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.Ta.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-200</integer>
      <key>Ca.MGondi</key>
      <integer>-40</integer>
      <key>Chandra.MGondi</key>
      <integer>30</integer>
      <key>Ma.MGondi</key>
      <integer>-50</integer>
      <key>MatraAaChandra.MGondi</key>
      <integer>50</integer>
      <key>public.kern2.Ca.MGondi</key>
      <integer>-30</integer>
      <key>public.kern2.MatraI.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraIi.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.MatraU.MGondi</key>
      <integer>20</integer>
      <key>public.kern2.MatraUu.MGondi</key>
      <integer>15</integer>
      <key>public.kern2.period.MGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.VowelA.MGondi</key>
    <dict>
      <key>Anusvara.MGondi</key>
      <integer>-220</integer>
      <key>Chandra.MGondi</key>
      <integer>-40</integer>
      <key>public.kern2.Ka.MGondi</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteleft.MGondi</key>
    <dict>
      <key>Sha.MGondi</key>
      <integer>40</integer>
    </dict>
    <key>quoteright.MGondi</key>
    <dict>
      <key>Tha.MGondi</key>
      <integer>40</integer>
    </dict>
  </dict>
</plist>
