<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>90</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>Anusvara.MGondi</string>
      <string>Anusvara.alt.MGondi</string>
      <string>Ba.MGondi</string>
      <string>BaHalf.MGondi</string>
      <string>Bha.MGondi</string>
      <string>BhaHalf.MGondi</string>
      <string>CR</string>
      <string>Ca.MGondi</string>
      <string>CaHalf.MGondi</string>
      <string>Cha.MGondi</string>
      <string>ChaHalf.MGondi</string>
      <string>Chandra.MGondi</string>
      <string>Da.MGondi</string>
      <string>DaHalf.MGondi</string>
      <string>Danda.MGondi</string>
      <string>Dda.MGondi</string>
      <string>DdaHalf.MGondi</string>
      <string>DdaHalfNukta.MGondi</string>
      <string>DdaNukta.MGondi</string>
      <string>Ddha.MGondi</string>
      <string>DdhaHalf.MGondi</string>
      <string>DdhaHalfNukta.MGondi</string>
      <string>DdhaNukta.MGondi</string>
      <string>Dha.MGondi</string>
      <string>DhaHalf.MGondi</string>
      <string>DoubleDanda.MGondi</string>
      <string>Eight.MGondi</string>
      <string>Five.MGondi</string>
      <string>Five.alt.MGondi</string>
      <string>Four.MGondi</string>
      <string>Four.alt.MGondi</string>
      <string>Ga.MGondi</string>
      <string>GaHalf.MGondi</string>
      <string>GaHalfNukta.MGondi</string>
      <string>GaNukta.MGondi</string>
      <string>Gha.MGondi</string>
      <string>GhaHalf.MGondi</string>
      <string>Ha.MGondi</string>
      <string>HaHalf.MGondi</string>
      <string>Halanta.MGondi</string>
      <string>Ja.MGondi</string>
      <string>JaHalf.MGondi</string>
      <string>JaHalfNukta.MGondi</string>
      <string>JaNukta.MGondi</string>
      <string>Jha.MGondi</string>
      <string>JhaHalf.MGondi</string>
      <string>Jnya.MGondi</string>
      <string>JnyaHalf.MGondi</string>
      <string>Ka.MGondi</string>
      <string>KaHalf.MGondi</string>
      <string>KaHalfNukta.MGondi</string>
      <string>KaNukta.MGondi</string>
      <string>Kha.MGondi</string>
      <string>KhaHalf.MGondi</string>
      <string>KhaHalfNukta.MGondi</string>
      <string>KhaNukta.MGondi</string>
      <string>Kssa.MGondi</string>
      <string>KssaHalf.MGondi</string>
      <string>La.MGondi</string>
      <string>LaHalf.MGondi</string>
      <string>Lla.MGondi</string>
      <string>LlaHalf.MGondi</string>
      <string>Ma.MGondi</string>
      <string>MaHalf.MGondi</string>
      <string>MatraAa.MGondi</string>
      <string>MatraAaAnusvara.MGondi</string>
      <string>MatraAaChandra.MGondi</string>
      <string>MatraAaRepha.MGondi</string>
      <string>MatraAaRephaAnusvara.MGondi</string>
      <string>MatraAaVisarga.MGondi</string>
      <string>MatraAi.MGondi</string>
      <string>MatraAiAnusvara.MGondi</string>
      <string>MatraAu.MGondi</string>
      <string>MatraAuAnusvara.MGondi</string>
      <string>MatraAuVisarga.MGondi</string>
      <string>MatraE.MGondi</string>
      <string>MatraEAnusvara.MGondi</string>
      <string>MatraI.MGondi</string>
      <string>MatraIAnusvara.MGondi</string>
      <string>MatraIi.MGondi</string>
      <string>MatraIiAnusvara.MGondi</string>
      <string>MatraO.MGondi</string>
      <string>MatraOAnusvara.MGondi</string>
      <string>MatraOVisarga.MGondi</string>
      <string>MatraU.MGondi</string>
      <string>MatraUAnusvara.MGondi</string>
      <string>MatraUu.MGondi</string>
      <string>MatraUuAnusvara.MGondi</string>
      <string>MatraVocalicL.MGondi</string>
      <string>MatraVocalicLL.MGondi</string>
      <string>MatraVocalicR.MGondi</string>
      <string>MatraVocalicRR.MGondi</string>
      <string>NULL</string>
      <string>Na.MGondi</string>
      <string>NaHalf.MGondi</string>
      <string>Nga.MGondi</string>
      <string>NgaHalf.MGondi</string>
      <string>Nine.MGondi</string>
      <string>Nna.MGondi</string>
      <string>NnaHalf.MGondi</string>
      <string>Nukta.MGondi</string>
      <string>Nya.MGondi</string>
      <string>NyaHalf.MGondi</string>
      <string>One.MGondi</string>
      <string>One.alt.MGondi</string>
      <string>Pa.MGondi</string>
      <string>PaHalf.MGondi</string>
      <string>Pha.MGondi</string>
      <string>PhaHalf.MGondi</string>
      <string>PhaHalfNukta.MGondi</string>
      <string>PhaNukta.MGondi</string>
      <string>Ra.MGondi</string>
      <string>RaHalf.MGondi</string>
      <string>Rakara.MGondi</string>
      <string>Repha.MGondi</string>
      <string>Repha.alt.MGondi</string>
      <string>Sa.MGondi</string>
      <string>SaHalf.MGondi</string>
      <string>Seven.MGondi</string>
      <string>Sha.MGondi</string>
      <string>ShaHalf.MGondi</string>
      <string>Six.MGondi</string>
      <string>Six.alt.MGondi</string>
      <string>Ssa.MGondi</string>
      <string>SsaHalf.MGondi</string>
      <string>Ta.MGondi</string>
      <string>TaHalf.MGondi</string>
      <string>Tha.MGondi</string>
      <string>ThaHalf.MGondi</string>
      <string>Three.MGondi</string>
      <string>Tra.MGondi</string>
      <string>TraHalf.MGondi</string>
      <string>Tta.MGondi</string>
      <string>TtaHalf.MGondi</string>
      <string>Ttha.MGondi</string>
      <string>TthaHalf.MGondi</string>
      <string>Two.MGondi</string>
      <string>Va.MGondi</string>
      <string>VaHalf.MGondi</string>
      <string>Virama.MGondi</string>
      <string>Visarga.MGondi</string>
      <string>Visarga.alt.MGondi</string>
      <string>VowelA.MGondi</string>
      <string>VowelAa.MGondi</string>
      <string>VowelAi.MGondi</string>
      <string>VowelAu.MGondi</string>
      <string>VowelE.MGondi</string>
      <string>VowelI.MGondi</string>
      <string>VowelIi.MGondi</string>
      <string>VowelO.MGondi</string>
      <string>VowelU.MGondi</string>
      <string>VowelUu.MGondi</string>
      <string>Ya.MGondi</string>
      <string>YaHalf.MGondi</string>
      <string>YaHalfNukta.MGondi</string>
      <string>YaNukta.MGondi</string>
      <string>Zero.MGondi</string>
      <string>asterisk.MGondi</string>
      <string>colon.MGondi</string>
      <string>comma.MGondi</string>
      <string>divide.MGondi</string>
      <string>dottedCircle</string>
      <string>ellipsis.MGondi</string>
      <string>equal.MGondi</string>
      <string>exclam.MGondi</string>
      <string>greater.MGondi</string>
      <string>hyphen.MGondi</string>
      <string>less.MGondi</string>
      <string>minus.MGondi</string>
      <string>multiply.MGondi</string>
      <string>parenleft.MGondi</string>
      <string>parenright.MGondi</string>
      <string>percent.MGondi</string>
      <string>period.MGondi</string>
      <string>plus.MGondi</string>
      <string>question.MGondi</string>
      <string>quotedbl.MGondi</string>
      <string>quotedblleft.MGondi</string>
      <string>quotedblright.MGondi</string>
      <string>quoteleft.MGondi</string>
      <string>quoteright.MGondi</string>
      <string>quotesingle.MGondi</string>
      <string>semicolon.MGondi</string>
      <string>slash.MGondi</string>
      <string>space</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>dottedCircle</key>
      <string>uni25CC</string>
    </dict>
  </dict>
</plist>
