<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>dot1</key>
    <string>dot1.glif</string>
    <key>horiz.1</key>
    <string>horiz.1.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u1BC00</key>
    <string>u1B_C_00.glif</string>
    <key>u1BC01</key>
    <string>u1B_C_01.glif</string>
    <key>u1BC02</key>
    <string>u1B_C_02.glif</string>
    <key>u1BC03</key>
    <string>u1B_C_03.glif</string>
    <key>u1BC04</key>
    <string>u1B_C_04.glif</string>
    <key>u1BC05</key>
    <string>u1B_C_05.glif</string>
    <key>u1BC06</key>
    <string>u1B_C_06.glif</string>
    <key>u1BC07</key>
    <string>u1B_C_07.glif</string>
    <key>u1BC08</key>
    <string>u1B_C_08.glif</string>
    <key>u1BC09</key>
    <string>u1B_C_09.glif</string>
    <key>u1BC0A</key>
    <string>u1B_C_0A_.glif</string>
    <key>u1BC0B</key>
    <string>u1B_C_0B_.glif</string>
    <key>u1BC0C</key>
    <string>u1B_C_0C_.glif</string>
    <key>u1BC0D</key>
    <string>u1B_C_0D_.glif</string>
    <key>u1BC0E</key>
    <string>u1B_C_0E_.glif</string>
    <key>u1BC0F</key>
    <string>u1B_C_0F_.glif</string>
    <key>u1BC10</key>
    <string>u1B_C_10.glif</string>
    <key>u1BC11</key>
    <string>u1B_C_11.glif</string>
    <key>u1BC12</key>
    <string>u1B_C_12.glif</string>
    <key>u1BC13</key>
    <string>u1B_C_13.glif</string>
    <key>u1BC14</key>
    <string>u1B_C_14.glif</string>
    <key>u1BC15</key>
    <string>u1B_C_15.glif</string>
    <key>u1BC16</key>
    <string>u1B_C_16.glif</string>
    <key>u1BC17</key>
    <string>u1B_C_17.glif</string>
    <key>u1BC18</key>
    <string>u1B_C_18.glif</string>
    <key>u1BC19</key>
    <string>u1B_C_19.glif</string>
    <key>u1BC1A</key>
    <string>u1B_C_1A_.glif</string>
    <key>u1BC1B</key>
    <string>u1B_C_1B_.glif</string>
    <key>u1BC1C</key>
    <string>u1B_C_1C_.glif</string>
    <key>u1BC1D</key>
    <string>u1B_C_1D_.glif</string>
    <key>u1BC1E</key>
    <string>u1B_C_1E_.glif</string>
    <key>u1BC1F</key>
    <string>u1B_C_1F_.glif</string>
    <key>u1BC20</key>
    <string>u1B_C_20.glif</string>
    <key>u1BC21</key>
    <string>u1B_C_21.glif</string>
    <key>u1BC22</key>
    <string>u1B_C_22.glif</string>
    <key>u1BC23</key>
    <string>u1B_C_23.glif</string>
    <key>u1BC24</key>
    <string>u1B_C_24.glif</string>
    <key>u1BC25</key>
    <string>u1B_C_25.glif</string>
    <key>u1BC26</key>
    <string>u1B_C_26.glif</string>
    <key>u1BC27</key>
    <string>u1B_C_27.glif</string>
    <key>u1BC28</key>
    <string>u1B_C_28.glif</string>
    <key>u1BC29</key>
    <string>u1B_C_29.glif</string>
    <key>u1BC2A</key>
    <string>u1B_C_2A_.glif</string>
    <key>u1BC2B</key>
    <string>u1B_C_2B_.glif</string>
    <key>u1BC2C</key>
    <string>u1B_C_2C_.glif</string>
    <key>u1BC2D</key>
    <string>u1B_C_2D_.glif</string>
    <key>u1BC2E</key>
    <string>u1B_C_2E_.glif</string>
    <key>u1BC2F</key>
    <string>u1B_C_2F_.glif</string>
    <key>u1BC30</key>
    <string>u1B_C_30.glif</string>
    <key>u1BC31</key>
    <string>u1B_C_31.glif</string>
    <key>u1BC32</key>
    <string>u1B_C_32.glif</string>
    <key>u1BC33</key>
    <string>u1B_C_33.glif</string>
    <key>u1BC34</key>
    <string>u1B_C_34.glif</string>
    <key>u1BC35</key>
    <string>u1B_C_35.glif</string>
    <key>u1BC36</key>
    <string>u1B_C_36.glif</string>
    <key>u1BC37</key>
    <string>u1B_C_37.glif</string>
    <key>u1BC38</key>
    <string>u1B_C_38.glif</string>
    <key>u1BC39</key>
    <string>u1B_C_39.glif</string>
    <key>u1BC3A</key>
    <string>u1B_C_3A_.glif</string>
    <key>u1BC3B</key>
    <string>u1B_C_3B_.glif</string>
    <key>u1BC3C</key>
    <string>u1B_C_3C_.glif</string>
    <key>u1BC3D</key>
    <string>u1B_C_3D_.glif</string>
    <key>u1BC3E</key>
    <string>u1B_C_3E_.glif</string>
    <key>u1BC3F</key>
    <string>u1B_C_3F_.glif</string>
    <key>u1BC40</key>
    <string>u1B_C_40.glif</string>
    <key>u1BC41</key>
    <string>u1B_C_41.glif</string>
    <key>u1BC42</key>
    <string>u1B_C_42.glif</string>
    <key>u1BC43</key>
    <string>u1B_C_43.glif</string>
    <key>u1BC44</key>
    <string>u1B_C_44.glif</string>
    <key>u1BC45</key>
    <string>u1B_C_45.glif</string>
    <key>u1BC46</key>
    <string>u1B_C_46.glif</string>
    <key>u1BC47</key>
    <string>u1B_C_47.glif</string>
    <key>u1BC48</key>
    <string>u1B_C_48.glif</string>
    <key>u1BC49</key>
    <string>u1B_C_49.glif</string>
    <key>u1BC4A</key>
    <string>u1B_C_4A_.glif</string>
    <key>u1BC4B</key>
    <string>u1B_C_4B_.glif</string>
    <key>u1BC4C</key>
    <string>u1B_C_4C_.glif</string>
    <key>u1BC4D</key>
    <string>u1B_C_4D_.glif</string>
    <key>u1BC4E</key>
    <string>u1B_C_4E_.glif</string>
    <key>u1BC4F</key>
    <string>u1B_C_4F_.glif</string>
    <key>u1BC50</key>
    <string>u1B_C_50.glif</string>
    <key>u1BC51</key>
    <string>u1B_C_51.glif</string>
    <key>u1BC52</key>
    <string>u1B_C_52.glif</string>
    <key>u1BC53</key>
    <string>u1B_C_53.glif</string>
    <key>u1BC54</key>
    <string>u1B_C_54.glif</string>
    <key>u1BC55</key>
    <string>u1B_C_55.glif</string>
    <key>u1BC56</key>
    <string>u1B_C_56.glif</string>
    <key>u1BC57</key>
    <string>u1B_C_57.glif</string>
    <key>u1BC58</key>
    <string>u1B_C_58.glif</string>
    <key>u1BC59</key>
    <string>u1B_C_59.glif</string>
    <key>u1BC5A</key>
    <string>u1B_C_5A_.glif</string>
    <key>u1BC5B</key>
    <string>u1B_C_5B_.glif</string>
    <key>u1BC5C</key>
    <string>u1B_C_5C_.glif</string>
    <key>u1BC5D</key>
    <string>u1B_C_5D_.glif</string>
    <key>u1BC5E</key>
    <string>u1B_C_5E_.glif</string>
    <key>u1BC5F</key>
    <string>u1B_C_5F_.glif</string>
    <key>u1BC60</key>
    <string>u1B_C_60.glif</string>
    <key>u1BC61</key>
    <string>u1B_C_61.glif</string>
    <key>u1BC62</key>
    <string>u1B_C_62.glif</string>
    <key>u1BC63</key>
    <string>u1B_C_63.glif</string>
    <key>u1BC64</key>
    <string>u1B_C_64.glif</string>
    <key>u1BC65</key>
    <string>u1B_C_65.glif</string>
    <key>u1BC66</key>
    <string>u1B_C_66.glif</string>
    <key>u1BC67</key>
    <string>u1B_C_67.glif</string>
    <key>u1BC68</key>
    <string>u1B_C_68.glif</string>
    <key>u1BC69</key>
    <string>u1B_C_69.glif</string>
    <key>u1BC6A</key>
    <string>u1B_C_6A_.glif</string>
    <key>u1BC70</key>
    <string>u1B_C_70.glif</string>
    <key>u1BC71</key>
    <string>u1B_C_71.glif</string>
    <key>u1BC72</key>
    <string>u1B_C_72.glif</string>
    <key>u1BC73</key>
    <string>u1B_C_73.glif</string>
    <key>u1BC74</key>
    <string>u1B_C_74.glif</string>
    <key>u1BC75</key>
    <string>u1B_C_75.glif</string>
    <key>u1BC76</key>
    <string>u1B_C_76.glif</string>
    <key>u1BC77</key>
    <string>u1B_C_77.glif</string>
    <key>u1BC78</key>
    <string>u1B_C_78.glif</string>
    <key>u1BC79</key>
    <string>u1B_C_79.glif</string>
    <key>u1BC7A</key>
    <string>u1B_C_7A_.glif</string>
    <key>u1BC7B</key>
    <string>u1B_C_7B_.glif</string>
    <key>u1BC7C</key>
    <string>u1B_C_7C_.glif</string>
    <key>u1BC80</key>
    <string>u1B_C_80.glif</string>
    <key>u1BC81</key>
    <string>u1B_C_81.glif</string>
    <key>u1BC82</key>
    <string>u1B_C_82.glif</string>
    <key>u1BC83</key>
    <string>u1B_C_83.glif</string>
    <key>u1BC84</key>
    <string>u1B_C_84.glif</string>
    <key>u1BC85</key>
    <string>u1B_C_85.glif</string>
    <key>u1BC86</key>
    <string>u1B_C_86.glif</string>
    <key>u1BC87</key>
    <string>u1B_C_87.glif</string>
    <key>u1BC88</key>
    <string>u1B_C_88.glif</string>
    <key>u1BC90</key>
    <string>u1B_C_90.glif</string>
    <key>u1BC91</key>
    <string>u1B_C_91.glif</string>
    <key>u1BC92</key>
    <string>u1B_C_92.glif</string>
    <key>u1BC93</key>
    <string>u1B_C_93.glif</string>
    <key>u1BC94</key>
    <string>u1B_C_94.glif</string>
    <key>u1BC95</key>
    <string>u1B_C_95.glif</string>
    <key>u1BC96</key>
    <string>u1B_C_96.glif</string>
    <key>u1BC97</key>
    <string>u1B_C_97.glif</string>
    <key>u1BC98</key>
    <string>u1B_C_98.glif</string>
    <key>u1BC99</key>
    <string>u1B_C_99.glif</string>
    <key>u1BC9C</key>
    <string>u1B_C_9C_.glif</string>
    <key>u1BC9D</key>
    <string>u1B_C_9D_.glif</string>
    <key>u1BC9E</key>
    <string>u1B_C_9E_.glif</string>
    <key>u1BC9F</key>
    <string>u1B_C_9F_.glif</string>
    <key>u1BCA0</key>
    <string>u1B_C_A_0.glif</string>
    <key>u1BCA1</key>
    <string>u1B_C_A_1.glif</string>
    <key>u1BCA2</key>
    <string>u1B_C_A_2.glif</string>
    <key>u1BCA3</key>
    <string>u1B_C_A_3.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vertical</key>
    <string>vertical.glif</string>
  </dict>
</plist>
