<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.four-thai</key>
    <array>
      <string>four-thai</string>
      <string>five-thai</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.four-thai</key>
    <array>
      <string>four-thai</string>
      <string>five-thai</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.saraAa-thai</key>
    <array>
      <string>woWaen-thai</string>
      <string>saraAa-thai</string>
    </array>
    <key>public.kern2.three-thai</key>
    <array>
      <string>three-thai</string>
      <string>seven-thai</string>
    </array>
    <key>public.kern2.zero-thai</key>
    <array>
      <string>zero-thai</string>
      <string>one-thai</string>
    </array>
  </dict>
</plist>
