<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1163</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>musicalnote</string>
      <string>musicalnotedbl</string>
      <string>null_notehead</string>
      <string>nullmark</string>
      <string>space</string>
      <string>u1D000</string>
      <string>u1D001</string>
      <string>u1D002</string>
      <string>u1D003</string>
      <string>u1D004</string>
      <string>u1D005</string>
      <string>u1D006</string>
      <string>u1D007</string>
      <string>u1D008</string>
      <string>u1D009</string>
      <string>u1D00A</string>
      <string>u1D00B</string>
      <string>u1D00C</string>
      <string>u1D00D</string>
      <string>u1D00E</string>
      <string>u1D00F</string>
      <string>u1D010</string>
      <string>u1D011</string>
      <string>u1D012</string>
      <string>u1D013</string>
      <string>u1D014</string>
      <string>u1D015</string>
      <string>u1D016</string>
      <string>u1D017</string>
      <string>u1D018</string>
      <string>u1D019</string>
      <string>u1D01A</string>
      <string>u1D01B</string>
      <string>u1D01C</string>
      <string>u1D01D</string>
      <string>u1D01E</string>
      <string>u1D01F</string>
      <string>u1D020</string>
      <string>u1D021</string>
      <string>u1D022</string>
      <string>u1D023</string>
      <string>u1D024</string>
      <string>u1D025</string>
      <string>u1D026</string>
      <string>u1D027</string>
      <string>u1D028</string>
      <string>u1D029</string>
      <string>u1D02A</string>
      <string>u1D02B</string>
      <string>u1D02C</string>
      <string>u1D02D</string>
      <string>u1D02E</string>
      <string>u1D02F</string>
      <string>u1D030</string>
      <string>u1D031</string>
      <string>u1D032</string>
      <string>u1D033</string>
      <string>u1D034</string>
      <string>u1D035</string>
      <string>u1D036</string>
      <string>u1D037</string>
      <string>u1D038</string>
      <string>u1D039</string>
      <string>u1D03A</string>
      <string>u1D03B</string>
      <string>u1D03C</string>
      <string>u1D03D</string>
      <string>u1D03E</string>
      <string>u1D03F</string>
      <string>u1D040</string>
      <string>u1D041</string>
      <string>u1D042</string>
      <string>u1D043</string>
      <string>u1D044</string>
      <string>u1D045</string>
      <string>u1D046</string>
      <string>u1D047</string>
      <string>u1D048</string>
      <string>u1D049</string>
      <string>u1D04A</string>
      <string>u1D04B</string>
      <string>u1D04C</string>
      <string>u1D04D</string>
      <string>u1D04E</string>
      <string>u1D04F</string>
      <string>u1D050</string>
      <string>u1D051</string>
      <string>u1D052</string>
      <string>u1D053</string>
      <string>u1D054</string>
      <string>u1D055</string>
      <string>u1D056</string>
      <string>u1D057</string>
      <string>u1D058</string>
      <string>u1D059</string>
      <string>u1D05A</string>
      <string>u1D05B</string>
      <string>u1D05C</string>
      <string>u1D05D</string>
      <string>u1D05E</string>
      <string>u1D05F</string>
      <string>u1D060</string>
      <string>u1D061</string>
      <string>u1D062</string>
      <string>u1D063</string>
      <string>u1D064</string>
      <string>u1D065</string>
      <string>u1D066</string>
      <string>u1D067</string>
      <string>u1D068</string>
      <string>u1D069</string>
      <string>u1D06A</string>
      <string>u1D06B</string>
      <string>u1D06C</string>
      <string>u1D06D</string>
      <string>u1D06E</string>
      <string>u1D06F</string>
      <string>u1D070</string>
      <string>u1D071</string>
      <string>u1D072</string>
      <string>u1D073</string>
      <string>u1D074</string>
      <string>u1D075</string>
      <string>u1D076</string>
      <string>u1D077</string>
      <string>u1D078</string>
      <string>u1D079</string>
      <string>u1D07A</string>
      <string>u1D07B</string>
      <string>u1D07C</string>
      <string>u1D07D</string>
      <string>u1D07E</string>
      <string>u1D07F</string>
      <string>u1D080</string>
      <string>u1D081</string>
      <string>u1D082</string>
      <string>u1D083</string>
      <string>u1D084</string>
      <string>u1D085</string>
      <string>u1D086</string>
      <string>u1D087</string>
      <string>u1D088</string>
      <string>u1D089</string>
      <string>u1D08A</string>
      <string>u1D08B</string>
      <string>u1D08C</string>
      <string>u1D08D</string>
      <string>u1D08E</string>
      <string>u1D08F</string>
      <string>u1D090</string>
      <string>u1D091</string>
      <string>u1D092</string>
      <string>u1D093</string>
      <string>u1D094</string>
      <string>u1D095</string>
      <string>u1D096</string>
      <string>u1D097</string>
      <string>u1D098</string>
      <string>u1D099</string>
      <string>u1D09A</string>
      <string>u1D09B</string>
      <string>u1D09C</string>
      <string>u1D09D</string>
      <string>u1D09E</string>
      <string>u1D09F</string>
      <string>u1D0A0</string>
      <string>u1D0A1</string>
      <string>u1D0A2</string>
      <string>u1D0A3</string>
      <string>u1D0A4</string>
      <string>u1D0A5</string>
      <string>u1D0A6</string>
      <string>u1D0A7</string>
      <string>u1D0A8</string>
      <string>u1D0A9</string>
      <string>u1D0AA</string>
      <string>u1D0AB</string>
      <string>u1D0AC</string>
      <string>u1D0AD</string>
      <string>u1D0AE</string>
      <string>u1D0AF</string>
      <string>u1D0B0</string>
      <string>u1D0B1</string>
      <string>u1D0B2</string>
      <string>u1D0B3</string>
      <string>u1D0B4</string>
      <string>u1D0B5</string>
      <string>u1D0B6</string>
      <string>u1D0B7</string>
      <string>u1D0B8</string>
      <string>u1D0B9</string>
      <string>u1D0BA</string>
      <string>u1D0BB</string>
      <string>u1D0BC</string>
      <string>u1D0BD</string>
      <string>u1D0BE</string>
      <string>u1D0BF</string>
      <string>u1D0C0</string>
      <string>u1D0C1</string>
      <string>u1D0C2</string>
      <string>u1D0C3</string>
      <string>u1D0C4</string>
      <string>u1D0C5</string>
      <string>u1D0C6</string>
      <string>u1D0C7</string>
      <string>u1D0C8</string>
      <string>u1D0C9</string>
      <string>u1D0CA</string>
      <string>u1D0CB</string>
      <string>u1D0CC</string>
      <string>u1D0CD</string>
      <string>u1D0CE</string>
      <string>u1D0CF</string>
      <string>u1D0D0</string>
      <string>u1D0D1</string>
      <string>u1D0D2</string>
      <string>u1D0D3</string>
      <string>u1D0D4</string>
      <string>u1D0D5</string>
      <string>u1D0D6</string>
      <string>u1D0D7</string>
      <string>u1D0D8</string>
      <string>u1D0D9</string>
      <string>u1D0DA</string>
      <string>u1D0DB</string>
      <string>u1D0DC</string>
      <string>u1D0DD</string>
      <string>u1D0DE</string>
      <string>u1D0DF</string>
      <string>u1D0E0</string>
      <string>u1D0E1</string>
      <string>u1D0E2</string>
      <string>u1D0E3</string>
      <string>u1D0E4</string>
      <string>u1D0E5</string>
      <string>u1D0E6</string>
      <string>u1D0E7</string>
      <string>u1D0E8</string>
      <string>u1D0E9</string>
      <string>u1D0EA</string>
      <string>u1D0EB</string>
      <string>u1D0EC</string>
      <string>u1D0ED</string>
      <string>u1D0EE</string>
      <string>u1D0EF</string>
      <string>u1D0F0</string>
      <string>u1D0F1</string>
      <string>u1D0F2</string>
      <string>u1D0F3</string>
      <string>u1D0F4</string>
      <string>u1D0F5</string>
      <string>u1D100</string>
      <string>u1D101</string>
      <string>u1D102</string>
      <string>u1D103</string>
      <string>u1D104</string>
      <string>u1D105</string>
      <string>u1D106</string>
      <string>u1D107</string>
      <string>u1D108</string>
      <string>u1D109</string>
      <string>u1D10A</string>
      <string>u1D10B</string>
      <string>u1D10C</string>
      <string>u1D10D</string>
      <string>u1D10E</string>
      <string>u1D10F</string>
      <string>u1D110</string>
      <string>u1D111</string>
      <string>u1D112</string>
      <string>u1D113</string>
      <string>u1D114</string>
      <string>u1D115</string>
      <string>u1D116</string>
      <string>u1D117</string>
      <string>u1D118</string>
      <string>u1D119</string>
      <string>u1D11A</string>
      <string>u1D11B</string>
      <string>u1D11C</string>
      <string>u1D11D</string>
      <string>u1D11E</string>
      <string>u1D11F</string>
      <string>u1D120</string>
      <string>u1D121</string>
      <string>u1D122</string>
      <string>u1D123</string>
      <string>u1D124</string>
      <string>u1D125</string>
      <string>u1D126</string>
      <string>u1D129</string>
      <string>u1D12A</string>
      <string>u1D12B</string>
      <string>u1D12C</string>
      <string>u1D12D</string>
      <string>u1D12E</string>
      <string>u1D12F</string>
      <string>u1D130</string>
      <string>u1D131</string>
      <string>u1D132</string>
      <string>u1D133</string>
      <string>u1D134</string>
      <string>u1D135</string>
      <string>u1D136</string>
      <string>u1D137</string>
      <string>u1D138</string>
      <string>u1D139</string>
      <string>u1D13A</string>
      <string>u1D13B</string>
      <string>u1D13C</string>
      <string>u1D13D</string>
      <string>u1D13E</string>
      <string>u1D13F</string>
      <string>u1D140</string>
      <string>u1D141</string>
      <string>u1D142</string>
      <string>u1D143</string>
      <string>u1D144</string>
      <string>u1D145</string>
      <string>u1D146</string>
      <string>u1D147</string>
      <string>u1D148</string>
      <string>u1D149</string>
      <string>u1D14A</string>
      <string>u1D14B</string>
      <string>u1D14C</string>
      <string>u1D14D</string>
      <string>u1D14E</string>
      <string>u1D14F</string>
      <string>u1D150</string>
      <string>u1D151</string>
      <string>u1D152</string>
      <string>u1D153</string>
      <string>u1D154</string>
      <string>u1D155</string>
      <string>u1D156</string>
      <string>u1D157</string>
      <string>u1D158</string>
      <string>u1D15A</string>
      <string>u1D15B</string>
      <string>u1D15C</string>
      <string>u1D15D</string>
      <string>u1D15E</string>
      <string>u1D15F</string>
      <string>u1D160</string>
      <string>u1D161</string>
      <string>u1D162</string>
      <string>u1D163</string>
      <string>u1D164</string>
      <string>u1D165</string>
      <string>u1D165_b</string>
      <string>u1D165_ext</string>
      <string>u1D165_ext2</string>
      <string>u1D165_short</string>
      <string>u1D165_short.alt</string>
      <string>u1D165_short2</string>
      <string>u1D166</string>
      <string>u1D166_b</string>
      <string>u1D166_ext</string>
      <string>u1D166_ext2</string>
      <string>u1D166_short</string>
      <string>u1D166_short.alt</string>
      <string>u1D166_short2</string>
      <string>u1D167</string>
      <string>u1D167_low</string>
      <string>u1D168</string>
      <string>u1D168_low</string>
      <string>u1D169</string>
      <string>u1D169_low</string>
      <string>u1D16A</string>
      <string>u1D16B</string>
      <string>u1D16C</string>
      <string>u1D16D</string>
      <string>u1D16E</string>
      <string>u1D16F</string>
      <string>u1D170</string>
      <string>u1D171</string>
      <string>u1D172</string>
      <string>u1D173</string>
      <string>u1D174</string>
      <string>u1D175</string>
      <string>u1D176</string>
      <string>u1D177</string>
      <string>u1D178</string>
      <string>u1D179</string>
      <string>u1D17A</string>
      <string>u1D17B</string>
      <string>u1D17C</string>
      <string>u1D17D</string>
      <string>u1D17E</string>
      <string>u1D17F</string>
      <string>u1D180</string>
      <string>u1D181</string>
      <string>u1D182</string>
      <string>u1D183</string>
      <string>u1D184</string>
      <string>u1D185</string>
      <string>u1D186</string>
      <string>u1D187</string>
      <string>u1D188</string>
      <string>u1D189</string>
      <string>u1D18A</string>
      <string>u1D18B</string>
      <string>u1D18C</string>
      <string>u1D18D</string>
      <string>u1D18E</string>
      <string>u1D18F</string>
      <string>u1D190</string>
      <string>u1D191</string>
      <string>u1D192</string>
      <string>u1D193</string>
      <string>u1D194</string>
      <string>u1D195</string>
      <string>u1D196</string>
      <string>u1D197</string>
      <string>u1D198</string>
      <string>u1D199</string>
      <string>u1D19A</string>
      <string>u1D19B</string>
      <string>u1D19C</string>
      <string>u1D19D</string>
      <string>u1D19E</string>
      <string>u1D19F</string>
      <string>u1D1A0</string>
      <string>u1D1A1</string>
      <string>u1D1A2</string>
      <string>u1D1A3</string>
      <string>u1D1A4</string>
      <string>u1D1A5</string>
      <string>u1D1A6</string>
      <string>u1D1A7</string>
      <string>u1D1A8</string>
      <string>u1D1A9</string>
      <string>u1D1AA</string>
      <string>u1D1AB</string>
      <string>u1D1AC</string>
      <string>u1D1AD</string>
      <string>u1D1AE</string>
      <string>u1D1AF</string>
      <string>u1D1B0</string>
      <string>u1D1B1</string>
      <string>u1D1B2</string>
      <string>u1D1B3</string>
      <string>u1D1B4</string>
      <string>u1D1B5</string>
      <string>u1D1B6</string>
      <string>u1D1B7</string>
      <string>u1D1B8</string>
      <string>u1D1B9</string>
      <string>u1D1BA</string>
      <string>u1D1BB</string>
      <string>u1D1BC</string>
      <string>u1D1BD</string>
      <string>u1D1BE</string>
      <string>u1D1BF</string>
      <string>u1D1C0</string>
      <string>u1D1C1</string>
      <string>u1D1C2</string>
      <string>u1D1C3</string>
      <string>u1D1C4</string>
      <string>u1D1C5</string>
      <string>u1D1C6</string>
      <string>u1D1C7</string>
      <string>u1D1C8</string>
      <string>u1D1C9</string>
      <string>u1D1CA</string>
      <string>u1D1CB</string>
      <string>u1D1CC</string>
      <string>u1D1CD</string>
      <string>u1D1CE</string>
      <string>u1D1CF</string>
      <string>u1D1D0</string>
      <string>u1D1D1</string>
      <string>u1D1D2</string>
      <string>u1D1D3</string>
      <string>u1D1D4</string>
      <string>u1D1D5</string>
      <string>u1D1D6</string>
      <string>u1D1D7</string>
      <string>u1D1D8</string>
      <string>u1D1D9</string>
      <string>u1D1DA</string>
      <string>u1D1DB</string>
      <string>u1D1DC</string>
      <string>u1D1DD</string>
      <string>u1D1DE</string>
      <string>u1D1DF</string>
      <string>u1D1E0</string>
      <string>u1D1E1</string>
      <string>u1D1E2</string>
      <string>u1D1E3</string>
      <string>u1D1E4</string>
      <string>u1D1E5</string>
      <string>u1D1E6</string>
      <string>u1D1E7</string>
      <string>u1D1E8</string>
      <string>u1D200</string>
      <string>u1D201</string>
      <string>u1D202</string>
      <string>u1D203</string>
      <string>u1D204</string>
      <string>u1D205</string>
      <string>u1D206</string>
      <string>u1D207</string>
      <string>u1D208</string>
      <string>u1D209</string>
      <string>u1D20A</string>
      <string>u1D20B</string>
      <string>u1D20C</string>
      <string>u1D20D</string>
      <string>u1D20E</string>
      <string>u1D20F</string>
      <string>u1D210</string>
      <string>u1D211</string>
      <string>u1D212</string>
      <string>u1D213</string>
      <string>u1D214</string>
      <string>u1D215</string>
      <string>u1D216</string>
      <string>u1D217</string>
      <string>u1D218</string>
      <string>u1D219</string>
      <string>u1D21A</string>
      <string>u1D21B</string>
      <string>u1D21C</string>
      <string>u1D21D</string>
      <string>u1D21E</string>
      <string>u1D21F</string>
      <string>u1D220</string>
      <string>u1D221</string>
      <string>u1D222</string>
      <string>u1D223</string>
      <string>u1D224</string>
      <string>u1D225</string>
      <string>u1D226</string>
      <string>u1D227</string>
      <string>u1D228</string>
      <string>u1D229</string>
      <string>u1D22A</string>
      <string>u1D22B</string>
      <string>u1D22C</string>
      <string>u1D22D</string>
      <string>u1D22E</string>
      <string>u1D22F</string>
      <string>u1D230</string>
      <string>u1D231</string>
      <string>u1D232</string>
      <string>u1D233</string>
      <string>u1D234</string>
      <string>u1D235</string>
      <string>u1D236</string>
      <string>u1D237</string>
      <string>u1D238</string>
      <string>u1D239</string>
      <string>u1D23A</string>
      <string>u1D23B</string>
      <string>u1D23C</string>
      <string>u1D23D</string>
      <string>u1D23E</string>
      <string>u1D23F</string>
      <string>u1D240</string>
      <string>u1D241</string>
      <string>u1D242</string>
      <string>u1D242.alt</string>
      <string>u1D243</string>
      <string>u1D243.alt</string>
      <string>u1D244</string>
      <string>u1D244.alt</string>
      <string>u1D245</string>
      <string>uni00A0</string>
      <string>uni25CC</string>
      <string>uni2669</string>
      <string>uni266C</string>
      <string>uni266D</string>
      <string>uni266E</string>
      <string>uni266F</string>
    </array>
  </dict>
</plist>
