<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.MatraU.GGondi</key>
    <array>
      <string>YaMatraU.GGondi</string>
      <string>VaMatraU.GGondi</string>
      <string>BaMatraU.GGondi</string>
      <string>BhaMatraU.GGondi</string>
      <string>MaMatraU.GGondi</string>
      <string>KaMatraU.GGondi</string>
      <string>KhaMatraU.GGondi</string>
      <string>TaMatraU.GGondi</string>
      <string>ThaMatraU.GGondi</string>
      <string>LaMatraU.GGondi</string>
      <string>GaMatraU.GGondi</string>
      <string>GhaMatraU.GGondi</string>
      <string>DaMatraU.GGondi</string>
      <string>DhaMatraU.GGondi</string>
      <string>NaMatraU.GGondi</string>
      <string>CaMatraU.GGondi</string>
      <string>ChaMatraU.GGondi</string>
      <string>TtaMatraU.GGondi</string>
      <string>TthaMatraU.GGondi</string>
      <string>LlaMatraU.GGondi</string>
      <string>JaMatraU.GGondi</string>
      <string>JhaMatraU.GGondi</string>
      <string>DdaMatraU.GGondi</string>
      <string>DdhaMatraU.GGondi</string>
      <string>NgaMatraU.GGondi</string>
      <string>PaMatraU.GGondi</string>
      <string>PhaMatraU.GGondi</string>
      <string>HaMatraU.GGondi</string>
      <string>RaMatraU.GGondi</string>
      <string>SaMatraU.GGondi</string>
    </array>
    <key>public.kern1.Na.GGondi</key>
    <array>
      <string>Va.GGondi</string>
      <string>Ba.GGondi</string>
      <string>Na.GGondi</string>
      <string>Cha.GGondi</string>
    </array>
    <key>public.kern1.Ya.GGondi</key>
    <array>
      <string>Ma.GGondi</string>
      <string>Ga.GGondi</string>
      <string>Dha.GGondi</string>
      <string>Ca.GGondi</string>
      <string>Lla.GGondi</string>
      <string>Ddha.GGondi</string>
      <string>Nga.GGondi</string>
    </array>
  </dict>
</plist>
