<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eight.GGondi</key>
    <dict>
      <key>Eight.GGondi</key>
      <integer>-40</integer>
      <key>Five.GGondi</key>
      <integer>50</integer>
      <key>One.GGondi</key>
      <integer>-50</integer>
      <key>Seven.GGondi</key>
      <integer>30</integer>
      <key>Two.GGondi</key>
      <integer>-50</integer>
    </dict>
    <key>Four.GGondi</key>
    <dict>
      <key>Seven.GGondi</key>
      <integer>-50</integer>
    </dict>
    <key>MatraU.GGondi</key>
    <dict>
      <key>comma.GGondi</key>
      <integer>-60</integer>
      <key>period.GGondi</key>
      <integer>-70</integer>
    </dict>
    <key>Na.GGondi</key>
    <dict>
      <key>comma.GGondi</key>
      <integer>-30</integer>
    </dict>
    <key>Nine.GGondi</key>
    <dict>
      <key>Four.GGondi</key>
      <integer>30</integer>
      <key>Three.GGondi</key>
      <integer>30</integer>
      <key>Two.GGondi</key>
      <integer>30</integer>
    </dict>
    <key>Two.GGondi</key>
    <dict>
      <key>Eight.GGondi</key>
      <integer>-40</integer>
      <key>Five.GGondi</key>
      <integer>30</integer>
      <key>One.GGondi</key>
      <integer>-40</integer>
      <key>Seven.GGondi</key>
      <integer>30</integer>
      <key>Three.GGondi</key>
      <integer>30</integer>
      <key>Two.GGondi</key>
      <integer>-60</integer>
    </dict>
    <key>Ya.GGondi</key>
    <dict>
      <key>comma.GGondi</key>
      <integer>-50</integer>
      <key>period.GGondi</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.MatraU.GGondi</key>
    <dict>
      <key>comma.GGondi</key>
      <integer>-60</integer>
      <key>period.GGondi</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.Na.GGondi</key>
    <dict>
      <key>period.GGondi</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Ya.GGondi</key>
    <dict>
      <key>comma.GGondi</key>
      <integer>-50</integer>
      <key>period.GGondi</key>
      <integer>-60</integer>
    </dict>
  </dict>
</plist>
