<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>SA</string>
      <string>anusvara</string>
      <string>brm_A</string>
      <string>brm_AA</string>
      <string>brm_AI</string>
      <string>brm_AU</string>
      <string>brm_BA</string>
      <string>brm_BAU</string>
      <string>brm_BHA</string>
      <string>brm_BHAU</string>
      <string>brm_BO</string>
      <string>brm_BU</string>
      <string>brm_BUU</string>
      <string>brm_CA</string>
      <string>brm_CHA</string>
      <string>brm_CHU</string>
      <string>brm_CHUU</string>
      <string>brm_CU</string>
      <string>brm_CUU</string>
      <string>brm_DA</string>
      <string>brm_DAU</string>
      <string>brm_DDA</string>
      <string>brm_DDHA</string>
      <string>brm_DDHU</string>
      <string>brm_DDHUU</string>
      <string>brm_DHA</string>
      <string>brm_DHAU</string>
      <string>brm_DHO</string>
      <string>brm_DHU</string>
      <string>brm_DHUU</string>
      <string>brm_E</string>
      <string>brm_GA</string>
      <string>brm_GHA</string>
      <string>brm_GHU</string>
      <string>brm_GHUU</string>
      <string>brm_HA</string>
      <string>brm_HU</string>
      <string>brm_HUU</string>
      <string>brm_I</string>
      <string>brm_II</string>
      <string>brm_JA</string>
      <string>brm_JAA</string>
      <string>brm_JAU</string>
      <string>brm_JHA</string>
      <string>brm_JHAU</string>
      <string>brm_JHO</string>
      <string>brm_JNYA</string>
      <string>brm_JO</string>
      <string>brm_JU</string>
      <string>brm_JUU</string>
      <string>brm_KA</string>
      <string>brm_KHA</string>
      <string>brm_KSSA</string>
      <string>brm_L</string>
      <string>brm_LA</string>
      <string>brm_LL</string>
      <string>brm_LLA</string>
      <string>brm_LLLA</string>
      <string>brm_LLLAU</string>
      <string>brm_LLLO</string>
      <string>brm_LLU</string>
      <string>brm_LLUU</string>
      <string>brm_LU</string>
      <string>brm_LUU</string>
      <string>brm_Lotus</string>
      <string>brm_MA</string>
      <string>brm_MAU</string>
      <string>brm_MO</string>
      <string>brm_MU</string>
      <string>brm_MUU</string>
      <string>brm_NA</string>
      <string>brm_NGA</string>
      <string>brm_NGU</string>
      <string>brm_NGUU</string>
      <string>brm_NNA</string>
      <string>brm_NNNA</string>
      <string>brm_NNNAU</string>
      <string>brm_NNNO</string>
      <string>brm_NNNU</string>
      <string>brm_NNNUU</string>
      <string>brm_NNU</string>
      <string>brm_NNUU</string>
      <string>brm_NU</string>
      <string>brm_NUU</string>
      <string>brm_NYA</string>
      <string>brm_NYAU</string>
      <string>brm_NYO</string>
      <string>brm_O</string>
      <string>brm_PA</string>
      <string>brm_PHA</string>
      <string>brm_PHU</string>
      <string>brm_PHUU</string>
      <string>brm_PU</string>
      <string>brm_PUU</string>
      <string>brm_R</string>
      <string>brm_RA</string>
      <string>brm_RR</string>
      <string>brm_RRA</string>
      <string>brm_RRAU</string>
      <string>brm_RRO</string>
      <string>brm_SHA</string>
      <string>brm_SSA</string>
      <string>brm_SSU</string>
      <string>brm_SSUU</string>
      <string>brm_SU</string>
      <string>brm_SUU</string>
      <string>brm_SVA</string>
      <string>brm_TA</string>
      <string>brm_THA</string>
      <string>brm_THAI</string>
      <string>brm_THAU</string>
      <string>brm_THEE</string>
      <string>brm_THO</string>
      <string>brm_THR</string>
      <string>brm_THRR</string>
      <string>brm_THU</string>
      <string>brm_THUU</string>
      <string>brm_TRR</string>
      <string>brm_TTA</string>
      <string>brm_TTHA</string>
      <string>brm_TTHAI</string>
      <string>brm_TTHAU</string>
      <string>brm_TTHEE</string>
      <string>brm_TTHO</string>
      <string>brm_TTHR</string>
      <string>brm_TTHRR</string>
      <string>brm_TTHU</string>
      <string>brm_TTHUU</string>
      <string>brm_TTU</string>
      <string>brm_TTUU</string>
      <string>brm_TUU</string>
      <string>brm_U</string>
      <string>brm_UU</string>
      <string>brm_VA</string>
      <string>brm_VOCALIC_L</string>
      <string>brm_VOCALIC_LL</string>
      <string>brm_VOCALIC_R</string>
      <string>brm_VOCALIC_R.alt</string>
      <string>brm_VOCALIC_R.alt2</string>
      <string>brm_VOCALIC_RR</string>
      <string>brm_VOCALIC_RR.alt</string>
      <string>brm_VOCALIC_RR.alt2</string>
      <string>brm_VOCALIC_RR.alt3</string>
      <string>brm_VU</string>
      <string>brm_VUU</string>
      <string>brm_YA</string>
      <string>brm_YU</string>
      <string>brm_YUU</string>
      <string>brm_danda</string>
      <string>brm_digit0</string>
      <string>brm_digit1</string>
      <string>brm_digit2</string>
      <string>brm_digit3</string>
      <string>brm_digit4</string>
      <string>brm_digit5</string>
      <string>brm_digit6</string>
      <string>brm_digit7</string>
      <string>brm_digit8</string>
      <string>brm_digit9</string>
      <string>brm_doubledanda</string>
      <string>brm_num1</string>
      <string>brm_num10</string>
      <string>brm_num100</string>
      <string>brm_num100.10</string>
      <string>brm_num100.100</string>
      <string>brm_num100.1000</string>
      <string>brm_num100.2</string>
      <string>brm_num100.20</string>
      <string>brm_num100.3</string>
      <string>brm_num100.30</string>
      <string>brm_num100.4</string>
      <string>brm_num100.40</string>
      <string>brm_num100.5</string>
      <string>brm_num100.50</string>
      <string>brm_num100.6</string>
      <string>brm_num100.60</string>
      <string>brm_num100.7</string>
      <string>brm_num100.70</string>
      <string>brm_num100.8</string>
      <string>brm_num100.80</string>
      <string>brm_num100.9</string>
      <string>brm_num100.90</string>
      <string>brm_num1000</string>
      <string>brm_num1000.10</string>
      <string>brm_num1000.100</string>
      <string>brm_num1000.1000</string>
      <string>brm_num1000.2</string>
      <string>brm_num1000.20</string>
      <string>brm_num1000.3</string>
      <string>brm_num1000.30</string>
      <string>brm_num1000.4</string>
      <string>brm_num1000.40</string>
      <string>brm_num1000.5</string>
      <string>brm_num1000.50</string>
      <string>brm_num1000.6</string>
      <string>brm_num1000.60</string>
      <string>brm_num1000.7</string>
      <string>brm_num1000.70</string>
      <string>brm_num1000.8</string>
      <string>brm_num1000.80</string>
      <string>brm_num1000.9</string>
      <string>brm_num1000.90</string>
      <string>brm_num2</string>
      <string>brm_num20</string>
      <string>brm_num3</string>
      <string>brm_num30</string>
      <string>brm_num4</string>
      <string>brm_num40</string>
      <string>brm_num5</string>
      <string>brm_num50</string>
      <string>brm_num6</string>
      <string>brm_num60</string>
      <string>brm_num7</string>
      <string>brm_num70</string>
      <string>brm_num8</string>
      <string>brm_num80</string>
      <string>brm_num9</string>
      <string>brm_num90</string>
      <string>brm_punctBAR</string>
      <string>brm_punctDBLDOT</string>
      <string>brm_punctDOT</string>
      <string>brm_punctLINE</string>
      <string>brm_virama</string>
      <string>brm_vowelAA</string>
      <string>brm_vowelAI</string>
      <string>brm_vowelAU</string>
      <string>brm_vowelBHATTIPROLUAA</string>
      <string>brm_vowelEE</string>
      <string>brm_vowelI</string>
      <string>brm_vowelII</string>
      <string>brm_vowelOO</string>
      <string>brm_vowelU</string>
      <string>brm_vowelU.alt</string>
      <string>brm_vowelUU</string>
      <string>brm_vowelUU.alt</string>
      <string>brm_vowelUU.alt2</string>
      <string>candrabindu</string>
      <string>candrabindu.alt</string>
      <string>space</string>
      <string>u11003</string>
      <string>u11003_11013</string>
      <string>u11003_11014</string>
      <string>u11004</string>
      <string>u11004_11027</string>
      <string>u11004_11028</string>
      <string>u1107F</string>
      <string>uni00A0</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>visarga</string>
      <string>vowelUU_vert</string>
      <string>vowelU_vert</string>
    </array>
  </dict>
</plist>
