<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AlephFin</key>
    <string>A_lephF_in.glif</string>
    <key>AlephFin.EE</key>
    <string>A_lephF_in.E_E_.glif</string>
    <key>AlephFin.pe</key>
    <string>A_lephF_in.pe.glif</string>
    <key>AlephIni</key>
    <string>A_lephI_ni.glif</string>
    <key>AlephIni.L</key>
    <string>A_lephI_ni.L_.glif</string>
    <key>AlephMed</key>
    <string>A_lephM_ed.glif</string>
    <key>AlephMed.EE</key>
    <string>A_lephM_ed.E_E_.glif</string>
    <key>AlephMed.EEL</key>
    <string>A_lephM_ed.E_E_L_.glif</string>
    <key>AlephMed.L</key>
    <string>A_lephM_ed.L_.glif</string>
    <key>AlephMed.pe</key>
    <string>A_lephM_ed.pe.glif</string>
    <key>AlephMed.peL</key>
    <string>A_lephM_ed.peL_.glif</string>
    <key>AlephSep</key>
    <string>A_lephS_ep.glif</string>
    <key>AyinFin</key>
    <string>A_yinF_in.glif</string>
    <key>AyinFin.BB</key>
    <string>A_yinF_in.B_B_.glif</string>
    <key>AyinFin.pe</key>
    <string>A_yinF_in.pe.glif</string>
    <key>AyinIni</key>
    <string>A_yinI_ni.glif</string>
    <key>AyinMed</key>
    <string>A_yinM_ed.glif</string>
    <key>AyinSep</key>
    <string>A_yinS_ep.glif</string>
    <key>BethFin</key>
    <string>B_ethF_in.glif</string>
    <key>BethFin.BB</key>
    <string>B_ethF_in.B_B_.glif</string>
    <key>BethFin.pe</key>
    <string>B_ethF_in.pe.glif</string>
    <key>BethIni</key>
    <string>B_ethI_ni.glif</string>
    <key>BethMed</key>
    <string>B_ethM_ed.glif</string>
    <key>BethMed.BB</key>
    <string>B_ethM_ed.B_B_.glif</string>
    <key>BethMed.pe</key>
    <string>B_ethM_ed.pe.glif</string>
    <key>BethSep</key>
    <string>B_ethS_ep.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>FethFin</key>
    <string>F_ethF_in.glif</string>
    <key>FethFin.BB</key>
    <string>F_ethF_in.B_B_.glif</string>
    <key>FethFin.pe</key>
    <string>F_ethF_in.pe.glif</string>
    <key>FethIni</key>
    <string>F_ethI_ni.glif</string>
    <key>FethMed</key>
    <string>F_ethM_ed.glif</string>
    <key>FethMed.BB</key>
    <string>F_ethM_ed.B_B_.glif</string>
    <key>FethMed.pe</key>
    <string>F_ethM_ed.pe.glif</string>
    <key>FethSep</key>
    <string>F_ethS_ep.glif</string>
    <key>GimelFin</key>
    <string>G_imelF_in.glif</string>
    <key>GimelFin.BB</key>
    <string>G_imelF_in.B_B_.glif</string>
    <key>GimelFin.pe</key>
    <string>G_imelF_in.pe.glif</string>
    <key>GimelIni</key>
    <string>G_imelI_ni.glif</string>
    <key>GimelMed</key>
    <string>G_imelM_ed.glif</string>
    <key>GimelMed.BB</key>
    <string>G_imelM_ed.B_B_.glif</string>
    <key>GimelMed.pe</key>
    <string>G_imelM_ed.pe.glif</string>
    <key>GimelSep</key>
    <string>G_imelS_ep.glif</string>
    <key>HeFin</key>
    <string>H_eF_in.glif</string>
    <key>HeFin.EE</key>
    <string>H_eF_in.E_E_.glif</string>
    <key>HeFin.pe</key>
    <string>H_eF_in.pe.glif</string>
    <key>HeSep</key>
    <string>H_eS_ep.glif</string>
    <key>HethFin</key>
    <string>H_ethF_in.glif</string>
    <key>HethFin.BB</key>
    <string>H_ethF_in.B_B_.glif</string>
    <key>HethFin.alt03</key>
    <string>H_ethF_in.alt03.glif</string>
    <key>HethFin.alt03BB</key>
    <string>H_ethF_in.alt03B_B_.glif</string>
    <key>HethFin.pe</key>
    <string>H_ethF_in.pe.glif</string>
    <key>HethIni</key>
    <string>H_ethI_ni.glif</string>
    <key>HethMed</key>
    <string>H_ethM_ed.glif</string>
    <key>HethMed.BB</key>
    <string>H_ethM_ed.B_B_.glif</string>
    <key>HethMed.pe</key>
    <string>H_ethM_ed.pe.glif</string>
    <key>HethSep</key>
    <string>H_ethS_ep.glif</string>
    <key>IndShin</key>
    <string>I_ndS_hin.glif</string>
    <key>KaphFin</key>
    <string>K_aphF_in.glif</string>
    <key>KaphFin.EE</key>
    <string>K_aphF_in.E_E_.glif</string>
    <key>KaphFin.alt04</key>
    <string>K_aphF_in.alt04.glif</string>
    <key>KaphFin.alt04EE</key>
    <string>K_aphF_in.alt04E_E_.glif</string>
    <key>KaphFin.alt04pe</key>
    <string>K_aphF_in.alt04pe.glif</string>
    <key>KaphFin.pe</key>
    <string>K_aphF_in.pe.glif</string>
    <key>KaphIni</key>
    <string>K_aphI_ni.glif</string>
    <key>KaphIni.cut1</key>
    <string>K_aphI_ni.cut1.glif</string>
    <key>KaphIni.cut2</key>
    <string>K_aphI_ni.cut2.glif</string>
    <key>KaphIni.cut3</key>
    <string>K_aphI_ni.cut3.glif</string>
    <key>KaphIni.ligaF</key>
    <string>K_aphI_ni.ligaF_.glif</string>
    <key>KaphIni.ligaM</key>
    <string>K_aphI_ni.ligaM_.glif</string>
    <key>KaphIni.short</key>
    <string>K_aphI_ni.short.glif</string>
    <key>KaphMed</key>
    <string>K_aphM_ed.glif</string>
    <key>KaphMed.EE</key>
    <string>K_aphM_ed.E_E_.glif</string>
    <key>KaphMed.cut1</key>
    <string>K_aphM_ed.cut1.glif</string>
    <key>KaphMed.cut1EE</key>
    <string>K_aphM_ed.cut1E_E_.glif</string>
    <key>KaphMed.cut2</key>
    <string>K_aphM_ed.cut2.glif</string>
    <key>KaphMed.cut2EE</key>
    <string>K_aphM_ed.cut2E_E_.glif</string>
    <key>KaphMed.cut3</key>
    <string>K_aphM_ed.cut3.glif</string>
    <key>KaphMed.cut3EE</key>
    <string>K_aphM_ed.cut3E_E_.glif</string>
    <key>KaphMed.ligaF</key>
    <string>K_aphM_ed.ligaF_.glif</string>
    <key>KaphMed.ligaFEE</key>
    <string>K_aphM_ed.ligaF_E_E_.glif</string>
    <key>KaphMed.ligaM</key>
    <string>K_aphM_ed.ligaM_.glif</string>
    <key>KaphMed.ligaMEE</key>
    <string>K_aphM_ed.ligaM_E_E_.glif</string>
    <key>KaphMed.pe</key>
    <string>K_aphM_ed.pe.glif</string>
    <key>KaphMed.pecut1</key>
    <string>K_aphM_ed.pecut1.glif</string>
    <key>KaphMed.pecut2</key>
    <string>K_aphM_ed.pecut2.glif</string>
    <key>KaphMed.pecut3</key>
    <string>K_aphM_ed.pecut3.glif</string>
    <key>KaphMed.peligaF</key>
    <string>K_aphM_ed.peligaF_.glif</string>
    <key>KaphMed.peligaM</key>
    <string>K_aphM_ed.peligaM_.glif</string>
    <key>KaphMed.peshort</key>
    <string>K_aphM_ed.peshort.glif</string>
    <key>KaphMed.short</key>
    <string>K_aphM_ed.short.glif</string>
    <key>KaphMed.shortEE</key>
    <string>K_aphM_ed.shortE_E_.glif</string>
    <key>KaphSep</key>
    <string>K_aphS_ep.glif</string>
    <key>LamedhFin</key>
    <string>L_amedhF_in.glif</string>
    <key>LamedhFin.hook</key>
    <string>L_amedhF_in.hook.glif</string>
    <key>LamedhFin.pe</key>
    <string>L_amedhF_in.pe.glif</string>
    <key>LamedhFin.pehook</key>
    <string>L_amedhF_in.pehook.glif</string>
    <key>LamedhIni</key>
    <string>L_amedhI_ni.glif</string>
    <key>LamedhIni.hook</key>
    <string>L_amedhI_ni.hook.glif</string>
    <key>LamedhIni.hookwide</key>
    <string>L_amedhI_ni.hookwide.glif</string>
    <key>LamedhIni.wide</key>
    <string>L_amedhI_ni.wide.glif</string>
    <key>LamedhMed</key>
    <string>L_amedhM_ed.glif</string>
    <key>LamedhMed.hook</key>
    <string>L_amedhM_ed.hook.glif</string>
    <key>LamedhMed.hookwide</key>
    <string>L_amedhM_ed.hookwide.glif</string>
    <key>LamedhMed.pe</key>
    <string>L_amedhM_ed.pe.glif</string>
    <key>LamedhMed.pehook</key>
    <string>L_amedhM_ed.pehook.glif</string>
    <key>LamedhMed.pehookwide</key>
    <string>L_amedhM_ed.pehookwide.glif</string>
    <key>LamedhMed.pewide</key>
    <string>L_amedhM_ed.pewide.glif</string>
    <key>LamedhMed.wide</key>
    <string>L_amedhM_ed.wide.glif</string>
    <key>LamedhSep</key>
    <string>L_amedhS_ep.glif</string>
    <key>LamedhSep.hook</key>
    <string>L_amedhS_ep.hook.glif</string>
    <key>LeshFin</key>
    <string>L_eshF_in.glif</string>
    <key>LeshFin.EE</key>
    <string>L_eshF_in.E_E_.glif</string>
    <key>LeshFin.pe</key>
    <string>L_eshF_in.pe.glif</string>
    <key>LeshIni</key>
    <string>L_eshI_ni.glif</string>
    <key>LeshMed</key>
    <string>L_eshM_ed.glif</string>
    <key>LeshMed.EE</key>
    <string>L_eshM_ed.E_E_.glif</string>
    <key>LeshMed.pe</key>
    <string>L_eshM_ed.pe.glif</string>
    <key>LeshSep</key>
    <string>L_eshS_ep.glif</string>
    <key>MemFin</key>
    <string>M_emF_in.glif</string>
    <key>MemFin.BB</key>
    <string>M_emF_in.B_B_.glif</string>
    <key>MemFin.pe</key>
    <string>M_emF_in.pe.glif</string>
    <key>MemIni</key>
    <string>M_emI_ni.glif</string>
    <key>MemIni.Dx</key>
    <string>M_emI_ni.D_x.glif</string>
    <key>MemIni.L</key>
    <string>M_emI_ni.L_.glif</string>
    <key>MemIni.S</key>
    <string>M_emI_ni.S_.glif</string>
    <key>MemMed</key>
    <string>M_emM_ed.glif</string>
    <key>MemMed.Dx</key>
    <string>M_emM_ed.D_x.glif</string>
    <key>MemMed.EE</key>
    <string>M_emM_ed.E_E_.glif</string>
    <key>MemMed.EEDx</key>
    <string>M_emM_ed.E_E_D_x.glif</string>
    <key>MemMed.EEL</key>
    <string>M_emM_ed.E_E_L_.glif</string>
    <key>MemMed.EES</key>
    <string>M_emM_ed.E_E_S_.glif</string>
    <key>MemMed.L</key>
    <string>M_emM_ed.L_.glif</string>
    <key>MemMed.S</key>
    <string>M_emM_ed.S_.glif</string>
    <key>MemMed.pe</key>
    <string>M_emM_ed.pe.glif</string>
    <key>MemMed.peDx</key>
    <string>M_emM_ed.peD_x.glif</string>
    <key>MemMed.peL</key>
    <string>M_emM_ed.peL_.glif</string>
    <key>MemMed.peS</key>
    <string>M_emM_ed.peS_.glif</string>
    <key>MemSep</key>
    <string>M_emS_ep.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NunFin</key>
    <string>N_unF_in.glif</string>
    <key>NunFin.alt05</key>
    <string>N_unF_in.alt05.glif</string>
    <key>NunFin.alt06</key>
    <string>N_unF_in.alt06.glif</string>
    <key>NunFin.alt06BB</key>
    <string>N_unF_in.alt06B_B_.glif</string>
    <key>NunFin.pe</key>
    <string>N_unF_in.pe.glif</string>
    <key>NunIni</key>
    <string>N_unI_ni.glif</string>
    <key>NunMed</key>
    <string>N_unM_ed.glif</string>
    <key>NunMed.pe</key>
    <string>N_unM_ed.pe.glif</string>
    <key>NunSep</key>
    <string>N_unS_ep.glif</string>
    <key>PeFin</key>
    <string>P_eF_in.glif</string>
    <key>PeFin.DD</key>
    <string>P_eF_in.D_D_.glif</string>
    <key>PeFin.pe</key>
    <string>P_eF_in.pe.glif</string>
    <key>PeIni</key>
    <string>P_eI_ni.glif</string>
    <key>PeIni.cut1</key>
    <string>P_eI_ni.cut1.glif</string>
    <key>PeIni.cut2</key>
    <string>P_eI_ni.cut2.glif</string>
    <key>PeIni.cut3</key>
    <string>P_eI_ni.cut3.glif</string>
    <key>PeIni.ligaF</key>
    <string>P_eI_ni.ligaF_.glif</string>
    <key>PeIni.ligaM</key>
    <string>P_eI_ni.ligaM_.glif</string>
    <key>PeIni.short</key>
    <string>P_eI_ni.short.glif</string>
    <key>PeMed</key>
    <string>P_eM_ed.glif</string>
    <key>PeMed.DD</key>
    <string>P_eM_ed.D_D_.glif</string>
    <key>PeMed.cut1</key>
    <string>P_eM_ed.cut1.glif</string>
    <key>PeMed.cut1DD</key>
    <string>P_eM_ed.cut1D_D_.glif</string>
    <key>PeMed.cut2</key>
    <string>P_eM_ed.cut2.glif</string>
    <key>PeMed.cut2DD</key>
    <string>P_eM_ed.cut2D_D_.glif</string>
    <key>PeMed.cut3</key>
    <string>P_eM_ed.cut3.glif</string>
    <key>PeMed.cut3DD</key>
    <string>P_eM_ed.cut3D_D_.glif</string>
    <key>PeMed.ligaF</key>
    <string>P_eM_ed.ligaF_.glif</string>
    <key>PeMed.ligaFDD</key>
    <string>P_eM_ed.ligaF_D_D_.glif</string>
    <key>PeMed.ligaM</key>
    <string>P_eM_ed.ligaM_.glif</string>
    <key>PeMed.ligaMDD</key>
    <string>P_eM_ed.ligaM_D_D_.glif</string>
    <key>PeMed.pe</key>
    <string>P_eM_ed.pe.glif</string>
    <key>PeMed.pecut1</key>
    <string>P_eM_ed.pecut1.glif</string>
    <key>PeMed.pecut2</key>
    <string>P_eM_ed.pecut2.glif</string>
    <key>PeMed.pecut3</key>
    <string>P_eM_ed.pecut3.glif</string>
    <key>PeMed.peligaF</key>
    <string>P_eM_ed.peligaF_.glif</string>
    <key>PeMed.peligaM</key>
    <string>P_eM_ed.peligaM_.glif</string>
    <key>PeMed.peshort</key>
    <string>P_eM_ed.peshort.glif</string>
    <key>PeMed.short</key>
    <string>P_eM_ed.short.glif</string>
    <key>PeMed.shortDD</key>
    <string>P_eM_ed.shortD_D_.glif</string>
    <key>PeSep</key>
    <string>P_eS_ep.glif</string>
    <key>ReshFin</key>
    <string>R_eshF_in.glif</string>
    <key>ReshFin.EE</key>
    <string>R_eshF_in.E_E_.glif</string>
    <key>ReshFin.pe</key>
    <string>R_eshF_in.pe.glif</string>
    <key>ReshIni</key>
    <string>R_eshI_ni.glif</string>
    <key>ReshMed</key>
    <string>R_eshM_ed.glif</string>
    <key>ReshMed.EE</key>
    <string>R_eshM_ed.E_E_.glif</string>
    <key>ReshMed.pe</key>
    <string>R_eshM_ed.pe.glif</string>
    <key>ReshSep</key>
    <string>R_eshS_ep.glif</string>
    <key>SadheFin</key>
    <string>S_adheF_in.glif</string>
    <key>SadheFin.BB</key>
    <string>S_adheF_in.B_B_.glif</string>
    <key>SadheFin.alt07</key>
    <string>S_adheF_in.alt07.glif</string>
    <key>SadheFin.alt07BB</key>
    <string>S_adheF_in.alt07B_B_.glif</string>
    <key>SadheFin.alt08</key>
    <string>S_adheF_in.alt08.glif</string>
    <key>SadheFin.alt08BB</key>
    <string>S_adheF_in.alt08B_B_.glif</string>
    <key>SadheFin.alt09</key>
    <string>S_adheF_in.alt09.glif</string>
    <key>SadheFin.alt09FF</key>
    <string>S_adheF_in.alt09F_F_.glif</string>
    <key>SadheFin.alt09R2</key>
    <string>S_adheF_in.alt09R_2.glif</string>
    <key>SadheFin.alt09R3</key>
    <string>S_adheF_in.alt09R_3.glif</string>
    <key>SadheFin.alt09R4</key>
    <string>S_adheF_in.alt09R_4.glif</string>
    <key>SadheFin.alt10</key>
    <string>S_adheF_in.alt10.glif</string>
    <key>SadheFin.alt10FF</key>
    <string>S_adheF_in.alt10F_F_.glif</string>
    <key>SadheFin.alt10R2</key>
    <string>S_adheF_in.alt10R_2.glif</string>
    <key>SadheFin.alt10R3</key>
    <string>S_adheF_in.alt10R_3.glif</string>
    <key>SadheFin.alt10R4</key>
    <string>S_adheF_in.alt10R_4.glif</string>
    <key>SadheFin.alt11</key>
    <string>S_adheF_in.alt11.glif</string>
    <key>SadheFin.alt11FF</key>
    <string>S_adheF_in.alt11F_F_.glif</string>
    <key>SadheFin.alt11R2</key>
    <string>S_adheF_in.alt11R_2.glif</string>
    <key>SadheFin.alt11R3</key>
    <string>S_adheF_in.alt11R_3.glif</string>
    <key>SadheFin.alt11R4</key>
    <string>S_adheF_in.alt11R_4.glif</string>
    <key>SadheFin.pe</key>
    <string>S_adheF_in.pe.glif</string>
    <key>SadheIni</key>
    <string>S_adheI_ni.glif</string>
    <key>SadheMed</key>
    <string>S_adheM_ed.glif</string>
    <key>SadheMed.FF</key>
    <string>S_adheM_ed.F_F_.glif</string>
    <key>SadheMed.R2</key>
    <string>S_adheM_ed.R_2.glif</string>
    <key>SadheMed.R3</key>
    <string>S_adheM_ed.R_3.glif</string>
    <key>SadheMed.R4</key>
    <string>S_adheM_ed.R_4.glif</string>
    <key>SadheMed.pe</key>
    <string>S_adheM_ed.pe.glif</string>
    <key>SadheMed.pe2</key>
    <string>S_adheM_ed.pe2.glif</string>
    <key>SadheSep</key>
    <string>S_adheS_ep.glif</string>
    <key>SamekhFin</key>
    <string>S_amekhF_in.glif</string>
    <key>SamekhFin.BB</key>
    <string>S_amekhF_in.B_B_.glif</string>
    <key>SamekhFin.pe</key>
    <string>S_amekhF_in.pe.glif</string>
    <key>SamekhIni</key>
    <string>S_amekhI_ni.glif</string>
    <key>SamekhMed</key>
    <string>S_amekhM_ed.glif</string>
    <key>SamekhMed.BB</key>
    <string>S_amekhM_ed.B_B_.glif</string>
    <key>SamekhMed.pe</key>
    <string>S_amekhM_ed.pe.glif</string>
    <key>SamekhSep</key>
    <string>S_amekhS_ep.glif</string>
    <key>ShinFin</key>
    <string>S_hinF_in.glif</string>
    <key>ShinFin.DD</key>
    <string>S_hinF_in.D_D_.glif</string>
    <key>ShinFin.pe</key>
    <string>S_hinF_in.pe.glif</string>
    <key>ShinIni</key>
    <string>S_hinI_ni.glif</string>
    <key>ShinIni.Cx</key>
    <string>S_hinI_ni.C_x.glif</string>
    <key>ShinIni.Dx</key>
    <string>S_hinI_ni.D_x.glif</string>
    <key>ShinIni.Ex</key>
    <string>S_hinI_ni.E_x.glif</string>
    <key>ShinIni.Fx</key>
    <string>S_hinI_ni.F_x.glif</string>
    <key>ShinMed</key>
    <string>S_hinM_ed.glif</string>
    <key>ShinMed.Cx</key>
    <string>S_hinM_ed.C_x.glif</string>
    <key>ShinMed.DD</key>
    <string>S_hinM_ed.D_D_.glif</string>
    <key>ShinMed.DDCx</key>
    <string>S_hinM_ed.D_D_C_x.glif</string>
    <key>ShinMed.DDDx</key>
    <string>S_hinM_ed.D_D_D_x.glif</string>
    <key>ShinMed.DDEx</key>
    <string>S_hinM_ed.D_D_E_x.glif</string>
    <key>ShinMed.DDFx</key>
    <string>S_hinM_ed.D_D_F_x.glif</string>
    <key>ShinMed.Dx</key>
    <string>S_hinM_ed.D_x.glif</string>
    <key>ShinMed.Ex</key>
    <string>S_hinM_ed.E_x.glif</string>
    <key>ShinMed.Fx</key>
    <string>S_hinM_ed.F_x.glif</string>
    <key>ShinMed.pe</key>
    <string>S_hinM_ed.pe.glif</string>
    <key>ShinMed.peCx</key>
    <string>S_hinM_ed.peC_x.glif</string>
    <key>ShinMed.peDx</key>
    <string>S_hinM_ed.peD_x.glif</string>
    <key>ShinMed.peEx</key>
    <string>S_hinM_ed.peE_x.glif</string>
    <key>ShinMed.peFx</key>
    <string>S_hinM_ed.peF_x.glif</string>
    <key>ShinSep</key>
    <string>S_hinS_ep.glif</string>
    <key>TawFin</key>
    <string>T_awF_in.glif</string>
    <key>TawFin.CC</key>
    <string>T_awF_in.C_C_.glif</string>
    <key>TawFin.XS</key>
    <string>T_awF_in.X_S_.glif</string>
    <key>TawFin.alt12</key>
    <string>T_awF_in.alt12.glif</string>
    <key>TawFin.alt12CC</key>
    <string>T_awF_in.alt12C_C_.glif</string>
    <key>TawFin.alt12XS</key>
    <string>T_awF_in.alt12X_S_.glif</string>
    <key>TawFin.alt13</key>
    <string>T_awF_in.alt13.glif</string>
    <key>TawFin.alt13FF</key>
    <string>T_awF_in.alt13F_F_.glif</string>
    <key>TawFin.alt14</key>
    <string>T_awF_in.alt14.glif</string>
    <key>TawFin.alt14FF</key>
    <string>T_awF_in.alt14F_F_.glif</string>
    <key>TawFin.alt15</key>
    <string>T_awF_in.alt15.glif</string>
    <key>TawFin.alt15FF</key>
    <string>T_awF_in.alt15F_F_.glif</string>
    <key>TawFin.pe</key>
    <string>T_awF_in.pe.glif</string>
    <key>TawIni</key>
    <string>T_awI_ni.glif</string>
    <key>TawMed</key>
    <string>T_awM_ed.glif</string>
    <key>TawMed.CC</key>
    <string>T_awM_ed.C_C_.glif</string>
    <key>TawMed.XS</key>
    <string>T_awM_ed.X_S_.glif</string>
    <key>TawMed.pe</key>
    <string>T_awM_ed.pe.glif</string>
    <key>TawSep</key>
    <string>T_awS_ep.glif</string>
    <key>WawFin</key>
    <string>W_awF_in.glif</string>
    <key>WawFin.DD</key>
    <string>W_awF_in.D_D_.glif</string>
    <key>WawFin.liga</key>
    <string>W_awF_in.liga.glif</string>
    <key>WawIni</key>
    <string>W_awI_ni.glif</string>
    <key>WawMed</key>
    <string>W_awM_ed.glif</string>
    <key>WawMed.FF</key>
    <string>W_awM_ed.F_F_.glif</string>
    <key>WawMed.liga</key>
    <string>W_awM_ed.liga.glif</string>
    <key>WawSep</key>
    <string>W_awS_ep.glif</string>
    <key>YodhFin</key>
    <string>Y_odhF_in.glif</string>
    <key>YodhFin.BB</key>
    <string>Y_odhF_in.B_B_.glif</string>
    <key>YodhFin.pe</key>
    <string>Y_odhF_in.pe.glif</string>
    <key>YodhIni</key>
    <string>Y_odhI_ni.glif</string>
    <key>YodhMed</key>
    <string>Y_odhM_ed.glif</string>
    <key>YodhMed.BB</key>
    <string>Y_odhM_ed.B_B_.glif</string>
    <key>YodhMed.pe</key>
    <string>Y_odhM_ed.pe.glif</string>
    <key>YodhSep</key>
    <string>Y_odhS_ep.glif</string>
    <key>ZayinFin</key>
    <string>Z_ayinF_in.glif</string>
    <key>ZayinFin.alt02</key>
    <string>Z_ayinF_in.alt02.glif</string>
    <key>ZayinFin.pe</key>
    <string>Z_ayinF_in.pe.glif</string>
    <key>ZayinIni</key>
    <string>Z_ayinI_ni.glif</string>
    <key>ZayinMed</key>
    <string>Z_ayinM_ed.glif</string>
    <key>ZayinMed.pe</key>
    <string>Z_ayinM_ed.pe.glif</string>
    <key>ZayinSep</key>
    <string>Z_ayinS_ep.glif</string>
    <key>curveaboveSogd</key>
    <string>curveaboveS_ogd.glif</string>
    <key>curvebelowSogd</key>
    <string>curvebelowS_ogd.glif</string>
    <key>dotaboveSogd</key>
    <string>dotaboveS_ogd.glif</string>
    <key>dotaboveSogd.rho</key>
    <string>dotaboveS_ogd.rho.glif</string>
    <key>dotbelowSogd</key>
    <string>dotbelowS_ogd.glif</string>
    <key>dotbelowSogd.rho</key>
    <string>dotbelowS_ogd.rho.glif</string>
    <key>hookaboveSogd</key>
    <string>hookaboveS_ogd.glif</string>
    <key>hookaboveSogd.alt</key>
    <string>hookaboveS_ogd.alt.glif</string>
    <key>hookbelowSogd</key>
    <string>hookbelowS_ogd.glif</string>
    <key>hundredSogdFin</key>
    <string>hundredS_ogdF_in.glif</string>
    <key>hundredSogdSep</key>
    <string>hundredS_ogdS_ep.glif</string>
    <key>longhookbelowSogd</key>
    <string>longhookbelowS_ogd.glif</string>
    <key>oneSogdFin</key>
    <string>oneS_ogdF_in.glif</string>
    <key>oneSogdIni</key>
    <string>oneS_ogdI_ni.glif</string>
    <key>oneSogdMed</key>
    <string>oneS_ogdM_ed.glif</string>
    <key>oneSogdSep</key>
    <string>oneS_ogdS_ep.glif</string>
    <key>reshbelowSogd</key>
    <string>reshbelowS_ogd.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>strokebelowSogd</key>
    <string>strokebelowS_ogd.glif</string>
    <key>strokebelowSogd.2</key>
    <string>strokebelowS_ogd.2.glif</string>
    <key>strokebelowSogd.3</key>
    <string>strokebelowS_ogd.3.glif</string>
    <key>strokebelowSogd.4</key>
    <string>strokebelowS_ogd.4.glif</string>
    <key>strokebelowSogd.5</key>
    <string>strokebelowS_ogd.5.glif</string>
    <key>strokebelowSogd.6</key>
    <string>strokebelowS_ogd.6.glif</string>
    <key>strokebelowSogd.7</key>
    <string>strokebelowS_ogd.7.glif</string>
    <key>tatweel</key>
    <string>tatweel.glif</string>
    <key>tenSogdFin</key>
    <string>tenS_ogdF_in.glif</string>
    <key>tenSogdIni</key>
    <string>tenS_ogdI_ni.glif</string>
    <key>tenSogdMed</key>
    <string>tenS_ogdM_ed.glif</string>
    <key>tenSogdSep</key>
    <string>tenS_ogdS_ep.glif</string>
    <key>twentySogdFin</key>
    <string>twentyS_ogdF_in.glif</string>
    <key>twentySogdIni</key>
    <string>twentyS_ogdI_ni.glif</string>
    <key>twentySogdMed</key>
    <string>twentyS_ogdM_ed.glif</string>
    <key>twentySogdSep</key>
    <string>twentyS_ogdS_ep.glif</string>
    <key>twodotsaboveSogd</key>
    <string>twodotsaboveS_ogd.glif</string>
    <key>twodotsaboveSogd.rho</key>
    <string>twodotsaboveS_ogd.rho.glif</string>
    <key>twodotsbelowSogd</key>
    <string>twodotsbelowS_ogd.glif</string>
    <key>twodotsbelowSogd.rho</key>
    <string>twodotsbelowS_ogd.rho.glif</string>
    <key>u10F55</key>
    <string>u10F_55.glif</string>
    <key>u10F55.altA</key>
    <string>u10F_55.altA_.glif</string>
    <key>u10F55.dot</key>
    <string>u10F_55.dot.glif</string>
    <key>u10F55.rho</key>
    <string>u10F_55.rho.glif</string>
    <key>u10F56</key>
    <string>u10F_56.glif</string>
    <key>u10F56.rho</key>
    <string>u10F_56.rho.glif</string>
    <key>u10F57</key>
    <string>u10F_57.glif</string>
    <key>u10F58</key>
    <string>u10F_58.glif</string>
    <key>u10F59</key>
    <string>u10F_59.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
