<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Aug 19 19, 06:09</string>
      <string>glyphs.A_ug 19 19, 06_09</string>
    </array>
    <array>
      <string>Aug 18 19, 06:27</string>
      <string>glyphs.A_ug 18 19, 06_27</string>
    </array>
    <array>
      <string>Aug 19 19, 04:58</string>
      <string>glyphs.A_ug 19 19, 04_58</string>
    </array>
  </array>
</plist>
