<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1286</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Medium</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>comma</string>
      <string>d</string>
      <string>e</string>
      <string>eight</string>
      <string>emsp</string>
      <string>ensp</string>
      <string>f</string>
      <string>five</string>
      <string>four</string>
      <string>g</string>
      <string>glyph1</string>
      <string>glyph2</string>
      <string>h</string>
      <string>hyphen</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>nine</string>
      <string>o</string>
      <string>one</string>
      <string>p</string>
      <string>period</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>seven</string>
      <string>six</string>
      <string>space</string>
      <string>t</string>
      <string>three</string>
      <string>two</string>
      <string>u</string>
      <string>u16FE1</string>
      <string>u16FE1.vert</string>
      <string>u1B170</string>
      <string>u1B170.vert</string>
      <string>u1B171</string>
      <string>u1B171.vert</string>
      <string>u1B172</string>
      <string>u1B172.vert</string>
      <string>u1B173</string>
      <string>u1B173.vert</string>
      <string>u1B174</string>
      <string>u1B174.vert</string>
      <string>u1B175</string>
      <string>u1B175.vert</string>
      <string>u1B176</string>
      <string>u1B176.vert</string>
      <string>u1B177</string>
      <string>u1B177.vert</string>
      <string>u1B178</string>
      <string>u1B178.vert</string>
      <string>u1B179</string>
      <string>u1B179.vert</string>
      <string>u1B17A</string>
      <string>u1B17A.vert</string>
      <string>u1B17B</string>
      <string>u1B17B.vert</string>
      <string>u1B17C</string>
      <string>u1B17C.vert</string>
      <string>u1B17D</string>
      <string>u1B17D.vert</string>
      <string>u1B17E</string>
      <string>u1B17E.vert</string>
      <string>u1B17F</string>
      <string>u1B17F.vert</string>
      <string>u1B180</string>
      <string>u1B180.vert</string>
      <string>u1B181</string>
      <string>u1B181.vert</string>
      <string>u1B182</string>
      <string>u1B182.vert</string>
      <string>u1B183</string>
      <string>u1B183.vert</string>
      <string>u1B184</string>
      <string>u1B184.vert</string>
      <string>u1B185</string>
      <string>u1B185.vert</string>
      <string>u1B186</string>
      <string>u1B186.vert</string>
      <string>u1B187</string>
      <string>u1B187.vert</string>
      <string>u1B188</string>
      <string>u1B188.vert</string>
      <string>u1B189</string>
      <string>u1B189.vert</string>
      <string>u1B18A</string>
      <string>u1B18A.vert</string>
      <string>u1B18B</string>
      <string>u1B18B.vert</string>
      <string>u1B18C</string>
      <string>u1B18C.vert</string>
      <string>u1B18D</string>
      <string>u1B18D.vert</string>
      <string>u1B18E</string>
      <string>u1B18E.vert</string>
      <string>u1B18F</string>
      <string>u1B18F.vert</string>
      <string>u1B190</string>
      <string>u1B190.vert</string>
      <string>u1B191</string>
      <string>u1B191.vert</string>
      <string>u1B192</string>
      <string>u1B192.vert</string>
      <string>u1B193</string>
      <string>u1B193.vert</string>
      <string>u1B194</string>
      <string>u1B194.vert</string>
      <string>u1B195</string>
      <string>u1B195.vert</string>
      <string>u1B196</string>
      <string>u1B196.vert</string>
      <string>u1B197</string>
      <string>u1B197.vert</string>
      <string>u1B198</string>
      <string>u1B198.vert</string>
      <string>u1B199</string>
      <string>u1B199.vert</string>
      <string>u1B19A</string>
      <string>u1B19A.vert</string>
      <string>u1B19B</string>
      <string>u1B19B.vert</string>
      <string>u1B19C</string>
      <string>u1B19C.vert</string>
      <string>u1B19D</string>
      <string>u1B19D.vert</string>
      <string>u1B19E</string>
      <string>u1B19E.vert</string>
      <string>u1B19F</string>
      <string>u1B19F.vert</string>
      <string>u1B1A0</string>
      <string>u1B1A0.vert</string>
      <string>u1B1A1</string>
      <string>u1B1A1.vert</string>
      <string>u1B1A2</string>
      <string>u1B1A2.vert</string>
      <string>u1B1A3</string>
      <string>u1B1A3.vert</string>
      <string>u1B1A4</string>
      <string>u1B1A4.vert</string>
      <string>u1B1A5</string>
      <string>u1B1A5.vert</string>
      <string>u1B1A6</string>
      <string>u1B1A6.vert</string>
      <string>u1B1A7</string>
      <string>u1B1A7.vert</string>
      <string>u1B1A8</string>
      <string>u1B1A8.vert</string>
      <string>u1B1A9</string>
      <string>u1B1A9.vert</string>
      <string>u1B1AA</string>
      <string>u1B1AA.vert</string>
      <string>u1B1AB</string>
      <string>u1B1AB.vert</string>
      <string>u1B1AC</string>
      <string>u1B1AC.vert</string>
      <string>u1B1AD</string>
      <string>u1B1AD.vert</string>
      <string>u1B1AE</string>
      <string>u1B1AE.vert</string>
      <string>u1B1AF</string>
      <string>u1B1AF.vert</string>
      <string>u1B1B0</string>
      <string>u1B1B0.vert</string>
      <string>u1B1B1</string>
      <string>u1B1B1.vert</string>
      <string>u1B1B2</string>
      <string>u1B1B2.vert</string>
      <string>u1B1B3</string>
      <string>u1B1B3.vert</string>
      <string>u1B1B4</string>
      <string>u1B1B4.vert</string>
      <string>u1B1B5</string>
      <string>u1B1B5.vert</string>
      <string>u1B1B6</string>
      <string>u1B1B6.vert</string>
      <string>u1B1B7</string>
      <string>u1B1B7.vert</string>
      <string>u1B1B8</string>
      <string>u1B1B8.vert</string>
      <string>u1B1B9</string>
      <string>u1B1B9.vert</string>
      <string>u1B1BA</string>
      <string>u1B1BA.vert</string>
      <string>u1B1BB</string>
      <string>u1B1BB.vert</string>
      <string>u1B1BC</string>
      <string>u1B1BC.vert</string>
      <string>u1B1BD</string>
      <string>u1B1BD.vert</string>
      <string>u1B1BE</string>
      <string>u1B1BE.vert</string>
      <string>u1B1BF</string>
      <string>u1B1BF.vert</string>
      <string>u1B1C0</string>
      <string>u1B1C0.vert</string>
      <string>u1B1C1</string>
      <string>u1B1C1.vert</string>
      <string>u1B1C2</string>
      <string>u1B1C2.vert</string>
      <string>u1B1C3</string>
      <string>u1B1C3.vert</string>
      <string>u1B1C4</string>
      <string>u1B1C4.vert</string>
      <string>u1B1C5</string>
      <string>u1B1C5.vert</string>
      <string>u1B1C6</string>
      <string>u1B1C6.vert</string>
      <string>u1B1C7</string>
      <string>u1B1C7.vert</string>
      <string>u1B1C8</string>
      <string>u1B1C8.vert</string>
      <string>u1B1C9</string>
      <string>u1B1C9.vert</string>
      <string>u1B1CA</string>
      <string>u1B1CA.vert</string>
      <string>u1B1CB</string>
      <string>u1B1CB.vert</string>
      <string>u1B1CC</string>
      <string>u1B1CC.vert</string>
      <string>u1B1CD</string>
      <string>u1B1CD.vert</string>
      <string>u1B1CE</string>
      <string>u1B1CE.vert</string>
      <string>u1B1CF</string>
      <string>u1B1CF.vert</string>
      <string>u1B1D0</string>
      <string>u1B1D0.vert</string>
      <string>u1B1D1</string>
      <string>u1B1D1.vert</string>
      <string>u1B1D2</string>
      <string>u1B1D2.vert</string>
      <string>u1B1D3</string>
      <string>u1B1D3.vert</string>
      <string>u1B1D4</string>
      <string>u1B1D4.vert</string>
      <string>u1B1D5</string>
      <string>u1B1D5.vert</string>
      <string>u1B1D6</string>
      <string>u1B1D6.vert</string>
      <string>u1B1D7</string>
      <string>u1B1D7.vert</string>
      <string>u1B1D8</string>
      <string>u1B1D8.vert</string>
      <string>u1B1D9</string>
      <string>u1B1D9.vert</string>
      <string>u1B1DA</string>
      <string>u1B1DA.vert</string>
      <string>u1B1DB</string>
      <string>u1B1DB.vert</string>
      <string>u1B1DC</string>
      <string>u1B1DC.vert</string>
      <string>u1B1DD</string>
      <string>u1B1DD.vert</string>
      <string>u1B1DE</string>
      <string>u1B1DE.vert</string>
      <string>u1B1DF</string>
      <string>u1B1DF.vert</string>
      <string>u1B1E0</string>
      <string>u1B1E0.vert</string>
      <string>u1B1E1</string>
      <string>u1B1E1.vert</string>
      <string>u1B1E2</string>
      <string>u1B1E2.vert</string>
      <string>u1B1E3</string>
      <string>u1B1E3.vert</string>
      <string>u1B1E4</string>
      <string>u1B1E4.vert</string>
      <string>u1B1E5</string>
      <string>u1B1E5.vert</string>
      <string>u1B1E6</string>
      <string>u1B1E6.vert</string>
      <string>u1B1E7</string>
      <string>u1B1E7.vert</string>
      <string>u1B1E8</string>
      <string>u1B1E8.vert</string>
      <string>u1B1E9</string>
      <string>u1B1E9.vert</string>
      <string>u1B1EA</string>
      <string>u1B1EA.vert</string>
      <string>u1B1EB</string>
      <string>u1B1EB.vert</string>
      <string>u1B1EC</string>
      <string>u1B1EC.vert</string>
      <string>u1B1ED</string>
      <string>u1B1ED.vert</string>
      <string>u1B1EE</string>
      <string>u1B1EE.vert</string>
      <string>u1B1EF</string>
      <string>u1B1EF.vert</string>
      <string>u1B1F0</string>
      <string>u1B1F0.vert</string>
      <string>u1B1F1</string>
      <string>u1B1F1.vert</string>
      <string>u1B1F2</string>
      <string>u1B1F2.vert</string>
      <string>u1B1F3</string>
      <string>u1B1F3.vert</string>
      <string>u1B1F4</string>
      <string>u1B1F4.vert</string>
      <string>u1B1F5</string>
      <string>u1B1F5.vert</string>
      <string>u1B1F6</string>
      <string>u1B1F6.vert</string>
      <string>u1B1F7</string>
      <string>u1B1F7.vert</string>
      <string>u1B1F8</string>
      <string>u1B1F8.vert</string>
      <string>u1B1F9</string>
      <string>u1B1F9.vert</string>
      <string>u1B1FA</string>
      <string>u1B1FA.vert</string>
      <string>u1B1FB</string>
      <string>u1B1FB.vert</string>
      <string>u1B1FC</string>
      <string>u1B1FC.vert</string>
      <string>u1B1FD</string>
      <string>u1B1FD.vert</string>
      <string>u1B1FE</string>
      <string>u1B1FE.vert</string>
      <string>u1B1FF</string>
      <string>u1B1FF.vert</string>
      <string>u1B200</string>
      <string>u1B200.vert</string>
      <string>u1B201</string>
      <string>u1B201.vert</string>
      <string>u1B202</string>
      <string>u1B202.vert</string>
      <string>u1B203</string>
      <string>u1B203.vert</string>
      <string>u1B204</string>
      <string>u1B204.vert</string>
      <string>u1B205</string>
      <string>u1B205.vert</string>
      <string>u1B206</string>
      <string>u1B206.vert</string>
      <string>u1B207</string>
      <string>u1B207.vert</string>
      <string>u1B208</string>
      <string>u1B208.vert</string>
      <string>u1B209</string>
      <string>u1B209.vert</string>
      <string>u1B20A</string>
      <string>u1B20A.vert</string>
      <string>u1B20B</string>
      <string>u1B20B.vert</string>
      <string>u1B20C</string>
      <string>u1B20C.vert</string>
      <string>u1B20D</string>
      <string>u1B20D.vert</string>
      <string>u1B20E</string>
      <string>u1B20E.vert</string>
      <string>u1B20F</string>
      <string>u1B20F.vert</string>
      <string>u1B210</string>
      <string>u1B210.vert</string>
      <string>u1B211</string>
      <string>u1B211.vert</string>
      <string>u1B212</string>
      <string>u1B212.vert</string>
      <string>u1B213</string>
      <string>u1B213.vert</string>
      <string>u1B214</string>
      <string>u1B214.vert</string>
      <string>u1B215</string>
      <string>u1B215.vert</string>
      <string>u1B216</string>
      <string>u1B216.vert</string>
      <string>u1B217</string>
      <string>u1B217.vert</string>
      <string>u1B218</string>
      <string>u1B218.vert</string>
      <string>u1B219</string>
      <string>u1B219.vert</string>
      <string>u1B21A</string>
      <string>u1B21A.vert</string>
      <string>u1B21B</string>
      <string>u1B21B.vert</string>
      <string>u1B21C</string>
      <string>u1B21C.vert</string>
      <string>u1B21D</string>
      <string>u1B21D.vert</string>
      <string>u1B21E</string>
      <string>u1B21E.vert</string>
      <string>u1B21F</string>
      <string>u1B21F.vert</string>
      <string>u1B220</string>
      <string>u1B220.vert</string>
      <string>u1B221</string>
      <string>u1B221.vert</string>
      <string>u1B222</string>
      <string>u1B222.vert</string>
      <string>u1B223</string>
      <string>u1B223.vert</string>
      <string>u1B224</string>
      <string>u1B224.vert</string>
      <string>u1B225</string>
      <string>u1B225.vert</string>
      <string>u1B226</string>
      <string>u1B226.vert</string>
      <string>u1B227</string>
      <string>u1B227.vert</string>
      <string>u1B228</string>
      <string>u1B228.vert</string>
      <string>u1B229</string>
      <string>u1B229.vert</string>
      <string>u1B22A</string>
      <string>u1B22A.vert</string>
      <string>u1B22B</string>
      <string>u1B22B.vert</string>
      <string>u1B22C</string>
      <string>u1B22C.vert</string>
      <string>u1B22D</string>
      <string>u1B22D.vert</string>
      <string>u1B22E</string>
      <string>u1B22E.vert</string>
      <string>u1B22F</string>
      <string>u1B22F.vert</string>
      <string>u1B230</string>
      <string>u1B230.vert</string>
      <string>u1B231</string>
      <string>u1B231.vert</string>
      <string>u1B232</string>
      <string>u1B232.vert</string>
      <string>u1B233</string>
      <string>u1B233.vert</string>
      <string>u1B234</string>
      <string>u1B234.vert</string>
      <string>u1B235</string>
      <string>u1B235.vert</string>
      <string>u1B236</string>
      <string>u1B236.vert</string>
      <string>u1B237</string>
      <string>u1B237.vert</string>
      <string>u1B238</string>
      <string>u1B238.vert</string>
      <string>u1B239</string>
      <string>u1B239.vert</string>
      <string>u1B23A</string>
      <string>u1B23A.vert</string>
      <string>u1B23B</string>
      <string>u1B23B.vert</string>
      <string>u1B23C</string>
      <string>u1B23C.vert</string>
      <string>u1B23D</string>
      <string>u1B23D.vert</string>
      <string>u1B23E</string>
      <string>u1B23E.vert</string>
      <string>u1B23F</string>
      <string>u1B23F.vert</string>
      <string>u1B240</string>
      <string>u1B240.vert</string>
      <string>u1B241</string>
      <string>u1B241.vert</string>
      <string>u1B242</string>
      <string>u1B242.vert</string>
      <string>u1B243</string>
      <string>u1B243.vert</string>
      <string>u1B244</string>
      <string>u1B244.vert</string>
      <string>u1B245</string>
      <string>u1B245.vert</string>
      <string>u1B246</string>
      <string>u1B246.vert</string>
      <string>u1B247</string>
      <string>u1B247.vert</string>
      <string>u1B248</string>
      <string>u1B248.vert</string>
      <string>u1B249</string>
      <string>u1B249.vert</string>
      <string>u1B24A</string>
      <string>u1B24A.vert</string>
      <string>u1B24B</string>
      <string>u1B24B.vert</string>
      <string>u1B24C</string>
      <string>u1B24C.vert</string>
      <string>u1B24D</string>
      <string>u1B24D.vert</string>
      <string>u1B24E</string>
      <string>u1B24E.vert</string>
      <string>u1B24F</string>
      <string>u1B24F.vert</string>
      <string>u1B250</string>
      <string>u1B250.vert</string>
      <string>u1B251</string>
      <string>u1B251.vert</string>
      <string>u1B252</string>
      <string>u1B252.vert</string>
      <string>u1B253</string>
      <string>u1B253.vert</string>
      <string>u1B254</string>
      <string>u1B254.vert</string>
      <string>u1B255</string>
      <string>u1B255.vert</string>
      <string>u1B256</string>
      <string>u1B256.vert</string>
      <string>u1B257</string>
      <string>u1B257.vert</string>
      <string>u1B258</string>
      <string>u1B258.vert</string>
      <string>u1B259</string>
      <string>u1B259.vert</string>
      <string>u1B25A</string>
      <string>u1B25A.vert</string>
      <string>u1B25B</string>
      <string>u1B25B.vert</string>
      <string>u1B25C</string>
      <string>u1B25C.vert</string>
      <string>u1B25D</string>
      <string>u1B25D.vert</string>
      <string>u1B25E</string>
      <string>u1B25E.vert</string>
      <string>u1B25F</string>
      <string>u1B25F.vert</string>
      <string>u1B260</string>
      <string>u1B260.vert</string>
      <string>u1B261</string>
      <string>u1B261.vert</string>
      <string>u1B262</string>
      <string>u1B262.vert</string>
      <string>u1B263</string>
      <string>u1B263.vert</string>
      <string>u1B264</string>
      <string>u1B264.vert</string>
      <string>u1B265</string>
      <string>u1B265.vert</string>
      <string>u1B266</string>
      <string>u1B266.vert</string>
      <string>u1B267</string>
      <string>u1B267.vert</string>
      <string>u1B268</string>
      <string>u1B268.vert</string>
      <string>u1B269</string>
      <string>u1B269.vert</string>
      <string>u1B26A</string>
      <string>u1B26A.vert</string>
      <string>u1B26B</string>
      <string>u1B26B.vert</string>
      <string>u1B26C</string>
      <string>u1B26C.vert</string>
      <string>u1B26D</string>
      <string>u1B26D.vert</string>
      <string>u1B26E</string>
      <string>u1B26E.vert</string>
      <string>u1B26F</string>
      <string>u1B26F.vert</string>
      <string>u1B270</string>
      <string>u1B270.vert</string>
      <string>u1B271</string>
      <string>u1B271.vert</string>
      <string>u1B272</string>
      <string>u1B272.vert</string>
      <string>u1B273</string>
      <string>u1B273.vert</string>
      <string>u1B274</string>
      <string>u1B274.vert</string>
      <string>u1B275</string>
      <string>u1B275.vert</string>
      <string>u1B276</string>
      <string>u1B276.vert</string>
      <string>u1B277</string>
      <string>u1B277.vert</string>
      <string>u1B278</string>
      <string>u1B278.vert</string>
      <string>u1B279</string>
      <string>u1B279.vert</string>
      <string>u1B27A</string>
      <string>u1B27A.vert</string>
      <string>u1B27B</string>
      <string>u1B27B.vert</string>
      <string>u1B27C</string>
      <string>u1B27C.vert</string>
      <string>u1B27D</string>
      <string>u1B27D.vert</string>
      <string>u1B27E</string>
      <string>u1B27E.vert</string>
      <string>u1B27F</string>
      <string>u1B27F.vert</string>
      <string>u1B280</string>
      <string>u1B280.vert</string>
      <string>u1B281</string>
      <string>u1B281.vert</string>
      <string>u1B282</string>
      <string>u1B282.vert</string>
      <string>u1B283</string>
      <string>u1B283.vert</string>
      <string>u1B284</string>
      <string>u1B284.vert</string>
      <string>u1B285</string>
      <string>u1B285.vert</string>
      <string>u1B286</string>
      <string>u1B286.vert</string>
      <string>u1B287</string>
      <string>u1B287.vert</string>
      <string>u1B288</string>
      <string>u1B288.vert</string>
      <string>u1B289</string>
      <string>u1B289.vert</string>
      <string>u1B28A</string>
      <string>u1B28A.vert</string>
      <string>u1B28B</string>
      <string>u1B28B.vert</string>
      <string>u1B28C</string>
      <string>u1B28C.vert</string>
      <string>u1B28D</string>
      <string>u1B28D.vert</string>
      <string>u1B28E</string>
      <string>u1B28E.vert</string>
      <string>u1B28F</string>
      <string>u1B28F.vert</string>
      <string>u1B290</string>
      <string>u1B290.vert</string>
      <string>u1B291</string>
      <string>u1B291.vert</string>
      <string>u1B292</string>
      <string>u1B292.vert</string>
      <string>u1B293</string>
      <string>u1B293.vert</string>
      <string>u1B294</string>
      <string>u1B294.vert</string>
      <string>u1B295</string>
      <string>u1B295.vert</string>
      <string>u1B296</string>
      <string>u1B296.vert</string>
      <string>u1B297</string>
      <string>u1B297.vert</string>
      <string>u1B298</string>
      <string>u1B298.vert</string>
      <string>u1B299</string>
      <string>u1B299.vert</string>
      <string>u1B29A</string>
      <string>u1B29A.vert</string>
      <string>u1B29B</string>
      <string>u1B29B.vert</string>
      <string>u1B29C</string>
      <string>u1B29C.vert</string>
      <string>u1B29D</string>
      <string>u1B29D.vert</string>
      <string>u1B29E</string>
      <string>u1B29E.vert</string>
      <string>u1B29F</string>
      <string>u1B29F.vert</string>
      <string>u1B2A0</string>
      <string>u1B2A0.vert</string>
      <string>u1B2A1</string>
      <string>u1B2A1.vert</string>
      <string>u1B2A2</string>
      <string>u1B2A2.vert</string>
      <string>u1B2A3</string>
      <string>u1B2A3.vert</string>
      <string>u1B2A4</string>
      <string>u1B2A4.vert</string>
      <string>u1B2A5</string>
      <string>u1B2A5.vert</string>
      <string>u1B2A6</string>
      <string>u1B2A6.vert</string>
      <string>u1B2A7</string>
      <string>u1B2A7.vert</string>
      <string>u1B2A8</string>
      <string>u1B2A8.vert</string>
      <string>u1B2A9</string>
      <string>u1B2A9.vert</string>
      <string>u1B2AA</string>
      <string>u1B2AA.vert</string>
      <string>u1B2AB</string>
      <string>u1B2AB.vert</string>
      <string>u1B2AC</string>
      <string>u1B2AC.vert</string>
      <string>u1B2AD</string>
      <string>u1B2AD.vert</string>
      <string>u1B2AE</string>
      <string>u1B2AE.vert</string>
      <string>u1B2AF</string>
      <string>u1B2AF.vert</string>
      <string>u1B2B0</string>
      <string>u1B2B0.vert</string>
      <string>u1B2B1</string>
      <string>u1B2B1.vert</string>
      <string>u1B2B2</string>
      <string>u1B2B2.vert</string>
      <string>u1B2B3</string>
      <string>u1B2B3.vert</string>
      <string>u1B2B4</string>
      <string>u1B2B4.vert</string>
      <string>u1B2B5</string>
      <string>u1B2B5.vert</string>
      <string>u1B2B6</string>
      <string>u1B2B6.vert</string>
      <string>u1B2B7</string>
      <string>u1B2B7.vert</string>
      <string>u1B2B8</string>
      <string>u1B2B8.vert</string>
      <string>u1B2B9</string>
      <string>u1B2B9.vert</string>
      <string>u1B2BA</string>
      <string>u1B2BA.vert</string>
      <string>u1B2BB</string>
      <string>u1B2BB.vert</string>
      <string>u1B2BC</string>
      <string>u1B2BC.vert</string>
      <string>u1B2BD</string>
      <string>u1B2BD.vert</string>
      <string>u1B2BE</string>
      <string>u1B2BE.vert</string>
      <string>u1B2BF</string>
      <string>u1B2BF.vert</string>
      <string>u1B2C0</string>
      <string>u1B2C0.vert</string>
      <string>u1B2C1</string>
      <string>u1B2C1.vert</string>
      <string>u1B2C2</string>
      <string>u1B2C2.vert</string>
      <string>u1B2C3</string>
      <string>u1B2C3.vert</string>
      <string>u1B2C4</string>
      <string>u1B2C4.vert</string>
      <string>u1B2C5</string>
      <string>u1B2C5.vert</string>
      <string>u1B2C6</string>
      <string>u1B2C6.vert</string>
      <string>u1B2C7</string>
      <string>u1B2C7.vert</string>
      <string>u1B2C8</string>
      <string>u1B2C8.vert</string>
      <string>u1B2C9</string>
      <string>u1B2C9.vert</string>
      <string>u1B2CA</string>
      <string>u1B2CA.vert</string>
      <string>u1B2CB</string>
      <string>u1B2CB.vert</string>
      <string>u1B2CC</string>
      <string>u1B2CC.vert</string>
      <string>u1B2CD</string>
      <string>u1B2CD.vert</string>
      <string>u1B2CE</string>
      <string>u1B2CE.vert</string>
      <string>u1B2CF</string>
      <string>u1B2CF.vert</string>
      <string>u1B2D0</string>
      <string>u1B2D0.vert</string>
      <string>u1B2D1</string>
      <string>u1B2D1.vert</string>
      <string>u1B2D2</string>
      <string>u1B2D2.vert</string>
      <string>u1B2D3</string>
      <string>u1B2D3.vert</string>
      <string>u1B2D4</string>
      <string>u1B2D4.vert</string>
      <string>u1B2D5</string>
      <string>u1B2D5.vert</string>
      <string>u1B2D6</string>
      <string>u1B2D6.vert</string>
      <string>u1B2D7</string>
      <string>u1B2D7.vert</string>
      <string>u1B2D8</string>
      <string>u1B2D8.vert</string>
      <string>u1B2D9</string>
      <string>u1B2D9.vert</string>
      <string>u1B2DA</string>
      <string>u1B2DA.vert</string>
      <string>u1B2DB</string>
      <string>u1B2DB.vert</string>
      <string>u1B2DC</string>
      <string>u1B2DC.vert</string>
      <string>u1B2DD</string>
      <string>u1B2DD.vert</string>
      <string>u1B2DE</string>
      <string>u1B2DE.vert</string>
      <string>u1B2DF</string>
      <string>u1B2DF.vert</string>
      <string>u1B2E0</string>
      <string>u1B2E0.vert</string>
      <string>u1B2E1</string>
      <string>u1B2E1.vert</string>
      <string>u1B2E2</string>
      <string>u1B2E2.vert</string>
      <string>u1B2E3</string>
      <string>u1B2E3.vert</string>
      <string>u1B2E4</string>
      <string>u1B2E4.vert</string>
      <string>u1B2E5</string>
      <string>u1B2E5.vert</string>
      <string>u1B2E6</string>
      <string>u1B2E6.vert</string>
      <string>u1B2E7</string>
      <string>u1B2E7.vert</string>
      <string>u1B2E8</string>
      <string>u1B2E8.vert</string>
      <string>u1B2E9</string>
      <string>u1B2E9.vert</string>
      <string>u1B2EA</string>
      <string>u1B2EA.vert</string>
      <string>u1B2EB</string>
      <string>u1B2EB.vert</string>
      <string>u1B2EC</string>
      <string>u1B2EC.vert</string>
      <string>u1B2ED</string>
      <string>u1B2ED.vert</string>
      <string>u1B2EE</string>
      <string>u1B2EE.vert</string>
      <string>u1B2EF</string>
      <string>u1B2EF.vert</string>
      <string>u1B2F0</string>
      <string>u1B2F0.vert</string>
      <string>u1B2F1</string>
      <string>u1B2F1.vert</string>
      <string>u1B2F2</string>
      <string>u1B2F2.vert</string>
      <string>u1B2F3</string>
      <string>u1B2F3.vert</string>
      <string>u1B2F4</string>
      <string>u1B2F4.vert</string>
      <string>u1B2F5</string>
      <string>u1B2F5.vert</string>
      <string>u1B2F6</string>
      <string>u1B2F6.vert</string>
      <string>u1B2F7</string>
      <string>u1B2F7.vert</string>
      <string>u1B2F8</string>
      <string>u1B2F8.vert</string>
      <string>u1B2F9</string>
      <string>u1B2F9.vert</string>
      <string>u1B2FA</string>
      <string>u1B2FA.vert</string>
      <string>u1B2FB</string>
      <string>u1B2FB.vert</string>
      <string>uni3000</string>
      <string>uni3002</string>
      <string>uni4E00</string>
      <string>uniFE12</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
    </array>
  </dict>
</plist>
