<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>philosophersSulfur-alchemical</key>
    <string>philosophersS_ulfur-alchemical.glif</string>
    <key>sulfur-alchemical</key>
    <string>sulfur-alchemical.glif</string>
    <key>vinegar-alchemical</key>
    <string>vinegar-alchemical.glif</string>
    <key>vinegar2-alchemical</key>
    <string>vinegar2-alchemical.glif</string>
  </dict>
</plist>
