<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>973</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10B40</string>
      <string>u10B41</string>
      <string>u10B42</string>
      <string>u10B4210B45</string>
      <string>u10B43</string>
      <string>u10B44</string>
      <string>u10B45</string>
      <string>u10B46</string>
      <string>u10B47</string>
      <string>u10B4710B45</string>
      <string>u10B48</string>
      <string>u10B49</string>
      <string>u10B4910B45</string>
      <string>u10B4A</string>
      <string>u10B4B</string>
      <string>u10B4C</string>
      <string>u10B4D</string>
      <string>u10B4D.alt01</string>
      <string>u10B4D10B43</string>
      <string>u10B4D10B45</string>
      <string>u10B4D10B4D</string>
      <string>u10B4E</string>
      <string>u10B4F</string>
      <string>u10B4F10B4B</string>
      <string>u10B50</string>
      <string>u10B51</string>
      <string>u10B51.alt01</string>
      <string>u10B52</string>
      <string>u10B53</string>
      <string>u10B5310B45</string>
      <string>u10B54</string>
      <string>u10B55</string>
      <string>u10B5510B45</string>
      <string>u10B58</string>
      <string>u10B59</string>
      <string>u10B5A</string>
      <string>u10B5B</string>
      <string>u10B5C</string>
      <string>u10B5D</string>
      <string>u10B5E</string>
      <string>u10B5F</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
