<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>finalnun-hb</key>
    <string>finalnun-hb.glif</string>
    <key>finalpe-hb</key>
    <string>finalpe-hb.glif</string>
    <key>finaltsadi-hb</key>
    <string>finaltsadi-hb.glif</string>
    <key>gershayim-hb</key>
    <string>gershayim-hb.glif</string>
    <key>gimel-hb</key>
    <string>gimel-hb.glif</string>
    <key>het-hb</key>
    <string>het-hb.glif</string>
    <key>qof-hb</key>
    <string>qof-hb.glif</string>
    <key>yod-hb</key>
    <string>yod-hb.glif</string>
    <key>zaqefgadol-hb</key>
    <string>zaqefgadol-hb.glif</string>
  </dict>
</plist>
