<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>aquaRegia2-alchemical</key>
    <string>aquaR_egia2-alchemical.glif</string>
    <key>aquaVitae-alchemical</key>
    <string>aquaV_itae-alchemical.glif</string>
  </dict>
</plist>
