<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>comma.ar</key>
    <string>comma.ar.glif</string>
    <key>fullstop.ar</key>
    <string>fullstop.ar.glif</string>
    <key>kashida.ar</key>
    <string>kashida.ar.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>question.ar</key>
    <string>question.ar.glif</string>
    <key>semicolon.ar</key>
    <string>semicolon.ar.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0660</key>
    <string>uni0660.glif</string>
    <key>uni10D00</key>
    <string>uni10D_00.glif</string>
    <key>uni10D00.init</key>
    <string>uni10D_00.init.glif</string>
    <key>uni10D01</key>
    <string>uni10D_01.glif</string>
    <key>uni10D01.fina</key>
    <string>uni10D_01.fina.glif</string>
    <key>uni10D01.init</key>
    <string>uni10D_01.init.glif</string>
    <key>uni10D01.medi</key>
    <string>uni10D_01.medi.glif</string>
    <key>uni10D02</key>
    <string>uni10D_02.glif</string>
    <key>uni10D02.fina</key>
    <string>uni10D_02.fina.glif</string>
    <key>uni10D02.init</key>
    <string>uni10D_02.init.glif</string>
    <key>uni10D02.medi</key>
    <string>uni10D_02.medi.glif</string>
    <key>uni10D03</key>
    <string>uni10D_03.glif</string>
    <key>uni10D03.fina</key>
    <string>uni10D_03.fina.glif</string>
    <key>uni10D03.init</key>
    <string>uni10D_03.init.glif</string>
    <key>uni10D03.medi</key>
    <string>uni10D_03.medi.glif</string>
    <key>uni10D04</key>
    <string>uni10D_04.glif</string>
    <key>uni10D04.fina</key>
    <string>uni10D_04.fina.glif</string>
    <key>uni10D04.init</key>
    <string>uni10D_04.init.glif</string>
    <key>uni10D04.medi</key>
    <string>uni10D_04.medi.glif</string>
    <key>uni10D05</key>
    <string>uni10D_05.glif</string>
    <key>uni10D05.fina</key>
    <string>uni10D_05.fina.glif</string>
    <key>uni10D05.init</key>
    <string>uni10D_05.init.glif</string>
    <key>uni10D05.medi</key>
    <string>uni10D_05.medi.glif</string>
    <key>uni10D06</key>
    <string>uni10D_06.glif</string>
    <key>uni10D06.fina</key>
    <string>uni10D_06.fina.glif</string>
    <key>uni10D06.init</key>
    <string>uni10D_06.init.glif</string>
    <key>uni10D06.medi</key>
    <string>uni10D_06.medi.glif</string>
    <key>uni10D07</key>
    <string>uni10D_07.glif</string>
    <key>uni10D07.fina</key>
    <string>uni10D_07.fina.glif</string>
    <key>uni10D07.init</key>
    <string>uni10D_07.init.glif</string>
    <key>uni10D07.medi</key>
    <string>uni10D_07.medi.glif</string>
    <key>uni10D08</key>
    <string>uni10D_08.glif</string>
    <key>uni10D08.fina</key>
    <string>uni10D_08.fina.glif</string>
    <key>uni10D08.init</key>
    <string>uni10D_08.init.glif</string>
    <key>uni10D08.medi</key>
    <string>uni10D_08.medi.glif</string>
    <key>uni10D09</key>
    <string>uni10D_09.glif</string>
    <key>uni10D09.fina</key>
    <string>uni10D_09.fina.glif</string>
    <key>uni10D09.init</key>
    <string>uni10D_09.init.glif</string>
    <key>uni10D09.medi</key>
    <string>uni10D_09.medi.glif</string>
    <key>uni10D0A</key>
    <string>uni10D_0A_.glif</string>
    <key>uni10D0A.fina</key>
    <string>uni10D_0A_.fina.glif</string>
    <key>uni10D0A.init</key>
    <string>uni10D_0A_.init.glif</string>
    <key>uni10D0A.medi</key>
    <string>uni10D_0A_.medi.glif</string>
    <key>uni10D0B</key>
    <string>uni10D_0B_.glif</string>
    <key>uni10D0B.fina</key>
    <string>uni10D_0B_.fina.glif</string>
    <key>uni10D0B.init</key>
    <string>uni10D_0B_.init.glif</string>
    <key>uni10D0B.medi</key>
    <string>uni10D_0B_.medi.glif</string>
    <key>uni10D0C</key>
    <string>uni10D_0C_.glif</string>
    <key>uni10D0C.fina</key>
    <string>uni10D_0C_.fina.glif</string>
    <key>uni10D0C.init</key>
    <string>uni10D_0C_.init.glif</string>
    <key>uni10D0C.medi</key>
    <string>uni10D_0C_.medi.glif</string>
    <key>uni10D0D</key>
    <string>uni10D_0D_.glif</string>
    <key>uni10D0D.fina</key>
    <string>uni10D_0D_.fina.glif</string>
    <key>uni10D0D.init</key>
    <string>uni10D_0D_.init.glif</string>
    <key>uni10D0D.medi</key>
    <string>uni10D_0D_.medi.glif</string>
    <key>uni10D0E</key>
    <string>uni10D_0E_.glif</string>
    <key>uni10D0E.fina</key>
    <string>uni10D_0E_.fina.glif</string>
    <key>uni10D0E.init</key>
    <string>uni10D_0E_.init.glif</string>
    <key>uni10D0E.medi</key>
    <string>uni10D_0E_.medi.glif</string>
    <key>uni10D0F</key>
    <string>uni10D_0F_.glif</string>
    <key>uni10D0F.fina</key>
    <string>uni10D_0F_.fina.glif</string>
    <key>uni10D0F.init</key>
    <string>uni10D_0F_.init.glif</string>
    <key>uni10D0F.medi</key>
    <string>uni10D_0F_.medi.glif</string>
    <key>uni10D10</key>
    <string>uni10D_10.glif</string>
    <key>uni10D10.fina</key>
    <string>uni10D_10.fina.glif</string>
    <key>uni10D10.init</key>
    <string>uni10D_10.init.glif</string>
    <key>uni10D10.medi</key>
    <string>uni10D_10.medi.glif</string>
    <key>uni10D11</key>
    <string>uni10D_11.glif</string>
    <key>uni10D11.fina</key>
    <string>uni10D_11.fina.glif</string>
    <key>uni10D11.init</key>
    <string>uni10D_11.init.glif</string>
    <key>uni10D11.medi</key>
    <string>uni10D_11.medi.glif</string>
    <key>uni10D12</key>
    <string>uni10D_12.glif</string>
    <key>uni10D12.fina</key>
    <string>uni10D_12.fina.glif</string>
    <key>uni10D12.init</key>
    <string>uni10D_12.init.glif</string>
    <key>uni10D12.medi</key>
    <string>uni10D_12.medi.glif</string>
    <key>uni10D13</key>
    <string>uni10D_13.glif</string>
    <key>uni10D13.fina</key>
    <string>uni10D_13.fina.glif</string>
    <key>uni10D13.init</key>
    <string>uni10D_13.init.glif</string>
    <key>uni10D13.medi</key>
    <string>uni10D_13.medi.glif</string>
    <key>uni10D14</key>
    <string>uni10D_14.glif</string>
    <key>uni10D14.fina</key>
    <string>uni10D_14.fina.glif</string>
    <key>uni10D14.init</key>
    <string>uni10D_14.init.glif</string>
    <key>uni10D14.medi</key>
    <string>uni10D_14.medi.glif</string>
    <key>uni10D15</key>
    <string>uni10D_15.glif</string>
    <key>uni10D15.fina</key>
    <string>uni10D_15.fina.glif</string>
    <key>uni10D15.init</key>
    <string>uni10D_15.init.glif</string>
    <key>uni10D15.medi</key>
    <string>uni10D_15.medi.glif</string>
    <key>uni10D16</key>
    <string>uni10D_16.glif</string>
    <key>uni10D16.fina</key>
    <string>uni10D_16.fina.glif</string>
    <key>uni10D16.init</key>
    <string>uni10D_16.init.glif</string>
    <key>uni10D16.medi</key>
    <string>uni10D_16.medi.glif</string>
    <key>uni10D17</key>
    <string>uni10D_17.glif</string>
    <key>uni10D17.fina</key>
    <string>uni10D_17.fina.glif</string>
    <key>uni10D17.init</key>
    <string>uni10D_17.init.glif</string>
    <key>uni10D17.medi</key>
    <string>uni10D_17.medi.glif</string>
    <key>uni10D18</key>
    <string>uni10D_18.glif</string>
    <key>uni10D18.fina</key>
    <string>uni10D_18.fina.glif</string>
    <key>uni10D18.init</key>
    <string>uni10D_18.init.glif</string>
    <key>uni10D18.medi</key>
    <string>uni10D_18.medi.glif</string>
    <key>uni10D19</key>
    <string>uni10D_19.glif</string>
    <key>uni10D19.fina</key>
    <string>uni10D_19.fina.glif</string>
    <key>uni10D19.init</key>
    <string>uni10D_19.init.glif</string>
    <key>uni10D19.medi</key>
    <string>uni10D_19.medi.glif</string>
    <key>uni10D1A</key>
    <string>uni10D_1A_.glif</string>
    <key>uni10D1A.fina</key>
    <string>uni10D_1A_.fina.glif</string>
    <key>uni10D1A.init</key>
    <string>uni10D_1A_.init.glif</string>
    <key>uni10D1A.medi</key>
    <string>uni10D_1A_.medi.glif</string>
    <key>uni10D1B</key>
    <string>uni10D_1B_.glif</string>
    <key>uni10D1B.fina</key>
    <string>uni10D_1B_.fina.glif</string>
    <key>uni10D1B.init</key>
    <string>uni10D_1B_.init.glif</string>
    <key>uni10D1B.medi</key>
    <string>uni10D_1B_.medi.glif</string>
    <key>uni10D1C</key>
    <string>uni10D_1C_.glif</string>
    <key>uni10D1C.fina</key>
    <string>uni10D_1C_.fina.glif</string>
    <key>uni10D1C.init</key>
    <string>uni10D_1C_.init.glif</string>
    <key>uni10D1C.medi</key>
    <string>uni10D_1C_.medi.glif</string>
    <key>uni10D1D</key>
    <string>uni10D_1D_.glif</string>
    <key>uni10D1D.fina</key>
    <string>uni10D_1D_.fina.glif</string>
    <key>uni10D1D.init</key>
    <string>uni10D_1D_.init.glif</string>
    <key>uni10D1D.medi</key>
    <string>uni10D_1D_.medi.glif</string>
    <key>uni10D1E</key>
    <string>uni10D_1E_.glif</string>
    <key>uni10D1E.fina</key>
    <string>uni10D_1E_.fina.glif</string>
    <key>uni10D1E.init</key>
    <string>uni10D_1E_.init.glif</string>
    <key>uni10D1E.medi</key>
    <string>uni10D_1E_.medi.glif</string>
    <key>uni10D1F</key>
    <string>uni10D_1F_.glif</string>
    <key>uni10D1F.fina</key>
    <string>uni10D_1F_.fina.glif</string>
    <key>uni10D1F.init</key>
    <string>uni10D_1F_.init.glif</string>
    <key>uni10D1F.medi</key>
    <string>uni10D_1F_.medi.glif</string>
    <key>uni10D20</key>
    <string>uni10D_20.glif</string>
    <key>uni10D20.fina</key>
    <string>uni10D_20.fina.glif</string>
    <key>uni10D20.init</key>
    <string>uni10D_20.init.glif</string>
    <key>uni10D20.medi</key>
    <string>uni10D_20.medi.glif</string>
    <key>uni10D21</key>
    <string>uni10D_21.glif</string>
    <key>uni10D21.fina</key>
    <string>uni10D_21.fina.glif</string>
    <key>uni10D21.init</key>
    <string>uni10D_21.init.glif</string>
    <key>uni10D21.medi</key>
    <string>uni10D_21.medi.glif</string>
    <key>uni10D22</key>
    <string>uni10D_22.glif</string>
    <key>uni10D22.fina</key>
    <string>uni10D_22.fina.glif</string>
    <key>uni10D23</key>
    <string>uni10D_23.glif</string>
    <key>uni10D23.fina</key>
    <string>uni10D_23.fina.glif</string>
    <key>uni10D23.init</key>
    <string>uni10D_23.init.glif</string>
    <key>uni10D23.medi</key>
    <string>uni10D_23.medi.glif</string>
    <key>uni10D24</key>
    <string>uni10D_24.glif</string>
    <key>uni10D25</key>
    <string>uni10D_25.glif</string>
    <key>uni10D26</key>
    <string>uni10D_26.glif</string>
    <key>uni10D26.ss01</key>
    <string>uni10D_26.ss01.glif</string>
    <key>uni10D27</key>
    <string>uni10D_27.glif</string>
    <key>uni10D30</key>
    <string>uni10D_30.glif</string>
    <key>uni10D31</key>
    <string>uni10D_31.glif</string>
    <key>uni10D32</key>
    <string>uni10D_32.glif</string>
    <key>uni10D33</key>
    <string>uni10D_33.glif</string>
    <key>uni10D34</key>
    <string>uni10D_34.glif</string>
    <key>uni10D35</key>
    <string>uni10D_35.glif</string>
    <key>uni10D36</key>
    <string>uni10D_36.glif</string>
    <key>uni10D37</key>
    <string>uni10D_37.glif</string>
    <key>uni10D38</key>
    <string>uni10D_38.glif</string>
    <key>uni10D39</key>
    <string>uni10D_39.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
