<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>ZWNJ</key>
    <string>Z_W_N_J_.glif</string>
    <key>_part.iMatra</key>
    <string>_part.iM_atra.glif</string>
    <key>_part.ii_straight</key>
    <string>_part.ii_straight.glif</string>
    <key>_part.rVocalicMatra</key>
    <string>_part.rV_ocalicM_atra.glif</string>
    <key>_part.ravattu</key>
    <string>_part.ravattu.glif</string>
    <key>_part.rrVocalicMatra</key>
    <string>_part.rrV_ocalicM_atra.glif</string>
    <key>_part.viramalig_loop</key>
    <string>_part.viramalig_loop.glif</string>
    <key>a_gran</key>
    <string>a_gran.glif</string>
    <key>aaMatra_gran</key>
    <string>aaM_atra_gran.glif</string>
    <key>aa_gran</key>
    <string>aa_gran.glif</string>
    <key>acomb_gran</key>
    <string>acomb_gran.glif</string>
    <key>aiMatra_gran</key>
    <string>aiM_atra_gran.glif</string>
    <key>ai_gran</key>
    <string>ai_gran.glif</string>
    <key>anudatta_deva</key>
    <string>anudatta_deva.glif</string>
    <key>anudatta_deva.alt</key>
    <string>anudatta_deva.alt.glif</string>
    <key>anusvaraAbove_gran</key>
    <string>anusvaraA_bove_gran.glif</string>
    <key>anusvaraVedic_gran</key>
    <string>anusvaraV_edic_gran.glif</string>
    <key>anusvara_gran</key>
    <string>anusvara_gran.glif</string>
    <key>ardhavisarga_vedic</key>
    <string>ardhavisarga_vedic.glif</string>
    <key>asteriskabovecomb</key>
    <string>asteriskabovecomb.glif</string>
    <key>auLengthMark_gran</key>
    <string>auL_engthM_ark_gran.glif</string>
    <key>auMatra_gran</key>
    <string>auM_atra_gran.glif</string>
    <key>au_gran</key>
    <string>au_gran.glif</string>
    <key>avagraha_gran</key>
    <string>avagraha_gran.glif</string>
    <key>avagraha_gran.alt</key>
    <string>avagraha_gran.alt.glif</string>
    <key>ba.base</key>
    <string>ba.base.glif</string>
    <key>ba_gran</key>
    <string>ba_gran.glif</string>
    <key>ba_gran.below</key>
    <string>ba_gran.below.glif</string>
    <key>ba_virama_gran</key>
    <string>ba_virama_gran.glif</string>
    <key>ba_virama_gran.liga</key>
    <string>ba_virama_gran.liga.glif</string>
    <key>bha_gran</key>
    <string>bha_gran.glif</string>
    <key>bha_gran.below</key>
    <string>bha_gran.below.glif</string>
    <key>bha_gran.flat</key>
    <string>bha_gran.flat.glif</string>
    <key>bha_gran.flat.below</key>
    <string>bha_gran.flat.below.glif</string>
    <key>bha_virama_gran</key>
    <string>bha_virama_gran.glif</string>
    <key>bha_virama_gran.flat</key>
    <string>bha_virama_gran.flat.glif</string>
    <key>bhi_gran</key>
    <string>bhi_gran.glif</string>
    <key>bhi_gran.flat</key>
    <string>bhi_gran.flat.glif</string>
    <key>bi_gran</key>
    <string>bi_gran.glif</string>
    <key>bii_gran</key>
    <string>bii_gran.glif</string>
    <key>binducomb_gran</key>
    <string>binducomb_gran.glif</string>
    <key>ca.base</key>
    <string>ca.base.glif</string>
    <key>ca_gran</key>
    <string>ca_gran.glif</string>
    <key>ca_gran.below</key>
    <string>ca_gran.below.glif</string>
    <key>ca_virama_gran</key>
    <string>ca_virama_gran.glif</string>
    <key>ca_virama_gran.liga</key>
    <string>ca_virama_gran.liga.glif</string>
    <key>candrabindu_gran</key>
    <string>candrabindu_gran.glif</string>
    <key>cha_gran</key>
    <string>cha_gran.glif</string>
    <key>cha_gran.below</key>
    <string>cha_gran.below.glif</string>
    <key>cha_virama_gran</key>
    <string>cha_virama_gran.glif</string>
    <key>chi_gran</key>
    <string>chi_gran.glif</string>
    <key>ci_gran</key>
    <string>ci_gran.glif</string>
    <key>cii_gran</key>
    <string>cii_gran.glif</string>
    <key>d_dha_gran</key>
    <string>d_dha_gran.glif</string>
    <key>d_dha_gran.below</key>
    <string>d_dha_gran.below.glif</string>
    <key>d_dha_virama_gran</key>
    <string>d_dha_virama_gran.glif</string>
    <key>d_dhi_gran</key>
    <string>d_dhi_gran.glif</string>
    <key>d_dhii_gran</key>
    <string>d_dhii_gran.glif</string>
    <key>d_va_gran</key>
    <string>d_va_gran.glif</string>
    <key>d_va_gran.below</key>
    <string>d_va_gran.below.glif</string>
    <key>d_vi_gran</key>
    <string>d_vi_gran.glif</string>
    <key>d_vii_gran</key>
    <string>d_vii_gran.glif</string>
    <key>da_gran</key>
    <string>da_gran.glif</string>
    <key>da_gran.below</key>
    <string>da_gran.below.glif</string>
    <key>da_virama_gran</key>
    <string>da_virama_gran.glif</string>
    <key>da_virama_gran.liga</key>
    <string>da_virama_gran.liga.glif</string>
    <key>danda_deva</key>
    <string>danda_deva.glif</string>
    <key>dbldanda_deva</key>
    <string>dbldanda_deva.glif</string>
    <key>dda_gran</key>
    <string>dda_gran.glif</string>
    <key>dda_gran.below</key>
    <string>dda_gran.below.glif</string>
    <key>dda_virama_gran</key>
    <string>dda_virama_gran.glif</string>
    <key>dda_virama_gran.liga</key>
    <string>dda_virama_gran.liga.glif</string>
    <key>ddha_gran</key>
    <string>ddha_gran.glif</string>
    <key>ddha_gran.below</key>
    <string>ddha_gran.below.glif</string>
    <key>ddha_virama_gran</key>
    <string>ddha_virama_gran.glif</string>
    <key>ddhi_gran</key>
    <string>ddhi_gran.glif</string>
    <key>ddi_gran</key>
    <string>ddi_gran.glif</string>
    <key>ddii_gran</key>
    <string>ddii_gran.glif</string>
    <key>dha_gran</key>
    <string>dha_gran.glif</string>
    <key>dha_gran.below</key>
    <string>dha_gran.below.glif</string>
    <key>dha_virama_gran</key>
    <string>dha_virama_gran.glif</string>
    <key>dhi_gran</key>
    <string>dhi_gran.glif</string>
    <key>dhii_gran</key>
    <string>dhii_gran.glif</string>
    <key>di_gran</key>
    <string>di_gran.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>doubleAnusvaraVedic_gran</key>
    <string>doubleA_nusvaraV_edic_gran.glif</string>
    <key>doublevocalic.right</key>
    <string>doublevocalic.right.glif</string>
    <key>eeMatra_gran</key>
    <string>eeM_atra_gran.glif</string>
    <key>ee_gran</key>
    <string>ee_gran.glif</string>
    <key>eight_tamil</key>
    <string>eight_tamil.glif</string>
    <key>five_tamil</key>
    <string>five_tamil.glif</string>
    <key>fivecomb_gran</key>
    <string>fivecomb_gran.glif</string>
    <key>four_tamil</key>
    <string>four_tamil.glif</string>
    <key>fourcomb_gran</key>
    <string>fourcomb_gran.glif</string>
    <key>ga_gran</key>
    <string>ga_gran.glif</string>
    <key>ga_gran.below</key>
    <string>ga_gran.below.glif</string>
    <key>ga_gran.flat</key>
    <string>ga_gran.flat.glif</string>
    <key>ga_gran.flat.below</key>
    <string>ga_gran.flat.below.glif</string>
    <key>ga_virama_gran</key>
    <string>ga_virama_gran.glif</string>
    <key>ga_virama_gran.flat</key>
    <string>ga_virama_gran.flat.glif</string>
    <key>ga_virama_gran.liga</key>
    <string>ga_virama_gran.liga.glif</string>
    <key>gha.base</key>
    <string>gha.base.glif</string>
    <key>gha_gran</key>
    <string>gha_gran.glif</string>
    <key>gha_gran.below</key>
    <string>gha_gran.below.glif</string>
    <key>gha_virama_gran</key>
    <string>gha_virama_gran.glif</string>
    <key>ghi_gran</key>
    <string>ghi_gran.glif</string>
    <key>ghii_gran</key>
    <string>ghii_gran.glif</string>
    <key>gi_gran</key>
    <string>gi_gran.glif</string>
    <key>gi_gran.flat</key>
    <string>gi_gran.flat.glif</string>
    <key>h_ma_gran</key>
    <string>h_ma_gran.glif</string>
    <key>h_ma_gran.below</key>
    <string>h_ma_gran.below.glif</string>
    <key>h_mi_gran</key>
    <string>h_mi_gran.glif</string>
    <key>ha_gran</key>
    <string>ha_gran.glif</string>
    <key>ha_gran.below</key>
    <string>ha_gran.below.glif</string>
    <key>ha_gran.flat</key>
    <string>ha_gran.flat.glif</string>
    <key>ha_gran.flat.below</key>
    <string>ha_gran.flat.below.glif</string>
    <key>ha_virama_gran</key>
    <string>ha_virama_gran.glif</string>
    <key>ha_virama_gran.flat</key>
    <string>ha_virama_gran.flat.glif</string>
    <key>ha_virama_gran.liga</key>
    <string>ha_virama_gran.liga.glif</string>
    <key>hi_gran</key>
    <string>hi_gran.glif</string>
    <key>hi_gran.flat</key>
    <string>hi_gran.flat.glif</string>
    <key>iMatra_gran</key>
    <string>iM_atra_gran.glif</string>
    <key>i_gran</key>
    <string>i_gran.glif</string>
    <key>iiMatra_gran</key>
    <string>iiM_atra_gran.glif</string>
    <key>ii_gran</key>
    <string>ii_gran.glif</string>
    <key>j_j_nya_gran</key>
    <string>j_j_nya_gran.glif</string>
    <key>j_ja_gran</key>
    <string>j_ja_gran.glif</string>
    <key>j_ja_gran.below</key>
    <string>j_ja_gran.below.glif</string>
    <key>j_ji_gran</key>
    <string>j_ji_gran.glif</string>
    <key>j_nya_gran</key>
    <string>j_nya_gran.glif</string>
    <key>j_nya_gran.below</key>
    <string>j_nya_gran.below.glif</string>
    <key>j_nyi_gran</key>
    <string>j_nyi_gran.glif</string>
    <key>ja_gran</key>
    <string>ja_gran.glif</string>
    <key>ja_gran.below</key>
    <string>ja_gran.below.glif</string>
    <key>ja_virama_gran</key>
    <string>ja_virama_gran.glif</string>
    <key>ja_virama_gran.liga</key>
    <string>ja_virama_gran.liga.glif</string>
    <key>jha_gran</key>
    <string>jha_gran.glif</string>
    <key>jha_gran.below</key>
    <string>jha_gran.below.glif</string>
    <key>jha_virama_gran</key>
    <string>jha_virama_gran.glif</string>
    <key>jhi_gran</key>
    <string>jhi_gran.glif</string>
    <key>jhii_gran</key>
    <string>jhii_gran.glif</string>
    <key>ji_gran</key>
    <string>ji_gran.glif</string>
    <key>k_ssa_gran</key>
    <string>k_ssa_gran.glif</string>
    <key>k_ssa_gran.below</key>
    <string>k_ssa_gran.below.glif</string>
    <key>k_ssa_gran.flat</key>
    <string>k_ssa_gran.flat.glif</string>
    <key>k_ssa_gran.flat.below</key>
    <string>k_ssa_gran.flat.below.glif</string>
    <key>k_ssi_gran</key>
    <string>k_ssi_gran.glif</string>
    <key>k_ssi_gran.flat</key>
    <string>k_ssi_gran.flat.glif</string>
    <key>k_t_va_gran</key>
    <string>k_t_va_gran.glif</string>
    <key>k_t_va_gran.below</key>
    <string>k_t_va_gran.below.glif</string>
    <key>k_t_vi_gran</key>
    <string>k_t_vi_gran.glif</string>
    <key>k_t_vii_gran</key>
    <string>k_t_vii_gran.glif</string>
    <key>k_ta_gran</key>
    <string>k_ta_gran.glif</string>
    <key>k_ta_gran.below</key>
    <string>k_ta_gran.below.glif</string>
    <key>k_ta_gran.flat</key>
    <string>k_ta_gran.flat.glif</string>
    <key>k_ta_gran.flat.below</key>
    <string>k_ta_gran.flat.below.glif</string>
    <key>k_ti_gran</key>
    <string>k_ti_gran.glif</string>
    <key>k_ti_gran.flat</key>
    <string>k_ti_gran.flat.glif</string>
    <key>ka_gran</key>
    <string>ka_gran.glif</string>
    <key>ka_gran.below</key>
    <string>ka_gran.below.glif</string>
    <key>ka_virama_gran</key>
    <string>ka_virama_gran.glif</string>
    <key>ka_virama_gran.liga</key>
    <string>ka_virama_gran.liga.glif</string>
    <key>kacomb_gran</key>
    <string>kacomb_gran.glif</string>
    <key>karshana_vedic</key>
    <string>karshana_vedic.glif</string>
    <key>kha_gran</key>
    <string>kha_gran.glif</string>
    <key>kha_gran.alt</key>
    <string>kha_gran.alt.glif</string>
    <key>kha_gran.below</key>
    <string>kha_gran.below.glif</string>
    <key>kha_virama_gran</key>
    <string>kha_virama_gran.glif</string>
    <key>kha_virama_gran.alt</key>
    <string>kha_virama_gran.alt.glif</string>
    <key>khi_gran</key>
    <string>khi_gran.glif</string>
    <key>khi_gran.alt</key>
    <string>khi_gran.alt.glif</string>
    <key>khii_gran</key>
    <string>khii_gran.glif</string>
    <key>khii_gran.alt</key>
    <string>khii_gran.alt.glif</string>
    <key>ki_gran</key>
    <string>ki_gran.glif</string>
    <key>lVocalicMatra_gran</key>
    <string>lV_ocalicM_atra_gran.glif</string>
    <key>lVocalic_gran</key>
    <string>lV_ocalic_gran.glif</string>
    <key>la_gran</key>
    <string>la_gran.glif</string>
    <key>la_gran.below</key>
    <string>la_gran.below.glif</string>
    <key>la_virama_gran</key>
    <string>la_virama_gran.glif</string>
    <key>li_gran</key>
    <string>li_gran.glif</string>
    <key>lii_gran</key>
    <string>lii_gran.glif</string>
    <key>llVocalicMatra_gran</key>
    <string>llV_ocalicM_atra_gran.glif</string>
    <key>llVocalic_gran</key>
    <string>llV_ocalic_gran.glif</string>
    <key>lla_gran</key>
    <string>lla_gran.glif</string>
    <key>lla_gran.below</key>
    <string>lla_gran.below.glif</string>
    <key>lla_virama_gran</key>
    <string>lla_virama_gran.glif</string>
    <key>lli_gran</key>
    <string>lli_gran.glif</string>
    <key>llii_gran</key>
    <string>llii_gran.glif</string>
    <key>m_ma_gran</key>
    <string>m_ma_gran.glif</string>
    <key>m_ma_gran.below</key>
    <string>m_ma_gran.below.glif</string>
    <key>m_mi_gran</key>
    <string>m_mi_gran.glif</string>
    <key>ma_gran</key>
    <string>ma_gran.glif</string>
    <key>ma_gran.below</key>
    <string>ma_gran.below.glif</string>
    <key>ma_virama_gran.liga</key>
    <string>ma_virama_gran.liga.glif</string>
    <key>ma_virama_gran.liga.alt</key>
    <string>ma_virama_gran.liga.alt.glif</string>
    <key>mi_gran</key>
    <string>mi_gran.glif</string>
    <key>n_da_gran</key>
    <string>n_da_gran.glif</string>
    <key>n_da_gran.below</key>
    <string>n_da_gran.below.glif</string>
    <key>n_dha_gran</key>
    <string>n_dha_gran.glif</string>
    <key>n_dha_gran.below</key>
    <string>n_dha_gran.below.glif</string>
    <key>n_dha_virama_gran</key>
    <string>n_dha_virama_gran.glif</string>
    <key>n_dhi_gran</key>
    <string>n_dhi_gran.glif</string>
    <key>n_dhii_gran</key>
    <string>n_dhii_gran.glif</string>
    <key>n_di_gran</key>
    <string>n_di_gran.glif</string>
    <key>n_ma_gran</key>
    <string>n_ma_gran.glif</string>
    <key>n_ma_gran.below</key>
    <string>n_ma_gran.below.glif</string>
    <key>n_mi_gran</key>
    <string>n_mi_gran.glif</string>
    <key>n_na_gran</key>
    <string>n_na_gran.glif</string>
    <key>n_na_gran.below</key>
    <string>n_na_gran.below.glif</string>
    <key>n_na_gran.flat</key>
    <string>n_na_gran.flat.glif</string>
    <key>n_na_gran.flat.below</key>
    <string>n_na_gran.flat.below.glif</string>
    <key>n_na_virama_gran.liga</key>
    <string>n_na_virama_gran.liga.glif</string>
    <key>n_ni_gran</key>
    <string>n_ni_gran.glif</string>
    <key>n_ni_gran.flat</key>
    <string>n_ni_gran.flat.glif</string>
    <key>n_t_va_gran</key>
    <string>n_t_va_gran.glif</string>
    <key>n_t_va_gran.below</key>
    <string>n_t_va_gran.below.glif</string>
    <key>n_t_vi_gran</key>
    <string>n_t_vi_gran.glif</string>
    <key>n_t_vii_gran</key>
    <string>n_t_vii_gran.glif</string>
    <key>n_ta_gran</key>
    <string>n_ta_gran.glif</string>
    <key>n_ta_gran.below</key>
    <string>n_ta_gran.below.glif</string>
    <key>n_ta_gran.flat</key>
    <string>n_ta_gran.flat.glif</string>
    <key>n_ta_gran.flat.below</key>
    <string>n_ta_gran.flat.below.glif</string>
    <key>n_tha_gran</key>
    <string>n_tha_gran.glif</string>
    <key>n_tha_gran.below</key>
    <string>n_tha_gran.below.glif</string>
    <key>n_thi_gran</key>
    <string>n_thi_gran.glif</string>
    <key>n_thii_gran</key>
    <string>n_thii_gran.glif</string>
    <key>n_ti_gran</key>
    <string>n_ti_gran.glif</string>
    <key>n_ti_gran.flat</key>
    <string>n_ti_gran.flat.glif</string>
    <key>n_va_gran</key>
    <string>n_va_gran.glif</string>
    <key>n_va_gran.below</key>
    <string>n_va_gran.below.glif</string>
    <key>n_vi_gran</key>
    <string>n_vi_gran.glif</string>
    <key>n_vii_gran</key>
    <string>n_vii_gran.glif</string>
    <key>na_gran</key>
    <string>na_gran.glif</string>
    <key>na_gran.below</key>
    <string>na_gran.below.glif</string>
    <key>na_gran.flat</key>
    <string>na_gran.flat.glif</string>
    <key>na_gran.flat.below</key>
    <string>na_gran.flat.below.glif</string>
    <key>na_virama_gran</key>
    <string>na_virama_gran.glif</string>
    <key>na_virama_gran.flat</key>
    <string>na_virama_gran.flat.glif</string>
    <key>na_virama_gran.liga</key>
    <string>na_virama_gran.liga.glif</string>
    <key>nacomb_gran</key>
    <string>nacomb_gran.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga_gran</key>
    <string>nga_gran.glif</string>
    <key>nga_gran.below</key>
    <string>nga_gran.below.glif</string>
    <key>nga_virama_gran</key>
    <string>nga_virama_gran.glif</string>
    <key>nga_virama_gran.liga</key>
    <string>nga_virama_gran.liga.glif</string>
    <key>ngi_gran</key>
    <string>ngi_gran.glif</string>
    <key>ni_gran</key>
    <string>ni_gran.glif</string>
    <key>ni_gran.flat</key>
    <string>ni_gran.flat.glif</string>
    <key>nihshvasa_vedic</key>
    <string>nihshvasa_vedic.glif</string>
    <key>nine_tamil</key>
    <string>nine_tamil.glif</string>
    <key>nna_gran</key>
    <string>nna_gran.glif</string>
    <key>nna_gran.below</key>
    <string>nna_gran.below.glif</string>
    <key>nna_virama_gran</key>
    <string>nna_virama_gran.glif</string>
    <key>nna_virama_gran.liga</key>
    <string>nna_virama_gran.liga.glif</string>
    <key>nni_gran</key>
    <string>nni_gran.glif</string>
    <key>nukta_gran</key>
    <string>nukta_gran.glif</string>
    <key>ny_ca_gran</key>
    <string>ny_ca_gran.glif</string>
    <key>ny_ca_gran.below</key>
    <string>ny_ca_gran.below.glif</string>
    <key>ny_cha_gran</key>
    <string>ny_cha_gran.glif</string>
    <key>ny_cha_gran.below</key>
    <string>ny_cha_gran.below.glif</string>
    <key>ny_chi_gran</key>
    <string>ny_chi_gran.glif</string>
    <key>ny_ci_gran</key>
    <string>ny_ci_gran.glif</string>
    <key>ny_cii_gran</key>
    <string>ny_cii_gran.glif</string>
    <key>ny_ja_gran</key>
    <string>ny_ja_gran.glif</string>
    <key>ny_ja_gran.below</key>
    <string>ny_ja_gran.below.glif</string>
    <key>ny_ji_gran</key>
    <string>ny_ji_gran.glif</string>
    <key>nya_gran</key>
    <string>nya_gran.glif</string>
    <key>nya_gran.below</key>
    <string>nya_gran.below.glif</string>
    <key>nya_virama_gran</key>
    <string>nya_virama_gran.glif</string>
    <key>nya_virama_gran.liga</key>
    <string>nya_virama_gran.liga.glif</string>
    <key>nyi_gran</key>
    <string>nyi_gran.glif</string>
    <key>om_gran</key>
    <string>om_gran.glif</string>
    <key>one_tamil</key>
    <string>one_tamil.glif</string>
    <key>onecomb_gran</key>
    <string>onecomb_gran.glif</string>
    <key>onehundred_tamil</key>
    <string>onehundred_tamil.glif</string>
    <key>onethousand_tamil</key>
    <string>onethousand_tamil.glif</string>
    <key>ooMatra_gran</key>
    <string>ooM_atra_gran.glif</string>
    <key>oo_gran</key>
    <string>oo_gran.glif</string>
    <key>p100</key>
    <string>p100.glif</string>
    <key>p100neg</key>
    <string>p100neg.glif</string>
    <key>p150</key>
    <string>p150.glif</string>
    <key>p150neg</key>
    <string>p150neg.glif</string>
    <key>p200</key>
    <string>p200.glif</string>
    <key>p200neg</key>
    <string>p200neg.glif</string>
    <key>p250</key>
    <string>p250.glif</string>
    <key>p250neg</key>
    <string>p250neg.glif</string>
    <key>p300</key>
    <string>p300.glif</string>
    <key>p300neg</key>
    <string>p300neg.glif</string>
    <key>p350</key>
    <string>p350.glif</string>
    <key>p350neg</key>
    <string>p350neg.glif</string>
    <key>p400</key>
    <string>p400.glif</string>
    <key>p400neg</key>
    <string>p400neg.glif</string>
    <key>p450</key>
    <string>p450.glif</string>
    <key>p450neg</key>
    <string>p450neg.glif</string>
    <key>p50</key>
    <string>p50.glif</string>
    <key>p500</key>
    <string>p500.glif</string>
    <key>p500neg</key>
    <string>p500neg.glif</string>
    <key>p50neg</key>
    <string>p50neg.glif</string>
    <key>p550</key>
    <string>p550.glif</string>
    <key>p550neg</key>
    <string>p550neg.glif</string>
    <key>p600</key>
    <string>p600.glif</string>
    <key>p600neg</key>
    <string>p600neg.glif</string>
    <key>p650</key>
    <string>p650.glif</string>
    <key>p650neg</key>
    <string>p650neg.glif</string>
    <key>p700neg</key>
    <string>p700neg.glif</string>
    <key>p750neg</key>
    <string>p750neg.glif</string>
    <key>p800neg</key>
    <string>p800neg.glif</string>
    <key>pa.base</key>
    <string>pa.base.glif</string>
    <key>pa_gran</key>
    <string>pa_gran.glif</string>
    <key>pa_gran.below</key>
    <string>pa_gran.below.glif</string>
    <key>pa_tamil</key>
    <string>pa_tamil.glif</string>
    <key>pa_virama_gran</key>
    <string>pa_virama_gran.glif</string>
    <key>pa_virama_gran.liga</key>
    <string>pa_virama_gran.liga.glif</string>
    <key>pacomb_gran</key>
    <string>pacomb_gran.glif</string>
    <key>pha_gran</key>
    <string>pha_gran.glif</string>
    <key>pha_gran.below</key>
    <string>pha_gran.below.glif</string>
    <key>pha_virama_gran</key>
    <string>pha_virama_gran.glif</string>
    <key>phi_gran</key>
    <string>phi_gran.glif</string>
    <key>pi_gran</key>
    <string>pi_gran.glif</string>
    <key>pii_gran</key>
    <string>pii_gran.glif</string>
    <key>pluta_gran</key>
    <string>pluta_gran.glif</string>
    <key>prenkha_vedic</key>
    <string>prenkha_vedic.glif</string>
    <key>rVocalicMatra_gran</key>
    <string>rV_ocalicM_atra_gran.glif</string>
    <key>rVocalicMatra_gran.d1</key>
    <string>rV_ocalicM_atra_gran.d1.glif</string>
    <key>rVocalicMatra_gran.d1b</key>
    <string>rV_ocalicM_atra_gran.d1b.glif</string>
    <key>rVocalicMatra_gran.d1h3</key>
    <string>rV_ocalicM_atra_gran.d1h3.glif</string>
    <key>rVocalicMatra_gran.d2</key>
    <string>rV_ocalicM_atra_gran.d2.glif</string>
    <key>rVocalicMatra_gran.d2b</key>
    <string>rV_ocalicM_atra_gran.d2b.glif</string>
    <key>rVocalicMatra_gran.d2bh3</key>
    <string>rV_ocalicM_atra_gran.d2bh3.glif</string>
    <key>rVocalicMatra_gran.d2h3</key>
    <string>rV_ocalicM_atra_gran.d2h3.glif</string>
    <key>rVocalicMatra_gran.d3</key>
    <string>rV_ocalicM_atra_gran.d3.glif</string>
    <key>rVocalicMatra_gran.d3h2</key>
    <string>rV_ocalicM_atra_gran.d3h2.glif</string>
    <key>rVocalicMatra_gran.d3h3</key>
    <string>rV_ocalicM_atra_gran.d3h3.glif</string>
    <key>rVocalicMatra_gran.d4</key>
    <string>rV_ocalicM_atra_gran.d4.glif</string>
    <key>rVocalicMatra_gran.d4h3</key>
    <string>rV_ocalicM_atra_gran.d4h3.glif</string>
    <key>rVocalicMatra_gran.d5h3</key>
    <string>rV_ocalicM_atra_gran.d5h3.glif</string>
    <key>rVocalic_gran</key>
    <string>rV_ocalic_gran.glif</string>
    <key>ra_gran</key>
    <string>ra_gran.glif</string>
    <key>ra_gran.below</key>
    <string>ra_gran.below.glif</string>
    <key>ra_vattu_gran</key>
    <string>ra_vattu_gran.glif</string>
    <key>ra_vattu_gran.d1</key>
    <string>ra_vattu_gran.d1.glif</string>
    <key>ra_vattu_gran.d1b</key>
    <string>ra_vattu_gran.d1b.glif</string>
    <key>ra_vattu_gran.d1w1</key>
    <string>ra_vattu_gran.d1w1.glif</string>
    <key>ra_vattu_gran.d1w3</key>
    <string>ra_vattu_gran.d1w3.glif</string>
    <key>ra_vattu_gran.d2</key>
    <string>ra_vattu_gran.d2.glif</string>
    <key>ra_vattu_gran.d2h2</key>
    <string>ra_vattu_gran.d2h2.glif</string>
    <key>ra_vattu_gran.d2h3</key>
    <string>ra_vattu_gran.d2h3.glif</string>
    <key>ra_vattu_gran.d2w2</key>
    <string>ra_vattu_gran.d2w2.glif</string>
    <key>ra_vattu_gran.d3</key>
    <string>ra_vattu_gran.d3.glif</string>
    <key>ra_vattu_gran.d3b</key>
    <string>ra_vattu_gran.d3b.glif</string>
    <key>ra_vattu_gran.d3h1</key>
    <string>ra_vattu_gran.d3h1.glif</string>
    <key>ra_vattu_gran.d3h1w1</key>
    <string>ra_vattu_gran.d3h1w1.glif</string>
    <key>ra_vattu_gran.d3h2</key>
    <string>ra_vattu_gran.d3h2.glif</string>
    <key>ra_vattu_gran.d4</key>
    <string>ra_vattu_gran.d4.glif</string>
    <key>ra_vattu_gran.d4bh2</key>
    <string>ra_vattu_gran.d4bh2.glif</string>
    <key>ra_vattu_gran.d4h2</key>
    <string>ra_vattu_gran.d4h2.glif</string>
    <key>ra_vattu_gran.w1b</key>
    <string>ra_vattu_gran.w1b.glif</string>
    <key>ra_virama_gran</key>
    <string>ra_virama_gran.glif</string>
    <key>ra_virama_gran.liga</key>
    <string>ra_virama_gran.liga.glif</string>
    <key>repha_gran</key>
    <string>repha_gran.glif</string>
    <key>repha_yaPhalaa</key>
    <string>repha_yaP_halaa.glif</string>
    <key>repha_yaPhalaa.alt</key>
    <string>repha_yaP_halaa.alt.glif</string>
    <key>repha_yaPhalaa.short</key>
    <string>repha_yaP_halaa.short.glif</string>
    <key>ri_gran</key>
    <string>ri_gran.glif</string>
    <key>rotatedArdhavisarga_vedic</key>
    <string>rotatedA_rdhavisarga_vedic.glif</string>
    <key>rrVocalicMatra_gran</key>
    <string>rrV_ocalicM_atra_gran.glif</string>
    <key>rrVocalicMatra_gran.d1</key>
    <string>rrV_ocalicM_atra_gran.d1.glif</string>
    <key>rrVocalicMatra_gran.d1b</key>
    <string>rrV_ocalicM_atra_gran.d1b.glif</string>
    <key>rrVocalicMatra_gran.d2</key>
    <string>rrV_ocalicM_atra_gran.d2.glif</string>
    <key>rrVocalicMatra_gran.d3</key>
    <string>rrV_ocalicM_atra_gran.d3.glif</string>
    <key>rrVocalicMatra_gran.d4</key>
    <string>rrV_ocalicM_atra_gran.d4.glif</string>
    <key>rrVocalic_gran</key>
    <string>rrV_ocalic_gran.glif</string>
    <key>sa_gran</key>
    <string>sa_gran.glif</string>
    <key>sa_gran.below</key>
    <string>sa_gran.below.glif</string>
    <key>sa_virama_gran</key>
    <string>sa_virama_gran.glif</string>
    <key>sa_virama_gran.liga</key>
    <string>sa_virama_gran.liga.glif</string>
    <key>seven_tamil</key>
    <string>seven_tamil.glif</string>
    <key>sh_ca_gran</key>
    <string>sh_ca_gran.glif</string>
    <key>sh_ca_gran.below</key>
    <string>sh_ca_gran.below.glif</string>
    <key>sh_ci_gran</key>
    <string>sh_ci_gran.glif</string>
    <key>sh_cii_gran</key>
    <string>sh_cii_gran.glif</string>
    <key>sh_ra_gran</key>
    <string>sh_ra_gran.glif</string>
    <key>sh_ra_gran.alt1</key>
    <string>sh_ra_gran.alt1.glif</string>
    <key>sh_ra_gran.alt2</key>
    <string>sh_ra_gran.alt2.glif</string>
    <key>sh_ra_gran.below</key>
    <string>sh_ra_gran.below.glif</string>
    <key>sh_ri_gran</key>
    <string>sh_ri_gran.glif</string>
    <key>sh_ri_gran.alt1</key>
    <string>sh_ri_gran.alt1.glif</string>
    <key>sh_ri_gran.alt2</key>
    <string>sh_ri_gran.alt2.glif</string>
    <key>sh_va_gran</key>
    <string>sh_va_gran.glif</string>
    <key>sh_vi_gran</key>
    <string>sh_vi_gran.glif</string>
    <key>sha_gran</key>
    <string>sha_gran.glif</string>
    <key>sha_gran.below</key>
    <string>sha_gran.below.glif</string>
    <key>sha_virama_gran</key>
    <string>sha_virama_gran.glif</string>
    <key>sha_virama_gran.liga</key>
    <string>sha_virama_gran.liga.glif</string>
    <key>shi_gran</key>
    <string>shi_gran.glif</string>
    <key>si_gran</key>
    <string>si_gran.glif</string>
    <key>sii_gran</key>
    <string>sii_gran.glif</string>
    <key>six_tamil</key>
    <string>six_tamil.glif</string>
    <key>sixcomb_gran</key>
    <string>sixcomb_gran.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ss_tta_gran</key>
    <string>ss_tta_gran.glif</string>
    <key>ss_tta_gran.below</key>
    <string>ss_tta_gran.below.glif</string>
    <key>ss_tti_gran</key>
    <string>ss_tti_gran.glif</string>
    <key>ssa_gran</key>
    <string>ssa_gran.glif</string>
    <key>ssa_gran.below</key>
    <string>ssa_gran.below.glif</string>
    <key>ssa_gran.flat</key>
    <string>ssa_gran.flat.glif</string>
    <key>ssa_gran.flat.below</key>
    <string>ssa_gran.flat.below.glif</string>
    <key>ssa_virama_gran</key>
    <string>ssa_virama_gran.glif</string>
    <key>ssa_virama_gran.flat</key>
    <string>ssa_virama_gran.flat.glif</string>
    <key>ssa_virama_gran.liga</key>
    <string>ssa_virama_gran.liga.glif</string>
    <key>ssi_gran</key>
    <string>ssi_gran.glif</string>
    <key>ssi_gran.flat</key>
    <string>ssi_gran.flat.glif</string>
    <key>t_ra_gran</key>
    <string>t_ra_gran.glif</string>
    <key>t_ra_gran.below</key>
    <string>t_ra_gran.below.glif</string>
    <key>t_ri_gran</key>
    <string>t_ri_gran.glif</string>
    <key>t_tha_gran</key>
    <string>t_tha_gran.glif</string>
    <key>t_tha_gran.below</key>
    <string>t_tha_gran.below.glif</string>
    <key>t_thi_gran</key>
    <string>t_thi_gran.glif</string>
    <key>t_va_gran</key>
    <string>t_va_gran.glif</string>
    <key>t_va_gran.below</key>
    <string>t_va_gran.below.glif</string>
    <key>t_vi_gran</key>
    <string>t_vi_gran.glif</string>
    <key>t_vii_gran</key>
    <string>t_vii_gran.glif</string>
    <key>ta_gran</key>
    <string>ta_gran.glif</string>
    <key>ta_gran.below</key>
    <string>ta_gran.below.glif</string>
    <key>ta_gran.flat</key>
    <string>ta_gran.flat.glif</string>
    <key>ta_gran.flat.below</key>
    <string>ta_gran.flat.below.glif</string>
    <key>ta_virama_gran</key>
    <string>ta_virama_gran.glif</string>
    <key>ta_virama_gran.flat</key>
    <string>ta_virama_gran.flat.glif</string>
    <key>ta_virama_gran.liga</key>
    <string>ta_virama_gran.liga.glif</string>
    <key>ten_tamil</key>
    <string>ten_tamil.glif</string>
    <key>tha_gran</key>
    <string>tha_gran.glif</string>
    <key>tha_gran.below</key>
    <string>tha_gran.below.glif</string>
    <key>tha_virama_gran</key>
    <string>tha_virama_gran.glif</string>
    <key>thi_gran</key>
    <string>thi_gran.glif</string>
    <key>three_tamil</key>
    <string>three_tamil.glif</string>
    <key>threecomb_gran</key>
    <string>threecomb_gran.glif</string>
    <key>ti_gran</key>
    <string>ti_gran.glif</string>
    <key>ti_gran.flat</key>
    <string>ti_gran.flat.glif</string>
    <key>tonecandraabove_vedic</key>
    <string>tonecandraabove_vedic.glif</string>
    <key>tonedoubleringabove_vedic</key>
    <string>tonedoubleringabove_vedic.glif</string>
    <key>toneringabove_vedic</key>
    <string>toneringabove_vedic.glif</string>
    <key>tta_gran</key>
    <string>tta_gran.glif</string>
    <key>tta_gran.below</key>
    <string>tta_gran.below.glif</string>
    <key>tta_virama_gran</key>
    <string>tta_virama_gran.glif</string>
    <key>tta_virama_gran.liga</key>
    <string>tta_virama_gran.liga.glif</string>
    <key>ttha_gran</key>
    <string>ttha_gran.glif</string>
    <key>ttha_gran.alt</key>
    <string>ttha_gran.alt.glif</string>
    <key>ttha_gran.below</key>
    <string>ttha_gran.below.glif</string>
    <key>ttha_gran.below.alt</key>
    <string>ttha_gran.below.alt.glif</string>
    <key>ttha_virama_gran</key>
    <string>ttha_virama_gran.glif</string>
    <key>ttha_virama_gran.alt</key>
    <string>ttha_virama_gran.alt.glif</string>
    <key>tthi_gran</key>
    <string>tthi_gran.glif</string>
    <key>tthi_gran.alt</key>
    <string>tthi_gran.alt.glif</string>
    <key>tti_gran</key>
    <string>tti_gran.glif</string>
    <key>ttii_gran</key>
    <string>ttii_gran.glif</string>
    <key>two_tamil</key>
    <string>two_tamil.glif</string>
    <key>twocomb_gran</key>
    <string>twocomb_gran.glif</string>
    <key>uMatra_gran</key>
    <string>uM_atra_gran.glif</string>
    <key>u_gran</key>
    <string>u_gran.glif</string>
    <key>udatta_deva</key>
    <string>udatta_deva.glif</string>
    <key>uuMatra_gran</key>
    <string>uuM_atra_gran.glif</string>
    <key>uu_gran</key>
    <string>uu_gran.glif</string>
    <key>va_gran</key>
    <string>va_gran.glif</string>
    <key>va_gran.below</key>
    <string>va_gran.below.glif</string>
    <key>va_tamil</key>
    <string>va_tamil.glif</string>
    <key>va_virama_gran</key>
    <string>va_virama_gran.glif</string>
    <key>va_virama_gran.liga</key>
    <string>va_virama_gran.liga.glif</string>
    <key>vi_gran</key>
    <string>vi_gran.glif</string>
    <key>vicomb_gran</key>
    <string>vicomb_gran.glif</string>
    <key>vii_gran</key>
    <string>vii_gran.glif</string>
    <key>virama_gran</key>
    <string>virama_gran.glif</string>
    <key>virama_gran.alt</key>
    <string>virama_gran.alt.glif</string>
    <key>virama_gran.s1</key>
    <string>virama_gran.s1.glif</string>
    <key>visarga_gran</key>
    <string>visarga_gran.glif</string>
    <key>yaPhalaa_gran</key>
    <string>yaP_halaa_gran.glif</string>
    <key>yaPhalaa_gran.short</key>
    <string>yaP_halaa_gran.short.glif</string>
    <key>ya_gran</key>
    <string>ya_gran.glif</string>
    <key>ya_gran.below</key>
    <string>ya_gran.below.glif</string>
    <key>ya_virama_gran</key>
    <string>ya_virama_gran.glif</string>
    <key>ya_virama_gran.liga</key>
    <string>ya_virama_gran.liga.glif</string>
    <key>yi_gran</key>
    <string>yi_gran.glif</string>
    <key>yii_gran</key>
    <string>yii_gran.glif</string>
    <key>zero_tamil</key>
    <string>zero_tamil.glif</string>
    <key>zerocomb_gran</key>
    <string>zerocomb_gran.glif</string>
  </dict>
</plist>
