<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>a-gujarati</key>
    <string>a-gujarati.glif</string>
    <key>aa-gujarati</key>
    <string>aa-gujarati.glif</string>
    <key>aaMatra-gujarati</key>
    <string>aaM_atra-gujarati.glif</string>
    <key>abbreviation-gujarati</key>
    <string>abbreviation-gujarati.glif</string>
    <key>ai-gujarati</key>
    <string>ai-gujarati.glif</string>
    <key>aiMatra-gujarati</key>
    <string>aiM_atra-gujarati.glif</string>
    <key>aiMatra_reph-gujarati</key>
    <string>aiM_atra_reph-gujarati.glif</string>
    <key>aiMatra_reph_anusvara-gujarati</key>
    <string>aiM_atra_reph_anusvara-gujarati.glif</string>
    <key>anudatta</key>
    <string>anudatta.glif</string>
    <key>anusvara-gujarati</key>
    <string>anusvara-gujarati.glif</string>
    <key>anusvara-gujarati.alt</key>
    <string>anusvara-gujarati.alt.glif</string>
    <key>anusvara-gujarati.calt</key>
    <string>anusvara-gujarati.calt.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>au-gujarati</key>
    <string>au-gujarati.glif</string>
    <key>auMatra-gujarati</key>
    <string>auM_atra-gujarati.glif</string>
    <key>avagraha-gujarati</key>
    <string>avagraha-gujarati.glif</string>
    <key>b-gujarati</key>
    <string>b-gujarati.glif</string>
    <key>b_la-gujarati</key>
    <string>b_la-gujarati.glif</string>
    <key>b_r-gujarati</key>
    <string>b_r-gujarati.glif</string>
    <key>b_ra-gujarati</key>
    <string>b_ra-gujarati.glif</string>
    <key>ba-gujarati</key>
    <string>ba-gujarati.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bh-gujarati</key>
    <string>bh-gujarati.glif</string>
    <key>bh_r-gujarati</key>
    <string>bh_r-gujarati.glif</string>
    <key>bh_ra-gujarati</key>
    <string>bh_ra-gujarati.glif</string>
    <key>bha-gujarati</key>
    <string>bha-gujarati.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c-gujarati</key>
    <string>c-gujarati.glif</string>
    <key>c_r-gujarati</key>
    <string>c_r-gujarati.glif</string>
    <key>c_ra-gujarati</key>
    <string>c_ra-gujarati.glif</string>
    <key>ca-gujarati</key>
    <string>ca-gujarati.glif</string>
    <key>candraBindu-gujarati</key>
    <string>candraB_indu-gujarati.glif</string>
    <key>candraBindu-gujarati.alt</key>
    <string>candraB_indu-gujarati.alt.glif</string>
    <key>ch_va-gujarati</key>
    <string>ch_va-gujarati.glif</string>
    <key>ch_ya-gujarati</key>
    <string>ch_ya-gujarati.glif</string>
    <key>cha-gujarati</key>
    <string>cha-gujarati.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d-gujarati</key>
    <string>d-gujarati.glif</string>
    <key>d_ba-gujarati</key>
    <string>d_ba-gujarati.glif</string>
    <key>d_bha-gujarati</key>
    <string>d_bha-gujarati.glif</string>
    <key>d_da-gujarati</key>
    <string>d_da-gujarati.glif</string>
    <key>d_dha-gujarati</key>
    <string>d_dha-gujarati.glif</string>
    <key>d_ga-gujarati</key>
    <string>d_ga-gujarati.glif</string>
    <key>d_gha-gujarati</key>
    <string>d_gha-gujarati.glif</string>
    <key>d_ma-gujarati</key>
    <string>d_ma-gujarati.glif</string>
    <key>d_na-gujarati</key>
    <string>d_na-gujarati.glif</string>
    <key>d_ra-gujarati</key>
    <string>d_ra-gujarati.glif</string>
    <key>d_va-gujarati</key>
    <string>d_va-gujarati.glif</string>
    <key>d_ya-gujarati</key>
    <string>d_ya-gujarati.glif</string>
    <key>da-gujarati</key>
    <string>da-gujarati.glif</string>
    <key>da_rVocalicMatra-gujarati</key>
    <string>da_rV_ocalicM_atra-gujarati.glif</string>
    <key>danda-deva</key>
    <string>danda-deva.glif</string>
    <key>dbldanda-deva</key>
    <string>dbldanda-deva.glif</string>
    <key>dd-gujarati</key>
    <string>dd-gujarati.glif</string>
    <key>dd_dda-gujarati</key>
    <string>dd_dda-gujarati.glif</string>
    <key>dd_ddha-gujarati</key>
    <string>dd_ddha-gujarati.glif</string>
    <key>dd_ya-gujarati</key>
    <string>dd_ya-gujarati.glif</string>
    <key>dda-gujarati</key>
    <string>dda-gujarati.glif</string>
    <key>ddh-gujarati</key>
    <string>ddh-gujarati.glif</string>
    <key>ddh_ddha-gujarati</key>
    <string>ddh_ddha-gujarati.glif</string>
    <key>ddh_ya-gujarati</key>
    <string>ddh_ya-gujarati.glif</string>
    <key>ddha-gujarati</key>
    <string>ddha-gujarati.glif</string>
    <key>dh-gujarati</key>
    <string>dh-gujarati.glif</string>
    <key>dh_na-gujarati</key>
    <string>dh_na-gujarati.glif</string>
    <key>dh_r-gujarati</key>
    <string>dh_r-gujarati.glif</string>
    <key>dh_ra-gujarati</key>
    <string>dh_ra-gujarati.glif</string>
    <key>dha-gujarati</key>
    <string>dha-gujarati.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>e-gujarati</key>
    <string>e-gujarati.glif</string>
    <key>eCandra-gujarati</key>
    <string>eC_andra-gujarati.glif</string>
    <key>eCandraMatra-gujarati</key>
    <string>eC_andraM_atra-gujarati.glif</string>
    <key>eCandraReph-gujarati</key>
    <string>eC_andraR_eph-gujarati.glif</string>
    <key>eCandraReph_anusvara-gujarati</key>
    <string>eC_andraR_eph_anusvara-gujarati.glif</string>
    <key>eMatra-gujarati</key>
    <string>eM_atra-gujarati.glif</string>
    <key>eMatra_reph-gujarati</key>
    <string>eM_atra_reph-gujarati.glif</string>
    <key>eMatra_reph_anusvara-gujarati</key>
    <string>eM_atra_reph_anusvara-gujarati.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-gujarati</key>
    <string>eight-gujarati.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-gujarati</key>
    <string>five-gujarati.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-gujarati</key>
    <string>four-gujarati.glif</string>
    <key>fractionOneEighth</key>
    <string>fractionO_neE_ighth.glif</string>
    <key>fractionOneHalf-cinf</key>
    <string>fractionO_neH_alf-cinf.glif</string>
    <key>fractionOneQuarter-cinf</key>
    <string>fractionO_neQ_uarter-cinf.glif</string>
    <key>fractionOneSixteenth-cinf</key>
    <string>fractionO_neS_ixteenth-cinf.glif</string>
    <key>fractionThreeQuarters-cinf</key>
    <string>fractionT_hreeQ_uarters-cinf.glif</string>
    <key>fractionThreeSixteenths-cinf</key>
    <string>fractionT_hreeS_ixteenths-cinf.glif</string>
    <key>g-gujarati</key>
    <string>g-gujarati.glif</string>
    <key>g_na-gujarati</key>
    <string>g_na-gujarati.glif</string>
    <key>g_r-gujarati</key>
    <string>g_r-gujarati.glif</string>
    <key>g_ra-gujarati</key>
    <string>g_ra-gujarati.glif</string>
    <key>ga-gujarati</key>
    <string>ga-gujarati.glif</string>
    <key>gh-gujarati</key>
    <string>gh-gujarati.glif</string>
    <key>gh_na-gujarati</key>
    <string>gh_na-gujarati.glif</string>
    <key>gh_r-gujarati</key>
    <string>gh_r-gujarati.glif</string>
    <key>gh_ra-gujarati</key>
    <string>gh_ra-gujarati.glif</string>
    <key>gha-gujarati</key>
    <string>gha-gujarati.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>h-gujarati</key>
    <string>h-gujarati.glif</string>
    <key>h_la-gujarati</key>
    <string>h_la-gujarati.glif</string>
    <key>h_ma-gujarati</key>
    <string>h_ma-gujarati.glif</string>
    <key>h_na-gujarati</key>
    <string>h_na-gujarati.glif</string>
    <key>h_nna-gujarati</key>
    <string>h_nna-gujarati.glif</string>
    <key>h_ra-gujarati</key>
    <string>h_ra-gujarati.glif</string>
    <key>h_va-gujarati</key>
    <string>h_va-gujarati.glif</string>
    <key>h_ya-gujarati</key>
    <string>h_ya-gujarati.glif</string>
    <key>ha-gujarati</key>
    <string>ha-gujarati.glif</string>
    <key>ha_rVocalicMatra-gujarati</key>
    <string>ha_rV_ocalicM_atra-gujarati.glif</string>
    <key>halant-gujarati</key>
    <string>halant-gujarati.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i-gujarati</key>
    <string>i-gujarati.glif</string>
    <key>iMatra-gujarati</key>
    <string>iM_atra-gujarati.glif</string>
    <key>iMatra-gujarati.00</key>
    <string>iM_atra-gujarati.00.glif</string>
    <key>iMatra-gujarati.01</key>
    <string>iM_atra-gujarati.01.glif</string>
    <key>iMatra-gujarati.02</key>
    <string>iM_atra-gujarati.02.glif</string>
    <key>iMatra-gujarati.04</key>
    <string>iM_atra-gujarati.04.glif</string>
    <key>iMatra-gujarati.05</key>
    <string>iM_atra-gujarati.05.glif</string>
    <key>iMatra-gujarati.06</key>
    <string>iM_atra-gujarati.06.glif</string>
    <key>iMatra-gujarati.07</key>
    <string>iM_atra-gujarati.07.glif</string>
    <key>iMatra-gujarati.08</key>
    <string>iM_atra-gujarati.08.glif</string>
    <key>iMatra-gujarati.09</key>
    <string>iM_atra-gujarati.09.glif</string>
    <key>iMatra-gujarati.10</key>
    <string>iM_atra-gujarati.10.glif</string>
    <key>iMatra_anusvara-gujarati</key>
    <string>iM_atra_anusvara-gujarati.glif</string>
    <key>iMatra_anusvara-gujarati.01</key>
    <string>iM_atra_anusvara-gujarati.01.glif</string>
    <key>iMatra_anusvara-gujarati.02</key>
    <string>iM_atra_anusvara-gujarati.02.glif</string>
    <key>iMatra_anusvara-gujarati.04</key>
    <string>iM_atra_anusvara-gujarati.04.glif</string>
    <key>iMatra_anusvara-gujarati.05</key>
    <string>iM_atra_anusvara-gujarati.05.glif</string>
    <key>iMatra_anusvara-gujarati.06</key>
    <string>iM_atra_anusvara-gujarati.06.glif</string>
    <key>iMatra_anusvara-gujarati.07</key>
    <string>iM_atra_anusvara-gujarati.07.glif</string>
    <key>iMatra_anusvara-gujarati.08</key>
    <string>iM_atra_anusvara-gujarati.08.glif</string>
    <key>iMatra_anusvara-gujarati.09</key>
    <string>iM_atra_anusvara-gujarati.09.glif</string>
    <key>iMatra_anusvara-gujarati.10</key>
    <string>iM_atra_anusvara-gujarati.10.glif</string>
    <key>iMatra_reph-gujarati</key>
    <string>iM_atra_reph-gujarati.glif</string>
    <key>iMatra_reph-gujarati.01</key>
    <string>iM_atra_reph-gujarati.01.glif</string>
    <key>iMatra_reph-gujarati.02</key>
    <string>iM_atra_reph-gujarati.02.glif</string>
    <key>iMatra_reph-gujarati.04</key>
    <string>iM_atra_reph-gujarati.04.glif</string>
    <key>iMatra_reph-gujarati.05</key>
    <string>iM_atra_reph-gujarati.05.glif</string>
    <key>iMatra_reph-gujarati.06</key>
    <string>iM_atra_reph-gujarati.06.glif</string>
    <key>iMatra_reph-gujarati.07</key>
    <string>iM_atra_reph-gujarati.07.glif</string>
    <key>iMatra_reph-gujarati.08</key>
    <string>iM_atra_reph-gujarati.08.glif</string>
    <key>iMatra_reph-gujarati.09</key>
    <string>iM_atra_reph-gujarati.09.glif</string>
    <key>iMatra_reph-gujarati.10</key>
    <string>iM_atra_reph-gujarati.10.glif</string>
    <key>iMatra_reph_anusvara-gujarati</key>
    <string>iM_atra_reph_anusvara-gujarati.glif</string>
    <key>iMatra_reph_anusvara-gujarati.01</key>
    <string>iM_atra_reph_anusvara-gujarati.01.glif</string>
    <key>iMatra_reph_anusvara-gujarati.02</key>
    <string>iM_atra_reph_anusvara-gujarati.02.glif</string>
    <key>iMatra_reph_anusvara-gujarati.04</key>
    <string>iM_atra_reph_anusvara-gujarati.04.glif</string>
    <key>iMatra_reph_anusvara-gujarati.05</key>
    <string>iM_atra_reph_anusvara-gujarati.05.glif</string>
    <key>iMatra_reph_anusvara-gujarati.06</key>
    <string>iM_atra_reph_anusvara-gujarati.06.glif</string>
    <key>iMatra_reph_anusvara-gujarati.07</key>
    <string>iM_atra_reph_anusvara-gujarati.07.glif</string>
    <key>iMatra_reph_anusvara-gujarati.08</key>
    <string>iM_atra_reph_anusvara-gujarati.08.glif</string>
    <key>iMatra_reph_anusvara-gujarati.09</key>
    <string>iM_atra_reph_anusvara-gujarati.09.glif</string>
    <key>iMatra_reph_anusvara-gujarati.10</key>
    <string>iM_atra_reph_anusvara-gujarati.10.glif</string>
    <key>ii-gujarati</key>
    <string>ii-gujarati.glif</string>
    <key>iiMatra-gujarati</key>
    <string>iiM_atra-gujarati.glif</string>
    <key>iiMatra_reph-gujarati</key>
    <string>iiM_atra_reph-gujarati.glif</string>
    <key>iiMatra_reph_anusvara-gujarati</key>
    <string>iiM_atra_reph_anusvara-gujarati.glif</string>
    <key>j-gujarati</key>
    <string>j-gujarati.glif</string>
    <key>j_ja-gujarati</key>
    <string>j_ja-gujarati.glif</string>
    <key>j_ma-gujarati</key>
    <string>j_ma-gujarati.glif</string>
    <key>j_ny-gujarati</key>
    <string>j_ny-gujarati.glif</string>
    <key>j_ny_r-gujarati</key>
    <string>j_ny_r-gujarati.glif</string>
    <key>j_ny_ra-gujarati</key>
    <string>j_ny_ra-gujarati.glif</string>
    <key>j_nya-gujarati</key>
    <string>j_nya-gujarati.glif</string>
    <key>j_r-gujarati</key>
    <string>j_r-gujarati.glif</string>
    <key>j_ra-gujarati</key>
    <string>j_ra-gujarati.glif</string>
    <key>j_ra_aaMatra-gujarati</key>
    <string>j_ra_aaM_atra-gujarati.glif</string>
    <key>j_ra_iiMatra-gujarati</key>
    <string>j_ra_iiM_atra-gujarati.glif</string>
    <key>j_ya-gujarati</key>
    <string>j_ya-gujarati.glif</string>
    <key>ja-gujarati</key>
    <string>ja-gujarati.glif</string>
    <key>ja_aaMatra-gujarati</key>
    <string>ja_aaM_atra-gujarati.glif</string>
    <key>ja_iiMatra-gujarati</key>
    <string>ja_iiM_atra-gujarati.glif</string>
    <key>jh-gujarati</key>
    <string>jh-gujarati.glif</string>
    <key>jh_ra-gujarati</key>
    <string>jh_ra-gujarati.glif</string>
    <key>jha-gujarati</key>
    <string>jha-gujarati.glif</string>
    <key>k-gujarati</key>
    <string>k-gujarati.glif</string>
    <key>k_da-gujarati</key>
    <string>k_da-gujarati.glif</string>
    <key>k_ka-gujarati</key>
    <string>k_ka-gujarati.glif</string>
    <key>k_kha-gujarati</key>
    <string>k_kha-gujarati.glif</string>
    <key>k_pa-gujarati</key>
    <string>k_pa-gujarati.glif</string>
    <key>k_r-gujarati</key>
    <string>k_r-gujarati.glif</string>
    <key>k_ra-gujarati</key>
    <string>k_ra-gujarati.glif</string>
    <key>k_ss-gujarati</key>
    <string>k_ss-gujarati.glif</string>
    <key>k_ss_r-gujarati</key>
    <string>k_ss_r-gujarati.glif</string>
    <key>k_ss_ra-gujarati</key>
    <string>k_ss_ra-gujarati.glif</string>
    <key>k_ssa-gujarati</key>
    <string>k_ssa-gujarati.glif</string>
    <key>k_ya-gujarati</key>
    <string>k_ya-gujarati.glif</string>
    <key>ka-gujarati</key>
    <string>ka-gujarati.glif</string>
    <key>kh-gujarati</key>
    <string>kh-gujarati.glif</string>
    <key>kh_r-gujarati</key>
    <string>kh_r-gujarati.glif</string>
    <key>kh_ra-gujarati</key>
    <string>kh_ra-gujarati.glif</string>
    <key>kha-gujarati</key>
    <string>kha-gujarati.glif</string>
    <key>l-gujarati</key>
    <string>l-gujarati.glif</string>
    <key>lVocalic-gujarati</key>
    <string>lV_ocalic-gujarati.glif</string>
    <key>lVocalicMatra-gujarati</key>
    <string>lV_ocalicM_atra-gujarati.glif</string>
    <key>l_ka-gujarati</key>
    <string>l_ka-gujarati.glif</string>
    <key>l_r-gujarati</key>
    <string>l_r-gujarati.glif</string>
    <key>l_ra-gujarati</key>
    <string>l_ra-gujarati.glif</string>
    <key>l_sa-gujarati</key>
    <string>l_sa-gujarati.glif</string>
    <key>l_ya-gujarati</key>
    <string>l_ya-gujarati.glif</string>
    <key>la-gujarati</key>
    <string>la-gujarati.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>ll-gujarati</key>
    <string>ll-gujarati.glif</string>
    <key>llVocalic-gujarati</key>
    <string>llV_ocalic-gujarati.glif</string>
    <key>llVocalicMatra-gujarati</key>
    <string>llV_ocalicM_atra-gujarati.glif</string>
    <key>ll_r-gujarati</key>
    <string>ll_r-gujarati.glif</string>
    <key>ll_ra-gujarati</key>
    <string>ll_ra-gujarati.glif</string>
    <key>ll_ya-gujarati</key>
    <string>ll_ya-gujarati.glif</string>
    <key>lla-gujarati</key>
    <string>lla-gujarati.glif</string>
    <key>m-gujarati</key>
    <string>m-gujarati.glif</string>
    <key>m_na-gujarati</key>
    <string>m_na-gujarati.glif</string>
    <key>m_r-gujarati</key>
    <string>m_r-gujarati.glif</string>
    <key>m_ra-gujarati</key>
    <string>m_ra-gujarati.glif</string>
    <key>ma-gujarati</key>
    <string>ma-gujarati.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n-gujarati</key>
    <string>n-gujarati.glif</string>
    <key>n_na-gujarati</key>
    <string>n_na-gujarati.glif</string>
    <key>n_r-gujarati</key>
    <string>n_r-gujarati.glif</string>
    <key>n_ra-gujarati</key>
    <string>n_ra-gujarati.glif</string>
    <key>n_sa-gujarati</key>
    <string>n_sa-gujarati.glif</string>
    <key>n_tta-gujarati</key>
    <string>n_tta-gujarati.glif</string>
    <key>na-gujarati</key>
    <string>na-gujarati.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>ng-gujarati</key>
    <string>ng-gujarati.glif</string>
    <key>ng_ga-gujarati</key>
    <string>ng_ga-gujarati.glif</string>
    <key>ng_gha-gujarati</key>
    <string>ng_gha-gujarati.glif</string>
    <key>ng_ka-gujarati</key>
    <string>ng_ka-gujarati.glif</string>
    <key>ng_ma-gujarati</key>
    <string>ng_ma-gujarati.glif</string>
    <key>ng_ya-gujarati</key>
    <string>ng_ya-gujarati.glif</string>
    <key>nga-gujarati</key>
    <string>nga-gujarati.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-gujarati</key>
    <string>nine-gujarati.glif</string>
    <key>nn-gujarati</key>
    <string>nn-gujarati.glif</string>
    <key>nn_r-gujarati</key>
    <string>nn_r-gujarati.glif</string>
    <key>nn_ra-gujarati</key>
    <string>nn_ra-gujarati.glif</string>
    <key>nn_ra-gujarati.calt</key>
    <string>nn_ra-gujarati.calt.glif</string>
    <key>nna-gujarati</key>
    <string>nna-gujarati.glif</string>
    <key>nna-gujarati.calt</key>
    <string>nna-gujarati.calt.glif</string>
    <key>nukta-gujarati</key>
    <string>nukta-gujarati.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ny-gujarati</key>
    <string>ny-gujarati.glif</string>
    <key>ny_ca-gujarati</key>
    <string>ny_ca-gujarati.glif</string>
    <key>ny_ja-gujarati</key>
    <string>ny_ja-gujarati.glif</string>
    <key>ny_r-gujarati</key>
    <string>ny_r-gujarati.glif</string>
    <key>ny_ra-gujarati</key>
    <string>ny_ra-gujarati.glif</string>
    <key>nya-gujarati</key>
    <string>nya-gujarati.glif</string>
    <key>o-gujarati</key>
    <string>o-gujarati.glif</string>
    <key>oCandra-gujarati</key>
    <string>oC_andra-gujarati.glif</string>
    <key>oCandraMatra-gujarati</key>
    <string>oC_andraM_atra-gujarati.glif</string>
    <key>oMatra-gujarati</key>
    <string>oM_atra-gujarati.glif</string>
    <key>om-gujarati</key>
    <string>om-gujarati.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-gujarati</key>
    <string>one-gujarati.glif</string>
    <key>p-gujarati</key>
    <string>p-gujarati.glif</string>
    <key>p_da-gujarati</key>
    <string>p_da-gujarati.glif</string>
    <key>p_na-gujarati</key>
    <string>p_na-gujarati.glif</string>
    <key>p_r-gujarati</key>
    <string>p_r-gujarati.glif</string>
    <key>p_ra-gujarati</key>
    <string>p_ra-gujarati.glif</string>
    <key>p_ta-gujarati</key>
    <string>p_ta-gujarati.glif</string>
    <key>p_tta-gujarati</key>
    <string>p_tta-gujarati.glif</string>
    <key>p_ttha-gujarati</key>
    <string>p_ttha-gujarati.glif</string>
    <key>pa-gujarati</key>
    <string>pa-gujarati.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>ph-gujarati</key>
    <string>ph-gujarati.glif</string>
    <key>ph_r-gujarati</key>
    <string>ph_r-gujarati.glif</string>
    <key>ph_ra-gujarati</key>
    <string>ph_ra-gujarati.glif</string>
    <key>ph_ya-gujarati</key>
    <string>ph_ya-gujarati.glif</string>
    <key>pha-gujarati</key>
    <string>pha-gujarati.glif</string>
    <key>placeholderMark-cinf</key>
    <string>placeholderM_ark-cinf.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>quantityMark-cinf</key>
    <string>quantityM_ark-cinf.glif</string>
    <key>quarterMark-cinf</key>
    <string>quarterM_ark-cinf.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r-gujarati</key>
    <string>r-gujarati.glif</string>
    <key>rVocalic-gujarati</key>
    <string>rV_ocalic-gujarati.glif</string>
    <key>rVocalicMatra-gujarati</key>
    <string>rV_ocalicM_atra-gujarati.glif</string>
    <key>ra-gujarati</key>
    <string>ra-gujarati.glif</string>
    <key>ra_uMatra-gujarati</key>
    <string>ra_uM_atra-gujarati.glif</string>
    <key>ra_uuMatra-gujarati</key>
    <string>ra_uuM_atra-gujarati.glif</string>
    <key>rakar-gujarati</key>
    <string>rakar-gujarati.glif</string>
    <key>rakar_halant-gujarati</key>
    <string>rakar_halant-gujarati.glif</string>
    <key>rakar_lVocalicMatra-gujarati</key>
    <string>rakar_lV_ocalicM_atra-gujarati.glif</string>
    <key>rakar_llVocalicMatra-gujarati</key>
    <string>rakar_llV_ocalicM_atra-gujarati.glif</string>
    <key>rakar_rVocalicMatra-gujarati</key>
    <string>rakar_rV_ocalicM_atra-gujarati.glif</string>
    <key>rakar_rrVocalicMatra-gujarati</key>
    <string>rakar_rrV_ocalicM_atra-gujarati.glif</string>
    <key>rakar_uMatra-gujarati</key>
    <string>rakar_uM_atra-gujarati.glif</string>
    <key>rakar_uuMatra-gujarati</key>
    <string>rakar_uuM_atra-gujarati.glif</string>
    <key>reph-gujarati</key>
    <string>reph-gujarati.glif</string>
    <key>reph_anusvara-gujarati</key>
    <string>reph_anusvara-gujarati.glif</string>
    <key>rrVocalic-gujarati</key>
    <string>rrV_ocalic-gujarati.glif</string>
    <key>rrVocalicMatra-gujarati</key>
    <string>rrV_ocalicM_atra-gujarati.glif</string>
    <key>rupee-gujarati</key>
    <string>rupee-gujarati.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>rupeeMark-cinf</key>
    <string>rupeeM_ark-cinf.glif</string>
    <key>s-gujarati</key>
    <string>s-gujarati.glif</string>
    <key>s_dda-gujarati</key>
    <string>s_dda-gujarati.glif</string>
    <key>s_ka-gujarati</key>
    <string>s_ka-gujarati.glif</string>
    <key>s_ma-gujarati</key>
    <string>s_ma-gujarati.glif</string>
    <key>s_pha-gujarati</key>
    <string>s_pha-gujarati.glif</string>
    <key>s_r-gujarati</key>
    <string>s_r-gujarati.glif</string>
    <key>s_ra-gujarati</key>
    <string>s_ra-gujarati.glif</string>
    <key>s_t_ra-gujarati</key>
    <string>s_t_ra-gujarati.glif</string>
    <key>s_tha-gujarati</key>
    <string>s_tha-gujarati.glif</string>
    <key>s_tta-gujarati</key>
    <string>s_tta-gujarati.glif</string>
    <key>s_ttha-gujarati</key>
    <string>s_ttha-gujarati.glif</string>
    <key>sa-gujarati</key>
    <string>sa-gujarati.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-gujarati</key>
    <string>seven-gujarati.glif</string>
    <key>sh-gujarati</key>
    <string>sh-gujarati.glif</string>
    <key>sh_ca-gujarati</key>
    <string>sh_ca-gujarati.glif</string>
    <key>sh_la-gujarati</key>
    <string>sh_la-gujarati.glif</string>
    <key>sh_na-gujarati</key>
    <string>sh_na-gujarati.glif</string>
    <key>sh_r-gujarati</key>
    <string>sh_r-gujarati.glif</string>
    <key>sh_ra-gujarati</key>
    <string>sh_ra-gujarati.glif</string>
    <key>sh_va-gujarati</key>
    <string>sh_va-gujarati.glif</string>
    <key>sha-gujarati</key>
    <string>sha-gujarati.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-gujarati</key>
    <string>six-gujarati.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ss-gujarati</key>
    <string>ss-gujarati.glif</string>
    <key>ss_r-gujarati</key>
    <string>ss_r-gujarati.glif</string>
    <key>ss_ra-gujarati</key>
    <string>ss_ra-gujarati.glif</string>
    <key>ss_tta-gujarati</key>
    <string>ss_tta-gujarati.glif</string>
    <key>ss_ttha-gujarati</key>
    <string>ss_ttha-gujarati.glif</string>
    <key>ssa-gujarati</key>
    <string>ssa-gujarati.glif</string>
    <key>t-gujarati</key>
    <string>t-gujarati.glif</string>
    <key>t_ka-gujarati</key>
    <string>t_ka-gujarati.glif</string>
    <key>t_ma-gujarati</key>
    <string>t_ma-gujarati.glif</string>
    <key>t_na-gujarati</key>
    <string>t_na-gujarati.glif</string>
    <key>t_r-gujarati</key>
    <string>t_r-gujarati.glif</string>
    <key>t_ra-gujarati</key>
    <string>t_ra-gujarati.glif</string>
    <key>t_sa-gujarati</key>
    <string>t_sa-gujarati.glif</string>
    <key>t_t-gujarati</key>
    <string>t_t-gujarati.glif</string>
    <key>t_t_ya-gujarati</key>
    <string>t_t_ya-gujarati.glif</string>
    <key>t_ta-gujarati</key>
    <string>t_ta-gujarati.glif</string>
    <key>t_ya-gujarati</key>
    <string>t_ya-gujarati.glif</string>
    <key>ta-gujarati</key>
    <string>ta-gujarati.glif</string>
    <key>th-gujarati</key>
    <string>th-gujarati.glif</string>
    <key>th_na-gujarati</key>
    <string>th_na-gujarati.glif</string>
    <key>th_r-gujarati</key>
    <string>th_r-gujarati.glif</string>
    <key>th_ra-gujarati</key>
    <string>th_ra-gujarati.glif</string>
    <key>tha-gujarati</key>
    <string>tha-gujarati.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-gujarati</key>
    <string>three-gujarati.glif</string>
    <key>tt-gujarati</key>
    <string>tt-gujarati.glif</string>
    <key>tt_tta-gujarati</key>
    <string>tt_tta-gujarati.glif</string>
    <key>tt_ttha-gujarati</key>
    <string>tt_ttha-gujarati.glif</string>
    <key>tt_va-gujarati</key>
    <string>tt_va-gujarati.glif</string>
    <key>tt_ya-gujarati</key>
    <string>tt_ya-gujarati.glif</string>
    <key>tta-gujarati</key>
    <string>tta-gujarati.glif</string>
    <key>tth-gujarati</key>
    <string>tth-gujarati.glif</string>
    <key>tth_ttha-gujarati</key>
    <string>tth_ttha-gujarati.glif</string>
    <key>ttha-gujarati</key>
    <string>ttha-gujarati.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-gujarati</key>
    <string>two-gujarati.glif</string>
    <key>u-gujarati</key>
    <string>u-gujarati.glif</string>
    <key>uMatra-gujarati</key>
    <string>uM_atra-gujarati.glif</string>
    <key>uMatra-gujarati.alt</key>
    <string>uM_atra-gujarati.alt.glif</string>
    <key>uMatra-gujarati.calt</key>
    <string>uM_atra-gujarati.calt.glif</string>
    <key>udatta</key>
    <string>udatta.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni0AFA</key>
    <string>uni0A_F_A_.glif</string>
    <key>uni0AFA_rephgujr</key>
    <string>uni0A_F_A__rephgujr.glif</string>
    <key>uni0AFB</key>
    <string>uni0A_F_B_.glif</string>
    <key>uni0AFB_uni0AFA</key>
    <string>uni0A_F_B__uni0A_F_A_.glif</string>
    <key>uni0AFC</key>
    <string>uni0A_F_C_.glif</string>
    <key>uni0AFD</key>
    <string>uni0A_F_D_.glif</string>
    <key>uni0AFD_aivowelgujr</key>
    <string>uni0A_F_D__aivowelgujr.glif</string>
    <key>uni0AFD_aivowelgujr_rephgujr</key>
    <string>uni0A_F_D__aivowelgujr_rephgujr.glif</string>
    <key>uni0AFD_auvowelgujr</key>
    <string>uni0A_F_D__auvowelgujr.glif</string>
    <key>uni0AFD_evowelgujr</key>
    <string>uni0A_F_D__evowelgujr.glif</string>
    <key>uni0AFD_evowelgujr_rephgujr</key>
    <string>uni0A_F_D__evowelgujr_rephgujr.glif</string>
    <key>uni0AFD_iiMatra-gujarati</key>
    <string>uni0A_F_D__iiM_atra-gujarati.glif</string>
    <key>uni0AFD_ovowelgujr</key>
    <string>uni0A_F_D__ovowelgujr.glif</string>
    <key>uni0AFD_rephgujr</key>
    <string>uni0A_F_D__rephgujr.glif</string>
    <key>uni0AFD_uni0AFA</key>
    <string>uni0A_F_D__uni0A_F_A_.glif</string>
    <key>uni0AFD_uni0AFA.alt</key>
    <string>uni0A_F_D__uni0A_F_A_.alt.glif</string>
    <key>uni0AFD_uni0AFB</key>
    <string>uni0A_F_D__uni0A_F_B_.glif</string>
    <key>uni0AFD_uni0AFB.alt</key>
    <string>uni0A_F_D__uni0A_F_B_.alt.glif</string>
    <key>uni0AFD_uni0AFC</key>
    <string>uni0A_F_D__uni0A_F_C_.glif</string>
    <key>uni0AFE</key>
    <string>uni0A_F_E_.glif</string>
    <key>uni0AFE_aivowelgujr</key>
    <string>uni0A_F_E__aivowelgujr.glif</string>
    <key>uni0AFE_aivowelgujr_rephgujr</key>
    <string>uni0A_F_E__aivowelgujr_rephgujr.glif</string>
    <key>uni0AFE_auvowelgujr</key>
    <string>uni0A_F_E__auvowelgujr.glif</string>
    <key>uni0AFE_evowelgujr</key>
    <string>uni0A_F_E__evowelgujr.glif</string>
    <key>uni0AFE_evowelgujr_rephgujr</key>
    <string>uni0A_F_E__evowelgujr_rephgujr.glif</string>
    <key>uni0AFE_iiMatra-gujarati</key>
    <string>uni0A_F_E__iiM_atra-gujarati.glif</string>
    <key>uni0AFE_ovowelgujr</key>
    <string>uni0A_F_E__ovowelgujr.glif</string>
    <key>uni0AFE_rephgujr</key>
    <string>uni0A_F_E__rephgujr.glif</string>
    <key>uni0AFE_uni0AFA</key>
    <string>uni0A_F_E__uni0A_F_A_.glif</string>
    <key>uni0AFE_uni0AFB</key>
    <string>uni0A_F_E__uni0A_F_B_.glif</string>
    <key>uni0AFF</key>
    <string>uni0A_F_F_.glif</string>
    <key>uni0AFF_aivowelgujr</key>
    <string>uni0A_F_F__aivowelgujr.glif</string>
    <key>uni0AFF_aivowelgujr_rephgujr</key>
    <string>uni0A_F_F__aivowelgujr_rephgujr.glif</string>
    <key>uni0AFF_auvowelgujr</key>
    <string>uni0A_F_F__auvowelgujr.glif</string>
    <key>uni0AFF_evowelgujr</key>
    <string>uni0A_F_F__evowelgujr.glif</string>
    <key>uni0AFF_evowelgujr_rephgujr</key>
    <string>uni0A_F_F__evowelgujr_rephgujr.glif</string>
    <key>uni0AFF_iiMatra-gujarati</key>
    <string>uni0A_F_F__iiM_atra-gujarati.glif</string>
    <key>uni0AFF_ovowelgujr</key>
    <string>uni0A_F_F__ovowelgujr.glif</string>
    <key>uni0AFF_rephgujr</key>
    <string>uni0A_F_F__rephgujr.glif</string>
    <key>uni0AFF_uni0AFA</key>
    <string>uni0A_F_F__uni0A_F_A_.glif</string>
    <key>uni0AFF_uni0AFB</key>
    <string>uni0A_F_F__uni0A_F_B_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uu-gujarati</key>
    <string>uu-gujarati.glif</string>
    <key>uuMatra-gujarati</key>
    <string>uuM_atra-gujarati.glif</string>
    <key>uuMatra-gujarati.alt</key>
    <string>uuM_atra-gujarati.alt.glif</string>
    <key>v-gujarati</key>
    <string>v-gujarati.glif</string>
    <key>v_da-gujarati</key>
    <string>v_da-gujarati.glif</string>
    <key>v_r-gujarati</key>
    <string>v_r-gujarati.glif</string>
    <key>v_ra-gujarati</key>
    <string>v_ra-gujarati.glif</string>
    <key>va-gujarati</key>
    <string>va-gujarati.glif</string>
    <key>visarga-gujarati</key>
    <string>visarga-gujarati.glif</string>
    <key>y-gujarati</key>
    <string>y-gujarati.glif</string>
    <key>y_r-gujarati</key>
    <string>y_r-gujarati.glif</string>
    <key>y_ra-gujarati</key>
    <string>y_ra-gujarati.glif</string>
    <key>ya-gujarati</key>
    <string>ya-gujarati.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-gujarati</key>
    <string>zero-gujarati.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
    <key>zh-gujarati</key>
    <string>zh-gujarati.glif</string>
    <key>zh_ra-gujarati</key>
    <string>zh_ra-gujarati.glif</string>
    <key>zh_ra_aaMatra-gujarati</key>
    <string>zh_ra_aaM_atra-gujarati.glif</string>
    <key>zh_ra_iiMatra-gujarati</key>
    <string>zh_ra_iiM_atra-gujarati.glif</string>
    <key>zha-gujarati</key>
    <string>zha-gujarati.glif</string>
    <key>zha_aaMatra-gujarati</key>
    <string>zha_aaM_atra-gujarati.glif</string>
    <key>zha_iiMatra-gujarati</key>
    <string>zha_iiM_atra-gujarati.glif</string>
  </dict>
</plist>
