<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1270</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AlephFin</string>
      <string>AlephFin.EE</string>
      <string>AlephFin.pe</string>
      <string>AlephIni</string>
      <string>AlephIni.L</string>
      <string>AlephMed</string>
      <string>AlephMed.EE</string>
      <string>AlephMed.EEL</string>
      <string>AlephMed.L</string>
      <string>AlephMed.pe</string>
      <string>AlephMed.peL</string>
      <string>AlephSep</string>
      <string>AyinFin</string>
      <string>AyinFin.BB</string>
      <string>AyinFin.pe</string>
      <string>AyinIni</string>
      <string>AyinMed</string>
      <string>AyinSep</string>
      <string>BethFin</string>
      <string>BethFin.BB</string>
      <string>BethFin.pe</string>
      <string>BethIni</string>
      <string>BethMed</string>
      <string>BethMed.BB</string>
      <string>BethMed.pe</string>
      <string>BethSep</string>
      <string>CR</string>
      <string>FethFin</string>
      <string>FethFin.BB</string>
      <string>FethFin.pe</string>
      <string>FethIni</string>
      <string>FethMed</string>
      <string>FethMed.BB</string>
      <string>FethMed.pe</string>
      <string>FethSep</string>
      <string>GimelFin</string>
      <string>GimelFin.BB</string>
      <string>GimelFin.pe</string>
      <string>GimelIni</string>
      <string>GimelMed</string>
      <string>GimelMed.BB</string>
      <string>GimelMed.pe</string>
      <string>GimelSep</string>
      <string>HeFin</string>
      <string>HeFin.EE</string>
      <string>HeFin.pe</string>
      <string>HeSep</string>
      <string>HethFin</string>
      <string>HethFin.BB</string>
      <string>HethFin.alt03</string>
      <string>HethFin.alt03BB</string>
      <string>HethFin.pe</string>
      <string>HethIni</string>
      <string>HethMed</string>
      <string>HethMed.BB</string>
      <string>HethMed.pe</string>
      <string>HethSep</string>
      <string>IndShin</string>
      <string>KaphFin</string>
      <string>KaphFin.EE</string>
      <string>KaphFin.alt04</string>
      <string>KaphFin.alt04EE</string>
      <string>KaphFin.alt04pe</string>
      <string>KaphFin.pe</string>
      <string>KaphIni</string>
      <string>KaphIni.cut1</string>
      <string>KaphIni.cut2</string>
      <string>KaphIni.cut3</string>
      <string>KaphIni.ligaF</string>
      <string>KaphIni.ligaM</string>
      <string>KaphIni.short</string>
      <string>KaphMed</string>
      <string>KaphMed.EE</string>
      <string>KaphMed.cut1</string>
      <string>KaphMed.cut1EE</string>
      <string>KaphMed.cut2</string>
      <string>KaphMed.cut2EE</string>
      <string>KaphMed.cut3</string>
      <string>KaphMed.cut3EE</string>
      <string>KaphMed.ligaF</string>
      <string>KaphMed.ligaFEE</string>
      <string>KaphMed.ligaM</string>
      <string>KaphMed.ligaMEE</string>
      <string>KaphMed.pe</string>
      <string>KaphMed.pecut1</string>
      <string>KaphMed.pecut2</string>
      <string>KaphMed.pecut3</string>
      <string>KaphMed.peligaF</string>
      <string>KaphMed.peligaM</string>
      <string>KaphMed.peshort</string>
      <string>KaphMed.short</string>
      <string>KaphMed.shortEE</string>
      <string>KaphSep</string>
      <string>LamedhFin</string>
      <string>LamedhFin.hook</string>
      <string>LamedhFin.pe</string>
      <string>LamedhFin.pehook</string>
      <string>LamedhIni</string>
      <string>LamedhIni.hook</string>
      <string>LamedhIni.hookwide</string>
      <string>LamedhIni.wide</string>
      <string>LamedhMed</string>
      <string>LamedhMed.hook</string>
      <string>LamedhMed.hookwide</string>
      <string>LamedhMed.pe</string>
      <string>LamedhMed.pehook</string>
      <string>LamedhMed.pehookwide</string>
      <string>LamedhMed.pewide</string>
      <string>LamedhMed.wide</string>
      <string>LamedhSep</string>
      <string>LamedhSep.hook</string>
      <string>LeshFin</string>
      <string>LeshFin.EE</string>
      <string>LeshFin.pe</string>
      <string>LeshIni</string>
      <string>LeshMed</string>
      <string>LeshMed.EE</string>
      <string>LeshMed.pe</string>
      <string>LeshSep</string>
      <string>MemFin</string>
      <string>MemFin.BB</string>
      <string>MemFin.pe</string>
      <string>MemIni</string>
      <string>MemIni.Dx</string>
      <string>MemIni.L</string>
      <string>MemIni.S</string>
      <string>MemMed</string>
      <string>MemMed.Dx</string>
      <string>MemMed.EE</string>
      <string>MemMed.EEDx</string>
      <string>MemMed.EEL</string>
      <string>MemMed.EES</string>
      <string>MemMed.L</string>
      <string>MemMed.S</string>
      <string>MemMed.pe</string>
      <string>MemMed.peDx</string>
      <string>MemMed.peL</string>
      <string>MemMed.peS</string>
      <string>MemSep</string>
      <string>NULL</string>
      <string>NunFin</string>
      <string>NunFin.alt05</string>
      <string>NunFin.alt06</string>
      <string>NunFin.alt06BB</string>
      <string>NunFin.pe</string>
      <string>NunIni</string>
      <string>NunMed</string>
      <string>NunMed.pe</string>
      <string>NunSep</string>
      <string>PeFin</string>
      <string>PeFin.DD</string>
      <string>PeFin.pe</string>
      <string>PeIni</string>
      <string>PeIni.cut1</string>
      <string>PeIni.cut2</string>
      <string>PeIni.cut3</string>
      <string>PeIni.ligaF</string>
      <string>PeIni.ligaM</string>
      <string>PeIni.short</string>
      <string>PeMed</string>
      <string>PeMed.DD</string>
      <string>PeMed.cut1</string>
      <string>PeMed.cut1DD</string>
      <string>PeMed.cut2</string>
      <string>PeMed.cut2DD</string>
      <string>PeMed.cut3</string>
      <string>PeMed.cut3DD</string>
      <string>PeMed.ligaF</string>
      <string>PeMed.ligaFDD</string>
      <string>PeMed.ligaM</string>
      <string>PeMed.ligaMDD</string>
      <string>PeMed.pe</string>
      <string>PeMed.pecut1</string>
      <string>PeMed.pecut2</string>
      <string>PeMed.pecut3</string>
      <string>PeMed.peligaF</string>
      <string>PeMed.peligaM</string>
      <string>PeMed.peshort</string>
      <string>PeMed.short</string>
      <string>PeMed.shortDD</string>
      <string>PeSep</string>
      <string>ReshFin</string>
      <string>ReshFin.EE</string>
      <string>ReshFin.pe</string>
      <string>ReshIni</string>
      <string>ReshMed</string>
      <string>ReshMed.EE</string>
      <string>ReshMed.pe</string>
      <string>ReshSep</string>
      <string>SadheFin</string>
      <string>SadheFin.BB</string>
      <string>SadheFin.alt07</string>
      <string>SadheFin.alt07BB</string>
      <string>SadheFin.alt08</string>
      <string>SadheFin.alt08BB</string>
      <string>SadheFin.alt09</string>
      <string>SadheFin.alt09FF</string>
      <string>SadheFin.alt09R2</string>
      <string>SadheFin.alt09R3</string>
      <string>SadheFin.alt09R4</string>
      <string>SadheFin.alt10</string>
      <string>SadheFin.alt10FF</string>
      <string>SadheFin.alt10R2</string>
      <string>SadheFin.alt10R3</string>
      <string>SadheFin.alt10R4</string>
      <string>SadheFin.alt11</string>
      <string>SadheFin.alt11FF</string>
      <string>SadheFin.alt11R2</string>
      <string>SadheFin.alt11R3</string>
      <string>SadheFin.alt11R4</string>
      <string>SadheFin.pe</string>
      <string>SadheIni</string>
      <string>SadheMed</string>
      <string>SadheMed.FF</string>
      <string>SadheMed.R2</string>
      <string>SadheMed.R3</string>
      <string>SadheMed.R4</string>
      <string>SadheMed.pe</string>
      <string>SadheMed.pe2</string>
      <string>SadheSep</string>
      <string>SamekhFin</string>
      <string>SamekhFin.BB</string>
      <string>SamekhFin.pe</string>
      <string>SamekhIni</string>
      <string>SamekhMed</string>
      <string>SamekhMed.BB</string>
      <string>SamekhMed.pe</string>
      <string>SamekhSep</string>
      <string>ShinFin</string>
      <string>ShinFin.DD</string>
      <string>ShinFin.pe</string>
      <string>ShinIni</string>
      <string>ShinIni.Cx</string>
      <string>ShinIni.Dx</string>
      <string>ShinIni.Ex</string>
      <string>ShinIni.Fx</string>
      <string>ShinMed</string>
      <string>ShinMed.Cx</string>
      <string>ShinMed.DD</string>
      <string>ShinMed.DDCx</string>
      <string>ShinMed.DDDx</string>
      <string>ShinMed.DDEx</string>
      <string>ShinMed.DDFx</string>
      <string>ShinMed.Dx</string>
      <string>ShinMed.Ex</string>
      <string>ShinMed.Fx</string>
      <string>ShinMed.pe</string>
      <string>ShinMed.peCx</string>
      <string>ShinMed.peDx</string>
      <string>ShinMed.peEx</string>
      <string>ShinMed.peFx</string>
      <string>ShinSep</string>
      <string>TawFin</string>
      <string>TawFin.CC</string>
      <string>TawFin.XS</string>
      <string>TawFin.alt12</string>
      <string>TawFin.alt12CC</string>
      <string>TawFin.alt12XS</string>
      <string>TawFin.alt13</string>
      <string>TawFin.alt13FF</string>
      <string>TawFin.alt14</string>
      <string>TawFin.alt14FF</string>
      <string>TawFin.alt15</string>
      <string>TawFin.alt15FF</string>
      <string>TawFin.pe</string>
      <string>TawIni</string>
      <string>TawMed</string>
      <string>TawMed.CC</string>
      <string>TawMed.XS</string>
      <string>TawMed.pe</string>
      <string>TawSep</string>
      <string>WawFin</string>
      <string>WawFin.DD</string>
      <string>WawFin.liga</string>
      <string>WawIni</string>
      <string>WawMed</string>
      <string>WawMed.FF</string>
      <string>WawMed.liga</string>
      <string>WawSep</string>
      <string>YodhFin</string>
      <string>YodhFin.BB</string>
      <string>YodhFin.pe</string>
      <string>YodhIni</string>
      <string>YodhMed</string>
      <string>YodhMed.BB</string>
      <string>YodhMed.pe</string>
      <string>YodhSep</string>
      <string>ZayinFin</string>
      <string>ZayinFin.alt02</string>
      <string>ZayinFin.pe</string>
      <string>ZayinIni</string>
      <string>ZayinMed</string>
      <string>ZayinMed.pe</string>
      <string>ZayinSep</string>
      <string>curveaboveSogd</string>
      <string>curvebelowSogd</string>
      <string>dotaboveSogd</string>
      <string>dotaboveSogd.rho</string>
      <string>dotbelowSogd</string>
      <string>dotbelowSogd.rho</string>
      <string>hookaboveSogd</string>
      <string>hookaboveSogd.alt</string>
      <string>hookbelowSogd</string>
      <string>hundredSogdFin</string>
      <string>hundredSogdSep</string>
      <string>longhookbelowSogd</string>
      <string>oneSogdFin</string>
      <string>oneSogdIni</string>
      <string>oneSogdMed</string>
      <string>oneSogdSep</string>
      <string>reshbelowSogd</string>
      <string>space</string>
      <string>strokebelowSogd</string>
      <string>strokebelowSogd.2</string>
      <string>strokebelowSogd.3</string>
      <string>strokebelowSogd.4</string>
      <string>strokebelowSogd.5</string>
      <string>strokebelowSogd.6</string>
      <string>strokebelowSogd.7</string>
      <string>tatweel</string>
      <string>tenSogdFin</string>
      <string>tenSogdIni</string>
      <string>tenSogdMed</string>
      <string>tenSogdSep</string>
      <string>twentySogdFin</string>
      <string>twentySogdIni</string>
      <string>twentySogdMed</string>
      <string>twentySogdSep</string>
      <string>twodotsaboveSogd</string>
      <string>twodotsaboveSogd.rho</string>
      <string>twodotsbelowSogd</string>
      <string>twodotsbelowSogd.rho</string>
      <string>u10F55</string>
      <string>u10F55.altA</string>
      <string>u10F55.dot</string>
      <string>u10F55.rho</string>
      <string>u10F56</string>
      <string>u10F56.rho</string>
      <string>u10F57</string>
      <string>u10F58</string>
      <string>u10F59</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni25CC</string>
    </array>
  </dict>
</plist>
