<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10B80</string>
      <string>u10B80.fina</string>
      <string>u10B80.init</string>
      <string>u10B80.medi</string>
      <string>u10B81</string>
      <string>u10B81.fina</string>
      <string>u10B82</string>
      <string>u10B82.fina</string>
      <string>u10B82.init</string>
      <string>u10B82.medi</string>
      <string>u10B83</string>
      <string>u10B83.fina</string>
      <string>u10B84</string>
      <string>u10B84.fina</string>
      <string>u10B85</string>
      <string>u10B85.fina</string>
      <string>u10B86</string>
      <string>u10B86.fina</string>
      <string>u10B86.init</string>
      <string>u10B86.medi</string>
      <string>u10B87</string>
      <string>u10B87.fina</string>
      <string>u10B87.init</string>
      <string>u10B87.medi</string>
      <string>u10B88</string>
      <string>u10B88.fina</string>
      <string>u10B88.init</string>
      <string>u10B88.medi</string>
      <string>u10B89</string>
      <string>u10B89.fina</string>
      <string>u10B89_alt2</string>
      <string>u10B89_alt2.fina</string>
      <string>u10B8A</string>
      <string>u10B8A.fina</string>
      <string>u10B8A.init</string>
      <string>u10B8A.medi</string>
      <string>u10B8B</string>
      <string>u10B8B.fina</string>
      <string>u10B8B.init</string>
      <string>u10B8B.medi</string>
      <string>u10B8C</string>
      <string>u10B8C.fina</string>
      <string>u10B8C_alt2</string>
      <string>u10B8C_alt2.fina</string>
      <string>u10B8D</string>
      <string>u10B8D.fina</string>
      <string>u10B8D.init</string>
      <string>u10B8D.medi</string>
      <string>u10B8E</string>
      <string>u10B8E.fina</string>
      <string>u10B8F</string>
      <string>u10B8F.fina</string>
      <string>u10B8F_alt2</string>
      <string>u10B8F_alt2.fina</string>
      <string>u10B90</string>
      <string>u10B90.fina</string>
      <string>u10B90.init</string>
      <string>u10B90.medi</string>
      <string>u10B91</string>
      <string>u10B91.fina</string>
      <string>u10B99</string>
      <string>u10B9A</string>
      <string>u10B9B</string>
      <string>u10B9C</string>
      <string>u10BA9</string>
      <string>u10BA9.alt</string>
      <string>u10BA9.alt.fina</string>
      <string>u10BA9.fina</string>
      <string>u10BAA</string>
      <string>u10BAA.alt</string>
      <string>u10BAA.alt.fina</string>
      <string>u10BAA.fina</string>
      <string>u10BAB</string>
      <string>u10BAB.alt</string>
      <string>u10BAB.alt.fina</string>
      <string>u10BAB.fina</string>
      <string>u10BAC</string>
      <string>u10BAC.alt</string>
      <string>u10BAC.alt.fina</string>
      <string>u10BAC.fina</string>
      <string>u10BAD</string>
      <string>u10BAD.fina</string>
      <string>u10BAD.init</string>
      <string>u10BAD.medi</string>
      <string>u10BAE</string>
      <string>u10BAE.fina</string>
      <string>u10BAE.init</string>
      <string>u10BAE.medi</string>
      <string>u10BAF</string>
      <string>uni00A0</string>
      <string>uni0640</string>
      <string>uni25CC</string>
      <string>zerowidthjoiner</string>
      <string>zerowidthnonjoiner</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>zerowidthjoiner</key>
      <string>uni200D</string>
      <key>zerowidthnonjoiner</key>
      <string>uni200C</string>
    </dict>
  </dict>
</plist>
