<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AA_dv</string>
      <string>AA_dv.alt</string>
      <string>AA_dv.alt2</string>
      <string>AA_dv.alt3ga</string>
      <string>AA_dv.alt5</string>
      <string>AA_dv.alt6</string>
      <string>AA_dv.nya</string>
      <string>AA_dv.tall</string>
      <string>AA_dv.ttha</string>
      <string>AA_iv</string>
      <string>AI_dv</string>
      <string>AI_dv.alt</string>
      <string>AI_dv.lg</string>
      <string>AI_dv.md</string>
      <string>AI_dv.sm</string>
      <string>AI_dv.xlg</string>
      <string>AI_dv_top.alt</string>
      <string>AI_iv</string>
      <string>AU_dv</string>
      <string>AU_dv.alt</string>
      <string>AU_dv.lg</string>
      <string>AU_dv.md</string>
      <string>AU_dv.md.tall</string>
      <string>AU_dv.sm</string>
      <string>AU_dv.tall</string>
      <string>AU_dv.xlg</string>
      <string>AU_dv.xlg.tall</string>
      <string>AU_dv.xxlg</string>
      <string>AU_dv_part.alt</string>
      <string>AU_dv_part.alt2</string>
      <string>AU_dv_part.alt2_anusvara</string>
      <string>AU_dv_part.alt2_candra</string>
      <string>AU_dv_part.alt3</string>
      <string>AU_dv_part.alt3_anusvara</string>
      <string>AU_dv_part.alt3_candra</string>
      <string>AU_dv_part.alt5</string>
      <string>AU_dv_part.alt5_anusvara</string>
      <string>AU_dv_part.alt5_candra</string>
      <string>AU_dv_part.alt6</string>
      <string>AU_dv_part.alt6_anusvara</string>
      <string>AU_dv_part.alt6_candra</string>
      <string>AU_dv_part.alt_anusvara</string>
      <string>AU_dv_part.alt_candra</string>
      <string>AU_dv_part.ttha</string>
      <string>AU_dv_part.ttha_anusvara</string>
      <string>AU_dv_part.ttha_candra</string>
      <string>AU_iv</string>
      <string>A_iv</string>
      <string>Abbreviation</string>
      <string>Anusvara</string>
      <string>Avagraha</string>
      <string>Ba</string>
      <string>Ba.cd</string>
      <string>Ba.half</string>
      <string>Ba.icd</string>
      <string>Ba.icd.nohd</string>
      <string>Ba.icd.shim.sm</string>
      <string>Ba.nohd</string>
      <string>Bdha</string>
      <string>Bha</string>
      <string>Bha.alt</string>
      <string>Bha.alt.nohd</string>
      <string>Bha.cd</string>
      <string>Bha.half</string>
      <string>Bha.icd</string>
      <string>Bha.icd.nohd</string>
      <string>Bha.nohd</string>
      <string>CR</string>
      <string>Ca</string>
      <string>Ca.cd</string>
      <string>Ca.half</string>
      <string>Ca.icd</string>
      <string>Ca.icd.nohd</string>
      <string>Ca.nohd</string>
      <string>Candrabindu</string>
      <string>Candrabindu.sm</string>
      <string>Cha</string>
      <string>Cha.cd</string>
      <string>Cha.icd</string>
      <string>Cha.icd.nohd</string>
      <string>Cha.icd.shim</string>
      <string>Cha.nohd</string>
      <string>Cha_Ta</string>
      <string>Cha_Ta.nohd</string>
      <string>Comma</string>
      <string>Da</string>
      <string>Da.cd</string>
      <string>Da.icd</string>
      <string>Da.icd.nohd</string>
      <string>Da.icd.nohd.rt</string>
      <string>Da.icd.rt</string>
      <string>Da.nohd</string>
      <string>Da_Nna</string>
      <string>Da_Nna.nohd</string>
      <string>Da_Ta</string>
      <string>Da_Ta.nohd</string>
      <string>Danda</string>
      <string>Dbldanda</string>
      <string>Dda</string>
      <string>Dda.cd</string>
      <string>Dda.icd</string>
      <string>Dda.icd.nohd</string>
      <string>Dda.icd.nohd.rt</string>
      <string>Dda.icd.rt</string>
      <string>Dda.icd.shim</string>
      <string>Dda.nohd</string>
      <string>DdaTa</string>
      <string>DdaTa.nohd</string>
      <string>Ddha</string>
      <string>Ddha.cd</string>
      <string>Ddha.icd</string>
      <string>Ddha.icd.nohd</string>
      <string>Ddha.icd.nohd.rt</string>
      <string>Ddha.icd.rt</string>
      <string>Ddha.icd.shim</string>
      <string>Ddha.nohd</string>
      <string>Ddha_Ta</string>
      <string>Ddha_Ta.nohd</string>
      <string>Dha</string>
      <string>Dha.cd</string>
      <string>Dha.cd.alt</string>
      <string>Dha.half</string>
      <string>Dha.icd</string>
      <string>E_dv</string>
      <string>E_dv.alt</string>
      <string>E_dv.lg</string>
      <string>E_dv.md</string>
      <string>E_dv.right</string>
      <string>E_dv.sm</string>
      <string>E_dv.xlg</string>
      <string>E_iv</string>
      <string>Eight_Newa</string>
      <string>Finalanusvara</string>
      <string>Five_Newa</string>
      <string>Four_Newa</string>
      <string>Ga</string>
      <string>Ga.cd</string>
      <string>Ga.cd.alt</string>
      <string>Ga.half</string>
      <string>Ga.icd</string>
      <string>Gapfiller</string>
      <string>Gha</string>
      <string>Gha.cd</string>
      <string>Gha.cd.nohd</string>
      <string>Gha.cd.nohd.ns</string>
      <string>Gha.diag</string>
      <string>Gha.half</string>
      <string>Gha.icd</string>
      <string>Gha.icd.nohd</string>
      <string>Gha.nohd</string>
      <string>Gi</string>
      <string>Gi.icd</string>
      <string>Gphra</string>
      <string>Gtya</string>
      <string>Ha</string>
      <string>Ha.alt</string>
      <string>Ha.alt.nohd</string>
      <string>Ha.cd</string>
      <string>Ha.icd</string>
      <string>Ha.icd.alt</string>
      <string>Ha.icd.alt.nohd</string>
      <string>Ha.icd.nohd</string>
      <string>Ha.nohd</string>
      <string>Ha_Gha</string>
      <string>Ha_Gha.nohd</string>
      <string>Ha_Jha</string>
      <string>Ha_Jha.nohd</string>
      <string>Ha_Kha</string>
      <string>Ha_Kha.nohd</string>
      <string>Ha_La</string>
      <string>Ha_La.nohd</string>
      <string>Ha_Ma</string>
      <string>Ha_Ma.nohd</string>
      <string>Ha_Na</string>
      <string>Ha_Na.nohd</string>
      <string>Ha_Nga</string>
      <string>Ha_Nga.nohd</string>
      <string>Ha_Nna</string>
      <string>Ha_Nna.nohd</string>
      <string>Ha_Nya</string>
      <string>Ha_Nya.nohd</string>
      <string>Ha_Pa</string>
      <string>Ha_Pa.nohd</string>
      <string>Ha_Ra</string>
      <string>Ha_Ra.nohd</string>
      <string>Ha_Sa</string>
      <string>Ha_Sa.nohd</string>
      <string>Ha_Ssa</string>
      <string>Ha_Ssa.nohd</string>
      <string>Ha_Ta</string>
      <string>Ha_Ta.nohd</string>
      <string>Ha_Ya</string>
      <string>Ha_Ya.nohd</string>
      <string>II_dv</string>
      <string>II_dv.lg</string>
      <string>II_dv.lg.alt</string>
      <string>II_dv.med</string>
      <string>II_dv.med.alt</string>
      <string>II_dv.xlg</string>
      <string>II_dv.xlg.alt</string>
      <string>II_dv.xlg.tall</string>
      <string>II_dv.xsm</string>
      <string>II_dv.xsm.tall</string>
      <string>II_dv_Nya</string>
      <string>II_dv_Repha</string>
      <string>II_dv_Repha.lg</string>
      <string>II_dv_Repha.lg.alt</string>
      <string>II_dv_Repha.med</string>
      <string>II_dv_Repha.med.alt</string>
      <string>II_dv_Repha.xlg</string>
      <string>II_dv_Repha.xlg.alt</string>
      <string>II_dv_Repha.xsm</string>
      <string>II_dv_Repha_Nya</string>
      <string>II_iv</string>
      <string>I_dv</string>
      <string>I_dv.alt</string>
      <string>I_dv.sm</string>
      <string>I_dv.sm.tall</string>
      <string>I_dv.tall</string>
      <string>I_dv.xsm</string>
      <string>I_dv.xxsm</string>
      <string>I_dv_Repha</string>
      <string>I_dv_Repha.alt</string>
      <string>I_dv_Repha.sm</string>
      <string>I_dv_Repha.xsm</string>
      <string>I_dv_Repha.xxsm</string>
      <string>I_iv</string>
      <string>Insertion</string>
      <string>Ja</string>
      <string>Ja.cd</string>
      <string>Ja.icd</string>
      <string>Ja.icd.alt</string>
      <string>Ja.icd.alt.nohd</string>
      <string>Ja.icd.nohd</string>
      <string>Ja.icd.shim</string>
      <string>Ja.icd.wide</string>
      <string>Ja.icd.wide.nohd</string>
      <string>Ja.nohd</string>
      <string>JaKha</string>
      <string>JaKha.nohd</string>
      <string>Ja_Nya</string>
      <string>Ja_Nya.nohd</string>
      <string>Jha</string>
      <string>Jha.cd</string>
      <string>Jha.cd.nohd</string>
      <string>Jha.cd.nohd.ns</string>
      <string>Jha.diag</string>
      <string>Jha.half</string>
      <string>Jha.icd</string>
      <string>Jha.icd.nohd</string>
      <string>Jha.nohd</string>
      <string>Ju</string>
      <string>Ju.nohd</string>
      <string>Juu</string>
      <string>Juu.nohd</string>
      <string>Ka</string>
      <string>Ka.cd</string>
      <string>Ka.icd</string>
      <string>Ka.icd.alt</string>
      <string>Ka.icd.alt.nohd</string>
      <string>Ka.icd.nohd</string>
      <string>Ka.icd.wide</string>
      <string>Ka.icd.wide.nohd</string>
      <string>Ka.nohd</string>
      <string>Ka_Nya</string>
      <string>Ka_Nya.nohd</string>
      <string>Ka_Ssa</string>
      <string>Ka_Ssa.nohd</string>
      <string>Kha</string>
      <string>Kha.cd</string>
      <string>Kha.cd.nohd</string>
      <string>Kha.cd.nohd.ns</string>
      <string>Kha.diag</string>
      <string>Kha.half</string>
      <string>Kha.icd</string>
      <string>Kha.icd.nohd</string>
      <string>Kha.nohd</string>
      <string>Khtya</string>
      <string>Khtya.nohd</string>
      <string>Kkssa</string>
      <string>Kkssa.nohd</string>
      <string>Ksska</string>
      <string>Ksska.nohd</string>
      <string>Kssma</string>
      <string>Kssma.nohd</string>
      <string>Kssna</string>
      <string>Kssna.nohd</string>
      <string>Kssnna</string>
      <string>Kssnna.nohd</string>
      <string>Kssra</string>
      <string>Kssra.nohd</string>
      <string>Kssva</string>
      <string>Kssva.nohd</string>
      <string>Kssya</string>
      <string>Kssya.nohd</string>
      <string>LL_dv</string>
      <string>LL_iv</string>
      <string>L_dv</string>
      <string>L_iv</string>
      <string>La</string>
      <string>La.cd</string>
      <string>La.half</string>
      <string>La.icd</string>
      <string>La.icd.nohd</string>
      <string>La.nohd</string>
      <string>Lha</string>
      <string>Lha.nohd</string>
      <string>Lhva</string>
      <string>Lhva.nohd</string>
      <string>Lhya</string>
      <string>Lhya.nohd</string>
      <string>Ma</string>
      <string>Ma.cd</string>
      <string>Ma.cd.nohd</string>
      <string>Ma.cd.nohd.ns</string>
      <string>Ma.diag</string>
      <string>Ma.half</string>
      <string>Ma.icd</string>
      <string>Ma.icd.nohd</string>
      <string>Ma.nohd</string>
      <string>Mha</string>
      <string>Mha.nohd</string>
      <string>Mhva</string>
      <string>Mhva.nohd</string>
      <string>Mhya</string>
      <string>Mhya.nohd</string>
      <string>Mpya</string>
      <string>Mpya.nohd</string>
      <string>NULL</string>
      <string>Na</string>
      <string>Na.cd</string>
      <string>Na.half</string>
      <string>Na.icd</string>
      <string>Na.icd.nohd</string>
      <string>Na.nohd</string>
      <string>NaPha</string>
      <string>NaPha.nohd</string>
      <string>Ndha</string>
      <string>Ndhva</string>
      <string>Ndhya</string>
      <string>Ndra</string>
      <string>Ndra.nohd</string>
      <string>Nga</string>
      <string>Nga.cd</string>
      <string>Nga.icd</string>
      <string>Nga.icd.nohd</string>
      <string>Nga.icd.nohd.rt</string>
      <string>Nga.icd.rt</string>
      <string>Nga.icd.shim</string>
      <string>Nga.nohd</string>
      <string>Nga_Ta</string>
      <string>Nga_Ta.nohd</string>
      <string>Ngha</string>
      <string>Ngha.nohd</string>
      <string>Ngkhya</string>
      <string>Ngkhya.nohd</string>
      <string>Ngkssa</string>
      <string>Ngkssa.nohd</string>
      <string>Nha</string>
      <string>Nha.nohd</string>
      <string>Nhva</string>
      <string>Nhva.nohd</string>
      <string>Nhya</string>
      <string>Nhya.nohd</string>
      <string>Nine_Newa</string>
      <string>Nkssa</string>
      <string>Nkssa.nohd</string>
      <string>Nna</string>
      <string>Nna.half</string>
      <string>Nna.icd</string>
      <string>Nna.post</string>
      <string>Nna.post.alt2</string>
      <string>Nska</string>
      <string>Nska.nohd</string>
      <string>Nsta</string>
      <string>Nsta.nohd</string>
      <string>Nstta</string>
      <string>Nstta.nohd</string>
      <string>Ntra</string>
      <string>Ntra.nohd</string>
      <string>Ntya</string>
      <string>Ntya.nohd</string>
      <string>Nukta</string>
      <string>NullMark</string>
      <string>NyGha</string>
      <string>NyJha</string>
      <string>NyKha</string>
      <string>NyMa</string>
      <string>NyPa</string>
      <string>NySa</string>
      <string>NySsa</string>
      <string>NyYa</string>
      <string>Nya</string>
      <string>Nya.cd</string>
      <string>Nya.icd</string>
      <string>Nya_Ta</string>
      <string>Nya_low.cd</string>
      <string>Nya_nostem.icd</string>
      <string>Nya_stem.cd</string>
      <string>Nya_stem.cd.alt</string>
      <string>Nyha</string>
      <string>Nyha.nohd</string>
      <string>Nyjya</string>
      <string>O_dv</string>
      <string>O_dv.alt</string>
      <string>O_dv.lg</string>
      <string>O_dv.md</string>
      <string>O_dv.md.tall</string>
      <string>O_dv.sm</string>
      <string>O_dv.tall</string>
      <string>O_dv.xlg</string>
      <string>O_dv.xlg.tall</string>
      <string>O_dv.xxlg</string>
      <string>O_dv.xxlg.tall</string>
      <string>O_iv</string>
      <string>Om</string>
      <string>One_Newa</string>
      <string>Pa</string>
      <string>Pa.cd</string>
      <string>Pa.cd.nohd</string>
      <string>Pa.cd.nohd.ns</string>
      <string>Pa.diag</string>
      <string>Pa.half</string>
      <string>Pa.icd</string>
      <string>Pa.icd.nohd</string>
      <string>Pa.icd.shim.sm</string>
      <string>Pa.nohd</string>
      <string>Pha</string>
      <string>Pha.cd</string>
      <string>Pha.icd</string>
      <string>Pha.icd.nohd</string>
      <string>Pha.icd.shim</string>
      <string>Pha.icd.shim.sm</string>
      <string>Pha.nohd</string>
      <string>PhaGha</string>
      <string>PhaGha.nohd</string>
      <string>PhaJha</string>
      <string>PhaJha.nohd</string>
      <string>PhaKha</string>
      <string>PhaKha.nohd</string>
      <string>PhaMa</string>
      <string>PhaMa.nohd</string>
      <string>PhaNna</string>
      <string>PhaNna.nohd</string>
      <string>PhaPa</string>
      <string>PhaPa.nohd</string>
      <string>PhaPha</string>
      <string>PhaPha.nohd</string>
      <string>PhaSa</string>
      <string>PhaSa.nohd</string>
      <string>PhaSsa</string>
      <string>PhaSsa.nohd</string>
      <string>PhaYa</string>
      <string>PhaYa.nohd</string>
      <string>Pha_Ta</string>
      <string>Pha_Ta.nohd</string>
      <string>Pkssa</string>
      <string>Pkssa.nohd</string>
      <string>Placeholder</string>
      <string>RR_dv</string>
      <string>R_dv</string>
      <string>R_iv</string>
      <string>Ra</string>
      <string>Ra.cd</string>
      <string>Ra.half</string>
      <string>Ra.icd</string>
      <string>Ra.icd.nohd</string>
      <string>Ra.nohd</string>
      <string>Repha</string>
      <string>RephaE</string>
      <string>Repha_AI_dv</string>
      <string>Repha_I_dv</string>
      <string>Rha</string>
      <string>Rha.nohd</string>
      <string>Rr_iv</string>
      <string>Ru</string>
      <string>Ru.nohd</string>
      <string>Ruu</string>
      <string>Ruu.nohd</string>
      <string>Rya</string>
      <string>Rya.nohd</string>
      <string>Sa</string>
      <string>Sa.cd</string>
      <string>Sa.cd.nohd</string>
      <string>Sa.cd.nohd.ns</string>
      <string>Sa.diag</string>
      <string>Sa.half</string>
      <string>Sa.icd</string>
      <string>Sa.icd.nohd</string>
      <string>Sa.nohd</string>
      <string>Seven_Newa</string>
      <string>Sha</string>
      <string>Sha.cd</string>
      <string>Sha.half</string>
      <string>Sha.icd</string>
      <string>Shi</string>
      <string>Shi.icd</string>
      <string>ShimHead10</string>
      <string>ShimHead100</string>
      <string>ShimHead120</string>
      <string>ShimHead180</string>
      <string>ShimHead20</string>
      <string>ShimHead30</string>
      <string>ShimHead40</string>
      <string>ShimHead50</string>
      <string>ShimHead60</string>
      <string>ShimHead70</string>
      <string>ShimHead80</string>
      <string>ShimHead90</string>
      <string>Siddhi</string>
      <string>Six_Newa</string>
      <string>Ssa</string>
      <string>Ssa.cd</string>
      <string>Ssa.cd.nohd</string>
      <string>Ssa.cd.nohd.ns</string>
      <string>Ssa.diag</string>
      <string>Ssa.half</string>
      <string>Ssa.icd</string>
      <string>Ssa.icd.nohd</string>
      <string>Ssa.nohd</string>
      <string>Ssttra</string>
      <string>Ssttra.nohd</string>
      <string>Sthya</string>
      <string>Sthya.nohd</string>
      <string>Ta</string>
      <string>Ta.half</string>
      <string>Ta.icd</string>
      <string>Ta.icd.nohd</string>
      <string>Ta.nohd</string>
      <string>Ta.post</string>
      <string>Ta.post.head</string>
      <string>Ta.post.ns</string>
      <string>TaNna</string>
      <string>TaNna.nohd</string>
      <string>Tha</string>
      <string>Tha.half</string>
      <string>Tha.icd</string>
      <string>Tha.post</string>
      <string>Three_Newa</string>
      <string>Tkssa</string>
      <string>Tkssa.nohd</string>
      <string>Trtra</string>
      <string>Trtra.nohd</string>
      <string>Tta</string>
      <string>Tta.cd</string>
      <string>Tta.icd</string>
      <string>Tta.icd.nohd</string>
      <string>Tta.icd.nohd.rt</string>
      <string>Tta.icd.rt</string>
      <string>Tta.icd.shim</string>
      <string>Tta.nohd</string>
      <string>Tta_Ta</string>
      <string>Tta_Ta.nohd</string>
      <string>Ttha</string>
      <string>Ttha.cd</string>
      <string>Ttha.icd</string>
      <string>Ttha.icd.center</string>
      <string>Ttha.icd.rt</string>
      <string>TthaTa</string>
      <string>Ttkssa</string>
      <string>Ttkssa.nohd</string>
      <string>Two_Newa</string>
      <string>UU.sm</string>
      <string>UU.sm.alt</string>
      <string>UU_dv</string>
      <string>UU_dv.alt</string>
      <string>UU_iv</string>
      <string>U_dv</string>
      <string>U_dv.alt</string>
      <string>U_dv.sm</string>
      <string>U_iv</string>
      <string>Va.cd</string>
      <string>Va.half</string>
      <string>Va.icd</string>
      <string>Va.icd.nohd</string>
      <string>Vdha</string>
      <string>Virama</string>
      <string>Visarga</string>
      <string>Wa</string>
      <string>Wa.nohd</string>
      <string>Ya</string>
      <string>Ya.cd</string>
      <string>Ya.cd.nohd</string>
      <string>Ya.cd.nohd.ns</string>
      <string>Ya.diag</string>
      <string>Ya.half</string>
      <string>Ya.icd</string>
      <string>Ya.icd.nohd</string>
      <string>Ya.icd.shim.sm</string>
      <string>Ya.nohd</string>
      <string>ZWJ</string>
      <string>Zero_Newa</string>
      <string>deletionMark</string>
      <string>nbspace</string>
      <string>periodcentered</string>
      <string>sandhiMark</string>
      <string>space</string>
      <string>uni200C</string>
      <string>uni25CC</string>
      <string>vedic_anusvara</string>
      <string>vocL.sm</string>
      <string>vocLL.sm</string>
      <string>vocR.sm</string>
      <string>vocRR.sm</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>nbspace</key>
      <string>uni00A0</string>
    </dict>
  </dict>
</plist>
