<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1230</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisableAllAutomaticBehaviour</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.FontWorker_GPOS</key>
    <string>../../startOTL/Noto Sans Malayalam 90-100 GPOS.txt</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>94</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aamlym</string>
      <string>aavowelsignmlym</string>
      <string>aimlym</string>
      <string>aivowelsignmlym</string>
      <string>amlym</string>
      <string>anusvaramlym</string>
      <string>asciicircum.mlym</string>
      <string>asciitilde.mlym</string>
      <string>asterisk.mlym</string>
      <string>aulengthmarkmlym</string>
      <string>aumlym</string>
      <string>auvowelsignmlym</string>
      <string>avagrahamlym</string>
      <string>babamlym</string>
      <string>backslash.mlym</string>
      <string>badamlym</string>
      <string>badhamlym</string>
      <string>balamlym</string>
      <string>bamlym</string>
      <string>baprehalfmlym</string>
      <string>bar.mlym</string>
      <string>bhallvocalicmlym</string>
      <string>bhalvocalicmlym</string>
      <string>bhamlym</string>
      <string>bhaprehalfmlym</string>
      <string>braceleft.mlym</string>
      <string>braceright.mlym</string>
      <string>bracketleft.mlym</string>
      <string>bracketright.mlym</string>
      <string>cacamlym</string>
      <string>cachamlym</string>
      <string>camlym</string>
      <string>candrabindu_0951mlym</string>
      <string>candrabindu_0952mlym</string>
      <string>candrabindu_1CDAmlym</string>
      <string>candrabindumlym</string>
      <string>caprehalfmlym</string>
      <string>chamlym</string>
      <string>chaprehalfmlym</string>
      <string>colon.mlym</string>
      <string>comma.mlym</string>
      <string>dadamlym</string>
      <string>dadhamlym</string>
      <string>dallvocalicmlym</string>
      <string>dalvocalicmlym</string>
      <string>damlym</string>
      <string>danda.mlym</string>
      <string>daprehalfmlym</string>
      <string>datemarkmlym</string>
      <string>dbldanda.mlym</string>
      <string>ddaddamlym</string>
      <string>ddaddhamlym</string>
      <string>ddamlym</string>
      <string>ddaprehalfmlym</string>
      <string>ddhamlym</string>
      <string>ddhaprehalfmlym</string>
      <string>dhadotabove</string>
      <string>dhadotbelow</string>
      <string>dhamlym</string>
      <string>dhaprehalfmlym</string>
      <string>divide.mlym</string>
      <string>eemlym</string>
      <string>eevowelsignmlym</string>
      <string>eight.mlym</string>
      <string>eightmlym</string>
      <string>ellipsis.mlym</string>
      <string>emdash.mlym</string>
      <string>emlym</string>
      <string>endash.mlym</string>
      <string>equal.mlym</string>
      <string>evowelsignmlym</string>
      <string>exclam.mlym</string>
      <string>five.mlym</string>
      <string>fivemlym</string>
      <string>four.mlym</string>
      <string>fourmlym</string>
      <string>gadamlym</string>
      <string>gadotabove</string>
      <string>gadotbelow</string>
      <string>gagamlym</string>
      <string>galamlym</string>
      <string>gamamlym</string>
      <string>gamlym</string>
      <string>ganamlym</string>
      <string>gaprehalfmlym</string>
      <string>ghamlym</string>
      <string>ghaprehalfmlym</string>
      <string>greater.mlym</string>
      <string>halamlym</string>
      <string>hamamlym</string>
      <string>hamlym</string>
      <string>hanamlym</string>
      <string>haprehalfmlym</string>
      <string>hundredmlym</string>
      <string>hyphen.mlym</string>
      <string>iimlym</string>
      <string>iivowelsignalt2mlym</string>
      <string>iivowelsignaltmlym</string>
      <string>iivowelsignmlym</string>
      <string>imlym</string>
      <string>ivowelsignalt2mlym</string>
      <string>ivowelsignaltmlym</string>
      <string>ivowelsignmlym</string>
      <string>jajamlym</string>
      <string>jamlym</string>
      <string>janyamlym</string>
      <string>japrehalfmlym</string>
      <string>jhamlym</string>
      <string>jhaprehalfmlym</string>
      <string>kachillumlym</string>
      <string>kakamlym</string>
      <string>kalamlym</string>
      <string>kamlym</string>
      <string>kaprehalfmlym</string>
      <string>kassamlym</string>
      <string>kassaprehalfmlym</string>
      <string>katamlym</string>
      <string>kattamlym</string>
      <string>khamlym</string>
      <string>khaprehalfmlym</string>
      <string>lachillumlym</string>
      <string>lalamlym</string>
      <string>lamlym</string>
      <string>lapamlym</string>
      <string>laprehalfmlym</string>
      <string>lasubscriptmlym</string>
      <string>less.mlym</string>
      <string>llachillumlym</string>
      <string>llallamlym</string>
      <string>llamlym</string>
      <string>llaprehalfmlym</string>
      <string>lllachillumlym</string>
      <string>lllallvocalicmlym</string>
      <string>lllalvocalicmlym</string>
      <string>lllamlym</string>
      <string>lllaprehalfmlym</string>
      <string>llvocalicmlym</string>
      <string>llvocalicvowelsignaltmlym</string>
      <string>llvocalicvowelsignmlym</string>
      <string>lvocalicmlym</string>
      <string>lvocalicvowelsignaltmlym</string>
      <string>lvocalicvowelsignmlym</string>
      <string>machillumlym</string>
      <string>madotabove</string>
      <string>madotbelow</string>
      <string>malamlym</string>
      <string>mallvocalicmlym</string>
      <string>malvocalicmlym</string>
      <string>mamamlym</string>
      <string>mamlym</string>
      <string>mapalamlym</string>
      <string>mapamlym</string>
      <string>maprehalfmlym</string>
      <string>minus.mlym</string>
      <string>multiply.mlym</string>
      <string>nachillumlym</string>
      <string>nadamlym</string>
      <string>nadhamlym</string>
      <string>namamlym</string>
      <string>namlym</string>
      <string>nanamlym</string>
      <string>naprehalfmlym</string>
      <string>narramlym</string>
      <string>natamlym</string>
      <string>nathamlym</string>
      <string>ngakalamlym</string>
      <string>ngakamlym</string>
      <string>ngamlym</string>
      <string>ngangamlym</string>
      <string>ngaprehalfmlym</string>
      <string>nidotabove</string>
      <string>nidotbelow</string>
      <string>nine.mlym</string>
      <string>ninemlym</string>
      <string>nnachillumlym</string>
      <string>nnaddamlym</string>
      <string>nnaddhamlym</string>
      <string>nnamamlym</string>
      <string>nnamlym</string>
      <string>nnannamlym</string>
      <string>nnaprehalfmlym</string>
      <string>nnattamlym</string>
      <string>nnnamlym</string>
      <string>numbersign.mlym</string>
      <string>nyacamlym</string>
      <string>nyachamlym</string>
      <string>nyajamlym</string>
      <string>nyamlym</string>
      <string>nyanyamlym</string>
      <string>nyaprehalfmlym</string>
      <string>omlym</string>
      <string>one.mlym</string>
      <string>onehalfmlym</string>
      <string>onemlym</string>
      <string>onequartermlym</string>
      <string>oomlym</string>
      <string>oovowelsignmlym</string>
      <string>ovowelsignmlym</string>
      <string>padotabove</string>
      <string>padotbelow</string>
      <string>palamlym</string>
      <string>pamlym</string>
      <string>papamlym</string>
      <string>paprehalfmlym</string>
      <string>parenleft.mlym</string>
      <string>parenright.mlym</string>
      <string>patamlym</string>
      <string>percent.mlym</string>
      <string>period.mlym</string>
      <string>phalamlym</string>
      <string>phamlym</string>
      <string>phaprehalfmlym</string>
      <string>plus.mlym</string>
      <string>question.mlym</string>
      <string>quotedbl.mlym</string>
      <string>quotedblleft.mlym</string>
      <string>quotedblright.mlym</string>
      <string>quoteleft.mlym</string>
      <string>quoteright.mlym</string>
      <string>quotesingle.mlym</string>
      <string>rallvocalicmlym</string>
      <string>ralvocalicmlym</string>
      <string>ramlym</string>
      <string>rapostaltmlym</string>
      <string>rapostmlym</string>
      <string>raprehalfmlym</string>
      <string>rephiivowelmlym</string>
      <string>rephivowelmlym</string>
      <string>rephmlym</string>
      <string>rephviramamlym</string>
      <string>ridotabove</string>
      <string>ridotbelow</string>
      <string>rrachillumlym</string>
      <string>rrallvocalicmlym</string>
      <string>rralvocalicmlym</string>
      <string>rramlym</string>
      <string>rraprehalfmlym</string>
      <string>rrarramlym</string>
      <string>rrvocalicmlym</string>
      <string>rrvocalicvowelsignaltmlym</string>
      <string>rrvocalicvowelsignmlym</string>
      <string>rvocalicmlym</string>
      <string>rvocalicvowelsignaltmlym</string>
      <string>rvocalicvowelsignmlym</string>
      <string>sadotabove</string>
      <string>sadotbelow</string>
      <string>salamlym</string>
      <string>samlym</string>
      <string>saprehalfmlym</string>
      <string>sarrarramlym</string>
      <string>sasamlym</string>
      <string>sathamlym</string>
      <string>semicolon.mlym</string>
      <string>seven.mlym</string>
      <string>sevenmlym</string>
      <string>sfthyphen.mlym</string>
      <string>shacamlym</string>
      <string>shachamlym</string>
      <string>shalamlym</string>
      <string>shamlym</string>
      <string>shaprehalfmlym</string>
      <string>shashamlym</string>
      <string>six.mlym</string>
      <string>sixmlym</string>
      <string>slash.mlym</string>
      <string>space</string>
      <string>ssamlym</string>
      <string>ssaprehalfmlym</string>
      <string>ssattamlym</string>
      <string>tabhamlym</string>
      <string>talamlym</string>
      <string>tamamlym</string>
      <string>tamlym</string>
      <string>tanamlym</string>
      <string>taprehalfmlym</string>
      <string>tasamlym</string>
      <string>tatamlym</string>
      <string>tathamlym</string>
      <string>tenmlym</string>
      <string>thamlym</string>
      <string>thaprehalfmlym</string>
      <string>thousandmlym</string>
      <string>three.mlym</string>
      <string>threemlym</string>
      <string>threequartermlym</string>
      <string>ttallvocalicmlym</string>
      <string>ttalvocalicmlym</string>
      <string>ttamlym</string>
      <string>ttaprehalfmlym</string>
      <string>ttattamlym</string>
      <string>tthallvocalicmlym</string>
      <string>tthalvocalicmlym</string>
      <string>tthamlym</string>
      <string>tthaprehalfmlym</string>
      <string>tttamlym</string>
      <string>two.mlym</string>
      <string>twomlym</string>
      <string>umlym</string>
      <string>underscore.mlym</string>
      <string>uni00A0.mlym</string>
      <string>uni0307</string>
      <string>uni0323</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni0D4F</string>
      <string>uni0D58</string>
      <string>uni0D59</string>
      <string>uni0D5A</string>
      <string>uni0D5B</string>
      <string>uni0D5C</string>
      <string>uni0D5D</string>
      <string>uni0D5E</string>
      <string>uni0D5F</string>
      <string>uni0D76</string>
      <string>uni0D77</string>
      <string>uni0D78</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni20B9.mlym</string>
      <string>uni25CC</string>
      <string>uumlym</string>
      <string>uuvowelsignaltmlym</string>
      <string>uuvowelsignmlym</string>
      <string>uvowelsignaltmlym</string>
      <string>uvowelsignmlym</string>
      <string>valamlym</string>
      <string>vamlym</string>
      <string>vapostaltmlym</string>
      <string>vapostmlym</string>
      <string>vaprehalfmlym</string>
      <string>vavamlym</string>
      <string>viramamlym</string>
      <string>visargamlym</string>
      <string>yachillumlym</string>
      <string>yamlym</string>
      <string>yapostaltmlym</string>
      <string>yapostmlym</string>
      <string>yaprehalfmlym</string>
      <string>yayamlym</string>
      <string>zero.mlym</string>
      <string>zeromlym</string>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>aamlym</string>
      <string>aavowelsignmlym</string>
      <string>aimlym</string>
      <string>aivowelsignmlym</string>
      <string>amlym</string>
      <string>anusvaramlym</string>
      <string>asciicircum.mlym</string>
      <string>asciitilde.mlym</string>
      <string>asterisk.mlym</string>
      <string>aulengthmarkmlym</string>
      <string>aumlym</string>
      <string>auvowelsignmlym</string>
      <string>avagrahamlym</string>
      <string>babamlym</string>
      <string>backslash.mlym</string>
      <string>badamlym</string>
      <string>badhamlym</string>
      <string>balamlym</string>
      <string>bamlym</string>
      <string>baprehalfmlym</string>
      <string>bar.mlym</string>
      <string>bhallvocalicmlym</string>
      <string>bhalvocalicmlym</string>
      <string>bhamlym</string>
      <string>bhaprehalfmlym</string>
      <string>braceleft.mlym</string>
      <string>braceright.mlym</string>
      <string>bracketleft.mlym</string>
      <string>bracketright.mlym</string>
      <string>cacamlym</string>
      <string>cachamlym</string>
      <string>camlym</string>
      <string>candrabindu_0951mlym</string>
      <string>candrabindu_0952mlym</string>
      <string>candrabindu_1CDAmlym</string>
      <string>candrabindumlym</string>
      <string>caprehalfmlym</string>
      <string>chamlym</string>
      <string>chaprehalfmlym</string>
      <string>colon.mlym</string>
      <string>comma.mlym</string>
      <string>dadamlym</string>
      <string>dadhamlym</string>
      <string>dallvocalicmlym</string>
      <string>dalvocalicmlym</string>
      <string>damlym</string>
      <string>danda.mlym</string>
      <string>daprehalfmlym</string>
      <string>datemarkmlym</string>
      <string>dbldanda.mlym</string>
      <string>ddaddamlym</string>
      <string>ddaddhamlym</string>
      <string>ddamlym</string>
      <string>ddaprehalfmlym</string>
      <string>ddhamlym</string>
      <string>ddhaprehalfmlym</string>
      <string>dhadotabove</string>
      <string>dhadotbelow</string>
      <string>dhamlym</string>
      <string>dhaprehalfmlym</string>
      <string>divide.mlym</string>
      <string>eemlym</string>
      <string>eevowelsignmlym</string>
      <string>eight.mlym</string>
      <string>eightmlym</string>
      <string>ellipsis.mlym</string>
      <string>emdash.mlym</string>
      <string>emlym</string>
      <string>endash.mlym</string>
      <string>equal.mlym</string>
      <string>evowelsignmlym</string>
      <string>exclam.mlym</string>
      <string>five.mlym</string>
      <string>fivemlym</string>
      <string>four.mlym</string>
      <string>fourmlym</string>
      <string>gadamlym</string>
      <string>gadotabove</string>
      <string>gadotbelow</string>
      <string>gagamlym</string>
      <string>galamlym</string>
      <string>gamamlym</string>
      <string>gamlym</string>
      <string>ganamlym</string>
      <string>gaprehalfmlym</string>
      <string>ghamlym</string>
      <string>ghaprehalfmlym</string>
      <string>greater.mlym</string>
      <string>halamlym</string>
      <string>hamamlym</string>
      <string>hamlym</string>
      <string>hanamlym</string>
      <string>haprehalfmlym</string>
      <string>hundredmlym</string>
      <string>hyphen.mlym</string>
      <string>iimlym</string>
      <string>iivowelsignalt2mlym</string>
      <string>iivowelsignaltmlym</string>
      <string>iivowelsignmlym</string>
      <string>imlym</string>
      <string>ivowelsignalt2mlym</string>
      <string>ivowelsignaltmlym</string>
      <string>ivowelsignmlym</string>
      <string>jajamlym</string>
      <string>jamlym</string>
      <string>janyamlym</string>
      <string>japrehalfmlym</string>
      <string>jhamlym</string>
      <string>jhaprehalfmlym</string>
      <string>kachillumlym</string>
      <string>kakamlym</string>
      <string>kalamlym</string>
      <string>kamlym</string>
      <string>kaprehalfmlym</string>
      <string>kassamlym</string>
      <string>kassaprehalfmlym</string>
      <string>katamlym</string>
      <string>kattamlym</string>
      <string>khamlym</string>
      <string>khaprehalfmlym</string>
      <string>lachillumlym</string>
      <string>lalamlym</string>
      <string>lamlym</string>
      <string>lapamlym</string>
      <string>laprehalfmlym</string>
      <string>lasubscriptmlym</string>
      <string>less.mlym</string>
      <string>llachillumlym</string>
      <string>llallamlym</string>
      <string>llamlym</string>
      <string>llaprehalfmlym</string>
      <string>lllachillumlym</string>
      <string>lllallvocalicmlym</string>
      <string>lllalvocalicmlym</string>
      <string>lllamlym</string>
      <string>lllaprehalfmlym</string>
      <string>llvocalicmlym</string>
      <string>llvocalicvowelsignaltmlym</string>
      <string>llvocalicvowelsignmlym</string>
      <string>lvocalicmlym</string>
      <string>lvocalicvowelsignaltmlym</string>
      <string>lvocalicvowelsignmlym</string>
      <string>machillumlym</string>
      <string>madotabove</string>
      <string>madotbelow</string>
      <string>malamlym</string>
      <string>mallvocalicmlym</string>
      <string>malvocalicmlym</string>
      <string>mamamlym</string>
      <string>mamlym</string>
      <string>mapalamlym</string>
      <string>mapamlym</string>
      <string>maprehalfmlym</string>
      <string>minus.mlym</string>
      <string>multiply.mlym</string>
      <string>nachillumlym</string>
      <string>nadamlym</string>
      <string>nadhamlym</string>
      <string>namamlym</string>
      <string>namlym</string>
      <string>nanamlym</string>
      <string>naprehalfmlym</string>
      <string>narramlym</string>
      <string>natamlym</string>
      <string>nathamlym</string>
      <string>ngakalamlym</string>
      <string>ngakamlym</string>
      <string>ngamlym</string>
      <string>ngangamlym</string>
      <string>ngaprehalfmlym</string>
      <string>nidotabove</string>
      <string>nidotbelow</string>
      <string>nine.mlym</string>
      <string>ninemlym</string>
      <string>nnachillumlym</string>
      <string>nnaddamlym</string>
      <string>nnaddhamlym</string>
      <string>nnamamlym</string>
      <string>nnamlym</string>
      <string>nnannamlym</string>
      <string>nnaprehalfmlym</string>
      <string>nnattamlym</string>
      <string>nnnamlym</string>
      <string>numbersign.mlym</string>
      <string>nyacamlym</string>
      <string>nyachamlym</string>
      <string>nyajamlym</string>
      <string>nyamlym</string>
      <string>nyanyamlym</string>
      <string>nyaprehalfmlym</string>
      <string>omlym</string>
      <string>one.mlym</string>
      <string>onehalfmlym</string>
      <string>onemlym</string>
      <string>onequartermlym</string>
      <string>oomlym</string>
      <string>oovowelsignmlym</string>
      <string>ovowelsignmlym</string>
      <string>padotabove</string>
      <string>padotbelow</string>
      <string>palamlym</string>
      <string>pamlym</string>
      <string>papamlym</string>
      <string>paprehalfmlym</string>
      <string>parenleft.mlym</string>
      <string>parenright.mlym</string>
      <string>patamlym</string>
      <string>percent.mlym</string>
      <string>period.mlym</string>
      <string>phalamlym</string>
      <string>phamlym</string>
      <string>phaprehalfmlym</string>
      <string>plus.mlym</string>
      <string>question.mlym</string>
      <string>quotedbl.mlym</string>
      <string>quotedblleft.mlym</string>
      <string>quotedblright.mlym</string>
      <string>quoteleft.mlym</string>
      <string>quoteright.mlym</string>
      <string>quotesingle.mlym</string>
      <string>rallvocalicmlym</string>
      <string>ralvocalicmlym</string>
      <string>ramlym</string>
      <string>rapostaltmlym</string>
      <string>rapostmlym</string>
      <string>raprehalfmlym</string>
      <string>rephiivowelmlym</string>
      <string>rephivowelmlym</string>
      <string>rephmlym</string>
      <string>rephviramamlym</string>
      <string>ridotabove</string>
      <string>ridotbelow</string>
      <string>rrachillumlym</string>
      <string>rrallvocalicmlym</string>
      <string>rralvocalicmlym</string>
      <string>rramlym</string>
      <string>rraprehalfmlym</string>
      <string>rrarramlym</string>
      <string>rrvocalicmlym</string>
      <string>rrvocalicvowelsignaltmlym</string>
      <string>rrvocalicvowelsignmlym</string>
      <string>rvocalicmlym</string>
      <string>rvocalicvowelsignaltmlym</string>
      <string>rvocalicvowelsignmlym</string>
      <string>sadotabove</string>
      <string>sadotbelow</string>
      <string>salamlym</string>
      <string>samlym</string>
      <string>saprehalfmlym</string>
      <string>sarrarramlym</string>
      <string>sasamlym</string>
      <string>sathamlym</string>
      <string>semicolon.mlym</string>
      <string>seven.mlym</string>
      <string>sevenmlym</string>
      <string>sfthyphen.mlym</string>
      <string>shacamlym</string>
      <string>shachamlym</string>
      <string>shalamlym</string>
      <string>shamlym</string>
      <string>shaprehalfmlym</string>
      <string>shashamlym</string>
      <string>six.mlym</string>
      <string>sixmlym</string>
      <string>slash.mlym</string>
      <string>space</string>
      <string>ssamlym</string>
      <string>ssaprehalfmlym</string>
      <string>ssattamlym</string>
      <string>tabhamlym</string>
      <string>talamlym</string>
      <string>tamamlym</string>
      <string>tamlym</string>
      <string>tanamlym</string>
      <string>taprehalfmlym</string>
      <string>tasamlym</string>
      <string>tatamlym</string>
      <string>tathamlym</string>
      <string>tenmlym</string>
      <string>thamlym</string>
      <string>thaprehalfmlym</string>
      <string>thousandmlym</string>
      <string>three.mlym</string>
      <string>threemlym</string>
      <string>threequartermlym</string>
      <string>ttallvocalicmlym</string>
      <string>ttalvocalicmlym</string>
      <string>ttamlym</string>
      <string>ttaprehalfmlym</string>
      <string>ttattamlym</string>
      <string>tthallvocalicmlym</string>
      <string>tthalvocalicmlym</string>
      <string>tthamlym</string>
      <string>tthaprehalfmlym</string>
      <string>tttamlym</string>
      <string>two.mlym</string>
      <string>twomlym</string>
      <string>umlym</string>
      <string>underscore.mlym</string>
      <string>uni00A0.mlym</string>
      <string>uni0307</string>
      <string>uni0323</string>
      <string>uni0951</string>
      <string>uni0952</string>
      <string>uni0D4F</string>
      <string>uni0D58</string>
      <string>uni0D59</string>
      <string>uni0D5A</string>
      <string>uni0D5B</string>
      <string>uni0D5C</string>
      <string>uni0D5D</string>
      <string>uni0D5E</string>
      <string>uni0D5F</string>
      <string>uni0D76</string>
      <string>uni0D77</string>
      <string>uni0D78</string>
      <string>uni1CDA</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2010</string>
      <string>uni20B9.mlym</string>
      <string>uni25CC</string>
      <string>uumlym</string>
      <string>uuvowelsignaltmlym</string>
      <string>uuvowelsignmlym</string>
      <string>uvowelsignaltmlym</string>
      <string>uvowelsignmlym</string>
      <string>valamlym</string>
      <string>vamlym</string>
      <string>vapostaltmlym</string>
      <string>vapostmlym</string>
      <string>vaprehalfmlym</string>
      <string>vavamlym</string>
      <string>viramamlym</string>
      <string>visargamlym</string>
      <string>yachillumlym</string>
      <string>yamlym</string>
      <string>yapostaltmlym</string>
      <string>yapostmlym</string>
      <string>yaprehalfmlym</string>
      <string>yayamlym</string>
      <string>zero.mlym</string>
      <string>zeromlym</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>danda.mlym</key>
      <string>uni0964.mlym</string>
      <key>dbldanda.mlym</key>
      <string>uni0965.mlym</string>
      <key>sfthyphen.mlym</key>
      <string>uni00AD.mlym</string>
    </dict>
  </dict>
</plist>
