<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>760</integer>
    <key>capHeight</key>
    <integer>550</integer>
    <key>copyright</key>
    <string>Copyright 2020 Google LLC. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-394</integer>
    <key>familyName</key>
    <string>Noto Sans Arabic</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/03/02 09:54:51</string>
    <key>openTypeHheaAscender</key>
    <integer>1096</integer>
    <key>openTypeHheaDescender</key>
    <integer>-293</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Designed by Mohamad Dakak</string>
    <key>openTypeNameDesigner</key>
    <string>Mohamad Dakak (based on work by Nadine Chahine - Monotype Design Team)</string>
    <key>openTypeNameDesignerURL</key>
    <string>mhmd.dakak@gmail.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Mohamad Dakak</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 2.500</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>8</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1096</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-293</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>6</integer>
      <integer>13</integer>
      <integer>31</integer>
      <integer>45</integer>
      <integer>63</integer>
      <integer>67</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1096</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>293</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>480</integer>
      <integer>495</integer>
      <integer>550</integer>
      <integer>565</integer>
      <integer>760</integer>
      <integer>775</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-409</integer>
      <integer>-394</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>180</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>160</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Noto Sans Arabic Black</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Black</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google LLC.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>500</integer>
    <key>xHeight</key>
    <integer>480</integer>
  </dict>
</plist>
