<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.Madda</key>
    <array>
      <string>alefMadda-ar</string>
      <string>alefMadda-ar.isol</string>
      <string>alefMadda-ar.fina</string>
      <string>lam_alefMadda-ar</string>
      <string>lam_alefMadda-ar.isol</string>
      <string>lam_alefMadda-ar.fina</string>
      <string>lamVabove_alefMadda-ar</string>
      <string>lamVabove_alefMadda-ar.isol</string>
      <string>lamVabove_alefMadda-ar.fina</string>
      <string>lamDotabove_alefMadda-ar</string>
      <string>lamDotabove_alefMadda-ar.isol</string>
      <string>lamDotabove_alefMadda-ar.fina</string>
      <string>lamThreedotsabove_alefMadda-ar</string>
      <string>lamThreedotsabove_alefMadda-ar.isol</string>
      <string>lamThreedotsabove_alefMadda-ar.fina</string>
      <string>lamThreedotsbelow_alefMadda-ar</string>
      <string>lamThreedotsbelow_alefMadda-ar.isol</string>
      <string>lamThreedotsbelow_alefMadda-ar.fina</string>
      <string>lamDoublebar_alefMadda-ar</string>
      <string>lamDoublebar_alefMadda-ar.isol</string>
      <string>lamDoublebar_alefMadda-ar.fina</string>
    </array>
    <key>public.kern1.Twoabove</key>
    <array>
      <string>lam_alefTwoabove-ar</string>
      <string>lam_alefTwoabove-ar.isol</string>
      <string>lam_alefTwoabove-ar.fina</string>
      <string>lam_alefThreeabove-ar</string>
      <string>lam_alefThreeabove-ar.isol</string>
      <string>lam_alefThreeabove-ar.fina</string>
      <string>lamVabove_alefTwoabove-ar</string>
      <string>lamVabove_alefTwoabove-ar.isol</string>
      <string>lamVabove_alefTwoabove-ar.fina</string>
      <string>lamVabove_alefThreeabove-ar</string>
      <string>lamVabove_alefThreeabove-ar.isol</string>
      <string>lamVabove_alefThreeabove-ar.fina</string>
      <string>lamDotabove_alefTwoabove-ar</string>
      <string>lamDotabove_alefTwoabove-ar.isol</string>
      <string>lamDotabove_alefTwoabove-ar.fina</string>
      <string>lamDotabove_alefThreeabove-ar</string>
      <string>lamDotabove_alefThreeabove-ar.isol</string>
      <string>lamDotabove_alefThreeabove-ar.fina</string>
      <string>lamThreedotsabove_alefTwoabove-ar</string>
      <string>lamThreedotsabove_alefTwoabove-ar.isol</string>
      <string>lamThreedotsabove_alefTwoabove-ar.fina</string>
      <string>lamThreedotsabove_alefThreeabove-ar</string>
      <string>lamThreedotsabove_alefThreeabove-ar.isol</string>
      <string>lamThreedotsabove_alefThreeabove-ar.fina</string>
      <string>lamThreedotsbelow_alefTwoabove-ar</string>
      <string>lamThreedotsbelow_alefTwoabove-ar.isol</string>
      <string>lamThreedotsbelow_alefTwoabove-ar.fina</string>
      <string>lamThreedotsbelow_alefThreeabove-ar</string>
      <string>lamThreedotsbelow_alefThreeabove-ar.isol</string>
      <string>lamThreedotsbelow_alefThreeabove-ar.fina</string>
      <string>lamDoublebar_alefTwoabove-ar</string>
      <string>lamDoublebar_alefTwoabove-ar.isol</string>
      <string>lamDoublebar_alefTwoabove-ar.fina</string>
      <string>lamDoublebar_alefThreeabove-ar</string>
      <string>lamDoublebar_alefThreeabove-ar.isol</string>
      <string>lamDoublebar_alefThreeabove-ar.fina</string>
      <string>lamBar_alefTwoabove-ar</string>
      <string>lamBar_alefTwoabove-ar.isol</string>
      <string>lamBar_alefTwoabove-ar.fina</string>
      <string>lamBar_alefThreeabove-ar</string>
      <string>lamBar_alefThreeabove-ar.isol</string>
      <string>lamBar_alefThreeabove-ar.fina</string>
    </array>
    <key>public.kern1.Wasla</key>
    <array>
      <string>alefWasla-ar</string>
      <string>alefWasla-ar.isol</string>
      <string>alefWasla-ar.fina</string>
      <string>lam_alefWasla-ar</string>
      <string>lam_alefWasla-ar.isol</string>
      <string>lam_alefWasla-ar.fina</string>
      <string>lamVabove_alefWasla-ar</string>
      <string>lamVabove_alefWasla-ar.isol</string>
      <string>lamVabove_alefWasla-ar.fina</string>
      <string>lamDotabove_alefWasla-ar</string>
      <string>lamDotabove_alefWasla-ar.isol</string>
      <string>lamDotabove_alefWasla-ar.fina</string>
      <string>lamThreedotsabove_alefWasla-ar</string>
      <string>lamThreedotsabove_alefWasla-ar.isol</string>
      <string>lamThreedotsabove_alefWasla-ar.fina</string>
      <string>lamThreedotsbelow_alefWasla-ar</string>
      <string>lamThreedotsbelow_alefWasla-ar.isol</string>
      <string>lamThreedotsbelow_alefWasla-ar.fina</string>
      <string>lamDoublebar_alefWasla-ar</string>
      <string>lamDoublebar_alefWasla-ar.isol</string>
      <string>lamDoublebar_alefWasla-ar.fina</string>
    </array>
    <key>public.kern1.Wavyhamzaabove</key>
    <array>
      <string>alefWavyhamzaabove-ar</string>
      <string>alefWavyhamzaabove-ar.isol</string>
      <string>alefWavyhamzaabove-ar.fina</string>
      <string>lam_alefWavyhamzaabove-ar</string>
      <string>lam_alefWavyhamzaabove-ar.isol</string>
      <string>lam_alefWavyhamzaabove-ar.fina</string>
      <string>lamVabove_alefWavyhamzaabove-ar</string>
      <string>lamVabove_alefWavyhamzaabove-ar.isol</string>
      <string>lamVabove_alefWavyhamzaabove-ar.fina</string>
      <string>lamDotabove_alefWavyhamzaabove-ar</string>
      <string>lamDotabove_alefWavyhamzaabove-ar.isol</string>
      <string>lamDotabove_alefWavyhamzaabove-ar.fina</string>
      <string>lamThreedotsabove_alefWavyhamzaabove-ar</string>
      <string>lamThreedotsabove_alefWavyhamzaabove-ar.isol</string>
      <string>lamThreedotsabove_alefWavyhamzaabove-ar.fina</string>
      <string>lamThreedotsbelow_alefWavyhamzaabove-ar</string>
      <string>lamThreedotsbelow_alefWavyhamzaabove-ar.isol</string>
      <string>lamThreedotsbelow_alefWavyhamzaabove-ar.fina</string>
      <string>lamDoublebar_alefWavyhamzaabove-ar</string>
      <string>lamDoublebar_alefWavyhamzaabove-ar.isol</string>
      <string>lamDoublebar_alefWavyhamzaabove-ar.fina</string>
      <string>lamBar_alefWavyhamzaabove-ar</string>
      <string>lamBar_alefWavyhamzaabove-ar.isol</string>
      <string>lamBar_alefWavyhamzaabove-ar.fina</string>
    </array>
    <key>public.kern1.Wavyhamzabelow</key>
    <array>
      <string>alefWavyhamzabelow-ar</string>
      <string>alefWavyhamzabelow-ar.isol</string>
      <string>alefWavyhamzabelow-ar.fina</string>
      <string>lam_alefWavyhamzabelow-ar</string>
      <string>lam_alefWavyhamzabelow-ar.isol</string>
      <string>lam_alefWavyhamzabelow-ar.fina</string>
      <string>lamVabove_alefWavyhamzabelow-ar</string>
      <string>lamVabove_alefWavyhamzabelow-ar.isol</string>
      <string>lamVabove_alefWavyhamzabelow-ar.fina</string>
      <string>lamDotabove_alefWavyhamzabelow-ar</string>
      <string>lamDotabove_alefWavyhamzabelow-ar.isol</string>
      <string>lamDotabove_alefWavyhamzabelow-ar.fina</string>
      <string>lamThreedotsabove_alefWavyhamzabelow-ar</string>
      <string>lamThreedotsabove_alefWavyhamzabelow-ar.isol</string>
      <string>lamThreedotsabove_alefWavyhamzabelow-ar.fina</string>
      <string>lamThreedotsbelow_alefWavyhamzabelow-ar</string>
      <string>lamThreedotsbelow_alefWavyhamzabelow-ar.isol</string>
      <string>lamThreedotsbelow_alefWavyhamzabelow-ar.fina</string>
      <string>lamDoublebar_alefWavyhamzabelow-ar</string>
      <string>lamDoublebar_alefWavyhamzabelow-ar.isol</string>
      <string>lamDoublebar_alefWavyhamzabelow-ar.fina</string>
      <string>lamBar_alefWavyhamzabelow-ar</string>
      <string>lamBar_alefWavyhamzabelow-ar.isol</string>
      <string>lamBar_alefWavyhamzabelow-ar.fina</string>
    </array>
    <key>public.kern1.eight-ar</key>
    <array>
      <string>eight-ar</string>
      <string>eight-persian</string>
    </array>
    <key>public.kern1.five-ar</key>
    <array>
      <string>five-ar</string>
      <string>five-persian</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern1.nine-ar</key>
    <array>
      <string>nine-persian</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern1.reh</key>
    <array>
      <string>reh-ar</string>
      <string>reh-ar.isol</string>
      <string>reh-ar.fina</string>
      <string>zain-ar</string>
      <string>zain-ar.isol</string>
      <string>zain-ar.fina</string>
      <string>zainVInvertedabove-ar</string>
      <string>rreh-ar</string>
      <string>rreh-ar.isol</string>
      <string>rreh-ar.fina</string>
      <string>rehv-ar</string>
      <string>rehv-ar.isol</string>
      <string>rehv-ar.fina</string>
      <string>rehRing-ar</string>
      <string>rehRing-ar.isol</string>
      <string>rehRing-ar.fina</string>
      <string>rehDotbelow-ar</string>
      <string>rehDotbelow-ar.isol</string>
      <string>rehDotbelow-ar.fina</string>
      <string>rehVbelow-ar</string>
      <string>rehVbelow-ar.isol</string>
      <string>rehVbelow-ar.fina</string>
      <string>rehTwodots-ar</string>
      <string>rehTwodots-ar.isol</string>
      <string>rehTwodots-ar.fina</string>
      <string>jeh-ar</string>
      <string>jeh-ar.isol</string>
      <string>jeh-ar.fina</string>
      <string>rehFourdots-ar</string>
      <string>rehFourdots-ar.isol</string>
      <string>rehFourdots-ar.fina</string>
      <string>rehVinvertedabove-ar</string>
      <string>rehVinvertedabove-ar.isol</string>
      <string>rehVinvertedabove-ar.fina</string>
      <string>rehStroke-ar</string>
      <string>rehStroke-ar.isol</string>
      <string>rehStroke-ar.fina</string>
      <string>rehTwodotsverticalabove-ar</string>
      <string>rehTwodotsverticalabove-ar.isol</string>
      <string>rehTwodotsverticalabove-ar.fina</string>
      <string>rehHamzaabove-ar</string>
      <string>rehHamzaabove-ar.isol</string>
      <string>rehHamzaabove-ar.fina</string>
      <string>rehTwodotshorizontalaboveTahabove-ar</string>
      <string>rehTwodotshorizontalaboveTahabove-ar.isol</string>
      <string>rehTwodotshorizontalaboveTahabove-ar.fina</string>
      <string>rehAlefabove-ar</string>
      <string>rehAlefabove-ar.isol</string>
      <string>rehAlefabove-ar.fina</string>
      <string>uni08B9.fina</string>
      <string>uni08B9</string>
      <string>uni08B9isol</string>
      <string>beh_reh-ar.fina</string>
      <string>beh_zain-ar.fina</string>
      <string>teh_reh-ar.fina</string>
      <string>teh_zain-ar.fina</string>
      <string>theh_reh-ar.fina</string>
      <string>theh_zain-ar.fina</string>
      <string>seen_reh-ar</string>
      <string>seen_reh-ar.fina</string>
      <string>seen_zain-ar</string>
      <string>seen_zain-ar.fina</string>
      <string>sheen_reh-ar</string>
      <string>sheen_reh-ar.fina</string>
      <string>sheen_zain-ar</string>
      <string>sheen_zain-ar.fina</string>
      <string>sad_reh-ar</string>
      <string>sad_reh-ar.fina</string>
      <string>sad_zain-ar</string>
      <string>sad_zain-ar.fina</string>
      <string>dad_reh-ar</string>
      <string>dad_reh-ar.fina</string>
      <string>dad_zain-ar</string>
      <string>dad_zain-ar.fina</string>
      <string>noon_reh-ar.fina</string>
      <string>noon_zain-ar.fina</string>
      <string>alefMaksura_reh-ar.fina</string>
      <string>alefMaksura_zain-ar.fina</string>
      <string>yeh_reh-ar.fina</string>
      <string>yeh_zain-ar.fina</string>
      <string>yehHamzaabove_reh-ar.fina</string>
      <string>yehHamzaabove_zain-ar.fina</string>
      <string>zainVInvertedabove-ar.isol</string>
      <string>zainVInvertedabove-ar.fina</string>
    </array>
    <key>public.kern1.seven-ar</key>
    <array>
      <string>seven-ar</string>
      <string>seven-persian</string>
    </array>
    <key>public.kern1.two-ar</key>
    <array>
      <string>two-ar</string>
      <string>three-ar</string>
      <string>two-persian</string>
      <string>three-persian</string>
    </array>
    <key>public.kern1.waw</key>
    <array>
      <string>waw-ar</string>
      <string>waw-ar.isol</string>
      <string>waw-ar.fina</string>
      <string>wawring-ar</string>
      <string>wawring-ar.isol</string>
      <string>wawring-ar.fina</string>
      <string>wawTwodots-ar</string>
      <string>wawTwodots-ar.isol</string>
      <string>wawTwodots-ar.fina</string>
      <string>wawDotabove-ar</string>
      <string>wawDotabove-ar.isol</string>
      <string>wawDotabove-ar.fina</string>
      <string>wawHamzaabove-ar</string>
      <string>wawHamzaabove-ar.isol</string>
      <string>wawHamzaabove-ar.fina</string>
      <string>wawTwoabove-ar</string>
      <string>wawTwoabove-ar.isol</string>
      <string>wawTwoabove-ar.fina</string>
      <string>wawThreeAbove-ar</string>
      <string>wawThreeAbove-ar.isol</string>
      <string>wawThreeAbove-ar.fina</string>
      <string>wawDotcenter-ar</string>
      <string>wawDotcenter-ar.isol</string>
      <string>wawDotcenter-ar.fina</string>
      <string>highhamzaWaw-ar</string>
      <string>highhamzaWaw-ar.isol</string>
      <string>highhamzaWaw-ar.fina</string>
      <string>_wawDotcenter-ar.fina</string>
      <string>_wawDotcenter-ar</string>
    </array>
    <key>public.kern1.zero-ar</key>
    <array>
      <string>zero-ar</string>
      <string>zero-persian</string>
    </array>
    <key>public.kern2.ain</key>
    <array>
      <string>uni08B3</string>
      <string>ain-ar</string>
      <string>ain-ar.isol</string>
      <string>ainThreedots-ar</string>
      <string>ainThreedots-ar.isol</string>
      <string>ghain-ar</string>
      <string>ghain-ar.isol</string>
      <string>ghainDotbelow-ar</string>
      <string>ghainDotbelow-ar.isol</string>
      <string>ainTwodotshorizontalabove-ar</string>
      <string>ainTwodotshorizontalabove-ar.isol</string>
      <string>ainThreedotsdownabove-ar</string>
      <string>ainThreedotsdownabove-ar.isol</string>
      <string>ainTwodotsverticalabove-ar</string>
      <string>ainTwodotsverticalabove-ar.isol</string>
      <string>uni08B3isol</string>
    </array>
    <key>public.kern2.alef</key>
    <array>
      <string>alef-ar</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.dot_below</key>
    <array>
      <string>peh-ar.init</string>
      <string>beeh-ar.init</string>
      <string>beeh-ar.init.short</string>
      <string>beheh-ar.init</string>
      <string>tehRing-ar.init</string>
      <string>behThreedotshorizontalbelow-ar.init</string>
      <string>behThreedotsupbelow-ar.init</string>
      <string>tehThreedotsupbelow-ar.init</string>
      <string>behTwodotsbelowDotabove-ar.init</string>
      <string>behVbelow-ar.init</string>
      <string>behhamzaabove-ar.init</string>
      <string>yeh-ar.init</string>
      <string>yehVabove-ar.init</string>
      <string>yehTwodotsbelowHamzaabove-ar.init</string>
      <string>yehTwodotsbelowDotabove-ar.init</string>
      <string>yehVinverted-farsi.init</string>
      <string>yehTwodotsabove-farsi.init</string>
      <string>yehThreedotsabove-farsi.init</string>
      <string>yehTwoabove-farsi.init</string>
      <string>yehThreeabove-farsi.init</string>
      <string>yehFourbelow-farsi.init</string>
      <string>yehThreedotsbelow-ar.init</string>
      <string>yehbarreeTwoabove-ar.init</string>
      <string>yehbarreeThreeabove-ar.init</string>
      <string>noonTwodotsbelow-ar.init</string>
      <string>uni08B7.init</string>
      <string>yehTwodotsbelowNoonabove-ar.init</string>
      <string>lamThreedotsbelow_alef-ar</string>
      <string>lamThreedotsbelow_alef-ar.isol</string>
      <string>lamThreedotsbelow_alef-ar.short</string>
      <string>lamThreedotsbelow_alefHamzabelow-ar</string>
      <string>lamThreedotsbelow_alefHamzabelow-ar.isol</string>
      <string>lamThreedotsbelow_alefWavyhamzaabove-ar</string>
      <string>lamThreedotsbelow_alefWavyhamzaabove-ar.isol</string>
      <string>lamThreedotsbelow_alefWavyhamzabelow-ar</string>
      <string>lamThreedotsbelow_alefWavyhamzabelow-ar.isol</string>
      <string>lamThreedotsbelow_alefMadda-ar</string>
      <string>lamThreedotsbelow_alefMadda-ar.isol</string>
      <string>lamThreedotsbelow_alefWasla-ar</string>
      <string>lamThreedotsbelow_alefWasla-ar.isol</string>
      <string>lamThreedotsbelow_alefTwoabove-ar</string>
      <string>lamThreedotsbelow_alefTwoabove-ar.isol</string>
      <string>lamThreedotsbelow_alefThreeabove-ar</string>
      <string>lamThreedotsbelow_alefThreeabove-ar.isol</string>
    </array>
    <key>public.kern2.dots_Below</key>
    <array>
      <string>noonThreedotsabove-ar.init</string>
      <string>peh_yeh-ar</string>
    </array>
    <key>public.kern2.eight-ar</key>
    <array>
      <string>eight-ar</string>
      <string>eight-persian</string>
    </array>
    <key>public.kern2.five-ar</key>
    <array>
      <string>five-ar</string>
      <string>five-persian</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern2.jeem</key>
    <array>
      <string>jeem-ar.isol</string>
      <string>tcheh-ar</string>
      <string>tcheh-ar.isol</string>
      <string>tcheheh-ar</string>
      <string>tcheheh-ar.isol</string>
      <string>tchehDotabove-ar</string>
      <string>nyeh-ar</string>
      <string>nyeh-ar.isol</string>
      <string>dyeh-ar</string>
      <string>dyeh-ar.isol</string>
      <string>hah-ar</string>
      <string>hah-ar.wide</string>
      <string>hah-ar.isol</string>
      <string>hahHamzaabove-ar</string>
      <string>hahTwodotsverticalabove-ar</string>
      <string>hahTwodotsverticalabove-ar.isol</string>
      <string>hahTwodotshorizontalabove-ar</string>
      <string>hahTwodotshorizontalabove-ar.isol</string>
      <string>hahThreedotsabove-ar</string>
      <string>hahThreedotsabove-ar.isol</string>
      <string>hahThreedotsupbelow-ar</string>
      <string>hahThreedotsupbelow-ar.isol</string>
      <string>khah-ar</string>
      <string>khah-ar.isol</string>
      <string>hahTahbelow-ar</string>
      <string>hahTahbelow-ar.isol</string>
      <string>hahTahTwodotshorizontalabove-ar</string>
      <string>hahTahTwodotshorizontalabove-ar.isol</string>
      <string>hahFourbelow-ar</string>
      <string>hahFourbelow-ar.isol</string>
      <string>jeemTwodotsabove-ar</string>
      <string>jeemTwodotsabove-ar.isol</string>
      <string>hahTahabove-ar</string>
      <string>hahTahabove-ar.isol</string>
    </array>
    <key>public.kern2.kaf</key>
    <array>
      <string>uni08B4.init</string>
      <string>kaf-ar.init</string>
      <string>keheh-ar</string>
      <string>keheh-ar.isol</string>
      <string>keheh-ar.init</string>
      <string>kehehTwodotshorizontalabove-ar</string>
      <string>kehehTwodotshorizontalabove-ar.isol</string>
      <string>kehehTwodotshorizontalabove-ar.init</string>
      <string>kehehThreedotsbelow-ar</string>
      <string>kehehThreedotsbelow-ar.isol</string>
      <string>kehehThreedotsbelow-ar.init</string>
      <string>kehehDotabove-ar</string>
      <string>kehehDotabove-ar.isol</string>
      <string>kehehDotabove-ar.init</string>
      <string>kehehThreedotsabove-ar</string>
      <string>kehehThreedotsabove-ar.isol</string>
      <string>kehehThreedotsabove-ar.init</string>
      <string>kehehThreedotsupbelow-ar</string>
      <string>kehehThreedotsupbelow-ar.isol</string>
      <string>kehehThreedotsupbelow-ar.init</string>
      <string>gaf-ar</string>
      <string>gaf-ar.isol</string>
      <string>gaf-ar.init</string>
      <string>gafRing-ar</string>
      <string>gafRing-ar.init</string>
      <string>gafThreedots-ar</string>
      <string>gafThreedots-ar.isol</string>
      <string>gafThreedots-ar.init</string>
      <string>kafRing-ar</string>
      <string>kafRing-ar.isol</string>
      <string>kafRing-ar.init</string>
      <string>kafDotabove-ar.init</string>
      <string>kafTwodotshorizontalabove-ar.init</string>
      <string>kafThreedotsbelow-ar.init</string>
      <string>gafTwodotsbelow-ar</string>
      <string>gafTwodotsbelow-ar.isol</string>
      <string>gafTwodotsbelow-ar.init</string>
      <string>gafInvertedstroke-ar</string>
      <string>gafInvertedstroke-ar.isol</string>
      <string>gafInvertedstroke-ar.init</string>
      <string>ng-ar.init</string>
      <string>ngoeh-ar</string>
      <string>ngoeh-ar.isol</string>
      <string>ngoeh-ar.init</string>
      <string>gueh-ar</string>
      <string>gueh-ar.isol</string>
      <string>gueh-ar.init</string>
      <string>kaf_yeh-ar</string>
      <string>kaf_yehHamzaabove-ar</string>
    </array>
    <key>public.kern2.nine-ar</key>
    <array>
      <string>nine-ar</string>
      <string>nine-persian</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.seven-ar</key>
    <array>
      <string>seven-ar</string>
      <string>seven-persian</string>
    </array>
    <key>public.kern2.tooth</key>
    <array>
      <string>dotlessbeh-ar.init</string>
    </array>
    <key>public.kern2.zero-ar</key>
    <array>
      <string>zero-ar</string>
      <string>zero-persian</string>
    </array>
  </dict>
</plist>
