<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1208</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AI_Shadda.ns</string>
      <string>Anusvara</string>
      <string>Anusvara.alt</string>
      <string>BBU</string>
      <string>BHRA</string>
      <string>BHU</string>
      <string>BU</string>
      <string>CHU</string>
      <string>CR</string>
      <string>CU</string>
      <string>DDDII</string>
      <string>DDDRA</string>
      <string>DDDRII</string>
      <string>DDDRU</string>
      <string>DDDU</string>
      <string>DDHU</string>
      <string>DDII</string>
      <string>DDU</string>
      <string>DI</string>
      <string>DII</string>
      <string>DU</string>
      <string>E_Shadda.ns</string>
      <string>GHU</string>
      <string>GNA</string>
      <string>GNA.alt</string>
      <string>GU</string>
      <string>HA.alt</string>
      <string>HU</string>
      <string>I.alt</string>
      <string>I.alt2</string>
      <string>I.alt3</string>
      <string>I.alt4</string>
      <string>II.alt</string>
      <string>II.alt2</string>
      <string>II.alt3</string>
      <string>II.alt4</string>
      <string>II.alt5</string>
      <string>JJU</string>
      <string>JU</string>
      <string>KA.alt</string>
      <string>KHA.alt</string>
      <string>KHU</string>
      <string>KRA</string>
      <string>KSSA</string>
      <string>KSSA.alt</string>
      <string>KU</string>
      <string>LLII</string>
      <string>LLU</string>
      <string>LU</string>
      <string>MRA</string>
      <string>MU</string>
      <string>NA.alt</string>
      <string>NGU</string>
      <string>NNU</string>
      <string>NU</string>
      <string>NULL</string>
      <string>NYU</string>
      <string>Nukta</string>
      <string>Nukta.alt</string>
      <string>Nukta_AI.ns</string>
      <string>Nukta_E.ns</string>
      <string>Nukta_Shadda.ns</string>
      <string>Nukta_Shadda_AI.ns</string>
      <string>Nukta_Shadda_E.ns</string>
      <string>NullMark</string>
      <string>PA.alt</string>
      <string>PHI</string>
      <string>PHII</string>
      <string>PHU</string>
      <string>PU</string>
      <string>RA.alt</string>
      <string>RA.alt2</string>
      <string>RI</string>
      <string>RII</string>
      <string>RU</string>
      <string>Ra_U</string>
      <string>SA.alt</string>
      <string>SRA</string>
      <string>SU</string>
      <string>Shadda</string>
      <string>THA.alt</string>
      <string>THU</string>
      <string>TRA</string>
      <string>TRU</string>
      <string>TU</string>
      <string>U.alt</string>
      <string>U.alt2</string>
      <string>U.alt3</string>
      <string>VU</string>
      <string>YA.alt</string>
      <string>YA.alt2</string>
      <string>YA.alt3</string>
      <string>YU</string>
      <string>kj_A</string>
      <string>kj_AA</string>
      <string>kj_AI</string>
      <string>kj_AU</string>
      <string>kj_BA</string>
      <string>kj_BBA</string>
      <string>kj_BHA</string>
      <string>kj_CA</string>
      <string>kj_CHA</string>
      <string>kj_DA</string>
      <string>kj_DDA</string>
      <string>kj_DDDA</string>
      <string>kj_DDHA</string>
      <string>kj_DHA</string>
      <string>kj_E</string>
      <string>kj_GA</string>
      <string>kj_GGA</string>
      <string>kj_GHA</string>
      <string>kj_HA</string>
      <string>kj_I</string>
      <string>kj_JA</string>
      <string>kj_JJA</string>
      <string>kj_KA</string>
      <string>kj_KHA</string>
      <string>kj_LA</string>
      <string>kj_LLA</string>
      <string>kj_MA</string>
      <string>kj_NA</string>
      <string>kj_NGA</string>
      <string>kj_NNA</string>
      <string>kj_NYA</string>
      <string>kj_O</string>
      <string>kj_PA</string>
      <string>kj_PHA</string>
      <string>kj_RA</string>
      <string>kj_SA</string>
      <string>kj_TA</string>
      <string>kj_THA</string>
      <string>kj_TTA</string>
      <string>kj_TTHA</string>
      <string>kj_U</string>
      <string>kj_VA</string>
      <string>kj_YA</string>
      <string>kj_vs_AA</string>
      <string>kj_vs_AI.ns</string>
      <string>kj_vs_AU</string>
      <string>kj_vs_E.ns</string>
      <string>kj_vs_I</string>
      <string>kj_vs_II</string>
      <string>kj_vs_O</string>
      <string>kj_vs_U.ns</string>
      <string>space</string>
      <string>u11238</string>
      <string>u11239</string>
      <string>u1123A</string>
      <string>u1123B</string>
      <string>u1123C</string>
      <string>u1123D</string>
      <string>u1123E</string>
      <string>uni00A0</string>
      <string>uni0AE6</string>
      <string>uni0AE7</string>
      <string>uni0AE8</string>
      <string>uni0AE9</string>
      <string>uni0AEA</string>
      <string>uni0AEB</string>
      <string>uni0AEC</string>
      <string>uni0AED</string>
      <string>uni0AEE</string>
      <string>uni0AEF</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
      <string>virama</string>
    </array>
  </dict>
</plist>
