<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>GSCornerRadius</key>
    <integer>4</integer>
    <key>GSOffsetHorizontal</key>
    <integer>-7</integer>
    <key>GSOffsetVertical</key>
    <integer>-18</integer>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>/shin-hb/ayin-hb</string>
      <string>/alef-hb</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>28</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Light</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>28</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>noodleExtremesAndInflections</key>
    <integer>1</integer>
    <key>noodleRemoveOverlap</key>
    <integer>1</integer>
    <key>noodleThickness</key>
    <string>10.0, 20.0</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.null</string>
      <string>alef-hb</string>
      <string>atnahhafukh-hb</string>
      <string>ayin-hb</string>
      <string>bet-hb</string>
      <string>dagesh-hb</string>
      <string>dalet-hb</string>
      <string>dargaleft-hb</string>
      <string>dehi-hb</string>
      <string>etnahtaleft-hb</string>
      <string>finalkaf-hb</string>
      <string>finalmem-hb</string>
      <string>finalnun-hb</string>
      <string>finalpe-hb</string>
      <string>finaltsadi-hb</string>
      <string>geresh-hb</string>
      <string>gereshaccent-hb</string>
      <string>gereshmuqdam-hb</string>
      <string>gershayim-hb</string>
      <string>gershayimaccent-hb</string>
      <string>gimel-hb</string>
      <string>hatafpatah-hb</string>
      <string>hatafqamats-hb</string>
      <string>hatafsegol-hb</string>
      <string>he-hb</string>
      <string>het-hb</string>
      <string>hiriq-hb</string>
      <string>holam-hb</string>
      <string>holamhaser-hb</string>
      <string>hyphen</string>
      <string>iluy-hb</string>
      <string>kaf-hb</string>
      <string>lamed-hb</string>
      <string>lowerdot-hb</string>
      <string>mahapakhleft-hb</string>
      <string>maqaf-hb</string>
      <string>masoracircle-hb</string>
      <string>mem-hb</string>
      <string>merkhakefulaleft-hb</string>
      <string>merkhaleft-hb</string>
      <string>munahleft-hb</string>
      <string>nbspace</string>
      <string>nun-hb</string>
      <string>nunhafukha-hb</string>
      <string>ole-hb</string>
      <string>paseq-hb</string>
      <string>pashta-hb</string>
      <string>patah-hb</string>
      <string>pazer-hb</string>
      <string>pe-hb</string>
      <string>qadma-hb</string>
      <string>qamats-hb</string>
      <string>qamatsqatan-hb</string>
      <string>qarneypara-hb</string>
      <string>qof-hb</string>
      <string>qubuts-hb</string>
      <string>rafe-hb</string>
      <string>resh-hb</string>
      <string>reviamugrash-hb</string>
      <string>samekh-hb</string>
      <string>segol-hb</string>
      <string>segolta-hb</string>
      <string>shalshelet-hb</string>
      <string>sheva-hb</string>
      <string>shin-hb</string>
      <string>shindot-hb</string>
      <string>siluqleft-hb</string>
      <string>sindot-hb</string>
      <string>sofpasuq-hb</string>
      <string>space</string>
      <string>tav-hb</string>
      <string>telishagedola-hb</string>
      <string>telishaqetana-hb</string>
      <string>tet-hb</string>
      <string>tevirleft-hb</string>
      <string>tipehaleft-hb</string>
      <string>tsadi-hb</string>
      <string>tsere-hb</string>
      <string>upperdot-hb</string>
      <string>vav-hb</string>
      <string>vavvav-hb</string>
      <string>vavyod-hb</string>
      <string>yerahbenyomoleft-hb</string>
      <string>yetiv-hb</string>
      <string>yod-hb</string>
      <string>yodyod-hb</string>
      <string>zaqefgadol-hb</string>
      <string>zaqefqatan-hb</string>
      <string>zarqa-hb</string>
      <string>zayin-hb</string>
      <string>zinor-hb</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>alef-hb</key>
      <string>uni05D0</string>
      <key>atnahhafukh-hb</key>
      <string>uni05A2</string>
      <key>ayin-hb</key>
      <string>uni05E2</string>
      <key>bet-hb</key>
      <string>uni05D1</string>
      <key>dagesh-hb</key>
      <string>uni05BC</string>
      <key>dalet-hb</key>
      <string>uni05D3</string>
      <key>dargaleft-hb</key>
      <string>uni05A7</string>
      <key>dehi-hb</key>
      <string>uni05AD</string>
      <key>etnahtaleft-hb</key>
      <string>uni0591</string>
      <key>finalkaf-hb</key>
      <string>uni05DA</string>
      <key>finalmem-hb</key>
      <string>uni05DD</string>
      <key>finalnun-hb</key>
      <string>uni05DF</string>
      <key>finalpe-hb</key>
      <string>uni05E3</string>
      <key>finaltsadi-hb</key>
      <string>uni05E5</string>
      <key>geresh-hb</key>
      <string>uni05F3</string>
      <key>gereshaccent-hb</key>
      <string>uni059C</string>
      <key>gereshmuqdam-hb</key>
      <string>uni059D</string>
      <key>gershayim-hb</key>
      <string>uni05F4</string>
      <key>gershayimaccent-hb</key>
      <string>uni059E</string>
      <key>gimel-hb</key>
      <string>uni05D2</string>
      <key>hatafpatah-hb</key>
      <string>uni05B2</string>
      <key>hatafqamats-hb</key>
      <string>uni05B3</string>
      <key>hatafsegol-hb</key>
      <string>uni05B1</string>
      <key>he-hb</key>
      <string>uni05D4</string>
      <key>het-hb</key>
      <string>uni05D7</string>
      <key>hiriq-hb</key>
      <string>uni05B4</string>
      <key>holam-hb</key>
      <string>uni05B9</string>
      <key>holamhaser-hb</key>
      <string>uni05BA</string>
      <key>iluy-hb</key>
      <string>uni05AC</string>
      <key>kaf-hb</key>
      <string>uni05DB</string>
      <key>lamed-hb</key>
      <string>uni05DC</string>
      <key>lowerdot-hb</key>
      <string>uni05C5</string>
      <key>mahapakhleft-hb</key>
      <string>uni05A4</string>
      <key>maqaf-hb</key>
      <string>uni05BE</string>
      <key>masoracircle-hb</key>
      <string>uni05AF</string>
      <key>mem-hb</key>
      <string>uni05DE</string>
      <key>merkhakefulaleft-hb</key>
      <string>uni05A6</string>
      <key>merkhaleft-hb</key>
      <string>uni05A5</string>
      <key>munahleft-hb</key>
      <string>uni05A3</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nun-hb</key>
      <string>uni05E0</string>
      <key>nunhafukha-hb</key>
      <string>uni05C6</string>
      <key>ole-hb</key>
      <string>uni05AB</string>
      <key>paseq-hb</key>
      <string>uni05C0</string>
      <key>pashta-hb</key>
      <string>uni0599</string>
      <key>patah-hb</key>
      <string>uni05B7</string>
      <key>pazer-hb</key>
      <string>uni05A1</string>
      <key>pe-hb</key>
      <string>uni05E4</string>
      <key>qadma-hb</key>
      <string>uni05A8</string>
      <key>qamats-hb</key>
      <string>uni05B8</string>
      <key>qamatsqatan-hb</key>
      <string>uni05C7</string>
      <key>qarneypara-hb</key>
      <string>uni059F</string>
      <key>qof-hb</key>
      <string>uni05E7</string>
      <key>qubuts-hb</key>
      <string>uni05BB</string>
      <key>rafe-hb</key>
      <string>uni05BF</string>
      <key>resh-hb</key>
      <string>uni05E8</string>
      <key>reviamugrash-hb</key>
      <string>uni0597</string>
      <key>samekh-hb</key>
      <string>uni05E1</string>
      <key>segol-hb</key>
      <string>uni05B6</string>
      <key>segolta-hb</key>
      <string>uni0592</string>
      <key>shalshelet-hb</key>
      <string>uni0593</string>
      <key>sheva-hb</key>
      <string>uni05B0</string>
      <key>shin-hb</key>
      <string>uni05E9</string>
      <key>shindot-hb</key>
      <string>uni05C1</string>
      <key>siluqleft-hb</key>
      <string>uni05BD</string>
      <key>sindot-hb</key>
      <string>uni05C2</string>
      <key>sofpasuq-hb</key>
      <string>uni05C3</string>
      <key>tav-hb</key>
      <string>uni05EA</string>
      <key>telishagedola-hb</key>
      <string>uni05A0</string>
      <key>telishaqetana-hb</key>
      <string>uni05A9</string>
      <key>tet-hb</key>
      <string>uni05D8</string>
      <key>tevirleft-hb</key>
      <string>uni059B</string>
      <key>tipehaleft-hb</key>
      <string>uni0596</string>
      <key>tsadi-hb</key>
      <string>uni05E6</string>
      <key>tsere-hb</key>
      <string>uni05B5</string>
      <key>upperdot-hb</key>
      <string>uni05C4</string>
      <key>vav-hb</key>
      <string>uni05D5</string>
      <key>vavvav-hb</key>
      <string>uni05F0</string>
      <key>vavyod-hb</key>
      <string>uni05F1</string>
      <key>yerahbenyomoleft-hb</key>
      <string>uni05AA</string>
      <key>yetiv-hb</key>
      <string>uni059A</string>
      <key>yod-hb</key>
      <string>uni05D9</string>
      <key>yodyod-hb</key>
      <string>uni05F2</string>
      <key>zaqefgadol-hb</key>
      <string>uni0595</string>
      <key>zaqefqatan-hb</key>
      <string>uni0594</string>
      <key>zarqa-hb</key>
      <string>uni0598</string>
      <key>zayin-hb</key>
      <string>uni05D6</string>
      <key>zinor-hb</key>
      <string>uni05AE</string>
    </dict>
  </dict>
</plist>
