<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u112B0</string>
      <string>u112B1</string>
      <string>u112B2</string>
      <string>u112B3</string>
      <string>u112B4</string>
      <string>u112B5</string>
      <string>u112B6</string>
      <string>u112B7</string>
      <string>u112B8</string>
      <string>u112B9</string>
      <string>u112BA</string>
      <string>u112BB</string>
      <string>u112BC</string>
      <string>u112BD</string>
      <string>u112BE</string>
      <string>u112BF</string>
      <string>u112C0</string>
      <string>u112C0_u112E2</string>
      <string>u112C1</string>
      <string>u112C2</string>
      <string>u112C3</string>
      <string>u112C3_u112E2</string>
      <string>u112C4</string>
      <string>u112C5</string>
      <string>u112C6</string>
      <string>u112C7</string>
      <string>u112C8</string>
      <string>u112C9</string>
      <string>u112CA</string>
      <string>u112CB</string>
      <string>u112CC</string>
      <string>u112CD</string>
      <string>u112CE</string>
      <string>u112CF</string>
      <string>u112D0</string>
      <string>u112D1</string>
      <string>u112D1_u112E2</string>
      <string>u112D2</string>
      <string>u112D3</string>
      <string>u112D4</string>
      <string>u112D4_u112E2</string>
      <string>u112D5</string>
      <string>u112D6</string>
      <string>u112D6_u112E2</string>
      <string>u112D7</string>
      <string>u112D8</string>
      <string>u112D9</string>
      <string>u112DA</string>
      <string>u112DB</string>
      <string>u112DC</string>
      <string>u112DD</string>
      <string>u112DE</string>
      <string>u112DF</string>
      <string>u112E0</string>
      <string>u112E1</string>
      <string>u112E1.alt</string>
      <string>u112E1.alt2</string>
      <string>u112E1.alt3</string>
      <string>u112E1_u112BD</string>
      <string>u112E1_u112C0</string>
      <string>u112E1_u112C3</string>
      <string>u112E1_u112D1</string>
      <string>u112E1_u112D4</string>
      <string>u112E1_u112D7</string>
      <string>u112E2</string>
      <string>u112E2.alt</string>
      <string>u112E3</string>
      <string>u112E4</string>
      <string>u112E5</string>
      <string>u112E6</string>
      <string>u112E7</string>
      <string>u112E7.alt</string>
      <string>u112E7_straight</string>
      <string>u112E7_straight.alt</string>
      <string>u112E8</string>
      <string>u112E8.alt</string>
      <string>u112E9</string>
      <string>u112EA</string>
      <string>u112F0</string>
      <string>u112F1</string>
      <string>u112F2</string>
      <string>u112F3</string>
      <string>u112F4</string>
      <string>u112F5</string>
      <string>u112F6</string>
      <string>u112F7</string>
      <string>u112F8</string>
      <string>u112F9</string>
      <string>uni00A0</string>
      <string>uni0964</string>
      <string>uni0965</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni2013</string>
      <string>uni2014</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
    </array>
  </dict>
</plist>
