<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>conicalTaper</key>
    <string>conicalT_aper.glif</string>
    <key>dimensionOrigin</key>
    <string>dimensionO_rigin.glif</string>
    <key>slope</key>
    <string>slope.glif</string>
  </dict>
</plist>
