<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>aatamil</key>
    <string>aatamil.glif</string>
    <key>aavowelsigntamil</key>
    <string>aavowelsigntamil.glif</string>
    <key>aitamil</key>
    <string>aitamil.glif</string>
    <key>aivowelsigntamil</key>
    <string>aivowelsigntamil.glif</string>
    <key>anusvaratamil</key>
    <string>anusvaratamil.glif</string>
    <key>asabovesigntamil</key>
    <string>asabovesigntamil.glif</string>
    <key>asciicircum.tamil</key>
    <string>asciicircum.tamil.glif</string>
    <key>asciitilde.tamil</key>
    <string>asciitilde.tamil.glif</string>
    <key>asterisk.tamil</key>
    <string>asterisk.tamil.glif</string>
    <key>atamil</key>
    <string>atamil.glif</string>
    <key>aulengthmarktamil</key>
    <string>aulengthmarktamil.glif</string>
    <key>autamil</key>
    <string>autamil.glif</string>
    <key>auvowelsigntamil</key>
    <string>auvowelsigntamil.glif</string>
    <key>backslash.tamil</key>
    <string>backslash.tamil.glif</string>
    <key>bar.tamil</key>
    <string>bar.tamil.glif</string>
    <key>braceleft.tamil</key>
    <string>braceleft.tamil.glif</string>
    <key>braceright.tamil</key>
    <string>braceright.tamil.glif</string>
    <key>bracketleft.tamil</key>
    <string>bracketleft.tamil.glif</string>
    <key>bracketright.tamil</key>
    <string>bracketright.tamil.glif</string>
    <key>caiivowelsigntamil</key>
    <string>caiivowelsigntamil.glif</string>
    <key>caprehalftamil</key>
    <string>caprehalftamil.glif</string>
    <key>catamil</key>
    <string>catamil.glif</string>
    <key>cauuvowelsigntamil</key>
    <string>cauuvowelsigntamil.glif</string>
    <key>cauvowelsigntamil</key>
    <string>cauvowelsigntamil.glif</string>
    <key>colon.tamil</key>
    <string>colon.tamil.glif</string>
    <key>comma.tamil</key>
    <string>comma.tamil.glif</string>
    <key>creditsigntamil</key>
    <string>creditsigntamil.glif</string>
    <key>danda.tamil</key>
    <string>danda.tamil.glif</string>
    <key>daysigntamil</key>
    <string>daysigntamil.glif</string>
    <key>dbldanda.tamil</key>
    <string>dbldanda.tamil.glif</string>
    <key>debitsigntamil</key>
    <string>debitsigntamil.glif</string>
    <key>divide.tamil</key>
    <string>divide.tamil.glif</string>
    <key>eetamil</key>
    <string>eetamil.glif</string>
    <key>eevowelsigntamil</key>
    <string>eevowelsigntamil.glif</string>
    <key>eight.tamil</key>
    <string>eight.tamil.glif</string>
    <key>eighttamil</key>
    <string>eighttamil.glif</string>
    <key>ellipsis.tamil</key>
    <string>ellipsis.tamil.glif</string>
    <key>emdash.tamil</key>
    <string>emdash.tamil.glif</string>
    <key>endash.tamil</key>
    <string>endash.tamil.glif</string>
    <key>equal.tamil</key>
    <string>equal.tamil.glif</string>
    <key>etamil</key>
    <string>etamil.glif</string>
    <key>evowelsigntamil</key>
    <string>evowelsigntamil.glif</string>
    <key>exclam.tamil</key>
    <string>exclam.tamil.glif</string>
    <key>five.tamil</key>
    <string>five.tamil.glif</string>
    <key>fivetamil</key>
    <string>fivetamil.glif</string>
    <key>four.tamil</key>
    <string>four.tamil.glif</string>
    <key>fourtamil</key>
    <string>fourtamil.glif</string>
    <key>greater.tamil</key>
    <string>greater.tamil.glif</string>
    <key>haiivowelsigntamil</key>
    <string>haiivowelsigntamil.glif</string>
    <key>haprehalftamil</key>
    <string>haprehalftamil.glif</string>
    <key>hatamil</key>
    <string>hatamil.glif</string>
    <key>hundredtamil</key>
    <string>hundredtamil.glif</string>
    <key>hyphen.tamil</key>
    <string>hyphen.tamil.glif</string>
    <key>iitamil</key>
    <string>iitamil.glif</string>
    <key>iivowelsigntamil</key>
    <string>iivowelsigntamil.glif</string>
    <key>itamil</key>
    <string>itamil.glif</string>
    <key>ivowelsign1tamil</key>
    <string>ivowelsign1tamil.glif</string>
    <key>ivowelsign2tamil</key>
    <string>ivowelsign2tamil.glif</string>
    <key>ivowelsign3tamil</key>
    <string>ivowelsign3tamil.glif</string>
    <key>ivowelsign4tamil</key>
    <string>ivowelsign4tamil.glif</string>
    <key>ivowelsigntamil</key>
    <string>ivowelsigntamil.glif</string>
    <key>jaiivowelsigntamil</key>
    <string>jaiivowelsigntamil.glif</string>
    <key>japrehalftamil</key>
    <string>japrehalftamil.glif</string>
    <key>jatamil</key>
    <string>jatamil.glif</string>
    <key>kaiivowelsigntamil</key>
    <string>kaiivowelsigntamil.glif</string>
    <key>kaprehalftamil</key>
    <string>kaprehalftamil.glif</string>
    <key>katamil</key>
    <string>katamil.glif</string>
    <key>kauuvowelsigntamil</key>
    <string>kauuvowelsigntamil.glif</string>
    <key>kauvowelsigntamil</key>
    <string>kauvowelsigntamil.glif</string>
    <key>laiivowelsigntamil</key>
    <string>laiivowelsigntamil.glif</string>
    <key>laivowelsigntamil</key>
    <string>laivowelsigntamil.glif</string>
    <key>laprehalftamil</key>
    <string>laprehalftamil.glif</string>
    <key>latamil</key>
    <string>latamil.glif</string>
    <key>lauuvowelsigntamil</key>
    <string>lauuvowelsigntamil.glif</string>
    <key>lauvowelsigntamil</key>
    <string>lauvowelsigntamil.glif</string>
    <key>less.tamil</key>
    <string>less.tamil.glif</string>
    <key>llaiivowelsigntamil</key>
    <string>llaiivowelsigntamil.glif</string>
    <key>llaprehalftamil</key>
    <string>llaprehalftamil.glif</string>
    <key>llatamil</key>
    <string>llatamil.glif</string>
    <key>llauuvowelsigntamil</key>
    <string>llauuvowelsigntamil.glif</string>
    <key>llauvowelsigntamil</key>
    <string>llauvowelsigntamil.glif</string>
    <key>lllaiivowelsigntamil</key>
    <string>lllaiivowelsigntamil.glif</string>
    <key>lllaprehalftamil</key>
    <string>lllaprehalftamil.glif</string>
    <key>lllatamil</key>
    <string>lllatamil.glif</string>
    <key>lllauuvowelsigntamil</key>
    <string>lllauuvowelsigntamil.glif</string>
    <key>lllauvowelsigntamil</key>
    <string>lllauvowelsigntamil.glif</string>
    <key>maiivowelsigntamil</key>
    <string>maiivowelsigntamil.glif</string>
    <key>maprehalftamil</key>
    <string>maprehalftamil.glif</string>
    <key>matamil</key>
    <string>matamil.glif</string>
    <key>mauuvowelsigntamil</key>
    <string>mauuvowelsigntamil.glif</string>
    <key>mauvowelsigntamil</key>
    <string>mauvowelsigntamil.glif</string>
    <key>minus.tamil</key>
    <string>minus.tamil.glif</string>
    <key>monthsigntamil</key>
    <string>monthsigntamil.glif</string>
    <key>multiply.tamil</key>
    <string>multiply.tamil.glif</string>
    <key>naiivowelsigntamil</key>
    <string>naiivowelsigntamil.glif</string>
    <key>naprehalftamil</key>
    <string>naprehalftamil.glif</string>
    <key>natamil</key>
    <string>natamil.glif</string>
    <key>nauuvowelsigntamil</key>
    <string>nauuvowelsigntamil.glif</string>
    <key>nauvowelsigntamil</key>
    <string>nauvowelsigntamil.glif</string>
    <key>ngaiivowelsigntamil</key>
    <string>ngaiivowelsigntamil.glif</string>
    <key>ngaprehalftamil</key>
    <string>ngaprehalftamil.glif</string>
    <key>ngatamil</key>
    <string>ngatamil.glif</string>
    <key>ngauuvowelsigntamil</key>
    <string>ngauuvowelsigntamil.glif</string>
    <key>ngauvowelsigntamil</key>
    <string>ngauvowelsigntamil.glif</string>
    <key>nine.tamil</key>
    <string>nine.tamil.glif</string>
    <key>ninetamil</key>
    <string>ninetamil.glif</string>
    <key>nnaiivowelsigntamil</key>
    <string>nnaiivowelsigntamil.glif</string>
    <key>nnaprehalftamil</key>
    <string>nnaprehalftamil.glif</string>
    <key>nnatamil</key>
    <string>nnatamil.glif</string>
    <key>nnauuvowelsigntamil</key>
    <string>nnauuvowelsigntamil.glif</string>
    <key>nnauvowelsigntamil</key>
    <string>nnauvowelsigntamil.glif</string>
    <key>nnnaiivowelsigntamil</key>
    <string>nnnaiivowelsigntamil.glif</string>
    <key>nnnaprehalftamil</key>
    <string>nnnaprehalftamil.glif</string>
    <key>nnnatamil</key>
    <string>nnnatamil.glif</string>
    <key>nnnauuvowelsigntamil</key>
    <string>nnnauuvowelsigntamil.glif</string>
    <key>nnnauvowelsigntamil</key>
    <string>nnnauvowelsigntamil.glif</string>
    <key>numbersign.tamil</key>
    <string>numbersign.tamil.glif</string>
    <key>numsigntamil</key>
    <string>numsigntamil.glif</string>
    <key>nyaiivowelsigntamil</key>
    <string>nyaiivowelsigntamil.glif</string>
    <key>nyaprehalftamil</key>
    <string>nyaprehalftamil.glif</string>
    <key>nyatamil</key>
    <string>nyatamil.glif</string>
    <key>nyauuvowelsigntamil</key>
    <string>nyauuvowelsigntamil.glif</string>
    <key>nyauvowelsigntamil</key>
    <string>nyauvowelsigntamil.glif</string>
    <key>ohmsigntamil</key>
    <string>ohmsigntamil.glif</string>
    <key>one.tamil</key>
    <string>one.tamil.glif</string>
    <key>onetamil</key>
    <string>onetamil.glif</string>
    <key>ootamil</key>
    <string>ootamil.glif</string>
    <key>oovowelsigntamil</key>
    <string>oovowelsigntamil.glif</string>
    <key>otamil</key>
    <string>otamil.glif</string>
    <key>ovowelsigntamil</key>
    <string>ovowelsigntamil.glif</string>
    <key>paiivowelsigntamil</key>
    <string>paiivowelsigntamil.glif</string>
    <key>paprehalftamil</key>
    <string>paprehalftamil.glif</string>
    <key>parenleft.tamil</key>
    <string>parenleft.tamil.glif</string>
    <key>parenright.tamil</key>
    <string>parenright.tamil.glif</string>
    <key>patamil</key>
    <string>patamil.glif</string>
    <key>pauuvowelsigntamil</key>
    <string>pauuvowelsigntamil.glif</string>
    <key>pauvowelsigntamil</key>
    <string>pauvowelsigntamil.glif</string>
    <key>percent.tamil</key>
    <string>percent.tamil.glif</string>
    <key>period.tamil</key>
    <string>period.tamil.glif</string>
    <key>plus.tamil</key>
    <string>plus.tamil.glif</string>
    <key>question.tamil</key>
    <string>question.tamil.glif</string>
    <key>quotedbl.tamil</key>
    <string>quotedbl.tamil.glif</string>
    <key>quotedblleft.tamil</key>
    <string>quotedblleft.tamil.glif</string>
    <key>quotedblright.tamil</key>
    <string>quotedblright.tamil.glif</string>
    <key>quoteleft.tamil</key>
    <string>quoteleft.tamil.glif</string>
    <key>quoteright.tamil</key>
    <string>quoteright.tamil.glif</string>
    <key>quotesingle.tamil</key>
    <string>quotesingle.tamil.glif</string>
    <key>raiivowelsigntamil</key>
    <string>raiivowelsigntamil.glif</string>
    <key>raprehalftamil</key>
    <string>raprehalftamil.glif</string>
    <key>ratamil</key>
    <string>ratamil.glif</string>
    <key>rauuvowelsigntamil</key>
    <string>rauuvowelsigntamil.glif</string>
    <key>rauvowelsigntamil</key>
    <string>rauvowelsigntamil.glif</string>
    <key>rraiivowelsigntamil</key>
    <string>rraiivowelsigntamil.glif</string>
    <key>rraprehalftamil</key>
    <string>rraprehalftamil.glif</string>
    <key>rratamil</key>
    <string>rratamil.glif</string>
    <key>rrauuvowelsigntamil</key>
    <string>rrauuvowelsigntamil.glif</string>
    <key>rrauvowelsigntamil</key>
    <string>rrauvowelsigntamil.glif</string>
    <key>rupeesigntamil</key>
    <string>rupeesigntamil.glif</string>
    <key>saiivowelsigntamil</key>
    <string>saiivowelsigntamil.glif</string>
    <key>saivowelsigntamil</key>
    <string>saivowelsigntamil.glif</string>
    <key>saprehalftamil</key>
    <string>saprehalftamil.glif</string>
    <key>satamil</key>
    <string>satamil.glif</string>
    <key>semicolon.tamil</key>
    <string>semicolon.tamil.glif</string>
    <key>seven.tamil</key>
    <string>seven.tamil.glif</string>
    <key>seventamil</key>
    <string>seventamil.glif</string>
    <key>sfthyphen.tamil</key>
    <string>sfthyphen.tamil.glif</string>
    <key>shaprehalftamil</key>
    <string>shaprehalftamil.glif</string>
    <key>shatamil</key>
    <string>shatamil.glif</string>
    <key>shritamil</key>
    <string>shritamil.glif</string>
    <key>six.tamil</key>
    <string>six.tamil.glif</string>
    <key>sixtamil</key>
    <string>sixtamil.glif</string>
    <key>slash.tamil</key>
    <string>slash.tamil.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssaiivowelsigntamil</key>
    <string>ssaiivowelsigntamil.glif</string>
    <key>ssaprehalftamil</key>
    <string>ssaprehalftamil.glif</string>
    <key>ssatamil</key>
    <string>ssatamil.glif</string>
    <key>taiivowelsigntamil</key>
    <string>taiivowelsigntamil.glif</string>
    <key>taprehalftamil</key>
    <string>taprehalftamil.glif</string>
    <key>tatamil</key>
    <string>tatamil.glif</string>
    <key>tauuvowelsigntamil</key>
    <string>tauuvowelsigntamil.glif</string>
    <key>tauvowelsigntamil</key>
    <string>tauvowelsigntamil.glif</string>
    <key>tchaiivowelsigntamil</key>
    <string>tchaiivowelsigntamil.glif</string>
    <key>tchaprehalftamil</key>
    <string>tchaprehalftamil.glif</string>
    <key>tchatamil</key>
    <string>tchatamil.glif</string>
    <key>tentamil</key>
    <string>tentamil.glif</string>
    <key>thousandtamil</key>
    <string>thousandtamil.glif</string>
    <key>three.tamil</key>
    <string>three.tamil.glif</string>
    <key>threetamil</key>
    <string>threetamil.glif</string>
    <key>ttaiivowelsigntamil</key>
    <string>ttaiivowelsigntamil.glif</string>
    <key>ttaivowelsigntamil</key>
    <string>ttaivowelsigntamil.glif</string>
    <key>ttaprehalftamil</key>
    <string>ttaprehalftamil.glif</string>
    <key>ttatamil</key>
    <string>ttatamil.glif</string>
    <key>ttauuvowelsigntamil</key>
    <string>ttauuvowelsigntamil.glif</string>
    <key>ttauvowelsigntamil</key>
    <string>ttauvowelsigntamil.glif</string>
    <key>two.tamil</key>
    <string>two.tamil.glif</string>
    <key>twotamil</key>
    <string>twotamil.glif</string>
    <key>u11303</key>
    <string>u11303.glif</string>
    <key>u1133C</key>
    <string>u1133C_.glif</string>
    <key>underscore.tamil</key>
    <string>underscore.tamil.glif</string>
    <key>uni00A0.tamil</key>
    <string>uni00A_0.tamil.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni0951</key>
    <string>uni0951.glif</string>
    <key>uni0952</key>
    <string>uni0952.glif</string>
    <key>uni1CDA</key>
    <string>uni1C_D_A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2082</key>
    <string>uni2082.glif</string>
    <key>uni2083</key>
    <string>uni2083.glif</string>
    <key>uni2084</key>
    <string>uni2084.glif</string>
    <key>uni20B9.tamil</key>
    <string>uni20B_9.tamil.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA8F3</key>
    <string>uniA_8F_3.glif</string>
    <key>utamil</key>
    <string>utamil.glif</string>
    <key>uutamil</key>
    <string>uutamil.glif</string>
    <key>uuvowelsignalttamil</key>
    <string>uuvowelsignalttamil.glif</string>
    <key>uuvowelsigntamil</key>
    <string>uuvowelsigntamil.glif</string>
    <key>uvowelsignalttamil</key>
    <string>uvowelsignalttamil.glif</string>
    <key>uvowelsigntamil</key>
    <string>uvowelsigntamil.glif</string>
    <key>vaiivowelsigntamil</key>
    <string>vaiivowelsigntamil.glif</string>
    <key>vaprehalftamil</key>
    <string>vaprehalftamil.glif</string>
    <key>vatamil</key>
    <string>vatamil.glif</string>
    <key>vauuvowelsigntamil</key>
    <string>vauuvowelsigntamil.glif</string>
    <key>vauvowelsigntamil</key>
    <string>vauvowelsigntamil.glif</string>
    <key>viramatamil</key>
    <string>viramatamil.glif</string>
    <key>visargatamil</key>
    <string>visargatamil.glif</string>
    <key>yaiivowelsigntamil</key>
    <string>yaiivowelsigntamil.glif</string>
    <key>yaprehalftamil</key>
    <string>yaprehalftamil.glif</string>
    <key>yatamil</key>
    <string>yatamil.glif</string>
    <key>yauuvowelsigntamil</key>
    <string>yauuvowelsigntamil.glif</string>
    <key>yauvowelsigntamil</key>
    <string>yauvowelsigntamil.glif</string>
    <key>yearsigntamil</key>
    <string>yearsigntamil.glif</string>
    <key>zero.tamil</key>
    <string>zero.tamil.glif</string>
    <key>zerotamil</key>
    <string>zerotamil.glif</string>
  </dict>
</plist>
