<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>downandhorizontaltriangle-dentistry</key>
    <string>downandhorizontaltriangle-dentistry.glif</string>
    <key>upandhorizontalcircle-dentistry</key>
    <string>upandhorizontalcircle-dentistry.glif</string>
    <key>upandhorizontaltriangle-dentistry</key>
    <string>upandhorizontaltriangle-dentistry.glif</string>
    <key>verticalandwave-dentistry</key>
    <string>verticalandwave-dentistry.glif</string>
    <key>verticaltriangle-dentistry</key>
    <string>verticaltriangle-dentistry.glif</string>
  </dict>
</plist>
