<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.flag</key>
    <array>
      <string>ra_tsaSub_tibet</string>
      <string>ra_tsaSub_aaMatra_tibet</string>
      <string>ra_tsaSub_uMatra_tibet</string>
      <string>ra_tsaSub_tsaSub_tibet</string>
      <string>ra_tsaSub_tshaSub_tibet</string>
      <string>ra_tsaSub_waSub_tibet</string>
      <string>ra_dzaSub_tibet</string>
      <string>ra_dzaSub_aaMatra_tibet</string>
      <string>ra_dzaSub_uMatra_tibet</string>
      <string>ra_dzaSub_nyaSub_tibet</string>
      <string>ra_dzaSub_nyaSub_aaMatra_tibet</string>
      <string>ra_dzaSub_dzaSub_tibet</string>
      <string>ra_dzaSub_waSub_tibet</string>
      <string>ra_dzaSub_yaSub_tibet</string>
      <string>ra_dzhaSub_tibet</string>
    </array>
    <key>public.kern1.midFlag</key>
    <array>
      <string>ka_tsaSub_tibet</string>
      <string>ga_dzaSub_tibet</string>
      <string>ga_dzaSub_nyaSub_tibet</string>
      <string>ga_dzaSub_nyaSub_aaMatra_tibet</string>
      <string>ca_tshaSub_tibet</string>
      <string>ca_tshaSub_aaMatra_tibet</string>
      <string>nya_tsaSub_tibet</string>
      <string>nya_tsaSub_aaMatra_tibet</string>
      <string>nya_tsaSub_uMatra_tibet</string>
      <string>nya_tshaSub_tibet</string>
      <string>nya_dzaSub_tibet</string>
      <string>nya_dzaSub_aaMatra_tibet</string>
      <string>nya_dzaSub_uMatra_tibet</string>
      <string>nna_tsaSub_tibet</string>
      <string>nna_dzaSub_tibet</string>
      <string>na_tsaSub_tibet</string>
      <string>na_tsaSub_aaMatra_tibet</string>
      <string>na_dzaSub_tibet</string>
      <string>ba_dzaSub_tibet</string>
      <string>ba_dzaSub_aaMatra_tibet</string>
      <string>la_dzaSub_tibet</string>
      <string>sha_tsaSub_tibet</string>
      <string>sha_tsaSub_aaMatra_tibet</string>
      <string>sha_tsaSub_tshaSub_tibet</string>
      <string>sha_tsaSub_yaSub_tibet</string>
      <string>sha_tsaSub_yaSub_uMatra_tibet</string>
      <string>sa_tsaSub_tibet</string>
      <string>sa_tsaSub_uMatra_tibet</string>
    </array>
    <key>public.kern1.raKa</key>
    <array>
      <string>ra_kaSub_tibet</string>
      <string>ra_kaSub_aaMatra_tibet</string>
      <string>ra_kaSub_uMatra_tibet</string>
      <string>ra_kaSub_kaSub_tibet</string>
      <string>ra_kaSub_yaSub_tibet</string>
      <string>ra_kaSub_yaSub_uMatra_tibet</string>
      <string>ra_gaSub_tibet</string>
      <string>ra_gaSub_aaMatra_tibet</string>
      <string>ra_gaSub_uMatra_tibet</string>
      <string>ra_gaSub_gaSub_tibet</string>
      <string>ra_gaSub_waSub_tibet</string>
      <string>ra_gaSub_yaSub_tibet</string>
      <string>ra_gaSub_yaSub_uMatra_tibet</string>
      <string>ra_gaSub_raSub_tibet</string>
      <string>ra_gaSub_raSub_aaMatra_tibet</string>
      <string>ra_ghaSub_tibet</string>
      <string>ra_ghaSub_aaMatra_tibet</string>
      <string>ra_ghaSub_yaSub_tibet</string>
      <string>ra_ngaSub_tibet</string>
      <string>ra_ngaSub_uMatra_tibet</string>
      <string>ra_nnaSub_tibet</string>
      <string>ra_nnaSub_aaMatra_tibet</string>
      <string>ra_nnaSub_nnaSub_tibet</string>
      <string>ra_nnaSub_nnaSub_aaMatra_tibet</string>
      <string>ra_taSub_tibet</string>
      <string>ra_taSub_aaMatra_tibet</string>
      <string>ra_taSub_uMatra_tibet</string>
      <string>ra_taSub_taSub_tibet</string>
      <string>ra_taSub_taSub_aaMatra_tibet</string>
      <string>ra_taSub_yaSub_tibet</string>
      <string>ra_taSub_raSub_tibet</string>
      <string>ra_thaSub_tibet</string>
      <string>ra_thaSub_aaMatra_tibet</string>
      <string>ra_thaSub_yaSub_tibet</string>
      <string>ra_daSub_tibet</string>
      <string>ra_daSub_aaMatra_tibet</string>
      <string>ra_daSub_aaMatra_uMatra_tibet</string>
      <string>ra_daSub_uMatra_tibet</string>
      <string>ra_daSub_daSub_tibet</string>
      <string>ra_daSub_daSub_aaMatra_tibet</string>
      <string>ra_daSub_daSub_raSub_tibet</string>
      <string>ra_daSub_daSub_raSub_uMatra_tibet</string>
      <string>ra_daSub_dhaSub_tibet</string>
      <string>ra_daSub_dhaSub_aaMatra_tibet</string>
      <string>ra_daSub_waSub_tibet</string>
      <string>ra_daSub_waSub_aaMatra_tibet</string>
      <string>ra_daSub_raSub_tibet</string>
      <string>ra_daSub_raSub_aaMatra_tibet</string>
      <string>ra_daSub_raSub_uMatra_tibet</string>
      <string>ra_dhaSub_tibet</string>
      <string>ra_dhaSub_aaMatra_tibet</string>
      <string>ra_dhaSub_aaMatra_uMatra_tibet</string>
      <string>ra_dhaSub_naSub_aaMatra_tibet</string>
      <string>ra_dhaSub_yaSub_tibet</string>
      <string>ra_naSub_tibet</string>
      <string>ra_naSub_aaMatra_tibet</string>
      <string>ra_naSub_uMatra_tibet</string>
      <string>ra_baSub_tibet</string>
      <string>ra_baSub_aaMatra_tibet</string>
      <string>ra_baSub_uMatra_tibet</string>
      <string>ra_baSub_baSub_tibet</string>
      <string>ra_baSub_baSub_aaMatra_tibet</string>
      <string>ra_baSub_bhaSub_tibet</string>
      <string>ra_baSub_raSub_tibet</string>
      <string>ra_bhaSub_tibet</string>
      <string>ra_bhaSub_aaMatra_tibet</string>
      <string>ra_bhaSub_aaMatra_uMatra_tibet</string>
      <string>ra_bhaSub_uMatra_tibet</string>
      <string>ra_bhaSub_yaSub_tibet</string>
      <string>ra_shaSub_tibet</string>
      <string>ra_shaSub_aaMatra_tibet</string>
      <string>ra_shaSub_waSub_tibet</string>
    </array>
    <key>public.kern1.raMa</key>
    <array>
      <string>ra_jaSub_tibet</string>
      <string>ra_jaSub_uMatra_tibet</string>
      <string>ra_paSub_tibet</string>
      <string>ra_paSub_aaMatra_tibet</string>
      <string>ra_paSub_aaMatra_uMatra_tibet</string>
      <string>ra_paSub_uMatra_tibet</string>
      <string>ra_maSub_tibet</string>
      <string>ra_maSub_aaMatra_tibet</string>
      <string>ra_maSub_uMatra_tibet</string>
      <string>ra_maSub_maSub_tibet</string>
      <string>ra_maSub_maSub_aaMatra_tibet</string>
      <string>ra_maSub_maSub_yaSub_tibet</string>
      <string>ra_maSub_yaSub_tibet</string>
      <string>ra_maSub_yaSub_uMatra_tibet</string>
      <string>ra_maSub_raSub_tibet</string>
    </array>
    <key>public.kern1.ssa</key>
    <array>
      <string>ssa_tibet</string>
      <string>ssa_tibet.2</string>
      <string>ssa_tibet.3</string>
      <string>ra_ssaSub_tibet</string>
      <string>ra_ssaSub_aaMatra_tibet</string>
      <string>ra_ssaSub_uMatra_tibet</string>
      <string>ra_ssaSub_nnaSub_tibet</string>
      <string>ra_ssaSub_taSub_tibet</string>
      <string>ra_ssaSub_taSub_raSub_tibet</string>
      <string>ra_ssaSub_taSub_raSub_aaMatra_tibet</string>
      <string>ra_ssaSub_yaSub_tibet</string>
      <string>ssa_aaMatra_tibet</string>
      <string>ssa_aaMatra_uMatra_tibet</string>
      <string>ssa_uMatra_tibet</string>
      <string>ssa_kaSub_tibet</string>
      <string>ssa_kaSub_aaMatra_tibet</string>
      <string>ssa_kaSub_uMatra_tibet</string>
      <string>ssa_kaSub_raSub_tibet</string>
      <string>ssa_ttaSub_tibet</string>
      <string>ssa_ttaSub_aaMatra_tibet</string>
      <string>ssa_ttaSub_yaSub_tibet</string>
      <string>ssa_ttaSub_yaSub_aaMatra_tibet</string>
      <string>ssa_ttaSub_raSub_tibet</string>
      <string>ssa_ttaSub_raSub_aaMatra_tibet</string>
      <string>ssa_tthaSub_tibet</string>
      <string>ssa_tthaSub_aaMatra_tibet</string>
      <string>ssa_tthaSub_uMatra_tibet</string>
      <string>ssa_tthaSub_yaSub_tibet</string>
      <string>ssa_nnaSub_tibet</string>
      <string>ssa_nnaSub_aaMatra_tibet</string>
      <string>ssa_nnaSub_uMatra_tibet</string>
      <string>ssa_taSub_tibet</string>
      <string>ssa_taSub_raSub_tibet</string>
      <string>ssa_thaSub_tibet</string>
      <string>ssa_thaSub_yaSub_tibet</string>
      <string>ssa_paSub_tibet</string>
      <string>ssa_paSub_aaMatra_tibet</string>
      <string>ssa_paSub_uMatra_tibet</string>
      <string>ssa_paSub_raSub_tibet</string>
      <string>ssa_paSub_raSub_aaMatra_tibet</string>
      <string>ssa_baSub_tibet</string>
      <string>ssa_maSub_tibet</string>
      <string>ssa_maSub_aaMatra_tibet</string>
      <string>ssa_tsaSub_tibet</string>
      <string>ssa_waSub_tibet</string>
      <string>ssa_waSub_aaMatra_tibet</string>
      <string>ssa_yaSub_tibet</string>
      <string>ssa_yaSub_aaMatra_tibet</string>
      <string>ssa_raSub_tibet</string>
      <string>ssa_raSub_aaMatra_tibet</string>
      <string>ssa_laSub_tibet</string>
      <string>ssa_laSub_aaMatra_tibet</string>
      <string>ssaSub_tibet.3</string>
    </array>
    <key>public.kern1.tsheg</key>
    <array>
      <string>intersyllabictsheg_tibet</string>
      <string>delimitertshegbstar_tibet</string>
    </array>
    <key>public.kern2.raTop</key>
    <array>
      <string>ra_kaSub_tibet</string>
      <string>ra_kaSub_aaMatra_tibet</string>
      <string>ra_kaSub_uMatra_tibet</string>
      <string>ra_kaSub_kaSub_tibet</string>
      <string>ra_kaSub_yaSub_tibet</string>
      <string>ra_kaSub_yaSub_uMatra_tibet</string>
      <string>ra_gaSub_tibet</string>
      <string>ra_gaSub_aaMatra_tibet</string>
      <string>ra_gaSub_uMatra_tibet</string>
      <string>ra_gaSub_gaSub_tibet</string>
      <string>ra_gaSub_waSub_tibet</string>
      <string>ra_gaSub_yaSub_tibet</string>
      <string>ra_gaSub_yaSub_uMatra_tibet</string>
      <string>ra_gaSub_raSub_tibet</string>
      <string>ra_gaSub_raSub_aaMatra_tibet</string>
      <string>ra_ghaSub_tibet</string>
      <string>ra_ghaSub_aaMatra_tibet</string>
      <string>ra_ghaSub_yaSub_tibet</string>
      <string>ra_ngaSub_tibet</string>
      <string>ra_ngaSub_uMatra_tibet</string>
      <string>ra_jaSub_tibet</string>
      <string>ra_jaSub_uMatra_tibet</string>
      <string>ra_nyaSub_tibet</string>
      <string>ra_nyaSub_uMatra_tibet</string>
      <string>ra_nnaSub_tibet</string>
      <string>ra_nnaSub_aaMatra_tibet</string>
      <string>ra_nnaSub_nnaSub_tibet</string>
      <string>ra_nnaSub_nnaSub_aaMatra_tibet</string>
      <string>ra_taSub_tibet</string>
      <string>ra_taSub_aaMatra_tibet</string>
      <string>ra_taSub_uMatra_tibet</string>
      <string>ra_taSub_taSub_tibet</string>
      <string>ra_taSub_taSub_aaMatra_tibet</string>
      <string>ra_taSub_yaSub_tibet</string>
      <string>ra_taSub_raSub_tibet</string>
      <string>ra_thaSub_tibet</string>
      <string>ra_thaSub_aaMatra_tibet</string>
      <string>ra_thaSub_yaSub_tibet</string>
      <string>ra_daSub_tibet</string>
      <string>ra_daSub_aaMatra_tibet</string>
      <string>ra_daSub_aaMatra_uMatra_tibet</string>
      <string>ra_daSub_uMatra_tibet</string>
      <string>ra_daSub_daSub_tibet</string>
      <string>ra_daSub_daSub_aaMatra_tibet</string>
      <string>ra_daSub_daSub_raSub_tibet</string>
      <string>ra_daSub_daSub_raSub_uMatra_tibet</string>
      <string>ra_daSub_dhaSub_tibet</string>
      <string>ra_daSub_dhaSub_aaMatra_tibet</string>
      <string>ra_daSub_waSub_tibet</string>
      <string>ra_daSub_waSub_aaMatra_tibet</string>
      <string>ra_daSub_raSub_tibet</string>
      <string>ra_daSub_raSub_aaMatra_tibet</string>
      <string>ra_daSub_raSub_uMatra_tibet</string>
      <string>ra_dhaSub_tibet</string>
      <string>ra_dhaSub_aaMatra_tibet</string>
      <string>ra_dhaSub_aaMatra_uMatra_tibet</string>
      <string>ra_dhaSub_naSub_aaMatra_tibet</string>
      <string>ra_dhaSub_yaSub_tibet</string>
      <string>ra_naSub_tibet</string>
      <string>ra_naSub_aaMatra_tibet</string>
      <string>ra_naSub_uMatra_tibet</string>
      <string>ra_paSub_tibet</string>
      <string>ra_paSub_aaMatra_tibet</string>
      <string>ra_paSub_aaMatra_uMatra_tibet</string>
      <string>ra_paSub_uMatra_tibet</string>
      <string>ra_baSub_tibet</string>
      <string>ra_baSub_aaMatra_tibet</string>
      <string>ra_baSub_uMatra_tibet</string>
      <string>ra_baSub_baSub_tibet</string>
      <string>ra_baSub_baSub_aaMatra_tibet</string>
      <string>ra_baSub_bhaSub_tibet</string>
      <string>ra_baSub_raSub_tibet</string>
      <string>ra_bhaSub_tibet</string>
      <string>ra_bhaSub_aaMatra_tibet</string>
      <string>ra_bhaSub_aaMatra_uMatra_tibet</string>
      <string>ra_bhaSub_uMatra_tibet</string>
      <string>ra_bhaSub_yaSub_tibet</string>
      <string>ra_maSub_tibet</string>
      <string>ra_maSub_aaMatra_tibet</string>
      <string>ra_maSub_uMatra_tibet</string>
      <string>ra_maSub_maSub_tibet</string>
      <string>ra_maSub_maSub_aaMatra_tibet</string>
      <string>ra_maSub_maSub_yaSub_tibet</string>
      <string>ra_maSub_yaSub_tibet</string>
      <string>ra_maSub_yaSub_uMatra_tibet</string>
      <string>ra_maSub_raSub_tibet</string>
      <string>ra_dzaSub_tibet</string>
      <string>ra_dzaSub_aaMatra_tibet</string>
      <string>ra_dzaSub_uMatra_tibet</string>
      <string>ra_dzaSub_nyaSub_tibet</string>
      <string>ra_dzaSub_nyaSub_aaMatra_tibet</string>
      <string>ra_dzaSub_dzaSub_tibet</string>
      <string>ra_dzaSub_waSub_tibet</string>
      <string>ra_dzaSub_yaSub_tibet</string>
      <string>ra_dzhaSub_tibet</string>
    </array>
    <key>public.kern2.raTsa</key>
    <array>
      <string>ra_tsaSub_tibet</string>
      <string>ra_tsaSub_aaMatra_tibet</string>
      <string>ra_tsaSub_uMatra_tibet</string>
      <string>ra_tsaSub_tsaSub_tibet</string>
      <string>ra_tsaSub_tshaSub_tibet</string>
      <string>ra_tsaSub_waSub_tibet</string>
    </array>
    <key>public.kern2.sha</key>
    <array>
      <string>sha_tibet</string>
      <string>sha_tibet.2</string>
      <string>sha_tibet.3</string>
      <string>ra_shaSub_tibet</string>
      <string>ra_shaSub_aaMatra_tibet</string>
      <string>ra_shaSub_waSub_tibet</string>
      <string>sha_aaMatra_tibet</string>
      <string>sha_aaMatra_uMatra_tibet</string>
      <string>sha_uMatra_tibet</string>
      <string>sha_caSub_tibet</string>
      <string>sha_taSub_tibet</string>
      <string>sha_thaSub_tibet</string>
      <string>sha_thaSub_aaMatra_tibet</string>
      <string>sha_naSub_tibet</string>
      <string>sha_paSub_tibet</string>
      <string>sha_maSub_tibet</string>
      <string>sha_maSub_aaMatra_tibet</string>
      <string>sha_tsaSub_tibet</string>
      <string>sha_tsaSub_aaMatra_tibet</string>
      <string>sha_tsaSub_tshaSub_tibet</string>
      <string>sha_tsaSub_yaSub_tibet</string>
      <string>sha_tsaSub_yaSub_uMatra_tibet</string>
      <string>sha_waSub_tibet</string>
      <string>sha_waSub_aaMatra_tibet</string>
      <string>sha_yaSub_tibet</string>
      <string>sha_yaSub_aaMatra_tibet</string>
      <string>sha_raSub_tibet</string>
      <string>sha_raSub_aaMatra_tibet</string>
      <string>sha_raSub_aaMatra_uMatra_tibet</string>
      <string>sha_raSub_uMatra_tibet</string>
      <string>sha_laSub_tibet</string>
      <string>sha_laSub_aaMatra_tibet</string>
      <string>sha_shaSub_tibet</string>
      <string>sha_shaSub_uMatra_tibet</string>
      <string>sha_haSub_tibet</string>
      <string>shaSub_tibet.3</string>
    </array>
    <key>public.kern2.tsheg</key>
    <array>
      <string>intersyllabictsheg_tibet</string>
      <string>delimitertshegbstar_tibet</string>
    </array>
    <key>public.kern2.zha</key>
    <array>
      <string>zha_tibet</string>
      <string>aa_tibet</string>
      <string>la_tibet</string>
      <string>gruMedRgyings_tibet</string>
      <string>zha_tibet.2</string>
      <string>zha_tibet.3</string>
      <string>aa_tibet.2</string>
      <string>aa_tibet.3</string>
      <string>la_tibet.2</string>
      <string>la_tibet.3</string>
      <string>gruMedRgyings_tibet.2</string>
      <string>gruMedRgyings_tibet.3</string>
      <string>zha_uMatra_tibet</string>
      <string>zha_waSub_tibet</string>
      <string>la_aaMatra_tibet</string>
      <string>la_aaMatra_uMatra_tibet</string>
      <string>la_uMatra_tibet</string>
      <string>la_kaSub_tibet</string>
      <string>la_kaSub_aaMatra_tibet</string>
      <string>la_kaSub_uMatra_tibet</string>
      <string>la_gaSub_tibet</string>
      <string>la_gaSub_uMatra_tibet</string>
      <string>la_ngaSub_tibet</string>
      <string>la_ngaSub_uMatra_tibet</string>
      <string>la_caSub_tibet</string>
      <string>la_caSub_uMatra_tibet</string>
      <string>la_jaSub_tibet</string>
      <string>la_jaSub_uMatra_tibet</string>
      <string>la_taSub_tibet</string>
      <string>la_taSub_uMatra_tibet</string>
      <string>la_daSub_tibet</string>
      <string>la_daSub_uMatra_tibet</string>
      <string>la_paSub_tibet</string>
      <string>la_paSub_aaMatra_tibet</string>
      <string>la_paSub_uMatra_tibet</string>
      <string>la_phaSub_tibet</string>
      <string>la_phaSub_uMatra_tibet</string>
      <string>la_baSub_tibet</string>
      <string>la_baSub_aaMatra_tibet</string>
      <string>la_baSub_uMatra_tibet</string>
      <string>la_bhaSub_tibet</string>
      <string>la_maSub_tibet</string>
      <string>la_maSub_aaMatra_tibet</string>
      <string>la_dzaSub_tibet</string>
      <string>la_waSub_tibet</string>
      <string>la_yaSub_tibet</string>
      <string>la_yaSub_aaMatra_tibet</string>
      <string>la_raSub_tibet</string>
      <string>la_raSub_aaMatra_tibet</string>
      <string>la_laSub_tibet</string>
      <string>la_laSub_aaMatra_tibet</string>
      <string>la_laSub_uMatra_tibet</string>
      <string>la_laSub_yaSub_tibet</string>
      <string>la_haSub_tibet</string>
      <string>la_haSub_uMatra_tibet</string>
      <string>aaMatra_tibet.3</string>
      <string>zhaSub_tibet.3</string>
      <string>aaSub_tibet.3</string>
      <string>laSub_tibet.3</string>
    </array>
  </dict>
</plist>
