<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AI_Shadda.ns</key>
    <string>A_I__S_hadda.ns.glif</string>
    <key>Anusvara</key>
    <string>A_nusvara.glif</string>
    <key>Anusvara.alt</key>
    <string>A_nusvara.alt.glif</string>
    <key>BBU</key>
    <string>B_B_U_.glif</string>
    <key>BHRA</key>
    <string>B_H_R_A_.glif</string>
    <key>BHU</key>
    <string>B_H_U_.glif</string>
    <key>BU</key>
    <string>B_U_.glif</string>
    <key>CHU</key>
    <string>C_H_U_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>CU</key>
    <string>C_U_.glif</string>
    <key>DDDII</key>
    <string>D_D_D_I_I_.glif</string>
    <key>DDDRA</key>
    <string>D_D_D_R_A_.glif</string>
    <key>DDDRII</key>
    <string>D_D_D_R_I_I_.glif</string>
    <key>DDDRU</key>
    <string>D_D_D_R_U_.glif</string>
    <key>DDDU</key>
    <string>D_D_D_U_.glif</string>
    <key>DDHU</key>
    <string>D_D_H_U_.glif</string>
    <key>DDII</key>
    <string>D_D_I_I_.glif</string>
    <key>DDU</key>
    <string>D_D_U_.glif</string>
    <key>DI</key>
    <string>D_I_.glif</string>
    <key>DII</key>
    <string>D_I_I_.glif</string>
    <key>DU</key>
    <string>D_U_.glif</string>
    <key>E_Shadda.ns</key>
    <string>E__S_hadda.ns.glif</string>
    <key>GHU</key>
    <string>G_H_U_.glif</string>
    <key>GNA</key>
    <string>G_N_A_.glif</string>
    <key>GNA.alt</key>
    <string>G_N_A_.alt.glif</string>
    <key>GU</key>
    <string>G_U_.glif</string>
    <key>HA.alt</key>
    <string>H_A_.alt.glif</string>
    <key>HU</key>
    <string>H_U_.glif</string>
    <key>I.alt</key>
    <string>I_.alt.glif</string>
    <key>I.alt2</key>
    <string>I_.alt2.glif</string>
    <key>I.alt3</key>
    <string>I_.alt3.glif</string>
    <key>I.alt4</key>
    <string>I_.alt4.glif</string>
    <key>II.alt</key>
    <string>I_I_.alt.glif</string>
    <key>II.alt2</key>
    <string>I_I_.alt2.glif</string>
    <key>II.alt3</key>
    <string>I_I_.alt3.glif</string>
    <key>II.alt4</key>
    <string>I_I_.alt4.glif</string>
    <key>II.alt5</key>
    <string>I_I_.alt5.glif</string>
    <key>JJU</key>
    <string>J_J_U_.glif</string>
    <key>JU</key>
    <string>J_U_.glif</string>
    <key>KA.alt</key>
    <string>K_A_.alt.glif</string>
    <key>KHA.alt</key>
    <string>K_H_A_.alt.glif</string>
    <key>KHU</key>
    <string>K_H_U_.glif</string>
    <key>KRA</key>
    <string>K_R_A_.glif</string>
    <key>KSSA</key>
    <string>K_S_S_A_.glif</string>
    <key>KSSA.alt</key>
    <string>K_S_S_A_.alt.glif</string>
    <key>KU</key>
    <string>K_U_.glif</string>
    <key>LLII</key>
    <string>L_L_I_I_.glif</string>
    <key>LLU</key>
    <string>L_L_U_.glif</string>
    <key>LU</key>
    <string>L_U_.glif</string>
    <key>MRA</key>
    <string>M_R_A_.glif</string>
    <key>MU</key>
    <string>M_U_.glif</string>
    <key>NA.alt</key>
    <string>N_A_.alt.glif</string>
    <key>NGU</key>
    <string>N_G_U_.glif</string>
    <key>NNU</key>
    <string>N_N_U_.glif</string>
    <key>NU</key>
    <string>N_U_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NYU</key>
    <string>N_Y_U_.glif</string>
    <key>Nukta</key>
    <string>N_ukta.glif</string>
    <key>Nukta.alt</key>
    <string>N_ukta.alt.glif</string>
    <key>Nukta_AI.ns</key>
    <string>N_ukta_A_I_.ns.glif</string>
    <key>Nukta_E.ns</key>
    <string>N_ukta_E_.ns.glif</string>
    <key>Nukta_Shadda.ns</key>
    <string>N_ukta_S_hadda.ns.glif</string>
    <key>Nukta_Shadda_AI.ns</key>
    <string>N_ukta_S_hadda_A_I_.ns.glif</string>
    <key>Nukta_Shadda_E.ns</key>
    <string>N_ukta_S_hadda_E_.ns.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>PA.alt</key>
    <string>P_A_.alt.glif</string>
    <key>PHI</key>
    <string>P_H_I_.glif</string>
    <key>PHII</key>
    <string>P_H_I_I_.glif</string>
    <key>PHU</key>
    <string>P_H_U_.glif</string>
    <key>PU</key>
    <string>P_U_.glif</string>
    <key>RA.alt</key>
    <string>R_A_.alt.glif</string>
    <key>RA.alt2</key>
    <string>R_A_.alt2.glif</string>
    <key>RI</key>
    <string>R_I_.glif</string>
    <key>RII</key>
    <string>R_I_I_.glif</string>
    <key>RU</key>
    <string>R_U_.glif</string>
    <key>Ra_U</key>
    <string>R_a_U_.glif</string>
    <key>SA.alt</key>
    <string>S_A_.alt.glif</string>
    <key>SRA</key>
    <string>S_R_A_.glif</string>
    <key>SU</key>
    <string>S_U_.glif</string>
    <key>Shadda</key>
    <string>S_hadda.glif</string>
    <key>THA.alt</key>
    <string>T_H_A_.alt.glif</string>
    <key>THU</key>
    <string>T_H_U_.glif</string>
    <key>TRA</key>
    <string>T_R_A_.glif</string>
    <key>TRU</key>
    <string>T_R_U_.glif</string>
    <key>TU</key>
    <string>T_U_.glif</string>
    <key>U.alt</key>
    <string>U_.alt.glif</string>
    <key>U.alt2</key>
    <string>U_.alt2.glif</string>
    <key>U.alt3</key>
    <string>U_.alt3.glif</string>
    <key>VU</key>
    <string>V_U_.glif</string>
    <key>YA.alt</key>
    <string>Y_A_.alt.glif</string>
    <key>YA.alt2</key>
    <string>Y_A_.alt2.glif</string>
    <key>YA.alt3</key>
    <string>Y_A_.alt3.glif</string>
    <key>YU</key>
    <string>Y_U_.glif</string>
    <key>kj_A</key>
    <string>kj_A_.glif</string>
    <key>kj_AA</key>
    <string>kj_A_A_.glif</string>
    <key>kj_AI</key>
    <string>kj_A_I_.glif</string>
    <key>kj_AU</key>
    <string>kj_A_U_.glif</string>
    <key>kj_BA</key>
    <string>kj_B_A_.glif</string>
    <key>kj_BBA</key>
    <string>kj_B_B_A_.glif</string>
    <key>kj_BHA</key>
    <string>kj_B_H_A_.glif</string>
    <key>kj_CA</key>
    <string>kj_C_A_.glif</string>
    <key>kj_CHA</key>
    <string>kj_C_H_A_.glif</string>
    <key>kj_DA</key>
    <string>kj_D_A_.glif</string>
    <key>kj_DDA</key>
    <string>kj_D_D_A_.glif</string>
    <key>kj_DDDA</key>
    <string>kj_D_D_D_A_.glif</string>
    <key>kj_DDHA</key>
    <string>kj_D_D_H_A_.glif</string>
    <key>kj_DHA</key>
    <string>kj_D_H_A_.glif</string>
    <key>kj_E</key>
    <string>kj_E_.glif</string>
    <key>kj_GA</key>
    <string>kj_G_A_.glif</string>
    <key>kj_GGA</key>
    <string>kj_G_G_A_.glif</string>
    <key>kj_GHA</key>
    <string>kj_G_H_A_.glif</string>
    <key>kj_HA</key>
    <string>kj_H_A_.glif</string>
    <key>kj_I</key>
    <string>kj_I_.glif</string>
    <key>kj_JA</key>
    <string>kj_J_A_.glif</string>
    <key>kj_JJA</key>
    <string>kj_J_J_A_.glif</string>
    <key>kj_KA</key>
    <string>kj_K_A_.glif</string>
    <key>kj_KHA</key>
    <string>kj_K_H_A_.glif</string>
    <key>kj_LA</key>
    <string>kj_L_A_.glif</string>
    <key>kj_LLA</key>
    <string>kj_L_L_A_.glif</string>
    <key>kj_MA</key>
    <string>kj_M_A_.glif</string>
    <key>kj_NA</key>
    <string>kj_N_A_.glif</string>
    <key>kj_NGA</key>
    <string>kj_N_G_A_.glif</string>
    <key>kj_NNA</key>
    <string>kj_N_N_A_.glif</string>
    <key>kj_NYA</key>
    <string>kj_N_Y_A_.glif</string>
    <key>kj_O</key>
    <string>kj_O_.glif</string>
    <key>kj_PA</key>
    <string>kj_P_A_.glif</string>
    <key>kj_PHA</key>
    <string>kj_P_H_A_.glif</string>
    <key>kj_RA</key>
    <string>kj_R_A_.glif</string>
    <key>kj_SA</key>
    <string>kj_S_A_.glif</string>
    <key>kj_TA</key>
    <string>kj_T_A_.glif</string>
    <key>kj_THA</key>
    <string>kj_T_H_A_.glif</string>
    <key>kj_TTA</key>
    <string>kj_T_T_A_.glif</string>
    <key>kj_TTHA</key>
    <string>kj_T_T_H_A_.glif</string>
    <key>kj_U</key>
    <string>kj_U_.glif</string>
    <key>kj_VA</key>
    <string>kj_V_A_.glif</string>
    <key>kj_YA</key>
    <string>kj_Y_A_.glif</string>
    <key>kj_vs_AA</key>
    <string>kj_vs_A_A_.glif</string>
    <key>kj_vs_AI.ns</key>
    <string>kj_vs_A_I_.ns.glif</string>
    <key>kj_vs_AU</key>
    <string>kj_vs_A_U_.glif</string>
    <key>kj_vs_E.ns</key>
    <string>kj_vs_E_.ns.glif</string>
    <key>kj_vs_I</key>
    <string>kj_vs_I_.glif</string>
    <key>kj_vs_II</key>
    <string>kj_vs_I_I_.glif</string>
    <key>kj_vs_O</key>
    <string>kj_vs_O_.glif</string>
    <key>kj_vs_U.ns</key>
    <string>kj_vs_U_.ns.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11238</key>
    <string>u11238.glif</string>
    <key>u11239</key>
    <string>u11239.glif</string>
    <key>u1123A</key>
    <string>u1123A_.glif</string>
    <key>u1123B</key>
    <string>u1123B_.glif</string>
    <key>u1123C</key>
    <string>u1123C_.glif</string>
    <key>u1123D</key>
    <string>u1123D_.glif</string>
    <key>u1123E</key>
    <string>u1123E_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0AE6</key>
    <string>uni0A_E_6.glif</string>
    <key>uni0AE7</key>
    <string>uni0A_E_7.glif</string>
    <key>uni0AE8</key>
    <string>uni0A_E_8.glif</string>
    <key>uni0AE9</key>
    <string>uni0A_E_9.glif</string>
    <key>uni0AEA</key>
    <string>uni0A_E_A_.glif</string>
    <key>uni0AEB</key>
    <string>uni0A_E_B_.glif</string>
    <key>uni0AEC</key>
    <string>uni0A_E_C_.glif</string>
    <key>uni0AED</key>
    <string>uni0A_E_D_.glif</string>
    <key>uni0AEE</key>
    <string>uni0A_E_E_.glif</string>
    <key>uni0AEF</key>
    <string>uni0A_E_F_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
    <key>virama</key>
    <string>virama.glif</string>
  </dict>
</plist>
