<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AA_dv</key>
    <string>A_A__dv.glif</string>
    <key>AA_dv.alt</key>
    <string>A_A__dv.alt.glif</string>
    <key>AA_iv</key>
    <string>A_A__iv.glif</string>
    <key>AI_dv</key>
    <string>A_I__dv.glif</string>
    <key>AI_iv</key>
    <string>A_I__iv.glif</string>
    <key>AU_dv</key>
    <string>A_U__dv.glif</string>
    <key>AU_iv</key>
    <string>A_U__iv.glif</string>
    <key>A_iv</key>
    <string>A__iv.glif</string>
    <key>Abbreviation</key>
    <string>A_bbreviation.glif</string>
    <key>Anusvara</key>
    <string>A_nusvara.glif</string>
    <key>Ardhacandra</key>
    <string>A_rdhacandra.glif</string>
    <key>Ba</key>
    <string>B_a.glif</string>
    <key>Ba.alt</key>
    <string>B_a.alt.glif</string>
    <key>Ba.half</key>
    <string>B_a.half.glif</string>
    <key>Baa</key>
    <string>B_aa.glif</string>
    <key>Bha</key>
    <string>B_ha.glif</string>
    <key>Bha.half</key>
    <string>B_ha.half.glif</string>
    <key>Bhaa</key>
    <string>B_haa.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca</key>
    <string>C_a.glif</string>
    <key>Ca.alt</key>
    <string>C_a.alt.glif</string>
    <key>Ca.half</key>
    <string>C_a.half.glif</string>
    <key>Cha</key>
    <string>C_ha.glif</string>
    <key>Cha.half</key>
    <string>C_ha.half.glif</string>
    <key>DNya</key>
    <string>D_N_ya.glif</string>
    <key>DNyaa</key>
    <string>D_N_yaa.glif</string>
    <key>DNyu</key>
    <string>D_N_yu.glif</string>
    <key>DYa</key>
    <string>D_Y_a.glif</string>
    <key>Da</key>
    <string>D_a.glif</string>
    <key>Da.alt</key>
    <string>D_a.alt.glif</string>
    <key>Da.alt2</key>
    <string>D_a.alt2.glif</string>
    <key>Da.half</key>
    <string>D_a.half.glif</string>
    <key>Danda</key>
    <string>D_anda.glif</string>
    <key>DblDanda</key>
    <string>D_blD_anda.glif</string>
    <key>Dda</key>
    <string>D_da.glif</string>
    <key>Dda.alt</key>
    <string>D_da.alt.glif</string>
    <key>Dda.half</key>
    <string>D_da.half.glif</string>
    <key>Ddha</key>
    <string>D_dha.glif</string>
    <key>Ddha.half</key>
    <string>D_dha.half.glif</string>
    <key>Dha</key>
    <string>D_ha.glif</string>
    <key>Dha.alt</key>
    <string>D_ha.alt.glif</string>
    <key>Dha.alt2</key>
    <string>D_ha.alt2.glif</string>
    <key>Dha.half</key>
    <string>D_ha.half.glif</string>
    <key>E_dv</key>
    <string>E__dv.glif</string>
    <key>E_iv</key>
    <string>E__iv.glif</string>
    <key>EyelashRa</key>
    <string>E_yelashR_a.glif</string>
    <key>Ga</key>
    <string>G_a.glif</string>
    <key>Ga.half</key>
    <string>G_a.half.glif</string>
    <key>Gha</key>
    <string>G_ha.glif</string>
    <key>Gha.half</key>
    <string>G_ha.half.glif</string>
    <key>Guu</key>
    <string>G_uu.glif</string>
    <key>Ha</key>
    <string>H_a.glif</string>
    <key>Ha.alt</key>
    <string>H_a.alt.glif</string>
    <key>Ha.half</key>
    <string>H_a.half.glif</string>
    <key>Haa</key>
    <string>H_aa.glif</string>
    <key>Huva</key>
    <string>H_uva.glif</string>
    <key>I.lg</key>
    <string>I_.lg.glif</string>
    <key>I.med</key>
    <string>I_.med.glif</string>
    <key>II.lg</key>
    <string>I_I_.lg.glif</string>
    <key>II.med</key>
    <string>I_I_.med.glif</string>
    <key>II_dv</key>
    <string>I_I__dv.glif</string>
    <key>II_iv</key>
    <string>I_I__iv.glif</string>
    <key>I_dv</key>
    <string>I__dv.glif</string>
    <key>I_iv</key>
    <string>I__iv.glif</string>
    <key>Ja</key>
    <string>J_a.glif</string>
    <key>Ja.half</key>
    <string>J_a.half.glif</string>
    <key>Jaa</key>
    <string>J_aa.glif</string>
    <key>Jha</key>
    <string>J_ha.glif</string>
    <key>Jha.alt</key>
    <string>J_ha.alt.glif</string>
    <key>Jha.half</key>
    <string>J_ha.half.glif</string>
    <key>Jhaa</key>
    <string>J_haa.glif</string>
    <key>Ju</key>
    <string>J_u.glif</string>
    <key>KSsYa</key>
    <string>K_S_sY_a.glif</string>
    <key>KSsa</key>
    <string>K_S_sa.glif</string>
    <key>KSsa.half</key>
    <string>K_S_sa.half.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Ka.half</key>
    <string>K_a.half.glif</string>
    <key>KaRa</key>
    <string>K_aR_a.glif</string>
    <key>Kaa</key>
    <string>K_aa.glif</string>
    <key>KaaRa</key>
    <string>K_aaR_a.glif</string>
    <key>Kha</key>
    <string>K_ha.glif</string>
    <key>Kha.alt</key>
    <string>K_ha.alt.glif</string>
    <key>Kha.half</key>
    <string>K_ha.half.glif</string>
    <key>Khaa</key>
    <string>K_haa.glif</string>
    <key>Ku</key>
    <string>K_u.glif</string>
    <key>La</key>
    <string>L_a.glif</string>
    <key>La.alt</key>
    <string>L_a.alt.glif</string>
    <key>La.half</key>
    <string>L_a.half.glif</string>
    <key>Laa</key>
    <string>L_aa.glif</string>
    <key>Li</key>
    <string>L_i.glif</string>
    <key>Lla</key>
    <string>L_la.glif</string>
    <key>Lla.half</key>
    <string>L_la.half.glif</string>
    <key>Ma</key>
    <string>M_a.glif</string>
    <key>Ma.alt</key>
    <string>M_a.alt.glif</string>
    <key>Ma.half</key>
    <string>M_a.half.glif</string>
    <key>Maa</key>
    <string>M_aa.glif</string>
    <key>Muu</key>
    <string>M_uu.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na</key>
    <string>N_a.glif</string>
    <key>Na.half</key>
    <string>N_a.half.glif</string>
    <key>Naa</key>
    <string>N_aa.glif</string>
    <key>Nga</key>
    <string>N_ga.glif</string>
    <key>Nga.half</key>
    <string>N_ga.half.glif</string>
    <key>Nna</key>
    <string>N_na.glif</string>
    <key>Nna.half</key>
    <string>N_na.half.glif</string>
    <key>Nu</key>
    <string>N_u.glif</string>
    <key>Nya</key>
    <string>N_ya.glif</string>
    <key>Nya.alt</key>
    <string>N_ya.alt.glif</string>
    <key>Nya.half</key>
    <string>N_ya.half.glif</string>
    <key>Nyaa</key>
    <string>N_yaa.glif</string>
    <key>O_dv</key>
    <string>O__dv.glif</string>
    <key>O_iv</key>
    <string>O__iv.glif</string>
    <key>Pa</key>
    <string>P_a.glif</string>
    <key>Pa.alt</key>
    <string>P_a.alt.glif</string>
    <key>Pa.half</key>
    <string>P_a.half.glif</string>
    <key>Pha</key>
    <string>P_ha.glif</string>
    <key>Pha.half</key>
    <string>P_ha.half.glif</string>
    <key>Phaa</key>
    <string>P_haa.glif</string>
    <key>Phu</key>
    <string>P_hu.glif</string>
    <key>RKa</key>
    <string>R_K_a.glif</string>
    <key>Ra</key>
    <string>R_a.glif</string>
    <key>Ra.alt</key>
    <string>R_a.alt.glif</string>
    <key>Ra.alt2</key>
    <string>R_a.alt2.glif</string>
    <key>Ra.alt3</key>
    <string>R_a.alt3.glif</string>
    <key>Ra.alt4</key>
    <string>R_a.alt4.glif</string>
    <key>Ra.alt5</key>
    <string>R_a.alt5.glif</string>
    <key>Ra.alt6</key>
    <string>R_a.alt6.glif</string>
    <key>Rakar</key>
    <string>R_akar.glif</string>
    <key>Rakar.alt</key>
    <string>R_akar.alt.glif</string>
    <key>Repha</key>
    <string>R_epha.glif</string>
    <key>Ru</key>
    <string>R_u.glif</string>
    <key>STha</key>
    <string>S_T_ha.glif</string>
    <key>Sa</key>
    <string>S_a.glif</string>
    <key>Sa.alt</key>
    <string>S_a.alt.glif</string>
    <key>Sa.half</key>
    <string>S_a.half.glif</string>
    <key>Saa</key>
    <string>S_aa.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Sha.half</key>
    <string>S_ha.half.glif</string>
    <key>SsDdha</key>
    <string>S_sD_dha.glif</string>
    <key>Ssa</key>
    <string>S_sa.glif</string>
    <key>Ssa.half</key>
    <string>S_sa.half.glif</string>
    <key>TRa</key>
    <string>T_R_a.glif</string>
    <key>TYa</key>
    <string>T_Y_a.glif</string>
    <key>Ta</key>
    <string>T_a.glif</string>
    <key>Ta.alt</key>
    <string>T_a.alt.glif</string>
    <key>Ta.half</key>
    <string>T_a.half.glif</string>
    <key>Tha</key>
    <string>T_ha.glif</string>
    <key>Tha.alt</key>
    <string>T_ha.alt.glif</string>
    <key>Tha.half</key>
    <string>T_ha.half.glif</string>
    <key>Tta</key>
    <string>T_ta.glif</string>
    <key>Tta.half</key>
    <string>T_ta.half.glif</string>
    <key>Ttaa</key>
    <string>T_taa.glif</string>
    <key>Ttha</key>
    <string>T_tha.glif</string>
    <key>Ttha.half</key>
    <string>T_tha.half.glif</string>
    <key>Tthaa</key>
    <string>T_thaa.glif</string>
    <key>U.alt3</key>
    <string>U_.alt3.glif</string>
    <key>U.alt4</key>
    <string>U_.alt4.glif</string>
    <key>URa</key>
    <string>U_R_a.glif</string>
    <key>UU.alt1</key>
    <string>U_U_.alt1.glif</string>
    <key>UU.alt3</key>
    <string>U_U_.alt3.glif</string>
    <key>UU_dv</key>
    <string>U_U__dv.glif</string>
    <key>UU_iv</key>
    <string>U_U__iv.glif</string>
    <key>U_dv</key>
    <string>U__dv.glif</string>
    <key>U_iv</key>
    <string>U__iv.glif</string>
    <key>Va</key>
    <string>V_a.glif</string>
    <key>Va.alt</key>
    <string>V_a.alt.glif</string>
    <key>Va.half</key>
    <string>V_a.half.glif</string>
    <key>Vaa</key>
    <string>V_aa.glif</string>
    <key>Vattu</key>
    <string>V_attu.glif</string>
    <key>Virama</key>
    <string>V_irama.glif</string>
    <key>Visarga</key>
    <string>V_isarga.glif</string>
    <key>VocLL_dv</key>
    <string>V_ocL_L__dv.glif</string>
    <key>VocLL_iv</key>
    <string>V_ocL_L__iv.glif</string>
    <key>VocL_dv</key>
    <string>V_ocL__dv.glif</string>
    <key>VocL_iv</key>
    <string>V_ocL__iv.glif</string>
    <key>VocRR_dv</key>
    <string>V_ocR_R__dv.glif</string>
    <key>VocRR_iv</key>
    <string>V_ocR_R__iv.glif</string>
    <key>VocR_dv</key>
    <string>V_ocR__dv.glif</string>
    <key>VocR_iv</key>
    <string>V_ocR__iv.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Ya.alt</key>
    <string>Y_a.alt.glif</string>
    <key>Ya.half</key>
    <string>Y_a.half.glif</string>
    <key>Yaa</key>
    <string>Y_aa.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11650</key>
    <string>u11650.glif</string>
    <key>u11651</key>
    <string>u11651.glif</string>
    <key>u11652</key>
    <string>u11652.glif</string>
    <key>u11653</key>
    <string>u11653.glif</string>
    <key>u11654</key>
    <string>u11654.glif</string>
    <key>u11655</key>
    <string>u11655.glif</string>
    <key>u11656</key>
    <string>u11656.glif</string>
    <key>u11657</key>
    <string>u11657.glif</string>
    <key>u11658</key>
    <string>u11658.glif</string>
    <key>u11659</key>
    <string>u11659.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
  </dict>
</plist>
