<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>bar.left</key>
    <string>bar.left.glif</string>
    <key>bar.right</key>
    <string>bar.right.glif</string>
    <key>barlong.right</key>
    <string>barlong.right.glif</string>
    <key>dot1</key>
    <string>dot1.glif</string>
    <key>dots</key>
    <string>dots.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10AC0</key>
    <string>u10A_C_0.glif</string>
    <key>u10AC0.fina</key>
    <string>u10A_C_0.fina.glif</string>
    <key>u10AC0.init</key>
    <string>u10A_C_0.init.glif</string>
    <key>u10AC0.medi</key>
    <string>u10A_C_0.medi.glif</string>
    <key>u10AC1</key>
    <string>u10A_C_1.glif</string>
    <key>u10AC1.fina</key>
    <string>u10A_C_1.fina.glif</string>
    <key>u10AC1.init</key>
    <string>u10A_C_1.init.glif</string>
    <key>u10AC1.medi</key>
    <string>u10A_C_1.medi.glif</string>
    <key>u10AC2</key>
    <string>u10A_C_2.glif</string>
    <key>u10AC2.fina</key>
    <string>u10A_C_2.fina.glif</string>
    <key>u10AC2.init</key>
    <string>u10A_C_2.init.glif</string>
    <key>u10AC2.medi</key>
    <string>u10A_C_2.medi.glif</string>
    <key>u10AC3</key>
    <string>u10A_C_3.glif</string>
    <key>u10AC3.fina</key>
    <string>u10A_C_3.fina.glif</string>
    <key>u10AC3.init</key>
    <string>u10A_C_3.init.glif</string>
    <key>u10AC3.medi</key>
    <string>u10A_C_3.medi.glif</string>
    <key>u10AC4</key>
    <string>u10A_C_4.glif</string>
    <key>u10AC4.fina</key>
    <string>u10A_C_4.fina.glif</string>
    <key>u10AC4.init</key>
    <string>u10A_C_4.init.glif</string>
    <key>u10AC4.medi</key>
    <string>u10A_C_4.medi.glif</string>
    <key>u10AC5</key>
    <string>u10A_C_5.glif</string>
    <key>u10AC5.alt</key>
    <string>u10A_C_5.alt.glif</string>
    <key>u10AC5.fina</key>
    <string>u10A_C_5.fina.glif</string>
    <key>u10AC6</key>
    <string>u10A_C_6.glif</string>
    <key>u10AC6.alt</key>
    <string>u10A_C_6.alt.glif</string>
    <key>u10AC7</key>
    <string>u10A_C_7.glif</string>
    <key>u10AC7.fina</key>
    <string>u10A_C_7.fina.glif</string>
    <key>u10AC8</key>
    <string>u10A_C_8.glif</string>
    <key>u10AC9</key>
    <string>u10A_C_9.glif</string>
    <key>u10AC9.fina</key>
    <string>u10A_C_9.fina.glif</string>
    <key>u10ACA</key>
    <string>u10A_C_A_.glif</string>
    <key>u10ACA.fina</key>
    <string>u10A_C_A_.fina.glif</string>
    <key>u10ACB</key>
    <string>u10A_C_B_.glif</string>
    <key>u10ACC</key>
    <string>u10A_C_C_.glif</string>
    <key>u10ACD</key>
    <string>u10A_C_D_.glif</string>
    <key>u10ACD.init</key>
    <string>u10A_C_D_.init.glif</string>
    <key>u10ACE</key>
    <string>u10A_C_E_.glif</string>
    <key>u10ACE.fina</key>
    <string>u10A_C_E_.fina.glif</string>
    <key>u10ACF</key>
    <string>u10A_C_F_.glif</string>
    <key>u10ACF.fina</key>
    <string>u10A_C_F_.fina.glif</string>
    <key>u10AD0</key>
    <string>u10A_D_0.glif</string>
    <key>u10AD0.fina</key>
    <string>u10A_D_0.fina.glif</string>
    <key>u10AD1</key>
    <string>u10A_D_1.glif</string>
    <key>u10AD1.fina</key>
    <string>u10A_D_1.fina.glif</string>
    <key>u10AD2</key>
    <string>u10A_D_2.glif</string>
    <key>u10AD2.fina</key>
    <string>u10A_D_2.fina.glif</string>
    <key>u10AD3</key>
    <string>u10A_D_3.glif</string>
    <key>u10AD3.fina</key>
    <string>u10A_D_3.fina.glif</string>
    <key>u10AD3.init</key>
    <string>u10A_D_3.init.glif</string>
    <key>u10AD3.medi</key>
    <string>u10A_D_3.medi.glif</string>
    <key>u10AD4</key>
    <string>u10A_D_4.glif</string>
    <key>u10AD4.fina</key>
    <string>u10A_D_4.fina.glif</string>
    <key>u10AD4.init</key>
    <string>u10A_D_4.init.glif</string>
    <key>u10AD4.medi</key>
    <string>u10A_D_4.medi.glif</string>
    <key>u10AD5</key>
    <string>u10A_D_5.glif</string>
    <key>u10AD5.fina</key>
    <string>u10A_D_5.fina.glif</string>
    <key>u10AD5.init</key>
    <string>u10A_D_5.init.glif</string>
    <key>u10AD5.medi</key>
    <string>u10A_D_5.medi.glif</string>
    <key>u10AD6</key>
    <string>u10A_D_6.glif</string>
    <key>u10AD6.alt</key>
    <string>u10A_D_6.alt.glif</string>
    <key>u10AD6.alt.fina</key>
    <string>u10A_D_6.alt.fina.glif</string>
    <key>u10AD6.fina</key>
    <string>u10A_D_6.fina.glif</string>
    <key>u10AD6.init</key>
    <string>u10A_D_6.init.glif</string>
    <key>u10AD6.medi</key>
    <string>u10A_D_6.medi.glif</string>
    <key>u10AD7</key>
    <string>u10A_D_7.glif</string>
    <key>u10AD7.alt</key>
    <string>u10A_D_7.alt.glif</string>
    <key>u10AD7.init</key>
    <string>u10A_D_7.init.glif</string>
    <key>u10AD8</key>
    <string>u10A_D_8.glif</string>
    <key>u10AD8.fina</key>
    <string>u10A_D_8.fina.glif</string>
    <key>u10AD8.init</key>
    <string>u10A_D_8.init.glif</string>
    <key>u10AD8.medi</key>
    <string>u10A_D_8.medi.glif</string>
    <key>u10AD9</key>
    <string>u10A_D_9.glif</string>
    <key>u10AD9.fina</key>
    <string>u10A_D_9.fina.glif</string>
    <key>u10AD9.init</key>
    <string>u10A_D_9.init.glif</string>
    <key>u10AD9.medi</key>
    <string>u10A_D_9.medi.glif</string>
    <key>u10ADA</key>
    <string>u10A_D_A_.glif</string>
    <key>u10ADA.fina</key>
    <string>u10A_D_A_.fina.glif</string>
    <key>u10ADA.init</key>
    <string>u10A_D_A_.init.glif</string>
    <key>u10ADA.medi</key>
    <string>u10A_D_A_.medi.glif</string>
    <key>u10ADB</key>
    <string>u10A_D_B_.glif</string>
    <key>u10ADB.fina</key>
    <string>u10A_D_B_.fina.glif</string>
    <key>u10ADB.init</key>
    <string>u10A_D_B_.init.glif</string>
    <key>u10ADB.medi</key>
    <string>u10A_D_B_.medi.glif</string>
    <key>u10ADC</key>
    <string>u10A_D_C_.glif</string>
    <key>u10ADC.fina</key>
    <string>u10A_D_C_.fina.glif</string>
    <key>u10ADC.init</key>
    <string>u10A_D_C_.init.glif</string>
    <key>u10ADC.medi</key>
    <string>u10A_D_C_.medi.glif</string>
    <key>u10ADD</key>
    <string>u10A_D_D_.glif</string>
    <key>u10ADD.fina</key>
    <string>u10A_D_D_.fina.glif</string>
    <key>u10ADD10ACF</key>
    <string>u10A_D_D_10A_C_F_.glif</string>
    <key>u10ADD10ACF.fina</key>
    <string>u10A_D_D_10A_C_F_.fina.glif</string>
    <key>u10ADD10AD7</key>
    <string>u10A_D_D_10A_D_7.glif</string>
    <key>u10ADD10AD7.fina</key>
    <string>u10A_D_D_10A_D_7.fina.glif</string>
    <key>u10ADE</key>
    <string>u10A_D_E_.glif</string>
    <key>u10ADE.fina</key>
    <string>u10A_D_E_.fina.glif</string>
    <key>u10ADE.init</key>
    <string>u10A_D_E_.init.glif</string>
    <key>u10ADE.medi</key>
    <string>u10A_D_E_.medi.glif</string>
    <key>u10ADF</key>
    <string>u10A_D_F_.glif</string>
    <key>u10ADF.fina</key>
    <string>u10A_D_F_.fina.glif</string>
    <key>u10ADF.init</key>
    <string>u10A_D_F_.init.glif</string>
    <key>u10ADF.medi</key>
    <string>u10A_D_F_.medi.glif</string>
    <key>u10AE0</key>
    <string>u10A_E_0.glif</string>
    <key>u10AE0.fina</key>
    <string>u10A_E_0.fina.glif</string>
    <key>u10AE0.init</key>
    <string>u10A_E_0.init.glif</string>
    <key>u10AE0.medi</key>
    <string>u10A_E_0.medi.glif</string>
    <key>u10AE1</key>
    <string>u10A_E_1.glif</string>
    <key>u10AE1.alt</key>
    <string>u10A_E_1.alt.glif</string>
    <key>u10AE1.fina</key>
    <string>u10A_E_1.fina.glif</string>
    <key>u10AE2</key>
    <string>u10A_E_2.glif</string>
    <key>u10AE3</key>
    <string>u10A_E_3.glif</string>
    <key>u10AE4</key>
    <string>u10A_E_4.glif</string>
    <key>u10AE4.fina</key>
    <string>u10A_E_4.fina.glif</string>
    <key>u10AE5</key>
    <string>u10A_E_5.glif</string>
    <key>u10AE6</key>
    <string>u10A_E_6.glif</string>
    <key>u10AEB</key>
    <string>u10A_E_B_.glif</string>
    <key>u10AEB.fina</key>
    <string>u10A_E_B_.fina.glif</string>
    <key>u10AEB.fina.high</key>
    <string>u10A_E_B_.fina.high.glif</string>
    <key>u10AEB.init</key>
    <string>u10A_E_B_.init.glif</string>
    <key>u10AEB.medi</key>
    <string>u10A_E_B_.medi.glif</string>
    <key>u10AEB.medi.high</key>
    <string>u10A_E_B_.medi.high.glif</string>
    <key>u10AEC</key>
    <string>u10A_E_C_.glif</string>
    <key>u10AEC.fina</key>
    <string>u10A_E_C_.fina.glif</string>
    <key>u10AEC.fina.high</key>
    <string>u10A_E_C_.fina.high.glif</string>
    <key>u10AEC.init</key>
    <string>u10A_E_C_.init.glif</string>
    <key>u10AEC.medi</key>
    <string>u10A_E_C_.medi.glif</string>
    <key>u10AEC.medi.high</key>
    <string>u10A_E_C_.medi.high.glif</string>
    <key>u10AED</key>
    <string>u10A_E_D_.glif</string>
    <key>u10AED.fina</key>
    <string>u10A_E_D_.fina.glif</string>
    <key>u10AED.init</key>
    <string>u10A_E_D_.init.glif</string>
    <key>u10AED.medi</key>
    <string>u10A_E_D_.medi.glif</string>
    <key>u10AEE</key>
    <string>u10A_E_E_.glif</string>
    <key>u10AEE.fina</key>
    <string>u10A_E_E_.fina.glif</string>
    <key>u10AEE.init</key>
    <string>u10A_E_E_.init.glif</string>
    <key>u10AEE.medi</key>
    <string>u10A_E_E_.medi.glif</string>
    <key>u10AEF</key>
    <string>u10A_E_F_.glif</string>
    <key>u10AEF.fina</key>
    <string>u10A_E_F_.fina.glif</string>
    <key>u10AF0</key>
    <string>u10A_F_0.glif</string>
    <key>u10AF1</key>
    <string>u10A_F_1.glif</string>
    <key>u10AF2</key>
    <string>u10A_F_2.glif</string>
    <key>u10AF3</key>
    <string>u10A_F_3.glif</string>
    <key>u10AF4</key>
    <string>u10A_F_4.glif</string>
    <key>u10AF5</key>
    <string>u10A_F_5.glif</string>
    <key>u10AF6</key>
    <string>u10A_F_6.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0640</key>
    <string>uni0640.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniFE00</key>
    <string>uniF_E_00.glif</string>
  </dict>
</plist>
