<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Feb 28 17, 13:24</string>
      <string>glyphs.F_eb 28 17, 13_24</string>
    </array>
    <array>
      <string>Feb 28 17, 13:24.background</string>
      <string>glyphs.F_eb 28 17, 13_24.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:44</string>
      <string>glyphs.F_eb 28 17, 15_44</string>
    </array>
    <array>
      <string>Mar 9 17, 11:53</string>
      <string>glyphs.M_ar 9 17, 11_53</string>
    </array>
    <array>
      <string>Mar 9 17, 11:53.background</string>
      <string>glyphs.M_ar 9 17, 11_53.background</string>
    </array>
    <array>
      <string>Dec 8 16, 15:13</string>
      <string>glyphs.D_ec 8 16, 15_13</string>
    </array>
    <array>
      <string>Dec 8 16, 15:13.background</string>
      <string>glyphs.D_ec 8 16, 15_13.background</string>
    </array>
    <array>
      <string>Dec 8 16, 15:31</string>
      <string>glyphs.D_ec 8 16, 15_31</string>
    </array>
    <array>
      <string>Dec 8 16, 15:31.background</string>
      <string>glyphs.D_ec 8 16, 15_31.background</string>
    </array>
    <array>
      <string>Jan 3 17, 10:10</string>
      <string>glyphs.J_an 3 17, 10_10</string>
    </array>
    <array>
      <string>Jan 3 17, 10:10.background</string>
      <string>glyphs.J_an 3 17, 10_10.background</string>
    </array>
    <array>
      <string>Jan 3 17, 15:32</string>
      <string>glyphs.J_an 3 17, 15_32</string>
    </array>
    <array>
      <string>Jan 3 17, 15:32.background</string>
      <string>glyphs.J_an 3 17, 15_32.background</string>
    </array>
    <array>
      <string>Jan 4 17, 01:11</string>
      <string>glyphs.J_an 4 17, 01_11</string>
    </array>
    <array>
      <string>Jan 4 17, 01:11.background</string>
      <string>glyphs.J_an 4 17, 01_11.background</string>
    </array>
    <array>
      <string>Jan 3 17, 16:47</string>
      <string>glyphs.J_an 3 17, 16_47</string>
    </array>
    <array>
      <string>Jan 3 17, 16:47.background</string>
      <string>glyphs.J_an 3 17, 16_47.background</string>
    </array>
    <array>
      <string>Jan 4 17, 01:54</string>
      <string>glyphs.J_an 4 17, 01_54</string>
    </array>
    <array>
      <string>Jan 4 17, 01:54.background</string>
      <string>glyphs.J_an 4 17, 01_54.background</string>
    </array>
    <array>
      <string>Jan 4 17, 01:36</string>
      <string>glyphs.J_an 4 17, 01_36</string>
    </array>
    <array>
      <string>Jan 4 17, 01:36.background</string>
      <string>glyphs.J_an 4 17, 01_36.background</string>
    </array>
    <array>
      <string>Jan 4 17, 01:40</string>
      <string>glyphs.J_an 4 17, 01_40</string>
    </array>
    <array>
      <string>Jan 4 17, 01:40.background</string>
      <string>glyphs.J_an 4 17, 01_40.background</string>
    </array>
    <array>
      <string>Jan 4 17, 01:43</string>
      <string>glyphs.J_an 4 17, 01_43</string>
    </array>
    <array>
      <string>Jan 4 17, 01:43.background</string>
      <string>glyphs.J_an 4 17, 01_43.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:59</string>
      <string>glyphs.F_eb 28 17, 15_59</string>
    </array>
    <array>
      <string>Feb 28 17, 15:59.background</string>
      <string>glyphs.F_eb 28 17, 15_59.background</string>
    </array>
    <array>
      <string>Feb 27 17, 16:02</string>
      <string>glyphs.F_eb 27 17, 16_02</string>
    </array>
    <array>
      <string>Feb 27 17, 16:02.background</string>
      <string>glyphs.F_eb 27 17, 16_02.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:06</string>
      <string>glyphs.D_ec 6 16, 17_06</string>
    </array>
    <array>
      <string>Dec 6 16, 17:06.background</string>
      <string>glyphs.D_ec 6 16, 17_06.background</string>
    </array>
    <array>
      <string>Feb 27 17, 15:25</string>
      <string>glyphs.F_eb 27 17, 15_25</string>
    </array>
    <array>
      <string>Feb 27 17, 15:25.background</string>
      <string>glyphs.F_eb 27 17, 15_25.background</string>
    </array>
    <array>
      <string>Mar 1 17, 15:19</string>
      <string>glyphs.M_ar 1 17, 15_19</string>
    </array>
    <array>
      <string>Mar 1 17, 15:19.background</string>
      <string>glyphs.M_ar 1 17, 15_19.background</string>
    </array>
    <array>
      <string>Jan 4 17, 09:44</string>
      <string>glyphs.J_an 4 17, 09_44</string>
    </array>
    <array>
      <string>Jan 4 17, 09:44.background</string>
      <string>glyphs.J_an 4 17, 09_44.background</string>
    </array>
    <array>
      <string>Jan 4 17, 11:47</string>
      <string>glyphs.J_an 4 17, 11_47</string>
    </array>
    <array>
      <string>Jan 4 17, 11:47.background</string>
      <string>glyphs.J_an 4 17, 11_47.background</string>
    </array>
    <array>
      <string>Jan 4 17, 17:21</string>
      <string>glyphs.J_an 4 17, 17_21</string>
    </array>
    <array>
      <string>Jan 4 17, 17:21.background</string>
      <string>glyphs.J_an 4 17, 17_21.background</string>
    </array>
    <array>
      <string>Jan 4 17, 16:37</string>
      <string>glyphs.J_an 4 17, 16_37</string>
    </array>
    <array>
      <string>Jan 4 17, 16:37.background</string>
      <string>glyphs.J_an 4 17, 16_37.background</string>
    </array>
    <array>
      <string>Jan 4 17, 18:09</string>
      <string>glyphs.J_an 4 17, 18_09</string>
    </array>
    <array>
      <string>Jan 4 17, 18:09.background</string>
      <string>glyphs.J_an 4 17, 18_09.background</string>
    </array>
    <array>
      <string>Jan 4 17, 19:46</string>
      <string>glyphs.J_an 4 17, 19_46</string>
    </array>
    <array>
      <string>Jan 4 17, 19:46.background</string>
      <string>glyphs.J_an 4 17, 19_46.background</string>
    </array>
    <array>
      <string>Feb 28 17, 06:59</string>
      <string>glyphs.F_eb 28 17, 06_59</string>
    </array>
    <array>
      <string>Feb 28 17, 06:59.background</string>
      <string>glyphs.F_eb 28 17, 06_59.background</string>
    </array>
    <array>
      <string>Dec 6 16, 16:55</string>
      <string>glyphs.D_ec 6 16, 16_55</string>
    </array>
    <array>
      <string>Dec 6 16, 16:55.background</string>
      <string>glyphs.D_ec 6 16, 16_55.background</string>
    </array>
    <array>
      <string>Nov 23 16, 13:59</string>
      <string>glyphs.N_ov 23 16, 13_59</string>
    </array>
    <array>
      <string>Nov 23 16, 13:59.background</string>
      <string>glyphs.N_ov 23 16, 13_59.background</string>
    </array>
    <array>
      <string>Nov 23 16, 13:23</string>
      <string>glyphs.N_ov 23 16, 13_23</string>
    </array>
    <array>
      <string>Nov 23 16, 13:23.background</string>
      <string>glyphs.N_ov 23 16, 13_23.background</string>
    </array>
    <array>
      <string>Nov 22 16, 15:25</string>
      <string>glyphs.N_ov 22 16, 15_25</string>
    </array>
    <array>
      <string>Nov 22 16, 15:25.background</string>
      <string>glyphs.N_ov 22 16, 15_25.background</string>
    </array>
    <array>
      <string>Nov 22 16, 17:13</string>
      <string>glyphs.N_ov 22 16, 17_13</string>
    </array>
    <array>
      <string>Nov 22 16, 17:13.background</string>
      <string>glyphs.N_ov 22 16, 17_13.background</string>
    </array>
    <array>
      <string>Nov 23 16, 13:27</string>
      <string>glyphs.N_ov 23 16, 13_27</string>
    </array>
    <array>
      <string>Nov 23 16, 13:27.background</string>
      <string>glyphs.N_ov 23 16, 13_27.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:12</string>
      <string>glyphs.F_eb 28 17, 11_12</string>
    </array>
    <array>
      <string>Feb 28 17, 11:12.background</string>
      <string>glyphs.F_eb 28 17, 11_12.background</string>
    </array>
    <array>
      <string>Dec 19 16, 15:26</string>
      <string>glyphs.D_ec 19 16, 15_26</string>
    </array>
    <array>
      <string>Dec 19 16, 15:26.background</string>
      <string>glyphs.D_ec 19 16, 15_26.background</string>
    </array>
    <array>
      <string>Dec 19 16, 15:50</string>
      <string>glyphs.D_ec 19 16, 15_50</string>
    </array>
    <array>
      <string>Dec 19 16, 15:50.background</string>
      <string>glyphs.D_ec 19 16, 15_50.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:46</string>
      <string>glyphs.B_old J_ul 30 16, 16_46</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:50</string>
      <string>glyphs.B_old J_ul 30 16, 16_50</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:50.background</string>
      <string>glyphs.B_old J_ul 30 16, 16_50.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:52</string>
      <string>glyphs.B_old J_ul 30 16, 16_52</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:52.background</string>
      <string>glyphs.B_old J_ul 30 16, 16_52.background</string>
    </array>
    <array>
      <string>Nov 23 16, 19:40</string>
      <string>glyphs.N_ov 23 16, 19_40</string>
    </array>
    <array>
      <string>Nov 23 16, 19:40.background</string>
      <string>glyphs.N_ov 23 16, 19_40.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:20</string>
      <string>glyphs.F_eb 28 17, 11_20</string>
    </array>
    <array>
      <string>Feb 28 17, 11:20.background</string>
      <string>glyphs.F_eb 28 17, 11_20.background</string>
    </array>
    <array>
      <string>Nov 28 16, 13:38</string>
      <string>glyphs.N_ov 28 16, 13_38</string>
    </array>
    <array>
      <string>Nov 28 16, 13:38.background</string>
      <string>glyphs.N_ov 28 16, 13_38.background</string>
    </array>
    <array>
      <string>Jan 5 17, 11:13</string>
      <string>glyphs.J_an 5 17, 11_13</string>
    </array>
    <array>
      <string>Jan 5 17, 11:13.background</string>
      <string>glyphs.J_an 5 17, 11_13.background</string>
    </array>
    <array>
      <string>Nov 28 16, 14:22</string>
      <string>glyphs.N_ov 28 16, 14_22</string>
    </array>
    <array>
      <string>Nov 28 16, 14:22.background</string>
      <string>glyphs.N_ov 28 16, 14_22.background</string>
    </array>
    <array>
      <string>Nov 28 16, 14:38</string>
      <string>glyphs.N_ov 28 16, 14_38</string>
    </array>
    <array>
      <string>Nov 28 16, 14:38.background</string>
      <string>glyphs.N_ov 28 16, 14_38.background</string>
    </array>
    <array>
      <string>Feb 27 17, 15:03</string>
      <string>glyphs.F_eb 27 17, 15_03</string>
    </array>
    <array>
      <string>Feb 27 17, 15:03.background</string>
      <string>glyphs.F_eb 27 17, 15_03.background</string>
    </array>
    <array>
      <string>Feb 27 17, 15:04</string>
      <string>glyphs.F_eb 27 17, 15_04</string>
    </array>
    <array>
      <string>Feb 27 17, 15:04.background</string>
      <string>glyphs.F_eb 27 17, 15_04.background</string>
    </array>
    <array>
      <string>Dec 6 16, 15:38</string>
      <string>glyphs.D_ec 6 16, 15_38</string>
    </array>
    <array>
      <string>Dec 6 16, 15:38.background</string>
      <string>glyphs.D_ec 6 16, 15_38.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:22</string>
      <string>glyphs.M_ar 9 17, 17_22</string>
    </array>
    <array>
      <string>Mar 9 17, 17:22.background</string>
      <string>glyphs.M_ar 9 17, 17_22.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:44</string>
      <string>glyphs.M_ar 9 17, 17_44</string>
    </array>
    <array>
      <string>Mar 9 17, 17:44.background</string>
      <string>glyphs.M_ar 9 17, 17_44.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:50</string>
      <string>glyphs.M_ar 9 17, 17_50</string>
    </array>
    <array>
      <string>Mar 9 17, 17:50.background</string>
      <string>glyphs.M_ar 9 17, 17_50.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:06</string>
      <string>glyphs.M_ar 13 17, 15_06</string>
    </array>
    <array>
      <string>Mar 13 17, 15:06.background</string>
      <string>glyphs.M_ar 13 17, 15_06.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:19</string>
      <string>glyphs.M_ar 13 17, 15_19</string>
    </array>
    <array>
      <string>Mar 13 17, 15:19.background</string>
      <string>glyphs.M_ar 13 17, 15_19.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:20</string>
      <string>glyphs.M_ar 13 17, 15_20</string>
    </array>
    <array>
      <string>Mar 13 17, 15:20.background</string>
      <string>glyphs.M_ar 13 17, 15_20.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:36</string>
      <string>glyphs.M_ar 13 17, 15_36</string>
    </array>
    <array>
      <string>Mar 13 17, 15:36.background</string>
      <string>glyphs.M_ar 13 17, 15_36.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:38</string>
      <string>glyphs.M_ar 13 17, 15_38</string>
    </array>
    <array>
      <string>Mar 13 17, 15:38.background</string>
      <string>glyphs.M_ar 13 17, 15_38.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:40</string>
      <string>glyphs.M_ar 13 17, 15_40</string>
    </array>
    <array>
      <string>Mar 13 17, 15:40.background</string>
      <string>glyphs.M_ar 13 17, 15_40.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:16</string>
      <string>glyphs.M_ar 9 17, 17_16</string>
    </array>
    <array>
      <string>Mar 9 17, 17:16.background</string>
      <string>glyphs.M_ar 9 17, 17_16.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:18</string>
      <string>glyphs.M_ar 13 17, 15_18</string>
    </array>
    <array>
      <string>Mar 13 17, 15:18.background</string>
      <string>glyphs.M_ar 13 17, 15_18.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:35</string>
      <string>glyphs.M_ar 13 17, 15_35</string>
    </array>
    <array>
      <string>Mar 13 17, 15:35.background</string>
      <string>glyphs.M_ar 13 17, 15_35.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 17:16</string>
      <string>glyphs.B_old J_ul 30 16, 17_16</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 17:16.background</string>
      <string>glyphs.B_old J_ul 30 16, 17_16.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:07</string>
      <string>glyphs.M_ar 9 17, 17_07</string>
    </array>
    <array>
      <string>Mar 9 17, 17:07.background</string>
      <string>glyphs.M_ar 9 17, 17_07.background</string>
    </array>
    <array>
      <string>Mar 9 17, 17:14</string>
      <string>glyphs.M_ar 9 17, 17_14</string>
    </array>
    <array>
      <string>Mar 9 17, 17:14.background</string>
      <string>glyphs.M_ar 9 17, 17_14.background</string>
    </array>
    <array>
      <string>Mar 13 17, 14:06</string>
      <string>glyphs.M_ar 13 17, 14_06</string>
    </array>
    <array>
      <string>Mar 13 17, 14:06.background</string>
      <string>glyphs.M_ar 13 17, 14_06.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:13</string>
      <string>glyphs.M_ar 13 17, 15_13</string>
    </array>
    <array>
      <string>Mar 13 17, 15:13.background</string>
      <string>glyphs.M_ar 13 17, 15_13.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:33</string>
      <string>glyphs.M_ar 13 17, 15_33</string>
    </array>
    <array>
      <string>Mar 13 17, 15:33.background</string>
      <string>glyphs.M_ar 13 17, 15_33.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:34</string>
      <string>glyphs.M_ar 13 17, 15_34</string>
    </array>
    <array>
      <string>Mar 13 17, 15:34.background</string>
      <string>glyphs.M_ar 13 17, 15_34.background</string>
    </array>
    <array>
      <string>Mar 13 17, 15:37</string>
      <string>glyphs.M_ar 13 17, 15_37</string>
    </array>
    <array>
      <string>Mar 13 17, 15:37.background</string>
      <string>glyphs.M_ar 13 17, 15_37.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 17:14</string>
      <string>glyphs.B_old J_ul 30 16, 17_14</string>
    </array>
    <array>
      <string>Mar 1 17, 12:12</string>
      <string>glyphs.M_ar 1 17, 12_12</string>
    </array>
    <array>
      <string>Mar 1 17, 12:12.background</string>
      <string>glyphs.M_ar 1 17, 12_12.background</string>
    </array>
    <array>
      <string>Mar 1 17, 15:13</string>
      <string>glyphs.M_ar 1 17, 15_13</string>
    </array>
    <array>
      <string>Mar 1 17, 15:13.background</string>
      <string>glyphs.M_ar 1 17, 15_13.background</string>
    </array>
    <array>
      <string>Mar 1 17, 11:27</string>
      <string>glyphs.M_ar 1 17, 11_27</string>
    </array>
    <array>
      <string>Mar 1 17, 11:27.background</string>
      <string>glyphs.M_ar 1 17, 11_27.background</string>
    </array>
    <array>
      <string>Dec 5 16, 15:44</string>
      <string>glyphs.D_ec 5 16, 15_44</string>
    </array>
    <array>
      <string>Dec 5 16, 15:44.background</string>
      <string>glyphs.D_ec 5 16, 15_44.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:38</string>
      <string>glyphs.B_old J_ul 30 16, 16_38</string>
    </array>
    <array>
      <string>Feb 27 17, 15:07</string>
      <string>glyphs.F_eb 27 17, 15_07</string>
    </array>
    <array>
      <string>Feb 27 17, 15:07.background</string>
      <string>glyphs.F_eb 27 17, 15_07.background</string>
    </array>
    <array>
      <string>Mar 1 17, 11:18</string>
      <string>glyphs.M_ar 1 17, 11_18</string>
    </array>
    <array>
      <string>Mar 1 17, 11:18.background</string>
      <string>glyphs.M_ar 1 17, 11_18.background</string>
    </array>
    <array>
      <string>Mar 1 17, 14:41</string>
      <string>glyphs.M_ar 1 17, 14_41</string>
    </array>
    <array>
      <string>Mar 1 17, 14:41.background</string>
      <string>glyphs.M_ar 1 17, 14_41.background</string>
    </array>
    <array>
      <string>Nov 28 16, 12:33</string>
      <string>glyphs.N_ov 28 16, 12_33</string>
    </array>
    <array>
      <string>Nov 28 16, 12:33.background</string>
      <string>glyphs.N_ov 28 16, 12_33.background</string>
    </array>
    <array>
      <string>Nov 28 16, 12:46</string>
      <string>glyphs.N_ov 28 16, 12_46</string>
    </array>
    <array>
      <string>Nov 28 16, 12:46.background</string>
      <string>glyphs.N_ov 28 16, 12_46.background</string>
    </array>
    <array>
      <string>Mar 1 17, 11:16</string>
      <string>glyphs.M_ar 1 17, 11_16</string>
    </array>
    <array>
      <string>Mar 1 17, 11:16.background</string>
      <string>glyphs.M_ar 1 17, 11_16.background</string>
    </array>
    <array>
      <string>Dec 5 16, 17:24</string>
      <string>glyphs.D_ec 5 16, 17_24</string>
    </array>
    <array>
      <string>Dec 5 16, 17:24.background</string>
      <string>glyphs.D_ec 5 16, 17_24.background</string>
    </array>
    <array>
      <string>Dec 5 16, 17:37</string>
      <string>glyphs.D_ec 5 16, 17_37</string>
    </array>
    <array>
      <string>Dec 5 16, 17:37.background</string>
      <string>glyphs.D_ec 5 16, 17_37.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:01</string>
      <string>glyphs.B_old J_ul 30 16, 16_01</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:01.background</string>
      <string>glyphs.B_old J_ul 30 16, 16_01.background</string>
    </array>
    <array>
      <string>Dec 5 16, 18:05</string>
      <string>glyphs.D_ec 5 16, 18_05</string>
    </array>
    <array>
      <string>Dec 5 16, 18:05.background</string>
      <string>glyphs.D_ec 5 16, 18_05.background</string>
    </array>
    <array>
      <string>Mar 9 17, 16:28</string>
      <string>glyphs.M_ar 9 17, 16_28</string>
    </array>
    <array>
      <string>Mar 9 17, 16:28.background</string>
      <string>glyphs.M_ar 9 17, 16_28.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:14</string>
      <string>glyphs.B_old J_ul 30 16, 16_14</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:14.background</string>
      <string>glyphs.B_old J_ul 30 16, 16_14.background</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:19</string>
      <string>glyphs.B_old J_ul 30 16, 16_19</string>
    </array>
    <array>
      <string>Bold Jul 30 16, 16:19.background</string>
      <string>glyphs.B_old J_ul 30 16, 16_19.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:13</string>
      <string>glyphs.D_ec 6 16, 17_13</string>
    </array>
    <array>
      <string>Dec 6 16, 17:13.background</string>
      <string>glyphs.D_ec 6 16, 17_13.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:39</string>
      <string>glyphs.D_ec 6 16, 17_39</string>
    </array>
    <array>
      <string>Dec 6 16, 17:39.background</string>
      <string>glyphs.D_ec 6 16, 17_39.background</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 19:46</string>
      <string>glyphs.B_old J_ul 24 16, 19_46</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 19:46.background</string>
      <string>glyphs.B_old J_ul 24 16, 19_46.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 10:37</string>
      <string>glyphs.B_old J_ul 25 16, 10_37</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 10:37.background</string>
      <string>glyphs.B_old J_ul 25 16, 10_37.background</string>
    </array>
    <array>
      <string>Nov 23 16, 15:08</string>
      <string>glyphs.N_ov 23 16, 15_08</string>
    </array>
    <array>
      <string>Nov 23 16, 15:08.background</string>
      <string>glyphs.N_ov 23 16, 15_08.background</string>
    </array>
    <array>
      <string>Feb 28 17, 12:16</string>
      <string>glyphs.F_eb 28 17, 12_16</string>
    </array>
    <array>
      <string>Feb 28 17, 12:16.background</string>
      <string>glyphs.F_eb 28 17, 12_16.background</string>
    </array>
    <array>
      <string>Nov 23 16, 14:38</string>
      <string>glyphs.N_ov 23 16, 14_38</string>
    </array>
    <array>
      <string>Nov 23 16, 14:38.background</string>
      <string>glyphs.N_ov 23 16, 14_38.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 00:21</string>
      <string>glyphs.B_old J_ul 28 16, 00_21</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 00:21.background</string>
      <string>glyphs.B_old J_ul 28 16, 00_21.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 10:40</string>
      <string>glyphs.B_old J_ul 25 16, 10_40</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:49</string>
      <string>glyphs.B_old J_ul 25 16, 11_49</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:49.background</string>
      <string>glyphs.B_old J_ul 25 16, 11_49.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 13:30</string>
      <string>glyphs.B_old J_ul 28 16, 13_30</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 13:30.background</string>
      <string>glyphs.B_old J_ul 28 16, 13_30.background</string>
    </array>
    <array>
      <string>Nov 23 16, 14:23</string>
      <string>glyphs.N_ov 23 16, 14_23</string>
    </array>
    <array>
      <string>Nov 23 16, 14:23.background</string>
      <string>glyphs.N_ov 23 16, 14_23.background</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 13:24</string>
      <string>glyphs.B_old J_ul 26 16, 13_24</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 21:54</string>
      <string>glyphs.B_old J_ul 27 16, 21_54</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 21:54.background</string>
      <string>glyphs.B_old J_ul 27 16, 21_54.background</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 22:27</string>
      <string>glyphs.B_old J_ul 27 16, 22_27</string>
    </array>
    <array>
      <string>Mar 9 17, 16:23</string>
      <string>glyphs.M_ar 9 17, 16_23</string>
    </array>
    <array>
      <string>Mar 9 17, 16:23.background</string>
      <string>glyphs.M_ar 9 17, 16_23.background</string>
    </array>
    <array>
      <string>Mar 9 17, 16:24</string>
      <string>glyphs.M_ar 9 17, 16_24</string>
    </array>
    <array>
      <string>Mar 9 17, 16:24.background</string>
      <string>glyphs.M_ar 9 17, 16_24.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 12:12</string>
      <string>glyphs.B_old J_ul 25 16, 12_12</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 12:12.background</string>
      <string>glyphs.B_old J_ul 25 16, 12_12.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 01:04</string>
      <string>glyphs.B_old J_ul 28 16, 01_04</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 01:04.background</string>
      <string>glyphs.B_old J_ul 28 16, 01_04.background</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 15:02</string>
      <string>glyphs.B_old J_ul 27 16, 15_02</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 15:02.background</string>
      <string>glyphs.B_old J_ul 27 16, 15_02.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 23:30</string>
      <string>glyphs.B_old J_ul 25 16, 23_30</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 23:30.background</string>
      <string>glyphs.B_old J_ul 25 16, 23_30.background</string>
    </array>
    <array>
      <string>Nov 23 16, 14:40</string>
      <string>glyphs.N_ov 23 16, 14_40</string>
    </array>
    <array>
      <string>Nov 23 16, 14:40.background</string>
      <string>glyphs.N_ov 23 16, 14_40.background</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 22:28</string>
      <string>glyphs.B_old J_ul 26 16, 22_28</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 22:28.background</string>
      <string>glyphs.B_old J_ul 26 16, 22_28.background</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 21:47</string>
      <string>glyphs.B_old J_ul 26 16, 21_47</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 21:47.background</string>
      <string>glyphs.B_old J_ul 26 16, 21_47.background</string>
    </array>
    <array>
      <string>Mar 1 17, 12:14</string>
      <string>glyphs.M_ar 1 17, 12_14</string>
    </array>
    <array>
      <string>Mar 1 17, 12:14.background</string>
      <string>glyphs.M_ar 1 17, 12_14.background</string>
    </array>
    <array>
      <string>Mar 1 17, 12:17</string>
      <string>glyphs.M_ar 1 17, 12_17</string>
    </array>
    <array>
      <string>Mar 1 17, 12:17.background</string>
      <string>glyphs.M_ar 1 17, 12_17.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:57</string>
      <string>glyphs.B_old J_ul 25 16, 11_57</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:57.background</string>
      <string>glyphs.B_old J_ul 25 16, 11_57.background</string>
    </array>
    <array>
      <string>Mar 1 17, 10:43</string>
      <string>glyphs.M_ar 1 17, 10_43</string>
    </array>
    <array>
      <string>Mar 1 17, 10:43.background</string>
      <string>glyphs.M_ar 1 17, 10_43.background</string>
    </array>
    <array>
      <string>Mar 1 17, 10:44</string>
      <string>glyphs.M_ar 1 17, 10_44</string>
    </array>
    <array>
      <string>Mar 1 17, 10:44.background</string>
      <string>glyphs.M_ar 1 17, 10_44.background</string>
    </array>
    <array>
      <string>Mar 1 17, 11:09</string>
      <string>glyphs.M_ar 1 17, 11_09</string>
    </array>
    <array>
      <string>Mar 1 17, 11:09.background</string>
      <string>glyphs.M_ar 1 17, 11_09.background</string>
    </array>
    <array>
      <string>Dec 8 16, 14:57</string>
      <string>glyphs.D_ec 8 16, 14_57</string>
    </array>
    <array>
      <string>Dec 8 16, 14:57.background</string>
      <string>glyphs.D_ec 8 16, 14_57.background</string>
    </array>
    <array>
      <string>Dec 8 16, 14:47</string>
      <string>glyphs.D_ec 8 16, 14_47</string>
    </array>
    <array>
      <string>Dec 8 16, 14:47.background</string>
      <string>glyphs.D_ec 8 16, 14_47.background</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 16:59</string>
      <string>glyphs.B_old J_ul 27 16, 16_59</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 23:38</string>
      <string>glyphs.B_old J_ul 27 16, 23_38</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 23:38.background</string>
      <string>glyphs.B_old J_ul 27 16, 23_38.background</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 14:11</string>
      <string>glyphs.B_old J_ul 26 16, 14_11</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 14:11.background</string>
      <string>glyphs.B_old J_ul 26 16, 14_11.background</string>
    </array>
    <array>
      <string>Bold Jul 26 16, 14:16</string>
      <string>glyphs.B_old J_ul 26 16, 14_16</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:59</string>
      <string>glyphs.B_old J_ul 25 16, 11_59</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:59.background</string>
      <string>glyphs.B_old J_ul 25 16, 11_59.background</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 00:47</string>
      <string>glyphs.B_old J_ul 27 16, 00_47</string>
    </array>
    <array>
      <string>Bold Jul 27 16, 00:47.background</string>
      <string>glyphs.B_old J_ul 27 16, 00_47.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 12:14</string>
      <string>glyphs.B_old J_ul 25 16, 12_14</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 12:14.background</string>
      <string>glyphs.B_old J_ul 25 16, 12_14.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:54</string>
      <string>glyphs.B_old J_ul 25 16, 11_54</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 11:54.background</string>
      <string>glyphs.B_old J_ul 25 16, 11_54.background</string>
    </array>
    <array>
      <string>Dec 6 16, 13:30</string>
      <string>glyphs.D_ec 6 16, 13_30</string>
    </array>
    <array>
      <string>Dec 6 16, 13:30.background</string>
      <string>glyphs.D_ec 6 16, 13_30.background</string>
    </array>
    <array>
      <string>Dec 6 16, 14:04</string>
      <string>glyphs.D_ec 6 16, 14_04</string>
    </array>
    <array>
      <string>Dec 6 16, 14:04.background</string>
      <string>glyphs.D_ec 6 16, 14_04.background</string>
    </array>
    <array>
      <string>Dec 6 16, 14:11</string>
      <string>glyphs.D_ec 6 16, 14_11</string>
    </array>
    <array>
      <string>Dec 6 16, 14:11.background</string>
      <string>glyphs.D_ec 6 16, 14_11.background</string>
    </array>
    <array>
      <string>Dec 6 16, 14:23</string>
      <string>glyphs.D_ec 6 16, 14_23</string>
    </array>
    <array>
      <string>Dec 6 16, 14:23.background</string>
      <string>glyphs.D_ec 6 16, 14_23.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 00:38</string>
      <string>glyphs.B_old J_ul 28 16, 00_38</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 00:38.background</string>
      <string>glyphs.B_old J_ul 28 16, 00_38.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 02:08</string>
      <string>glyphs.B_old J_ul 28 16, 02_08</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 02:08.background</string>
      <string>glyphs.B_old J_ul 28 16, 02_08.background</string>
    </array>
    <array>
      <string>Nov 28 16, 12:23</string>
      <string>glyphs.N_ov 28 16, 12_23</string>
    </array>
    <array>
      <string>Nov 28 16, 12:23.background</string>
      <string>glyphs.N_ov 28 16, 12_23.background</string>
    </array>
    <array>
      <string>Feb 28 17, 11:44</string>
      <string>glyphs.F_eb 28 17, 11_44</string>
    </array>
    <array>
      <string>Feb 28 17, 11:44.background</string>
      <string>glyphs.F_eb 28 17, 11_44.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 13:40</string>
      <string>glyphs.B_old J_ul 28 16, 13_40</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 14:23</string>
      <string>glyphs.B_old J_ul 25 16, 14_23</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 14:23.background</string>
      <string>glyphs.B_old J_ul 25 16, 14_23.background</string>
    </array>
    <array>
      <string>Nov 23 16, 10:15</string>
      <string>glyphs.N_ov 23 16, 10_15</string>
    </array>
    <array>
      <string>Nov 23 16, 10:15.background</string>
      <string>glyphs.N_ov 23 16, 10_15.background</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 02:15</string>
      <string>glyphs.B_old J_ul 28 16, 02_15</string>
    </array>
    <array>
      <string>Bold Jul 28 16, 02:15.background</string>
      <string>glyphs.B_old J_ul 28 16, 02_15.background</string>
    </array>
    <array>
      <string>Nov 23 16, 10:19</string>
      <string>glyphs.N_ov 23 16, 10_19</string>
    </array>
    <array>
      <string>Bold Jul 20 16, 17:26</string>
      <string>glyphs.B_old J_ul 20 16, 17_26</string>
    </array>
    <array>
      <string>Bold Jul 20 16, 17:26.background</string>
      <string>glyphs.B_old J_ul 20 16, 17_26.background</string>
    </array>
    <array>
      <string>Bold Jul 21 16, 17:12</string>
      <string>glyphs.B_old J_ul 21 16, 17_12</string>
    </array>
    <array>
      <string>Bold Jul 21 16, 17:12.background</string>
      <string>glyphs.B_old J_ul 21 16, 17_12.background</string>
    </array>
    <array>
      <string>Feb 27 17, 15:54</string>
      <string>glyphs.F_eb 27 17, 15_54</string>
    </array>
    <array>
      <string>Feb 27 17, 15:54.background</string>
      <string>glyphs.F_eb 27 17, 15_54.background</string>
    </array>
    <array>
      <string>Bold Jul 22 16, 14:39</string>
      <string>glyphs.B_old J_ul 22 16, 14_39</string>
    </array>
    <array>
      <string>Bold Jul 22 16, 14:39.background</string>
      <string>glyphs.B_old J_ul 22 16, 14_39.background</string>
    </array>
    <array>
      <string>Dec 12 16, 10:45</string>
      <string>glyphs.D_ec 12 16, 10_45</string>
    </array>
    <array>
      <string>Dec 12 16, 10:45.background</string>
      <string>glyphs.D_ec 12 16, 10_45.background</string>
    </array>
    <array>
      <string>Dec 12 16, 16:26</string>
      <string>glyphs.D_ec 12 16, 16_26</string>
    </array>
    <array>
      <string>Dec 12 16, 16:26.background</string>
      <string>glyphs.D_ec 12 16, 16_26.background</string>
    </array>
    <array>
      <string>Dec 20 16, 11:20</string>
      <string>glyphs.D_ec 20 16, 11_20</string>
    </array>
    <array>
      <string>Dec 20 16, 11:20.background</string>
      <string>glyphs.D_ec 20 16, 11_20.background</string>
    </array>
    <array>
      <string>Dec 8 16, 18:07</string>
      <string>glyphs.D_ec 8 16, 18_07</string>
    </array>
    <array>
      <string>Dec 8 16, 18:07.background</string>
      <string>glyphs.D_ec 8 16, 18_07.background</string>
    </array>
    <array>
      <string>Dec 20 16, 11:24</string>
      <string>glyphs.D_ec 20 16, 11_24</string>
    </array>
    <array>
      <string>Dec 20 16, 11:24.background</string>
      <string>glyphs.D_ec 20 16, 11_24.background</string>
    </array>
    <array>
      <string>Dec 20 16, 14:34</string>
      <string>glyphs.D_ec 20 16, 14_34</string>
    </array>
    <array>
      <string>Dec 20 16, 14:34.background</string>
      <string>glyphs.D_ec 20 16, 14_34.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:30</string>
      <string>glyphs.F_eb 28 17, 15_30</string>
    </array>
    <array>
      <string>Feb 28 17, 15:30.background</string>
      <string>glyphs.F_eb 28 17, 15_30.background</string>
    </array>
    <array>
      <string>Dec 13 16, 16:07</string>
      <string>glyphs.D_ec 13 16, 16_07</string>
    </array>
    <array>
      <string>Dec 13 16, 16:07.background</string>
      <string>glyphs.D_ec 13 16, 16_07.background</string>
    </array>
    <array>
      <string>Dec 13 16, 16:09</string>
      <string>glyphs.D_ec 13 16, 16_09</string>
    </array>
    <array>
      <string>Dec 13 16, 16:09.background</string>
      <string>glyphs.D_ec 13 16, 16_09.background</string>
    </array>
    <array>
      <string>Dec 12 16, 10:52</string>
      <string>glyphs.D_ec 12 16, 10_52</string>
    </array>
    <array>
      <string>Dec 12 16, 10:52.background</string>
      <string>glyphs.D_ec 12 16, 10_52.background</string>
    </array>
    <array>
      <string>Dec 12 16, 15:23</string>
      <string>glyphs.D_ec 12 16, 15_23</string>
    </array>
    <array>
      <string>Dec 12 16, 15:23.background</string>
      <string>glyphs.D_ec 12 16, 15_23.background</string>
    </array>
    <array>
      <string>Dec 20 16, 13:35</string>
      <string>glyphs.D_ec 20 16, 13_35</string>
    </array>
    <array>
      <string>Dec 20 16, 13:35.background</string>
      <string>glyphs.D_ec 20 16, 13_35.background</string>
    </array>
    <array>
      <string>Dec 12 16, 15:48</string>
      <string>glyphs.D_ec 12 16, 15_48</string>
    </array>
    <array>
      <string>Dec 12 16, 15:48.background</string>
      <string>glyphs.D_ec 12 16, 15_48.background</string>
    </array>
    <array>
      <string>Dec 20 16, 11:21</string>
      <string>glyphs.D_ec 20 16, 11_21</string>
    </array>
    <array>
      <string>Dec 20 16, 11:21.background</string>
      <string>glyphs.D_ec 20 16, 11_21.background</string>
    </array>
    <array>
      <string>Dec 20 16, 11:22</string>
      <string>glyphs.D_ec 20 16, 11_22</string>
    </array>
    <array>
      <string>Dec 20 16, 11:22.background</string>
      <string>glyphs.D_ec 20 16, 11_22.background</string>
    </array>
    <array>
      <string>Dec 20 16, 17:24</string>
      <string>glyphs.D_ec 20 16, 17_24</string>
    </array>
    <array>
      <string>Dec 20 16, 17:24.background</string>
      <string>glyphs.D_ec 20 16, 17_24.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:33</string>
      <string>glyphs.F_eb 28 17, 15_33</string>
    </array>
    <array>
      <string>Feb 28 17, 15:33.background</string>
      <string>glyphs.F_eb 28 17, 15_33.background</string>
    </array>
    <array>
      <string>Feb 28 17, 15:36</string>
      <string>glyphs.F_eb 28 17, 15_36</string>
    </array>
    <array>
      <string>Feb 28 17, 15:36.background</string>
      <string>glyphs.F_eb 28 17, 15_36.background</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:52</string>
      <string>glyphs.B_old J_ul 24 16, 20_52</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:52.background</string>
      <string>glyphs.B_old J_ul 24 16, 20_52.background</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:56</string>
      <string>glyphs.B_old J_ul 24 16, 20_56</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:56.background</string>
      <string>glyphs.B_old J_ul 24 16, 20_56.background</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 22:54</string>
      <string>glyphs.B_old J_ul 24 16, 22_54</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 22:54.background</string>
      <string>glyphs.B_old J_ul 24 16, 22_54.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:07</string>
      <string>glyphs.B_old J_ul 25 16, 00_07</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:07.background</string>
      <string>glyphs.B_old J_ul 25 16, 00_07.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:30</string>
      <string>glyphs.B_old J_ul 25 16, 00_30</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:30.background</string>
      <string>glyphs.B_old J_ul 25 16, 00_30.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 01:02</string>
      <string>glyphs.B_old J_ul 25 16, 01_02</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 01:02.background</string>
      <string>glyphs.B_old J_ul 25 16, 01_02.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:40</string>
      <string>glyphs.B_old J_ul 25 16, 00_40</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 00:40.background</string>
      <string>glyphs.B_old J_ul 25 16, 00_40.background</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 01:21</string>
      <string>glyphs.B_old J_ul 25 16, 01_21</string>
    </array>
    <array>
      <string>Bold Jul 25 16, 01:21.background</string>
      <string>glyphs.B_old J_ul 25 16, 01_21.background</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 16:32</string>
      <string>glyphs.B_old J_ul 18 16, 16_32</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 16:32.background</string>
      <string>glyphs.B_old J_ul 18 16, 16_32.background</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 16:33</string>
      <string>glyphs.B_old J_ul 18 16, 16_33</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 16:33.background</string>
      <string>glyphs.B_old J_ul 18 16, 16_33.background</string>
    </array>
    <array>
      <string>Mar 1 17, 10:30</string>
      <string>glyphs.M_ar 1 17, 10_30</string>
    </array>
    <array>
      <string>Mar 1 17, 10:30.background</string>
      <string>glyphs.M_ar 1 17, 10_30.background</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 17:04</string>
      <string>glyphs.B_old J_ul 18 16, 17_04</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 17:04.background</string>
      <string>glyphs.B_old J_ul 18 16, 17_04.background</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 20:15</string>
      <string>glyphs.B_old J_ul 18 16, 20_15</string>
    </array>
    <array>
      <string>Bold Jul 18 16, 20:15.background</string>
      <string>glyphs.B_old J_ul 18 16, 20_15.background</string>
    </array>
    <array>
      <string>Mar 1 17, 15:30</string>
      <string>glyphs.M_ar 1 17, 15_30</string>
    </array>
    <array>
      <string>Mar 1 17, 15:30.background</string>
      <string>glyphs.M_ar 1 17, 15_30.background</string>
    </array>
    <array>
      <string>Mar 1 17, 15:39</string>
      <string>glyphs.M_ar 1 17, 15_39</string>
    </array>
    <array>
      <string>Mar 1 17, 15:39.background</string>
      <string>glyphs.M_ar 1 17, 15_39.background</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:10</string>
      <string>glyphs.B_old J_ul 24 16, 20_10</string>
    </array>
    <array>
      <string>Bold Jul 24 16, 20:10.background</string>
      <string>glyphs.B_old J_ul 24 16, 20_10.background</string>
    </array>
    <array>
      <string>Bold Jul 23 16, 21:14</string>
      <string>glyphs.B_old J_ul 23 16, 21_14</string>
    </array>
    <array>
      <string>Feb 27 17, 15:39</string>
      <string>glyphs.F_eb 27 17, 15_39</string>
    </array>
    <array>
      <string>Feb 27 17, 15:39.background</string>
      <string>glyphs.F_eb 27 17, 15_39.background</string>
    </array>
    <array>
      <string>Bold Jul 23 16, 21:13</string>
      <string>glyphs.B_old J_ul 23 16, 21_13</string>
    </array>
    <array>
      <string>Bold Jul 23 16, 21:13.background</string>
      <string>glyphs.B_old J_ul 23 16, 21_13.background</string>
    </array>
    <array>
      <string>Bold Jul 23 16, 21:14.background</string>
      <string>glyphs.B_old J_ul 23 16, 21_14.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:38</string>
      <string>glyphs.D_ec 6 16, 17_38</string>
    </array>
    <array>
      <string>Dec 6 16, 17:38.background</string>
      <string>glyphs.D_ec 6 16, 17_38.background</string>
    </array>
    <array>
      <string>Dec 6 16, 16:22</string>
      <string>glyphs.D_ec 6 16, 16_22</string>
    </array>
    <array>
      <string>Dec 6 16, 16:22.background</string>
      <string>glyphs.D_ec 6 16, 16_22.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:33</string>
      <string>glyphs.D_ec 6 16, 17_33</string>
    </array>
    <array>
      <string>Dec 6 16, 17:33.background</string>
      <string>glyphs.D_ec 6 16, 17_33.background</string>
    </array>
    <array>
      <string>Dec 7 16, 09:52</string>
      <string>glyphs.D_ec 7 16, 09_52</string>
    </array>
    <array>
      <string>Dec 7 16, 09:52.background</string>
      <string>glyphs.D_ec 7 16, 09_52.background</string>
    </array>
    <array>
      <string>Dec 8 16, 11:19</string>
      <string>glyphs.D_ec 8 16, 11_19</string>
    </array>
    <array>
      <string>Dec 8 16, 11:19.background</string>
      <string>glyphs.D_ec 8 16, 11_19.background</string>
    </array>
    <array>
      <string>Feb 27 17, 15:55</string>
      <string>glyphs.F_eb 27 17, 15_55</string>
    </array>
    <array>
      <string>Feb 27 17, 15:55.background</string>
      <string>glyphs.F_eb 27 17, 15_55.background</string>
    </array>
    <array>
      <string>Dec 8 16, 10:27</string>
      <string>glyphs.D_ec 8 16, 10_27</string>
    </array>
    <array>
      <string>Dec 8 16, 10:28</string>
      <string>glyphs.D_ec 8 16, 10_28</string>
    </array>
    <array>
      <string>Dec 8 16, 10:28.background</string>
      <string>glyphs.D_ec 8 16, 10_28.background</string>
    </array>
    <array>
      <string>Dec 8 16, 11:23</string>
      <string>glyphs.D_ec 8 16, 11_23</string>
    </array>
    <array>
      <string>Dec 8 16, 11:23.background</string>
      <string>glyphs.D_ec 8 16, 11_23.background</string>
    </array>
    <array>
      <string>Dec 8 16, 12:53</string>
      <string>glyphs.D_ec 8 16, 12_53</string>
    </array>
    <array>
      <string>Dec 8 16, 12:53.background</string>
      <string>glyphs.D_ec 8 16, 12_53.background</string>
    </array>
    <array>
      <string>Dec 8 16, 10:12</string>
      <string>glyphs.D_ec 8 16, 10_12</string>
    </array>
    <array>
      <string>Dec 8 16, 10:12.background</string>
      <string>glyphs.D_ec 8 16, 10_12.background</string>
    </array>
    <array>
      <string>Dec 8 16, 15:20</string>
      <string>glyphs.D_ec 8 16, 15_20</string>
    </array>
    <array>
      <string>Dec 8 16, 15:20.background</string>
      <string>glyphs.D_ec 8 16, 15_20.background</string>
    </array>
    <array>
      <string>Dec 19 16, 16:53</string>
      <string>glyphs.D_ec 19 16, 16_53</string>
    </array>
    <array>
      <string>Dec 19 16, 16:53.background</string>
      <string>glyphs.D_ec 19 16, 16_53.background</string>
    </array>
  </array>
</plist>
