<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ha.pst</key>
    <string>H_a.pst.glif</string>
    <key>I_anusvara</key>
    <string>I__anusvara.glif</string>
    <key>I_anusvara.alt</key>
    <string>I__anusvara.alt.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>Ra.blw</key>
    <string>R_a.blw.glif</string>
    <key>Tra</key>
    <string>T_ra.glif</string>
    <key>Ya.blw</key>
    <string>Y_a.blw.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u11680</key>
    <string>u11680.glif</string>
    <key>u11681</key>
    <string>u11681.glif</string>
    <key>u11682</key>
    <string>u11682.glif</string>
    <key>u11683</key>
    <string>u11683.glif</string>
    <key>u11684</key>
    <string>u11684.glif</string>
    <key>u11685</key>
    <string>u11685.glif</string>
    <key>u11686</key>
    <string>u11686.glif</string>
    <key>u11687</key>
    <string>u11687.glif</string>
    <key>u11688</key>
    <string>u11688.glif</string>
    <key>u11689</key>
    <string>u11689.glif</string>
    <key>u1168A</key>
    <string>u1168A_.glif</string>
    <key>u1168B</key>
    <string>u1168B_.glif</string>
    <key>u1168C</key>
    <string>u1168C_.glif</string>
    <key>u1168D</key>
    <string>u1168D_.glif</string>
    <key>u1168E</key>
    <string>u1168E_.glif</string>
    <key>u1168F</key>
    <string>u1168F_.glif</string>
    <key>u11690</key>
    <string>u11690.glif</string>
    <key>u11691</key>
    <string>u11691.glif</string>
    <key>u11692</key>
    <string>u11692.glif</string>
    <key>u11693</key>
    <string>u11693.glif</string>
    <key>u11694</key>
    <string>u11694.glif</string>
    <key>u11695</key>
    <string>u11695.glif</string>
    <key>u11696</key>
    <string>u11696.glif</string>
    <key>u11697</key>
    <string>u11697.glif</string>
    <key>u11698</key>
    <string>u11698.glif</string>
    <key>u11699</key>
    <string>u11699.glif</string>
    <key>u1169A</key>
    <string>u1169A_.glif</string>
    <key>u1169B</key>
    <string>u1169B_.glif</string>
    <key>u1169C</key>
    <string>u1169C_.glif</string>
    <key>u1169D</key>
    <string>u1169D_.glif</string>
    <key>u1169E</key>
    <string>u1169E_.glif</string>
    <key>u1169F</key>
    <string>u1169F_.glif</string>
    <key>u116A0</key>
    <string>u116A_0.glif</string>
    <key>u116A1</key>
    <string>u116A_1.glif</string>
    <key>u116A2</key>
    <string>u116A_2.glif</string>
    <key>u116A3</key>
    <string>u116A_3.glif</string>
    <key>u116A4</key>
    <string>u116A_4.glif</string>
    <key>u116A5</key>
    <string>u116A_5.glif</string>
    <key>u116A6</key>
    <string>u116A_6.glif</string>
    <key>u116A7</key>
    <string>u116A_7.glif</string>
    <key>u116A8</key>
    <string>u116A_8.glif</string>
    <key>u116A9</key>
    <string>u116A_9.glif</string>
    <key>u116AA</key>
    <string>u116A_A_.glif</string>
    <key>u116AB</key>
    <string>u116A_B_.glif</string>
    <key>u116AC</key>
    <string>u116A_C_.glif</string>
    <key>u116AD</key>
    <string>u116A_D_.glif</string>
    <key>u116AE</key>
    <string>u116A_E_.glif</string>
    <key>u116AE.alt</key>
    <string>u116A_E_.alt.glif</string>
    <key>u116AF</key>
    <string>u116A_F_.glif</string>
    <key>u116B0</key>
    <string>u116B_0.glif</string>
    <key>u116B1</key>
    <string>u116B_1.glif</string>
    <key>u116B2</key>
    <string>u116B_2.glif</string>
    <key>u116B3</key>
    <string>u116B_3.glif</string>
    <key>u116B4</key>
    <string>u116B_4.glif</string>
    <key>u116B5</key>
    <string>u116B_5.glif</string>
    <key>u116B6</key>
    <string>u116B_6.glif</string>
    <key>u116B6.ns</key>
    <string>u116B_6.ns.glif</string>
    <key>u116B7</key>
    <string>u116B_7.glif</string>
    <key>u116B8</key>
    <string>u116B_8.glif</string>
    <key>u116C0</key>
    <string>u116C_0.glif</string>
    <key>u116C1</key>
    <string>u116C_1.glif</string>
    <key>u116C2</key>
    <string>u116C_2.glif</string>
    <key>u116C3</key>
    <string>u116C_3.glif</string>
    <key>u116C4</key>
    <string>u116C_4.glif</string>
    <key>u116C5</key>
    <string>u116C_5.glif</string>
    <key>u116C6</key>
    <string>u116C_6.glif</string>
    <key>u116C7</key>
    <string>u116C_7.glif</string>
    <key>u116C8</key>
    <string>u116C_8.glif</string>
    <key>u116C9</key>
    <string>u116C_9.glif</string>
    <key>uni0964</key>
    <string>uni0964.glif</string>
    <key>uni0965</key>
    <string>uni0965.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA830</key>
    <string>uniA_830.glif</string>
    <key>uniA831</key>
    <string>uniA_831.glif</string>
    <key>uniA832</key>
    <string>uniA_832.glif</string>
    <key>uniA833</key>
    <string>uniA_833.glif</string>
    <key>uniA834</key>
    <string>uniA_834.glif</string>
    <key>uniA835</key>
    <string>uniA_835.glif</string>
    <key>uniA836</key>
    <string>uniA_836.glif</string>
    <key>uniA837</key>
    <string>uniA_837.glif</string>
    <key>uniA838</key>
    <string>uniA_838.glif</string>
    <key>uniA839</key>
    <string>uniA_839.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
  </dict>
</plist>
