<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>ae.ns</key>
    <string>ae.ns.glif</string>
    <key>ae.ns_cecak.ns</key>
    <string>ae.ns_cecak.ns.glif</string>
    <key>ae.ns_cecak.ns_layar.ns</key>
    <string>ae.ns_cecak.ns_layar.ns.glif</string>
    <key>ae.ns_layar.ns</key>
    <string>ae.ns_layar.ns.glif</string>
    <key>ae.ns_panyangga.ns</key>
    <string>ae.ns_panyangga.ns.glif</string>
    <key>ae.ns_panyangga.ns_layar.ns</key>
    <string>ae.ns_panyangga.ns_layar.ns.glif</string>
    <key>aikara</key>
    <string>aikara.glif</string>
    <key>aikara.pas</key>
    <string>aikara.pas.glif</string>
    <key>akara</key>
    <string>akara.glif</string>
    <key>akara.pas</key>
    <string>akara.pas.glif</string>
    <key>ba</key>
    <string>ba.glif</string>
    <key>ba.pas</key>
    <string>ba.pas.glif</string>
    <key>ba_cakra</key>
    <string>ba_cakra.glif</string>
    <key>ba_cakra_u.ns</key>
    <string>ba_cakra_u.ns.glif</string>
    <key>bha</key>
    <string>bha.glif</string>
    <key>bha.pas</key>
    <string>bha.pas.glif</string>
    <key>bha.pas.alt</key>
    <string>bha.pas.alt.glif</string>
    <key>bha.pas_keret.ns</key>
    <string>bha.pas_keret.ns.glif</string>
    <key>bha.pas_pengkal</key>
    <string>bha.pas_pengkal.glif</string>
    <key>bha.pas_pengkal_u.ns</key>
    <string>bha.pas_pengkal_u.ns.glif</string>
    <key>bha.pas_pengkal_uu.ns</key>
    <string>bha.pas_pengkal_uu.ns.glif</string>
    <key>bha.pas_wa.pas</key>
    <string>bha.pas_wa.pas.glif</string>
    <key>bha_cakra</key>
    <string>bha_cakra.glif</string>
    <key>bha_cakra_u.ns</key>
    <string>bha_cakra_u.ns.glif</string>
    <key>bha_keret</key>
    <string>bha_keret.glif</string>
    <key>bha_pengkal</key>
    <string>bha_pengkal.glif</string>
    <key>bha_pengkal_u.ns</key>
    <string>bha_pengkal_u.ns.glif</string>
    <key>bha_pengkal_uu.ns</key>
    <string>bha_pengkal_uu.ns.glif</string>
    <key>bha_wa.pas</key>
    <string>bha_wa.pas.glif</string>
    <key>ca</key>
    <string>ca.glif</string>
    <key>ca.pas</key>
    <string>ca.pas.glif</string>
    <key>ca.pas.alt</key>
    <string>ca.pas.alt.glif</string>
    <key>ca.pas_keret.ns</key>
    <string>ca.pas_keret.ns.glif</string>
    <key>ca.pas_pengkal</key>
    <string>ca.pas_pengkal.glif</string>
    <key>ca.pas_pengkal_u.ns</key>
    <string>ca.pas_pengkal_u.ns.glif</string>
    <key>ca.pas_pengkal_uu.ns</key>
    <string>ca.pas_pengkal_uu.ns.glif</string>
    <key>ca.pas_wa.pas</key>
    <string>ca.pas_wa.pas.glif</string>
    <key>ca_cakra</key>
    <string>ca_cakra.glif</string>
    <key>ca_cakra_u.ns</key>
    <string>ca_cakra_u.ns.glif</string>
    <key>cakra</key>
    <string>cakra.glif</string>
    <key>cakra.ns</key>
    <string>cakra.ns.glif</string>
    <key>cakra.pas</key>
    <string>cakra.pas.glif</string>
    <key>cakra.pas.alt</key>
    <string>cakra.pas.alt.glif</string>
    <key>cecak.ns</key>
    <string>cecak.ns.glif</string>
    <key>cecak.ns_layar.ns</key>
    <string>cecak.ns_layar.ns.glif</string>
    <key>cecaktelu.ns</key>
    <string>cecaktelu.ns.glif</string>
    <key>cecaktelu.ns_ae.ns</key>
    <string>cecaktelu.ns_ae.ns.glif</string>
    <key>cecaktelu.ns_ae.ns_cecak.ns</key>
    <string>cecaktelu.ns_ae.ns_cecak.ns.glif</string>
    <key>cecaktelu.ns_ae.ns_layar.ns</key>
    <string>cecaktelu.ns_ae.ns_layar.ns.glif</string>
    <key>cecaktelu.ns_ae.ns_panyangga.ns</key>
    <string>cecaktelu.ns_ae.ns_panyangga.ns.glif</string>
    <key>cecaktelu.ns_cecak.ns</key>
    <string>cecaktelu.ns_cecak.ns.glif</string>
    <key>cecaktelu.ns_i.ns</key>
    <string>cecaktelu.ns_i.ns.glif</string>
    <key>cecaktelu.ns_i.ns_cecak.ns</key>
    <string>cecaktelu.ns_i.ns_cecak.ns.glif</string>
    <key>cecaktelu.ns_i.ns_layar.ns</key>
    <string>cecaktelu.ns_i.ns_layar.ns.glif</string>
    <key>cecaktelu.ns_i.ns_panyangga.ns</key>
    <string>cecaktelu.ns_i.ns_panyangga.ns.glif</string>
    <key>cecaktelu.ns_ii.ns</key>
    <string>cecaktelu.ns_ii.ns.glif</string>
    <key>cecaktelu.ns_ii.ns_cecak.ns</key>
    <string>cecaktelu.ns_ii.ns_cecak.ns.glif</string>
    <key>cecaktelu.ns_ii.ns_layar.ns</key>
    <string>cecaktelu.ns_ii.ns_layar.ns.glif</string>
    <key>cecaktelu.ns_ii.ns_panyangga.ns</key>
    <string>cecaktelu.ns_ii.ns_panyangga.ns.glif</string>
    <key>cecaktelu.ns_layar.ns</key>
    <string>cecaktelu.ns_layar.ns.glif</string>
    <key>cecaktelu.ns_panyangga.ns</key>
    <string>cecaktelu.ns_panyangga.ns.glif</string>
    <key>cha</key>
    <string>cha.glif</string>
    <key>cha.pas</key>
    <string>cha.pas.glif</string>
    <key>cha.pas_keret.ns</key>
    <string>cha.pas_keret.ns.glif</string>
    <key>cha.pas_pengkal</key>
    <string>cha.pas_pengkal.glif</string>
    <key>cha.pas_pengkal_u.ns</key>
    <string>cha.pas_pengkal_u.ns.glif</string>
    <key>cha.pas_pengkal_uu.ns</key>
    <string>cha.pas_pengkal_uu.ns.glif</string>
    <key>cha.pas_u.ns</key>
    <string>cha.pas_u.ns.glif</string>
    <key>cha.pas_uu.ns</key>
    <string>cha.pas_uu.ns.glif</string>
    <key>cha.pas_wa.pas</key>
    <string>cha.pas_wa.pas.glif</string>
    <key>da</key>
    <string>da.glif</string>
    <key>da.pas</key>
    <string>da.pas.glif</string>
    <key>da.pas_cakra</key>
    <string>da.pas_cakra.glif</string>
    <key>da.pas_cakra.ns</key>
    <string>da.pas_cakra.ns.glif</string>
    <key>da.pas_keret.ns</key>
    <string>da.pas_keret.ns.glif</string>
    <key>da.pas_pengkal</key>
    <string>da.pas_pengkal.glif</string>
    <key>da.pas_pengkal_u.ns</key>
    <string>da.pas_pengkal_u.ns.glif</string>
    <key>da.pas_pengkal_uu.ns</key>
    <string>da.pas_pengkal_uu.ns.glif</string>
    <key>da.pas_u.ns</key>
    <string>da.pas_u.ns.glif</string>
    <key>da.pas_uu.ns</key>
    <string>da.pas_uu.ns.glif</string>
    <key>da.pas_wa.pas</key>
    <string>da.pas_wa.pas.glif</string>
    <key>da_cakra</key>
    <string>da_cakra.glif</string>
    <key>da_cakra_u.ns</key>
    <string>da_cakra_u.ns.glif</string>
    <key>dda</key>
    <string>dda.glif</string>
    <key>dda.pas</key>
    <string>dda.pas.glif</string>
    <key>dda.pas.alt</key>
    <string>dda.pas.alt.glif</string>
    <key>dda.pas_keret.ns</key>
    <string>dda.pas_keret.ns.glif</string>
    <key>dda.pas_pengkal</key>
    <string>dda.pas_pengkal.glif</string>
    <key>dda.pas_pengkal_u.ns</key>
    <string>dda.pas_pengkal_u.ns.glif</string>
    <key>dda.pas_pengkal_uu.ns</key>
    <string>dda.pas_pengkal_uu.ns.glif</string>
    <key>dda.pas_wa.pas</key>
    <string>dda.pas_wa.pas.glif</string>
    <key>dda_cakra</key>
    <string>dda_cakra.glif</string>
    <key>dda_cakra_u.ns</key>
    <string>dda_cakra_u.ns.glif</string>
    <key>ddha</key>
    <string>ddha.glif</string>
    <key>ddha.pas</key>
    <string>ddha.pas.glif</string>
    <key>dha</key>
    <string>dha.glif</string>
    <key>dha.pas</key>
    <string>dha.pas.glif</string>
    <key>dha_cakra</key>
    <string>dha_cakra.glif</string>
    <key>dha_cakra_u.ns</key>
    <string>dha_cakra_u.ns.glif</string>
    <key>dirgam</key>
    <string>dirgam.glif</string>
    <key>eightJV</key>
    <string>eightJ_V_.glif</string>
    <key>ekara</key>
    <string>ekara.glif</string>
    <key>ekara.pas</key>
    <string>ekara.pas.glif</string>
    <key>fiveJV</key>
    <string>fiveJ_V_.glif</string>
    <key>fourJV</key>
    <string>fourJ_V_.glif</string>
    <key>ga</key>
    <string>ga.glif</string>
    <key>ga.pas</key>
    <string>ga.pas.glif</string>
    <key>ga_cakra</key>
    <string>ga_cakra.glif</string>
    <key>ga_cakra_u.ns</key>
    <string>ga_cakra_u.ns.glif</string>
    <key>gha</key>
    <string>gha.glif</string>
    <key>gha.pas</key>
    <string>gha.pas.glif</string>
    <key>gha_cakra</key>
    <string>gha_cakra.glif</string>
    <key>gha_cakra_u.ns</key>
    <string>gha_cakra_u.ns.glif</string>
    <key>ha</key>
    <string>ha.glif</string>
    <key>ha.pas</key>
    <string>ha.pas.glif</string>
    <key>ha.pas_cakra</key>
    <string>ha.pas_cakra.glif</string>
    <key>ha.pas_cakra_u.ns</key>
    <string>ha.pas_cakra_u.ns.glif</string>
    <key>ha_cakra</key>
    <string>ha_cakra.glif</string>
    <key>ha_cakra_u.ns</key>
    <string>ha_cakra_u.ns.glif</string>
    <key>i.ns</key>
    <string>i.ns.glif</string>
    <key>i.ns_cecak.ns</key>
    <string>i.ns_cecak.ns.glif</string>
    <key>i.ns_cecak.ns_layar.ns</key>
    <string>i.ns_cecak.ns_layar.ns.glif</string>
    <key>i.ns_layar.ns</key>
    <string>i.ns_layar.ns.glif</string>
    <key>i.ns_panyangga.ns</key>
    <string>i.ns_panyangga.ns.glif</string>
    <key>i.ns_panyangga.ns_layar.ns</key>
    <string>i.ns_panyangga.ns_layar.ns.glif</string>
    <key>ii.ns</key>
    <string>ii.ns.glif</string>
    <key>ii.ns_cecak.ns</key>
    <string>ii.ns_cecak.ns.glif</string>
    <key>ii.ns_cecak.ns_layar.ns</key>
    <string>ii.ns_cecak.ns_layar.ns.glif</string>
    <key>ii.ns_layar.ns</key>
    <string>ii.ns_layar.ns.glif</string>
    <key>ii.ns_panyangga.ns</key>
    <string>ii.ns_panyangga.ns.glif</string>
    <key>ii.ns_panyangga.ns_layar.ns</key>
    <string>ii.ns_panyangga.ns_layar.ns.glif</string>
    <key>iikara</key>
    <string>iikara.glif</string>
    <key>iikara.pas</key>
    <string>iikara.pas.glif</string>
    <key>ikara</key>
    <string>ikara.glif</string>
    <key>ikara.pas</key>
    <string>ikara.pas.glif</string>
    <key>ikawi</key>
    <string>ikawi.glif</string>
    <key>ikawi.pas</key>
    <string>ikawi.pas.glif</string>
    <key>ja</key>
    <string>ja.glif</string>
    <key>ja.pas</key>
    <string>ja.pas.glif</string>
    <key>ja.pas.alt</key>
    <string>ja.pas.alt.glif</string>
    <key>ja.pas_keret.ns</key>
    <string>ja.pas_keret.ns.glif</string>
    <key>ja.pas_pengkal</key>
    <string>ja.pas_pengkal.glif</string>
    <key>ja.pas_pengkal_u.ns</key>
    <string>ja.pas_pengkal_u.ns.glif</string>
    <key>ja.pas_pengkal_uu.ns</key>
    <string>ja.pas_pengkal_uu.ns.glif</string>
    <key>ja.pas_wa.pas</key>
    <string>ja.pas_wa.pas.glif</string>
    <key>ja_cakra</key>
    <string>ja_cakra.glif</string>
    <key>ja_cakra_u.ns</key>
    <string>ja_cakra_u.ns.glif</string>
    <key>ja_keret</key>
    <string>ja_keret.glif</string>
    <key>ja_pengkal</key>
    <string>ja_pengkal.glif</string>
    <key>ja_pengkal_u.ns</key>
    <string>ja_pengkal_u.ns.glif</string>
    <key>ja_pengkal_uu.ns</key>
    <string>ja_pengkal_uu.ns.glif</string>
    <key>ja_wa.pas</key>
    <string>ja_wa.pas.glif</string>
    <key>jha</key>
    <string>jha.glif</string>
    <key>jha.alt</key>
    <string>jha.alt.glif</string>
    <key>jha.alt1</key>
    <string>jha.alt1.glif</string>
    <key>jha.pas</key>
    <string>jha.pas.glif</string>
    <key>jha.pas.alt</key>
    <string>jha.pas.alt.glif</string>
    <key>jha.pas.alt1</key>
    <string>jha.pas.alt1.glif</string>
    <key>jha.pas_pengkal</key>
    <string>jha.pas_pengkal.glif</string>
    <key>jha.pas_wa.pas</key>
    <string>jha.pas_wa.pas.glif</string>
    <key>jha_keret</key>
    <string>jha_keret.glif</string>
    <key>jha_pengkal</key>
    <string>jha_pengkal.glif</string>
    <key>jha_pengkal_u.ns</key>
    <string>jha_pengkal_u.ns.glif</string>
    <key>jha_pengkal_uu.ns</key>
    <string>jha_pengkal_uu.ns.glif</string>
    <key>jha_wa.pas</key>
    <string>jha_wa.pas.glif</string>
    <key>jnya</key>
    <string>jnya.glif</string>
    <key>jnya.pas</key>
    <string>jnya.pas.glif</string>
    <key>jnya.pas.alt</key>
    <string>jnya.pas.alt.glif</string>
    <key>jnya.pas_keret.ns</key>
    <string>jnya.pas_keret.ns.glif</string>
    <key>jnya.pas_pengkal</key>
    <string>jnya.pas_pengkal.glif</string>
    <key>jnya.pas_pengkal_u.ns</key>
    <string>jnya.pas_pengkal_u.ns.glif</string>
    <key>jnya.pas_pengkal_uu.ns</key>
    <string>jnya.pas_pengkal_uu.ns.glif</string>
    <key>jnya.pas_wa.pas</key>
    <string>jnya.pas_wa.pas.glif</string>
    <key>jnya_cakra</key>
    <string>jnya_cakra.glif</string>
    <key>jnya_cakra_u.ns</key>
    <string>jnya_cakra_u.ns.glif</string>
    <key>jnya_keret</key>
    <string>jnya_keret.glif</string>
    <key>jnya_pengkal</key>
    <string>jnya_pengkal.glif</string>
    <key>jnya_pengkal_u.ns</key>
    <string>jnya_pengkal_u.ns.glif</string>
    <key>jnya_pengkal_uu.ns</key>
    <string>jnya_pengkal_uu.ns.glif</string>
    <key>jnya_wa.pas</key>
    <string>jnya_wa.pas.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>ka.pas</key>
    <string>ka.pas.glif</string>
    <key>ka.pas.alt</key>
    <string>ka.pas.alt.glif</string>
    <key>ka.pas_cakra</key>
    <string>ka.pas_cakra.glif</string>
    <key>ka.pas_cakra.ns</key>
    <string>ka.pas_cakra.ns.glif</string>
    <key>ka_cakra</key>
    <string>ka_cakra.glif</string>
    <key>ka_cakra_u.ns</key>
    <string>ka_cakra_u.ns.glif</string>
    <key>keret.ns</key>
    <string>keret.ns.glif</string>
    <key>keret.ns.alt</key>
    <string>keret.ns.alt.glif</string>
    <key>kha</key>
    <string>kha.glif</string>
    <key>kha.pas</key>
    <string>kha.pas.glif</string>
    <key>kha_pengkal</key>
    <string>kha_pengkal.glif</string>
    <key>kha_pengkal_u.ns</key>
    <string>kha_pengkal_u.ns.glif</string>
    <key>kha_pengkal_uu.ns</key>
    <string>kha_pengkal_uu.ns.glif</string>
    <key>la</key>
    <string>la.glif</string>
    <key>la.pas</key>
    <string>la.pas.glif</string>
    <key>la.pas.alt</key>
    <string>la.pas.alt.glif</string>
    <key>la.pas1</key>
    <string>la.pas1.glif</string>
    <key>la.pas_cakra</key>
    <string>la.pas_cakra.glif</string>
    <key>la.pas_cakra.ns</key>
    <string>la.pas_cakra.ns.glif</string>
    <key>la_cakra</key>
    <string>la_cakra.glif</string>
    <key>la_cakra_u.ns</key>
    <string>la_cakra_u.ns.glif</string>
    <key>layar.ns</key>
    <string>layar.ns.glif</string>
    <key>ma</key>
    <string>ma.glif</string>
    <key>ma.pas</key>
    <string>ma.pas.glif</string>
    <key>ma.pas.alt</key>
    <string>ma.pas.alt.glif</string>
    <key>ma.pas_keret.ns</key>
    <string>ma.pas_keret.ns.glif</string>
    <key>ma.pas_pengkal</key>
    <string>ma.pas_pengkal.glif</string>
    <key>ma.pas_pengkal_u.ns</key>
    <string>ma.pas_pengkal_u.ns.glif</string>
    <key>ma.pas_pengkal_uu.ns</key>
    <string>ma.pas_pengkal_uu.ns.glif</string>
    <key>ma.pas_wa.pas</key>
    <string>ma.pas_wa.pas.glif</string>
    <key>ma_cakra</key>
    <string>ma_cakra.glif</string>
    <key>ma_cakra_u.ns</key>
    <string>ma_cakra_u.ns.glif</string>
    <key>na</key>
    <string>na.glif</string>
    <key>na.pas</key>
    <string>na.pas.glif</string>
    <key>na.pas.alt</key>
    <string>na.pas.alt.glif</string>
    <key>na.pas_keret.ns</key>
    <string>na.pas_keret.ns.glif</string>
    <key>na.pas_pengkal</key>
    <string>na.pas_pengkal.glif</string>
    <key>na.pas_pengkal_u.ns</key>
    <string>na.pas_pengkal_u.ns.glif</string>
    <key>na.pas_pengkal_uu.ns</key>
    <string>na.pas_pengkal_uu.ns.glif</string>
    <key>na.pas_wa.pas</key>
    <string>na.pas_wa.pas.glif</string>
    <key>na_cakra</key>
    <string>na_cakra.glif</string>
    <key>na_cakra_u.ns</key>
    <string>na_cakra_u.ns.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nga</key>
    <string>nga.glif</string>
    <key>nga.pas</key>
    <string>nga.pas.glif</string>
    <key>nga_cakra</key>
    <string>nga_cakra.glif</string>
    <key>nga_cakra_u.ns</key>
    <string>nga_cakra_u.ns.glif</string>
    <key>ngalelet</key>
    <string>ngalelet.glif</string>
    <key>ngalelet.pas</key>
    <string>ngalelet.pas.glif</string>
    <key>ngaleletras</key>
    <string>ngaleletras.glif</string>
    <key>ngaleletras.pas</key>
    <string>ngaleletras.pas.glif</string>
    <key>nineJV</key>
    <string>nineJ_V_.glif</string>
    <key>nna</key>
    <string>nna.glif</string>
    <key>nna.pas</key>
    <string>nna.pas.glif</string>
    <key>nna_cakra</key>
    <string>nna_cakra.glif</string>
    <key>nna_cakra_u.ns</key>
    <string>nna_cakra_u.ns.glif</string>
    <key>nya</key>
    <string>nya.glif</string>
    <key>nya.pas</key>
    <string>nya.pas.glif</string>
    <key>nya.pas.alt</key>
    <string>nya.pas.alt.glif</string>
    <key>nya.pas.alt1</key>
    <string>nya.pas.alt1.glif</string>
    <key>nya.pas.var</key>
    <string>nya.pas.var.glif</string>
    <key>nya.pas_pengkal</key>
    <string>nya.pas_pengkal.glif</string>
    <key>nya.pas_wa.pas</key>
    <string>nya.pas_wa.pas.glif</string>
    <key>okara</key>
    <string>okara.glif</string>
    <key>okara.pas</key>
    <string>okara.pas.glif</string>
    <key>om_javanese</key>
    <string>om_javanese.glif</string>
    <key>oneJV</key>
    <string>oneJ_V_.glif</string>
    <key>pa</key>
    <string>pa.glif</string>
    <key>pa.pas</key>
    <string>pa.pas.glif</string>
    <key>pa.pas_cakra</key>
    <string>pa.pas_cakra.glif</string>
    <key>pa.pas_cakra_u.ns</key>
    <string>pa.pas_cakra_u.ns.glif</string>
    <key>pa_cakra</key>
    <string>pa_cakra.glif</string>
    <key>pa_cakra_u.ns</key>
    <string>pa_cakra_u.ns.glif</string>
    <key>pacerek</key>
    <string>pacerek.glif</string>
    <key>pacerek.pas</key>
    <string>pacerek.pas.glif</string>
    <key>pangkon</key>
    <string>pangkon.glif</string>
    <key>panyangga.ns</key>
    <string>panyangga.ns.glif</string>
    <key>panyangga.ns_layar.ns</key>
    <string>panyangga.ns_layar.ns.glif</string>
    <key>pengkal</key>
    <string>pengkal.glif</string>
    <key>pengkal.alt1</key>
    <string>pengkal.alt1.glif</string>
    <key>pengkal.alt1_u.ns</key>
    <string>pengkal.alt1_u.ns.glif</string>
    <key>pengkal.alt1_uu.ns</key>
    <string>pengkal.alt1_uu.ns.glif</string>
    <key>pengkal.alt_u.ns</key>
    <string>pengkal.alt_u.ns.glif</string>
    <key>pengkal.alt_uu.ns</key>
    <string>pengkal.alt_uu.ns.glif</string>
    <key>pengkal.pas</key>
    <string>pengkal.pas.glif</string>
    <key>pengkal.pas.alt1</key>
    <string>pengkal.pas.alt1.glif</string>
    <key>pengkal.pas.alt1_u.ns</key>
    <string>pengkal.pas.alt1_u.ns.glif</string>
    <key>pengkal.pas.alt1_uu.ns</key>
    <string>pengkal.pas.alt1_uu.ns.glif</string>
    <key>pengkal.pas.alt_u.ns</key>
    <string>pengkal.pas.alt_u.ns.glif</string>
    <key>pengkal.pas.alt_uu.ns</key>
    <string>pengkal.pas.alt_uu.ns.glif</string>
    <key>pha</key>
    <string>pha.glif</string>
    <key>pha.pas</key>
    <string>pha.pas.glif</string>
    <key>pha.pas.alt</key>
    <string>pha.pas.alt.glif</string>
    <key>pha.pas_cakra</key>
    <string>pha.pas_cakra.glif</string>
    <key>pha.pas_cakra_u.ns</key>
    <string>pha.pas_cakra_u.ns.glif</string>
    <key>pha.pas_keret.ns</key>
    <string>pha.pas_keret.ns.glif</string>
    <key>pha.pas_pengkal</key>
    <string>pha.pas_pengkal.glif</string>
    <key>pha.pas_pengkal_u.ns</key>
    <string>pha.pas_pengkal_u.ns.glif</string>
    <key>pha.pas_pengkal_uu.ns</key>
    <string>pha.pas_pengkal_uu.ns.glif</string>
    <key>pha.pas_wa.pas</key>
    <string>pha.pas_wa.pas.glif</string>
    <key>pha_cakra</key>
    <string>pha_cakra.glif</string>
    <key>pha_cakra_u.ns</key>
    <string>pha_cakra_u.ns.glif</string>
    <key>pha_keret</key>
    <string>pha_keret.glif</string>
    <key>pha_pengkal</key>
    <string>pha_pengkal.glif</string>
    <key>pha_pengkal_u.ns</key>
    <string>pha_pengkal_u.ns.glif</string>
    <key>pha_pengkal_uu.ns</key>
    <string>pha_pengkal_uu.ns.glif</string>
    <key>pha_wa.pas</key>
    <string>pha_wa.pas.glif</string>
    <key>qa</key>
    <string>qa.glif</string>
    <key>qa.pas</key>
    <string>qa.pas.glif</string>
    <key>qa.pas.alt</key>
    <string>qa.pas.alt.glif</string>
    <key>qa.pas_cakra</key>
    <string>qa.pas_cakra.glif</string>
    <key>qa.pas_cakra.ns</key>
    <string>qa.pas_cakra.ns.glif</string>
    <key>qa_cakra</key>
    <string>qa_cakra.glif</string>
    <key>qa_cakra_u.ns</key>
    <string>qa_cakra_u.ns.glif</string>
    <key>ra</key>
    <string>ra.glif</string>
    <key>ra.pas</key>
    <string>ra.pas.glif</string>
    <key>ra_cakra</key>
    <string>ra_cakra.glif</string>
    <key>ra_cakra_u.ns</key>
    <string>ra_cakra_u.ns.glif</string>
    <key>raagung</key>
    <string>raagung.glif</string>
    <key>raagung.pas</key>
    <string>raagung.pas.glif</string>
    <key>sa</key>
    <string>sa.glif</string>
    <key>sa.pas</key>
    <string>sa.pas.glif</string>
    <key>sa.pas_cakra</key>
    <string>sa.pas_cakra.glif</string>
    <key>sa.pas_cakra_u.ns</key>
    <string>sa.pas_cakra_u.ns.glif</string>
    <key>sa_cakra</key>
    <string>sa_cakra.glif</string>
    <key>sa_cakra_u.ns</key>
    <string>sa_cakra_u.ns.glif</string>
    <key>sevenJV</key>
    <string>sevenJ_V_.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.pas</key>
    <string>sha.pas.glif</string>
    <key>sha_cakra</key>
    <string>sha_cakra.glif</string>
    <key>sha_cakra_u.ns</key>
    <string>sha_cakra_u.ns.glif</string>
    <key>sixJV</key>
    <string>sixJ_V_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>ssa</key>
    <string>ssa.glif</string>
    <key>ssa.pas</key>
    <string>ssa.pas.glif</string>
    <key>ssa.pas.var</key>
    <string>ssa.pas.var.glif</string>
    <key>ssa_cakra</key>
    <string>ssa_cakra.glif</string>
    <key>ssa_cakra_u.ns</key>
    <string>ssa_cakra_u.ns.glif</string>
    <key>ta</key>
    <string>ta.glif</string>
    <key>ta.pas</key>
    <string>ta.pas.glif</string>
    <key>ta.pas.alt</key>
    <string>ta.pas.alt.glif</string>
    <key>ta.pas_cakra</key>
    <string>ta.pas_cakra.glif</string>
    <key>ta.pas_cakra.ns</key>
    <string>ta.pas_cakra.ns.glif</string>
    <key>ta_cakra</key>
    <string>ta_cakra.glif</string>
    <key>ta_cakra_u.ns</key>
    <string>ta_cakra_u.ns.glif</string>
    <key>taling</key>
    <string>taling.glif</string>
    <key>tarung</key>
    <string>tarung.glif</string>
    <key>tha</key>
    <string>tha.glif</string>
    <key>tha.pas</key>
    <string>tha.pas.glif</string>
    <key>tha.pas.alt</key>
    <string>tha.pas.alt.glif</string>
    <key>tha.pas_keret.ns</key>
    <string>tha.pas_keret.ns.glif</string>
    <key>tha.pas_pengkal</key>
    <string>tha.pas_pengkal.glif</string>
    <key>tha.pas_pengkal_u.ns</key>
    <string>tha.pas_pengkal_u.ns.glif</string>
    <key>tha.pas_pengkal_uu.ns</key>
    <string>tha.pas_pengkal_uu.ns.glif</string>
    <key>tha.pas_wa.pas</key>
    <string>tha.pas_wa.pas.glif</string>
    <key>tha_cakra</key>
    <string>tha_cakra.glif</string>
    <key>tha_cakra_u.ns</key>
    <string>tha_cakra_u.ns.glif</string>
    <key>threeJV</key>
    <string>threeJ_V_.glif</string>
    <key>tolong</key>
    <string>tolong.glif</string>
    <key>tta</key>
    <string>tta.glif</string>
    <key>tta.pas</key>
    <string>tta.pas.glif</string>
    <key>tta.pas.alt</key>
    <string>tta.pas.alt.glif</string>
    <key>tta.pas_keret.ns</key>
    <string>tta.pas_keret.ns.glif</string>
    <key>tta.pas_pengkal</key>
    <string>tta.pas_pengkal.glif</string>
    <key>tta.pas_pengkal_u.ns</key>
    <string>tta.pas_pengkal_u.ns.glif</string>
    <key>tta.pas_pengkal_uu.ns</key>
    <string>tta.pas_pengkal_uu.ns.glif</string>
    <key>tta.pas_wa.pas</key>
    <string>tta.pas_wa.pas.glif</string>
    <key>tta_cakra</key>
    <string>tta_cakra.glif</string>
    <key>tta_cakra_u.ns</key>
    <string>tta_cakra_u.ns.glif</string>
    <key>ttha</key>
    <string>ttha.glif</string>
    <key>ttha.pas</key>
    <string>ttha.pas.glif</string>
    <key>ttha.pas.alt</key>
    <string>ttha.pas.alt.glif</string>
    <key>ttha.pas_keret.ns</key>
    <string>ttha.pas_keret.ns.glif</string>
    <key>ttha.pas_pengkal</key>
    <string>ttha.pas_pengkal.glif</string>
    <key>ttha.pas_pengkal_u.ns</key>
    <string>ttha.pas_pengkal_u.ns.glif</string>
    <key>ttha.pas_pengkal_uu.ns</key>
    <string>ttha.pas_pengkal_uu.ns.glif</string>
    <key>ttha.pas_wa.pas</key>
    <string>ttha.pas_wa.pas.glif</string>
    <key>ttha_cakra</key>
    <string>ttha_cakra.glif</string>
    <key>ttha_cakra_u.ns</key>
    <string>ttha_cakra_u.ns.glif</string>
    <key>twoJV</key>
    <string>twoJ_V_.glif</string>
    <key>u.ns</key>
    <string>u.ns.glif</string>
    <key>u.ns.pas</key>
    <string>u.ns.pas.glif</string>
    <key>ukara</key>
    <string>ukara.glif</string>
    <key>ukara.pas</key>
    <string>ukara.pas.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uniA9C1</key>
    <string>uniA_9C_1.glif</string>
    <key>uniA9C2</key>
    <string>uniA_9C_2.glif</string>
    <key>uniA9C3</key>
    <string>uniA_9C_3.glif</string>
    <key>uniA9C4</key>
    <string>uniA_9C_4.glif</string>
    <key>uniA9C5</key>
    <string>uniA_9C_5.glif</string>
    <key>uniA9C6</key>
    <string>uniA_9C_6.glif</string>
    <key>uniA9C7</key>
    <string>uniA_9C_7.glif</string>
    <key>uniA9C8</key>
    <string>uniA_9C_8.glif</string>
    <key>uniA9C9</key>
    <string>uniA_9C_9.glif</string>
    <key>uniA9CA</key>
    <string>uniA_9C_A_.glif</string>
    <key>uniA9CB</key>
    <string>uniA_9C_B_.glif</string>
    <key>uniA9CC</key>
    <string>uniA_9C_C_.glif</string>
    <key>uniA9CD</key>
    <string>uniA_9C_D_.glif</string>
    <key>uniA9CF</key>
    <string>uniA_9C_F_.glif</string>
    <key>uniA9DE</key>
    <string>uniA_9D_E_.glif</string>
    <key>uniA9DF</key>
    <string>uniA_9D_F_.glif</string>
    <key>uu.ns</key>
    <string>uu.ns.glif</string>
    <key>uu.ns.pas</key>
    <string>uu.ns.pas.glif</string>
    <key>wa</key>
    <string>wa.glif</string>
    <key>wa.pas</key>
    <string>wa.pas.glif</string>
    <key>wa.pas.alt</key>
    <string>wa.pas.alt.glif</string>
    <key>wa.pas1</key>
    <string>wa.pas1.glif</string>
    <key>wa.pas_keret.ns</key>
    <string>wa.pas_keret.ns.glif</string>
    <key>wa.pas_pengkal</key>
    <string>wa.pas_pengkal.glif</string>
    <key>wa.pas_pengkal_u.ns</key>
    <string>wa.pas_pengkal_u.ns.glif</string>
    <key>wa.pas_pengkal_uu.ns</key>
    <string>wa.pas_pengkal_uu.ns.glif</string>
    <key>wa.pas_wa.pas</key>
    <string>wa.pas_wa.pas.glif</string>
    <key>wa_cakra</key>
    <string>wa_cakra.glif</string>
    <key>wa_cakra_u.ns</key>
    <string>wa_cakra_u.ns.glif</string>
    <key>wignyan</key>
    <string>wignyan.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>ya.pas</key>
    <string>ya.pas.glif</string>
    <key>zeroJV</key>
    <string>zeroJ_V_.glif</string>
  </dict>
</plist>
