<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Anusvara.MGondi</key>
    <string>A_nusvara.M_G_ondi.glif</string>
    <key>Anusvara.alt.MGondi</key>
    <string>A_nusvara.alt.M_G_ondi.glif</string>
    <key>Ba.MGondi</key>
    <string>B_a.M_G_ondi.glif</string>
    <key>BaHalf.MGondi</key>
    <string>B_aH_alf.M_G_ondi.glif</string>
    <key>Bha.MGondi</key>
    <string>B_ha.M_G_ondi.glif</string>
    <key>BhaHalf.MGondi</key>
    <string>B_haH_alf.M_G_ondi.glif</string>
    <key>Ca.MGondi</key>
    <string>C_a.M_G_ondi.glif</string>
    <key>CaHalf.MGondi</key>
    <string>C_aH_alf.M_G_ondi.glif</string>
    <key>Cha.MGondi</key>
    <string>C_ha.M_G_ondi.glif</string>
    <key>ChaHalf.MGondi</key>
    <string>C_haH_alf.M_G_ondi.glif</string>
    <key>Chandra.MGondi</key>
    <string>C_handra.M_G_ondi.glif</string>
    <key>Da.MGondi</key>
    <string>D_a.M_G_ondi.glif</string>
    <key>DaHalf.MGondi</key>
    <string>D_aH_alf.M_G_ondi.glif</string>
    <key>Danda.MGondi</key>
    <string>D_anda.M_G_ondi.glif</string>
    <key>Dda.MGondi</key>
    <string>D_da.M_G_ondi.glif</string>
    <key>DdaHalf.MGondi</key>
    <string>D_daH_alf.M_G_ondi.glif</string>
    <key>Ddha.MGondi</key>
    <string>D_dha.M_G_ondi.glif</string>
    <key>DdhaHalf.MGondi</key>
    <string>D_dhaH_alf.M_G_ondi.glif</string>
    <key>Dha.MGondi</key>
    <string>D_ha.M_G_ondi.glif</string>
    <key>DhaHalf.MGondi</key>
    <string>D_haH_alf.M_G_ondi.glif</string>
    <key>DoubleDanda.MGondi</key>
    <string>D_oubleD_anda.M_G_ondi.glif</string>
    <key>Eight.MGondi</key>
    <string>E_ight.M_G_ondi.glif</string>
    <key>Five.MGondi</key>
    <string>F_ive.M_G_ondi.glif</string>
    <key>Five.alt.MGondi</key>
    <string>F_ive.alt.M_G_ondi.glif</string>
    <key>Four.MGondi</key>
    <string>F_our.M_G_ondi.glif</string>
    <key>Four.alt.MGondi</key>
    <string>F_our.alt.M_G_ondi.glif</string>
    <key>Ga.MGondi</key>
    <string>G_a.M_G_ondi.glif</string>
    <key>GaHalf.MGondi</key>
    <string>G_aH_alf.M_G_ondi.glif</string>
    <key>Gha.MGondi</key>
    <string>G_ha.M_G_ondi.glif</string>
    <key>GhaHalf.MGondi</key>
    <string>G_haH_alf.M_G_ondi.glif</string>
    <key>Ha.MGondi</key>
    <string>H_a.M_G_ondi.glif</string>
    <key>HaHalf.MGondi</key>
    <string>H_aH_alf.M_G_ondi.glif</string>
    <key>Halanta.MGondi</key>
    <string>H_alanta.M_G_ondi.glif</string>
    <key>Ja.MGondi</key>
    <string>J_a.M_G_ondi.glif</string>
    <key>JaHalf.MGondi</key>
    <string>J_aH_alf.M_G_ondi.glif</string>
    <key>Jha.MGondi</key>
    <string>J_ha.M_G_ondi.glif</string>
    <key>JhaHalf.MGondi</key>
    <string>J_haH_alf.M_G_ondi.glif</string>
    <key>Jnya.MGondi</key>
    <string>J_nya.M_G_ondi.glif</string>
    <key>JnyaHalf.MGondi</key>
    <string>J_nyaH_alf.M_G_ondi.glif</string>
    <key>Ka.MGondi</key>
    <string>K_a.M_G_ondi.glif</string>
    <key>KaHalf.MGondi</key>
    <string>K_aH_alf.M_G_ondi.glif</string>
    <key>Kha.MGondi</key>
    <string>K_ha.M_G_ondi.glif</string>
    <key>KhaHalf.MGondi</key>
    <string>K_haH_alf.M_G_ondi.glif</string>
    <key>Kssa.MGondi</key>
    <string>K_ssa.M_G_ondi.glif</string>
    <key>KssaHalf.MGondi</key>
    <string>K_ssaH_alf.M_G_ondi.glif</string>
    <key>La.MGondi</key>
    <string>L_a.M_G_ondi.glif</string>
    <key>LaHalf.MGondi</key>
    <string>L_aH_alf.M_G_ondi.glif</string>
    <key>Lla.MGondi</key>
    <string>L_la.M_G_ondi.glif</string>
    <key>LlaHalf.MGondi</key>
    <string>L_laH_alf.M_G_ondi.glif</string>
    <key>Ma.MGondi</key>
    <string>M_a.M_G_ondi.glif</string>
    <key>MaHalf.MGondi</key>
    <string>M_aH_alf.M_G_ondi.glif</string>
    <key>MatraAa.MGondi</key>
    <string>M_atraA_a.M_G_ondi.glif</string>
    <key>MatraAaAnusvara.MGondi</key>
    <string>M_atraA_aA_nusvara.M_G_ondi.glif</string>
    <key>MatraAaChandra.MGondi</key>
    <string>M_atraA_aC_handra.M_G_ondi.glif</string>
    <key>MatraAaVisarga.MGondi</key>
    <string>M_atraA_aV_isarga.M_G_ondi.glif</string>
    <key>MatraAi.MGondi</key>
    <string>M_atraA_i.M_G_ondi.glif</string>
    <key>MatraAiAnusvara.MGondi</key>
    <string>M_atraA_iA_nusvara.M_G_ondi.glif</string>
    <key>MatraAu.MGondi</key>
    <string>M_atraA_u.M_G_ondi.glif</string>
    <key>MatraAuAnusvara.MGondi</key>
    <string>M_atraA_uA_nusvara.M_G_ondi.glif</string>
    <key>MatraAuVisarga.MGondi</key>
    <string>M_atraA_uV_isarga.M_G_ondi.glif</string>
    <key>MatraE.MGondi</key>
    <string>M_atraE_.M_G_ondi.glif</string>
    <key>MatraEAnusvara.MGondi</key>
    <string>M_atraE_A_nusvara.M_G_ondi.glif</string>
    <key>MatraI.MGondi</key>
    <string>M_atraI_.M_G_ondi.glif</string>
    <key>MatraIAnusvara.MGondi</key>
    <string>M_atraI_A_nusvara.M_G_ondi.glif</string>
    <key>MatraIi.MGondi</key>
    <string>M_atraI_i.M_G_ondi.glif</string>
    <key>MatraIiAnusvara.MGondi</key>
    <string>M_atraI_iA_nusvara.M_G_ondi.glif</string>
    <key>MatraO.MGondi</key>
    <string>M_atraO_.M_G_ondi.glif</string>
    <key>MatraOAnusvara.MGondi</key>
    <string>M_atraO_A_nusvara.M_G_ondi.glif</string>
    <key>MatraOVisarga.MGondi</key>
    <string>M_atraO_V_isarga.M_G_ondi.glif</string>
    <key>MatraU.MGondi</key>
    <string>M_atraU_.M_G_ondi.glif</string>
    <key>MatraUAnusvara.MGondi</key>
    <string>M_atraU_A_nusvara.M_G_ondi.glif</string>
    <key>MatraUu.MGondi</key>
    <string>M_atraU_u.M_G_ondi.glif</string>
    <key>MatraUuAnusvara.MGondi</key>
    <string>M_atraU_uA_nusvara.M_G_ondi.glif</string>
    <key>MatraVocalicR.MGondi</key>
    <string>M_atraV_ocalicR_.M_G_ondi.glif</string>
    <key>Na.MGondi</key>
    <string>N_a.M_G_ondi.glif</string>
    <key>NaHalf.MGondi</key>
    <string>N_aH_alf.M_G_ondi.glif</string>
    <key>Nga.MGondi</key>
    <string>N_ga.M_G_ondi.glif</string>
    <key>NgaHalf.MGondi</key>
    <string>N_gaH_alf.M_G_ondi.glif</string>
    <key>Nine.MGondi</key>
    <string>N_ine.M_G_ondi.glif</string>
    <key>Nna.MGondi</key>
    <string>N_na.M_G_ondi.glif</string>
    <key>NnaHalf.MGondi</key>
    <string>N_naH_alf.M_G_ondi.glif</string>
    <key>Nukta.MGondi</key>
    <string>N_ukta.M_G_ondi.glif</string>
    <key>Nya.MGondi</key>
    <string>N_ya.M_G_ondi.glif</string>
    <key>NyaHalf.MGondi</key>
    <string>N_yaH_alf.M_G_ondi.glif</string>
    <key>One.MGondi</key>
    <string>O_ne.M_G_ondi.glif</string>
    <key>One.alt.MGondi</key>
    <string>O_ne.alt.M_G_ondi.glif</string>
    <key>Pa.MGondi</key>
    <string>P_a.M_G_ondi.glif</string>
    <key>PaHalf.MGondi</key>
    <string>P_aH_alf.M_G_ondi.glif</string>
    <key>Pha.MGondi</key>
    <string>P_ha.M_G_ondi.glif</string>
    <key>PhaHalf.MGondi</key>
    <string>P_haH_alf.M_G_ondi.glif</string>
    <key>Ra.MGondi</key>
    <string>R_a.M_G_ondi.glif</string>
    <key>RaHalf.MGondi</key>
    <string>R_aH_alf.M_G_ondi.glif</string>
    <key>Rakara.MGondi</key>
    <string>R_akara.M_G_ondi.glif</string>
    <key>Repha.alt.MGondi</key>
    <string>R_epha.alt.M_G_ondi.glif</string>
    <key>Sa.MGondi</key>
    <string>S_a.M_G_ondi.glif</string>
    <key>SaHalf.MGondi</key>
    <string>S_aH_alf.M_G_ondi.glif</string>
    <key>Seven.MGondi</key>
    <string>S_even.M_G_ondi.glif</string>
    <key>Sha.MGondi</key>
    <string>S_ha.M_G_ondi.glif</string>
    <key>ShaHalf.MGondi</key>
    <string>S_haH_alf.M_G_ondi.glif</string>
    <key>Six.MGondi</key>
    <string>S_ix.M_G_ondi.glif</string>
    <key>Six.alt.MGondi</key>
    <string>S_ix.alt.M_G_ondi.glif</string>
    <key>Ssa.MGondi</key>
    <string>S_sa.M_G_ondi.glif</string>
    <key>SsaHalf.MGondi</key>
    <string>S_saH_alf.M_G_ondi.glif</string>
    <key>Ta.MGondi</key>
    <string>T_a.M_G_ondi.glif</string>
    <key>TaHalf.MGondi</key>
    <string>T_aH_alf.M_G_ondi.glif</string>
    <key>Tha.MGondi</key>
    <string>T_ha.M_G_ondi.glif</string>
    <key>ThaHalf.MGondi</key>
    <string>T_haH_alf.M_G_ondi.glif</string>
    <key>Three.MGondi</key>
    <string>T_hree.M_G_ondi.glif</string>
    <key>Tra.MGondi</key>
    <string>T_ra.M_G_ondi.glif</string>
    <key>TraHalf.MGondi</key>
    <string>T_raH_alf.M_G_ondi.glif</string>
    <key>Tta.MGondi</key>
    <string>T_ta.M_G_ondi.glif</string>
    <key>TtaHalf.MGondi</key>
    <string>T_taH_alf.M_G_ondi.glif</string>
    <key>Ttha.MGondi</key>
    <string>T_tha.M_G_ondi.glif</string>
    <key>TthaHalf.MGondi</key>
    <string>T_thaH_alf.M_G_ondi.glif</string>
    <key>Two.MGondi</key>
    <string>T_wo.M_G_ondi.glif</string>
    <key>Va.MGondi</key>
    <string>V_a.M_G_ondi.glif</string>
    <key>VaHalf.MGondi</key>
    <string>V_aH_alf.M_G_ondi.glif</string>
    <key>Visarga.MGondi</key>
    <string>V_isarga.M_G_ondi.glif</string>
    <key>Visarga.alt.MGondi</key>
    <string>V_isarga.alt.M_G_ondi.glif</string>
    <key>VowelA.MGondi</key>
    <string>V_owelA_.M_G_ondi.glif</string>
    <key>VowelAa.MGondi</key>
    <string>V_owelA_a.M_G_ondi.glif</string>
    <key>VowelAi.MGondi</key>
    <string>V_owelA_i.M_G_ondi.glif</string>
    <key>VowelAu.MGondi</key>
    <string>V_owelA_u.M_G_ondi.glif</string>
    <key>VowelE.MGondi</key>
    <string>V_owelE_.M_G_ondi.glif</string>
    <key>VowelI.MGondi</key>
    <string>V_owelI_.M_G_ondi.glif</string>
    <key>VowelIi.MGondi</key>
    <string>V_owelI_i.M_G_ondi.glif</string>
    <key>VowelO.MGondi</key>
    <string>V_owelO_.M_G_ondi.glif</string>
    <key>VowelU.MGondi</key>
    <string>V_owelU_.M_G_ondi.glif</string>
    <key>VowelUu.MGondi</key>
    <string>V_owelU_u.M_G_ondi.glif</string>
    <key>Ya.MGondi</key>
    <string>Y_a.M_G_ondi.glif</string>
    <key>YaHalf.MGondi</key>
    <string>Y_aH_alf.M_G_ondi.glif</string>
    <key>Zero.MGondi</key>
    <string>Z_ero.M_G_ondi.glif</string>
    <key>asterisk.MGondi</key>
    <string>asterisk.M_G_ondi.glif</string>
    <key>colon.MGondi</key>
    <string>colon.M_G_ondi.glif</string>
    <key>comma.MGondi</key>
    <string>comma.M_G_ondi.glif</string>
    <key>divide.MGondi</key>
    <string>divide.M_G_ondi.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>ellipsis.MGondi</key>
    <string>ellipsis.M_G_ondi.glif</string>
    <key>equal.MGondi</key>
    <string>equal.M_G_ondi.glif</string>
    <key>exclam.MGondi</key>
    <string>exclam.M_G_ondi.glif</string>
    <key>greater.MGondi</key>
    <string>greater.M_G_ondi.glif</string>
    <key>hyphen.MGondi</key>
    <string>hyphen.M_G_ondi.glif</string>
    <key>less.MGondi</key>
    <string>less.M_G_ondi.glif</string>
    <key>minus.MGondi</key>
    <string>minus.M_G_ondi.glif</string>
    <key>multiply.MGondi</key>
    <string>multiply.M_G_ondi.glif</string>
    <key>parenleft.MGondi</key>
    <string>parenleft.M_G_ondi.glif</string>
    <key>parenright.MGondi</key>
    <string>parenright.M_G_ondi.glif</string>
    <key>percent.MGondi</key>
    <string>percent.M_G_ondi.glif</string>
    <key>period.MGondi</key>
    <string>period.M_G_ondi.glif</string>
    <key>plus.MGondi</key>
    <string>plus.M_G_ondi.glif</string>
    <key>question.MGondi</key>
    <string>question.M_G_ondi.glif</string>
    <key>quotedbl.MGondi</key>
    <string>quotedbl.M_G_ondi.glif</string>
    <key>quotedblleft.MGondi</key>
    <string>quotedblleft.M_G_ondi.glif</string>
    <key>quotedblright.MGondi</key>
    <string>quotedblright.M_G_ondi.glif</string>
    <key>quoteleft.MGondi</key>
    <string>quoteleft.M_G_ondi.glif</string>
    <key>quoteright.MGondi</key>
    <string>quoteright.M_G_ondi.glif</string>
    <key>quotesingle.MGondi</key>
    <string>quotesingle.M_G_ondi.glif</string>
    <key>semicolon.MGondi</key>
    <string>semicolon.M_G_ondi.glif</string>
    <key>slash.MGondi</key>
    <string>slash.M_G_ondi.glif</string>
  </dict>
</plist>
