<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>alefWasla-ar</key>
    <dict>
      <key>kaf-ar.init</key>
      <integer>20</integer>
    </dict>
    <key>alefWavyhamzaabove-ar.isol</key>
    <dict>
      <key>kaf-ar.init</key>
      <integer>20</integer>
    </dict>
    <key>alefWavyhamzabelow-ar</key>
    <dict>
      <key>ain-ar</key>
      <integer>60</integer>
    </dict>
    <key>four-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-55</integer>
    </dict>
    <key>four-persian</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-40</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-30</integer>
    </dict>
    <key>four-persian.urdu</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-50</integer>
      <key>public.kern2.five-ar</key>
      <integer>-60</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-50</integer>
      <key>seven-persian.urdu</key>
      <integer>-70</integer>
      <key>six-persian</key>
      <integer>-10</integer>
    </dict>
    <key>lamVabove_alefWavyhamzabelow-ar</key>
    <dict>
      <key>ain-ar</key>
      <integer>30</integer>
    </dict>
    <key>nine-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-10</integer>
    </dict>
    <key>one-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Madda</key>
    <dict>
      <key>public.kern2.kaf</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Twoabove</key>
    <dict>
      <key>public.kern2.kaf</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Wasla</key>
    <dict>
      <key>public.kern2.kaf</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Wavyhamzaabove</key>
    <dict>
      <key>public.kern2.kaf</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.Wavyhamzabelow</key>
    <dict>
      <key>public.kern2.ain</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.eight-ar</key>
    <dict>
      <key>four-persian</key>
      <integer>-10</integer>
      <key>public.kern2.nine-ar</key>
      <integer>-30</integer>
      <key>public.kern2.seven-ar</key>
      <integer>-50</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-30</integer>
      <key>six-ar</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.five-ar</key>
    <dict>
      <key>public.kern2.seven-ar</key>
      <integer>-40</integer>
      <key>six-ar</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.reh</key>
    <dict>
      <key>lamThreedotsbelow_alef-ar.short</key>
      <integer>30</integer>
      <key>public.kern2.ain</key>
      <integer>60</integer>
      <key>public.kern2.dot_below</key>
      <integer>40</integer>
      <key>public.kern2.jeem</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.seven-ar</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-50</integer>
      <key>public.kern2.five-ar</key>
      <integer>-40</integer>
      <key>public.kern2.nine-ar</key>
      <integer>10</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-30</integer>
      <key>seven-persian.urdu</key>
      <integer>-30</integer>
      <key>six-ar</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.two-ar</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-60</integer>
      <key>public.kern2.five-ar</key>
      <integer>-75</integer>
      <key>public.kern2.nine-ar</key>
      <integer>10</integer>
      <key>public.kern2.zero-ar</key>
      <integer>-65</integer>
      <key>seven-persian.urdu</key>
      <integer>-50</integer>
      <key>six-ar</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.waw</key>
    <dict>
      <key>public.kern2.ain</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.zero-ar</key>
    <dict>
      <key>public.kern2.seven-ar</key>
      <integer>-30</integer>
      <key>six-ar</key>
      <integer>-80</integer>
    </dict>
    <key>seven-persian.urdu</key>
    <dict>
      <key>public.kern2.seven-ar</key>
      <integer>-20</integer>
    </dict>
    <key>six-persian</key>
    <dict>
      <key>public.kern2.eight-ar</key>
      <integer>-30</integer>
    </dict>
  </dict>
</plist>
