<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.ligyat</key>
    <array>
      <string>yab_yat-tifi</string>
      <string>yag_yat-tifi</string>
      <string>yah_yat-tifi</string>
      <string>yar_yat-tifi</string>
      <string>yas_yat-tifi</string>
      <string>yash_yat-tifi</string>
    </array>
    <key>public.kern1.yadh</key>
    <array>
      <string>yan_yadh-tifi</string>
      <string>yadh-tifi</string>
    </array>
    <key>public.kern1.yagTuareg1</key>
    <array>
      <string>yagTuareg1-tifi</string>
      <string>yachHawad-tifi</string>
    </array>
    <key>public.kern1.yak</key>
    <array>
      <string>yak-tifi</string>
      <string>yakhh-tifi</string>
    </array>
    <key>public.kern1.yan_yab</key>
    <array>
      <string>yan_yab-tifi.RTL</string>
      <string>yan_yah-tifi.RTL</string>
    </array>
    <key>public.kern1.yan_yan</key>
    <array>
      <string>yal_yal-tifi</string>
      <string>yal_yan-tifi</string>
      <string>yan_yal-tifi</string>
      <string>yan_yan-tifi</string>
    </array>
    <key>public.kern1.yap</key>
    <array>
      <string>yap-tifi</string>
      <string>yap-tifi.RTL</string>
      <string>yeRhissaIxa-tifi</string>
      <string>yeRhissaIxa-tifi.RTL</string>
      <string>yiRhissaIxa-tifi</string>
      <string>yiRhissaIxa-tifi.RTL</string>
    </array>
    <key>public.kern1.yar</key>
    <array>
      <string>yam_yab-tifi</string>
      <string>yan_yab-tifi</string>
      <string>yan_yah-tifi</string>
      <string>yan_yas-tifi</string>
      <string>yar_yab-tifi</string>
      <string>yar_yaj-tifi</string>
      <string>yar_yad-tifi</string>
      <string>yar_yak-tifi</string>
      <string>yar_yas-tifi</string>
      <string>yas_yan-tifi</string>
      <string>yab_yat-tifi.RTL</string>
      <string>yah_yat-tifi.RTL</string>
      <string>yan_yas-tifi.RTL</string>
      <string>yar_yad-tifi.RTL</string>
      <string>yar_yan-tifi.RTL</string>
      <string>yar_yat-tifi.RTL</string>
      <string>yas_yat-tifi.RTL</string>
      <string>yab-tifi</string>
      <string>yabh-tifi</string>
      <string>yah-tifi</string>
      <string>yar-tifi</string>
      <string>yar_yatTawellemmet-tifi</string>
      <string>yas-tifi</string>
      <string>yas_yatAdrar-tifi</string>
      <string>yas_yatTawellemmet-tifi</string>
      <string>yarr-tifi.RTL</string>
      <string>yas_yatTawellemmet-tifi.RTL</string>
      <string>yas_yatAdrar-tifi.RTL</string>
      <string>yass-tifi.RTL</string>
      <string>yassHawad-tifi</string>
      <string>yassAPT-tifi</string>
      <string>yarrBerber-tifi</string>
      <string>yeyAPT-tifi</string>
      <string>yabBerber-tifi</string>
    </array>
    <key>public.kern1.yashAdrar</key>
    <array>
      <string>yayRhissaIxa-tifi</string>
      <string>yashAdrar-tifi</string>
      <string>yayRhissaIxa-tifi.RTL</string>
    </array>
    <key>public.kern1.yat</key>
    <array>
      <string>yat-tifi</string>
      <string>yattHawad-tifi</string>
    </array>
    <key>public.kern1.yath</key>
    <array>
      <string>yakh-tifi</string>
      <string>yal_yatTawellemmet-tifi</string>
      <string>yath-tifi</string>
      <string>yazzBerber-tifi</string>
      <string>yeyHawad-tifi</string>
      <string>yaHawad-tifi</string>
      <string>yuHawad-tifi</string>
    </array>
    <key>public.kern1.yaz</key>
    <array>
      <string>yaz-tifi</string>
      <string>yazzHawad-tifi</string>
    </array>
    <key>public.kern1.yazT</key>
    <array>
      <string>yazTawellemmet-tifi</string>
      <string>yazzSIL-tifi</string>
    </array>
    <key>public.kern1.yazh</key>
    <array>
      <string>yazh-tifi</string>
      <string>yafAdrar-tifi</string>
    </array>
    <key>public.kern1.yiHawad</key>
    <array>
      <string>yayHawad-tifi</string>
      <string>yiHawad-tifi</string>
      <string>yeHawad-tifi</string>
      <string>yiHawad-tifi.RTL</string>
      <string>yeHawad-tifi.RTL</string>
      <string>yayHawad-tifi.RTL</string>
    </array>
    <key>public.kern2.ligyat</key>
    <array>
      <string>yab_yat-tifi.RTL</string>
      <string>yag_yat-tifi.RTL</string>
      <string>yah_yat-tifi.RTL</string>
      <string>yar_yat-tifi.RTL</string>
      <string>yas_yat-tifi.RTL</string>
      <string>yash_yat-tifi.RTL</string>
    </array>
    <key>public.kern2.yadh</key>
    <array>
      <string>yan_yadh-tifi</string>
      <string>yadh-tifi</string>
    </array>
    <key>public.kern2.yagTuareg1</key>
    <array>
      <string>yagTuareg1-tifi</string>
      <string>yachHawad-tifi</string>
    </array>
    <key>public.kern2.yak</key>
    <array>
      <string>yak-tifi.RTL</string>
      <string>yakhh-tifi.RTL</string>
    </array>
    <key>public.kern2.yan_yab</key>
    <array>
      <string>yan_yab-tifi</string>
      <string>yan_yah-tifi</string>
    </array>
    <key>public.kern2.yan_yan</key>
    <array>
      <string>yal_yal-tifi.RTL</string>
      <string>yal_yan-tifi.RTL</string>
      <string>yan_yal-tifi.RTL</string>
      <string>yan_yan-tifi.RTL</string>
    </array>
    <key>public.kern2.yap</key>
    <array>
      <string>yap-tifi</string>
      <string>yap-tifi.RTL</string>
      <string>yeRhissaIxa-tifi</string>
      <string>yeRhissaIxa-tifi.RTL</string>
      <string>yiRhissaIxa-tifi</string>
      <string>yiRhissaIxa-tifi.RTL</string>
    </array>
    <key>public.kern2.yar</key>
    <array>
      <string>yab_yat-tifi</string>
      <string>yah_yat-tifi</string>
      <string>yam_yab-tifi</string>
      <string>yan_yas-tifi</string>
      <string>yar_yab-tifi</string>
      <string>yar_yaj-tifi</string>
      <string>yar_yad-tifi</string>
      <string>yar_yak-tifi</string>
      <string>yar_yan-tifi</string>
      <string>yar_yas-tifi</string>
      <string>yar_yat-tifi</string>
      <string>yas_yan-tifi</string>
      <string>yas_yat-tifi</string>
      <string>yan_yab-tifi.RTL</string>
      <string>yan_yah-tifi.RTL</string>
      <string>yan_yas-tifi.RTL</string>
      <string>yar_yad-tifi.RTL</string>
      <string>yab-tifi</string>
      <string>yabh-tifi</string>
      <string>yah-tifi</string>
      <string>yar-tifi</string>
      <string>yar_yatTawellemmet-tifi</string>
      <string>yarr-tifi</string>
      <string>yas-tifi</string>
      <string>yas_yatAdrar-tifi</string>
      <string>yas_yatTawellemmet-tifi</string>
      <string>yass-tifi</string>
      <string>yas_yatTawellemmet-tifi.RTL</string>
      <string>yas_yatAdrar-tifi.RTL</string>
      <string>yassHawad-tifi</string>
      <string>yassAPT-tifi</string>
      <string>yarrBerber-tifi</string>
      <string>yabBerber-tifi</string>
      <string>yeyAPT-tifi.RTL</string>
    </array>
    <key>public.kern2.yashAdrar</key>
    <array>
      <string>yayRhissaIxa-tifi</string>
      <string>yashAdrar-tifi</string>
      <string>yayRhissaIxa-tifi.RTL</string>
    </array>
    <key>public.kern2.yat</key>
    <array>
      <string>yat-tifi</string>
      <string>yattHawad-tifi</string>
    </array>
    <key>public.kern2.yath</key>
    <array>
      <string>yakh-tifi</string>
      <string>yal_yatTawellemmet-tifi</string>
      <string>yath-tifi</string>
      <string>yazzBerber-tifi</string>
      <string>yeyHawad-tifi</string>
      <string>yaHawad-tifi</string>
      <string>yuHawad-tifi</string>
    </array>
    <key>public.kern2.yaz</key>
    <array>
      <string>yaz-tifi</string>
      <string>yazzHawad-tifi</string>
    </array>
    <key>public.kern2.yazT</key>
    <array>
      <string>yazTawellemmet-tifi.RTL</string>
      <string>yazzSIL-tifi.RTL</string>
    </array>
    <key>public.kern2.yazh</key>
    <array>
      <string>yazh-tifi</string>
      <string>yafAdrar-tifi</string>
    </array>
    <key>public.kern2.yiHawad</key>
    <array>
      <string>yayHawad-tifi</string>
      <string>yiHawad-tifi</string>
      <string>yeHawad-tifi</string>
      <string>yiHawad-tifi.RTL</string>
      <string>yeHawad-tifi.RTL</string>
      <string>yayHawad-tifi.RTL</string>
    </array>
  </dict>
</plist>
