<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.TTFStems</key>
    <array>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:0</string>
        <key>width</key>
        <integer>79</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:1</string>
        <key>width</key>
        <integer>82</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:2</string>
        <key>width</key>
        <integer>89</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:3</string>
        <key>width</key>
        <integer>95</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:4</string>
        <key>width</key>
        <integer>79</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:5</string>
        <key>width</key>
        <integer>82</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:6</string>
        <key>width</key>
        <integer>75</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>1</integer>
        <key>name</key>
        <string>Stem:7</string>
        <key>width</key>
        <integer>64</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:8</string>
        <key>width</key>
        <integer>89</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:9</string>
        <key>width</key>
        <integer>95</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:10</string>
        <key>width</key>
        <integer>87</integer>
      </dict>
      <dict>
        <key>horizontal</key>
        <integer>0</integer>
        <key>name</key>
        <string>Stem:11</string>
        <key>width</key>
        <integer>72</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.TTFZones</key>
    <array>
      <dict>
        <key>name</key>
        <string>ascender</string>
        <key>position</key>
        <integer>1069</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>capHeight</string>
        <key>position</key>
        <integer>714</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>xHeight</string>
        <key>position</key>
        <integer>536</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>baseline</string>
        <key>position</key>
        <integer>0</integer>
        <key>size</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>descender</string>
        <key>position</key>
        <integer>-293</integer>
        <key>size</key>
        <integer>-15</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>acutecomb</string>
      <string>brevecomb</string>
      <string>caron</string>
      <string>circumflexcomb</string>
      <string>consonantjoiner-tifi</string>
      <string>diaeresis</string>
      <string>dotaccentcomb</string>
      <string>dotbelowcomb</string>
      <string>dottedCircle</string>
      <string>hookabovecomb</string>
      <string>labialization-tifi</string>
      <string>labializationBerber-tifi</string>
      <string>macronbelowcomb</string>
      <string>macroncomb</string>
      <string>righttoleftoverride</string>
      <string>separator-tifi</string>
      <string>separator-tifi.RTL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>ya-tifi</string>
      <string>yaBerber-tifi</string>
      <string>yaHawad-tifi</string>
      <string>yaSIL-tifi</string>
      <string>yaa-tifi</string>
      <string>yaaBerber-tifi</string>
      <string>yab-tifi</string>
      <string>yabBerber-tifi</string>
      <string>yab_yat-tifi</string>
      <string>yab_yat-tifi.RTL</string>
      <string>yabh-tifi</string>
      <string>yach-tifi</string>
      <string>yach-tifi.RTL</string>
      <string>yachAPT-tifi</string>
      <string>yachBerber-tifi</string>
      <string>yachBerber-tifi.RTL</string>
      <string>yachHawad-tifi</string>
      <string>yad-tifi</string>
      <string>yadAPT-tifi</string>
      <string>yadAPT-tifi.RTL</string>
      <string>yadTuareg-tifi</string>
      <string>yadd-tifi</string>
      <string>yadd-tifi.RTL</string>
      <string>yaddAPT-tifi</string>
      <string>yaddAPT-tifi.RTL</string>
      <string>yaddh-tifi</string>
      <string>yaddh-tifi.RTL</string>
      <string>yadh-tifi</string>
      <string>yaf-tifi</string>
      <string>yafAdrar-tifi</string>
      <string>yafBerber-tifi</string>
      <string>yafTawellemmet-tifi</string>
      <string>yaf_yat-tifi</string>
      <string>yaf_yatAdrar-tifi</string>
      <string>yaf_yatAhaggar-tifi</string>
      <string>yaf_yatTawellemmet-tifi</string>
      <string>yag-tifi</string>
      <string>yagTuareg1-tifi</string>
      <string>yagTuareg2-tifi</string>
      <string>yag_yat-tifi</string>
      <string>yag_yat-tifi.RTL</string>
      <string>yagh-tifi</string>
      <string>yaghAyer-tifi</string>
      <string>yaghTawellemmet-tifi</string>
      <string>yaghTuareg-tifi</string>
      <string>yagh_yat-tifi</string>
      <string>yaghh-tifi</string>
      <string>yaghhBerber-tifi</string>
      <string>yaghhBerber-tifi.RTL</string>
      <string>yagnTuareg-tifi</string>
      <string>yah-tifi</string>
      <string>yahBerberacademy-tifi</string>
      <string>yahBerberacademy-tifi.RTL</string>
      <string>yahTawellemmet-tifi</string>
      <string>yahTuareg-tifi</string>
      <string>yah_yat-tifi</string>
      <string>yah_yat-tifi.RTL</string>
      <string>yahh-tifi</string>
      <string>yahh-tifi.RTL</string>
      <string>yaj-tifi</string>
      <string>yajBerberacademy-tifi</string>
      <string>yak-tifi</string>
      <string>yak-tifi.RTL</string>
      <string>yakBerber-tifi</string>
      <string>yakBerber-tifi.RTL</string>
      <string>yakTuareg-tifi</string>
      <string>yakTuareg-tifi.RTL</string>
      <string>yakh-tifi</string>
      <string>yakhTawellemmet-tifi</string>
      <string>yakhTuareg-tifi</string>
      <string>yakhh-tifi</string>
      <string>yakhh-tifi.RTL</string>
      <string>yal-tifi</string>
      <string>yal-tifi.RTL</string>
      <string>yalBerber-tifi</string>
      <string>yal_yal-tifi</string>
      <string>yal_yal-tifi.RTL</string>
      <string>yal_yan-tifi</string>
      <string>yal_yan-tifi.RTL</string>
      <string>yal_yat-tifi</string>
      <string>yal_yatTawellemmet-tifi</string>
      <string>yam-tifi</string>
      <string>yam-tifi.RTL</string>
      <string>yam_yab-tifi</string>
      <string>yam_yah-tifi</string>
      <string>yam_yah-tifi.RTL</string>
      <string>yam_yas-tifi</string>
      <string>yam_yas-tifi.RTL</string>
      <string>yam_yat-tifi</string>
      <string>yam_yat-tifi.RTL</string>
      <string>yam_yatAdrar-tifi</string>
      <string>yam_yatAdrar-tifi.RTL</string>
      <string>yam_yatSIL-tifi</string>
      <string>yam_yatSIL-tifi.RTL</string>
      <string>yan-tifi</string>
      <string>yan_yab-tifi</string>
      <string>yan_yab-tifi.RTL</string>
      <string>yan_yabTuareg-tifi</string>
      <string>yan_yach-tifi</string>
      <string>yan_yad-tifi</string>
      <string>yan_yadAdrar-tifi</string>
      <string>yan_yadd-tifi</string>
      <string>yan_yadd-tifi.RTL</string>
      <string>yan_yadh-tifi</string>
      <string>yan_yaf-tifi</string>
      <string>yan_yafAdrar-tifi</string>
      <string>yan_yafTawellemmet-tifi</string>
      <string>yan_yag-tifi</string>
      <string>yan_yagTawellemmet-tifi</string>
      <string>yan_yaghTuareg-tifi</string>
      <string>yan_yaghTuareg-tifi.RTL</string>
      <string>yan_yah-tifi</string>
      <string>yan_yah-tifi.RTL</string>
      <string>yan_yaj-tifi</string>
      <string>yan_yaj-tifi.RTL</string>
      <string>yan_yakAPT-tifi</string>
      <string>yan_yakTuareg-tifi</string>
      <string>yan_yal-tifi</string>
      <string>yan_yal-tifi.RTL</string>
      <string>yan_yan-tifi</string>
      <string>yan_yan-tifi.RTL</string>
      <string>yan_yas-tifi</string>
      <string>yan_yas-tifi.RTL</string>
      <string>yan_yat-tifi</string>
      <string>yan_yatAPT-tifi</string>
      <string>yan_yatTawellemmet-tifi</string>
      <string>yan_yatTawellemmet-tifi.RTL</string>
      <string>yan_yaz-tifi</string>
      <string>yan_yazTawellemmet-tifi</string>
      <string>yan_yazTawellemmet-tifi.RTL</string>
      <string>yan_yazhTuareg-tifi</string>
      <string>yangTuareg-tifi</string>
      <string>yap-tifi</string>
      <string>yap-tifi.RTL</string>
      <string>yapAPT-tifi</string>
      <string>yapAPT-tifi.RTL</string>
      <string>yaq-tifi</string>
      <string>yaq-tifi.RTL</string>
      <string>yaqBerber-tifi</string>
      <string>yaqHawad-tifi</string>
      <string>yaqTuareg-tifi</string>
      <string>yar-tifi</string>
      <string>yar_yab-tifi</string>
      <string>yar_yad-tifi</string>
      <string>yar_yad-tifi.RTL</string>
      <string>yar_yaj-tifi</string>
      <string>yar_yak-tifi</string>
      <string>yar_yan-tifi</string>
      <string>yar_yan-tifi.RTL</string>
      <string>yar_yas-tifi</string>
      <string>yar_yat-tifi</string>
      <string>yar_yat-tifi.RTL</string>
      <string>yar_yatTawellemmet-tifi</string>
      <string>yarr-tifi</string>
      <string>yarr-tifi.RTL</string>
      <string>yarrBerber-tifi</string>
      <string>yas-tifi</string>
      <string>yasBerber-tifi</string>
      <string>yasBerber-tifi.RTL</string>
      <string>yas_yan-tifi</string>
      <string>yas_yat-tifi</string>
      <string>yas_yat-tifi.RTL</string>
      <string>yas_yatAdrar-tifi</string>
      <string>yas_yatAdrar-tifi.RTL</string>
      <string>yas_yatTawellemmet-tifi</string>
      <string>yas_yatTawellemmet-tifi.RTL</string>
      <string>yash-tifi</string>
      <string>yash-tifi.RTL</string>
      <string>yashAdrar-tifi</string>
      <string>yashTawellemmet-tifi</string>
      <string>yashTawellemmet-tifi.RTL</string>
      <string>yash_yat-tifi</string>
      <string>yash_yat-tifi.RTL</string>
      <string>yass-tifi</string>
      <string>yass-tifi.RTL</string>
      <string>yassAPT-tifi</string>
      <string>yassHawad-tifi</string>
      <string>yat-tifi</string>
      <string>yat_yas-tifi</string>
      <string>yat_yas-tifi.RTL</string>
      <string>yath-tifi</string>
      <string>yatt-tifi</string>
      <string>yatt-tifi.RTL</string>
      <string>yattAPT-tifi</string>
      <string>yattBerber-tifi</string>
      <string>yattBerber-tifi.RTL</string>
      <string>yattHawad-tifi</string>
      <string>yav-tifi</string>
      <string>yavAPT-tifi</string>
      <string>yaw-tifi</string>
      <string>yawAPT-tifi</string>
      <string>yawBerber-tifi</string>
      <string>yaw_yat-tifi</string>
      <string>yaw_yat-tifi.RTL</string>
      <string>yay-tifi</string>
      <string>yay-tifi.RTL</string>
      <string>yayBerber-tifi</string>
      <string>yayHawad-tifi</string>
      <string>yayHawad-tifi.RTL</string>
      <string>yayRhissaIxa-tifi</string>
      <string>yayRhissaIxa-tifi.RTL</string>
      <string>yay_yat-tifi</string>
      <string>yay_yat-tifi.RTL</string>
      <string>yaz-tifi</string>
      <string>yazBerber-tifi</string>
      <string>yazTawellemmet-tifi</string>
      <string>yazTawellemmet-tifi.RTL</string>
      <string>yazh-tifi</string>
      <string>yazhAhaggar-tifi</string>
      <string>yazhTuareg-tifi</string>
      <string>yazhTuareg_yat-tifi</string>
      <string>yazz-tifi</string>
      <string>yazzAPT-tifi</string>
      <string>yazzBerber-tifi</string>
      <string>yazzHawad-tifi</string>
      <string>yazzSIL-tifi</string>
      <string>yazzSIL-tifi.RTL</string>
      <string>yazz_yat-tifi</string>
      <string>ye-tifi</string>
      <string>ye-tifi.RTL</string>
      <string>yeHawad-tifi</string>
      <string>yeHawad-tifi.RTL</string>
      <string>yeRhissaIxa-tifi</string>
      <string>yeRhissaIxa-tifi.RTL</string>
      <string>yeTawellemmet-tifi</string>
      <string>yeTawellemmet-tifi.RTL</string>
      <string>yey-tifi</string>
      <string>yeyAPT-tifi</string>
      <string>yeyAPT-tifi.RTL</string>
      <string>yeyBerber-tifi</string>
      <string>yeyHawad-tifi</string>
      <string>yeyTawellemmet-tifi</string>
      <string>yi-tifi</string>
      <string>yi-tifi.RTL</string>
      <string>yiBerber-tifi</string>
      <string>yiBerber-tifi.RTL</string>
      <string>yiHawad-tifi</string>
      <string>yiHawad-tifi.RTL</string>
      <string>yiRhissaIxa-tifi</string>
      <string>yiRhissaIxa-tifi.RTL</string>
      <string>yiTawellemmet-tifi</string>
      <string>yiTawellemmet-tifi.RTL</string>
      <string>yo-tifi</string>
      <string>yoTawellemmet-tifi</string>
      <string>yu-tifi</string>
      <string>yuAPT-tifi</string>
      <string>yuBerber-tifi</string>
      <string>yuHawad-tifi</string>
      <string>yuTawellemmet-tifi</string>
      <string>yu_yat-tifi</string>
      <string>yu_yat-tifi.RTL</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>consonantjoiner-tifi</key>
      <string>uni2D7F</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>labialization-tifi</key>
      <string>uni2D6F</string>
      <key>labializationBerber-tifi</key>
      <string>labializationBerbertifi</string>
      <key>macronbelowcomb</key>
      <string>uni0331</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>righttoleftoverride</key>
      <string>uni202E</string>
      <key>separator-tifi</key>
      <string>uni2D70</string>
      <key>separator-tifi.RTL</key>
      <string>uni2D70.RTL</string>
      <key>ya-tifi</key>
      <string>uni2D30</string>
      <key>yaBerber-tifi</key>
      <string>yaBerbertifi</string>
      <key>yaHawad-tifi</key>
      <string>yaHawadtifi</string>
      <key>yaSIL-tifi</key>
      <string>yaSILtifi</string>
      <key>yaa-tifi</key>
      <string>uni2D44</string>
      <key>yaaBerber-tifi</key>
      <string>yaaBerbertifi</string>
      <key>yab-tifi</key>
      <string>uni2D31</string>
      <key>yabBerber-tifi</key>
      <string>yabBerbertifi</string>
      <key>yab_yat-tifi</key>
      <string>yab_yattifi</string>
      <key>yab_yat-tifi.RTL</key>
      <string>yab_yattifi.RTL</string>
      <key>yabh-tifi</key>
      <string>uni2D32</string>
      <key>yach-tifi</key>
      <string>uni2D5E</string>
      <key>yach-tifi.RTL</key>
      <string>uni2D5E.RTL</string>
      <key>yachAPT-tifi</key>
      <string>yachAPTtifi</string>
      <key>yachBerber-tifi</key>
      <string>yachBerbertifi</string>
      <key>yachBerber-tifi.RTL</key>
      <string>yachBerbertifi.RTL</string>
      <key>yachHawad-tifi</key>
      <string>yachHawadtifi</string>
      <key>yad-tifi</key>
      <string>uni2D37</string>
      <key>yadAPT-tifi</key>
      <string>yadAPTtifi</string>
      <key>yadAPT-tifi.RTL</key>
      <string>yadAPTtifi.RTL</string>
      <key>yadTuareg-tifi</key>
      <string>yadTuaregtifi</string>
      <key>yadd-tifi</key>
      <string>uni2D39</string>
      <key>yadd-tifi.RTL</key>
      <string>uni2D39.RTL</string>
      <key>yaddAPT-tifi</key>
      <string>yaddAPTtifi</string>
      <key>yaddAPT-tifi.RTL</key>
      <string>yaddAPTtifi.RTL</string>
      <key>yaddh-tifi</key>
      <string>uni2D3A</string>
      <key>yaddh-tifi.RTL</key>
      <string>uni2D3A.RTL</string>
      <key>yadh-tifi</key>
      <string>uni2D38</string>
      <key>yaf-tifi</key>
      <string>uni2D3C</string>
      <key>yafAdrar-tifi</key>
      <string>yafAdrartifi</string>
      <key>yafBerber-tifi</key>
      <string>yafBerbertifi</string>
      <key>yafTawellemmet-tifi</key>
      <string>yafTawellemmettifi</string>
      <key>yaf_yat-tifi</key>
      <string>yaf_yattifi</string>
      <key>yaf_yatAdrar-tifi</key>
      <string>yaf_yatAdrartifi</string>
      <key>yaf_yatAhaggar-tifi</key>
      <string>yaf_yatAhaggartifi</string>
      <key>yaf_yatTawellemmet-tifi</key>
      <string>yaf_yatTawellemmettifi</string>
      <key>yag-tifi</key>
      <string>uni2D33</string>
      <key>yagTuareg1-tifi</key>
      <string>yagTuareg1tifi</string>
      <key>yagTuareg2-tifi</key>
      <string>yagTuareg2tifi</string>
      <key>yag_yat-tifi</key>
      <string>yag_yattifi</string>
      <key>yag_yat-tifi.RTL</key>
      <string>yag_yattifi.RTL</string>
      <key>yagh-tifi</key>
      <string>uni2D56</string>
      <key>yaghAyer-tifi</key>
      <string>uni2D58</string>
      <key>yaghTawellemmet-tifi</key>
      <string>yaghTawellemmettifi</string>
      <key>yaghTuareg-tifi</key>
      <string>uni2D57</string>
      <key>yagh_yat-tifi</key>
      <string>yagh_yattifi</string>
      <key>yaghh-tifi</key>
      <string>uni2D34</string>
      <key>yaghhBerber-tifi</key>
      <string>yaghhBerbertifi</string>
      <key>yaghhBerber-tifi.RTL</key>
      <string>yaghhBerbertifi.RTL</string>
      <key>yagnTuareg-tifi</key>
      <string>uni2D50</string>
      <key>yah-tifi</key>
      <string>uni2D40</string>
      <key>yahBerberacademy-tifi</key>
      <string>uni2D41</string>
      <key>yahBerberacademy-tifi.RTL</key>
      <string>uni2D41.RTL</string>
      <key>yahTawellemmet-tifi</key>
      <string>yahTawellemmettifi</string>
      <key>yahTuareg-tifi</key>
      <string>uni2D42</string>
      <key>yah_yat-tifi</key>
      <string>yah_yattifi</string>
      <key>yah_yat-tifi.RTL</key>
      <string>yah_yattifi.RTL</string>
      <key>yahh-tifi</key>
      <string>uni2D43</string>
      <key>yahh-tifi.RTL</key>
      <string>uni2D43.RTL</string>
      <key>yaj-tifi</key>
      <string>uni2D36</string>
      <key>yajBerberacademy-tifi</key>
      <string>uni2D35</string>
      <key>yak-tifi</key>
      <string>uni2D3D</string>
      <key>yak-tifi.RTL</key>
      <string>uni2D3D.RTL</string>
      <key>yakBerber-tifi</key>
      <string>yakBerbertifi</string>
      <key>yakBerber-tifi.RTL</key>
      <string>yakBerbertifi.RTL</string>
      <key>yakTuareg-tifi</key>
      <string>uni2D3E</string>
      <key>yakTuareg-tifi.RTL</key>
      <string>uni2D3E.RTL</string>
      <key>yakh-tifi</key>
      <string>uni2D45</string>
      <key>yakhTawellemmet-tifi</key>
      <string>yakhTawellemmettifi</string>
      <key>yakhTuareg-tifi</key>
      <string>uni2D46</string>
      <key>yakhh-tifi</key>
      <string>uni2D3F</string>
      <key>yakhh-tifi.RTL</key>
      <string>uni2D3F.RTL</string>
      <key>yal-tifi</key>
      <string>uni2D4D</string>
      <key>yal-tifi.RTL</key>
      <string>uni2D4D.RTL</string>
      <key>yalBerber-tifi</key>
      <string>yalBerbertifi</string>
      <key>yal_yal-tifi</key>
      <string>yal_yaltifi</string>
      <key>yal_yal-tifi.RTL</key>
      <string>yal_yaltifi.RTL</string>
      <key>yal_yan-tifi</key>
      <string>yal_yantifi</string>
      <key>yal_yan-tifi.RTL</key>
      <string>yal_yantifi.RTL</string>
      <key>yal_yat-tifi</key>
      <string>yal_yattifi</string>
      <key>yal_yatTawellemmet-tifi</key>
      <string>yal_yatTawellemmettifi</string>
      <key>yam-tifi</key>
      <string>uni2D4E</string>
      <key>yam-tifi.RTL</key>
      <string>uni2D4E.RTL</string>
      <key>yam_yab-tifi</key>
      <string>yam_yabtifi</string>
      <key>yam_yah-tifi</key>
      <string>yam_yahtifi</string>
      <key>yam_yah-tifi.RTL</key>
      <string>yam_yahtifi.RTL</string>
      <key>yam_yas-tifi</key>
      <string>yam_yastifi</string>
      <key>yam_yas-tifi.RTL</key>
      <string>yam_yastifi.RTL</string>
      <key>yam_yat-tifi</key>
      <string>yam_yattifi</string>
      <key>yam_yat-tifi.RTL</key>
      <string>yam_yattifi.RTL</string>
      <key>yam_yatAdrar-tifi</key>
      <string>yam_yatAdrartifi</string>
      <key>yam_yatAdrar-tifi.RTL</key>
      <string>yam_yatAdrartifi.RTL</string>
      <key>yam_yatSIL-tifi</key>
      <string>yam_yatSILtifi</string>
      <key>yam_yatSIL-tifi.RTL</key>
      <string>yam_yatSILtifi.RTL</string>
      <key>yan-tifi</key>
      <string>uni2D4F</string>
      <key>yan_yab-tifi</key>
      <string>yan_yabtifi</string>
      <key>yan_yab-tifi.RTL</key>
      <string>yan_yabtifi.RTL</string>
      <key>yan_yabTuareg-tifi</key>
      <string>yan_yabTuaregtifi</string>
      <key>yan_yach-tifi</key>
      <string>yan_yachtifi</string>
      <key>yan_yad-tifi</key>
      <string>yan_yadtifi</string>
      <key>yan_yadAdrar-tifi</key>
      <string>yan_yadAdrartifi</string>
      <key>yan_yadd-tifi</key>
      <string>yan_yaddtifi</string>
      <key>yan_yadd-tifi.RTL</key>
      <string>yan_yaddtifi.RTL</string>
      <key>yan_yadh-tifi</key>
      <string>yan_yadhtifi</string>
      <key>yan_yaf-tifi</key>
      <string>yan_yaftifi</string>
      <key>yan_yafAdrar-tifi</key>
      <string>yan_yafAdrartifi</string>
      <key>yan_yafTawellemmet-tifi</key>
      <string>yan_yafTawellemmettifi</string>
      <key>yan_yag-tifi</key>
      <string>yan_yagtifi</string>
      <key>yan_yagTawellemmet-tifi</key>
      <string>yan_yagTawellemmettifi</string>
      <key>yan_yaghTuareg-tifi</key>
      <string>yan_yaghTuaregtifi</string>
      <key>yan_yaghTuareg-tifi.RTL</key>
      <string>yan_yaghTuaregtifi.RTL</string>
      <key>yan_yah-tifi</key>
      <string>yan_yahtifi</string>
      <key>yan_yah-tifi.RTL</key>
      <string>yan_yahtifi.RTL</string>
      <key>yan_yaj-tifi</key>
      <string>yan_yajtifi</string>
      <key>yan_yaj-tifi.RTL</key>
      <string>yan_yajtifi.RTL</string>
      <key>yan_yakAPT-tifi</key>
      <string>yan_yakAPTtifi</string>
      <key>yan_yakTuareg-tifi</key>
      <string>yan_yakTuaregtifi</string>
      <key>yan_yal-tifi</key>
      <string>yan_yaltifi</string>
      <key>yan_yal-tifi.RTL</key>
      <string>yan_yaltifi.RTL</string>
      <key>yan_yan-tifi</key>
      <string>yan_yantifi</string>
      <key>yan_yan-tifi.RTL</key>
      <string>yan_yantifi.RTL</string>
      <key>yan_yas-tifi</key>
      <string>yan_yastifi</string>
      <key>yan_yas-tifi.RTL</key>
      <string>yan_yastifi.RTL</string>
      <key>yan_yat-tifi</key>
      <string>yan_yattifi</string>
      <key>yan_yatAPT-tifi</key>
      <string>yan_yatAPTtifi</string>
      <key>yan_yatTawellemmet-tifi</key>
      <string>yan_yatTawellemmettifi</string>
      <key>yan_yatTawellemmet-tifi.RTL</key>
      <string>yan_yatTawellemmettifi.RTL</string>
      <key>yan_yaz-tifi</key>
      <string>yan_yaztifi</string>
      <key>yan_yazTawellemmet-tifi</key>
      <string>yan_yazTawellemmettifi</string>
      <key>yan_yazTawellemmet-tifi.RTL</key>
      <string>yan_yazTawellemmettifi.RTL</string>
      <key>yan_yazhTuareg-tifi</key>
      <string>yan_yazhTuaregtifi</string>
      <key>yangTuareg-tifi</key>
      <string>uni2D51</string>
      <key>yap-tifi</key>
      <string>uni2D52</string>
      <key>yap-tifi.RTL</key>
      <string>uni2D52.RTL</string>
      <key>yapAPT-tifi</key>
      <string>yapAPTtifi</string>
      <key>yapAPT-tifi.RTL</key>
      <string>yapAPTtifi.RTL</string>
      <key>yaq-tifi</key>
      <string>uni2D47</string>
      <key>yaq-tifi.RTL</key>
      <string>uni2D47.RTL</string>
      <key>yaqBerber-tifi</key>
      <string>yaqBerbertifi</string>
      <key>yaqHawad-tifi</key>
      <string>yaqHawadtifi</string>
      <key>yaqTuareg-tifi</key>
      <string>uni2D48</string>
      <key>yar-tifi</key>
      <string>uni2D54</string>
      <key>yar_yab-tifi</key>
      <string>yar_yabtifi</string>
      <key>yar_yad-tifi</key>
      <string>yar_yadtifi</string>
      <key>yar_yad-tifi.RTL</key>
      <string>yar_yadtifi.RTL</string>
      <key>yar_yaj-tifi</key>
      <string>yar_yajtifi</string>
      <key>yar_yak-tifi</key>
      <string>yar_yaktifi</string>
      <key>yar_yan-tifi</key>
      <string>yar_yantifi</string>
      <key>yar_yan-tifi.RTL</key>
      <string>yar_yantifi.RTL</string>
      <key>yar_yas-tifi</key>
      <string>yar_yastifi</string>
      <key>yar_yat-tifi</key>
      <string>yar_yattifi</string>
      <key>yar_yat-tifi.RTL</key>
      <string>yar_yattifi.RTL</string>
      <key>yar_yatTawellemmet-tifi</key>
      <string>yar_yatTawellemmettifi</string>
      <key>yarr-tifi</key>
      <string>uni2D55</string>
      <key>yarr-tifi.RTL</key>
      <string>uni2D55.RTL</string>
      <key>yarrBerber-tifi</key>
      <string>yarrBerbertifi</string>
      <key>yas-tifi</key>
      <string>uni2D59</string>
      <key>yasBerber-tifi</key>
      <string>yasBerbertifi</string>
      <key>yasBerber-tifi.RTL</key>
      <string>yasBerbertifi.RTL</string>
      <key>yas_yan-tifi</key>
      <string>yas_yantifi</string>
      <key>yas_yat-tifi</key>
      <string>yas_yattifi</string>
      <key>yas_yat-tifi.RTL</key>
      <string>yas_yattifi.RTL</string>
      <key>yas_yatAdrar-tifi</key>
      <string>yas_yatAdrartifi</string>
      <key>yas_yatAdrar-tifi.RTL</key>
      <string>yas_yatAdrartifi.RTL</string>
      <key>yas_yatTawellemmet-tifi</key>
      <string>yas_yatTawellemmettifi</string>
      <key>yas_yatTawellemmet-tifi.RTL</key>
      <string>yas_yatTawellemmettifi.RTL</string>
      <key>yash-tifi</key>
      <string>uni2D5B</string>
      <key>yash-tifi.RTL</key>
      <string>uni2D5B.RTL</string>
      <key>yashAdrar-tifi</key>
      <string>yashAdrartifi</string>
      <key>yashTawellemmet-tifi</key>
      <string>yashTawellemmettifi</string>
      <key>yashTawellemmet-tifi.RTL</key>
      <string>yashTawellemmettifi.RTL</string>
      <key>yash_yat-tifi</key>
      <string>yash_yattifi</string>
      <key>yash_yat-tifi.RTL</key>
      <string>yash_yattifi.RTL</string>
      <key>yass-tifi</key>
      <string>uni2D5A</string>
      <key>yass-tifi.RTL</key>
      <string>uni2D5A.RTL</string>
      <key>yassAPT-tifi</key>
      <string>yassAPTtifi</string>
      <key>yassHawad-tifi</key>
      <string>yassHawadtifi</string>
      <key>yat-tifi</key>
      <string>uni2D5C</string>
      <key>yat_yas-tifi</key>
      <string>yat_yastifi</string>
      <key>yat_yas-tifi.RTL</key>
      <string>yat_yastifi.RTL</string>
      <key>yath-tifi</key>
      <string>uni2D5D</string>
      <key>yatt-tifi</key>
      <string>uni2D5F</string>
      <key>yatt-tifi.RTL</key>
      <string>uni2D5F.RTL</string>
      <key>yattAPT-tifi</key>
      <string>yattAPTtifi</string>
      <key>yattBerber-tifi</key>
      <string>yattBerbertifi</string>
      <key>yattBerber-tifi.RTL</key>
      <string>yattBerbertifi.RTL</string>
      <key>yattHawad-tifi</key>
      <string>yattHawadtifi</string>
      <key>yav-tifi</key>
      <string>uni2D60</string>
      <key>yavAPT-tifi</key>
      <string>yavAPTtifi</string>
      <key>yaw-tifi</key>
      <string>uni2D61</string>
      <key>yawAPT-tifi</key>
      <string>yawAPTtifi</string>
      <key>yawBerber-tifi</key>
      <string>yawBerbertifi</string>
      <key>yaw_yat-tifi</key>
      <string>yaw_yattifi</string>
      <key>yaw_yat-tifi.RTL</key>
      <string>yaw_yattifi.RTL</string>
      <key>yay-tifi</key>
      <string>uni2D62</string>
      <key>yay-tifi.RTL</key>
      <string>uni2D62.RTL</string>
      <key>yayBerber-tifi</key>
      <string>yayBerbertifi</string>
      <key>yayHawad-tifi</key>
      <string>yayHawadtifi</string>
      <key>yayHawad-tifi.RTL</key>
      <string>yayHawadtifi.RTL</string>
      <key>yayRhissaIxa-tifi</key>
      <string>yayRhissaIxatifi</string>
      <key>yayRhissaIxa-tifi.RTL</key>
      <string>yayRhissaIxatifi.RTL</string>
      <key>yay_yat-tifi</key>
      <string>yay_yattifi</string>
      <key>yay_yat-tifi.RTL</key>
      <string>yay_yattifi.RTL</string>
      <key>yaz-tifi</key>
      <string>uni2D63</string>
      <key>yazBerber-tifi</key>
      <string>yazBerbertifi</string>
      <key>yazTawellemmet-tifi</key>
      <string>yazTawellemmettifi</string>
      <key>yazTawellemmet-tifi.RTL</key>
      <string>yazTawellemmettifi.RTL</string>
      <key>yazh-tifi</key>
      <string>uni2D4A</string>
      <key>yazhAhaggar-tifi</key>
      <string>uni2D4B</string>
      <key>yazhTuareg-tifi</key>
      <string>uni2D4C</string>
      <key>yazhTuareg_yat-tifi</key>
      <string>yazhTuareg_yattifi</string>
      <key>yazz-tifi</key>
      <string>uni2D65</string>
      <key>yazzAPT-tifi</key>
      <string>yazzAPTtifi</string>
      <key>yazzBerber-tifi</key>
      <string>yazzBerbertifi</string>
      <key>yazzHawad-tifi</key>
      <string>yazzHawadtifi</string>
      <key>yazzSIL-tifi</key>
      <string>yazzSILtifi</string>
      <key>yazzSIL-tifi.RTL</key>
      <string>yazzSILtifi.RTL</string>
      <key>yazz_yat-tifi</key>
      <string>yazz_yattifi</string>
      <key>ye-tifi</key>
      <string>uni2D66</string>
      <key>ye-tifi.RTL</key>
      <string>uni2D66.RTL</string>
      <key>yeHawad-tifi</key>
      <string>yeHawadtifi</string>
      <key>yeHawad-tifi.RTL</key>
      <string>yeHawadtifi.RTL</string>
      <key>yeRhissaIxa-tifi</key>
      <string>yeRhissaIxatifi</string>
      <key>yeRhissaIxa-tifi.RTL</key>
      <string>yeRhissaIxatifi.RTL</string>
      <key>yeTawellemmet-tifi</key>
      <string>yeTawellemmettifi</string>
      <key>yeTawellemmet-tifi.RTL</key>
      <string>yeTawellemmettifi.RTL</string>
      <key>yey-tifi</key>
      <string>uni2D3B</string>
      <key>yeyAPT-tifi</key>
      <string>yeyAPTtifi</string>
      <key>yeyAPT-tifi.RTL</key>
      <string>yeyAPTtifi.RTL</string>
      <key>yeyBerber-tifi</key>
      <string>yeyBerbertifi</string>
      <key>yeyHawad-tifi</key>
      <string>yeyHawadtifi</string>
      <key>yeyTawellemmet-tifi</key>
      <string>yeyTawellemmettifi</string>
      <key>yi-tifi</key>
      <string>uni2D49</string>
      <key>yi-tifi.RTL</key>
      <string>uni2D49.RTL</string>
      <key>yiBerber-tifi</key>
      <string>yiBerbertifi</string>
      <key>yiBerber-tifi.RTL</key>
      <string>yiBerbertifi.RTL</string>
      <key>yiHawad-tifi</key>
      <string>yiHawadtifi</string>
      <key>yiHawad-tifi.RTL</key>
      <string>yiHawadtifi.RTL</string>
      <key>yiRhissaIxa-tifi</key>
      <string>yiRhissaIxatifi</string>
      <key>yiRhissaIxa-tifi.RTL</key>
      <string>yiRhissaIxatifi.RTL</string>
      <key>yiTawellemmet-tifi</key>
      <string>yiTawellemmettifi</string>
      <key>yiTawellemmet-tifi.RTL</key>
      <string>yiTawellemmettifi.RTL</string>
      <key>yo-tifi</key>
      <string>uni2D67</string>
      <key>yoTawellemmet-tifi</key>
      <string>yoTawellemmettifi</string>
      <key>yu-tifi</key>
      <string>uni2D53</string>
      <key>yuAPT-tifi</key>
      <string>yuAPTtifi</string>
      <key>yuBerber-tifi</key>
      <string>yuBerbertifi</string>
      <key>yuHawad-tifi</key>
      <string>yuHawadtifi</string>
      <key>yuTawellemmet-tifi</key>
      <string>yuTawellemmettifi</string>
      <key>yu_yat-tifi</key>
      <string>yu_yattifi</string>
      <key>yu_yat-tifi.RTL</key>
      <string>yu_yattifi.RTL</string>
    </dict>
  </dict>
</plist>
