<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dda.alt</key>
    <dict>
      <key>U.alt4</key>
      <integer>0</integer>
      <key>UU.alt3</key>
      <integer>0</integer>
    </dict>
    <key>Ddha</key>
    <dict>
      <key>I.med</key>
      <integer>0</integer>
      <key>II.med</key>
      <integer>0</integer>
    </dict>
    <key>II_dv</key>
    <dict>
      <key>Dda</key>
      <integer>0</integer>
      <key>Ja</key>
      <integer>65</integer>
    </dict>
    <key>Ja</key>
    <dict>
      <key>II_dv</key>
      <integer>0</integer>
      <key>I_dv</key>
      <integer>0</integer>
    </dict>
    <key>Na</key>
    <dict>
      <key>I_dv</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
