<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1158</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>AA_dv</string>
      <string>AA_dv.alt</string>
      <string>AA_iv</string>
      <string>AI_dv</string>
      <string>AI_iv</string>
      <string>AU_dv</string>
      <string>AU_iv</string>
      <string>A_iv</string>
      <string>Abbreviation</string>
      <string>Anusvara</string>
      <string>Ardhacandra</string>
      <string>Ba</string>
      <string>Ba.alt</string>
      <string>Ba.half</string>
      <string>Baa</string>
      <string>Bha</string>
      <string>Bha.half</string>
      <string>Bhaa</string>
      <string>CR</string>
      <string>Ca</string>
      <string>Ca.alt</string>
      <string>Ca.half</string>
      <string>Cha</string>
      <string>Cha.half</string>
      <string>DNya</string>
      <string>DNyaa</string>
      <string>DNyu</string>
      <string>DYa</string>
      <string>Da</string>
      <string>Da.alt</string>
      <string>Da.alt2</string>
      <string>Da.half</string>
      <string>Danda</string>
      <string>DblDanda</string>
      <string>Dda</string>
      <string>Dda.alt</string>
      <string>Dda.half</string>
      <string>Ddha</string>
      <string>Ddha.half</string>
      <string>Dha</string>
      <string>Dha.alt</string>
      <string>Dha.alt2</string>
      <string>Dha.half</string>
      <string>E_dv</string>
      <string>E_iv</string>
      <string>EyelashRa</string>
      <string>Ga</string>
      <string>Ga.half</string>
      <string>Gha</string>
      <string>Gha.half</string>
      <string>Guu</string>
      <string>Ha</string>
      <string>Ha.alt</string>
      <string>Ha.half</string>
      <string>Haa</string>
      <string>Huva</string>
      <string>I.lg</string>
      <string>I.med</string>
      <string>II.lg</string>
      <string>II.med</string>
      <string>II_dv</string>
      <string>II_iv</string>
      <string>I_dv</string>
      <string>I_iv</string>
      <string>Ja</string>
      <string>Ja.half</string>
      <string>Jaa</string>
      <string>Jha</string>
      <string>Jha.alt</string>
      <string>Jha.half</string>
      <string>Jhaa</string>
      <string>Ju</string>
      <string>KSsYa</string>
      <string>KSsa</string>
      <string>KSsa.half</string>
      <string>Ka</string>
      <string>Ka.half</string>
      <string>KaRa</string>
      <string>Kaa</string>
      <string>KaaRa</string>
      <string>Kha</string>
      <string>Kha.alt</string>
      <string>Kha.half</string>
      <string>Khaa</string>
      <string>Ku</string>
      <string>La</string>
      <string>La.alt</string>
      <string>La.half</string>
      <string>Laa</string>
      <string>Li</string>
      <string>Lla</string>
      <string>Lla.half</string>
      <string>Ma</string>
      <string>Ma.alt</string>
      <string>Ma.half</string>
      <string>Maa</string>
      <string>Muu</string>
      <string>NULL</string>
      <string>Na</string>
      <string>Na.half</string>
      <string>Naa</string>
      <string>Nga</string>
      <string>Nga.half</string>
      <string>Nna</string>
      <string>Nna.half</string>
      <string>Nu</string>
      <string>Nya</string>
      <string>Nya.alt</string>
      <string>Nya.half</string>
      <string>Nyaa</string>
      <string>O_dv</string>
      <string>O_iv</string>
      <string>Pa</string>
      <string>Pa.alt</string>
      <string>Pa.half</string>
      <string>Pha</string>
      <string>Pha.half</string>
      <string>Phaa</string>
      <string>Phu</string>
      <string>RKa</string>
      <string>Ra</string>
      <string>Ra.alt</string>
      <string>Ra.alt2</string>
      <string>Ra.alt3</string>
      <string>Ra.alt4</string>
      <string>Ra.alt5</string>
      <string>Ra.alt6</string>
      <string>Rakar</string>
      <string>Rakar.alt</string>
      <string>Repha</string>
      <string>Ru</string>
      <string>STha</string>
      <string>Sa</string>
      <string>Sa.alt</string>
      <string>Sa.half</string>
      <string>Saa</string>
      <string>Sha</string>
      <string>Sha.half</string>
      <string>SsDdha</string>
      <string>Ssa</string>
      <string>Ssa.half</string>
      <string>TRa</string>
      <string>TYa</string>
      <string>Ta</string>
      <string>Ta.alt</string>
      <string>Ta.half</string>
      <string>Tha</string>
      <string>Tha.alt</string>
      <string>Tha.half</string>
      <string>Tta</string>
      <string>Tta.half</string>
      <string>Ttaa</string>
      <string>Ttha</string>
      <string>Ttha.half</string>
      <string>Tthaa</string>
      <string>U.alt3</string>
      <string>U.alt4</string>
      <string>URa</string>
      <string>UU.alt1</string>
      <string>UU.alt3</string>
      <string>UU_dv</string>
      <string>UU_iv</string>
      <string>U_dv</string>
      <string>U_iv</string>
      <string>Va</string>
      <string>Va.alt</string>
      <string>Va.half</string>
      <string>Vaa</string>
      <string>Vattu</string>
      <string>Virama</string>
      <string>Visarga</string>
      <string>VocLL_dv</string>
      <string>VocLL_iv</string>
      <string>VocL_dv</string>
      <string>VocL_iv</string>
      <string>VocRR_dv</string>
      <string>VocRR_iv</string>
      <string>VocR_dv</string>
      <string>VocR_iv</string>
      <string>Ya</string>
      <string>Ya.alt</string>
      <string>Ya.half</string>
      <string>Yaa</string>
      <string>space</string>
      <string>u11650</string>
      <string>u11651</string>
      <string>u11652</string>
      <string>u11653</string>
      <string>u11654</string>
      <string>u11655</string>
      <string>u11656</string>
      <string>u11657</string>
      <string>u11658</string>
      <string>u11659</string>
      <string>uni00A0</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
    </array>
  </dict>
</plist>
