<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u10B40</key>
    <string>u10B_40.glif</string>
    <key>u10B41</key>
    <string>u10B_41.glif</string>
    <key>u10B42</key>
    <string>u10B_42.glif</string>
    <key>u10B4210B45</key>
    <string>u10B_4210B_45.glif</string>
    <key>u10B43</key>
    <string>u10B_43.glif</string>
    <key>u10B44</key>
    <string>u10B_44.glif</string>
    <key>u10B45</key>
    <string>u10B_45.glif</string>
    <key>u10B46</key>
    <string>u10B_46.glif</string>
    <key>u10B47</key>
    <string>u10B_47.glif</string>
    <key>u10B4710B45</key>
    <string>u10B_4710B_45.glif</string>
    <key>u10B48</key>
    <string>u10B_48.glif</string>
    <key>u10B49</key>
    <string>u10B_49.glif</string>
    <key>u10B4910B45</key>
    <string>u10B_4910B_45.glif</string>
    <key>u10B4A</key>
    <string>u10B_4A_.glif</string>
    <key>u10B4B</key>
    <string>u10B_4B_.glif</string>
    <key>u10B4C</key>
    <string>u10B_4C_.glif</string>
    <key>u10B4D</key>
    <string>u10B_4D_.glif</string>
    <key>u10B4D.alt01</key>
    <string>u10B_4D_.alt01.glif</string>
    <key>u10B4D10B43</key>
    <string>u10B_4D_10B_43.glif</string>
    <key>u10B4D10B45</key>
    <string>u10B_4D_10B_45.glif</string>
    <key>u10B4D10B4D</key>
    <string>u10B_4D_10B_4D_.glif</string>
    <key>u10B4E</key>
    <string>u10B_4E_.glif</string>
    <key>u10B4F</key>
    <string>u10B_4F_.glif</string>
    <key>u10B4F10B4B</key>
    <string>u10B_4F_10B_4B_.glif</string>
    <key>u10B50</key>
    <string>u10B_50.glif</string>
    <key>u10B51</key>
    <string>u10B_51.glif</string>
    <key>u10B51.alt01</key>
    <string>u10B_51.alt01.glif</string>
    <key>u10B52</key>
    <string>u10B_52.glif</string>
    <key>u10B53</key>
    <string>u10B_53.glif</string>
    <key>u10B5310B45</key>
    <string>u10B_5310B_45.glif</string>
    <key>u10B54</key>
    <string>u10B_54.glif</string>
    <key>u10B55</key>
    <string>u10B_55.glif</string>
    <key>u10B5510B45</key>
    <string>u10B_5510B_45.glif</string>
    <key>u10B58</key>
    <string>u10B_58.glif</string>
    <key>u10B59</key>
    <string>u10B_59.glif</string>
    <key>u10B5A</key>
    <string>u10B_5A_.glif</string>
    <key>u10B5B</key>
    <string>u10B_5B_.glif</string>
    <key>u10B5C</key>
    <string>u10B_5C_.glif</string>
    <key>u10B5D</key>
    <string>u10B_5D_.glif</string>
    <key>u10B5E</key>
    <string>u10B_5E_.glif</string>
    <key>u10B5F</key>
    <string>u10B_5F_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
  </dict>
</plist>
