<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1075</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.fileName</key>
    <string>NotoSansMeeteiMayek-Regular</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200B</string>
      <string>uni200C</string>
      <string>uni200D</string>
      <string>uni25CC</string>
      <string>uniAAE0</string>
      <string>uniAAE1</string>
      <string>uniAAE2</string>
      <string>uniAAE3</string>
      <string>uniAAE4</string>
      <string>uniAAE5</string>
      <string>uniAAE6</string>
      <string>uniAAE7</string>
      <string>uniAAE8</string>
      <string>uniAAE9</string>
      <string>uniAAEA</string>
      <string>uniAAEB</string>
      <string>uniAAEC</string>
      <string>uniAAED</string>
      <string>uniAAEE</string>
      <string>uniAAEF</string>
      <string>uniAAF0</string>
      <string>uniAAF1</string>
      <string>uniAAF2</string>
      <string>uniAAF3</string>
      <string>uniAAF4</string>
      <string>uniAAF5</string>
      <string>uniAAF6</string>
      <string>uniABC0</string>
      <string>uniABC1</string>
      <string>uniABC2</string>
      <string>uniABC3</string>
      <string>uniABC4</string>
      <string>uniABC5</string>
      <string>uniABC6</string>
      <string>uniABC7</string>
      <string>uniABC8</string>
      <string>uniABC9</string>
      <string>uniABCA</string>
      <string>uniABCB</string>
      <string>uniABCC</string>
      <string>uniABCD</string>
      <string>uniABCE</string>
      <string>uniABCF</string>
      <string>uniABD0</string>
      <string>uniABD1</string>
      <string>uniABD2</string>
      <string>uniABD3</string>
      <string>uniABD4</string>
      <string>uniABD5</string>
      <string>uniABD6</string>
      <string>uniABD7</string>
      <string>uniABD8</string>
      <string>uniABD9</string>
      <string>uniABDA</string>
      <string>uniABDB</string>
      <string>uniABDC</string>
      <string>uniABDD</string>
      <string>uniABDE</string>
      <string>uniABDF</string>
      <string>uniABE0</string>
      <string>uniABE1</string>
      <string>uniABE2</string>
      <string>uniABE3</string>
      <string>uniABE4</string>
      <string>uniABE5</string>
      <string>uniABE6</string>
      <string>uniABE7</string>
      <string>uniABE8</string>
      <string>uniABE9</string>
      <string>uniABEA</string>
      <string>uniABEB</string>
      <string>uniABEC</string>
      <string>uniABED</string>
      <string>uniABED.alt1</string>
      <string>uniABED.alt2</string>
      <string>uniABED.alt3</string>
      <string>uniABED.alt4</string>
      <string>uniABED.alt5</string>
      <string>uniABED.alt6</string>
      <string>uniABED.alt7</string>
      <string>uniABED.alt8</string>
      <string>uniABF0</string>
      <string>uniABF1</string>
      <string>uniABF2</string>
      <string>uniABF3</string>
      <string>uniABF4</string>
      <string>uniABF5</string>
      <string>uniABF6</string>
      <string>uniABF7</string>
      <string>uniABF8</string>
      <string>uniABF9</string>
    </array>
  </dict>
</plist>
