<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.ain.isol</key>
    <array>
      <string>uni08B3</string>
      <string>ain-ar</string>
      <string>ain-ar.isol</string>
      <string>ainThreedots-ar</string>
      <string>ghain-ar</string>
      <string>ghain-ar.isol</string>
      <string>ghainDotbelow-ar</string>
      <string>ainTwodotshorizontalabove-ar</string>
      <string>ainThreedotsdownabove-ar</string>
      <string>ainTwodotsverticalabove-ar</string>
    </array>
    <key>public.kern1.eight-ar</key>
    <array>
      <string>eight-ar</string>
      <string>eight-persian</string>
    </array>
    <key>public.kern1.five-ar</key>
    <array>
      <string>five-ar</string>
      <string>five-persian</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern1.heh</key>
    <array>
      <string>jeem-ar</string>
      <string>tcheh-ar</string>
      <string>tcheheh-ar</string>
      <string>nyeh-ar</string>
      <string>dyeh-ar</string>
      <string>hah-ar</string>
      <string>hah-ar.isol</string>
      <string>hah-ar.fina</string>
      <string>hahHamzaabove-ar</string>
      <string>hahTwodotsverticalabove-ar</string>
      <string>hahTwodotshorizontalabove-ar</string>
      <string>hahThreedotsabove-ar</string>
      <string>hahThreedotsupbelow-ar</string>
      <string>khah-ar</string>
      <string>hahTahbelow-ar</string>
      <string>hahTahTwodotshorizontalabove-ar</string>
      <string>hahFourbelow-ar</string>
      <string>hahTahabove-ar</string>
      <string>hah-ar.wide</string>
      <string>hah-ar.fina.wide</string>
    </array>
    <key>public.kern1.nine-ar</key>
    <array>
      <string>nine-persian</string>
    </array>
    <key>public.kern1.period.left</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern1.reh</key>
    <array>
      <string>reh-ar</string>
      <string>reh-ar.isol</string>
      <string>reh-ar.fina</string>
      <string>zain-ar</string>
      <string>zain-ar.isol</string>
      <string>zain-ar.fina</string>
      <string>zainVInvertedabove-ar</string>
      <string>rreh-ar</string>
      <string>rreh-ar.isol</string>
      <string>rreh-ar.fina</string>
      <string>rehv-ar</string>
      <string>rehv-ar.fina</string>
      <string>rehRing-ar</string>
      <string>rehRing-ar.fina</string>
      <string>rehDotbelow-ar</string>
      <string>rehDotbelow-ar.fina</string>
      <string>rehVbelow-ar</string>
      <string>rehVbelow-ar.fina</string>
      <string>rehDotbelowdotabove-ar</string>
      <string>rehDotbelowdotabove-ar.fina</string>
      <string>rehTwodots-ar</string>
      <string>rehTwodots-ar.fina</string>
      <string>jeh-ar</string>
      <string>jeh-ar.isol</string>
      <string>jeh-ar.fina</string>
      <string>rehFourdots-ar</string>
      <string>rehFourdots-ar.fina</string>
      <string>rehVinvertedabove-ar</string>
      <string>rehVinvertedabove-ar.fina</string>
      <string>rehStroke-ar</string>
      <string>rehStroke-ar.fina</string>
      <string>rehTwodotsverticalabove-ar</string>
      <string>rehTwodotsverticalabove-ar.fina</string>
      <string>rehHamzaabove-ar</string>
      <string>rehHamzaabove-ar.fina</string>
      <string>rehTwodotshorizontalaboveTahabove-ar</string>
      <string>rehTwodotshorizontalaboveTahabove-ar.fina</string>
      <string>rehAlefabove-ar</string>
      <string>rehAlefabove-ar.fina</string>
      <string>uni08B9.fina</string>
      <string>uni08B9</string>
      <string>beh_reh-ar.fina</string>
      <string>teh_reh-ar.fina</string>
      <string>theh_reh-ar.fina</string>
      <string>seen_reh-ar</string>
      <string>seen_reh-ar.fina</string>
      <string>sheen_reh-ar</string>
      <string>sheen_reh-ar.fina</string>
      <string>sad_reh-ar</string>
      <string>sad_reh-ar.fina</string>
      <string>dad_reh-ar</string>
      <string>dad_reh-ar.fina</string>
      <string>noon_reh-ar.fina</string>
      <string>yeh_reh-ar.fina</string>
      <string>yehHamzaabove_reh-ar.fina</string>
      <string>akbar-ar</string>
      <string>rasoul-ar</string>
      <string>zainVInvertedabove-ar.fina</string>
    </array>
    <key>public.kern1.seven-ar</key>
    <array>
      <string>seven-ar</string>
      <string>seven-persian</string>
    </array>
    <key>public.kern1.two-ar</key>
    <array>
      <string>two-ar</string>
      <string>three-ar</string>
      <string>two-persian</string>
      <string>three-persian</string>
      <string>four-persian</string>
    </array>
    <key>public.kern1.zero-ar</key>
    <array>
      <string>zero-ar</string>
      <string>zero-persian</string>
    </array>
    <key>public.kern2.ain.isol</key>
    <array>
      <string>uni08B3</string>
      <string>ain-ar</string>
      <string>ain-ar.isol</string>
      <string>ainThreedots-ar</string>
      <string>ghain-ar</string>
      <string>ghain-ar.isol</string>
      <string>ghainDotbelow-ar</string>
      <string>ainTwodotshorizontalabove-ar</string>
      <string>ainThreedotsdownabove-ar</string>
      <string>ainTwodotsverticalabove-ar</string>
    </array>
    <key>public.kern2.alef</key>
    <array>
      <string>alef-ar</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.eight-ar</key>
    <array>
      <string>eight-ar</string>
      <string>eight-persian</string>
    </array>
    <key>public.kern2.five-ar</key>
    <array>
      <string>five-ar</string>
      <string>five-persian</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
    </array>
    <key>public.kern2.heh</key>
    <array>
      <string>jeem-ar</string>
      <string>tcheh-ar</string>
      <string>tcheheh-ar</string>
      <string>nyeh-ar</string>
      <string>dyeh-ar</string>
      <string>hah-ar</string>
      <string>hah-ar.isol</string>
      <string>hah-ar.fina</string>
      <string>hahHamzaabove-ar</string>
      <string>hahTwodotsverticalabove-ar</string>
      <string>hahTwodotshorizontalabove-ar</string>
      <string>hahThreedotsabove-ar</string>
      <string>hahThreedotsupbelow-ar</string>
      <string>khah-ar</string>
      <string>hahTahbelow-ar</string>
      <string>hahTahTwodotshorizontalabove-ar</string>
      <string>hahFourbelow-ar</string>
      <string>hahTahabove-ar</string>
      <string>hah-ar.wide</string>
      <string>hah-ar.fina.wide</string>
    </array>
    <key>public.kern2.nine-ar</key>
    <array>
      <string>nine-ar</string>
      <string>nine-persian</string>
    </array>
    <key>public.kern2.period.right</key>
    <array>
      <string>comma</string>
      <string>period</string>
    </array>
    <key>public.kern2.seven-ar</key>
    <array>
      <string>seven-ar</string>
      <string>seven-persian</string>
    </array>
    <key>public.kern2.tooth</key>
    <array>
      <string>dotlessbeh-ar.init</string>
    </array>
    <key>public.kern2.zero-ar</key>
    <array>
      <string>zero-ar</string>
      <string>zero-persian</string>
    </array>
  </dict>
</plist>
