<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>discontinuousunderlinesymbol</key>
    <string>discontinuousunderlinesymbol.glif</string>
    <key>emphasissymbol</key>
    <string>emphasissymbol.glif</string>
  </dict>
</plist>
