<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>afii08941</key>
    <string>afii08941.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.numr</key>
    <string>eight.numr.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>eightsuperior</key>
    <string>eightsuperior.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.dnom</key>
    <string>four.dnom.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>fourinferior</key>
    <string>fourinferior.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>livreTournois</key>
    <string>livreT_ournois.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.dnom</key>
    <string>one.dnom.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.numr</key>
    <string>one.numr.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>oneinferior</key>
    <string>oneinferior.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.tosf</key>
    <string>seven.tosf.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.numr</key>
    <string>six.numr.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>spesmilo</key>
    <string>spesmilo.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.dnom</key>
    <string>three.dnom.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>threeinferior</key>
    <string>threeinferior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.dnom</key>
    <string>two.dnom.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>twoinferior</key>
    <string>twoinferior.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>uni20A0</key>
    <string>uni20A_0.glif</string>
    <key>uni20A1</key>
    <string>uni20A_1.glif</string>
    <key>uni20A2</key>
    <string>uni20A_2.glif</string>
    <key>uni20A5</key>
    <string>uni20A_5.glif</string>
    <key>uni20A6</key>
    <string>uni20A_6.glif</string>
    <key>uni20A8</key>
    <string>uni20A_8.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>uni20AB</key>
    <string>uni20A_B_.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>uni20AE</key>
    <string>uni20A_E_.glif</string>
    <key>uni20AF</key>
    <string>uni20A_F_.glif</string>
    <key>uni20B0</key>
    <string>uni20B_0.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif</string>
    <key>uni20B3</key>
    <string>uni20B_3.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B5</key>
    <string>uni20B_5.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BB</key>
    <string>uni20B_B_.glif</string>
    <key>uni20BE</key>
    <string>uni20B_E_.glif</string>
    <key>uni20BF</key>
    <string>uni20B_F_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.dnom</key>
    <string>zero.dnom.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
