<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0621</key>
    <dict>
      <key>uni0713</key>
      <integer>122</integer>
      <key>uni071B</key>
      <integer>61</integer>
      <key>uni0722</key>
      <integer>122</integer>
      <key>uni0725</key>
      <integer>73</integer>
      <key>uni072B</key>
      <integer>49</integer>
      <key>uni072C</key>
      <integer>37</integer>
    </dict>
    <key>uni0710</key>
    <dict>
      <key>uni0710</key>
      <integer>-56</integer>
      <key>uni0713.Init</key>
      <integer>-37</integer>
      <key>uni0728</key>
      <integer>-24</integer>
    </dict>
    <key>uni0712.Init</key>
    <dict>
      <key>uni071B.Fina</key>
      <integer>-98</integer>
    </dict>
    <key>uni0715</key>
    <dict>
      <key>uni0709</key>
      <integer>-98</integer>
      <key>uni0713</key>
      <integer>-49</integer>
      <key>uni071D.Init</key>
      <integer>24</integer>
    </dict>
    <key>uni0716</key>
    <dict>
      <key>uni0713</key>
      <integer>-85</integer>
      <key>uni071B</key>
      <integer>-98</integer>
    </dict>
    <key>uni0716.Fina</key>
    <dict>
      <key>uni0709</key>
      <integer>-61</integer>
      <key>uni0713.Init</key>
      <integer>171</integer>
      <key>uni071B.Init</key>
      <integer>-85</integer>
      <key>uni0722</key>
      <integer>117</integer>
    </dict>
    <key>uni0717</key>
    <dict>
      <key>uni0710</key>
      <integer>-85</integer>
    </dict>
    <key>uni0718</key>
    <dict>
      <key>uni0709</key>
      <integer>-61</integer>
      <key>uni0710</key>
      <integer>-85</integer>
    </dict>
    <key>uni0718.Fina</key>
    <dict>
      <key>uni0710</key>
      <integer>-85</integer>
    </dict>
    <key>uni0719.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>112</integer>
      <key>uni0722</key>
      <integer>176</integer>
    </dict>
    <key>uni0721.Fina</key>
    <dict>
      <key>uni0702</key>
      <integer>-110</integer>
    </dict>
    <key>uni0721.Init</key>
    <dict>
      <key>uni0713.Fina</key>
      <integer>-68</integer>
      <key>uni071B.Fina</key>
      <integer>-134</integer>
      <key>uni071B.Medi</key>
      <integer>-122</integer>
      <key>uni071F.Fina</key>
      <integer>-78</integer>
    </dict>
    <key>uni0721.Medi</key>
    <dict>
      <key>uni0721.Init</key>
      <integer>-24</integer>
    </dict>
    <key>uni0722</key>
    <dict>
      <key>uni0702</key>
      <integer>37</integer>
      <key>uni0728</key>
      <integer>-49</integer>
    </dict>
    <key>uni0722.Fina</key>
    <dict>
      <key>uni0702</key>
      <integer>37</integer>
    </dict>
    <key>uni0722.Init</key>
    <dict>
      <key>uni0725.Medi</key>
      <integer>-29</integer>
    </dict>
    <key>uni0726.Init</key>
    <dict>
      <key>uni0713.Fina</key>
      <integer>-49</integer>
      <key>uni0728.Fina</key>
      <integer>-73</integer>
    </dict>
    <key>uni0728</key>
    <dict>
      <key>uni0710</key>
      <integer>-61</integer>
      <key>uni0722</key>
      <integer>-49</integer>
    </dict>
    <key>uni0728.Fina</key>
    <dict>
      <key>uni0710</key>
      <integer>-37</integer>
      <key>uni0713</key>
      <integer>107</integer>
      <key>uni0715</key>
      <integer>15</integer>
      <key>uni0716</key>
      <integer>54</integer>
      <key>uni0718</key>
      <integer>41</integer>
      <key>uni0719</key>
      <integer>41</integer>
      <key>uni071A.Init</key>
      <integer>24</integer>
      <key>uni071B</key>
      <integer>139</integer>
      <key>uni071D</key>
      <integer>39</integer>
      <key>uni071F</key>
      <integer>29</integer>
      <key>uni071F.Init</key>
      <integer>37</integer>
      <key>uni0720</key>
      <integer>24</integer>
      <key>uni0722</key>
      <integer>432</integer>
      <key>uni0725</key>
      <integer>78</integer>
      <key>uni0726</key>
      <integer>39</integer>
      <key>uni0727</key>
      <integer>83</integer>
      <key>uni0728</key>
      <integer>122</integer>
      <key>uni072C</key>
      <integer>24</integer>
      <key>uni074D</key>
      <integer>102</integer>
    </dict>
    <key>uni072A</key>
    <dict>
      <key>uni0718</key>
      <integer>-24</integer>
      <key>uni0720.Init</key>
      <integer>-24</integer>
      <key>uni0722</key>
      <integer>107</integer>
      <key>uni0722.Init</key>
      <integer>24</integer>
      <key>uni0725.Init</key>
      <integer>-110</integer>
      <key>uni0728</key>
      <integer>-85</integer>
      <key>uni072B.Init</key>
      <integer>-85</integer>
    </dict>
    <key>uni072B.Init</key>
    <dict>
      <key>uni071F.Fina</key>
      <integer>-98</integer>
    </dict>
    <key>uni072B.Medi</key>
    <dict>
      <key>uni0725.Medi</key>
      <integer>-73</integer>
    </dict>
    <key>uni072C.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>34</integer>
      <key>uni071B</key>
      <integer>37</integer>
      <key>uni0722</key>
      <integer>49</integer>
      <key>uni0725</key>
      <integer>37</integer>
    </dict>
    <key>uni072F</key>
    <dict>
      <key>uni0725.Init</key>
      <integer>24</integer>
      <key>uni0727.Init</key>
      <integer>61</integer>
      <key>uni074F</key>
      <integer>73</integer>
    </dict>
    <key>uni072F.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>37</integer>
      <key>uni0722</key>
      <integer>400</integer>
    </dict>
    <key>uni074D.Fina</key>
    <dict>
      <key>uni0713</key>
      <integer>156</integer>
      <key>uni0722</key>
      <integer>366</integer>
    </dict>
  </dict>
</plist>
