<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>998</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>space</string>
      <string>u10B60</string>
      <string>u10B61</string>
      <string>u10B61.alt01</string>
      <string>u10B61.alt02</string>
      <string>u10B62</string>
      <string>u10B63</string>
      <string>u10B64</string>
      <string>u10B65</string>
      <string>u10B66</string>
      <string>u10B67</string>
      <string>u10B68</string>
      <string>u10B69</string>
      <string>u10B6A</string>
      <string>u10B6B</string>
      <string>u10B6B.alt01</string>
      <string>u10B6C</string>
      <string>u10B6D</string>
      <string>u10B6E</string>
      <string>u10B6F</string>
      <string>u10B70</string>
      <string>u10B71</string>
      <string>u10B72</string>
      <string>u10B78</string>
      <string>u10B79</string>
      <string>u10B7A</string>
      <string>u10B7B</string>
      <string>u10B7C</string>
      <string>u10B7D</string>
      <string>u10B7E</string>
      <string>u10B7F</string>
      <string>uni00A0</string>
    </array>
  </dict>
</plist>
