<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.GUJ_DDHA-R</key>
    <array>
      <string>ddha-gujarati</string>
    </array>
    <key>public.kern1.GUJ_RA-R</key>
    <array>
      <string>ra-gujarati</string>
    </array>
    <key>public.kern1.GUJ_RII-R</key>
    <array>
      <string>ja_iiMatra-gujarati</string>
    </array>
    <key>public.kern1.GUJ_b-R</key>
    <array>
      <string>b-gujarati</string>
      <string>b_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_bh-R</key>
    <array>
      <string>bh-gujarati</string>
      <string>bh_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_c-R</key>
    <array>
      <string>c-gujarati</string>
      <string>c_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ch_va-R</key>
    <array>
      <string>ch_va-gujarati</string>
    </array>
    <key>public.kern1.GUJ_cha-R</key>
    <array>
      <string>cha-gujarati</string>
    </array>
    <key>public.kern1.GUJ_d_ga-R</key>
    <array>
      <string>d_ga-gujarati</string>
      <string>d_dha-gujarati</string>
      <string>d_na-gujarati</string>
      <string>d_ba-gujarati</string>
      <string>d_bha-gujarati</string>
      <string>d_va-gujarati</string>
    </array>
    <key>public.kern1.GUJ_d_gha-R</key>
    <array>
      <string>d_gha-gujarati</string>
    </array>
    <key>public.kern1.GUJ_da-R</key>
    <array>
      <string>da-gujarati</string>
      <string>k_da-gujarati</string>
      <string>p_da-gujarati</string>
      <string>v_da-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ddh_ddha-R</key>
    <array>
      <string>ddh_ddha-gujarati</string>
    </array>
    <key>public.kern1.GUJ_dh-R</key>
    <array>
      <string>dh-gujarati</string>
      <string>dh_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_eight-R</key>
    <array>
      <string>eight-gujarati</string>
    </array>
    <key>public.kern1.GUJ_five-R</key>
    <array>
      <string>five-gujarati</string>
    </array>
    <key>public.kern1.GUJ_four-R</key>
    <array>
      <string>four-gujarati</string>
    </array>
    <key>public.kern1.GUJ_g-R</key>
    <array>
      <string>g-gujarati</string>
    </array>
    <key>public.kern1.GUJ_gh-R</key>
    <array>
      <string>gh-gujarati</string>
      <string>gh_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_h-R</key>
    <array>
      <string>h-gujarati</string>
    </array>
    <key>public.kern1.GUJ_h_nna-R</key>
    <array>
      <string>h_nna-gujarati</string>
      <string>h_na-gujarati</string>
      <string>h_la-gujarati</string>
      <string>h_va-gujarati</string>
    </array>
    <key>public.kern1.GUJ_iMatra-R</key>
    <array>
      <string>iMatra-gujarati</string>
    </array>
    <key>public.kern1.GUJ_iMatra_1-R</key>
    <array>
      <string>iMatra-gujarati.01</string>
    </array>
    <key>public.kern1.GUJ_iMatra_2-R</key>
    <array>
      <string>iMatra-gujarati.02</string>
    </array>
    <key>public.kern1.GUJ_iMatra_4-R</key>
    <array>
      <string>iMatra-gujarati.04</string>
    </array>
    <key>public.kern1.GUJ_iMatra_5-R</key>
    <array>
      <string>iMatra-gujarati.05</string>
    </array>
    <key>public.kern1.GUJ_iMatra_6-R</key>
    <array>
      <string>iMatra-gujarati.06</string>
    </array>
    <key>public.kern1.GUJ_iMatra_7-R</key>
    <array>
      <string>iMatra-gujarati.07</string>
    </array>
    <key>public.kern1.GUJ_iMatra_8-R</key>
    <array>
      <string>iMatra-gujarati.08</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara-R</key>
    <array>
      <string>iMatra_anusvara-gujarati</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara_1-R</key>
    <array>
      <string>iMatra_anusvara-gujarati.01</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara_4-R</key>
    <array>
      <string>iMatra_anusvara-gujarati.04</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara_5-R</key>
    <array>
      <string>iMatra_anusvara-gujarati.05</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara_6-R</key>
    <array>
      <string>iMatra_anusvara-gujarati.06</string>
    </array>
    <key>public.kern1.GUJ_iMatra_anusvara_8-R</key>
    <array>
      <string>iMatra_anusvara-gujarati.08</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph-R</key>
    <array>
      <string>iMatra_reph-gujarati</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_1-R</key>
    <array>
      <string>iMatra_reph-gujarati.01</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_4-R</key>
    <array>
      <string>iMatra_reph-gujarati.04</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_5-R</key>
    <array>
      <string>iMatra_reph-gujarati.05</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_6-R</key>
    <array>
      <string>iMatra_reph-gujarati.06</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_7-R</key>
    <array>
      <string>iMatra_reph-gujarati.07</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_8-R</key>
    <array>
      <string>iMatra_reph-gujarati.08</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_1-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.01</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_4-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.04</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_5-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.05</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_6-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.06</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_7-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.07</string>
    </array>
    <key>public.kern1.GUJ_iMatra_reph_anusvara_8-R</key>
    <array>
      <string>iMatra_reph_anusvara-gujarati.08</string>
    </array>
    <key>public.kern1.GUJ_j-R</key>
    <array>
      <string>j-gujarati</string>
      <string>j_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ja-R</key>
    <array>
      <string>ja-gujarati</string>
      <string>zha-gujarati</string>
      <string>zh_ra-gujarati</string>
      <string>j_ra-gujarati</string>
      <string>j_ja-gujarati</string>
    </array>
    <key>public.kern1.GUJ_jny-R</key>
    <array>
      <string>j_ny-gujarati</string>
    </array>
    <key>public.kern1.GUJ_k-R</key>
    <array>
      <string>k-gujarati</string>
      <string>k_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ka-R</key>
    <array>
      <string>ka-gujarati</string>
      <string>k_ra-gujarati</string>
      <string>k_ka-gujarati</string>
      <string>t_ka-gujarati</string>
      <string>l_ka-gujarati</string>
      <string>s_ka-gujarati</string>
    </array>
    <key>public.kern1.GUJ_kana-R</key>
    <array>
      <string>kha-gujarati</string>
      <string>ga-gujarati</string>
      <string>gha-gujarati</string>
      <string>ca-gujarati</string>
      <string>nya-gujarati</string>
      <string>nna-gujarati</string>
      <string>nna-gujarati.calt</string>
      <string>ta-gujarati</string>
      <string>tha-gujarati</string>
      <string>dha-gujarati</string>
      <string>na-gujarati</string>
      <string>pa-gujarati</string>
      <string>ba-gujarati</string>
      <string>bha-gujarati</string>
      <string>ma-gujarati</string>
      <string>ya-gujarati</string>
      <string>la-gujarati</string>
      <string>lla-gujarati</string>
      <string>va-gujarati</string>
      <string>sha-gujarati</string>
      <string>ssa-gujarati</string>
      <string>sa-gujarati</string>
      <string>aaMatra-gujarati</string>
      <string>iiMatra-gujarati</string>
      <string>oCandraMatra-gujarati</string>
      <string>oMatra-gujarati</string>
      <string>auMatra-gujarati</string>
      <string>ja_aaMatra-gujarati</string>
      <string>zha_aaMatra-gujarati</string>
      <string>zh_ra_aaMatra-gujarati</string>
      <string>kh_ra-gujarati</string>
      <string>g_ra-gujarati</string>
      <string>gh_ra-gujarati</string>
      <string>c_ra-gujarati</string>
      <string>j_ra_aaMatra-gujarati</string>
      <string>ny_ra-gujarati</string>
      <string>nn_ra-gujarati</string>
      <string>nn_ra-gujarati.calt</string>
      <string>t_ra-gujarati</string>
      <string>th_ra-gujarati</string>
      <string>dh_ra-gujarati</string>
      <string>n_ra-gujarati</string>
      <string>p_ra-gujarati</string>
      <string>b_ra-gujarati</string>
      <string>bh_ra-gujarati</string>
      <string>m_ra-gujarati</string>
      <string>y_ra-gujarati</string>
      <string>l_ra-gujarati</string>
      <string>ll_ra-gujarati</string>
      <string>v_ra-gujarati</string>
      <string>sh_ra-gujarati</string>
      <string>ss_ra-gujarati</string>
      <string>s_ra-gujarati</string>
      <string>k_ss_ra-gujarati</string>
      <string>j_ny_ra-gujarati</string>
      <string>k_kha-gujarati</string>
      <string>k_pa-gujarati</string>
      <string>k_ya-gujarati</string>
      <string>k_ssa-gujarati</string>
      <string>g_na-gujarati</string>
      <string>gh_na-gujarati</string>
      <string>ng_ya-gujarati</string>
      <string>ch_ya-gujarati</string>
      <string>j_nya-gujarati</string>
      <string>j_ma-gujarati</string>
      <string>j_ya-gujarati</string>
      <string>ny_ca-gujarati</string>
      <string>ny_ja-gujarati</string>
      <string>tt_ya-gujarati</string>
      <string>dd_ya-gujarati</string>
      <string>ddh_ya-gujarati</string>
      <string>t_ta-gujarati</string>
      <string>t_t_ya-gujarati</string>
      <string>t_na-gujarati</string>
      <string>t_ma-gujarati</string>
      <string>t_ya-gujarati</string>
      <string>t_sa-gujarati</string>
      <string>th_na-gujarati</string>
      <string>d_ma-gujarati</string>
      <string>d_ya-gujarati</string>
      <string>dh_na-gujarati</string>
      <string>n_na-gujarati</string>
      <string>n_sa-gujarati</string>
      <string>p_ta-gujarati</string>
      <string>p_na-gujarati</string>
      <string>ph_ya-gujarati</string>
      <string>b_la-gujarati</string>
      <string>m_na-gujarati</string>
      <string>l_ya-gujarati</string>
      <string>l_sa-gujarati</string>
      <string>ll_ya-gujarati</string>
      <string>sh_ca-gujarati</string>
      <string>sh_na-gujarati</string>
      <string>sh_la-gujarati</string>
      <string>sh_va-gujarati</string>
      <string>s_t_ra-gujarati</string>
      <string>s_tha-gujarati</string>
      <string>s_ma-gujarati</string>
      <string>h_ma-gujarati</string>
      <string>h_ya-gujarati</string>
    </array>
    <key>public.kern1.GUJ_kh-R</key>
    <array>
      <string>kh-gujarati</string>
      <string>kh_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_kss-R</key>
    <array>
      <string>k_ss-gujarati</string>
    </array>
    <key>public.kern1.GUJ_l-L</key>
    <array>
      <string>l-gujarati</string>
      <string>l_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ll-R</key>
    <array>
      <string>ll-gujarati</string>
      <string>ll_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_m-R</key>
    <array>
      <string>m-gujarati</string>
      <string>m_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_n-R</key>
    <array>
      <string>n-gujarati</string>
      <string>n_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ng_ga-R</key>
    <array>
      <string>ng_ga-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ng_gha-R</key>
    <array>
      <string>ng_gha-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ng_ma-R</key>
    <array>
      <string>ng_ma-gujarati</string>
    </array>
    <key>public.kern1.GUJ_nine-R</key>
    <array>
      <string>nine-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ny-R</key>
    <array>
      <string>ny-gujarati</string>
    </array>
    <key>public.kern1.GUJ_one-R</key>
    <array>
      <string>one-gujarati</string>
    </array>
    <key>public.kern1.GUJ_p-R</key>
    <array>
      <string>p-gujarati</string>
      <string>p_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ph-R</key>
    <array>
      <string>ph-gujarati</string>
      <string>ph_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_s-R</key>
    <array>
      <string>s-gujarati</string>
    </array>
    <key>public.kern1.GUJ_seven-R</key>
    <array>
      <string>seven-gujarati</string>
    </array>
    <key>public.kern1.GUJ_sh-R</key>
    <array>
      <string>sh-gujarati</string>
    </array>
    <key>public.kern1.GUJ_ss-R</key>
    <array>
      <string>ss-gujarati</string>
    </array>
    <key>public.kern1.GUJ_t-R</key>
    <array>
      <string>t-gujarati</string>
    </array>
    <key>public.kern1.GUJ_t_ra-R</key>
    <array>
      <string>t_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_t_ta-R</key>
    <array>
      <string>t_t-gujarati</string>
    </array>
    <key>public.kern1.GUJ_th-R</key>
    <array>
      <string>th-gujarati</string>
      <string>th_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_three-R</key>
    <array>
      <string>three-gujarati</string>
    </array>
    <key>public.kern1.GUJ_tt_tta-R</key>
    <array>
      <string>tt_tta-gujarati</string>
    </array>
    <key>public.kern1.GUJ_two-R</key>
    <array>
      <string>two-gujarati</string>
    </array>
    <key>public.kern1.GUJ_v-L</key>
    <array>
      <string>v-gujarati</string>
      <string>v_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_y-R</key>
    <array>
      <string>y-gujarati</string>
      <string>y_r-gujarati</string>
    </array>
    <key>public.kern1.GUJ_zero-R</key>
    <array>
      <string>zero-gujarati</string>
    </array>
    <key>public.kern1.Kana-R</key>
    <array>
      <string>a-gujarati</string>
      <string>aa-gujarati</string>
      <string>uu-gujarati</string>
      <string>e-gujarati</string>
      <string>ai-gujarati</string>
      <string>oCandra-gujarati</string>
      <string>o-gujarati</string>
      <string>au-gujarati</string>
    </array>
    <key>public.kern1.LTN_braceleft_R</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.LTN_bracketleft_R</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.LTN_colon_R</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.LTN_endash_R</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.LTN_exclam_R</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.LTN_hyphen_R</key>
    <array>
      <string>hyphen</string>
      <string>uni2010</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern1.LTN_parenleft_R</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.LTN_period_R</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.LTN_question_R</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.LTN_quoteleft_R</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.LTN_quoteright_R</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.LTN_quotesingle_R</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.LTN_slash_R</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.GUJ_a-L</key>
    <array>
      <string>a-gujarati</string>
      <string>aa-gujarati</string>
      <string>eCandra-gujarati</string>
      <string>e-gujarati</string>
      <string>ai-gujarati</string>
      <string>oCandra-gujarati</string>
      <string>o-gujarati</string>
      <string>au-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ba-L</key>
    <array>
      <string>ba-gujarati</string>
      <string>b-gujarati</string>
      <string>b_la-gujarati</string>
    </array>
    <key>public.kern2.GUJ_bha-L</key>
    <array>
      <string>bha-gujarati</string>
      <string>bh-gujarati</string>
      <string>bh_ra-gujarati</string>
      <string>bh_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ca-L</key>
    <array>
      <string>ca-gujarati</string>
      <string>c-gujarati</string>
      <string>c_ra-gujarati</string>
      <string>c_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ch_va-L</key>
    <array>
      <string>ch_va-gujarati</string>
    </array>
    <key>public.kern2.GUJ_cha-L</key>
    <array>
      <string>cha-gujarati</string>
      <string>ch_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_d_bha-L</key>
    <array>
      <string>d_bha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_d_dha-L</key>
    <array>
      <string>d_dha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_d_gha-L</key>
    <array>
      <string>d_gha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_d_ma-L</key>
    <array>
      <string>d_ma-gujarati</string>
    </array>
    <key>public.kern2.GUJ_da-L</key>
    <array>
      <string>da-gujarati</string>
      <string>d-gujarati</string>
      <string>d_da-gujarati</string>
    </array>
    <key>public.kern2.GUJ_da_ru-L</key>
    <array>
      <string>da_rVocalicMatra-gujarati</string>
      <string>d_ra-gujarati</string>
      <string>d_ga-gujarati</string>
      <string>d_na-gujarati</string>
      <string>d_ba-gujarati</string>
      <string>d_va-gujarati</string>
    </array>
    <key>public.kern2.GUJ_dd_dda-L</key>
    <array>
      <string>dd_dda-gujarati</string>
      <string>dd_ddha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ddh_ddha-L</key>
    <array>
      <string>ddh_ddha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ddha-L</key>
    <array>
      <string>ddha-gujarati</string>
      <string>ddh-gujarati</string>
      <string>ddh_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_dha-L</key>
    <array>
      <string>dha-gujarati</string>
      <string>dh-gujarati</string>
      <string>dh_ra-gujarati</string>
      <string>d_ya-gujarati</string>
      <string>dh_na-gujarati</string>
      <string>dh_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_eight-L</key>
    <array>
      <string>eight-gujarati</string>
    </array>
    <key>public.kern2.GUJ_five-L</key>
    <array>
      <string>five-gujarati</string>
    </array>
    <key>public.kern2.GUJ_four-L</key>
    <array>
      <string>four-gujarati</string>
    </array>
    <key>public.kern2.GUJ_g_ra-L</key>
    <array>
      <string>g_ra-gujarati</string>
      <string>g_na-gujarati</string>
      <string>g_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ga-L</key>
    <array>
      <string>ga-gujarati</string>
      <string>g-gujarati</string>
    </array>
    <key>public.kern2.GUJ_gha-L</key>
    <array>
      <string>gha-gujarati</string>
      <string>gh-gujarati</string>
      <string>gh_ra-gujarati</string>
      <string>gh_na-gujarati</string>
      <string>gh_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ha-L</key>
    <array>
      <string>ha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ha_ru-L</key>
    <array>
      <string>ha_rVocalicMatra-gujarati</string>
      <string>h-gujarati</string>
      <string>h_ra-gujarati</string>
      <string>h_nna-gujarati</string>
      <string>h_na-gujarati</string>
      <string>h_ma-gujarati</string>
      <string>h_ya-gujarati</string>
      <string>h_la-gujarati</string>
      <string>h_va-gujarati</string>
    </array>
    <key>public.kern2.GUJ_i-L</key>
    <array>
      <string>i-gujarati</string>
      <string>ii-gujarati</string>
    </array>
    <key>public.kern2.GUJ_j_ra-L</key>
    <array>
      <string>j_ra-gujarati</string>
      <string>j_ra_aaMatra-gujarati</string>
      <string>j_ra_iiMatra-gujarati</string>
      <string>j_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ja-L</key>
    <array>
      <string>ja-gujarati</string>
      <string>ja_aaMatra-gujarati</string>
      <string>ja_iiMatra-gujarati</string>
      <string>j-gujarati</string>
      <string>j_ja-gujarati</string>
      <string>j_ma-gujarati</string>
      <string>j_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_jha-L</key>
    <array>
      <string>jha-gujarati</string>
      <string>jh-gujarati</string>
      <string>jh_ra-gujarati</string>
    </array>
    <key>public.kern2.GUJ_jnya-L</key>
    <array>
      <string>j_ny-gujarati</string>
      <string>j_ny_ra-gujarati</string>
      <string>j_nya-gujarati</string>
      <string>j_ny_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ka-L</key>
    <array>
      <string>ka-gujarati</string>
      <string>pha-gujarati</string>
      <string>k-gujarati</string>
      <string>ph-gujarati</string>
      <string>k_ra-gujarati</string>
      <string>ph_ra-gujarati</string>
      <string>k_ka-gujarati</string>
      <string>k_kha-gujarati</string>
      <string>k_da-gujarati</string>
      <string>k_pa-gujarati</string>
      <string>k_ya-gujarati</string>
      <string>ph_ya-gujarati</string>
      <string>k_r-gujarati</string>
      <string>ph_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_kh_ra-L</key>
    <array>
      <string>kh_ra-gujarati</string>
      <string>kh_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_kha-L</key>
    <array>
      <string>kha-gujarati</string>
      <string>kh-gujarati</string>
    </array>
    <key>public.kern2.GUJ_kssa-L</key>
    <array>
      <string>k_ss-gujarati</string>
      <string>k_ss_ra-gujarati</string>
      <string>k_ssa-gujarati</string>
      <string>k_ss_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_lVocalic-L</key>
    <array>
      <string>lVocalic-gujarati</string>
      <string>llVocalic-gujarati</string>
    </array>
    <key>public.kern2.GUJ_la-L</key>
    <array>
      <string>la-gujarati</string>
      <string>l-gujarati</string>
      <string>l_ra-gujarati</string>
      <string>l_ka-gujarati</string>
      <string>l_ya-gujarati</string>
      <string>l_sa-gujarati</string>
      <string>l_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_lla-L</key>
    <array>
      <string>lla-gujarati</string>
      <string>ll-gujarati</string>
      <string>ll_ra-gujarati</string>
      <string>ll_ya-gujarati</string>
      <string>ll_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_m_ra-L</key>
    <array>
      <string>m_ra-gujarati</string>
      <string>m_na-gujarati</string>
      <string>m_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ma-L</key>
    <array>
      <string>ma-gujarati</string>
      <string>m-gujarati</string>
    </array>
    <key>public.kern2.GUJ_na-L</key>
    <array>
      <string>na-gujarati</string>
      <string>n-gujarati</string>
      <string>n_ra-gujarati</string>
      <string>n_tta-gujarati</string>
      <string>n_sa-gujarati</string>
      <string>n_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ng_ga-L</key>
    <array>
      <string>ng_ga-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ng_gha-L</key>
    <array>
      <string>ng_gha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ng_ka-L</key>
    <array>
      <string>ng_ka-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ng_ma-L</key>
    <array>
      <string>ng_ma-gujarati</string>
    </array>
    <key>public.kern2.GUJ_nga-L</key>
    <array>
      <string>nga-gujarati</string>
      <string>dda-gujarati</string>
      <string>ng-gujarati</string>
      <string>ng_ya-gujarati</string>
      <string>dd_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_nna-L</key>
    <array>
      <string>nna-gujarati</string>
      <string>nna-gujarati.calt</string>
      <string>nn-gujarati</string>
      <string>nn_ra-gujarati</string>
      <string>nn_ra-gujarati.calt</string>
      <string>nn_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ny_ca-L</key>
    <array>
      <string>ny_ca-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ny_ja-L</key>
    <array>
      <string>ny_ja-gujarati</string>
    </array>
    <key>public.kern2.GUJ_nya-L</key>
    <array>
      <string>nya-gujarati</string>
      <string>ny-gujarati</string>
      <string>ny_ra-gujarati</string>
      <string>ny_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_one-L</key>
    <array>
      <string>one-gujarati</string>
    </array>
    <key>public.kern2.GUJ_p_ra-L</key>
    <array>
      <string>p_ra-gujarati</string>
      <string>p_na-gujarati</string>
      <string>p_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_pa-L</key>
    <array>
      <string>pa-gujarati</string>
      <string>p-gujarati</string>
      <string>p_da-gujarati</string>
    </array>
    <key>public.kern2.GUJ_pa_tta-L</key>
    <array>
      <string>p_tta-gujarati</string>
      <string>p_ttha-gujarati</string>
      <string>p_ta-gujarati</string>
      <string>ss_tta-gujarati</string>
      <string>ss_ttha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_rVocalic-L</key>
    <array>
      <string>rVocalic-gujarati</string>
      <string>rrVocalic-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ra-L</key>
    <array>
      <string>ra-gujarati</string>
      <string>r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_sa-L</key>
    <array>
      <string>sa-gujarati</string>
      <string>s-gujarati</string>
      <string>s_ra-gujarati</string>
      <string>s_ka-gujarati</string>
      <string>s_tta-gujarati</string>
      <string>s_ttha-gujarati</string>
      <string>s_dda-gujarati</string>
      <string>s_t_ra-gujarati</string>
      <string>s_tha-gujarati</string>
      <string>s_pha-gujarati</string>
      <string>s_ma-gujarati</string>
      <string>s_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_seven-L</key>
    <array>
      <string>seven-gujarati</string>
    </array>
    <key>public.kern2.GUJ_sh_ra-L</key>
    <array>
      <string>sh_ra-gujarati</string>
      <string>sh_ca-gujarati</string>
      <string>sh_na-gujarati</string>
      <string>sh_la-gujarati</string>
      <string>sh_va-gujarati</string>
      <string>sh_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_sha-L</key>
    <array>
      <string>sha-gujarati</string>
      <string>sh-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ssa-L</key>
    <array>
      <string>ssa-gujarati</string>
      <string>ss-gujarati</string>
      <string>ss_ra-gujarati</string>
      <string>ss_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_t_ra-L</key>
    <array>
      <string>t_r-gujarati</string>
      <string>t_ra-gujarati</string>
    </array>
    <key>public.kern2.GUJ_t_ta-L</key>
    <array>
      <string>t_t-gujarati</string>
      <string>tt_tta-gujarati</string>
      <string>tt_ttha-gujarati</string>
      <string>tt_va-gujarati</string>
      <string>t_ta-gujarati</string>
      <string>t_t_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ta-L</key>
    <array>
      <string>ta-gujarati</string>
      <string>t-gujarati</string>
      <string>t_ka-gujarati</string>
      <string>t_na-gujarati</string>
      <string>t_ma-gujarati</string>
      <string>t_ya-gujarati</string>
      <string>t_sa-gujarati</string>
    </array>
    <key>public.kern2.GUJ_tha-L</key>
    <array>
      <string>tha-gujarati</string>
      <string>th-gujarati</string>
      <string>th_ra-gujarati</string>
      <string>th_na-gujarati</string>
      <string>th_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_three-L</key>
    <array>
      <string>three-gujarati</string>
    </array>
    <key>public.kern2.GUJ_tta-L</key>
    <array>
      <string>tta-gujarati</string>
      <string>tt-gujarati</string>
      <string>tt_ya-gujarati</string>
    </array>
    <key>public.kern2.GUJ_tth_ttha-L</key>
    <array>
      <string>tth_ttha-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ttha-L</key>
    <array>
      <string>ttha-gujarati</string>
      <string>tth-gujarati</string>
    </array>
    <key>public.kern2.GUJ_two-L</key>
    <array>
      <string>two-gujarati</string>
    </array>
    <key>public.kern2.GUJ_u-L</key>
    <array>
      <string>u-gujarati</string>
      <string>uu-gujarati</string>
    </array>
    <key>public.kern2.GUJ_va-L</key>
    <array>
      <string>va-gujarati</string>
      <string>v-gujarati</string>
      <string>v_ra-gujarati</string>
      <string>v_da-gujarati</string>
      <string>v_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_ya-L</key>
    <array>
      <string>ya-gujarati</string>
      <string>y-gujarati</string>
      <string>y_ra-gujarati</string>
      <string>y_r-gujarati</string>
    </array>
    <key>public.kern2.GUJ_zero-L</key>
    <array>
      <string>zero-gujarati</string>
    </array>
    <key>public.kern2.GUJ_zha-L</key>
    <array>
      <string>zha-gujarati</string>
      <string>zha_aaMatra-gujarati</string>
      <string>zha_iiMatra-gujarati</string>
      <string>zh_ra-gujarati</string>
      <string>zh_ra_aaMatra-gujarati</string>
      <string>zh_ra_iiMatra-gujarati</string>
    </array>
    <key>public.kern2.LTN_asterisk_L</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.LTN_braceleft_L</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.LTN_bracketleft_L</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.LTN_colon_L</key>
    <array>
      <string>colon</string>
    </array>
    <key>public.kern2.LTN_comma_L</key>
    <array>
      <string>comma</string>
    </array>
    <key>public.kern2.LTN_endash_L</key>
    <array>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.LTN_exclam_L</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.LTN_hyphen_L</key>
    <array>
      <string>hyphen</string>
      <string>uni2010</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern2.LTN_parenleft_L</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.LTN_parenright_L</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.LTN_period_L</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.LTN_question_L</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.LTN_quoteleft_L</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.LTN_quoteright_L</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.LTN_quotesingle_L</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.LTN_semicolon_L</key>
    <array>
      <string>semicolon</string>
    </array>
    <key>public.kern2.LTN_slash_L</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.PCT_braceleft_L</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.PCT_bracketleft_L</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.PCT_underscore_L</key>
    <array>
      <string>underscore</string>
    </array>
  </dict>
</plist>
