<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>electricalintersection</key>
    <string>electricalintersection.glif</string>
    <key>quintessence-alchemical</key>
    <string>quintessence-alchemical.glif</string>
  </dict>
</plist>
