<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>musicalnote</key>
    <string>musicalnote.glif</string>
    <key>musicalnotedbl</key>
    <string>musicalnotedbl.glif</string>
    <key>null_notehead</key>
    <string>null_notehead.glif</string>
    <key>nullmark</key>
    <string>nullmark.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u1D000</key>
    <string>u1D_000.glif</string>
    <key>u1D001</key>
    <string>u1D_001.glif</string>
    <key>u1D002</key>
    <string>u1D_002.glif</string>
    <key>u1D003</key>
    <string>u1D_003.glif</string>
    <key>u1D004</key>
    <string>u1D_004.glif</string>
    <key>u1D005</key>
    <string>u1D_005.glif</string>
    <key>u1D006</key>
    <string>u1D_006.glif</string>
    <key>u1D007</key>
    <string>u1D_007.glif</string>
    <key>u1D008</key>
    <string>u1D_008.glif</string>
    <key>u1D009</key>
    <string>u1D_009.glif</string>
    <key>u1D00A</key>
    <string>u1D_00A_.glif</string>
    <key>u1D00B</key>
    <string>u1D_00B_.glif</string>
    <key>u1D00C</key>
    <string>u1D_00C_.glif</string>
    <key>u1D00D</key>
    <string>u1D_00D_.glif</string>
    <key>u1D00E</key>
    <string>u1D_00E_.glif</string>
    <key>u1D00F</key>
    <string>u1D_00F_.glif</string>
    <key>u1D010</key>
    <string>u1D_010.glif</string>
    <key>u1D011</key>
    <string>u1D_011.glif</string>
    <key>u1D012</key>
    <string>u1D_012.glif</string>
    <key>u1D013</key>
    <string>u1D_013.glif</string>
    <key>u1D014</key>
    <string>u1D_014.glif</string>
    <key>u1D015</key>
    <string>u1D_015.glif</string>
    <key>u1D016</key>
    <string>u1D_016.glif</string>
    <key>u1D017</key>
    <string>u1D_017.glif</string>
    <key>u1D018</key>
    <string>u1D_018.glif</string>
    <key>u1D019</key>
    <string>u1D_019.glif</string>
    <key>u1D01A</key>
    <string>u1D_01A_.glif</string>
    <key>u1D01B</key>
    <string>u1D_01B_.glif</string>
    <key>u1D01C</key>
    <string>u1D_01C_.glif</string>
    <key>u1D01D</key>
    <string>u1D_01D_.glif</string>
    <key>u1D01E</key>
    <string>u1D_01E_.glif</string>
    <key>u1D01F</key>
    <string>u1D_01F_.glif</string>
    <key>u1D020</key>
    <string>u1D_020.glif</string>
    <key>u1D021</key>
    <string>u1D_021.glif</string>
    <key>u1D022</key>
    <string>u1D_022.glif</string>
    <key>u1D023</key>
    <string>u1D_023.glif</string>
    <key>u1D024</key>
    <string>u1D_024.glif</string>
    <key>u1D025</key>
    <string>u1D_025.glif</string>
    <key>u1D026</key>
    <string>u1D_026.glif</string>
    <key>u1D027</key>
    <string>u1D_027.glif</string>
    <key>u1D028</key>
    <string>u1D_028.glif</string>
    <key>u1D029</key>
    <string>u1D_029.glif</string>
    <key>u1D02A</key>
    <string>u1D_02A_.glif</string>
    <key>u1D02B</key>
    <string>u1D_02B_.glif</string>
    <key>u1D02C</key>
    <string>u1D_02C_.glif</string>
    <key>u1D02D</key>
    <string>u1D_02D_.glif</string>
    <key>u1D02E</key>
    <string>u1D_02E_.glif</string>
    <key>u1D02F</key>
    <string>u1D_02F_.glif</string>
    <key>u1D030</key>
    <string>u1D_030.glif</string>
    <key>u1D031</key>
    <string>u1D_031.glif</string>
    <key>u1D032</key>
    <string>u1D_032.glif</string>
    <key>u1D033</key>
    <string>u1D_033.glif</string>
    <key>u1D034</key>
    <string>u1D_034.glif</string>
    <key>u1D035</key>
    <string>u1D_035.glif</string>
    <key>u1D036</key>
    <string>u1D_036.glif</string>
    <key>u1D037</key>
    <string>u1D_037.glif</string>
    <key>u1D038</key>
    <string>u1D_038.glif</string>
    <key>u1D039</key>
    <string>u1D_039.glif</string>
    <key>u1D03A</key>
    <string>u1D_03A_.glif</string>
    <key>u1D03B</key>
    <string>u1D_03B_.glif</string>
    <key>u1D03C</key>
    <string>u1D_03C_.glif</string>
    <key>u1D03D</key>
    <string>u1D_03D_.glif</string>
    <key>u1D03E</key>
    <string>u1D_03E_.glif</string>
    <key>u1D03F</key>
    <string>u1D_03F_.glif</string>
    <key>u1D040</key>
    <string>u1D_040.glif</string>
    <key>u1D041</key>
    <string>u1D_041.glif</string>
    <key>u1D042</key>
    <string>u1D_042.glif</string>
    <key>u1D043</key>
    <string>u1D_043.glif</string>
    <key>u1D044</key>
    <string>u1D_044.glif</string>
    <key>u1D045</key>
    <string>u1D_045.glif</string>
    <key>u1D046</key>
    <string>u1D_046.glif</string>
    <key>u1D047</key>
    <string>u1D_047.glif</string>
    <key>u1D048</key>
    <string>u1D_048.glif</string>
    <key>u1D049</key>
    <string>u1D_049.glif</string>
    <key>u1D04A</key>
    <string>u1D_04A_.glif</string>
    <key>u1D04B</key>
    <string>u1D_04B_.glif</string>
    <key>u1D04C</key>
    <string>u1D_04C_.glif</string>
    <key>u1D04D</key>
    <string>u1D_04D_.glif</string>
    <key>u1D04E</key>
    <string>u1D_04E_.glif</string>
    <key>u1D04F</key>
    <string>u1D_04F_.glif</string>
    <key>u1D050</key>
    <string>u1D_050.glif</string>
    <key>u1D051</key>
    <string>u1D_051.glif</string>
    <key>u1D052</key>
    <string>u1D_052.glif</string>
    <key>u1D053</key>
    <string>u1D_053.glif</string>
    <key>u1D054</key>
    <string>u1D_054.glif</string>
    <key>u1D055</key>
    <string>u1D_055.glif</string>
    <key>u1D056</key>
    <string>u1D_056.glif</string>
    <key>u1D057</key>
    <string>u1D_057.glif</string>
    <key>u1D058</key>
    <string>u1D_058.glif</string>
    <key>u1D059</key>
    <string>u1D_059.glif</string>
    <key>u1D05A</key>
    <string>u1D_05A_.glif</string>
    <key>u1D05B</key>
    <string>u1D_05B_.glif</string>
    <key>u1D05C</key>
    <string>u1D_05C_.glif</string>
    <key>u1D05D</key>
    <string>u1D_05D_.glif</string>
    <key>u1D05E</key>
    <string>u1D_05E_.glif</string>
    <key>u1D05F</key>
    <string>u1D_05F_.glif</string>
    <key>u1D060</key>
    <string>u1D_060.glif</string>
    <key>u1D061</key>
    <string>u1D_061.glif</string>
    <key>u1D062</key>
    <string>u1D_062.glif</string>
    <key>u1D063</key>
    <string>u1D_063.glif</string>
    <key>u1D064</key>
    <string>u1D_064.glif</string>
    <key>u1D065</key>
    <string>u1D_065.glif</string>
    <key>u1D066</key>
    <string>u1D_066.glif</string>
    <key>u1D067</key>
    <string>u1D_067.glif</string>
    <key>u1D068</key>
    <string>u1D_068.glif</string>
    <key>u1D069</key>
    <string>u1D_069.glif</string>
    <key>u1D06A</key>
    <string>u1D_06A_.glif</string>
    <key>u1D06B</key>
    <string>u1D_06B_.glif</string>
    <key>u1D06C</key>
    <string>u1D_06C_.glif</string>
    <key>u1D06D</key>
    <string>u1D_06D_.glif</string>
    <key>u1D06E</key>
    <string>u1D_06E_.glif</string>
    <key>u1D06F</key>
    <string>u1D_06F_.glif</string>
    <key>u1D070</key>
    <string>u1D_070.glif</string>
    <key>u1D071</key>
    <string>u1D_071.glif</string>
    <key>u1D072</key>
    <string>u1D_072.glif</string>
    <key>u1D073</key>
    <string>u1D_073.glif</string>
    <key>u1D074</key>
    <string>u1D_074.glif</string>
    <key>u1D075</key>
    <string>u1D_075.glif</string>
    <key>u1D076</key>
    <string>u1D_076.glif</string>
    <key>u1D077</key>
    <string>u1D_077.glif</string>
    <key>u1D078</key>
    <string>u1D_078.glif</string>
    <key>u1D079</key>
    <string>u1D_079.glif</string>
    <key>u1D07A</key>
    <string>u1D_07A_.glif</string>
    <key>u1D07B</key>
    <string>u1D_07B_.glif</string>
    <key>u1D07C</key>
    <string>u1D_07C_.glif</string>
    <key>u1D07D</key>
    <string>u1D_07D_.glif</string>
    <key>u1D07E</key>
    <string>u1D_07E_.glif</string>
    <key>u1D07F</key>
    <string>u1D_07F_.glif</string>
    <key>u1D080</key>
    <string>u1D_080.glif</string>
    <key>u1D081</key>
    <string>u1D_081.glif</string>
    <key>u1D082</key>
    <string>u1D_082.glif</string>
    <key>u1D083</key>
    <string>u1D_083.glif</string>
    <key>u1D084</key>
    <string>u1D_084.glif</string>
    <key>u1D085</key>
    <string>u1D_085.glif</string>
    <key>u1D086</key>
    <string>u1D_086.glif</string>
    <key>u1D087</key>
    <string>u1D_087.glif</string>
    <key>u1D088</key>
    <string>u1D_088.glif</string>
    <key>u1D089</key>
    <string>u1D_089.glif</string>
    <key>u1D08A</key>
    <string>u1D_08A_.glif</string>
    <key>u1D08B</key>
    <string>u1D_08B_.glif</string>
    <key>u1D08C</key>
    <string>u1D_08C_.glif</string>
    <key>u1D08D</key>
    <string>u1D_08D_.glif</string>
    <key>u1D08E</key>
    <string>u1D_08E_.glif</string>
    <key>u1D08F</key>
    <string>u1D_08F_.glif</string>
    <key>u1D090</key>
    <string>u1D_090.glif</string>
    <key>u1D091</key>
    <string>u1D_091.glif</string>
    <key>u1D092</key>
    <string>u1D_092.glif</string>
    <key>u1D093</key>
    <string>u1D_093.glif</string>
    <key>u1D094</key>
    <string>u1D_094.glif</string>
    <key>u1D095</key>
    <string>u1D_095.glif</string>
    <key>u1D096</key>
    <string>u1D_096.glif</string>
    <key>u1D097</key>
    <string>u1D_097.glif</string>
    <key>u1D098</key>
    <string>u1D_098.glif</string>
    <key>u1D099</key>
    <string>u1D_099.glif</string>
    <key>u1D09A</key>
    <string>u1D_09A_.glif</string>
    <key>u1D09B</key>
    <string>u1D_09B_.glif</string>
    <key>u1D09C</key>
    <string>u1D_09C_.glif</string>
    <key>u1D09D</key>
    <string>u1D_09D_.glif</string>
    <key>u1D09E</key>
    <string>u1D_09E_.glif</string>
    <key>u1D09F</key>
    <string>u1D_09F_.glif</string>
    <key>u1D0A0</key>
    <string>u1D_0A_0.glif</string>
    <key>u1D0A1</key>
    <string>u1D_0A_1.glif</string>
    <key>u1D0A2</key>
    <string>u1D_0A_2.glif</string>
    <key>u1D0A3</key>
    <string>u1D_0A_3.glif</string>
    <key>u1D0A4</key>
    <string>u1D_0A_4.glif</string>
    <key>u1D0A5</key>
    <string>u1D_0A_5.glif</string>
    <key>u1D0A6</key>
    <string>u1D_0A_6.glif</string>
    <key>u1D0A7</key>
    <string>u1D_0A_7.glif</string>
    <key>u1D0A8</key>
    <string>u1D_0A_8.glif</string>
    <key>u1D0A9</key>
    <string>u1D_0A_9.glif</string>
    <key>u1D0AA</key>
    <string>u1D_0A_A_.glif</string>
    <key>u1D0AB</key>
    <string>u1D_0A_B_.glif</string>
    <key>u1D0AC</key>
    <string>u1D_0A_C_.glif</string>
    <key>u1D0AD</key>
    <string>u1D_0A_D_.glif</string>
    <key>u1D0AE</key>
    <string>u1D_0A_E_.glif</string>
    <key>u1D0AF</key>
    <string>u1D_0A_F_.glif</string>
    <key>u1D0B0</key>
    <string>u1D_0B_0.glif</string>
    <key>u1D0B1</key>
    <string>u1D_0B_1.glif</string>
    <key>u1D0B2</key>
    <string>u1D_0B_2.glif</string>
    <key>u1D0B3</key>
    <string>u1D_0B_3.glif</string>
    <key>u1D0B4</key>
    <string>u1D_0B_4.glif</string>
    <key>u1D0B5</key>
    <string>u1D_0B_5.glif</string>
    <key>u1D0B6</key>
    <string>u1D_0B_6.glif</string>
    <key>u1D0B7</key>
    <string>u1D_0B_7.glif</string>
    <key>u1D0B8</key>
    <string>u1D_0B_8.glif</string>
    <key>u1D0B9</key>
    <string>u1D_0B_9.glif</string>
    <key>u1D0BA</key>
    <string>u1D_0B_A_.glif</string>
    <key>u1D0BB</key>
    <string>u1D_0B_B_.glif</string>
    <key>u1D0BC</key>
    <string>u1D_0B_C_.glif</string>
    <key>u1D0BD</key>
    <string>u1D_0B_D_.glif</string>
    <key>u1D0BE</key>
    <string>u1D_0B_E_.glif</string>
    <key>u1D0BF</key>
    <string>u1D_0B_F_.glif</string>
    <key>u1D0C0</key>
    <string>u1D_0C_0.glif</string>
    <key>u1D0C1</key>
    <string>u1D_0C_1.glif</string>
    <key>u1D0C2</key>
    <string>u1D_0C_2.glif</string>
    <key>u1D0C3</key>
    <string>u1D_0C_3.glif</string>
    <key>u1D0C4</key>
    <string>u1D_0C_4.glif</string>
    <key>u1D0C5</key>
    <string>u1D_0C_5.glif</string>
    <key>u1D0C6</key>
    <string>u1D_0C_6.glif</string>
    <key>u1D0C7</key>
    <string>u1D_0C_7.glif</string>
    <key>u1D0C8</key>
    <string>u1D_0C_8.glif</string>
    <key>u1D0C9</key>
    <string>u1D_0C_9.glif</string>
    <key>u1D0CA</key>
    <string>u1D_0C_A_.glif</string>
    <key>u1D0CB</key>
    <string>u1D_0C_B_.glif</string>
    <key>u1D0CC</key>
    <string>u1D_0C_C_.glif</string>
    <key>u1D0CD</key>
    <string>u1D_0C_D_.glif</string>
    <key>u1D0CE</key>
    <string>u1D_0C_E_.glif</string>
    <key>u1D0CF</key>
    <string>u1D_0C_F_.glif</string>
    <key>u1D0D0</key>
    <string>u1D_0D_0.glif</string>
    <key>u1D0D1</key>
    <string>u1D_0D_1.glif</string>
    <key>u1D0D2</key>
    <string>u1D_0D_2.glif</string>
    <key>u1D0D3</key>
    <string>u1D_0D_3.glif</string>
    <key>u1D0D4</key>
    <string>u1D_0D_4.glif</string>
    <key>u1D0D5</key>
    <string>u1D_0D_5.glif</string>
    <key>u1D0D6</key>
    <string>u1D_0D_6.glif</string>
    <key>u1D0D7</key>
    <string>u1D_0D_7.glif</string>
    <key>u1D0D8</key>
    <string>u1D_0D_8.glif</string>
    <key>u1D0D9</key>
    <string>u1D_0D_9.glif</string>
    <key>u1D0DA</key>
    <string>u1D_0D_A_.glif</string>
    <key>u1D0DB</key>
    <string>u1D_0D_B_.glif</string>
    <key>u1D0DC</key>
    <string>u1D_0D_C_.glif</string>
    <key>u1D0DD</key>
    <string>u1D_0D_D_.glif</string>
    <key>u1D0DE</key>
    <string>u1D_0D_E_.glif</string>
    <key>u1D0DF</key>
    <string>u1D_0D_F_.glif</string>
    <key>u1D0E0</key>
    <string>u1D_0E_0.glif</string>
    <key>u1D0E1</key>
    <string>u1D_0E_1.glif</string>
    <key>u1D0E2</key>
    <string>u1D_0E_2.glif</string>
    <key>u1D0E3</key>
    <string>u1D_0E_3.glif</string>
    <key>u1D0E4</key>
    <string>u1D_0E_4.glif</string>
    <key>u1D0E5</key>
    <string>u1D_0E_5.glif</string>
    <key>u1D0E6</key>
    <string>u1D_0E_6.glif</string>
    <key>u1D0E7</key>
    <string>u1D_0E_7.glif</string>
    <key>u1D0E8</key>
    <string>u1D_0E_8.glif</string>
    <key>u1D0E9</key>
    <string>u1D_0E_9.glif</string>
    <key>u1D0EA</key>
    <string>u1D_0E_A_.glif</string>
    <key>u1D0EB</key>
    <string>u1D_0E_B_.glif</string>
    <key>u1D0EC</key>
    <string>u1D_0E_C_.glif</string>
    <key>u1D0ED</key>
    <string>u1D_0E_D_.glif</string>
    <key>u1D0EE</key>
    <string>u1D_0E_E_.glif</string>
    <key>u1D0EF</key>
    <string>u1D_0E_F_.glif</string>
    <key>u1D0F0</key>
    <string>u1D_0F_0.glif</string>
    <key>u1D0F1</key>
    <string>u1D_0F_1.glif</string>
    <key>u1D0F2</key>
    <string>u1D_0F_2.glif</string>
    <key>u1D0F3</key>
    <string>u1D_0F_3.glif</string>
    <key>u1D0F4</key>
    <string>u1D_0F_4.glif</string>
    <key>u1D0F5</key>
    <string>u1D_0F_5.glif</string>
    <key>u1D100</key>
    <string>u1D_100.glif</string>
    <key>u1D101</key>
    <string>u1D_101.glif</string>
    <key>u1D102</key>
    <string>u1D_102.glif</string>
    <key>u1D103</key>
    <string>u1D_103.glif</string>
    <key>u1D104</key>
    <string>u1D_104.glif</string>
    <key>u1D105</key>
    <string>u1D_105.glif</string>
    <key>u1D106</key>
    <string>u1D_106.glif</string>
    <key>u1D107</key>
    <string>u1D_107.glif</string>
    <key>u1D108</key>
    <string>u1D_108.glif</string>
    <key>u1D109</key>
    <string>u1D_109.glif</string>
    <key>u1D10A</key>
    <string>u1D_10A_.glif</string>
    <key>u1D10B</key>
    <string>u1D_10B_.glif</string>
    <key>u1D10C</key>
    <string>u1D_10C_.glif</string>
    <key>u1D10D</key>
    <string>u1D_10D_.glif</string>
    <key>u1D10E</key>
    <string>u1D_10E_.glif</string>
    <key>u1D10F</key>
    <string>u1D_10F_.glif</string>
    <key>u1D110</key>
    <string>u1D_110.glif</string>
    <key>u1D111</key>
    <string>u1D_111.glif</string>
    <key>u1D112</key>
    <string>u1D_112.glif</string>
    <key>u1D113</key>
    <string>u1D_113.glif</string>
    <key>u1D114</key>
    <string>u1D_114.glif</string>
    <key>u1D115</key>
    <string>u1D_115.glif</string>
    <key>u1D116</key>
    <string>u1D_116.glif</string>
    <key>u1D117</key>
    <string>u1D_117.glif</string>
    <key>u1D118</key>
    <string>u1D_118.glif</string>
    <key>u1D119</key>
    <string>u1D_119.glif</string>
    <key>u1D11A</key>
    <string>u1D_11A_.glif</string>
    <key>u1D11B</key>
    <string>u1D_11B_.glif</string>
    <key>u1D11C</key>
    <string>u1D_11C_.glif</string>
    <key>u1D11D</key>
    <string>u1D_11D_.glif</string>
    <key>u1D11E</key>
    <string>u1D_11E_.glif</string>
    <key>u1D11F</key>
    <string>u1D_11F_.glif</string>
    <key>u1D120</key>
    <string>u1D_120.glif</string>
    <key>u1D121</key>
    <string>u1D_121.glif</string>
    <key>u1D122</key>
    <string>u1D_122.glif</string>
    <key>u1D123</key>
    <string>u1D_123.glif</string>
    <key>u1D124</key>
    <string>u1D_124.glif</string>
    <key>u1D125</key>
    <string>u1D_125.glif</string>
    <key>u1D126</key>
    <string>u1D_126.glif</string>
    <key>u1D129</key>
    <string>u1D_129.glif</string>
    <key>u1D12A</key>
    <string>u1D_12A_.glif</string>
    <key>u1D12B</key>
    <string>u1D_12B_.glif</string>
    <key>u1D12C</key>
    <string>u1D_12C_.glif</string>
    <key>u1D12D</key>
    <string>u1D_12D_.glif</string>
    <key>u1D12E</key>
    <string>u1D_12E_.glif</string>
    <key>u1D12F</key>
    <string>u1D_12F_.glif</string>
    <key>u1D130</key>
    <string>u1D_130.glif</string>
    <key>u1D131</key>
    <string>u1D_131.glif</string>
    <key>u1D132</key>
    <string>u1D_132.glif</string>
    <key>u1D133</key>
    <string>u1D_133.glif</string>
    <key>u1D134</key>
    <string>u1D_134.glif</string>
    <key>u1D135</key>
    <string>u1D_135.glif</string>
    <key>u1D136</key>
    <string>u1D_136.glif</string>
    <key>u1D137</key>
    <string>u1D_137.glif</string>
    <key>u1D138</key>
    <string>u1D_138.glif</string>
    <key>u1D139</key>
    <string>u1D_139.glif</string>
    <key>u1D13A</key>
    <string>u1D_13A_.glif</string>
    <key>u1D13B</key>
    <string>u1D_13B_.glif</string>
    <key>u1D13C</key>
    <string>u1D_13C_.glif</string>
    <key>u1D13D</key>
    <string>u1D_13D_.glif</string>
    <key>u1D13E</key>
    <string>u1D_13E_.glif</string>
    <key>u1D13F</key>
    <string>u1D_13F_.glif</string>
    <key>u1D140</key>
    <string>u1D_140.glif</string>
    <key>u1D141</key>
    <string>u1D_141.glif</string>
    <key>u1D142</key>
    <string>u1D_142.glif</string>
    <key>u1D143</key>
    <string>u1D_143.glif</string>
    <key>u1D144</key>
    <string>u1D_144.glif</string>
    <key>u1D145</key>
    <string>u1D_145.glif</string>
    <key>u1D146</key>
    <string>u1D_146.glif</string>
    <key>u1D147</key>
    <string>u1D_147.glif</string>
    <key>u1D148</key>
    <string>u1D_148.glif</string>
    <key>u1D149</key>
    <string>u1D_149.glif</string>
    <key>u1D14A</key>
    <string>u1D_14A_.glif</string>
    <key>u1D14B</key>
    <string>u1D_14B_.glif</string>
    <key>u1D14C</key>
    <string>u1D_14C_.glif</string>
    <key>u1D14D</key>
    <string>u1D_14D_.glif</string>
    <key>u1D14E</key>
    <string>u1D_14E_.glif</string>
    <key>u1D14F</key>
    <string>u1D_14F_.glif</string>
    <key>u1D150</key>
    <string>u1D_150.glif</string>
    <key>u1D151</key>
    <string>u1D_151.glif</string>
    <key>u1D152</key>
    <string>u1D_152.glif</string>
    <key>u1D153</key>
    <string>u1D_153.glif</string>
    <key>u1D154</key>
    <string>u1D_154.glif</string>
    <key>u1D155</key>
    <string>u1D_155.glif</string>
    <key>u1D156</key>
    <string>u1D_156.glif</string>
    <key>u1D157</key>
    <string>u1D_157.glif</string>
    <key>u1D158</key>
    <string>u1D_158.glif</string>
    <key>u1D15A</key>
    <string>u1D_15A_.glif</string>
    <key>u1D15B</key>
    <string>u1D_15B_.glif</string>
    <key>u1D15C</key>
    <string>u1D_15C_.glif</string>
    <key>u1D15D</key>
    <string>u1D_15D_.glif</string>
    <key>u1D15E</key>
    <string>u1D_15E_.glif</string>
    <key>u1D15F</key>
    <string>u1D_15F_.glif</string>
    <key>u1D160</key>
    <string>u1D_160.glif</string>
    <key>u1D161</key>
    <string>u1D_161.glif</string>
    <key>u1D162</key>
    <string>u1D_162.glif</string>
    <key>u1D163</key>
    <string>u1D_163.glif</string>
    <key>u1D164</key>
    <string>u1D_164.glif</string>
    <key>u1D165</key>
    <string>u1D_165.glif</string>
    <key>u1D165_b</key>
    <string>u1D_165_b.glif</string>
    <key>u1D165_ext</key>
    <string>u1D_165_ext.glif</string>
    <key>u1D165_ext2</key>
    <string>u1D_165_ext2.glif</string>
    <key>u1D165_short</key>
    <string>u1D_165_short.glif</string>
    <key>u1D165_short.alt</key>
    <string>u1D_165_short.alt.glif</string>
    <key>u1D165_short2</key>
    <string>u1D_165_short2.glif</string>
    <key>u1D166</key>
    <string>u1D_166.glif</string>
    <key>u1D166_b</key>
    <string>u1D_166_b.glif</string>
    <key>u1D166_ext</key>
    <string>u1D_166_ext.glif</string>
    <key>u1D166_ext2</key>
    <string>u1D_166_ext2.glif</string>
    <key>u1D166_short</key>
    <string>u1D_166_short.glif</string>
    <key>u1D166_short.alt</key>
    <string>u1D_166_short.alt.glif</string>
    <key>u1D166_short2</key>
    <string>u1D_166_short2.glif</string>
    <key>u1D167</key>
    <string>u1D_167.glif</string>
    <key>u1D167_low</key>
    <string>u1D_167_low.glif</string>
    <key>u1D168</key>
    <string>u1D_168.glif</string>
    <key>u1D168_low</key>
    <string>u1D_168_low.glif</string>
    <key>u1D169</key>
    <string>u1D_169.glif</string>
    <key>u1D169_low</key>
    <string>u1D_169_low.glif</string>
    <key>u1D16A</key>
    <string>u1D_16A_.glif</string>
    <key>u1D16B</key>
    <string>u1D_16B_.glif</string>
    <key>u1D16C</key>
    <string>u1D_16C_.glif</string>
    <key>u1D16D</key>
    <string>u1D_16D_.glif</string>
    <key>u1D16E</key>
    <string>u1D_16E_.glif</string>
    <key>u1D16F</key>
    <string>u1D_16F_.glif</string>
    <key>u1D170</key>
    <string>u1D_170.glif</string>
    <key>u1D171</key>
    <string>u1D_171.glif</string>
    <key>u1D172</key>
    <string>u1D_172.glif</string>
    <key>u1D173</key>
    <string>u1D_173.glif</string>
    <key>u1D174</key>
    <string>u1D_174.glif</string>
    <key>u1D175</key>
    <string>u1D_175.glif</string>
    <key>u1D176</key>
    <string>u1D_176.glif</string>
    <key>u1D177</key>
    <string>u1D_177.glif</string>
    <key>u1D178</key>
    <string>u1D_178.glif</string>
    <key>u1D179</key>
    <string>u1D_179.glif</string>
    <key>u1D17A</key>
    <string>u1D_17A_.glif</string>
    <key>u1D17B</key>
    <string>u1D_17B_.glif</string>
    <key>u1D17C</key>
    <string>u1D_17C_.glif</string>
    <key>u1D17D</key>
    <string>u1D_17D_.glif</string>
    <key>u1D17E</key>
    <string>u1D_17E_.glif</string>
    <key>u1D17F</key>
    <string>u1D_17F_.glif</string>
    <key>u1D180</key>
    <string>u1D_180.glif</string>
    <key>u1D181</key>
    <string>u1D_181.glif</string>
    <key>u1D182</key>
    <string>u1D_182.glif</string>
    <key>u1D183</key>
    <string>u1D_183.glif</string>
    <key>u1D184</key>
    <string>u1D_184.glif</string>
    <key>u1D185</key>
    <string>u1D_185.glif</string>
    <key>u1D186</key>
    <string>u1D_186.glif</string>
    <key>u1D187</key>
    <string>u1D_187.glif</string>
    <key>u1D188</key>
    <string>u1D_188.glif</string>
    <key>u1D189</key>
    <string>u1D_189.glif</string>
    <key>u1D18A</key>
    <string>u1D_18A_.glif</string>
    <key>u1D18B</key>
    <string>u1D_18B_.glif</string>
    <key>u1D18C</key>
    <string>u1D_18C_.glif</string>
    <key>u1D18D</key>
    <string>u1D_18D_.glif</string>
    <key>u1D18E</key>
    <string>u1D_18E_.glif</string>
    <key>u1D18F</key>
    <string>u1D_18F_.glif</string>
    <key>u1D190</key>
    <string>u1D_190.glif</string>
    <key>u1D191</key>
    <string>u1D_191.glif</string>
    <key>u1D192</key>
    <string>u1D_192.glif</string>
    <key>u1D193</key>
    <string>u1D_193.glif</string>
    <key>u1D194</key>
    <string>u1D_194.glif</string>
    <key>u1D195</key>
    <string>u1D_195.glif</string>
    <key>u1D196</key>
    <string>u1D_196.glif</string>
    <key>u1D197</key>
    <string>u1D_197.glif</string>
    <key>u1D198</key>
    <string>u1D_198.glif</string>
    <key>u1D199</key>
    <string>u1D_199.glif</string>
    <key>u1D19A</key>
    <string>u1D_19A_.glif</string>
    <key>u1D19B</key>
    <string>u1D_19B_.glif</string>
    <key>u1D19C</key>
    <string>u1D_19C_.glif</string>
    <key>u1D19D</key>
    <string>u1D_19D_.glif</string>
    <key>u1D19E</key>
    <string>u1D_19E_.glif</string>
    <key>u1D19F</key>
    <string>u1D_19F_.glif</string>
    <key>u1D1A0</key>
    <string>u1D_1A_0.glif</string>
    <key>u1D1A1</key>
    <string>u1D_1A_1.glif</string>
    <key>u1D1A2</key>
    <string>u1D_1A_2.glif</string>
    <key>u1D1A3</key>
    <string>u1D_1A_3.glif</string>
    <key>u1D1A4</key>
    <string>u1D_1A_4.glif</string>
    <key>u1D1A5</key>
    <string>u1D_1A_5.glif</string>
    <key>u1D1A6</key>
    <string>u1D_1A_6.glif</string>
    <key>u1D1A7</key>
    <string>u1D_1A_7.glif</string>
    <key>u1D1A8</key>
    <string>u1D_1A_8.glif</string>
    <key>u1D1A9</key>
    <string>u1D_1A_9.glif</string>
    <key>u1D1AA</key>
    <string>u1D_1A_A_.glif</string>
    <key>u1D1AB</key>
    <string>u1D_1A_B_.glif</string>
    <key>u1D1AC</key>
    <string>u1D_1A_C_.glif</string>
    <key>u1D1AD</key>
    <string>u1D_1A_D_.glif</string>
    <key>u1D1AE</key>
    <string>u1D_1A_E_.glif</string>
    <key>u1D1AF</key>
    <string>u1D_1A_F_.glif</string>
    <key>u1D1B0</key>
    <string>u1D_1B_0.glif</string>
    <key>u1D1B1</key>
    <string>u1D_1B_1.glif</string>
    <key>u1D1B2</key>
    <string>u1D_1B_2.glif</string>
    <key>u1D1B3</key>
    <string>u1D_1B_3.glif</string>
    <key>u1D1B4</key>
    <string>u1D_1B_4.glif</string>
    <key>u1D1B5</key>
    <string>u1D_1B_5.glif</string>
    <key>u1D1B6</key>
    <string>u1D_1B_6.glif</string>
    <key>u1D1B7</key>
    <string>u1D_1B_7.glif</string>
    <key>u1D1B8</key>
    <string>u1D_1B_8.glif</string>
    <key>u1D1B9</key>
    <string>u1D_1B_9.glif</string>
    <key>u1D1BA</key>
    <string>u1D_1B_A_.glif</string>
    <key>u1D1BB</key>
    <string>u1D_1B_B_.glif</string>
    <key>u1D1BC</key>
    <string>u1D_1B_C_.glif</string>
    <key>u1D1BD</key>
    <string>u1D_1B_D_.glif</string>
    <key>u1D1BE</key>
    <string>u1D_1B_E_.glif</string>
    <key>u1D1BF</key>
    <string>u1D_1B_F_.glif</string>
    <key>u1D1C0</key>
    <string>u1D_1C_0.glif</string>
    <key>u1D1C1</key>
    <string>u1D_1C_1.glif</string>
    <key>u1D1C2</key>
    <string>u1D_1C_2.glif</string>
    <key>u1D1C3</key>
    <string>u1D_1C_3.glif</string>
    <key>u1D1C4</key>
    <string>u1D_1C_4.glif</string>
    <key>u1D1C5</key>
    <string>u1D_1C_5.glif</string>
    <key>u1D1C6</key>
    <string>u1D_1C_6.glif</string>
    <key>u1D1C7</key>
    <string>u1D_1C_7.glif</string>
    <key>u1D1C8</key>
    <string>u1D_1C_8.glif</string>
    <key>u1D1C9</key>
    <string>u1D_1C_9.glif</string>
    <key>u1D1CA</key>
    <string>u1D_1C_A_.glif</string>
    <key>u1D1CB</key>
    <string>u1D_1C_B_.glif</string>
    <key>u1D1CC</key>
    <string>u1D_1C_C_.glif</string>
    <key>u1D1CD</key>
    <string>u1D_1C_D_.glif</string>
    <key>u1D1CE</key>
    <string>u1D_1C_E_.glif</string>
    <key>u1D1CF</key>
    <string>u1D_1C_F_.glif</string>
    <key>u1D1D0</key>
    <string>u1D_1D_0.glif</string>
    <key>u1D1D1</key>
    <string>u1D_1D_1.glif</string>
    <key>u1D1D2</key>
    <string>u1D_1D_2.glif</string>
    <key>u1D1D3</key>
    <string>u1D_1D_3.glif</string>
    <key>u1D1D4</key>
    <string>u1D_1D_4.glif</string>
    <key>u1D1D5</key>
    <string>u1D_1D_5.glif</string>
    <key>u1D1D6</key>
    <string>u1D_1D_6.glif</string>
    <key>u1D1D7</key>
    <string>u1D_1D_7.glif</string>
    <key>u1D1D8</key>
    <string>u1D_1D_8.glif</string>
    <key>u1D1D9</key>
    <string>u1D_1D_9.glif</string>
    <key>u1D1DA</key>
    <string>u1D_1D_A_.glif</string>
    <key>u1D1DB</key>
    <string>u1D_1D_B_.glif</string>
    <key>u1D1DC</key>
    <string>u1D_1D_C_.glif</string>
    <key>u1D1DD</key>
    <string>u1D_1D_D_.glif</string>
    <key>u1D1DE</key>
    <string>u1D_1D_E_.glif</string>
    <key>u1D1DF</key>
    <string>u1D_1D_F_.glif</string>
    <key>u1D1E0</key>
    <string>u1D_1E_0.glif</string>
    <key>u1D1E1</key>
    <string>u1D_1E_1.glif</string>
    <key>u1D1E2</key>
    <string>u1D_1E_2.glif</string>
    <key>u1D1E3</key>
    <string>u1D_1E_3.glif</string>
    <key>u1D1E4</key>
    <string>u1D_1E_4.glif</string>
    <key>u1D1E5</key>
    <string>u1D_1E_5.glif</string>
    <key>u1D1E6</key>
    <string>u1D_1E_6.glif</string>
    <key>u1D1E7</key>
    <string>u1D_1E_7.glif</string>
    <key>u1D1E8</key>
    <string>u1D_1E_8.glif</string>
    <key>u1D200</key>
    <string>u1D_200.glif</string>
    <key>u1D201</key>
    <string>u1D_201.glif</string>
    <key>u1D202</key>
    <string>u1D_202.glif</string>
    <key>u1D203</key>
    <string>u1D_203.glif</string>
    <key>u1D204</key>
    <string>u1D_204.glif</string>
    <key>u1D205</key>
    <string>u1D_205.glif</string>
    <key>u1D206</key>
    <string>u1D_206.glif</string>
    <key>u1D207</key>
    <string>u1D_207.glif</string>
    <key>u1D208</key>
    <string>u1D_208.glif</string>
    <key>u1D209</key>
    <string>u1D_209.glif</string>
    <key>u1D20A</key>
    <string>u1D_20A_.glif</string>
    <key>u1D20B</key>
    <string>u1D_20B_.glif</string>
    <key>u1D20C</key>
    <string>u1D_20C_.glif</string>
    <key>u1D20D</key>
    <string>u1D_20D_.glif</string>
    <key>u1D20E</key>
    <string>u1D_20E_.glif</string>
    <key>u1D20F</key>
    <string>u1D_20F_.glif</string>
    <key>u1D210</key>
    <string>u1D_210.glif</string>
    <key>u1D211</key>
    <string>u1D_211.glif</string>
    <key>u1D212</key>
    <string>u1D_212.glif</string>
    <key>u1D213</key>
    <string>u1D_213.glif</string>
    <key>u1D214</key>
    <string>u1D_214.glif</string>
    <key>u1D215</key>
    <string>u1D_215.glif</string>
    <key>u1D216</key>
    <string>u1D_216.glif</string>
    <key>u1D217</key>
    <string>u1D_217.glif</string>
    <key>u1D218</key>
    <string>u1D_218.glif</string>
    <key>u1D219</key>
    <string>u1D_219.glif</string>
    <key>u1D21A</key>
    <string>u1D_21A_.glif</string>
    <key>u1D21B</key>
    <string>u1D_21B_.glif</string>
    <key>u1D21C</key>
    <string>u1D_21C_.glif</string>
    <key>u1D21D</key>
    <string>u1D_21D_.glif</string>
    <key>u1D21E</key>
    <string>u1D_21E_.glif</string>
    <key>u1D21F</key>
    <string>u1D_21F_.glif</string>
    <key>u1D220</key>
    <string>u1D_220.glif</string>
    <key>u1D221</key>
    <string>u1D_221.glif</string>
    <key>u1D222</key>
    <string>u1D_222.glif</string>
    <key>u1D223</key>
    <string>u1D_223.glif</string>
    <key>u1D224</key>
    <string>u1D_224.glif</string>
    <key>u1D225</key>
    <string>u1D_225.glif</string>
    <key>u1D226</key>
    <string>u1D_226.glif</string>
    <key>u1D227</key>
    <string>u1D_227.glif</string>
    <key>u1D228</key>
    <string>u1D_228.glif</string>
    <key>u1D229</key>
    <string>u1D_229.glif</string>
    <key>u1D22A</key>
    <string>u1D_22A_.glif</string>
    <key>u1D22B</key>
    <string>u1D_22B_.glif</string>
    <key>u1D22C</key>
    <string>u1D_22C_.glif</string>
    <key>u1D22D</key>
    <string>u1D_22D_.glif</string>
    <key>u1D22E</key>
    <string>u1D_22E_.glif</string>
    <key>u1D22F</key>
    <string>u1D_22F_.glif</string>
    <key>u1D230</key>
    <string>u1D_230.glif</string>
    <key>u1D231</key>
    <string>u1D_231.glif</string>
    <key>u1D232</key>
    <string>u1D_232.glif</string>
    <key>u1D233</key>
    <string>u1D_233.glif</string>
    <key>u1D234</key>
    <string>u1D_234.glif</string>
    <key>u1D235</key>
    <string>u1D_235.glif</string>
    <key>u1D236</key>
    <string>u1D_236.glif</string>
    <key>u1D237</key>
    <string>u1D_237.glif</string>
    <key>u1D238</key>
    <string>u1D_238.glif</string>
    <key>u1D239</key>
    <string>u1D_239.glif</string>
    <key>u1D23A</key>
    <string>u1D_23A_.glif</string>
    <key>u1D23B</key>
    <string>u1D_23B_.glif</string>
    <key>u1D23C</key>
    <string>u1D_23C_.glif</string>
    <key>u1D23D</key>
    <string>u1D_23D_.glif</string>
    <key>u1D23E</key>
    <string>u1D_23E_.glif</string>
    <key>u1D23F</key>
    <string>u1D_23F_.glif</string>
    <key>u1D240</key>
    <string>u1D_240.glif</string>
    <key>u1D241</key>
    <string>u1D_241.glif</string>
    <key>u1D242</key>
    <string>u1D_242.glif</string>
    <key>u1D242.alt</key>
    <string>u1D_242.alt.glif</string>
    <key>u1D243</key>
    <string>u1D_243.glif</string>
    <key>u1D243.alt</key>
    <string>u1D_243.alt.glif</string>
    <key>u1D244</key>
    <string>u1D_244.glif</string>
    <key>u1D244.alt</key>
    <string>u1D_244.alt.glif</string>
    <key>u1D245</key>
    <string>u1D_245.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>uni2669</key>
    <string>uni2669.glif</string>
    <key>uni266C</key>
    <string>uni266C_.glif</string>
    <key>uni266D</key>
    <string>uni266D_.glif</string>
    <key>uni266E</key>
    <string>uni266E_.glif</string>
    <key>uni266F</key>
    <string>uni266F_.glif</string>
  </dict>
</plist>
