<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>AA_dv</key>
    <string>A_A__dv.glif</string>
    <key>AA_dv.alt</key>
    <string>A_A__dv.alt.glif</string>
    <key>AA_dv.alt2</key>
    <string>A_A__dv.alt2.glif</string>
    <key>AA_dv.alt3ga</key>
    <string>A_A__dv.alt3ga.glif</string>
    <key>AA_dv.alt5</key>
    <string>A_A__dv.alt5.glif</string>
    <key>AA_dv.alt6</key>
    <string>A_A__dv.alt6.glif</string>
    <key>AA_dv.nya</key>
    <string>A_A__dv.nya.glif</string>
    <key>AA_dv.tall</key>
    <string>A_A__dv.tall.glif</string>
    <key>AA_dv.ttha</key>
    <string>A_A__dv.ttha.glif</string>
    <key>AA_iv</key>
    <string>A_A__iv.glif</string>
    <key>AI_dv</key>
    <string>A_I__dv.glif</string>
    <key>AI_dv.alt</key>
    <string>A_I__dv.alt.glif</string>
    <key>AI_dv.lg</key>
    <string>A_I__dv.lg.glif</string>
    <key>AI_dv.md</key>
    <string>A_I__dv.md.glif</string>
    <key>AI_dv.sm</key>
    <string>A_I__dv.sm.glif</string>
    <key>AI_dv.xlg</key>
    <string>A_I__dv.xlg.glif</string>
    <key>AI_dv_top.alt</key>
    <string>A_I__dv_top.alt.glif</string>
    <key>AI_iv</key>
    <string>A_I__iv.glif</string>
    <key>AU_dv</key>
    <string>A_U__dv.glif</string>
    <key>AU_dv.alt</key>
    <string>A_U__dv.alt.glif</string>
    <key>AU_dv.lg</key>
    <string>A_U__dv.lg.glif</string>
    <key>AU_dv.md</key>
    <string>A_U__dv.md.glif</string>
    <key>AU_dv.md.tall</key>
    <string>A_U__dv.md.tall.glif</string>
    <key>AU_dv.sm</key>
    <string>A_U__dv.sm.glif</string>
    <key>AU_dv.tall</key>
    <string>A_U__dv.tall.glif</string>
    <key>AU_dv.xlg</key>
    <string>A_U__dv.xlg.glif</string>
    <key>AU_dv.xlg.tall</key>
    <string>A_U__dv.xlg.tall.glif</string>
    <key>AU_dv.xxlg</key>
    <string>A_U__dv.xxlg.glif</string>
    <key>AU_dv_part.alt</key>
    <string>A_U__dv_part.alt.glif</string>
    <key>AU_dv_part.alt2</key>
    <string>A_U__dv_part.alt2.glif</string>
    <key>AU_dv_part.alt2_anusvara</key>
    <string>A_U__dv_part.alt2_anusvara.glif</string>
    <key>AU_dv_part.alt2_candra</key>
    <string>A_U__dv_part.alt2_candra.glif</string>
    <key>AU_dv_part.alt3</key>
    <string>A_U__dv_part.alt3.glif</string>
    <key>AU_dv_part.alt3_anusvara</key>
    <string>A_U__dv_part.alt3_anusvara.glif</string>
    <key>AU_dv_part.alt3_candra</key>
    <string>A_U__dv_part.alt3_candra.glif</string>
    <key>AU_dv_part.alt5</key>
    <string>A_U__dv_part.alt5.glif</string>
    <key>AU_dv_part.alt5_anusvara</key>
    <string>A_U__dv_part.alt5_anusvara.glif</string>
    <key>AU_dv_part.alt5_candra</key>
    <string>A_U__dv_part.alt5_candra.glif</string>
    <key>AU_dv_part.alt6</key>
    <string>A_U__dv_part.alt6.glif</string>
    <key>AU_dv_part.alt6_anusvara</key>
    <string>A_U__dv_part.alt6_anusvara.glif</string>
    <key>AU_dv_part.alt6_candra</key>
    <string>A_U__dv_part.alt6_candra.glif</string>
    <key>AU_dv_part.alt_anusvara</key>
    <string>A_U__dv_part.alt_anusvara.glif</string>
    <key>AU_dv_part.alt_candra</key>
    <string>A_U__dv_part.alt_candra.glif</string>
    <key>AU_dv_part.ttha</key>
    <string>A_U__dv_part.ttha.glif</string>
    <key>AU_dv_part.ttha_anusvara</key>
    <string>A_U__dv_part.ttha_anusvara.glif</string>
    <key>AU_dv_part.ttha_candra</key>
    <string>A_U__dv_part.ttha_candra.glif</string>
    <key>AU_iv</key>
    <string>A_U__iv.glif</string>
    <key>A_iv</key>
    <string>A__iv.glif</string>
    <key>Abbreviation</key>
    <string>A_bbreviation.glif</string>
    <key>Anusvara</key>
    <string>A_nusvara.glif</string>
    <key>Avagraha</key>
    <string>A_vagraha.glif</string>
    <key>Ba</key>
    <string>B_a.glif</string>
    <key>Ba.cd</key>
    <string>B_a.cd.glif</string>
    <key>Ba.half</key>
    <string>B_a.half.glif</string>
    <key>Ba.icd</key>
    <string>B_a.icd.glif</string>
    <key>Ba.icd.nohd</key>
    <string>B_a.icd.nohd.glif</string>
    <key>Ba.icd.shim.sm</key>
    <string>B_a.icd.shim.sm.glif</string>
    <key>Ba.nohd</key>
    <string>B_a.nohd.glif</string>
    <key>Bdha</key>
    <string>B_dha.glif</string>
    <key>Bha</key>
    <string>B_ha.glif</string>
    <key>Bha.alt</key>
    <string>B_ha.alt.glif</string>
    <key>Bha.alt.nohd</key>
    <string>B_ha.alt.nohd.glif</string>
    <key>Bha.cd</key>
    <string>B_ha.cd.glif</string>
    <key>Bha.half</key>
    <string>B_ha.half.glif</string>
    <key>Bha.icd</key>
    <string>B_ha.icd.glif</string>
    <key>Bha.icd.nohd</key>
    <string>B_ha.icd.nohd.glif</string>
    <key>Bha.nohd</key>
    <string>B_ha.nohd.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>Ca</key>
    <string>C_a.glif</string>
    <key>Ca.cd</key>
    <string>C_a.cd.glif</string>
    <key>Ca.half</key>
    <string>C_a.half.glif</string>
    <key>Ca.icd</key>
    <string>C_a.icd.glif</string>
    <key>Ca.icd.nohd</key>
    <string>C_a.icd.nohd.glif</string>
    <key>Ca.nohd</key>
    <string>C_a.nohd.glif</string>
    <key>Candrabindu</key>
    <string>C_andrabindu.glif</string>
    <key>Candrabindu.sm</key>
    <string>C_andrabindu.sm.glif</string>
    <key>Cha</key>
    <string>C_ha.glif</string>
    <key>Cha.cd</key>
    <string>C_ha.cd.glif</string>
    <key>Cha.icd</key>
    <string>C_ha.icd.glif</string>
    <key>Cha.icd.nohd</key>
    <string>C_ha.icd.nohd.glif</string>
    <key>Cha.icd.shim</key>
    <string>C_ha.icd.shim.glif</string>
    <key>Cha.nohd</key>
    <string>C_ha.nohd.glif</string>
    <key>Cha_Ta</key>
    <string>C_ha_T_a.glif</string>
    <key>Cha_Ta.nohd</key>
    <string>C_ha_T_a.nohd.glif</string>
    <key>Comma</key>
    <string>C_omma.glif</string>
    <key>Da</key>
    <string>D_a.glif</string>
    <key>Da.cd</key>
    <string>D_a.cd.glif</string>
    <key>Da.icd</key>
    <string>D_a.icd.glif</string>
    <key>Da.icd.nohd</key>
    <string>D_a.icd.nohd.glif</string>
    <key>Da.icd.nohd.rt</key>
    <string>D_a.icd.nohd.rt.glif</string>
    <key>Da.icd.rt</key>
    <string>D_a.icd.rt.glif</string>
    <key>Da.nohd</key>
    <string>D_a.nohd.glif</string>
    <key>Da_Nna</key>
    <string>D_a_N_na.glif</string>
    <key>Da_Nna.nohd</key>
    <string>D_a_N_na.nohd.glif</string>
    <key>Da_Ta</key>
    <string>D_a_T_a.glif</string>
    <key>Da_Ta.nohd</key>
    <string>D_a_T_a.nohd.glif</string>
    <key>Danda</key>
    <string>D_anda.glif</string>
    <key>Dbldanda</key>
    <string>D_bldanda.glif</string>
    <key>Dda</key>
    <string>D_da.glif</string>
    <key>Dda.cd</key>
    <string>D_da.cd.glif</string>
    <key>Dda.icd</key>
    <string>D_da.icd.glif</string>
    <key>Dda.icd.nohd</key>
    <string>D_da.icd.nohd.glif</string>
    <key>Dda.icd.nohd.rt</key>
    <string>D_da.icd.nohd.rt.glif</string>
    <key>Dda.icd.rt</key>
    <string>D_da.icd.rt.glif</string>
    <key>Dda.icd.shim</key>
    <string>D_da.icd.shim.glif</string>
    <key>Dda.nohd</key>
    <string>D_da.nohd.glif</string>
    <key>DdaTa</key>
    <string>D_daT_a.glif</string>
    <key>DdaTa.nohd</key>
    <string>D_daT_a.nohd.glif</string>
    <key>Ddha</key>
    <string>D_dha.glif</string>
    <key>Ddha.cd</key>
    <string>D_dha.cd.glif</string>
    <key>Ddha.icd</key>
    <string>D_dha.icd.glif</string>
    <key>Ddha.icd.nohd</key>
    <string>D_dha.icd.nohd.glif</string>
    <key>Ddha.icd.nohd.rt</key>
    <string>D_dha.icd.nohd.rt.glif</string>
    <key>Ddha.icd.rt</key>
    <string>D_dha.icd.rt.glif</string>
    <key>Ddha.icd.shim</key>
    <string>D_dha.icd.shim.glif</string>
    <key>Ddha.nohd</key>
    <string>D_dha.nohd.glif</string>
    <key>Ddha_Ta</key>
    <string>D_dha_T_a.glif</string>
    <key>Ddha_Ta.nohd</key>
    <string>D_dha_T_a.nohd.glif</string>
    <key>Dha</key>
    <string>D_ha.glif</string>
    <key>Dha.cd</key>
    <string>D_ha.cd.glif</string>
    <key>Dha.cd.alt</key>
    <string>D_ha.cd.alt.glif</string>
    <key>Dha.half</key>
    <string>D_ha.half.glif</string>
    <key>Dha.icd</key>
    <string>D_ha.icd.glif</string>
    <key>E_dv</key>
    <string>E__dv.glif</string>
    <key>E_dv.alt</key>
    <string>E__dv.alt.glif</string>
    <key>E_dv.lg</key>
    <string>E__dv.lg.glif</string>
    <key>E_dv.md</key>
    <string>E__dv.md.glif</string>
    <key>E_dv.right</key>
    <string>E__dv.right.glif</string>
    <key>E_dv.sm</key>
    <string>E__dv.sm.glif</string>
    <key>E_dv.xlg</key>
    <string>E__dv.xlg.glif</string>
    <key>E_iv</key>
    <string>E__iv.glif</string>
    <key>Eight_Newa</key>
    <string>E_ight_N_ewa.glif</string>
    <key>Finalanusvara</key>
    <string>F_inalanusvara.glif</string>
    <key>Five_Newa</key>
    <string>F_ive_N_ewa.glif</string>
    <key>Four_Newa</key>
    <string>F_our_N_ewa.glif</string>
    <key>Ga</key>
    <string>G_a.glif</string>
    <key>Ga.cd</key>
    <string>G_a.cd.glif</string>
    <key>Ga.cd.alt</key>
    <string>G_a.cd.alt.glif</string>
    <key>Ga.half</key>
    <string>G_a.half.glif</string>
    <key>Ga.icd</key>
    <string>G_a.icd.glif</string>
    <key>Gapfiller</key>
    <string>G_apfiller.glif</string>
    <key>Gha</key>
    <string>G_ha.glif</string>
    <key>Gha.cd</key>
    <string>G_ha.cd.glif</string>
    <key>Gha.cd.nohd</key>
    <string>G_ha.cd.nohd.glif</string>
    <key>Gha.cd.nohd.ns</key>
    <string>G_ha.cd.nohd.ns.glif</string>
    <key>Gha.diag</key>
    <string>G_ha.diag.glif</string>
    <key>Gha.half</key>
    <string>G_ha.half.glif</string>
    <key>Gha.icd</key>
    <string>G_ha.icd.glif</string>
    <key>Gha.icd.nohd</key>
    <string>G_ha.icd.nohd.glif</string>
    <key>Gha.nohd</key>
    <string>G_ha.nohd.glif</string>
    <key>Gi</key>
    <string>G_i.glif</string>
    <key>Gi.icd</key>
    <string>G_i.icd.glif</string>
    <key>Gphra</key>
    <string>G_phra.glif</string>
    <key>Gtya</key>
    <string>G_tya.glif</string>
    <key>Ha</key>
    <string>H_a.glif</string>
    <key>Ha.alt</key>
    <string>H_a.alt.glif</string>
    <key>Ha.alt.nohd</key>
    <string>H_a.alt.nohd.glif</string>
    <key>Ha.cd</key>
    <string>H_a.cd.glif</string>
    <key>Ha.icd</key>
    <string>H_a.icd.glif</string>
    <key>Ha.icd.alt</key>
    <string>H_a.icd.alt.glif</string>
    <key>Ha.icd.alt.nohd</key>
    <string>H_a.icd.alt.nohd.glif</string>
    <key>Ha.icd.nohd</key>
    <string>H_a.icd.nohd.glif</string>
    <key>Ha.nohd</key>
    <string>H_a.nohd.glif</string>
    <key>Ha_Gha</key>
    <string>H_a_G_ha.glif</string>
    <key>Ha_Gha.nohd</key>
    <string>H_a_G_ha.nohd.glif</string>
    <key>Ha_Jha</key>
    <string>H_a_J_ha.glif</string>
    <key>Ha_Jha.nohd</key>
    <string>H_a_J_ha.nohd.glif</string>
    <key>Ha_Kha</key>
    <string>H_a_K_ha.glif</string>
    <key>Ha_Kha.nohd</key>
    <string>H_a_K_ha.nohd.glif</string>
    <key>Ha_La</key>
    <string>H_a_L_a.glif</string>
    <key>Ha_La.nohd</key>
    <string>H_a_L_a.nohd.glif</string>
    <key>Ha_Ma</key>
    <string>H_a_M_a.glif</string>
    <key>Ha_Ma.nohd</key>
    <string>H_a_M_a.nohd.glif</string>
    <key>Ha_Na</key>
    <string>H_a_N_a.glif</string>
    <key>Ha_Na.nohd</key>
    <string>H_a_N_a.nohd.glif</string>
    <key>Ha_Nga</key>
    <string>H_a_N_ga.glif</string>
    <key>Ha_Nga.nohd</key>
    <string>H_a_N_ga.nohd.glif</string>
    <key>Ha_Nna</key>
    <string>H_a_N_na.glif</string>
    <key>Ha_Nna.nohd</key>
    <string>H_a_N_na.nohd.glif</string>
    <key>Ha_Nya</key>
    <string>H_a_N_ya.glif</string>
    <key>Ha_Nya.nohd</key>
    <string>H_a_N_ya.nohd.glif</string>
    <key>Ha_Pa</key>
    <string>H_a_P_a.glif</string>
    <key>Ha_Pa.nohd</key>
    <string>H_a_P_a.nohd.glif</string>
    <key>Ha_Ra</key>
    <string>H_a_R_a.glif</string>
    <key>Ha_Ra.nohd</key>
    <string>H_a_R_a.nohd.glif</string>
    <key>Ha_Sa</key>
    <string>H_a_S_a.glif</string>
    <key>Ha_Sa.nohd</key>
    <string>H_a_S_a.nohd.glif</string>
    <key>Ha_Ssa</key>
    <string>H_a_S_sa.glif</string>
    <key>Ha_Ssa.nohd</key>
    <string>H_a_S_sa.nohd.glif</string>
    <key>Ha_Ta</key>
    <string>H_a_T_a.glif</string>
    <key>Ha_Ta.nohd</key>
    <string>H_a_T_a.nohd.glif</string>
    <key>Ha_Ya</key>
    <string>H_a_Y_a.glif</string>
    <key>Ha_Ya.nohd</key>
    <string>H_a_Y_a.nohd.glif</string>
    <key>II_dv</key>
    <string>I_I__dv.glif</string>
    <key>II_dv.lg</key>
    <string>I_I__dv.lg.glif</string>
    <key>II_dv.lg.alt</key>
    <string>I_I__dv.lg.alt.glif</string>
    <key>II_dv.med</key>
    <string>I_I__dv.med.glif</string>
    <key>II_dv.med.alt</key>
    <string>I_I__dv.med.alt.glif</string>
    <key>II_dv.xlg</key>
    <string>I_I__dv.xlg.glif</string>
    <key>II_dv.xlg.alt</key>
    <string>I_I__dv.xlg.alt.glif</string>
    <key>II_dv.xlg.tall</key>
    <string>I_I__dv.xlg.tall.glif</string>
    <key>II_dv.xsm</key>
    <string>I_I__dv.xsm.glif</string>
    <key>II_dv.xsm.tall</key>
    <string>I_I__dv.xsm.tall.glif</string>
    <key>II_dv_Nya</key>
    <string>I_I__dv_N_ya.glif</string>
    <key>II_dv_Repha</key>
    <string>I_I__dv_R_epha.glif</string>
    <key>II_dv_Repha.lg</key>
    <string>I_I__dv_R_epha.lg.glif</string>
    <key>II_dv_Repha.lg.alt</key>
    <string>I_I__dv_R_epha.lg.alt.glif</string>
    <key>II_dv_Repha.med</key>
    <string>I_I__dv_R_epha.med.glif</string>
    <key>II_dv_Repha.med.alt</key>
    <string>I_I__dv_R_epha.med.alt.glif</string>
    <key>II_dv_Repha.xlg</key>
    <string>I_I__dv_R_epha.xlg.glif</string>
    <key>II_dv_Repha.xlg.alt</key>
    <string>I_I__dv_R_epha.xlg.alt.glif</string>
    <key>II_dv_Repha.xsm</key>
    <string>I_I__dv_R_epha.xsm.glif</string>
    <key>II_dv_Repha_Nya</key>
    <string>I_I__dv_R_epha_N_ya.glif</string>
    <key>II_iv</key>
    <string>I_I__iv.glif</string>
    <key>I_dv</key>
    <string>I__dv.glif</string>
    <key>I_dv.alt</key>
    <string>I__dv.alt.glif</string>
    <key>I_dv.sm</key>
    <string>I__dv.sm.glif</string>
    <key>I_dv.sm.tall</key>
    <string>I__dv.sm.tall.glif</string>
    <key>I_dv.tall</key>
    <string>I__dv.tall.glif</string>
    <key>I_dv.xsm</key>
    <string>I__dv.xsm.glif</string>
    <key>I_dv.xxsm</key>
    <string>I__dv.xxsm.glif</string>
    <key>I_dv_Repha</key>
    <string>I__dv_R_epha.glif</string>
    <key>I_dv_Repha.alt</key>
    <string>I__dv_R_epha.alt.glif</string>
    <key>I_dv_Repha.sm</key>
    <string>I__dv_R_epha.sm.glif</string>
    <key>I_dv_Repha.xsm</key>
    <string>I__dv_R_epha.xsm.glif</string>
    <key>I_dv_Repha.xxsm</key>
    <string>I__dv_R_epha.xxsm.glif</string>
    <key>I_iv</key>
    <string>I__iv.glif</string>
    <key>Insertion</key>
    <string>I_nsertion.glif</string>
    <key>Ja</key>
    <string>J_a.glif</string>
    <key>Ja.cd</key>
    <string>J_a.cd.glif</string>
    <key>Ja.icd</key>
    <string>J_a.icd.glif</string>
    <key>Ja.icd.alt</key>
    <string>J_a.icd.alt.glif</string>
    <key>Ja.icd.alt.nohd</key>
    <string>J_a.icd.alt.nohd.glif</string>
    <key>Ja.icd.nohd</key>
    <string>J_a.icd.nohd.glif</string>
    <key>Ja.icd.shim</key>
    <string>J_a.icd.shim.glif</string>
    <key>Ja.icd.wide</key>
    <string>J_a.icd.wide.glif</string>
    <key>Ja.icd.wide.nohd</key>
    <string>J_a.icd.wide.nohd.glif</string>
    <key>Ja.nohd</key>
    <string>J_a.nohd.glif</string>
    <key>JaKha</key>
    <string>J_aK_ha.glif</string>
    <key>JaKha.nohd</key>
    <string>J_aK_ha.nohd.glif</string>
    <key>Ja_Nya</key>
    <string>J_a_N_ya.glif</string>
    <key>Ja_Nya.nohd</key>
    <string>J_a_N_ya.nohd.glif</string>
    <key>Jha</key>
    <string>J_ha.glif</string>
    <key>Jha.cd</key>
    <string>J_ha.cd.glif</string>
    <key>Jha.cd.nohd</key>
    <string>J_ha.cd.nohd.glif</string>
    <key>Jha.cd.nohd.ns</key>
    <string>J_ha.cd.nohd.ns.glif</string>
    <key>Jha.diag</key>
    <string>J_ha.diag.glif</string>
    <key>Jha.half</key>
    <string>J_ha.half.glif</string>
    <key>Jha.icd</key>
    <string>J_ha.icd.glif</string>
    <key>Jha.icd.nohd</key>
    <string>J_ha.icd.nohd.glif</string>
    <key>Jha.nohd</key>
    <string>J_ha.nohd.glif</string>
    <key>Ju</key>
    <string>J_u.glif</string>
    <key>Ju.nohd</key>
    <string>J_u.nohd.glif</string>
    <key>Juu</key>
    <string>J_uu.glif</string>
    <key>Juu.nohd</key>
    <string>J_uu.nohd.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Ka.cd</key>
    <string>K_a.cd.glif</string>
    <key>Ka.icd</key>
    <string>K_a.icd.glif</string>
    <key>Ka.icd.alt</key>
    <string>K_a.icd.alt.glif</string>
    <key>Ka.icd.alt.nohd</key>
    <string>K_a.icd.alt.nohd.glif</string>
    <key>Ka.icd.nohd</key>
    <string>K_a.icd.nohd.glif</string>
    <key>Ka.icd.wide</key>
    <string>K_a.icd.wide.glif</string>
    <key>Ka.icd.wide.nohd</key>
    <string>K_a.icd.wide.nohd.glif</string>
    <key>Ka.nohd</key>
    <string>K_a.nohd.glif</string>
    <key>Ka_Nya</key>
    <string>K_a_N_ya.glif</string>
    <key>Ka_Nya.nohd</key>
    <string>K_a_N_ya.nohd.glif</string>
    <key>Ka_Ssa</key>
    <string>K_a_S_sa.glif</string>
    <key>Ka_Ssa.nohd</key>
    <string>K_a_S_sa.nohd.glif</string>
    <key>Kha</key>
    <string>K_ha.glif</string>
    <key>Kha.cd</key>
    <string>K_ha.cd.glif</string>
    <key>Kha.cd.nohd</key>
    <string>K_ha.cd.nohd.glif</string>
    <key>Kha.cd.nohd.ns</key>
    <string>K_ha.cd.nohd.ns.glif</string>
    <key>Kha.diag</key>
    <string>K_ha.diag.glif</string>
    <key>Kha.half</key>
    <string>K_ha.half.glif</string>
    <key>Kha.icd</key>
    <string>K_ha.icd.glif</string>
    <key>Kha.icd.nohd</key>
    <string>K_ha.icd.nohd.glif</string>
    <key>Kha.nohd</key>
    <string>K_ha.nohd.glif</string>
    <key>Khtya</key>
    <string>K_htya.glif</string>
    <key>Khtya.nohd</key>
    <string>K_htya.nohd.glif</string>
    <key>Kkssa</key>
    <string>K_kssa.glif</string>
    <key>Kkssa.nohd</key>
    <string>K_kssa.nohd.glif</string>
    <key>Ksska</key>
    <string>K_sska.glif</string>
    <key>Ksska.nohd</key>
    <string>K_sska.nohd.glif</string>
    <key>Kssma</key>
    <string>K_ssma.glif</string>
    <key>Kssma.nohd</key>
    <string>K_ssma.nohd.glif</string>
    <key>Kssna</key>
    <string>K_ssna.glif</string>
    <key>Kssna.nohd</key>
    <string>K_ssna.nohd.glif</string>
    <key>Kssnna</key>
    <string>K_ssnna.glif</string>
    <key>Kssnna.nohd</key>
    <string>K_ssnna.nohd.glif</string>
    <key>Kssra</key>
    <string>K_ssra.glif</string>
    <key>Kssra.nohd</key>
    <string>K_ssra.nohd.glif</string>
    <key>Kssva</key>
    <string>K_ssva.glif</string>
    <key>Kssva.nohd</key>
    <string>K_ssva.nohd.glif</string>
    <key>Kssya</key>
    <string>K_ssya.glif</string>
    <key>Kssya.nohd</key>
    <string>K_ssya.nohd.glif</string>
    <key>LL_dv</key>
    <string>L_L__dv.glif</string>
    <key>LL_iv</key>
    <string>L_L__iv.glif</string>
    <key>L_dv</key>
    <string>L__dv.glif</string>
    <key>L_iv</key>
    <string>L__iv.glif</string>
    <key>La</key>
    <string>L_a.glif</string>
    <key>La.cd</key>
    <string>L_a.cd.glif</string>
    <key>La.half</key>
    <string>L_a.half.glif</string>
    <key>La.icd</key>
    <string>L_a.icd.glif</string>
    <key>La.icd.nohd</key>
    <string>L_a.icd.nohd.glif</string>
    <key>La.nohd</key>
    <string>L_a.nohd.glif</string>
    <key>Lha</key>
    <string>L_ha.glif</string>
    <key>Lha.nohd</key>
    <string>L_ha.nohd.glif</string>
    <key>Lhva</key>
    <string>L_hva.glif</string>
    <key>Lhva.nohd</key>
    <string>L_hva.nohd.glif</string>
    <key>Lhya</key>
    <string>L_hya.glif</string>
    <key>Lhya.nohd</key>
    <string>L_hya.nohd.glif</string>
    <key>Ma</key>
    <string>M_a.glif</string>
    <key>Ma.cd</key>
    <string>M_a.cd.glif</string>
    <key>Ma.cd.nohd</key>
    <string>M_a.cd.nohd.glif</string>
    <key>Ma.cd.nohd.ns</key>
    <string>M_a.cd.nohd.ns.glif</string>
    <key>Ma.diag</key>
    <string>M_a.diag.glif</string>
    <key>Ma.half</key>
    <string>M_a.half.glif</string>
    <key>Ma.icd</key>
    <string>M_a.icd.glif</string>
    <key>Ma.icd.nohd</key>
    <string>M_a.icd.nohd.glif</string>
    <key>Ma.nohd</key>
    <string>M_a.nohd.glif</string>
    <key>Mha</key>
    <string>M_ha.glif</string>
    <key>Mha.nohd</key>
    <string>M_ha.nohd.glif</string>
    <key>Mhva</key>
    <string>M_hva.glif</string>
    <key>Mhva.nohd</key>
    <string>M_hva.nohd.glif</string>
    <key>Mhya</key>
    <string>M_hya.glif</string>
    <key>Mhya.nohd</key>
    <string>M_hya.nohd.glif</string>
    <key>Mpya</key>
    <string>M_pya.glif</string>
    <key>Mpya.nohd</key>
    <string>M_pya.nohd.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>Na</key>
    <string>N_a.glif</string>
    <key>Na.cd</key>
    <string>N_a.cd.glif</string>
    <key>Na.half</key>
    <string>N_a.half.glif</string>
    <key>Na.icd</key>
    <string>N_a.icd.glif</string>
    <key>Na.icd.nohd</key>
    <string>N_a.icd.nohd.glif</string>
    <key>Na.nohd</key>
    <string>N_a.nohd.glif</string>
    <key>NaPha</key>
    <string>N_aP_ha.glif</string>
    <key>NaPha.nohd</key>
    <string>N_aP_ha.nohd.glif</string>
    <key>Ndha</key>
    <string>N_dha.glif</string>
    <key>Ndhva</key>
    <string>N_dhva.glif</string>
    <key>Ndhya</key>
    <string>N_dhya.glif</string>
    <key>Ndra</key>
    <string>N_dra.glif</string>
    <key>Ndra.nohd</key>
    <string>N_dra.nohd.glif</string>
    <key>Nga</key>
    <string>N_ga.glif</string>
    <key>Nga.cd</key>
    <string>N_ga.cd.glif</string>
    <key>Nga.icd</key>
    <string>N_ga.icd.glif</string>
    <key>Nga.icd.nohd</key>
    <string>N_ga.icd.nohd.glif</string>
    <key>Nga.icd.nohd.rt</key>
    <string>N_ga.icd.nohd.rt.glif</string>
    <key>Nga.icd.rt</key>
    <string>N_ga.icd.rt.glif</string>
    <key>Nga.icd.shim</key>
    <string>N_ga.icd.shim.glif</string>
    <key>Nga.nohd</key>
    <string>N_ga.nohd.glif</string>
    <key>Nga_Ta</key>
    <string>N_ga_T_a.glif</string>
    <key>Nga_Ta.nohd</key>
    <string>N_ga_T_a.nohd.glif</string>
    <key>Ngha</key>
    <string>N_gha.glif</string>
    <key>Ngha.nohd</key>
    <string>N_gha.nohd.glif</string>
    <key>Ngkhya</key>
    <string>N_gkhya.glif</string>
    <key>Ngkhya.nohd</key>
    <string>N_gkhya.nohd.glif</string>
    <key>Ngkssa</key>
    <string>N_gkssa.glif</string>
    <key>Ngkssa.nohd</key>
    <string>N_gkssa.nohd.glif</string>
    <key>Nha</key>
    <string>N_ha.glif</string>
    <key>Nha.nohd</key>
    <string>N_ha.nohd.glif</string>
    <key>Nhva</key>
    <string>N_hva.glif</string>
    <key>Nhva.nohd</key>
    <string>N_hva.nohd.glif</string>
    <key>Nhya</key>
    <string>N_hya.glif</string>
    <key>Nhya.nohd</key>
    <string>N_hya.nohd.glif</string>
    <key>Nine_Newa</key>
    <string>N_ine_N_ewa.glif</string>
    <key>Nkssa</key>
    <string>N_kssa.glif</string>
    <key>Nkssa.nohd</key>
    <string>N_kssa.nohd.glif</string>
    <key>Nna</key>
    <string>N_na.glif</string>
    <key>Nna.half</key>
    <string>N_na.half.glif</string>
    <key>Nna.icd</key>
    <string>N_na.icd.glif</string>
    <key>Nna.post</key>
    <string>N_na.post.glif</string>
    <key>Nna.post.alt2</key>
    <string>N_na.post.alt2.glif</string>
    <key>Nska</key>
    <string>N_ska.glif</string>
    <key>Nska.nohd</key>
    <string>N_ska.nohd.glif</string>
    <key>Nsta</key>
    <string>N_sta.glif</string>
    <key>Nsta.nohd</key>
    <string>N_sta.nohd.glif</string>
    <key>Nstta</key>
    <string>N_stta.glif</string>
    <key>Nstta.nohd</key>
    <string>N_stta.nohd.glif</string>
    <key>Ntra</key>
    <string>N_tra.glif</string>
    <key>Ntra.nohd</key>
    <string>N_tra.nohd.glif</string>
    <key>Ntya</key>
    <string>N_tya.glif</string>
    <key>Ntya.nohd</key>
    <string>N_tya.nohd.glif</string>
    <key>Nukta</key>
    <string>N_ukta.glif</string>
    <key>NullMark</key>
    <string>N_ullM_ark.glif</string>
    <key>NyGha</key>
    <string>N_yG_ha.glif</string>
    <key>NyJha</key>
    <string>N_yJ_ha.glif</string>
    <key>NyKha</key>
    <string>N_yK_ha.glif</string>
    <key>NyMa</key>
    <string>N_yM_a.glif</string>
    <key>NyPa</key>
    <string>N_yP_a.glif</string>
    <key>NySa</key>
    <string>N_yS_a.glif</string>
    <key>NySsa</key>
    <string>N_yS_sa.glif</string>
    <key>NyYa</key>
    <string>N_yY_a.glif</string>
    <key>Nya</key>
    <string>N_ya.glif</string>
    <key>Nya.cd</key>
    <string>N_ya.cd.glif</string>
    <key>Nya.icd</key>
    <string>N_ya.icd.glif</string>
    <key>Nya_Ta</key>
    <string>N_ya_T_a.glif</string>
    <key>Nya_low.cd</key>
    <string>N_ya_low.cd.glif</string>
    <key>Nya_nostem.icd</key>
    <string>N_ya_nostem.icd.glif</string>
    <key>Nya_stem.cd</key>
    <string>N_ya_stem.cd.glif</string>
    <key>Nya_stem.cd.alt</key>
    <string>N_ya_stem.cd.alt.glif</string>
    <key>Nyha</key>
    <string>N_yha.glif</string>
    <key>Nyha.nohd</key>
    <string>N_yha.nohd.glif</string>
    <key>Nyjya</key>
    <string>N_yjya.glif</string>
    <key>O_dv</key>
    <string>O__dv.glif</string>
    <key>O_dv.alt</key>
    <string>O__dv.alt.glif</string>
    <key>O_dv.lg</key>
    <string>O__dv.lg.glif</string>
    <key>O_dv.md</key>
    <string>O__dv.md.glif</string>
    <key>O_dv.md.tall</key>
    <string>O__dv.md.tall.glif</string>
    <key>O_dv.sm</key>
    <string>O__dv.sm.glif</string>
    <key>O_dv.tall</key>
    <string>O__dv.tall.glif</string>
    <key>O_dv.xlg</key>
    <string>O__dv.xlg.glif</string>
    <key>O_dv.xlg.tall</key>
    <string>O__dv.xlg.tall.glif</string>
    <key>O_dv.xxlg</key>
    <string>O__dv.xxlg.glif</string>
    <key>O_dv.xxlg.tall</key>
    <string>O__dv.xxlg.tall.glif</string>
    <key>O_iv</key>
    <string>O__iv.glif</string>
    <key>Om</key>
    <string>O_m.glif</string>
    <key>One_Newa</key>
    <string>O_ne_N_ewa.glif</string>
    <key>Pa</key>
    <string>P_a.glif</string>
    <key>Pa.cd</key>
    <string>P_a.cd.glif</string>
    <key>Pa.cd.nohd</key>
    <string>P_a.cd.nohd.glif</string>
    <key>Pa.cd.nohd.ns</key>
    <string>P_a.cd.nohd.ns.glif</string>
    <key>Pa.diag</key>
    <string>P_a.diag.glif</string>
    <key>Pa.half</key>
    <string>P_a.half.glif</string>
    <key>Pa.icd</key>
    <string>P_a.icd.glif</string>
    <key>Pa.icd.nohd</key>
    <string>P_a.icd.nohd.glif</string>
    <key>Pa.icd.shim.sm</key>
    <string>P_a.icd.shim.sm.glif</string>
    <key>Pa.nohd</key>
    <string>P_a.nohd.glif</string>
    <key>Pha</key>
    <string>P_ha.glif</string>
    <key>Pha.cd</key>
    <string>P_ha.cd.glif</string>
    <key>Pha.icd</key>
    <string>P_ha.icd.glif</string>
    <key>Pha.icd.nohd</key>
    <string>P_ha.icd.nohd.glif</string>
    <key>Pha.icd.shim</key>
    <string>P_ha.icd.shim.glif</string>
    <key>Pha.icd.shim.sm</key>
    <string>P_ha.icd.shim.sm.glif</string>
    <key>Pha.nohd</key>
    <string>P_ha.nohd.glif</string>
    <key>PhaGha</key>
    <string>P_haG_ha.glif</string>
    <key>PhaGha.nohd</key>
    <string>P_haG_ha.nohd.glif</string>
    <key>PhaJha</key>
    <string>P_haJ_ha.glif</string>
    <key>PhaJha.nohd</key>
    <string>P_haJ_ha.nohd.glif</string>
    <key>PhaKha</key>
    <string>P_haK_ha.glif</string>
    <key>PhaKha.nohd</key>
    <string>P_haK_ha.nohd.glif</string>
    <key>PhaMa</key>
    <string>P_haM_a.glif</string>
    <key>PhaMa.nohd</key>
    <string>P_haM_a.nohd.glif</string>
    <key>PhaNna</key>
    <string>P_haN_na.glif</string>
    <key>PhaNna.nohd</key>
    <string>P_haN_na.nohd.glif</string>
    <key>PhaPa</key>
    <string>P_haP_a.glif</string>
    <key>PhaPa.nohd</key>
    <string>P_haP_a.nohd.glif</string>
    <key>PhaPha</key>
    <string>P_haP_ha.glif</string>
    <key>PhaPha.nohd</key>
    <string>P_haP_ha.nohd.glif</string>
    <key>PhaSa</key>
    <string>P_haS_a.glif</string>
    <key>PhaSa.nohd</key>
    <string>P_haS_a.nohd.glif</string>
    <key>PhaSsa</key>
    <string>P_haS_sa.glif</string>
    <key>PhaSsa.nohd</key>
    <string>P_haS_sa.nohd.glif</string>
    <key>PhaYa</key>
    <string>P_haY_a.glif</string>
    <key>PhaYa.nohd</key>
    <string>P_haY_a.nohd.glif</string>
    <key>Pha_Ta</key>
    <string>P_ha_T_a.glif</string>
    <key>Pha_Ta.nohd</key>
    <string>P_ha_T_a.nohd.glif</string>
    <key>Pkssa</key>
    <string>P_kssa.glif</string>
    <key>Pkssa.nohd</key>
    <string>P_kssa.nohd.glif</string>
    <key>Placeholder</key>
    <string>P_laceholder.glif</string>
    <key>RR_dv</key>
    <string>R_R__dv.glif</string>
    <key>R_dv</key>
    <string>R__dv.glif</string>
    <key>R_iv</key>
    <string>R__iv.glif</string>
    <key>Ra</key>
    <string>R_a.glif</string>
    <key>Ra.cd</key>
    <string>R_a.cd.glif</string>
    <key>Ra.half</key>
    <string>R_a.half.glif</string>
    <key>Ra.icd</key>
    <string>R_a.icd.glif</string>
    <key>Ra.icd.nohd</key>
    <string>R_a.icd.nohd.glif</string>
    <key>Ra.nohd</key>
    <string>R_a.nohd.glif</string>
    <key>Repha</key>
    <string>R_epha.glif</string>
    <key>RephaE</key>
    <string>R_ephaE_.glif</string>
    <key>Repha_AI_dv</key>
    <string>R_epha_A_I__dv.glif</string>
    <key>Repha_I_dv</key>
    <string>R_epha_I__dv.glif</string>
    <key>Rha</key>
    <string>R_ha.glif</string>
    <key>Rha.nohd</key>
    <string>R_ha.nohd.glif</string>
    <key>Rr_iv</key>
    <string>R_r_iv.glif</string>
    <key>Ru</key>
    <string>R_u.glif</string>
    <key>Ru.nohd</key>
    <string>R_u.nohd.glif</string>
    <key>Ruu</key>
    <string>R_uu.glif</string>
    <key>Ruu.nohd</key>
    <string>R_uu.nohd.glif</string>
    <key>Rya</key>
    <string>R_ya.glif</string>
    <key>Rya.nohd</key>
    <string>R_ya.nohd.glif</string>
    <key>Sa</key>
    <string>S_a.glif</string>
    <key>Sa.cd</key>
    <string>S_a.cd.glif</string>
    <key>Sa.cd.nohd</key>
    <string>S_a.cd.nohd.glif</string>
    <key>Sa.cd.nohd.ns</key>
    <string>S_a.cd.nohd.ns.glif</string>
    <key>Sa.diag</key>
    <string>S_a.diag.glif</string>
    <key>Sa.half</key>
    <string>S_a.half.glif</string>
    <key>Sa.icd</key>
    <string>S_a.icd.glif</string>
    <key>Sa.icd.nohd</key>
    <string>S_a.icd.nohd.glif</string>
    <key>Sa.nohd</key>
    <string>S_a.nohd.glif</string>
    <key>Seven_Newa</key>
    <string>S_even_N_ewa.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Sha.cd</key>
    <string>S_ha.cd.glif</string>
    <key>Sha.half</key>
    <string>S_ha.half.glif</string>
    <key>Sha.icd</key>
    <string>S_ha.icd.glif</string>
    <key>Shi</key>
    <string>S_hi.glif</string>
    <key>Shi.icd</key>
    <string>S_hi.icd.glif</string>
    <key>ShimHead10</key>
    <string>S_himH_ead10.glif</string>
    <key>ShimHead100</key>
    <string>S_himH_ead100.glif</string>
    <key>ShimHead120</key>
    <string>S_himH_ead120.glif</string>
    <key>ShimHead180</key>
    <string>S_himH_ead180.glif</string>
    <key>ShimHead20</key>
    <string>S_himH_ead20.glif</string>
    <key>ShimHead30</key>
    <string>S_himH_ead30.glif</string>
    <key>ShimHead40</key>
    <string>S_himH_ead40.glif</string>
    <key>ShimHead50</key>
    <string>S_himH_ead50.glif</string>
    <key>ShimHead60</key>
    <string>S_himH_ead60.glif</string>
    <key>ShimHead70</key>
    <string>S_himH_ead70.glif</string>
    <key>ShimHead80</key>
    <string>S_himH_ead80.glif</string>
    <key>ShimHead90</key>
    <string>S_himH_ead90.glif</string>
    <key>Siddhi</key>
    <string>S_iddhi.glif</string>
    <key>Six_Newa</key>
    <string>S_ix_N_ewa.glif</string>
    <key>Ssa</key>
    <string>S_sa.glif</string>
    <key>Ssa.cd</key>
    <string>S_sa.cd.glif</string>
    <key>Ssa.cd.nohd</key>
    <string>S_sa.cd.nohd.glif</string>
    <key>Ssa.cd.nohd.ns</key>
    <string>S_sa.cd.nohd.ns.glif</string>
    <key>Ssa.diag</key>
    <string>S_sa.diag.glif</string>
    <key>Ssa.half</key>
    <string>S_sa.half.glif</string>
    <key>Ssa.icd</key>
    <string>S_sa.icd.glif</string>
    <key>Ssa.icd.nohd</key>
    <string>S_sa.icd.nohd.glif</string>
    <key>Ssa.nohd</key>
    <string>S_sa.nohd.glif</string>
    <key>Ssttra</key>
    <string>S_sttra.glif</string>
    <key>Ssttra.nohd</key>
    <string>S_sttra.nohd.glif</string>
    <key>Sthya</key>
    <string>S_thya.glif</string>
    <key>Sthya.nohd</key>
    <string>S_thya.nohd.glif</string>
    <key>Ta</key>
    <string>T_a.glif</string>
    <key>Ta.half</key>
    <string>T_a.half.glif</string>
    <key>Ta.icd</key>
    <string>T_a.icd.glif</string>
    <key>Ta.icd.nohd</key>
    <string>T_a.icd.nohd.glif</string>
    <key>Ta.nohd</key>
    <string>T_a.nohd.glif</string>
    <key>Ta.post</key>
    <string>T_a.post.glif</string>
    <key>Ta.post.head</key>
    <string>T_a.post.head.glif</string>
    <key>Ta.post.ns</key>
    <string>T_a.post.ns.glif</string>
    <key>TaNna</key>
    <string>T_aN_na.glif</string>
    <key>TaNna.nohd</key>
    <string>T_aN_na.nohd.glif</string>
    <key>Tha</key>
    <string>T_ha.glif</string>
    <key>Tha.half</key>
    <string>T_ha.half.glif</string>
    <key>Tha.icd</key>
    <string>T_ha.icd.glif</string>
    <key>Tha.post</key>
    <string>T_ha.post.glif</string>
    <key>Three_Newa</key>
    <string>T_hree_N_ewa.glif</string>
    <key>Tkssa</key>
    <string>T_kssa.glif</string>
    <key>Tkssa.nohd</key>
    <string>T_kssa.nohd.glif</string>
    <key>Trtra</key>
    <string>T_rtra.glif</string>
    <key>Trtra.nohd</key>
    <string>T_rtra.nohd.glif</string>
    <key>Tta</key>
    <string>T_ta.glif</string>
    <key>Tta.cd</key>
    <string>T_ta.cd.glif</string>
    <key>Tta.icd</key>
    <string>T_ta.icd.glif</string>
    <key>Tta.icd.nohd</key>
    <string>T_ta.icd.nohd.glif</string>
    <key>Tta.icd.nohd.rt</key>
    <string>T_ta.icd.nohd.rt.glif</string>
    <key>Tta.icd.rt</key>
    <string>T_ta.icd.rt.glif</string>
    <key>Tta.icd.shim</key>
    <string>T_ta.icd.shim.glif</string>
    <key>Tta.nohd</key>
    <string>T_ta.nohd.glif</string>
    <key>Tta_Ta</key>
    <string>T_ta_T_a.glif</string>
    <key>Tta_Ta.nohd</key>
    <string>T_ta_T_a.nohd.glif</string>
    <key>Ttha</key>
    <string>T_tha.glif</string>
    <key>Ttha.cd</key>
    <string>T_tha.cd.glif</string>
    <key>Ttha.icd</key>
    <string>T_tha.icd.glif</string>
    <key>Ttha.icd.center</key>
    <string>T_tha.icd.center.glif</string>
    <key>Ttha.icd.rt</key>
    <string>T_tha.icd.rt.glif</string>
    <key>TthaTa</key>
    <string>T_thaT_a.glif</string>
    <key>Ttkssa</key>
    <string>T_tkssa.glif</string>
    <key>Ttkssa.nohd</key>
    <string>T_tkssa.nohd.glif</string>
    <key>Two_Newa</key>
    <string>T_wo_N_ewa.glif</string>
    <key>UU.sm</key>
    <string>U_U_.sm.glif</string>
    <key>UU.sm.alt</key>
    <string>U_U_.sm.alt.glif</string>
    <key>UU_dv</key>
    <string>U_U__dv.glif</string>
    <key>UU_dv.alt</key>
    <string>U_U__dv.alt.glif</string>
    <key>UU_iv</key>
    <string>U_U__iv.glif</string>
    <key>U_dv</key>
    <string>U__dv.glif</string>
    <key>U_dv.alt</key>
    <string>U__dv.alt.glif</string>
    <key>U_dv.sm</key>
    <string>U__dv.sm.glif</string>
    <key>U_iv</key>
    <string>U__iv.glif</string>
    <key>Va.cd</key>
    <string>V_a.cd.glif</string>
    <key>Va.half</key>
    <string>V_a.half.glif</string>
    <key>Va.icd</key>
    <string>V_a.icd.glif</string>
    <key>Va.icd.nohd</key>
    <string>V_a.icd.nohd.glif</string>
    <key>Vdha</key>
    <string>V_dha.glif</string>
    <key>Virama</key>
    <string>V_irama.glif</string>
    <key>Visarga</key>
    <string>V_isarga.glif</string>
    <key>Wa</key>
    <string>W_a.glif</string>
    <key>Wa.nohd</key>
    <string>W_a.nohd.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Ya.cd</key>
    <string>Y_a.cd.glif</string>
    <key>Ya.cd.nohd</key>
    <string>Y_a.cd.nohd.glif</string>
    <key>Ya.cd.nohd.ns</key>
    <string>Y_a.cd.nohd.ns.glif</string>
    <key>Ya.diag</key>
    <string>Y_a.diag.glif</string>
    <key>Ya.half</key>
    <string>Y_a.half.glif</string>
    <key>Ya.icd</key>
    <string>Y_a.icd.glif</string>
    <key>Ya.icd.nohd</key>
    <string>Y_a.icd.nohd.glif</string>
    <key>Ya.icd.shim.sm</key>
    <string>Y_a.icd.shim.sm.glif</string>
    <key>Ya.nohd</key>
    <string>Y_a.nohd.glif</string>
    <key>ZWJ</key>
    <string>Z_W_J_.glif</string>
    <key>Zero_Newa</key>
    <string>Z_ero_N_ewa.glif</string>
    <key>deletionMark</key>
    <string>deletionM_ark.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>sandhiMark</key>
    <string>sandhiM_ark.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>vedic_anusvara</key>
    <string>vedic_anusvara.glif</string>
    <key>vocL.sm</key>
    <string>vocL_.sm.glif</string>
    <key>vocLL.sm</key>
    <string>vocL_L_.sm.glif</string>
    <key>vocR.sm</key>
    <string>vocR_.sm.glif</string>
    <key>vocRR.sm</key>
    <string>vocR_R_.sm.glif</string>
  </dict>
</plist>
