<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.useProductionNames</key>
    <false/>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>CR</string>
      <string>NULL</string>
      <string>ZWJ</string>
      <string>ZWNJ</string>
      <string>hyphen</string>
      <string>hyphentwo</string>
      <string>ktA</string>
      <string>ktA.var</string>
      <string>ktAA</string>
      <string>ktAA.var</string>
      <string>ktABB</string>
      <string>ktAI</string>
      <string>ktAU</string>
      <string>ktBHRU.alt1</string>
      <string>ktBHRa</string>
      <string>ktBHU.alt1</string>
      <string>ktBHYU.alt1</string>
      <string>ktBHYU.var.alt1</string>
      <string>ktBHYa</string>
      <string>ktBHYa.var</string>
      <string>ktBHa</string>
      <string>ktBHa.half</string>
      <string>ktBRU.alt1</string>
      <string>ktBRa</string>
      <string>ktBU.alt1</string>
      <string>ktBa</string>
      <string>ktBa.half</string>
      <string>ktCHII</string>
      <string>ktCHa</string>
      <string>ktCHa.half</string>
      <string>ktCRU.alt1</string>
      <string>ktCRa</string>
      <string>ktCU.alt1</string>
      <string>ktCa</string>
      <string>ktCa.half</string>
      <string>ktDDDHII</string>
      <string>ktDDDHU</string>
      <string>ktDDDHa</string>
      <string>ktDDDHa.half</string>
      <string>ktDDHII</string>
      <string>ktDDHa</string>
      <string>ktDDHa.half</string>
      <string>ktDDII</string>
      <string>ktDDa</string>
      <string>ktDDa.half</string>
      <string>ktDDanda</string>
      <string>ktDHRU.alt1</string>
      <string>ktDHRa</string>
      <string>ktDHU.alt1</string>
      <string>ktDHa</string>
      <string>ktDHa.half</string>
      <string>ktDII</string>
      <string>ktDa</string>
      <string>ktDa.half</string>
      <string>ktDanda</string>
      <string>ktDblSEC</string>
      <string>ktE</string>
      <string>ktENU</string>
      <string>ktEight</string>
      <string>ktEight.smallabv</string>
      <string>ktEight.smallblw</string>
      <string>ktFive</string>
      <string>ktFive.smallabv</string>
      <string>ktFive.smallblw</string>
      <string>ktFour</string>
      <string>ktFour.smallabv</string>
      <string>ktFour.smallblw</string>
      <string>ktGHRU.alt1</string>
      <string>ktGHRa</string>
      <string>ktGHU.alt1</string>
      <string>ktGHa</string>
      <string>ktGHa.half</string>
      <string>ktGRU.alt1</string>
      <string>ktGRa</string>
      <string>ktGU.alt1</string>
      <string>ktGa</string>
      <string>ktGa.half</string>
      <string>ktHII</string>
      <string>ktHU</string>
      <string>ktHUU</string>
      <string>ktHa</string>
      <string>ktHa.half</string>
      <string>ktI</string>
      <string>ktI.var</string>
      <string>ktII</string>
      <string>ktII.var</string>
      <string>ktJHII</string>
      <string>ktJHU</string>
      <string>ktJHUU</string>
      <string>ktJHa</string>
      <string>ktJHa.half</string>
      <string>ktJII</string>
      <string>ktJRII</string>
      <string>ktJRU.alt1</string>
      <string>ktJRa</string>
      <string>ktJU.alt1</string>
      <string>ktJa</string>
      <string>ktJa.half</string>
      <string>ktKHRU.alt1</string>
      <string>ktKHRa</string>
      <string>ktKHU.alt1</string>
      <string>ktKHa</string>
      <string>ktKHa.half</string>
      <string>ktKII</string>
      <string>ktKII.var</string>
      <string>ktKKII</string>
      <string>ktKKII.var</string>
      <string>ktKKU.alt1</string>
      <string>ktKKa</string>
      <string>ktKKa.var</string>
      <string>ktKMRU.alt1</string>
      <string>ktKMRU.var.alt1</string>
      <string>ktKMRa</string>
      <string>ktKMRa.var</string>
      <string>ktKMU.alt1</string>
      <string>ktKMU.var.alt1</string>
      <string>ktKMa</string>
      <string>ktKMa.var</string>
      <string>ktKRII</string>
      <string>ktKRII.var</string>
      <string>ktKRU.alt1</string>
      <string>ktKRa</string>
      <string>ktKRa.var</string>
      <string>ktKSU.alt1</string>
      <string>ktKSU.var.alt1</string>
      <string>ktKSa</string>
      <string>ktKSa.var</string>
      <string>ktKTHRU.alt1</string>
      <string>ktKTHRU.var.alt1</string>
      <string>ktKTHRa</string>
      <string>ktKTHRa.var</string>
      <string>ktKTHU.alt1</string>
      <string>ktKTHU.var.alt1</string>
      <string>ktKTHa</string>
      <string>ktKTHa.var</string>
      <string>ktKU.alt1</string>
      <string>ktKYU.alt1</string>
      <string>ktKYU.var.alt1</string>
      <string>ktKYU.varKYa.alt1</string>
      <string>ktKYU.varKa.alt1</string>
      <string>ktKYa</string>
      <string>ktKYa.var</string>
      <string>ktKYa.varKYa</string>
      <string>ktKYa.varKa</string>
      <string>ktKa</string>
      <string>ktKa.alt1.left</string>
      <string>ktKa.half</string>
      <string>ktKa.half.var</string>
      <string>ktKa.var</string>
      <string>ktLII</string>
      <string>ktLII.var</string>
      <string>ktLa</string>
      <string>ktLa.half</string>
      <string>ktLa.half.var</string>
      <string>ktLa.var</string>
      <string>ktMRU.alt1</string>
      <string>ktMRa</string>
      <string>ktMU.alt1</string>
      <string>ktMa</string>
      <string>ktMa.half</string>
      <string>ktNGa</string>
      <string>ktNGa.half</string>
      <string>ktNNU.alt1</string>
      <string>ktNNU.var.alt1</string>
      <string>ktNNa</string>
      <string>ktNNa.half</string>
      <string>ktNNa.half.var</string>
      <string>ktNNa.var</string>
      <string>ktNU.alt1</string>
      <string>ktNUM</string>
      <string>ktNUM.above</string>
      <string>ktNYII.var</string>
      <string>ktNYa</string>
      <string>ktNYa.half</string>
      <string>ktNYa.half.var</string>
      <string>ktNYa.var</string>
      <string>ktNa</string>
      <string>ktNa.half</string>
      <string>ktNine</string>
      <string>ktNine.smallabv</string>
      <string>ktNine.smallblw</string>
      <string>ktNukta</string>
      <string>ktO</string>
      <string>ktOne</string>
      <string>ktOne.smallabv</string>
      <string>ktOne.smallblw</string>
      <string>ktPHII</string>
      <string>ktPHII.var</string>
      <string>ktPHRa.var</string>
      <string>ktPHa</string>
      <string>ktPHa.half</string>
      <string>ktPHa.half.var</string>
      <string>ktPHa.var</string>
      <string>ktPRU.alt1</string>
      <string>ktPRa</string>
      <string>ktPTU.alt1</string>
      <string>ktPTa</string>
      <string>ktPU.alt1</string>
      <string>ktPa</string>
      <string>ktPa.half</string>
      <string>ktRHII</string>
      <string>ktRHU</string>
      <string>ktRHa</string>
      <string>ktRHa.half</string>
      <string>ktRU.alt1</string>
      <string>ktRa</string>
      <string>ktRa.half</string>
      <string>ktRaAnusvara</string>
      <string>ktRaCandrabindu</string>
      <string>ktRaHook</string>
      <string>ktSEC</string>
      <string>ktSHU.alt1</string>
      <string>ktSHa</string>
      <string>ktSHa.half</string>
      <string>ktSRU.alt1</string>
      <string>ktSRa</string>
      <string>ktSSRU.alt1</string>
      <string>ktSSRa</string>
      <string>ktSSU.alt1</string>
      <string>ktSSa</string>
      <string>ktSSa.half</string>
      <string>ktSU</string>
      <string>ktSU.alt1</string>
      <string>ktSUU</string>
      <string>ktSa</string>
      <string>ktSa.half</string>
      <string>ktSeven</string>
      <string>ktSeven.smallabv</string>
      <string>ktSeven.smallblw</string>
      <string>ktSix</string>
      <string>ktSix.smallabv</string>
      <string>ktSix.smallblw</string>
      <string>ktTHRU.alt1</string>
      <string>ktTHRa</string>
      <string>ktTHU.alt1</string>
      <string>ktTHa</string>
      <string>ktTHa.half</string>
      <string>ktTRU.alt1</string>
      <string>ktTRa</string>
      <string>ktTTHII</string>
      <string>ktTTHa</string>
      <string>ktTTHa.half</string>
      <string>ktTTII</string>
      <string>ktTTRII</string>
      <string>ktTTRa</string>
      <string>ktTTa</string>
      <string>ktTTa.half</string>
      <string>ktTU.alt1</string>
      <string>ktTa</string>
      <string>ktTa.half</string>
      <string>ktThree</string>
      <string>ktThree.smallabv</string>
      <string>ktThree.smallblw</string>
      <string>ktTwo</string>
      <string>ktTwo.smallabv</string>
      <string>ktTwo.smallblw</string>
      <string>ktU</string>
      <string>ktUU</string>
      <string>ktVRU.alt1</string>
      <string>ktVRa</string>
      <string>ktVSAA</string>
      <string>ktVSAI</string>
      <string>ktVSAIm</string>
      <string>ktVSAU</string>
      <string>ktVSAUm</string>
      <string>ktVSAnusvara</string>
      <string>ktVSCBindu</string>
      <string>ktVSE</string>
      <string>ktVSEm</string>
      <string>ktVSI</string>
      <string>ktVSI.alt10</string>
      <string>ktVSI.alt11</string>
      <string>ktVSI.alt12</string>
      <string>ktVSI.alt13</string>
      <string>ktVSI.alt14</string>
      <string>ktVSI.alt2</string>
      <string>ktVSI.alt3</string>
      <string>ktVSI.alt4</string>
      <string>ktVSI.alt5</string>
      <string>ktVSI.alt6</string>
      <string>ktVSI.alt7</string>
      <string>ktVSI.alt8</string>
      <string>ktVSI.alt9</string>
      <string>ktVSII</string>
      <string>ktVSII.alt</string>
      <string>ktVSO</string>
      <string>ktVSOm</string>
      <string>ktVSU</string>
      <string>ktVSU.alt</string>
      <string>ktVSUU</string>
      <string>ktVSVisarga</string>
      <string>ktVU.alt1</string>
      <string>ktVUU</string>
      <string>ktVa</string>
      <string>ktVa.half</string>
      <string>ktVirama</string>
      <string>ktYU.alt1</string>
      <string>ktYU.var.alt1</string>
      <string>ktYUU</string>
      <string>ktYUU.var</string>
      <string>ktYa</string>
      <string>ktYa.half</string>
      <string>ktYa.half.var</string>
      <string>ktYa.var</string>
      <string>ktZero</string>
      <string>ktZero.smallabv</string>
      <string>ktZero.smallblw</string>
      <string>nullR</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni200B</string>
      <string>uni25CC</string>
      <string>uniA830</string>
      <string>uniA831</string>
      <string>uniA832</string>
      <string>uniA833</string>
      <string>uniA834</string>
      <string>uniA835</string>
      <string>uniA836</string>
      <string>uniA837</string>
      <string>uniA838</string>
      <string>uniA839</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>hyphentwo</key>
      <string>uni2010</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>ktKa.alt1.left</string>
    </array>
  </dict>
</plist>
